[2020-10-09 15:58] #58209 closed

[2020-10-09 16:07] #58210 closed

[2020-10-09 16:19] alanknight-wk commented on #42832
Is not up to date, yes.

[2020-10-09 16:23] sigmundch commented on #43659
/cc @jakemac53

[2020-10-09 16:29] aam commented on #43118
https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8866915374591843472/+/steps/test_results/0/logs/ignored_flaky_test_failure_logs/0

[code]

[2020-10-09 16:32] bwilkerson commented on #42832
How important is it to support that use case (not reporting diagnostics when a generated file is out of date)?

[2020-10-09 16:33] #43693 closed

[2020-10-09 16:39] goderbauer opened #58247 "Should unnecessary_nullable_for_final_variable_declarations warn when variable is dynamic?"
Some tests in Flutter (example: https://github.com/flutter/flutter/blob/28a9a6b48c83a577138ddccfafed6058fa90eb62/packages/flutter/test/material/time_picker_test.dart#L498) use dynamic in tests to defeat the type system and test internals of private classes. This looks like this:

[code]

With null-safety enabled, this now triggers the `unnecessary_nullable_for_final_variable_declarations` lint. I

[2020-10-09 16:43] aam opened #43739 "standalone_2/out_of_memory_slow_growth_test/0 fails with runtime error"
On https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-win-debug-x64/10056

The tests
[code]
are failing on configurations
[code]

[code]

cc @rmacnak-google

[2020-10-09 16:55] alanknight-wk commented on #42832
Hard to say. It depends a lot on how much the code generator is doing. If, as soon as you touch anything in the file, it fills up with false errors, that seems bad - makes analysis useless for that file. But I think a lot of generators try to minimize how much of the original file is affected.  Is it difficult to detect when the generated file is older than the current file and treat that the same

[2020-10-09 16:57] alexmarkov commented on #43730
@rmacnak-google @bkonyi

[2020-10-09 17:00] jakemac53 commented on #43659
I agree that it sounds like you need to upgrade your packages - specifically you will need `build_web_compilers` version `2.10.0` or greater.

[2020-10-09 17:04] srawlins commented on #37023
I think this is covered by `final` with definite assignment, yes?

[code]

[2020-10-09 17:04] aam commented on #43713
https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8866907665759648816/+/steps/test_results/0/logs/new_test_failures__logs_/0

[code]

[2020-10-09 17:04] natebosch commented on #42832
If the content was this unstable I would expect that the `// ignore` also go stale on a change.

The only new errors that should surface here would be, I think, the same places you'd need to add a new `// ignore` using the old strategy. It would be good to get some real world experience trying this approach and see how it feels in practice.

[2020-10-09 17:11] pq opened #43740 "Add support for ignoring diagnostics in pubspec files"
As pubspec analysis goes live (#43529) and we add more analyses (https://github.com/dart-lang/linter/labels/pub), we should consider support for ignoring diagnostics in pubspecs.  A natural syntax might use `#` like:

[code]

[2020-10-09 17:26] aam opened #43741 "pkg/dartfix/test/src/driver_prefer_is_empty_test turned stable failure from flaky"
unittest-asserts-release-win buildbot turned [red](https://ci.chromium.org/p/dart/builders/ci.sandbox/pkg-win-release/13325) with
[code]

[2020-10-09 17:29] nshahan opened #43742 "Unexpected Compile Time Error - language/least_upper_bound/least_upper_bound_function_test"
Failure appears on all backends

[code]

[2020-10-09 17:38] bwilkerson commented on #42832
No, but that means that any change to the current file, such as adding a space, would block analysis support until the generated file is regenerated. I don't think that's a good UX either.

[2020-10-09 17:42] #43720 closed

[2020-10-09 17:56] stereotype441 commented on #43723
Fix out for review: https://dart-review.googlesource.com/c/sdk/+/166860

[2020-10-09 18:03] aam opened #43743 "pkg/dds/test/sse_smoke_test broke on pkg-mac-release buildbot"
[pkg-mac-release buildbot](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8866897185727430912/+/steps/test_results/0/logs/new_test_failures__logs_/0) had failing test

[code]

cc @bkonyi

[2020-10-09 18:07] hygehyge commented on #43574
After some additional try, I've found strange behavior.
When I use `HttpHeaders`'s `set` method and "watch" the `request` variable in debug mode as below, `content-length` header is removed.
Without "watch", the header still remains.
I cannot understand what happened... Any ideas?

[code]

[2020-10-09 18:09] bkonyi commented on #43743
Looks like Chrome updated and we need to update Chrome Driver. cc/ @athomas

[2020-10-09 18:19] greglittlefield-wf commented on #42832
At least for the over_react use-case, the majority of the time, the code that references generated members isn't often edited after it's introduced. Usually, it's one UI component per file of the same name. For example, this isn't very common:
[code]
...and in those cases the solution from that CL would work well.

However, there's a newer case that isn't very common yet, but I suspect could becom

[2020-10-09 18:34] aam commented on #43739
The underlying problem in this test failure seems to be addressed by https://dart-review.googlesource.com/c/sdk/+/165862 and is more generally tracked in https://github.com/dart-lang/sdk/issues/43543 and https://github.com/dart-lang/sdk/issues/43642.

[2020-10-09 18:48] jakemac53 opened #43744 "Flaky error when resolving (valid) annotations in analyzer"
Example failure: https://travis-ci.org/github/dart-lang/angular/jobs/734348689

This is experienced consistently on travis, and approximately 1/3 of the time for me locally (glinux).

Repro instructions (unfortunately I can't make a small repro):

1. Clone the angular repo https://github.com/dart-lang/angular
2. Checkout the `latest_dependencies` branch
3. Cd into the angular_forms dir
4. Run pub

[2020-10-09 18:49] kevmoo commented on #43744
Labeling P1 – this is a regression! CC @devoncarew @scheglov @bwilkerson

[2020-10-09 18:50] kevmoo commented on #43744
Really annoying: it *never* reproduces on my Mac. 🤷

[2020-10-09 18:59] jakemac53 commented on #43744
Hmm actually I was wrong about there being no substantive changes in the build_resolvers code - it is possible this is at least related to the change in build_resolvers - specifically this PR https://github.com/dart-lang/build/pull/2817.

I have tried now running with analyzer 0.40.1 and the old build_resolvers 1.3.11 and I can't repro the issue.

[2020-10-09 19:05] kevmoo opened #43745 "SelectElement.add – 2nd param should be optional+positional"
Currently

[code]

Should be

[code]

per

https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement/add

[2020-10-09 19:17] greglittlefield-wf commented on #42832
@scheglov @bwilkerson I tried out that CL locally and it works great except for one thing: I'm seeing that errors related to implicit casts aren't ignored.

For example:
[code]

Are there plans to silence `invalid_assignment`/`argument_type_not_assignable` as well? We could work around it with explicit casts, but it would be really nice to not have to.

[2020-10-09 19:40] jakemac53 commented on #43744
Ok! I think I have at least narrowed down which change in the dart-lang/build#2817 caused this - I am fairly sure it is specifically this change https://github.com/dart-lang/build/pull/2817/files#diff-87577255efaaf8017c6478e01573eea3R315 (hard to be 100% sure due to flakyness).

This should have no real effect, so it does seem like a lurking analyzer bug, triggered now by the fact that we more laz

[2020-10-09 19:46] devoncarew opened #43746 "provide a way to be aware of what changes `dart fix` would make"
We might consider having a way to be aware of what changes running `dart fix` would make. This could be `dart fix --preview`, `dart fix --dry-run`, ...

`dart fix` could potential make a lot of changes to a project; having a mechanism to be aware of the scope of the changes, and which kinds, that would be made could be useful.

[2020-10-09 19:47] devoncarew commented on #43746
This could just be a summary of the changes, or it could be a diff-like view.

[2020-10-09 20:11] #40185 closed

[2020-10-09 20:18] #43723 closed

[2020-10-09 20:56] aam opened #43747 "on unittest-asserts-release-win pkg/dartfix/test/src/driver_help_test turned stable failure"
https://dart-ci.appspot.com/log/pkg-win-release/unittest-asserts-release-win/13370/pkg/dartfix/test/src/driver_help_test :

[code]

[2020-10-09 22:49] sigmundch commented on #43193
@Fox32 sorry to hear you are seeing additional failures in Chrome 87.

Do you know if this only relates to code that uses `dart:js`? On a related note - we normally recommend using `package:js` instead of `dart:js`, it tends to have much lower performance overhead.

Let us know if you find more details as you investigate, and please feel free to open a new bug if you have some simple steps that we

[2020-10-09 23:01] timsneath opened #43748 "Field not initialized warning on a comment line"
#### Steps to reproduce
Migrating github.com/timsneath/win32

#### What actually happened?
Two separate / interrelated issues:

1. Bottom right pane complains that field is not initialized at line 461. But this line is a comment.
2. Text for this row is strangely formatted -- looks like two separate fonts overlaid.

See screenshot:
![image](https://user-images.githubusercontent.com/2319867/9563805

[2020-10-09 23:03] timsneath commented on #43748
Ah -- looking at this row more, it seems like the `_` in `SECURITY_ATTRIBUTES` is being interpreted as the beginning of an italics section (Markdown?) We should sanitize inputs better.

[2020-10-09 23:12] timsneath opened #43749 "SyntaxError: Unexpected token < in JSON at position 0"
Could not load edit details

Error: FormatException: SyntaxError: Unexpected token < in JSON at position 0

Please fill in the following:

**Name of package being migrated (if public)**: win32
**What I was doing when this issue occurred**: updating entries after migrate tool had inserted @required into my code
**Is it possible to work around this issue**:
**Has this issue happened before, and if s

[2020-10-09 23:16] sigmundch opened #43750 "DDC issues in Chrome 86 due to changes in GamepadList"
This seems to be causing issues in DDC downstream. Here is a sample repro:

[code]

The *** line is causing issues. Funny enough, the line itself produces no errors, but if you leave it, you get a nSM on the next line:
[code]

/cc @srujzs @nshahan

[2020-10-09 23:17] timsneath opened #43751 "Adding tool-recommended @required annotation causes failure"
#### Steps to reproduce
In package win32, file test/wincreds_test.dart, migration tool proposed adding `required` keyword:
![image](https://user-images.githubusercontent.com/2319867/95638806-cd1cb380-0a4a-11eb-9563-8b75256ad9bc.png)

Clicked on the action:
![image](https://user-images.githubusercontent.com/2319867/95638814-d6a61b80-0a4a-11eb-9105-12b2d0cd8533.png)

Clicked "rerun with changes"
Rec

[2020-10-09 23:19] timsneath opened #43752 "Progress bar inserts unnecessary newlines during migration analysis"
#### Steps to reproduce
On Mac default terminal, running migration analysis causes multiple rows of spew while presenting progress bar:
![image](https://user-images.githubusercontent.com/2319867/95638882-1f5dd480-0a4b-11eb-8933-8aa4dcb3e8ac.png)

**Dart SDK version**: 2.11.0-203.0.dev

Thanks for filing!

[2020-10-09 23:22] sigmundch commented on #43193
@Fox32 the GamepadList in the prototype chain was a good clue. I'm not sure if this is the only issue, but it does appear that the APIs around that changed in Chrome 86. I filed https://github.com/dart-lang/sdk/issues/43750 to track that.

[2020-10-09 23:26] sigmundch commented on #43750
@Fox32 - are you using `window.navigator.getGamepads()` in the app that you mentioned in https://github.com/dart-lang/sdk/issues/43193#issuecomment-703849298? Would the issue go away if you replace the use with JS-interop like:

[code]

[2020-10-09 23:42] munificent commented on #37023
Yes, I think null safety will make code like this work as intended.

[2020-10-09 23:42] #37023 closed

[2020-10-09 23:50] timsneath opened #43753 "dart migrate 2.11 updates pubspec.yaml to 2.10 maxver"
After running `dart migrate` on my win32 package and choosing apply migration, pubspec.yaml is updated to:

[code]

However, I'm running it from:
[code]

which means that the resultant package won't work on the build I ran the migration from.

That seems wrong, no?

[2020-10-10 00:03] timsneath opened #43754 "Dart non-nullable experiment not working on Windows"
On Windows, I'm unable to successfully trigger the non-nullable path.
![image](https://user-images.githubusercontent.com/2319867/95640328-2982d180-0a51-11eb-8d25-ff21fc403b7b.png)

This same code throws no issue when loaded on my Mac.

[2020-10-10 00:04] timsneath commented on #43754
Source is here: https://github.com/timsneath/win32/tree/nnbd

[2020-10-10 01:17] parlough commented on #43753
Perhaps the upper constraint should be `<3.0.0` unless they already have a max that is equal to or greater than their current sdk version.

[2020-10-10 04:37] aam commented on #43754
Not sure what is up, but the repro steps don't work for me as in - example\console.dart runs fine:
[code]

[2020-10-10 11:39] avenwu commented on #43620
After reading source code relative to the crash log. I'm able to skip this compile crash by remove any reference of `WidgetInspector`

Line 2517 of widget_inspector.dart define the constructor of `_InspectorOverlayLayer`, and it's referenced by WidgetInspector, I was not using this widget, so remove it works for me.
<img width="733" alt="Screen Shot 2020-10-10 at 7 34 51 PM" src="https://user-imag

[2020-10-10 11:41] ghostgzt commented on #41519
which version fixed this problem?

[2020-10-10 15:46] AshfaqAshi opened #43755 "Flutter web fails to compile for web"
Windows 10

Dart 2.9.1

Error:
Target dart2js failed: Exception: ../../Documents/Flutter%20SDK/flutter/.pub-cache/hosted/pub.dartlang.org/cloud_firestore_web-0.2.0+4/lib/cloud_firestore_web.dart:90:13:
Internal Error: Runtime type information not available for type_variable_local(j:type_variable(runTransaction.T)) in (local(FirebaseFirestoreWeb.runTransaction#transaction),
j:anonymous_closure_loca

[2020-10-10 16:52] timsneath commented on #43754
I'm sorry -- I filed lots of bugs yesterday and forgot to note the branch I'm using on this one. Check out the `nnbd` branch:

[code]

[2020-10-10 17:15] danrubel opened #43756 "Dart VM crash when initializing big set"
When I run the attached [test_max_set_size.dart](https://github.com/dart-lang/sdk/files/5359359/test_max_set_size.dart.txt) program, I get the Dart VM crash below...

[code]

cc @lukechurch

[2020-10-10 18:28] leafpetersen opened #43757 "Migration tool is setting outdated sdk constraints"
Running the migration tool from bleeding edge or flutter master, dart version:

Dart SDK version: 2.11.0-207.0.dev (dev) (Fri Oct 9 09:16:09 2020 -0700) on "macos_x64"

The migration tool is setting a pub sdk constraint as follows:

+ sdk: '>=2.9.0 <2.10.0'

This should be updated for the current dev releases, and will need another update when we go to beta.

cc @srawlins @timsneath

[2020-10-10 18:34] timsneath commented on #43753
Duplicate of #43757

[2020-10-10 18:34] #43753 closed

[2020-10-10 19:16] devoncarew commented on #43757
Sam, I think this is something we'll want to get in for TP2.

[2020-10-10 19:32] aam commented on #43754
Got you.
On `nnbd` branch I'm seeing these errors, but I see them on both win and mac.
The problem seems to be relaxed constraint to sdk in pubspec.yaml which has to be tight to allow nnbd experiment. The following patch fixes that, but `example/console.dart` still fails to run with other nnbd-related problems:
[code]

[code]

You can confirm language version of win32(it has to be 2.10 at present

[2020-10-10 20:04] aam commented on #41519
So far this landed as 63852d2073c776d6d849e306b2e36274f2143eb3 in flutter
master channel(
https://github.com/flutter/flutter/commit/63852d2073c776d6d849e306b2e36274f2143eb3
).

On Sat, Oct 10, 2020 at 4:41 AM Gentle Kwan <notifications@github.com>
wrote:

[2020-10-11 06:36] wechatobok opened #43758 "No published analyzer available for language version 2.11.0"

[2020-10-11 09:22] Fox32 commented on #43750
@sigmundch  Good catch, yes we are using it! I first tried to remove that part of the code and the no such method exception is gone! A bit strange is that the exception origins in code that totally not belongs to the code that is working with the gamepads 😆 But I guess that's how the DDC works internally. However this is still a good step, as I can work without gamepad support for now.

Second I t

[2020-10-11 09:42] Fox32 commented on #23494
Just came across my workaround here again. I removed it and it seems that neither DDC nor dart2js still requires my workaround 👍 Not sure when this was fixed, but I guess we should close this issue? @kevmoo or @vsmenon  can you do that?

[2020-10-11 11:12] Fox32 commented on #31017
The latest Chrome Dev release (87) broke my workaround. Looks like the constructor of `OesVertexArrayObject` got removed.
I had to replace

[code]

with

[code]

[2020-10-11 11:12] Fox32 commented on #43193
@sigmundch The `GamepadList` seems to be the root cause in our application. If I resolve the issue, everything seems to work fine again. We have a workaround in place for #31017 that broke too, but that is not a new issue. I had to change that workaround a bit.

Yeah we have some code from the time before you recommended it. Looks like it's time to migrate them to `package:js`. Just did that and i

[2020-10-11 11:37] rrousselGit opened #43759 "Ternary on generic functions fails to compile for no reason"
Consider:

[code]

This code does not compile with

[code]

This is undesired as the code is valid.

Surprisingly, extracting the raw function type into a typedef makes the code compile:

[code]

Dart version:
[code]

**Note**:
While there is a known workaround (typedef), the workaround is inapplicable for code-generators (as they do not see typedefs).
This is blocking https://github.com/rrousselG

[2020-10-11 17:40] kevmoo commented on #23494
Closing out! Glad to hear things are better!

[2020-10-11 17:40] #23494 closed

[2020-10-11 18:15] Agondev opened #43760 "Dart compiler exited unexpectedly (NoSuchMethodError: The getter 'topologicalIndex' was called on null)"
Dart SDK version: 2.11.0-207.0.dev (dev) (Fri Oct 9 09:16:09 2020 -0700) on "windows_x64"

[code]

[2020-10-11 20:07] washucode opened #43761 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-193.6911.18.40.6821437`
- `2.10.0`
- `AI-193.6911.18.40.6821437, JRE 1.8.0_242-release-1644-b3-6222593x64 JetBrains s.r.o, OS Linux(amd64) v5.0.0-32-generic, screens 1920x1080`

[2020-10-12 02:51] clarkezone opened #43762 "Windows: Add support for a UWP target"
In order to land the following Flutter change : https://github.com/flutter/engine/pull/21754 that is the first step towards addressing https://github.com/flutter/flutter/issues/14967 it is necessary to add Windows UWP support to Dart.  This constitutes

1. supporting a new target_os of  type winuwp
2. conditionally excluding win32 API calls that are not supported in the AppContainer API partition

[2020-10-12 03:25] pq commented on #43529
**UPDATE**: false alarm.  Lint was fine after all.  Staging change for re-landing.  👍

[2020-10-12 06:39] znjameswu opened #43763 "int doesn't extend Comparable<int>"
This is an old issue since Dart 1 and doesn't seem to have been fixed. https://github.com/dart-lang/sdk/issues/8741

This behavior is preventing the below API patterns from being efficiently implemented.

[code]

Trying to invoke this function
[code]
will cause error: `int doesn't extend Comparable<int>`

We need to change generics parameter to `num` at every invocation site.
[code]

[2020-10-12 07:35] lrhn commented on #37127
We should generally use `Since` on new features.

[2020-10-12 07:35] #37127 closed

[2020-10-12 08:03] mraleph commented on #42210
We understand that you might want even simpler interoperability with C++, however as a team we have limited bandwidth so we have to keep ourselves laser focused on things that _only we can provide_ leaving the rest to the community. In this particular case a low-level low-overhead way to interact with C APIs is something that only we can provide. However once this functionality is provided in the

[2020-10-12 08:04] athomas commented on #43743
Huh, this is strange. It seems to be passing currently: https://dart-ci.firebaseapp.com/current_results/#/filter=pkg/dds/test/sse_smoke_test

Chrome is currently pinned at version 84, which should always be a mismatch to the version 83 chromedriver. Current stable is 86.

I also noticed that it's failing on windows, probably because it doesn't pass the .exe executable suffix:
https://dart-ci.appsp

[2020-10-12 08:10] lrhn commented on #43763
The behavior is unfortunate, but not easily correctible.
Dart's `int` implements `num` which implements `Comparable<num>`. That means that `int` can't also implement `Comparable<int>`. A Dart 2 type can only implement *one* version of a generic interface.
Sometimes type inference trips over this, and it fails to recognize that it can choose `T2` a `num` in the example given here and still work suc

[2020-10-12 08:18] lrhn commented on #43759
Seems like the LUB of two different, but equivalent, generic function types throws away the genericity.

[2020-10-12 08:21] eernstg commented on #43763
If we do make the type argument of `Comparable` contravariant (that is, if it isn't too much of a breaking change),

[code]

then `int <: Comparable<num> <: Comparable<int>`, so inference can succeed as `[1].sortBy<int>((x) => x);`, which would make the example work.

[2020-10-12 08:42] bog-dan-ro commented on #42210
@mraleph I understand that google has no bandwidth for it, but I still don't understand why this task is closed  :).
The title and the description are about **C++** not C, so please keep the task open.

Back to C++ suport, it might be possible to change dart VM to do it the Qt way? E.g. directly embed dart vm into a C++ application, and have a way to directly export a C++ types and classes to dart

[2020-10-12 08:45] lrhn commented on #43329
@llucax I've put an explicit license on the code, so go ahead and use it under that license.

[2020-10-12 08:49] dcharkes commented on #42210
My bad, I closed the issue because of the second question that was asked by the OP was assigned to me. And that was solved with `package:ffigen`.

[2020-10-12 08:57] mraleph commented on #42210
I think it is fair to keep it closed to reflect that we have no plans to work on it.

I am not sure what "Qt way" means, but yes you can embed Dart VM into your Qt application, if you so choose. This is how Flutter embeds Dart VM. Dart VM has public C API for embedders (https://github.com/dart-lang/sdk/blob/master/runtime/include/dart_api.h), which you can use to reflectively access Dart and expos

[2020-10-12 08:57] #42210 closed

[2020-10-12 09:16] lrhn commented on #43737
Definitely do file bugs against the browsers.

I'm also willing to *not* do the workaround and forward any complaints to the browser bug.  It's already an error condition It's annoying that you won't get exactly the error recovery that you expect, but I don't expect it to be a significant issue in practice.

[2020-10-12 09:17] debuggerx01 commented on #43657
Same here  :/
Even worse, the temporary solution from [https://github.com/dart-lang/sdk/issues/38739#issuecomment-541432145](https://github.com/dart-lang/sdk/issues/38739#issuecomment-541432145) didn't work now

[2020-10-12 09:35] llucax commented on #43329
@lrhn OK, cool. I'll update the LICENSE file then. Thanks!

[2020-10-12 09:48] rxlabz opened #43764 "Non null promotion fail in `if( a != null ){...}`"
I maybe miss something but shouldn't the `name` property be promoted to NonNull in this example ? https://nullsafety.dartpad.dev/dcb8f17148eb07b1b7c36442eb2d53d7

In DartPad (Dart SDK 2.10.0), the analyzer feedback is : ` A value of type 'String?' can't be assigned to a variable of type 'String'.`

[code]

[2020-10-12 09:55] eernstg commented on #43764
No, only local variables can be promoted. There are considerations about allowing instance variables to be promoted as well, but the current rules don't promote them. The main issue is that it is not sound to promote an instance variable, because it can be overridden by a getter running arbitrary code and that getter is not known to return the same object each time it is invoked.

[2020-10-12 09:58] rxlabz commented on #43764
Thanks, I'm closing it !

[2020-10-12 09:58] #43764 closed

[2020-10-12 09:59] eernstg commented on #43764
Thanks! The topic is already covered by several existing issues, here's another one: https://github.com/dart-lang/language/issues/1187.

[2020-10-12 10:08] eernstg commented on #43742
The test was updated Friday, and it only fails with the CFE in line 31 today. Adding a line `int i = z; right after line 31 to `tests/language/least_upper_bound/least_upper_bound_function_test.dart`, we get this:

[code]

So the resulting type is `Object`, but it should be `FutureOr<Object?>` (which is a top type, so it's subtype-equal to `Object?`). So the test should pass.

[2020-10-12 10:13] lrhn commented on #43733
Those classes would be VM-only since there isn't a comparable thing in JavaScript.
The only thing JavaScript has is [WeakMap](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WeakMap), which matches our existing `Expando` class - a non-iterable map from keys to values which does not keep the keys alive, and which doesn't keep the values of dead keys alive.

A soft r

[2020-10-12 11:28] eernstg commented on #40185
:tada: :tada: :tada:

[2020-10-12 12:49] athomas commented on #43743
The plot thickens: http://shortn/_reMinDzrGn

All failures are happening on the vm19-m9 bot. Not sure why that one would be different, yet.

[2020-10-12 13:06] SteveAlexander opened #43765 "Dart Analyzer, high CPU, massive log file"
I'm regularly (several times a day) going through a cycle of VS Code becoming unusable due to the Analyzer using all the CPU. I have the log file enabled, and it quickly writes multi-gigabyte log files.

I don't have a clean reproduction of this at this moment — I'll look at that later.

When it starts going wrong, the log file looks like this: (I manually split the lines to make this appear reada

[2020-10-12 13:06] SteveAlexander commented on #43765
The log says `"location"::{"file"::"/Users/steve/code/companyname/projectname-
app/projectname/lib/sync/database.g.dart","offset"::20093,"length"::0,"startLine"::614,"startColumn"::7}`. That's this generated code:

[code]

[2020-10-12 14:13] pq opened #58248 "lint(s) to promote use of `characters` for safe string manipulation"
**TL;DR** String functions in Dart do not handle UTF-16 characters properly and so `characters` should be preferred for safe string manipulation.

Additional context: https://medium.com/dartlang/dart-string-manipulation-done-right-5abd0668ba3e

/fyi @mehmetf @hixie

[2020-10-12 14:31] AngelusB opened #43766 "No published analyzer available for language version 2.10.0""

[2020-10-12 14:42] aam commented on #43739
Similar issue on https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-mac-debug-x64/9640

[2020-10-12 15:07] #43674 closed

[2020-10-12 15:25] lukapercic commented on #42210
Found this very promising C++ ⮜⮞ Dart bindings generator
https://github.com/heremaps/gluecodium

Hopefully, it gets some more love from the community and the industry to turn it into full-fledged automatic binder :)

[2020-10-12 16:40] srawlins commented on #43757
Is `sdk: '>=2.11.0 <2.12.0'` or do I need to include `-dev.0` or something?

[2020-10-12 16:51] devoncarew commented on #43757
From a discussion:
- we'll want the lower bounds to work in the SDK that they're using to migrate (so, if using something like `2.11.0-207.0.dev`, the lower bounds should work for that version)

And some thoughts:
- if the feature has been released, we should use that version (https://github.com/dart-lang/sdk/blob/master/pkg/analyzer/lib/src/dart/analysis/experiments.g.dart#L101) as the lower boun

[2020-10-12 16:59] leafpetersen commented on #43757
What @devoncarew says above about lower bounds seems right to me.  For upper bounds, post-stable we should probably use <3.0, but for beta we may want to use < 2.12 .  @natebosch @jakemac53 @mit-mit  WDYT?

[2020-10-12 17:12] #43685 closed

[2020-10-12 17:12] #43661 closed

[2020-10-12 17:12] franklinyow commented on #43661
close

[2020-10-12 17:13] #43601 closed

[2020-10-12 17:16] franklinyow commented on #43698
Can you start a build for this CP

[2020-10-12 17:38] srawlins commented on #43757
Well I landed a bandaid but I like the idea of maybe just taking the current 2.11 dev version if that's easy? And I'll wait for an answer about the upper bound

[2020-10-12 17:44] devoncarew commented on #43757
You might choose to use `releaseVersion` (from the generated experiments file) if it's not null, and short of that use the value from `experimentalReleaseVersion` (which is at `2.10.0`).

[code]

[2020-10-12 17:53] srawlins commented on #43757
Ah, so I can still use `>=2.10.0`? That works, since its released as final, and covers all 2.11 dev versions.

[2020-10-12 18:07] #58240 closed

[2020-10-12 18:07] #58247 closed

[2020-10-12 18:12] ericdallo commented on #43043
@DanTup We got [this issue](https://github.com/emacs-lsp/lsp-dart/issues/75) on `lsp-dart`, and after some debugging I could not find why formatting is not working on `lsp-dart`, could you confirm if is everything ok from the server side?
This is the log from `lsp-mode` with the LSP requests/responses:

[code]

But the code is still formatted using 80 caracters.

I'm using [this branch](https://gi

[2020-10-12 18:12] leafpetersen commented on #43546
cc @srawlins @stereotype441

[2020-10-12 18:14] leafpetersen commented on #43545
cc @srawlins @stereotype441

[2020-10-12 18:25] DanTup commented on #43043
The request/response above look correct. Just to clarify - are you saying it works correctly from within VS Code when using `previewLsp`, just not for emacs?

If so, are you able to capture a full log (everything from initialisation, to the bad format response) for me to review? Thanks!

[2020-10-12 18:39] leafpetersen commented on #43757
`>=2.10.0` will work when the experiment flag is passed, or the package is in the allow list.  For TP2, the former will always be true.  For beta, I think the lower bound needs to be a 2.12 dev release.

[2020-10-12 19:28] pcsosinski commented on #43757
unless we change our versioning for beta on the way to our Q1-21 release, we will be some version of 2.11 up to (and including) that stable.

[2020-10-12 20:29] ericdallo commented on #43043
Yes, for VScode works.

Sample code:
[lsp-dart-bug.zip](https://github.com/dart-lang/sdk/files/5367329/lsp-dart-bug.zip)

LMK if there is some bug with `lsp-dart` or `lsp-mode`

[2020-10-12 21:16] llucax commented on #43329
Published. Let me know if something doesn't look good, I'll be happy to fix it.

https://pub.dev/packages/pausable_timer

[2020-10-12 21:29] leafpetersen commented on #43757
@pcsosinski No, we always bump the minor version when we flip an experiment flag to avoid various issues, so the first null safety beta will be a 2.12 beta, and 2.12 will be the stable release.

[2020-10-12 21:33] pcsosinski commented on #43757
thanks @leafpetersen, makes sense.   i guess we haven't touched any experiment flags in a while?

[2020-10-12 21:51] stereotype441 commented on #43725
@johnniwinther as we discussed in our meeting today, I made an attempt along the lines of your suggestion.  It didn't work out too well :(

https://dart-review.googlesource.com/c/sdk/+/167146

[2020-10-12 21:53] timsneath commented on #43757
This seems problematic, though. Are we really going to invalidate all null
safe code with a 2.10<=x<2.11 constraint?

It feels like we're causing major package ecosystem churn. I understand the
value of doing so if we *know *it's a breaking change, but I'd love it if
the default were less invasive.

On Mon, Oct 12, 2020 at 2:33 PM Patrick Sosinski <notifications@github.com>
wrote:

[2020-10-12 21:55] natebosch opened #43767 "Analysis server quickfix to add missing setter overrides adds unnecessary "void""
When using the quickfix to add missing overrides for a class, setters are created like `void set fieldName(` while idiomatic dart style is to omit the `void`.

[2020-10-12 22:09] munificent commented on #43712
It feels weird to me to put it in the null safety docs. Maybe just in the CHANGELOG?

[2020-10-12 22:12] leafpetersen commented on #43757
Any null safe code that has been published with this constraint is under the supervision of the Dart team (it has to be explicitly on the allow list) and yes, one of the beta and stable checklist items is to re-publish all of these packages.  We've already rolled this once, it's tedious, but doable.  So I'm not concerned about that.

A more real concern is what to do about packages published durin

[2020-10-12 22:15] leafpetersen commented on #43712
It's definitely very relevant to null safety, I've already used it in one migration.  Any time you have an abstract class with a field and you intend the field to be non-nullable, the right migration (albeit a breaking one) is to use an abstract field.

[2020-10-12 22:45] alexmarkov opened #43768 "Deflaking doesn't work on certain service tests"
Consider the following build:
https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-linux-release-x64/12913

It turned red because of the failure of `service_2/next_through_simple_async_test_0` test:
[code]

The test is flaky and passes most of the time. However, it looks like bot has not attempted to run it multiple times.

Note that there is actually `service_2/next_through_simple_async_t

[2020-10-12 23:23] munificent commented on #43712
Oh, crap, *abstract* fields. I spaced and read that as *external* fields. I forgot that we added both of them.

Yes, I think those are important enough to document in the Language Tour and other places. I like the idea of mentioning it in the null safety docs too as a recommended migration.

[2020-10-13 01:44] #43469 closed

[2020-10-13 02:20] rakudrama commented on #43584
The intention is that a future dart2js will accept exactly three signatures for the `main` function that is used as an entry point:
[code]

The limitations are because outside values need to be _converted_ before being passed to `main`. It is not clear how to convert an arbitrary value, or how to detect a missing value.

- Web apps will use `main()` and incur no cost.
- Script invocations like `d8

[2020-10-13 04:20] kevmoo commented on #43744
@scheglov – would you take a look here?

[2020-10-13 06:12] johnniwinther commented on #43725
Thanks for trying. I'll take it from here.

[2020-10-13 06:55] athomas commented on #43768
Looks like a problem in test.py:

[code]

[2020-10-13 06:59] athomas commented on #43768
This is a test that has multiple VMOptions lines:
[code]

That causes the test name generated to be different from the file name, which is probably why the selector doesn't work (that needs to be handled in test.py).

[2020-10-13 07:05] DanTup commented on #43043
@ericdallo can you confirm which version of the Dart SDK you're using for testing? This setting was included in v2.10.0 of the Dart SDK, but I don't think that's what's used for this log, as it doesn't include [the server info](https://github.com/dart-lang/sdk/blob/2.10.0/pkg/analysis_server/lib/src/lsp/handlers/handler_initialize.dart#L68) which is also included in that version. I think upgrading

[2020-10-13 07:07] oghea commented on #41451
Updates?

[2020-10-13 07:18] mraleph opened #43769 "isInsecureConnectionAllowed documentation needs improvement"
Here is what we have now:

[code]

It needs to be expanded to document how network policies are specified (because there is nothing in the `dart:io` documentation which explains it).

I had to read SDK source to figure out that there are two environment defines (`dart.library.io.domain_network_policies` and `dart.library.io.may_insecurely_connect_to_all_domains` plus an `_EmbedderConfig`). `_Embed

[2020-10-13 07:29] athomas commented on #43768
Most likely this was broken by https://dart-review.googlesource.com/c/sdk/+/143961:
[code]
variantTestName doesn't include the dds/service part if there are multiple vmOptions.

[2020-10-13 08:36] eernstg commented on #43584
@rakudrama, thanks for the clarification! The constraints on the signature of `main` that are covered by [this sentence](https://github.com/dart-lang/language/pull/1146/files#diff-2f9dda5244b707ca3b6d5988c6e5257d6025a99a5fa08ce0dc171c94bdc8ce0dR920):

are clearly implementation specific. This means that it will not be possible to determine the exact set of `main` signatures that an implementation

[2020-10-13 08:36] #43584 closed

[2020-10-13 09:30] lrhn opened #58249 "The `valid_regexps` lint example should use a raw string."
The "good" example for https://dart-lang.github.io/linter/lints/valid_regexps.html is:
[code]
I recommend using a raw string for all `RegExp` literal strings, and here I'd definitely recommend using:
[code]

Consider using that as example.

[2020-10-13 10:00] ferrerogg commented on #43657
Same problem here, after upgrading to 1.22.1 autocomplete doesn't work anymore on VS Code even with "Auto Import Completions" turned off... it's really frustrating...

[code]

[2020-10-13 12:48] mkustermann opened #43770 "Unbounded memory growth in Flutter application - due to missing old-space GC"
The following flutter application runs an animation. When building each frame we do new memory allocations and make older objects unreachable. The live memory at any given point in time should be <100 MB, though the process will eventually OOM due to unbounded memory growth:

[code]

Most likely this happens due to missing start of old space collections during the `Dart_NotifyIdle` calls from flut

[2020-10-13 12:57] #43768 closed

[2020-10-13 13:49] bkonyi commented on #43768
Good catch! Thanks for noticing @alexmarkov and thanks for the fix @athomas!

[2020-10-13 14:17] bkonyi opened #43771 "DartFuzz: AOT-DebugX64 - KBC-INT-SRC-noVFP-DebugSIMARM Divergence"
[code]

[fuzz.dart.txt](https://github.com/dart-lang/sdk/files/5371953/fuzz.dart.txt)

cc/ @alexmarkov

[2020-10-13 14:36] EhsanHaq75 opened #43772 "Code not producing error while document say it should"
As per document https://dart.dev/null-safety it clearly mentioned that
// Assigning a lookup result to a non-nullable
// variable causes an error.
int value = <String, int>{'one': 1}['one']; // ERROR

will produce error but I write the code and tested with Dart version
Dart SDK version: 2.10.1 (stable) (Unknown timestamp) on "linux_x64"
below is code
-----------------------------------------------

[2020-10-13 14:52] #58249 closed

[2020-10-13 15:10] mehmetf commented on #43769
That was intentional. The environment defines were created solely for testing and are not meant to be public API. I agree it is not ideal. Let me know if there's a different way of testing these.

`_EmbedderConfig` is the only intended way for users to (indirectly) configure the network policy. Embedders are supposed to have their own documentation on how to do it. https://flutter.dev/docs/release

[2020-10-13 15:10] lrhn commented on #43772
Do you run the program with the `--enable-experiment=non-nullable` flag? If not, you are not using Null Safe behavior yet.

[2020-10-13 15:19] EhsanHaq75 commented on #43772
Yes you are right and thanks

[2020-10-13 15:25] #43546 closed

[2020-10-13 15:40] athomas commented on #43698
Merged with 2.10.2: 1d923a386d7a9f384435a2b4c1287b2937504566

[2020-10-13 15:41] sigmundch opened #43773 "web strong null safety (post-beta)"
This is an epic to collect items that will be worked on post the beta release

[2020-10-13 15:47] stereotype441 commented on #43545
I'm trying to reproduce this...so far no luck.  I'll talk to @leafpetersen to get more information.

[2020-10-13 15:49] srawlins opened #43774 "Migrator should not check pub outdated until Beta"

[2020-10-13 15:56] dnfield commented on #43770
We can add a test like this to the devicelab, which can track memory usage over the life of the process.

[2020-10-13 16:16] #42308 closed

[2020-10-13 16:44] AshfaqAshi commented on #43755
@sigmundch I was working in beta channel when the issue happened. I then switched to the dev channel and now the issue seems to be gone

[2020-10-13 16:56] bwilkerson commented on #43767
https://dart-review.googlesource.com/c/sdk/+/167363

[2020-10-13 16:56] #43767 closed

[2020-10-13 17:03] nshahan commented on #43528
For anyone finding this issue in the future, the fix was picked to be included in Dart SDK v2.10.2 https://github.com/dart-lang/sdk/issues/43698.

[2020-10-13 17:20] sigmundch commented on #43755
Good to hear. I'll close the issue, but let us know if you still run into trouble.

[2020-10-13 17:20] #43755 closed

[2020-10-13 17:30] devoncarew commented on #43774
I think we can check the flag here - beta will update the sdk version and the experimental features info: https://dart-review.googlesource.com/c/sdk/+/166790

[2020-10-13 17:35] timsneath commented on #43754
OK, got it. Thanks -- we need to do a good job of documenting how the version constraints are applied, but I now understand this not to be a bug in Dart itself. Appreciate the help!

[2020-10-13 17:35] #43754 closed

[2020-10-13 17:40] alexmarkov commented on #43760
Looks like a CFE or widget cache issue.
@johnniwinther @jonahwilliams

[2020-10-13 17:42] jonahwilliams commented on #43760
Looks like the class info in a subtype check can be null for the _state class, some of the code accounts for it but isSubclassOf does not. I'm not quite sure how we ended up in this state, but if the class info is null the frontend could potentially return false?

@Agondev can you reproduce this issue easily?

[2020-10-13 17:57] wer-mathurin opened #43775 "Add support to RTCRtpSender.replaceTrack()"
Hi,

Just looking to see if there a plan to add the possibility to replaceTrack, as define in WebRTC(https://developer.mozilla.org/en-US/docs/Web/API/RTCRtpSender/replaceTrack) implementation.

this will allow "switchCamera" without renegotiating the connection.  This is common on mobile, a little bit less common on web, but still possible. (eg.:  external camera, virtual camera)

This tracker is

[2020-10-13 18:06] jonahwilliams commented on #43760
(Also maybe we should be grabbing the State/StatelessWidget/StatefulWidget types from the class hierarchy directly somehow)

[2020-10-13 18:16] mmmattyx opened #43776 "dart2js on ARM"
The Dart SDK does not provide the `dart2js` command on ARM. I would really like to use Dart for web development on this platform but I don't see a way around this. Any advice would be appreciated.

[2020-10-13 18:32] leafpetersen opened #43777 "[Analyzer] Analyzer unit tests need updating for null safety release"
The analyzer has various unit tests that define and analyze Dart code.  Currently, that code is treated as opted out of null safety.  When the experiment flag is flipped, that code becomes treated as opted in, and some of it is no longer valid (it also arguable is no longer testing the same thing).  [This CL](https://dart-review.googlesource.com/c/sdk/+/166790) flips the experiment flag, and can b

[2020-10-13 18:36] Agondev commented on #43760
@jonahwilliams

Yes. All I need to do is perform a change to the code somewhere in the flutter framework (like text_painter.dart, editable_text.dart, and editable.dart to name a few I definitely modified), and attempt to hot reload/restart. Occurs every time on web, win, and android (can't test on ios or mac). Only way to circumvent this issue for me is to cold restart, thereby losing the hot relo

[2020-10-13 18:37] bwilkerson commented on #43777
If we simply update all of the tests to be valid under Null Safety then we will have very little coverage of legacy code. If that's a concern, then we might need to do something more complex. We haven't really worried about this in the past, but most of the other features that were enabled were additive while this one is breaking.

[2020-10-13 18:40] jonahwilliams commented on #43760
If you're on a particular version of flutter it would be helpful to have the flutter doctor.

[2020-10-13 18:43] jonahwilliams commented on #43760
I can reproduce by modifying text_painter.dart, but not by changing something like `AboutListTile`

[2020-10-13 18:45] jonahwilliams commented on #43760
@Agondev you can fix this locally by passing `flutter config --no--single-widget-reload-optimization`

[2020-10-13 18:48] leafpetersen commented on #43777
Keeping the legacy coverage seems useful.  Ideally, there is a solution which doesn't require adding `// @dart = 2.9` to every code snippet (e.g. setting the language version in the setup code in some way).  Assuming this is possible, you could initially run all of the tests in legacy mode (keeping the existing coverage) and then either now or later port the unit tests to get additional coverage o

[2020-10-13 19:04] franklinyow commented on #43549
Any work left? Can we close this now?

[2020-10-13 19:04] franklinyow commented on #43551
Any work left? Can we close this now?

[2020-10-13 19:15] lrhn commented on #28781
As @srawlins said, not something we plan to handle in the SDK.

[2020-10-13 19:15] #28781 closed

[2020-10-13 19:15] Agondev commented on #43760
@jonahwilliams

Apologies, the doctor slipped my mind.

[code]

I'm now 5 commits behind the master channel as of this writing.

Applying the ```flutter config --no-single-widget-reload-optimization``` command appears to fix this issue on both Win as well as Android based on initial observations - but on web, processing took an unreasonably long time after attempting to reproduce this issue, so I

[2020-10-13 19:42] #41655 closed

[2020-10-13 19:42] #43757 closed

[2020-10-13 19:48] jonahwilliams commented on #43760
https://dart-review.googlesource.com/c/sdk/+/167441 is a draft that fixes the issue locally.

[2020-10-13 20:09] scheglov commented on #43744
I did the steps outlined in the initial comment, and get the following error.
Is this what this issue about?

[code]

[2020-10-13 20:12] kevmoo commented on #43744
Yup!

[2020-10-13 20:13] sigmundch commented on #43620
Thanks for the update, glad that you are unblocked.

I forgot to ask, but by any chance is the issue fixed  the latest stable release (Dart 2.10.1)?

There is a possibility that the change @fishythefish made in 7e8348f could help here (which was released in 2.10.0 for the first time).

[2020-10-13 20:17] scheglov commented on #43744
FWIW, after I ran `pub upgrade` in all `angular`, `angular_ast`, `angular_compiler`, `angular_router`, and `angular_test`; and then removed all but `package_config.json` in `angular_forms/.dart_tool`, then I can run `pub run build_runner build` successfully. This raises the question of how the analyzer is invoked, and whether it can find right `package_config.json` files.

[2020-10-13 20:31] natebosch commented on #43744
I believe the issue Jake was seeing was inconsistent. If you `pub run build_runner clean` and then `pub run build_runner build` a few times in a row it may surface again. I think Jake told me it generally happened within the first 3-5 tries.

We create a `Packages` instances for the `AnalysisDriver` from a `PackageConfig`:
https://github.com/dart-lang/build/blob/631119ff00e1e21ca74bd062dab4785f910

[2020-10-13 20:36] alanknight-wk opened #43779 "Dart run does not support -D or --define command-line options"
Dart SDK version: 2.10.0 (stable) (Mon Sep 28 09:21:23 2020 +0200) on "macos_x64"

In 2.10, with the consolidation of commands, Dart run is now expected to be used for commands. However, it doesn't include command-line options that were previously present, such as -D or --define. Those are unrecognized options using `dart run`. They exist if you just use the previous form of `dart sourcefile.dart`

[2020-10-13 20:36] scheglov commented on #43744
Yes, I think you are right - I re-ran `pub run build_runner clean; pub run build_runner build` several times without `.dart_tool` anywhere but in `angular_forms` and after 2-3 successful runs I git such error run.

[2020-10-13 21:01] rmacnak-google commented on #43770
@mkustermann This example behaves differently on my device, with a mixture of idle and non-idle GCs, including idle old-space GC. Could you send me the timeline captured from your device?

NotifyIdle will already ignore the deadline if old-space is sufficiently full, so I suspect something else has gone wrong; perhaps the threshold has been corrupted or the force-growth bit got stuck.

[2020-10-13 21:17] srujzs opened #43780 "Enable native null assertions flag in various build systems"
#42536 and #42535 adds a flag to enable null assertions on native methods to ensure soundness in DDC and dart2js respectively.

As part of this, we'd like to enable this flag _by default_ in various build systems that use DDC and dart2js. Examples include build_web_compilers, google3, and Flutter web. However, since the assertions are directly related to SDK code i.e. `dart:html`, if an assertion

[2020-10-13 21:18] srujzs commented on #43780
cc @nshahan @sigmundch

[2020-10-13 21:20] sigmundch commented on #43586
It appears that typedef is not used anywhere, so it can be deleted entirely at this time. Given that, I doubt it's behind this issue.

Unfortunately there isn't a good solid process today, it would be great to have one!

To address the original issue, let us know if you have some repro instructions, or if not, maybe you could provide a longer non-minified stack trace?

[2020-10-13 21:27] nshahan commented on #42253
After some experiments and a fix https://github.com/flutter/engine/pull/21784, I am going to close this issue. I believe we have all uses of DDC supporting the option for sound null safety. If we find another example of it not working we should treat it as a bug and file a new issue.

Now tracking the support for toggling the native null asserts in a new issue https://github.com/dart-lang/sdk/issu

[2020-10-13 21:27] #42253 closed

[2020-10-13 21:53] scheglov commented on #43744
OK, I added some debug output to the analyzer, and think that it might be working as expected.

The pertinent debug output:
[code]

What this means is that when we were resolving a Dart file, we found that the file that corresponds to `package:meta/meta.dart` does not exist. The reason, I suspect, is that we have already tried to read `/meta/lib/meta.dart` before it existed, and recorded this fact

[2020-10-13 23:24] scheglov commented on #43777
Yes, all our `analyzer` tests are now based on `PubPackageResolutionTest`, and we then mix `WithNullSafetyMixin` that updates `analysis_options.yaml` to enable the experiment. For the case when Null Safety is enabled by default, we could change `PubPackageResolutionTest` to write `.dart_tool/package_config.json` with `2.8` (?) as the language version for the test package, and `WithNullSafetyMixin`

[2020-10-13 23:29] mnordine commented on #43586
Thanks, if I can get a better stack trace, I'll report it here.

[2020-10-13 23:39] mnordine commented on #31017
Just ran into this with Dart stable 2.10.2 with `OesVertexArrayObject`, :(

[2020-10-14 00:02] ditman opened #43781 "[ddc] Difference in DDC vs dart2js behavior in js-interop."
This is an escalation of bug [#343 in firebase-dart](https://github.com/FirebaseExtended/firebase-dart/issues/343).

In DDC environments (like `flutter run`, or `pub run build_runner serve test`), the JS-interop code of firebase-dart is throwing  a pair of errors: `Uncaught (in promise) null`, and `Uncaught (in promise) TypeError: T.as is not a function at _Future.new.[_setValue]`

<details>
<summ

[2020-10-14 00:21] sigmundch commented on #43705
Sounds like we are branching off from https://github.com/dart-lang/sdk/commit/e256855d07ba9cad5048f012f38a05446ca2fe09, which I believe includes this commit, if so @athomas feel free to close this issue.

@athomas - btw, I noticed that the tag 2.11.0-213.0.dev is not recorded in the git repo, so I couldn't verify as easily that the cherry-pick commit above was actually already in that tag.

[2020-10-14 00:22] EliasDeuss opened #43782 "[dart:io] Add Harmony OS platform detection"
This would be usefull as huawei is moving away from Android but can still run android built apps.

[2020-10-14 02:39] douglasrosa0110 commented on #29247
for me, was the firebase "public" key path, setting to "build/web"

[2020-10-14 02:47] rrousselGit opened #43783 "runZoned does not pass zoneValues to async* functions"
Consider:

[code]

My expectation is that this would print `42 21`

But it actually prints `null 21`

[2020-10-14 05:27] feinstein opened #43784 "Add a const constructor to DateTime"
I am not 100% sure if this is possible, as many parts of the `DateTime` code is marked as `external` and I can't find it, but it would be nice to have a const contructor in `DateTime` so we can pass it as default values to named parameters.

[2020-10-14 07:57] johnniwinther commented on #43756
cc @jensjoha

[2020-10-14 08:00] johnniwinther commented on #43760
cc @jensjoha

[2020-10-14 08:25] eernstg commented on #43551
No more work here, it's covered by sub-issues and they're closed.

[2020-10-14 08:25] #43551 closed

[2020-10-14 08:27] eernstg commented on #43549
No more work here, it's covered by sub-issues and they're closed.

[2020-10-14 08:27] #43549 closed

[2020-10-14 08:28] mraleph commented on #43769
That's the reason I started looking for documentation. If the library (in this case gRPC) wants to add a test that it correctly respects `isInsecureConnectionAllowed` it needs to be able to set the policies somehow, which means library author should be able to find the documentation on how to configure things (if only for tests).

@lrhn Lasse, do you have any suggestions on how to document that? I

[2020-10-14 08:35] sigurdm opened #43785 "VM crashes on malformed paths on windows"
Reproduction:
[code]

[2020-10-14 09:00] #43705 closed

[2020-10-14 09:04] sstrickl commented on #43739
Also went from flaky to RTE in the /1 configuration today on mac-debug ([log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8866478839819480256/+/steps/test_results/0/stdout)).

[2020-10-14 11:06] mkustermann opened #43786 "Incorrect write-barrier elimination"
This example:
[code]
Will hit the write barrier verification code in AOT for the store into the array inside the loop. The write barrier got eliminated for this store, but our code in the GC that will restore invariants after GC explicitly does not take arrays into account:

See [runtime/vm/thread.cc](https://github.com/dart-lang/sdk/blob/1accb303f219b56b125f386efe9502e7f45da01f/runtime/vm/thread.

[2020-10-14 12:37] srawlins commented on #43779
I assume `dart run`  falls under the purview of VM; please re-assign if I am mistaken.

[2020-10-14 12:57] lrhn commented on #43769
I'd prefer not to expose that in public API docs.

I'd perhaps put it as non-DartDoc comments in the file which declares the embedder config class, because then the embedder has a chance to see it.

(I'd also be completely fine with not exposing any "for testing only" hooks at all. More than fine! If the embedder needs to test something, they can build a special binary for it. It's not something n

[2020-10-14 13:01] mraleph commented on #43769
Note this has nothing to do with embedders testing. Dart packages need to have a way to test that they respect `isInsecureConnectionAllowed` correctly in an embedder agnostic way e.g. by running `pub test` which uses default (`dart` binary) embedder. An example of such library is gRPC. You can't require gRPC to build a custom `dart` binary just to verify that `isInsecureConnectionAllowed` is check

[2020-10-14 14:21] sstrickl commented on #43617
[Now seen](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8866470375279025984/+/steps/test_results/0/stdout) on app_jitk-linux-product-x64 as well.

[2020-10-14 14:41] lrhn commented on #43769
ACK, so users of the feature do need to know about the testing part, because they're the ones using it.
No great suggestions then. And it's in `dart:io`, so there is just the one library.

In that case, I'd probably document it in the `isInsecureConnectionAllowed` docs, at the very end with a comment like

(whatever the format is, I'm guessing `true` of the latter and a more complicated format for

[2020-10-14 15:11] mehmetf commented on #43769
FWIW, I would provide a mockable abstraction over `isInsecureConnectionAllowed` for testing purposes at a random Dart package level rather than futzing with env variables.

EDIT: I just saw your edit @mraleph  :) I don't think this is strange. It is a standard way of testing endpoints you do not own. The configurability of network policy is hidden on purpose and is exposed to embedders only. In fa

[2020-10-14 15:23] stereotype441 commented on #43545
Found the problem: Some of the links the migration tool sends from server to client take the form `http:relative_path?query_parameters`.  When the browser is connected to the migration tool over an http connection to localhost, this works as intended (the relative path is joined up with the base directory of the URL the user is currently visiting).  However, if the browser is connected to the migr

[2020-10-14 16:25] devoncarew opened #43787 "FileSystemException: Cannot open file during a move file refactoring"
Reported 11 times by 2 users internallu:

[code]

[2020-10-14 16:56] alexmarkov commented on #43779
@bkonyi

[2020-10-14 17:08] srawlins opened #43788 "Add Never to dart:core, so it can be documented"
The null safety specification includes:

However, api.dartlang.org, at version 2.10, does not include any type, "Never." It seems this type should be declared in dart:core, at least so that it can be documented with doc comments.

Including it in the source for dart:core also means it can be linked to, in dartdoc signatures (like `Never foo()`), and doc comment references (like "This sure does ret

[2020-10-14 17:25] stereotype441 opened #43789 "Analyzer support for nonfunction type aliases"
Main language issue: https://github.com/dart-lang/language/issues/65
Specification: https://github.com/dart-lang/language/blob/master/accepted/future-releases/generalized-typedef-2018/feature-specification.md

[2020-10-14 17:33] stereotype441 commented on #43545
Fix out for review: https://dart-review.googlesource.com/c/sdk/+/167660

[2020-10-14 17:45] stereotype441 opened #43790 "Analyzer should not accept a typedef that refers to itself via bound"
The following program is accepted by the analyzer but rejected by the CFE:
[code]

The CFE's error message is: `Error: The typedef 'F' has a reference to itself.`

I believe the analyzer should reject this program, because of the following spec text (from the "Type Aliases" section):

We will probably want to fix this issue either before or during our work on analyzer support for non-function type

[2020-10-14 17:48] aam commented on #43785
Crashes on linux as well(slightly differently though)

[code]

[2020-10-14 18:22] aam commented on #43785
I imagine this being result of https://github.com/dart-lang/sdk/commit/a212b75ba727e40d28c9add0ad60f39a16b004c6 that allowed for script_uri to remain unpopulated null, which later combines with presence of `--snapshot` option in dartdev-unexpected
fashion(https://github.com/dart-lang/sdk/blob/master/runtime/bin/main.cc#L1294). Hopefully @bkonyi can confirm.

[2020-10-14 18:52] #58227 closed

[2020-10-14 18:54] sanjidbillah commented on #37173
i need this badly right now

[2020-10-14 18:57] #43545 closed

[2020-10-14 19:01] lrhn commented on #43788
There are also no declarations of the `void` or `dynamic` types either. The latter is exported by `dart:core`, but isn't declared anywhere. The former is a reserved word.
The `Never` type is exported from `dart:core` as well, just as `dynamic`, so that would be the most relevant type for comparison. I think we've survived adequately without any `dynamic` declaration to link to.

On the other hand,

[2020-10-14 19:09] lrhn commented on #43784
It's not possible for local time. The actual internal state of `DateTime(2020, 10, 12)` depends on the time-zone at run-time.

For UTC, the calculation needed to go from input values to microseconds-since-epoch might be const-computable, but then you'd get no input validation (`throw` is not a potentially constant expression), and no good way to cache the year/month/day values. The current VM `Dat

[2020-10-14 19:18] #58190 closed

[2020-10-14 19:19] feinstein commented on #43784
Interesting.

A bit off topic but are you guys thinking about adding Joda Time (JRS-310) compatibility to Dart?

[2020-10-14 19:28] scheglov commented on #42832
Well, that's a complication.
Any unresolved identifier gets the `dynamic` type.
And later we don't know if something was declared as `dynamic`, or was given `dynamic` because of a previous error.
This is not different from `Foo foo = resolved.unresolved();`.

[2020-10-14 19:40] bwilkerson commented on #42832
At one point we had an "undefined" type that was distinct from `dynamic` so that we could distinguish between these two cases. I seem to remember that we removed it because it caused complications in the implementation, but I don't remember what kind of complications specifically.

[2020-10-14 19:48] srawlins commented on #43788
If there is no possibility of writing a declaration for `void` which can be documented, then we can search for alternative ways to document `Never`, `void`, and `dynamic`. The alternative might be individual Markdown files which act as doc comments for un-declared types and values, and tooling in dartdoc to use these files.

[2020-10-14 20:08] srawlins commented on #43788
I outlined an alternative, special case procedure at https://github.com/dart-lang/dartdoc/issues/2391#issuecomment-708632038.

[2020-10-14 20:32] ride4sun commented on #33163
any news on the eta of that collection pack. - thx

[2020-10-14 20:54] fidlip opened #43791 "Build error in dart2js"
[SEVERE] build_web_compilers|entrypoint on web/main.dart:
Dart2Js finished with:

packages/KPMG_journey_frontend/src/utils/bpmn/viewer_options.dart:21:3:
Internal Error: The compiler crashed when compiling this element.
  ViewerOptions.internal();
  ^
The compiler is broken.

When compiling the above element, the compiler crashed. It is not
possible to tell if this is caused by a problem in your p

[2020-10-14 21:06] pq opened #43792 "expand `.` to cwd when running `dart fix .`"
[code]

Expected

[code]

[2020-10-14 21:11] rmacnak-google commented on #43770
It looks like the write-barrier elimination bug you found was effectively creating a memory leak by its corruption in this example. I observed unbounded growth even though old-space GC was happening, the heap not shrinking even with forced compaction, and heap snapshots also reporting the heap as all used. Some added Dart code observed cycles in the linked list. With the write-barrier fix patched

[2020-10-14 21:24] pq commented on #43746
A few `--dry-run` variations.

1. List of fixes.
2. List of files.
3. List of fixes and files.
4. List of files with corresponding fixes.

@InMatrix: I'd be curious to get your 2 cents?

[2020-10-14 21:31] ffeldhaus opened #43793 "Documentation improve usage example of getUserMedia method"
The usage example in the [documentation of `getUserMedia`](https://api.dart.dev/stable/2.10.2/dart-html/Navigator/getUserMedia.html) [can cause errors due to the usage of `createObjectURL` as browsers are disabling support for it](https://stackoverflow.com/a/33759534/1128705). Just attach `MediaStream` object directly to the `srcObject` property of `VideoElement` and consider adding width and heig

[2020-10-14 21:37] matanlurey opened #43794 "<Error>.stackTrace is undocumented"
https://api.dart.dev/stable/2.10.2/dart-core/Error/stackTrace.html

It should probably have 2-3 lines about this being `StackTrace.empty` (?) when created and non-null when caught:

[code]

[code]

[2020-10-14 21:41] bwilkerson commented on #43746
Alternatively, we could wait until we have a user request for such a feature. That would allow us to get an actual (as opposed to a theoretic) use case.

But for the record, if there _is_ a use case for listing fixes, I would propose listing the number of each diagnostic that would be fixed rather than some kind of diff of each fix.

[2020-10-14 21:56] rakudrama opened #43795 "excludes in analysis_options.yaml appears to be ignored"
In the dart build the analyzer produces messages for the `/data/` directories
[code]
even though they are excluded:
https://github.com/dart-lang/sdk/blob/master/pkg/compiler/test/analysis_options.yaml#L11
[code]

I could move the exclusions into the analysis_options.yaml in the parent directory, but we want to keep the ability to enable different diagnostics in the `/test/` directory.

/cc @schegl

[2020-10-14 21:57] lrhn commented on #43783
That's correct behavior.

The two `runZoned` calls are not nested, they are both run in the root zone, so there is no zone where both `foo` and `bar` is set. So, you're going to get either `42 null` or `null 21` depending on which zone the `print` runs in.

The `stream` variable is bound to a stream, and streams do not live in any particular zone. They don't remember the zone the `Stream` object w

[2020-10-14 21:57] #43783 closed

[2020-10-14 22:03] sigmundch commented on #43791
Thanks for reporting the issue.

To make it easier for us to investigate, could you provide a small code snippet that triggers this?

Also, Dart 2.1.0 is a few months old, does this issue show up on the latest stable release (2.10.1)?

[2020-10-14 22:17] #43792 closed

[2020-10-14 22:25] devoncarew commented on #43795
Thanks for the report!

We have a long standing issue w/ the `dartanalyzer` command line tool - it doesn't respect the analysis options excludes settings. We're likely not going to address it - it would take some refactoring of the command line tool, and we'll deprecate that tool over time in favor of the new `dart analyze` command. I'd recommend using that command if possible - it does respect th

[2020-10-14 22:25] #43795 closed

[2020-10-14 22:30] rakudrama commented on #43795
Can `dart analyze` be run from here? https://github.com/dart-lang/sdk/blob/master/tools/bots/test_matrix.json#L2847

[2020-10-14 23:19] natebosch commented on #33163
The package won't be published for a stable SDK until null safety is out. For dev SDKs it will likely be published in the next couple weeks.

[2020-10-14 23:54] franklinyow commented on #43178
Any work left before we can close this?

[2020-10-15 01:32] ericdallo commented on #43043
Sure @DanTup, sorry for the delay.
It works using flutter beta channel, dart 2.10.0.
Thank you @DanTup!

[2020-10-15 02:18] imReker commented on #39945
@YazeedAlKhalaf
Try this hack: https://github.com/flutter/flutter/issues/47891#issuecomment-708850435

[2020-10-15 02:43] srawlins commented on #43178
We should see if it is still reproducible.

@DanTup can you still reproduce this on your end, with a recent version of Dart/Flutter?

[2020-10-15 05:35] tvolkert opened #43796 "VM crash: The getter 'topologicalIndex' was called on null"
Getting the error below fairly frequently while coding my Flutter app in debug mode and hot reloading.  When the error happens, the VM terminates.

[code]

## Version info

[code]

/cc @mraleph can you help route this?

[2020-10-15 05:36] tvolkert commented on #43796
Hmm.. actually the VM may not terminate, but the IDE's connection to it does.

[2020-10-15 07:21] cv692001 commented on #41676
@natebosch  Okay I will be happy to do it 👍 . So , can you please assign this to me I will complete this As Soon As Possible !

[2020-10-15 07:22] YazeedAlKhalaf commented on #39945
Well thanks a lot, @imReker, it works fine for me now! I really appreciate it 🙈🔥🚀
I used it in my [Flutter Installer](https://github.com/YazeedAlKhalaf/Flutter_Installer) here

Anybody wondering how, this is my `main.cpp` file
comments surrounding the solution by @imReker, his comment: [flutter/flutter#47891 (comment)](https://github.com/flutter/flutter/issues/47891#issuecomment-708850435)
[code]

[2020-10-15 07:29] cskau-g commented on #43543
The test introduced in [164540](https://dart-review.googlesource.com/c/sdk/+/164540) is unfortunately failing across multiple bots (as also tracked on several other related issues), but since this issue is still open I'll tag that onto here and approve the failures for now.

[2020-10-15 07:31] mraleph commented on #43796
/cc @johnniwinther

[2020-10-15 07:32] mraleph commented on #43796
Duplicate of #43760

[2020-10-15 07:32] #43796 closed

[2020-10-15 08:11] mraleph opened #43797 "[CP][stable channel][beta channel] Fix handling of named parameter types in CFE when initialising from Kernel"
**commit(s) to merge**: aa329dc0d05b398ce57057a0d2842b7167130845

**merge instructions**: clean merge

**What is the issue**: When initialising from Kernel binary CFE incorrectly handles types of named parameters when handling function types, leading it to use types of positional parameters at corresponding positions instead.

**What is the fix**: Fix the typo in the code to make it refer to the n

[2020-10-15 08:49] #43461 closed

[2020-10-15 08:49] #43703 closed

[2020-10-15 08:56] Hixie opened #43798 "dart:io WebSocket documentation issues"
dart:io.WebSocket.readyState doesn't say what the range of its values is. The constants on WebSocket have no documentation at all. (One presumes these are related.)

Neither the methods on the class, nor the class itself, mention what exceptions one might experience when dealing with a WebSocket object.

[2020-10-15 09:29] lrhn commented on #43788
Adding a documentation node without a declaration to hang it on will definitely solve the problem. Well, -ish, because DartDoc would still need to special-case `void` because it's not exported by `dart:core` at all. For types which are exported by a `dart:*` library, adding the name to the "export scope" for documentation purposes too would work.

It's perhaps a big hammer to add a generalized fun

[2020-10-15 10:02] lrhn opened #43799 "Possible logic error in `StreamIterator`"
The post https://stackoverflow.com/questions/64367040/rxdart-sharereplay-not-hot/64368908#64368908
displays an error which suggests that there is a logic issue in the state transition of the `StreamIterator` class.
The error shown suggests that the `_onData` callback is called *during* the `onListen` call on the stream, before the iterator has moved to the "is listening and waiting for data" state

[2020-10-15 10:14] mkustermann commented on #43770
@rmacnak-google The example was flakily crashing for me, which lead me to the bug in write-barrier elimination. I've tried now with the fix and it seems on my Mac the memory growth doesn't happen anymore so it's probably indeed due to the bug.

[2020-10-15 10:41] #43770 closed

[2020-10-15 10:41] #43786 closed

[2020-10-15 11:11] eernstg opened #43800 "[cfe] Crash with cyclic dependency in type alias"
Consider the following program:

[code]

This program crashes the front end with a fresh `dart` from 342f9f0d3cac0ae86b38e78aa9e6ccf9a94276a3, with a stack trace that indicates an infinite loop. Hence, some extra checks for cyclic dependencies in a type alias seem to be needed.

[code]

Variants like `typedef F = List<Function<X extends F>()> Function();` and `typedef F = Function(List<Function<X

[2020-10-15 12:04] SteveAlexander commented on #43765
This issue is making it painful to develop a flutter app. I get about 5 minutes of use from the analyzer before I need to restart it.

Is there anything I can do to work around the problem? Or anything I can do to help towards a fix?

[2020-10-15 13:14] mkustermann commented on #43208
We already had a bug for this in https://github.com/dart-lang/sdk/issues/40195 . Due to more context here I'll close the other issue.

@sstrickl is going to work on this soon.

[2020-10-15 13:14] mkustermann commented on #40195
Merging into https://github.com/dart-lang/sdk/issues/43208 which has a little more context.

[2020-10-15 13:14] #40195 closed

[2020-10-15 13:17] #43689 closed

[2020-10-15 13:42] DanTup commented on #43178
Sorry, I missed some of the previous notifications. I tested this again, and do not see the error anymore. Some minor issues I did see though (lmk if these are better in their own issues - or are expected/known):

1. Inconsistent path formats

![path_formats](https://user-images.githubusercontent.com/1078012/96134218-1eb5ba00-0ef3-11eb-9451-dc09aa0bebc6.png)

2. Weird text rendering issues

There'

[2020-10-15 14:31] tvolkert commented on #43760
@jonahwilliams does this appear to be in the recent stable release of Flutter?

[2020-10-15 14:32] johnniwinther commented on #43760
The fix in https://dart-review.googlesource.com/c/sdk/+/167441 has landed.

[2020-10-15 14:52] wer-mathurin opened #43801 "html.window.navigator.mediaDevices.enumerateDevices() only retrieved the default camera"
Before authorizing access to a camera....
The first time html.window.navigator.mediaDevices.enumerateDevices() is call it only find the default camera as defined in Chrome and the deviceId is not populated when there is only one camera retrieved. So this is a problem with the enumeratedDevices() => html_dart2js.dart

After the authorization have been granted
If you call html.window.navigator.media

[2020-10-15 14:56] wer-mathurin opened #43802 "getUserMedia(mediaConstraints) does not consider deviceId and always open the default camera"
When you pass the constraint to the getUserMedia(mediaConstraints), it always open the default camera and do not considerer the deviceId pass in the constraints. To test this you can change the default camera in Chrome and you will see that It will open the default one.

[code]

This tracker is for issues related to:
dart2js

Dart SDK Version (dart --version)
Dart SDK version: 2.10.1 (stable) (Tue

[2020-10-15 14:59] bkonyi commented on #43785
Yup, that looks like it could cause the issue. I'll investigate.

[2020-10-15 15:58] devoncarew commented on #43746
I agree with this generally - it's easy to end up with too many options and flags otherwise.

However, note that this is feedback from me when I was first using the tool. I noticed the lack of some kind of preview of what the tool would do.

For comparison, some related tooling is `go fix` (https://golang.org/cmd/fix/). It has a `-diff` flag to print a git diff of the changes that would be made (a

[2020-10-15 16:08] srawlins opened #43803 "User reported issue: Windows path slashes are inconsistent"
See @DanTup 's [comment here](https://github.com/dart-lang/sdk/issues/43178#issuecomment-709333383), point 1.

[2020-10-15 16:13] srawlins opened #43804 "User reported issue: weird text highlighting drift with inserted cast."
See @DanTup 's [comment here](https://github.com/dart-lang/sdk/issues/43178#issuecomment-709333383), point 2.

[2020-10-15 16:15] srawlins opened #43805 "User reported issue: Add hint button applies to disk immediately"
See @DanTup 's [comment here](https://github.com/dart-lang/sdk/issues/43178#issuecomment-709333383), point 3.

It appears that one of the "Add hint" buttons (there are different kinds) is applying to disk immediately.

[2020-10-15 16:15] srawlins commented on #43178
I've filed #43803, #43804, and #43805 for these other issues.

[2020-10-15 16:16] #43178 closed

[2020-10-15 16:22] jonahwilliams commented on #43760
@tvolkert this feature is only explicitly enabled in master/dev

[2020-10-15 16:23] franklinyow commented on #42754
What's the status on this?  Is this required for Beta?

[2020-10-15 16:24] franklinyow commented on #42535
Any update?  Thx

[2020-10-15 16:24] nshahan commented on #42754
The fixes are out for review now. I would like the change to land so we can get feedback during the beta.

[2020-10-15 16:28] pq commented on #43746
I was looking at `go fix` actually.  I wonder if a `git diff` is really what folks would want.  Alone it doesn't answer, for example, what fixes were applied and in the case of many could be pretty overwhelming.  Dunno!

📟 @InMatrix

[2020-10-15 16:29] franklinyow commented on #42691
Are we ready to mark this done?

[2020-10-15 16:35] bwilkerson commented on #43746
To help me understand better, what goal did you have that caused you to want a preview as part of the tool (as opposed to using something like `git diff` to see the changes)?

I definitely agree that we need to understand what use case `git diff` doesn't cover, if any. (Hence the question above.)

I find it interesting that `go tool fix` provides a flag to print the same thing as `git diff` and th

[2020-10-15 16:36] InMatrix commented on #43746
It's hard to give a quick comment without further investigation (e.g., looking at how similar tools do this). My 2 cents are the user probably cares more about the types of automatic fixes to be applied than the scope of those changes. For example, if a fix is about renaming a Class, the user might have a lot of confidence in the tool's ability to do it right and just let it apply all the changes.

[2020-10-15 16:42] franklinyow commented on #43797
FYI @pcsosinski

[2020-10-15 16:45] DanTup commented on #43803
I don't know if it's the case here, but I think I've seen similar where code was using `Uri.path` where `Uri.toFilePath()` would have been more appropriate.

[2020-10-15 16:45] jonahwilliams commented on #43760
(The code will still be present on later channels, but the [features](https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/features.dart#L239) in the tool will not enable it.

[2020-10-15 16:47] franklinyow commented on #43777
Move this under the Analyzer Epic

[2020-10-15 17:36] devoncarew commented on #43774
Thanks for the fix! We should likely keep this issue open, so we remember to revert this change after TP2 (before beta).

[2020-10-15 17:50] devoncarew opened #43806 "dart migrate should update the user's analysis_options.yaml file"
When running `dart migrate` on a pre-nnbd-flag-flip sdk, we should insert the correct null safety opt-in into the user's analysis options file.

We've had this feature previously (https://www.google.com/url?q=https://github.com/dart-lang/sdk/commit/4f2e21b351dcd730ba28d1f4f85bf0edb0ae9272%23diff-dc8e2853c1073e53d0065716c282a204cf4801122990ae7c7ebfbfb13d89ec40&sa=D&ust=1602698527784000&usg=AOvVaw0C

[2020-10-15 17:51] leafpetersen opened #43807 "Infra failure on flutter-frontend-try"
I'm seeing infra failures with my [flag flip CL](https://dart-review.googlesource.com/c/sdk/+/166790) for null safety that I don't really know how to debug.  See [here](https://ci.chromium.org/p/dart/builders/try/flutter-frontend-try/370?) for log.

@athomas who's the right person to look into this?

[2020-10-15 18:02] liamappelbe opened #43808 "Some ported tests are failing on windows NNBD bots."
Some tests ported by [this CL](https://dart-review.googlesource.com/c/sdk/+/154825) are failing on some windows NNBD bots:
https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8866401050890555408/+/steps/test_results/0/logs/new_test_failures__logs_/0
https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8866401050890555280/+/steps/test_results/0/logs/new_

[2020-10-15 18:08] wer-mathurin commented on #43802
The problem come from constraints parameter is converted to JS object using convertDartToNative_Dictionary which does not work recursive as you can see in its implementation.

[2020-10-15 18:18] franklinyow commented on #43797
Approved in SCRUM

[2020-10-15 20:02] matanlurey commented on #32454
Chatted internally with @natebosch - despite this being marked fixed I actually don't see how I can access the `ResolvedLibraryResult` object or migrate off of using `src/` for `package:analyzer`, which was what this ticket was originally about. Here is a reference to our current code:

[code]

[2020-10-15 20:09] slightfoot commented on #43637
More information after investigation:
 * I have found there is a [dart/boringssl_gen](https://dart.googlesource.com/boringssl_gen.git) repo that is which contains the magic GN glue that makes boringssl compile with the dart-sdk.
* The problem we have is that the GN build script here does not process outlined in the [BoringSSL FIPS-140 document](https://boringssl.googlesource.com/boringssl/+/master

[2020-10-15 20:12] jonahwilliams opened #43809 "StackOverflow in WebSocket implementation"
Interesting crash report from the flutter tooling, not user code:

[code]

This seems to point to the data being output from the socket having a cycle, or being massive?

https://github.com/dart-lang/sdk/blob/master/sdk/lib/_http/websocket_impl.dart#L1145

Flutter dev/1.23.0-18.0.pre
Dart version  2.11.0-213.0.dev (dev) Linux

[2020-10-15 20:20] a-siva opened #43810 "Incorrect output from simple test in AOT mode when the option --enable-experiment=non-nullable is used"
The following test generates incorrect output when run in precompiled (AOT) mode
[code]

When run using the JIT it works fine
[code]

However we running on the precompiled runtime the results are different

[code]

The flutter engine also uses the product configuration and is seeing a similar issue.

[2020-10-15 20:21] a-siva commented on #43810
/cc @alexmarkov @crelier

[2020-10-15 20:21] a-siva commented on #43810
/cc @chinmaygarde

[2020-10-15 20:21] a-siva commented on #43810
The error does not reproduce when the `--enable-experiment=non-nullable` option is not used.

[2020-10-15 20:28] eernstg opened #43811 "`late x;` not detected as a syntax error"
Consider the following program:

[code]

This program is accepted by both the front end (using `dart`) and `dartanalyzer`. However, this program cannot be derived by the language grammar, `late` must always be followed by `final`, `var`, or a type.

[2020-10-15 20:31] eernstg opened #43812 "[cfe] `late x;` not detected as a syntax error"
This is the front end specific issue for #43811, which has the details.

[2020-10-15 20:31] eernstg opened #43813 "[analyzer] `late x;` not detected as a syntax error"
This is the analyzer specific issue for #43811, which has the details.

[2020-10-15 20:42] #43760 closed

[2020-10-15 20:45] srawlins commented on #43806
CL is out for review. https://dart-review.googlesource.com/c/sdk/+/167862

[2020-10-15 20:58] DenisDashkevich opened #43814 "[WEB] dart2js incorrect call<T> behavior"
This tracker is for issues related to:

* dart2js

Dart SDK version: 2.10.0-110.3.beta (beta) (Tue Sep 15 14:39:26 2020 +0200) on "macos_x64"
Browser: Chrome

Hello, dear Dart team, please take a look at this DartPad snippet and the actual output for this snippet.
https://dartpad.dev/c916c079e125132e11816619a3baf87b

In case if the URL is not accessible:

[code]

and the output:
[code]

looks like

[2020-10-15 21:12] fidlip commented on #43791
Thank you for reply. Project is very huge to realize what could really reproduce this error, but what I can read from message, it could be this class
`
@anonymous
@JS()
class ViewerOptions {
  Element container;
  dynamic width;
  dynamic height;
  Object moddleExtensions;
  List<Object> modules;
  List<Object> additionalModules;
  ViewerOptions.internal();

  factory ViewerOptions({Element contai

[2020-10-15 21:20] fidlip commented on #43791
I just tried to update at least to 2.2.0 and it seems the issue disappears. I am closing issue. Thank you.

[2020-10-15 21:20] #43791 closed

[2020-10-15 21:53] annagrin opened #43815 "[front_end] Consider adding extension mode for compiling private fields in libraries"
During debugging, users might want to evaluate expressions that contain references to private fields in other libraries.

Currently, VM's incremental compiler allows that by simply making the parameters to the synthetic procedure, that is created for expression evaluation, have dynamic types.

In web scenario we need the types to generate correct JavaScript code:
Issue: https://github.com/dart-lan

[2020-10-15 22:12] franklinyow commented on #43810
@franklinyow following

[2020-10-15 22:46] bwilkerson commented on #43726
I will note that this currently impacts both `HintCode.MISSING_RETURN` (the diagnostic referenced above) and `CompileTimeErrorCode BODY_MIGHT_COMPLETE_NORMALLY`, depending on whether Null Safety has been enabled. In both cases the suggestion to add `async` ought to only be provided if the return type is `Future<void>` and there are no other `return` statements in the body.

[2020-10-15 22:58] sigmundch commented on #43815
It would be helpful to define upfront:  _What does it mean to write `x._foo` in a breakpoint?_

I had the impression that the semantics in this case were the same if you were to modify the source file at the location of that breakpoint and insert the expression by hand (similar to writing `print('${x._foo}')`). Under such interpretation, you would only be allowed to evaluate private fields from th

[2020-10-15 23:13] leafpetersen opened #43816 "[dart2js] dart2js unit tests need updating for null safety release"
I'm tracking down failures with the [flag flip CL](https://dart-review.googlesource.com/c/sdk/+/166790), and I'm seeing some dart2js failures.  It looks to me like dart2js is being called programmatically with a string representing a dart program, which has no language version associated with it.  See for example:

pkg/compiler/test/codegen/builtin_interceptor_test

Either these program snippets n

[2020-10-15 23:17] leafpetersen opened #43817 "[VM] VM test failures with null safety enabled"
I'm tracking down failures with the [flag flip CL](https://dart-review.googlesource.com/c/sdk/+/166790) and am seeing some failures (for example [here](https://ci.chromium.org/p/dart/builders/try/vm-canary-linux-debug-try/38866?)).

Looking into it briefly, I see tests that look like this:

[code]

The failures indicate that the script being built up there is not being treated as opted in, which m

[2020-10-15 23:23] alexmarkov commented on #43810
The problem is that the first argument of `_Float64List.[]=` was unboxed, but flow graph intrinsic provided by the VM expects it to be boxed.

Kernel (should be both product and with sound null safety):
[code]

Regular flow graph (argument is unboxed):
[code]

Intrinsic graph:
[code]

@mkustermann

[2020-10-15 23:26] sigmundch commented on #43816
@rakudrama @joshualitt have recently been migrating some of these tests so that we don't encode them in strings, but in .dart files directly. So my guess is that we'd eventually want the language version on each test.  Stephen/Joshua WDYT?

Given that the flag flip is time sensitive, we want a short-term fix first before we finish the migration the tests, though.

Here is a link to some of the fai

[2020-10-15 23:39] greglittlefield-wf commented on #42832
So, I assume re-implementing a distinction between the two cases is out of the question?

That aside, just to make sure I have a correct understanding of what the path forward for us currently looks like...

We'd be going from what we have now:
[code]
...to utilizing the latest implementation added in that commit and either:
[code]

(It might be worth noting that having the cast isn't ideal becaus

[2020-10-15 23:51] kevmoo commented on #42832
Are you sure about *B:* ?

For top-level final fields, I believe this is fixed!

On Thu, Oct 15, 2020 at 4:39 PM Greg Littlefield <notifications@github.com>
wrote:

[2020-10-15 23:55] greglittlefield-wf commented on #42832
Oh you're right: making it final gets rid of the type_annotate_public_apis lint! Nice!! I'll update that example
[code]

[2020-10-16 00:07] scheglov opened #43818 "Crash when recursive extends and LUB."
[code]

Example is [here](https://crash.corp.google.com/browse?q=product_name%3D%27Dart_analysis_server%27+AND+product.Version%3D%272.10.323947298-edge%2Bgoogle3-v2%27+AND+ReportID%3D%27b123cd4614fb57ce%27&stbtiq=&reportid=&index=0#7).

[2020-10-16 00:12] alexmarkov opened #43819 "[vm] Ensure that all intrinsics support unboxed parameters and return value"
With null safety compiler has more opportunities to unbox parameters and return values.

We need to carefully check that all our intrinsics (both graph and asm) support unboxed parameters and return values. Intrinsics should either handle both unboxed and boxed, or issue a fatal error to avoid silently generating incorrect code.

Example of missing support for unboxed parameter: https://github.com

[2020-10-16 00:13] alexmarkov commented on #43810
Fix for this particular case: https://dart-review.googlesource.com/c/sdk/+/167865
Issue to check if this bug occurs in other cases: https://github.com/dart-lang/sdk/issues/43819

[2020-10-16 00:21] feinstein opened #43820 "DateFormat parse overflows"
Trying this:

[code]

Results in `03:18` and not a `FormatException`.

The docs mention `parseStrict` for dates but not times, it would be nice to add a mention to time as well.

[2020-10-16 01:01] nu8 opened #43821 ""int main" return value should set VM exit value"
If you have a Dart program like this:

[code]

Some people might expect the Dart VM exit value to be `1`, but it will be in
fact `0`. I understand that `main` can return different types, but I think when
the type is `int`, it is reasonable to expect that the VM exit value will match
`main` return value. This is how it is done with many other languages, for
example C++:

[code]

C#:

[code]

Rust:

[2020-10-16 01:57] #43779 closed

[2020-10-16 02:35] etx commented on #39106
We build a command line app with dart2native the acts as a bridge in Chrome using it's NativeMessaging api. But with the binary in a mac app bundle we can't codesign or notarize 😭

[2020-10-16 06:54] athomas commented on #43807
Thanks, that's an infra issue. The script is in https://github.com/flutter/buildroot/blob/master/tools/dart/create_updated_flutter_deps.py (in Flutter's buildroot which isn't checked-out by the flutter-frontend builder).

[2020-10-16 07:55] mkustermann opened #43822 "[CP][beta channel][stable channel] Fix for bug in the optimizing compiler in the write barrier elimination"
**Commit(s) to merge**: 32dfefbea17d92302147bec203324606200315f9

**Merge instructions**: Merges cleanly.

**What's the problem**:

We had a bug in the optimizing compiler in the write barrier elimination which can cause memory corruption and therefore undefined behavior, possibly leading to crashes.

**What is the fix**:

Correctly handle arrays in write-barrier elimination in presense of phis.

[2020-10-16 08:12] mkustermann commented on #43819
As a conservative mechanism, I have suggested recently to add a bidirectional mapping between recognized methods in VM and in Dart source code by adding a pragma and checking it. @askeksa-google is working on this and will take advantage of it in the signature shaker and the plan is to also do this for unboxing implementation in TFA.

We can then re-visit this to allow more precision without the e

[2020-10-16 08:16] mkustermann commented on #43819
One possible way for graph intrinsics in particular, would be to either run a select representations pass and/or add a flow graph checker verification pass to ensure representations match.

[2020-10-16 08:30] lrhn commented on #43821
The VM can obviously check whether `main` returns an `int`, and then use that as exit value ... *if the programs ends when `main` returns*.

That won't work for asynchronous programs. For those, `main` returning is the start of the program, not the end. Even if `main` returns a `Future<int>`, that future completing doesn't have to be the end of the program, it can easily continue running for a lon

[2020-10-16 09:08] athomas commented on #43807
https://dart-review.googlesource.com/c/sdk/+/167806 should fix it.

[2020-10-16 09:49] mkustermann commented on #43821
@nu8 This is understandably very confusing when coming from a different programming language that is used to having a single `main` function which, on return, causes shutdown of the process.

Though, as @lrhn explains, we are in a different situation: Even if `main` has returned the program might continue running. In fact a Dart application compiled to JavaScript running in the browser will never

[2020-10-16 09:49] #43821 closed

[2020-10-16 10:16] mkustermann opened #43823 "Flakily crashing samples/ffi/async/async_test"
From flakiness [log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8866310470854271968/+/steps/test_results/0/logs/ignored_flaky_test_failure_logs/0):
[code]

/cc @dcharkes

[2020-10-16 10:19] mkustermann opened #43824 "Flaky crashes in vm/cc/Profiler* tests"
From flakiness [log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8866393790147772032/+/steps/test_results/0/logs/ignored_flaky_test_failure_logs/0):
[code]

/cc @bkonyi @rmacnak-google  for profiler

[2020-10-16 10:20] mkustermann commented on #43824
There are also other `vm/cc/Profiler_*` tests crashing, in different configurations in different ways, e.g. [log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8866401050890555424/+/steps/test_results/0/logs/ignored_flaky_test_failure_logs/0):
[code]

[2020-10-16 12:20] hy-net commented on #33698
**enum** is NOT syntax sugar.

enum is known at compile time, but class is only know at run time.

[2020-10-16 12:59] #43806 closed

[2020-10-16 16:52] sigmundch opened #43825 "Add support for retries by default in dart2js deferred loading"
A few teams already use the dartDeferredLibraryLoader hook only to add support for retries. We should provide this functionality by default.

[2020-10-16 17:00] #43810 closed

[2020-10-16 17:13] franklinyow commented on #43822
@mkustermann Can you edit this request with our new template?  It will help the scrum team to approve this faster without going back for more information.  You can find the link to the template at the bottom of this page : https://github.com/dart-lang/sdk/wiki/Cherry-picks-to-a-release-channel

[2020-10-16 17:29] grouma opened #43826 "[VM Service Protocol] Support frame offsets in getStack call"
Dart DevTools makes use of the top frame in the paused [event](https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md#event) to immediately show the paused state. It then lazily requests for the remaining frames. Although this doesn’t reduce the total time to translate the entire Dart stack, it does improve the usability of the tool. Users can step immediately after receiving t

[2020-10-16 17:29] grouma commented on #43826
Related to https://github.com/dart-lang/webdev/issues/993

[2020-10-16 17:31] grouma opened #43827 "[VM Service Protocol] Support lazily computing bound variables for frames"
The VM Service protocol requires all bound variables to be computed for a [frame](https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md#frame). Each bound variable, for web debugging, potentially requires an [evaluation](https://github.com/dart-lang/webdev/blob/b4bc2dc6055e16c6653074739998ba6d493277fd/dwds/lib/src/debugging/debugger.dart#L366) in Chrome to compute which introd

[2020-10-16 17:32] grouma commented on #43827
Related to https://github.com/dart-lang/webdev/issues/993 and https://github.com/dart-lang/sdk/issues/43826

[2020-10-16 17:46] alexmarkov opened #43828 "Make sure small methods and constructors in package:vector_math are inlined in AOT"
`package:vector_math` has a lot of small methods and constructors, which are not always inlined in AOT-compiled code.
This prevents other optimizations (e.g. allocation sinking) from happening.

For example, on `ParticleSystemUpdate` benchmark the following methods are not inlined:

[code]

@mraleph @mkustermann

[2020-10-16 17:57] mkustermann commented on #43828
This `normalize` method doesn't look very small - most likely if this is inlined into multiple places it will create increase in code size. So if one would like to inline it for performance reasons I would suggest changing `package:vector_math` to use `@pragma('vm:prever-inline')`.

[2020-10-16 18:09] devoncarew opened #43829 "include the stack depth (the frame count) in the vm service protocol's pause event"
The vm service protocol's pause event (see https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md, `class Event`) contains information about the top stack frame when an isolate is paused.

Some clients need a bit more information in order to efficiently render a view of the stack frames when paused. VS Code for example, wants to know the total number of stack frames. This allow

[2020-10-16 18:12] franklinyow commented on #43822
@vsm @pcsosinski

[2020-10-16 18:12] grouma commented on #43829
Related to the following:
https://github.com/dart-lang/sdk/issues/43826
https://github.com/dart-lang/sdk/issues/43827
https://github.com/dart-lang/webdev/issues/993

[2020-10-16 18:14] pcsosinski commented on #43822
based on https://github.com/dart-lang/sdk/issues/43770, should we pick this to stable?  @dnfield for thoughts on whether this is needed for Flutter 1.22

[2020-10-16 18:27] devoncarew commented on #43746
Just for clarification, I don't know that we want a git diff like view (like `go fix`), but do think that we'll likely want some useful preview of changes we might make (probably w/ some info about the error codes we're matching against, or the framework refactorings we'll run).

[2020-10-16 19:13] leonsenft opened #43830 "invalid_annotation_target hints are not shown when top-level variable is used as annotation"
It's common practice for an annotation without parameters to be defined as a private class which is exposed as a public top-level variable:

[code]

[code]

The new [@Target](https://pub.dev/documentation/meta/latest/meta_meta/Target-class.html) annotation is a fantastic idea for enforcing correct usage of annotations. Unfortunately, the hints produced by this annotation (invalid_annotation_target

[2020-10-16 19:19] dnfield commented on #43822
I'm having a little trouble getting a sense of how many Flutter customers this would actually impact.

Once it rolls into the engine I'll see if I can run a couple tests on some memory related issues we've been looking at.

[2020-10-16 19:41] a-siva commented on #43810
https://github.com/flutter/engine/pull/21919 is the PR that is rolling this change into the Flutter engine.

[2020-10-16 20:06] #43228 closed

[2020-10-16 20:39] bwilkerson commented on #43830
Sorry for the bug, but thanks for letting us know! This should be fixed by https://dart-review.googlesource.com/c/sdk/+/168126

[2020-10-16 20:39] #43830 closed

[2020-10-16 20:44] leonsenft commented on #43830
Thank you for the quick fix!

[2020-10-16 20:59] rakudrama commented on #43816
I'll take a look at some of these later today.

[2020-10-16 22:25] stereotype441 commented on #43800
FYI, https://dart-review.googlesource.com/c/sdk/+/167720 introduces a non-function type alias that exhibits a similar crash.  The test is cfe-strong-linux:language/nonfunction_type_aliases/cyclic_expansion_error_test and the stack trace looks like this:
[code]

I'm assuming it's the same root cause; if it isn't, feel free to split this out to its own issue.

[2020-10-16 22:30] stereotype441 commented on #43790
After further experimentation it seems that the analyzer and the CFE have a number of differences in how they check for circularities.  I've filed a language issue, and I'll postpone further work on this until that language issue is resolved: https://github.com/dart-lang/language/issues/1261

[2020-10-16 23:04] stereotype441 opened #43832 "Support for nonfunction type aliases"
This is the overall epic for nonfunction type aliases.

Main language issue: https://github.com/dart-lang/language/issues/65
Specification: https://github.com/dart-lang/language/blob/master/accepted/future-releases/generalized-typedef-2018/feature-specification.md

[2020-10-17 00:19] natebosch commented on #43744
This appears to be the root of the problem. We implemented an API assuming that `parseFile` _wouldn't_ read all dependencies.

I can crawl transitive imports when using `parseFile` like we do for the other usage, this make things more safe but potentially less performant. @jakemac53 probably has a better intuition for how bad it would be.

I think even outside of the `parseFile` case we actually h

[2020-10-17 00:21] leafpetersen commented on #43807
I'm still seeing an [infra failure](https://ci.chromium.org/p/dart/builders/try/flutter-frontend-try/387?) with the fix above included, is it getting farther and failing somewhere else, or does this need to roll somewhere?

[2020-10-17 00:23] leafpetersen commented on #43777
Is someone working on this?  We will be blocked on this in the not too distant future.

[2020-10-17 01:01] kevmoo commented on #43744
Thanks so much for the investigation, @natebosch !

I've only seen this being hit trying to update the dependencies on analyzer for angular – https://github.com/dart-lang/angular/pull/1927

Some folks have asked about getting latest dependencies, but it doesn't seem like anyone is blocked – not urgent.

If a workaround is easy to pull together, we could certainly run some A/B tests across a few pa

[2020-10-17 05:23] zanderso commented on #43637
I can see a couple of options:
1. Translate the logic in the reference CMake build to GN.
2. In the GN build, delegate building the BoringSSL static libraries to the reference CMake build.
Both (1) and (2) require the Dart build to take a new build-time dependency on `go`, and (2) also requires a new build-time dependency on `cmake`.

My suggestion would be (1) since it has fewer new dependencies.

[2020-10-17 05:25] leafpetersen opened #43833 "[CFE] CFE unit tests must be opted out of null safety explicitly"
I'm tracking down failures with the [flag flip CL](https://dart-review.googlesource.com/c/sdk/+/166790) and am seeing failures in the CFE.  Some of these seem to because the CFE is generating code snippets that must be opted out once the flag is flipped (either with an `// @dart = 2.9` marker, or programmatically.  See for example [these](https://ci.chromium.org/p/dart/builders/try/front-end-linux

[2020-10-17 08:00] daikitrust1003 opened #43834 "[analyzer] No published analyzer available for language version 2.10.0"
# Overviews

Today, I've executed `flutter pub run build_runner build` command.
But, I've got error and `build_runner` task never ended.

The error is
[code]

So, I did `flutter packages upgrade`, but nothing changes.

Maybe this is the first time after `flutter upgrade` from 1.20.4 to 1.22.1.
So, I think this upgrade might be the reason.

# Environment
- OS
  - macOS Catalina 10.15.6
- Flutter SD

[2020-10-17 08:09] mkustermann opened #43835 "[CP] Cherry-pick for AOT compiler assertion preventing certain apps from compiling"
**commit(s) to merge**: 13d2937f768180b083ce6ffdcf7d3cd9a4c5440a

**merge instructions**: clean (auto)merge

**What is the issue**: Compiling AOT applications that have classes with many fields where our whole-world analysis tells us that the 65+th field can be unboxed and an implicit getter function is needed, will hit a too conservative release assertion, thereby not allowing compiling those app

[2020-10-17 08:55] #43834 closed

[2020-10-17 08:56] daikitrust1003 opened #43836 "[analyzer] No published analyzer available for language version 2.10.0"
# Overviews
Today, I've executed flutter pub run build_runner build command.
But, I've got error and build_runner task never ended.

The error is
[code]
So, I did flutter packages upgrade, but nothing changes.

Maybe this is the first time after flutter upgrade from 1.20.4 to 1.22.1.
So, I think this upgrade might be the reason.

# Environment
- OS
  - macOS Catalina 10.15.6
- Flutter SDK
  - 1.22

[2020-10-17 08:57] #43836 closed

[2020-10-17 17:06] scheglov opened #43837 "Clean up after Null Safety is enabled by default"
The CL that will be landed: https://dart-review.googlesource.com/c/sdk/+/166790

The issue to change analyzer tests: https://github.com/dart-lang/sdk/issues/43777

[2020-10-17 17:12] Delgan opened #43838 "Uri.toString() for "mailto" does not encode spaces properly (`+` instead of `%20`)"
Hi.

This ticket was first opened on `flutter` bug tracker: https://github.com/flutter/flutter/issues/68406

It seems `Uri.toString()` convert spaces to `+` in `subject` and `body` for `mailto` scheme.

[code]
This seems to be a problem, when the link is opened with [`url_launcher`](https://github.com/flutter/plugins/tree/master/packages/url_launcher/url_launcher) for example then the subject disp

[2020-10-17 18:26] scheglov commented on #43777
The update for `analyzer/` is here: https://dart-review.googlesource.com/c/sdk/+/168240

It was relatively easy to do, because we switched analyzer/ to using `.dart_tool/package_config.json`, so we can control language versions.

But `analysis_server/` is still using old `.packages` files, and not just for the package under test, but also to add dependencies. So, we will need to update all these p

[2020-10-18 07:57] lrhn commented on #43838
The Dart `Uri` class does not recognize most schemes specially. The `mailto:` scheme is treated the same as any other scheme, so the query part is encoded using [URL encoding](https://en.wikipedia.org/wiki/Query_string#URL_encoding), which is why it uses `+` for spaces.

[2020-10-18 09:45] bharatsingh100 commented on #42583
List inherits first and last getters from Iterable class, would it be better to add the feature proposed by @enloc-port to Iterable class or List class

[2020-10-18 10:15] lrhn commented on #42583
There is a `firstOrNull` and `lastOrNull` extension method in the tip-of-tree version of `package:collection`.
It will be released along with null safety.

[2020-10-18 12:57] mnordine opened #43839 "dart compile jit-snapshot does not work with program arguments"
`dart compile jit-snapshot -h` yields:

[code]

`dart compile jit-snapshot -o nbody.snap nbody.dart` works fine.

`dart compile jit-snapshot -o nbody.snap nbody.dart 50000000` results in an error:

[code]

`dart --snapshot=nbody.snap --snapshot-kind=app-jit nbody.dart 50000000` still works fine.

In addition, the `[arguments]` in the help output is ambiguous. Does it mean arguments to `dart compil

[2020-10-18 22:40] gisborne opened #43840 "Fail to load sourcemap/Failed to load asset at path: main.ddc.js.map"
I am unable to use breakpoints with Dart Web.

I tried Android Studio, but that was entirely full of fail. To take one example, it says the flutter and dart plugins are not installed but they certainly are. I uninstalled and reinstalled but it just refuses to see them.

So now I'm trying VS Code.

Flutter Doctor says it's set up fine. I can launch the demo project but an attempt to set a breakpoin

[2020-10-19 00:07] azliR opened #43841 "[Analyzer] Dart Analyzer stop working after input < and > twice"
![Screenshot (56)](https://user-images.githubusercontent.com/43084763/96389037-4c428200-11d7-11eb-9566-e731565fdd65.png)

### Problem
Every time I enter '<' and '>', then I enter it again, the Dart Analyzer stops immediately and the CPU goes up drastically, for example, see the code below:

`Future<Option<${thisIsBlinkingVerticalLine}>>`

Right after I input that code, the Dart Analyzer will immed

[2020-10-19 03:55] leafpetersen opened #43842 "[pkg/dartdev] dartdev pkg tests are failing with null safety enabled"
[This CL](https://dart-review.googlesource.com/c/sdk/+/166790) tests out flipping on the experiment flag and bumping the SDK version.  I see failures on dartdev unit tests [here](https://ci.chromium.org/p/dart/builders/try/pkg-linux-release-try/42754?) .  Looking at the first one, it appears that the analysis_server is being called programmatically, and most likely needs to set a language version.

[2020-10-19 03:56] leafpetersen opened #43843 "[pkg/dev_compiler] dev_compiler unit tests failing with null safety enabled"
[This CL](https://dart-review.googlesource.com/c/sdk/+/166790) tests out flipping on the experiment flag and bumping the SDK version.  I see failures on pkg/dev_compiler unit tests [here](https://ci.chromium.org/p/dart/builders/try/pkg-linux-release-try/42754?) .

@sigmundch @nshahan can you triage and find the right person to look into this?

[2020-10-19 03:59] leafpetersen opened #43844 "[pkg/frontend_server] frontend_server unit tests failing with null safety enabled"
[This CL](https://dart-review.googlesource.com/c/sdk/+/166790) tests out flipping on the experiment flag and bumping the SDK version.  I see failures on frontend_server unit tests [here](https://ci.chromium.org/p/dart/builders/try/pkg-linux-release-try/42754?) .

cc @alexmarkov can you triage and help find the right person to work on this (you're the last committer I see in the log)?

[2020-10-19 04:01] leafpetersen opened #43845 "[pkg/vm] vm pkg unit tests failing with null safety enabled"
[This CL](https://dart-review.googlesource.com/c/sdk/+/166790) tests out flipping on the experiment flag and bumping the SDK version.  I see failures on dartdev unit tests [here](https://ci.chromium.org/p/dart/builders/try/pkg-linux-release-try/42754?) .

cc @alexmarkov @a-siva can you triage and find the right person to look into this?

[2020-10-19 04:03] leafpetersen commented on #43845
cc @munificent @franklinyow

[2020-10-19 04:03] leafpetersen commented on #43843
cc @munificent @franklinyow

[2020-10-19 04:03] leafpetersen commented on #43842
cc @munificent @franklinyow

[2020-10-19 04:03] leafpetersen commented on #43844
cc @munificent @franklinyow

[2020-10-19 04:15] devoncarew commented on #43842
I see many other failures on that referenced builder, but I assume this issue is only about the pkg/dartdev failures?

[code]

FYI, I'm OOO this week.

When you say set a language version I'm confused - I would have thought that would only be necessary for raw scripts, not for things in directories with pubspec files?

cc @scheglov for general triage. If this turns out to be an issue with how dart

[2020-10-19 04:36] leafpetersen commented on #43842
Yes, I filed separate issues for each of the different `pkg/X` failure categories that I saw.

I haven't triaged this deeply, but it looks to me like these tests are calling the analysis server with a fragment of dart code, e.g:

[code]

This dart code would, prior to the flag flip, be interpreted as non-null safe, and now once the flag is flipped will be interpreted as null safe.  These fragments

[2020-10-19 04:53] scheglov commented on #43842
Looking at [the code](https://github.com/dart-lang/sdk/blob/157ebfe50f399c59a20d603acdf5143ceaa4cccf/pkg/dartdev/test/utils.dart#L29) that is preparing the file system, it seems to me that it should not also write the `.dart_tool/package_config.json`, and configure the current package to have the language version `2.9`. This will opt this package out of Null Safety.

[2020-10-19 05:01] devoncarew commented on #43842
OK, sounds like the tests would be made to specify a language version (or perhaps, updated so they they return the same results for both pre and post nnbd).

With me out, @jwren has the most familiarity with the tests for `dart analyze`.

[2020-10-19 05:52] ebubekirb opened #43846 "The mssql database connection fails."
libdart_mssql.so: cannot open shared object file: No such file or directoryerror: library handler failed. When I try to connect to the mssql database, I get an error like this.

import 'package:dart_mssql/dart_mssql.dart';  the only library I use.

[2020-10-19 06:15] a-siva commented on #43839
/cc @bkonyi

[2020-10-19 06:18] a-siva commented on #43844
/cc @aam

[2020-10-19 06:21] a-siva commented on #43846
/cc @dcharkes does this sound like a `dart:ffi` issue ?

[2020-10-19 06:30] ebubekirb commented on #43846
Thank you @a-siva but nothing changed.

flutter doctor command output:
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, 1.23.0-19.0.pre.80, on Linux, locale tr_TR.UTF-8)
[!] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
    ✗ Android license status unknown.
      Run `flutter doctor --android-licenses` to accept the SDK license

[2020-10-19 07:17] #43756 closed

[2020-10-19 07:59] vanesyan commented on #43846
If you trying to connect from the Flutter application it is not possible according to the README from the https://github.com/MoacirSchmidt/dart_mssql.

this line in the **Important** section

[2020-10-19 08:17] athomas commented on #43807
The test runner exits with exit code 1, this may be an issue with the CL so I've asked @jensjoha to take a look. I don't see an obvious infrastructure reason for this.

[2020-10-19 08:25] dcharkes commented on #43846
There's already an issue on the issue tracker of dart_mssql to track Flutter support for Windows https://github.com/MoacirSchmidt/dart_mssql/issues/5.

High level remark, Flutter packages using `dart:ffi` need linking and shipping configurations, while Dart standalone packages do not. (They can just use `dlopen` and require no linking / shipping steps). See Flutter [documentation](https://flutter.

[2020-10-19 08:25] #43846 closed

[2020-10-19 10:33] sanekyy commented on #43758
same issue

[2020-10-19 10:39] jensjoha commented on #43807
It crashes when it tries to verify. It does so because, as it loads, it finds an inconsistency in the NNBD settings, (one crash) as an example:
- SDK is in weak mode
- async-2.5.0-nullsafety.1 is compiled with nnbd disabled
- (and other ones)
- Then it tries to load flutter_test which is compiled with nndd strong => it tries to combined disabled and strong and *boom*.

Obviously it should have com

[2020-10-19 11:49] MikeCamino opened #43847 "Android Studio Dart analyzer erroneously shows 'colors' property of LinearGradient class as non-existent"
Android Studio Dart analyzer erroneously shows 'colors' property of LinearGradient class as non-existent.
Try to write something like
`LinearGradient(colors: [Color(0xFFFF4F4F), Color(0xFFB454FF)])`
and you will see the following error: "The named parameter 'colors' isn't defined."

At the same time CLI `dart analyze` doesn't include this error

Also autosuggest shows strange list of available fie

[2020-10-19 12:05] bharatsingh100 opened #43848 "List <int> should have max and min properties"
finding maximum and minimum values from a list of integers is very common,
getters specific to list< int > type for finding minimum and maximum
values could be useful

[2020-10-19 12:44] bharatsingh100 opened #43849 "small optimization for getter isNotEmpty in collection/list.dart"
https://github.com/dart-lang/sdk/blob/5c1fe1b091dabaacb9d63870f087d177d5f6e756/sdk/lib/collection/list.dart#L96

in collection/list.dart line at 96
bool get isNotEmpty => !isEmpty  can be changed to bool get isNotEmpty => lenght > 0;

[2020-10-19 13:59] jakemac53 commented on #43840
@gisborne can you please list the exact command you are trying to run? Also - is this a Dart project or a Flutter project?

cc @grouma @jonahwilliams

[2020-10-19 14:22] ghanshyam1898 commented on #43758
same here

[2020-10-19 14:31] stefantsov commented on #43592
Yes, this error message reads much better than what we currently have.  But what should the tools report when the nullability doesn't match on a deeper level of a compound type, for example, in case of `List<HtmlElement?>` vs `List<Object>`?  One possibility is to say that a part of one type is nullable and the corresponding part of the other type is not nullable.

[code]

Of course, when the null

[2020-10-19 14:45] jakemac53 commented on #43744
This would essentially defeat the entire purpose of this api and I would quite honestly remove the api entirely as opposed to doing this. The cost here would scale based on the size of the app, and be multiplied by the number of applications in the package (including tests).

[2020-10-19 14:50] lrhn commented on #43849
I think the behavior here is deliberate.
It allows you to override just `isEmpty` with whatever super-efficient (or otherwise smart) implementation you might have for your custom `List` implementation, and get a similarly efficient `isNotEmpty` implementation.

If we let `isNotEmpty` go directly to `length`, then if you want a non-`length` based `isEmpty`/`isNotEmpty`, you'd have to override both

[2020-10-19 14:52] #43848 closed

[2020-10-19 15:18] jakemac53 commented on #43780
My biggest concern here is the discoverability of this option - what do the exceptions look like today? How can we make sure most users can resolve this on their own regardless of the build system they use?

[2020-10-19 15:27] johnniwinther commented on #43833
Most of it is handled by https://dart-review.googlesource.com/c/sdk/+/168346

[2020-10-19 15:46] #43508 closed

[2020-10-19 15:57] stereotype441 opened #43850 "Migration tool outputs a large diff for .dart_tool/package_config.json"
Steps to repro:
- Check out https://github.com/dart-lang/collection/commit/00540dce43a9bc778bfa55935a182799ff00044d (which is just prior to migration to null safety)
- Run `pub get`
- Run `dart migrate . --no-web-preview`

Expected result: the vast majority of the output diff should be lines of code that the tool is going to change, that the user cares about.

Observed result: of the 1261 lines of

[2020-10-19 16:09] stereotype441 commented on #43850
@mit-mit FYI

[2020-10-19 16:10] sgrekhov opened #43851 "No error for wrong placement of 'external' keyword for external variables"
According to the External variable declaration [specification](https://github.com/dart-lang/language/blob/master/accepted/future-releases/abstract-external-fields/feature-specification.md#syntax)

But in fact the following code produces no error nor in analyzer nor in CFE
[code]

Dart SDK version: 2.11.0-218.0.dev (dev) (Tue Oct 13 20:07:27 2020 -0700) on "windows_x64"

#43858 for analyzer, #43859

[2020-10-19 16:52] alexmarkov commented on #43844
Fronted-server tests create and compile standalone Dart scripts, so we should adjust those unit tests in one of the following ways:
* migrate generated Dart scripts to null safety;
* opt-out generated Dart scripts by adding `// @dart=2.xx' comments;
* opt-out by passing `--enable-experiment=no-non-nullable` to the front-end server.

[2020-10-19 16:54] rakudrama commented on #43849
@bharatsingh100 Lasse's point is that `isEmpty` can have an override that does not use `length` and is more efficient than `length`. Consider this class from `dart:html`:
[code]
The effect of your change would be to make `_ChildrenElementList.isEmpty` and `_ChildrenElementList.isNotEmpty` (i.e. `ListMixin.isNotEmpty`) use completely different ways of checking if the list is empty.

[2020-10-19 17:05] franklinyow commented on #43835
@pcsosinski

[2020-10-19 17:26] srujzs commented on #43780
Yeah, I think it might be worthwhile to make it more descriptive so users know exactly how to disable the flag. Currently, DDC throws an `Unexpected null check.` with the stack trace pointing to the `checkNativeNonNull` function. Maybe a sentence here mentioning it would be useful for them to file a bug on our sdk, and to disable `native-null-assertions` if they want to silence the error.

[2020-10-19 17:30] natebosch commented on #43744
@scheglov - is the analyzer behavior to read transitive dependencies, or does it only read the direct dependencies? If it's only direct dependencies I think we could fix this pretty easily.

[2020-10-19 17:33] jakemac53 commented on #43780
I think we will need some really specific links here to documentation for internal and external users (hopefully an internal only link is OK for this?). Exactly _how_ you disable these assertions is different for different people - flutter web, general dart web, and internal equivalents will all be different.

[2020-10-19 17:43] mit-mit commented on #43850
I think there's an additional argument for suppressing the file entirely: This is not a file we want most developers to care about. It's an implementation detail that the majority will happily go about their coding without ever getting exposed to. Thus, not shining any light on it is helpful.

[2020-10-19 17:55] Hixie opened #43852 "Socket documentation issues"
The `connect` static methods on SecureSocket and RawSecureSocket do not say what `host` should be (Socket and RawSocket do). Socket/SecureSocket and RawSocket/RawSecureSocket don't describe how they differ in their documentation.

RawSocket does not describe how the "events" feature works (RawSocketEvent's description doesn't even seem grammatically correct... I couldn't figure out what it meant).

[2020-10-19 17:55] scheglov commented on #43744
With https://dart-review.googlesource.com/c/sdk/+/168382 the analyzer should stop reading referenced files when `parseFileSync`.

[2020-10-19 18:02] Hixie commented on #43852
InternetAddress.lookup should describe what it does in case of failure, too (return nothing? completer the future with an error?).

[2020-10-19 18:04] srujzs commented on #43780
If we are going the route of writing documentation for disabling this check for different entry points, I think we'd need it to be external as well. I wonder if we can place a markdown file in the sdk for this.

[2020-10-19 18:07] jakemac53 commented on #43780
I was a bit unclear :). What I was really suggesting is we print out two links - one for internal and one for external users. So for instance the message could be something like this:

[code]

[2020-10-19 18:56] #43529 closed

[2020-10-19 19:06] srujzs commented on #43780
Ah, I see. Yeah, that makes sense considering we probably don't want to publish information about google3.

[2020-10-19 19:07] franklinyow commented on #41769
@srawlins @leafpetersen
Is this still a blocker for anything?

[2020-10-19 19:15] franklinyow commented on #43777
Move this back out to Beta2 epic, remove type-enhancement label

[2020-10-19 19:29] rakudrama commented on #43816
Joshua is working on this

[2020-10-19 19:39] bwilkerson commented on #35234
As of https://dart-review.googlesource.com/c/sdk/+/156402 we now have the framework in place to catch these issues. We are only reporting on duplicated //ignore comments (where the same diagnostic is being ignored more than once) because the rest can't be enabled until some changes are made in the Flutter code base.

[2020-10-19 20:13] Hixie commented on #35234
What do I enable to see the lint?

[2020-10-19 20:35] nshahan commented on #42754
Fixed be the chain of commits:

e92b1b30b02a19031f718a685f482ea703b23b22
e2a4906c51a16739e0637b4b0b3c328e92e42f3f
ed8933db3f73effbf82083dad27e287fb08c6de5
4cb164215fc024ea6486b7d1fcdabf63746453c7
bef5ffde1ea417c40b01878b5d9e678a88e27633
885cc8ce1871a18a94b20e3f57580dcfc91dc1f2

[2020-10-19 20:35] #42754 closed

[2020-10-19 21:43] bwilkerson commented on #35234
It's enabled by default (so it's technically a hint, though the distinction is more distracting than meaningful). I don't know whether that CL has rolled into the Flutter SDK at this point, but when it does it ought to catch cases like
[code]
and
[code]
There weren't any cases of this in Flutter, which is why I could enable that particular check.

The checks for ignores of errors that can't be ign

[2020-10-19 22:11] jakemac53 commented on #42536
As I was enabling support in build_web_compilers I noticed this is not a negatable flag - do we have a commitment that this will _never_ be enabled by default by dart2js? Otherwise we will be left with configuration that is not respected (essentially, passing an explicit `false` on our end for this won't do anything). Or if that is the behavior we want then that also works, but that seems less tha

[2020-10-19 22:14] franklinyow opened #43853 "Flag remove work updates"
This Epic contain update required for the [flag removing CL ](https://dart-review.googlesource.com/c/sdk/+/166790)

[2020-10-19 22:51] aam commented on #43844
@alexmarkov wrote

How does one do this? There is nothing null-unsafe in the code. The tests currently use `.packages` file, [changing then to use `.dart_tool/package_config.json`](https://gist.github.com/aam/ffb2dd3246f7ff815dd55177bc9177d5) file fixes few test failures, but two are still failing with `  CompilationModeError[Mixed compilation mode found: NonNullableByDefaultCompiledMode.Disabled

[2020-10-19 23:09] aam commented on #43844
Adding @jensjoha for those:
[code]

[2020-10-19 23:10] alexmarkov commented on #43844
Which unit tests are failing with that error? Could you post full log? It looks like that error may indicate a mismatch between null safety modes of dill files being loaded. Please check that all tests are generating and using dill files in the same mode (sound null safety is enabled if `--sound-null-safety` option is specified or main script is opted-in).

@jensjoha

[2020-10-19 23:31] nshahan commented on #43843
A fix is out for review to add the language version comment to some synthetic test files https://dart-review.googlesource.com/c/sdk/+/168441.

[2020-10-19 23:31] alexmarkov commented on #43844
These errors might be actually bugs in incremental-serialization and unsafe-package-serialization: they don't set Component._mode when creating and serializing a new component.

@aam Could you try something like

[code]

[2020-10-20 01:20] leafpetersen commented on #43843
Thanks!  I think I'm still seeing [one failure](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8865963650562053056/+/steps/test_results/0/logs/new_test_failures__logs_/0) though.

[2020-10-20 01:45] #40278 closed

[2020-10-20 02:06] pq opened #43854 "code completion ranks type names over constructors for named params"
Example:

[code]

[code]

In this case, the type name `A` ranks higher (57) than the constructor `A()` (40).

[2020-10-20 02:10] Hixie commented on #35234
Sorry, I meant, how do I enable the lint that can't be enabled by default in Flutter yet?

[2020-10-20 02:41] franklinyow commented on #43822
@dnfield An update on if we need it in stable?

[2020-10-20 02:55] franklinyow commented on #42535
@sigmundch It's been reverted.  Who's working on this one?

[2020-10-20 04:33] csantacruza opened #58251 "Linters to make applications more accessible"
** Describe the rule you would like to see implemented**

The purpose of this rule is to give some introductions to the world of accessibility to developers and the option of creating applications and tools accessible to all people.
The idea is to create a set of rules to make applications more accessible by following the Web Content Accessibility Guidelines (WCAG) 2.1

Set of rules to help people

[2020-10-20 05:31] sgrekhov opened #43855 "No error for wrong placement of 'abstract' keyword for abstract variables"
According to the Abstract variables [specification](https://github.com/dart-lang/language/blob/master/accepted/future-releases/abstract-external-fields/feature-specification.md#syntax)

But, in fact, the following code produces no error in both CFE and Analyzer

[code]

`Dart SDK version: 2.11.0-218.0.dev (dev) (Tue Oct 13 20:07:27 2020 -0700) on "windows_x64" `

See also #43851

#43856 for analyz

[2020-10-20 05:35] sgrekhov opened #43856 "[analyzer] No error for wrong placement of 'abstract' keyword for abstract variables"
This is analyzer issue of #43855 . Please see the #43855 epic for details

[2020-10-20 05:36] sgrekhov opened #43857 "[CFE] No error for wrong placement of 'abstract' keyword for abstract variables"
This is CFE issue of #43855. Please see #43855 epic for the details

[2020-10-20 05:41] sgrekhov opened #43858 "[analyzer] No error for wrong placement of 'external' keyword for external variables"
Please see #43851 epic for details. This issue is for analyzer

[2020-10-20 05:42] sgrekhov opened #43859 "[CFE] No error for wrong placement of 'external' keyword for external variables"
Please see epic #43851 for the details. This issue is to track CFE

[2020-10-20 05:44] bharatsingh100 commented on #43849
thanks @lrhn and @rakudrama , i got the point, just want to know if isNotEmpty is not overriden then it would call isEmpty of parent class or the same class

[2020-10-20 05:50] mrvicfeng opened #43860 "API doc issue:build"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dartfix
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
*

[2020-10-20 06:30] jensjoha commented on #43844
Related: https://github.com/dart-lang/sdk/issues/43807#issuecomment-712021584

I'll look into it.

[2020-10-20 06:31] a-siva commented on #43860
@mrvicfeng could you please elaborate on the issue, it is unclear from the description above what kind of API doc issue you are running into.

[2020-10-20 06:39] mraleph commented on #43844
(I assigned @aam & @jensjoha just so that it is clear that somebody is looking at this just by looking at this list of issues in the Epic)

[2020-10-20 06:42] bharatsingh100 commented on #43849
i tried it on dartpad, i find that `isNotEmpty` will call the `isEmpty` of current class. It is better if don't have to override both the getters. I feel this issue is resolved

[2020-10-20 07:23] buergerling opened #43861 "Can someone tell me how I can " --enable-experiment=non-nullable" with webdev serve?"
I migrated my web application to satisfy non-nullability contraints (version 2.10.2). Then tried to run using "webdev serve web:8080  -- --enable-experiment=non-nullable" resulting in compilation errors due to the nullability syntax of the kind:

"You can enable the experiment using the '--enable-experiment=non-nullable' command line option.
  num? start;",

and:

"Response:--dart-sdk-summary=file

[2020-10-20 08:47] jensjoha opened #43862 "Dart VM segfault"
I was running a benchmark, and on something like the 15th iteration of doing the same thing it crashed:

[code]

/cc @mraleph

[2020-10-20 09:33] jensjoha commented on #43862
So it uses a lot of ram, but pausing it every once in a while and manually pressing the GC button in observatory I can get it go further --- interestingly, as reported by observatory, after the GC it says something like "used 9.7 GB of X GB" where - even though, after the GC, it always seems to be 9.7 GB - the X keeps increasing going to 25+ GB. This time I got this crash:

[code]

[2020-10-20 09:58] sigurdm opened #43863 "The `all` target is broken"
This is on mac-os
[code]

It turns out I didn't want the all target - just forgot `create_sdk`.

Should we remove the `all` target entirely?

[2020-10-20 10:04] mraleph commented on #43862
@jensjoha could you make a repro CL so that we could investigate?

/cc @rmacnak-google @mkustermann

[2020-10-20 10:07] jensjoha commented on #43862
Run with a debug build:
[code]

[2020-10-20 10:11] jensjoha commented on #43862
CL https://dart-review.googlesource.com/c/sdk/+/168485

Run like `out/ReleaseX64/dart --observe pkg/front_end/test/constant_evaluator_benchmark.dart --platform=out/ReleaseX64/dart-sdk/lib/_internal/dart2js_platform.dill {path to big internal app} --target=dart2js --nnbd`

[2020-10-20 10:42] iapicca commented on #38595
@Irhn
given that
- [http/3 draft](https://tools.ietf.org/html/draft-ietf-quic-http-31) has been published last month
- chrome is [deploying it](https://blog.chromium.org/2020/10/chrome-is-deploying-http3-and-ietf-quic.html)
- on safari is even enabled by default ([source](https://en.wikipedia.org/wiki/HTTP/3))

What are the plans for Dart's implementation?
Will it be a separate package like [grpc]

[2020-10-20 12:36] mkustermann commented on #43862
@jensjoha Could you share offline what `{path to big internal app}` is?

[2020-10-20 12:40] lrhn commented on #43849
Excellent :smile:

[2020-10-20 12:40] #43849 closed

[2020-10-20 13:06] jensjoha commented on #43862
I've shared offline and also created the internal bug http://b/171292780.

[2020-10-20 13:34] jensjoha commented on #43807
https://dart-review.googlesource.com/c/sdk/+/168482 will fix at least some of this.

[2020-10-20 13:34] jensjoha commented on #43844
https://dart-review.googlesource.com/c/sdk/+/168482 will fix at least some of this.

[2020-10-20 13:36] jensjoha commented on #43813
I will give an error in the parser.

[2020-10-20 13:39] mraleph commented on #38595
There are currently no plans (or bandwidth) to implement HTTP/3 support as either builtin `dart:io` feature or even as a package.

@lrhn do you think we should maybe close this as `not planned` to reflect the current thinking around `dart:io` and networking package priorities?

/cc @mit-mit @a-siva

[2020-10-20 14:09] jakemac53 commented on #43861
What version of `build_web_compilers` and `build_modules` are you on? (you can use `pub deps` to see this)

What is your minimum sdk constraint in your package?

[2020-10-20 14:09] johnniwinther opened #43864 "Mixin cloning doesn't handle member signatures in mixin application classes"
Cloning mixin members into the mixin application class doesn't account for members already present in the mixin application class.
If the clone member is a field and the mixin application members are a getter/setter pair, this breaks serialization because the
canonical names used for reading/writing a field don't match those for reading/writing a getter/setter.

Currently crashes expectation test

[2020-10-20 14:27] johnniwinther opened #43865 "Members injected into mixin application are not in "declared members" from ClassHierarchy"
When querying the `ClassHierarchy` for the declared members of a mixin application class, the members injected into the mixin application class (for instance member signature and forwarding stubs) are not include.

Currently this crashes the expectation tests `general/mix_in_int`, `general/mix_in_string` and `nnbd_mixed/mix_in_private`.

[2020-10-20 14:38] lrhn commented on #38595
Not sure closing is the right thing to do. When HTTP/3 becomes a stable standard, we will most likely have to implement it.
We are just not going to be riding the bleeding edge and implement the draft specification.
It's unlikely that there will be any clients or back-ends which will be HTTP/3 only, so falling back on HTTP/2 is a valid option.

So, keeping this open as a place where people needing

[2020-10-20 14:44] johnniwinther commented on #43865
The tests have not been upload. They modify the SDK ast and are therefore not stable.

[2020-10-20 14:54] leafpetersen commented on #43807
Thanks @jensjoha . @jakemac53 FYI.

[2020-10-20 15:37] franklinyow commented on #43822
Approval for beta, OK if flutter want to bring to stable

[2020-10-20 15:38] franklinyow commented on #43835
Approved

[2020-10-20 15:57] #43622 closed

[2020-10-20 16:01] bwilkerson commented on #35234
I uploaded a CL with the necessary changes (https://dart-review.googlesource.com/c/sdk/+/168561), and you can see the Flutter failures here: https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8865911342565319552/+/steps/analyze_flutter_flutter/0/stdout.

[2020-10-20 16:24] stereotype441 opened #43866 "In migration tool, `--apply-changes` should imply `--no-web-preview`"
Currently if you run `dart migrate --apply-changes`, you get the message `--apply-changes requires --no-web-preview`, which is just annoying.

[2020-10-20 16:26] bwilkerson commented on #43854
It isn't entirely clear to me that this is a bug, so I'll explain why.

The relevance of these two elements is largely controlled by the element_kind feature. That feature uses the location in which an element is being referenced and the kind of element being referenced in order to look up the relevance score in a table. Given the location in the example above, the portion of the relevance table b

[2020-10-20 16:26] a14n commented on #35234
sometimes we have comment that give some context:

[code]

In this case for instance there's the lint:

What pattern could we use to keep the comment?

[2020-10-20 16:30] bwilkerson commented on #35234
One possibility would be to put the comment on a separate line above the ignore comment.

[2020-10-20 16:37] devoncarew opened #58252 "gh-pages / generated docs updates"
We might consider:

- changing from hosting the docs on a separate branch (https://github.com/dart-lang/linter/tree/gh-pages) to using a specific directory in the main branch; github added the ability to do this a while ago - it's just a setting for the repo

- changing from generating html to generating markdown, and then having a jekyll template serve that as html. Jekyll is well supported by gi

[2020-10-20 16:46] pq commented on #43854
Thanks for the clarification!  I do remember you explaining this a while back when I brought this up before but it didn't completely stick.  From an end-user's perspective, I think what makes the ranking feel wrong is that `A` (the class) makes no sense in this context. Accepting the first completion will give you a static type error.  Moreover, since `A` has no static members that produce an inst

[2020-10-20 16:52] a14n commented on #35234
CL for flutter to remove unused ignore : flutter/flutter#68629

[2020-10-20 16:55] gargakshit commented on #38595
What about the quic protocol in general, apart from HTTP/3?

[2020-10-20 17:20] pq opened #43867 "exception applying `CreateMethod.createEqualsOrHashCode` in bulk-fix"
Running `dart fix` on the linter:

[code]

[2020-10-20 17:21] Hixie commented on #35234
@bwilkerson Is there any chance we can change the way this lint works? This syntax:

[code]

...is aesthetically more pleasing, and IMHO clearer, than this:

[code]

...or:

[code]

...because when you're reading the code the explanation makes no sense until you see the ignore it's referencing, and the ignore makes no sense until you see the code that is triggering the false-positive in the analyz

[2020-10-20 18:05] aam commented on #43713
More flaky service_2 tests turned stable errors:
* service_2/bad_reload_test/service
* service_2/get_allocation_samples_test/service
* service_2/get_source_report_test/service
* service_2/bad_reload_test/dds
* service_2/get_allocation_samples_test/dds
* service_2/get_source_report_test/dds

[2020-10-20 18:09] bwilkerson commented on #35234
Yes, of course.

The ignore syntax currently allows either `ignore:` or `ignore_for_file:` followed by a comma separated list of diagnostic names. I suspect that the problem is that `explanation for ignore` is being treated as a diagnostic name and therefore being found to be invalid.

One possible solution would be to ignore any "name" that isn't a valid identifier. That's probably reasonable bec

[2020-10-20 18:22] bwilkerson commented on #43854
Not currently, no. My expectation (which might be wrong) is that it will be too expensive. In part because we might have to traverse and unbounded number of "links". You might have a class `A` that has a static member that returns a `B`, which has a static member that returns a `C`, ..., that has a static member that returns an `A`.

But just for the record, in an in-person discussion we decided t

[2020-10-20 18:29] leafpetersen opened #43868 "[Flutter/Fuschia] Flutter/Fuschia build failing with the null safety flag flip CL"
Running [the CL](https://dart-review.googlesource.com/c/sdk/+/166790) to flip the null safety flag on the [flutter-engine-linux-try bot](https://ci.chromium.org/p/dart/builders/try/flutter-engine-linux-try/389?)  I'm seeing [build failures](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8865910649982144784/+/steps/build_fuchsia_debug_x64_flutter_shell_platform_fuchsia:f

[2020-10-20 18:56] leafpetersen commented on #43868
@chaselatta will take a look at this.

[2020-10-20 19:04] Hixie commented on #35234
catching `// ignore: invalid_lint_name` seems valuable
I wasn't aware you could list multiple lints on a line. Is that common? I don't think I've ever seen it... It seems less critical a use case than documenting why a particular lint is present at all.

[2020-10-20 19:35] joshualitt commented on #43816
This should now be fixed on TOT, see https://dart-review.googlesource.com/c/sdk/+/168141

[2020-10-20 20:56] bwilkerson commented on #35234
I don't think I've ever done it, but it's been supported for a long time and I don't know whether it would break user code to remove the support.

[2020-10-20 21:13] srawlins commented on #35234
It is for `ignore_for_file:` in code generators, I think.

I think it's necessary, the way they attach to specific lines now.

[code]

would _not_ suppress a diagnostic, `a` reported on the line containing `code;`.

We could also change how they attach; you could imagine forgiving heuristics.

[2020-10-20 21:14] srawlins commented on #35234
+1

[2020-10-20 21:16] chaselatta commented on #43868
Added a fix in https://github.com/flutter/engine/pull/22009.

[2020-10-20 22:19] sigmundch commented on #42535
@srujzs is pushing forward with the original change, but will make the behavior only to be enabled on libraries that are opted in. This strategy doesn't change the essence of the change, but will make it less disruptive and will allow the roll to happen without issues.

There are a couple changes involved here (relanding the change, adding a flag), but our expectation is that we'll manage to land

[2020-10-20 22:45] #43867 closed

[2020-10-20 23:37] pq opened #43869 "`dart fix` is (wrongly) fixing excluded files"
Simple repro in the linter sources:

[code]

Expected result: no fixed files.

[code]

In analysis options, `test/rules/**` are excluded:

https://github.com/dart-lang/linter/blob/795463b447adba91e7b12959bd4b85f14f5e72c1/analysis_options.yaml#L11

[2020-10-21 00:11] rmacnak-google commented on #43862
Good find! I'm able to reproduce this. Looks like `become` doesn't properly account for remember cards and assumes all objects use the regular remembered set.

[2020-10-21 00:16] franklinyow commented on #42691
ping @scheglov

[2020-10-21 00:23] franklinyow commented on #41769
ping again @srawlins @leafpetersen.
What is the status on this?  Thanks!

[2020-10-21 00:30] scheglov commented on #42691
We don't have tests that are regressions.
There are a few failing `co19/LanguageFeatures/Instantiate-to-bound/typedef/static/typedef_` tests, but these are not regressions.

[2020-10-21 00:30] #42691 closed

[2020-10-21 00:53] leafpetersen commented on #41769
I believe this is implemented, but temporarily disabled for TP2.  @devoncarew @srawlins is that right?

[2020-10-21 01:03] pq opened #43870 "pluralize `dart fix`"
Current output:

[code]

Expected output:

[code]

[2020-10-21 01:14] leafpetersen commented on #43843
Oddly, I now seem to be seeing failures on an expression_compiler test again, was there a regression?  https://ci.chromium.org/p/dart/builders/try/pkg-linux-release-try/42881?

[2020-10-21 01:16] leafpetersen commented on #43807
I'm still seeing this [bot as purple](https://ci.chromium.org/p/dart/builders/try/flutter-frontend-try/435?).

[2020-10-21 01:18] leafpetersen commented on #43845
Just checking in on this, any updates?

[2020-10-21 01:19] leafpetersen commented on #43844
Still seeing one failure [here](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8865884803271263264/+/steps/test_results/0/logs/new_test_failures__logs_/0).

[2020-10-21 01:21] leafpetersen commented on #43842
I'm still seeing failures here, any updates?

[2020-10-21 01:24] leafpetersen commented on #43833
Still seeing some failures [here](https://ci.chromium.org/p/dart/builders/try/front-end-linux-release-x64-try/42890?)

[2020-10-21 01:24] leafpetersen commented on #43817
Any updates on this?

[2020-10-21 01:25] leafpetersen commented on #43777
Any updates on this?

[2020-10-21 01:57] devoncarew commented on #43842
@jwren, ping - it doesn't look like your CL had landed?

[2020-10-21 02:34] dragonfax commented on #43623
I too would like to enable null-safety in my executables. This was added to `dart2native` back in august. It seems to be missing from `dart compile exe`

[2020-10-21 02:36] dragonfax commented on #43594
`--enable-experiment=null-nullable` was added to `dart2native` back in august. Is this something just won't be included in its replacement `dart compile exe`?

[2020-10-21 03:21] jwren commented on #43842
The PR needs a review... Leaf- adding you.  Also I realized that the smoke tests aren't covered by `test_all.dart` so I will need to follow up.  If I can get a PR reviews early tomorrow I can have it all resolved tomorrow morning.

[2020-10-21 04:16] petrhosek opened #43871 "gn gen fails with Xcode 12.2"
https://github.com/dart-lang/sdk/blob/2ad8fdeebb0de82c8384c0a1dd4ca2109e53f450/build/mac/find_sdk.py#L110 assumes that macOS SDK version has the format 10.*, but as of Xcode 12b5025f the macOS SDK version has been bumped to 11.0 so that regular expression no longer matches. Would it be possible to update this script to support Xcode 12.2?

[2020-10-21 04:31] leafpetersen opened #43872 "[flutter-engine] Null safety failures with flag flip on flutter-engine-linux-try"
I'm seeing some additional failures with the flag flip.  @jakemac53 can you look into any failures [here](https://ci.chromium.org/p/dart/builders/try/flutter-engine-linux-try/391?) that aren't already covered by your PR?  This link is a build from the 2.11 based CL to avoid breakage from the lack of 2.12 compatible packages.

[2020-10-21 04:35] leafpetersen commented on #43816
I'm still seeing some failures
 - [here](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8865875139184400368/+/steps/test_results/0/logs/new_test_failures__logs_/0)
  - [here](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8865875139184400352/+/steps/test_results/0/logs/new_test_failures__logs_/0)

The latter may not be a dart2js issue, I'm no

[2020-10-21 05:27] aam commented on #43844
@leafpetersen no fixes landed yet, so the failures in frontend_server_test you are seeing are the same as before.
I believe @jensjoha is still looking at two failures https://github.com/dart-lang/sdk/issues/43844#issuecomment-712490243

[2020-10-21 06:32] johnniwinther commented on #43833
The failures `pkg/nnbd_migration/test/front_end/` is noise (from the front-end perspective) - these are migration tool tests.

The remaining include the current sdk version in messaging. I'll see if we can (and want to) make them agnostic to the current sdk version. Otherwise these can be automatically updated after flipping the flag by running `pkg/front_end/tool/update_expectations.dart`.

[2020-10-21 07:09] magnussp commented on #30310
Would love to see this feature added. Makes life so much easier.

[2020-10-21 07:30] mkustermann opened #43873 "Move assembler intrinsics / graph intrinsics / specialized inliner code to be normal recognized methods"
After we've implemented 2 items (which are on our short term todo list already)

  * Support for frame-less functions (see https://github.com/dart-lang/sdk/issues/43208)
  * Support for inlining force optimized functions (see https://github.com/dart-lang/sdk/issues/38985)

we should consider converting assembler intrinsics, graph intrinsics as well as specialized recognized methods in inliner to b

[2020-10-21 08:30] mit-mit commented on #43594
Sorry, yes we're not going to prioritize adding it right now. We're spending all our time on getting to beta, where there is no experiment flag at all.

[2020-10-21 10:27] bharatsingh100 opened #43875 "Add a .parse contructor to DateTime class"
A `.parse' constructor to `DateTime` to parse dates from strings
One way could be that this constructor accepts two arguments one is `format` string example: `yyyy/mm/dd`  etc.
 and another is the string to be parsed into `DateTime` object

[2020-10-21 10:36] lrhn commented on #43875
We generally recommend using `package:intl` and its [DateFormat](https://pub.dev/documentation/intl/latest/intl/DateFormat-class.html#:~:text=DateFormat%20is%20for%20formatting%20and,name%2C%20field%20order%2C%20etc.) class for format specific parsing of dates.

We would add something similar to the `DateTime` class, but other than discoverability, it won't have any advantage over the existing cod

[2020-10-21 10:51] hacker1024 opened #43876 "SSL Proxy with a HttpClient?"
The [docs](https://api.flutter.dev/flutter/dart-io/HttpClient/findProxy.html) describe how to set up a `HttpClient` that uses a proxy by setting the `findProxy` callback.

This works fine with HTTP proxies, but not when using a proxy with SSL.

When using a SSL server (for example, `us5308.nordvpn.com:89`), a `get` operation fails with the following:

[code]

The same server can be connected to wi

[2020-10-21 11:36] bharatsingh100 commented on #43875
https://github.com/dart-lang/sdk/blob/1d923a386d7a9f384435a2b4c1287b2937504566/sdk/lib/core/date_time.dart#L279
there is a parse constructor which parses string to `DateTime` but it's functionality is limited and it is not updated in the documents

[2020-10-21 11:38] bharatsingh100 commented on #43875
it could be possible to modify this constructor to parse different string formats

[2020-10-21 12:51] vsmenon commented on #43863
Is `dartfix` still a valid build target?

[2020-10-21 12:52] vsmenon commented on #43860
Closing this due to lack of info.  Please create a new one with the info requested in the original message.

[2020-10-21 12:52] #43860 closed

[2020-10-21 12:53] athomas commented on #43807
I believe this is an infra failure again. I'll try to reproduce locally and restarted the tryjob. I suspect this happens while there are DEPS changes on master or the CL that haven't rolled to flutter, yet. The DEPS change probably has rolled since. The script doesn't create a full triple headed checkout, and there is still something missing.

[2020-10-21 12:55] jensjoha commented on #43807
Isn't it just the same thing again? Because my CL hadn't landed yet (12 hours ago)...

[2020-10-21 13:44] #43174 closed

[2020-10-21 14:18] jakemac53 commented on #43872
Yep taking a look now

[2020-10-21 14:39] long1eu opened #43877 "Expose a SendPort.fromAddress constructor"
I'm trying to create another `Isolate` that can register and call plugins in Flutter. While I can create an isolate on the Dart side, there is no way to get a handler of that Isolate and pass it to Java for example and register it with a `FlutterEngine` or with the `PluginRegistry`.

Another way to do it would be to create a `FlutterEngine` on the Java side and then call a Dart callback. This crea

[2020-10-21 14:43] athomas commented on #43807
Could be, but there's also an issue with DEPS upgrade script visible in the logs. Though we might want to remove this completely, because flutter-frontend doesn't even `gclient sync`.

[2020-10-21 14:44] #43870 closed

[2020-10-21 14:56] stereotype441 opened #43878 "Migration tool should understand built_value @nullable annotations"
When a class implements `Built` (from `package:built_value`), the migration tool should interpret all getters in it that are annotated with `@nullable` to have nullable types, and all other getters to have non-nullable types.  It should also remove the `@nullable` annotations as part of the migration process.

(Note that use of `@nullable` outside of a class implementing `Built` is outside recomme

[2020-10-21 14:58] johnniwinther commented on #43833
I've looked at the remaining tests (not the nnbd_migration stuff) and we need to just update the expectation files after flipping the flag. The tests not only use the version number but also change messaging based on whether the feature is enabled by default.

See https://dart-review.googlesource.com/c/sdk/+/168651 for the changes needed and how to generate them.

[2020-10-21 15:02] jakemac53 opened #43879 "CFE doesn't respect the experimentalReleaseVersion once the feature is enabled for non-allow listed packages"
See the[ failure here](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8865884803271263360/+/steps/flutter_test_build_tests/0/stdout) from the 2.11 flag flip CL for NNBD:

[code]

This package _should_ be opted in because the --enable-experiment=non-nullable flag is explicitly passed, so it should only require the experimental release version (which is 2.10) to be opted

[2020-10-21 15:03] iamvikasht opened #43880 "No source and pie chart shown while running dart observatory for flutter app"
[Dart VM Observatory.pdf](https://github.com/dart-lang/sdk/files/5416735/Dart.VM.Observatory.pdf)

I tried to use dart observatory for profiling my flutter app.I have followed the documentation as it is mentioned.
but on my VM i am not able to get pie chart for isolate and I cant even access the source code.i have tried dart observatory on different apps but I am getting same response in all the c

[2020-10-21 15:15] mkustermann commented on #43877
You can send `receivePort.sendPort` directly instead of `receivePort.sendPort.nativePort`. The purpose of the latter is to be able to send messages to dart from C only.

[2020-10-21 15:16] long1eu commented on #43877
You can not send a SendPort through PlatformChannel.

[2020-10-21 15:51] #43819 closed

[2020-10-21 15:54] aam commented on #43844
https://dart.googlesource.com/sdk/+/deba2f7e6505e94496d25b58b6e262c96bb4ad39 landed few fixes mentioned in https://github.com/dart-lang/sdk/issues/43844#issuecomment-712484531

[2020-10-21 15:55] sigmundch commented on #43816
I believe the first one will require removing this line: https://github.com/dart-lang/sdk/blob/master/pkg/compiler/test/codegen/data/tdiv1.dart#L5 together with your CL.

Joshua initially was removing that when he tested the combined CL, but couldn't land it separately (currently analyzer needs it to opt-in the file to null-safety, once the default flips, the comment wont be needed anymore).

The

[2020-10-21 16:06] sigmundch commented on #42536
Good question, we should give you an answer shortly.

/cc @srujzs

We are in the process of changing the default for ddc on a library by library basis (on if the library is opted-in to null safety, off when it's not), and the ability to turn it off with `--no-native-null-assertions`. I don't believe we intend to change the dart2js default right now, but I'm not opposed to having the negated flag a

[2020-10-21 16:11] sigmundch commented on #43780
We can also keep it with just the external link and patch the message internally (I believe we have done similar patches in the past)

[2020-10-21 16:15] nshahan commented on #43843
😕

Strange, I'll take another look.

[2020-10-21 16:55] srawlins commented on #32051
Thanks much!

[2020-10-21 17:10] jayjah commented on #43877
why not? please look at the following code:
intern Isolate Communication
[code]

[2020-10-21 17:12] long1eu commented on #43877
I think that my example code made things worse. I'm not creating the Isolate from Dart I'm creating it from Java using the FlutterEngine class.

https://github.com/flutter/engine/blob/master/shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java

[2020-10-21 17:37] alexmarkov commented on #43747
This test is still bouncing between flaky and RuntimeError.

Recent failure which turned pkg-win-release bot red:
[code]

[2020-10-21 17:37] nshahan commented on #43843
A few new test cases landed with source code that needs to be opted out. I'll update the test, hopefully the third time is a charm.

[2020-10-21 18:32] alexmarkov commented on #43743
Failed today once again, on the same bot (`vm19-m9`):

https://ci.chromium.org/p/dart/builders/ci.sandbox/pkg-mac-release/14477

https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8865808773351632928/+/steps/test_results/0/logs/new_test_failures__logs_/0

[2020-10-21 19:04] alexmarkov commented on #43743
Same failure happened on another bot, `vm22-m9`:

https://ci.chromium.org/p/dart/builders/ci.sandbox/pkg-mac-release/14478

https://dart-ci.appspot.com/log/any/unittest-asserts-release-mac/14478/pkg/dds/test/sse_smoke_test

[2020-10-21 21:14] gisborne commented on #43840
I am trying to run the example from the webdev discussion here: https://dart.dev/tutorials/web/get-started

I am using latest dart 2.10.2. I generated the project with `stagehand web-simple` and then copied in the things_to_do() code from the Dartpad example on the page, then ran it with `webdev server —debug` (I've also tried without —debug with the same result).

The browser console shows:
```De

[2020-10-21 21:15] leafpetersen commented on #43816
I'm guessing it needs to be changed to 2.12 rather than removed - the whole package is opted out, but this test needs to be opted in, right?  That won't change after the experiment.

I'll look into it.

[2020-10-21 21:17] leafpetersen commented on #43844
Thanks all!  Confirmed that I'm not seeing any more frontend_server unit test failures on the pkg-linux-release-try bot.  🎉

[2020-10-21 21:21] bwilkerson commented on #35519
https://dart-review.googlesource.com/c/sdk/+/168762

[2020-10-21 21:21] #35519 closed

[2020-10-21 21:54] jonahwilliams commented on #43588
I'm not seeing sound-null-safety set to true. I tried reading values from the flag list using hello_world.

Step 1: update examples/hello_world

[code]

Step 2: print out flag value during flutter run

[code]

Step 3:

[code]

[2020-10-21 22:23] pq commented on #43869
Fixed w/ fd44a07616999c3f9764999b8ea14147935d3ecd.

Regression tests: https://dart-review.googlesource.com/c/sdk/+/168765

[2020-10-21 22:23] #43869 closed

[2020-10-21 22:30] rmacnak-google commented on #43862
The specific crash involving ReverseScavenge is fixed. Depending on the timing and exact memory availability, this program can still crash in ways covered by https://github.com/dart-lang/sdk/issues/43642.

[2020-10-21 22:51] leafpetersen commented on #43807
This try bot is green with my CL so closing this out.  Feel free to re-open if you think there's more to be done here.  Thanks all!

[2020-10-21 22:51] #43807 closed

[2020-10-21 23:20] leafpetersen opened #43881 "[test infra] test scripts ignore --dart2js-options ?"
In [this failure log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8865798738483684304/+/steps/test_results/0/logs/new_test_failures__logs_/0)

I see the following reproduction command:

[code]

This seems to correspond as expected to the entry in test_matrix.json:

[code]

but running this command produces the same invocation that is shown in that builder log above:

[2020-10-21 23:21] srujzs opened #43882 "DDC should add a flag to turn weakNullSafetyWarnings into errors"
`weakNullSafetyWarnings` is used to enable warnings in unsound mode that would be errors in sound null-safety. DDC uses this runtime flag to toggle this behavior. In order to support/encourage internal library migration, there should exist a flag to turn these warnings into errors. There is concern here, however, of using this flag on tests whose legacy library dependencies would be blocked during

[2020-10-21 23:25] leafpetersen commented on #43816
Tests pass locally with that file updated to 2.12, and I filed [this](https://github.com/dart-lang/sdk/issues/43881) issue to track the observatory_ui failure, so closing this one out.  Thanks all!

[2020-10-21 23:25] #43816 closed

[2020-10-21 23:31] leafpetersen opened #43883 "[nnbd_migration] unit tests fail with null safety enabled"
See failures [here](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8865798738483684272/+/steps/test_results/0/logs/new_test_failures__logs_/0) .  It looks like these tests are generating snippets of dart code and running them through the migration tool, and when the experiment flag is turned on by default these snippets get treated as already opted in and the tests fail

[2020-10-21 23:32] leafpetersen commented on #43833
Thanks!  Filed https://github.com/dart-lang/sdk/issues/43883 to track the nnbd_migration failures, and will incorporate the expectation updates into my CL.

[2020-10-21 23:32] a-siva commented on #43871
/cc @athomas @natebosch

[2020-10-21 23:50] nshahan opened #43884 "Segfault running `dart migrate`"
In my local flutter repo I am at commit 78f05dfb9f3400135225ad5515cc8013086e0e1e
I'm running MacOS 10.15.7 (19H2)

I attempted to run `flutter/bin/dart migrate` in the `flutter/exaples/hello_world` directory and got a random segfault. I copied the output from my terminal below. You can see after the segfault I checked for changes by running `git status`. It shows that the analysis_options.yaml fil

[2020-10-22 00:16] gisborne commented on #43840
Tried 2.11.0-218.0.dev and it has the same problem.

[2020-10-22 00:32] sigmundch commented on #43881
I wonder if there is an inconsistency with named configurations and extra options. We use dart2js-options in other cases, but for that we define a brand new configuration: https://github.com/dart-lang/sdk/blob/master/tools/bots/test_matrix.json#L570

If you decide to add a new configuration, you may be able to avoid using the `dart2js-options` altogether and let the test runner derive the flag by

[2020-10-22 00:34] munificent commented on #43881
You're right, @sigmundch. This is a weird (i.e. broken) interaction between the old ad-hoc way of building a configuration on the command line for tests (`-c`, `-r`, `--dart2js-options`, etc.) and the newer named configuration support (`-n`). If you tell the test runner to run a named configuration, then it silently ignores some other arguments you pass to it on the command line.

So in:

[code]

[2020-10-22 00:49] munificent commented on #43881
CL for this: https://dart-review.googlesource.com/c/sdk/+/168766

[2020-10-22 03:42] leafpetersen commented on #43833
@johnniwinther I had to regenerate a few more expectations than were in your CL to address the remaining expectation failures from [this log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8865776610158818928/+/steps/test_results/0/logs/new_test_failures__logs_/0).  The diffs all look reasonable to me, but if you want to check them they're now uploaded here: https://dar

[2020-10-22 06:08] ds84182 commented on #43877
Since this is in Flutter, shouldn't you use [IsolateNameServer](https://api.flutter.dev/flutter/dart-ui/IsolateNameServer-class.html)?

[2020-10-22 06:10] long1eu commented on #43877
@ds84182 You are a genius. I know there was a way to register SendPorts, but I thought it belonged to ffi and that it might have been removed in preview. Thank you so much.

[2020-10-22 06:10] #43877 closed

[2020-10-22 06:18] #43879 closed

[2020-10-22 06:34] johnniwinther commented on #43833
It looks like two tests unneedingly uses version 2.10. I'll update these.

[2020-10-22 07:48] dcharkes commented on #43739
I also observed crashes on Windows IA32 ([log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8865906532835110640/+/steps/vm_tests_shard_8/0/logs/task_stdout_stderr:_vm_tests_shard_8/0)). These show up as purple because archiving core dumps fails.

[2020-10-22 08:04] davidmorgan commented on #43882
Thanks!

In google3 we can completely control where the flag is used :) for example requiring particular migration state of dependencies. So, no downside :)

[2020-10-22 08:08] johnniwinther commented on #43833
I remove the unneeded annotations in https://dart-review.googlesource.com/c/sdk/+/168820

[2020-10-22 10:55] SamadiPour commented on #43838
Same here. How to fix it?

[2020-10-22 12:07] lrhn commented on #43838
The lazy approach would be:
[code]

A more intricate approach could be:
[code]
or
[code]

There currently is no way to use the `queryParameters` argument and get what you want. There is no way to configure the URI to not use standard URL encoding for query parameters.

(If we do a complete rewrite of the `Uri` class at some point, which we want to for several reasons, mainly compatibility with the

[2020-10-22 12:54] #43871 closed

[2020-10-22 14:15] Dolaned commented on #35766
@dcharkes so this means you would want the original thread that setup the callbacks to make the call back to dart?

[2020-10-22 14:28] jakemac53 commented on #43882
Could I get some clarification on what the difference would be between this and `--null-safety-asserts`?

[2020-10-22 14:30] dcharkes commented on #35766
Yes, a Dart isolate can have only one thread executing Dart code. Doing a callback on a different thread would break invariants in the Dart execution model having two thread executing Dart code in the same isolate. (One Dart execution thread for example means we can trust that we never have concurrent modification, enabling optimizations.)

Using native ports will schedule a task on the event loop

[2020-10-22 15:00] lrhn commented on #43875
It's definitely *possible*, but it's not desirable to copy the functionality that already exist in `package:intl`.

We can choose to copy *some* of it, but then that means that `package:intl` would not be able to rely on `DateTime.parse` for its functionality, and then we would have two implementations. Or we could implement all of it, but that's a large and expensive piece of code to maintain, an

[2020-10-22 15:17] athomas commented on #43797
Merged to beta in bba1aeca3a6062bbedb0147a39c093a9ff7291b2 (2.11.0-213.4.beta). The issue will be left open until merged to stable (there is no separate tracking issue for the merge-to-beta).

[2020-10-22 15:17] athomas commented on #43822
Merged to beta in bba1aeca3a6062bbedb0147a39c093a9ff7291b2 (2.11.0-213.4.beta). The issue will be left open until merged to stable (there is no separate tracking issue for the merge-to-beta).

[2020-10-22 15:17] athomas commented on #43835
Merged to beta in bba1aeca3a6062bbedb0147a39c093a9ff7291b2 (2.11.0-213.4.beta). The issue will be left open until merged to stable (there is no separate tracking issue for the merge-to-beta).

[2020-10-22 15:56] sigmundch opened #43885 "[CP][stable channel][beta channel] Mitigate unspecified behavior in DDC with Chrome 86"
**commit(s) to merge**: 34b485c0c4ef3a1b24f89fb2af3ec6ec6837a401

**merge instructions**: clean merge

**What is the issue**: Chrome 86 has several breaking changes that may affect DDC. Some affect DDC during load time (like the one we fixed and cherry-picked 2 months ago: https://github.com/dart-lang/sdk/issues/43287) and some only if certain browser APIs are used (like `getGamepads`: https://git

[2020-10-22 15:56] davidmorgan commented on #43878
Slight clarification, this only applies to abstract getters in `Built` classes; non-abstract getters should be treated as normal.

Thanks!

[2020-10-22 16:10] sigmundch commented on #43885
note: this request is for the stable channel, but it may be worth cherry-picking into the beta channel as well.

[2020-10-22 17:02] franklinyow commented on #43885
@pcsosinski

[2020-10-22 17:03] pq opened #43886 "consider a bulk fix for removing unused imports"
It seems like this is a pretty common case and a fix trivial.

There *is* a potential interaction w/ data-driven fixes.  Brian pointed out in chat:

My inclination is to cross that bridge when we get to it?

[2020-10-22 17:03] Delgan commented on #43838
I'm personally constructing the `uri` string myself by calling `Uri.encodeComponent()` for each parameter.

[code]

It seems to work fine.

[2020-10-22 17:08] franklinyow commented on #43885
Approved + merge to beta

[2020-10-22 17:09] pq opened #43887 "fix for `omit_local_variable_types` can leave unused imports"
Any fix that removes a type reference (or API call) might leave dead imports.

We might consider removing the (newly) unneeded import when performing the fix.

This is especially impacting in applying bulk fixes.

Related to: #43886.

[2020-10-22 17:19] nshahan commented on #43882
Enabling the `--null-safety-asserts` flag adds assertions that values are not null when passed as method parameters that have been statically typed as non-nullable in opted-in libraries.

The weak mode warnings (or optionally changed into errors) discussed here will trigger whenever a subtype check is allowed to pass that would have failed if this were running in sound mode. Some cases will overla

[2020-10-22 17:20] #43614 closed

[2020-10-22 17:25] bwilkerson commented on #43886
I don't think it's a question of "if"; I think we already have the interaction. Whether users will experience the interaction depends on whether we apply any data-driven fixes in a library with an unused import.

I think we would need to have a way to handle this gracefully before we added this support.

[2020-10-22 17:26] scheglov opened #43888 "Crash when applying resolution to PropertyAccess in cascade"
[code]

[2020-10-22 17:40] scheglov commented on #43888
https://dart-review.googlesource.com/c/sdk/+/168776

[2020-10-22 17:42] mkustermann opened #43889 "Build infrastructure to allow changing implementation of native calls to use FFI calls instead of runtime calls"
Native methods in Dart are currently using our runtime call mechanism to call from Dart into C code. There is a significant performance overhead due to this: The native dart function cannot be inlined, we go indirectly through stubs, we box all arguments and make an array on the stack (in order to provide the C function a pointer to an array of arguments) ...

To avoid some of this overhead, we wo

[2020-10-22 17:44] bwilkerson commented on #43886
In looking at #43887, I had an idea for a possible solution.

We could re-run analysis after applying the fixes and clean up any unused imports only at that point. I believe this would remove the possibility of interactions between other fixes and the unused import fix, but it does carry a performance penalty.

If we do at some point decide to iterate until there's nothing left to fix (other than

[2020-10-22 17:47] scheglov opened #43890 "Crash when applying resolution to IndexExpression"

[2020-10-22 18:02] pq opened #43891 "consider adding support for file analysis to `dart analyze`"
Currently `dart analyze` only works on a directory which surprised me.

[code]

I would expect this to work.

(Note that in `dartanalyzer` it does.)

[2020-10-22 18:05] pq opened #43892 "consider adding support for fixing (single) file(s) to `dart fix`"
Related to: #43886.

Currently:

[code]

I would expect this to work.

[2020-10-22 18:05] pq commented on #43892
(Failing support, the error message should be improved.)

[2020-10-22 18:07] bwilkerson commented on #43891
That's because we never added support for that to the server despite it being specified in the protocol spec, and `dart analyze` uses the server (unlike `dartanalyzer`).

Fixing server was a large part of the motivation behind creating the `AnalysisContextCollection` interface, but server still needs to be updated to use that interface.

[2020-10-22 18:28] scheglov commented on #43890
https://dart-review.googlesource.com/c/sdk/+/168778

[2020-10-22 18:48] pcsosinski commented on #43885
what's the timeline for this being in the wild?  our beta build is targeted to be re-cut from master in the beginning of Nov.

[2020-10-22 19:12] dmitryuck opened #43893 "Make '(' and ')' optional in statements, make ';' optional at the end of lines"
How do you like this idea?

Make '(' and ')' optional in statements,

Also, make ';' optional at the end of lines

Would be like swift and golang modern languages

[2020-10-22 19:13] #43893 closed

[2020-10-22 19:14] stereotype441 commented on #43878
Got it, thanks!

[2020-10-22 19:35] scheglov opened #43894 "Crash in getParameterDocumentation"
[code]

[2020-10-22 19:39] scheglov commented on #43894
https://dart-review.googlesource.com/c/sdk/+/168779

[2020-10-22 19:44] vsmenon commented on #43884
I just hit similar on Flutter gallery:

[code]

[2020-10-22 19:44] pq opened #43895 "replace w/ var fix produces invalid results for const collection literals"
For example:

[code]

when fixed, yields:

[code]

Expected:

[code]

(Tagging as bulk-fix impacting as well as I encountered it in bulk-fix testing.)

[2020-10-22 19:45] vsmenon commented on #43884
@devoncarew @a-siva - does this trace mean anything to you?  Both seem to hit `TrustEvaluateHandler`.

[2020-10-22 19:57] #43890 closed

[2020-10-22 20:26] pq opened #43897 "check for valid paths in pubspec validation"
Note that this check is currently provided by IntelliJ:

![image](https://user-images.githubusercontent.com/67586/96926027-e3266d00-1469-11eb-8a63-623f8691763e.png)

but presumably not in VS Code (@DanTup?)

Needless to say, any clients that are providing this analysis currently will need updating once his lands in server.

/fyi @alexander-doroshko  @jwren @bwilkerson @jonasfj

[2020-10-22 20:26] #43894 closed

[2020-10-22 20:45] llucax commented on #43797
Cool! So this is just the Dart side, right? It is still not shipped in any flutter channel yet or am I missing something (I just tried to verify if the fix works but it is still failing with the current flutter dev channe using Flutter 1.23.xl).

[2020-10-22 20:54] athomas commented on #43797
Yes, it means Flutter could now cherry-pick that hash to Flutter. It will appear on Dart's standalone release channels tomorrow morning.

@pcsosinski I'm not sure how to answer the if/when this will reach Flutter users question.

[2020-10-22 21:00] #43895 closed

[2020-10-22 21:16] #43888 closed

[2020-10-22 21:49] srawlins commented on #43777
@bwilkerson would you be able to look at this? I am not so familiar with analysis_server, but Konstantin mentions the fix may be to use PubPackageResolutionTest, which I am planning on using in my fix for #43883, the sibling bug for nnbd_migration.

[2020-10-22 22:02] leafpetersen commented on #43162
Re-opening this pending resolution of the re-opening of https://github.com/dart-lang/language/issues/1035 .

[2020-10-22 22:03] leafpetersen commented on #43163
Re-opening this pending resolution of the issues raised [here](https://github.com/dart-lang/language/issues/1035).

[2020-10-22 22:58] franklinyow commented on #41921
Released:
https://medium.com/flutter/null-safety-flutter-tech-preview-cb5c98aba187

[2020-10-22 22:58] #41921 closed

[2020-10-22 23:01] pq commented on #43897
I was initially thinking it would be awkward to land server support before IDEA stopped reporting but the UX isn't too bad.

![image](https://user-images.githubusercontent.com/67586/96938404-27703800-147f-11eb-9029-228ba844a66a.png)

Of note:

1. When you hover, you get the IDEA inspection (probably because it's an "error" not a warning) -- when it goes away, you'll see ours.
2. The IDEA inspectio

[2020-10-22 23:22] sigmundch commented on #43885
Chrome 86 reached the stable channel on Oct 6, so it is already out in the wild.

On the earlier part of the scrum meeting we were debating whether to include the beta or not. We thought that the new beta cut in Nov wont be released until at least mid November, we feared that it would be a while until it reaches flutter web users, some of whom have seen related issues (like in https://github.com/d

[2020-10-22 23:39] chaselatta commented on #43868
This has been fixed but I don't seem to be able to close the issue.

[2020-10-23 00:02] leafpetersen commented on #43868
Thanks!  Closing out.

[2020-10-23 00:02] #43868 closed

[2020-10-23 00:17] dnfield opened #43898 "Provide custom headers for the websocket in vm_service"
Specifically this function: https://github.com/dart-lang/sdk/blob/master/pkg/vm_service/lib/vm_service_io.dart#L31

Blocks https://github.com/flutter/flutter/pull/68654

Some internal customers at google currently pass custom headers to the web service protocol, which flutter_driver is able to support because it owns the websocket.

@bkonyi

[2020-10-23 00:42] a-siva commented on #43713
Additional flaky tests that started to consistently fail [app-kernel-linux-debug-x64](https://ci.chromium.org/p/dart/builders/ci.sandbox/app-kernel-linux-debug-x64/7301)
- service_2/coverage_optimized_function_test/dds
- service_2/coverage_optimized_function_test/service

[2020-10-23 00:54] franklinyow commented on #41769
Can I get a confirmation?  Like to declare we have zero blocker ASAP,  thanks!

[2020-10-23 06:29] #43811 closed

[2020-10-23 06:29] #43812 closed

[2020-10-23 06:29] #43813 closed

[2020-10-23 08:06] #43855 closed

[2020-10-23 08:06] #43856 closed

[2020-10-23 08:06] #43857 closed

[2020-10-23 08:47] lrhn commented on #41707
This seems to be working as intended. Calling `close` while an `addStream` is still active will give this result, not close the `addStream`.
I've been wanting to change that, allowing you to use `add`, `addError` and `close` during an `addStream`, but it has not been a high priority.

[2020-10-23 08:47] #41707 closed

[2020-10-23 09:14] alexander-doroshko commented on #43897
@pq Thanks for the progress with this feature!

FYI, some info about existing path inspection in InteliJ:
- it checks that the path is valid (relative or absolute) and points to a directory, not to a file
- it checks that the path is not referring to the current project itself (e.g. not like `"../this-project"`)
- it checks that the referenced folder contains a file named `pubspec.yaml`
- it doesn

[2020-10-23 09:29] #43851 closed

[2020-10-23 09:29] #43858 closed

[2020-10-23 09:29] #43859 closed

[2020-10-23 12:19] Dolaned commented on #35766
sorry i guess i was talking about the main thread,
Currently i am setting up the callbacks in dart and passing them to C, but then C has a seperate thread that processes data in the background, when it goes to call those callbacks i setup earlier i get a sigabrt
i thought using dart isolate might fix this problem but it might not?

would i be better off setting up the callbacks in c and then using

[2020-10-23 12:23] JanMate opened #43899 "Dart analysis issue: Stack Overflow in Event Log in IntelliJ IDEA"
It has stopped to hint me the code syntax.

## Dart analysis issue

Stack Overflow

## Version information

- Dart SDK 2.10.2
- Dart IntelliJ 202.7319.5
- IntelliJ IDEA 2020.2.3
- Mac OS X 10.15.7

## Details

Stack Overflow

[code]

[2020-10-23 12:34] sanfrnds9 commented on #43758
Same here:
Your current `analyzer` version may not fully support your current SDK version.

Please try upgrading to the latest `analyzer` by running `flutter packages upgrade`.

Analyzer language version: 2.9.0
SDK language version: 2.11.0

If you are getting this message and have the latest analyzer please file
an issue at https://github.com/dart-lang/sdk/issues/new with the title
"No published a

[2020-10-23 13:10] cskau-g opened #43900 "StreamingFlowGraphBuilder::BuildYieldStatement should only handle exceptions if it can"
In: https://github.com/dart-lang/sdk/blob/0ace625d6d53c72c44d0049f1b02975d39c019af/runtime/vm/compiler/frontend/kernel_binary_flowgraph.cc#L4881-L4913

We should only emit IR for handling the case where `async_op/sync_op(.., :exception, :stack_trace)` is called with `:exception != null` if the yield can throw.
That is, only yield points after a yield* will cause the logic in core_patch.dart:_moveN

[2020-10-23 13:16] cskau-g commented on #42457
This is done with the above change.

I'm not sure if that's the extent of what we wanted to track in the issue or not, but I'll go ahead and close it since the mentioned part is resolve.
If there is in fact more to track then please feel free to reopen.

[2020-10-23 13:16] #42457 closed

[2020-10-23 14:03] JanMate commented on #43899
In VS Code the same issue.

[2020-10-23 14:27] sstrickl opened #43901 "Separate TypeArguments into separate TypeParameters (binding) and TypeArguments (use) classes."
In CL [168101](https://dart-review.googlesource.com/c/sdk/+/168101), we save the default arguments (i.e., results of [instantiating to bounds](https://github.com/dart-lang/sdk/blob/master/docs/language/informal/instantiate-to-bound.md)) calculated by the CFE in `TypeParameter` objects. However, these default arguments are only needed when the instantiator of a `TypeArguments` object containing onl

[2020-10-23 14:27] sstrickl commented on #43901
/cc @mkustermann @crelier

[2020-10-23 14:31] bwilkerson commented on #43897
That isn't quite true. When server receives an `analysis_updateContent` notification for a Dart file it creates an override in the resource provider (https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/lib/src/analysis_server.dart#L497). I don't see anything in the code to suggest that this only happens for Dart files, so I have every reason to believe that we are, in fact, capturing

[2020-10-23 14:59] #43742 closed

[2020-10-23 15:34] bwilkerson commented on #43777
Based on the comments in https://dart-review.googlesource.com/c/sdk/+/168920, I'm not sure what approach I should be implementing. But once we know what needs to be done I can assess how big the task is and whether I can take it on.

[2020-10-23 15:38] alexander-doroshko commented on #43897
@bwilkerson Thanks for the clarification! I was under an incorrect impression after reading this comment in https://github.com/dart-lang/sdk/issues/25114#issuecomment-697397940
![image](https://user-images.githubusercontent.com/4499789/97023764-a5574080-155e-11eb-989f-1913885a2e48.png)

Looks like it's possible to fix this limitation for both pubspec.yaml and anaysis_options.yaml. It is already tr

[2020-10-23 16:22] jcollins-g opened #43903 "`LibraryElement.featureSet` has non-nullable enabled for libraries in unmigrated packages when experiment flag is on"
This is a problem at head and at analyzer 0.40.4.

If inside an analysis context you refer to a LibraryElement outside of a migrated package (which you presumably are using if you passed the experiment flag to analyzer), this LibraryElement will declare that it is non-nullable when it in fact is not.  This makes dartdoc believe unmigrated packages are migrated resulting in dart-lang/dartdoc#2403.

[2020-10-23 16:54] srawlins commented on #43777
I was able to fix the nnbd_migration tests with a smaller arc. https://dart-review.googlesource.com/c/sdk/+/168900

The trick is to also write a package config file expressing the languageVersion of each package involved (possibly just one package, the one for the individual test file...).

[2020-10-23 17:19] stefantsov commented on #43592
The proposed fix for the issue is here: https://dart-review.googlesource.com/c/sdk/+/168860/.

[2020-10-23 17:20] mayorbyrne opened #43904 "Trouble listening to upload progress"
I have tried using the provided `onProgress` parameters in `html_dart2js.dart`, but it appears to only be dispatching one time per service call. A quick modification of the code from
[code]
to
[code]
provided a much better result for my use case. Is adding an optional `onUploadProgress` parameter to the `postFormData` and/or `request` methods something that might be possible? Or is there another w

[2020-10-23 18:49] bkonyi commented on #43898
You can provide [VmService](https://github.com/dart-lang/sdk/blob/master/pkg/vm_service/lib/src/vm_service.dart#L1553) with an input stream and a writer callback which can be used to provide your own `WebSocket`.

[2020-10-23 18:49] #43898 closed

[2020-10-23 19:20] pq opened #43905 "@doNotStore not reporting top level variable assignments"
User report:

[code]

correctly reports.

But at the top level, it does not:

[code]

[2020-10-23 19:37] leafpetersen commented on #43843
Thanks, confirmed no more failures!

[2020-10-23 20:32] scheglov opened #43906 "No error for inferred type arguments violating type parameter bounds"
[code]

[2020-10-23 20:37] grouma commented on #43588
For the web we explicitly return an [empty](https://github.com/dart-lang/webdev/blob/98adadf379ef9ff1477497d1131fdc1d2a9ad559/dwds/lib/src/services/chrome_proxy_service.dart#L400) array. @jakemac53 and @annagrin is there a way to tell when the Frontend Server / build_web_compilers is run with null safety?

[2020-10-23 20:38] scheglov commented on #43906
Constraints:
0 = {_TypeConstraint} 'T extends Object' must extend 'U'
1 = {_TypeConstraint} 'T extends Object' must extend 'Object'

We [do DOWN](https://github.com/dart-lang/sdk/blob/369809185896d0893698eae139b189469b30b659/pkg/analyzer/lib/src/dart/element/generic_inferrer.dart#L349) of upper bounds, and the result is `U & Object`. And this is the type which we use as the inferred type. Which do

[2020-10-23 20:55] Hixie commented on #35234
FWIW, I'd be fine with removing "ignore_for_file" entirely, it seems like a back door to technical debt to me. We frown on it in the Flutter code base (it counts much more towards our tech debt benchmark). Also I prefer // ignore at the end of lines than before lines, where you could do `//ignore: a // ignore: b` if you really needed to. Plus I think people shouldn't be ignoring lints in generated

[2020-10-23 21:00] leafpetersen commented on #43906
@scheglov This ties back to [this open discussion](https://github.com/dart-lang/language/issues/1182#issuecomment-701723523).  We cannot allow intersection types to be used as the result of inference, and must erase them.  This is a great example, because it points out that we need to be sure to erase intersection types introduced by DOWN as well.

So for this specific example, after `DOWN` produc

[2020-10-23 21:49] bwilkerson commented on #35234
I actually think there are a few places where it's useful and not harmful, but personal opinion aside it would be a breaking change to remove it and I think there are too many other critical issues right now to add another one to the list.

I like it. It's a nice incremental improvement that solves at least one problem.

[2020-10-23 22:13] nshahan opened #43907 "Create regression test for benchmarks with conflicting library names"
When benchmarks are run in DDC our infra combines all libraries into a single module. This means we can run without depending on a build system but introduces some errors that we don't see in other environments.

One of these errors is conflicting library names from multiple packages. Most of the module system can't handle this. The "ddc" module system does so we changed the benchmark infra to use

[2020-10-23 22:17] Markzipan commented on #43907
Potentially related to this: https://github.com/dart-lang/sdk/issues/37534

[2020-10-23 22:21] leafpetersen commented on #43833
front end trybot is green, thanks for the help!

[2020-10-23 22:22] leafpetersen commented on #43883
These are green now, thanks!

[2020-10-23 22:33] vsmenon opened #43908 "Document createElement can return null in some cases"
With null safety, these APIs now return a non-nullable CanvasElement/Element:

https://api.dart.dev/dev/2.11.0-251.0.dev/dart-html/CanvasElement/CanvasElement.html

and

https://api.dart.dev/dev/2.11.0-251.0.dev/dart-html/Document/createElement.html

The underlying native API *can* return null in some rare cases - e.g., on iOS/Safari when memory is constrained.  When the API does return null, it c

[2020-10-23 22:45] bkonyi opened #43909 "dartk-strong-linux-debug-x64: standalone/out_of_memory_slow_growth_test/1 Flaky -> Crash"
There are new test failures on [[cfe] Use semantic nullability for "is non-nullable" queries in UP/DOWN...Add documentation to the `Type` class.](https://github.com/dart-lang/sdk/compare/51f8304b71303565dc8ff75f6c558e2a18aba171~...942f765763fd4542db01184c8992f11d202ee068).

The tests
[code]
are failing on configurations
[code]

Logs:

[code]

cc/ @rmacnak-google

[2020-10-23 22:45] nshahan commented on #43588
It seems like it would make more sense to retrieve the runtime mode elsewhere before the app starts running because we actually need to know and set the mode before we run main().

That said the old standby test is `[1, 2, null] is List<int>` should be `true` in weak more and `false` in sound mode.

[2020-10-23 22:48] leafpetersen opened #43910 "[dartanalyzer] Analyzer CLI language version depends on working directory"
See below for a reproduction transcript.  I set up a pub package with language version set to 2.9 (opted out), and with two dart files: foo.dart which should be an error if null safety is turned on, and bar.dart which should be an error if null safety is turned off (in other words I should get an error in either state, but in a different file).

Running the command line analyzer `dartanalyzer --en

[2020-10-23 22:50] pq commented on #43897
Thanks for the feedback @alexander-doroshko !

@jonasfj, do these validations look right?

Is there a pub validator that checks paths on publish?

[2020-10-23 22:52] leafpetersen commented on #43910
Confirmed that running as `dart analyze` with an appropriate analysis_options.yaml does not have this behavior - the error is in `bar.dart` consistently when run both from inside and outside the package root.

[2020-10-23 22:55] grouma commented on #43588
Is this something we should / could add in the DDC metadata?

[2020-10-23 22:59] leafpetersen commented on #43910
cc @whesse

[2020-10-23 23:13] scheglov commented on #43910
FWIW, we have always (since at least 2016) used `cwd` to discover `.packages` for URI resolution.
Not sure if this was the rule in the past, but this is not correct now with `.dart_tool/package_config.json`.

[2020-10-23 23:14] nshahan commented on #43588
I was talking with @annagrin about this topic earlier. She is investigating some refactoring of the infrastructure that needs to happen so the expression evaluation can use the correct mode. The case is a little different between frontend_server and build_web_compilers.

In the build_web_compilers case DDC could probably deduce the mode based on the dart sdk .dill file that is provided when compil

[2020-10-23 23:42] grouma commented on #43588
That is my understanding. @annagrin would know best though.

[2020-10-23 23:50] scheglov commented on #43906
Yes, thank you.
https://dart-review.googlesource.com/c/sdk/+/168996

[2020-10-23 23:56] franklinyow commented on #43842
How are we doing on this?

[2020-10-24 00:39] bdkjones commented on #42774
Hi everyone. It's been a few months since this was opened. Has any progress occurred? The milestone is still ambiguous and Apple Silicon Macs are about 30-45 days from being in the wild (if Apple's "by the end of the year" statement holds true). Thanks!

[2020-10-24 01:57] leafpetersen commented on #43910
I'm actually not sure what the "correct" behavior is, or even if there is a specified correct behavior.  I just noticed the inconsistency. I think the CFE does respect the language version regardless of cwd though.

[2020-10-24 01:58] leafpetersen commented on #43842
Confirmed that these are all green now.

[2020-10-24 01:58] #43842 closed

[2020-10-24 02:35] #43905 closed

[2020-10-24 04:03] pq commented on #43897
Re-opening to keep discussion alive.

[2020-10-24 06:35] sanfrnds9 commented on #43758
Any update? facing same issue

[2020-10-24 07:22] alextekartik opened #43911 "js compiler: jsified array cannot be used with for...in in the javascript world"
While trying to wrap a 3rd party library on node js (so using node_compilers) that was using for...in to iterate through arrays (maybe bad but I cannot control that), I encountered a weird behavior. jsified array cannot be iterated safely using for...in.

Consider the following javascript code:

[code]

And the following dart test:

[code]

When ran using:
[code]
or

[code]

The last test is faili

[2020-10-24 10:29] johnniwinther opened #43912 "CFE Null Safety"
This epic is a bucket for all null safety related work in the CFE.

[2020-10-24 13:35] DanTup opened #43913 "File.create() takes 2.5s to create a file whereas File.createSync() takes < 1ms"
There's a lint that mentions some async IO being much slower than sync:

https://dart-lang.github.io/linter/lints/avoid_slow_async_io.html

The `create` method isn't specifically mentioned, but I presume the same is expected. However there's nothing on *how much* slower it's expected to be - the difference I'm seeing is huge, so I'm not sure if it's really what's expected. I was using async method

[2020-10-24 13:40] DanTup commented on #43913
Well, this turned out to be incorrect 😔

I had put my test code into the app I was testing, and hadn't prevented it from running it's other async work, so there was actually other stuff going on too - and commenting that out bought the create down to 12ms. So this is actually exactly as you'd expect and it was being held up by other async work going on 🙈

[2020-10-24 13:40] #43913 closed

[2020-10-24 13:48] mnordine opened #43914 "requestFullScreen missing optional parameters"
`requestFullScreen` takes a `FullscreenOptions` object.  Unfortunately, it's missing in Dart, and this means you cannot have an immersive full screen experience on Android. It will always show the navigation UI.

See:
https://developer.mozilla.org/en-US/docs/Web/API/Element/requestFullScreen
https://developer.mozilla.org/en-US/docs/Web/API/FullscreenOptions

[2020-10-24 14:28] sujayarvind28 opened #43915 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-201.8743.12.41.6858069`
- `2.10.1`
- `AI-201.8743.12.41.6858069, JRE 1.8.0_242-release-1644-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1536x864`

[2020-10-24 20:12] lmcdougald commented on #33383
Absolutely wild that this is considered "closed not planned" considering its ramifications for development. If I want to create a private method that should not be used by other classes in the package I have no options in Dart except for communicating its private nature to team members. If nothing else, this also clutters code completions.

While no code is truly self-documenting, this absence mea

[2020-10-24 23:50] chornbe commented on #33383
There’s always early 90s Visual Basic notation of “p__” on private variables.

FWIW I’ve decommissioned one flutter project this year. I think management is considering another for next year.

[2020-10-25 02:43] Jairolaya12x commented on #43841
I have the same issue, in windows 10 and MacOS for example if I write

`Future<List>`
`Future<List<String>>`

Break the Dart analyzer and show a error like this,
![image](https://user-images.githubusercontent.com/12990103/97097643-f3dd0b80-1640-11eb-9276-7eadca383d41.png)
And if I change the code don't works the only solution is restart the analyzer but is frustrating.
And same like you a temporal

[2020-10-25 02:58] Jairolaya12x commented on #43657
I have the same problem but is only in Intellij in vscode works fine

[2020-10-25 07:27] tobega commented on #33383
Interesting that nobody has been able to give any concrete example as to what problem class privacy would solve. Seems to me that they just want to change Dart to work with their current coding practices rather than learn how to use Dart effectively.

In Java you have a class per file and things marked private are accessible only in that file. In Dart, each file is a library and anything with an u

[2020-10-25 08:42] JanMate commented on #43899
Removing of `~/.dartServer/.analysis-driver/` folder solved the problem.

[2020-10-25 14:18] Manuelbaun opened #43919 "Auto completion difference between a function and variable as a function"
Hello,

I encountered a different behavior of the auto-completion when I use a regular `function` vs a `variable` as a `function`.

[code]

When I use the `create2` function, IntelliSense shows me the option to pass the named parameter `a` to the function. That is not the case when I try to call `create`. It does not show me any suggestions.
This was discussed in the dart-lang/sdk channel on gitte

[2020-10-25 15:21] talhabalaj opened #43916 "HttpException: Invalid response, unexpected 10 in reason phrase"
I'm having an issue while making an HTTP request to my router using dart. I have used http module as well as the dio both throw the same error.

I already have a python module for doing the same thing and it works fine. It seems like an issue in dart SDK as every HTTP request library I tried, throw the same error. An interesting thing I found is that this is not the case with the router's login ro

[2020-10-25 15:49] singlesoup commented on #43329
bro the timer package that you made is it not periodic ?
I tested it to run a countdown for 10 seconds but , it accepts only void callback function(as a 2nd parameter) which is called just once and is not periodic?
How to implement countdown if it just fires after the given duration (read the whole docs provided in the package, no where it mentions how to implement this.)

[2020-10-25 21:56] llucax commented on #43329
Yeah, there is no periodic support for now, but you can just rearm the timer when it is fired and you get the periodicity, something like:

[code]

Should do the trick (you might want to rearm the timer before the callback is called if it takes some time to complete and you want more precision in the period).

But the whole idea of the package is to be convenient to use, so feel free to create a f

[2020-10-25 22:04] vsmenon commented on #43916
Do you have a repro using a `dart:io` directly?  If not, you may want to file this on the `dio` package.

[2020-10-25 22:04] vsmenon commented on #43915
Closing due to lack of info.  Please re-open with error details.

[2020-10-25 22:04] #43915 closed

[2020-10-25 23:15] talhabalaj commented on #43916
With due respect sir, The error is not a problem with any http client on pub.dev. I strongly think that it's with http parser of dart that throw this error. My guess is it's somewhere in dart:io. I can be wrong!

[2020-10-26 02:48] talhabalaj commented on #43916
I tried using `dart:io` to show that's no the fault of any library.
[code]

[2020-10-26 05:34] leonsenft opened #43918 "Redirecting factory constructor with generic parameter doesn't compile with null-safety enabled"
# Version

I can reproduce in various contexts/versions:
* Dart SDK Version
  * 2.10.2 (macOS and Windows)
  * 2.11.0-240.0.dev (DartPad in Chrome)

# Issue

A redirecting factory constructor with a generic type parameter doesn't compile with `--enable-experiment=non-nullable`.

# Reproduction

Copy the following snippet into https://nullsafety.dartpad.dev/ then press **RUN**:
[code]

There are no

[2020-10-26 06:30] SushantChandla commented on #43378
Can i work on this issue?

[2020-10-26 07:33] cskau-g opened #43920 "Nested sync*/yield* exception handling broken in dart2js"
[160221](https://dart-review.googlesource.com/c/sdk/+/160221) adds two new regression tests for exception handling in nested sync*/yield* functions: sync_star_exception_test and sync_star_exception_nested_test.
The change fixes the tested issue for the regular VM, but does not address the issue for dart2js.

I have approved the failures for the newly added tests for dart2js, but this issue tracks

[2020-10-26 08:36] dcharkes commented on #35766
@Dolaned, yes, you're better off using the message mechanism to asynchronous computation.

Using a second isolate has downsides: (1) you can only run 1 task in the background per isolate, so you'd have to have more than one isolate if you want to have more than 1 task running in the background at the same time, and (2) isolates take up some resources (memory, and some startup time).