[2020-05-28 08:13] bohdanbirdie commented on #42075
@natebosch thanks for the update
I managed this is pretty much similar way
Sharing for those who might be interested
[code]

[2020-05-28 08:30] fishythefish opened #42088 "dart2js has incomplete support for local function type variables"
Consider the following contrived, but small, example:

[code]

The VM compiles this successfully. (You can, for example, `print` the local function to ensure liveness.)

On dart2js, the compiler throws:
[code]

Although local type variables cannot be (globally) indexed, it should be possible to convert them from the K-model to the J-model by first ensuring the enclosing local function is converted

[2020-05-28 08:31] cskau-g commented on #41990
CC: @mkustermann

[2020-05-28 08:42] eernstg commented on #42086
I believe you're seeing the following: Pre-null-safety code will not promote (because global variables are never subject to promotions&mdash;any non-trivial computation could change it, so it's almost never sound to assume that it hasn't changed), and null-safety code also won't promote it. But with pre-null-safety downcasts, there is no error. So this is working as expected.

[2020-05-28 08:46] sgrekhov opened #42089 "No error in CFE for promoted type variable of wrong type"
The code below produces  compile-time error in analyzer and no issues in CFE
[code]
If to remove `if (x is String?) {` from function `test` then CFE starts produce an error as well

`Dart VM version: 2.9.0-11.0.dev (dev) (Tue May 26 12:14:57 2020 +0200) on "windows_x64"`

[2020-05-28 08:50] #42086 closed

[2020-05-28 08:52] mraleph commented on #40370
I think the time is ripe to try. We will track the work in #36983 - I am a bit worried that it might lead to worse code size than the current implementation, but I think leaks are bad enough to warrant trying.

[2020-05-28 09:00] dungnv2602 commented on #39652
I'm falling into toDouble() hell when it comes to clamping doubles :-(

[2020-05-28 09:00] sigurdm commented on #41355
Yes

[2020-05-28 09:01] eernstg commented on #42089
Interesting.

@johnniwinther, it looks like the CFE might create types of the form `X? & T` where `X` is a type variable. That may be a small step in the CFE, but it is not currently supported by https://github.com/dart-lang/language/blob/master/resources/type-system/subtyping.md, and it would presumably be a non-trivial change to the treatment of types.

[2020-05-28 09:02] DanTup commented on #41942
@bkonyi this was using a nightly build from http://gsdview.appspot.com/dart-archive/channels/be/raw/latest/sdk/, so it should have all the correct versions of everything.

[2020-05-28 09:20] Sunyandong-CS opened #58174 "how to custom lint rules only used by myself"
hello ~ i want to develop a lint rule that only can be used in my project. is there any way can i to do this?

[2020-05-28 09:37] eernstg opened #42090 "Surprising inference failure on nested future"
Consider the following program:

[code]

This program is rejected by both the CFE and the analyzer (version 2.9.0-11.0.dev as well as a fresh 2eaac80e1a968b0219793df296e38003f97ede7d):

[code]

and

[code]

The following variant is accepted:

[code]

It looks like the type inference commits to a choice for the two branches of `FutureOr` a bit too early. Is that intended, or should it search more e

[2020-05-28 09:37] johnniwinther commented on #41563
Fixed by https://dart-review.googlesource.com/c/sdk/+/145461

[2020-05-28 09:37] #41563 closed

[2020-05-28 09:41] johnniwinther commented on #40858
This has been fixed for dart2js.

[2020-05-28 09:41] #40858 closed

[2020-05-28 09:49] DevarshRanpara commented on #40243
I am on flutter version 1.7.1 on stable channel.
Same story for me. dart.exe consumes full memory and my PC stop responding.
Always i need to flutter clean before every run, and that is not a solution.

[2020-05-28 09:50] eernstg commented on #41803
About tests/language/invalid_returns/async_valid_returns_test.dart:

There are 12 errors.

`STATIC_TYPE_WARNING.RETURN_OF_INVALID_TYPE` where the returned expression has type `dynamic` amounts to 8 of them, and this should not be reported as an error. This follows from the requirement that the type of the returned expression (`dynamic`) must be assignable to the future value type of the enclosing

[2020-05-28 10:29] huafu opened #42091 "Analyzer? bug with inherited types/interfaces"
* Dart SDK Version (`dart --version`): `Dart VM version: 2.8.2 (stable) (Mon May 11 15:06:42 2020 +0200) on "macos_x64"`
* Whether you are using Windows, MacOSX, or Linux (if applicable): `NA`
* Whether you are using Chrome, Safari, Firefox, Edge (if applicable): `NA`

Example in the DartPad: https://dartpad.dev/8237ab5e8b4ca46add5bf5625693c5ec

This looks like a type system inheritance issue and

[2020-05-28 10:43] athomas commented on #42049
I commented on the CL that landed the tests. I believe the root cause for the windows failures is the the tests assumed the executable is called `pub` on all platforms but it is `pub.bat` on Windows.

My comment is visible here:
https://dart-review.googlesource.com/c/sdk/+/148789/3/pkg/nnbd_migration/lib/migration_cli.dart

[2020-05-28 10:51] mraleph commented on #42091
Notice that your implementation of `buildQuery` is taking some specific subclass of an `IDocument` while an interface specifies that it should be taking an arbitrary `IDocument` - hence it is an invalid override because it has more specific parameter type.

You can solve this by declaring `D from` as `covariant D from`.

[2020-05-28 10:51] #42091 closed

[2020-05-28 10:55] jonasfj opened #42092 "Signal handling in children of 'dartdev run' is problematic"
When running `dart run main.dart` handling `sigint` in `main.dart` will cause the `dartdev` process to die, while the child process lives on.

The following [sample handles `sigint`](https://gist.github.com/jonasfj/422d6ddf5006a258a1c96b9696949a82).
[code]

**Correct behavior:** when invoking `dart main.dart` and sending `sigint` (by hitting `control+c`) we get the following _correct_ behavior:
[c

[2020-05-28 10:59] huafu commented on #42091
Wow, ok just discovered that `covariant` keyword in the doc before, thanks! and sorry for posting this (wrong) issue then!

[2020-05-28 11:31] #35371 closed

[2020-05-28 11:31] #41971 closed

[2020-05-28 11:37] eernstg opened #42093 "Analyzer soundness problem: Return void to Null allowed."
Consider the following program:

[code]

The analyzer (2.9.0-11.0.dev and 2eaac80e1a968b0219793df296e38003f97ede7d) accepts this program with no errors, but it is not sound to allow an expression of type `void` to be returned when the return type is `Null`, because the returned object could have any type whatsoever.

A similar issue arises with the asynchronous form:

[code]

[2020-05-28 11:42] eernstg commented on #41803
About sync_invalid_return_27_test.dart: This error is legitimate. It is a soundness violation to allow returning the value of an expression of type `void` with return type `Null`. Cf. https://github.com/dart-lang/sdk/issues/42093.

[2020-05-28 12:03] jensjoha commented on #41862
I think that the issue where the frontend_server is slowly using more and more memory is fixed with 86f3fde23fac9684f99200841f95db60bab79d20 (https://dart-review.googlesource.com/c/sdk/+/149280).

There's probably another issue in play for those who are experiencing it using "infinite ram" right away. That issue has probably been fixed with 857fca710fd7b75e5595e198d5fb723f077b4563 (although there'

[2020-05-28 12:45] askeksa-google opened #42094 "Print lone surrogates as replacement characters"
The recent breaking change described in https://github.com/dart-lang/sdk/issues/41100 changes UTF-8 encoding such that lone surrogates are encoded as replacement characters. However, this change did not extend to the `print` implementation in the VM, which contains its own UTF-8 encoder.

This causes the failures seen in https://dart-review.googlesource.com/c/sdk/+/149285 where a test outputs surr

[2020-05-28 12:46] eernstg commented on #41803
CL https://dart-review.googlesource.com/c/sdk/+/149163/ changes the following tests:

[code]

The difference is that the expectation to get an error has been removed from those function literals whose inferred return type is different from the type of the variable that it is assigned to, in such a way that the error doesn't arise. The error on the regular functions have not changed.

A couple of v

[2020-05-28 14:17] mkustermann opened #42095 "BSS initialization causes flaky crash in TSAN mode"
During my gardening shift today I noticed there are flaky crashes that happen during BSS initialization.

From [this log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8879098438375531504/+/steps/test_results/0/logs/ignored_flaky_test_failure_logs/0):
[code]

@sstrickl This might be related to your recent changes. Could you take a look?

[2020-05-28 14:20] mkustermann opened #42096 "Flaky assertion hit in marker.cc"
During my gardening shift I noticed a flaky crash / assertion hit in `marker.cc`, from [this log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8879119232713667760/+/steps/test_results/0/logs/ignored_flaky_test_failure_logs/0):
[code]

/cc @rmacnak-google

[2020-05-28 14:26] vsmenon commented on #42089
@eernstg - should we file this as a CFE issue or a language one?

[2020-05-28 14:30] eernstg commented on #42089
I suspect that it would be too big for a language issue (the implications could be substantial if we start generalizing promoted types to have other forms than `X & T`), so that would make it a CFE issue. I'll mention this for the language team, so if there is a strong desire to go down that way then we can do that.

[2020-05-28 14:58] mkustermann opened #42097 "Flaky tsan race reported in vm/cc/MessageHandler_Run"
From [this log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8879142968702986384/+/steps/test_results/0/logs/ignored_flaky_test_failure_logs/0):
[code]

[2020-05-28 15:22] mkustermann opened #42098 "Shutdown of idle notification & gc"
During my gardening shift I noticed this tsan race (from [this log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8879173488799947920/+/steps/test_results/0/logs/ignored_flaky_test_failure_logs/0)):
[code]

I believe this is the same as  b/157612890 and will be fixed by [cl/149296](https://dart-review.googlesource.com/c/sdk/+/149296)

[2020-05-28 15:40] johnsonmh opened #42099 "[DartFix] omit_local_variable_types doesn't work with final or const"
## Example
When running `dartfix --fix=omit_local_variable_types` on the following snippet
[code]

### Expected
[code]

### Actual
[code]

Which produces errors.

## Version
`Dart VM version: 2.9.0-11.0.dev.flutter-e007545c42 (be) (Tue May 26 22:17:42 2020 +0000) on "macos_x64"`

[2020-05-28 16:19] leafpetersen commented on #36983
This is great!  Happy to see this explored.

Given the code size concerns (and given the fact that closure identity is observable in Dart) I wonder whether that would suggest an environment passing approach despite the slightly larger memory usage?  I don't know if that makes sense in our existing implementations since I don't know what our closure representations look like, but separating the env

[2020-05-28 16:54] dnfield commented on #42078
I'm actually seeing that if I report enough of the collectable objects as using enough memory, they get collected.

Unfortunately, "enough" is some absurdly high number - gigabytes of memory.

This seems very dangerous to me. Flutter does regularly call `NotifyIdle` when there's frame budget left, which is certainly the case in my test application. It's been suggested by @rmacnak-google (if I unde

[2020-05-28 17:02] #58174 closed

[2020-05-28 17:27] #42097 closed

[2020-05-28 18:02] munificent opened #42100 "Missing analyzer error on self-assignment with custom index operators"
I ran into this when [migrating](https://dart-review.googlesource.com/c/sdk/+/148286) language/implicit_downcast_during:

[code]

This should have a static error because it's passing an `A` to the index getter which expects a `B`. Instead, I get:

[code]

cc @stereotype441

[2020-05-28 18:11] a-siva commented on #42078
NotifyIdle is specified a deadline which tells the VM how much time is available, we apply some heuristics currently based on the deadline specified and factors like idle scavenge/mark sweep thresholds. If the heap is sufficiently large then I am pretty sure the idle notification will trigger a GC if it can finish within the deadline provided.

If you are observing a case where the heap is close t

[2020-05-28 18:56] scheglov commented on #41803
I will leave comment for changed tests in [the CL that changes them](https://dart-review.googlesource.com/c/sdk/+/149163/), but there are issues for `invalid_returns/async_valid_returns_test.dart` that was not changed, so I cannot comment on it.

1. Return without a value into `dynamic` in `async`.
[code]
We apply this rule:
[code]
Here `T = dynamic`, `T_v = Object?`.
So, `T_v` is not `void`, `dyn

[2020-05-28 19:30] hterkelsen opened #42101 "Can't pass `ByteData` to JS-interop"
The docs for `dart:js` say:

So, `ByteData` should be allowed according to the docs since it is a subclass of `TypedData` but not `ByteBuffer`. However, `ByteData` is proxied by DDC.

This can be fixed by adding a check for `# instanceof DataView` here: https://github.com/dart-lang/sdk/blob/20745941ad6da9d1307e07e15e6b39acd9f4a071/sdk/lib/_internal/js_dev_runtime/patch/js_patch.dart#L307

In dart2

[2020-05-28 19:33] natebosch commented on #42101
cc @srujzs

[2020-05-28 20:38] srawlins opened #42102 "Migrator: call pub.bat, not pub, on windows"
When executing `pub outdated`.

[2020-05-28 20:38] srawlins commented on #42049
I've filed https://github.com/dart-lang/sdk/issues/42102.

[2020-05-28 20:38] #42049 closed

[2020-05-28 20:49] bwilkerson commented on #42099
https://dart-review.googlesource.com/c/sdk/+/149361

[2020-05-28 20:49] #42099 closed

[2020-05-28 21:06] zichangg opened #42103 "Unix Domain Socket failed to bind if file exists"
Unix domain sockets will clean up the actual file inside object finalizer. But in case of processes being killed or exiting abnormally, the actual socket file will be left. The following `bind` process will be blocked unless the file is deleted manually.

Here is an example illustrating the problem:
[code]

[2020-05-28 21:11] lrhn commented on #42089
I see no need for a language change.
The only thing that can be on the left of a `&` is a type variable, so `X? & T` is not a type, and there should be nothing in the specification introducing it.
The type `(X & T)?` seems more likely to be what you need.

[2020-05-28 21:24] dnfield commented on #42078
In trying to create a smaller image based example with Flutter, I came up with this one - I _believe_ it's a very similar problem, if not quite the same one, but I'm note 100% sure of that. At any rate, I would expect this program to not allocate memory the way it does. Running this program will consume as much as 6gb of memory at times before a GC finally collects all the bad stuff. I would have

[2020-05-28 21:28] subzero911 opened #58175 "Method must be called"
**Describe the rule you'd like to see implemented**
Add an annotation for method that must be called at least once from somewhere and linter warning if it's not the case.

**Examples**
If I do not close a StreamSink, linter warns:
![image](https://user-images.githubusercontent.com/12999702/83195128-6903ed80-a142-11ea-9820-65c8b1e74c15.png)
If I close it in dispose() but do not call _bloc.dispose()

[2020-05-28 21:29] annagrin opened #42104 "[frontend_server] Make --debugger-module-names behavior default and remove the flag"
- Make the option default to true
- Remove its uses in flutter and dwds tests
  https://github.com/flutter/flutter/issues/52693
- Remove the flag from frontend server code

[2020-05-28 21:35] #41896 closed

[2020-05-28 21:38] xster commented on #41974
From testing last year, the android_dlopen_ext part seems to be in the 10-20ms ballpark. I think a simpler timing API like basing it off of Dart imports is probably sensible.

[2020-05-28 21:55] johnpryan opened #42105 "API Docs return a 404 for some packages"
The "API Documentation" link is broken on some packages for me.

Here's a few that return a 404:

- https://pub.dev/documentation/google_fonts/latest/
- https://pub.dev/documentation/http/latest/
- https://pub.dev/documentation/mobx/latest/

Meanwhile, others are being served normally:

- https://pub.dev/documentation/redux/latest/
- https://pub.dev/documentation/url_launcher/latest/

[2020-05-28 21:57] johnpryan commented on #42105
cc: @jonasfj

[2020-05-28 22:02] lovepreet221 opened #42106 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-193.6911.18.40.6514223`
- `2.8.2`
- `AI-193.6911.18.40.6514223, JRE 1.8.0_242-release-1644-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

[2020-05-28 22:47] srujzs commented on #42085
That makes sense, should we filter specific JS tests that use eval for this bot or should we filter the directory itself?

[2020-05-28 23:00] Hixie commented on #41904
SGTM.

[2020-05-28 23:05] munificent commented on #41896
Closing now that that CL has landed.

[2020-05-28 23:09] dnfield commented on #42078
Here's a similarly small Flutter based example, and here I'm certain `NotifyIdle` is getting called frequently based on the timeline:

[code]

I still see memory grow much higher than I would have expected with this program.

[2020-05-28 23:18] #42102 closed

[2020-05-28 23:46] parlough commented on #42106
@lovepreet221 Was any more information provided and/or could you provide any additional context?

[2020-05-28 23:50] nshahan opened #42107 "Failures on [ddc] Add --sound-null-safety flag and pass to CFE"
There are new test failures on [[ddc] Add --sound-null-safety flag and pass to CFE](https://dart-review.googlesource.com/c/sdk/+/146962).

The tests
[code]
are failing on configurations
[code]

These tests need to be updated, forked, or deleted because they cannot run with in sound null safety mode with opted out files.

[2020-05-28 23:53] nshahan opened #42108 "language/nnbd/subtyping/type_casts_strong_test can't run with sound null safety"
`language/nnbd/subtyping/type_casts_strong_test`

The test needs to be updated/forked/deleted to not import opted out sources in versions expected to run in strong mode.

[2020-05-28 23:57] eernstg commented on #41803
That's a good catch! I agree on the analysis, the rules imply that it should be flagged as an error. However, I did not consider that case carefully enough, because it seems inconsistent with the treatment of the type `dynamic` to have this error.

The rule `futureValueType(void) = void` was introduced exactly in order to ensure that when we have a fire-and-forget async function then the object th

[2020-05-29 00:00] sigmundch commented on #42085
we seem to have some js-interop tests that don't do this (some are checking for error conditions, some may be accessing stuff that's already there from the browser, I'm not entirely sure), so it would be nice to be able to run those. If we want to move those tests to lib/js, then I'd lean towards whitelisting individual tests.

[2020-05-29 00:44] leafpetersen commented on #42089
The relevant portion of the spec is in `flow-analysis.md`:

[code]

There is no promotion specified to happen in this case, and in fact, the CFE seems to be going completely off the rails here.  The following program runs in the CFE and calls `.length` on `null`.

[code]

[2020-05-29 00:46] rmacnak-google commented on #42078
Your example is shows a known issue with intergenerational garbage (cf https://dart-review.googlesource.com/c/sdk/+/133360). Because Dart traces generations independently, rather than tracing through new-space during old-space collections, a low rate of new-space allocations can retain old-space garbage. Notice that triggering a mark-sweep from Observatory does not significantly reduce heap size u

[2020-05-29 01:12] #42084 closed

[2020-05-29 01:23] #41694 closed

[2020-05-29 03:13] #42019 closed

[2020-05-29 04:11] dnfield commented on #42078
In the Flutter example in https://github.com/dart-lang/sdk/issues/42078#issuecomment-635663679, `Dart_NotifyIdle` gets called between most of the frames pumped. Is there some way we could at least improve that case?

[2020-05-29 04:44] #42098 closed

[2020-05-29 05:12] NeelakandanKannan commented on #40243
I am also facing this issue. dart.exe takes large memory. So, PC is not responding.

[2020-05-29 05:45] dnfield commented on #42078
e.g. could we just trigger a scavenge when NotifyIdle is called?

[2020-05-29 06:20] dnfield commented on #42078
I'm assuming the boolean here exists for a reason, but commenting out https://github.com/dart-lang/sdk/blob/a2b5373eaac0fa36ac8fdda939b8fa26bd7d5633/runtime/vm/heap/heap.cc#L405 makes the problem go away in Flutter applications.

Is there some way we could just make that check a bit more aggressive?

[2020-05-29 06:25] jonasfj commented on #42105
Thanks, duplicate of https://github.com/dart-lang/pub-dev/issues/3669.
We are investigating.

[2020-05-29 06:25] #42105 closed

[2020-05-29 06:36] sgrekhov opened #42109 "[NNBD] co19 tests fail in dartk in a weak mode"
The following co19 tests fails in dartk in a weak mode. No error in dartk strong mode or CFE
https://github.com/dart-lang/co19/blob/master/LanguageFeatures/Subtyping/dynamic/generated/right_object_fail_class_member_fail_A07_t02.dart
https://github.com/dart-lang/co19/blob/master/LanguageFeatures/Subtyping/dynamic/generated/left_nullable_fail_local_variable_fail_A01_t01.dart

[2020-05-29 06:54] lrhn commented on #42089
Would we want to be able to promote `Something<X>` to `Something<X & SpecificType>` (where `Something` is a type constructor, not limited to generic classes)?

That could account for
[code]
(There are probably lots of issues with that, but it looks so plausible that users might expect it to work).

[2020-05-29 07:11] cskau-g opened #42110 "Can we make build bots run build.py --verbose?"
Both when debugging builds on the build bots, and when trying to replicate bot builds locally, it would be helpful to have the full logs available.

Currently the bots run `build.py` without `-v`/`--verbose`, producing logs with each step:
[code]

Where-as with `--verbose` we get the full command that was run:
[code]

With the full logs we'd be able to see exactly which commands with which flags w

[2020-05-29 07:16] cskau-g commented on #42110
A quick local test shows that `tools/build.py --arch x64 --mode release dart` without and with `-v` produces logs of 123 K and 2.1 M respectively.
This would mean a log storage increase of ~2 M per log in this particular case.

While I'm not familiar with any limitations here, I imagine this is a negligible increase.

[2020-05-29 07:25] dnfield commented on #42078
There's still something different about the image issue in Flutter - my reduced test case performs much better memory-usage wise, but the bigger Flutter image example only reduces memory the first time the image goes away (subsequent times don't seem to work).  I'll keep digging into that, but I suspect if anything some change in NotifyIdle would help us resolve the image issue in the engine side.

[2020-05-29 07:42] mraleph commented on #40243
I am locking this thread to prevent unrelated "me toos".

- https://github.com/flutter/flutter/issues/54420
- https://github.com/dart-lang/sdk/issues/41862

If the problem you have is dart.exe suddenly allocating a lot of memory and forcing you to reboot you can apply [this workaround](https://github.com/flutter/flutter/issues/54420#issuecomment-635271108) for now.

[2020-05-29 07:45] scheglov commented on #41803
Thank you, I added the new rule for `futureValueType(dynamic) = dynamic` and ran bots for [the CL](https://dart-review.googlesource.com/c/sdk/+/149373) that implements new rules for null safety. With [your CL](https://dart-review.googlesource.com/c/sdk/+/149163/) for updating tests these tests started to pass.

I also made [a small fix](https://dart-review.googlesource.com/c/sdk/+/149373/1/pkg/ana

[2020-05-29 07:46] mraleph opened #42111 "[CP] Please merge 857fca710fd7b75e5595e198d5fb723f077b4563 into stable channel"
**commit(s) to merge**: 857fca710fd7b75e5595e198d5fb723f077b4563

**merge instructions**: clean merge

**reason**: The change prevents certain incorrect kernel files from killing user machines by causing Dart VM to eat all available memory. Fixes https://github.com/dart-lang/sdk/issues/41862 and https://github.com/flutter/flutter/issues/54420. The problem can affect any user and leads to very bad

[2020-05-29 08:19] mraleph opened #42112 "[CP] Please merge 86f3fde23fac9684f99200841f95db60bab79d20 into stable channel"
**commit(s) to merge**: 86f3fde23fac9684f99200841f95db60bab79d20

**merge instructions**: https://dart-review.googlesource.com/c/sdk/+/149420

**reason**: This CL fixes a problem where persistent front-end process used for incremental compilation during development would leak more and more memory with each recompilation. The amount of leaked memory depends on which parts of their app user is editi

[2020-05-29 08:34] mit-mit commented on #41765
I'm probably missing some basic detail, but why not just update the version in `pubspec.yaml` and have the update to `package_config.json` be written by `pub get`?

[2020-05-29 08:38] cskau-g opened #42113 "Clarify setup_build run_recipe"
Build bots like `flutter-engine-linux-try` include a step called `setup_build` which records a log called `run_recipe` which looks something like:
[code]

This however seems a bit misleading since the Dart repo does in fact not contain any `recipes.py` and it's not at all clear how this is supposed to work.
As far as I can tell, `recipes.py` is some part of golem and/or skia infra, but the script

[2020-05-29 08:39] cskau-g commented on #42113
Assigning athomas@ for triage.

[2020-05-29 08:44] eernstg commented on #41803
Considering this example:

[code]

It is true that we have had the rule which requires this error for years (since SDK commit 5d8501a07ea506ed6c88c20502fd224886d51881, Dec 2018), but for a long time we hadn't detected that it wasn't enforced.

So for the pre-null-safety code we will have to consider this as a known bug and continue to omit reporting it, because the fix is a breaking change.

But w

[2020-05-29 09:04] athomas commented on #42113
This particular message is created by Luci infrastructure and in general you should not attempt to run recipes locally. Most of them will either not work or can potentially have harmful side-effects if run by users.

There are exceptions, and one of them is the reproduction instructions for the flutter-engine-linux bot specifically: https://docs.google.com/document/d/1KgeDDe8C-0EfpSnGA9R5flhRbyVGd

[2020-05-29 09:04] #42113 closed

[2020-05-29 09:09] cskau-g commented on #42113
Has the message in the `run_recipe` log been updated as well? I'm primarily concerned about the suggestion there being misleading.

[2020-05-29 09:38] mraleph commented on #36983
That's more or less what we use now. We have a variation of what in classical literature is called "linked closures": each closure object has a pointer to a context object and each context object can have a parent context - this is just a straightforward representation of syntactical scopes. Context objects store variables directly.

[2020-05-29 09:39] andreymaznyak commented on #42078
I have the same problem, when i use image stream in camera plugin, garbage collector
can not have to time collect garbage and app is crashed.

[2020-05-29 10:16] iarkh opened #42114 "Analyzer doesn't properly compute static type of `Object` members on `dynamic` receivers"
Dart VM version: 2.9.0-11.0.dev (dev) (Tue May 26 12:14:57 2020 +0200) on "windows_x64".

The following source code example causes a compile error with dart and passes with analyzer:
[code]
Both tools should behave in a similar way.

Sample output is:

[2020-05-29 10:33] afpatmin commented on #29247
@kleinpetr I managed to solve it by moving `<base href="/">` to the very top of `<head>`

[2020-05-29 10:43] lrhn commented on #40381
Agree. The web-interface does not work.
If I manually edit the HTML and add the missing `/c:` prefix to the links, then I can use that link, but that's not a solution which scales.

[2020-05-29 10:44] athomas commented on #42113
No, I haven't done anything about it, neither do I plan to spend more time on it. I do not expect a lot of gains here. The message will probably have to be very generic and end up being only technically correct but not really helpful for people working on Dart because it will have to match many different Luci customers (the instructions today may be correct for some of them today, but not really u

[2020-05-29 10:58] askeksa-google opened #42115 "Failures on Revert "[vm] Check prefix.loadLibrary is called and returns before prefix members are used.""
There are new test failures on [Revert "[vm] Check prefix.loadLibrary is called and returns before prefix members are used."](https://github.com/dart-lang/sdk/compare/bbf34035dd984d7dedbcd8a53bc3c79a25b842e8~...1ad89b85a2ee82e42c3b522069208892f5e7a1e7).

The tests
[code]
are failing on configurations
[code]

[2020-05-29 11:03] gxcreator commented on #42040
@zichang I am using dart-sdk as a part of flutter, so it's not trivial for me to add debug logs.
However, I could provide you a Wireshark dump and truncated data received at WebSocket callback. Will it be enough?

[2020-05-29 11:37] kleinpetr commented on #29247
@

Oh man, thank you so much!

[2020-05-29 12:29] athomas commented on #41990
While we should definitely do this, it's not actually straight forward to shard this one properly. One of the reasons for the builder to hit the timeouts (which Karl raised) was a build time regression in Flutter that has now been fixed. Therefore, I'm reducing the priority to 2 again.

[2020-05-29 12:53] mkustermann opened #42116 "Investigate code size regression after enabling tearoffs in dispatch table"
It seems that [cl/142155](https://dart-review.googlesource.com/c/sdk/+/142155) has caused 1.7% code size regression of an important customer application.

We should investigate the reason and fix it.

[2020-05-29 12:54] mkustermann commented on #42116
Closing in favor of https://github.com/dart-lang/sdk/issues/41647

[2020-05-29 12:54] #42116 closed

[2020-05-29 12:54] vsmenon commented on #42078
Do we believe this is an issue specific to native memory (per the original comment) or about general GC heuristics (per the bug title)?  Do Flutter examples that use similar heap memory with similar idle times exhibit the same problems?

[2020-05-29 12:56] mkustermann commented on #41647
@sstrickl For some important customer this has increased code size by 1.7%. Letting @askeksa-google look into it, since his CL also uncovered this issue.

[2020-05-29 12:57] vsmenon commented on #42114
Interesting case: should `o.runtimeType` have static type `Type` or `dynamic`?  @eernstg @leafpetersen

[2020-05-29 12:59] cskau-g commented on #41721
Another example:
[code]

[2020-05-29 14:34] #41795 closed

[2020-05-29 15:34] sigmundch commented on #39147
Sorry this issue hasn't been addressed yet. I recently saw other reports of this issue.

@srujzs - do you know how feasible is to remove the USB* APIs?\

[2020-05-29 15:42] MichaelRFairhurst commented on #40381
Lasse, was this using the latest, and which links exactly were broken?

On Fri, May 29, 2020, 3:44 AM Lasse R.H. Nielsen <notifications@github.com>
wrote:

[2020-05-29 16:43] #42065 closed

[2020-05-29 16:46] mnordine opened #42117 "Customer-reported issue with NNBD migration tool: Could not load edit details"
Could not load edit details

Error: Error reaching migration preview server.

Please fill in the following:

**Name of package being migrated (if public)**: StageXL
**What I was doing when this issue occurred**: I clicked on highlighted question mark to get more info on why it was made nullable
**Is it possible to work around this issue**:
**Has this issue happened before, and if so, how often**:

[2020-05-29 16:47] mnordine commented on #40381
It certainly works better than before on Windows, I'm able to click most links, but not question marks to get more info on why it was made nullable. I filed an issue using the built-in link that comes up on an error here: https://github.com/dart-lang/sdk/issues/42117

[2020-05-29 16:58] devoncarew opened #42118 "`dart format -n` hangs indefinitely"
When running `dart format -n`, the process hangs indefinitely. I believe that's its passing the `-n` param directly to `dartfmt`, but dartfmt has different behavior than we want for `dart format`. dartfmt wants to act on stdin (which it's likely waiting for above), but `dart format` should operate on the current directory if no files are provided.

cc @jwren

Somewhat related, I believe that when

[2020-05-29 17:24] zanderso opened #42119 "File.copy{Sync} on Windows should copy to a temporary file, then rename it."
We observed an issue in which a `File.copySync` in the Flutter CLI resulted in a file of the correct size, but with a tail of '0' bytes in the case where the program is killed by a signal. The tail of '0' bytes exposed insufficient input validation in `package:kernel` leading to OOM crashes:

https://github.com/flutter/flutter/issues/54420
https://github.com/dart-lang/sdk/issues/41862

@jensjoha i

[2020-05-29 17:47] lrhn commented on #42114
It should have type `Type`.

When invoking a member of `Object` on a receiver of type `dynamic`, we trust and use the return type from the `Object` member (since any class must satisfy that).

[2020-05-29 17:55] vari commented on #39994
Is there any update on the fix for this issue?

[2020-05-29 18:04] Markzipan commented on #39994
I have a patch for this issue in the works, but it's dredged up a couple other timing-related code issues. I'll try to get the patch in and work on a more holistic fix later.

[2020-05-29 18:04] sigmundch commented on #42101
@hterkelsen with your change now landed, is it safe to mark this as fixed?

[2020-05-29 18:10] vsmenon commented on #42114
Thanks @lrhn !  Filing as analyzer bug then.

[2020-05-29 18:11] zichangg commented on #42040
@gxcreator That will be helpful! Thanks.

[2020-05-29 18:11] vsmenon commented on #42114
Changed the title to reflect my understanding.

[2020-05-29 18:12] srujzs commented on #39147
We might be able to just ignore the `modules/webusb` IDL folder entirely in our generation.

Do you know if other reports are on the same API? We have a list of interfaces we suppress by marking them as private classes that we might be able to just not generate at all if they cause similar issues.

[2020-05-29 18:23] jamesderlin commented on #42119
If this is done by the SDK, there needs to be care that:
* The temporary file is created in the same directory as the destination file to ensure that they're on the same volume.
* The temporary file is automatically cleaned up if the process crashes or rename fails.
* The file can't be hijacked between generating a unique filename and creating the file.

[2020-05-29 18:25] alexmarkov commented on #42109
These tests are not correct in weak mode, as they are testing that `null` cannot be assigned to `Object` or `T1`. However, weak mode uses legacy subtyping rules (`LEGACY_SUBTYPE`) and `null` is assignable to a variable of any type in legacy subtyping.

/cc @leafpetersen @eernstg

[2020-05-29 18:27] crelier commented on #42109
It looks like these 2 tests expect a `TypeError` when assigning null to a variable of type `Object`. Although it is correct in strong mode, this is the wrong expectation in weak mode, since the type `Object` becomes nullable in weak mode.

[2020-05-29 18:27] #42109 closed

[2020-05-29 18:29] zanderso commented on #42119
I agree for the first item. For the second item, I don't think that will be possible on Windows if the process crashes or is killed by a signal. For the third item, a similar mechanism to the one for creating temporary directories can be used (rng falling back on uuids).

[2020-05-29 18:39] natebosch opened #42120 "Output to stderr if stdin closes unexpectedly in analysis server --lsp"
I'm trying to help debug a problem using the analysis server with `--lsp`. It's not clear if there is a bug in the client or the server, but one thing that could help is if we get more output from the server when the client does something unexpected like close `stdin` before sending the shutdown and exit messages. I don't know for sure if that is happening, but I can tell from other testing that w

[2020-05-29 18:44] sigmundch commented on #39147
I believe so, the error they reported was of this form:
[code]

[2020-05-29 18:45] dnfield commented on #42078
https://dart-review.googlesource.com/c/sdk/+/149521 appears to work locally. Going to try to get some benchmarks against it, and see if I can write some proper tests that could run in the SDK for it.

[2020-05-29 18:46] jonasfj commented on #42119
/cc @sortie

[2020-05-29 18:46] dnfield commented on #42078
@vsmenon - I think it's both. The samples in the comments I've given have no native memory allocations. The patch I just linked can fix those without changing the mark sweep heuristic. Changing the mark sweep heuristic to include native memory fixes the Flutter image case as well, at least locally.

[2020-05-29 18:49] alexmarkov commented on #40637
These tests were fixed once again in 12c8b02c848aeb5fe5731533649319ba43a2e9b4.

[2020-05-29 18:49] #40637 closed

[2020-05-29 18:50] jonasfj commented on #41966
See also: https://github.com/dart-lang/sdk/issues/42092

[2020-05-29 19:00] alexmarkov commented on #40997
Verified that example above works fine with `--enable-experiment=non-nullable --null-safety`.

[2020-05-29 19:00] #40997 closed

[2020-05-29 19:03] averynortonsmith opened #58176 "Issue warning when indexing Map<K, V> with type other than K"
The `operator []` method for a map of type `Map<K, V>` has the type `V operator [](Object key)`; that is, it permits keys of any type. However, accessing a map with a key type other than `K` often indicates the presence of a bug. It would be helpful to have a linter rule that detects these situations.

In the following example, the new rule would create a warning about the expression `m[false]`, s

[2020-05-29 19:04] jamesderlin commented on #42119
`DeleteFile` claims to delete a file when its handle is closed; I don't think that this relies on the process not crashing, but I haven't verified.  There are also mechanisms to mark files to be cleaned up at the next reboot.

[2020-05-29 19:08] hterkelsen commented on #42101
Yes.

[2020-05-29 19:08] #42101 closed

[2020-05-29 19:09] hterkelsen commented on #42101
Fixed by https://github.com/dart-lang/sdk/commit/c3986418a013cb616e68bcc65e0948866b0a5845

[2020-05-29 19:14] natebosch opened #42121 "homebrew installed analysis server crashes when passed --completion-model flag"
When I install the SDK by unpacking the zip from https://dart.dev/tools/sdk/archive the analysis server works fine. When I install the SDK with `brew install dart` using that flag causes the analysis server to crash. It never responds to the initialization request.

[2020-05-29 19:23] zanderso commented on #42119
@jamesderlin I bet @zichangg would appreciate some links to the docs if you have them =)

[2020-05-29 19:29] devoncarew commented on #42118
and, cc @munificent

[2020-05-29 19:37] zichangg commented on #42119
@jamesderlin Any code example or docs will be helpful for me! ^_^

[2020-05-29 20:10] jamesderlin commented on #42119
I was probably thinking of `MoveFileEx` with `MOVEFILE_DELAY_UNTIL_REBOOT`, but I had forgotten that that requires administrative privileges, so that wouldn't be suitable.

I think if `DeleteFile` works when the process is killed, then that should cover everything except sudden power loss, and maybe that's good enough.

[2020-05-29 20:29] srawlins commented on #41765
It's nothing super exciting; editing `package_config.json` is just to do the same job that `pub get` would do. We can also instruct the user to run `pub get`.

[2020-05-29 20:43] mateusfccp commented on #37607
@thosakwe Thanks a lot, I was searching exactly for this! I don't know if there's any better way, but it did work for now.

I only changed `.constantvalue` to `.computeConstantValue()`, as the former is now deprecated.

[2020-05-29 21:06] #58176 closed

[2020-05-29 21:19] edyu commented on #34659
I just want to say I agree with everything that was said and yes [package:cryptography](https://pub.dev/packages/cryptography) is very helpful but would be nice to have a real dart:crypto library.

[2020-05-29 21:34] scheglov commented on #41803
Thank you for the explanation. I understand this as we never going to report this error in legacy libraries, but will report a similar error in migrated libraries.

[2020-05-29 21:41] #39994 closed

[2020-05-29 22:30] Hixie commented on #42069
I'm all for deleting code in principle. Have we check with Alibaba and other companies that asked for this feature? They may be building custom engines with it. cc @zoeyfan

[2020-05-29 23:20] srujzs commented on #42085
Got it, I'll filter out these two for now.

[2020-05-30 00:15] #42085 closed

[2020-05-30 00:26] zoeyfan commented on #42069
Hey Kang,

I want to bring this to your attention since this is a breaking change. Let
me know if you have any concerns.

Thanks,
Zoey

On Fri, May 29, 2020 at 3:30 PM Ian Hickson <notifications@github.com>
wrote:

[2020-05-30 01:10] leafpetersen commented on #42089
We could push on it.  It hasn't come up in migrations yet, and the ship is sailing, so I think this is probably not making it into v1.

[2020-05-30 03:10] rakudrama opened #42122 "analyzer: Incorrect UNUSED_ELEMENT for extension method operator"
The purple bots here
https://dart-review.googlesource.com/c/sdk/+/136304/5
failed on `operator *` below
[code]

[code]
The method is used extensively in the file.

[2020-05-30 03:57] #41803 closed

[2020-05-30 04:56] ThinkDigitalSoftware opened #42123 "Dart outputs stdout to stderr"
Is dart supposed to put standard command output to `stderr`?
This is what you get from running
[code]
<img width="1082" alt="Screen Shot 2020-05-29 at 9 54 35 PM" src="https://user-images.githubusercontent.com/23037821/83319925-4aabf980-a1f7-11ea-84ba-2427b3c87417.png">

[2020-05-30 07:20] nu8 opened #42124 "CommandLineToArgvW invalid parsing"
I see that Dart is using `CommandLineToArgvW` to parse command line arguments:

<https://github.com/dart-lang/sdk/blob/439e99483f26d9f753731bd3050cfc4e213d7087/runtime/bin/utils_win.cc#L146-L148>

Windows actually provides another function that returns command line input,
`__p___wargv`:

<https://docs.microsoft.com/cpp/c-runtime-library/internal-crt-globals-and-functions>

However this is an inter

[2020-05-30 09:32] MagTuxGit commented on #32433
[code]
This is absolutely safe, but still the warning is present.
Adding `default` to the `switch` or `return` to the end of the method ISN'T safe. If I add a new value to the enum I'll get no warnings.

[2020-05-30 10:32] mobinshaik999 commented on #38640
Hai
i may be late but hope  it helps someother
1. Close android studio
2. delete caches folder in ::  C:\Users\<USER NAME>\.AndroidStudio3.5\system
3.open androidStudio. That's it solved my problem

[2020-05-30 10:32] #58175 closed

[2020-05-30 11:03] SAGARSURI commented on #33295
Is there something similar to [inline classes](https://kotlinlang.org/docs/reference/inline-classes.html) in Dart?

[2020-05-30 11:03] SAGARSURI commented on #10551
Is there something similar to [inline classes](https://kotlinlang.org/docs/reference/inline-classes.html) in Dart?

[2020-05-30 13:16] AndroidNils commented on #30310
Any updates?

[2020-05-30 13:54] nmrony commented on #35737
@kevmoo @jmesserly , I am trying to interop JS using `js` library in Flutter Web. I have a JS file as follows
[code]
In Dart file the content is like below
[code]

main.dart
[code]
But getting this same error
[code]

[2020-05-30 14:11] bwilkerson commented on #42122
@scheglov

[2020-05-30 17:32] Airbus5717 opened #42125 "Feature Request : Add Webassembly support"
Is it possible for the team to add dart's VM to WASM
also add it to the list https://github.com/appcypher/awesome-wasm-langs

[2020-05-30 22:27] JuniaKE opened #42126 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-193.6911.18.40.6514223`
- `2.8.3`
- `AI-193.6911.18.40.6514223, JRE 1.8.0_242-release-1644-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

[2020-05-30 23:38] srawlins commented on #42126
No feedback is fond in this bug report.

[2020-05-30 23:38] #42126 closed

[2020-05-30 23:39] srawlins commented on #42123
`dart --version` only prints to stderr:

[code]

(nothing is printed)

Are you saying you think that the version number should be printed to stdout?

[2020-05-30 23:40] srawlins commented on #42122
I believe this would be my bug; I wrote that hint.

[2020-05-30 23:40] srawlins commented on #42117
CC @stereotype441 @jcollins-g @MichaelRFairhurst

[2020-05-30 23:40] ThinkDigitalSoftware commented on #42123
I do. Am I mistaken? Isn’t stderr for errors?

On May 30, 2020, at 4:40 PM, Sam Rawlins <notifications@github.com<mailto:notifications@github.com>> wrote:

dart --version only prints to stderr:

$ dart --version 2>/dev/null
$

(nothing is printed)

Are you saying you think that the version number should be printed to stdout?

—
You are receiving this because you authored the thread.
Reply to this

[2020-05-30 23:41] srawlins commented on #42106
Please re-open if you can capture a crash stack trace, or what you were doing at the time.

[2020-05-30 23:41] #42106 closed

[2020-05-31 02:09] scheglov opened #42127 "language/inference/inconsistent_inheritance_test fails"
[code]

This requires https://github.com/dart-lang/language/pull/975 finished and landed.

[2020-05-31 08:33] davidmorgan commented on #10551
No; this space is currently occupied by libraries that use codegen. `built_value`, which was new when I commented nearly five years ago, is no longer new but quite popular ;) it has a relatively new competitor called `freezed`.

[2020-05-31 11:42] SAGARSURI commented on #10551
I would probably stick with `build_value` instead of using a new library. I am sure `build_value` is more tested in the wild than `freezed`. But yeah thanks for the info.

[2020-05-31 13:33] Anirudh123ani123 opened #42128 "vs code"
![connectingpic](https://user-images.githubusercontent.com/38275342/83353579-33911700-a371-11ea-98fa-cc29fe01ec89.png)

when I am running the app then in debug console I am getting following message:
Connecting to VM Service at ws://127.0.0.1:57714/kOYGq91qB-o=/ws   what does it mean?

[2020-05-31 14:06] Borahb opened #42129 "Flutter Web build error | Target dart2js failed | Error: Type 'OverFlow' not Found"
When I try to build web application in terminal this error shows:
flutter build web:
Target dart2js failed: Exception:
/E:/flutter/.pub-cache/hosted/pub.dartlang.org/velocity_x-0.3.4/lib/src/extensions/list_ext.dart:48:11:
Error: Type 'Overflow' not found.
          Overflow overflow}) =>
          ^^^^^^^^
/E:/flutter/.pub-cache/hosted/pub.dartlang.org/velocity_x-0.3.4/lib/src/flutter/flex.dart:1

[2020-05-31 16:54] scheglov commented on #42093
I believe that the issue was fixed by implementing changes requested in https://github.com/dart-lang/sdk/issues/41803.

I added a new test in https://dart-review.googlesource.com/c/sdk/+/149604.

[2020-05-31 16:54] #42093 closed

[2020-05-31 16:57] julemand101 commented on #42128
It's mean the Dart VM has been started with the flag "--observe" which allows you to access the Dart Observatory which gives additional data about how the Dart VM are running your code. You can e.g. see memory consumption, how much time Dart are using in each method, see the assembly code which your program has been compiled into and much much more.

[2020-05-31 17:16] scheglov commented on #38799
I believe the inference implementation was updated to do what the [spec requires](https://github.com/dart-lang/language/blob/master/resources/type-system/inference.md#function-literal-return-type-inference).
Specifically, we can infer `Never`.

https://dart-review.googlesource.com/c/sdk/+/149605

[2020-05-31 17:16] #38799 closed

[2020-05-31 17:45] kevmoo commented on #35737
CC @natebosch

[2020-05-31 18:05] emme1444 opened #42130 ""argument_type_not_assignable" when changing filename casing."
In your issue, please include:

* Dart SDK Version (`dart --version`): `Dart VM version: 2.7.2 (Mon Mar 23 22:11:27 2020 +0100) on "macos_x64"`
* Whether you are using Windows, MacOSX, or Linux (if applicable): `macOS`

I use flutter, but think this issue has to do with dart itself.

I changed the name of a file to start with a lowercase letter instead of an uppercase letter. However, upon running

[2020-05-31 18:10] scheglov commented on #35710
https://dart-review.googlesource.com/c/sdk/+/149606

[2020-05-31 18:34] bwilkerson commented on #42130
My guess is that you have another import of that library somewhere in your code that is still using the uppercase version of the URI.

Dart uses the URI to determine whether two libraries are the same rather than looking to see whether the URIs resolve to the same file. So, if you import a single file using two textually distinct URIs, Dart will treat the imports as if you had imported two differe

[2020-05-31 19:06] #35710 closed

[2020-05-31 19:34] emme1444 commented on #42130
Aha! Looking into it further, turns out that I was importing a file that had the old name imported in itself. Weird? Also, weird that `vscode` didn't highlight that error, since the file with that name no longer exists.

Oh well, thank you for your fast reply @bwilkerson!

[2020-05-31 19:34] #42130 closed

[2020-05-31 19:54] treeplate opened #42131 "Dartpad type error not pretty"
The `

In Dartpad, I run this code:
[code]
Expected result (and what other things do):
[code]

Actual result:
[code]

...which is both less informative and less pretty.

[2020-05-31 20:30] bwilkerson commented on #42130
The reason there was no error is that the macOS file system is case insensitive, so when the analyzer asked whether the file existed, even though the case of the file name was different, the OS said "yes". But Dart is case sensitive on all platforms.

[2020-05-31 23:44] #42128 closed

[2020-05-31 23:49] vsmenon commented on #42125
Merging into https://github.com/dart-lang/sdk/issues/32894

[2020-05-31 23:49] #42125 closed

[2020-06-01 01:54] thumbert opened #42132 "problem with extension method for operator +"
Hi,

I have run into an issue when implementing an extension method for operator +.

I have a time-series class based on a list as such:
[code]
Where IntervalTuple is a pairing of a time interval and a value K.

For two numeric time series, it make sense to define the '+' operator as element-wise addition as long as the corresponding intervals match.
[code]
The surprising thing is that the result

[2020-06-01 02:34] adriandewitts commented on #41451
Hi @zichangg - great work. How long does it normally take for these things to get through to production release?

[2020-06-01 05:26] YogeshJethava commented on #42052
sorry
i don't know how to reproduce the error.this error is faced one time and i don't know the reason why

[2020-06-01 10:12] eernstg commented on #42109
I agree on the analyses, the null-safety spec [does use `LEGACY_SUBTYPE` for `as`](https://github.com/dart-lang/language/blob/master/accepted/future-releases/nnbd/feature-specification.md#runtime-checks-and-weak-checking) so `null as Object` will not throw. It's somewhat confusing that the tests themselves say `// Requirements=nnbd-strong`, so they should never run with weak checking, but that mig

[2020-06-01 10:17] eernstg commented on #42114
Right; we did have to make an exception: The return type from `Object` can only be used when the invocation is statically correct for the `Object` signature, so `o.toString()` has type `String`, but `o.toString(42)` has type `dynamic`.

[2020-06-01 10:36] eernstg opened #42133 "Analyzer: Propagate `dynamic` as the future value type"
Cf. https://github.com/dart-lang/language/pull/997, a return type of `dynamic`, `dynamic?`, or `dynamic*` is now propagated such that the future value type will be `dynamic` (before that spec change, it was specified to be `Object?`, which caused unintended breakage).

This issue exists in order to keep track of the implementation changes corresponding to this spec change. @scheglov, I believe the

[2020-06-01 10:42] eernstg opened #42134 "CFE: Propagate `dynamic` as the future value type"
Cf. https://github.com/dart-lang/language/pull/997, a return type of `dynamic`, `dynamic?`, or `dynamic*` is now propagated such that the future value type will be `dynamic` (before that spec change, it was specified to be `Object?`, which caused unintended breakage).

This issue exists in order to keep track of the implementation changes corresponding to this spec change. The CFE currently (commi

[2020-06-01 11:04] sgrekhov commented on #42109
@eernstg `// Requirements=nnbd-strong` was just added by my to fix this issue. Before that there were no this flag and therefore tests were executed in a wesk mode as well.

It's strange that there were no similar failures on cfe-weak-linux configuration. Shall I add a separate issue for CFE waek mode?

[2020-06-01 11:13] eernstg commented on #33295
No, we don't have that currently. The main property of an inline class (corresponding to Haskell `newtype`) is that it is a zero cost wrapper, in the sense that it is a new type which is distinct from (and not assignable to) the type of the wrapped value, but the run-time representation is just that wrapped value. One example of work in this direction is https://github.com/dart-lang/language/blob/

[2020-06-01 11:19] eernstg commented on #32433
Note that when the upcoming null-safety support arrives, the enum type `X` will be a non-nullable type, and the need to check for null will disappear.

[2020-06-01 11:25] lrhn commented on #42114
Correct. If the invocation can potentially hit `noSuchMethod` directly, then we cannot assume anything about the return type. If it cannot, which means that a dynamic invocation calls a declared member of `Object` with no more, and no fewer, parameters than they requires, then we can also assume that the return type is correct (because it either calls such a method or it throws a type error).

[2020-06-01 11:45] eernstg commented on #42109
I think there is no wrong behavior with the CFE: `cfe-weak-linux` presumably does not execute code, and the tests expect no compile-time errors. So "no error in CFE" would be as expected.

[2020-06-01 12:15] mohak852 commented on #37657
This command is not running it got stuck and I am unable to solve this issue please help me in this
@mit-mit

[2020-06-01 12:43] vsmenon commented on #42132
Note that `+` is already defined on `TimeSeries` via `List`/`ListBase`.  You may be hitting this:

https://dart.dev/guides/language/extension-methods#api-conflicts

[2020-06-01 13:29] mrd2242 opened #42135 "confusion about type parameter scope in dart spec 2.2"
In dart spec 2.2 section **9.2 "Formal Parameters"**, it says:

scope known as the function’s type parameter scope. The type parameter scope
of a generic function f is enclosed in the scope where f is declared. Every formal
type parameter introduces a type into the type parameter
 scope.

and

the signature of f, and for the formal type parameter list itself; otherwise the
scope where f is declare

[2020-06-01 13:32] igoriuz opened #58177 "New lint rule: Exhaustive use of positional parameters"
**Describe the rule you'd like to see implemented**
Methods/ Constructors are difficult to read when there's too much (e.g. more than 3 or 4) positional parameters. I would suggest to add a rule which wants them to change into named parameters.

**Examples**
[code]

The linter could automatically suggest to make them all named. Maybe with the hint that required parameters should be marked with **@

[2020-06-01 13:43] lrhn commented on #42135
The "if it exists" is there to account for non-generic functions, which don't have a type parameter scope.

The reason `foo` is accessible from `main` is that a top-level function declaration introduces a declaration into the top-level scope. That's' independent of which scope the signature of that declaration is interpreted relative to.

So the `foo` declaration introduces `foo` in the top-level

[2020-06-01 13:44] eernstg commented on #42132
Then we should probably mention one more thing (which does not seem to be mentioned at https://dart.dev/guides/language/extension-methods#api-conflicts):

An extension method cannot be invoked if the receiver type has an instance method with the same name (unless the explicit extension method invocation syntax is used):

[code]

So, basically, instance methods have higher priority than extension m

[2020-06-01 14:22] vsmenon commented on #42135
@lrhn - I'll move this to the lang repo in case you want to consider the wording in the spec.

[2020-06-01 14:37] DanTup commented on #40620
Clearing out my inbox (!) and came to this. I re-read all this, but couldn't figure out how I could change VS Code. However, with the plan to move to LSP I don't think there's much value in removing the workaround, since that code will go away.

I checked LSP and we handle this slightly differently (no splitting strings on `.`, but instead we take the parent of the declaration if it's an enum cons

[2020-06-01 14:44] knaeckeKami opened #42136 "dart2native: Clarify usage of -D/environment variables/environment declarations"
`dart2native --help` prints:

[code]

I was confused by this. I didn't think of environment declarations that will be read via [int|String...].fromEnvironment, but of actual OS environment variables, so that option did not make much sense for me.
This wording is also not very googleable, as "dart environment variables" returns no related result.

I suggest replacing "environment variables" with "e

[2020-06-01 15:16] DanTup commented on #40026
@itome how is the performance recently with latest versions of everything?

I filed another issue at https://github.com/microsoft/language-server-protocol/issues/1008 with an idea that I think could help us reduce the payload by over 50% (related to point 3 from the comment above), plus I'm still waiting to hear back on https://github.com/microsoft/language-server-protocol/issues/954 which might g

[2020-06-01 15:26] LukaGiorgadze commented on #30021
I solved enum to string conversion like this:

[code]

[code]

🎉

[2020-06-01 15:48] stereotype441 commented on #41487
We believe we've addressed this adequately at this point.  We'll continue tweaking the README as needed, but there's no reason to track this in an open issue anymore.

[2020-06-01 15:48] #41487 closed

[2020-06-01 15:50] bwilkerson commented on #30310
Unfortunately, no. I think there's a lot of value to this and similar refactorings that aid in code re-organization, but this work hasn't yet been prioritized high enough to be scheduled.

[2020-06-01 16:01] jcollins-g commented on #42117
@stereotype441 this looks like number 4 from the email.

[2020-06-01 16:14] bkonyi commented on #41329
@devoncarew can you confirm this is resolved in 2.9.0-13.0.dev? It seems like it's working on my end now.

[2020-06-01 16:24] devoncarew commented on #41329
Yup! It started working as of the last time I checked, ~last week. Thanks!

[2020-06-01 16:25] bkonyi commented on #41329
Awesome! Thanks for confirming!

[2020-06-01 16:25] #41329 closed

[2020-06-01 16:29] deakjahn commented on #33979
With CanvaskKit, there is an even bigger problem:

    Uncaught Error: Mismatched anonymous define() module: function() { return CanvasKitInit; }

This practically makes it impossible to use a `require.js` brought alogn with our own code to be used for our own purposes. Well, I hope not completely impossible but I'm still struggling to find a way...

[2020-06-01 17:24] alexmarkov opened #42137 "[vm] Avoid using qsort in compiler"
`qsort` which is used to implement `BaseGrowableArray<T, B, Allocator>::Sort` has unspecified order in case of equal elements, which may cause non-deterministic or platform-dependent result of compilation. Also, C/C++ standard doesn't provide any guarantees about complexity of the underlying algorithm, so it might be sub-optimal on certain inputs.

I think we should avoid using `qsort` in compiler

[2020-06-01 17:47] stereotype441 commented on #42117
We believe this is a known issue with Windows support.  Once https://github.com/dart-lang/sdk/issues/40381 is fixed we should look into whether this is still happening.

[2020-06-01 17:51] #41244 closed

[2020-06-01 18:39] munificent commented on #42118
That's the behavior of the old `dartfmt` command, but the interface `dart` uses to run the formatter is different.

Right now, it exits with an error if you don't pass any files. That's how `flutter format` behaves and is, I thought, how we wanted `dart format` to behave. Where did the idea of formatting the cwd come from?

I'm not sure what's going on with `-n` and no other arguments. I'll take a

[2020-06-01 18:44] devoncarew commented on #42118
Ah, ok, I'd have been happy for `dart format` to fail w/ a usage message, and for me to have to run `dart format .`.

I think the main issue here is the hang -

[2020-06-01 19:01] a-siva commented on #42124
//cc @zichangg

[2020-06-01 19:10] stereotype441 opened #42138 "Permissive mode exception leads to UnimplementedError in DartFixListener.addDetail"
As of 609c0d35eb84005a84c1de7d0c34c870dc509134, if a permissive mode exception happens when running migration, the error message the user sees is:

[code]

[2020-06-01 19:10] scheglov commented on #42133
Correct, it was implemented already in analyzer.

[2020-06-01 19:10] #42133 closed

[2020-06-01 19:20] bkonyi commented on #41978
I think this might be related to https://github.com/dart-lang/sdk/issues/42092. TL;DR, if a child process has custom signal handlers for SIGTERM or SIGINT, it's possible that a DartDev VM instance may exit before its child. This could potentially result in the child process not exiting correctly.

[2020-06-01 19:21] stereotype441 opened #42139 "Permissive mode exception when migrating package:path"
Using SDK as of 609c0d35eb84005a84c1de7d0c34c870dc509134, and package:path source as of https://github.com/dart-lang/path/commit/10c778c799b2fc06036cbd0aa0e399ad4eb1ff5b, attemting to migrate package:path results in an exception.

Due to #42138, you can't see the exception itself, however I was able to see what it is by by adding a print statement to `DartFixListener.addDetail`.  The exception is:

[2020-06-01 19:30] stereotype441 opened #42140 "Migration tool not respecting exclude directives in analysis_options.yaml on Windows"
Using SDK as of 609c0d35eb84005a84c1de7d0c34c870dc509134, and package:dartdoc source as of https://github.com/dart-lang/dartdoc/commit/1196ef0fddde3f2ac618159d63bddeee487e639c, attempting to migrate package:dartdoc on Windows results in an exception.

The exception can be reproduced on Linux by commenting out three lines from the `exclude` list in dartdoc's `analysis_options.yaml` file:

[code]

T

[2020-06-01 19:36] stereotype441 opened #42141 "Migration tool should show a more useful error when there are multiple analysis contexts"
If migration is attempted on a directory containing multiple analysis contexts, the following exception occurs:

[code]

In an ideal world the migration tool would be able to handle multiple analysis contexts, however at a minimum we should output a helpful error message to the user rather than crashing.

(See #42140 for one way of reproducing this error)

[2020-06-01 19:41] stereotype441 opened #42142 "Migration tool encounters assertion failures when attempting to migrate dartdoc"
Using SDK as of 609c0d35eb84005a84c1de7d0c34c870dc509134, and package:dartdoc source as of https://github.com/dart-lang/dartdoc/commit/1196ef0fddde3f2ac618159d63bddeee487e639c, attempting to migrate package:dartdoc with assertions enabled results in an exception.

To enable assertions while running migration, you need to run it from source, e.g. if `$SDK` is the path to your checkout of the SDK, u

[2020-06-01 19:51] stereotype441 commented on #42117
On further reflection, I'm going to suggest the opposite: let's fix this issue, and then once it's fixed re-evaluate #40381 to see if any other WIndows issues remain :)

[2020-06-01 20:14] crelier opened #42143 "Wrong expectation in normalization test."
A new [normalization test](https://dart-review.googlesource.com/c/sdk/+/148582/8/tests/language/nnbd/normalization/generic_function_type_object_normalization_test.dart) introduced in this [CL](https://dart-review.googlesource.com/c/sdk/+/148582) does not include requirements to run either in weak or strong mode, therefore, it runs in both modes.

On the VM (a non yet committed version including fi

[2020-06-01 20:42] kevmoo commented on #42122
I hit this, with the sample repo, too!

Here's my work-around patch: https://github.com/dart-lang/samples/commit/75630cb3b9304e43de5f6acacbd2d2f042b81756

[2020-06-01 20:48] franklinyow commented on #42112
Dart approved

[2020-06-01 20:49] franklinyow commented on #42111
Dart approved

[2020-06-01 20:59] #41908 closed

[2020-06-01 20:59] franklinyow commented on #41908
closing

[2020-06-01 21:00] franklinyow commented on #41907
closing

[2020-06-01 21:00] #41907 closed

[2020-06-01 21:20] edyu opened #42144 "Expose Crypto.subtle with an actual class with actual methods"
Currently, Crypto.subtle is a variable that's completely useless. It doesn't expose a usable interface to be able to call any methods that the web cryptography api exposes. There is simply no methods to be usable at all. In fact, I don't even know why is Crypto.subtle (the exposed class is _SubtleCrypto with no methods) exposed at all.

* Dart core libraries ("dart:async", "dart:io", etc.)
* dart2

[2020-06-01 21:33] #41417 closed

[2020-06-01 21:34] alexmarkov opened #42145 "Failures on "[vm/nnbd] Migate runtime/tests/vm/dart/* tests to NNBD"
There are new test failures on [[vm/nnbd] Migate runtime/tests/vm/dart/* tests to NNBD](https://dart-review.googlesource.com/c/sdk/+/149493).

The tests
[code]
are failing on configurations
[code]

[2020-06-01 21:39] alexmarkov opened #42146 "Compile-time errors on vm/dart/* tests in strong mode due to dependencies on legacy packages"
After `vm/dart` tests are migrated to NNBD, there are still compile-time errors in strong mode due to dependencies on packages which are not migrated yet.

The following tests are failing:
[code]

[2020-06-01 21:50] srawlins commented on #42122
The unused_element analysis has never concerned itself with operators before, because they cannot be private, they cannot be static, and they cannot be top-level. operators on extensions (private or unnamed) is the first instance where we can detect an unused operator. Not sure what the fix is yet.

[2020-06-01 22:02] edyu commented on #41484
Just want to confirm I'm seeing the same thing. Depending on whether using Chrome or Edge, I'm seeing $add or the C.JsString_methods error.

[2020-06-01 22:13] rakudrama commented on #41484
@edyu If you could include the stack trace I could tell if it is the same issue or something else.

[2020-06-01 22:18] alexmarkov commented on #42145
Created a more specific issue https://github.com/dart-lang/sdk/issues/42146 about compile-time errors.

RuntimeError `vm/dart/redirection_type_shuffling_test/none` is a pre-existing failure, same as corresponding `vm/dart_2` test failure.

[2020-06-01 22:18] #42145 closed

[2020-06-01 22:54] edyu commented on #41484
Uncaught TypeError: Cannot read property '$add' of undefined
    at Object._Universe__canonicalRecipeOfInterface (rti.dart:1746)
    at Object._Universe__lookupInterfaceRti (rti.dart:1755)
    at Object._Parser_handleTypeArguments (rti.dart:2258)
    at Object._Parser_parse (rti.dart:2140)
    at Object._Universe__parseRecipe (rti.dart:1509)
    at Object._Universe_eval (rti.dart:1442)
    at find

[2020-06-01 22:57] edyu commented on #41484
From Firefox:

TypeError: C.JSString_methods is undefined
    _Universe__canonicalRecipeOfInterface rti.dart:1744
    _Universe__lookupInterfaceRti rti.dart:1755
    _Parser_handleTypeArguments rti.dart:2258
    _Parser_parse rti.dart:2140
    _Universe__parseRecipe rti.dart:1509
    _Universe_eval rti.dart:1442
    findType rti.dart:405
    rtii main.dart.js:69276
    dartProgram main.dart.js:697

[2020-06-01 23:00] edyu commented on #41484
@rakudrama
I just posted the stack trace for both Chrome and Firefox.
Here is the corresponding build.yaml:

targets:
  $default:
    builders:
      build_web_compilers|entrypoint:
        options:
          compiler: dart2js
          dart2js_args:
            - -O0

[2020-06-01 23:01] pcsosinski commented on #42112
Flutter approved (@tvolkert)

[2020-06-01 23:01] pcsosinski commented on #42111
Flutter approved (@tvolkert)

[2020-06-01 23:06] tvolkert commented on #41972
It looks like 2fa4d3e contains no tests?

[2020-06-01 23:07] Rockvole opened #42147 "unawaited_futures misses cases"
Dart VM version: 2.8.2 (stable) (Unknown timestamp) on "linux_x64"

I have noticed while using the unawaited_futures lint feature that the lint misses cases quite often. Maybe 2/10 it will miss the case and show nothing. It could be just cases where there is an async and the function returns void.

[2020-06-01 23:07] Rockvole opened #58178 "unawaited_futures misses cases"
Dart VM version: 2.8.2 (stable) (Unknown timestamp) on "linux_x64"

I have noticed while using the unawaited_futures lint feature that the lint misses cases quite often. Maybe 2/10 it will miss the case and show nothing. It could be just cases where there is an async and the function returns void.

[2020-06-01 23:08] Rockvole commented on #42147
This example doesn't show the lint message :

    import 'dart:io';

    abstract class AbstractEntries {

      void validateServer() async {
        await sleep(const Duration(seconds: 5));
      }
    }

    class GetAuthentication extends AbstractEntries {

      void getEntries() {
        validateServer();
      }
    }

[2020-06-01 23:09] greglittlefield-wf opened #42148 "Regression in analyzer messages/behavior when using extension methods without adequate SDK bounds"
In my IDE, when using an extension methods in a project with SDK bounds that are too low, I used to get a helpful error message, and now I don't in newer versions of the SDK.

##### Using Dart 2.7.2:
<img width="717" alt="Screen Shot 2020-06-01 at 3 36 54 PM" src="https://user-images.githubusercontent.com/1713967/83462770-eb313200-a420-11ea-8f98-1ca7ceb124a1.png">

##### Using Dart 2.8.1 (also rep

[2020-06-01 23:11] Rockvole commented on #42147
https://github.com/dart-lang/language/issues/979

@bwilkerson

[2020-06-01 23:17] rakudrama commented on #41484
Thanks for the investigation. The bug fix e0257265d34efffc845ea88643e183dc3cc5bb0e is relatively recent and didn't make the cut for the most recent stable release (2.8.3) but will be in a future release (2.9 preview). In the meantime, use `-O1` instead.

[2020-06-01 23:21] greglittlefield-wf commented on #42148
Oh yeah, and for searchability of this issue, here are some of the error messages you might encounter:

[2020-06-02 00:37] alexmarkov opened #42149 "[vm] Null check operator throws incorrect exception if AOT-compiled with --dwarf-stack-traces"
Consider the following test:

[code]

Running this test in JIT or AOT mode with just `--enable-experiment=non-nullable` looks good:
[code]

However, if the same test is compiled with `--dwarf-stack-traces`, the exception type is different:
[code]

[2020-06-02 01:10] jamesderlin opened #42150 "runZoned/runZonedGuarded body can continue executing after the error callback fires"
See https://github.com/flutter/flutter/issues/56406 for a case and a small reproduction where the `runZoned`/`runZonedGuarded` body continues executing if it *indirectly* throws an uncaught exception (e.g. via a `Timer` callback).

I'm not sure if that's the intended behavior, but if it is, it would be nice if the documentation for `runZoned`/`runZonedGuarded` described this.

[2020-06-02 01:27] xster opened #42151 "write-v8-snapshot-profile-to causes kernel_translation_helper.cc crash"
If you aren't sure, file the issue here and we'll find the right home for it.
In your issue, please include:

* Dart SDK Version (`dart --version`)
Dart VM version: 2.9.0-11.0.dev.flutter-6489a0c68d (be) (Wed May 27 05:50:13 2020 +0000) on "macos_x64"

Following https://github.com/dart-lang/sdk/blob/master/runtime/docs/snapshot_profiling.md and calling gen_snapshot via flutter such as `flutter bui

[2020-06-02 01:32] xster commented on #42151
Doh I'm holding it wrong (missing one dash)

[2020-06-02 01:32] #42151 closed

[2020-06-02 01:50] edyu commented on #36295
I actually found an easy way (but not automated way) to run worker.
In a web project such as angulardart project, just call
`dart2js <source file location from the top level> -o web/<destination file name>.dart.js`

For instance, say the source file is under `<project>lib/src/worker/worker.dart`
`dart2js lib/src/worker/worker.dart -o web/worker.dart.js`
Then I can reference worker.dart.js from the

[2020-06-02 03:16] iamcco opened #42152 "LSP always return unrelated items and too many"
This tracker is for issues related to:

* Analyzer

Info:

* Flutter version: `Flutter 1.17.2 • channel stable • https://github.com/flutter/flutter.git`
* Dart SDK Version (`dart --version`): `Dart VM version: 2.8.3 (stable) (Tue May 26 18:39:38 2020 +0200) on "macos_x64"`
* Uusing MacOSX: `10.15.4`

Step to repeoduce issue:

Create flutter project with `flutter create xxxname`

- open `lib/main.d

[2020-06-02 03:24] edyu commented on #35730
I actually found an easy way (but not automated way) to run worker.
In a web project such as angulardart project, just call
`dart2js <source file location from the top level> -o web/<destination file name>.dart.js`

For instance, say the source file is under `<project>lib/src/worker/worker.dart`
`dart2js lib/src/worker/worker.dart -o web/worker.dart.js`
Then I can reference worker.dart.js from the

[2020-06-02 07:30] #42051 closed

[2020-06-02 08:21] #41435 closed

[2020-06-02 08:21] #41602 closed

[2020-06-02 09:55] eernstg commented on #41804
FYI: dart-lang/language#825 concluded that `Never` in a legacy library simply means `Null*`.

[2020-06-02 09:57] sgrekhov commented on #40949
Still no error in case of type aliases

[code]

[2020-06-02 10:11] johnniwinther commented on #40949
Generalized type aliases are not part of NNBD so this is a post-nnbd issue.

[2020-06-02 10:13] johnniwinther opened #42154 "Support non-function type aliases in CFE"

[2020-06-02 10:18] johnniwinther opened #42155 "Support non-function type aliases in CFE"

[2020-06-02 10:18] #42154 closed

[2020-06-02 10:39] SAGARSURI commented on #33295
Thanks @eernstg for the info. Excited for the above feature to be added in Dart.

[2020-06-02 10:45] lrhn commented on #42150
That is the intended behavior.

You are catching uncaught asynchronous errors, which is one of the most common reasons for running code in a zone to begin with.

In fact, for `runZoned`, that's the only way the error handler gets called. For `runZonedGuarded`, a synchronous error (one that actually stops execution) can also be caught by the error handler.

[2020-06-02 10:51] lrhn commented on #42147
If a function returns `void`, then it's not considered as returning a future. If it returns `Object`, it's also not considered as returning a `Future`, even though it *could* (since `Future`s are `Object`s).

Here the function *implementation* is `async`, but the call point doesn't know that (and you can't know that since it's a virtual function you are calling, and it could be overridden in a sub

[2020-06-02 12:12] eernstg commented on #33295
Moving this issue to the language repo, it would be a language mechanism.

[2020-06-02 12:13] stereotype441 commented on #42138
Note that at the same time as we fix this, it would be nice to add an implementation of `DartFixListener.addRecommendation`, and then use it for reporting package config exceptions.
 See TODO comment in https://dart-review.googlesource.com/c/sdk/+/149611.

[2020-06-02 13:59] johnniwinther commented on #41856
From the search links it looks like the VM needs to change its options.

[2020-06-02 14:01] vsmenon commented on #42152
@devoncarew - should this be filed on an lsp component instead?

[2020-06-02 14:03] bwilkerson commented on #42152
@DanTup

[2020-06-02 14:09] DanTup commented on #42152
There are two reasons for the large payload:

1. The `suggestFromUnimportedLibraries` setting defaults to on, so completion includes symbols that aren't yet imported. Setting this to `false` (in `iniaitializationOptions`) will prevent that and drop the size of the payload significantly
2. The LSP spec is not clear about the behaviour of `IsIncomplete=false` so it's not clear if we can filter based

[2020-06-02 14:33] mkustermann commented on #42136
Tentatively assigning @mit-mit, since you were looking at this recently IIRC

[2020-06-02 14:54] DanTup commented on #41843
This was fixed in 994c0e8dad6df290b1919b383171f4c5bf628cc4 - I thought it would auto-closed but didn't!

[2020-06-02 14:54] #41843 closed

[2020-06-02 15:07] franklinyow commented on #41856
Yes, that's #41853

[2020-06-02 15:11] DanTup commented on #41942
@bkonyi did you get chance to check this? The latest version of the VS Code extension sends `{}` in place of empty params, but if there are other tools not doing so they may break as this change propagates.

[2020-06-02 15:12] franklinyow commented on #41972
@rmacnak-google @mkustermann Can you sync with @tvolkert about the test?

[2020-06-02 15:20] iamcco commented on #42152
@DanTup Thanks for the info and I use coc.nvim. I will test option `suggestFromUnimportedLibraries`.

[2020-06-02 15:28] johnniwinther commented on #41856
Okay. Closing this then.

[2020-06-02 15:28] #41856 closed

[2020-06-02 15:32] devoncarew commented on #42141
This will be addressed by https://dart-review.googlesource.com/c/sdk/+/149664.

[2020-06-02 15:41] DanTup commented on #39442
@Urfoex Sorry for the delay in responding to this. I checked the log and the issue looks to be because you had `onlyAnalyzeProjectsWithOpenFiles: true` in `initializationOptions` but there was never a request for `textDocument/didOpen`. This means no paths are being analyzed, and therefore no paths are valid.

[2020-06-02 16:04] srawlins opened #42158 "Naming a generic typedef with a built-in has no recovery"
If I use the old typedef syntax and a built-in name:

[code]

I get the following error:

[code]

However, if I use the generic syntax:

[code]

then I get 5 errors:

[code]

[2020-06-02 16:04] srawlins commented on #42158
CC @jensjoha

[2020-06-02 16:19] nshahan commented on #42108
cc @leafpetersen

[2020-06-02 16:56] lrhn opened #42159 "Quickfix to add package to pubspec.yaml."
If I write `import "package:foo/foo.dart";`, and there is no `foo` package in my package configuration, could we have a quick-fix to add it to the `pubspec.yaml` file (and run `pub get`).
(Make it a dev_dependency if the file is not in `lib/`.)

Is that possible, or must quick-fixes be in the same file?

An alternative would be a `pub` command like `pub depend foo` which adds a `foo` dependency to

[2020-06-02 17:03] lrhn commented on #41559
No progress. The language issue is probably https://github.com/dart-lang/language/issues/725.

[2020-06-02 17:18] stereotype441 opened #42160 "Need better infrastructure for detecting unintentional breaking changes to analyzer"
The analyzer package has a lot of clients that are widely used in open source, and several of them import code from `package:analyzer/src/...`.  As a result, we occasionally make changes to the analyzer that don't break the officially-supported analyzer API, but in practice break an important client.  To make sure that we don't publish a version of the analyzer that would cause a widespread ecosys

[2020-06-02 17:30] bwilkerson commented on #42159
Quick fixes are allowed to modify files other than the one in which they are invoked. You can see this, for example, by referencing, in a part file, an identifier that is not yet imported and selecting the fix to add an import. The import is correctly placed in the library file.

The harder question, in my mind, is what text to add. More specifically, which version constraint to use.

Quick fixes

[2020-06-02 17:33] bwilkerson commented on #42160
If we believed that is was possible for the analyzer to publish an API that clients wouldn't need to circumvent, then it seems to me that we'd have enough information to know what is and is not a breaking change. I don't know whether that's a reasonable scenario, but might be worth considering.

[2020-06-02 17:41] lrhn commented on #42159
You could use `any`. Then Pub would probably pick the newest version compatible with all the other constraints. Users can change that if they need a specific version.

It does sound like `pub` is the right place to solve the problem more deepply. They can find the newest version of the package that is compatible with either the versions in `pubspec.lock` or find a new solution for everyone.

[2020-06-02 17:49] jwren commented on #34241
IntelliJ does not currently use it.  If I am reading the purpose of the protocol correctly, then the current IJ bracket features, folding and breadcrumb features are sufficient.

Just because IJ isn't a user doesn't mean that we should remove it, some future client could use the protocol.

[2020-06-02 17:57] mit-mit commented on #42136
CL in https://dart-review.googlesource.com/c/sdk/+/149595/1

[2020-06-02 18:24] bwilkerson commented on #42159
Yes, `pub` could solve the problem more deeply. But it might be more convenient to have a quick fix to add the `any` version and then have `pub` tell you when the lower bound of a package's constraints can't be used (because of the other dependencies) and hence could be tightened.

[2020-06-02 18:28] bwilkerson commented on #34241
If we didn't have any clients using it I'd probably vote to remove it. But removing it would break any existing VS Code users that haven't updated to the (yet future) version that uses LSP, and that's not something I'm willing to do. (Not to mention any clients that I'm not aware of that might be using it.)

[2020-06-02 18:29] bwilkerson commented on #34241
Given that the original issue will be resolved when VS Code is switched to LSP, I'm going to close this.

[2020-06-02 18:29] #34241 closed

[2020-06-02 18:32] bkonyi opened #42161 "Add transparent pagination support for getVMTimeline"
As described in https://github.com/flutter/flutter/issues/57756, it's possible for `getVMTimeline` to cause a Dart process on a low-memory device to crash when requesting a large number of timeline events. DDS should intercept `getVMTimeline` requests and break the requested timeline range into multiple blocks that can be retrieved through separate `getVMTimeline` requests. The results of these re

[2020-06-02 18:33] bkonyi commented on #41942
Not yet. I'll take a look today.

[2020-06-02 18:37] alexmarkov commented on #40650
/cc @bkonyi @rmacnak-google

[2020-06-02 18:37] #57805 closed

[2020-06-02 18:45] #40927 closed

[2020-06-02 18:45] mkustermann commented on #40927
This was done in b59217721bd86f0139cb455a5303fef2b493e54e

[2020-06-02 18:46] mkustermann commented on #32266
@johnniwinther Can we find a new owner for this?

[2020-06-02 19:07] bkonyi commented on #40650
Thanks for alerting me to this @alexmarkov. This was resolved a couple of months ago and there's no longer any usages of `package:unittest` in the runtime tests.

[2020-06-02 19:07] #40650 closed

[2020-06-02 19:50] #42108 closed

[2020-06-02 20:28] leafpetersen opened #42162 "Implement null safety package allow list for (CFE portion)"
This is a tracking issue for the CFE side of [this](https://github.com/dart-lang/sdk/issues/41741) work.

[2020-06-02 20:29] leafpetersen commented on #42162
@johnniwinther can you give an estimate of when you expect this to be finished?

[2020-06-02 20:51] tonyclickspace opened #42163 "Regression - web builds failing under analyzer 0.39.9 / _fe_analyzer_shared 4.0.0"
Dart VM version: 2.8.2 (stable) (Mon May 11 15:06:42 2020 +0200) on "macos_x64"

analyzer was updated from 0.39.8 to 0.39.9 today, to match  _fe_analyzer_shared going from 3.0.0 to 4.0.0

But running webdev build in a web project returns the following:
[code]

Regression - last known working version was analyzer 0.39.8 / _fe_analyzer_shared 3.0.0

[2020-06-02 20:52] tonyclickspace commented on #42163
For anyone finding this issue and looking for a temporary solution - add this to `pubspec.yaml`
[code]

[2020-06-02 21:26] smaifullerton-wk commented on #42163
Same here at Workiva. All of our projects are currently not building.

[2020-06-02 21:34] smaifullerton-wk commented on #42163
@stereotype441

[2020-06-02 21:39] devoncarew commented on #42163
I believe we're running into this with devtools as well: https://travis-ci.org/github/flutter/devtools/jobs/694012773#L689

[2020-06-02 21:45] leafpetersen commented on #41559
@johnniwinther I will look into this.  I need to wrap up the initialization assignment proposal and related tests first, but I should be able to get to this this week.

[2020-06-02 21:51] bkonyi commented on #41942
@DanTup it should be fixed now. Just took a 5 character change :-)

[2020-06-02 21:58] brandondiamond commented on #41658
I'm hitting this, too. It seems to be a legit bug in the dart analyzer. My disk filled up just before I hit this error; perhaps that's a contributing factor -- seems that something is corrupted.

## Dart analysis issue

NoSuchMethodError: The getter 'isEof' was called on null.

## Version information

- Dart SDK 2.8.3
- Dart IntelliJ 192.8052
- Android Studio 3.6.3
- Mac OS X 10.15.4

## Details

[2020-06-02 22:00] scheglov commented on #42163
I'm going to resolve the unnamed constructor that I removed in `SummaryBuilder`.
Then we will publish another `analyzer` version.

Then we will work with the authors of `build_resolvers` to reduce the amount of internals that they use from `analyzer`.

[2020-06-02 22:11] brandondiamond commented on #41658
It seems that the IDE can insert invalid characters into certain files (i.e., null) which breaks the analyzer. Rebuilding the file that was open when the IDE crashed seems to be helping...

[2020-06-02 22:13] brandondiamond commented on #41658
Yup, that did it.

FWIW, this was a pretty unpleasant crash. There aren't many resources on the web dealing with this issue -- I think it's worth the effort to dig into the analysis server and try to report the exact file, line, and column with the unexpected token. It would also be great to include instructions: "It's possible your file was corrupted on disk and includes an invalid character. Ple

[2020-06-02 22:17] bkonyi opened #42164 "Crash in Constant Propagation on AOT-O3-SLOWPATH-DebugX64"
**Reproduction commands:**

[code]

Stack trace:

[code]

Appears to be related to 6ab62add0d4b6b76e214134db883e84ef4a18edd and we're seeing multiple instances of this each night.

[2020-06-02 23:12] scheglov commented on #42163
With https://dart-review.googlesource.com/c/sdk/+/149781, and `dependency_overrides` in `build_resolves` tests pass, so hopefully we can publish this change in a new version of `analyzer` and so fix the issue.

[2020-06-03 01:23] stereotype441 commented on #42163
Ok, analyzer 0.39.10 is published.  This should fix the problem.  If it doesn't, feel free to re-open.

[2020-06-03 01:23] #42163 closed

[2020-06-03 01:30] stereotype441 commented on #42160
See #42163 for a specific example of the kind of unintentional breaking change that I hope we could avoid with better testing

[2020-06-03 03:24] devoncarew commented on #42163
Just to follow up, the devtools builds are passing agin.

[2020-06-03 05:33] iamcco commented on #42152
option `suggestFromUnimportedLibraries: false` does reduce response items.

[2020-06-03 05:54] johnniwinther opened #42165 "CFE error recovery"
This epic is a bucket for error recovery relation issues for the CFE.

[2020-06-03 06:25] johnniwinther commented on #32266
Yes. I'll reassign.

[2020-06-03 06:30] johnniwinther commented on #42162
I'll take -1 days (I landed it but cautiously reverted). Will reland (today?) in https://dart-review.googlesource.com/c/sdk/+/149588

[2020-06-03 07:19] dtaalbers commented on #35427
project

This is not actually a solution though. Because reading the bytes of a file is done quite quickly, meaning the progress bar will skip from 0% - 100% within a ~second. After that it just stays on 100% for a while (depending on the file size) while it's actually uploading the file.

I really need that upload progress to be available so that I can smoothly report the upload progress to the u

[2020-06-03 07:22] awazgyawali commented on #35427
Dio package now supports progress callback if I recall correctly. Try migrating the dio if thats possible. Ref: https://github.com/flutterchina/dio/issues/103

[2020-06-03 07:36] dtaalbers commented on #35427
@awazgyawali Thank you for the reply! As you can see in [my SO question](https://stackoverflow.com/questions/61635094/flutter-how-to-increase-onsendprogress-calls-for-a-fluid-progress-bar-animation?noredirect=1#comment109948783_61635094), I've tried the DIO solution already, together with my custom solution (which basically do the same thing).

They both read the file into a stream and report the

[2020-06-03 08:00] cskau-g opened #42166 "ABI build bot is misleading"
The `vm-dartkb-linux-release-x64-abi` bot has been flaky in the last week or more, failing on test `lib_2/async/stream_state_nonzero_timer_test` with status `Crash -> Pass, expected Crash`.
The test output however shows:
[code]

whesse@ looked into the issue last week and concluded that this is happening (paraphrasing here) because the ABI builder runs two builds (with and without `--use-abi-versi

[2020-06-03 08:01] cskau-g commented on #42166
@liamappelbe, Bill mentioned your name on the thread last week. Are you familiar with this bot?

[2020-06-03 08:02] athomas commented on #42166
I'm re-assigning this to the VM team, I'm not sure what the plan is here. There was talk about removing ABI stability guarantees again. @a-siva

[2020-06-03 08:03] cachapa commented on #35427
From my own research into this, it appears you'll never get a very accurate progress monitoring because AFAIK no operating system reports the bytes leaving the network interface for each individual stream.

The way I've seen this solved in other languages and frameworks has always been to count the bytes going into the upper layers of the network model. This isn't perfect since there are buffers i

[2020-06-03 08:16] #42162 closed

[2020-06-03 08:27] #39666 closed

[2020-06-03 08:42] athomas commented on #41972
@franklinyow Since this is not approved by Flutter, yet, I removed the `cp-approved` label.

[2020-06-03 10:19] Viacheslav-Romanov opened #42167 "Implement a feature for lists of objects merging"
As a software developer I want to merge 2 or more lists of objects based on criteria or key with left join support. For example example I have 2 lists of the different type of objects and I want to merge it in one list by using specific key and get a merged object list (can be anonymous object type of list). For example merge list of user and groups in one list.

[2020-06-03 10:26] Viacheslav-Romanov commented on #42167
Thank you @Lasse R.H. Nielsen

On Wed, 3 Jun 2020 at 18:20, Lasse R.H. Nielsen <notifications@github.com>
wrote:

[2020-06-03 10:49] frencojobs opened #42168 "Process.run wrongfully returns stdout as stderr"
# Environment

- `dart version`: 2.8.1 (stable)
- OS version: Windows 10

# Problem

`Process.run` is wrongfully returning `stdout` as `stderr`. This could be an issue of dart cli or issue of `dart:io`.

# Steps to Reproduce
The code
[code]
yields the output, which is expected.
[code]
But running `dart --version` yields an unexpected result.
[code]
[code]
I'm not sure if this is a problem of dart

[2020-06-03 10:54] mraleph commented on #42164
Thanks Ben! Fix is under review here https://dart-review.googlesource.com/c/sdk/+/149842

[2020-06-03 12:13] lrhn opened #42169 "Failures on Migrate void tests to Null Safety."
There are new test failures on [Migrate void tests to Null Safety.](https://dart-review.googlesource.com/c/sdk/+/147160).

The tests
[code]
are failing on configurations
[code]

The tests are generally checking that `return;` is not allowed unless the return type/future value type is `void`, `dynamic` or `Null`, and not, for example `FutureOr<void>`.

[2020-06-03 12:21] #42117 closed

[2020-06-03 12:36] vsmenon commented on #42132
@lrhn @leafpetersen

Should this be closed as working as intended?  Is there something we should update in terms of documentation or analysis hints/warnings?

[2020-06-03 12:41] sortie commented on #42168
This is not a problem in dart:io. `dart --version` writes the information to stderr and that's why you see it in stderr when you use `Process.run`.

Closing this issue as working as intended since there's no dart:io issue. As for whether `dart --version` should write to stderr or stdout, that is debatable. I suppose it's more useful to write it to stdout although things like `foo --help` writing t

[2020-06-03 12:41] #42168 closed

[2020-06-03 12:44] lrhn commented on #42132
It's working as intended, and there isn't any good place to put documentation.

One option would be the analyzer being clever and recognizing that an instance member invocation is shadowing an extension, and if there are any type issues with the instance member, then check if the extension member would fix them.

Probably a fairly complex piece of heuristics, though.

[2020-06-03 12:46] stephan-gruen opened #42170 "Dart Analysis / Compiler wrongly accepts function with no parantheses"
dart-sdk 2.9.0-13.0.dev

This behavior makes it very hard to find typos! Dart Analysis thinks this is okay and no compiler error, but function will not be called.

[code]

[2020-06-03 12:47] mnordine commented on #42117
Confirmed the fix, works on my end, :)

[2020-06-03 12:56] stereotype441 opened #42171 "Migration tool complaining that SDK does not enable NNBD when trying to migrate flutter"
Following a tip from @a14n, I tried to migrate flutter using the following steps:
[code]
This produced the error message:
[code]
This shouldn't be possible, since the SDK unfork has already happened, so Flutter's SDK should have NNBD enabled.

[2020-06-03 13:07] xvrh commented on #42170
There is a lint available to catch this kind of mistake: https://dart-lang.github.io/linter/lints/unnecessary_statements.html

You can enable it with a file `analysis_options.yaml` at the root of your project
[code]

[2020-06-03 13:38] #42136 closed

[2020-06-03 13:42] mit-mit commented on #42136
Thanks @knaeckeKami for bringing this to our attention, we've updated both our product help and dart.dev documentation!

[2020-06-03 14:13] stereotype441 commented on #42160
One possible way we could address this using testing would be to set up a bot with a list of "known important" packages.  For each published version of each of those packages, it does the following:
- Check whether the package's analyzer dependency includes the bleeding edge version of the analyzer.  If it doesn't, skip it.
- Download the package into a temporary directory.
- Modify the package's

[2020-06-03 14:15] scriptsman commented on #34452
Is C calling Dart supported now?

[2020-06-03 14:26] mit-mit commented on #34452
Yes, it's supported, but still not entirely complete. See https://dart.dev/guides/libraries/c-interop

[2020-06-03 14:30] stereotype441 commented on #42160
Agreed, if we had confidence that were feasible, it would sure be nice.  My personal feeling is that it isn't feasible, based on several observations:
- We've been talking about trying to get the analyzer's API into a "1.0" state for years and we still seem pretty far from achieving it (at least measured by the number of client packages that import from lib/src).  Granted, a 1.0 state is not neces

[2020-06-03 14:38] smaifullerton-wk commented on #42163
Same. Thanks for the quick fix!

[2020-06-03 14:59] xiaoyu-nus opened #42173 "‘TimeOfDay’ not found compilation error"
I am using a time picker for my flutter web app running on chrome. I am using the BLOC logic. TimeOfDay is imported from time.dart in the bloc file and used by the event file:

The bloc file:
[code]
Here is the event file:
[code]
However, when I run
[code]
The following errors are thrown:
[code]
In the component class where the time picker is used, the type TimeOfDay is also used but I dont see an

[2020-06-03 15:02] #42164 closed

[2020-06-03 15:06] hanj7221 opened #42174 "js-interop:"
**Describe the issue you're seeing**

I'm seeing the following error on my chrome console

NoSuchMethodError: method not found: 'run' on null

I'm using the Dart js package to write wrapper around Excel JS APIs so that I can call them in Dart. And this error happens when I try to call the wrapper function for Excel.run().

**Does it happen in Dartium or when compiled to JavaScript?**

When compile

[2020-06-03 15:46] mkustermann commented on #41972
@rmacnak-google Did you manage to make a reproduction test case for this?

[2020-06-03 16:21] alexmarkov commented on #41219
Another similar infra failure on vm-kernel-win-release-ia32:

[code]

[Full log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8878501298496646576/+/steps/vm_tests_shard_2/0/logs/task_stdout_stderr:_vm_tests_shard_2/0).

[2020-06-03 16:28] alexmarkov commented on #42166
The bot is consistently red now. Approving this failure to turn it green.

[2020-06-03 16:45] stereotype441 commented on #42141
Reopening since the fix was reverted

[2020-06-03 16:47] sigmundch commented on #41854
both DDC and dart2js have been renamed to `--sound-null-safety` and `--no-sound-null-safety`.

[2020-06-03 16:47] #41854 closed

[2020-06-03 16:53] bkonyi commented on #42164
Thank you for the quick turnaround Slava!

[2020-06-03 17:02] Reprevise opened #42175 "Able to see other app's sensitive debug logs"
I'm on Dart 2.8.3, and my OS is Windows. I don't know whether to post this in Flutter or here, but it has things to do with logging. Anyways, I was debugging my Flutter application and then I clicked on a notification from one of my other apps. Apparently this app was also built with Flutter and I could see it's debug logs.

Shouldn't logs be limited to my app, and not all of the other apps on my

[2020-06-03 17:12] devoncarew commented on #42175
/move flutter/flutter

[2020-06-03 17:12] #42175 closed

[2020-06-03 17:14] devoncarew commented on #42170
@xvrh - thanks for the triage and response!

@munificent and @mit-mit for possible inclusion in our list of recommended lints.

[2020-06-03 17:14] #42170 closed

[2020-06-03 17:26] liamappelbe commented on #42166
If there is work to do here I can do it, but I'm not sure what the fix should be. This bot just reports differences between the results.json files in different ABI versions. Flaky tests are hard to handle with this pipeline. The easiest fix would just be to disable this test on the ABI bot, using the status files.

[2020-06-03 18:13] alexmarkov commented on #41314
All `vm` tests are now migrated to NNBD.
Remaining strong mode compile-time errors due to non-migrated dependencies are tracked in https://github.com/dart-lang/sdk/issues/42146.

[2020-06-03 18:13] #41314 closed

[2020-06-03 18:58] mymikemiller opened #42176 "URI's path constructor should not encode colon"
Dart version:  2.8.2 (stable)
MacOSX, using VSCode

The docs say

but

`print(Uri(path: 'http://google.com').path);`

prints:

`http%3A//google.com`

Docs: https://api.flutter.dev/flutter/dart-core/Uri/Uri.html

Earlier in the docs, its says:

The colon is in both lists, so I expect it to not turn into %3A.

Besides this, why are the two lists of escaping-exempt characters different?

[2020-06-03 19:09] PixelToast opened #42177 "Dart-defines should generate a warning when not const"
**This issue is related to**

* Analyzer
* Documentation

**Version**

`Dart VM version: 2.8.3 (stable) (Tue May 26 18:39:38 2020 +0200) on "windows_x64"`

**Description**

When you access dart defines in a non-const expression, e.g.

[code]

This works fine when the script is run directly with dart, e.g. `dart -Dfoo=bar bin/main.dart`.

But fails silently when run as a Flutter application, e.g. `

[2020-06-03 19:09] mymikemiller commented on #42176
Oh, I think I misinterpreted how 'path' is used in the constructor. The solution seems to be to use:

`Uri.http('google.com', '/test')`

or:

`Uri.parse('http://www.google.com/test')`

which makes 'path' equal to '/test'.

Hopefully this issue saves someone else with a similar question some time. Closing the issue. Thank's for making such a great language, carry on!

[2020-06-03 19:09] #42176 closed

[2020-06-03 20:33] rmacnak-google commented on #42096
The commit from this crash doesn't have the changes from 764ebab404678, which I believe fix this issue.

[2020-06-03 20:33] #42096 closed

[2020-06-03 20:35] srawlins commented on #40556
Thanks for opening this issue! Please follow https://github.com/dart-lang/sdk/issues/36055.

[2020-06-03 20:35] srawlins commented on #40556
Duplicate of https://github.com/dart-lang/sdk/issues/36055

[2020-06-03 20:35] #40556 closed

[2020-06-03 20:57] matanlurey commented on #35311
Just checking in, do we expect to potentially try to tackle/investigate this in the next few weeks?

[2020-06-03 20:58] rakudrama commented on #41355
How can we enable the experiment on travis?
AFAIK the travis task delegates to `pub run test`.
I want to be sure package:fixnum is tested both opt-in and opt-out.

This is an example on travis where I tried adding `--enable-experiment=non-nullable` to a travis test.
https://github.com/dart-lang/fixnum/pull/53/commits/3d2eb5b021a2a3b6860589cb9d4abc16c5f3769d
It fails like this:
https://travis-ci.or

[2020-06-03 21:19] zanderso commented on #42161
If all vm service clients will be mediated by DDS in the future this seems fine, but if there still might be direct clients of the vm service, then I think it could be valuable to ensure somehow that internal VM allocations are bounded while constructing the response to any `getVMTimeline` request.

[2020-06-03 21:37] wesleym commented on #41770
This seems to be a duplicate of #31606.

[2020-06-03 21:58] alexmarkov commented on #40741
This looks duplicate to https://github.com/dart-lang/sdk/issues/42065 which was fixed recently.

[2020-06-03 21:58] #40741 closed

[2020-06-03 21:59] kevmoo commented on #41355
Fixed in https://github.com/dart-lang/sdk/commit/64b761b31b82188d35f9c84b1ee4af48258cc384

[2020-06-03 21:59] #41355 closed

[2020-06-03 22:07] MichaelRFairhurst commented on #40381
This is ready for another review. The regions link issue is fixed.

[2020-06-03 22:11] #42103 closed

[2020-06-03 22:14] mnordine commented on #40381
Seems to work well for me now.

[2020-06-03 23:00] srawlins commented on #41765
Done.

[2020-06-03 23:00] #41765 closed

[2020-06-03 23:24] MichaelRFairhurst commented on #40381
Awesome! I'm going to close this. We can address further windows issues as they come up.

[2020-06-03 23:24] #40381 closed

[2020-06-03 23:58] sigmundch commented on #35311
Not quite yet - we still have a few more NNBD tasks left (including our test migration work).

[2020-06-04 00:58] munificent opened #42178 "Crash analyzing null-aware operator on class with NNBD"
Given:

[code]

If I run:

[code]

I get:

[code]

(The irony of this being a null reference exception is not lost on me. :) )

[2020-06-04 01:18] crelier commented on #42143
Running the test `language/nnbd/normalization/generic_function_type_object_normalization_test.dart` in strong mode, the VM encounters two further issues after the one reported above.

The second issue occurs at line 191:
`    checkTypeNotEquals2(o.i1<Never>(), o.i2<Never>());
`
where the two types are actually equal. There is a comment near the declaration of i1 and i2 about a CFE issue and what l

[2020-06-04 01:45] scriptsman commented on #34452
@mit-mit Thank you.But it seems that the examples only show how to call C functions in dart.And I want to know if invoking a dart method from the C/C++ code is supported now , just like the end of [this page](https://gist.github.com/mraleph/2582b57737711da40262fad71215d62e)?

[2020-06-04 03:12] mehmetf commented on #41934
@mraleph We have released the comparison script to production. While this is not a very high impact, I would like to fix it asap.

Is it just a matter of stripping `@[0-9]*` from the symbol name? If yes, I can go ahead and fix this in the Java implementation.

[2020-06-04 05:49] sgrekhov opened #42179 "Errors instead of static warnings in analyzer for Setter declarations issues"
According to the Dart Language [Specification](https://spec.dart.dev/DartLangSpecDraft.pdf) (Version 2.8.0-dev, April 22, 2020) 10.3 Setters

In fact there are errors in analyzer in both of these cases and no issues in VM

[code]
[code]
According to the specification there must be a static warnings in both of these cases not an errors
`dartanalyzer version 2.9.0-13.0.dev `

[2020-06-04 06:00] johnniwinther opened #42180 "Ensure no extension methods found through Never"
`Never` is considered to implement all members and therefore no extension may apply to an expression of type `Never`

[2020-06-04 06:02] johnniwinther opened #42181 "Ensure legacy typedef is treated as non-nullable in opt-in"
Ensure legacy typedef is treated as non-nullable in opt-in libraries.

See https://github.com/dart-lang/language/pull/1003/files

[2020-06-04 07:08] iarkh opened #42182 "Attempt to call external function which is not connected to the body does not cause error."
Dart VM version: 2.9.0-13.0.dev (dev) (Fri May 29 15:59:05 2020 +0200) on "windows_x64"

Dart Language Specification reads:

Seems like the following source code example should throw error according to the rule above, however it does not happen:
[code]
Dart just goes through and prints `null` here.

[2020-06-04 07:39] dcharkes commented on #34452
@scriptsman callbacks are supported as well:

* synchronous callbacks: see [samples](https://github.com/dart-lang/sdk/blob/master/samples/ffi/sample_ffi_functions_callbacks.dart)
* asynchronous callbacks: see [samples](https://github.com/dart-lang/sdk/tree/master/samples/ffi/async)

And [here](https://github.com/dart-lang/sdk/blob/master/runtime/bin/ffi_test/ffi_test_functions.cc) and [here](https

[2020-06-04 07:57] sigurdm opened #42183 "Isolate.spawnUri seems to be slower than starting a new VM in another process (on macos)"
This came up here https://github.com/dart-lang/pub/issues/2492
@mkustermann @a-siva

I made a small reproduction:
[code]

[code]

[code]
I would have expected using an isolate would save some time by sharing some amount of resources, or at least be on par with starting a new process.

Using an isolate is slightly faster if I don't snapshot the spawning script.

[code]

This was measured on macos.

[2020-06-04 08:00] dcharkes commented on #42082
Our package manager, Pub, does not support two versions of the same package in a Dart program: https://github.com/dart-lang/pub/issues/2272. (You can read more about the philosophy behind it in the issue.) This means that if you not only need another dll, but also another version of the Dart bindings for the dll, you're out of luck.

If you use the same bindings for both versions of the dll, your

[2020-06-04 08:25] lrhn commented on #42182
It should really fail at compile-time.

I guess the compiler phases don't agree on which one needs to report the error. After all, a later phase might add the implementation (like the VM does for dart:ffi).
Still, if the back-end specific compiler sees an `external` that it doesn't know what to do about, it should fail.

[2020-06-04 08:29] lrhn commented on #42177
The "only const" restriction was never intended, but it was implemented that way by dart2js.
It does avoid having to carry the entire environment along in the compiled code, which is a reasonable goal for ahead-of-time compilation.

We should either accept the const-only behavior, and then enforce it on the VM too, or make dart2js support run-time lookups (it can still warn that using the construc

[2020-06-04 08:37] lrhn commented on #42173
I don't see any import of `time.dart` in the bloc file you displayed above. Are you sure it's there?

[2020-06-04 08:47] #41976 closed

[2020-06-04 09:10] DanTup commented on #42152
@iamcco what sort of times are you seeing with/without that option?

Depending on the response to https://github.com/microsoft/language-server-protocol/issues/954 we might be able to reduce the payload for some cases (like this one where we could filter by the prefix).

When the payload is large, what's the impact in your editor? Is it just slow to show the completion list, or does it hang the edi

[2020-06-04 09:17] topilski commented on #41451
Morning, what the status of this issue?

[2020-06-04 09:19] DanTup commented on #41942
@bkonyi yep, fix looks good now - thanks! It may be worth a test to ensure this doesn't regress (since not passing `params` is by-spec as I understand it).

For VS Code, I'll leave the `{}` in for now, to avoid confusion if a build without that fix ended up in anyones Flutter channels.

[2020-06-04 10:09] iamcco commented on #42152
- With option `false` the first time it take 1771 ms to return complete items, normal is 4xxx-5xx ms.
- With option `true` the first time take 3030 ms to return compete items, normal is 4xxx-6xxx ms, few times are 17xx ms.

With all completeItems (option true) it slow down to show the autocomplete menu. Also a little slow down the client filter when forward typing.

My solution now is use the midd

[2020-06-04 10:22] DanTup commented on #42152
This is why I was hoping for clarification on https://github.com/microsoft/language-server-protocol/issues/954 - we might be able to do that in the server.

I just did some testing in VS Code, and I found:

- If you type a single character to trigger completion, then hit `backspace`, the completion widget closes
- If you type several characters to trigger completion, then backspace - the completio

[2020-06-04 10:26] xiaoyu-nus commented on #42173
I think import `package:flutter/material.dart` includes `time.dart` doesn't it.

[2020-06-04 10:41] iamcco commented on #42152
Thanks for the testing.

[2020-06-04 10:55] mkustermann opened #42184 "[CP] Please merge 10df757a491e3856dfc956d72a25f5863451a777 into beta/stable channe"
**commit(s) to merge**: 10df757a491e3856dfc956d72a25f5863451a777

**merge instructions**: merges cleanly

**reason:** This fixes incorrect program behavior for `dart:ffi` users when 64-bit values are passed via FFI to C code on 32-bit ARM when building the app on Windows.

**impact**: We have seen flutter users hitting this, see https://github.com/flutter/flutter/issues/54948 and https://github.co

[2020-06-04 10:55] mkustermann commented on #42184
/cc @dcharkes @mraleph

[2020-06-04 11:04] mkustermann commented on #37638
Friendly ping.

If we could run on windows using android emulators, the bug in https://github.com/flutter/flutter/issues/54948#issuecomment-638551460  would not have happened.

Windows hardware with Android phones attached would also have avoided this issue.

/cc @mraleph @dcharkes

[2020-06-04 11:07] mkustermann opened #42185 "Make generated code use `OS::ActivationFrameAlignment()` of target arch + target os"
Currently our generated code uses sometimes 16 byte alignment and sometimes 8 byte alignment when doing FFI calls - depending on which host OS the app was compiled.

Instead the generated code should use `OS::ActivationFrameAlignment()` based on target OS (and target arch).

See https://github.com/flutter/flutter/issues/54948#issuecomment-638551460 for more information

[2020-06-04 11:16] DanTup commented on #41978
I've been investigating an issue @mit-mit has that I think may be related to this - I think he has a reliable repro. If he runs a script without `--enable-experiment=non-nullable` from VS Code that requires it, it just gets stuck. From the log file, it seems like there is no output from stdout or stderr, but nor does the process quit.

I'm unable to repro myself, but I noticed that when I run this

[2020-06-04 11:51] sgehrman commented on #27414
I'm on the latest flutter beta and latest dart.

Flutter (Channel beta, 1.18.0-11.1.pre, on Linux, locale en_US.UTF-8)
    • Flutter version 1.18.0-11.1.pre at /home/steve/google/flutter
    • Framework revision 2738a1148b (3 weeks ago), 2020-05-13 15:24:36 -0700
    • Engine revision ef9215ceb2
    • Dart version 2.9.0 (build 2.9.0-8.2.beta)

I'm seeing a massive memory leak using websockets.  I'

[2020-06-04 12:45] jensjoha commented on #41983
This was fixed with 4dcf24ac7fe2dfd216b76a6a5fef96a71be93f76.

[2020-06-04 12:45] #41983 closed

[2020-06-04 12:54] lrhn commented on #42173
It does appear to do so: https://api.flutter.dev/flutter/material/TimeOfDay-class.html
(I'm clearly not a Flutter expert).

As such, the type should be available in the part files included in the library importing `material.dart`. So, it is perhaps a bug in the front-end.

[2020-06-04 13:02] #42138 closed

[2020-06-04 13:13] johnniwinther commented on #42173
@jensjoha Can you repro this?

[2020-06-04 13:28] mraleph commented on #41934
I have a work in process CL here now: https://dart-review.googlesource.com/c/sdk/+/150101. It is in "dirty state" - needs few refactorings and cleanups, but it reflects where the comparison script is going.

If you want a simple solution you need to do equivalent of `name.replaceAll(RegExp(r'\s*@\d+|\(H[a-f\d]+\) '))` - that should remove the unstable portion of the name.

Note: this would also in

[2020-06-04 13:33] jensjoha commented on #42173
I unfortunately cannot.

[2020-06-04 14:14] bwilkerson commented on #42152
@DanTup FYI: We have fuzzy matching filtering support in server for another client. I suspect that the matching it uses is close enough to VS Code's matching to allow us to re-use it.

[2020-06-04 14:20] DanTup commented on #41978
Passing `--disable-dart-dev` in the launch config solved the issue for @mit-mit, so it does seem like it may be the same issue.

I can't repro it here (it may be timing-sensitive, since the VM is terminating very quickly due to failing to compile without the experiment flag), but if you want to try (Michael seems to be able to reproduce reliably):

- clone https://github.com/dart-lang/samples
- op

[2020-06-04 14:21] #42158 closed

[2020-06-04 14:24] tomyeh commented on #27414
Did you try Dart 2.8 at server side? Based on our experiences, the memory usage is much better than older versions. Our server can run days under heavy load without significant memory surge. However, we don't use Dart 2.9 in production system yet, so no sure if any difference.

[2020-06-04 14:26] DanTup commented on #42152
Great! In that case if I can get some confirmation from Code or LSP that the behaviour described above is deliberate and can be made explicit in the spec, we should be able to make some significant gains here (and when using LSP for VS Code, could also significantly improve [LiveShare](https://github.com/MicrosoftDocs/live-share/issues/3509)) without any loss in usability :-)

[2020-06-04 14:48] eernstg opened #58179 "Flag concrete classes with unimplemented private members"
Cf. https://github.com/dart-lang/language/issues/1006#issuecomment-638877029.

The static checks on a Dart program do not call for errors in a special case where a member is unimplemented in a concrete class, namely the case where no implementation can be written because the declaration needs to be in one library, but its name is private to another library:

[code]

This soundness issue is ancient

[2020-06-04 14:49] xuchaoqian commented on #34452
@dcharkes  Looking forward to supporting instance(not class) method.

[2020-06-04 15:05] zanderso commented on #27414
@sgehrman can you share a small code example for the situation you describe that causes that much memory to be retained. (for example like the one in https://github.com/dart-lang/sdk/issues/27414#issuecomment-398703983)

@zichangg @a-siva

[2020-06-04 17:24] Markzipan opened #42186 "Opted-out DDC downcasts sometimes don't emit errors."
The following snippet passes in DDC but emits a runtime error in Dart2JS (O2 or below):

[code]

[2020-06-04 17:26] mkustermann opened #42187 "Flaky crashes hitting Breakpoint instruction for GC test"
During my gardening shift I noticed we have frequent flaky crashes in the `vm/dart_2/splay_test/*` tests.

From [this log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8878473162826059552/+/steps/test_results/0/logs/ignored_flaky_test_failure_logs/0) (yesterday)

[code]

Could be that the breakpoint instruction is in the write barrier verification code (not sure). I w

[2020-06-04 17:28] a-siva commented on #41978
Irrespective of the signal issue, I think we should fix ExitCodeHandlerEntry to not have room to get into a tight loop when any error happens.

[2020-06-04 17:36] mkustermann commented on #42182
@lrhn If it should fail at compile-time, shouldn't this issue be marked as CFE?

/cc @johnniwinther

[2020-06-04 17:42] a-siva commented on #42183
Thanks for the simple reproduction case, will take a look.

[2020-06-04 19:07] johnniwinther commented on #42182
Only the backends know for which external functions an implementation exist. Therefore the CFE cannot report an error unless we can query the backend as to whether a particular external function is allowed.

Patched functions are declared as external and the implementation is provided in terms of Dart code in the patch files. These are delivered as non-external functions to the backends and the CF

[2020-06-04 19:45] hanj7221 commented on #42174
Resolved

[2020-06-04 19:45] #42174 closed

[2020-06-04 20:08] mr-incredible opened #42188 "Intermittent _ChunkedJsonParser.fail"
I hate errors like this - intermittent!!!

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.17.1, on Mac OS X 10.15.4 19E287, locale en-US)

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 11.5)
[✓] Android Studio (version 4.0)
[✓] Connected device (2 available)

• No issues fou

[2020-06-04 20:09] OnAirNetlines opened #42189 "dart2js crashes when using IndexedDB & -O0"
Hello Dartisans!
I have just found a compiler crash in Dart whenever I'm using dart2js with -O0 flag. If I use -O1 or -O2 flag however, the same program compiles.

**OS:** Linux x64
**Installation method:** ZIP file

**Issue is not present in dart version 2.7.2**

_Issue is present in dart version 2.8.1, 2.8.4 & 2.9.0-13.0.dev_

### Code that triggers the issue (bug.dart)
[code]

### Stack trace (

[2020-06-04 20:26] ferhatb commented on #39244
Hi @terrylucas , can you please assign milestone, thx.

[2020-06-04 21:21] bwilkerson opened #42190 "Analyzer fails to analyze files when file path contains spaces"
The analyzer fails to analyze files when the file path contains spaces or non-ascii characters. There are two tests demonstrating this behavior included below. Both tests fail because `resolveFile` returns `null`. Changing only the file path will cause either test to pass.

This prevents us from analyzing some of the packages in the corpus derived from itsallwidgets.

[code]

[2020-06-04 21:21] bwilkerson commented on #42190
@scheglov @pq

[2020-06-04 21:31] rakudrama commented on #42189
I will look at the compiler crash now.

@OnAirNetlines Once that is fixed, how do you reproduce the original error?
If I compile with `-O1`, I don't get the TypeError you describe, but:
"version and onUpgradeNeeded must be specified together"

[2020-06-04 21:37] gxcreator commented on #42040
Here is dump prints from websocket and captured traffic with Continuations

[code]
[sigame_websockets_dartsdk-dump00.pcapng.gz](https://github.com/dart-lang/sdk/files/4732840/sigame_websockets_dartsdk-dump00.pcapng.gz)

[2020-06-04 21:40] mehmetf commented on #41934
Thanks for this. It seems like if I generate a class level report, I don't need to deal with any function name massaging, right? I will do that for now and will add function level report later if needed. TBH, we can create the automated report at class level and instruct users to run this tool if they want more detailed comparison.

[2020-06-04 21:52] stereotype441 commented on #42139
I've narrowed this down to a short repro:
[code]
I believe what's happening is the FixBuilder needs to inject some information into `LibraryElementImpl.isNonNullableByDefault` so that it will know that the library is question is being analyzed as though it's already been migrated.  This will make `Member._toLegacyType` essentially a no-op, so it won't hit the code path that leads to the exception.

[2020-06-04 22:08] devoncarew commented on #42188
@mr-incredible, can you provide more details about what you were doing and what you expected? It looks from the above that some content from a web request may have had encoding issues.

[2020-06-04 22:10] devoncarew commented on #42177
I'm going to triage this into area-web (but this generally may cross over a few areas).

[2020-06-04 22:13] munificent commented on #42178
cc @stereotype441 and @scheglov.

[2020-06-04 22:47] mr-incredible commented on #42188
Sure thing. I make hundreds of successful calls to a node.js web service via a Flutter application. Then out of the blue, I get one of these. The format of all the JSON is correct, and it doesn’t seem to discriminate on the content. In this example, a previous run had succeeded using this same JSON. This same call works perfectly well in Postman as well.

It is behaving as if something is wrong wi

[2020-06-04 23:19] sgehrman commented on #27414
@tomyeh The server is running in my flutter mobile app.  I have a feature where my app hosts a web page locally and uses can view and drag and drop files from their browser on the desktop.  The files are send with websockets sendBlob.  So, I don't know how easy it is to downgrade dart.  I read Dart version is tied to the Flutter SDK?

@zanderso I'm using all these packages like shelf, shelf_web_so

[2020-06-04 23:25] scheglov commented on #42178
https://dart-review.googlesource.com/c/sdk/+/150184

[2020-06-05 00:13] thumbert commented on #42132
Thanks for the answers.  I got it working using @eernstg's suggestion:
[code]
Not the cleanest, but it gets the job done.

Thanks,
Tony

[2020-06-05 00:13] #42132 closed

[2020-06-05 00:21] franklinyow commented on #42184
Copy from CL:
[vm/ffi] Fix issue due to unspecified argument evaluation order in C++

We already have tests that exercise this, namely:

  - ffi_2/regress_39044_test
  - ffi_2/vmspecific_send_port_id_test

Though the bug only appears if C++ compiler decides to evaluate arguments
in a different order. This happens to be only the case on Windows.

We don't have Windows hardware with Android phones o

[2020-06-05 00:49] rayk opened #42191 "Analyser not picking up changes after BuiltValue generation in Intellij (Not Duplicate)"
This maybe a regression issue.

There was a [previous defect](https://github.com/dart-lang/sdk/issues/34344) with identical behaviour, which appeared to resolve itself.

_The core of the issue is as follows:_

The IDE (intelliJ) does not recognise _(red squeakily line)_ newly created BuiltValue abstract classes or existing BuiltValue abstract classes that have been edited, until "Invalidate Cache

[2020-06-05 04:15] sgrekhov opened #42192 "[NNBD] Dartanalyzer crash"
Analyzer with `--enable-experiment=non-nullable` crashes on the following code
[code]

[code]
`dartanalyzer version 2.9.0-13.0.dev `

[2020-06-05 04:49] scheglov opened #42193 "co19/LanguageFeatures/nnbd/flow-analysis/reachability_* fail"
For example `co19/LanguageFeatures/nnbd/flow-analysis/reachability_A05_t03`.

[code]

The expectation seems reasonable to me.
`0` is never equal to `null`, so the assignment is never reachable.

We currently don't implement `operator==` fully as specified, we only have promotion of variables to non-nullable. Specifically, we don't have reachability updated.

But when I try to evaluate what the spe

[2020-06-05 05:10] edyu opened #42194 "NoMethodFoundError only during 'webdev serve --release' but not in 'webdev serve' for JS Interop"
I'll post the stacktrace later.
The lines in question are:
[code]
and the error is
[code]
* Dart SDK Version (`dart --version`)
2.8.4

* Whether you are using Windows, MacOSX, or Linux (if applicable)
Windows WSL2

* Whether you are using Chrome, Safari, Firefox, Edge (if applicable)
Everything except Safari

[2020-06-05 05:11] edyu commented on #42194
<pre>
exceptions.dart:14 EXCEPTION: NoSuchMethodError: method not found: 'get$subtle' (J.getInterceptor$x(...).get$subtle is not a function)
STACKTRACE:
TypeError: J.getInterceptor$x(...).get$subtle is not a function
    at Object.get$subtle$x (http://localhost:9000/main.dart.js:3689:43)
    at ViewAppComponent0.build$0 (http://localhost:9000/main.dart.js:33506:52)
    at ViewAppComponent0.createA

[2020-06-05 05:23] zichangg commented on #42040
@gxcreator Thanks for the dump.
It is unclear where the problem is with these prints. Can you point to me which frames has been sallowed? It will be very helpful if you can also dump the packet, cuz this bug is relative to how we handle the "FIN" bit. The high level info is not obvious.

[2020-06-05 07:09] sgrekhov opened #42195 "[NNBD] No static warning for overriding parameter default value"
According to the Dart [specification](https://spec.dart.dev/DartLangSpecDraft.pdf) (Version 2.8.0-dev, April 22, 2020) 11.2.2 Correct Member Overrides

It's true for non-NNBD, but not so when analyzer is run with `--enable-experiment=non-nullable` option. In this case there is no warning at all
[code]
Analyzer with `--enable-experiment=non-nullable` finds no issues in the code above
Please see als

[2020-06-05 07:16] iarkh opened #42196 "NNBD, i-2-b: Analyzer throws unexpected error for contravariant function type parameter"
Dart VM version: 2.9.0-13.0.dev (dev) (Fri May 29 15:59:05 2020 +0200) on "windows_x64"

The following source code example prints "OK" with dart and throws a compile error with analyzer:
[code]
Sample output is:

Please note that this problem is not reproducible in legacy code, i.e. the following example passes both with analyzer and dart when runs without _--enable-experiment=non-nullable_ flag:

[2020-06-05 08:27] #42129 closed

[2020-06-05 09:13] iarkh opened #42197 "Analyzer produces incorrect result for "typedef G<X extends A<X>, Y extends X> = X Function(Y)""
Dart VM version: 2.9.0-13.0.dev (dev) (Fri May 29 15:59:05 2020 +0200) on "windows_x64"

Situation described here is exactly the same as described in the Issue #35068, but it seems like its fix has not been implemented as a part of #34663. Please refer to these issue evaluation for more details.

Here is a source code example:
[code]
Dart passes with this and analyzer throws a error. Sample output

[2020-06-05 09:18] sgrekhov opened #42198 "No static warning for not void user-defined []= operator"
According to the Dart specification (10.1.1 Operators)

In fact, there is an error in analyzer and no issues in VM
[code]
The program above produces
` error - The return type of the operator []= must be 'void'`
in analyzer and no errors or warnings in VM

`Dart VM version: 2.9.0-13.0.dev (dev) (Fri May 29 15:59:05 2020 +0200) on "windows_x64"`

[2020-06-05 09:19] Moredistant commented on #36551
Is there any update?

[2020-06-05 09:29] sgrekhov opened #42199 "[NNBD] No error in VM for wrong override of == operator"
[code]
The code above produces an error in analyzer (with `--enable-experiment=non-nullable`) and no issues in VM
`error - 'Object.==' ('bool Function(Object)') isn't a valid override of 'A.==' ('bool Function(dynamic)').`

`Dart VM version: 2.9.0-13.0.dev (dev) (Fri May 29 15:59:05 2020 +0200) on "windows_x64"`

[2020-06-05 10:58] iarkh commented on #42197
Another covariant cases (like` typedef G<X extends A<X>, Y extends X> = void Function<Z extends X>(X)` fail with the similar way. Should I file separate issues regarding this?

[2020-06-05 11:25] mraleph commented on #42188
Can you provide the exact code you are using the make the request and decode the result?

[2020-06-05 12:31] a14n commented on #42171
Looks unrelated to Flutter. As soon I try `dart migrate` on a package with at least 1 dart file I get the error above. It only work in empty dir (which is quite easy to migrate :D)

[2020-06-05 12:32] sma commented on #41449
This bug stopps us from release a web app. Is there any workaround other then removing `Provider` from the whole app?

[2020-06-05 14:42] devoncarew commented on #42191
How have you configured source gen? I believe there are two options - one to generate in your project source, and one to generate in the .dart_tool directory. IOW, where are the files being generated?

[2020-06-05 14:43] devoncarew commented on #42194
To clarify, JS interop is working for you for this case w/ DDC, but not for dart2js?

[2020-06-05 15:45] devoncarew commented on #42198
@sgrekhov - it sounds like the analyzer has correct behavior here, and we'll need to update the VM / CFE to have the same behavior?

[2020-06-05 15:56] sigmundch commented on #42144
Thanks for your request. While we figure out the right thing to do here, you can workaround this limitation by using JS-interop in a special way. You can't use js-interop declaring types for Crypto and SubtleCrypto because they will collide with what dart:html definitions, but you can access them using js_util methods. For instance:

[code]

Let us know if this unblocks you.

[2020-06-05 16:00] stereotype441 commented on #42193
Leaf and I talked about this a long time ago.  See https://github.com/dart-lang/language/pull/763#discussion_r366642882

My two cents: I think we're getting close enough to the NNBD deadline that for now we should adjust the spec to match what we currently have implemented; if time allows, we can always follow up with an improvement later.

[2020-06-05 16:07] sigmundch opened #42200 "Allow users to access hidden and incomplete HTML APIs"
Several APIs in dart:html are incomplete and some have been hidden in our code generator as private classes. Users have run into scenarios where they want to use these classes but they find that they are incomplete, and the standard way of using Js-interop doesn't work in dart2js.

See two examples:
* `_USBDevice`: https://github.com/dart-lang/sdk/issues/39147
* `_SubtleCrypto`: https://github.com

[2020-06-05 16:08] sigmundch commented on #42194
Thanks @edyu , this relates to the issue you mentioned in https://github.com/dart-lang/sdk/issues/42144

Unfortunately there are small differences in how Dart2js and DDC behave with js-interop. One important difference is that if you have a type defined in dart:html, dart2js is not able to shadow that implementation with a different JS-interop implementation.

I provided an example workaround in #

[2020-06-05 16:08] #42194 closed

[2020-06-05 16:19] LYYLeo commented on #37695
We are facing the same problem, it can always reproduce with HttpClient(dart:io packet) and our server(IIS with .net core service), and the endpoint is work fine on Browser, Postman, curl, Android, iOS native project, but just dart sdk client can't receive the response normally.

We can provide the endpoint for test, please help us to resolve this issue, thanks a lot.

### Target Endpoint

https:/

[2020-06-05 16:48] natebosch opened #42201 "Incorrect analyzer error - extension method loses generic"
This surfaces with `implicit-casts: false`, but the underlying loss of a generic type may happen regardless.

[code]

[code]

[code]

This only happens on recent dev SDKs.

[2020-06-05 16:52] fishythefish commented on #41449
Taking a deeper look at this now since this is causing NNBD tests to fail.

[2020-06-05 16:58] edyu commented on #42144
@sigmundch I assume I can still declare other types such as the types needed in order to make these calls? For example, `HmacKeyGenParams` class is needed in order to call `subtle.generateKey`.

[2020-06-05 17:10] edyu commented on #42144
Let me give an example rationale. I currently need to do 2 cryptographic functions on my front-end (angulardart): 1. generate a symmetric key for keyed hashing and rsa asymmetric keys. 2. calculate keyed hashes using the symmetric key generated earlier. I originally used the library `pointycastle` which would take about 3 minutes to generate the rsa keypair. I then came upon the `cryptography` lib

[2020-06-05 17:15] bkonyi opened #42202 "AOT-O3-DebugX64: expected: raw() != null()"
**[Log output](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8878363538379539408/+/steps/make_a_fuzz_shard_13/0/logs/task_stdout_stderr:_make_a_fuzz_shard_13/0):**
[code]

**Reproduction:**
[code]

cc @alexmarkov

[2020-06-05 17:20] devoncarew commented on #42141
re-fixed in https://dart-review.googlesource.com/c/sdk/+/149889

[2020-06-05 17:20] #42141 closed

[2020-06-05 17:24] alexmarkov commented on #42199
This looks like a missing compile-time error which is not issued by CFE.
/cc @johnniwinther

[2020-06-05 17:45] sgrekhov commented on #42198
@devoncarew specifications states 'static warning' but analyzer produces 'compile error'. @eernstg  please confirm if it is correct

[2020-06-05 18:54] MichaelRFairhurst commented on #42171
@a14n what SDK version are you using? What command?

We can migrate non-flutter packages well.

I haven't updated the ticket, but there are two issues for flutter. One is that sky_engine was not unforked. The other is that the package allow list is not working for sky_engine.

Aside from those issues, we currently know of nothing preventing migration of non-flutter packages, and that would be a P0

[2020-06-05 18:56] alexmarkov opened #42203 "CFE: No compile-time error if default value is missing for non-nullable optional parameter of a constructor"
The following test is successfully compiled and executed even with `--enable-experiment=non-nullable --null-safety`:

[code]

CFE should issue a compile-time error `Error: Optional parameter 'x' should have a default value because its type 'int' doesn't allow null.`

/cc @johnniwinther @stefantsov

[2020-06-05 18:58] eernstg commented on #42196
Looks like the analyzer with `--enable-experiment=non-nullable` does not detect that `A<G<A<Never, Never>>, dynamic>` is a correctly super-bounded type, because (1) it violates the bound, but `A<G<A<Object?, Object?>>, Never>` is regular-bounded.

[code]

[2020-06-05 19:04] scheglov commented on #42171
BTW, https://dart-review.googlesource.com/c/sdk/+/150169 added support to analyzer for `allowed_experiments.json` in `sky_engine`.

[2020-06-05 19:15] chingjun commented on #42020
Just a note that the `build-id` should be placed in the `NOTE` segment. Crashpad (the successor of breakpad) is unable to find the `build-id` if it's placed in the wrong segment since it uses the program headers to find the notes.

[2020-06-05 19:26] a14n commented on #42171
@MichaelRFairhurst I also tested on master branch of the dartSDK on `flutter_goldens_client` that has only _simple_ dependencies:

[code]

[2020-06-05 19:52] Lisenish commented on #38814
Hi @jakemac53!
I've started to get a similar error recently and I'm not the only one in my company who suffers from this.
Maybe it will help to identify the issue? Please ask any additional info if you need.

`[WARNING]build_web_compilers:entrypoint on web/assets/main.dart: Unable to read wrike_workload|lib/src/workload_chart/component/app_module.ddc.js, check your console or the `.dart_tool/build

[2020-06-05 20:04] eyelash commented on #23907
This issue seems to be a duplicate of #19926.

[2020-06-05 20:22] munificent opened #42204 "Incorrect analyzer error under NNBD with covariant setter override"
I'm migrating `language_2/override` and ran into this analyzer error:

[code]

Analyzer gives me:

[code]

It runs fine in the VM. If I comment out class C, the error goes away, even though the error is in class B. My guess is that analyzer is inadvertently losing the `covariant` qualifier because of class C?

cc @stereotype441 @scheglov

[2020-06-05 20:54] mraleph commented on #42188
I think the problem is in this part:

[code]

The code seems to assume that response content would arrive as a single event. This is however is not true. Response can arrive in chunks. You can accumulate all the chunks via `join` or alternatively if you only expect JSON responses transform the stream by JSON decoder:

[code]

[2020-06-05 20:54] #42188 closed

[2020-06-05 21:41] MichaelRFairhurst commented on #42171
Do you have any local changes to flutter_goldens_client etc?

I could not reproduce. I checked out that exact revision of the SDK. My flutter repo is at `ab68721a5da013dff6a08854bdba5e1f3206f9cf`.

[code]

[2020-06-05 22:32] edyu commented on #42144
@sigmundch how do I cast the return type of callMethod to what I need?
for example,
[code]
doesn't work as I get the following error:
<pre>
Uncaught (in promise) TypeError: Instance of 'CryptoKey': type 'Interceptor' is not a subtype of type 'FutureOr<CryptoKey0>'
    at Object.wrapException (js_helper.dart:1343)
    at Rti._generalAsCheckImplementation [as _as] (rti.dart:915)
    at promiseToFutu

[2020-06-05 22:42] leafpetersen opened #42205 "Analyzer: Failures on [Language] Various NNBD Tests."
cc @scheglov

There are new test failures on [[Language] Various NNBD Tests.](https://dart-review.googlesource.com/c/sdk/+/150160).

The tests
[code]
are failing on configurations
[code]

[2020-06-05 22:43] leafpetersen opened #42206 "CFE: Failures on [Language] Various NNBD Tests."
cc @johnniwinther

There are new test failures on [[Language] Various NNBD Tests.](https://dart-review.googlesource.com/c/sdk/+/150160).

The tests
[code]
are failing on configurations
[code]

[2020-06-05 23:30] nshahan commented on #42143
cc @johnniwinther

I'm seeing the same errors from my work in progress change in DDC.

[2020-06-06 00:50] leafpetersen opened #42207 "Static error updater tool crashes if expectations are out of order"
The static error expectations in static error tests are required to be ordered with the analyzer expectation before the cfe.  Using the static error updater tool to automatically fix this if they are inserted incorrectly is currently not possible however, since the tool errors out if it sees existing out of order expectations.

[code]

[2020-06-06 00:59] Drkstr commented on #42184
Is there some way I can use this before it is merged?

[2020-06-06 01:10] rayk commented on #42191
Hey @devoncarew I am generating into my project source, so my `*.g.dart` is along side that code file that give rise to it.

---

**NOTE:**
_Initially I forgot to mention that restarting the Dart Analysis Server from with the IDE, the_ `*.g.dart` _files become recognised, (hence no more red squeakily line)._

---

[2020-06-06 07:35] yanqingdi commented on #42056
&nbsp;&nbsp;Hello?&nbsp;If I want to install DART on the MIPS CPU.Is there an alternative solution and is it possible to modify the code if necessary

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Siva"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月27日(星期三) 凌晨1:46
收件人:&nbsp;"dart-lang/sdk"<sdk@noreply.github.com&gt;;
抄送:&nbsp;"颜庆頔"<2597892733@qq.com&gt;;"Author"<author@noreply.

[2020-06-06 09:36] MHShetty opened #42208 "Extension methods have different hashCode for the same instance"
[code]

Is there some way to ensure that the hashCode in both the cases remain same or can this be considered as a feature request?

[2020-06-06 12:20] eernstg commented on #42208
This is working as intended, cf. [this section](https://github.com/dart-lang/language/blob/master/accepted/2.6/static-extension-members/feature-specification.md#tearoffs). The point is that a tear-off of an extension method may depend on static typing properties of the call site (as well as the receiver and the extension), so it cannot be justified in general to make tear-offs of extension methods

[2020-06-06 12:20] #42208 closed

[2020-06-06 14:49] BadReese commented on #41451
Evening, what the status of this issue?

[2020-06-06 16:02] lukapercic opened #42210 "C++ interop"
Hi, I was wondering if there is any plan to make wrapping our own C++ libraries into flutter easy.
dart:ffi is a great start, but it doesn't support C++ api, just C.

To make it usable, we have to wrap all C++ calls into C, and then call them via dart:ffi, which takes a lot of time and its hard to maintain; extend.

Also, FFI doesn't provide any automation in making glue code between Flutter and u

[2020-06-06 17:12] a14n commented on #42171
I really don't know what is going on. I don't have any local changes in `flutter_goldens_client`.

Didn't you see the error with the following commands:

[code]

I get:

[code]

In a empty dir the migration starts correctly:

[code]

outputs:

[code]

Once the link opened I tried to add an empty `lib/a.dart` file and click on _Rerun from sources_ . I get the following error:

[code]

[2020-06-06 18:33] srawlins commented on #23353
@scheglov fixed the "matches the enum name" part in https://github.com/dart-lang/sdk/commit/3d19be30b5c6783c6d5b6520a0aac750f33b3819.

[2020-06-06 18:41] yjbanov opened #42211 "Null safety migration tool not replacing /*required*/ correctly"
The tool adds the `required` keyword, but does not remove the temporary annotation.

![required-replacement](https://user-images.githubusercontent.com/211513/83951975-652f3580-a7ea-11ea-9f02-33bdddea2139.png)

This happens when migrating https://github.com/flutter/engine/blob/c0365be2ab70836f2d53c8d6ab89fa9774be3ac5/lib/web_ui/lib/src/ui/semantics.dart#L669

/cc @stereotype441 @MichaelRFairhurst

[2020-06-06 18:43] zichangg commented on #41451
It's still under review. I've received some suggestions on the fix from @sortie.

[2020-06-06 18:46] yjbanov opened #42212 "Null safety migration: NATIVE_FUNCTION_BODY_IN_NON_SDK_CODE trying to migrate mobile Flutter engine"
The null safety migration tool crashes with `NATIVE_FUNCTION_BODY_IN_NON_SDK_CODE` analysis error trying to migrate the mobile version of `dart:ui` (`--ignore-errors` did not help). This used to work for me before.

Error details:

[code]

[2020-06-06 19:00] yjbanov opened #42213 "dart:html `window.console` log, error, info should take Object?, not Object"
The JS version of `window.consol.log` and its siblings happily accept `null`. Why is the `dart:html` version restricting to non-null `Object`?

[2020-06-06 19:07] yjbanov opened #42214 "Null safety: late non-null variables should not complain about null checking"
Late non-null variables complain when they are null-checked: "Condition will always be true in strong checking mode".

It is common to lazy initialize a variable to a non-null value, but the initialization code must be able to check if the variable is already initialized:

![late-non-null](https://user-images.githubusercontent.com/211513/83952491-0b306f00-a7ee-11ea-9c3c-a6d88519dd6f.png)

[2020-06-06 21:47] DavidBernal opened #42215 "aot and docker"
Hi, I detected some problems dockerizing a dart server.

I created a simple server:
[code]
When I compile to aot and execute the binary, all works as expected.
But when I put the binary in a docker container, exposing needed ports, I can't access to server.

[2020-06-06 23:12] srawlins commented on #42023
duplicate of #38894

[2020-06-06 23:12] #42023 closed

[2020-06-06 23:17] mr-incredible commented on #42188
Thank you! I must say though, it seems odd that what feels like the default subscription API (listen) would not handle implementation details like chunking under the hood. Seems backwards to me, but hey, that’s what they did :)

[2020-06-06 23:18] srawlins opened #42216 "Analyzer does not report extension type variable conflicts"
According to the [extension spec](https://github.com/dart-lang/language/blob/master/accepted/2.6/static-extension-members/feature-specification.md):

The analyzer does not produce any findings on this code:

[code]

[2020-06-06 23:28] srawlins commented on #42201
CC @scheglov

[2020-06-07 01:50] rakudrama commented on #42189
Interesting dart2js bug. 4b9c2356e962f1c0d8a5c86b28887ed0d167b981 should fix it.

@OnAirNetlines did you open a separate issue for the IndexedDB problem

[2020-06-07 02:54] scheglov commented on #42201
https://dart-review.googlesource.com/c/sdk/+/150271

[2020-06-07 05:07] mmcdon20 commented on #42201
I think I have encountered the same issue, or possibly something similar.
I also have `implicit-casts: false` in analysis_options.
Though in my case it might be related to nested generics such as `Iterable<Iterable<T>>`.
[code]
[code]
However when I try to do the same thing on `Iterable<T>` rather than `Iterable<Iterable<T>>` there are no errors.
[code]

[2020-06-07 05:13] scheglov commented on #42201
Yes, I think this is caused by the same issue.

However I see the error for both `DoubleIterable` and `SingleIterable` without the fix.
With the fix there are no errors in both.

[2020-06-07 05:30] technokanha opened #42217 "js-interop:"
Compiler message:
/C:/flutter/.pub-cache/hosted/pub.dartlang.org/js-0.6.1+1/lib/js.dart:8:1: Error: Not found: 'dart:js'
export 'dart:js' show allowInterop, allowInteropCaptureThis;
^
Invalid depfile: D:\jsPackageExapmle\sample_2javascript\.dart_tool\flutter_build\dc46e905574f78c68c9d31664c3779c9\kernel_snapshot.d
Invalid depfile: D:\jsPackageExapmle\sample_2javascript\.dart_tool\flutter_build\dc4

[2020-06-07 08:43] defemz commented on #41862
If anyone is still having this problem, flutter 1.17.3 was released a couple of days ago and to the best of my knowledge has totally fixed this memory issue.

[2020-06-07 13:35] mnordine commented on #24411
I just came back to this and got it to work. Had to use something like this:

[code]

I seem to have had to use `listen`. This doesn't work for instance:

[code]

[2020-06-07 15:14] itome commented on #40026
@DanTup
After the change in email-lsp (https://github.com/syl20bnr/spacemacs/pull/13455), the performance was improved but it still slow compare to using with rust or golang lsp.
I believe the server side filtering is the best solution and waiting for the spec is clarified.

[2020-06-07 16:33] pq opened #58180 "quick fix for: `exhaustive_cases`"
(To be implemented in DAS but tracking here.)

TL;DR: like for enums, we should offer quick-fixes for switches on enum-_like_ classes.

[2020-06-07 16:36] pq opened #58181 "false positive for `exhaustive_cases` with a `default`"
from @jefflim-google:

[2020-06-07 21:24] vr19860507 opened #42218 "Const constructor can't be declared for a class with a mixin that declares an instance field"
Is it a bug or a feature?

[code]
_-> Const constructor can't be declared for a class with a mixin that declares an instance field_

But this works!

[code]

[2020-06-07 22:30] srawlins commented on #38136
The analyzer now produces an error for both lines 9 and 10:

[code]

[2020-06-07 22:30] #38136 closed

[2020-06-07 23:21] srawlins opened #58182 "Report lint when an extension member name collides with extendee member name"
**Describe the rule you'd like to see implemented**

See https://github.com/dart-lang/sdk/issues/41878 and https://github.com/dart-lang/language/issues/966.

Extensions are legally allowed to declare members whose names collide with members declared on the extended class. However, this is often undesirable. A) it is difficult to call the extension member; it can only be called by explicitly using

[2020-06-07 23:22] srawlins commented on #41878
I've requested this lint at https://github.com/dart-lang/linter/issues/2130. I think this can be closed.

[2020-06-08 03:23] #41878 closed

[2020-06-08 03:24] #42201 closed

[2020-06-08 04:20] sgrekhov opened #42219 "Dart2js error when calling toString() on Null"
The following program produces an error on dart2js
[code]
[code]
Calling of Object methods on Null is not an error in Dart
`Dart VM version: 2.9.0-13.0.dev (dev) (Fri May 29 15:59:05 2020 +0200) on "windows_x64"`

[2020-06-08 04:28] sgrekhov opened #42220 "Failures of dart2js on co19 async functions tests"
The following co19 tests fail on dart2js with unclear error message
https://github.com/dart-lang/co19/blob/master/Language/Expressions/Function_Invocation/async_cleanup_t03.dart
https://github.com/dart-lang/co19/blob/master/Language/Expressions/Function_Invocation/async_cleanup_t04.dart
https://github.com/dart-lang/co19/blob/master/Language/Expressions/Function_Invocation/async_cleanup_t07.dart
ht

[2020-06-08 05:08] sgrekhov opened #42221 "Failures of co19 tests that use IntegerDivisionByZeroException on dart2js"
The following co19 tests fail on dart2js and dartdevk
https://github.com/dart-lang/co19/blob/master/Language/Expressions/Await_Expressions/evaluation_throws_t03.dart
https://github.com/dart-lang/co19/blob/master/Language/Expressions/Await_Expressions/evaluation_throws_t04.dart
https://github.com/dart-lang/co19/blob/master/Language/Expressions/Await_Expressions/evaluation_throws_t06.dart
https://gi

[2020-06-08 05:12] zichangg commented on #27414
@sgehrman Hi, I'd like to help!
Unfortunately, I don't have a mobile device to test with my WFH environment. What platform your app is running? And can you also try not to write into a file? It is possible that file.writeAsBytesSync() is leaking.

If you can also try your code with Http? [Package_http](https://pub.dev/packages/http) is very easy to use. I just wanna make sure the websocket is inde

[2020-06-08 05:14] zichangg commented on #41904
A friendly ping. @matanlurey @vsmenon
If it looks good, I can starting preparing fixing patch on packages and flutter. ^_^

[2020-06-08 05:20] sgrekhov opened #42222 "int and double with the same value are identical on dart2js and dartdevk"
The following test fails on dart2js and dartdevk

[code]
Here `i1` is integer and `d2` is double. They cannot be identical

`SDK version 2.9.0-13.0.dev `

[2020-06-08 05:29] sgrekhov opened #42223 "0.0 and -0.0 identical in dart2js and not identical in cfe"
The following code works in CFE but fails in dart2js and dartdevk
[code]
I'm not sure which behavior is correct but in any way all of the tools must behave in a same way
`SDK version 2.9.0-13.0.dev`

[2020-06-08 05:42] sgrekhov opened #42224 "double.nan identical in CFE and not identical in dart2js"
The code below works in CFE and fails in dart2js and dartdevk
[code]
`Dart VM version: 2.9.0-13.0.dev (dev) (Fri May 29 15:59:05 2020 +0200) on "windows_x64"`

[2020-06-08 05:45] #42216 closed

[2020-06-08 06:11] jackdreilly opened #42225 "Problem with analyzer for generic recursive static extension methods"
`Dart VM version: 2.9.0-13.0.dev.flutter-02915ec5ce (be) (Wed Jun 3 21:58:10 2020 +0000) on "macos_x64"`

After updating flutter (and dart in turn I imagine), I started getting this error on dartanalyzer:

[code]

the code compiles, both tests pass, and `recursiveSidestep` does not report any analyzer errors, but `recursive` does report analyzer error shown

[2020-06-08 07:27] johnniwinther commented on #42173
Given that failing to find a type that _is_ defined in another library is at the core of the compilation it is unlikely that the error is in the front-end itself (virtual all compilations would fail if that was the case).

This leads me to believe that it is something in the local environment/cache that has gone wrong. @xiaoyu-nus can you reproduce the failure after doing a `flutter clean` or if y

[2020-06-08 07:32] mraleph commented on #41934
Yep, that is correct.

[2020-06-08 07:35] johnniwinther commented on #42143
Changed to the issue to a front-end issue for the CFE problem. Will change back if there is more work needed on the test itself after the CFE part has been fixed.

[2020-06-08 07:48] eernstg commented on #42224
`identical` for `nan` values is true when the two given values have the same bit pattern (cf. https://stackoverflow.com/questions/19800415/why-does-ieee-754-reserve-so-many-nan-values#:~:text=The%20IEEE%2D754%20standard%20defines,the%20payload%20of%20the%20NaN.), so in general we can't expect two values representing not-a-number to be identical.

However, the declaration of `double.nan` is a const

[2020-06-08 07:50] eernstg commented on #42222
Yes, compilation to JavaScript turns all numbers into JavaScript numbers, so the `int` value 2 and the `double` value 2.0 have the same representation. So any test doing this should be skipped by design with configurations that compile to JavaScript.

[2020-06-08 07:57] eernstg commented on #42218
This is a bug, `int get prop => 1;` does not declare an instance field.

[2020-06-08 08:30] mraleph commented on #42123
Some tools output `--version` and `--help` to stderr. There is no clear convention - so this is working as intended.

[2020-06-08 08:30] #42123 closed

[2020-06-08 08:43] a14n commented on #42171
I just tried in a Docker container the same commands I tried in my previous comment  and it seems to work. So it looks like I have something on my host that completely mess up the migrate command. :-(

[2020-06-08 09:08] xiaoyu-nus commented on #42173
@johnniwinther Thanks for the help! `flutter clean` which doesn't work. I then did a `git clone` from my repo to another directory and suddenly all of the packages import statement in the entire project fail, including local packages. `flutter packages get` or `flutter pub get` doesn't work either.

![image](https://user-images.githubusercontent.com/51201915/84012061-91dd7b80-a9a9-11ea-9936-6e4379

[2020-06-08 09:17] mkustermann commented on #42184
@Drkstr I believe the fix in dart-lang/sdk@10df757a491e3856dfc956d72a25f5863451a777 has fully rolled into upstream flutter. So using "master" channel (i.e. using [flutter/flutter](https://github.com/flutter/flutter) git repository checkout) should give you this change.

[2020-06-08 09:43] eernstg commented on #42198
This discrepancy has been known for a long time, cf. https://github.com/dart-lang/sdk/issues/36127 and https://github.com/dart-lang/sdk/issues/36126. Created https://github.com/dart-lang/language/issues/1012 to settle the issue in the way that is based on discussions is the language team over time.

[2020-06-08 09:45] eernstg commented on #36127
Closing, the language change decision is handled via https://github.com/dart-lang/language/issues/1012.

[2020-06-08 09:45] #36127 closed

[2020-06-08 09:45] eernstg commented on #36126
Closing, the language change decision is handled via dart-lang/language#1012.

[2020-06-08 09:45] #36126 closed

[2020-06-08 09:45] DanTup commented on #42079
@bwilkerson @devoncarew this seems like a repeat of #36919 though I'm not sure why (the original fix still seems to be there).

I can't repro this though - as I don't have a `.symlinks` folder when I run the steps above, and I'm not sure why.

[2020-06-08 09:49] eernstg commented on #42179
Cf. https://github.com/dart-lang/language/issues/1012.

[2020-06-08 09:52] eernstg commented on #42197
I think a separate issue is justified if it seems to arise for different reasons.

[2020-06-08 09:56] eernstg commented on #42182
The connection between an external declaration and an implementation is specific to each tool, so it is hardly possible to emit a compile-time error which is valid for all backends. Also, it would be a link-time property in any case. I think it makes sense to expect that a NoSuchMethodError is throw n at run time, as specified.

[2020-06-08 09:57] changyuhao625 commented on #37695
Hi,
this issue is because of your response header "Transfer-Encoding:chunked",
Dart isn't support "Transfer-Encoding", you must give the content-length for your response header and "Transfer-Encoding" would be removed automatically.

[2020-06-08 10:04] lrhn commented on #42182
I definitely want to emit compile-time errors *where possible*.

For example, we *promise* that all external members of the platform libraries are patched up, and we won't (mustn't) build the SDK if they are not.

If a back-end sees an `external` declaration and has no clue to where the implementation is, it should fail as early as possible. If it sees `@JS` or `@ffi` or something that suggests th

[2020-06-08 10:17] mkustermann commented on #42182
The VM uses the `native` syntax for natives (both in our patch files as well as for native extensions):

[code]

So I believe from the VM point of view, an unpatched `external` can be a compile-time error.

[2020-06-08 10:21] lrhn commented on #42182
On the other hand, it sure would be nice if our common front-end didn't have to support a VM-only syntax extension. Have you considered no using `native` :smile:?

[2020-06-08 11:06] mkustermann commented on #42182
Well, we have to attach the native name somehow. In kernel it's basically represented as:
[code]

We could allow Dart to do the same. Then the rule would be: If an patched `external` member does not have an `ExternalName` annotation it should be a compile-time error.

[2020-06-08 11:08] mohanadshaban commented on #41862
Still the same issue on flutter **1.17.3**

[2020-06-08 11:11] jensjoha commented on #41862
@mohanadshaban sorry to hear that. Could you try to describe exactly what you are experiencing? There's been several different issues mixed up and it would be good to get a handle on exactly what you are running in to. Thanks!

[2020-06-08 11:33] johnniwinther commented on #42173
This sounds like the packages are not configured correctly or at all. Do
you have a .dart_tool/package_config.json file in you setup? I think `pub
get` or `pub update` should normally create this.

On Mon, 8 Jun 2020 at 11:09, Liu Xiaoyu <notifications@github.com> wrote:

[2020-06-08 11:46] a14n commented on #42171
I think I found the cause of this issue.

On my machine I have several Dart versions (particullarly the last stable release and another one packaged with flutter). In don't remember why I needed it but I have a `DART_SDK` environment variable that was pointing to the last stable version (2.8.x). It looks like this env var causes the issue. Removing it make the migration tool start.

It is disturbi

[2020-06-08 12:07] jefflim-google commented on #41941
This is already a problem, and not one I think we want to tackle. There will be valid reasons to store values into class vars, and even class finals. This could be a mistake, or it could be correct. I don't think we can easily decide from the static analysis PoV.

The biggest problem we're trying to address is the guaranteed mistake case of top level final or class level static final holding on to

[2020-06-08 12:31] gatzsche commented on #42079
Thanks a lot for investigating. Tried to reproduce the issue this morning and was not able to do so.
Anyway `example/ios/.symlinks` is created at my MacBook.

[2020-06-08 13:18] askeksa-google opened #42226 "Failures on [vm] IL instruction for UTF-8 scan."
There are new test failures on [[vm] IL instruction for UTF-8 scan](https://dart-review.googlesource.com/c/sdk/+/148762) when combined with https://github.com/dart-lang/sdk/commit/3451c348dbed2d80632f8141d6ab69651442eabc.

The tests
[code]
are failing on configurations
[code]

It looks like the failures are not directly related to the `Utf8Scan` instruction. They occur even if the instruction is n

[2020-06-08 13:19] leecommamichael commented on #35770
I'm very excited for this, as it gets us closer to using the Realm database with Flutter, which would make it far more production ready for my teams' skill sets.

[2020-06-08 13:34] mohanadshaban commented on #41862
Sorry for false info.
Evreything working fine again after upgrade and doing  **Flutter clean**
Hope it continue to work fine and this issue don't pop out again

[2020-06-08 13:54] #58181 closed

[2020-06-08 14:18] jakemac53 opened #42227 "CFE error in type inference for ArgumentError.checkNotNull"
See this dartpad example (reproduces at head) https://nullsafety.dartpad.dev/a4772f72bd4d0f58a04356efd0f43355.

It infers the T type to be the nullable variant of the arg instead of the non-nullable variant.

This is likely a result of the `T?` type specified for the first argument not playing nicely with an already nullable T.

cc @johnniwinther can you have somebody take a look at this?

[2020-06-08 14:18] vsevolod19860507 opened #58183 "False positive for "avoid_types_on_closure_parameters" when contravariance applies"
When contravariance applies

[code]

[2020-06-08 14:22] bwilkerson opened #58184 "Add a lint when the type parameter of a generic function is the same as the name of the function"
The spec disallows defining a type parameter on a class, mixin or extension that has the same name as the declaration that it's defined in, such as
[code]
The reason is primarily one of readability. The same is not true for generic functions (or methods), but those should also probably be avoided for readability. We should add a lint to catch that case:
[code]

[2020-06-08 14:31] bwilkerson commented on #41941
I'm fine with not handling the case of parameters, but just to be clear ...

That's one of the main purposes for annotations: the ability to express user intent that isn't expressible via the language. If it were important enough (and I'm fine with saying that it isn't), then we could require that users state their intent everywhere so that we _can_ decide statically when their intent has been vio

[2020-06-08 14:32] jodinathan opened #58185 "unnecessary_this and null on extensions"
The linter "unnecessary this" shouldn't occur with extensions method and nullable:

[code]

[2020-06-08 14:35] johnniwinther commented on #42227
@stefantsov is working on it. See #41447

[2020-06-08 14:41] jakemac53 commented on #42227
Sounds good, closing this as a dupe then

[2020-06-08 14:41] #42227 closed

[2020-06-08 14:42] #57957 closed

[2020-06-08 14:55] stereotype441 commented on #42171
Ok, the explanation with the `DART_SDK` environment variable makes sense.  When the analyzer (and hence the migration tool) sees this environment variable, it assumes that its usual mechanism for locating the SDK won't work, so it just blindly uses the SDK from the environment variable :)

[2020-06-08 15:01] a14n commented on #42171
It could have helped to see a log (in verbose mode) indicating the use of this `DART_SDK`.

I think you can close this issue.

Thanks for your help.

[2020-06-08 15:03] stereotype441 commented on #42171
Yeah, a log entry would be nice.  I'm not going to close it yet, because I still want to verify that the repro I initially found (at the top of the bug report) has been fixed.  I'll follow up hopefully later today.

[2020-06-08 15:04] #41702 closed

[2020-06-08 15:07] jefflim-google commented on #41941
Totally get it, sorry, I should have written a slightly longer reply :)

To do this, we'd either have to have a whitelist annotation or a blacklist annotation to everything receiving a @doNotStore. This would likely involve updating every single String parameter on whether it is safe or not, and I think the payoff would be small.

In most cases, if a value is stored, but not updated on language ch

[2020-06-08 15:24] a14n opened #42228 "state error migrating flutter package to nnbd"
Triing the migration tool on flutter package I get the following error

[code]

[2020-06-08 15:24] a14n commented on #42228
@stereotype441

[2020-06-08 15:28] sigmundch commented on #42223
Many of these number inconsistencies is by design, so other than tests trying to cover the number behavior explicitly, we should not rely on it for any tests that is expected to behave the same on all tools.

For context, Dart on the web and elsewhere purposely have different number semantics. This is a result of a tradeoff we made between consistency and performance: to perform reasonably well, w

[2020-06-08 15:29] jacob314 commented on #41249
Related tracking issue in the devtools repo:
https://github.com/flutter/devtools/issues/2043

[2020-06-08 15:32] alexander-doroshko opened #42229 "Dart Analyzer goes into an infinite loop if file contains `Stream<List<>>`"
Reproducible with Dart SDK 2.8.4 and 2.9.0-13.0.dev. Create file `foo.dart` with the following content
[code]
and run `dartanalyzer foo.dart`. Dart Analyzer runs some infinite calculations which never end.

The same with Dart Analysis Server, so to reproduce just type `Stream<List<>>` in an empty file in any IDE.

[2020-06-08 15:32] stereotype441 commented on #42139
I have a fix awaiting code review: https://dart-review.googlesource.com/c/sdk/+/150260

[2020-06-08 15:34] jacob314 commented on #41249
Fyi @kenzieschmoll

[2020-06-08 15:35] stereotype441 commented on #42228
Thanks, we will have a look ASAP

[2020-06-08 15:52] stereotype441 commented on #42211
@yjbanov
We never built in support for a `/*required*/` hint because we figured people would rather use the `@required` annotation (from `package:meta`).  Would that work just as well for you, or do you really need support for `/*required*/`?

[2020-06-08 15:56] zanderso opened #42230 "Package dart2native in the SDK as part of the GN build"
Today, a product mode dart2native is packaged in the Dart SDK alongside other binaries built in release mode. This is accomplished by spinning up two separate GN builds with different configurations, and copying files into the right places after the fact.

Instead, this could be simplified by creating the product mode binaries as part of one release build of the SDK following the example of e.g. t

[2020-06-08 15:57] zanderso commented on #42230
This will greatly simplify https://github.com/flutter/flutter/issues/43968 down to e.g.https://github.com/flutter/engine/pull/18848

[2020-06-08 16:13] devoncarew commented on #42213
@vsmenon @sigmundch - I'm not sure who's migrating the dart:html APIs.

[2020-06-08 16:15] devoncarew commented on #42212
cc @scheglov - perhaps the dart:ui code is being interpreted as a package?

[2020-06-08 16:16] devoncarew commented on #42229
cc @scheglov

[2020-06-08 16:20] devoncarew commented on #42214
cc @eernstg @stereotype441 - I'm not sure of this is a usability issue with `late` or an analyzer issue.

[2020-06-08 16:24] devoncarew commented on #42191
OK, when code gen is configured to generate into `.dart_tool/`, I suspect that we don't watch the generation location for file changes, so would not be surprised if that use case didn't work well (if you did need to re-start the analysis server).

It sounds like you're generating into your existing source however (into `lib/`); that should work just as well as editing files in your project - the a

[2020-06-08 16:27] scheglov commented on #42212
No, we check using if a `Source` is from SDK using `uri.scheme == DartUriResolver.DART_SCHEME`.
And `dart:ui` must have the `dart:ui` URI.

[2020-06-08 16:30] vsmenon commented on #42213
@srujzs

[2020-06-08 16:37] fishythefish commented on #42219
There seems to be a tree-shaking issue here. If we `print(x);` (or just `print(a.toString());`), then the code runs properly.

[2020-06-08 16:42] kenzieschmoll commented on #41249
FYI @peterdjlee

[2020-06-08 16:45] #57182 closed

[2020-06-08 16:57] mkustermann commented on #42230
Will try to clean this up

[2020-06-08 17:02] scheglov commented on #42229
When we parse this file, the parser invokes `endTypeVariables` with invalid `endToken`. It should be `>`, but it is `EOF`.
![image](https://user-images.githubusercontent.com/384794/84058819-9d5f8100-a96e-11ea-888c-3863c34214d6.png)

When I tried to reproduce this in a unit test, the `assert` was triggered, and we end up with an empty unit, as a safeguard against exceptions in the parser. Maybe `as

[2020-06-08 17:21] bwilkerson commented on #42229
@jensjoha

[2020-06-08 17:22] saturov commented on #37426
Faced the same issue today. Removed exclude block from `analysis_options.yaml` and got my `options+return` hotkey working back again.

`[✓] Flutter (Channel dev, 1.19.0-4.0.pre, on Mac OS X 10.15.4 19E287, locale ru-RU)
    • Flutter version 1.19.0-4.0.pre at /Users/saturov/Library/flutter
    • Framework revision 2f7a59a8da (3 days ago), 2020-06-05 03:44:02 -0700
    • Engine revision d17c84e7af

[2020-06-08 17:27] leafpetersen commented on #42214
There is no way to tell if a `late` variable is initialized (other than trying to read it and catching the resulting exception, I suppose).  We discussed adding support for this, but chose not to.

[2020-06-08 17:34] #40475 closed

[2020-06-08 17:34] #42139 closed

[2020-06-08 17:37] stereotype441 commented on #42171
After discussion with @MichaelRFairhurst we believe this is all fixed now; leaving open for a bit as a reminder to create a log entry.

[2020-06-08 17:55] awhitford opened #42231 "unnecessary_this does not correctly handle null-safe operator (this?.)"
I used `dartfix` using the `unnecessary_this` fix and it incorrectly transformed this extension method:

[code]

to:

[code]

The `this?.` is important because `this` may be `null`, and the method is intentionally aiming to be safe to use the value is null.

I expect that the rule should not apply when the null-safe operator is used on `this`.

I am using Dart 2.8.4.

[2020-06-08 17:55] awhitford opened #58186 "unnecessary_this does not correctly handle null-safe operator (this?.)"
I used `dartfix` using the `unnecessary_this` fix and it incorrectly transformed this extension method:

[code]

to:

[code]

The `this?.` is important because `this` may be `null`, and the method is intentionally aiming to be safe to use the value is null.

I expect that the rule should not apply when the null-safe operator is used on `this`.

I am using Dart 2.8.4.

[2020-06-08 18:15] #42178 closed

[2020-06-08 18:16] srawlins commented on #25710
This is a duplicate of a request in the linter.

[2020-06-08 18:16] srawlins commented on #25710
Duplicate of https://github.com/dart-lang/linter/issues/29

[2020-06-08 18:16] #25710 closed

[2020-06-08 18:18] srawlins commented on #22938
The example still has bad error recovery:

[code]

[2020-06-08 18:25] bwilkerson commented on #22938
@jensjoha

[2020-06-08 19:40] yjbanov commented on #42214
Ok, I guess we can use a `bool` variable next to the `late` variable to tell if it was initialized.

[2020-06-08 19:40] #42214 closed

[2020-06-08 19:42] yjbanov commented on #42211
`package:meta` doesn't work because I'm migrating `dart:ui`, which doesn't have access to packages. Since this is a one-off library, let's keep it as is. I can migrate these manually.

[2020-06-08 19:42] #42211 closed

[2020-06-08 19:52] stereotype441 commented on #42211
Ah, that makes sense.  Sounds like a good plan.

[2020-06-08 20:05] srawlins commented on #21739
Both warnings now have the correct text:

[code]

[2020-06-08 20:05] #21739 closed

[2020-06-08 20:08] srawlins commented on #25981
I suspect this has changed in the intervening years. The error name is printed by default:

[code]

[2020-06-08 20:08] #25981 closed

[2020-06-08 20:13] srawlins commented on #26818
The analyzer still produces not great reports for the example code:

[code]

[2020-06-08 20:23] srawlins commented on #26073
Recovery could certainly still be improved here. On this example:

[code]

There are 6 errors on line 1:

[code]

[2020-06-08 20:26] srawlins commented on #27379
Strong mode means that there _is_ an error in the code now:

[code]

But as @bwilkerson says, we could still report that a parameter is named the same as one of the type parameters. Does this feel like a lint now though?

[2020-06-08 20:34] bwilkerson commented on #27379
Note that the original example could also now be rewritten as
[code]
which would eliminate the confusion.

There is a lint (`prefer_generic_function_type_aliases`) to encourage use of the newer syntax.

But if the older syntax is desirable for some reason, I think there's an issue open to create a lint to warn when any parameter name without a type matches a type name that's visible in scope. I kn

[2020-06-08 20:37] srawlins commented on #27947
There is no longer a TypeInterface class. :(

[2020-06-08 20:37] #27947 closed

[2020-06-08 20:38] srawlins commented on #28225
Thanks for opening this issue. Unfortunately we didn't look at this before it grew stale. More recent versions of Dart appear to not be crashing on this code path.

[2020-06-08 20:38] #28225 closed

[2020-06-08 20:40] #25558 closed

[2020-06-08 20:43] srawlins commented on #30490
The analyzer now produces a much more readable error:

[code]

[2020-06-08 20:43] #30490 closed

[2020-06-08 20:45] srawlins commented on #30117
Very similar to https://github.com/dart-lang/sdk/issues/30261, but likely different fix, so keep each open.

[2020-06-08 20:47] srawlins commented on #30936
The analyzer now reports nothing for this code (both with and without `--enable-experiment=non-nullable`).

[2020-06-08 20:47] #30936 closed

[2020-06-08 20:49] MichaelRFairhurst commented on #42211
For what it's worth, you don't need to add /* required */ at all here. Just
the fact that the named argument is non nullable with no default value will
mean it gets migrated to a required named argument.

[2020-06-08 20:50] yjbanov commented on #42212
This is blocking NNBD migration for `dart:ui`. Workarounds are welcome. It's the only `dart:*` we need to migration using the tool, so the solution doesn't have to be super clean.

[2020-06-08 20:56] srawlins commented on #32523
The new Null Safety feature handles this code. "The left operand can't be null, so the right operand is never executed. • 32523.dart:4:28 • dead_null_aware_expression"

[2020-06-08 20:56] #32523 closed

[2020-06-08 21:00] srawlins commented on #24892
And so it is done. Duplicate of #24891.

[2020-06-08 21:00] #24892 closed

[2020-06-08 21:07] srawlins commented on #27718
The think the lint request, https://github.com/dart-lang/linter/issues/1634, is a good request for this.

[2020-06-08 21:07] #27718 closed

[2020-06-08 21:08] srawlins commented on #27468
This error is still present. ☹️

[2020-06-08 21:09] srawlins commented on #25917
Note: This will be a pretty hefty fix. I suspect internally we have lots of historical baggage; lots of unnecessary `// ignore`s. Be prepared.

[2020-06-08 21:12] scheglov commented on #42212
@stereotype441

[2020-06-08 21:13] srawlins commented on #25788
This now correctly reports:

[code]

But we could be more helpful and say "Functions cannot be const."

[2020-06-08 21:15] srawlins commented on #30529
I see that `missingStaticWarning` is gone, but `staticWarning` still exists in `pkg/status_file` and `pkg/test_runner`.

[2020-06-08 21:16] srawlins commented on #27500
I think this can be closed in favor of the local variable inference rules being written for Null Safety Dart.

[2020-06-08 21:16] #27500 closed

[2020-06-08 21:16] #58102 closed

[2020-06-08 21:43] natebosch commented on #29027
@lrhn - we have a copy of this class in one of our packages, and some more users are asking for this on the web.

Do you have any concerns about moving this to `dart:typed_data` and re-exporting from `dart:io` without any additional changes to the API?

[2020-06-08 21:45] srawlins commented on #22941
The warning is as you wish now:

[code]

[2020-06-08 21:45] #22941 closed

[2020-06-08 21:48] scheglov commented on #42212
@yjbanov Do these errors prevent you from using the tool? I have a hack to `analyzer` that makes it think that a library with the name `dart.ui` is in SDK. But actually, even without the fix, I get the HTTP URI and web UI.

[2020-06-08 21:50] srawlins commented on #34509
An error is now reported:

[2020-06-08 21:50] #34509 closed

[2020-06-08 22:00] scheglov commented on #42212
Ah, I used the bleeding edge version of Dart SDK, and I don't get this exception.
It probably was fixed since the roll of Dart SDK into Flutter.
Try using the bleeding version, I download `https://storage.googleapis.com/dart-archive/channels/be/raw/latest/sdk/dartsdk-macos-x64-release.zip`.

[2020-06-08 22:03] scheglov commented on #42212
It works for me when I clone Flutter repo, do `flutter upgrade`, `flutter update-packages`, and run `/Users/scheglov/Source/flutter/bin/cache/dart-sdk/bin/dart migrate --ignore-errors .`. There are some compile-time errors, but no exception, and UI is available.

[2020-06-08 22:07] yjbanov commented on #42212
Cool. Let me try again.

[2020-06-08 22:11] franklinyow commented on #41972
Ping @rmacnak-google

[2020-06-08 22:28] yjbanov commented on #42212
These are all the methods I tried:

1. Sync to the latest master **engine**. Rebuild from source, then:

[code]

**Result**: the aforementioned errors and stack trace.

2. Sync to the latest master **framework**, then:

[code]

**Result**: the aforementioned errors and stack trace.

3. Download the latest Dart SDK from https://dart.dev/tools/sdk/archive, then:

[code]

**Result**: the aforemention

[2020-06-08 22:29] scheglov opened #42232 "co19/LanguageFeatures/nnbd/flow-analysis/reachability_break_* fail"
I see new co19 tests that exercise functionality for which I cannot find specification. @leafpetersen Is it in [the flow analysis spec](https://github.com/dart-lang/language/blob/master/resources/type-system/flow-analysis.md) and I don't look well?

[code]

[code]

An example of `break` in the test:
[code]

An example of `continue` in the test:
[code]

[2020-06-08 22:33] yjbanov commented on #42212
@scheglov When you tested it, which directory did you try migrating? I'm specifically migrating this directory: https://github.com/flutter/engine/tree/master/lib/ui. I don't have issues with others.

[2020-06-08 22:34] leafpetersen commented on #42232
The errors around definitely assigned/unassigned late variables were landed [here](https://github.com/dart-lang/language/pull/750) .

[2020-06-08 22:52] scheglov commented on #42232
@leafpetersen Oh, sorry, I did not describe the issue fully. I know that we should report late definitely unassigned variables. But I don't see where reachability of an assignment should be takes into account.

It might be also that we just don't have all specification for definitely unassigned variables, and we implemented it wider than the spec says. For `while statement` we have `after(N) = joi

[2020-06-08 22:55] scheglov commented on #42212
I copied `/Users/scheglov/Source/flutter/bin/cache/pkg/sky_engine/lib/ui` into a temporary directory, and was migrating it.

[2020-06-08 23:06] scheglov commented on #42205
It looks that `language/closure/param_null_to_object_test RuntimeError (expected Pass)` is failing for analyzer. The other 3 do fail.

[2020-06-08 23:31] yjbanov commented on #42212
That works! I'll see if I can live with that. Thanks!

[2020-06-09 00:09] munificent commented on #30529
Yeah, there are still some multitest sections that use it, I think. I believe it's mostly synonymous with `compile-time error`, but I haven't spent the time to root it out.

[2020-06-09 00:46] scheglov commented on #42205
https://dart-review.googlesource.com/c/sdk/+/150472

[2020-06-09 01:22] srawlins commented on #34265
Apologies that we didn't get a chance to look at this crash before it got stale. Please re-open if you see on a recent version of Flutter or Dart.

[2020-06-09 01:22] #34265 closed

[2020-06-09 01:32] srawlins commented on #35508
I think I fixed this at some point.

[2020-06-09 01:32] #35508 closed

[2020-06-09 01:37] srawlins commented on #35586
Err... clooooooose?

[2020-06-09 01:41] ffarall opened #42233 "Passing mp3 asset from Flutter to Oboe"
I'm trying to use Google Oboe for a 3D audio processing app due to it's low latency. The app will have a C++ backend, which does the processing, and the frontend is done with Flutter. I'm running a couple of tests to see if it'll work but I'm having issues loading assets from Flutter to Oboe. I checked the example RhythmGame in Oboe's [repo](https://github.com/google/oboe), done with Java, but cou

[2020-06-09 01:43] srawlins commented on #30243
Good news! My latest example (without the `throw`) does NOT report any dead code when using `--enable-experiment=non-nullable` (and still does without this experiment.

[2020-06-09 01:43] #30243 closed

[2020-06-09 01:44] srawlins commented on #21811
I imagine this can be closed? We support definite assignment as specified by the Non Null spec.

[2020-06-09 01:47] #21811 closed

[2020-06-09 01:58] scheglov commented on #42205
https://dart-review.googlesource.com/c/sdk/+/150474

[2020-06-09 02:00] kevmoo commented on #30243
Woo hoo!

On Mon, Jun 8, 2020, 18:44 Sam Rawlins <notifications@github.com> wrote:

[2020-06-09 02:02] srawlins commented on #35585
I suspect... this is fixed?

[2020-06-09 02:03] srawlins commented on #35827
I believe this can be closed.

[2020-06-09 02:04] scheglov commented on #35585
Well, of course :-)

[2020-06-09 02:04] #35585 closed

[2020-06-09 02:14] srawlins commented on #35908
I think this was fixed around when @scheglov implemented summary2.

[2020-06-09 02:14] #35908 closed

[2020-06-09 02:23] srawlins commented on #36193
Good news, `dartanalyzer --enable-experiment=non-nullable` reports:

[2020-06-09 02:23] #36193 closed

[2020-06-09 02:50] srawlins commented on #25133
Somehow this was partly fixed? `dartanalyzer --help |less` pagination works, but `dartanalyzer --help` still prints to stderr.

FWIW, `dart --help` is printed to stderr as well. I can't see this ever being high-priority enough to break existing clients...

[2020-06-09 02:59] stereotype441 opened #42234 "yield* cannot be used to yield a more specific iterator type"
I would expect the following code to print `1` and then `2`:
[code]
But instead it produces this exception when run under the VM:
[code]
If replace `yield* g();` with `for (var value in g()) yield value;` (which I believe should be equivalent), then the program works as intended.

Digging through the code in `core_patch.dart`, it looks like the functionality of `yield*` has been implemented in suc

[2020-06-09 02:59] stereotype441 commented on #42234
@a-siva FYI

[2020-06-09 03:19] srawlins commented on #36633
Thanks for reporting this crash; unfortunately we did not get to investigate before this report became stale. Please re-open this if you see it again in a recent version of Dart.

[2020-06-09 03:19] #36633 closed

[2020-06-09 03:21] scheglov commented on #42204
I think the spec requires that `C.setter7` is an error.

[code]

Here, there is a setter `C.setter7` with type `void Function(int)`, and getter `C.setter7` with type `dynamic Function()`. And `dynamic` is not a subtype of `int`. So, the error.

We know that the parameter of `C.setter7=` is covariant, so we don't report that it is an invalid override of `B.setter7=`. But the issue is the conflict b

[2020-06-09 03:28] srawlins commented on #37099
Thanks for reporting this. Apologies that we didn't get to this crash before it became stale. I'll close this, but please re-open if you see it again on a recent version of Dart.

[2020-06-09 03:28] #37099 closed

[2020-06-09 03:31] srawlins commented on #37125
`dartanalyzer --enable-experiment=non-nullalbe` reports correctly:

[code]

[2020-06-09 03:31] #37125 closed

[2020-06-09 03:32] srawlins commented on #37142
Thanks for reporting this issue. Unfortunately we didn't get to look into this crash before it became stale. I'll close it for now; please re-open if you see the error again on a recent version of Dart.

[2020-06-09 03:32] #37142 closed

[2020-06-09 03:49] leafpetersen commented on #42232
@scheglov I think there are two questions here.  The first is whether reachability of an assignment should be taken into account, and my expectation was certainly that it would.  If I have:

[code]

then my initial expectation would be that `x` is treated as definitely unassigned after the conditional.  It doesn't have to be that way, but it feels weird not to use this obviously true information.

[2020-06-09 04:06] jamesderlin commented on #25133
`dartanalyzer --help | less` does not work for me, and I don't see how it could work if it's still printing to stderr.

1. According to https://github.com/dart-lang/sdk/issues/25133#issue-120806620, we use to print to stdout, so we already broke clients.  This would be fixing a regression.

2. The existing behavior is rather user-hostile.

3. End-users accustomed to doing `dartanalyzer --help 2>&1

[2020-06-09 04:10] #23353 closed

[2020-06-09 04:22] scheglov commented on #42232
The issue is what assignments make a variable not definitely unassigned.

We definitely take reachability into account.
For `if` statement we do `merge` and discard the branch that is not reachable.
So, this code has an error.
[code]

The following code, with my understanding of the flow analysis spec, would keep `v` definitely unassigned. But we implemented marking any variables not definitely un

[2020-06-09 04:32] bluz71 commented on #40026
I am wanting to register my interest in this item, especially the part about reduced payload. Basically, yes please.

A relevant discussion has occurred in the [vim LSC](https://github.com/natebosch/vim-lsc) project about the performance of the Dart Language Server; see [discussion here](https://github.com/natebosch/vim-lsc/issues/291).

The issue being that when doing simple term completion it ap

[2020-06-09 04:35] a14n commented on #41397
It still happens with the following repro:

[code]

suggests:

[code]

(Tools • Dart 2.9.0 (build 2.9.0-13.0.dev 87c5e3612b))

[2020-06-09 04:40] srawlins commented on #34341
Fixed with https://dart-review.googlesource.com/c/sdk/+/150269.

[2020-06-09 04:40] #34341 closed

[2020-06-09 04:44] srawlins commented on #33479
Analyzer now does not crash, and prints:

[2020-06-09 04:44] #33479 closed

[2020-06-09 04:52] a14n opened #42235 "Migration tool: avoid late if it leads to definitely unassigned usage"
The following code:

[code]

is migrated in:

[code]

but the migrated code as the following error (in the catch block):

So `late` should not be used.

/cc @stereotype441

[2020-06-09 05:09] srawlins commented on #32910
Recent dartanalyzer now reports that each parameter is final and cannot be re-assigned:

[2020-06-09 05:09] #32910 closed

[2020-06-09 05:32] bluz71 commented on #40026
**5,630** completion items were being sent when using Flutter `v1.12.13+hotfix.8` I should clarify. Since that last post I upgraded Flutter (and contained Dart) to the latest in the hope that speed would improve.

With Flutter `v1.17.3` I am appearing to receive **26,789** completion items (at least according to an echo statement deep in the bowels of the LSC plugin) for the same simple term compl

[2020-06-09 05:56] sgrekhov commented on #42031
The same issue exists for mixins as well. Analyzed doesn't allow to mixin deferred classes but CFE allows

[code]

[2020-06-09 06:12] iarkh opened #42236 "Dart throws a compile error when async function with Future<bool> return type returns dynamic."
Dart VM version: 2.9.0-13.0.dev (dev) (Fri May 29 15:59:05 2020 +0200) on "windows_x64"

This issue is related with SDK Issues #41266, #41437, as well as with co19 issues [603](https://github.com/dart-lang/co19/issues/603) and [703](https://github.com/dart-lang/co19/issues/703).

Seems like after the [941](https://github.com/dart-lang/language/pull/941)  the following code should not throw compile

[2020-06-09 06:19] iarkh opened #42237 "Analyzer throws a compile error when async function with Future<bool> return type returns dynamic."
Dart VM version: 2.9.0-13.0.dev (dev) (Fri May 29 15:59:05 2020 +0200) on "windows_x64"

This issue is related with SDK Issues #41266, #41437, as well as with co19 issues [#603](https://github.com/dart-lang/co19/issues/603) and [703](https://github.com/dart-lang/co19/issues/#703).

It is similar with #42236, but it's agains analyzer, not dart.

Seems like after the [#941](https://github.com/dart-l

[2020-06-09 07:19] KunalBhorodiya opened #42238 "Dart Analyzer Error Encountered a Dart Analysis Server error."
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.8.2`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b04x64 JetBrains s.r.o, OS Windows 7(amd64) v6.1 Service Pack 1, screens 1600x900`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\Kunal\AppData\Local\Temp\report1.txt.

[2020-06-09 07:46] sgrekhov opened #42239 "Compile error in analyzer if mixin extends class other than 'Object' or references 'super'"
The following code has no issues in VM but error in analyzer
[code]
Similarly the program below has no issues in VM but error in analyzer
[code]
Mixin class may extend class other that `Object` and have references to `super`. Analyzer shouldn't produce these errore here
`Dart VM version: 2.9.0-13.0.dev (dev) (Fri May 29 15:59:05 2020 +0200) on "windows_x64" `

[2020-06-09 07:57] jensjoha opened #42240 "Segmentation fault when debugging"
I've had the VM crash on me a few times in the last few weeks when debugging. I don't think I can reproduce it with any specific measure, but it's happened at least twice. The output this time (on 020359dcc8a82eb49a523591f47ff00145cabb16) was:

[code]

/cc @mraleph @mkustermann

[2020-06-09 08:11] jensjoha commented on #42240
I actually can reproduce:

`out/ReleaseX64/dart --pause_isolates_on_start --disable_dart_dev --enable-vm-service=0 --disable-service-auth-codes pkg/front_end/test/parser_suite.dart`

go to observatory, debug, write

`break parser_impl.dart:2597` (< enter >)
`c` (< enter >)

when it stops, write

`p codes.templateExpectedAfterButGot.withArguments` (< enter >)

and *bang*:

[code]

[2020-06-09 08:31] lrhn commented on #29027
It's actually a pretty nifty class, design-wise. Doesn't do much more than it should.

My main concern is that it's only for bytes. Why is there no `ShortsBuilder`, `WordsBuilder` and `LongsBuilder`. That's not a problem for `BytesBuilder`, just for the library itself, and we can always add more (but definitely not with those names).
Also, bytes are *common* (especially in I/O, which is why it was

[2020-06-09 08:43] johnniwinther opened #42241 "CFE parser issues"
This epic is a bucket for issue related to the CFE parser.

[2020-06-09 08:48] lrhn commented on #23020
It still not following the spec.
The spec says:
[code]

The "line" is ended by the first occurrence of CR+LF, CR (not followed by LF) or LF.
If the string literal is
[code]
(That is: quotes-backslash-linefeed), then all characters before the line end are not whitespace potentially prefixed by backslash, because there is a backslash which is not followed by a whitespace on that line. Both analyzer

[2020-06-09 09:05] renefloor opened #58187 "Lint rule for throwing exception when future is expected."
**Describe the rule you'd like to see implemented**
When you use a function that returns a Future you'd expect to catch all exceptions with future.catchError(). However, when the function should return a Future, but throws the exception before that the future is returned the error is not caught.

I would like to see a Lint rule that warns me when I throw an error in a function that returns a futur

[2020-06-09 10:42] eernstg commented on #42204
Agreed, it's an error for `C` to inherit the implementation of the `setter7` getter with return type `dynamic` (the setter/getter type constraint has no exceptions for covariant parameters).

[2020-06-09 11:02] jensjoha commented on #22938
General comments / questions:

How much energy do we want to spend on something like this?

For this particular example we might be able to create a hack that detects that we're missing a `(` at the correct place, but more generally (maybe even if `Package package` had been something just a little more advanced) this becomes really non-trivial and will probably both be computationally hard and req

[2020-06-09 12:43] mkustermann commented on #42230
Doing this without many MB size regressions will require us to build specific targets with `-fvisibility=hidden` instead of relying on the global buildroot settings in `//build/config/BUILDCONFIG.gn` (which only enables hidden visibility in product mode).

I've made the following CLs for this:

  * BoringSSL repo: https://dart-review.googlesource.com/c/boringssl_gen/+/150482
  * Upstream ICU repo:

[2020-06-09 12:44] mkustermann commented on #42230
Doing this without many MB size regressions will require us to build specific targets with `-fvisibility=hidden` instead of relying on the global buildroot settings in `//build/config/BUILDCONFIG.gn` (which only enables hidden visibility in product mode).

I've made the following CLs for this:

  * BoringSSL repo: https://dart-review.googlesource.com/c/boringssl_gen/+/150482
  * Upstream ICU repo:

[2020-06-09 12:50] mkustermann commented on #42234
Maybe this is related to the recent sync* optimizations @cskau-g was working on.

[2020-06-09 13:06] stereotype441 commented on #41397
https://dart-review.googlesource.com/c/sdk/+/150540 adds @a14n's repro as a test case.

[2020-06-09 13:08] lrhn commented on #42235
The `rawResponse` variable is *not* definitely unassigned in the catch block.

It is possible to reach the catch block after assigning to `rawResponse`, so if the analysis claims that the variable is definitely unassigned, then the analysis is wrong.

A `catch` block should assume that it can be entered from any point in the `try` block.

I'd say the migration tool is correct here, and the analyze

[2020-06-09 13:09] stereotype441 commented on #40509
@a14n made a similar suggestion.  His example looks like this:
[code]
The migration tool suggests:
[code]
But this would be better:
[code]

[2020-06-09 13:10] a14n commented on #42235
so /cc @scheglov @bwilkerson :)

Thanks @lrhn

[2020-06-09 13:24] Aaron009 opened #42242 "`OnDone` in `Stream` is not called correctly."
Sample code
[code]

When the `_incrementCounter` function is called, 6 files are loaded. To ensure that the file can be read correctly, `onDone` should be called 6 times, but the above code does not.

When I turned off this line of code `// print(" onDone($cachePath)")` comment, `onDone` was called 6 more times.

[code]

Complete code example：
[https://github.com/Aaron009/flutter-bug.git](https://

[2020-06-09 13:37] lrhn commented on #42242
I cannot  reproduce the issue.
Could you check if `_tempPath` contains any suspicious characters, because printing that is really the only difference between the commented out line and the next.

Well, and that `//print("onDone($cachePath)")` has no semicolon at the end, but I assume that's a cut-n-paste error.

[2020-06-09 13:40] lrhn commented on #42239
Mixins can only be extracted from classes with `Object` as their superclass. The analyzer is correct on the first one, but not on the second one.
Such mixins may call `super` methods, but since they can only be calling `Object` methods, it's safe for any superclass.

The fact that the specifiaction isn't  stating this is a mistake (my bad). See https://github.com/dart-lang/language/issues/1015 for

[2020-06-09 14:13] edwjusti opened #42243 "Confusing type inference"
Dart version: 2.8.4
OS: Linux

I've noticed that the dart analyzer is inferring incorrect argument types in closure scope when inferring from named arguments. I'm using VS Code but I also
tested on Android Studio and the problem still happens.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/17240777/84159237-395abc80-aa43-11ea-8678-6f656d12e06a.gif)

[2020-06-09 14:22] bwilkerson commented on #22938
I'll start by noting that this was brought to your attention because (a) Sam is cleaning up some of the older analyzer issues, noticed that this is still a valid issue, and added a note to it which brought it to my attention, and (b) I noticed that you likely didn't have any visibility to I referenced you.

Probably not much. I doubt that this is a case that very many users are running into, thoug

[2020-06-09 14:33] Aaron009 commented on #42242
The semicolon is something I forgot to add. When this line is commented, `print("onDone($cachePath)");`, `onDone` output will only be output twice.

[2020-06-09 14:40] #35036 closed

[2020-06-09 14:57] bwilkerson commented on #40026
Flutter has organized their packages so that developers generally only need to import a single library (such as `package:flutter/material.dart`), but that results in a single very large namespace. I'm not sure exactly how many names are included, but I could sort of believe the 5,630 suggestion number (because the server is probably suggesting not just every class but also every constructor in eve

[2020-06-09 15:34] athomas commented on #42112
Merged as 52793886a0a25802984e8cf5831b587ec3822aa3 and released in 2.8.4.

[2020-06-09 15:34] #42112 closed

[2020-06-09 15:35] athomas commented on #42111
Released in 2.8.4.

[2020-06-09 15:35] #42111 closed

[2020-06-09 15:54] scheglov commented on #42190
https://dart-review.googlesource.com/c/sdk/+/150581

[2020-06-09 16:05] devoncarew commented on #42210
cc @mraleph

[2020-06-09 16:06] najibghadri commented on #35770
+1

[2020-06-09 16:06] devoncarew commented on #42215
@DavidBernal - is this issue specific to the AOT compiled version, or do you see this with a non-AOT compiled dart app as well?

[2020-06-09 16:08] devoncarew commented on #42217
@technokanha, I'm not sure what the issue is here. Can you clarify a bit what you were doing and the issue you're seeing? Please also include things like versions used.

If this is a flutter issue, I'd re-file at flutter/flutter. Thanks!

[2020-06-09 16:12] DavidBernal commented on #42215
Is a AOT compiled version problem. Same server.dart running on a docker works fine. I have a little example here:
https://github.com/DavidBernal/dart-aot-docker

There are 4 possible scenario:
- Running dart on pc
- Running aot on pc
- Running dart on docker
- Running aot on docker

All works correctly except last one scenario.

[2020-06-09 16:14] devoncarew commented on #42215
Thanks!

[2020-06-09 16:15] devoncarew commented on #42215
@mraleph - where's the best place to triage AOT items?

[2020-06-09 16:25] lrhn commented on #42242
That line *should* be innocuous, so it suggests that something else is going on. Have you tried printing `cachePath` before the `onListen` call`? Does the program terminate, or does it hang?