[2020-05-03 11:15] mkustermann commented on #41739
After some investigation: The issue can be reproduced with:
[code]

The code in my CL seems to be correct, but it has one unexpected side-effect: The VM prefers to use `.../dart_tool/package_config.json` over the older `.../.packages`. The `Isolate.packageConfig` getter will return the `Uri` to whatever package config the VM uses, which is now the former.

As it turns out the flutter code in [engi

[2020-05-03 12:38] mnordine commented on #30949
Do you make that determination based on scanning pub? What about all the code that's not on pub? Our company uses it, for instance.

Nope, just curiosity and I find it interesting. I was going through the vm projects here:
- https://github.com/dart-lang/sdk/projects/15
- https://github.com/dart-lang/sdk/projects/3

[2020-05-03 13:39] a14n opened #41749 "static method on js objects behave differently"
While looking at my google_maps package to migrate it from `dart:js` to `package:js` I faced a difference between dart2js and dev_compiler with the following code:

[code]

[code]

I get the following output:

[code]

The behaviour of dart2js is really better and it would be great to fix dev_compiler.

[code]

[2020-05-03 13:44] a14n commented on #41749
/cc @vsmenon @sigmundch

[2020-05-03 14:52] pq opened #58163 "consider `unnecessary_async`"
Follow-up  from https://github.com/flutter/devtools/pull/1874#discussion_r415878750.

TL;DR: methods/functions that do  not perform anything asynchronous should not be marked `async`.

[2020-05-03 16:23] melsheikh92 commented on #33698
this is how I use it to mimic Swift enums

[2020-05-03 17:24] #58148 closed

[2020-05-03 17:41] #58158 closed

[2020-05-03 17:49] bnxm commented on #41688
@sortie I'm not sure if this has been fixed now as part of #41706, because it's not on the flutter dev channel yet, but when a server returns characters like Ü, Ä or Ö in the response body for example (those are common german umlauts), then they are not properly decoded.

For example when the server returns this JSON object:
[code]

then the `response.body` from dart http looks like this:

[code]

[2020-05-03 18:08] ashutoshsingh05 opened #41750 "Tried to initialize from a previous compilation, but the file was not self-contained"
Dart version `Dart VM version: 2.7.2 (Unknown timestamp) on "linux_x64"`
OS: Linux (Ubuntu 19.10)
Tried to run a unit test on a bloc unit.
[code]
And this error log came up, although the test completed successfully. There was no error after running the same test again and everything looked normal.
[code]
Before running this command, I ran `flutter run test/smoke_test.dart`

[2020-05-03 19:02] lrhn commented on #41748
Yes.

There won't be any `.packages` file to refer to soon enough. Anyone needing to understand the file contents will need to understand the new file format.

[2020-05-03 19:14] kayvij commented on #41746
Oops! my bad... it was a List, not a String. But it still leaves room for unintentional coding. May be the syntax for growing a list should be a bit different?

[2020-05-03 19:16] kayvij commented on #41746
I believe any length property should always be read-only..

[2020-05-03 19:27] devoncarew opened #41751 "The IsolateSpawn service protocol event is not documented in the service protocol spec"
The `IsolateSpawn` is mentioned as a valid event in a few places in the spec, but the event is never described in the `EventKind` protocol enum (when is it sent? should clients update any isolate metadata when they receive the event?).

https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md#eventkind

cc @bkonyi

[2020-05-03 21:24] #57851 closed

[2020-05-04 00:17] scheglov commented on #41371
https://dart-review.googlesource.com/c/sdk/+/146120

[2020-05-04 01:38] GroovinChip opened #41752 "Analyzer crash"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.9.0-edge.b0d35855d88ca656abd97e914becc2bea740b1a8`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b04x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1920x1080, 1600x900`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\groov\AppData

[2020-05-04 02:24] rapus95 commented on #26488
@Hixie well, then again, we're at the problem of good suggestions. In the first place, as Dart has strict typing, it should follow a strict applicability rule (i.e. if the call would be ambiguous, error).
Again, referring to Julia, when you try to call a method there whith arguments that would fit equally well into multiple definitions, then it errors with "method ambiguous" and shows the interfer

[2020-05-04 03:37] mikeperri commented on #37022
Hi all, I set up a simple example of a Flutter plugin with async methods that works via FFI instead of MethodChannels - https://github.com/mikeperri/flutter-native-callbacks-example

Not an expert in any of this stuff, so please let me know if there are any issues. Seems to work well though!

[2020-05-04 06:34] sagarpatel115 opened #41754 "Dart Analyzer Error"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.7.2`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b04x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1600x900`

[2020-05-04 06:40] cskau-g commented on #37753
My apologies - it gets a bit confusing to refer to the three point list. By 'the second point' I was referring to 'Disable argument type checks for sync-yielding functions'. The _SyncIterable change I think I've got a handle on, but thank you all the same for the detailed explanation.

For a bit more context on my part, I've been poking around the code and I see some potential candidate approaches

[2020-05-04 06:56] Abhi-bn commented on #27554
to late but still: I just ran pub get on wsl (1) and it worked flawlessly

[2020-05-04 07:16] mraleph commented on #37753
@cskau-g oops, I confused myself what the question was referring too, apologies.

Yeah, those are the right place to look into. The disabling these type-checks should lead to slightly smaller binary size and potentially faster execution.

[2020-05-04 08:15] #41386 closed

[2020-05-04 08:21] bshlomo opened #41755 "Dart pad - No fault detection"
This code in the dartPad not working well, it should report an error
class TagTable {
  static  Map<String, List<String>> records = const {
    'RCRD_ALL': ['key1', 'key2'],
  };
}

void main() {
  print('1-${TagTable.records}');

  TagTable.records['RCRD_ALL'] = ['key5', 'key6'];

  print('2-${TagTable.records}');
}

--

Win-7 - Microsoft Windows [Version 6.1.7601]
Dart VM version: 2.7.2 (Mon Mar

[2020-05-04 08:58] rahadur commented on #41755
Ok i think the problem is that you are trying to update `const` value of **records** Map. Because const value is modifiable and your are trying to update value of a **Map['RCRD_ALL']** that's why your are not getting any compiler error.

Here is the code that works. [Read more about default value](https://dart.dev/guides/language/language-tour#default-value)
[code]

[2020-05-04 09:16] chingjun opened #41756 "DWARF file can't be converted to breakpad format"
DWARF file generated with `--dwarf_stack_traces --save-debugging-info=%s` can't be converted to breakpad format using breakpad's `dump_syms` tool.

Upon investigation that's because breakpad's tool skip entry with address == 0, and any entry after that that lines up with the previous entry.

Here's the output of my `readelf --debug-dump=line -W output.so`

[code]

The second statement creates an e

[2020-05-04 09:18] mraleph commented on #41755
@rahadur I understand you are trying to help - but you should try to understand the reported issue first. @bshlomo is not asking how to make their code work, they are reporting a bug - the code in question should report a runtime error, but it does not, at least in DartPad.

[2020-05-04 09:18] mraleph commented on #41755
/cc @sigmundch

[2020-05-04 09:27] mraleph commented on #41755
I have tested it with `dart2js` on the master and it seems to produce correct code that throws an error.

I guess dartpad might have a buggy version of dart2js.

@mit-mit Michael, do you know how often we update dartpad?

[2020-05-04 10:44] UnHumbleBen opened #41757 "API doc issue: KeyEvent class dispatch now possible using `wrapped` property"
The documentation for [KeyEvent](https://api.dart.dev/stable/2.8.1/dart-html/KeyEvent-class.html) claims that events cannot be dispatch using the ` EventTarget.dispatchEvent` method, but as [this StackOverflow answer](https://stackoverflow.com/questions/51895324/how-can-i-trigger-keydown-event-with-keycode-in-my-angulardart-5-test) points out, it is now possible with the `wrapped` property. Not on

[2020-05-04 10:49] #28832 closed

[2020-05-04 10:49] #31954 closed

[2020-05-04 10:49] #41100 closed

[2020-05-04 10:57] lrhn commented on #41100
Having consistent behavior is a good thing, but there is a limit to how much work should be spent on mitigating browser bugs. I don't think the impact here is big enough to warrant adding detection and workarounds for something which is, arguably, already an error situation.

[2020-05-04 11:00] mkustermann opened #41758 "Status file entries referring to multi-tests coming from VMOptions are not recognized"
If a test uses `// VMOptions=--foo` the test infrastructure will generate multiple test names, ending with integers e.g. `foo_test/0`. Using those names in status files have no effect.

/cc @karlklose

[2020-05-04 11:08] mit-mit commented on #41755
Moving this to the dartpad repo

[2020-05-04 12:30] Blimster opened #41759 "Unexpected analyzer message when using unary minus and list access operators together"
I have this code:
[code]
Additionally, implicit dynamic and implicit casts are disabled in `analysis_options.yaml`.

Running dartanalyzer gives the message `Missing variable type for 'b'.`. Expected behavior is no message.

Executing the code prints `-1` as expected.

Dart VM version: 2.7.2 (Mon Mar 23 22:11:27 2020 +0100) on "macos_x64"

[2020-05-04 13:18] mkustermann commented on #41748
Thanks for the confirmation, @lrhn

I have filed https://github.com/flutter/flutter/issues/56289 for the flutter team to take this on.

Will re-classify this issue as `area-vm` and mark it blocked until https://github.com/flutter/flutter/issues/56289 has been addressed.

[2020-05-04 13:35] Denmal1982 opened #41760 "how to get a parent class"
class A{}
class B extends A{}
class C extends A{}

please tell me how can I find out from class A that classes B and C inherit it?

[2020-05-04 14:34] #58163 closed

[2020-05-04 14:39] stereotype441 commented on #40381
I believe things are now working, however I expect my work on #41604 to cause enough churn that I want to leave this open until that work is finished; once that happens we can verify Windows support

[2020-05-04 14:51] #41649 closed

[2020-05-04 14:51] #41739 closed

[2020-05-04 14:54] vsmenon commented on #41431
@a-siva - what's the status here?  Do we have any blockers beyond internal testing?

[2020-05-04 15:11] mnordine commented on #41604
Is there a better way to run the `migrate` tool than the instructions here?
https://github.com/dart-lang/sdk/tree/master/pkg/nnbd_migration

Is there a package that could be run that I'm not finding on https://pub.dev?

[2020-05-04 15:17] mraleph commented on #41760
You can't - there is no such feature in the language that would permit you to know subclasses of the given class.  Why would you like to know that?

[2020-05-04 15:17] #41760 closed

[2020-05-04 15:52] jakemac53 commented on #41691
Right, we can't guarantee anything but we can make things less likely to break.

Correct, users depend on code that uses the analyzer but generally don't use it themselves. But, I don't really understand why this matters. The point is that the analyzer needs to be able to analyze a file with experimental features in it within a build. These may or may not be generated files, it shouldn't make a di

[2020-05-04 16:44] Hixie commented on #26488
That's the kind of thing I'm talking about. I found it surprisingly less pleasant an experience than having to pick from a list of "fromXXX" methods or similar.

[2020-05-04 16:59] rakudrama opened #41761 "[dart2js] Optimize Flutter .runtimeType patterns"
b328cadaacb12fac16a1b173c48f53ac1ba1352d Added a benchmark for the `canUpdate` hot method:
[code]
While the new Rti is quite a bit faster that the old rti, and faster than Dart JIT VM, the benchmark on dart2js on V8 still lags AOT VM by 3-4x.

The `Type` instance is cached on the `_Rti` object.

There are several things we can do:

- Make use of the context's interceptor rather than do the type di

[2020-05-04 17:05] rmacnak-google opened #41762 "Type promotion broken when null check includes assignment"
Simplified from some code in Observatory

[code]

This was accepted last week, but today it wants `a!.foo()`.

[2020-05-04 17:32] mehmetf commented on #41249
I am not entirely sure where we landed with this issue so I wanted to clarify. Do you intend to experiment with size attribution of data portion of the snapshot? or do you think it would be misleading and thus would like us to use the existing diff tool?

This is not a must-have, but I wanted to ask: Do we have something that works directly on AOT files rather than `instruction-sizes` output? (lik

[2020-05-04 17:35] a-siva commented on #41739
Do we need to open an issue to have engine/src/flutter/lib/web_ui/dev/test_platform.dart move away from depending on this package?

[2020-05-04 18:01] alexflav23 commented on #41659
+1, this is painful to the point of ridiculous.

[2020-05-04 18:15] lexaknyazev opened #41763 "Detecting an empty StackTrace"
Starting with SDK 2.8, a `StackTrace.empty` static const is available. Unfortunately, it cannot be used to detect empty stacktraces in a platform-independent way.

Consider this code:
[code]

Dart VM output:
[code]

JS-compiled output:
[code]

Maybe `stackTrace.isEmpty` getter would be a reasonable addition?

[2020-05-04 18:22] mkustermann commented on #41739
See here: https://github.com/flutter/flutter/issues/56289

[2020-05-04 18:23] leonsenft commented on #35311
We revisited removing `export`s from our generated code and hit this issue again (we forgot about it).

@sigmundch I believe dart2js shipped a whole new type system since we lasted discussed this. Any chance this is addressable now?

[2020-05-04 19:15] jonahwilliams opened #41764 "What dart defines are expected to be set for a kernel target?"
Currently flutter relies on a bit of  hack to determine whether or not it is running on the web: https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/foundation/constants.dart#L49

This has prompted multiple calls for rewrites. One of the suggestions was to use `bool.fromEnvironment('dart.library.html')` (setting aside the fact that the tool could set its own `dart.vm.web` const

[2020-05-04 19:17] natebosch commented on #41764
cc @leafpetersen @lrhn - should `bool.fromEnvironment('dart.library.*')` be put in the spec somewhere?

[2020-05-04 19:23] imod commented on #31013
any plans to fix this?

[2020-05-04 19:25] vsmenon commented on #35311
@rakudrama re new rti impact on this.

[2020-05-04 19:26] rakudrama commented on #41764
`bool.fromEnvironment('dart.library.html')` is also a hack and would go away if the flutter web bindings were written entirely with JS-interop. I expect that the number hack will be more stable.

The VM defines `bool.fromEnvironment('dart.isVM')`.
We could arrange that some other values are defined on other targets.

[2020-05-04 19:36] mraleph commented on #41249
I have been slowly working on this issue - I have a reasonable prototype working, and I will start landing pieces this week.

We don't have such tool, and there are few challenges building one:

- snapshot format is not self descriptive and is tied to a specific VM version (and it is less stable than DEX, especially when we are working on code size)
- some of the connections between different obje

[2020-05-04 19:57] #40642 closed

[2020-05-04 20:05] MichaelRFairhurst commented on #41658
I will mark this as closed. Since it seems to perhaps come and go, please re-open if you experience this on bleeding edge. It's likely the same issue as the one linked, which was fixed between the last stable release and bleeding edge.

[2020-05-04 20:19] srawlins opened #41765 "Migration tool should edit package_config.json"
The migration tool should set the language version in the new [package_config.json](https://github.com/dart-lang/language/blob/master/accepted/future-releases/language-versioning/package-config-file-v2.md) file.

I believe it should suss out _this_ package's name, find it in the file, and change the `languageVersion` field to something like 2.9.0, in order to enable Null Safety.

The goal is to al

[2020-05-04 20:58] alexmarkov opened #41766 "Dart code is executed before null-safety mode is detected"
Can be reproduced by adding

[code]

to the beginning of `DartEntry::InvokeCode`.

[code]

[code]

We cannot compile and run Dart functions without figuring out null-safety mode first. So null-safety mode should be detected before we attempt to run any Dart code.

/cc @a-siva @crelier

[2020-05-04 21:47] bkonyi opened #41767 "Deprecate client synchronization methods in VM service"
Client synchronization will be moving to the DDS protocol.

Tracking failure of `service/client_resume_approvals_multiple_names_test/service` on dartk-mac-debug-x64, as this test will only run for DDS once removed from the service protocol.

[2020-05-04 22:25] stereotype441 commented on #41485
It looks like there may have been some miscommunication about this feature.  My understanding from talking to @kevmoo is that since we discovered that the URL shortener won't pass through query parameters, we want to go back to the idea of using a direct link.  That way we can pre-populate the bug report with the SDK version, and a stack trace if that's relevant.

Currently the bug is just pre-pop

[2020-05-04 22:28] stereotype441 commented on #40383
Note that @yjbanov brought this up in his meeting with the migration team on Aug 28.

[2020-05-04 22:35] srawlins commented on #41485
I thought that was a separate issue. I thought that this issue was just for a button that the user can press at any time. Then separately there was an issue that, when the preview tool hit a 500, the user was prompted to report this issue, with a stack trace pre-populated.

But I'm happy to add the SDK version to this link.

[2020-05-04 22:39] natebosch commented on #41520
I think you can change these cases from `} catch(` to `} on dynamic catch(` to get unblocked. I'd file an issue for each one to get cleaned up - they seem like potential bugs to me.

[2020-05-04 23:01] srawlins commented on #41485
I'm working on this.

[2020-05-04 23:09] leafpetersen commented on #41764
The spec doesn't generally specify what things are made available to the fromEnvironment constructors.  Is there an argument for specifying these, instead of making them tool specific?

[2020-05-04 23:21] MiichaelD opened #41768 "Issue when moving file to new directory"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.8.0`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b4-5784211x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.15.4, screens 2560x1440, 2560x1600, 1680x1050  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/w2/jdp01h4d6nn1fzq4

[2020-05-04 23:47] bkonyi commented on #40567
The standalone VM now has a `--disable-dart-dev` flag which will allow for pre-dartdev behavior.

[2020-05-04 23:47] #40567 closed

[2020-05-04 23:51] natebosch commented on #37899
It looks like this behavior has been around for a while, December 2018 we got our first report.

https://github.com/dart-lang/angular/issues/1694

I don't know how long before that Chrome started doing this. This only happens when using `<datalist>` and choosing an option. I do think it would be worth filing a bug against chrome to make sure this is intentional.

[2020-05-04 23:56] natebosch commented on #41764
I think mostly that if they are tool specific flutter is less likely to use them for fear of inconsistencies.

[2020-05-04 23:58] srawlins opened #41769 "Migrator should use pub outdated to advise users"
There is room for design or changes to this feature, but here is the basic idea:

When a user goes to migrate a package (call it "my_pkg"), by just `cd`-ing into their repo and running the migration tool, we should do some checks up front, regarding their dependencies. Let's say my_pkg has a dependency on my_dep, and my_dep has the following releases:

* my_dep 1.0.0 is _not_ opted into Null Safet

[2020-05-05 00:00] jonahwilliams commented on #41764
Another case is that if someone wrote a dart package against the dart vm or dart2js (without flutter) and relied on the existence of one of these values, they might end up filling an issue against the Flutter SDK if they find that it is unset when we compile their code.

To resolve that issue, we might look for recommendations or a specification on when these values should be set.

[2020-05-05 00:05] jonahwilliams commented on #41764
In this case the advise might need to be "you can't rely on those values they are tool specific" - which is completely fine too.

[2020-05-05 00:06] sigmundch commented on #35311
@leonsenft - correct! This is now unblocked with the new-rti. We are still wrapping up several aspects of null-safety in dart2js, but after that, @joshualitt is planning on taking a look at this.

[2020-05-05 00:11] leafpetersen commented on #41764
To be clear (which I wasn't), when I say "tool specific" I don't mean "different Dart team supported tools do different things", I mean "the language doesn't require a conformant implementation to do anything specific, but all Dart team supported tools will do one consistent, documented thing".

This is what we do with config specific imports, for example.  The language says that config specific i

[2020-05-05 00:15] jonahwilliams commented on #41764
Ahh, yes - In that case I would agree that doing a consistent, documented thing would ideal. It doesn't particularly matter to me where that documentation lives, provided that it is reasonably discoverable.

[2020-05-05 00:30] sigmundch commented on #41764
I should clarify here that this is not the case. Conditional imports and these fromEnvironment variables are consistent with each other. Which libraries are supported (and as a result which `fromEnvironment` values exist) is directly derived from the libraries.json file on CFE-based tools (vm, ddc, and dart2js). Even if the code doesn't use `dart:html`, `bool.fromEnvironment('dart.library.html')`

[2020-05-05 00:45] leafpetersen commented on #41691
Can you elaborate on this?  What thinks do you want to do to make it less likely to break?

I don't understand then.  Why do they need to enable the experiment in package:analyzer if package:analyzer is never seeing their code?  I thought we were talking about code generators using package:analyzer to consume experimental code, but I am potentially getting lost here.  😄

My suggestion (possibly a

[2020-05-05 00:48] #41751 closed

[2020-05-05 01:08] shinriyo commented on #37978
Android Studio?
I upgrade Android Studio, it happened...

[2020-05-05 01:13] rundong08 commented on #39738
I had the same issue in IntelliJ today, but after a `flutter upgrade` the issue is resolved.
The updated version is:
[code]

[2020-05-05 01:23] leafpetersen commented on #41520
https://dart-review.googlesource.com/c/sdk/+/146521

[2020-05-05 02:28] #38676 closed

[2020-05-05 02:31] shinriyo commented on #31343
`exclude` doesn't work

[2020-05-05 02:50] stereotype441 commented on #41485
Thanks Sam!  You're right that the "report an issue when the preview tool hits a 500" feature and the "report an issue because the user just wants to report an issue" appear to be implemented as separate pieces of code, and have different behaviors.  The "report an issue when the preview tool hits a 500" does seem to populate the stack trace.  But it doesn't seem to populate the SDK version (inste

[2020-05-05 03:09] franklinyow commented on #41497
@mit-mit I search the code (link in description), so I need one bug for vm and one for dart2js?

[2020-05-05 03:28] srawlins commented on #41485
I've addressed both in https://dart-review.googlesource.com/c/sdk/+/146461.

[2020-05-05 04:05] #41485 closed

[2020-05-05 04:19] #58159 closed

[2020-05-05 06:56] mit-mit commented on #41497
Sounds good

[2020-05-05 07:00] lrhn commented on #41764
The only environment variables that are specified generally are the `dart.library.x` which correspond to the availability of `dart:x` in the current compilation.

The configurable imports are loosely defined in the specification so that particular implementations can restrict which environment variables they support switching on.
The original design allowed *any* environment define to be used, but

[2020-05-05 08:05] johnniwinther commented on #41684
This is triggering a latent bug in the CFE and is not a priority for Null Safety Tech Preview.

[2020-05-05 08:34] yulingtianxia commented on #35843
I'm working on [binding of native](https://github.com/dart-native/codegen). But it depends on [dart_native](https://pub.dev/packages/dart_native), which is a bridge between dart and iOS/Android using dart ffi.

[2020-05-05 09:01] #33124 closed

[2020-05-05 09:57] DanTup commented on #41423
Being able to step into dart:_ libraries is fixed in v2.9.0 of the SDK but also needs a VS Code change before it'll work there (done in https://github.com/Dart-Code/Dart-Code/issues/2423 - which will ship in the next release).

[2020-05-05 10:32] sigurdm opened #41770 "stdout.supportsAnsiEscapes doesn't recognize TERM=screen-256color"
This program prints `false` when run with `TERM=screen-256color`

That setting is used by GNU screen which indeed supports ansi escapes.

[code]

Terminal ansi support detection is probably not easy to get right :(

[2020-05-05 11:10] jonasfj commented on #41770
Also used by `tmux`.

[2020-05-05 11:18] sstrickl opened #41771 "Failures on Allow `NoSuchMethodError.withInvocation` to accept any `Invocation`."
There are new test failures on [Allow `NoSuchMethodError.withInvocation` to accept any `Invocation`.](https://github.com/dart-lang/sdk/commit/2ca3555c44ac7b98bb366e19ff891c4b4c4940e7).

The tests
[code]
are failing on configurations
[code]

This test should either be modified to work with obfuscation or SkipByDesign'd in the status file.

[2020-05-05 11:25] akhilprogrammer opened #41772 "Dart Server side Framework"
we want a powerful Dart Server side Framework from official team.
we love the simplicity  of dart

i know there have also a serverside when i writing this.
but we need a powerful one that can beat others like node,django etc

[2020-05-05 11:31] sortie commented on #41706
In that case, I recommend we still add a test that Dart decodes as ISO-8859-1 as that's the behavior we implement and we won't want to break it unintentionally. Can you do that?

[2020-05-05 11:36] lrhn commented on #41771
We still have status files? What year is this?!? 😄

It should be skipped by design. Not sure how to select for "obfuscate" in the status file, though.

[2020-05-05 11:39] jonasfj commented on #41770
Hmm, `man 7 term` suggests the `TERM` env var can be looked up in `infocmp`, which is probably the right thing to do.

[2020-05-05 12:45] sortie commented on #41770
Sigh.

[code]

This is so wrong. Dart needs proper support for terminfo(5). Like it would be good if it e.g. exposed `tgetstr()` from `termcap(3NCURSES) `.

[2020-05-05 12:56] sortie commented on #27554
I'm closing this issue given the reports that it works now. Please let us know if you still have problems with the latest Dart and WSL.

[2020-05-05 12:56] #27554 closed

[2020-05-05 13:03] sortie commented on #41663
Yes let's be strict. It seems the `inet_pton` function is more tailored for system use and allows some additional notations that we don't.

I suggest we write a IPv4/IPv6 parser in Dart based on the formats described by the appropriate RFCs. I don't see any reason to call into native code.

@zichangg Might you be interested in taking this one?

[2020-05-05 13:08] mraleph commented on #41663
We should be considerate of binary size. Is there any really strong reason to add this to _our_ core libraries? If not - we should *not* write our own parsers.

[2020-05-05 13:29] rgisi opened #41773 "Frequent crash of Dart Analysis Server in Android Studio"
This pops up about every minute or so. It's quite annoying, as code completion depends on it (and therefore mostly returns the circular progress indicator...)

Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.8.0`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b04x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1600x900`

## Except

[2020-05-05 13:30] sortie commented on #41663
Compelling point about code size.

I don't see a way of becoming stricter without more code. But perhaps it could be offset by removing the native code calling `inet_pton`. If we have a parser in Dart, we can tree shake it, and we can remove `SocketBase::ParseAddress` and the `InternetAddress_Parse` native function.  We would have to measure the size difference.

[2020-05-05 13:32] sortie commented on #35147
Duplicate of https://github.com/dart-lang/sdk/issues/33721

[2020-05-05 13:32] #35147 closed

[2020-05-05 13:44] vsmenon commented on #41653
Is the fix here in the sdk or in internal test code?

[2020-05-05 13:44] vsmenon commented on #41653
I.e., is there anything to fix in the SDK still?

[2020-05-05 13:45] stereotype441 commented on #41321
I've prototyped this here: https://dart-review.googlesource.com/c/sdk/+/146620

Here's a sample of what the summary looks like right now (I prettified the JSON a bit).  @cbracken and @yjbanov, what do you think?

[code]

[2020-05-05 13:48] sortie commented on #36728
@zichangg Can you confirm if this is a duplicate of the issue you recently fixed?

[2020-05-05 14:54] jakemac53 commented on #41691
If the analyzer is upgraded such that it has a language version greater than the current sdk, then we would no longer be able to accept any `--experiment` flags, nor could we tell the user what version they should depend on to gain back that ability.

The analyzer is used to at least parse directives regardless of the presence of codegen. Some of those directives might include experimental syntax.

[2020-05-05 15:41] stereotype441 commented on #41604
Those instructions are the best way to run the `migrate` tool.  The goal of this issue is to make internal changes so that the internals of the migration tool get pulled from https://pub.dev, but even after it is done, the user experience will be to run the tool using `dart migrate`.

[2020-05-05 15:54] kevmoo commented on #41172
Seems to be resolved in f724ff477b82e585a1ba571e764b01294b7f99c0

[2020-05-05 15:57] leafpetersen commented on #41691
Used by what, specifically?

I'm really lost now as to what you are asking for.  What is a specific workflow that you are asking for, that you think should work, and what specific behavior are you asking for from package:analyzer to support that workflow?

[2020-05-05 16:14] stereotype441 commented on #41691
Let's try to resolve this in a meeting.  I'll set one up

[2020-05-05 17:38] zoeyfan commented on #41175
The remaining work is not size-related.

[2020-05-05 17:39] bkonyi opened #41774 "Improve handling of --snapshot when using a VM with DartDev"
It's currently very easy for a user to mistakenly take a snapshot of DartDev instead of the intended Dart program if `--snapshot` is passed before a DartDev command. This flag should be forwarded to the spawned Dart process and a warning or error should be raised if `--snapshot` is passed as a VM option without `--disable-dart-dev`.

[2020-05-05 17:47] kysup2000 opened #41775 "Pine Script: Highest and Lowest bar within the completed MACD histogram"
I have started to learn pine scripting since last month and as you can expect, I am a beginner.
For the last few days, I've been trying to plot specific information on the chart but it did not go through well.. I would be grateful if you could help me with that...

I am trying to spot the highest bar within the completed MACD histogram(above 0), and the lowest bar within the completed MACD histogr

[2020-05-05 17:51] stereotype441 commented on #41409
Here's a shorter repro:
[code]

[2020-05-05 17:51] #40272 closed

[2020-05-05 17:51] #41585 closed

[2020-05-05 18:03] nshahan commented on #41653
Our plan is to land a change to the SDK that restores the original behavior only when running in weak mode. This will unblock the unfork and gives us more time to investigate and fix the client code that accidentally depends on the synchronous timing.

[2020-05-05 18:56] mraleph commented on #41775
This has nothing to do with Dart.

[2020-05-05 18:56] #41775 closed

[2020-05-05 19:39] zanderso commented on #41663
I'd encourage (at least) investigating @jonahwilliams' suggestion of using parsing calls from boringssl. Size increase should be ~0 there since the VM is already linking against boringssl on all platforms.

[2020-05-05 19:46] keertip commented on #41754
@sagarpatel115 , sorry, there is not enough information here (no logs) to proceed. Closing issue.

[2020-05-05 19:46] #41754 closed

[2020-05-05 19:47] keertip commented on #41745
@ENGMElaraby, there is not enough information here to proceed (no logs). Closing issue.

[2020-05-05 19:47] #41745 closed

[2020-05-05 19:51] keertip commented on #41772
@akhilprogrammer, this is where the community can contribute. Did you do a search for Dart server frameworks. There are some available.

Closing as not actionable.

[2020-05-05 19:51] #41772 closed

[2020-05-05 20:09] #39832 closed

[2020-05-05 20:42] #41706 closed

[2020-05-05 20:47] stereotype441 commented on #41409
Ok, I've diagnosed the problem.  What's happening is that the signal we use to decide when exact nullability propagation needs to happen is when we resolve a substitution node in favor of the "inner" node.  That works fine for a trivial example like this one:
[code]
because when analyzing the call to `add`, we substitute `int(2)` for `E(1)` in the type of `List.add` (which is `void Function(E(1))`

[2020-05-05 21:38] bkonyi opened #41776 "Segfault during snapshot generation on AndroidXARM_X64 builds"
This seems to be easily reproducible with:

`./tools/build.py -mdebug -aarm_x64 create_sdk`

Relevant log output:

[code]

[2020-05-05 21:45] rapus95 commented on #26488
What's the difference between typing `MyType.<Tab>`
* `(x, y)`
* `fromT1(x)`
* `fromT3(x)`
* `fromOther(x)`

and typing `MyType(<Tab>`
* `(x, y)`
* `(x::T1)`
* `(x::T3)`
* `(x)`

?

[2020-05-05 21:56] stereotype441 opened #41777 "Triage and fix remaining analyzer test failures"
Over the years we've accumulated a set of tests that are known to fail under the analyzer.  Many of these tests are failing due to flaws in the tests themselves.  Others are probably failing due to analyzer bugs.  It's been a long time since we triaged these failures and evaluated which ones are worth fixing.  It would be nice to do a round of triage, fix the flawed tests, and file issues and/or m

[2020-05-05 22:10] natebosch commented on #41739
Do we have another tracking issue to reverse this after fixing flutter?

[2020-05-05 22:17] scheglov opened #41778 "language/extension_methods/static_extension_getter_setter_conflicts_test is failing"
[The log](https://dart-ci.appspot.com/log/analyzer-nnbd-linux-release/analyzer-asserts-strong-linux/2640/language/extension_methods/static_extension_getter_setter_conflicts_test).

See the reduced test code.

[code]

I think there is not error here. @munificent @eernstg

According to [the spec](https://github.com/dart-lang/language/blob/master/accepted/future-releases/static-extension-methods/feat

[2020-05-05 22:40] rmacnak-google commented on #39427
Related: 6fe15f6df93150b377c306d15b1173454fda48c2

[2020-05-05 22:40] rmacnak-google commented on #39427
Related: 60493d58fbc5648ef252110ebdf3798138440f92

[2020-05-05 23:12] bkonyi commented on #41774
It appears this is working as intended and `tests/standalone_2/io/snapshot_fail_test.dart` only fails on simarm builds due to the fact that we run from kernel instead of running from source.

[2020-05-05 23:12] #41774 closed

[2020-05-05 23:42] leafpetersen commented on #41497
I don't think dart2js is special here.  I think there is one for the CFE (which consumes the flag), and possibly one for the VM, dart2js, and ddc which may (or may not) pass the flag to the CFE.

There is also coordination to be done with whatever is passing those flags in the build files and on the bots.

I'd probably start by checking with @athomas and @johnniwinther .

[2020-05-05 23:43] leafpetersen commented on #41497
p.s. you probably also need to search for `--null-safety` since the flag is negatable.

[2020-05-06 01:35] franklinyow commented on #41431
Latest run has no issues https://github.com/flutter/flutter/pull/56309
Closing

[2020-05-06 01:36] #41431 closed

[2020-05-06 01:45] liudonghua123 opened #41779 "automatic add comma after close parenthesis"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer

If you aren't sure, file the issue here and we'll find the right home for it.
In your issue, please include:

* Dart SDK Version (`dart --version`) 2.9.0
* Whether you are using Windows, MacOSX, or Linux (if applicable), yes, Windows
* Whether you are using Chrome, Safari, Firefox, Edge (if applica

[2020-05-06 02:47] zichangg commented on #36728
@StanevDev Could you please verify what version of dart you are using?

[2020-05-06 03:28] scheglov commented on #41172
61c8ac8b4661af6784b14ed9f3641e47f90bad88 implemented promotion to NonNull of the declared type in Analyzer and CFE.

[2020-05-06 03:28] #41172 closed

[2020-05-06 03:52] sgrekhov opened #41780 "Analyzer crashes with NoSuchMethodError"
Run analyzer with `--enable-experiment=non-nullable` on the following code
[code]
the result is
[code]

Tested with `dartanalyzer version 2.9.0-5.0.dev`

[2020-05-06 04:24] rakudrama opened #41781 "dart2js crash in set literal following throw"
[code]
[code]

[2020-05-06 04:53] srujzs commented on #41653
Change is pushed in, will document in CHANGELOG and mark this as fixed.

[2020-05-06 06:05] sgrekhov opened #41782 "No error in analyzer for super.call"
According to the https://github.com/dart-lang/language/issues/734#issuecomment-565487654 calling a `call` method via `super` call is an error for now. But analyzer still accepts the following code
[code]
Tested with `dartanalyzer version 2.9.0-5.0.dev `

[2020-05-06 08:31] sortie commented on #36728
@zichangg Note this is an old issue from long before your fixes. I'm trying to determine whether it is a duplicate issue and whether it can be closed as such. If you don't think we have enough information to diagnose it, then you can add the needs-info label and the issue will be auto-closed if no-one responds for a while.

[2020-05-06 08:43] chingjun opened #41783 "symtab should be superset of dynsym"
In the output generated by `gen_snapshot` in ELF format without `--strip`, symbols in dynsym should also be in symtab (e.g. `_kDartIsolateSnapshotInstructions`)

Many tools assume that symtab is the superset of dynsym, and will not read dynsym at all if symtab is present.

breakpad only looks in dynsym if symtab does not exist: https://github.com/google/breakpad/blob/master/src/common/linux/dump_s

[2020-05-06 09:12] lrhn opened #41784 "The `Symbol` class should expose a way to get the *base name* of a symbol"
Currently `noSuchMethod` provides an `Invocation` where a getter has the `memberName`, say, `#foo` and the corresponding setter has the name `#foo=`.

There is no easy way to recognize the relation between these two. They are not equal, and there is no way to go from one to the other.

If actually writing a `noSuchMethod`, it's occasionally useful to be able to make the link between the two.
I pro

[2020-05-06 09:30] lrhn commented on #41771
Fixed.

[2020-05-06 09:30] #41771 closed

[2020-05-06 09:36] lrhn commented on #41763
What is an "empty stack trace", and why do you want to detect it?

If it's any stack trace with an empty content, then `stackTrace.toString().isEmpty` should do it.

Anyone can create a new empty stack trace using `new StackTrace.fromString("")`. They can also create one containing anything else they want it to contain, so being empty isn't a particularly interesting special case.

If you want to

[2020-05-06 09:41] davidmorgan opened #41785 "`breakpoint_non_debuggable_library_test.dart` makes it hard to update `package:path`"
The test hardcodes references to lines in `path.dart`, so these need updating whenever `package:path` gets updated

https://dart-review.googlesource.com/c/sdk/+/144722

would it be possible to either remove the dependency or make it smarter, please? (...it could search the src for the right line, I guess, on the assumption that the public interface is not going to change).

[2020-05-06 11:15] DanTup commented on #38894
@bwilkerson @ThinkDigitalSoftware as far as I can see, this isn't working (in the most recently nightly build):

### Shows up if imported

<img width="400" alt="Screenshot 2020-05-06 at 12 12 40" src="https://user-images.githubusercontent.com/1078012/81170683-02504180-8f93-11ea-90cd-978489c6ae88.png">

### No completion if not imported

<img width="388" alt="Screenshot 2020-05-06 at 12 12 20" src=

[2020-05-06 11:44] DanTup commented on #26488
I've seen the issue described above in TypeScript and it can be pretty annoying. Something changes in a library/API so that my call is wrong. Navigating through the overloads to try and figure out what I need to change can be hard as the compiler often picks the wrong overload for the message:

<img width="841" alt="Screenshot 2020-05-06 at 12 24 53" src="https://user-images.githubusercontent.com/

[2020-05-06 11:59] jensjoha commented on #40419
Fixed with a840da4617565975fb773382fdf1a58376735d9b, 497bdc52269e8f8d83f4eed9770cb8c96b450fc4 and 5b76fc217295a4a62f2b89a96051d8b204c433ae.

[2020-05-06 11:59] #40419 closed

[2020-05-06 13:07] Umar100 commented on #38102
Flutter clean does the trick

[2020-05-06 13:41] jensjoha opened #41786 "Crash in package:kernel/transformations/continuation.dart on invalid type"
With https://dart-review.googlesource.com/c/sdk/+/146805 :

pkg/front_end/tool/fasta compile --omit-platform --dump-ir pkg/front_end/testcases/general/async_method_with_invalid_type.dart

[code]

[2020-05-06 13:44] jensjoha opened #41787 "CFE crash with ambiguous builder"
With https://dart-review.googlesource.com/c/sdk/+/146805

out/ReleaseX64/dart pkg/front_end/tool/_fasta/compile.dart --omit-platform --dump-ir pkg/front_end/testcases/regress/ambiguous_builder_01.dart
[code]

out/ReleaseX64/dart --enable-asserts pkg/front_end/tool/_fasta/compile.dart --omit-platform --dump-ir pkg/front_end/testcases/regress/ambiguous_builder_01.dart
[code]

[2020-05-06 13:49] mraleph commented on #41761
Note that we have a special optimization for `x.runtimeType == y.runtimeType` - implemented in f4ec20abac2286604565e9d5a6d1d744849c964d

[2020-05-06 13:56] srawlins opened #41788 "Migrator can add double null-checks when a parenthesized expression has a null-check hint"
Currently the migrator will migrate this:

[code]

to this:

[code]

I think it wants to add a null-check for the hint, and one for the return type.

[2020-05-06 14:13] manyopensource opened #41789 "Is something wrong in the code?"
Fine:
[code]
Not fine:
[code]

[2020-05-06 14:16] #41789 closed

[2020-05-06 14:24] bwilkerson commented on #38894
@jwren Using a build from yesterday morning (and IntelliJ), I'm seeing the completion when the library has been imported, but I am not seeing a completion when it has not been imported, nor any kind of quick fix (I'm not even getting 'Extract Method').

[2020-05-06 14:50] jakemac53 opened #41790 "Supporting files for the `ddc` module format are not shipped with the sdk"
In order to use the `ddc` module format we need the corresponding `dart_library.js` and `dart_sdk.js` files shipped with the SDK, but it looks like they are missing today, I only see `amd`, `common`, and `es6` directories under `lib/dev_compiler/kernel` in the shipped SDK.

This is a blocker for us migrating to that format externally.

[2020-05-06 15:00] athomas commented on #40850
Fuchsia also has issues with this warning and disabled it in ICU:
https://fuchsia.googlesource.com/third_party/icu/+/44aba1dafbbe5a9bc9744b4d0373c1b316e30a58%5E%21/#F0

So we could do the same. They also referenced this issue, indicating that the warning might go away when it is resolved: https://unicode-org.atlassian.net/browse/ICU-20869

[2020-05-06 15:07] mkustermann commented on #41739
We have an issue for the VM to prefer the new format, yes: https://github.com/dart-lang/sdk/issues/41748

[2020-05-06 15:13] mkustermann commented on #41748
Flutter has moved to Lasse's new package, so we should be unblocked on preferring to use the new `.dart_tool/package_config.json` over `.packages`.

Made CL: https://dart-review.googlesource.com/c/sdk/+/146840

[2020-05-06 15:28] mit-mit commented on #41362
@https://github.com/sigmundch did this land? If not, please move to D29

[2020-05-06 15:30] sigmundch commented on #41362
It did land. It's also referred to in the 2nd breaking change under Language in https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#281---2020-05-06

[2020-05-06 15:30] #41362 closed

[2020-05-06 15:49] leafpetersen commented on #41520
I landed the above change.

[2020-05-06 16:24] zichangg commented on #36728
@sortie From the description, I think this is a duplicate.
My fix went in about 2 months ago, but @StanevDev 's comment is very recent, it is probably a different issue.

[2020-05-06 16:51] eernstg commented on #41778
I agree that `C<Object>` is the more specific instantiated `on` type, so the chosen extension member should be `E1<Object>.foo`, and there is no error.

I suspect that this test was migrated in such a way that the specificity changed (a quick check in `language_2` supports this), and it should simply have been `var c1b = C<Object?>();` in `main`.

With that, the extensions are equally specific (bo

[2020-05-06 17:01] jakemac53 commented on #41691
We discussed offline and came to the following solution:

- Experiments will only be allowed if the current analyzer and SDK agree on the language version
  - If they don't then build_runner will fail and tell you the current language versions of each, and suggest some combination of updating your SDK and/or downgrading or upgrading your analyzer.
- If we get reports from users who are having a ha

[2020-05-06 17:10] rakudrama commented on #41761
@mraleph Thanks for the reference to the VM optimization.
I notice in the new `RuntimeType` benchmarks that AOT is 7x faster than VM.
What extra is AOT doing?

[2020-05-06 17:24] mraleph commented on #41761
The runtimeType optimization is AOT specific

[2020-05-06 17:44] mkustermann opened #41791 "Add various tests for lightweight AOT isolates change in 8d1c4c5 revealed some failures in the sanitizers"
The `[vm/concurrency] Add various tests for lightweight AOT isolates` change in 8d1c4c555ce808b0a8ba2c513d25ca86d5b48f74 revealed some failures in the sanitizers

The tests
[code]
are failing on configurations
[code]

[2020-05-06 17:45] mkustermann commented on #41791
/cc @aam

[2020-05-06 17:50] davelnewton commented on #39965
The lack of a REPL is indeed a pain point.

I will say that just running local code in VS Code (which respects pubspecs) isn't *terrible*, but it lacks the immediacy of Lisp/JS/etc.

[2020-05-06 18:10] willhaslett commented on #39965
Well-put. Having the environment at your fingertips isn't the unique thing with the REPL, it's being able to execute one-liners and set up Class instances that you want to play with in a flash.

[2020-05-06 18:54] hepin1989 commented on #39965
How I got on board of Scala 、Clojure and Elixir is they all have a REPL...

[2020-05-06 19:25] rakudrama commented on #41781
Fixed via a85c8b75204ba8879b0220bf232b94d1ff8bf48c

[2020-05-06 19:25] #41781 closed

[2020-05-06 19:31] #41653 closed

[2020-05-06 19:58] #41388 closed

[2020-05-06 19:58] #41188 closed

[2020-05-06 20:02] scheglov commented on #41778
https://dart-review.googlesource.com/c/sdk/+/146963

[2020-05-06 20:09] scheglov commented on #38894
I don't think this can work when the extension is not imported.

Available declarations don't have enough type information to support type matching in general case.

One thought that I had recently is that I like how completion in Cider works, with limiting the number of suggestions transferred, an ability to transfer more if necessary, server-side initial filtering, and re-request if the filter c

[2020-05-06 20:11] devoncarew opened #41792 "the organize imports operation can change the position of TestOn() annotations"
The organize imports operation can change the position of TestOn() annotations for imports. This changes the semantic meaning of the test annotation - `pub run test` will start running tests on platforms that aren't expected.

See the commit: https://github.com/flutter/devtools/pull/1911/commits/1078d7f325371bca3e2c44f89768f82c4449393d#diff-392849cb2d6b63d0ab4aed6c3162044c for an example. The `@Te

[2020-05-06 20:25] scheglov commented on #41792
https://dart-review.googlesource.com/c/sdk/+/146922

[2020-05-06 20:27] devoncarew commented on #41792
Thanks!

[2020-05-06 20:33] mraleph commented on #41761
For JIT we only have:

- intrinsics for fast `runtimeType` if object is an instance of a non-parameterized type
- intrinsics for fast comparison of type objects
- constant evaluation of `runtimeType` if receiver type is known at compile time (e.g. due to type feedback based specialization).

[2020-05-06 20:35] athomas commented on #41497
This should be in the test matrix, e.g.:
https://github.com/dart-lang/sdk/blob/c5a5884b7ff58794e9ac921e0537353323282189/tools/bots/test_matrix.json#L628

[2020-05-06 20:43] bwilkerson commented on #38894
What if we cached (either in available declarations or elsewhere) a map from the names of extended types (without type arguments) to the (paths of) libraries containing extensions of those types. I'm guessing that for any given type name the list of library paths would be fairly small and that we could then access the elements for those libraries, checking that the actual types match the target ty

[2020-05-06 20:51] pedromassango opened #41793 "Analyzer uses too much memory when there is many lints enabled"
The Dart Analyzer is taking 1,811.0MB of RAM when I have 125 lint rules enabled in `analysis_options.yaml`. After removing the 125 lint rules the memory usage decreased to 450MB (max).

![analysis_1](https://user-images.githubusercontent.com/33294549/81226680-2176bf80-8fe3-11ea-8eb4-48ad513a8fbc.jpg)

* Analyzer
* Dart SDK Version: the stable version before 2.8.1
* Windows

The lint rules that I h

[2020-05-06 21:23] srawlins commented on #40881
This issue should be defined more concretely. It looks like the AIs are:

* Launch the browser (and add a flag, `--[no]launch-browser`?).
* If the web preview is served, do not print text about `--apply-changes`.
* The current text is awkward:

[code]

  I like the word "suggestions" used earlier in the output. Maybe something like:

[code]

[2020-05-06 21:44] #41400 closed

[2020-05-06 21:47] devoncarew opened #41913 "NoSuchMethodError from package:build_runner_core/src/package_graph/package_graph.dart 74:15 PackageGraph.forPath"
We're seeing this failure on the DevTools bots:

NoSuchMethodError from package:build_runner_core/src/package_graph/package_graph.dart 74:15   PackageGraph.forPath

With the possible root cause being in `package:package_config`?

https://travis-ci.org/github/flutter/devtools/jobs/684021378#L591

[code]

[2020-05-06 21:51] rrousselGit opened #41794 "Analyzer: How to obtain the generic parameters of a ParameterElement?"
Hello!

Consider the following:

[code]

From the `ParameterElement` of `innerData`, how to obtain the generic parameters of `Whatever` (here `int`)?

`parameterElement.typeParameters` explicitly says that it works only for functions, and `parameterElement.type` doesn't seem to expose any way to read generic arguments.

I need to parse these generic parameters to fix a bug for a code-generator I m

[2020-05-06 22:03] stereotype441 commented on #41395
I think my work on #41402 is going to take care of this.

[2020-05-06 22:16] rrousselGit commented on #41794
Actually I found the solution:

cast `parameterElement.type` to `InterfaceType`

We can then do:

[code]

[2020-05-06 22:16] #41794 closed

[2020-05-06 22:18] stereotype441 opened #41795 "Migration: removal of hints forces immediate re-run of migration tool"
The migration tool now supports a workflow wherein the user can add several hints in arow without requiring a rerun.  However, for some reason this logic doesn't work for removing hints.  When removing hints, a re-run happens immediately, and there is no user feedback that the re-run is occurring.

We should just make it so that hints can be removed without requiring a re-run.

[2020-05-06 22:18] bwilkerson commented on #41794
Note that `parameterElement.type as InterfaceType` will sometimes throw a cast exception.

The getter `parameterElement.type` returns a `DartType`. You'll need to test the type to see whether it's a `ParameterizedType`. If it is, then you can use `typeArguments` to get the type arguments on the type.

[2020-05-06 22:22] rrousselGit commented on #41794
Good to know.

In which situation would a `parameterElement.type` not be a `ParameterizedType`?

[2020-05-06 22:28] bwilkerson commented on #41794
When it's neither a class nor a function, such as `dynamic`.

[2020-05-06 22:40] rakudrama commented on #18519
I'm going to close this.
We could do better GVN on idempotent operations, but very few would be from dynamic calls.

[2020-05-06 22:40] #18519 closed

[2020-05-06 22:43] scheglov commented on #38894
Ah, I'm sorry, I was thinking about free standing identifiers when stated that it will not work because of available declarations. Here we do have the target.

Yes, I think this could be done with caching of potentially applicable extensions.

[2020-05-06 22:43] crelier commented on #39175
I verify now that this issue has been fixed in CFE (not sure when).

[2020-05-06 22:43] #39175 closed

[2020-05-06 22:49] scheglov commented on #41792
We decided the CL solves  a wrong problem.

[2020-05-06 22:51] #41778 closed

[2020-05-06 22:59] rapus95 commented on #26488
When the compiler guesses, something went wrong already. The compiler should say, that there's no matching function and offer a list of options. But for the example you referred to, I don't think, language design has to cover the case that people change their API. Follow SemVer & deprecation guidelines and the mentioned case shouldn't occur at all.
If you however have the opinion that language des

[2020-05-06 23:11] jodinathan commented on #26488
When I was developing in C# few months ago, I didn't like when a method had dozens of overloads. This happen with TypeScript as well because of the JS burden it carries.
However, it was very nice when it was 2, maybe 3 overloads.

If I would use method overload, and I really would like to be able to, I would also like to have a lint that prevents overloading a method more than 3 times. Or somethin

[2020-05-06 23:30] rapus95 commented on #26488
I'm also against unnecessary bulk overloading, though, I don't see where you would overload if it's unnecessary. If there are good reasons for overloading several times (like mathematical functions) then just go ahead and do it, if multiple overloads don't share an abstract meaning, then place them in different scopes so that they don't collide.

[2020-05-06 23:30] mehmetf opened #41796 "Remove _embedderAllowsHttp in favor of domain-level network policies"
This is an issue to keep track of the cleanup work after domain-level network policies land to Flutter.

[2020-05-06 23:55] srawlins commented on #41181
Is the general idea behind "removeViaComments" that the tool should not be overly-destructive? Or is it about removing code that may still be live in weak null-checking mode? If it's the former, we may want to keep the existing behavior. i.e. if we change `@required` to `required` and then remove the `import "package:meta/meta.dart` import, that seems on the same order-of-destruction as removing d

[2020-05-06 23:58] srawlins commented on #41181
Oh, I ask also because there is a comment in edit_plan.dart:

and comments cannot affect strong/weak checking; their removal only affects how destructive the tool is...

[2020-05-07 01:38] annagrin commented on #40774
We can name the library closures (all of them with some detectable from the debugger name), and   only display the scopes that come after the library one.

This requires exposing scope name in WipScope class though - see https://github.com/google/webkit_inspection_protocol.dart/pull/56

[2020-05-07 02:10] leafpetersen commented on #41447
@johnniwinther

This [comment](https://github.com/dart-lang/sdk/issues/41447#issuecomment-615510672)  is the current algorithm.  Specifically:

To your follow up:

No they aren't the same, and it doesn't.  You know what - I'm going to just bang out a spec for this, there are too many corners.  I'll have it by end of (my) week.

[2020-05-07 02:12] leafpetersen commented on #38237
@scheglov We're discussing some of the corners of this feature [here](https://github.com/dart-lang/language/issues/946), but will have spec to you shortly.

[2020-05-07 02:13] jifalops commented on #41458
Reopening because it is still happening. The code will compile but I have to choose to ignore errors. This is in VS Code.

Flutter 1.17.0 • channel stable • https://github.com/flutter/flutter.git
Framework • revision e6b34c2b5c (4 days ago) • 2020-05-02 11:39:18 -0700
Engine • revision 540786dd51
Tools • Dart 2.8.1

[2020-05-07 04:55] srawlins opened #41797 "Analyzer: remove unused constructor parameters"
When you enable the `avoid_unused_constructor_parameters` lint in the analyzer, you find 10:

[code]

These should be marked `@deprecated` if public, and removed otherwise.

[2020-05-07 05:08] leafpetersen commented on #34714
This still seems to be an issue, I just ran into this.

[2020-05-07 05:18] askeksa-google commented on #41100
I benchmarked a post-scan for replacement characters. Here it adds about 6ns per byte on top of the `TextDecoder` time of 2-6ns per byte. In other words, it is a 4x slowdown for ASCII strings and 2x for the most complex strings. Still faster than the Dart version, though (for long strings).

[2020-05-07 05:20] srawlins commented on #29731
@bwilkerson Would an unused parameter of a private method be considered an "unused element" (and use the unused_element code)?

[2020-05-07 06:11] srawlins commented on #39259
The analyzer now accepts both programs above with no errors or warnings (I'm using 2.8.0-dev.9.0)

[2020-05-07 06:11] #39259 closed

[2020-05-07 06:13] zichangg commented on #41663
Unfortunately, boringssl doesn't handle IPv6 with scoped ID. [The implementation](https://github.com/google/boringssl/blob/54a59c68b77f5a13fa7f582179b2bc3f4160eea6/crypto/x509v3/v3_utl.c#L1234) doesn't check for potential `%scopedID`.

This is a special case for `inet_pton`(Some comments from https://stackoverflow.com/questions/10329908/bsd-sockets-ip6-inet-pton-and-how-to-retrieve-the-scope-id).

[2020-05-07 07:12] nateshmbhat opened #41798 "package:analyzer When the parameter type is Function type , type.element is getting 'null'"
I am using package:analyzer to do custom static analysis.

when I have dart code like below :

    class MyType{

        final void Function(MyItemType) callback ;
    }

When I try to access the `element` of the callback type : I am getting `null`

That is :

`parameterElement.type.element` evaluates to be `null` .
Therefore I cannot get the `source` file of the Types involved in the Function to

[2020-05-07 07:43] DanTup commented on #26488
I don't think that's entirely the case. Even if you follow SemVer, I might update a package across several versions (expecting breaks) and then have to fix up calls. Or I might rebase a branch I'm working on where a colleague has changed an internal API (and fixed up all existing code) but my branched code is now invalid. There are many reasonable ways you can end up with compile errors due to inc

[2020-05-07 07:50] DanTup commented on #38894
Slightly off-topic, but this is something I often think about for VS Code/LSP (in the context of performance, esp. for LSP where we can't preload all the available suggestions onto the client). There's support for going back to the server as the user types in both LSP and VS Code's APIs (though not adding more to the list asynchronously if the user didn't type) but I worry a little about:

1. Incr

[2020-05-07 08:14] mraleph opened #41799 "provide a way for classes to opt in into extended stack traces with context information"
# Motivation

We have discovered that stable release of Flutter contains a bug in the AOT transformation https://github.com/flutter/flutter/issues/56479, which crashes with the following stack trace

[code]

This stack trace gives us enough information to diagnose the problem - but unfortunately does not give us enough information to provide a work-around for the user - for that we need to know wh

[2020-05-07 08:14] mraleph commented on #41799
/cc @lrhn @rmacnak-google @mkustermann @leafpetersen @alexmarkov  - thoughts?

[2020-05-07 09:39] lrhn commented on #41799
If this is a JIT-only feature, then a declarative approach (using annotations or compiler flags) is probably better than an imperative one using code. That code would not even exist on other platforms. Annotations can be ignored.

The format:
[code]
does not say how to actually write the `...` values. How do you write a `Node` or `visitor` function out? Do you have a way built into the debugger to

[2020-05-07 10:14] chrisnorman7 commented on #4409
Over the last few days, I've used Python a lot, but only as a desktop calculator. If you need more reasons to include a repl, I'd love to reduce my dependency on Python! :)

[2020-05-07 10:46] mohak852 commented on #38732
I'm waiting for you to assign this to me
so I can start work on it

[2020-05-07 11:29] rapus95 commented on #26488
That's a fair point.
I want to repeat though, that when you sacrifice meaningful names for (overloading) less fitting names (the always-first argument against operator overloading, Dart has it nevertheless) you'll always run into those frustrating situations you describe. I'm just one of those guys who started many years ago with languages that had several restrictions options like visibility modi

[2020-05-07 11:44] eernstg opened #41800 "Front end: Implementation of new static analysis for return statements"
The null-safety specification updates in dart-lang/language#941 and dart-lang/language#948 have been unfolded as part of the migration of `tests/language/invalid_returns`. This issue is concerned with updating the CFE correspondingly.

The following tests have a missing compile-time error:
[code]

The main reasons for the above is that the rules about `return;` are now more strict, and a void expr

[2020-05-07 12:43] eernstg commented on #34714
Awaiting conclusion in dart-lang/language#366. I just noted that everybody seems to support the approach where the omitted type arguments are inferred.

[2020-05-07 12:44] #41137 closed

[2020-05-07 13:24] mkustermann opened #41801 "`tools/test.dart` seems to sometimes unable to kill subprocesses if they hit the timeout limit"
It seems like `tools/test.dart` is sometimes unable to kill subprocesses if the test hits the timeout. From [this log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8880994724693942432/+/steps/vm_tests_shard_1/0/logs/task_stdout_stderr:_vm_tests_shard_1/0) we know that this doesn't just happen with transitive subprocesses, but with the direct subprocess that `tools/tes

[2020-05-07 13:31] mkustermann opened #41802 "Embedded SDK hash in kernel binaries"
There are several layers of compatibility in the VM regarding to kernel. One is whether the VM can correctly parse Kernel files. Another is whether the kernel file actually has the right information inside it (e.g. the right async transformer has run, the right classes/fields/variables are in it).

The second point does not have any validation atm and can lead to customers accidentally using kerne

[2020-05-07 13:44] bwilkerson commented on #41797
@scheglov

[2020-05-07 13:50] bwilkerson commented on #29731
We didn't include those originally (optional or required) because it is possible for them to be necessary because of inheritance. (Private methods can override other private methods as long as they're in the same library.)

If we can efficiently know that there are no override related restrictions, then it would be valid to mark them as dead code. We could certainly mark unused parameters for top-

[2020-05-07 14:34] whesse commented on #41801
Thanks for filing the issue.  I was starting to suspect that there was something like this going on - many recent problems giving infra failures seemed to have in common that the test runner was hanging (not making progress), even though every test and command should have had a firm timeout that would kill it and make progress.

I'll look into this, and see if I can find cases where it isn't worki

[2020-05-07 14:46] srawlins commented on #29731
Yeah I think that sounds good. We currently report unused private methods, first checking whether they override anything or are overridden by anything. So we could use the same or similar logic when validating optional parameters. Thanks!

[2020-05-07 14:49] srawlins commented on #41151
Fixed by https://dart-review.googlesource.com/c/sdk/+/140867

[2020-05-07 14:49] #41151 closed

[2020-05-07 14:52] #41181 closed

[2020-05-07 14:52] eernstg opened #41803 "Analyzer: Implementation of new static analysis for return statements"
The null-safety specification updates in dart-lang/language#941 and dart-lang/language#948 have been unfolded as part of the migration of `tests/language/invalid_returns`. This issue is concerned with updating the analyzer correspondingly.

The following tests have a missing compile-time error:
[code]

The main reasons for the above is that the rules about `return;` are now more strict, and a void

[2020-05-07 15:35] #41592 closed

[2020-05-07 15:45] stefantsov commented on #34714
The CL in progress is here: https://dart-review.googlesource.com/c/sdk/+/147181

With the CL patched I see the following results:

[code]

[2020-05-07 16:14] iarkh opened #41804 "NNBD: Analyzer throws unexpected error for CHECK_TOP_MERGE.f (Never Function(Never) Function()), A_OUT.f (Null* Function(Null*)* Function()*)"
Dart VM version: 2.9.0-5.0.dev (dev) (Thu Apr 30 13:02:02 2020 +0200) on "windows_x64"

The following source code example passes with dart and throws a compile error with analyzer:
**test_out_lib.dart:**
[code]
**test.dart:**
[code]
Sample output is:

Seems like both tools should behave in the similar manner here.

[2020-05-07 17:02] scheglov commented on #41797
https://dart-review.googlesource.com/c/sdk/+/147221

[2020-05-07 17:33] alexmarkov commented on #41802
It is not clear why we can't bump kernel version when making incompatible changes in transformations to solve this problem. While format remains intact, if a change is not backwards compatible we should definitely bump kernel version and adjust minimum supported version in the VM so VM doesn't pretend it is supporting older versions.

I agree that there is a value in bumping version automatically,

[2020-05-07 18:25] pueffl opened #46398 "analyzer exclude generates weird results"
When I use analysis_options.yaml without exclude as
[code]
I got 80 issues in my code (warnings)

When I do the same with an exclude as

[code]
I get 181 issues and a lot of them are errors.

So exclude does not work at all, worse it seems to include new options I have not set.

My whole file looks as follows:

[code]

[2020-05-07 19:18] rmacnak-google commented on #41799
We already have [programmatic access to stack](https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md#getstack); you just need to do it from another process or isolate.

[2020-05-07 19:58] haikusw commented on #39233
The documentation at https://dart.dev/get-dart needs to get updated then because it definitely says that Dart may send analytics and doesn't document any way to turn them off.

If you do add analytics sending outside of Flutter, I hope you'll make sure it's easy to turn off same as Flutter appears to be. Otherwise Game Over in terms of using Dart for me or my clients.

Cheers.

![Screen Shot 2020-

[2020-05-07 20:01] jonahwilliams opened #41805 "SIMD matrix inversion, large performance delta between JIT and AOT"
I'm currently investigating whether Flutter could make use of Dart's SIMD support to improve the performance of common matrix operations in the framework. For matrix inversion, the JIT is able to run about 5-6 times faster using SIMD operations.  But in AOT mode the SIMD code runs in about the same time as the non-SIMD, and often slower. This slowdown is consistent across dart2native on a desktop

[2020-05-07 20:01] ferhatb opened #41806 "Wrong parameter passed to function inside constructor called from factory"
To reproduce uncomment validateColorStops code in Flutter web engine code and run linear_gradient_golden_test.dart

[code]

Maybe a problem when inlining the constructor at call site. I see the following call site code:

factory Gradient.linear(
    Offset from,
    Offset to,
    List<Color> colors, [
    List<double> colorStops,
    TileMode tileMode = TileMode.clamp,
    Float64List matrix4,

[2020-05-07 20:07] zanderso commented on #41805
/cc @mkustermann @alexmarkov

[2020-05-07 20:11] ferhatb commented on #41806
closing issue, resolved, was client code.

[2020-05-07 20:11] #41806 closed

[2020-05-07 20:27] leafpetersen commented on #41799
I missed where in your proposal arbitrary Dart code is run during stack trace formatting.  Can you expand?

[2020-05-07 20:47] Ostapenko-Yura commented on #40243
Faced same problem today using Android Studio.

![image](https://user-images.githubusercontent.com/16349037/81342956-c913f080-90bc-11ea-812e-c852cd5b1b32.png)

This memory consuming process is created right after I do "run".

I did https://github.com/dart-lang/sdk/issues/40243#issuecomment-621558656 but it seems to be not a Dart Analysis Server, because in my case I see that Analysis Server is ok

[2020-05-07 21:58] a-siva opened #41807 "Failures on [BUILD] - Initial CL to unfork the NNBD Dart SDK...Remove ElementSuggestionBuilder"
There are new test failures on [[BUILD] - Initial CL to unfork the NNBD Dart SDK...Remove ElementSuggestionBuilder](https://github.com/dart-lang/sdk/compare/39e0e75fcf141b9948c35cf068df475a9ed8f10c~...03ce33f80c50e1f8168fa4e61468969d8bd4eda5).

The tests
[code]
are failing on configurations
[code]

Please see
https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/88809260143007

[2020-05-07 21:58] a-siva commented on #41807
/cc @alexmarkov

[2020-05-07 22:02] a-siva opened #41808 "Failures on [BUILD] - Initial CL to unfork the NNBD Dart SDK...Remove ElementSuggestionBuilder"
There are new test failures on [[BUILD] - Initial CL to unfork the NNBD Dart SDK...Remove ElementSuggestionBuilder](https://github.com/dart-lang/sdk/compare/39e0e75fcf141b9948c35cf068df475a9ed8f10c~...03ce33f80c50e1f8168fa4e61468969d8bd4eda5).

The tests
[code]
are failing on configurations
[code]
[code]

[2020-05-07 22:42] angelhdz commented on #33383
### Access modifiers, please.

You want more people to join Dart and Flutter? Show that you care about them. Access modifiers are an important part of Object Oriented Programming, and just saying "we prefer this way" just denote you are not about end users, but only about the closed community developers working on Dart/Flutter who take the naming decisions.

I have more poor naming decisions to po

[2020-05-07 22:43] srawlins opened #41809 "Migration tool should open a browser window to the preview app"
We should discuss this I suppose, as its a big UX change. But the general idea is that, in addition to printing out the URL of the preview app on the console, the migrator should just open a browser window, using [browser_launcher](https://pub.dev/packages/browser_launcher) (not in DEPS, but Dart-team-authored, and few deps itself).

[2020-05-07 22:44] srawlins commented on #40881
I've forked off the "launch a browser" idea into its own issue: https://github.com/dart-lang/sdk/issues/41809.

[2020-05-07 22:46] srujzs opened #41810 "lib_2/html/gamepad_test failing after unfork CL"
New failure in ddc with Firefox with the unfork CL: https://dart-ci.appspot.com/log/ddk-linux-release-firefox/dartdevk-checked-linux-release-firefox/3193/lib_2/html/gamepad_test

[code]

Seems like a type conversion issue, might be specific to Firefox.

[2020-05-07 22:51] srujzs commented on #41810
Maybe related: https://github.com/dart-lang/sdk/issues/37190

[2020-05-07 23:06] rmacnak-google opened #41811 "TSAN: reconcile report_thread_leaks with dart:io's exit"
dart:io's exit call's libc's exit without first calling Dart_Cleanup. This can cause TSAN to complain about leaks of VM thread pool threads. Ideally we would inform TSAN that when we exit this way we don't care about leaks (and likewise for LSAN), but there doesn't appear to be a way to set TSAN's report_thread_leaks at runtime. We don't want completely ignore thread leak reportings because it is

[2020-05-08 00:06] a-siva opened #41812 "CFE unit test failures after unfork CL and pkg/front_end/tool/update_all.dart was run"
The following tests continued to fail after the update_all.dart script was run.
Filing this issue and approving the failures for now.

[code]

[2020-05-08 00:08] a-siva commented on #41807
The following tests are also failing in

[code]

[2020-05-08 00:17] aam opened #41813 "ring_gc_test, ring_gc_sendAndExit_test are hanging on precomp bots."
ring_gc_test, ring_gc_sendAndExit_test are hanging on precomp bots.
For example, https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-precomp-linux-debug-simarm_x64/1999

[2020-05-08 00:23] aam commented on #41813
the test seems to hang after one of the isolates receives Tree instead of expected List<dynamic>

[2020-05-08 00:29] rakudrama commented on #41692
Adding `--enable-experiment=non-nullable` to the third command eliminates the difference.
I surmise that `2.dill` no longer feature-detects to the correct settings.
We could also store setting in the data.

[2020-05-08 00:30] sigmundch commented on #41692
:facepalm: - thanks @rakudrama, here is the fix https://dart-review.googlesource.com/c/sdk/+/147344

[2020-05-08 00:49] a-siva commented on #40867
The unfork commit https://dart.googlesource.com/sdk/+/03ce33f80c50e1f8168fa4e61468969d8bd4eda5
contained changes for this test

[2020-05-08 00:49] #40867 closed

[2020-05-08 00:49] a-siva commented on #41251
Any updates on this? we would like to close all unfork related issues.

[2020-05-08 02:09] #41430 closed

[2020-05-08 03:10] Guang1234567 commented on #34362
Excellent kotlin like example!
I also prefer `swift` to implememt this feature (`with receiver`) too, haha.

But `dart extension` most like `swift extension` that without `where limit` than `kotlin` at 2020-05-08.

Could add this feature (`where limit`) to dart make it more powerful?

The bbelow swift extension example that reimplement the `QuickCheck library in haskell` to show `where limit` :

[

[2020-05-08 04:10] scheglov commented on #41803
Should these new rules be applied for both legacy and opted-in libraries, or only to opted-in libraries?

[2020-05-08 04:59] sigmundch opened #41814 "rename rti bot to prennbd"
In dart2js we finally landed the change to remove support for the old-rti, so we took the opportunity to reuse the bot for testing "prennbd" (a temporary configuration while dart2js supports opting out of nnbd).

Would it be possible to rename the builder?

If it's too much trouble at this time, we are OK leaving it as it is.

/cc @athomas @whesse

[2020-05-08 06:24] sgrekhov opened #41815 "[NNBD] Analyzer and CFE allow use of not initialized non nullable variable"
The code when the issue occurs is the following

[code]
Code after variable or getter of type Never is unreachable, so `i` must be still not initialized after the loop. but there is no error in both Analyzer and CFE.
Note that behavior is correct (I believe) in the following cases
[code]
[code]
Tested on `Dart VM version: 2.9.0-7.0.dev (dev) (Thu May 7 09:17:54 2020 +0200) on "windows_x64"`

[2020-05-08 06:42] mraleph commented on #41799
@lrhn

Added the description - for simplicity I assume that there are just results of calling `toString` on the values.

Debugger can already do that (as @rmacnak-google points out) the challenge here is how to utilise this functionality in release builds to facilitate post mortem problem analysis. One solution would be that all our tools have some sort of a watchdog isolate that monitors other is

[2020-05-08 07:18] johnniwinther commented on #41812
`pkg/front_end/test/id_tests/inheritance_test` and `pkg/front_end/test/static_types/static_type_test` have been fixed by a subsequent run of the `update_all.dart` tool in https://dart-review.googlesource.com/c/sdk/+/147360. Not sure why there weren't updated initially.

[2020-05-08 07:19] johnniwinther commented on #41812
@jensjoha can you take a look at the last two.

[2020-05-08 07:32] mkustermann commented on #41251
@a-siva I think it's safe to just remove the NNBD unfork labels from this github issue. There were already differences in behavior on optcounter bots before unfork (see e.g. https://github.com/dart-lang/sdk/issues/39525#issuecomment-580725029)

[2020-05-08 07:52] mkustermann commented on #41811
The puzzling thing is that global C++ state should be treated as strong roots by the leak sanitizer and therefore everything (transitively) reachable from it should not be considered as leaks. See [lsan design doc](https://github.com/google/sanitizers/wiki/AddressSanitizerLeakSanitizerDesignDocument#operation)

So I would assume the global thread pool, various global mutexes/monitors and global li

[2020-05-08 08:05] mkustermann commented on #41813
@aam already has CL out: https://dart-review.googlesource.com/c/sdk/+/147329

[2020-05-08 08:33] mkustermann opened #41816 "[CP] Consider cherry-picking 32d4ac903bb87f to stable"
Commit(s) to merge: 32d4ac903bb87f

Merge instructions: clean merge

Reason: Flutter users were hitting the underlying bug (see https://github.com/flutter/flutter/issues/56479#issuecomment-625496165)

/cc @franklinyow

[2020-05-08 08:34] mkustermann commented on #41816
/cc @a-siva

[2020-05-08 08:35] mkustermann commented on #41816
@franklinyow @athomas we should ensure this is also in the next beta branch

[2020-05-08 09:01] arkde16 commented on #40243
I had this problem and I solved it with a rather weird workaround.
If you run the App normally the same bug will occur, however if you run "profile" button which is located in the right of run button(in android studio) your dart.exe will work fine.
After doing this,run the app normally and you'll see your dart.exe will run fine without becoming to big.
MIne consumes almost 380 Mb of Ram

[2020-05-08 09:02] mkustermann commented on #41802
There's two situations: If we have to be compatible (due to customers needs) some breaking changes become really hard (or not feasible at all) to roll out. If we don't have to maintain compatibility (no customer needs it), not providing it will significantly improve the VM's team productivity when doing breaking changes and provides our team with more flexibility. With no real downsides. (As you s

[2020-05-08 09:42] RNSuthar opened #41817 "Dart Analyzer Error"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.7.2`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b04x64 JetBrains s.r.o, OS Windows 8.1(amd64) v6.3 , screens 1920x1080`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\Admin\AppData\Local\Temp\report2.txt.

[2020-05-08 11:33] ritutechno opened #41818 "Analyzer: NoSuchMethodError: The getter 'isEof' was called on null"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.7.0-dev.0.0`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b04x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\User\AppData\Local\Temp\report1.txt.

[2020-05-08 12:10] stereotype441 commented on #41321
I'm going to close this from now.  Please Chris and Yegor, please feel free to re-open if this doesn't provide the functionality you need.

[2020-05-08 12:10] #41321 closed

[2020-05-08 12:25] robertmuth commented on #35253
@srujzs

Any update? This bug is soon celebrating its 18 months anniversary.

[2020-05-08 12:27] robertmuth commented on #33248
@vsmenon

any update? This bug is soon celebrating its 2 year anniversary.

[2020-05-08 12:42] eernstg commented on #41803
Only for code with null-safety (this is also the reason why these tests are in `language`, and the `language_2` tests have not had a similar update).

[2020-05-08 14:01] modulovalue opened #41819 "BigInt: Index out of range: index must not be negative: -1"
I don't know when this happens, and I don't have a repro yet, but this shouldn't throw like that. I'll provide a repro as soon as I have one.
[code]

[2020-05-08 14:54] pq opened #58164 "new lint: `always_return_future_from_async `"
**DO:** return `Future<void>` from async functions as opposed to `void`.

---

There's been a bit of lively discussion about this already. A few culled highlights:

* there's  a tension with current style guide recommendations
* an exception should be made for overrides (where overriding an async returning `void`  with a `void` return type should be OK -- e.g., @natebosch's angular "`ngInit` case"

[2020-05-08 15:48] sigmundch commented on #41692
fixed in fb11d6399c7742333ab3ea9abe6d8ac88466dc4b

[2020-05-08 15:48] #41692 closed

[2020-05-08 17:24] liamappelbe commented on #40968
All strong mode failures have been fixed, or are triaged with their own bugs.

[2020-05-08 17:24] #40968 closed

[2020-05-08 17:29] alexmarkov commented on #41315
Unfork CL landed, but the test `vm/dart/use_bare_instructions_flag_test` is currently passing on `vm-kernel-precomp-win-release-x64` configuration:

`{"name":"vm/dart/use_bare_instructions_flag_test","configuration":"dartkp-win-release-x64","suite":"vm","test_name":"dart/use_bare_instructions_flag_test","time_ms":56703,"result":"Pass","expected":"Pass","matches":true,"bot_name":"dart-tests-win10-2

[2020-05-08 17:29] #41315 closed

[2020-05-08 17:36] modulovalue commented on #41819
Repro:
[code]

[2020-05-08 17:53] Hixie commented on #38732
You can work on it without it being assigned to you, don't worry! :-)

[2020-05-08 17:57] franklinyow commented on #41816
This is a hotfix for Dart 2.8 stable + May beta

[2020-05-08 17:57] scheglov commented on #40243
@jacob314 @johnniwinther It looks like it might be an issue in the `flutter` process, not sure if something related to compilation to kernel or instrumentation.

[2020-05-08 18:01] bwilkerson commented on #38732
Absolutely! But please assign it to yourself when you do start working on it so that others will know that it's being worked on (or add a comment if you can't assign it to yourself).

[2020-05-08 18:09] #37517 closed

[2020-05-08 18:12] rakudrama commented on #41819
Thanks for the report.
The bug exists on all platforms.

[code]

`digitIndex >= 0` should be `i >= 0`.

[2020-05-08 18:37] jakemac53 opened #41820 "`build_resolvers` broken by sdk unfork - analyzer requires explicit enabling of NNBD"
`build_resolvers` is broken after the unfork, see https://travis-ci.org/github/dart-lang/build/jobs/684776284#L431.

The reason is that we have to create our own SDK summary that is compatible with the current analyzer package version, but that now fails with `This requires the 'non-nullable' language feature to be enabled.`.

However, the SDK is supposed to be automatically whitelisted to allow N

[2020-05-08 18:44] leafpetersen commented on #41820
So build_resolver is consuming the core libraries with a package:analyzer from a (potentially) earlier language version?  That doesn't seem like it's going to work in general - any time we add and start using a feature (e.g. extension methods) in the core libraries, old versions of the analyzer will no longer be able to analyze the new core libraries.

[2020-05-08 18:50] jakemac53 commented on #41820
yes which is why the analyzer should pin to sdk versions, or at least the min, but 🤷‍♂️

[2020-05-08 18:51] rakudrama commented on #41819
Working on a fix: https://dart-review.googlesource.com/c/sdk/+/147349

[2020-05-08 18:57] leafpetersen commented on #41820
Why do it in analyzer and not in build_resolver?

[2020-05-08 19:06] jakemac53 commented on #41820
Because build_resolver has no sdk dependency itself. We would have to pin analyzer _and_ the sdk just because they aren't already properly versioned.

[2020-05-08 19:10] scheglov commented on #41820
We could change analyzer to always build SDK summaries with `non-nullable` experiment enabled, for long time we did this when **analyzing** code, but because SDK had opt-out comments like `@dart = 2.7`, before un-fork we immediately downgraded back to opt-out.

Then we would need to publish analyzer and `build_resolver` will need this latest analyzer.

[2020-05-08 19:25] #41590 closed

[2020-05-08 20:53] shinayser commented on #40243
WOW my computer is crashing a LOT after flutter 1.17 update. I just figured out that the "dart"process under Task Manager was consuming 10gb of ram!!! (my laptop has only 16)

[2020-05-08 21:45] alexmarkov commented on #41367
This test is now passing on all of the configurations listed above.

[2020-05-08 21:45] #41367 closed

[2020-05-08 22:02] kevmoo commented on #41538
Yup, @mit-mit – I'll expand this

[2020-05-08 22:08] alexmarkov opened #41821 "[Infra] Provide a way to reset flakiness status of a test"
After submitting a fix for a certain test, we shouldn't hide any future failures only because the test was marked as flaky before it was fixed - it may start failing soon enough due to unrelated bug and the new failure will be hidden. Also, it would be useful to see the test among 'tests started passing'. Previously, we even had cases when bot remained red after the test was fixed but its passing

[2020-05-08 22:10] #41807 closed

[2020-05-08 22:31] kenzieschmoll opened #41822 "Send vm timeline flag updates from the VM"
Similar to how kVMFlagUpdate events are sent from the VM, it would be nice to get similar Timeline stream recorder updates (kVMTimelineFlagUpdate). This will ensure recorded stream settings in DevTools stay in sync with the values from getVMTimelineFlags as they are updated.

[2020-05-08 22:36] kevmoo commented on #41741
@stereotype441 – we should be working off the same list, right?

See https://github.com/dart-lang/sdk/issues/41538

[2020-05-08 23:04] kenzieschmoll opened #41823 "Send update event when http timeline logging is enabled / disabled"
We send kVMFlagUpdate events for VM flags, which is very useful for keeping UI values in tools updated with the current state of the VM. An event for http logging updates would be useful as well.

[2020-05-08 23:09] cedx commented on #35555
Same issue here :

[code]

No error reported by the analysis server (i.e. via an editor like VSCode or WebStorm). But if I run `dartanalyzer` from the command line:

[code]

... some errors are reported on the excluded files (even after deleting the `.dartServer` cache folder):

[code]

Dart VM version: 2.8.1 (stable) (Thu Apr 30 09:25:21 2020 +0200) on "windows_x64"

[2020-05-09 00:32] rakudrama commented on #41819
Fixed via 1924d643516d51bdd1736b62919a26ab6b3a41be

[2020-05-09 00:32] #41819 closed

[2020-05-09 00:45] srujzs commented on #35253
No, not yet, sorry. I've been focusing largely on the null safety release; we haven't gotten the opportunity to sit down and triage/tackle some of these bugs. Since this _looks_ like a simple un-suppressing, I'll take a stab at it and report back soon.

[2020-05-09 00:47] leafpetersen commented on #41447
@johnniwinther specification proposal [here](https://github.com/dart-lang/language/pull/957) .

[2020-05-09 01:17] aam opened #41824 "ring_gc_*_test timeout on simarm_x64"
ring_gc_test, ring_gc_sendAndExit_tests fail on simarm_x64 bots: https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-precomp-linux-debug-simarm_x64/2008

The issue seems to be related to how spawned isolate is not able to recognize Command.kClose enum value.

[2020-05-09 02:59] sigmundch commented on #41820
Drive-by question - I may be misunderstanding the constraints, but it sounds like there is some circularity here. What's the reason you can't use the summary (`strong.sum`) that ships with the sdk?

In particular, you said you were building your own sdk summary so that you could support an older analyzer, but if you start pinning analyzer and sdk versions, wouldn't that remove the requirements to

[2020-05-09 03:32] GuiOliveira1995 commented on #40243
OMG, dart.exe consumed more than 10gb of my RAM.
I ran the command **flutter clean** and it seems to be fixed.

[2020-05-09 03:42] aam opened #41825 "dds_log_history_size_gigantic_test too slow on windows bots"
https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-win-debug-ia32/5429, for example

[2020-05-09 07:18] xausky opened #41826 "When using HttpClient to access https resources and ignore the body, it will be 100% CPU usage on one core."
I found a bug, this code will be 100% CPU usage on one core.

[code]

on Dart VM version: 2.8.1 (stable) (Thu Apr 30 09:25:21 2020 +0200) on "linux_x64"

[2020-05-09 09:44] Amerhk opened #41827 "fuk on in this error fuk you dart"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.8.1`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b04x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\amerr\AppData\Local\Temp\report2.txt.

[2020-05-09 11:51] jeffreyconcha commented on #41793
Same with me I encountered this bug after I upgraded to flutter 1.17.0 which has Dart 2.8.1...
I have a 16GB of RAM and whenever i compile my code, the dart.exe file on task manager uses all the available RAM of my PC....Please fix this ASAP. It uses 99 percent of my memory......

I redownloaded the Flutter v1.12.13 w/c has Dart v2.7.0.....and everything backs to normal......PLEASE FIX THIS ASAP!!

[2020-05-09 15:13] DanTup commented on #41147
Hit this with a simpler repro today. What I can't figure out, is why it only occurs in a Flutter project. If I use the exact same Dart SDK (from the flutter/bin/cache/dart-sdk) in a Dart project, it generates the correct code.

[code]

Run "Create missing overrides" on Foo, and in a Flutter project it'll use `String` for both args but in a Dart project it'll correctly use `double` for one of them.

[2020-05-09 15:57] Amerhk opened #41828 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.8.1`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b04x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\amerr\AppData\Local\Temp\report7.txt.

[2020-05-09 16:47] aditya21 opened #41829 "Frequently crashing: Same error in Vscode"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.8.1`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b4-5784211x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.15.1, screens 1440x900`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/_0/2phmqsxn2m1ch1nbzj7fqkg40000gn/T/report.txt.

[2020-05-09 18:03] #38701 closed

[2020-05-09 18:04] #41207 closed

[2020-05-09 18:04] #41206 closed

[2020-05-09 18:06] a-siva commented on #37479
Closing this as we have another Epic https://github.com/dart-lang/sdk/issues/41131 tracking the samething.

[2020-05-09 18:06] #37479 closed

[2020-05-10 00:42] boudgeau opened #41830 "analyzer issue"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-191.8026.42.35.5977832`
- `2.1.0-edge.8a919426f0e8665a0e6b01c2fcf3113587f8b040`
- `AI-191.8026.42.35.5977832, JRE 1.8.0_202-release-1483-b03x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\SAM\AppData\Local\Temp\r

[2020-05-10 04:31] #41827 closed

[2020-05-10 05:27] RedBrogdon opened #41831 "[NNBD] Analyzer doesn't flag `int = (int? + int?)` as an error"
I'm using:

[code]

And I have the following code in a file:

[code]

When I run dartanalyzer on the command line, I get the following errors, both of which make sense:

[code]

When I add the assertion operator to line 16 (the declaration of `a`):

[code]

The analyzer no longer produces any errors. That seems weird (at least to me), since the second call to `_couldReturnNull` should be considere

[2020-05-10 06:12] johnjames24 commented on #32894
Compiling dart VM to WASAM would also be interesting

[2020-05-10 08:28] vifird commented on #41519
I'm true it's a problem of certificate of https, most of the cases occured whiling using Let's Encrypt certificates. We can find the resolution in a issue: (https://github.com/flutterchina/dio/issues/703)
In letsencrypt's compatibility list, there is no flutter-platform: [letsencrypt certificate compatibility](https://letsencrypt.org/docs/certificate-compatibility/).

[2020-05-10 08:47] ShivamGoyal1899 commented on #40243
Had the same issue, dart.exe consuming around 6-7 Gigs RAM. Doing a `flutter clean` worked fine.

[2020-05-10 08:56] whesse commented on #41821
This is something we really see the need for.  I'll make an issue in the dart_ci repo, and see if we can make a quick-and-dirty interface quickly.  I'm right now building the service that has current status of tests, and want to add the flaky status to it.

The implementation is a little sensitive, because right now, the current flaky tests on a configuration are just the flaky.json file in the la

[2020-05-10 09:06] whesse commented on #41821
Feature addition tracked in https://github.com/dart-lang/dart_ci/issues/90

[2020-05-10 10:31] devoncarew commented on #41057
Related to #41329.

[2020-05-10 10:32] devoncarew commented on #41329
I'm still see brew issues w/ the latest dev; is that expected? There's nothing left to merge?

[code]

[2020-05-10 10:35] devoncarew commented on #40990
I'm curious why we have separate formulas for dart and dart-beta? Could we have added a beta version to the dart formula, so it supported stable, beta, and dev?

golang does something lime that - they support stable, 'bottle', and head versions:

https://github.com/Homebrew/homebrew-core/blob/master/Formula/go.rb

[2020-05-10 11:19] SheriefElbedeweSecurrency opened #41832 "Analyzer FileSystemException"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6308749`
- `2.7.2`
- `AI-192.7142.36.36.6308749, JRE 1.8.0_212-release-1586-b4-5784211x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.15.4, screens 1680x1050  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/mz/kmpvkp0s2jqbp86phd2w6pzc0000gn/T/repor

[2020-05-10 14:12] SwissCheese5 opened #41833 "CreateProcessW failed 2"
Dart VM version: 2.9.0-7.0.dev (dev) (Thu May 7 09:17:54 2020 +0200) on "windows_x64"
Windows 10

[code]

[2020-05-11 04:44] my2iu opened #41834 "webdev not escaping file names correctly?"
I was doing some web development in Windows. I wanted to make some quick changes to `web/main.dart` so I made a copy in Windows called `web/main - Copy.dart`.

I ran `webdev build` and it seemed that `webdev` tried to pass the file with the dash in it to dart2js without escaping it, so the dash was interpreted as an argument.

[2020-05-11 04:54] my2iu opened #41835 "How to debug the output of webdev --release ?"
I was making a small webxr vr prototype in Windows: https://github.com/my2iu/tojam2020

When I build it with `webdev build --no-release` it runs fine, but when I build it with `webdev build --release` the generated js throws all sorts of type errors when it runs, but it's impossible to figure out what's going wrong because everything is minified. Is there some sort of intermediate optimization/deb

[2020-05-11 05:13] defemz commented on #40243
I experienced the same issue. a Dart process consumed more than 7gb of my total 8gb memory after i upgraded flutter to version 1.17.0. However as suggested earlier by others, `flutter clean` seems to fix the issue.

[2020-05-11 06:44] lrhn commented on #41833
If you are running on Windows 10, I wouldn't expect `ls` to be available by default.
Do you have anything installed which would provide the `ls` and `ffmpeg` commands, and are you sure they are findable by `Process.run`?

Try referring to the executables with an absolute path.

In particular, the `ffmpeg` is running with a new working directory, and the executable path is interpreted as relative t

[2020-05-11 06:53] ashutosh1211 opened #41836 "Dart analysis after some time goes in hung state., Does not provide import/code completion suggestions."
Analyzer Feedback from IntelliJ

##Flutter Doctor

[code]

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.9.0-edge.4da5b40fb6dc43fd67e89503dcd8772981588757`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b04x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1920x1200, 1366x768`

[2020-05-11 07:21] mit-mit commented on #39233
We're working on a new `dart` developer tool (similar to the `flutter` tool), which will collect some usage and crash metrics. Once we complete that we plan on 1) updating the page in the screenshot to provide clarity on what is collected, and 2) providing an easy analytics opt-out (just like the flutter tool).

[2020-05-11 07:40] SwissCheese5 commented on #41833
@lrhn I just checked. Windows powershell supports `ls`, windows CMD does not.

I changed the command to a cmd compatible one which is `cd`, same error

[code]
`process 2` is never printed.

![image](https://user-images.githubusercontent.com/7407478/81536178-cabb0e00-9373-11ea-9170-a02e035efedd.png)

[2020-05-11 07:41] SwissCheese5 commented on #41833
Tried:
[code]

[2020-05-11 07:48] SwissCheese5 opened #41837 "Audio processing is web only"
Digging through the sdk, it seems audio can only be handled and processed on the browser
https://api.dart.dev/stable/2.8.1/dart-web_audio/dart-web_audio-library.html

There is no io equivalent it seems. This is very odd as most audio processing will be done on servers/desktops/apps.

[2020-05-11 07:54] athomas commented on #41821
Closing this as a duplicate of the dart_ci issue.

[2020-05-11 07:54] #41821 closed

[2020-05-11 08:01] franklinyow commented on #41816
Approved
@athomas

[2020-05-11 08:07] athomas commented on #41814
We're in the process of making a change (https://github.com/dart-lang/dart_ci/issues/81) that allows us to change builder names easily, I'd like to wait until that is complete.

[2020-05-11 08:17] ZheKOs opened #41838 "Tried to initialize from a previous compilation (build/cache.dill), but the file was not self-contained. This might be a bug."
[initialize_from.dill.gz](https://github.com/dart-lang/sdk/files/4608323/initialize_from.dill.gz)

[2020-05-11 08:18] ZheKOs commented on #41838
Oh, looks like I have 30mb on my disk 'C' (I'm using Windows).
Maybe that's the problem

[2020-05-11 08:22] ZheKOs commented on #41838
Yeap, the only 3 things that I did to fix this problem is I reported this bug, cleared some space on my disk 'C' and build my app again. xD

[2020-05-11 08:42] #41756 closed

[2020-05-11 08:54] dcharkes opened #41839 "Triage Cross-vm-precomp-linux-release-arm64 new bot failures"
dartkp-linux-release-arm64

new test -> CompileTimeError (expected Fail)
[code]
new test -> CompileTimeError (expected Pass)
[code]
new test -> NonUtf8Output (expected Pass)
[code]
new test -> Pass (expected CompileTimeError)
[code]
new test -> RuntimeError (expected Pass)
[code]

=====================

Same list of errors as reported by test.dart

Cross-vm-precomp-linux-release-arm64

[code]

htt

[2020-05-11 09:04] sstrickl commented on #40813
My current plan is to generalize our type-related assert instructions (`AssertAssignable`, `AssertSubtype`) to take `Value`s instead of `AbstractType`s. This will be done in two steps:

1. We generalize the instruction, but make the non-constant case an error. Since no code currently generates the non-constant case, no issues should be seen from this change. There should also be no change in code

[2020-05-11 09:16] #32787 closed

[2020-05-11 09:26] dcharkes commented on #41839
The failures that are not present in the dartk version:

[code]

Row | config | name | expected | unexpected_result |  
-- | -- | -- | -- | -- | --
1 | dartkp-linux-release-arm64 | corelib_2/regexp/stack-overflow_test | Pass | RuntimeError |  
2 | dartkp-linux-release-arm64 | language_2/mixin_declaration/mixin_declaration_superinvocation_application_test/04 | CompileTimeError | MissingError |  
3

[2020-05-11 09:35] lrhn commented on #41833
That is interesting because running the same code on stable 2.8.1:

does print the output of `ping`.

The `cd` probably failed because it's a built-in command in `cmd`, not a program you can execute. It has no path, so you can't point to it.

[2020-05-11 09:36] pedromassango commented on #41793
So lets vote the issue so that it gets more atention.

[2020-05-11 09:42] SwissCheese5 commented on #41833
Should i downgrade? Although this means this is a legitamate issue on the dev branch,

Another example:
![image](https://user-images.githubusercontent.com/7407478/81547664-d4993d00-9384-11ea-951d-97b314fe9909.png)

[code]

[code]

[2020-05-11 09:44] longqionggaccount opened #41840 "打开项目报错 FileSystemException"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.3.0-edge.a1668566e563aef64025d0af88a099cbbe847b7e`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b4-5784211x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.6, screens 1440x900, 1920x1080  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///priva

[2020-05-11 09:52] mkustermann commented on #41805
Inlining can make a world of a difference with this benchmark (JIT inlines `invert` and AOT does not). To make the benchmark more fair it can be changed to actually use the result of previous inversion in the following inversion:
[code]
instead of
[code]
That should explain the JIT AOT difference.

The AOT compiles the big `invert` function into around 200 instructions on arm64. So naively assumin

[2020-05-11 09:58] mraleph commented on #41805
In this loop:

[code]

If `simd4Identity.invert` is inlined them most of the loop body becomes invariant and gets hoisted out leaving just allocation of a new matrix behind.

This is the difference between JIT and AOT - JIT inlines, AOT does not. You can put `@pragma('vm:never-inline')` on the `invert` to compare actual performance.

Note: SIMD API that Dart has was designed with Intel in mind and

[2020-05-11 09:59] dcharkes commented on #41839
[code]

config	name	expected	unexpected_result
dartkp-linux-release-simarm64	service/vm_timeline_events_test/dds	Pass	Timeout
dartkp-linux-release-simarm64	vm/dart/causal_stacks/async_throws_stack_no_causal_non_symbolic_test	Pass	Timeout
dartkp-linux-release-simarm64	vm/dart/causal_stacks/async_throws_stack_non_symbolic_test	Pass	Timeout
dartkp-linux-release-simarm64	vm/dart/v8_snapshot_profile_wr

[2020-05-11 09:59] #41839 closed

[2020-05-11 10:25] eernstg commented on #34714
A conclusion was already emerging in dart-lang/language#366, and has been confirmed: The CFE should be updated to use inference rather than instantiation to bound.

[2020-05-11 10:39] jensjoha commented on #40243
In the Windows Task Manager, as I recall, one can right-click on the columns and say something like "select columns" -- this gives a check box list that contains an entry like "command" or "command line" or similar. Checking that (and presing ok etc) should give another column with the full command used to create the dart process which would could probably help narrow down which dart process is ac

[2020-05-11 10:47] DanTup opened #41841 "LSP completions include unexpected symbols"
Give this code:

[code]

Invoking completion after `Env` on line 3 results in failures to resolve any of the completion items:

[code]

Using Dart nightly from a few days ago (2.9.0-edge.3788a59c6cd72378fe9cc139829cafe40c819079).

[2020-05-11 10:52] eernstg opened #41842 "CFE: Emit a compile-time error for wrong placement of type arguments in factory"
Consider the following program:

[code]

This program is rejected by the front end (using `dart` from a6d06b59ec4b65fefa173a25458fde6f098a3510 and from 2.8.0-dev.20.0) with a compile-time error in `main`, but no error on the redirecting factory constructor declaration.

This issue is concerned with implementing a check on the factory body corresponding to the check which is currently applied to th

[2020-05-11 10:53] DanTup commented on #41841
Note: I had auto-import-completions in VS Code disabled when this happened.

[2020-05-11 10:58] athomas commented on #41816
33056425aff7c3bfff29410b4490ea2eec6c3e34 isn't a clean merge to stable:

[code]

[2020-05-11 11:00] mkustermann commented on #41805
Agree. Additionally we could look into avoiding `null` initializing the data in the generic allocation stub if the field are unboxed (in AOT).

[2020-05-11 11:02] defemz commented on #40243
Contrary to my earlier observation that running flutter clean resolved memory consumption issue by dart process. Flutter clean does not offer lasting solution to this problem. Anyone with a better solution?

[2020-05-11 11:09] jensjoha commented on #40243
@defemz if you are currently facing this issue, could you try out what I suggested above so we can figure out which exact sub-process it is, using all that memory?

[2020-05-11 11:13] eernstg commented on #41804
Note that the error arises because `Never` is treated as `Null` in the legacy library 'test_out_lib.dart'. This is consistent with the nnbd specification, but dart-lang/language#825 proposes to stop doing that (which means that `Never` in a legacy library just means `Never*`, which will make this error go away). That behavior seems meaningful to me, but the proposal to reconsider this may or may n

[2020-05-11 11:18] DanTup commented on #41841
The symbols that are failing look suspicious - I don't think endValidity should be showing up here:

<img width="575" alt="Screenshot 2020-05-11 at 12 16 56" src="https://user-images.githubusercontent.com/1078012/81555956-630bbf80-9381-11ea-883e-ee59ef3ff18b.png">

This results in:

[Error - 12:16:00 PM] Request completionItem/resolve failed.
  Message: No such element: endValidity in dart:io
  Co

[2020-05-11 11:20] mkustermann commented on #41816
The change just adds one line at the start of the function and one at the end, this should do it:
[code]

[2020-05-11 11:33] athomas commented on #41816
@mkustermann could you upload that as a CL to Gerrit?

[2020-05-11 12:04] lrhn commented on #41842
Seems like a case of #34159 that was missed.

[2020-05-11 12:32] sortie commented on #41826
I can reproduce this issue on linux_x64 with all Dart releases from 2.0.0 to 2.8.1 (I didn't check the 1.x series). It didn't seem to happen with every single HTTPS resource for me, but certainly I could make it happen with the above URL or requesting e.g. [the latest dart release](https://storage.googleapis.com/dart-archive/channels/stable/release/2.8.1/sdk/dartsdk-linux-x64-release.zip). The iss

[2020-05-11 13:16] DanTup commented on #41841
Got a fix at https://dart-review.googlesource.com/c/sdk/+/147545/.

[2020-05-11 13:19] DanTup opened #41843 "Static fields are missing their class names from LSP completion"
This is slightly related to #41841. When static fields are included, they don't include their enclosing class names which also results in an error.

![Screenshot 2020-05-11 at 14 18 41](https://user-images.githubusercontent.com/1078012/81566173-6bb8c180-9392-11ea-8c80-a9c2940d7b07.png)

[2020-05-11 13:21] SwissCheese5 commented on #41833
I tried with the beta version of dart, same problem.

`Dart VM version: 2.8.0-20.11.beta (beta) (Mon Apr 20 14:33:01 2020 +0200) on "windows_x64"`

[2020-05-11 13:27] SwissCheese5 commented on #41833
Same story with stable

`Dart VM version: 2.8.1 (stable) (Thu Apr 30 09:25:21 2020 +0200) on "windows_x64"`

[2020-05-11 13:34] DanTup commented on #41843
Got a fix at https://dart-review.googlesource.com/c/sdk/+/147546/.

[2020-05-11 13:59] jakemac53 commented on #41820
We could pin but we shouldn't have to, and it potentially causes a lot of other problems in terms of version solving if we do that. It also means we have to republish for every new sdk and every new analyzer (even dev releases unless we are ok with our product being very unstable for dev users).

We used to use the shipped summary file until the summary format changed and we were broken, at which

[2020-05-11 14:05] jakemac53 commented on #41820
We talked offline on Friday and I suggested this approach for the future:

- Add a file in the SDK which lists all the experiments that the current SDK libraries require to be enabled.
  - This would be read by all tools in the sdk and they would be enabled by default.

We also realized that the package whitelist which is coming very soon will similarly break us. That hasn't been implemented yet b

[2020-05-11 14:18] DanTup opened #41844 "Editor hovers no longer show default values for parameters"
Raised by @miguelpruivo at https://github.com/Dart-Code/Dart-Code/issues/2442. In the most recent SDK, hovering over a function/method no longer shows default parameter values:

<img width="597" alt="Screenshot 2020-05-11 at 15 10 55" src="https://user-images.githubusercontent.com/1078012/81571536-fbae3980-9399-11ea-9075-ac630567cc75.png">

I think this may have happened in 39f14a000e50995711168a1

[2020-05-11 14:38] bwilkerson commented on #41844
@scheglov Was this an intentional change, and if so, what was the motivation?

[2020-05-11 14:42] DanTup commented on #41844
I have a possible fix here (assuming it wasn't intentional):

https://dart-review.googlesource.com/c/sdk/+/147549/

However, I'm unsure about the changes it resulted in driver_resolution_test as those were not changed in the change above (but it might be that they were already using the new code that didn't include the defaults).

[2020-05-11 15:03] athomas commented on #41816
On stable as fcf87f79eecf58514be8fbc603e0c56155701f1b.

[2020-05-11 15:27] eernstg commented on #41842
Thanks, I was looking for related issues and missed that one!

Issue #34159 (very pi-ish, btw ;-) explicitly targets the parser, though, and we can't ask the parser to reject `B.foo<T>` as a redirecting factory body (`B` could be an import prefix and `foo` could be a class name).

In any case, the compile-time error should be emitted, and it's missing, so we need an issue for the task.

[2020-05-11 15:36] DanTup opened #41845 "armv7 SDK builds are missing analysis_server.dart.snapshot"
This was raised by @igotyou at https://github.com/Dart-Code/Dart-Code/issues/2445

If you download the Linux SDKs from here:

https://dart.dev/tools/sdk/archive

The ARMv8/ARM64 one contains the `bin/snapshots/analysis_server.dart.snapshot` file, however the ARMv7 file does not. VS Code requires this file to run the language server (for example if you use VS Code's Remote support, you will SSH ove

[2020-05-11 15:46] a-siva commented on #40534
@zichangg is this still a problem ?

[2020-05-11 16:07] mkustermann commented on #41285
Have run a presubmit check for cl/310406439 which changes the semantics in the Dart VM. See the results there. The only failures that show up seem to be flakes.

[2020-05-11 16:24] zichangg opened #41846 "Failures on [CFE] Include _fe_analyzer_shared in tests"
There are new test failures on [[CFE] Include _fe_analyzer_shared in tests](https://github.com/dart-lang/sdk/commit/64714f25967018880f71e1b63f244caa1d0a204c).

The tests
[code]
are failing on configurations
[code]

Log: https://dart-ci.appspot.com/log/vm-kernel-mac-release-x64/dartk-mac-release-x64/8591/co19_2/LibTest/io/FileSystemCreateEvent/isDirectory_A01_t02

[2020-05-11 16:41] aam commented on #41824
Smaller repro
[code]

[2020-05-11 16:45] mkustermann commented on #41816
Can we close this? (I assume this change is also in beta)

[2020-05-11 16:50] #40534 closed

[2020-05-11 16:50] superciccio opened #41847 "Analyzer FileSystemException"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.8.1`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b4-5784211x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.15.4, screens 1440x900  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/l8/_gvxr5nx0kv_8ksfr12smmr40000gn/T/report

[2020-05-11 16:50] athomas commented on #41816
No, it's not on beta, yet. I will close it when it is.

[2020-05-11 16:51] zichangg commented on #40534
I Looked at database. There are no IO tests approved, so I think all tests are fixed by now.

[2020-05-11 16:55] amiver opened #41848 "dartpad "compiling to javascript xmlhttprequest" error"
OS: Windows 8.1
Browser: Chrome
![darterror](https://user-images.githubusercontent.com/37574926/81588492-3930b800-93d6-11ea-83d3-aa047d4698a4.jpg)

[2020-05-11 16:59] HryhoriiZiahun commented on #40243
Same issue
I add also
![image](https://user-images.githubusercontent.com/11783099/81588849-a423c400-93c1-11ea-8755-2ce31aba24da.png)

[2020-05-11 17:17] jakemac53 commented on #41820
@leafpetersen @johnniwinther @scheglov please review above proposal :)

[2020-05-11 17:29] jcollins-g commented on #40243
@HryhoriiZiahun @defemz @ShivamGoyal1899

To echo @jensjoha's comment, it's most helpful for the team to know exactly which subprocess is consuming memory.  If it isn't the dart analyzer we'll need to open other bugs and alert other project teams to these problems.

[2020-05-11 17:38] #41748 closed

[2020-05-11 17:50] sigmundch commented on #41834
Issue moved to [dart-lang/webdev #1001](https://github.com/dart-lang/webdev/issues/1001) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-11 17:50] #41834 closed

[2020-05-11 17:51] athomas commented on #40990
My impression is that bottles are some sort of pre-builts for built-from-source packages rather than channel specific distributions.

But, if they can be used I still think the UX is better with a separate formula: The stable and dev channels map quite nicely on a single formula because there's `brew install --devel` to select the dev channel. Using bottles for beta would probably mean something l

[2020-05-11 18:38] leafpetersen commented on #40146
I believe that dart:ui is now unblocked for migration.

cc @yjbanov @cbracken @kevmoo @vsmenon

[2020-05-11 18:39] edjostenes opened #41849 "Error"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dartfix
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
*

[2020-05-11 19:15] emadsoliman25 opened #41850 "Encountered a Dart Analysis Server error."
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-191.8026.42.35.6010548`
- `2.8.1`
- `AI-191.8026.42.35.6010548, JRE 1.8.0_202-release-1483-b49-5587405x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.15.3, screens 1440x900  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/dg/h27vn2012lqgztrr9vp10pcw0000gn/T/repor

[2020-05-11 19:35] vsmenon commented on #40146
@yjbanov @cbracken - if `dart:ui` files are ever interpreted as packages (for testing ?), we may need to whitelist those packages here:

https://github.com/dart-lang/sdk/issues/41538

[2020-05-11 19:41] bkonyi commented on #41825
This test is known to be slow and should be skipped on slower configurations.

[2020-05-11 19:41] #41825 closed

[2020-05-11 20:32] devoncarew opened #41851 "`dart migrate` tool UX feedback"
Various bits of feedback from running the `dart migrate` tool:

### Unclear chars in the migration code view

It's not clear why the square ansi chars are in the code view, or more specifically, when the tool initially opened it looked like the foreground and background colors of that char had inadvertently been made the same:

<img width="290" alt="Screen Shot 2020-05-09 at 9 43 46 PM" src="https

[2020-05-11 20:36] jakemac53 commented on #41820
The original issue here has been fixed now, but we might want to keep this open until we reach a consensus on how to make sure we don't break again.

[2020-05-11 20:59] zichangg commented on #41833
I can't reproduce with my Windows 10 machine.
Probably something went wrong with your Windows machine.

[2020-05-11 21:02] nshahan opened #41852 "Define an API (and process for updating) debug metadata files"
We are experimenting with adding new output artifacts alongside JS files to pass information directly to debug tools.

To avoid breaking workflows we need a clear process for updating the location or contents of these files before adding dependencies on them to tooling outside of the SDK.

Parts of a possible solution include:
* Introduce a package that handles IO with these files.
* Pin the SDK v

[2020-05-11 21:04] SwissCheese5 commented on #41833
@zichangg I highly doubt it's my windows. What diagnostic data can I provide? Could it be a permission issue with the dart VM and windows? Something to do with debug mode? The error message should really provide more information.

What diagnostics would you like for me to provide?

[2020-05-11 21:21] leafpetersen commented on #41820
This is the current plan.  That is, the whitelist unconditionally turns on the experiment for all versions of the package, and the language version of the package determines whether it is opted in or opted out.  Whitelisted packages need to publish with tight sdk constraints.

[2020-05-11 21:26] domesticmouse commented on #41848
This was correctly raised as https://github.com/dart-lang/dart-pad/issues/1558

[2020-05-11 21:47] zichangg commented on #41833
I recommend you to try running [CreateProcessW](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessw) locally.
Our `Process.run()/start()` will invoke the `CreateProcessW`. The environment will be content from `Platform.environment`.

If it succeeds, it is likely the arguments or permission is wrongly set on your machine. Otherwise, `CreateProces

[2020-05-11 22:09] jcollins-g commented on #41851
@MichaelRFairhurst @stereotype441 @srawlins

[2020-05-11 22:13] jonahwilliams commented on #41805
I did not know about the `never-inline` pragma, thanks @mraleph . If I update the code so that both the SIMD invert and the vector_math invert are annotated with it I get very different numbers.

JIT:
SIMD: ~0.11 us / invert
vector_math:  ~0.08 us /invert

AOT:
SIMD:  ~ ~0.11 us /invert
vector_math: ~ 0.08 us /invert

So it seems like all of the performance difference between  AOT/JIT was due to m

[2020-05-11 22:22] jonahwilliams commented on #41805
Also fixing the in-lining and running via dart2native on my desktop,

AOT:
SIMD:  ~0.01 us / invert
vector_math:  ~0.05 us/ invert

I guess I would need arch-specific invert implementations

[2020-05-11 22:37] rakudrama commented on #41805
You probably get much much worse performance on the web for SIMD since it is not supported in JavaScript and faked with lots of temporary FloatNNList(4) objects.
If you use SIMD in code common to native and web you will need to refactor it to allow conditional imports.

[2020-05-11 22:54] franklinyow commented on #41820
@jakemac53  If the issue is fixed, it make sense to close this one as this one is labeled for unfork issue and has a due date.  Open a new issue to get consensus, so you won't show up as hot issue.

[2020-05-11 22:59] #58130 closed

[2020-05-11 23:20] zichangg commented on #41451
@rxwen Could you please try my fix patch(https://dart-review.googlesource.com/c/sdk/+/143883)? I don't have IOS device to test it. If this solves your problem, I can land it.

[2020-05-12 00:38] scheglov commented on #41844
The change was not intentional, most probably I copied the code for writing parameters from `FunctionType`, where we don't want default values (which also explains the change in `driver_resolution_test `). But for display strings on `ExecutableElement`s we do want them. So, `ElementDisplayStringBuilder` needs an additional flag, like others that are there already, e.g. `withParameterDefaultValueCo

[2020-05-12 01:01] franklinyow opened #41853 "VM: Rename null safety strong mode flag"
Currently the null safety strong mode flag is controlled by the flag `--no-null-safety` / `--null-safety`.

From offline discussion, we find that this is suboptimal: When a developer opts out of sound/strong checking with `--no-null-safety` they will still get some null safety (e.g. static analysis), but the flag name makes it sound like they are loosing all of null safety.

We'd thus like to rena

[2020-05-12 01:02] franklinyow opened #41854 "Web : Rename null safety strong mode flag"
Currently the null safety strong mode flag is controlled by the flag `--no-null-safety` / `--null-safety`.

From offline discussion, we find that this is suboptimal: When a developer opts out of sound/strong checking with `--no-null-safety` they will still get some null safety (e.g. static analysis), but the flag name makes it sound like they are loosing all of null safety.

We'd thus like to rena

[2020-05-12 01:05] franklinyow opened #41855 "Test : Rename null safety strong mode flag"
Currently the null safety strong mode flag is controlled by the flag `--no-null-safety` / `--null-safety`.

From offline discussion, we find that this is suboptimal: When a developer opts out of sound/strong checking with `--no-null-safety` they will still get some null safety (e.g. static analysis), but the flag name makes it sound like they are loosing all of null safety.

We'd thus like to rena

[2020-05-12 01:13] franklinyow opened #41856 "CFE: Rename null safety strong mode flag"
Currently the null safety strong mode flag is controlled by the flag `--no-null-safety` / `--null-safety`.

From offline discussion, we find that this is suboptimal: When a developer opts out of sound/strong checking with `--no-null-safety` they will still get some null safety (e.g. static analysis), but the flag name makes it sound like they are loosing all of null safety.

We'd thus like to rena

[2020-05-12 01:22] MichaelRFairhurst opened #41857 "Migration: stack trace embedded links should support changing non-null to nullable hints and vice versa"

[2020-05-12 01:22] #41187 closed

[2020-05-12 01:37] MichaelRFairhurst opened #41858 "Migration: stack trace embedded links should support removing existing nullable/non-null hints"

[2020-05-12 03:03] #41785 closed

[2020-05-12 04:16] rxwen commented on #41451
@zichangg I'd like to try it.
But I'm not familiar with how to apply the patch on flutter environment, to build a ios app based on it.

I know how to apply patch for my flutter environment. It looks like flutter command will download the dart engine and sdk binaries automatically. So, I'm not sure how to instruct the flutter command to use a patch-ed sdk. Do you have any guide on this?

[2020-05-12 04:31] jonahwilliams commented on #41805
@rakudrama Yes, we'd definitely want to make sure that we don't switch to something that is slower on the web. To that end, we could conditional imports or some sort of tree-shakeable branching

I pushed a new update with a different implementation of matrix inversion that seems to perform a lot better, running about 2/3 the speed of the vector math implementation on a Pixel 4. https://github.com/

[2020-05-12 04:34] fengwuxp opened #41859 "When performing the test, it prompts me that there is a problem with the compilation"
use
  flutter_sdk: 1.12.13+hotfix.9
  flutter_test

`
Compiler message:
Warning: Tried to initialize from a previous compilation (file:///E:/workspace/idea/github/flutter/fengwuxp_dart_feign/example/build/testfile.dill.track.dill), but the file was not self-contained. This might be a bug.

The Dart team would greatly appreciate it if you would take a moment to report this problem at http://dartbug

[2020-05-12 04:54] zichangg commented on #41451
@rxwen Thanks for the help. ^_^
As far as I know, there is no easy way. You either have to have flutter engine or Dart sdk.

If you do have flutter engine repo locally, dart sdk lives in `${flutter_engine_repo}/third_party/dart`. You can apply the patch there(A simple copy-paste should be enough).
[This page](https://github.com/flutter/flutter/wiki/Compiling-the-engine#compiling-for-ios-from-macos

[2020-05-12 06:27] chingjun opened #41860 "Negative line number in DWARF information"
DWARF information generated by `gen_snapshot` contains negative line number, that caused issues in certain symbolication tools. Negative line number also doesn't make sense.

To reproduce:

AOT compile a dart app using the following flags to `gen_snapshot`:
[code]

Examing the resulting ELF file or DWARF file using the following command:
```readelf --debug-dump=line -W $aot_dwarf | less```

Search

[2020-05-12 06:30] mit-mit commented on #41849
Closing as in-actionable; error is not described

[2020-05-12 06:30] #41849 closed

[2020-05-12 06:31] mit-mit commented on #41848
Closing as duplicate

[2020-05-12 06:31] #41848 closed

[2020-05-12 06:34] rxwen commented on #41451
I'll look into it and let you know if it works. @zichangg

[2020-05-12 06:34] defemz commented on #40243
I have pinpointed the dart process causing the unacceptable high RAM consumption. Attached is the process as shown in Windows 10 Task manager. The highlighted entry is the culprit process:
![image](https://user-images.githubusercontent.com/42694544/81646318-ee895d00-9422-11ea-90b1-51f01df1621d.png)

[2020-05-12 06:38] mit-mit commented on #41837
There are many packages to choose from in the pub.dev repository: https://pub.dev/packages?q=audio

Closing the present bug; this is not a core SDK issue.

[2020-05-12 06:38] #41837 closed

[2020-05-12 06:39] HryhoriiZiahun commented on #40243
and how we can fix this?

[2020-05-12 06:41] SwissCheese5 commented on #41837
@mit-mit I would like to clarify I did not mean audio PLAYING.
The web package in dart let's you load audio and read it's bytes and extract audio data. No existing package will do this for servers/desktop/io

[2020-05-12 06:43] davidmorgan commented on #41785
@bkonyi thanks!

[2020-05-12 07:00] mkustermann opened #41861 "Make tools/test.{dart,py} prevent using `--compiler=none` `--runtime=vm` and prune status files"
Recently I've discovered we were accidentally skipping a number of isolate tests. The reason for this was that the status file used the conditions:
[code]
See [cl/145803](
https://dart-review.googlesource.com/c/sdk/+/145803/4/tests/lib_2/lib_2.status)

This used to work many years ago, but since we transitioned to kernel we use `--compiler=dartk`: The old `--compiler=none` is not run/used anywhere

[2020-05-12 07:06] mit-mit commented on #41837
I see. That is still a capability we would expect a package for, and not a core SDK capability.

[2020-05-12 07:07] mraleph commented on #40243
Let's fork this issue because it is a different issue.

[2020-05-12 07:07] #40243 closed

[2020-05-12 07:08] mraleph opened #41862 "frontend_server process is consuming a lot of memory after Flutter 1.17 upgrade"
Reports are in https://github.com/dart-lang/sdk/issues/40243

/cc @pcsosinsky for visibility

[2020-05-12 07:10] mraleph commented on #40243
Filed separate issue https://github.com/dart-lang/sdk/issues/41862 now that we know that it is not analyser (which is what this issue was originally about).

[2020-05-12 07:13] DanTup commented on #41844
Makes sense - I've updated https://dart-review.googlesource.com/c/sdk/+/147549/ with a flag and reverted the changes to `driver_resolution_test`. Thanks!

[2020-05-12 07:13] athomas commented on #41816
On beta as a3e0f46beb98189c35db873f01a6abefa9c7f315.

The releases 2.8.2 and 2.9.0-8.2.beta will be the first ones with the fix.

[2020-05-12 07:13] #41816 closed

[2020-05-12 07:22] #41783 closed

[2020-05-12 07:44] SwissCheese5 commented on #41837
@mit-mit in that case, why does the audio web package exist? Perhaps it's best moved into its own package as well.

[2020-05-12 07:57] jensjoha commented on #41846
I'm calling flake... (Also the CL was basically a no-op for production code).

[code]

[2020-05-12 07:57] #41846 closed

[2020-05-12 08:13] mit-mit commented on #41837
Solely for historical reasons.

[2020-05-12 08:24] SwissCheese5 commented on #41833
@zichangg Sorry, I'm not familiar with windows Apis. I don't have a means to make an app that uses CreateProcessW. Is there an existing script I can try to run?

[2020-05-12 08:32] Shadow60539 opened #41863 "Help"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.8.1`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b04x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1920x1080`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\Sudharsan\AppData\Local\Temp\report.txt.

[2020-05-12 08:44] DanTup commented on #41844
Fixed by 1a328bed36ac5e79a6c9bf6ad5ae73ea27d467c1.

[2020-05-12 08:44] #41844 closed

[2020-05-12 08:55] lrhn commented on #41833
I can reproduce it, but it appears that the problem is that the executable is neither in the path, nor in the current working directory.

The `workingDirectory` parameter documentation states that:

Apparently Windows 10 is not one of the platforms where the change happens prior resolving the executable. If I provide a full path for the executable, then it runs successfully.

[code]
If I add
[code

[2020-05-12 09:12] jensjoha commented on #40243
If anyone can provide reproduction (in https://github.com/dart-lang/sdk/issues/41862) that would be great.

[2020-05-12 09:23] zgliny opened #41864 "NoSuchMethodError: The getter 'isEof' was called on null"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-191.8026.42.35.5977832`
- `2.8.1`
- `AI-191.8026.42.35.5977832, JRE 1.8.0_202-release-1483-b03x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\Administrator\AppData\Local\Temp\report.txt.

And my flutter doctor -v

[2020-05-12 09:24] tomlenehan-google opened #58165 "New lint: avoid_compile_constants"
Avoid using compile time constants

The lint would trigger upon the use of the three Flutter fromEnvironment constructors:
`int.fromEnvironment`
`string.fromEnvironment`
`bool.fromEnvironment`

`bool.hasEnvironment` should also trigger the lint.

Using a compile constant creates a hidden global state in the program, with no defined method to determine the state or understand its use when reading t

[2020-05-12 09:44] jensjoha commented on #41802
It's also worth remembering that we can initialize from a dill and reuse the parts that's unchanged. This is for instance done in flutter.
Adding some "hash" that has to match for the vm to be able to load it, would mean that we would either create some file that the VM couldn't consume, or that we'd have to check that hash as well as the binary version. Neither seems good to me, and bumping the b

[2020-05-12 10:11] mraleph commented on #41802
From my perspective the benefits of having this mechanism outweigh negatives - for majority of use cases we need to be able to verify total consistency VM + kernel configuration without allowing any version skew.

I think having this mechanism overall can lead to healthier user experience where our tools can automatically recover (e.g. ignore kernel binary which can't be used and produce a fresh o

[2020-05-12 10:37] jensjoha commented on #41802
Pros:
* Happens automatically

Cons:
* Happens automatically, even when not needed
* Would require to rebuild all sdk etc for every change
* Would for all intends and purpose be a "subversion" of the "binary version" that every tool reading and writing dill files would have to know about and deal with.
* Isn't the new sdk compiled with an old version of the VM?

But you can certainly update it des

[2020-05-12 10:52] mraleph commented on #41802
I am not sure why this is needed. Are you talking about development environment? If you are working on a change locally we can set things in such a way that this check is either disabled or is using base commit hash for your change - this means you don't have to rebuild anything.

It is compiled using new CFE running on old version of the VM. The key here is that files produced by the new CFE shou

[2020-05-12 11:17] jensjoha commented on #41802
If I update from commit `n` to commit `n+1` the way I understand what's written here is that it should throw away the old dills and create new ones. (even doing local commits)

The way I see it, there's two options:
* It gets the hash from the VM --- that way you wouldn't be able to create it using an old VM.
* It has the hash build in to its sources --- that way you would have to have it committe

[2020-05-12 11:24] mit-mit commented on #39785
Removing breaking change label; once you are ready for review please add it back

[2020-05-12 11:27] mraleph commented on #41802
We can make it work for local commits - but if you rebase your local branch then you need to through out your local dills.

We can also give you an escape hatch for local CFE development, e.g. if you just read and write dill and don't run them on the VM then you can dills around without regenerating them.

It can also get the has from `git` command itself. I think precise mechanism here is TBD by

[2020-05-12 11:31] SwissCheese5 commented on #41833
@lrhn Interesting observations.
I tried the following:

[code]

[2020-05-12 11:39] jensjoha commented on #41802
This would only work when checked out via git, and it would require to run the git command every time which is certainly going to slow things down.

I'm guessing there's been an actual bug in regards to the async transformation since that's what's mentioned above. And yes, this would probably have "guaranteed" to have cought/avoided that. There'll probably still be sort of similar problems up the

[2020-05-12 11:42] mraleph commented on #41802
Note that there have been at least 3-4 similar issues in the past couple months - most of which took time to understand and triage. So this is not happening just because there was a single issue - it is happening because similar issues occur repeatedly.

[2020-05-12 11:45] #41787 closed

[2020-05-12 11:51] lrhn commented on #41833
I had the same issue. Listening on `process.stderr` instead of `process.stdout` helped. Not sure why `stdout` isn't closed.

[2020-05-12 11:53] jensjoha commented on #41838
Hmm... It looks like it was trying to initialize from a partial compilation instead of a full one.
Considering the dill file is actually valid, I don't think the lack of disk space is the culprint.

What version of flutter are you using?
What commands did you run?

[2020-05-12 11:58] ZheKOs commented on #41838
@jensjoha here is the response on `flutter --version`:

I just made some changes in my Test Application using Android Studio and build & run it on Android

[2020-05-12 12:00] jensjoha commented on #41000
Should be fixed with 1f9b5c199659ab9ab295457ffeadb783dcfbe3de.

[2020-05-12 12:14] SwissCheese5 commented on #41833
@lrhn
[code]

[2020-05-12 12:17] ZheKOs commented on #41838
I just checked and looks like I didn't make any changes in the code, I just compiled and run the app, so I can Hot Reload and work with my "Test App", but got such exception during compilation. The app is simple just to Text widgets and that's all :)

[2020-05-12 12:32] robson-cervantes commented on #37695
Any updates in this thread?

[2020-05-12 13:28] jensjoha commented on #41838
Thank you for your report and for answering my questions :)

Unfortunatly I can't seem to reproduce it --- until proven otherwise I'll assume it was caused by something that was already fixed.

[2020-05-12 13:28] #41838 closed

[2020-05-12 13:35] #41820 closed

[2020-05-12 13:57] #40881 closed

[2020-05-12 13:59] defemz commented on #41862
Just thought i should add the Task manager for dart process eating up the RAM resource. My experience after updating to flutter 1.17.0 has been horrible compared to previous releases
![image](https://user-images.githubusercontent.com/42694544/81700639-d7696000-9460-11ea-8f09-05fcf1fd4270.png)
The highlighted entry shows the process consuming almost 99% of my RAM. Any solution yet?

[2020-05-12 14:03] escamoteur opened #41865 "Global variable seems to be created twice in tests if files are imported relatively"
* Dart SDK Version (`dart --version`)
Dart VM version: 2.9.0-7.0.dev.flutter-617bc54b71 (be) (Thu May 7 23:23:09 2020 +0000) on "windows_x64"

* Whether you are using Windows, MacOSX, or Linux (if applicable)
Windows

while trying to replicate another bug I found this here. Please clone

https://github.com/escamoteur/type_import_test/tree/different_global_instances_in_tests

and try to run the onl

[2020-05-12 14:08] #34714 closed

[2020-05-12 14:20] eernstg opened #41866 "DDC: Evaluation of `e1 == e2` should detect null before any type checks"
Consider the following program (which is a slice of `language/operator/equality_covariant_test.dart`, which is added by https://dart-review.googlesource.com/c/sdk/+/145582):

[code]

This test fails on the configuration ddc-nnbd-linux-release-chrome-try ([log](https://cr-buildbucket.appspot.com/build/8880504577943494352)), with the following stack trace:

[code]

However, evaluation of an expressi

[2020-05-12 14:52] eernstg opened #41867 "dart2js: Evaluation of `e1 == e2` invokes `operator ==` prematurely"
Consider the following program (which is a slice of `language/operator/equality_covariant_test.dart`, which is added by https://dart-review.googlesource.com/c/sdk/+/145582):

[code]

This test fails on the configuration dart2js-nnbd-linux-x64-chrome-try ([log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8880504577943494352/+/steps/test_results/0/logs/new_test_failure

[2020-05-12 15:11] jensjoha commented on #41862
Unfortunatley we don't know what's going on yet. But if you can provide a reproduction it could certainly help.

[2020-05-12 15:15] escamoteur opened #41868 "Two internal types created from one type declaration when a test uses relative imports"
* Dart SDK Version (`dart --version`)
Dart VM version: 2.9.0-7.0.dev.flutter-617bc54b71 (be) (Thu May 7 23:23:09 2020 +0000) on "windows_x64"

* Whether you are using Windows, MacOSX, or Linux (if applicable)
Windows

A user of my package get_it raised an issue that a type that he registered in GetIt was not available when he tried to access it later.

GetIt uses internally a `map<Type,Object> to

[2020-05-12 15:29] a-siva commented on #41853
I still find the notion of having two flags
--enable-experiment=non-nullable --sound-null-safety
very unintuitive.
It would be a lot more ergonomic if we just had one flag
--enable-experiment=non-nullable
which would strive to run the code in sound null safety mode, if there are any opted out packages in the application it would print a warning stating that because of some opted out packages it wi

[2020-05-12 15:29] sigmundch opened #41869 "dart2js: support for strong and weak mode"
Missing work:
* [x] add build rules to generate a second platform dill file in strong mode
* [x] include two both dill files in the shipped SDK
* [x] add logic in dart2js to choose between the .dill files depending on the mode

We don't need new plumbing or flags because we had support for something very similar in the Dart1-Dart2 migration.

[2020-05-12 15:30] xausky commented on #41826
In fact, I want to ignore all the content in the body, only use Headers, please ask me how to code correctly.

[2020-05-12 15:40] aam commented on #41824
Comparing disassembly produced by simarm_x64/gen_snapshot and simarm/gen_snapshot I see differences in offsets to the fields in StoreInstanceField like below(isClosed is at 15 for simarm, vs at 19 for simarm_x64)
simarm/gen_snapshot output:
[code]
simarm_x64/gen_snapshot
[code]

[2020-05-12 15:49] johnniwinther opened #41870 "Running a .dill with opted-out libraries in strong mode crashes the VM"
Trying to run a `.dill` file that contains opted-out libraries using the `--null-safety` flag crashes the VM (on Windows at least):

[code]

I'm seeing this when running
```dart pkg/front_end/tool/fasta.dart testing strong/nnbd/strong_lib_not_ok_from_dill/strong```
on https://dart-review.googlesource.com/c/sdk/+/140868/

[2020-05-12 16:13] Maleesh commented on #41862
For me, the following two scenarios caused eating memory,
1. Run, add a new package and run
2. Run, stop and debug

Spec:
Flutter 1.17.0
Windows 10 Pro

NOTE: Neither flutter clean nor deleting build directory solved the issue permanently.

And I am sorry that I can't help with memory dump as it happens so quickly and within a few seconds machine freezes.

[2020-05-12 16:24] jonasfj opened #41871 "Passing type-parameterized function to ArgumentError.checkNotNull broken in 2.8.1"
I might be using more type-parameters than is useful :)
But I ran into this curious case, and wonder if it's a known regression.

[code]
On dart `2.7.0` it works, but on `2.8.1` I get (before it starts running):

[code]

[2020-05-12 16:34] alexmarkov commented on #41870
@johnniwinther Are you sure that library (dill file) was compiled in strong mode?
We have this check to ensure that strong/weak compilation mode matches runtime mode. This check looks at strong/weak mode (nnbdModeBit1, nnbdModeBit2 bits of library flags) and not at the opt-in/opt-out status of a library (isNonNullableByDefault bit).

[2020-05-12 16:55] MichaelRFairhurst opened #41872 "Migration: reload regions section on hint application from stack trace"
Currently, everything is reloaded, which wipes out the stack trace view.

[2020-05-12 16:55] MichaelRFairhurst opened #41873 "Migration: migrate command with path should accept unnormalized paths"
Attempting to migrate just 'lib', I have to run

[code]

This should be normalized by the tool.

[2020-05-12 16:59] SwissCheese5 commented on #41833
Despite no error message, my print line is never run after the process
[code]
specifically `print('3');`

[2020-05-12 17:00] stereotype441 commented on #40381
As of 383e75e5deefe3032b27895810d496f68106ba36, I believe that Windows support is now functional, and adequately unit tested.  I'm seeking out someone with a Windows machine who can help me verify this.

[2020-05-12 17:03] MichaelRFairhurst commented on #41873
This had been fixed, I just had to sync.

[2020-05-12 17:03] #41873 closed

[2020-05-12 17:21] SwissCheese5 commented on #41833
@lrhn I was missing an `await` where I call this method. My bad.

[code]
this is my current setup. I tried currentDir before the command name as well as correct the \ to /.

Thing's I've observed:

console output:
[code]

.then() after this to get the exit code returns an error. The entire Process object is null after a then() call where the exitcode used to be. Not sure why this happens but i've

[2020-05-12 17:25] SwissCheese5 commented on #41833
I got it to work!

Directory.current messed up the second File object in the code.
`'${File(inputFile).absolute.path}'`. The path here turned into Directory.current + its own absolute path. Resulting in a file not found.

This is the final code

[code]

I would like to note that I still do not have any console output from the command. I'm leaving this issue open so we can resolve that problem

[2020-05-12 17:27] bkonyi commented on #41785
Not a problem! It was a quick fix :-)

[2020-05-12 17:34] #41704 closed

[2020-05-12 17:37] mnordine commented on #40381
Still doesn't work for me. I tried to apply it to StageXL on my Windows machine.

I get:

[code]

When I visit that page, it displays ok. But when I try to click on a file in the left sidebar, I get an error that shows as a browser alert:

[code]

[2020-05-12 17:42] MichaelRFairhurst opened #41874 "Migration: stack trace edits should include 'mark late'"

[2020-05-12 17:46] MichaelRFairhurst opened #41875 "Migration: stack trace edits should include 'add ! to expression'"
This should likely be done by calling out to EditPlanner on demand, so this may be a bit of work. Otherwise we may have cases such as

[code]

and doing this eagerly is probably too slow to start with.

Should be careful to avoid (as much as possible) instances where a ! is not correct for an edge:

[code]

This needs a cast, or something funky like a `.cast`, so this should not suggest adding a !

[2020-05-12 17:47] rmacnak-google commented on #41811
Thanks for the pointer, I had misunderstood LSAN as wanting everything to have been freed before exit.

[2020-05-12 17:47] MichaelRFairhurst opened #41876 "Migration: change current edit links to be share infrastructure with stack trace edit links"

[2020-05-12 17:58] srujzs commented on #35253
`MediaDevices.getUserMedia` has been landed. @robertmuth, is there anything left in this issue that hasn't been addressed/discussed?

[2020-05-12 18:02] zichangg commented on #41826
Let me assign myself first. I'll take a look later.

[2020-05-12 18:03] jonasfj commented on #41871
@lrhn might this have to do with signature change from dart 2.7.1 which has:
[code]
to dart 2.8.1 which has:
[code]

[2020-05-12 18:57] alexmarkov opened #41877 "vm/cc/Profiler_StringInterpolation failed on "[vm] Add _allocate and _setAt methods to _TwoByteString.""
There is a new test failure on [[vm] Add _allocate and _setAt methods to _TwoByteString.](https://github.com/dart-lang/sdk/commit/14103a366deadc4320be921df76ee42c0925b229).

The test `vm/cc/Profiler_StringInterpolation` is failing on `dartkb-interpret-linux-release-x64`:

[code]

[2020-05-12 18:57] jwren opened #41878 "No warnings in extension declarations, when there are member name collisions"
See this code:

What's also confusing here is that the analyzer navigation and completion ignores them:

[code]

@bwilkerson @scheglov

[2020-05-12 18:59] mit-mit commented on #41853
The `--enable-experiment` flag is just temporary until we get to beta; then it will go away.

But still a good question to ask if we need that second flag. cc @leafpetersen

[2020-05-12 19:06] bwilkerson commented on #41878
I think this is WAI.

When resolving a member `m` against a type `T`, we first look in the type `T` and its supertypes for a definition of `m`. If one is found, we stop. If no member with that name is found, then we look for an extension. So the fact that it's resolving to the members in the class is correct.

The reason there's no diagnostic when colliding is (IIRC) because those members are stil

[2020-05-12 19:13] crelier commented on #41732
dart-lang/co19#641
co19/LanguageFeatures/nnbd/future_flattening_A01_t11
co19/LanguageFeatures/nnbd/future_flattening_A01_t39
co19/LanguageFeatures/nnbd/future_flattening_A01_t73
co19/LanguageFeatures/nnbd/future_flattening_A01_t74

[2020-05-12 19:16] jakemac53 commented on #41538
We need to make sure this is done in such a way that it works when _analyzer_ is used as a package as well, so we don't break all code generation again, see https://github.com/dart-lang/sdk/issues/41820 for context.

[2020-05-12 19:22] annagrin opened #41879 "[vm_service] Upgrading vm_service causes service extension calls to fail"
Upgrading flutter to vm_service package (version 4.0.3) makes `callServiceExtension` fail if called with no args. Version 4.0.2 does not have the issue.

See initial CI failures and comments in
https://github.com/flutter/flutter/pull/56958

Exception happens if the following line gets executed (empty args map is created with incorrect type):
https://github.com/dart-lang/sdk/blob/3aa7484f6a61b5d043

[2020-05-12 19:23] #41822 closed

[2020-05-12 19:31] bkonyi commented on #41879
`package:vm_service` v4.0.4 is released. Try updating to that version to hopefully fix the failures you're seeing.

[2020-05-12 19:31] #41879 closed

[2020-05-12 19:41] annagrin commented on #41879
It works now, thanks!

[2020-05-12 19:48] jcollins-g commented on #41398
FYI:  Dartdoc needs to know about the planned allow-list of null-safe core packages for the tech preview to make sure they are documented correctly.  See dart-lang/dartdoc#2211

[2020-05-12 19:50] chingjun opened #41880 "Print DSO base address in DWARF stack trace"
(From the discussion in https://docs.google.com/document/d/1HjFIJJSo1pRKo6FH84yafKbeEoSjPOXtFwwZfIeQNM0/edit?disco=AAAAJe7uY38)

Many existing symbolication tools need to use the offset relative to the DSO, but in the current dwarf stack trace format, there is no way to obtain this offset. We could print the DSO base address so that it is possible to calculate the relative offset for each stack fr

[2020-05-12 20:35] bkonyi commented on #41329
Hm, not sure what the issue was, but it seems to disappear when I replace the last symlink in the brew install to point towards my locally built SDK. I've been fiddling with the options parsing quite a bit over the last week, so it could be that this was just a temporary failure that's been fixed in a follow up CL that came after we created the dev build.

Let's confirm whether or not this issue i

[2020-05-12 20:38] nshahan commented on #41866
Just to double check, is this an issue when testing equality with an object that has a runtime type of Null specifically? If you were perform the same equality check with an integer instead of null:

[code]

Would throwing a TypeError be expected?

[2020-05-12 21:44] stereotype441 opened #41881 "Migration tool should insert `as dynamic` as necessary in async functions whose return type is `Future<void>`."
Legacy code allows an async function whose return type is `Future<void>` to explicitly return a value without error (e.g. `return 0;`).  This was never really intended, but according to a conversation with @leafpetersen today, the language team is planning to preserve this behavior for legacy code to avoid creating breakages.

However, for NNBD enabled code, this will not be allowed.  Therefore, i

[2020-05-12 22:15] stereotype441 commented on #41000
Reopening since I had to revert the fix - see 275b922ee88502ee12d34af8b0476291ae6eb7b4

[2020-05-12 22:19] eernstg commented on #41866
Yes. The only object that has a run-time type of `Null` is the null object, so any rules about the latter are also rules about the former. (It is possible to override `runtimeType`, so in that sense any object could have a run-time type of `Null`, but that won't change the outcome of language defined run-time type queries).

With `oNever == myInt` the special treatment of null is irrelevant (none

[2020-05-12 22:21] jcollins-g commented on #40381
confirmed, @mnordine's bug is still an issue.  Clicking on any file results in a broken link:

![image](https://user-images.githubusercontent.com/14116827/81751431-3e3c4880-9464-11ea-8203-2e1951adda32.png)

[2020-05-12 22:23] srawlins opened #41882 "Update highlighters to grok Null Safety changes to Dart"
Various syntax highlighters should be updated to understand the new `late` and `required` keywords, as well as the new `Never` built-in type.

* [x] [highlight.js](https://github.com/highlightjs/highlight.js) (used by the migration tool) (PR [#2551](https://github.com/highlightjs/highlight.js/pull/2551))
* [x] [pygments](https://github.com/pygments/pygments) (PR [#1449](https://github.com/pygments

[2020-05-12 22:24] srawlins commented on #38569
Mind if we close this in favor of https://github.com/dart-lang/sdk/issues/41882?

[2020-05-12 22:26] jcollins-g commented on #40381
A similar issue occurs when clicking on proposed changes in the center pane (assuming you work around the issue above), this time attempting to load paths with drive letters directly.

Could not load c:\users\moby1\dart\dartdoc\bin\dartdoc.dart (Instance of 'minified:ew').

![image](https://user-images.githubusercontent.com/14116827/81751704-d3d7d800-9464-11ea-8e03-aa05d529f942.png)

[2020-05-12 22:27] devoncarew commented on #38569
Note that the system-of-record for the syntax highlighting for github has moved to https://github.com/dart-lang/dart-syntax-highlight/blob/master/grammars/dart.json.

[2020-05-12 22:38] jcollins-g commented on #40381
Things that work:  Proposed Edits line number links in the right hand column, the Add Hint button, the Rerun Migration button, Report a Problem button, the path at the top of the Edit Details window.

Other things that do not work:  all other clickables except the add hint button in the Edit Details pane.  The edit details pane fails in a variety of ways having to do with path mangling.

From the

[2020-05-12 23:07] rmacnak-google opened #41883 "Memory leak in Isolate.spawnUri"
[code]

Maybe the isolate cleanup callback not being called if isolate spawn is interrupted?

[2020-05-12 23:20] jcollins-g commented on #40381
Apply migration works, just in the UI it just wasn't clear to me that it had done something and was finished.

[2020-05-12 23:28] filmil opened #41884 "Compilation fails on Fuchsia because of BUILD.gn deps not being set correctly"
My change https://dart-review.googlesource.com/c/sdk/+/144480/3/runtime/vm/BUILD.gn has a bug: didn't change the BUILD deps for SDK build.  This caused the build to fail, but
only when dart is compiled inside Fuchsia tree.

Related: https://bugs.fuchsia.dev/p/fuchsia/issues/detail?id=52080

[2020-05-12 23:29] filmil commented on #41884
I'm working on this -- can't assign myself though, no permissions.

[2020-05-12 23:33] leafpetersen commented on #41853
I think we do need some way for users to override the auto-opt in behavior otherwise they can end up in the following state:
  - Their entry point is opted in
  - Some upstream is dependency is not migrated
  - The only way they can run is to unmigrate their main entry point

We could consider doing this via an annotation or comment in the file though - e.g. `// @nndb=weak`

@lrhn was advocating f

[2020-05-12 23:37] mnordine commented on #40381
@jcollins-g

What do you mean by that? Are you modifying the source and using local overrides or something?

[2020-05-13 00:32] srawlins commented on #41851
Yeah these were meant to look like the stack frame icons in IntelliJ. I'll replace with... probably nothing.

I believe things that end with `.` are referring to an unnamed constructor. Can fix.

[2020-05-13 00:43] srawlins opened #41885 "Update migration tool's highlight.js to one that supports Null Safety keywords"
There isn't a release yet, but grab a release which includes https://github.com/highlightjs/highlight.js/pull/2551 (v10.1.0 perhaps)

[2020-05-13 00:54] leafpetersen commented on #41285
My only remaining concern is whether the additional work for the three backends is worth moving up the arrival of the new semantics by a few months.  @sigmundch thoughts on how much effort it is to backport these semantics to the web backends?

cc @vsmenon

[2020-05-13 01:26] annagrin commented on #40776
Suggestion - name the module function with an easily detectable name at the following line:

https://github.com/dart-lang/sdk/blob/d6fed1f62444caf2c4a9decc975ec64e84c44865/pkg/dev_compiler/lib/src/compiler/module_builder.dart#L306

Consider also adding this name to module metadata, to make it an official contract with the debugger.

[2020-05-13 02:54] scheglov commented on #41803
I have an issue with this code (`language/invalid_returns/async_invalid_return_35_test`):

[code]

For function expressions we need to infer the return type. I'm using [these rules](https://github.com/dart-lang/language/blob/master/resources/type-system/inference.md#function-literal-return-type-inference).

Imposed type: `FutureOr<Object?>`.
Context type: `FutureOr<Object?>`.
Returned types: `[voi

[2020-05-13 03:12] renatomanocchio opened #41886 "info: Name types using UpperCamelCase. (camel_case_types at [camaraapp] lib/tela_4.dart:3)"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.8.1`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b4-5784211x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.15.3, screens 1920x1080`

[2020-05-13 03:15] sigmundch commented on #41285
In terms of work for web backends: it's not much. For both DDC and dart2js this is a question of how the code is lowered, there are no dart2js optimizations that take advantage of the new semantics yet. So, we basically have a boolean to choose one implementation or the other depending on whether the enclosing library is opted-in or not.

I'm not opposed to doing this, but I should note that this

[2020-05-13 04:35] leafpetersen commented on #41803
@scheglov Good catch, I agree with your analysis.

This also raises another issue however.  I believe that the change to use `futureValueType` should also be applied to function literal downwards inference.  In particular, I believe that the line

`Otherwise the context type is FutureOr<flatten(T)> where T is the imposed return type.`

Should be replaced with

`Otherwise the context type is Future

[2020-05-13 06:14] lrhn commented on #41871
It is because of that change, yes.

Dart prohibits a generic function type from being a type argument.
However, it does not stop itself from inferring such a type as a type argument.

We should just stop having that restriction, or at least stop inferring generic types as arguments (just inferring `Function` would work).

The workaround would be to pass an explicit type argument (just `void` would

[2020-05-13 06:26] #38569 closed

[2020-05-13 06:49] rdafe11 opened #41887 "Analyzer: FATAL error: UnimplementedError: Encoding "null""
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-191.8026.42.35.5791312`
- `2.7.0`
- `AI-191.8026.42.35.5791312, JRE 1.8.0_202-release-1483-b03x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1536x864`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\Dell\AppData\Local\Temp\report.txt.

[2020-05-13 08:10] mit-mit commented on #41853
I suggest we move this work to beta. Then it will also be less confusing as there is no experiment flag then, so users will never have to use them together.

[2020-05-13 08:12] filmil commented on #41884
Sent for review here: https://dart-review.googlesource.com/c/sdk/+/147816

(Being merged at the moment)

[2020-05-13 08:13] filmil commented on #41884
Merged with https://github.com/dart-lang/sdk/commit/a394be48fccddfe2032fbc5e1c0e47f23cf8d564

[2020-05-13 08:13] #41884 closed

[2020-05-13 08:45] mraleph opened #41888 "enum values don't canonicalize correctly when passing through a port on some ARM devices"
I am getting reports from the users that they observe strange behaviour when passing enum values through ports. If the receiving side tries to compare received value with enum values - they don't compare equal. However this behaviour only occurs on some ARM devices and not others - with the same application.

e.g. this happens on Samsung A10, but not on Samsung A40.

This is similar to a bug repor

[2020-05-13 08:48] mkustermann commented on #41888
We know that there's an issue - @aam has started investigating it a few days ago.

[2020-05-13 08:50] mkustermann commented on #41888
When I landed 8d1c4c555ce808b0a8ba2c513d25ca86d5b48f74 it added a number of new isolate tests, there @aam noticed that on simarm the enums don't get canonicalized correctly.
So we do have a repro.

[2020-05-13 08:52] sortie commented on #41826
@xausky If you only want the headers, then use `headUrl` instead of `getUrl`, so the server won't give you a full body (using a HTTP HEAD request instead of HTTP GET), and then use `request.drain()` to discard the body.

[2020-05-13 08:54] mraleph commented on #41888
@mkustermann do you know if simarm64 exhibit similar behaviour? is it ARM vs ARM64 issue? that would explain why it reproduces on some devices (ARM) but not others (ARM64).

[2020-05-13 08:57] mkustermann commented on #41813
@aam fixed it so we can close it :)

[2020-05-13 08:57] #41813 closed

[2020-05-13 08:58] mkustermann commented on #41888
Last time @aam mentioned the difference in behavior seems to show with using `simarm_x64` vs `simarm`. So that would mean a bug in our cross configuration. Maybe different canonicalization hash codes or bug in generated code.

[2020-05-13 09:12] mit-mit commented on #41868
cc @johnniwinther does this sound like a potential CFE issue?

[2020-05-13 09:25] eernstg commented on #41285
So we have a (very mildly) breaking change, which is attractive because it improves the performance of legacy code. The argument that it simplifies the language is a bit less convincing, I think, because legacy code will go away. But it would still be useful to be able to simplify the implementation of the language.

@sigmundch wrote:

Those reasons pretty much amount to "we don't _have to_ introd

[2020-05-13 09:31] lrhn opened #58166 "Potential false positive for omit_local_variable_types."
[code]
This code gets a "omit_local_variable_types" lint on the `intId` variable.

Changing the type to `var` will change semantics and make the type of `intId` be the generic function type `T1 Function<T1>(T1)` instead of `int Function(int)`.

Writing `var intId = id as int Function(int);` instead *does not work*. It always throw at run-time.

I can write `int Function(int) intId; intId = id;` in

[2020-05-13 09:52] mraleph commented on #41868
This is working as intended. There are few important parts to understand here:

- In Dart libraries are distinguished by their import URIs
- Import URIs are not necessarily the same as resolved URIs e.g. `package:a/b.dart` might be resolved via `.package` file to `file:///home/mraleph/sources/a/lib/b.dart`, but if I do

[code]
    I get two different libraries because they were imported through tw

[2020-05-13 09:52] #41868 closed

[2020-05-13 10:21] jonasfj commented on #41871
For work around, one can also do:
[code]

That works fine :)

But for existing code fixing this would be nice, at it's a static error for any code using `package:acyclic_steps` (I'll probably publish a patch version with the work around).

[2020-05-13 10:29] jensjoha commented on #41862
Unfortunatley I still cannot reproduce.
What is the target? Android? IOS? Web?
Can anyone reproduce with an open source project, or is anyone comfortable sharing code that reproduces this?

[2020-05-13 11:16] DanTup opened #41889 "MOVE_FILE refactor generates incorrect paths when moving files in/out of lib folder and ignores relative ../lib imports"
A few issues found while testing the MOVE_FILE refactor in VS Code.

Given the following structure:

### bin/main.dart
[code]

### lib/nested/foo.dart
[code]

Dragging the file `foo.dart` between `lib/nested` and `lib` correctly updates `bin/main.dart` by adding/removing `nested` from the import.

## Issue 1
However, moving `foo.dart` into `bin` results in a full absolute path being inserted where

[2020-05-13 11:20] escamoteur commented on #41868
It might be as it's currently implemented in the Language, but does it make sense or does it more lead to confusion?

Also I and others don't understand wha Effective Dart make the recommendation

at all. It too often leads to problems. Why not always use the package import as the golden rule?

[2020-05-13 11:36] mraleph commented on #41868
I do agree that this is somewhat confusing.

/cc @lrhn to provide language design perspective on this issue.
/cc @munificent to provide Effective Dart perspective on this issue.

[2020-05-13 11:40] mit-mit commented on #41868
@escamoteur can you clarify why you prefer using a combination if import scheme for the content under `/lib`? I poked around in the repo you shared, and `spacex_flights_get_it_assertion/lib/src/models/rocket.dart` has:

[code]

which could have been:

[code]

[2020-05-13 11:53] mit-mit commented on #41865
Same root issue as 41868; tests should avoid relative imports.

I recommend using this lint to detect this: https://dart-lang.github.io/linter/lints/avoid_relative_lib_imports.html

[2020-05-13 11:53] #41865 closed

[2020-05-13 11:57] escamoteur commented on #41868
@mit-mit I want exactly the opposite, no combination but only package imports because if people mix imports like in the repo that I got from a user of GetIt it often leads to problems. I guess this is the same reason for the other "bug" I found yesterday
https://github.com/dart-lang/sdk/issues/41865

[2020-05-13 12:14] mit-mit commented on #41868
I believe there are three options here. Are you sure you really prefer option 2. with the very verbose imports?

### 1: allow mixed imports

We'd change the language and implementation to allow both style imports. I'm not an expert here, but I'd assume this is very hard, if even possible.

### 2: Recommend package imports

We'd change the guidance to use package imports only. That would lead to mu

[2020-05-13 12:52] lrhn commented on #41868
See also https://github.com/dart-lang/language/issues/939 for a suggestion on how to reduce the problem.

My usual recommendation is that you must never have any path with `lib/` in it.
Any path with a `lib/` directory should be a `package:` URI instead.
Any path without a `lib` should be fine as a relative path.
(And always use lower-case only file and directory names, even on Windows).

The usua

[2020-05-13 12:53] eernstg commented on #41868
FYI: @lrhn already created [this issue](https://github.com/dart-lang/language/issues/939), proposing that a certain amount of implementation specific normalization of URIs should be applied. This would help us avoid the situation where the same library (in some sense, e.g., same absolute path on a traditional UN*X style file system) is imported multiple times using different URIs.

It would still

[2020-05-13 13:00] jensjoha commented on #41862
I have an experiment, if anyone is willing to perform it.

Apply this patch in flutter:
[code]

Remove the files
* bin/cache/flutter_tools.snapshot
* bin/cache/flutter_tools.stamp

and try again (i.e. `flutter run` etc).

This does a few things:
* It limits the amount of memory that the dart vm "frontend_sever" should be able to use so it hopefully won't crash any computers because of low ram
* it

[2020-05-13 13:04] rxwen commented on #41451
@zichangg I cloned the [engine repo](https://github.com/flutter/engine.git). But there isn't a third_party/dart directory. Am I getting the correct repo?

[2020-05-13 13:49] aam commented on #41888
@mraleph see dartbug.com/41824

[2020-05-13 13:50] #41029 closed

[2020-05-13 13:52] aam commented on #41824
https://dart-review.googlesource.com/c/sdk/+/147808 addressed difference in generated code mentioned in https://github.com/dart-lang/sdk/issues/41824#issuecomment-627424319, but the repro test still fails with same enum value failing to compare correctly when using `simarm_x64/gen_snapshot`.

[2020-05-13 13:52] escamoteur commented on #41868
@mit-mit the verbosity of the package notation isn't a problem with the autoimport and path completion of the IDEs

[2020-05-13 13:53] escamoteur commented on #41868
@lrhn what is the benefit to use relative urls inside lib? Why should we prefer them there?

[2020-05-13 13:58] DanTup commented on #40346
I believe there's nothing to do here - we provide `sortText` that's sorted by our relevance. Clients can use this, or implement their own sorting (VS Code uses our sort initially, but then does its own relevance ranking as the user types more characters, since it doesn't go back to the server for updated relevance).

Unless anyone thinks this is incorrect, I think we can probably close this? (I do

[2020-05-13 13:59] mit-mit commented on #41868
I (subjectively) disagree; I find it a lot more verbose to read.

[2020-05-13 14:02] escamoteur commented on #41868
@mit-mit that's another point, where I agree. if we can somehow assure that either mixed imports still only create one library instance or give a warning if this is detected I'm also fine with.

[2020-05-13 14:03] mit-mit commented on #41868
Is that not suggestion #3 in https://github.com/dart-lang/sdk/issues/41868#issuecomment-627941775 ?

[2020-05-13 14:06] bwilkerson commented on #40346
I agree. Happy to re-open if more discussion is needed.

[2020-05-13 14:06] #40346 closed

[2020-05-13 14:44] lrhn commented on #41868
Brevity.

You also avoid hard-coding your own package's name. If you want to change the name of the package, which *does* happen during development, you only need to change the name entry in pubspec.yaml. (Well, and any imports in `test/` and `bin/`, but nothing in `lib/` where the majority of your code presumably is).

[2020-05-13 14:48] mkustermann commented on #41824
@aam Could this be due to our canonical hash codes behaving differently ? Do we embed any canonical hashes in the snapshot?

[2020-05-13 15:01] jonaird commented on #39367
Forgive me if I’m getting this wrong but it sounds like it comes down to losing type metadata for the sake of file sizes? Are there other performance issues that this is important for? I can understand why this would be important for mobile apps and for dart2js but for serverside apps and cli’s, performance would be much more important than file size IMO.

[2020-05-13 15:40] aam commented on #41824
Yeah, canonical hashes between simarm_x64/gen_snapshot and simarm/gen_snapshot,dart_precompiled_runtime differ. Canonical hashes seem to end up being embedded into the snapshot, but then during simarm/dart_precompile_runtime execution cross-isolate message receiving(deserialization) we try to canonicalize the constants being received, which results in in different hash(simarm_x64 hash vs simarm ha

[2020-05-13 15:50] #41860 closed

[2020-05-13 15:54] escamoteur commented on #41868
Yep that would be an option although currently not every project you create with flutter create has an analysis_option included

[2020-05-13 16:01] sigmundch opened #41890 "dart2js: rti assertion triggers using C.JSInt_methods before it is defined"
Consider this example:
[code]

If you compile it via dart2js with `--enable-asserts`, it produces this error:
[code]

@rakudrama @fishythefish

[2020-05-13 16:17] sigmundch commented on #41890
Note this is only reproducible after the unfork. The code that triggers this is [this assertion][1]:
[code]

pre-nnbd, we generate code like: `H.assertHelper(($length & 1) === 0);`, while post-nnbd, we instead generate: `H.assertHelper(C.JSInt_methods.$mod($length, 3) === 0);`

[1]: https://github.com/dart-lang/sdk/blob/master/sdk_nnbd/lib/_internal/js_runtime/lib/rti.dart#L2555

[2020-05-13 16:35] mit-mit commented on #41868
Yes, we would fix that as part of option 3 (we're already working on a new minimal set of "must do" lints we're planning to add per default to all Flutter & Dart templates).

[2020-05-13 16:37] stereotype441 commented on #41000
Fix was re-applied in 3ca37fb66e5fabcf52f75b25189749c943120156

[2020-05-13 16:37] #41000 closed

[2020-05-13 16:42] rakudrama commented on #41890
The code to construct types is used before constants are created (since constants refer to types).
We will have to take care to ensure that code does not directly or indirectly use constants.

The old code worked only because `int.isEven` was inlined.
If inlining is disabled, it would have failed.
There is a similar issue, but requires `-O0`: https://github.com/dart-lang/sdk/issues/41484

[2020-05-13 17:58] jonasfj commented on #41355
In bash we can do this with:
[code]

But for `.bat` files I can't find a good solution this [question on stackoverflow](https://stackoverflow.com/questions/935609/batch-parameters-everything-after-1) links two similar questions, all 3 have multiple solutions, but none of them can handle arguments with quotes, spaces and equal signs... All things that could likely occur in arguments passed through

[2020-05-13 18:04] jonasfj commented on #41355
@sigurdm, is there any reason we use isolates for `pub run` if we were to use sub-processes we could handle the `--enable-experiment` flag in `pub`, and it would be easier to embed `pub` in `dartdev`.

Also, I can't help but wonder if `--enable-experiment` won't cause problems with our snapshotting, if you were to switch it on/off, just thinking someone might do so with `pub run test`.

[2020-05-13 18:06] natebosch commented on #41355
The VM only handles the argument passed with an equals sign. We don't have to worry about any strangeness around spaces, which means we can also probably avoid any concerns about quoting.

[2020-05-13 18:07] natebosch commented on #41355
That's a good point, I don't know how snapshots will work with this.

[2020-05-13 18:28] jonasfj commented on #41355
I got the impression that the `.bat` solutions would be buggy if any of the arguments had such things. To be fair though, I don't know that our current solution can handle these corner cases.
Since it's probably rather rare that windows users pass complicated arguments through `pub`.

In any case, the snapshot concerns gives me reason to pause, and think if perhaps it's better if `pub run` creates

[2020-05-13 18:45] a-siva commented on #40510
@rmacnak-google is this something you are looking at adding ?

[2020-05-13 18:47] a-siva commented on #41731
/cc @johnniwinther

[2020-05-13 18:53] a-siva commented on #41731
Latest set of unxpected CompileTimeError issues

vm-release | co19 | LanguageFeatures/nnbd/extension_method_resolution_A03_t01
vm-release | co19 | LanguageFeatures/nnbd/extension_method_resolution_A03_t02
vm-release | co19 | LanguageFeatures/nnbd/future_flattening_A01_t64
vm-release | co19 | LanguageFeatures/nnbd/future_flattening_A01_t65
vm-release | co19 | LanguageFeatures/nnbd/future_flattening

[2020-05-13 19:03] MichaelRFairhurst opened #41891 "Migration: potential source code restructure"
After consolidating all code into pkg/nnbd_migration, we should consider restructures of the source accordingly.

One proposal: engine, server, front_end ?

We could put their public APIs (for instance, instrumentation.dart is sort of the public API to engine) in lib.

So
lib/src/engine/nullability_node.dart
lib/engine/nullability_node_info.dart
lib/src/server/preview_site.dart
lib/server/trace_en

[2020-05-13 19:27] Markzipan opened #41892 "DDC does not properly reset late fields after a hot restart."
Accessing a late instance field after a hot restart doesn't throw a LateInitializationError. If this is intended behavior, we can close the issue.

[2020-05-13 20:00] mraleph commented on #39367
No, I am not sure which part of this thread made you think this way.

It is true though that we take code size in consideration - which impacts for example our inlining decisions (AOT inlining is much less aggressive than JIT inlining as a result), but that's a somewhat separate topic.

[2020-05-13 20:16] srawlins commented on #40979
Sorry, this is not a feature that pub will support. The pubspec.lock file, and the downloaded packages that each package depends on, needs to be maintained package-by-package. `pub get` needs to be run within each package.

[2020-05-13 20:23] #40315 closed

[2020-05-13 20:28] jamesderlin opened #41893 "String.lastIndexOf documentation should clarify what position is returned"
https://api.dart.dev/stable/2.8.2/dart-core/String/lastIndexOf.html states:

Is `'foobar'.lastIndexOf('foo')` supposed to return 0 or 2?

I think that this would be clearer as something like "Returns the starting position".

Additionally, the examples unfortunately happen to use search patterns that match only a single character.  The lone example that uses a longer search pattern is for a case wh

[2020-05-13 20:32] srawlins commented on #38729
Dart Code suggestions have been working for a while again. I suspect this can be closed.

[2020-05-13 20:34] srawlins commented on #37963
I think @bwilkerson and @pq completed this in Q1.

[2020-05-13 20:50] zanderso commented on #41451
@rxwen You'll have to follow https://github.com/flutter/flutter/wiki/Setting-up-the-Engine-development-environment to get everything in the right place to apply the patch.

[2020-05-13 20:51] mraleph commented on #41888
Duplicate of #41824

[2020-05-13 20:51] #41888 closed

[2020-05-13 20:55] aam commented on #41824
Reason for why the hashes are different seems to be that enum instance integer field is getting unboxed and those are not being properly accounted for.

[2020-05-13 21:20] #41866 closed

[2020-05-13 21:42] #29800 closed

[2020-05-13 22:01] yjbanov opened #41894 "NNBD migration tool inserting annotations at wrong locations"
Here's an example of a bad case:

[code]

To get into this state start with this code:

[code]

Then use the migration tool to perform the following actions:

1. Add `/*?*/` to parameter `a`
1. Add `/*?*/` to parameter `b` (observe things going off the rails a bit)
1. Add `/*?*/` to parameter `b` again
1. Add `/*!*/` to parameter `t`

/cc @stereotype441 @MichaelRFairhurst

[2020-05-13 22:15] srawlins commented on #41769
dart-lang/pub#2461 has landed, so I believe this is unblocked.

[2020-05-13 22:24] kwalrath commented on #29800
Thank you, @srawlins!

[2020-05-13 22:30] #41635 closed

[2020-05-13 22:37] Markzipan commented on #41892
@johnniwinther can you verify that class fields are being annotated with `isLate` in the CFE? These are all showing up as `false` locally. Simple snippet:
[code]

[2020-05-13 22:40] MichaelRFairhurst commented on #41894
Is it doing this incorrectly in the preview? or in the file system?

Had you edited the disk contents at all or was this all done through the tool?

There are also extra spaces in the top vs the bottom, is that a copy-paste error or something the tool did, something else?

[2020-05-13 22:56] MichaelRFairhurst commented on #41894
I couldn't reproduce on this exact example; however playing around I was able to occasionally get it to produce `/*?/*?*/*/` in a more complicated project.

What's strange about this is that I'd expect that to mean that the migration suggestion offset mapper is wrong, only, and that that would mean it actually was put on the right place on disk. And then I checked the disk, and it was wrong on dis

[2020-05-13 23:08] MichaelRFairhurst commented on #41894
Seems like an intermittent issue. I am able to get it to appear at different times for the same program if I reset the file and rerun. Most likely explanation is double clicking

[2020-05-13 23:38] MichaelRFairhurst commented on #41894
Should have a CL out soon.

[2020-05-13 23:40] yjbanov commented on #41894
Both

I have not edited anything on the disk while using the tool.

It's probably because I copied the top one from the tool (it uses a space in type annotations to mean "I decided this should not be null"), and the bottom from VSCode.

[2020-05-13 23:45] #41851 closed

[2020-05-14 00:03] franklinyow commented on #41497
Should I move this and all the sub-issues to the beta?

[2020-05-14 00:25] MichaelRFairhurst commented on #41894
https://dart-review.googlesource.com/c/sdk/+/148026

[2020-05-14 00:27] MichaelRFairhurst commented on #41894
Ha! I forgot our own tool did this. Not having highlighting on the spaces was all it took for me to get suspicious :)

[2020-05-14 03:46] rakudrama commented on #41890
Will be fixed by: https://dart-review.googlesource.com/c/sdk/+/148006

[2020-05-14 04:25] iarkh opened #41895 "Dart should use inference rather than instantiation-to-bound for the factory of generic class."
Dart VM version: 2.9.0-8.0.dev (dev) (Mon May 11 11:05:18 2020 +0200) on "windows_x64"

The following code sample passes with analyzer and throws a compile time error with dart:
[code]
This happens both with nnbd turned off and on.

Seems like according to dart-lang/sdk#34714 dart should not throw a compile error here.

Sample output is:

[2020-05-14 04:30] iarkh commented on #37037
Seems like analyzer behaves correctly and this Issue should be closed, see Issue #34714 for more details.
I've just filed an Issue #41895 against runtime.

[2020-05-14 06:02] 100cm commented on #41519
#https://github.com/flutterchina/dio/issues/786

[2020-05-14 06:19] rakudrama commented on #41890
Fixed by e0257265d34efffc845ea88643e183dc3cc5bb0e

[2020-05-14 06:19] #41890 closed

[2020-05-14 06:35] rakudrama commented on #41484
Immediate issue above fixed by e0257265d34efffc845ea88643e183dc3cc5bb0e.
Needs more testing to close.

[2020-05-14 07:15] kevin-lot commented on #32592
I have an issue with dart2js.
In DDC, script works like a charm, but doesn't in Dart2JS.

https://dartpad.dartlang.org/1bc314a9a437281cf263fb54e2b57537

Uncaught Error: TypeError: Instance of 'GeolocationPositionError': type 'UnknownJavaScriptObject' is not a subtype of type 'PositionError'
or
Uncaught Error: TypeError: Instance of 'GeolocationPosition': type 'UnknownJavaScriptObject' is not a sub

[2020-05-14 07:19] DanTup commented on #40365
@bwilkerson possibly a dupe of https://github.com/dart-lang/sdk/issues/38894?

[2020-05-14 07:40] eernstg commented on #37037
Agreed, the analyzer should and does use inference, so we can close this issue. Note that #34714 was closed because this inference step was implemented in the common front end in https://dart-review.googlesource.com/c/sdk/+/147181.

[2020-05-14 07:40] #37037 closed

[2020-05-14 07:46] eernstg commented on #41895
I believe this can be closed: The work was done in https://dart-review.googlesource.com/c/sdk/+/147181, and a fresh `dart` from commit e0257265d34efffc845ea88643e183dc3cc5bb0e does not emit the error.

[2020-05-14 07:46] #41895 closed

[2020-05-14 08:05] sigurdm commented on #41355
I don't know of the reason.
My guess would be that an isolate starts slightly faster, and consumes less memory because it can share the VM. Not sure how significant that is though.

One option would be to completely drop precompilation (and ignore existing snapshots) if `--enable-experiment`. That would make `pub run` slower with the experiment, but ensure consistency.

Otherwise we would have to

[2020-05-14 09:01] johnniwinther commented on #41870
What happens is that a precompiled weak-mode dill is used as an input to a strong-mode compilation. This leads to the reported error but also to a dill that contains some weak-mode libraries despite the component mode being strong.

The repro is (using https://dart-review.googlesource.com/c/sdk/+/140868/):
[code]

[2020-05-14 10:42] hpoul commented on #36534
@zoechi is it just me, or did this stop working on the dev channel (dart 2.9.0-7.0.dev)?

<img width="645" alt="Screenshot 2020-05-14 at 12 40 32" src="https://user-images.githubusercontent.com/313066/81925097-546f1380-95e0-11ea-8580-5a47a6137548.png">

[2020-05-14 10:52] johnniwinther opened #41896 "Failures on [CFE] Error when strong mode mixed with non-opted-in"
There are new test failures on [[CFE] Error when strong mode mixed with non-opted-in](https://dart-review.googlesource.com/c/sdk/+/140868).

The tests
[code]
are failing on configurations
[code]

[2020-05-14 11:58] mkustermann commented on #41883
Has this been fixed? When I run this locally asan doesn't seem to report leaks.

[2020-05-14 12:17] johnniwinther commented on #41896
cc @munificent Failures are seen in ffi, standalone and co19 tests
cc @sigmundch Failures are seen in dart2js_extra tests

[2020-05-14 12:39] johnniwinther commented on #41892
DDC uses the late lowering provided by the CFE which doesn't itself use late fields and therefore leaves all `isLate` properties `false`.

[2020-05-14 12:51] eernstg commented on #41896
Certainly any test with both `// Requirements=nnbd-strong` and `// @dart = 2.6` needs to be changed to require `nnbd-weak` (or if there is a strong and a weak version of that test then the strong version should probably simply be deleted), but that's only a few tests:

[code]

Looks like many (about 686) others have `@dart = 2.6` and `SharedOptions=--enable-experiment=non-nullable`, so with each t

[2020-05-14 13:22] johnniwinther commented on #41896
All failures should be for the above reason(s).

[2020-05-14 13:34] mkustermann opened #41897 "Failures on [dart:io] Fix late localAddress initialization in non-socket errors."
There are new test failures on [[dart:io] Fix late localAddress initialization in non-socket errors.](https://github.com/dart-lang/sdk/commit/2676764792b2170b5f7867600a2144e7493fa950).

The tests
[code]
are failing on configurations
[code]

[2020-05-14 13:40] Pacane opened #41898 "Publish dartfix to pub"
Is it normal that dartfix is still stuck to a Novembre 2019 version in pub? I've heard there are a few new fixes that could be useful, like the automatic conversion of double quotes to single quotes.

Can you guys publish the latest version to pub?

Thanks

[2020-05-14 13:41] sortie commented on #41897
The issue is that `process.start(runInShell: true)` doesn't work on Android because it invokes `/bin/sh` which doesn't exist. I suppose it should use  `/system/bin/sh` instead.

[2020-05-14 13:52] bwilkerson commented on #40365
That seems likely, so I'll close it for now under the assumption that it is.

[2020-05-14 13:52] #40365 closed

[2020-05-14 15:19] BalasubramaniSundaram opened #41899 "Exception throwing"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6392135`
- `2.8.1`
- `AI-192.7142.36.36.6392135, JRE 1.8.0_212-release-1586-b4-5784211x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.15.4, screens 1440x900`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/5k/w1k5r9bj7hxcgpzcfr63shqm0000gn/T/report.txt.

[2020-05-14 15:43] stereotype441 commented on #41679
https://dart-review.googlesource.com/c/sdk/+/148020 removes the dependency from dartfix to nnbd_migration, so I believe that once that is landed, it should be possible to publish dartfix.

[2020-05-14 15:48] ciceropablo commented on #40095
@shyndman, @DanTup, @bwilkerson, it is possible to do the opposite?

[2020-05-14 15:56] Markzipan commented on #41892
Is there a way to toggle this mode?

[2020-05-14 16:17] jcollins-g commented on #40381
@mnordine Nothing that extensive -- just manually rewriting the URI in the browser as though the links on the left hand side were generated correctly.

[2020-05-14 16:23] eernstg commented on #41896
I'm closing this issue because the work is done in context of https://github.com/dart-lang/co19/issues/644. That issue refers to this one for information about which tests are affected.

[2020-05-14 16:25] Markzipan commented on #41892
Yep - that exactly

[2020-05-14 16:46] johnniwinther commented on #41892
Do you need to reset both instance fields and static fields?

[2020-05-14 16:57] Markzipan commented on #41892
Yes, but we already have a mechanism for handling non-late fields. Our issue is that we can't differentiate late instance fields from non-late ones. Top-level and static members can already be detected and emitted lazily, but it seems like lazy fields have some extra logic that might not be properly reset.

It might not actually be too difficult to implement lazies in DDC now that I think of it.

[2020-05-14 17:03] rileyporter opened #41900 "DDC failing for tests/language/invalid_returns/async_valid_returns_test"
DDC is failing with CompileTimeErrors for [tests/language/invalid_returns/async_valid_returns_test.dart](https://github.com/dart-lang/sdk/blob/master/tests/language/invalid_returns/async_valid_returns_test.dart). Here is a [link](https://dart-ci.appspot.com/log/ddc-nnbd-linux-release-chrome/dartdevk-strong-linux-release-chrome/3098/language/invalid_returns/async_valid_returns_test) to the failing

[2020-05-14 17:08] alexmarkov commented on #41870
@johnniwinther I think such dill file is not correct, and a fatal error issued by the VM is valid. Error message clearly indicates what is the problem. Do you think we should support running such dill file?

In weak mode VM doesn't accept libraries compiled in strong mode, and in strong mode VM doesn't accept libraries compiled in weak or disabled mode. We don't really know what to do with such di

[2020-05-14 17:32] waleedf112 commented on #38729
it's still not working even with the latest flutter update.
the only workaround i found is this:
https://github.com/dart-lang/sdk/issues/38739

[2020-05-14 17:33] #41894 closed

[2020-05-14 17:41] natebosch commented on #41355
I think it used to be fairly significant. I haven't measured in a while.

This seems like a good idea. I think we'd need a way to ask within the runtime whether any experiments are enabled.

[2020-05-14 18:07] ChristianKleineidam opened #41902 "Allow `min` and `max` to work with Comparable's like DateTime"
I have a list of DateTime string and want to know the latest DateTime in my list. If DateTime would not only provide `.isBefore()` and` .isAfter()` I should be able to get the latest DateTime in my list with max (from dart:math).

While I do grant that  `.isBefore()` and` .isAfter()` are normally more readable, they aren't as easy to use with existing functionality like `max` and `him` so it would

[2020-05-14 18:24] Zorgatone commented on #32916
Still nothing? This is much needed :(

[2020-05-14 18:26] #41520 closed

[2020-05-14 18:47] kevmoo opened #41903 "function in opted out library ran from opted-in entry point is run as weak (expect failure!)"
See https://github.com/dart-lang/null_safety_sample_package

[code]

[2020-05-14 18:59] bwilkerson commented on #32916
Just to update, I believe that the quick fixes should now come in both varieties, allowing users to select the form they prefer. The auto-import on completion support has not been started.

[2020-05-14 19:01] nshahan commented on #41657
cc @johnniwinther

[2020-05-14 19:12] leafpetersen commented on #41903
@kevmoo Some confusion happening here.

1) we don't plan to support mixed mode + strong mode execution.   @johnniwinther is about to land this restriction.  That makes both of your strong_entry examples static errors unless you run --no-sound-null-safety to disable strong checking.
2) I don't understand why the first two examples work without enabling the experiment.

There is a known bug with con

[2020-05-14 19:28] mraleph commented on #41902
Note that `min` and `max` only work with numbers (their type parameter has `num` as a bound) and not with arbitrary comparable objects. So overriding `<` on `DateTime` would not permit you to use it with `min`/`max`.

There is no convenient method in the core library, but `kt_dart` package has `min` and `max` extension methods on `Iterable<T extends Comparable<T>>`, so if you have a `List<DateTime

[2020-05-14 19:53] franklinyow commented on #41355
@jonasfj  This issue is in the critical path of tech preview.  I like to get a ETA on this so I can build a timeline.  Thanks!

[2020-05-14 20:04] pq commented on #29430
FWIW @stereotype441 et al., there's another related report in https://github.com/dart-lang/linter/issues/320#issuecomment-628241212.

[2020-05-14 20:29] jonasfj commented on #41355
Hmm, looking at the `dartdev run` it uses a subprocess. Hence, that must be good enough for `pub run` too.

Running `pub` with experiments is undesirable anyways. As it might break/affect `pub` which is not what you want when you do `pub run --enable-experiment=...`

@franklinyow, hmm, we have a few things to refactor to get this going. But a week or maybe two (given all the holidays coming up).

[2020-05-14 20:37] stereotype441 commented on #41679
Ok, https://dart-review.googlesource.com/c/sdk/+/148020 was landed as d00d800f3a75bafcbb0e0e9cee49b20067016e68, so I believe it should now be possible to publish dartfix again.  Reassigning back to Janice.

[2020-05-14 20:40] srawlins commented on #38729
Ah, interesting, apologies.

[2020-05-14 23:47] zichangg opened #41904 "[Breaking Change Request] Support abort() in HttpClientRequest in Dart:IO"
# Summary
With current APIs in Dart:IO, there is no way to abort the `HttpClientRequest`. Once `HttpClientRequest` has been sent, the request cannot be canceled until `HttpClientResponse` comes back. See the example below:

[code]

Abort() will allow users to stop waiting for `HttpClientResponse`, so users can abort the request if it takes too long.

# Function signature
[code]

# The intended beh

[2020-05-14 23:48] zichangg commented on #41904
@lrhn @mit-mit @sortie

[2020-05-15 00:22] zichangg commented on #41826
I think the program is looping with `_tryFilter`, which recursively calls into itself to updates filter status.
It has `_filterStatus.readEmpty` being false, which probably means data to be picked up.

I'm new to this piece of code. @whesse is the expert!
Do you think this is expected behavior? If so, can we make `_tryFilter` into `scheduleMicroTask` instead of firing the callback immediately? It

[2020-05-15 00:28] zichangg commented on #41451
@rxwen I think you should follow what Zach has posted. He is an expert!

[2020-05-15 00:29] a-siva commented on #41903
I tried your example above, opting out bin/weak_lib.dart causes the entire program to run in weak mode. @johnniwinther per comments from Leaf above it looks like that case should be returning strong mode which will later lead to a compile error when we invoke the compiler.

[2020-05-15 00:33] kevmoo commented on #41903
I talked to Leaf about this. Running with the SDK @ head things are working
as expected – we think.

I'm working on an updated thing to check things here...

On Thu, May 14, 2020 at 5:30 PM Siva <notifications@github.com> wrote:

[2020-05-15 00:42] fishythefish commented on #41869
Fixed in e16b45c5508f9bf4851e1e48656864046542ee5b.

[2020-05-15 00:42] #41869 closed

[2020-05-15 00:51] franklinyow commented on #41904
Please announce your breaking change using the breaking change process
https://github.com/dart-lang/sdk/blob/master/docs/process/breaking-changes.md

[2020-05-15 00:56] franklinyow commented on #41197
cc @Hixie @matanlurey @dgrove @vsmenon for review and approval.

[2020-05-15 00:59] zichangg commented on #41904
@franklinyow I tried to send email to `announce@dartlang.org`. But I got "the group you tried to contact (announce) may not exist".

[2020-05-15 01:03] vsmenon commented on #41197
lgtm

[2020-05-15 01:08] franklinyow commented on #41904
I'm not sure what is the problem, it may be temporary because it has announcement earlier today.  Maybe wait a bit and try tomorrow.

[2020-05-15 01:29] #41824 closed

[2020-05-15 03:54] sigmundch opened #41905 "dart:html APIs unsupported on some browser should be nullable"
In debugging some internal apps I've come across several APIs that are not supported in FF and Safari. These are currently marked as non-nullable because they aren't nullable in Chrome, but in those browsers they are.

So far I've run into:
* `Performance.memory`  (see https://developer.mozilla.org/en-US/docs/Web/API/Performance)
* `navigator.connection` in Safary (see https://developer.mozilla.or

[2020-05-15 03:56] sigmundch commented on #41905
@srujzs could you take a look at making those APIs nullable for now?

We should meet to discuss the possibility of being more conservative at first (sprinkle more nullable APIs for now) or to validate with something like the dom d.ts or a way to load the MDN in an automated fashion.

/cc @rakudrama

[2020-05-15 04:02] sigmundch commented on #41905
@vsmenon @jacob314 - are you aware of a location where the MDN information can be downloaded in a machine format that we can use as input for this?

For what it's worth, none of the APIs above that have issues appear in the typescript d.ts file: https://github.com/microsoft/TypeScript/blob/master/src/lib/dom.generated.d.ts

[2020-05-15 05:09] artob commented on #36140
From a user perspective, the lack of these standard variable-sized types is probably the single largest remaining deficiency in Dart's FFI support. It does rather complicate making FFI bindings for Dart.

As someone routinely working on a number of FFI bindings for a multitude of different languages (most recently, [OpenXR](https://github.com/drydart/openxr.dart) bindings), the specific list of mi

[2020-05-15 05:31] johnniwinther commented on #41870
I agree that the file is not correct but should the vm _crash_ instead of just reporting the error and stopping?

https://dart-review.googlesource.com/c/sdk/+/140868/ has landed so the CFE now reports a compile-time error when trying to include opted-out libraries in strong mode.

[2020-05-15 05:36] atta1234 commented on #15346
it's still exist man in 2020,

[2020-05-15 05:39] rakudrama commented on #41867
dart2js fakes handling `null` at the call site by handling `null` immediately in every `==` method.

Since the `==` method has this implicit injected test, we should not be inlining if the argument is possibly `null`.
The error is likely in the inlining decision for a `==` method.

@fishythefish if the type test at the inlining decision bad?

[2020-05-15 06:30] johnniwinther commented on #41892
I'll add a way to recognize late lowered fields in the backends.