[2021-03-08 17:47] srawlins commented on #45230
If a rule is un-ignorable, via `cannotIgnore`, how does the user know this while trying to ignore something with `// ignore:`? I would tear my hair out thinking I've misspelt my error code.

[2021-03-08 17:56] Timmmm opened #45246 "Dart typed_data documentation is unclear what happens if a value is out of range"
In the setter functions, e.g. [`setUint32()`](https://api.dart.dev/stable/2.0.0/dart-typed_data/UnmodifiableByteDataView/setUint32.html) it says:

But it doesn't specify what happens if it *doesn't* fit in four bytes? I assume it is truncated like `& 0xFFFFFFFF`, but it's possible that an exception could be thrown.

The documentation should be updated to clarify the behaviour.

[2021-03-08 17:56] dcharkes commented on #45239
This is expected behavior. C also rounds up the size to alignment. See [this example](https://godbolt.org/z/c91bEd).

We're already tracking packed structs, closing this issue.

[2021-03-08 17:56] #45239 closed

[2021-03-08 18:01] dcharkes opened #45247 "[vm/ffi] Inline multi-dimensional array load optimizations"
We should investigate the performance of accessing multi-dimensional arrays in tight loops:

* Every bracketed access allocates another object, this should hopefully be optimized away.
* Every bracketed access computes the size of elements at runtime [code](https://dart-review.googlesource.com/c/sdk/+/188286/9/sdk/lib/_internal/vm/lib/ffi_patch.dart#123), because the type does not carry the length

[2021-03-08 18:02] gmpassos commented on #45230
Any rule in the code (in the format `// ignore: xyz`) should be respected, since this exists for many situations.

The reported bug is for an analyzer warning that ignores its own `ignore` rule.

An extra feature to ignore some rule for the whole project could be interesting too, but is not a substitute.

[2021-03-08 18:08] srawlins commented on #45230
@gmpassos the issue to follow for that discussion is https://github.com/dart-lang/sdk/issues/44237.

[2021-03-08 18:26] gmpassos commented on #44237
You are not only blocking ignore for errors, or compile issues, but also for security warnings, of totally normal codes (like unsafe_html)!

[2021-03-08 18:35] scheglov commented on #45233
It looks that there are `export` directives that point at a file that in turn exports another file (or itself) that exports itself. We attempt to prevent this by using `File.resolveSymbolicLinksSync()` and so find the canonical path of a file, and stop the recursion because we would find the state of the file that corresponds to this canonical path.

@illabo Apparently this does not work in your c

[2021-03-08 18:37] scheglov commented on #45195
Thank you. My CL was wrong. I will fix it.

[2021-03-08 18:39] bwilkerson commented on #45230
I expect the situation will arise far less often because the user is more likely to know what is and isn't allowed in their own code base.

But I agree that a diagnostic would be good in that situation. I just think we should clean up the way un-ignorable diagnostics are implemented first as it will impact the messaging.

I'll just note that we already have support for this diagnostic, but it's cu

[2021-03-08 19:29] yjbanov opened #45248 "`locked` option in `pubspec.yaml`"
The default behavior of `pub` is non-hermetic. Running `pub get` from the same codebase frequently leads to different sets of dependencies, causing flaky builds. `pubspec.lock` exists and can be checked into the repo, but `pub get` silently overwrites it, and therefore it does not solve the hermeticity issue. Furthermore, the silent overwriting is annoying. You end up with unintended local changes

[2021-03-08 19:30] #45182 closed

[2021-03-08 20:26] srawlins commented on #44237
@bwilkerson has a great suggestion at https://github.com/dart-lang/sdk/issues/45230#issuecomment-792929140, something like an analysis option which says which codes are un-ignorable:

[code]

This supports the original requirement of having _un_ignorable security codes internally at Google. This would change all compile-time errors to be totally ignorable (desired by Flutter and others). In theory

[2021-03-08 20:34] annagrin commented on #41480
@sigmundch definitely, that would be our next step after collecting feedback during dogfooding - I presume that proper encapsulation will require some design and bigger compiler changes.

[2021-03-08 20:38] bwilkerson commented on #44237
If that's a use case we want to support, then I'd propose that we have a way to specify "groups" of diagnostics (perhaps 'compile_time_errors' or even 'security-errors') as being un-ignorable. It isn't reasonable to expect any user to be able to maintain a list of compile time errors given that we typically add several with each new language feature.

[2021-03-08 20:41] srawlins commented on #44237
I love it. It feels very pragmatic, helpful, and can be discoverable when we get more auto-complete / analysis working in `analysis_options.yaml`.

[2021-03-08 20:49] #45195 closed

[2021-03-08 20:49] scheglov commented on #45195
https://dart-review.googlesource.com/c/sdk/+/189300

[2021-03-08 21:41] bwilkerson opened #45249 "False positive from the hint import_deferred_library_with_load_function"
Given a file named `a.dart` containing
[code]
and another file containing
[code]
analyzer reports the diagnostic
[code]

The function has been explicitly hidden, so it seems like the warning that it's being implicitly hidden is wrong, or at least unhelpful.

[2021-03-08 21:41] bwilkerson commented on #45249
@srawlins

[2021-03-08 22:19] lrhn commented on #45245
The `dart:isolate` library is only concerned with creating isolates and port communication. It's very much a low-level library.
For higher level APIs, `package:isolate` provides some higher level abstractions.

For example, you can create an [IsolateRunner](https://pub.dev/documentation/isolate/latest/isolate.isolate_runner/IsolateRunner/spawn.html) and run commands in the created isolate. It does

[2021-03-08 22:33] Sunbreak commented on #45239
I have no idea why [godbot.org](https://godbolt.org/z/c91bEd) have a 16 result. Maybe related to `msvc(WINE)`. When running with real MSVC, it is 14 by default

![image](https://user-images.githubusercontent.com/7928961/110390266-ae295880-80a0-11eb-94ba-2cdab8f01402.png)

`BITMAPFILEHEADER` is from `wingdi.h`: https://docs.microsoft.com/en-us/windows/win32/api/wingdi/ns-wingdi-bitmapfileheader

[c

[2021-03-08 22:38] Ascenio commented on #45245
Sure. But as you can see it's a very simple function, I still think there's not a strong reason for it not being a part of core. It's not even high level.

My motivation is mostly simplicity, it would be very useful for libraries for example. Take a look at [image](https://pub.dev/packages/image#example)'s sample. It could be a lot more concise.

[2021-03-08 22:55] nex3 commented on #44181
This isn't the first time we've run into the broad category of issues where "sometimes you want an isolate to inherit X from its parent and sometimes you want to control X explicitly". Maybe there's a need for an opaque `Map<Symbol, Object> flags` parameter that can be used to trigger migration-compatibility behavior in a way that won't introduce API bloat once a migration is completed? For exampl

[2021-03-08 23:20] devoncarew opened #45250 "Stack Overflow at SubtypeHelper.isSubtypeOf(subtype.dart:35) (referenced from error_verifier.dart)"
Seen by one internal user once:

[code]

[2021-03-08 23:21] devoncarew commented on #45250
Probably the same exception? (from another report):

[code]

[2021-03-08 23:47] illabo commented on #45233
@scheglov The issue isn't adhere to any particular projects I've trying to edit. Just pick any and analyzer'll crash for sure. To prove it I've just took the steps below:
[code]
and boom, analyzer crashed on VSCode start.
<details>
  <summary>Log included.</summary>

[code]

</details>

Same holds true for Android Studio. `open -a "Android Studio" .` after some startup routines of IntelliJ one'll

[2021-03-09 00:30] Sunbreak commented on #45239
@dcharkes @mannprerak2 This is NOT expected behavior with MSVC. Could you re-open it?

[2021-03-09 00:43] annagrin opened #45251 "[CFE] Parser crash in code involving undefined type."
**Issue:**

Parser crash on an undefined type.

Dart version: Dart SDK version: 2.13.0-97.0.dev

**Repro:**

compile following code:

[code]

**Expected:**

`Undefined` is not a type

**Result:**
[code]

[2021-03-09 01:03] franklinyow commented on #45156
ping:  @vsmenon @a-siva @mit-mit

[2021-03-09 01:11] scheglov commented on #45233
OK, it looks that it might be related to SDKs in linked directories.
Unfortunately I still don't understand what happens.

Could you try to follow https://github.com/dart-lang/sdk/issues/44501#issuecomment-784487099 to enable `Observatory`, and then when it will stop on the stack overflow exception, see one which files it cycles? Unfortunately there is not much hope that this will work, for me thi

[2021-03-09 01:28] franklinyow opened #45252 "Remove "anonymously" and "anonymous" from first_run.dart"
Privacy Shield team suggested we do not use the word "anonymously". and "anonymous" in the first run message.

`const String analyticsNoticeOnFirstRunMessage`
`const String analyticsDisabledNoticeMessage`
need to be update accordingly.

[2021-03-09 02:03] scheglov commented on #45233
I will add more data to the exception.
https://dart-review.googlesource.com/c/sdk/+/189941

You could also try if removing `~/.dartServer/.analysis-driver` helps.

Or using a non-stable version. We did a few fixes related to available declarations, although not exactly for the place where it seems to cycle.

[2021-03-09 02:12] Sunbreak opened #45254 "[vm/ffi] `Platform.isX64` function"
I'm working on https://github.com/woodemi/twaindsm.dart, and many scanner devices have only `32-bit` driver

Could we have `Platform.isX64` function, something like [Platform.isWindows](https://api.flutter.dev/flutter/dart-io/Platform/isWindows.html) or [kIsWeb](https://api.flutter.dev/flutter/foundation/kIsWeb-constant.html), to determine coresponding 32-bit or 64-bit `TWAINDSM.dll`?

[code]

[2021-03-09 02:35] a-siva commented on #45214
lgtm

[2021-03-09 02:35] a-siva commented on #45156
lgtm

[2021-03-09 03:39] shyndman commented on #34061
I can't help but feel this was closed in error.

`ContentType` is precisely the kind of object that one would compare against a constant in order to change a program's behavior (in this case, to automate response parsing). The fact that it doesn't is _surprising_ to a consumer of the API.

Would the Dart team reconsider this decision? Is the cost really so great?

[2021-03-09 03:43] illabo commented on #45233
@scheglov removing `~/.dartServer/.analysis-driver` helped. Sorry for bothering with nonvital issue.
If it may be helpful to investigate what's the crash reason here is a link to [Observatory timeline](https://drive.google.com/file/d/1qET95fEQroFBd4ENNA63-4lTtj3MNUB-/view?usp=sharing) as close to crash as possible.

[2021-03-09 03:52] Sameerkash commented on #45203
@srawlins  Can I get any help with this as it is preventing migration of the package?

[2021-03-09 04:16] srawlins commented on #45203
I recommend a [migrating by hand](https://dart.dev/null-safety/migration-guide#migrating-by-hand).

[2021-03-09 06:30] rakudrama commented on #25231
Large strings are now pooled (d8b7ec5163f377f5da004ccf3e9b2c3b8668748a).
This prevents a large string being duplicated in a single output unit, but does not share a string referenced by two output units.
This seems to work well for some customer scenarios, including the 'ess' duplication.

Possible future work
- Along the lines of the original suggestion, string constants that exist in the program

[2021-03-09 06:42] rakudrama commented on #44188
Re-landed as f7ae22a4c1996fa5b74de67b64956f8afe59df24

[2021-03-09 06:42] #44188 closed

[2021-03-09 06:53] rakudrama commented on #40065
@matanlurey @leonsenft f7ae22a4c1996fa5b74de67b64956f8afe59df24 changed the code patterns generated for spreads to use `addAll` (or `List.of` at the beginning). `addAll` and `List.of` were further optimized to keep performance in-line with custom loops where the spread argument is already a `List`.

Does this address your concerns?

[2021-03-09 07:22] liudonghua123 commented on #45222
@mraleph Thanks for your help explanations and tips. 😄

In my opinion, it's true that most hardware is 64-bit compatible, however some of them maybe install a 32-bit OS, like win 7 32-bit, win 10 32-bit. And sometimes you want to just deploy only a single binary for windows users, so a x86 binary maybe more easier then x64 one because x86 binary could be run on x64 windows.

I will try to do the p

[2021-03-09 08:13] agent3bood commented on #45027
I had similar issue, when migrating at this point https://github.com/agent3bood/gql/tree/5f0e284468bb955660af7ed14509a6dea9a5ce47

[code]

[2021-03-09 08:31] dcharkes commented on #45239
@Sunbreak windows is using packed structs by having `#pragma pack(push, 1)`  ([win32 copy showing the pragma](https://github.com/dotnet/llilc/blob/master/include/clr/pshpack1.h), [godbolt reproduction](https://godbolt.org/z/TxWzex)).

Having size 16 is expected without packing, and size 14 is expected behavior with packing.

[2021-03-09 08:31] mraleph opened #45255 "Stdin.readLineSync performance is very bad for large lines"
It reads input bytes one by one from the input and puts them into a growable list of `<int>[]`.

This might lead to some very poor performance (compared to other languages) when reading exceedingly long lines from stdin.

[2021-03-09 08:35] johnniwinther commented on #45251
With asserts enabled we hit an assertion error in the parser:
[code]

@jensjoha Can you take a look at the parser error? - we seem to give very much of the rails on this one.

[2021-03-09 08:58] jensjoha commented on #45251
I agree we should do better here, but only expecting `Undefined is not a type` is wrong. The code says "final Map<String, Undefined> bar = Map<String, List<int>>**{}**;" --- replacing with the correct parenthesis instead and everything's fine. Clearly it should idealy say something along those lines instead. I'll look into that.

[2021-03-09 09:00] larssn opened #45256 "Implicit/explicit null safety in types and optional arguments"
So I'm on Dart 2.12, and I've run into a scenario where I have to feed `null` into a constructor, even though the parameter should be nullable.

[code]

The `nullable` variable needs `null` in order to get initialized which makes sense since the constructor takes a required argument.

What doesn't make sense though, is that even though I can inject my nullable types into the class, the constructor

[2021-03-09 09:23] Sunbreak commented on #45239
https://github.com/twain/twain-samples/blob/e8f0151dd73519323d99a6e94841cb1e25d1d677/TWAIN-Samples/Twain_App_sample01/src/TwainApp.cpp#L942-L950

[code]

`twain-samples` use `BITMAPFILEHEADER` to write bmp files. 14 bytes works fine while 16 bytes makes the bmp file crapped and unable to open

[2021-03-09 09:24] stvhrs opened #45257 "Warning: `dart pub outdated --mode=null-safety` exited with exit code 69 and stderr:, My framework&dart path already detected androidSDK"
Warning: `dart pub outdated --mode=null-safety` exited with exit code 69 and stderr:

Package doesn't exist (the Flutter SDK is not available).

Migrating E:\development\project\Gubuk_Bonsai

Analyzing project...
[------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2021-03-09 09:39] dcharkes commented on #45239
Yes, in the win32 API, the struct is packed. So using `dart:ffi` without packed structs support will produce problems.

`sizeOf< BITMAPFILEHEADER >()` will start producing the expected result when we land support for packed structs (https://github.com/dart-lang/sdk/issues/38158) and you change the struct definition to include that:

[code]

So, to my understanding, the problem you're facing right

[2021-03-09 09:42] #42430 closed

[2021-03-09 09:45] Sunbreak commented on #45239
So the only workaround for now is to hack like: https://github.com/dart-lang/ffigen/issues/68#issuecomment-784866350 ?

[code]

[2021-03-09 09:52] eernstg commented on #44964
Type alias cyclicity tests landed as https://dart-review.googlesource.com/186290.

[2021-03-09 09:52] #44964 closed

[2021-03-09 10:03] dcharkes commented on #45239
Yes, we're working on adding support for packed structs so that you don't have to do workarounds.

P.S. `package:win32` already contains [a workaround](https://github.com/timsneath/win32/blob/e03e52db63fa0364bd90abd0750f477d7f83cb91/tool/manual_gen/struct_sizes.dart#L57) for `BITMAPFILEHEADER`. You might be able to use / collaborate on that package.

[2021-03-09 10:08] lrhn commented on #45256
A parameter is either always optional or always required. That does not depend on the its type.
If the parameter is required, then you need to pass a valid value, whether the parameter is nullable or not. If it is nullable, then `null` is a valid value, but no more special than any other valid value.
You are not *forced* to pass `null` to `Test<num?>(null)`, you could also use `Test<num?>(0)`

If

[2021-03-09 10:10] Sunbreak opened #45258 "[vm/ffi] Pointer failure after upgrading nullsafety"
# Reproduce

A little long, check: https://github.com/woodemi/twaindsm.dart/issues/2

# Summary

/ | before upgrading | after nullsafety
--- | --- | ---
empty struct | ✅ | ✅
opaque | ~ | ~
Uint8 pointer | ✅ | ❌
nested struct | ~ | ❌

- ✅: connect success
- ❌: connect failure
- ~: won't compile

[code]

[2021-03-09 10:11] Sunbreak commented on #45239
Didn't know that. Thanks a lot!

[2021-03-09 10:11] lrhn commented on #45254
Sounds like something which should be in the `ffi` libraries. (Also it should probably be related to the pointer size, not the underlying CPU architecture, so it works for ARM64 too.)
Would you need  to distinguish x32 from x86 too?

[2021-03-09 10:12] larssn commented on #45256
Yeah I can imagine it being tricky combining the two.

Thanks for clarifying.

[2021-03-09 10:12] #45256 closed

[2021-03-09 10:14] Sunbreak commented on #45254
`ffi` would be fine. No need for x32 for now :)

[2021-03-09 10:16] dcharkes opened #45259 "IL serialization crashes"
There are new test failures on [[dart2js] Implement int.>>> optimizations...Replace NodeListImpl<Xyz> with NodeListImpl<XyzImpl> in implementations.](https://github.com/dart-lang/sdk/compare/14b07bc81cc01d83e6a4f4def49a4d29eea66957~...39aa454e7b377d17ec3e9c45b1e628a003a23fc7).

The tests
[code]
are failing on configurations
[code]

Suspect commit from that range: https://github.com/dart-lang/sdk/c

[2021-03-09 11:00] johnniwinther commented on #45204
cc @stefantsov Can you look into this? We'll have similar problems wrt. extension types.

[2021-03-09 11:08] athomas commented on #45243
Often, pushing the latest stable to beta makes sense. The only exception would be if we publish a beta and then do a stable patch release (we don't want to rollback beta).

For 2.12.0, this should be resolved now so I'm closing that issue. I've also added it to our checklist for the next version bump.

[2021-03-09 11:08] #45243 closed

[2021-03-09 11:11] dcharkes opened #45260 "[vm] OSR missing phis"
[code]

looks like some `index` calls are not happening: `, [], [], []], []])`.

https://dart-ci.appspot.com/log/any/dartk-optcounter-linux-release-x64/12076/ffi_2/inline_array_multi_dimensional_test

[2021-03-09 11:27] #45207 closed

[2021-03-09 13:52] stereotype441 opened #45262 "CFE fails to resolve extension imported via prefix when multiple import statements use the same prefix"
Consider the following two Dart libraries:

`test.dart`:
[code]

`other.dart`:
[code]
I believe this code is statically valid, and the analyzer accepts it without complaint.  But the CFE reports the following error:
[code]
Removing the line marked (1) makes the error go away.

[2021-03-09 13:53] johnniwinther commented on #45262
cc @stefantsov

[2021-03-09 14:13] hey24sheep opened #45263 "Unable to infer base type using `is` on Dart SDK 2.12.0"
I am getting this error `The getter 'loadFromNetwork' isn't defined for the type 'Event & LoadEvent'`.

Before Flutter 2 and Dart Latest this wasn't an issue with `is` check it was able to infer types from base classes.

## Dart Version
Dart SDK version: 2.12.0 (stable) (Thu Feb 25 19:50:53 2021 +0100) on "windows_x64"

## Steps to Reproduce

Here is an example snippet identical to our code.
[code

[2021-03-09 14:30] jensjoha commented on #45251
So this is what's happening:

- When it's about to parse `<String, List<int>>` as type parameters for `Map` it doesn't because it ends with `{}`. (It explicitly checks if it ends with `(` for it to parse as method type arguments (`computeMethodTypeArguments`) --- and it doesn't.)
- It thus concludes that there are no type parameters and parses it as (logically) `final Type fieldName1 = a < b, fiel

[2021-03-09 15:27] Sunbreak commented on #45258
When using inlien-array & nested-struct, commenting out `ProductFamily` & `ProductName` works. Only commenting out `ProductName` won't work either.

It could be related to packed struct https://github.com/dart-lang/sdk/issues/38158

[code]

[2021-03-09 16:06] srawlins commented on #45165
Actually, `void?` appears to be a parse error.

I'm going to submit a diagnostic for `dynamic?` and `Null?`.

I'm going to leave this alone for now. I don't see people writing `Never?` hardly ever, and I think the guidance is not as strong.

If that can be argued, then I think we should let this one be. :)

[2021-03-09 16:47] vsmenon commented on #45156
lgtm

[2021-03-09 17:07] buehren commented on #45139
Hi @mit-mit @kevmoo @subfuzion @srawlins,

thanks for looking into this.

Meanwhile I have created a [reproducer Flutter App](https://github.com/buehren/websocket-client-flutter) and tested sending messages to the server on Cloud Run over the WebSocket on various target platforms:

**✗** Flutter for Android
**✗** Flutter for Linux
**✗** Flutter for Windows
**✓** Flutter for Web

As `WebSocket` fro

[2021-03-09 17:26] #41480 closed

[2021-03-09 17:26] #44713 closed

[2021-03-09 17:26] #44979 closed

[2021-03-09 17:26] #44686 closed

[2021-03-09 17:26] #44813 closed

[2021-03-09 17:26] #44933 closed

[2021-03-09 17:27] rakudrama commented on #30890
Implementation done (39aa454e7b377d17ec3e9c45b1e628a003a23fc7).
Once `--enable-experiment=triple-shift` is the default, there are some cleanup tasks:
- [ ] remove `triple-shift` flags added to the codegen and optimization tests
- [ ] run dartfmt on the test code containing `>>>`.

[2021-03-09 17:47] mrdemqn opened #45264 "Migrate to null safety."
While performing the following command "dart pub outdated --mode=null-safety" the following message appears "Package doesn't exist (the Flutter SDK is not available)."

[2021-03-09 17:51] #45220 closed

[2021-03-09 17:57] scheglov commented on #45236
We are not working yet on migrating `analyzed_plugin`, but we would like to have it migrated. So, if you have time to do it, this is great. Send your PR :-)

As far as I can see, almost all dependencies of `analyzer_plugin` are migrated, and have null safe versions published. One exception is `dart_style`, which has https://github.com/dart-lang/dart_style/pull/1000 waiting for now. I will ping it.

[2021-03-09 18:15] srawlins commented on #45264
I'm not certain of the root cause of this bug, but you should be able to skip the `dart pub outdated` step with: `dart migrate --skip-import-check`.

[2021-03-09 18:21] aam commented on #45255
I guess the reason for this is that we don't want to read more bytes from the stream beyond end of the line which we ourselves identify as some form of a CR, LF sequence https://github.com/dart-lang/sdk/blob/master/sdk/lib/io/stdio.dart#L73 and below

[2021-03-09 18:44] johnniwinther commented on #30888
Yes.

[2021-03-09 18:44] #30888 closed

[2021-03-09 18:44] esDotDev opened #45265 "[NNBD] Analyser missing explicit null check for class fields"
[code]

Why does the compiler complain here? Compiler should know that this is a `final` field? This pattern is used very often in flutter, where we will check a property of the widget to see if it's null.
[code]

I think I understand this in general, because we can't be sure some subsequent function does not change a field. But, in this case its in the immediately following line. With something l

[2021-03-09 18:47] incendial commented on #45236
I have already started working on the migration (using `dart_style` from git for now). And thanks for pinging them!

Although all dependencies seems to have null safe version, I have a problem with resolving both `analyzer` package direct dependency and through `analyzer_utilities` path override (path: ../analyzer_utilities). Never faced that issue before. Are there some command to resolve those t

[2021-03-09 19:08] DanTup commented on #44787
@bkonyi there's a problem with the workaround.. This works:

[code]

But this fails:

[code]

It seems like adding `--disable-dart-dev` breaks `dart run`. If I move `--dsiable-dart-dev` to after `run` (I don't know if that's valid), then I get a crash:

[code]

[2021-03-09 19:11] bkonyi commented on #44787
@DanTup that's expected. `dart run` is handled by the Dart CLI (aka DartDev), so `--disable-dart-dev` will cause that to no longer work. If you drop the `run` bit, you should be okay.

[2021-03-09 19:15] DanTup commented on #44787
Ah, ofcourse. Though I don't think I can drop `run`, as it's required to use execute package:test without going via pub as far as I know.

Changing this to not use `dart run test:test` would affect the production code (not just tests), so I'd prefer not to change that. I'll skip these tests on Windows for now (the main debug tests are running, and these are on other platforms) and file an issue to

[2021-03-09 19:25] Kavantix commented on #44868
Well yeah, the short period in which it shows an error is not needed and bothers me personally, and in vim the analysis only updates when I leave inset mode so if I’m swapping out Container for another widget name I never see any error.

I do agree though that improving wrap with widget is another good and perhaps better option.
Before jumping to something like the codeaction snippet extension we

[2021-03-09 19:25] jrcodev commented on #45233
This error happens with me in my desktop project.
<details>
<summary>flutter doctor -v</summary>
<p>

[code]
</p>
</details>

<details>
<summary>My logs</summary>
<p>
[16:08:53] [Analyzer] [Info] <== {"event":"completion.availableSuggestions","params":{"changedLibraries":[{"id":146,"uri":"package:collection/collection.dart","items":[{"label":"IterableExtension","declaringLibraryUri":"package:colle

[2021-03-09 19:42] jrcodev commented on #45233
After try many times discover the error origin, was a mistake made by me, I use or instead of ||, and only this crash analyzer.

[2021-03-09 19:47] esDotDev commented on #45265
Another use case, that is also coming from this same limitation:
[code]
Does not  work, I have to write either:
[code]

Or
[code]

The early exit is quite a bit nicer to read and to write, especially if the method body is long and references controller many times.

[2021-03-09 19:54] annagrin opened #45266 "[frontend_server] Expression evaluation is broken after hot restart when debugging flutter code"
**Issue:**

Expression evaluation is broken after hot restart on web platform.

**Repro:**

- Debug flutter hello_world example in VSCode, stop on a breakpoint in main
- Type "true" in expression evaluation box, observe result
- Click hot restart
- On breakpoint, type "true" in expression evaluation box again

**Result:**
`Internal error: frontend server failed to compile 'true'`

**Expected:**
`t

[2021-03-09 19:59] RaedDev commented on #44489
I want to add my voice to the rest of the voices, my use case is to load modules dynamically and use the functions they provide.
While this use case and most other use cases could be covered by code generation it's a trade of between more complex build process, and a tree-shaken code.

As many people have said, marking class that should support reflection is great way to solve many problems, and h

[2021-03-09 20:15] esDotDev commented on #45265
I can make some sort of workaround for this using a closure, but it's not great:
[code]
Then I can do:
[code]

[2021-03-09 21:16] gmpassos commented on #44489
I think that the biggest problem with reflection is the collateral effect with the tree shaking.

To minimize the problem, I think that the Reflector (the class that will use reflection, that will use use a Class X by reflection), should be the one that defines the classes than will be reflected (accessed by reflection), and not the opposite.

I saw in the past some frameworks where the class that

[2021-03-09 21:33] KUMAR20001 commented on #45264
Check on your internet connection speed because the cammand "dart pub" is not recognised in the flutter SDK and try to reinstall the SDK with specifying correct path in SDK manager which will automatically run this "dart pub outdated --mode=null-safety" by downloading and installing  " pub get " from the excecuting terminal

[2021-03-09 21:45] franklinyow commented on #45156
Hot fixed approved.

Text description:  This fix a bug in the VM typed_data operator that result in runtime crash, see issue #45140.

[2021-03-09 21:53] franklinyow commented on #45214
Hot-fix approved.

Text: This fixes "Bad state: Future already completed" unhandled exception that when https connection attempt errors out, or is aborted shortly after it started, before name resolution had a chance to complete, see issue #45047.

[2021-03-09 22:06] chaselatta opened #45267 "[analyzer] dart --packages my_package_config.json analyze doesn't honor the passed in package_config file"
* Dart SDK Version (`dart --version`): Dart SDK version: 2.13.0-116.0.dev (dev) (Sun Mar 7 18:57:20 2021 -0800) on "linux_x64"

I was experimenting with migrating the Fuchsia build rules from using `dartanalyzer` to `dart analyze`. We generate our package_config.json files on demand based on the BUILD.gn rules and then pass the location of this file to the dartanalyzer tool directly. It looks like

[2021-03-09 22:24] jakemac53 commented on #44489
@gmpassos I very much agree with you :). I have even hand coded something to mimic a theoretical "const reflection" proposal in this package https://github.com/jakemac53/static_reflection (sorry for lack of readme etc there). You can see that it does indeed not hinder tree shaking in the same ways that dart:mirrors or reflectable do. It is also a bit more cumbersome to use but I think the tradeoff

[2021-03-09 23:03] Sunbreak commented on #45239
It is implemented in `win32: 2.x`, not in `win32: 1.7.4` before null-safety. What a pity

[2021-03-09 23:22] srawlins commented on #45264
I was under the impression, from the original bug report, that you were running the `dart migrate` command. If you are instead just running `dart pub outdated`, I will send this bug over to the "pub" team.

[2021-03-09 23:23] srawlins commented on #45264
Ah, however, if you were running the `dart migrate` command, and that command instructed you to run `dart pub outdated`, then once again, this is a bug for the `dart migrate` command. :) very confusing.

[2021-03-09 23:55] bkonyi commented on #45267
`dart --packages=config.json analyze` is passing the configuration file to be interpreted by the VM, not the analyzer. It looks like we don't currently support `--packages` with `dart analyze`.

@devoncarew I think we should have support for `--packages` under the `analyze` command.

[2021-03-10 00:10] spekary commented on #44848
I had this problem too in Android 8 and Flutter 2.0. Was trying to enumerate the applications files directory as reported by `getExternalFilesDir`. Switching to Android 10, dir.listSync suddenly started working.

[2021-03-10 00:15] bkonyi commented on #44787
So I've taken a look at the code and the only way that DDS gets an empty VM service URI is if the VM service server hasn't finished starting when `Service.getInfo()` is called. You said this is a flaky failure, right? I'm guessing this is just a race and we need to poll `Service.getInfo()` until we actually get a VM service URI.

[2021-03-10 00:22] stereotype441 commented on #45265
I believe either @munificent or @kwalrath was planning to write something up?

[2021-03-10 00:41] kwalrath commented on #45265
There's a mention here: https://dart.dev/guides/language/language-tour#late-variables

I don't know whether we've published more detail elsewhere, but if we have, I'd be happy to link to it.

The thing is, though... how would people find this doc? Can the tool point them to the explanation, somehow?

[2021-03-10 00:46] #44720 closed

[2021-03-10 00:52] esDotDev commented on #45265
Oh, I didn't realize that something like this would actually compile:
[code]

It's really quite odd, I can "override" a `nullable final` to a `non-nullable non-final`, and a field to an accessor, as long as the base type remains the same.  That's really unfortunate, and I can see how that prevents you from doing virtually anything with class fields, even in seemingly the most obvious cases.

This

[2021-03-10 01:11] jamesderlin opened #45268 "Null safety migration tool doesn't explain why it sometimes add explicit types"
I'm trying to migrate some code that looks like:
[code]
The migration tool wants to add explicit types:
[code]
but the details pane doesn't provide any rationale.  It'd be really helpful if it could (like DartPad) show me what type it thinks a particular variable is (or rather, what it would be without the explicit type).  While I could click on the right-hand-side to see the corresponding declara

[2021-03-10 01:40] Sunbreak commented on #45258
After investigating more, I've found the key different is `ffi.allocate()` before null-safety and `ffi.calloc()` after null-safety

With full inlien-array & nested-struct support, `ffi.malloc()` solve the problem

[code]

Maybe we need some best practise notes there.

And I'll dig deeper later why malloc/calloc matters

[2021-03-10 02:28] Ascenio commented on #45245
Sure, you have a good point. I would still like to have a function available. Anyway, thanks for your time.

[2021-03-10 02:28] #45245 closed

[2021-03-10 04:09] Bhavay192 commented on #45250
Hey @devoncarew I want to work on this issue , Can u help me resolve this issue please .

[2021-03-10 04:33] gmpassos opened #45269 "Error in `dart migrate`: injected wrong version of `collection` in pubspec.yaml"
[Dart 2.12.0]
When applying `dart migrate` suggestions, it's common to have a new dependency:

`pubspec.yaml`:
[code]

`foo.dart`:
[code]

Note that the current version of the package `collection` is `1.15.0`, but the inserted version in the pubspec was the pre-release version `1.15.0-nullsafety.4`.

The migration tool should understand that the release version (1.15.0) is higher than the pre-rele

[2021-03-10 04:47] srawlins commented on #45263
Sorry I don't think there is anything to resolve. Dart's type promotion does not promote to intersection types. `Event` and `LoadEvent` are unrelated types, so `event` will not promote using `is`.

Redeclaring `event` with something like `var loadEvent = event as LoadEvent` will create a new variable with the new type.

[2021-03-10 04:54] srawlins commented on #45265
@leafpetersen also has great links in a comment he made at https://github.com/dart-lang/language/issues/1494#issuecomment-791051336:

[2021-03-10 04:54] #45265 closed

[2021-03-10 04:55] fzyzcjy opened #45270 "[NNBD] Function.apply fail for nullable types (online dartpad runs, but offline Dart 2.12.0 fails)"
Hi thanks for this language! I find a bug, which causes a [popular library](https://github.com/mobxjs/mobx.dart/issues/640) cannot run :(

Use the following code:

[code]

In `test<int?>(null)`, it should work, since `T` is `int?`. But actually it throws: For example, copy it to `a.dart` then run `dart a.dart`. Output:

[code]

When using https://nullsafety.dartpad.dev/, the code run normally. But

[2021-03-10 05:01] srawlins commented on #45104
@devoncarew why are issues like this in `area-build`?

[2021-03-10 05:03] hey24sheep commented on #45263
Why it is promoted with removed functionality? It was so useful. We use many abstract layers and it was such a useful thing and also we have `avoid_as` disabled so to mark those changes as valid lint we have to add disable line wise.

Also this raises another lint issue  `unnecessary_cast` along with `avoid_as`.

[2021-03-10 07:06] johnniwinther commented on #45270
This is a VM issue. The online version runs dart2js.

[2021-03-10 07:08] fzyzcjy commented on #45270
@johnniwinther Sounds reasonable! Is there anything that I can help?

[2021-03-10 07:12] johnniwinther commented on #45270
@fzyzcjy I don't know enough about the VM runtime type system to tell.

@mraleph @mkustermann Do you have any insights here?

[2021-03-10 07:17] johnniwinther commented on #43891
This is the main reason I still use `dartanalyzer`; it isn't very useful run `dart analyze` on my temp folder full of garbage programs just to test the analyzer result for a single script.

[2021-03-10 07:19] johnniwinther commented on #45263
@eernstg I think this another discrepancy between the CFE and the analyzer about when to demote promoted type variables. The CFE has no problem with the code. Should it?

[2021-03-10 07:43] Bhavay192 commented on #45246
Hey @srawlins I would like to contribute to this issue , Could you please help me with this.

[2021-03-10 08:48] jack0-0wu opened #45271 "Why dart an async function runs synchronously until the first await keyword?"
This is the code that uses Future

[code]

The output is as follows

[code]

When I want to use async to simplify my code, the code looks like this

[code]

The output is as follows

[code]

At first I was confused, I don't know why they output is different, I am looking for a lot of information, until I saw these words on the [https://dart.dev/codelabs/async-await#execution-flow-with-async-and-aw

[2021-03-10 08:58] mraleph commented on #45270
Looks like we are not instantiating `T` when type checking.

/cc @sstrickl Tess, do you think this might be related to your recent changes?
/cc @crelier

[2021-03-10 09:18] sstrickl opened #45272 "Failures on [vm] Fix deoptimization environment of AssertAssignable"
There are new test failures on [[vm] Fix deoptimization environment of AssertAssignable](https://github.com/dart-lang/sdk/commit/cd104aef6f5a4b996616e61c5e9395753ea51aa5).

The tests
[code]
are failing on configurations
[code]

That's a new regression test introduced in cd104ae.

/cc @mkustermann

[2021-03-10 09:27] sstrickl commented on #45270
I'll take a look at it and see, thanks for the heads up!

[2021-03-10 10:17] mit-mit opened #45273 "Code snippet in fold docs causes type issue in 2.12"
The API docs for iterable has an example of using fold:

https://api.dart.dev/stable/2.12.0/dart-core/Iterable/fold.html

[code]

=>

[code]

A few issues

1. Is there something we can do to improve inference here?
1. It would be nice if the example was updated to not trigger this type issue
1. The error message is confusing, adding a bang operator just leads to a new issue:

[code]

[2021-03-10 10:26] lrhn commented on #45273
Ad 1. - That's hard. The one thing that would help is to have cross-argument inference. The first argument (`0`) would suggest that the type argument should be `int`. The second argument, the function, provides no hint (but `int` will work for its body.

Ad 2. - We can use `reduce` instead of `fold`, it takes its types from the list, and doesn't have an extra unconstrained type.

Ad 3. - Agree, we

[2021-03-10 10:27] DanTup commented on #44787
@bkonyi thanks!

It's fairly flaky (though there are so many process spawned in a Dart-Code test run, it's triggered quite a lot in each run). A race sounds fairly plausible - and GitHub Actions instances are super slow compared to my Windows PC so it could also explain why I can't repro there (the timing on my PC might always "win" the race favourably).

I don't know if I can easily test an un-la

[2021-03-10 11:34] leynier opened #45274 ""ui.window.locale" is "Locale" but an exception is thrown saying it is "Locale?""
This tracker is for issues related to Dart core libraries ("dart:async", "dart:io", etc.)

Dart SDK version: 2.12.0 (stable) (Thu Feb 25 19:50:53 2021 +0100) on "windows_x64"

In `dart:ui`, the file `window.dart`

![image](https://user-images.githubusercontent.com/36774373/110622747-dcbf3600-8169-11eb-8b69-7f8624da1e74.png)

The type of `locale` property is `Locale`, not `Locale?`, but when i run

[2021-03-10 11:38] sstrickl commented on #45270
Have adjusted the stub to match and put up for review.

[2021-03-10 12:36] dcharkes commented on #38721
Update: Everything except struct constructors is shaken out. Struct constructors are still retained, because the FFI trampolines creating structs (in FFI call returns, or FFI callback arguments) is not hooked up to the TFA yet.

[2021-03-10 12:50] jensjoha commented on #45251
Oh, yeah, so ignoring `Map` (i.e. `final Map<String, Undefined> bar = <String, List<int>>{};` would also be fine. I've got a recovery for that currently testing in the CQ --- hopefully it will be send for review soon.

[2021-03-10 13:27] apetroaeiandrei opened #45275 "Improvement - apply to selected files and continue"
In a few words, I'd like to apply the migration to a file, rerun, apply to another file and so on but I have to run dart migrate again, every time I apply some changes.

#### Steps to reproduce
Select just a couple of files and apply migration to them.

#### What did you expect to happen?
Being able to analyse another file after applying migration to a selected batch of files.

#### What actually

[2021-03-10 13:30] stereotype441 commented on #45216
@KoheiNakaya can you give us some information about what you were trying to do and what behavior you saw?

[2021-03-10 13:32] stereotype441 commented on #45203
You can also try running the migration tool with the `--ignore-exceptions` option.  This may produce a less accurate migration, so you may have to fix some compile errors afterwards, but it's often still more convenient than a hand migration.

[2021-03-10 13:56] eernstg commented on #45263
I don't see any reason to demote `event`, and I do think that the member access `event.loadFromNetwork` should be accepted.

The type of `event` is promoted to `Event & LoadEvent` at the `if` condition, because `LoadEvent` is a subtype of the bound of the type variable `Event` (`LoadEvent <: NetworkLoadEvent <: Base`). The two types are indeed unrelated, but we have this special mechanism where a

[2021-03-10 14:00] Sameerkash commented on #45203
Yup did that, almost worked out fine.

[2021-03-10 14:14] DanTup opened #45276 "VM Service CpuSamples.timespan is documented as being integer, but returns decimal numbers"
From here:

https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md#cpusample

[code]

However when I call it, I see values like `0.843768`:

<img width="462" alt="Screenshot 2021-03-10 at 14 11 14" src="https://user-images.githubusercontent.com/1078012/110641993-7dcde100-81aa-11eb-9e9f-8ce24522a7ed.png">

I called it using `package:vm_service` and dumped the `.json` field from

[2021-03-10 14:34] figengungor commented on #45027
I get a similar Bad state: Unrelated Types error when I try to migrate this package: https://github.com/vdakalov/fff

[code]

[2021-03-10 14:44] stereotype441 commented on #45027
Ok, with 2 additional reports of this problem coming in over the last 24 hours, I'm bumping the priority to P1.

[2021-03-10 15:05] DanTup commented on #44720
@bkonyi works great now, thanks!

[2021-03-10 15:28] dcharkes commented on #45254
We only want to add things to `dart:ffi` which cannot be built on top of `dart:ffi`.

`const bool kIsX64 = sizeOf<Pointer>() == 8;` could go into [`package:ffi`](https://github.com/dart-lang/ffi).

@Sunbreak could you make a PR?

Something like `ffi/lib/src/platform.dart`:

[code]

@lrhn would you be so kind to suggest a nice API? 😄

@Sunbreak note that you're not actually detecting the host OS, y

[2021-03-10 15:31] dcharkes opened #45277 "DebugAndroidARM_X64 create_platform_sdk broken"
This used to work up till a week or two ago:

[code]

The targets `runtime_kernel` and `dart_precompiled_runtime` are not affected.

Do we support `create_platform_sdk` for the android cross compilation?

[2021-03-10 15:49] bwilkerson commented on #43891
Konstantin recently landed in analysis server the first part of the support that's required to make this possible.

[2021-03-10 15:56] Sunbreak commented on #45254
Yep. That's what I want to do

[2021-03-10 16:03] devoncarew commented on #45250
Thanks for the interest! I think this one might be a bit harder - we don't have a repro case. @scheglov landed a change yesterday to log more information when we hit this again in order to help us track down the issue.

@scheglov might know of similar issues / good starting issues? Or, we might create a 'good-first-issue- label for analyzer related issues? cc @srawlins

[2021-03-10 16:20] matheuskildere opened #45278 "Dart: SignalException in dart bin/server.dart"
occurs when I try to execute the command to run my backend:
K:\iCode\guia-do-aluguel\test> dart bin/server.dart

Unhandled exception:
SignalException: Failed to listen for SIGTERM, osError: OS Error: Não há suporte para o pedido.
, errno = 50

[2021-03-10 17:15] bwilkerson commented on #38739
I'm sorry the tools are causing frustration, and I completely understand why.

I've done some digging and I have found two issues that impact this behavior:
- It's giving too much weight to members defined on the implied target of `this`.
- It's not using the type of the parameter to give higher priority to static members.

I have a couple of ideas for how to solve the first issue, and I have just

[2021-03-10 17:23] abhaysood commented on #37696
I'm facing the same issue. For 401s a server I need to interact with responds with the header:
WWW-Authenticate: Bearer realm=<custom_realm_value>, error=invalid-token, error_description=Invalid bearer token.

Note that the value in _realm_ can be any string and the header value contains spaces after _commas_. Which is completely valid based on my understanding.

Quoting from the [RFC](https://too

[2021-03-10 17:31] TimWhiting commented on #44078
I don't know if this is a build problem or an analyzer problem:

[code]

[code]

I've set my min-sdk version to `2.13.0-0`, and added the experiment to the `analysis_options.yaml`
I see no syntax errors in my file.

[code]

Traced it to [here](https://github.com/dart-lang/build/blob/91405abc44804456fb966c55150d8b06d10ab437/build_resolvers/lib/src/resolver.dart) in package:build

This error message

[2021-03-10 19:45] #45252 closed

[2021-03-10 19:52] sigmundch commented on #44760
Agree with @jacob314.

I'd like to understand why we are using package:uris in the first place. In dart2js we track both import and file URIs together so we can choose the most appropriate on a given moment (import URIs are used for example when the identity of the import is relevant for semantic reasons, but file URIs are used when mapping source-maps and reporting location data, since most likel

[2021-03-10 20:24] a-siva commented on #45278
Please also see https://github.com/dart-lang/sdk/issues/28603

[2021-03-10 21:22] KlausJokisuo commented on #43166
Not sure why this issue is closed. I had a little break from Flutter development and wasn't able to test this before. But yeah the issue is still valid and the fix is not working.

[2021-03-10 21:28] srawlins opened #45279 "Dart CLI help text is has inconsistent "package" vs "project" language"
Kind of a grab bag of issues, but `dart --help` includes:

* `analyze   Analyze the project's Dart code.` - this is the first mention of "the project." What is "the project."
* `migrate   Perform a null safety migration on a project or package.` - What makes a project vs a package? Does `dart analyze` only work on a "project" and not a "package"?
* `test      Run tests in this package.` - "this pa

[2021-03-10 21:38] #45244 closed

[2021-03-10 21:38] christhirst commented on #45244
Cors problem.

[2021-03-10 21:47] kevmoo commented on #45139
Seems like this is more to do with the the web_socket CLIENT impl in `dart:io`.

CC @a-siva

[2021-03-10 21:59] a-siva commented on #45139
/cc @aam

[2021-03-11 00:20] KOGI commented on #44489
I use reflection quite frequently in my unit tests as a way to mock, stub, and/or spy on classes/properties/methods that may not be exposed by 3rd parties. Removal of mirrors would cause a significant portion of my unit tests to fail.

[2021-03-11 01:25] scheglov commented on #43891
https://dart-review.googlesource.com/c/sdk/+/190640

[2021-03-11 03:51] xausky opened #45280 "The compiler crashes while running `dart compile exe` for the following code."
This tracker is for issues related to:

* dev_compiler

The compiler crashes while running `dart compile exe` for the following code.

[code]
happened at: `Dart SDK version: 2.12.0 (stable) (Thu Feb 25 19:50:53 2021 +0100) on "linux_x64"` and `http: ^0.13.0`

The compilation log is as follows.

[code]

Use `dart main.dart` to run directly is ok.

[2021-03-11 04:32] ukasz123 opened #45281 "Customer-reported issue with NNBD migration tool: Could not load dart file /Users/ukasz.apps/projects/private/fairbid_flutter/example/lib/banner_ads.dart"
Could not load dart file /Users/ukasz.apps/projects/private/fairbid_flutter/example/lib/banner_ads.dart

Error: Error reaching migration preview server.

Please fill in the following:

**Name of package being migrated (if public)**: fairbid_flutter
**What I was doing when this issue occurred**:
I tried to migrate example app for plugin and I selected first file (`banner_ads.dart`). This does not h

[2021-03-11 08:08] lrhn opened #45282 "Change `dart create` to enable null safety (language version 2.12.) by default"
With the 2.12.1 release, if I create a new package using `dart create`, the created pubspec contains:
[code]
I expect the null safety release to create projects with null safety enabled by default.

[2021-03-11 08:42] eernstg commented on #44078
Hi @TimWhiting, the ability of a code generator to work with new language constructs is separate from the support for the same language construct in the analyzer and compilers. I wouldn't expect the package freezed to handle that kind of type alias at this point, that would most likely be a new feature to implement in the code generator when it is enabled by default.

Moreover, I do not think `dar

[2021-03-11 09:08] xausky commented on #45280
It seems that the dev channel does not have this problem, so it should be fixed in the next press conference.

[2021-03-11 09:08] #45280 closed

[2021-03-11 09:25] mit-mit commented on #33698
I'm going to close this issue, not because it isn't important (we know it is!), but because it's being tracked over here in the main language design repo: https://github.com/dart-lang/sdk/issues/33698

Please case votes on that issue. We're thinking about this in combination with a larger theme around structured data (see https://github.com/dart-lang/language/issues/546).

[2021-03-11 09:25] #33698 closed

[2021-03-11 09:41] eernstg commented on #33698
I think that's https://github.com/dart-lang/language/issues/158.

[2021-03-11 09:57] jensjoha opened #45283 "Observatory doesn't print where it's listening when receiving SIGQUIT"
One can make observatory start by sending (at least on Linux) SIGQUIT to it.
Back in the day it printed to the terminal where it was listening so one could open it up and be on ones way.

Now, however, nothing is printed.
Sending SIGQUIT again and it prints something like
[code]
but considering it's no longer listening that's not all that useful.

(a workaround for me for now is that while the por

[2021-03-11 10:12] mit-mit commented on #34659
Closing this now that we have https://pub.dev/packages/webcrypto in a pretty complete state.

[2021-03-11 10:12] #34659 closed

[2021-03-11 10:16] mit-mit commented on #45282
This is something we're considering for 2.13. We want to make sure we have a sufficient ecosystem first.

[2021-03-11 10:18] mit-mit commented on #33698
Thanks Erik, fixed

[2021-03-11 10:38] mit-mit commented on #30041
For future discussion of this, please use https://github.com/dart-lang/language/issues/647

[2021-03-11 10:38] #30041 closed

[2021-03-11 10:38] mit-mit commented on #26392
For future discussion of this, please use dart-lang/language#647

[2021-03-11 10:38] #26392 closed

[2021-03-11 11:54] mit-mit commented on #31949
@lrhn can this be closed? I don't think we need the issue just to track removing the deprecated members; we'll handle those all together.

[2021-03-11 12:12] lrhn commented on #31949
Yes. The `@Provisional` annotation was provisional enough that it has now become defunct and deprecated. There is nothing more to do than remove it.

[2021-03-11 12:12] #31949 closed

[2021-03-11 12:36] dcharkes commented on #45009
We will not expose unaligned reads/writes in a public API, only implement it for packed structs.

[2021-03-11 12:36] #45009 closed

[2021-03-11 13:37] lrhn commented on #27245
This can now be done in a non-breaking way using extension methods. I'd still prefer if we had [interface default methods](https://github.com/dart-lang/language/issues/884). It seems unnecessarily complicated to have extensions on a type declared in the same library as the type.

[2021-03-11 13:40] bannzai opened #45285 "Cause exception for dart migrate --skip-import-check"
## Abstract
I got exception for `dart migrate --skip-import-check`.

### History
These are the commands I was doing just before get an exception.
[code]

<details> <summary> `$ dart migrate --skip-import-check </summary>

$ dart migrate --skip-import-check
Migrating /Users/user/ghq/github.com/Pilll

See https://dart.dev/go/null-safety-migration for a migration guide.

Analyzing project...
[-------

[2021-03-11 13:43] lrhn commented on #33014
It's not well-defined to count "months" between two dates when a month doesn't have a fixed length.

One month later than the 30th of January is not well-defined, it can be argued to mean anything between the 27th of February and the 2nd of March, depending on leap-year and interpretation (is it the second-to-last day of the next month, or the 30th of the next month, and is that then capped at the

[2021-03-11 13:45] bitsydarel opened #45286 "dart analyze command does not have --options parameter like dartanalyzer"
This tracker is for issues related to:

Analyzer

Dart SDK version: 2.12.0 (stable) (Thu Feb 25 19:50:53 2021 +0100) on "macos_x64"
MacOSX

dart analyze does not support the command --options to specify the location of the analysis_options.yaml file which is needed to run analysis of project with code style located outside of the project directory.

[2021-03-11 13:46] lrhn commented on #37420
Adding `Z` to the string is a reasonable solution. The `parse` function is intended to be the inverse of `toString`, and that's what `toString` adds for UTC times.

Adding an `isUtc` to `parse` could also work (would it then throw if the was a `+02:00` time zone on the string?)

[2021-03-11 13:53] a-siva commented on #45286
/cc @bkonyi

[2021-03-11 13:57] a-siva commented on #45283
@jensjoha can you elaborate on what feature of Observatory you rely on that is not available in [devtools](https://dart.dev/tools/dart-devtools).

//cc @bkonyi

[2021-03-11 14:00] jensjoha commented on #45283
I have no experience with `devtools` --- from the link I
a) Need to install something extra, and
b) Still need to uri to observatory for it to do anything which is what this issue is about: I don't have that.

[2021-03-11 14:00] lrhn commented on #24644
Extensions can work. I'd prefer something like [interface default methods](https://github.com/dart-lang/language/issues/884) since they'd allow being virtual, and feels unnecessarily complicated to declare extension methods in the same library as the base type - but it's breaking to add methods to interfaces without interface default methods.

[2021-03-11 14:06] MitaiGit commented on #45092
it is very sad that you have to adapt to a poor javascript system, instead of developing your own virtual machine for the browser

[2021-03-11 14:06] lrhn commented on #32803
We now plan to seal typed_data classes (#45115), which also opens up the ability to add members on the classes without breaking anyone. That makes it more likely that we'll actually be able to add a `setBigInt` method on `byteData`.
It's still an issue that the `BigInt` class itself isn't sealed, so we can't assume anything about the underlying representation.

For that reason, a `writeBytes(Uint8

[2021-03-11 14:09] lrhn commented on #30864
Not sure this fits into the core libraries. There are many things you can do to format lines of text, and this one is probably a little too specific (and primarily prompted by our less than than adequate multiline string literals - would be better to just change the multiline string literal to remove shared margins to begin with).

[2021-03-11 14:13] lrhn commented on #29837
We now have `splitAfter`, `splitBefore` and `splitBetween` [extension methods](https://pub.dev/documentation/collection/latest/collection/IterableExtension.html) in package:collection.

That should be sufficient for most predicate-based attempts to split a list.

We don't currently plan to support anything requiring a "list pattern".

[2021-03-11 14:13] #29837 closed

[2021-03-11 14:15] lrhn commented on #24529
We generally recommend using `package:intl` for complicated formatting of time and dates. It sadly doesn't support durations yet. I think that's where we should put the functionality when we implement it.

[2021-03-11 14:29] Dhruv3285 opened #45287 "No published analyzer available for language version 2.13.0"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
* Dart websi

[2021-03-11 14:31] Dhruv3285 commented on #45287
Dart SDK version: 2.13.0-77.0.dev,
using Windows

[2021-03-11 15:41] bwilkerson commented on #45286
@devoncarew

[2021-03-11 15:47] devoncarew commented on #45104
We get multiple reports in per analyzer version related to this - the recommendation to report this item comes from some package:build message. They're not de-duped and I don't know that they're all still current (not already handled).

If there is something to do for these items, I'd prefer just a single bug - `package:analyzer` needs to support language xxx.

[2021-03-11 15:49] devoncarew commented on #45267
I assume this is a flag that all backends need to / should support? dart2js, ddc, `dart compile`? If so, they having parity wrt supporting it in `dart analyze` makes sense.

cc @lrhn in case the package_config spec says anything in this area

[2021-03-11 15:58] srawlins commented on #45104
Certainly. `area-build` is for the Dart SDK build system, not for package:build, I think.

[2021-03-11 15:59] srawlins commented on #43766
`area-build` is for the Dart SDK build system, as far as I understand it, not for `package:build`.

[2021-03-11 16:00] srawlins commented on #44231
Duplicate of https://github.com/dart-lang/sdk/issues/43766

[2021-03-11 16:00] #44231 closed

[2021-03-11 16:00] srawlins commented on #44288
Duplicate of https://github.com/dart-lang/sdk/issues/43766

[2021-03-11 16:00] #44288 closed

[2021-03-11 16:00] srawlins commented on #44586
Duplicate of https://github.com/dart-lang/sdk/issues/44418

[2021-03-11 16:00] #44586 closed

[2021-03-11 16:01] srawlins commented on #44860
Duplicate of https://github.com/dart-lang/sdk/issues/44418

[2021-03-11 16:01] #44860 closed

[2021-03-11 16:01] srawlins commented on #44861
Duplicate of https://github.com/dart-lang/sdk/issues/44418

[2021-03-11 16:01] #44861 closed

[2021-03-11 16:01] srawlins commented on #45104
Duplicate of https://github.com/dart-lang/sdk/issues/44418

[2021-03-11 16:01] #45104 closed

[2021-03-11 16:02] srawlins commented on #44421
Duplicate of https://github.com/dart-lang/sdk/issues/44418

[2021-03-11 16:02] #44421 closed

[2021-03-11 16:02] srawlins commented on #45287
Duplicate of https://github.com/dart-lang/sdk/issues/45130

[2021-03-11 16:02] #45287 closed

[2021-03-11 16:02] srawlins commented on #43758
One has since been published.

[2021-03-11 16:02] #43758 closed

[2021-03-11 16:03] srawlins commented on #43766
One has since been published.

[2021-03-11 16:03] #43766 closed

[2021-03-11 16:49] lrhn commented on #45267
All tools should support the flag.
It's the official way to specify the package resolution configuration, with a fallback of finding a file relative to the entry point.

https://github.com/dart-lang/language/blob/master/accepted/future-releases/language-versioning/package-config-file-v2.md#specifying-the-file

[2021-03-11 16:53] devoncarew commented on #44382
@pq - I think this is done now?

[2021-03-11 16:53] #44382 closed

[2021-03-11 16:53] devoncarew commented on #43271
Closing as a dup of https://github.com/dart-lang/sdk/issues/43891.

[2021-03-11 16:53] #43271 closed

[2021-03-11 17:00] devoncarew opened #45288 "`dart test` fails with an incorrect message when there are issues compiling package:test"
When running `dart test`, if there are issues with the front end compiling package:test, we emit the compilation messages, but then emit misleading messages about adding a dependency on package:test. This project already has a correct dep on test.

See the last two lines of the output below:

[code]

cc @sigurdm, @bkonyi

[2021-03-11 17:02] pq commented on #44382
Yep.  Thanks for tidying up!

[2021-03-11 17:22] TimWhiting commented on #44078
Got it. But with TypeAliases it doesn't matter if the generators use the typedef `PlayerID` or the real type `String` and most of the generators already handle function typedefs so I assumed the code would at least be generated.

This command: `dart run build_runner build --enable-experiment=nonfunction-type-aliases` got me past the error and let me generate the code. In reality the generators pri

[2021-03-11 17:27] #43891 closed

[2021-03-11 17:49] eernstg commented on #44078
OK, sounds good! Other than that, non-function type aliases are about to be released soon, so there should not be a need to enable an experiment by then.

[2021-03-11 18:08] mzdm commented on #43749
I forked this package https://github.com/DirectMyFile/console.dart and got the same warning.

![image](https://user-images.githubusercontent.com/67197047/110833725-0b89f900-829d-11eb-9979-17b0d34f5177.png)

[2021-03-11 18:14] srawlins commented on #43749
@mzdm can you give some details?

* What did you click on?
* What commit of console.dart are you looking at?
* What version of Dart are you running?

[2021-03-11 18:17] mzdm commented on #43749
1) I changed the version in pubspec.yaml from 2.12.0 to 2.10.0) and ran `dart migrate` command. Then this pop-up appeared, however does not block from looking at migration changes (can be just closed)
2) It's the latest master branch so https://github.com/DirectMyFile/console.dart/commit/9d75fd4457831075c746c27bc3a2bbbc504ef4db
3) Dart version: 2.13.0-77.0.dev
[code]

[2021-03-11 18:24] srawlins commented on #43749
Sorry I cannot reproduce this. :(

1. checkout DirectMyFile/console.dart@9d75fd4.
2. `pub get`
3. change `sdk: '>=2.12.0 <3.0.0'` to `sdk: '>=2.10.0 <3.0.0'` (By the way this is not a good idea.)
4. (do not run pub get again?)
5. dart migrate
6. load the URL printed in Chrome.
7. The website loads OK.

[2021-03-11 18:29] scheglov commented on #43166
It works for me now, with the latest Dart SDK.
[code]

I think you can get a very close SDK version by trying Flutter `master` channel.
[code]

I was not able to follow the exact steps from the repro [repository](https://github.com/KlausJokisuo/Jetbrains_code_generation_fail).

<details>
  <summary>Console</summary>
scheglov@scheglov-macbookpro2:~/dart/Jetbrains_code_generation_fail (master)$ flut

[2021-03-11 18:42] mzdm commented on #43749
Just tried it again and it shows every time on my machine 😃. But I guess it is not a big deal because it seems like it is just a warning (or?)

[2021-03-11 19:43] franklinyow commented on #44078
@eernstg Who should own this?

[2021-03-11 19:51] ds84182 opened #45289 "Analyzer & CFE(w/NNBD) fails to resolve ternary expression type, CFE (w/o NNBD) succeeds"
Repro:
[code]

This code shows an analysis error on the ternary expression. Removing `extends D` from class B/C fixes the analysis error. The expression is Object here, when it really should be `A<bool>`.

This code works fine in CFE without Null Safety enabled, and the type of T can be successfully inferred. Enabling Null Safety results in the CFE outputting the same error.

[2021-03-11 21:01] eernstg commented on #45289
This is working as intended.

[2021-03-11 21:01] liamappelbe opened #45290 "Ubsan detecting alignment issues in Utils::StringHash"
Logs: https://dart-ci.appspot.com/log/vm-kernel-ubsan-linux-release-x64/dartk-ubsan-linux-release-x64/844/standalone_2/check_for_aot_snapshot_jit_test

It looks like [Utils::StringHash](https://github.com/dart-lang/sdk/blame/master/runtime/platform/utils.cc) has been explicitly written to ignore alignment. The hash is based on the "simple" version of [MurmurHash2](https://sites.google.com/site/mur

[2021-03-11 21:09] #45289 closed

[2021-03-11 21:10] bwilkerson commented on #24255
https://dart-review.googlesource.com/c/sdk/+/190723

[2021-03-11 21:10] #24255 closed

[2021-03-11 21:12] bwilkerson commented on #41622
https://dart-review.googlesource.com/c/sdk/+/190723

[2021-03-11 21:12] #41622 closed

[2021-03-11 21:13] bwilkerson commented on #42596
https://dart-review.googlesource.com/c/sdk/+/190723

[2021-03-11 21:13] #42596 closed

[2021-03-11 21:15] eernstg commented on #44078
@scheglov, you wanted to keep this issue open until some test related tasks were completed, right?

[2021-03-11 21:20] scheglov commented on #44078
IIRC, @srawlins wanted to add more test cases. If this is done, then I'm not aware about more work to do.

For lints @pq might have ideas.

[2021-03-11 22:05] jcollins-g opened #45291 "aliasElement not populated on non-function typedef references"
@scheglov

Given the following code:

[code]

`DartType`s generated for a, b, c, d, and e do not appear to have populated fields for `aliasElement`/`aliasArguments`.  Only `f` has these fields populated.  I have gone over how dartdoc is finding these, and just looking at the most basic level of inspecting `element.type` I do not see the fields populated even with the experiment on.  For example:

[2021-03-11 22:26] srawlins commented on #44078
I've just changed the summary of this issue to include check boxes. I've checked them all except the linter one. @pq should that just be split into a new issue at the linter repo?

[2021-03-11 23:26] #45266 closed

[2021-03-12 00:11] Piero512 commented on #25360
Hey, today on the r/FlutterDev discord we were thinking about this issue, and I think the best compromise is for the File class to return a FD that we can use to call termios functions (and their equivalents in Windows) through the now stable Dart FFI. You might want to add any warnings on what functions not to call through the FFI from the returned file descriptor

[2021-03-12 00:29] bkonyi commented on #45276
Oh, good catch! There's a lot wrong here actually... The spec also states that `timeSpan` should be in microseconds, but we're reporting in seconds instead. We also would have been always reporting `-1` for `timeSpan` from `package:vm_service` since `timeSpan` would never be present in the JSON response.

[2021-03-12 01:12] franklinyow commented on #45214
Hot fix 2.12.1

[2021-03-12 01:12] #45214 closed

[2021-03-12 01:12] franklinyow commented on #45156
Hot fix 2.12.1

[2021-03-12 01:12] #45156 closed

[2021-03-12 02:17] ds84182 commented on #45289
Sure. But this also means that extending a private class, implementing a private interface, or applying a private mixin, is a breaking change, as LUB does not ignore them.

[2021-03-12 02:57] jeiea opened #45292 "NoSuchMethodError: The getter 'flow' was called on null."
## What I did
I upgraded one of my flutter project dependency(swipeable_page_route) and `flutter pub run build_runner watch --delete-conflicting-outputs`

## Expected behavior
The build_runner task should complete. At least current exception message is hard to understand.

## Actual behavior
[code]

## Additional context
**Dart SDK Version:**
[code]
**Whether you are using Windows, MacOSX, or Linu

[2021-03-12 03:23] leafpetersen commented on #45273
[This](https://github.com/dart-lang/language/issues/731) is the language request.  I think we should consider doing a type inference improvement update release in the next year or two.

[2021-03-12 04:57] #45046 closed

[2021-03-12 05:02] scheglov commented on #45263
Yes, the analysis looks right to me, this is a bug in the analyzer.

[2021-03-12 05:26] scheglov commented on #45263
https://dart-review.googlesource.com/c/sdk/+/190730

[2021-03-12 06:32] scheglov commented on #45291
So, we already support `aliasElement` and `aliasArguments` for `FunctionType`.

We can and will support `InterfaceType` and `TypeParameterType`.

We cannot currently support `dynamic`, `Never`, and `void` because these types are singletons in the analyzer. This will require much bigger changes.

[2021-03-12 06:58] sgrekhov opened #45293 "[vm/ffi] No error if Struct field is not external"
According to the `Struct` documentation

But there is no any error (nor compile nor runtime) for the following code

[code]
Either documentation either implementation must be changed

`Dart SDK version: 2.13.0-edge.3c5767ccd34d0aeaf084bbf50b0849e24c17d710 (be) (Fri Mar 12 04:47:59 2021 +0000) on "windows_x64"`

UPD The same issue exists for `Union` subclasses as well

[2021-03-12 06:59] sgrekhov commented on #45293
cc @dcharkes

[2021-03-12 08:15] sgrekhov opened #45294 "[vm/ffi] Improve DynamicLibraryExtension.lookupFunction documentation"
For now DynamicLibraryExtension.lookupFunction documentation looks like

If you are developer that using this function you need to provide two functions as type arguments. One of them corresponds C function and the sacond corresponds a Dart function. But it is not said clearly which of them should be used as the first type argument and which of them must be used as a second type parameter. Develop

[2021-03-12 08:25] #45263 closed

[2021-03-12 08:30] KlausJokisuo commented on #43166
@scheglov Thanks for your reply, any ideas when this will be landing on  Flutter stable branch?

[2021-03-12 08:33] dcharkes commented on #45293
These fields should not be nullable indeed.

And since initializers are rejected, they have to be external.

Looks like this is missing both in the CFE and analyzer.

[2021-03-12 08:48] expilu opened #45295 "Allow unmarking all files or by folders in NNBD migration tool"
#### Steps to reproduce
In the list of files to be migrated or unmarked for pending migration there is no way to unmark all files or complete folders.

#### What did you expect to happen?

It would be nice to be able to unmark all files or folders and subfolders. Our project has upwards of 500 files, unmarking them to work in migrating specific files progessively is unbearable. Specially when the

[2021-03-12 09:19] sigurdm commented on #45288
Either we make the error message more vague (make sure you have a working dependency on package:test), or we need the pub `getExecutableForCommand` to have a more fine grained error reporting.

cc @jonasfj

[2021-03-12 10:39] bog-dan-ro commented on #42210
@mraleph The `Qt way` means a way to register Dart classes/packages directly from C/C++ (check https://doc.qt.io/qt-5/qtqml-cppintegration-topic.html to see how easy it is) . I checked `dart_api.h` (and the other .h files from the same folder) but I could not found anything to do it. Is it something that I missed?
This will enable us to create a library similar to `pybind11`. The idea is to regist

[2021-03-12 10:42] jonasfj commented on #45288
Maybe failure to compile should print something like:

This generally applies to `dart run <package>[:<executable>]`.

I guess we need `getExecutableForCommand` to throw either:
 * `CommandResolutionFailedException`, if it can't find the executable,
 * `CommandCompilationFailedException`, if the executable can't be compiled (this doesn't happen today, we just throw `CommandResolutionFailedExceptio

[2021-03-12 10:42] #45251 closed

[2021-03-12 10:49] whesse opened #45296 "Add efficient .entries property to SplayTreeMap"
The SplayTreeMap implementation at sdk/lib/collection/splay_tree.dart
has custom efficient implementations of the .keys and .values properties.

The similar efficient implementation of the .entries property should be added.
Then many algorithms and methods could be improved to avoid looking up a value from a key while scanning
the map.
Currently, the implementation of .entries comes from the MapMi

[2021-03-12 10:58] eernstg commented on #45289
That is true. However, I think it would be dangerously clever to make the type of `a ? B() : C()` depend on whether the expression occurs in the library where one or more of those private classes is declared, or it occurs in some other library. Would we also ignore superinterfaces that aren't imported?

[2021-03-12 11:06] mraleph commented on #42210
Unfortunately this is not something that we are going to support, because this simply will not work with AOT compilation.  AOT compiler only sees Dart source so it will not be able to know about your dynamically registered classes.

If you really want you can kinda make this work in JIT mode by synthesising Dart source in memory, but again this will be swimming against the current.

[2021-03-12 11:09] whesse commented on #45296
On the other hand, because .entries constructs MapEntry objects, it won't be totally fast either, so MapMixin should not necessarily use it instead of iterating over keys.

[2021-03-12 11:45] rmtmckenzie commented on #30175
I'd just like to add a use-case - this would be great for ensuring that objects implement more a useful equals, toString, etc.

[2021-03-12 12:38] mkustermann opened #45297 "Failures on compressed pointers builder"
The tests
[code]
are failing on configurations
[code]

The tests
[code]
are failing on configurations
[code]

Will approve them.

/cc @liamappelbe @rmacnak-google

[2021-03-12 12:39] haamaanaa commented on #44509
Upgraded to BigSur 11.2.3 today and it solved issue for about 98,6%

Running tests in test suite (like with command-line command flutter test) still fails a one random class about 10% of tries. same test succeeds in isolation about 98,6 success rate

So something was made better, but still not 100% "there"

[2021-03-12 12:42] bog-dan-ro commented on #42210
Aha, now it makes more sense.

I'm a good swimmer, I can swim a few km against the current ;-), but it seems it's in vain.

[2021-03-12 12:56] mkustermann commented on #45290
The tests
[code]
are failing on configurations
[code]

[2021-03-12 13:07] troelsbjerre commented on #45233
I just encountered this bug when I forgot that I wasn't coding in Python, and made a little typo. Here is a minimal example that can recreate the issue on my machine:
[code]
Sometimes, it takes retyping the "or" in the above to force the error. Here is the stacktrace:

[log-819b.txt](https://github.com/dart-lang/sdk/files/6130192/log-819b.txt)

[2021-03-12 13:27] sigurdm commented on #45288
I think to do the correct handling we need to have subclasses for the different cases:

* The string contained: '.' '/' or '\': file not found
* the string was <package>:<binary> or <package>, and <package> was not in dependencies: package not found
* the string was <package>:<binary> and binary was not found: binary was not found in package.
* an error happened during compilation of binary: compi

[2021-03-12 13:59] jonasfj commented on #45288
Yeah, this really should be rare that old packages are incompatible with newer SDKs. Which is the underlying problem here.

On the flip side: providing better error messages in general would help people doing local development and using `dart run <package>` on path-dependencies.

[2021-03-12 14:16] sigurdm commented on #45288
The textual error message is good enough currently: (https://github.com/dart-lang/pub/blob/master/lib/src/executable.dart#L270-L338). It is only programmatically that we don't distinguish between the cases. Such that `dart test` knows what suggestion to give.

[2021-03-12 14:36] iapicca opened #45298 "Error: Constant evaluation error:` ` The property 'call' can't be accessed on '...' in a constant expression."
Given these issues
https://github.com/dart-lang/language/issues/819
https://github.com/dart-lang/language/issues/823
I'm admit I'm not sure if this is a bug or an expected behavior,
if the latter **_some warning would be great_**

to reproduce just run this code

[code]

[code]

[code]

[2021-03-12 14:45] eernstg commented on #45298
This is working as intended. The only member access you can have in a constant expression is `s.length` where `s` is a constant expression evaluating to a `String`. The point is that constant expression evaluation should not run arbitrary code.

(This particular design choice has been debated heavily for many years, and there are ongoing discussions about it right now, but the current rules specif

[2021-03-12 14:45] #45298 closed

[2021-03-12 14:48] iapicca commented on #45298
@eernstg
it would be great to have some warning for this situation

[2021-03-12 14:49] eernstg commented on #45298
I'm not quite sure what that warning should say, though...

[2021-03-12 14:51] eernstg commented on #45298
Note that the following proposal in the language repo is slightly related: https://github.com/dart-lang/language/issues/1048.

[2021-03-12 15:39] lrhn commented on #45296
If we can use the internal nodes as `MapEntry` objects as well, then we don't need to create new ones while iterating.
If we don't want an expose visible entry to change later, we might need to replace the node on a value change, instead of just changing the value field of the node. It's going to be the root node at the time, so that's probably fine (possibly even preferable to avoid old-space obj

[2021-03-12 16:35] modulovalue opened #45299 "[analyzer] Synchronous generator can yield values of any type."
[code]

[2021-03-12 16:58] jcollins-g commented on #45291
Of these I think the `dynamic` / `Never` / `void` case is the least interesting.  The others though would be helpful to have though not strictly necessary to ship with (hence P2)

[2021-03-12 17:14] bkonyi commented on #45173
This is a duplicate of https://github.com/dart-lang/sdk/issues/43487 which has been resolved. @jsroest, can you upgrade to 2.12 and reopen if this is still an issue? Thanks!

[2021-03-12 17:14] #45173 closed

[2021-03-12 17:25] scheglov commented on #45291
`InterfaceType` support was added in https://dart-review.googlesource.com/c/sdk/+/190731
`TypeParameterType` support will be added in https://dart-review.googlesource.com/c/sdk/+/190734

[2021-03-12 17:28] jcollins-g commented on #45291
Great!  This probably falls to P3 once both of these land as the other cases aren't that useful to actual users IMO.

[2021-03-12 18:01] scheglov opened #45300 "NPE on hasDeprecated in MemberSuggestionBuilder._shouldAddSuggestion"
[code]

[2021-03-12 18:04] scheglov commented on #45300
Can be reproduced on the following (invalid) code.
[code]
@bwilkerson

[2021-03-12 18:56] a-siva commented on #44880
I saw another crash, which looks similar in the PR check for rolling Dart into Flutter
https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8852960327701134832/+/steps/build_host_debug_unopt/0/stdout

[code]

[2021-03-12 18:56] a-siva commented on #44880
/cc @rmacnak-google

[2021-03-12 19:15] leafpetersen commented on #44952
@sigmundch is there any work that we know of for this, or should I close it out?

[2021-03-12 19:15] leafpetersen commented on #44953
@sigmundch is there any known work for this, or should I close it out?

[2021-03-12 19:16] leafpetersen commented on #44954
@a-siva should I close this out or is there any work we have planned here?

[2021-03-12 19:17] leafpetersen commented on #44958
@keertip any updates on this?

[2021-03-12 19:17] leafpetersen commented on #44960
@jcollins-g any updates here?

[2021-03-12 19:18] leafpetersen commented on #44962
@a-siva anything we're tracking here or should I close this out?

[2021-03-12 19:20] leafpetersen commented on #44963
@grouma do we have a plan for validating this?

[2021-03-12 19:21] leafpetersen commented on #44965
@kwalrath any updates?

[2021-03-12 19:35] jcollins-g commented on #44960
https://github.com/dart-lang/dartdoc/pull/2558 implemented most of this.  There are some analyzer changes landed today that will make the rest of the planned support possible.  Once that's published I can land the remaining changes.

[2021-03-12 19:41] leafpetersen commented on #44922
@jcollins-g any updates here?

[2021-03-12 19:41] leafpetersen commented on #44924
@bkonyi any updates?

[2021-03-12 19:41] leafpetersen commented on #44925
@sigmundch any work planned here?

[2021-03-12 19:42] leafpetersen commented on #44927
@kwalrath any updates?

[2021-03-12 19:43] leafpetersen commented on #44912
@lrhn @alexmarkov where are we with this?

[2021-03-12 19:43] grouma commented on #44963
I think making use of the feature in a `package:dwds` smoke test, along with some specific VM Service protocols, should give us enough confidence.

[2021-03-12 19:44] leafpetersen commented on #44913
Per the linked bug, I believe this is done modulo some post-flag flip cleanup, is that correct?

[2021-03-12 19:44] leafpetersen commented on #44914
@a-siva any updates here?

[2021-03-12 19:45] leafpetersen commented on #44915
@nshahan any updates?

[2021-03-12 19:45] leafpetersen commented on #44916
@stefantsov any updates?

[2021-03-12 19:46] leafpetersen commented on #44917
@devoncarew @scheglov @stereotype441 any updates?

[2021-03-12 19:46] alexmarkov commented on #44912
VM fully implements `int.operator >>>` (7f8001218bc2ca326b6acc62d190e726cfb98a25).

[2021-03-12 19:46] leafpetersen commented on #44920
@keertip any updates?

[2021-03-12 19:47] stefantsov commented on #44916
The support for GFT in type arguments and bounds landed as https://dart-review.googlesource.com/c/sdk/+/188701.

[2021-03-12 20:08] bkonyi commented on #44924
No updates. Not sure I see anything there that would require new support in the service protocol.

[2021-03-12 20:40] franklinyow commented on #44924
Should we closed this then?

[2021-03-12 20:53] ds84182 commented on #45289
Hm. LUB assumes there isn't a context type involved, which is useful for variable declaration type inference.

There are two cases where this can come up:
[code]

In the declaration's case, the type is an open-ended problem. You can choose `D`, or `A<bool>`, or even `D & A<bool>`.

For the function call's case, there is a required subtype. In the case of LUB failure (since we can't select `D & A<b

[2021-03-12 21:23] nshahan commented on #44915
Now that there is an implementation that throws an unimplemented message has landed and we have working tests @lrhn said that he was going to add a real implementation next week. I will followup and make sure we add an implementation soon.

[2021-03-12 21:45] eernstg commented on #45289
In principle, LUB could take the context type into account, but I suspect that this is not a tractable approach in general.

In concrete terms, you could change `C` and `D` to avoid the ambiguous superinterfaces:

[code]

and then you'd have `D1` as the least upper bound of `B` and `C`.

[2021-03-12 22:09] gaaclarke opened #45301 "package:pedantic/analysis_options.yaml cannot be found"
## seen result
[code]

## expected result
I expected there to be no error about finding `package:pedantic/analysis_options.yaml`

## This tracker is for issues related to:
Analyzer

## dart version
[code]

[2021-03-12 22:47] Stargator opened #45302 "Dart 2.12.1 analyzer is suggesting to enable non-nullable experiment flag when flag is deprecated"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer

* Dart SDK Version (`dart --version`) - 2.12.1
* Whether you are using Windows, MacOSX, or Linux (if applicable) MacOSX

Exercism's Dart track has an exercise that contains a method in the test file. This method has two named parameters.

The input for the named parameters is never null, so I tried

[2021-03-12 23:22] masonhorder commented on #39993
@CLARKYJ how did you make your function global? i am having the same issues, thanks, mason

[2021-03-13 00:31] #45179 closed

[2021-03-13 00:31] annagrin opened #45303 "[dartdevc] Support ddc module format in incremental mode"
Currently, only `amd` module format is supported for expression evaluation using expression compiler worker.

Add support for `ddc` module format to support expression evaluation in scenarios that use `ddc` module format (such as DDR and Bolt)

Related: https://github.com/dart-lang/sdk/issues/41480

[2021-03-13 01:11] a-siva commented on #44914
@crelier is waiting for the CFE implementation for generic types as type arguments to be done so he can verify it on the VM

[2021-03-13 01:14] a-siva commented on #44930
@crelier I presume you are still waiting for the CFE implementation to be completed before you can close this

[2021-03-13 01:14] Stargator commented on #45302
Missed the part [in the docs that discusses this](https://dart.dev/null-safety/migration-guide#migration-tool)

[2021-03-13 01:16] a-siva commented on #44954
I had it open just to ensure that the tests passed once CFE completed the implementation.

[2021-03-13 01:29] minhqdao commented on #42910
I'm using the lint package and the problem appeared when packages were manually imported to the project. The workaround for me was to add the lint package as dev_dependency to all manually imported packages as well as a completely empty analysis_options.yaml file to each package folder. The empty file prevents lint to show up warnings that are inherent to the packages.

And analysis issues were no

[2021-03-13 01:48] minhqdao commented on #42910
I'm using the lint package and the problem appeared when packages were manually imported to the project (not as pub dependencies). The workaround for me was to make sure that every package import has at least an empty analysis_options.yaml file in its folder. You don't even have to import linter dependencies, but simply the presence of an analysis_options.yaml file (completely empty, even without

[2021-03-13 03:42] fabiancrx opened #45304 "A value of type 'Object' can't be assigned to a variable of type 'Supertype'."
I started this bug at flutter repo but was able to reproduce it wiht plain dart. flutter/flutter#77782

## BUG

The analyzer throws the following error and prevents compilation.

**A value of type 'Object' can't be assigned to a variable of type 'Comparator<Object>'.
Try changing the type of the variable, or casting the right-hand type to 'Comparator<Object>'**

The error seems to be with generics

[2021-03-13 06:11] oakstair commented on #33246
Is there a problem letting tryParse(null) => null ?

I just ran into this issue and of course I can add ??"" but isn't dart all about being developer friendly !?

[2021-03-13 08:35] ksilz commented on #43166
@scheglov If I understand you correctly, I need the very latest Flutter version first to get a shot at this working?

[2021-03-13 09:28] sma commented on #43426
There is an internal `_Response` type so calling `json()` works, but there's no mapping for things like `headers` or `ok` or `status` or `statusText` which makes it only barely usable.

[code]

[2021-03-13 13:38] krema commented on #30310
I just discovered a plugin that we can use in the meantime.

https://github.com/marius-h/flutter_enhancement_suite

![Screen Shot 2021-03-13 at 14 36 32 PM](https://user-images.githubusercontent.com/1336504/111031802-9a1b8900-8409-11eb-8ae5-ce8dea13be97.png)

[2021-03-13 14:53] blaugold commented on #38141
@mkustermann FYI the Dart SDK included in the Flutter SDK still exposes symbols from the c++ abi. The example I provided now works  for me, when I use the Dart SDK from https://dart.dev/get-dart. When using  `dart` from the Flutter SDK I still get the crash with the seg fault.

[code]

[2021-03-13 17:00] KlausJokisuo commented on #43602
I've just bought a Mac and the same issue here (well with mac it won't do anything for the imports). This issue is making refactoring quite painful.

[2021-03-13 20:19] proshin-roman commented on #33383
Sorry, I don't know the actual status of this issue (still "closed"?), but I just came to Dart&Flutter universe. I have huge experience in Java, also started learning Swift that by itself looks very nice (I'm talking about the language only though). But I had to switch to Flutter just because I want to have multiplatform mobile applications without from the beginning. And then I faced this ugly so

[2021-03-13 20:55] renatoaugustofranca opened #45305 "dart2js compiler is crash"
Running: `flutter build web` command line

This tracker is for issues related to:

* dart2js

* MacOS Big Sur 11.2.3

* Stack trace:

The compiler crashed: NoSuchMethodError: The getter 'classNode' was called on null.
Receiver: null
Tried calling: classNode
#0      Object.noSuchMethod (dart:core-patch/object_patch.dart:54:5)
#1      StaticTypeVisitor.visitForInStatement (package:compiler/src/ir/st

[2021-03-13 21:29] scheglov commented on #43166
You probably don't need the very latest Flutter version, but something more or less recent.
As an experiment, try to switch to a master channel to check that this issue is fixed.

[2021-03-13 21:42] rbellens opened #45306 "Segmentation fault on specific code"
My dart code crashes with a segmentation fault, when doing similar to the following code:

[code]

It seems that the combination of different parts of this code is causing it. E.g. when removing one of the fields `a`, `b` or `c`, it does not crash. The types of these fields on the other hand do not seem to matter. Also initializing the `y` in the constructor instead of on the definition, fixes the

[2021-03-14 00:21] rrousselGit opened #45307 "Add --no-pub flag"
It appears that new versions of `test` implicitly run `dart pub get` before executing tests.
But as opposed to `flutter test`, `dart test` does not offer a `dart test --no-pub` flag.

This breaks some CI workflows, especially for mono-repositories relying on [melos](https//github.com/invertase/melos), which can no longer work because of this new behavior (which do not rely on `pub get` to resolve

[2021-03-14 05:37] rakudrama commented on #32803
@lrhn Should `BigInt` be sealed too?

That would preserve a path for `BigInt` constants, `BigInt` literals, implementation in dart2js via JavaScript BigInt values, and interoperability with [`BigInt64Array`.](
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt64Array)

[2021-03-14 08:37] alexmercerind commented on #37022
Are there any updates on this issue?

[2021-03-14 09:50] derolf commented on #37022
@alexmercerind

Have a look at https://github.com/heremaps/gluecodium . It supports Dart and also async callbacks.

[2021-03-14 10:54] fisforfaheem commented on #38739
Thanks for the feedback. I hope this gets resolved soon as it is a very
pressing situation for beginners who know nothing of widget properties

On Wed, Mar 10, 2021 at 10:15 PM Brian Wilkerson ***@***.***>
wrote:

[2021-03-14 13:45] drpond1 opened #45308 "Suggested addition for null safety"
I am still in the middle of upgrading my code for null safety, but I have a recommendation about handling it.   I very much like the ability to specify my intent when specifying a type.   So I generally like your new approach.   Also, the recommendations about how to use it do seem to work in everything I have tried.

However,  there are lots of cases where  the compiler
 cannot  infer that a non-

[2021-03-14 15:34] tomgilder opened #45309 "Debugger breaks in wrong place with sync* generator functions"
Sometimes when using `sync*` generator functions, the debugger doesn't correctly break on breakpoints.

To reproduce:
1. Create a new Flutter app (standard new app template)
2. Put a breakpoint in Flutter framework on `Page`’s `canUpdate` method - line 591 in navigator.dart
3. Ensure debugging SDK is turned on
4. Run app for debugging

Expected results: debugger pauses on line 591.

Actual results

[2021-03-14 15:45] tatumizer commented on #45153
I started learning zig, and as a first exercise, implemented my earlier benchmark.
Here's the summary of all results (in milliseconds)

Dart| Java | Zig safe mode | Zig fast mode
----|----|----------|----------
775  | 686 | 626 | 594

What's left is just to integrate dart with zig via ffi. :-)
Zig has some advantages over C - it has batteries included (the standard library is quite good); the buil

[2021-03-14 15:58] rrousselGit commented on #45307
It appears that `dart run` has the same issue

[2021-03-14 18:45] modulovalue opened #45310 "[analyzer] Closures in static methods shouldn't have access to class scope."
[code]

[2021-03-14 19:29] pq commented on #44078
SGTM @srawlins.  Better to track on the linter repo.  Thanks!

[2021-03-14 19:41] konsultaner commented on #45153
@tatumizer I bet one day dart will be where Zig safe mode is. What @mraleph said about possible optimizations sounds promising. The problem about ffi is that your source is not platform independent anymore. But this is one mayor goal of my dart developements.

[2021-03-14 19:51] tatumizer commented on #45153
It is platform-independent. You can compile and even cross-compile it for any platform, with no extra installation of libraries or anything. Batteries included. The only issue is integration via ffi - you need to write a bit of extra code for this in dart (or generate it).

I take the opposite side of your bet! :-)

[2021-03-14 22:34] devoncarew commented on #45301
Hmm, the above steps should work. Is this issue consistent? When analyzing via an IDE do you see the same issue?

Does the `.packages` file contain an entry for pedantic (and the .dart_tool/package_config.json file as well)?

[2021-03-14 22:35] devoncarew commented on #45299
cc @scheglov

[2021-03-14 22:38] devoncarew commented on #45292
Thanks for the report! Can you include the version of package:analyzer in use - the one that gets resolved by pub? You could be able to see that in your .packages file / pubspec.lock file / .dart_tool/package_config.json file.

[2021-03-14 22:41] devoncarew commented on #45234
I'll keep this issue open - it sounds like we may want either this issue to be addressed of the flutter/flutter one.

[2021-03-14 22:47] modulovalue opened #45311 "[analysis_server_client] Migrate and publish a null safe version to pub.dev"

[2021-03-14 23:36] eernstg commented on #45304
This is working as intended.

Dart has [a number of newer rules](https://github.com/dart-lang/language/blob/master/resources/type-system/upper-lower-bounds.md) for the computation of the least upper bound of various structural types, but it uses a rule which has been around for quite a while when it comes to the "least upper bound" of two distinct interface types:
https://github.com/dart-lang/lang

[2021-03-14 23:36] #45304 closed

[2021-03-15 01:18] jeiea commented on #45292
[code]
The analyzer version was not changed during upgrade.

[2021-03-15 02:22] guilhermeagostinelli opened #45312 "Add addAllIf method to Map<K, V>"
What about adding a new `addAllIf` method to the `Map<K, V>` class?

Its signature could be something like:

[code]

This could be useful for example when we have a function that expects a Map because we could use the the cascade notation on the argument itself without having to store the map in a temporary variable.

[code]

So we could use this:
[code]

instead of this:
[code]

Well, at the end

[2021-03-15 05:03] rakudrama commented on #45312
You might consider the following:

Adding an empty map:
[code]

Constructing the map with conditional elements:
[code]
The second one is described [here](https://medium.com/dartlang/making-dart-a-better-language-for-ui-f1ccaf9f546c) and [here](https://medium.com/dartlang/exploring-collections-in-dart-f66b6a02d0b1).

[2021-03-15 06:26] iarkh opened #45313 "Generic function type as a type argument of the generic function type alias works incorrectly."
Dart SDK version: 2.13.0-114.0.dev (dev) (Sat Mar 6 18:27:50 2021 -0800) on "windows_x64"

The following code example declares generic function typedef `TEST_TYPEDEF` and then try to assign `TEST_TYPEDEF` variable and check its type:
[code]
It's expected that if I succssffully assign `testme`  to the variable of the type `TEST_TYPEDEF`, `ttttt is TEST_TYPEDEF` should report `true`. However, this i

[2021-03-15 07:13] Sunbreak commented on #39808
A example: https://github.com/dart-lang/ffigen/issues/68#issuecomment-784866350

[2021-03-15 07:21] #39808 closed

[2021-03-15 07:25] spironato commented on #44509
I updated to BigSure 11.2.3 and actually faced the same issue always and multiple time running the unit tests f.ex

[2021-03-15 07:40] konsultaner commented on #45153
@tatumizer Ah cool, I didn't know. Well I might take a look at Zig. Thanks for the hint. But I'm still on that bet 😄

[2021-03-15 07:54] Sunbreak opened #45314 "[vm/ffi] Compiler intrinsics function support"
Add InterlockedIncrement/InterlockedDecrement to win32api.json doen't work: https://github.com/timsneath/win32/issues/181

[code]

According to [InterlockedIncrement](https://docs.microsoft.com/en-us/cpp/intrinsics/interlockedincrement-intrinsic-functions?view=msvc-160) and [InterlockedDecrement](https://docs.microsoft.com/en-us/cpp/intrinsics/interlockeddecrement-intrinsic-functions?view=msvc-160

[2021-03-15 08:43] eernstg commented on #45313
Agreed, `TEST_TYPEDEF` means `TEST_TYPEDEF<T Function<T>(T)>` means `void Function<TTT extends T Function<T>(T)>()`, same as `void Function<TT extends T Function<T>(T)>()`, so  we should get true, twice.

[code]

@johnniwinther, does this look like a front-end issue? I suspect it's a vm issue, but `TTT extends TT = dynamic` looks a bit surprising to me.

[2021-03-15 09:36] eernstg opened #45315 "[cfe] Missing implementation of operator ==(dynamic) not detected"
Consider [this co19 test](https://github.com/dart-lang/co19/blob/master/Language/Classes/method_definition_t06.dart):

[code]

This test is located in co19 (not co19_2), so it will run with null safety enabled. This means that `operator ==` in `Object` will have signature `bool operator ==(Object)`, which means that the required signature `bool operator ==(dynamic)` in `A` is unimplemented. So we

[2021-03-15 09:50] SametSahin10 opened #45316 "Getting "NoSuchMethodError: The getter 'nullabilitySuffix' was called on null." when dart migrate is run."
I've got an exception when I run `dart migrate` to migrate a Flutter package to null safety.

Dart SDK Version: 2.12.0

I'm using GNU/Linux Ubuntu.

Steps to reproduce:
1. Clone the repository of [this](https://github.com/SametSahin10/maps_toolkit) package to local.
2. Run `dart migrate` while on the root directory of the repository.

Output of `dart migrate`:
[code]

[2021-03-15 09:52] iarkh opened #45317 "Dart crashes on the cyclic generic typedef declaration"
Dart SDK version: 2.13.0-114.0.dev (dev) (Sat Mar 6 18:27:50 2021 -0800) on "windows_x64"

Here is a code source example which causes Dart crash:
[code]
Sample output is:
[code]

[2021-03-15 09:55] julemand101 commented on #45308
Could you add a code example which shows your problem and how your solution would solve this problem?

[2021-03-15 10:46] #45204 closed

[2021-03-15 10:47] eernstg opened #45318 "[analyzer] Should not call null"
Consider the following program:

[code]

The analyzer from commit 11d6203130004d0e3efff70f7873933fb53945b9 (of today) accepts the above program. However, calling null should be an error, cf. https://github.com/dart-lang/language/blob/893d59be1bfa403d93b4f500122f9288adf9b169/specification/dartLangSpec.tex#L12172.

[2021-03-15 11:21] DanTup commented on #43602
I was able to repro absolute paths being generated using the code in https://github.com/dart-lang/sdk/issues/41889, and have a possible fix at https://dart-review.googlesource.com/c/sdk/+/191142/. However, that seemed specific to imports that were previously `package:` and are no longer (eg. you move something out of the lib folder).

However, in the very top comment here, the very top comment her

[2021-03-15 11:38] alexander-doroshko commented on #43602
STR (Windows 10, Dart SDK 2.12.1):
- Add pubspec.yaml, run `pub get`
[code]
- lib/foo.dart
[code]
- lib/bar.dart
[code]
- move `lib/bar.dart` to `lib/src/bar.dart`

Expected result: Analysis Server updates import in `foo.dart` to `package:untitled1/src/bar.dart`

Actual result: Analysis Server updates import in `foo.dart` to `file:///C:/dart_projects/untitled1/lib/src/bar.dart`

[2021-03-15 11:58] lrhn commented on #33246
Being developer friendly *can* be helping developers find bugs early.

Allowing `null` as an argument where it has no practical use can hide bugs. Null safety is all about not allowing `null` to go where it's not intended. Parsing a string is not going to be able to parse `null`, so it will always be an error.

The `tryParse` functions deals with *parsing* errors by returning `null`. It does that,

[2021-03-15 12:03] tatumizer commented on #45153
If you'd like to learn, start here https://ziglearn.org/
"official" documentation is here: https://ziglang.org/documentation/master/#Introduction
For Vscode, you can install the language server https://github.com/zigtools/zls and then install ZLS plugin in VSCode.

You can write to my email if you have questions (I've been playing with zig for an entire weekend, already accumulated an insane amoun

[2021-03-15 13:29] ksilz commented on #43166
@scheglov I'm sorry, but not right now. I briefly upgraded to Flutter 2.0, and my app was a dumpster fire. Stuff broke even without null safety. And many of the plugins weren't ready for yet. I'll wait a couple of weeks for things to settle down.

[2021-03-15 13:39] bitsydarel opened #45319 "[Analyzer] null-safe no warning or compilation error for Completer.complete()"
This tracker is for issues related to:
* Analyzer

* Dart SDK Version (`dart --version`)
Dart SDK version: 2.12.0 (stable) (Thu Feb 25 19:50:53 2021 +0100) on "macos_x64"

Dart analyzer don't provide warning or compilation error when Map<String, Completer<Object>> is passed to a function with argument Map<String, Completer<Object?>>. But throws a error at runtime which basically remove all the ben

[2021-03-15 13:49] lrhn commented on #32803
I think it would be a good idea to seal `BigInt`.

Effectively, we've already assumed that it is sealed because we start all the instance methods with `_ensureSystemBigInt(other)` anyway, which throws if passed anything other than the system implementation of `BigInt`.

It'd be a different request, though. I'd vote for it.

[2021-03-15 13:52] gmpassos commented on #45230
One question: Why we can't set an image `src`? Why this is a security issue, since this is a normal operation for any web development?

[2021-03-15 13:57] iarkh opened #45320 "Type inference does not work for generic function type alias"
Dart SDK version: 2.13.0-114.0.dev (dev) (Sat Mar 6 18:27:50 2021 -0800) on "windows_x64"

Here is a source code example:
[code]
It expectedly throws a compile errors for the lines #9 (`TEST1 t1 =  testme;`) and #10 (`TEST2 t2 =  testme;`).

Seems like it should throw a error for the line #8 (`TEST t =  testme;`) too.

Sample output is:
[code]

[2021-03-15 14:26] move[bot] opened #45321 "import + reformat doesn't respect directives_ordering"
*@bernaferrari commented on Mar 13, 2021, 1:44 AM UTC:*

When I press command+shift+L to reformat/organize the code, it sends `api.dart` to the bottom, but then analyzer complains, which makes no sense. Both are fighting each other.

[![image](https://user-images.githubusercontent.com/351125/111014796-3b5ffc00-8384-11eb-8b62-d9cf6a8cf6da.png)](https://user-images.githubusercontent.com/351125/11101

[2021-03-15 14:28] iarkh opened #45322 "Dart throws unexpected unhandled exception when checks bounds of function type alias with invariant generic function type parameter."
Dart SDK version: 2.13.0-114.0.dev (dev) (Sat Mar 6 18:27:50 2021 -0800) on "windows_x64"

Here is a source code example which demonstrates the failure:
[code]
Sample output is:
[code]
Similar covariant case passes OK without any errors or warnings.

[2021-03-15 14:42] bwilkerson commented on #45311
This will need to be coordinated with the migration of the `analysis_server` package because all of the code defining the protocol is generated and the generator is also used for the corresponding classes in the `analysis_server` package.

[2021-03-15 14:56] je-west commented on #44201
Good Morning,
I present the same problem, I have not been able to migrate my app, I am in the beta channel and my version in the pubspec.yaml is the sdk: "> = 2.12.0 <3.0.0", any idea how to solve this problem.

Thanks a lot

[2021-03-15 15:13] eernstg commented on #45322
@mkustermann, I think this is a VM issue, do you agree?

[2021-03-15 15:16] devoncarew commented on #45292
Gotcha, thanks for the info. You might try with a more recent version of the analyzer - that would help us know whether this is an issue in the current codebase. Both `1.0.0` and `1.1.0` are available.

[2021-03-15 15:16] devoncarew commented on #45318
cc @scheglov

[2021-03-15 15:25] eernstg commented on #45320
The example program needs to be adjusted: `TEST<S>` denotes the type `void Function()` for any type `S` (in particular, a raw `TEST` also denotes `void Function()`). `TEST1<S>` denotes the type `void Function<X extends S>()`, so the raw `TEST1` denotes `void Function<X extends dynamic>()`. Finally `TEST2<S>` denotes `void Function<X>()` for any `S`.

`testme` has type `void Function<X extends int>

[2021-03-15 15:33] devoncarew commented on #44917
@srawlins for statue on the 2nd and 3rd items

[2021-03-15 15:34] devoncarew commented on #44920
My expectation is that there will be no impact here for Cider. We might want to confirm that there will / won't be any impact for Kythe; cc @davidmorgan @srawlins.

[2021-03-15 15:40] devoncarew commented on #45288
We could verify that there is a correct dep before we run - then we can emit that message (`You need to add a dependency on package:test. Try running 'dart pub add test'`.) w/o risk of it being a false positive.

I think then we could just pass through any failures from the pub run test w/o trying to infer what the cause of the problem was.

[2021-03-15 15:59] keertip commented on #44920
Right, as Devon mentions, as long as the analyzer has the support it should automatically roll into Cider.

[2021-03-15 16:01] DanTup commented on #43602
@alexander-doroshko are you able to capture a log? I tried the same on Windows but I got the correct path:

![repro](https://user-images.githubusercontent.com/1078012/111182624-fec01a80-85a6-11eb-9cbe-e8f81c022629.png)

[code]

I'm not sure what's different between these though. Could there be path casing differences, so the new path doesn't match up with the package root (and also doesn't produce

[2021-03-15 16:11] devoncarew commented on #44078
I'm going to close this item as complete. @pq, can you file a tracking issues in the linter for the remaining work, and add it as an item for the overall meta language impl. issue (https://github.com/dart-lang/sdk/issues/44951)? Thanks! We might want to call out whether you find that the linter work is / isn't blocking for the release.

[2021-03-15 16:11] #44078 closed

[2021-03-15 16:15] #45312 closed

[2021-03-15 16:16] stereotype441 commented on #45285
@bannzai Thanks for the bug report!  Did you try the tool's suggestion of running with `--ignore-exceptions`?  If so, did that work?

[2021-03-15 16:19] stereotype441 commented on #45316
@SametSahin10 Thanks for the bug report! Did you try the tool's suggestion of running with `--ignore-exceptions`? If so, did that work?

[2021-03-15 16:21] guilhermeagostinelli commented on #45312
Perfect, these alternatives are great. Thanks for your suggestion @rakudrama!

[2021-03-15 16:28] scheglov commented on #45318
https://dart-review.googlesource.com/c/sdk/+/191181

[2021-03-15 16:45] esDotDev opened #45323 "[NNBD ] Static Analyzer incorrectly thinks casts will always succeed."
Consider this code:
[code]

`findRenderObject` returns `RenderObject?`, so clearly `rb` could be null here, but the compiler is giving a warning:
```warning: The receiver can't be null, so the null-aware operator '?.' is unnecessary. (invalid_null_aware_operator at [flutter_folio] lib\_utils\context_utils.dart:9)```

Compiler seems to think the cast will always succeed, even if the source is a nul

[2021-03-15 16:48] a-siva commented on #45306
//cc @alexmarkov

[2021-03-15 16:53] sigmundch commented on #45305
@renatoaugustofranca - thanks for reporting the issue!

Let us know if by chance you have a small example code snippet that causes this error. That may help us narrow down the problem.

/cc @fishythefish

Maybe the stack above has enough context to diagnose this?

In either case, we may want to do what we do in other phases of the compiler and track the enclosing member every time we enter `compue

[2021-03-15 16:59] a-siva commented on #45313
//cc @crelier

[2021-03-15 17:01] a-siva commented on #45314
//cc @dcharkes

[2021-03-15 17:07] #45320 closed

[2021-03-15 17:07] gaaclarke commented on #45301
@devoncarew The error shows up in VSCode, too.  Looks like the file is there on disk.  I have a the error case setup on my machine.  I'll try to leave it like that in case you have any followup questions.

[code]

[2021-03-15 17:07] gaaclarke commented on #45301
@devoncarew The error shows up in VSCode, too.  Looks like the file is there on disk.  I have a the error case setup on my machine.  I'll try to leave it like that in case you have any followup questions.

[code]

[2021-03-15 17:24] #45323 closed

[2021-03-15 17:27] rmacnak-google commented on #45297
I suspect this is related to https://dart-review.googlesource.com/c/sdk/+/187860. Maybe the new heuristic to unbox to int64 clashes with something else that unboxes compressed Smis to int32 instead of int64?

[2021-03-15 17:35] #45300 closed

[2021-03-15 18:23] alexmarkov opened #45324 "Crash during AOT compilation: type 'Procedure' is not a subtype of type 'Field' in type cast"
Repro:

[code]

[code]
[code]

The crash is different if order of statements is swapped in the main:
[code]
[code]

fyi @johnniwinther

[2021-03-15 18:24] a-siva opened #45325 "[CP] [Stable] - Retain certificates used by trust certification evaluation"
Please cherry pick [937a716b09](https://dart.googlesource.com/sdk/+/937a716b095c4803750ed5013706cccd07dc613c) into the stable branch

Reason : Crashes have been reported in Flutter after transition to Flutter 2

Impact: This change will fix the crashes reported in Flutter by users after they have transitioned to Flutter 2

The change merges cleanly into the stable branch.

Risk: Low, the change is

[2021-03-15 18:26] esDotDev opened #45326 "[dart migrate] Can't disable a directory with interactive html tool"
I'm using dart migrate, and am inside the HTML suggestions page. According to the [docs](https://dart.dev/null-safety/migration-guide), you can disable a package with the checkbox, but it's not working.
_". To opt out a file or directory, click its green checkbox"_

I can disable individual files, but not an entire folder, I get this error:
[code]

![image](https://user-images.githubusercontent.co

[2021-03-15 18:36] scheglov commented on #45299
https://dart-review.googlesource.com/c/sdk/+/191183

[2021-03-15 19:43] pq commented on #45026
Enabled.  👍

[2021-03-15 19:43] #45026 closed

[2021-03-15 19:46] konsultaner commented on #45153
@tatumizer is it possible to compile zig to WebAssembly? The browser platform is one of darts targets as well.

[2021-03-15 20:16] tatumizer commented on #45153
Yes, the docs say WebAssembly is one of ~100 platforms supported. Probably, there are some natural limitations (you can't access the filesystem, for sure), but their standard library is certainly available - you should be able to create maps, lists, and many other useful things.

[2021-03-15 20:18] alexmarkov commented on #45324
Fix: https://dart-review.googlesource.com/c/sdk/+/191280.

[2021-03-15 20:26] bwilkerson commented on #38739
I have attempted to improved the first part of the issue with https://dart-review.googlesource.com/c/sdk/+/190581. Unfortunately I am not yet seeing any improvements in IntelliJ, which uses available declaration support.

[2021-03-15 21:11] scheglov commented on #45291
https://dart-review.googlesource.com/c/sdk/+/191303 to publish `analyzer`.

[2021-03-15 21:15] noliran commented on #44636
closing

[2021-03-15 21:15] #44636 closed

[2021-03-15 21:27] #45299 closed

[2021-03-15 21:35] scheglov opened #45327 "NPE in _attemptPrecedenceLevelRecovery"
See https://github.com/dart-lang/sdk/issues/45233#issuecomment-797478566

@jensjoha

[2021-03-15 21:36] scheglov commented on #45233
@troelsbjerre the stacktrace looks like a crash in parser. I opened a separate [issue](https://github.com/dart-lang/sdk/issues/45327) to track this.

[2021-03-15 21:44] scheglov commented on #45318
I see that we start failing `co19_2/Language/Expressions/Function_Expressions/syntax_t05`, but you have already opened the [issue](https://github.com/dart-lang/co19/issues/1011).

[2021-03-15 21:50] eernstg commented on #45318
Yes, it's probably turning green after the next co19 roll.

[2021-03-15 22:50] munificent commented on #33246
I'm with Lasse. I can see value in making `tryParse()` be more permissive with its inputs if doing so would let the user avoid costly pre-validation. But in this case, it's trivial to handle `null` yourself. And making the parameter non-nullable helps users catch the many mistakes where they didn't intend to pass in `null` at all.

[2021-03-15 22:50] scheglov commented on #42975
https://dart-review.googlesource.com/c/sdk/+/191181 fixes this.

[2021-03-15 22:50] #42975 closed

[2021-03-15 22:50] #45318 closed

[2021-03-15 22:56] alexmarkov commented on #45324
Another similar crash can be reproduced on the following example:

[code]

[code]
[code]

This time the problem is that when a field is replaced with a getter, a reference from `FieldInitializer` to the field becomes invalid and cannot be dereferenced.

[2021-03-15 23:45] srawlins commented on #44917
Generic function typedefs and triple-shift are both looking good. The implementations have landed. I need to check with language tests and co19 tests though to see if we're missing anything.

[2021-03-15 23:57] Rockvole commented on #33246
Yes, I think my issue is moot with sound null safety.

[2021-03-16 00:02] #45303 closed

[2021-03-16 00:16] crelier commented on #44930
Now that the CFE has provided an implementation behind a flag, I am able to test and I found 2 issues in the VM.
The first one relates to a wrong usage of the trail to avoid infinite recursion. It is easy to fix.
The second one is more complicated and relates to indices assigned by CFE in kernel files to reference declared type parameters. The VM and CFE are not agreeing on this assignment. Since

[2021-03-16 00:18] alexmarkov commented on #45324
Another fix: https://dart-review.googlesource.com/c/sdk/+/191323.

[2021-03-16 00:56] natebosch commented on #39825
I hit an edge where it's hard to design a nice API due to this.

In the test runner we'd like to have an API allowing folks to build the behavior of our `expectAsync` utilities - specifically to force the test to remain open (or timed out as a failure) unless some later condition is met. Internally our API looked like `addOutstandingCallback()` and `removeOutstandingCallback()` where we took care

[2021-03-16 01:40] jeiea commented on #45292
I can't use latest analyzer due to constraint solving failure. Several packages are wired and it seems it's not solvable simply at least by `dependency_overrides`. Maybe I need time the packages to be updated first. Close this for now.

[2021-03-16 01:40] #45292 closed

[2021-03-16 05:08] felangel commented on #44616
@lrhn is there any update on this? Looks like you managed to get it working but are waiting on a test-run? Thanks!

[2021-03-16 05:44] #45324 closed

[2021-03-16 07:48] johnniwinther opened #45328 "Verification makes co19/Language/Types/Static_Types/syntax_t06 time out"
The verifier, which is run on the cfe bots, makes the test `co19/Language/Types/Static_Types/syntax_t06` time out.

[2021-03-16 07:53] troelsbjerre commented on #45233
Makes sense. All command-line tools crash with the same parser stack trace, when fed the code snippet above. Even dartfmt crashes.

[2021-03-16 08:08] troelsbjerre commented on #45327
Small code snippet that reproduces the error for all commandline tools, including dartfmt:
[code]

[2021-03-16 08:09] jensjoha commented on #45327
Fantastic! Thanks --- I'll get that fixed =)

[2021-03-16 08:20] jensjoha commented on #45327
What version of dart are you seeing this on?

[2021-03-16 08:32] lrhn commented on #45322
This uses the old-style `typedef` syntax which makes the typedef generic, not the function it aliases.
This code is equivalent to:
[code]
Meaning it's really doing `void Function() t = testme;`.
That should cause an instantiated tear-off, with no constraints on the instantiation.
I'd expect that to perform instantiate-to-bounds, with `void Function<TT>(TT)` as the implied type argument to `testme`

[2021-03-16 08:33] troelsbjerre commented on #45327
Dart SDK version: 2.12.1 (stable) (Unknown timestamp) on "linux_x64"

[2021-03-16 08:42] mraleph commented on #45325
Strong support for cherrypicking this from me.

[2021-03-16 08:48] jensjoha commented on #45327
Thanks! This was fixed in 16a66c89025ad330844a07baf76553c45cfbf7b8.
For good measure I'll add these examples as tests though.

[2021-03-16 08:48] #45327 closed

[2021-03-16 08:56] iarkh opened #45329 "Dart crashes on the incorrect generic function daclaration: type 'ParserRecovery' is not a subtype of type 'Identifier'"
Dart SDK version: 2.13.0-114.0.dev (dev) (Sat Mar 6 18:27:50 2021 -0800) on "windows_x64"

Here is a source code example:
[code]
Sample output is:
[code]

[2021-03-16 09:03] eernstg commented on #45322
Thanks, I had exactly the same analysis! I noted that the generated kernel code looks right, so it seems to be an issue that arises in the backend:

[code]

[2021-03-16 09:15] DanTup commented on #44787
@bkonyi thanks! I've run it a few times and not seen this, although I've not seen it _many_ times on the older version either (so it's fairly random... Perhaps based on whether GitHub Actions is busy enough that the machines run slowly enough!).

I'm going to commit enabling the tests again (for SDK versions with this fix), so will ping you should I see it again on those versions. Thanks!

[2021-03-16 09:30] athomas commented on #45325
FYI, this fix is included in `2.13.0-116.1.beta` so it only needs to be CP'ed to stable.

[2021-03-16 09:45] iarkh commented on #45317
Another testcase which causes another crash with the similar diagnostic:
[code]
Error message is:
[code]
Should I file another issue or this is the same case?

[2021-03-16 09:51] iarkh opened #45330 "Dart crashes on the incorrect generic function call: NoSuchMethodError: The getter 'file' was called on null."
Dart SDK version: 2.13.0-114.0.dev (dev) (Sat Mar 6 18:27:50 2021 -0800) on "windows_x64"

It's reproducible both with `generic-metadata` experiment turned off and on.

Here is a source code example:
[code]
Sample output is:
[code]

[2021-03-16 09:54] alexander-doroshko commented on #43602
Attaching [full log](https://github.com/dart-lang/sdk/files/6147813/das.log). Related lines:
[code]

[2021-03-16 10:09] dcharkes opened #45331 "untime/vm/virtual_memory_posix.cc: 88: error: Failed to reserve region for compressed heap: 12 (Cannot allocate memory)"
[code]

===========

There are new test failures on [[gardening] Add explicit type to ensure templated function applies....[vm/compiler] Write retained reasons JSON to a file.](https://github.com/dart-lang/sdk/compare/dc62c9c3c22453277d357cfcc7f9b010840ac5ca~...3162957a7864d4c12a04097df4a618f52bed72f9).

The tests
[code]
are failing on configurations
[code]

[2021-03-16 10:13] DanTup commented on #43602
The difference looks like the format of the path in `newFile`:

VS Code:
[code]

IntelliJ:
[code]

The IntelliJ one looks like the slashes are the wrong way for Windows. It is sending backslashes in the other places (eg. `"kind"::"MOVE_FILE","file"::"C::\\dart_projects\\untitled1\\lib\\bar.dart"`) so I think it may be better to update there than try to make the server handle this?

[2021-03-16 10:47] alexander-doroshko commented on #43602
@DanTup Good catch! I've pushed the fix to the Dart plugin, it works as expected now.

[2021-03-16 11:03] mkustermann commented on #45322
/cc @crelier Is this something you could look into?

[2021-03-16 11:26] fishythefish commented on #44913
For triple shift, I think so, and AFAIK metadata improvements don't require any backend work. I'm mostly concerned about support for generic function types in type arguments - I don't think it'll be a hard change to make, but it'll be easiest if we have a suite of language/co19 tests to validate against.

[2021-03-16 11:46] fishythefish commented on #45305
Yeah, I see where the NPE is coming from in the code, but without a repro, it's hard to debug.

I believe the error is being thrown when we hit the `classNode` getter here: https://github.com/dart-lang/sdk/blob/88c24ef66acf74fda1ca77d54bdb00277430cabb/pkg/compiler/lib/src/ir/static_type.dart#L1537-L1539

This means we're probably hitting the end of `getInterfaceTypeOf`: https://github.com/dart-lan

[2021-03-16 12:58] stereotype441 opened #45332 "Consider adding "why promoted" context information for warnings/errors caused by type promotion"
Inspired by this comment: https://github.com/dart-lang/language/issues/1523#issuecomment-799930453

Consider the following code:
[code]
Note that the user migrated this code incorrectly from a pre-null-safety version: at (1), they should have used `x as int?` to preserve the behavior that `null` is allowed.

Currently the analyzer generates the following warning at the line marked (2):
[code]
Base

[2021-03-16 13:36] stereotype441 commented on #45326
I spent some time manually de-obfuscating the stack trace.  Here's the code in question, from `pkg/nnbd_migration/lib/src/front_end/web/migration.dart`:
[code]
The top stack entry is at (1) and the next stack entry is at (2).  The third stack entry is here (inside the method `writeNavigationSubtree`):
[code]
So I think what has happened is that when the user clicked on the status icon, `updateSubt

[2021-03-16 13:41] SametSahin10 commented on #45316
I've just tried it and it worked without any errors.

[2021-03-16 13:49] stereotype441 commented on #45316
Great, thanks!  That helps in assigning this bug a priority.

[2021-03-16 14:30] #43602 closed

[2021-03-16 14:36] stefantsov commented on #45313
@eernstg I think the suspicious `TTT extends TT = dynamic` part is because the default types (those the follow `=` in the declarations of type variables) don't really make sense for function types, only for classes and functions, because instantiate-to-bound doesn't apply to them. We see them there only because we use the same `TypeParameter` node kind for all of class, function, typedef, and func

[2021-03-16 14:43] stereotype441 commented on #44917
Regarding generic annotations, last month I implemented parser and AST support, but wasn't able to get to the remainder of the feature (resolution, constant evaluation, and summary support).  It's looking like between working on https://github.com/dart-lang/sdk/issues/44897 and addressing the migration bugs that have started coming in since the stable release, I'm not going to have much time avail

[2021-03-16 15:03] johnniwinther commented on #45313
I don't think it's a front end issue.

[2021-03-16 15:17] johnniwinther opened #45333 "Static error testing doesn't handle error in imported libraries"
The test `language/nonfunction_type_aliases/mixed/aliased_cyclic_superclass_error_test` assumes errors reported in an imported library. The static error tests framework doesn't seem to handle that.

[2021-03-16 15:18] johnniwinther commented on #45333
cc @eernstg @munificent

[2021-03-16 15:30] johnniwinther opened #45334 "Bound checking errors in small features"
These tests fail due to discrepancies wrt. bound checking:
[code]

[2021-03-16 15:36] liudonghua123 commented on #37751
I have the similar problem.

[code]

[2021-03-16 15:37] liudonghua123 commented on #39455
Recently, I run into the same error. See https://github.com/dart-lang/sdk/issues/37751#issuecomment-800369852.

[2021-03-16 15:48] vsmenon commented on #45325
lgtm

[2021-03-16 15:50] sortie commented on #39455
Does it work if you pass `runInShell: true` to `Process.run`? The file called `flutter` is a Unix script and on Windows you want to invoke `flutter.bat` through your Windows shell. The main problem I think I see here is that the Windows error message didn't have the %1 substituted.

Your Flutter and Dart versions appear to be a good bit old btw.

[2021-03-16 15:52] sigmundch commented on #44925
I don't believe there is any work needed here. Just to be sure @grouma @jacob314 - can you confirm?

[2021-03-16 15:54] johnniwinther commented on #42449
@eernstg Are you looking into this or should someone from the CFE take over?

[2021-03-16 15:56] franklinyow commented on #45325
Approved in SCRUM

[2021-03-16 15:58] liudonghua123 commented on #39455
@sortie Thanks, I was running/debugging https://github.com/dart-lang/dart-pad and https://github.com/dart-lang/dart-services. And I think the flutter(2.0.1)/dart(1.12.0) is not old currently.

Passing `runInShell: true` seems works now.

[2021-03-16 16:00] #39455 closed

[2021-03-16 16:00] franklinyow commented on #45325
Text:
This change will fix the crashes reported in Flutter by users after they have transitioned to Flutter 2, see flutter#78167

[2021-03-16 16:02] eernstg commented on #45333
True, this has been reported as #44990 (so I think this one is a duplicate). I also changed said test in https://dart-review.googlesource.com/c/sdk/+/191365, such that we can see the actual behavior of tools as intended.

[2021-03-16 16:08] sigmundch commented on #44915
Thanks for the update @nshahan. Do you know if there is anything left to do for "Generic function types as type arguments"?

[2021-03-16 16:10] sigmundch commented on #44952
I think we can close this out, I'm not aware of any work needed.

/cc @fishythefish  - in case I missed something.

[2021-03-16 16:10] #44952 closed

[2021-03-16 16:11] sigmundch commented on #44963
Maybe it is worth also adding a couple tests to cover https://github.com/dart-lang/sdk/issues/44925 as well?

[2021-03-16 16:14] sigmundch commented on #30891
@nshahan is this addressed by https://github.com/dart-lang/sdk/commit/b250a58d8e81e4b58c42e83523808fceeb33e7e9?

[2021-03-16 16:15] eernstg commented on #42449
I think it would be nice if someone else took over&mdash;I'm trying to get the 2.11 stable spec done, and that keeps getting pushed ahead for various reasons. ;)

[2021-03-16 16:16] sigmundch opened #45335 "dart2js: cleanup after `>>>` is enabled by default"
See https://github.com/dart-lang/sdk/issues/30890#issuecomment-794197803:

* [x] remove `triple-shift` flags added to the codegen and optimization tests
* [x] run dartfmt on the test code containing `>>>`.

[2021-03-16 16:17] sigmundch commented on #30890
I decided to split up the cleanup into a separate issue, so we can properly track the fact that the feature is ready to ship.

[2021-03-16 16:17] #30890 closed

[2021-03-16 16:23] johnniwinther commented on #42449
Sounds good.

[2021-03-16 16:23] sigmundch commented on #44742
@annagrin, @nshahan - just curious - is this still planned for this upcoming release?

[2021-03-16 16:27] grouma commented on #44925
There shouldn't be any work on our end.

[2021-03-16 16:29] crelier commented on #45322
Sure.

[2021-03-16 16:34] sigmundch commented on #44925
Thanks!

[2021-03-16 16:34] #44925 closed

[2021-03-16 16:37] nshahan commented on #44915
I'm not sure about that. My feeling is the systems might just work but there could be unexpected incompatibilities with the function type argument.

I just found a set of test suites for the features mentioned in this comment https://github.com/dart-lang/sdk/issues/44926#issuecomment-785709113. I'll use those to validate.

[2021-03-16 16:38] grouma commented on #44963
Wouldn't hurt. We'll need to know the SDK version that contains these features.

[2021-03-16 16:38] nshahan commented on #30891
Yes the implementation is in and this seems more or less done. I'll validate with the test suites and file bugs if there are any failures.

[2021-03-16 16:38] #30891 closed

[2021-03-16 16:50] srawlins commented on #45319
According to the [`Completer.complete()` documentation](https://api.dart.dev/stable/2.12.1/dart-async/Completer/complete.html):

So it is statically valid to complete a `Completer<T>`, for a non-nullable T, with an omitted value, even though the code is guaranteed to throw at runtime.

This is also true for `Future.value()` for a non-nullable T.

@lrhn @bwilkerson I think it makes sense for the an

[2021-03-16 16:52] srawlins commented on #45310
I swear I've fixed this like three times. ☹️ . This remaining bug might just be for closures in static functions...

[2021-03-16 16:54] srawlins commented on #45301
I also just hit this recently. On `Dart SDK version: 2.13.0-edge.8c64f32db50723858a511a43c6ab7a9f1c17f6c6`.

[2021-03-16 16:55] srawlins commented on #45301
The next time I see this, I'll check my `.packages` and `.dart_tool/package_config.json` as well.

[2021-03-16 16:58] devoncarew commented on #44917
Hey - @scheglov and I discussed this - he's happy to take over the remaining work. Can you sync with him to make sure we're aware of the current state and what's left to do? I'll update the owners of the features in the summary message at the top of this issue to reflect who's working on which feature.

[2021-03-16 17:22] bkonyi opened #45336 "Add option to disable breakpoints"
We should provide a service RPC to allow for enabling and disabling breakpoints without having to remove and recreate them each time.

VM tracking issue for https://github.com/flutter/devtools/issues/696.

[2021-03-16 17:34] iapicca opened #45337 "[proposal] [dart 2.12] `Iterable<E>` methods `first` and `last` should return `E?`"
### use case

currently an empty [iterable](https://api.dart.dev/stable/2.12.1/dart-core/Iterable-class.html) just throws if [first](https://api.dart.dev/stable/2.12.1/dart-core/Iterable/first.html) and [last](https://api.dart.dev/stable/2.12.1/dart-core/Iterable/last.html) are called
allowing to **_inadvertently_** assigning a `null` value to a `non-nullable` variable

[code]

### proposal

I fee

[2021-03-16 17:42] bwilkerson commented on #37287
To expand on that thought, under null safety we'd need to ensure that the cast doesn't have any implications for type inference.

[2021-03-16 17:52] srawlins commented on #40193
Null safety has shipped; can we close this issue even though we have 4 remaining sub-issues? Their completion is no longer tied to the release.

[2021-03-16 17:53] #35349 closed

[2021-03-16 17:57] srawlins commented on #44929
This is complete.

[2021-03-16 17:57] #44929 closed

[2021-03-16 17:57] franklinyow commented on #40193
No objection from me

[2021-03-16 18:01] TheWCKD opened #45338 "$ dart pub global activate package_name generates the wrong package.bat file on Windows"
Hello,

I'm opening this issue to inform you that there's something wrong with the ` $ dart pub global activate <package_name> ` command that should supposedly install the package inside windows system as a `package.bat` file right inside the
`C:\Users\<UserName>\AppData\Local\Pub\Cache\bin` path.

For example, if I run `dart pub global activate very_good_cli`, a package designed by @felangel, it

[2021-03-16 18:11] grouma commented on #44760
cc @annagrin  looked into this. The issue is that we have different bootstrapping logic which may wrap the main libraries. We should have enough information in `package:dwds` to do the right thing for rootlibraries.

[2021-03-16 18:26] srawlins commented on #45310
This was fixed by @scheglov at the end of January with https://github.com/dart-lang/sdk/commit/934980be801c8007189500ee6980fd81b9eca079.

It should go out in Dart 2.13.

[2021-03-16 18:26] #45310 closed

[2021-03-16 19:23] eEQK opened #45339 "[vm_service] Handle evaluation of code fragments"
Often times I need to evaluate a piece of code in debugger. Unfortunately current dart's vm implementation doesn't allow for that. Would it be a good idea to add such feature?

Example of what I want to do (but in dart):
![image](https://user-images.githubusercontent.com/15970653/111366018-4c19b600-8693-11eb-9dee-26751f7316aa.png)

Perhaps we could add something like a `isMultilineExpression` flag

[2021-03-16 19:25] incendial commented on #45236
So yeah, I was doing it wrong and there is no need to call `pub get` inside a package.

I have two main questions:
1. Some classes used from the analyzer has fields that marked as non-nullable, but have old comments that suggest that they might be. Is it intensional or a mistake?
2. If I understood it correctly, protocol is generated from the html spec. Right now I have migrated those files by han

[2021-03-16 19:26] RandalSchwartz commented on #45337
How would a throw cause a null to be assigned, except through bad logic?

[2021-03-16 19:26] nt4f04uNd commented on #45337
see https://github.com/dart-lang/sdk/issues/42583#issuecomment-711146248

i don't understand though, why would `first` and `last` behave different than `elementAt`?

[2021-03-16 19:33] scheglov commented on #45236
Ask any question here.

If there are any fields that have non-nullable type, but the comment says that they are nullable, please tell us about these fields. This most probably means that I did not update the comment.

It is fine if the generating tool looks too complicated for you, I can do this portion a bit later.

[2021-03-16 19:56] nshahan commented on #44742
My recollection from our discussion was that we would prefer not to add the path to the DDC metadata file because DDC does not produce the summary file, and it should be known by the build system before invoking DDC.

@annagrin Does it look like we it would add too much complexity to get the summary file path without involving the metadata?

[2021-03-16 19:59] iapicca commented on #45337
@nt4f04uNd

thanks I'll definitely use that

good point, same for `elementAt`
I would imagine that a method that might return a `null` should not just `throw at runtime`, but return `E?`
**_just my opinion_**

[2021-03-16 20:02] incendial commented on #45236
Thanks for the quick response!

Three places so far: [first](https://github.com/dart-lang/sdk/blob/master/pkg/analyzer/lib/dart/element/element.dart#L1237), [second](https://github.com/dart-lang/sdk/blob/master/pkg/analyzer/lib/dart/element/element.dart#L1880), [third](https://github.com/dart-lang/sdk/blob/master/pkg/analyzer/lib/dart/element/element.dart#L540).

As for generating tool - I will ta

[2021-03-16 20:04] bwilkerson commented on #45236
If you mean migrating the code in the generator, then we ought to be able to do that separately. If you mean update the generator to produce null safe code, that might be necessary, even if it's just to add a `// @dart=` comment. I know that for the `analysis_server` package we have a test to ensure that we never forget to run the generator, and I think we did the same for the `analyzer_plugin` pa

[2021-03-16 20:07] nshahan commented on #44916
@stefantsov @eernstg
I'm seeing compile time errors for the tests that were landed for the Generic Function Types in type arguments and bounds feature. https://dart-ci.firebaseapp.com/current_results/#/filter=language/generic/generic_function_type_argument_test&showAll

Is there an experiment flag we need to turn on at this point?

[2021-03-16 20:10] sebthom commented on #42947
@lrhn is there also a workaround for dart-async `Stream.firstWhere`? https://api.dart.dev/stable/2.12.1/dart-async/Stream/firstWhere.html

[2021-03-16 20:17] leafpetersen commented on #44916
I think that test is still failing in the front ends.

[2021-03-16 20:21] a-siva commented on #45336
Why does this have to go in at the service RPC level, can this not be a functionality handled by DDS ?

[2021-03-16 20:25] incendial commented on #45236
Yeah, I meant produced code. But won't a `// @dart=` comment actually still block external packages (that depends on a `analyzer_plugin`) from null safety migration?

Oh, thats great.

[2021-03-16 20:28] scheglov commented on #45236
Thank you, I will update these comments.
https://dart-review.googlesource.com/c/sdk/+/191481

Whatever is easier for you - if you have already done migrating the generated code, keep it.
Then me, or someone else, can update the generator to produce this or similar migrated code.

The generator itself is not a production code, so it will not prevent tests or clients from being null safe.

[2021-03-16 20:32] #45337 closed

[2021-03-16 20:43] alexmarkov opened #45340 "Switch VM to use new encoding of invocations in kernel AST"
CFE introduced a new encoding of invocations in https://dart-review.googlesource.com/c/sdk/+/175480.
We should support new nodes in the VM and flip `supportsNewMethodInvocationEncoding` in `VmTarget`.

@a-siva @askeksa-google @johnniwinther

[2021-03-16 20:49] bwilkerson commented on #45236
It shouldn't prevent it. The semantics of writing null safe code that depends on un-migrated code are well defined, and it shouldn't be a requirement to migrate all dependent packages first, but it is strongly advised for two reasons:
- waiting to migrate means that your code won't be broken by unforeseen changes to the packages you depend on when they're migrated, and
- depending on un-migrated c

[2021-03-16 21:15] 2014044 commented on #41659
Worked for me too, thanks.

[2021-03-16 21:39] scheglov commented on #45236
Yes, the check for generator will fail, we would have to disable it for a short time while we are working on migrating the generator.

[2021-03-16 21:43] goderbauer opened #58348 "method-side opt-out for unawaited_futures"
Flutter has some API methods (like Navigator.push, AnimationController.forward, AnimationController.reverse) that return a Future, but in a lot of cases it is perfectly normal to just drop that Future on the floor. The `unawaited_futures` lint creates a lot of noise there, especially in tests.

It would be nice if there's an API-side opt-out for that lint where we can annotate the methods mentione

[2021-03-16 21:45] annagrin commented on #44742
@nshahan It would be definitely easier if the metadata could contain the summary file path, we currently don't have any other feasible path (ie one that does not require heavy modification of build rules) to get this information without guessing.

[2021-03-16 21:53] goderbauer opened #45343 "opt-out for old-school mixin-like classes from prefer_mixin"
Flutter has some classes (like ChangeNotifier and WidgetsBindingObserver) where we tell developers that those can be extended, implemented, or mixed-in. However, the `prefer_mixin` lint is not happy when they are used as a mixin in a `with` clause. Since those classes pre-date the introduction of actual mixins in Dart, it would be nice if they can be opted out from the lint, e.g. by annotating the

[2021-03-16 22:01] gspencergoog opened #45341 "Dart programs should be able to be built as a non-console Windows app or library"
From @timsneath:

Can we please add the capability to the Dart compiler to allow this?

[2021-03-16 22:13] gspencergoog opened #45342 "Support Windows Runtime async callbacks"
from @timsneath:

Would it be possible for Dart to expose/provide (or if they already exist, just explain) the primitives needed to be able to enable this use case? It would make Dart programs (including Flutter apps) on Windows quite powerful, as they could take advantage of the entire Windows API directly.

[2021-03-16 22:26] goderbauer opened #58350 "Avoid private types in public API"
Public API should not reference any private types that may not be accessible to the caller.

**Examples**

[code]

/cc @pq @Hixie @mit-mit @munificent @devoncarew

[2021-03-16 22:31] bkonyi commented on #45336
This would be simpler to add to the service since we already have a way to enable/disable breakpoints in the VM, it's just functionality that isn't currently exposed.

[2021-03-16 22:44] gspencergoog opened #45344 "Support Windows resource embedding"
From @timsneath:

We (the Flutter Desktop team) would like this ability to enable the possibility of rewriting our Runner code in Dart using FFI.

/cc @cbracken @clarkezone @csells

[2021-03-16 22:52] eernstg commented on #44916
I think the test `language/generic/generic_function_type_argument_test.dart` requires that

[code]

So the test and the analyzer need to be adjusted.

[2021-03-16 23:09] nshahan commented on #44915
@leafpetersen Do you have an overview of all the tests for the various features? It would be nice to have a query for each of the features we could use to see the status.

I noticed some of the triple shift tests were being skipped because they have been around for so long https://dart-review.googlesource.com/c/sdk/+/191482. Do we have to watch out for this on the other features?

@athomas It look

[2021-03-16 23:35] a-siva commented on #45336
I was wondering about whether you would provide the capability of multiple clients to have their own enable/disable state for the breakpoints in which case the VM state would not help.

[2021-03-16 23:52] a-siva commented on #45340
Is this something we want to get done for the March milestone ?

[2021-03-17 00:17] #45313 closed

[2021-03-17 00:17] #44930 closed

[2021-03-17 00:17] #45322 closed

[2021-03-17 00:18] ghost opened #45345 "Future stoping code analyze, intelisense, code completion in Android Studio"
*@d-apps commented on Mar 16, 2021, 11:40 PM UTC:*

## Steps to Reproduce

Sometimes when I'm specifying the type of Future or just typing Future, the Android Studio stops analyzing the code and no matter what I type, intelisense, code completion, analyze, they doesn't work anymore.

[![Tue Mar 16 2021 19_27_53 GMT-0300 (Horário Padrão de Brasília)](https://user-images.githubusercontent.com/201104

[2021-03-17 00:21] kwalrath commented on #44965
This won't be in a stable release for a while, correct? We often don't cover features until they're in a stable release (with the exception of features where we want feedback or that need a lot of work to implement).

[2021-03-17 00:23] crelier commented on #44916
@stefantsov  I'm seeing an error reported by CFE on annotations:
[code]

[2021-03-17 00:37] franklinyow commented on #44965
@kwalrath This is targeting the next dart stable release

[2021-03-17 00:53] d-apps commented on #45345
Flutter doctor is showing version 4.1.0 but when I open about:

![image](https://user-images.githubusercontent.com/20110433/111398187-c2251980-86a1-11eb-99fa-be3ac21df36a.png)

[2021-03-17 03:24] nex3 opened #45346 "[NNBD] Type promotion fails in async functions"
The following function:

[code]

Produces this error:

[code]

`value` is clearly never `null` here, and in fact if `Future.value()` is replaced by a plain string it's detected correctly.

[2021-03-17 03:35] bsutton opened #45347 "nnbd bug in Service.getIsolateID in compiled apps."
I have code which uses Service.getIsolateID which I use to obtain inter-isolate and inter-process locks.

The code works fine if I run the script using jit?

[code]

However if I compile the script the call to Service.getIsolateID is throwing the following exception:

[code]

In previous versions of dart the call would just return null if the app was compiled.

dart --version
Dart SDK version: 2.1

[2021-03-17 03:46] nex3 opened #45348 "[NNBD] Type promotion fails for variable uses in anonymous functions"
The following function:

[code]

Produces this error:

[code]

Despite the fact that `arg` will clearly always be non-null when it's returned. There's not even a hypothetical risk that `arg` will be reassigned to `null` between the function being created and being invoked, since the non-nullable assignment appears before the function is created and no nullable assignments exist anywhere.

[2021-03-17 04:18] leafpetersen commented on #44915
@nshahan I have internal docs and spreadsheets tracking all known tests and failures, I will send you links.

[2021-03-17 04:24] leafpetersen commented on #45343
@lrhn should we consider making a plan to migrate SDK class mixins to mixin mixins?

[2021-03-17 06:08] ndevir opened #45349 "Dart compiler crashes for unknown reason"
Hello!

First of all, thanks a lot for all your efforts - I think dart is really great!

Now, on to the problem: The dart compiler crashed when I tried to compile the following code:

[code]

I know the code is full of errors (and I have fixed it), so that's not why I'm submitting this issue. The point is that the error message told me to submit the issue, so here we go.

This was the console outp

[2021-03-17 07:29] DanTup commented on #43571
A `completeFunctionCalls` setting was added in https://github.com/dart-lang/sdk/commit/8687aa6145c35fae6e1aaa076de7f2a19da7e38c and supports including the parens/arg placeholders. It does not include all of the options described above though (or the option to create a method).

[2021-03-17 07:57] sstrickl commented on #45331
Different tests today but similar errors:

There are new test failures on [Roll dart_style 2.0.0 into the SDK....Remove unused code and files from analysis_server:](https://github.com/dart-lang/sdk/compare/1cb203d8c9bb2772c82c5432e70a7cbf54fa2fbf~...ce0a926c359d0b550bfd5f6843a58789c36a58ff).

The tests
[code]
are failing on configurations
[code]

[2021-03-17 08:25] lrhn commented on #45349
The code should have used `||` instead of `or`, so that's why the compiler got off tracks there, but the compiler definitely shouldn't *crash* because of a syntax error.

[2021-03-17 08:40] lrhn commented on #42256
I actually don't want this to be an error.

The only reason it's supposed to be an error is that it *desugars* to something which implements `S` and has `S` as superclass, *but* the *user* never wrote `implements S`, and they shouldn't get hit for something they didn't write.

I'd prefer to only complain about "implements S and superclass S" if the user actually wrote both, in the same declaration

[2021-03-17 08:50] #33449 closed

[2021-03-17 08:55] lrhn commented on #45343
@leaf Absolutely.

It's breaking because someone might be extending the existing class, and you can't `extends Mixin`.

The best solution we've come up with for that is to allow `extends Mixin` to be equivalent to `extends Object with Mixin`. That would make it non-breaking to change existing classes-used-as-mixins to actual mixins, and bring us one step closer to simply disallowing classes as mix

[2021-03-17 09:22] johnniwinther commented on #45349
cc @jensjoha

[2021-03-17 09:40] lrhn commented on #42947
There is no similar method in `package:async` (yet), so you'll have to make do with:
[code]

[2021-03-17 09:46] jensjoha commented on #45349
Thank you for taking the time to report this!
This was fixed in 16a66c89025ad330844a07baf76553c45cfbf7b8.

[2021-03-17 09:46] #45349 closed

[2021-03-17 10:20] PiN73 opened #45350 "Can cookie value contain space?"
I'm trying to make http request to some service, and response contains the following header:
[code]

The library I'm using for http requests uses `Cookie` class from `dart:io`.

The request is failed because of the space in the cookie value.

This is the minimal example:
[code]

[code]

[code]
also reproducible at least from Dart 2.0.0

https://github.com/dart-lang/sdk/blob/65376c07234d1df472662d2

[2021-03-17 10:33] lrhn commented on #45350
I think the code answers your question with a "no".
That's also correct, the [specification](https://tools.ietf.org/html/rfc6265#:~:text=cookie-octet) does not allow spaces in `cookie-value`.
The service which is sending you the cookie is sending malformed cookies. Shame on it, but that doesn't help you.

If you can intercept the cookie before the code calls `Cookie.fromSetCookieValue`, you can re

[2021-03-17 10:49] #45317 closed

[2021-03-17 10:54] stefantsov commented on #44916
I think that error reporting is correct, as @eernstg wrote above. The bound is `T Function<T>(T)`, and the type argument is `S Function<S extends T Function<T>(T)>(S)`. The type parameters in the two have different bounds, so they are incomparable: neither is a subtype of the other, and the error should be reported.

[2021-03-17 10:58] lrhn opened #45351 "[cfe] Update handling of type aliases expanding to a type variable"
[Edit Mar 24, eernstg: Using this as the CFE issue for #45449]

The specification, as currently (being) written states that a type alias expands to a type variable if the RHS of the alias by itself expands to one of the type variables of the alias.

That means that a non-generic type alias cannot expand to a type variable.

The following code:
[code]

should therefore work, but gives the following

[2021-03-17 11:21] athomas commented on #45325
Merged to stable in 65376c07234d1df472662d21dff2498ab2d3cdda (2.12.2).

[2021-03-17 11:21] #45325 closed

[2021-03-17 11:45] johnniwinther commented on #45351
@eernstg Do you know how much work is needed in the CFE to support this?

[2021-03-17 11:58] stof opened #45352 "The dart analyze CLI supports only one directory while the older dartanalyzer supported multiple ones"
* Dart SDK Version (`dart --version`): 2.12.1
* Whether you are using Windows, MacOSX, or Linux (if applicable): Linux (but probably applies to others)

The old dartanalyzer CLI supports passing multiple directories to analyze. `dart analyze` does not.
Is this an intentional change or something that was missed in the new CLI ?

I found this out when working on the dart-sass package. The CI setup s

[2021-03-17 13:36] shinyford commented on #45116
I have Sophos as company-mandated AV software. Working with my IT support team, we have proved that the problem is fixed when Sophos is uninstalled - but of course, because of the mandate, I've had to have it re-installed on my Mac.

[2021-03-17 13:40] shinyford commented on #45116
This article, under "known issues" mentions a possible culprit:

https://support.home.sophos.com/hc/en-us/articles/360051251412-Support-for-macOS-11-Big-Sur-

"Incoming SSH connections will fail if running Sophos Home v10.0.1a1 + MacOS 11 Big Sur.
         We have identified a possible root cause for this issue. Expected fix to come out on 2021. "

My version of Sophos is 1.0.4, so if that is what

[2021-03-17 13:47] bwilkerson commented on #45352
@devoncarew

[2021-03-17 14:11] johnniwinther commented on #45351
cc @stefantsov

[2021-03-17 14:22] stereotype441 commented on #45346
Yeah, this is an unfortunate case.  Thanks for bringing it up and prompting me to look at it with fresh eyes.

What's happening here is that when type inference reaches `Future.value("greater than")`, it looks up the type signature of the `Future<T>.value` constructor (which is `Future<T> Function([FutureOr<T>?])`) and then does the following reasoning steps:
- The context type is `FutureOr<String

[2021-03-17 14:41] DFelten commented on #44155
We're currently using a specific branch of a repository via Git, but because of this there are now warnings

`warning: Publishable packages can't have git dependencies. (invalid_dependency at [tmx_core_dependencies] pubspec.yaml:25)`

Is it somehow possible to deactivate this warning?

[2021-03-17 14:45] stereotype441 commented on #45348
Yeah, this is a known limitation of type promotion.  When it sees an anonymous function, it makes a pretty conservative assumption about what might happen to any variables that anonymous function reads: it reasons that if the variable is *ever* written to, then it's possible that the variable's promotion will be invalidated by a write sometime between the time it's created and the time it's called

[2021-03-17 14:47] a14n commented on #45332
Note that there's the lint [cast_nullable_to_non_nullable](https://dart-lang.github.io/linter/lints/cast_nullable_to_non_nullable.html) to catch (1)

[2021-03-17 14:48] stereotype441 commented on #45348
FWIW, you can work around this limitation by creating a temporary variable that's never written to:
[code]

[2021-03-17 14:50] stereotype441 commented on #44904
@devoncarew any news?

[2021-03-17 14:52] stereotype441 commented on #45068
@bwilkerson any update on this?

[2021-03-17 14:53] KohlsAdrian opened #45353 "[ERROR] dartanalyzer unhandled exception 'nullabilitySuffix'"
I have migrated 3 of my packages to pub.dev, 2 have succeeded and only 1 has addressed issues and I don't seem to find a fix for it

The package uses only Dart code (0% flutter): https://github.com/KohlsAdrian/google_maps_utils

`Dart SDK version: 2.12.1 (stable) (Wed Mar 10 10:18:47 2021 +0100) on "macos_x64"`

The error addressed by pub.dev scoring system:
`dartanalyzer exception: NoSuchMethodEr

[2021-03-17 15:01] DebkanchanSamadder commented on #45353
#https://github.com/dart-lang/sdk/issues/45052

[2021-03-17 15:10] bwilkerson commented on #45068
Not that I'm aware of. I think the next step is to assign someone to actually implement it. @devoncarew

[2021-03-17 15:17] devoncarew commented on #44904
Yes, this did land.

[2021-03-17 15:19] leafpetersen commented on #44916
The test needs adjustment.  I'll work on getting that done.

[2021-03-17 15:44] a-siva commented on #45347
Would it be possible to share a snippet of code from named_lock.dart that reproduces the problem.
By 'compile the script' do you mean compiled to JS using dart2js or compiled to an AOT snapshot using dart2native ?

[2021-03-17 15:50] devoncarew commented on #45353
Likely dupe of https://github.com/dart-lang/sdk/issues/45052.

[2021-03-17 15:50] #45353 closed

[2021-03-17 15:52] alexmarkov opened #45354 "pkg/vm_snapshot_analysis/test/instruction_sizes_test fails with RuntimeError on Windows"
The test
[code]
is failing on configuration
[code]

Log:
[code]

This test became flaky around https://github.com/dart-lang/sdk/commit/4e1c79d86baa5e7f96d725dd3575e0a028b716ec, and then it has been flipping between RuntimeError and Timeout recently.

/cc @sstrickl @mraleph

[2021-03-17 16:06] devoncarew commented on #45068
Brian, I'd assumed that you were driving this. If not then we might want to rethink how we're addressing https://github.com/dart-lang/sdk/issues/44905. If we put this in the critical path of testing the why not promoted work, we'd either have to:
- add a json format to dart analyze and switch test.py over to using dart analyze
- add a json format to dartanalyzer and switch test.py over to using th

[2021-03-17 16:07] aam commented on #45339
You can use closure for code fragment evaluation: `() {var a = "a"+"a"; return a; }()` should produce "aa".

[2021-03-17 16:08] crelier commented on #44916
Sorry, I totally missed Erik's post. My comment was sitting in a draft tab for too long.
Thanks all!

[2021-03-17 16:32] bwilkerson commented on #45068
Sorry. If you explicitly stated that then I missed it. I assumed that either you or Paul would be driving the work. I just offered to help by creating an initial proposal of what the protocol might look like. I can certainly do more if you want me to.

I might be wrong, but I don't think that's true. I think we'd still need to update `test.dart` to recognize the extended machine format and use the

[2021-03-17 16:53] bwilkerson commented on #45319
I agree. Any time there is guaranteed to be a runtime exception and we can accurately determine that case statically then it makes sense for analyzer to produce a hint.

I'm not sure about `Never`. I might have the wrong understanding of `Never`, but doesn't the `Never` guarantee that we won't actually invoke `complete`? Hence there is no runtime exception thrown in that case. It seems like we sho

[2021-03-17 17:01] scheglov commented on #45052
https://dart-review.googlesource.com/c/sdk/+/191600 (based on origin/stable)

[2021-03-17 17:04] bkonyi commented on #45235
@sigurdm is it possible to add a timeout or network check when executing analytics code? What about pub?

[2021-03-17 17:06] johnniwinther commented on #45340
There is no rush.

[2021-03-17 17:09] bkonyi commented on #42530
Is this still an issue? Pub is embedded in the CLI now, so there shouldn't be any issues with paths.

[2021-03-17 17:11] bkonyi commented on #45279
cc/ @mit-mit. What should be the proper language here?

[2021-03-17 17:27] stereotype441 commented on #45316
Duplicate of #45052

[2021-03-17 17:27] #45316 closed

[2021-03-17 17:37] lrhn commented on #45319
If the argument has type `Never`, then we know the call is dead code (in sound mode).
If we don't warn about other `Never`-guaranteed dead code, I can't see why this should be special.

For `Future<Never>` or `FutureOr<Never>`, it's not necessarily dead code. That value can be a future containing an error. (In fact, it's the *perfect* type for creating an error future that can be reused at any typ

[2021-03-17 18:03] srawlins commented on #45319
Excellent, thanks for the feedback!

[2021-03-17 18:34] Fox32 commented on #42530
Just run into this two days ago on `Flutter (Channel stable, 2.0.1, on Linux, locale C.UTF-8)`. Had to rewrite the generated file to use `dart pub` instead.

[2021-03-17 18:48] bkonyi commented on #42530
@Fox32 what generated file are you referring to?

[2021-03-17 19:01] Fox32 commented on #42530
The file inside my `/.pub-cache/bin/` that is generated by `pub global activate` is referencing `pub` not `dart pub`. For example, if I run `dart pub global activate pubviz` it generates a file like this:

[code]

Actually using `pubviz` works because a snapshot is generated and run using `dart` in this case. However note, that the other lines are still using `pub`.

If I install a command from a

[2021-03-17 19:06] bkonyi commented on #42530
Thanks for the details! @jonasfj, can you take a look?

[2021-03-17 19:16] natebosch commented on #45307
https://github.com/dart-lang/pub/blob/0e657414a472e74ca5dd76ae0db50cc060251dec/lib/src/executable.dart#L294-L295

[2021-03-17 19:16] natebosch commented on #45307
This is coming from the pub code.

[2021-03-17 19:18] #45306 closed

[2021-03-17 19:23] vsmenon commented on #45344
Is this request specifically for `dart compile exe`?

[2021-03-17 20:10] gspencergoog commented on #45344
Yes. (and I suppose any other dart compile targets for Windows, if there are any).

[2021-03-17 20:23] incendial commented on #45236
Great, I will remove null checks for those cases then.

Oh, thanks for clarifying that. Am I correct, that if we assume that users of the `analyzer_plugin` are usually tools and used as dev dependencies which means that second statement about VM will not affect package prod build, only dev?

Here is the PR link https://dart-review.googlesource.com/c/sdk/+/191622

[2021-03-17 20:26] bsutton commented on #45347
I'm using dart compile.

I did try to reproduce it in a code snippet but unfortunately I can't
reproduce it on machine.
One of our dev team members reported it.

On Thu, 18 Mar 2021, 2:44 am Siva, ***@***.***> wrote:

[2021-03-17 20:27] vsmenon commented on #45347
@a-siva - it looks like the VM patch for `_getIsolateIDFromSendPort` returns a `String` but the main declaration returns a `String?`:

https://github.com/dart-lang/sdk/search?q=_getIsolateIDFromSendPort

Should they both be `String?` ?

[2021-03-17 20:34] incendial commented on #45236
Should I disable checks for generator by myself? And do I need to update package version in pubspec?

[2021-03-17 20:37] johngithubby opened #45355 "[dart migrate] can't migrate because of flutter_driver"
I'm trying to migrate a flutter app, but I'm getting this when I dart migrate:

`dart pub outdated --mode=null-safety` says everything is fine:

Dart SDK version: 2.12.1 (stable) (Wed Mar 10 10:18:47 2021 +0100) on "macos_x64"

[2021-03-17 22:19] pq commented on #44155
Adding `publish_to: none` (or removing the version info) should do it.

[2021-03-17 23:12] kwalrath commented on #45279
I use _package_, and sometimes clarify that an app is just a kind of package.

[2021-03-17 23:56] franklinyow commented on #44967
Do we know how much work we're doing here?

[2021-03-17 23:58] franklinyow commented on #44961
@matanlurey Is there work we need here?

[2021-03-18 00:15] bkonyi commented on #44135
@sigurdm is this still relevant?

[2021-03-18 00:18] bkonyi commented on #43399
Seems to work at ToT:

[code]

[2021-03-18 00:18] #43399 closed

[2021-03-18 00:21] bkonyi commented on #43892
@pq do we plan on doing this any time soon? This issue should probably have an owner so it doesn't get lost.

[2021-03-18 00:23] pq commented on #43892
It's not planned yet.  I'll self-assign to keep it alive.

[2021-03-18 00:25] bkonyi commented on #44022
This seems to be an issue with the `pub` command parser as there's no option for `--[no-]sound-null-safety` cc/ @jonasfj

[2021-03-18 00:27] bkonyi commented on #44200
cc @natebosch @grouma

[2021-03-18 00:28] bkonyi commented on #45279
Standardizing on 'package' sounds good to me then.

[2021-03-18 00:32] alexlapa commented on #44419
Encountered in CLI app. Its flaky, but running with `--enable-asserts` increases reproducibility.

I think i can make minimal reproducible example if that helps.

[2021-03-18 00:56] goderbauer commented on #35234
I've cleaned up all the occurrences of `// ignore:` in flutter's code base that weren't ignoring anything. However, we still have cases of

[code]

in the code base.

@bwilkerson We still need to wait for that syntax discussed above to be available before we can turn on https://dart-review.googlesource.com/c/sdk/+/168561, right?

[2021-03-18 01:09] goderbauer commented on #35234
Looks like we also need to change our `// ignore: dart_io_import` syntax (and its friends) to something that doesn't clash with this. Maybe something like `// flutter_ignore: dart_io_import`?

@bwilkerson How can I run https://dart-review.googlesource.com/c/sdk/+/168561 over the latest flutter code base to see the places that need updating?

[2021-03-18 01:19] nex3 commented on #45348
This is a pretty rough thing to have to work around—Dart heavily encourages the use of anonymous functions for things like collection manipulation, so added friction passing values in produces a lot of pain.

For what it's worth, (a) here is basically a coincidence—in the actual code in which I'm seeing this issue, there's no way for the analyzer to know that the callback is only called once. But

[2021-03-18 01:21] nex3 commented on #45346
I didn't realize that this *only* occurred when the right-hand side of the expression could be inferred as nullable. In that case, it's easy for me to work around :smiley:.

[2021-03-18 01:53] nex3 opened #45356 "[NNBD] Comparisons with non-nullable values should type promote"
The following code:

[code]

produces this error:

[code]

If one value is successfully compared against another with a non-nullable type, it's guaranteed to be non-nullable itself in the scope of its comparison, so it should be type-promoted.

[2021-03-18 02:10] nex3 opened #45357 "[NNBD] Switch statements should type-promote"
If a nullable variable is used in the `switch()` clause of a `switch` statement, it should be promoted to non-nullable for any clauses in which the matchers are all non-nullable. For example:

[code]

This currently produces the following analysis error:

[code]

[2021-03-18 02:26] Sunbreak opened #45358 "[vm/ffi] Point.fromFunction supports function type static field"
# Background

When interacting with C APIs, we always construct a wrapper Dart class, which accepts some callback. But the compiler complains:

[code]

# Reproduce

[code]

[2021-03-18 03:59] stereotype441 commented on #45355
@jonasfj any idea what might be happening here?  I'm trying to figure out whether this is a bug in the migration tool or in pub.

[2021-03-18 04:04] bwilkerson commented on #35234
I rebased the CL and started the try bots, including the flutter-analyze bot. We should see what's failing when they're finished.

[2021-03-18 04:23] sigmundch commented on #45021
Thanks @ditman for adding such great level of detail!

Closing this issue as working as intended.

[2021-03-18 04:23] #45021 closed

[2021-03-18 04:44] leafpetersen commented on #45346
@stereotype441 This is in fact how inference works in the prototype that @kallentu implemented.  If you run the following code with `--enable-experiment=variance`:
[code]

You get the following output:

[code]

In the runtime checked covariant example (`C2`), inference "pins" the result immediately based on the context type, for the reason you describe.  In the statically checked covariant example

[2021-03-18 04:47] stereotype441 commented on #45346
@leafpetersen awesome, glad to hear it!

[2021-03-18 04:59] leafpetersen commented on #45334
Sorry, @stefantsov I'm not sure I totally parsed which of your examples were problems with tests and which were CFE issues.

[2021-03-18 06:22] malikwang opened #45359 "[analyzer_plugin] SourceEdit.applySequence is flawed"
Simply:
if we want "aaabbbccc"fix to "123"
String code = "aaabbbccc";
code = SourceEdit.applySequence(code,[SourceEdit(0,3,"1",), SourceEdit(3,3,"2",),SourceEdit(6,3,"3",),]);

actually, after apply first edit, the offsets of follow edits are changed.

[2021-03-18 06:26] jeeinn commented on #43916
I also used to connect to the WiFi Router

It took me 2 hours to find one that worked!

https://pub.flutter-io.cn/packages/sync_http

[2021-03-18 07:10] DFelten commented on #44155
As far as I know this is not possible when using a Git repository which is from someone else. Of course we could make a fork and change the pubspec there, but is there also an other solution?

[2021-03-18 07:14] mit-mit commented on #45279
How would that work in something like `dart help create`? If seems a bit odd to say that this command creates a package, and then that you can choose between a template for an app or a package?

[2021-03-18 07:16] nex3 opened #45360 "[NNBD] Type promotion via flow analysis fails in nested loops"
The following code:

[code]

produces this error:

[code]

Despite the fact that `arg` is always provably non-null by the point the `++` happens.

[2021-03-18 07:49] sigurdm commented on #44022
It does have that:
[code]

However `dart test` no longer invokes `pub run`, so the solution has to be different.

Currently we are taking all arguments after `dart test <args>` and passing them straight to the invocation of dart <snapshot> <args>`.

We would probably have to fish out `--no-sound-null-safety` and put it in front of `<snapshot>`:

`dart --no-sound-null-safety <snapshot> <args withou

[2021-03-18 07:50] qcks opened #45361 "[Analyzer] Dart code to AST"
* Analyzer*
I want to use analyzer to convert Dart code to AST, but I can't find the documentation (Google & github). Reading comments from its source code is very obscure.

[2021-03-18 07:57] sigurdm commented on #44200
Perhaps we could do a `--` separation. Any args before `--` goes to the VM, any args after goes to test.

`dart test <argsA> -- <argsB>`

Would then be equivalent to `dart run <argsA> test <argsB>`.

[2021-03-18 08:45] sigurdm commented on #45235
Hmm - it should time out: https://github.com/dart-lang/sdk/blob/master/pkg/dartdev/lib/dartdev.dart#L254 .

I wonder what goes wrong.

@jonasfj any ideas?

[2021-03-18 08:46] athomas commented on #45198
FYI, this is based on the code here:
https://github.com/dart-lang/co19/blob/master/LibTest/ffi/Array/PointerArray_A01_t01.dart

[2021-03-18 08:54] stefantsov commented on #45334
@leafpetersen I think all four are issues with tests, and in the first one in the list a compile-time error is expected in the test, but I believe that it's not an error. Sorry for not being clear.

[2021-03-18 08:55] stefantsov commented on #45334
cc @eernstg

[2021-03-18 09:02] mraleph commented on #45358
This is intentional, similar to how in C++ you can't take `std::function<>` and make a function pointer out of it. There are multiple reasons why this is complicated: a) closures can have captured context and b) we need to generate trampoline that jumps into the given closure.

We could just throw a runtime error and have trampolines generated for all closures without state that are potentially ca

[2021-03-18 09:07] mraleph commented on #43916
@aam this might be the next high profile dart:io issue to tackle (/cc @a-siva)

[2021-03-18 09:13] davidmorgan commented on #45068
FYI we no longer rely on serialized analyzer output in google3--"analyzer as a library" makes it unnecessary--so I will not be following this work ;) thanks.

[2021-03-18 09:21] Sunbreak commented on #45358
Got it. Should we close it or leave as it is?

[2021-03-18 09:30] mraleph commented on #45358
Maybe we should at least change an error message to make it clear _why_ it is an error.

[2021-03-18 09:56] stefantsov commented on #45334
* Also, I think the test `co19/Language/Generics/typedef_A06_t04` should be corrected too. The right-hand side of the typedef there is a regular-bounded type (it's not even an application of a generic type to type arguments), and all parts of it are well-bounded.

[2021-03-18 09:59] dcharkes opened #45362 "MSAN Build failing"
Introduced in https://dart-review.googlesource.com/c/sdk/+/191325/7/runtime/vm/compiler/frontend/scope_builder.cc

[code]

[code]

`current_function_async_marker_` is not initialized.

log: https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8852449134726678208/+/steps/build_dart/0/stdout

cc @alexmarkov @mkustermann

fix: https://dart-review.googlesource.com/c/sdk/+/191882

[2021-03-18 10:27] askeksa-google commented on #45340
Porting everything at once is a big lump of code; we should consider how we can do this somewhat incrementally.

We can at least split it up like this:
1. Add support in the VM kernel parser and in all transformations used in JIT. Flip the flag for JIT.
2. Add support in all AOT-specific transformations. Flip the flag for AOT.
3. Remove support for the old encoding in transformations and VM (can b

[2021-03-18 11:02] maheshkumar2150 opened #45363 "Mac BigSur - Flutter makes Mac OS extremely slow."
There is an issue already posted

https://github.com/Dart-Code/Dart-Code/issues/3005
But It was closed. So I have to post a new bug report.

Everything is good in Mac.

1. I open the terminal.
2. I open the simulator (open -a simulator)
3. I open the code (code .)
4. after I type flutter run

Then the problem starts.
Mac hangs a lot. Becomes very slow.

It was working good with previous version of

[2021-03-18 11:46] cordis-dev opened #58352 "avoid_equals_and_hash_code_on_mutable_classes false positive"
Using **GOOD** sample code from rule documentation https://dart-lang.github.io/linter/lints/avoid_equals_and_hash_code_on_mutable_classes.html:

[code]

and this `analysis_options.yaml` file:
[code]

Linter still reports this as an issue - command `dartanalyzer.bat --verbose test.dart`:
[code]

This can be reproduced on Windows 10 v1909 using any of these Dart SDK versions:
- 2.12.2
- 2.13.0-116.1

[2021-03-18 11:53] DanTup commented on #44200
@sigurdm if there's no `--`, could the args all go to test? I'm thinking of a simple case invoked by a user:

[code]

[2021-03-18 11:55] sigurdm commented on #44200
Yes! - I forgot to make that explicit!

[2021-03-18 12:01] DanTup commented on #45363
Could you post the full output of running:

- `flutter doctor -v`
- `code --status` (run this during the performance issue)

And can you also confirm when you're running `code .` to open Code, are you running this just in the folder for your project, or a large folder? If you're opening something like your home folder in VS Code, that can result in a lot of work for the analysis server.

[2021-03-18 12:27] #45198 closed

[2021-03-18 12:29] sigurdm commented on #44135
No! It was fixed with: https://dart-review.googlesource.com/c/sdk/+/171284 !

[2021-03-18 12:29] #44135 closed

[2021-03-18 12:38] #45362 closed

[2021-03-18 12:47] kuhnroyal commented on #44582
This was merged in https://github.com/dart-lang/sdk/commit/3f5384bd084cdd15a7cc8671f6110e5a25b10080 - will there be a 2.12.x patch release with this?

[2021-03-18 12:49] #45123 closed

[2021-03-18 12:50] MatrixDev commented on #44648
Is this issue still being looked at? I also receive the same errors using Dart 1.12 and Flutter 2.0.2.

Only difference is that list of libraries is smaller:
[code]

[2021-03-18 12:51] srawlins commented on #44803
Please re-open if you get more information.

[2021-03-18 12:51] #44803 closed

[2021-03-18 13:44] vaibhav135 opened #45364 "Problem while fetching dart repo stuck at 'running: gclient sync'"
OS: Ubuntu 20.04LTS
Goal: To build the dart-SDK.
Instructions followed: `https://github.com/dart-lang/sdk/wiki/Building`

Problem:
After executing fetch dart or fetch --nohooks dart. The result is stuck at gclient sync. I've waited for around 5 hours and still showing that the gclient sync is running.
After interrupting it the following message appears:

[code]

Internet speed is fine. So the inte

[2021-03-18 13:55] mraleph commented on #45364
Try running this Git command in isolation `GIT_CURL_VERBOSE=1 GIT_TRANSFER_TRACE=1 GIT_TRACE=1 git -c core.deltaBaseCacheLimit=2g clone --no-checkout --progress https://dart.googlesource.com/sdk.git` and see what happens.

[2021-03-18 13:58] maheshkumar2150 commented on #45363
`[✓] Flutter (Channel stable, 2.0.1, on macOS 11.2.3 20D91 darwin-x64, locale
    en-GB)
    • Flutter version 2.0.1 at /Users/mahesh/DevLibrary/flutter_sdk/flutter
    • Framework revision c5a4b4029c (2 weeks ago), 2021-03-04 09:47:48 -0800
    • Engine revision 40441def69
    • Dart version 2.12.0

[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
    • Android SDK

[2021-03-18 14:09] vaibhav135 commented on #45364
@mraleph It says : "We are completely uploaded and fine"

[2021-03-18 14:14] vaibhav135 commented on #45364
19:32:14.011165 git.c:439               trace: built-in: git clone --no-checkout --progress https://dart.googlesource.com/sdk.git
Cloning into 'sdk'...
19:32:14.014035 run-command.c:663       trace: run_command: git-remote-https origin https://dart.googlesource.com/sdk.git
* Couldn't find host dart.googlesource.com in the .netrc file; using defaults
*   Trying 74.125.68.82:443...
* TCP_NODELAY set

[2021-03-18 14:15] vaibhav135 commented on #45364
It's still doing some stuff. By the way what is the size of the sdk.

[2021-03-18 14:19] mraleph commented on #45364
`sdk/.git` takes around 1G on disk, but that's just SDK repo. Full checkout would take at least 10G.

[2021-03-18 14:20] vaibhav135 commented on #45364
By the now I am stuck at this:
[code]

[2021-03-18 14:22] jakemac53 commented on #44648
@MatrixDev  you are seeing a slightly different issue - it appears that the main wrapper `build_runner` script is running with sound null safety enabled when it shouldn't. That looks like a duplicate of https://github.com/dart-lang/build/issues/3046 to me, I would follow along there. We still haven't been able to gather enough information to understand what is going wrong though.

[2021-03-18 14:22] vaibhav135 commented on #45364
@mraleph  Is there any way that I can build the sdk from the git repo although the build-guide suggests we cannot.

[2021-03-18 14:23] DanTup opened #45365 "Cannot connect to IPv6 loopback in cloud environment"
I'm hitting this error running a Flutter web app in a cloud IDE. The stack trace isn't particularly useful (it's from Flutter, not the original source of the error). It's not clear whether the error is occurring when trying to bind/listen, or connect to a socket. The address appears to be the IPv6 loopback address, though I don't know if that's related - I _have_ seen some IPv6 issues in Dart-Code

[2021-03-18 14:25] eernstg commented on #45334
Taking a look, I can't verify two of the issues, but I agree on the remaining two:

- Agree: `co19/Language/Generics/Superbounded_types/typedef3_A01_t06/02` is not a compile-time error, `B<A<A<A<B<A<dynamic>>>>>>` is super-bounded.
- Can't verify the problem with `co19/LanguageFeatures/Instantiate-to-bound/nonfunction_typedef/static/nonfunction_l1_t03`, it has no failures according to https://dart

[2021-03-18 14:26] mraleph commented on #45364
Looking around indicates that there might be some problem with CURL handling of HTTP/2 connections. Try the following:

[code]

Then run `fetch dart` again it should work.

[2021-03-18 14:30] vaibhav135 commented on #45364
Ohh It seems like working Thanks. Once it completes I will inform you
Thank you so much.

[2021-03-18 14:31] DanTup commented on #45363
@maheshkumar2150 can you also include the output of running `code --status` while the performance issues are occurring?

[2021-03-18 14:38] maheshkumar2150 commented on #45363
Okay

I was using android studio, android emulator, code and terminal along with safari.
There is no lag. Mac was doing good.

Now I closed android studio and emulator and opened apple simulator
There is no problem with the performance.

I just hit the flutter run in terminal.

Version:          Code 1.54.3 (2b9aebd5354a3629c3aba0a5f5df49f43d6689f8, 2021-03-15T11:57:12.728Z)
OS Version:       Darw

[2021-03-18 14:38] bwilkerson commented on #45359
The documentation isn't clear enough, but the reason it specifies that the edits are applied in order is to let you know that the list is expected to be sorted with the largest offset first. We do specify the sorting requirement in the protocol spec (at least for the analysis server) so that clients will know to sort the edits before applying them. We just failed to make that clear in the docs for

[2021-03-18 14:39] #45364 closed

[2021-03-18 14:44] bwilkerson commented on #45361
You can find the documentation for the package in the `doc` directory, as is typical for most packages, specifically under `tutorial` (https://github.com/dart-lang/sdk/tree/master/pkg/analyzer/doc/tutorial).

If you have additional questions you can either open an issue or use the mailing list at https://groups.google.com/a/dartlang.org/g/analyzer-discuss.

[2021-03-18 14:44] #45361 closed

[2021-03-18 14:49] srawlins commented on #44418
An analyzer version has since been published.

[2021-03-18 14:49] #44418 closed

[2021-03-18 14:52] DanTup commented on #45363
@maheshkumar2150 to be clear - VS Code and Android Studio were _not_ open when you reproduced it above?

Does it only occur when running on the iOS Simulator? Can you check Activity Monitor and see how much CPU is being used by what processes and how much memory is used while it's happening?

[2021-03-18 15:03] pq commented on #44155
Sorry, I meant in _your_ package.  It can't be published w/ git dependencies can it?  (Sorry if I'm remembering wrong.)

[2021-03-18 15:11] vaibhav135 commented on #45364
@mraleph Now I am getting this error message:

[code]

[2021-03-18 15:13] mraleph commented on #45364
You need `python` or more specifically python 2. See https://github.com/dart-lang/sdk/wiki/Building#python-2

[2021-03-18 15:14] vaibhav135 commented on #45364
But I am actually running this is in python 2 venv

[2021-03-18 15:19] vaibhav135 commented on #45364
This is the result of python --version

[code]

[2021-03-18 15:23] VyMajoris commented on #44321
Nope.
![image](https://user-images.githubusercontent.com/4342296/111651040-a5ddc580-87e4-11eb-878d-ba45a883d3ed.png)

[2021-03-18 15:28] mraleph commented on #45364
I wonder if you have something in your `~/.bashrc` that breaks out of `venv`. What happens if you do

[code]

[2021-03-18 15:31] vaibhav135 commented on #45364
No worries worked after executing :
`sudo apt install python-minimal` seems like I didn't have python-minimal (= 2.7.11-1) and libpython-stdlib (= 2.7.11-1) which was necessary I guess

[2021-03-18 15:44] dcharkes commented on #45314
@Sunbreak it is unclear to me what you are suggesting.

`dart:ffi` does not compile any C code, it calls into it. Compiler intrinsics are inlined in C code somewhere. If you'd want to invoke such an intrinsic from Dart via `dart:ffi` you would need to create a C wrapper function which executes the intrinsic and call that from Dart. There's nothing to do on the `dart:ffi` side.

[2021-03-18 15:47] #45314 closed

[2021-03-18 15:57] #45020 closed

[2021-03-18 15:57] #44879 closed

[2021-03-18 15:58] srawlins commented on #45090
CC @scheglov

[2021-03-18 15:58] goderbauer commented on #35234
Looks like my clean-up PRs didn't actually get submitted due to some problems in google3. I'll look into that and will ping you once it is resolved to restart the bot... Sorry about that.

[2021-03-18 16:01] jcollins-g commented on #44922
This work is just starting.

[2021-03-18 16:08] srawlins commented on #43847
I suspect something thinks this is a null safe library, and something else thinks this is not a null safe library. So the parameters of [LinearGradient](https://api.flutter.dev/flutter/painting/LinearGradient/LinearGradient.html) are being read as

* `begin` (with type `AlignmentGeometry`)
* `end` (with type `AlignmentGeometry`)
* `List` (with type `required`)

[2021-03-18 16:08] #43669 closed

[2021-03-18 16:08] #43761 closed

[2021-03-18 16:14] Sunbreak commented on #45314
Got it. I'll try to wrap it somehow

[2021-03-18 16:26] bwilkerson commented on #35234
No problem. It's easy to click a button. :-)

[2021-03-18 16:37] bkonyi commented on #44022
@sigurdm ah right, I forgot that's how things are implemented now... `dart test` doesn't seem to provide any special handling for arguments at all:

[code]

I'll look into updating the command to support the null safety flag and experiments.

[2021-03-18 16:52] maheshkumar2150 commented on #45363
VS Code and Android Studio were open sir.
Today only I tried android studio and android emulator with VS Code.

I am facing this problem mostly or only with iso simulator
I will share the picture which I took yesterday during the performance issue.

[2021-03-18 16:54] maheshkumar2150 commented on #45363
[https://discussions.apple.com/content/attachment/1a12d752-291c-439b-afe7-e80811430bbc](url)

[2021-03-18 16:56] stereotype441 commented on #44904
@devoncarew it looks like only the behavior of `dart analyze` was changed; for the `dartanalyzer` tool, it is still necessary to supply `--verbose` to see "why not promoted" information.

Can we get both tools changed?  It sounds like there's still at least several months before the `dartanalyzer` tool will be removed, and I'd like to try to ship "why not promoted" functionality before that.

[2021-03-18 16:57] natebosch commented on #45366
Updated the title to reflect the root cause:

The `defaultHeaderOptions` has a `X-CONTENT-TYPE-OPTIONS` value of `nosniff` which causes some browser to be strict about MIME types.

The default mime type from `package:mime` for `.js` files is `application/javascript`. Either the script tags need to match this mime type, or the header needs to be manually removed for the server instance.

I don't th

[2021-03-18 16:57] #45366 closed

[2021-03-18 16:59] maheshkumar2150 commented on #45363
`Version:          Code 1.54.3 (2b9aebd5354a3629c3aba0a5f5df49f43d6689f8, 2021-03-15T11:57:12.728Z)
OS Version:       Darwin x64 20.3.0
CPUs:             Intel(R) Core(TM) i5-5350U CPU @ 1.80GHz (4 x 1800)
Memory (System):  8.00GB (0.49GB free)
Load (avg):       8, 9, 7
VM:               0%
Screen Reader:    no
Process Argv:     . --crash-reporter-id f0e784de-c0b6-466b-a5e8-864f29c4d637
GPU Status

[2021-03-18 17:13] DanTup commented on #45363
@maheshkumar2150 if you create a new sample flutter app with `flutter create` and run that instead, do you see the same problem? Or does it only occur in one specific project?

[2021-03-18 17:41] alexmarkov commented on #45340
Currently we cannot set front-end `Target` flags depending on the JIT/AOT mode, because we support 2-step kernel generation, where the first step is the front-end generating a kernel which could be used both in JIT and AOT. So distinguishing JIT from AOT and wiring this up is rather complex. It's much easier to do 1 and 2 in one step. Supporting incremental migration with a separate transformation

[2021-03-18 17:48] maheshkumar2150 commented on #45363
Just tested with empty newly created app. Same problem

[2021-03-18 17:49] maheshkumar2150 commented on #45363
If I press ctrl + c, it becomes normal.
If I close the simulator, it becomes normal

[2021-03-18 17:53] #45290 closed

[2021-03-18 18:09] jonahwilliams opened #45367 "vm_snapshot_analysis package is preventing flutter from upgrading test deps."
package:vm_snapshot_analysis needs to be updated with the latest versions of several packages (specifically args) since there have been some major releases since it was last published. This is currently one of the packages constraining the Flutter SDK

https://github.com/flutter/flutter/issues/77856

I tried to update the deps myself, but I noticed beforehand that many of the tests were already fa

[2021-03-18 18:53] kwalrath commented on #45279
I'd usually say something like "library package" or "any other type of package, such as a library package". Or even "non-app package".

[2021-03-18 19:14] stereotype441 commented on #45360
Yes, this is a known limitation of flow analysis.  We deliberately decided to make the algorithm work in a single pass through the source code (with limited look-ahead to find writes inside loops) rather than iterate to a fixed point.  So when flow analysis reaches the top of the first `while` loop, it sees that the loop contains a write to `arg`, but it doesn't yet know the type of the value writ

[2021-03-18 19:15] #45297 closed

[2021-03-18 19:27] matanlurey commented on #44961
We don't track internal issues on GitHub, sorry.

[2021-03-18 19:30] matanlurey commented on #44961
Un-assigning as I'm going OOO for quite some time and I don't think there is anything actionable here for us.

[2021-03-18 19:55] scheglov commented on #45090
Hm... Is there a way to add tags post-factum?
I added them locally, but don't know how to share into the repo.
[code]

I also created a CL with these tags.
https://dart-review.googlesource.com/c/sdk/+/191987
But it does not look that there is any content in this CL.

[2021-03-18 19:59] jonahwilliams commented on #45367
oh, turns out I was on a bad revision. I'll open a PR

[2021-03-18 20:14] franklinyow commented on #44958
@keertip any updates?  Thx

[2021-03-18 20:23] nex3 commented on #45360
For better or for worse, NNBD makes flow analysis a really substantial part of the developer experience of the language. In order to write correct code, developers now need to have a mental model of how the analyzer will track nullability. Roughly speaking, the intuitive model is:

* Once a variable is unconditionally assigned to a non-nullable type (or assigned in both branches of an `if` block e

[2021-03-18 20:43] #44961 closed

[2021-03-18 20:47] fisforfaheem commented on #38739
Thanks for the feedback.

On Tue, Mar 16, 2021 at 1:26 AM Brian Wilkerson ***@***.***>
wrote:

[2021-03-18 21:18] jonahwilliams opened #45368 "native_stack_traces package is preventing flutter from upgrading test deps"
package:native_stack_traces needs to be updated with the latest versions of several packages (specifically args) since there have been some major releases since it was last published. This is currently one of the packages constraining the Flutter SDK

flutter/flutter#77856

[2021-03-18 21:20] jonahwilliams commented on #45368
ahh, this has been updated but something else is holding us back...

[2021-03-18 21:20] #45368 closed

[2021-03-18 21:43] nstrelow opened #45369 "Migration tool exception when code contains an unreferenced part file"
Migration branch: https://github.com/parse-community/Parse-SDK-Flutter/pull/579

I have annotated a lot and now clicking migrate it just crashes. Restarted multiple times. Tried on MacOs and Windows.
Tried 2.12.2 (newest stable) and dev on Mac.

Could not apply migration

Error: NoSuchMethodError: The method 'hadDiskContent' was called on null.
Receiver: null
Tried calling: hadDiskContent("part of

[2021-03-18 23:17] kenzieschmoll commented on #45367
published 0.6.0

[2021-03-18 23:17] #45367 closed

[2021-03-18 23:25] franklinyow commented on #44914
#44930 is closed.

[2021-03-18 23:40] pq opened #58354 "consider nonfunction type alias support in `avoid_private_typedef_functions`"
As per the discussion in https://github.com/dart-lang/linter/pull/2534, it's not obvious whether `avoid_private_typedef_functions` should be expanded to support nonfunction type aliases.

Specifically cases like:

[code]

/cc @davidmorgan @hixie @goderbauer

[2021-03-19 00:13] blagoev opened #45370 "Dart VM tries to load native extensions with an incorrect path on Windows"
Dart VM tries to load native extensions with an incorrect path on Windows

* Dart VM
* Dart SDK Version (`dart --version`)
Dart SDK version: 2.12.0 (stable) (Thu Feb 25 19:50:53 2021 +0100) on "windows_x64"
* Whether you are using Windows, MacOSX, or Linux (if applicable)
Windows

Here are the repro steps:
* Locate this directory on the local path https://github.com/dart-lang/sdk/tree/master/sampl

[2021-03-19 00:24] goderbauer opened #45371 "strict-inference doesn't complain about example given in its doc"
According to [1] the following should report an inference failure when `strict-inference` is turned on:

[code]

However, in an example project with the analysis_options.yaml file posted below no infernece issue is reported on Dart 2.13.0 (build 2.13.0-143.0.dev). (The only issue reported is an unused variable `a`.)

[code]

[1] https://github.com/dart-lang/language/blob/master/resources/type-syst

[2021-03-19 00:31] goderbauer commented on #45371
This example given in the same doc also behaves differently then documented (differences noted in all-caps):

[code]

[2021-03-19 00:52] goderbauer opened #45372 "strict-raw-types doesn't warn if bound is not dynamic"
From the docs in [1] I expected the following code to produce two `strict_raw_type` hints. Only one is produced (see comments).

[code]

/cc @srawlins

[1] https://github.com/dart-lang/language/blob/master/resources/type-system/strict-raw-types.md

[2021-03-19 00:55] scheglov commented on #44838
@leafpetersen @eernstg  Are we allowed to combine generic metadata and generic functions as type arguments? Is this valid code?
[code]
Or with inference?
[code]

[2021-03-19 01:46] liudonghua123 opened #45373 "Provide an icon config when compile exe"
Thank you for taking the time to file an issue!

* Dart SDK Version (`dart --version`) Dart SDK version: 2.12.1 (stable) (Wed Mar 10 10:18:47 2021 +0100) on "windows_x64"
* Whether you are using Windows, MacOSX, or Linux (if applicable) Windows
* Whether you are using Chrome, Safari, Firefox, Edge (if applicable)

I want to add an icon to a dart console app, but I tried using `rcedit`, `resourceha

[2021-03-19 01:47] nshahan opened #45374 "Failures on [tests] Remove triple shift test skips from status files"
There are new test failures on [[tests] Remove triple shift test skips from status files](https://dart-review.googlesource.com/c/sdk/+/191482).

The test
[code]
is failing on configurations
[code]

cc @scheglov

[2021-03-19 01:48] nshahan opened #45375 "Failures on [tests] Remove triple shift test skips from status files"
There are new test failures on [[tests] Remove triple shift test skips from status files](https://dart-review.googlesource.com/c/sdk/+/191482).

The test
[code]
are failing on configurations
[code]

cc @alexmarkov

[2021-03-19 01:50] nshahan opened #45376 "Failures on [tests] Remove triple shift test skips from status files"
There are new test failures on [[tests] Remove triple shift test skips from status files](https://dart-review.googlesource.com/c/sdk/+/191482).

The test
[code]
is failing on configurations
[code]

cc @rakudrama

[2021-03-19 01:52] nshahan opened #45377 "Failures on [tests] Remove triple shift test skips from status files"
There are new test failures on [[tests] Remove triple shift test skips from status files](https://dart-review.googlesource.com/c/sdk/+/191482).

The test
[code]
are failing on configurations
[code]

[2021-03-19 02:07] annagrin commented on #44760
Update: This is taking some time to figure out correct solution that works for all our scenarios, will keep updating the thread.

[2021-03-19 02:19] qcks commented on #45361
thanks

[2021-03-19 02:21] alexmarkov commented on #45375
This test has incorrect expectations:

[code]

[code]

[2021-03-19 02:42] modulovalue opened #45378 "Ability to check at runtime if JIT or AOT"
I would like to have benchmarks that know whether they are running JIT or AOT without having to pass in any environment variables.

Are there perhaps any workarounds to simulate such a flag?

[2021-03-19 05:03] vaibhav135 opened #45379 "Getting to know about dart-sdk (for begginer)"
Hi,
I have recently build the dart-sdk and now I want to contribute to it but now I am totally confused, I have seen the Contributing.MD and also the issues but  I am confused with the directories as to where should I make the code changes. By the way, my motive here is to participate in GSoC 2021 with dart if possible.
I have run some tests but all of them failed but up till now and I have no ide

[2021-03-19 06:03] aam commented on #43916
https://dart-review.googlesource.com/c/sdk/+/192120 with proposed fix

[2021-03-19 06:56] Enigma04 commented on #45379
I am having the same issue so if anyone can solve this doubt for us then it will be great! Though GSoC isn't the only goal I have to be honest. I am aiming to continue to support since I work on flutter for developing my apps so.

[2021-03-19 07:28] abdosaidbassuony opened #45380 "No published analyzer available for language version 2.12.0"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
* Dart websi

[2021-03-19 07:34] lgLindstrom commented on #41845
I'm unable to see if there is a solution or patch to solve this issue ??

[2021-03-19 08:41] sigurdm commented on #44022
Perhaps we should do like I suggested in: https://github.com/dart-lang/sdk/issues/44200: make a separation between the arguments to the VM and the arguments to test.

[2021-03-19 09:39] eernstg commented on #44838
I see no reason to make that combination an error, whether inferred or written explicitly.

[2021-03-19 10:08] mkustermann opened #45381 "Failing co19 ffi tests"
The following tests are failing:
[code]

Assigned @dcharkes to triage whether the tests are wrong or the FFI implementation.

[2021-03-19 10:36] mit-mit commented on #41845
@athomas

[2021-03-19 10:41] athomas commented on #41845
https://dart-review.googlesource.com/c/sdk/+/191922

[2021-03-19 10:53] mit-mit commented on #45279
That seems very inconsistent with:
[code]

Other related art, which also uses the "project" terminology
  * https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new
  * https://github.com/expo/create-react-native-app
  * https://cli.vuejs.org/guide/creating-a-project.html

And a counter example:
   * https://github.com/apple/swift-package-manager/blob/main/Documentation/Usage.md#creating-a-pa

[2021-03-19 11:10] mraleph commented on #45379
I think the best is to use GSoC specific mailing list (https://groups.google.com/g/dart-gsoc). @jonasfj @dcharkes might suggest other possible approaches.

There is no document that describes SDK source tree structure. Different parts of the SDK use different workflows, etc. You need to work with the respective mentor to figure out where to start, e.g. if your project concerns `pubspec.yaml` forma

[2021-03-19 11:10] #45379 closed

[2021-03-19 11:13] mit-mit commented on #45342
cc @dcharkes if he know about this

[2021-03-19 11:41] PlugFox commented on #40919
Works great and solves all problems! Thank you very much!

[2021-03-19 11:44] dcharkes commented on #45342
Currently, `dart:ffi` does not support callbacks on an arbitrary thread (https://github.com/dart-lang/sdk/issues/37022), which you would use to get a callback from C when it completes, nor asynchronous calls (https://github.com/dart-lang/sdk/issues/35766), which you would use to do a blocking C call for the result but let Dart code execute in the mean time.

With reading the API docs, the thing th

[2021-03-19 11:48] frostant opened #45382 "DeadLock!!"
https://github.com/dart-lang/sdk/blob/master/runtime/bin/ffi_test/ffi_test_functions_vmspecific.cc

`intptr_t MyCallbackBlocking(intptr_t a) {
  std::mutex mutex;
  std::unique_lock<std::mutex> lock(mutex);
  intptr_t result;
  auto callback = my_callback_blocking_fp_;  // Define storage duration.
  std::condition_variable cv;
  bool notified = false;
  const Work work = [a, &result, callback, &cv

[2021-03-19 11:53] #28981 closed

[2021-03-19 12:00] mkustermann opened #45383 "Failures in compressed pointers mode."
There are new test failures on [[vm, compiler] Convert binary Smi ops to graph intrinsics....Update the server protocol to support passing back the line and column numbers for the end of a range](https://github.com/dart-lang/sdk/compare/d00ef8611a79b44f18f854bb4e73b35bee1176f3~...051ec30ff04d98064305e94118f612d9a5c113b1).

The tests
[code]
are failing on configurations
[code]

There are new test f

[2021-03-19 12:02] mkustermann opened #45384 "Failures on [tests] Remove triple shift test skips from status files...Fix for accessing CompilationUnitElement.mixins without types."
There are new test failures on [[tests] Remove triple shift test skips from status files...Fix for accessing CompilationUnitElement.mixins without types.](https://github.com/dart-lang/sdk/compare/8fd3962363348036f230e30f02ea6314e49d1f7a~...453b06d222fc405508ee11b98ea43d039a5ce1ea).

The tests
[code]
are failing on configurations
[code]

This hits an `UNREACHABLE()` in the VM and seems to be relate