[2019-05-29 14:34] NicolasDionB commented on #37112
More details with this bug report, it happens when I define the "actionsIconTheme" property on AppBarTheme. Same if I define it on the AppBar widget directly.

[2019-05-29 14:51] #37074 closed

[2019-05-29 15:15] stereotype441 commented on #36797
@pq is this likely to be completed for D24?  If not, let's change the milestone.

[2019-05-29 15:16] stereotype441 commented on #36733
@scheglov are the remaining issues likely to be addressed in D24?  If not let's change the milestone.

[2019-05-29 15:21] stereotype441 commented on #36724
@alorenzen Is this likely to be addressed by D24?  If not we should change the milestone.

[2019-05-29 15:22] stereotype441 commented on #36268
@keertip is there any more work required, or can we close this issue?

[2019-05-29 15:28] #35569 closed

[2019-05-29 15:28] #35566 closed

[2019-05-29 15:31] vsmenon opened #37113 "DDC's analyzer2kernel convert appears to break on (some?) enums"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dartfix
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
*

[2019-05-29 15:35] srawlins commented on #34483
I think this is being followed up on at https://github.com/dart-lang/language/issues/80 and https://github.com/dart-lang/language/issues/81

[2019-05-29 15:35] dcharkes commented on #35840
To align the struct and non struct api's and to support struct by value (https://github.com/dart-lang/sdk/issues/36730), we have settled on the following:

[code]
And uses will look like the following

[code]

We're still debating whether in some cases we do want to load the whole struct.

In any case, we have settled on the api and syntax, so I'm closing this issue.

[2019-05-29 15:35] #35840 closed

[2019-05-29 15:35] srawlins commented on #32407
CC @pq move to linter?

[2019-05-29 15:36] keertip commented on #36268
It's done, can close.

[2019-05-29 15:36] #36268 closed

[2019-05-29 15:56] rostopira opened #37114 "Dart Analyzer error on two vars in one string"
Sample code to reproduce:
[code]
Error appears when you type second `$` character

Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.7141.44`
- `2.3.2-edge.e3edfd36b2aa7ff4e98fe541ef5666ef2e70d17e`
- `IU-191.7141.44, JRE 1.8.0_202-release-1483-b49x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.3, screens 1920x1080, 1600x900  Retina`

## Exception
[code]

[2019-05-29 15:59] pq commented on #36797
Landed yesterday . w/ https://github.com/dart-lang/sdk/commit/fc17a90bedb88dca7f1ce2a2d6c64aee6bf3fd7d . 🎉

Just forgot to close out.  Thanks for the nudge!

[2019-05-29 15:59] #36797 closed

[2019-05-29 16:01] pq commented on #32407
/move to dart-lang/linter

[2019-05-29 16:01] ghost opened #57970 "cascade_invocations is too eager when type promotion is necessary"
*@Hixie commented on Mar 4, 2018, 10:53 AM UTC:*

Enable the cascade_invocations lint, then analyze this:

[code]

It says: `lint • Cascade consecutive method invocations on the same reference at test.dart:7:5 • cascade_invocations`

However, if you change it as suggested:

[code]

...then now the code is no longer correct (`error • The method 'foo' isn't defined for the class 'A' at test.dart:7:9

[2019-05-29 16:01] #32407 closed

[2019-05-29 16:12] scheglov commented on #36733
I moved it from D24 to Future.

[2019-05-29 16:18] Markzipan commented on #37113
I haven't looked at the converter, but yes, I'll take a look if we do decide to explore this path again.

[2019-05-29 16:20] aam opened #37115 "redundant assert causing --dart-debug flutter build failure"
[code]

[2019-05-29 16:31] sortie commented on #35705
Hi Greg. I'm hoping to do some work on this issue this quarter so flutter for web is better supported. I'm writing up a plan and will be sharing it.

[2019-05-29 16:54] stereotype441 commented on #34179
I just spoke with @jakemac53 about this.  There's a number of interacting issues:
- Internally, we only build one summary for each build target, even if it supports multiple configurations.  This is a problem, because summaries store constant values, inferred types, and the targets of exports, and they can be different from one configuration to the next.
- Both internally and externally, we only b

[2019-05-29 17:01] natebosch commented on #37071
@jakemac53 - do we need this enabled for the SDK or can we get by without that?

[2019-05-29 17:02] jakemac53 commented on #37071
I think we probably need it, otherwise nobody will be able to see any static methods or fields on SDK objects in the debugger.

[2019-05-29 17:15] #35553 closed

[2019-05-29 17:18] jakemac53 commented on #37071
Nevermind, we talking offline and I am now convinced it is just not worth the code size hit to provide this info.

[2019-05-29 17:27] alorenzen commented on #36724
We already published 6.0.0-alpha, which includes the analyzer ^0.36.2 constraint: https://pub.dev/packages/angular/versions/6.0.0-alpha#-analysis-tab-

Was there more that needed to be done here?

[2019-05-29 17:30] fabiocarneiro commented on #33383
Thanks for the patience, and I need to say that I love this discussion.

In the Dart context, Private means something else, but for me and others, when we request this feature, we always say class private.

Java package-private is also probably not the best name for this concept of visibility within a library. The absence of the modifier is what declares Package-private in java, and if you compare

[2019-05-29 17:46] rmacnak-google commented on #37107
The service protocol specification is not an IDL, and we do not support using to generate a client library.

The service implementation is free to include extra fields in responses that are not required by the spec. Such fields may be removed without notice.

[2019-05-29 17:46] #37107 closed

[2019-05-29 17:50] eernstg commented on #33383
Thanks!

Tomorrow is a holiday here, so I'll just add a short remark and then go home ;-)

A `private` modifier could be implemented as a name mangling scheme which makes it impossible to call a private method `foo` outside the class `C` that declares it, even dynamically.

The tricky part is that this would make it hard to deal with `(e as dynamic).foo()` _inside_ `C`: It might be intended to cal

[2019-05-29 17:52] #37115 closed

[2019-05-29 18:18] devoncarew commented on #37107
Ryan, Ben had asked me to open this issue in order to track extra `fixedId` fields I'd seen.

Our important, customer facing tools (the Dart IntelliJ plugin, the Flutter IntelliJ plugin, and DevTools) are built on libraries that use the service protocol doc this way - as a parsable doc. We need those tools to continue to work, and to be able to consume an evolving service protocol API. If for some

[2019-05-29 18:34] MichaelRFairhurst opened #37116 "Private methods/members which are only referenced by a comment are not flagged as unused"
Repro:

[code]

Expect: "_foo is not used"
Actual: no errors or warnings.

[2019-05-29 19:30] vsmenon commented on #37114
@danrubel - should this be marked front-end or analyzer?

[2019-05-29 20:32] natebosch commented on #37071
`--emit-metadata` makes the SDK ~24% bigger so it's probably not something we'd want to turn on there...

[2019-05-29 20:33] natebosch commented on #37071
We'll avoid this for now and wait for a motivating use case to come up.

[2019-05-29 20:33] #37071 closed

[2019-05-29 21:03] parlough commented on #37106
It seems they are working as intended and that is with if and else statements ending in semicolons to avoid confusion on which lines will execute. You can see their intentions here:

https://github.com/dart-lang/linter/blob/master/lib/src/rules/empty_statements.dart#L21
https://github.com/dart-lang/linter/blob/master/lib/src/rules/avoid_empty_else.dart#L17

Possibly these can be expanded to your s

[2019-05-29 22:17] sigmundch opened #37117 "kernel_sdk.dart is hiding errors"
The script kernel_sdk.dart used to build the DDC platform dill file is not failing when the CFE reports errors.

We should:
 * fix the current errors (one regarding patch files was just fixed by @vsmenon)
 * ensure the script exits with an error code if errors were found
 * eventually split the script, so we build the .dill file using the same scripts that we used for all other targets (compile_pl

[2019-05-29 22:37] sigmundch commented on #36944
The CL has now landed, you can run the test directly via:
[code]

[2019-05-29 23:02] vsmenon commented on #36165
@nshahan - what's the status on this?  We may want to file a separate bug to better record function names.  Is there anything more here that's reasonable for D24?

[2019-05-29 23:03] vsmenon commented on #36912
@kmillikin 's pending CL appears to fix this:

https://dart-review.googlesource.com/c/sdk/+/103680

[2019-05-29 23:10] nshahan commented on #36165
I'm looking at what it would require to tag a name for all dynamic calls right now. I'll close this issue and open one for getting the names in the failure messages. If I make progress on it then it might make it in before D24 but it's not blocking.

[2019-05-29 23:10] #36165 closed

[2019-05-29 23:13] nshahan opened #37118 "Add names of functions to NSM errors when making dynamic calls"
To provide additional support when debugging these errors it would be helpful to know the name of what was attempted to be called. See #36165.

[2019-05-29 23:19] leafpetersen commented on #35097
There should be no bad builds to be marked for flutter from the period in which this had landed in the CFE and not the analyzer.  The last roll of the engine that I see is https://github.com/flutter/flutter/commit/2f6a986675981c2d124f4bf0df4de4d422f7fc3a, which includes commits  `0308a1c4a Roll src/third_party/dart fde6a5917e..e3edfd36b2 (14 commits)` .  That commit range does not include either i

[2019-05-30 07:52] kmillikin commented on #36944
1df5fb3d5797a44aa64770bace1573484486d7f4 seems to fix the issue with JS interop in DDC.

I'm going to leave this issue open because we are still missing some outline annotations (typedefs, imports, and perhaps others) that we might want.  Otherwise I'm deprioritizing the issue and removing it as a D24 blocker.

[2019-05-30 09:13] mraleph commented on #36944
I reverted the change (1df5fb3d5797a44aa64770bace1573484486d7f4) due to regressions in Flutter benchmarks it introduced.

[2019-05-30 09:18] Zazo032 opened #37119 "Tried to initialize from a previous compilation but the file was not self-contained"
When running tests, this message appeared (tests passed ok):

[code]

The file is here: https://drive.google.com/file/d/1pde_Qzzv8-MekpsvVjAQtcD4buAs1lYe/view?usp=sharing

* Dart SDK Version (`dart --version`)
* Whether you are using Windows, MacOSX, or Linux (if applicable)
`Dart VM version: 2.3.0 (Fri May 3 10:32:31 2019 +0200) on "macos_x64"`

[2019-05-30 09:40] farazahmad56 opened #37120 "Updated flutter but app is not lanching on android."
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dartfix
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
*

[2019-05-30 09:42] mraleph commented on #37120
Please file flutter issues at https://github.com/flutter/flutter.

Make sure to provide detailed description, otherwise it is impossible to help you.

[2019-05-30 09:42] #37120 closed

[2019-05-30 09:44] nex3 commented on #28617
@mit-mit has told me offline that "getting to full cross-compilation is going to be a long journey", but "the journey has already started; we just don't have a timeline for when it will end".

[2019-05-30 13:08] alexander-doroshko opened #37121 "AnalysisServer's 'Move File' refactoring doesn't update URIs in part-files"
Create `foo.dart` file
[code]
and `foo_part.dart` file next to it:
[code]
Move `foo.dart` file to a subfolder, update files content using Analysis Server `"MOVE_FILE"` refactoring (supported in IntelliJ IDEA 2019.2 but not yet in publicly available releases).
- URI in the `foo.dart` file is correctly updated -- that's ok.
- Problem: URI in the `foo_part.dart` file is NOT updated.

[2019-05-30 13:21] bwilkerson commented on #37121
@jwren

[2019-05-30 15:04] vsmenon opened #37122 "Type inference on call methods appears broken"
The analyzer is inferring the static type of `y` as `List<dynamic>`.  Kernel infers `List<String>`.  DDC prints the former in analyzer mode and latter in kernel mode.

[code]

[2019-05-30 15:58] dgrove commented on #36912
Note that fix for #36944 had to be reverted due to impact on Flutter benchmarks.

[2019-05-30 16:10] stereotype441 commented on #36724
That sounds sufficient, thanks!

[2019-05-30 16:10] #36724 closed

[2019-05-30 16:11] stereotype441 commented on #35080
Closing since the only remaining work is covered under #36296

[2019-05-30 16:11] #35080 closed

[2019-05-30 16:14] yjbanov commented on #34179
@stereotype441

There's no Web support in the Flutter SDK yet, so we won't be breaking anyone by adopting something new that works.

[2019-05-30 16:19] aam commented on #36951
Any updates on this? Lack of flutter hhh-mac bit us again with dart roll https://chromium.googlesource.com/external/github.com/flutter/engine/+/ae14c5a2403ffd60b541035b1ef1a82d33321b43 breaking flutter engine https://ci.chromium.org/p/flutter/g/engine/console

[2019-05-30 16:31] jakemac53 commented on #36944
Do we need to make this a configurable option or something for now?

[2019-05-30 16:39] vsmenon commented on #36771
@natebosch - do you have an update on this one?

[2019-05-30 16:40] stereotype441 commented on #36296
We need to update this warning to refer to version 2.3.2.

[2019-05-30 16:45] natebosch commented on #36771
No updates yet - will take a look today.

[2019-05-30 16:46] aadilmaan commented on #36912
Considering this as a closed/dupe of https://github.com/dart-lang/sdk/issues/36944.

[2019-05-30 16:46] #36912 closed

[2019-05-30 17:05] bwilkerson commented on #36296
Should this include the `>>>` operator?

[2019-05-30 17:21] stereotype441 commented on #36296
No, `>>>` is slated for a future release.

Thanks for taking this on, Brian!

[2019-05-30 18:07] lrhn commented on #37105
I'd recommend just using `Closure` as the `toString`, and omitting the type entirely. If the user needs the type, they can print `closure.runtimeType`. Development builds could include source file/line/offset of the function declaration, for easier debugging, but having a different `toString` between development and production is a good way to get subtle bugs, so I'd prefer if it's only the debugg

[2019-05-30 18:09] Hixie commented on #35718
Another use case that's becoming more and more of an issue is developing packages and plugins that need to target multiple versions of Flutter or Dart. For example, we have a policy that our plugins must be compatible with the latest stable release, but we develop against master. This means that when we make a breaking change on master, we have a lot of difficulty. It would be much easier if we co

[2019-05-30 18:25] bwilkerson commented on #36296
https://dart-review.googlesource.com/c/sdk/+/104260

[2019-05-30 18:58] danrubel commented on #37111
The current implementation treats `?.` as a single token meaning that
[code]
Should we do the same for `!.` so that it's consistent?

[2019-05-30 19:26] bwilkerson commented on #37111
No. The '!' operator is a postfix operator, and doesn't need to be followed by a period:
[code]
The expression `x!.y` is equivalent to `x! . y` or even `(x!).y`.

[2019-05-30 20:54] nshahan opened #37123 "DDC supertype covariant parameter cast logic needs revisiting"
I recently noticed the logic in lib/src/analyzer/code_generator.dart within `_emitSuperclassCovarianceChecks()` is flawed. There are two branches that appear to be false always because the equality check is between different types.
* https://github.com/dart-lang/sdk/blob/d51d41b1095a918f76f0d88c6c72fa6e349dd588/pkg/dev_compiler/lib/src/analyzer/code_generator.dart#L1551
* https://github.com/dart-l

[2019-05-30 20:55] duncanmak opened #37124 "Article on convertors and codecs missing"
https://dart.dev/articles/libraries/converters-and-codecs is current a dead page.

Maybe it should be resurrected.

Currently, there's a cache of the page (with the old page layout) here: http://web.archive.org/web/20190402212224/https://www.dartlang.org/articles/libraries/converters-and-codecs#how-to-write-efficient-conversions.

cc @sortie, he asked me to file an issue on IRC.

[2019-05-30 20:56] matanlurey opened #37125 "No static error when iterating over a generic type, T."
[code]

I'd expect the same or similar error in both cases.

/cc @leafpetersen

[2019-05-30 21:34] srawlins opened #57971 "Lint request: avoid dynamic dispatch"
Dynamic dispatch has several costs: it can be expensive, and can prevent tree-shaking.

The lint rule would report any methods being called  on dynamic (other than methods on Object?).

Examples:

[code]

[2019-05-30 21:40] ZichangG commented on #36449
@ened  Any update?

[2019-05-30 21:47] kevmoo commented on #28247
Closing this out as outdated...

[2019-05-30 21:47] #28247 closed

[2019-05-30 22:12] tvolkert commented on #36971
Resolving this, as this has been implemented in https://github.com/dart-lang/sdk/commit/aa2ce7cfbfaca5439b86b6ee4ad503691b8ce0ac

[2019-05-30 22:12] #36971 closed

[2019-05-30 22:49] KOGI commented on #33594
It would also be hugely helpful for `ClassMirror.newInstance()` to accept generic type arguments as well. (I need to reflectively instantiate a...

[code]

[2019-05-30 23:00] gspencergoog opened #37126 "Converting a class to a mixin caused a 1-3% increase in read only snapshot size."
Why did [this change] cause a 1%-3% regression several of Flutter's regression tests? The tests are all readonly data size tests. It's simply moving the implementation of a class into a mixin.

Essentially, the change was:

Before:
[code]
And now it's:
[code]

Attached are two snapshot heap dumps: one before the change, and one after.  I wasn't able to get them to load in Chrome's dev tools but th

[2019-05-30 23:01] gspencergoog commented on #37126
cc @mraleph

[2019-05-30 23:22] vsmenon commented on #37125
@leafpetersen @lrhn - is this a language issue or an implementation one?  Right now, it looks like none of the implementations report a static error for the `for`.

[2019-05-30 23:24] vsmenon commented on #37124
@kwalrath

[2019-05-30 23:26] vsmenon commented on #37119
Thanks!  Merging into

https://github.com/dart-lang/sdk/issues/37043

[2019-05-30 23:26] #37119 closed

[2019-05-30 23:28] #37124 closed

[2019-05-30 23:28] kwalrath commented on #37124
Issue moved to [dart-lang/site-www #1649](https://github.com/dart-lang/site-www/issues/1649) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-30 23:49] kevmoo opened #37127 "Should we be using the internal `Since` annotation for new features?"
https://github.com/dart-lang/sdk/blob/a25f927ba9b758b9648d4b375a8fcee84b28f78d/sdk/lib/internal/internal.dart#L200-L204

aa2ce7cfbf just landed `HttpClientResponse. compressionState` and `HttpClientResponseCompressionState`

Should these be annotated w/ `Since`? @lrhn @turnidge @zanderso

Should we look to get Analyzer to support `Since` so it's useful for end users? @stereotype441 @devoncarew @bw

[2019-05-30 23:50] kevmoo opened #37128 "Document HttpClientResponseCompressionState in changelog"
We should document all changed APIs. Should mention HttpClientResponseCompressionState was added!

[2019-05-30 23:53] kevmoo commented on #37127
Ditto for

* `dart:developer` in I33b8324e9c16fb12e80dd91beb275320b64f7316
* new RegExp features in 4028fec3b56703752dbab6b5d5647fb9ac204774

[2019-05-30 23:54] kevmoo commented on #37127
CC @mit-mit

[2019-05-31 00:01] tvolkert commented on #37128
It's already done - https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#dartio

I may be missing something...

[2019-05-31 00:20] kevmoo commented on #37127
Ditto for `dart:isolate` debug name - ac2c934563fb10a0033612821e595894bcf9ded9

[2019-05-31 03:14] zanderso commented on #37127
@turnidge's input would surely be invaluable, but @tvolkert is probably the more correct Todd in this case.

[2019-05-31 05:22] GauravPatni commented on #36902
Hi Natalie,
have you found details on this?

Also, for me, while doing "dart2aot main.dart main.dart.aot" from the project directory, it shows

"C:\Program' is not recognized as an internal or external command,
operable program or batch file."

System: windows7

Thanks,
Gaurav

[2019-05-31 05:39] aadilmaan commented on #37128
Can we consider this closed based on Todd's comment above?

[2019-05-31 05:51] wurikiji opened #37129 "Dart autocomplete does not work"
Please review the below report for any information you do not wish to share and report to
  https://github.com/dart-lang/sdk/issues/new

Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

(please describe what you were doing when this exception occurred)
I created a new file in the `lib/` folder and then tried to import `material.dart`.
Dart sdk's autocomplete

[2019-05-31 06:57] Tahaan commented on #36481
Almost exact same for me.

I believe it started after I did an include of a Web package in stead of the Flutter Dart package, specifically for the intl package.

Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
Unhandled exception:
FileSystemException(uri=org-dartlang-untranslatable-uri:dart%3Ahtml; message=StandardFileSystem only supports file:* and data:* U

[2019-05-31 07:09] mraleph commented on #37126
@sjindel-google could you help @gspencergoog here? It would be great to make our tooling work for such use cases so that Flutter devs could easily explain the size difference from their changes.

[2019-05-31 08:20] PsychoXIVI commented on #32435
Excuse me, what the frick, why it is still returning `null`? :C

[code]
(DartSDK 2.3.1)

[2019-05-31 08:46] kmillikin commented on #36944
@alexmarkov found that annotations from patch files were missing (thanks, Alex!).  I'll fix it asap starting Monday.

[2019-05-31 09:25] kevmoo commented on #37128
Document the fact there is a new enum – that's not clear from the changelog.

On Thu, May 30, 2019 at 5:01 PM Todd Volkert <notifications@github.com>
wrote:

[2019-05-31 10:17] idraper opened #37130 "dart2aot: fails to run from spaces in path name"
Dart SDK Version: Dart VM version: 2.3.1
OS: Windows 10

I did a raw install (completely uninstalled v2.2) to get version 2.3 to try and use the dart2aot tool as shown [here](https://dart.dev/tools/dart2aot).

[code]

Running `dart bin/main.dart` output:
[code]
as expected

Running `dart2aot bin/main.dart bin/main.dart.aot` gave the following error:
[code]
As you'd expect, Dart is installed in the

[2019-05-31 11:22] vargavince91 commented on #24205
I have the same issue with creating Dart `DateTime` object coming from a Go backend (for example: `const invalid = "2019-05-31T10:35:45.347333481Z";`).

As you see this format is using nanoseconds (`10^-9`) and the [Dart `DateTime.parse`](https://github.com/dart-lang/sdk/blob/db8dca4fbf815883a595d00c7296c97c785885b1/sdk/lib/core/date_time.dart#L277) code only allows up to microseconds (`10^-6`).

[2019-05-31 11:40] #37111 closed

[2019-05-31 13:19] bwilkerson commented on #37129
@scheglov

[2019-05-31 13:58] lordgreg opened #37131 "Crash when trying to update flutter for web project"
Please review the below report for any information you do not wish to share and report to
  https://github.com/dart-lang/sdk/issues/new

Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

Crash when trying to update flutter for web project

### Versions

- Flutter SDK 1.6.7-pre.45
- Visual Studio Code 1.34.0
- Dart Code 3.0.2

### Analyzer Info

The analyzer wa

[2019-05-31 14:29] tvolkert commented on #37128
https://dart-review.googlesource.com/c/sdk/+/104282

[2019-05-31 15:22] vsmenon commented on #37130
@mit-mit @mraleph - should dart2aot issues be labeled as vm?

[2019-05-31 15:28] vsmenon commented on #37125
Issue moved to [dart-lang/language #383](https://github.com/dart-lang/language/issues/383) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-31 15:34] vsmenon commented on #37036
Closing here.  If you have further questions, please take a look at gitter or other channels for faster responses:

https://dart.dev/community

[2019-05-31 15:34] #37036 closed

[2019-05-31 15:39] vsmenon commented on #37025
You may also want to look at `built_value` or `json_serializable`:

https://flutter.dev/docs/development/data-and-backend/json

[2019-05-31 15:39] #37025 closed

[2019-05-31 15:39] vsmenon commented on #37102
Closing this.  Please file a new issue if you have details.

[2019-05-31 15:39] #37102 closed

[2019-05-31 15:40] vsmenon commented on #37104
Closing.  Please open a new issue if you have further details.

[2019-05-31 15:40] #37104 closed

[2019-05-31 16:06] leafpetersen commented on #37125
I commented on the language issue - this seems pretty clearly an implementation bug to me.  The spec is unusually clear here, and I can't see any way it allows this.

Probably this should just be fixed as part of the NNBD implicit cast elimination though.

[2019-05-31 16:22] aadilmaan commented on #36765
No concerns from Matan. Jonas - I am assigning this back to you for landing.

[2019-05-31 16:28] rmacnak-google commented on #33594
@KOGI That is already possible with

[code]

@mdempsky I don't see mirrors being removed. The base language still isn't capable of abstracting over classes, libraries or messages.

[2019-05-31 16:31] tvolkert commented on #37128
Fixed.

[2019-05-31 16:31] #37128 closed

[2019-05-31 16:32] natebosch commented on #37125
@leafpetersen - We expect a static error for argument type `T`. What do we expect for argument type `Object`?

[2019-05-31 16:38] leafpetersen commented on #37125
Unfortunately, `Object` is explicitly carved out as permitted by the spec.  :(

The no implicit cast/NNBD release should fix this.

[2019-05-31 17:12] natebosch commented on #35048
Here is a potential workaround but I have not tested it extensively...

[code]

[2019-05-31 17:46] aadilmaan commented on #36900
Apologies, I missed Matan's approval here.

Waiting on @dgrove

[2019-05-31 18:12] tvolkert commented on #36900
FYI, I've reached out to @pq to see if he can run the analysis of how many packages would be affected if we made the stream changes as well.

[2019-05-31 18:27] ravigunz opened #37132 "dart issue on VS Code"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dartfix
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
*

[2019-05-31 18:29] #37132 closed

[2019-05-31 18:39] alexmarkov opened #37133 "Regression test for flaky crash of ffi/function_callbacks_test/00 in GC"
[log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8911936099078552096/+/steps/test_results/0/logs/ignored_flaky_test_failure_logs/0)

[code]

Repro steps:

1. To generate the test, run it once with '-k':

[code]

2. Run the following bash script to execute test in a loop:

[code]

Crash was reproduced after 78 and then 55 iterations.

/cc @dcharkes @sjindel-google

[2019-05-31 21:41] BriscoPeas93 opened #37134 "Bug"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dartfix
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
*

[2019-05-31 21:52] scheglov commented on #37129
https://dart-review.googlesource.com/c/sdk/+/104360

[2019-05-31 22:21] kevmoo commented on #37134
Please be careful @BriscoPeas93 !

[2019-05-31 22:21] #37134 closed

[2019-05-31 23:04] natebosch commented on #36771
If we add the extra metadata to track this internally it's about a 2% size penalty within the SDK.

[2019-05-31 23:29] vsmenon commented on #36771
That's not bad.  Add under `--emit-metadata`?

[2019-05-31 23:31] #57710 closed

[2019-06-01 06:32] bluemix opened #37135 "Dart analysis server, SDK version 2.2.1 Error"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.7479.19`
- `2.2.1-edge.cf4444b803a376bb1ad6442e1f09434a4d58167b`
- `IC-191.7479.19, JRE 1.8.0_202-release-1483-b58x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.5, screens 1920x1080, 1440x900  Retina`

## Exception
[code]

## Additional information

[code]
[code]

[2019-06-01 07:40] lrhn commented on #37127
True, we should use it. If for nothing else, then for documentation.

[2019-06-01 10:30] karnadii opened #37136 "The getter 'librarySource' was called on null."
Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

just pressing ctrl+space waiting so long for auto completion, and then this error appear.
### Versions

- Flutter SDK 1.6.7-pre.45
- Visual Studio Code 1.33.1
- Dart Code 3.1.0

### Analyzer Info

The analyzer was launched using the arguments:

[code]

### Exception

Failed to handle completion domain request:

[2019-06-01 12:07] mraleph commented on #37130
I guess we have no better label for these right now.

[2019-06-01 12:07] mraleph commented on #37130
Assigning to @cskau-g

[2019-06-01 17:27] #37129 closed

[2019-06-02 02:59] zanderso opened #37137 "Moving kernel buffers to ExternalTypedData regressed core-jit snapshot size"
The change https://github.com/dart-lang/sdk/commit/ab6aeaa106ecdc8c8a8793aaaa3e6dce38456d5a caused a significant size regression in core jit snapshot size that affected the Flutter runner and Dart runners in Fuchsia. This led to a closure of the Fuchsia tree, and so the change was reverted here: https://github.com/dart-lang/sdk/commit/0e6b74543c59c1aaec9a5bfee30d3f668f681c13.

Filing as part of th

[2019-06-03 02:57] humblerookie commented on #37087
Does this need more input? @irhn

[2019-06-03 03:51] tvolkert commented on #37127
`HttpClientResponse.compressionState` and `HttpClientResponseCompressionState` are done as of https://github.com/dart-lang/sdk/commit/ebbfc7d8ca5366888b832cf83ee0df49e8f1b745

[2019-06-03 04:08] vsmenon commented on #37125
Assigning to both front ends.  It probably does make sense to fix as part of NNBD.  That said, it doesn't appear to be marked as an implicit cast by the analyzer right now - i.e., no static error with `--no-implicit-cast`.

[2019-06-03 04:19] vsmenon commented on #36944
@kmillikin - assigning back to you.  If there are perf issues with this (as opposed to correctness issues), we should consider making this a configurable option as Jake suggests to unblock flutter web users (https://github.com/flutter/flutter/issues/32524)/

[2019-06-03 06:24] cyrsis opened #37138 "Intellij screaming for help"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.6183.87`
- `2.2.1-edge.571ea80e1101e706980ea8aefa7fc18a0c8ba2ec`
- `IU-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14, screens 1680x1050, 1920x1080  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/2g/315sy6y12sd7

[2019-06-03 06:25] msc4266 commented on #37096
I got this when a file (edited with IntelliJ) had an invisible NUL at the end. I don't know how this happened. Anyways, I opened the file with VS Code, where I could see and remove the [NUL] character at the end.

[2019-06-03 07:26] mit-mit commented on #36892
@cskau-g was this resolved?

[2019-06-03 08:44] sigurdm commented on #37101
Also the documentation could use an update
Examples like:

[code]
Encourages creating programs using the `ls` from $PATH (previously from working directory).
My guess is that usually one should prefer to use the system commands whenever possible: `/bin/ls` etc.

[2019-06-03 08:44] netroby opened #37139 "Donate dart lang to apache foundation or eclipse foundation or linux cncf foundation?"
learn dart lang for a year. like dart lang very much.
But still worry about the future of dart lang.
why not donate dart lang to an opensource foundation, like (apache, eclipse , linux cncf)

The kubernetes was born in google, then became a linux cncf foundation project.

dart lang should be more popular and more open , if it was an open source foundation project.

Currently, it was only a google

[2019-06-03 09:15] mkustermann commented on #37137
From DNO-599, I read the following:

    isolate_snapshot_product_framework.bin 8118272 -> 10764288 (+2,584K)
    isolate_snapshot_product.bin 2580480 -> 3563520 (+960K)
    isolate_data_product.bin 2285568 -> 3137536 (+832K)
    => Sums to +4,376K

To me this seems like a smell: The kernel buffers which the VM uses seems to contain 4 MB (around 25%) which the VM will never need. Do we know what d

[2019-06-03 09:21] sjindel-google commented on #35840
In order to load the address of a struct, we need at least:

[code]

[2019-06-03 09:32] sjindel-google opened #37140 "[vm/ffi] Support callbacks on DBC"
De-prioritized from #35761 because we might not need to support DBC.

[2019-06-03 09:42] dcharkes commented on #35764
Closing this issue because we have adopted the "type-design" label for ffi design decisions.

[2019-06-03 09:42] #35764 closed

[2019-06-03 09:54] athomas commented on #36892
Tested this on master, and it is resolved there.

The fix will likely be in the next dev release.

[2019-06-03 09:54] #36892 closed

[2019-06-03 10:27] kmillikin commented on #36944
Annotations on classes and procedures from patch files are preserved.  This fixes the performance regression, where platform-specific annotations were lost.

We now combine annotations from the original file and the patch file (including keeping the @patch annotation), which should match the previous behavior.

We are still not writing into outlines the annotations on typedefs, imports, and perhap

[2019-06-03 10:40] rrousselGit commented on #32102
This poped up in a stackoveflow question https://stackoverflow.com/questions/56414263/async-patterns-in-flutter-dart-any-downsides-to-async-await-vs-raw-future-api

https://github.com/dart-lang/angular/blob/master/doc/dart2js_style_guide.md

The link is dead. Is it still relevant?

[2019-06-03 12:15] #31931 closed

[2019-06-03 12:21] lrhn commented on #32435
For the reasons given above: It would be a breaking change to make it `void Function()` because there is existing code relying on it being `Null Function()`.

We can change it, but we'll have to migrate all that code, and the cost/benefit ratio for this particular change meant that it didn't make it into the larger Dart 2.0 breaking change.

[2019-06-03 13:12] nex3 commented on #28066
To reiterate, the behavior @kevmoo outlines in https://github.com/dart-lang/sdk/issues/28066#issuecomment-468403770 is *not* sufficient for Sass's needs. We also want the analyzer to provide feedback if a member of a type marked as `@internal` is *referenced* outside of the package that declares that type. For example:

[code]

[2019-06-03 13:30] mkustermann commented on #37133
There's more of those callback tests flakily crashing, e.g.
[code]

[2019-06-03 13:36] vsmenon commented on #36944
Thanks!

This does work with my local repros now.

@natebosch - Could you sanity check this with firebase (https://github.com/flutter/flutter/issues/32524)?

@sigmundch - I don't think your test is automatically run on the bots.  It is passing for me locally now, but I don't see it in the bot logs.

[2019-06-03 13:56] eernstg commented on #32435
One thing remains, though: We would probably be able to change the inferred type of a function literal with a block body and no returns to have return type `void` based on the _context_ type:

[code]

We'd need to check that there are indeed no migration issues in doing this. @lrhn, do you see any? It would be helpful in the cases where a `T function()` is expected and a dynamic check is performed

[2019-06-03 14:22] vsmenon commented on #36771
Nate - did you decide if we want anything in D24 for this?

[2019-06-03 14:24] vsmenon commented on #36814
@sigmundch - anything left that you want to land in D24 (here or in the other D24 bug)?

[2019-06-03 14:34] kmillikin commented on #36635
A proposed fix is at https://dart-review.googlesource.com/c/sdk/+/104564

[2019-06-03 15:08] sjindel-google commented on #37133
Thanks for the script Alex, I was able to reproduce it locally in RR.

[2019-06-03 15:21] sjindel-google opened #37141 "VSCode doesn't pick up 'dart:ffi' imports"
I'm reproduced this with the head of Flutter and the latest rolled SDK.

The VSCode config contains this:

[code]

An import of 'dart:ffi' in any Dart file will cause an analyzer error.

[2019-06-03 15:33] dcharkes commented on #37141
In my VSCode, with the Dart sdk on my path, the imports resolve fine in the Dart editor. Is the dart-sdk which is shipped with Flutter pruned of hidden libraries? dart:ffi is excluded from docs by https://github.com/dart-lang/sdk/commit/61eae93462919fada27cfe68ce7378acacf2574b.

[2019-06-03 15:56] alexmarkov commented on #37137
/cc @rmacnak-google

[2019-06-03 16:05] stereotype441 commented on #36296
As of 556c9134acb3c9328efe075738030e4f63b55f69, the warning now refers to version 2.3.2.  The remaining bullet item is a small enough corner case that it's not worth putting effort into.

[2019-06-03 16:05] #36296 closed

[2019-06-03 16:44] KnightWebnApps opened #37142 "flare actor crashing"
Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

Using a Flare project in a loading screen.

### Versions

- Flutter SDK 1.6.8-pre.33
- Visual Studio Code 1.34.0
- Dart Code 3.1.0

### Analyzer Info

The analyzer was launched using the arguments:

[code]

### Exception

Failed to handle completion domain request: {id: 1403, method: completion.getSuggestions,

[2019-06-03 16:48] ismanong opened #37143 "Warning: Tried to initialize from a previous compilation (build/app.dill.track.dill), but the file was not self-contained. This might be a bug."
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dartfix
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
*

[2019-06-03 17:02] sigmundch commented on #36814
moved to a later milestone

[2019-06-03 17:20] rmacnak-google opened #37144 "dart/entrypoints/jit tests are overly sensitive to usage counters"
These tests are disabled in https://dart-review.googlesource.com/c/sdk/+/102820 because of changes in the way the usage counter is incremented.

[2019-06-03 17:48] sjindel-google commented on #36186
We are waiting on iOS devices from Chrome.

[2019-06-03 17:52] sigmundch commented on #36944
it's there  with the `pkg` tests. It appears that after the revert, the test was not marked as failing, so the test was making the bots red for a while. Kevin's change made the bot green, but you can see the previous build was red:
https://ci.chromium.org/p/dart/builders/ci.sandbox/pkg-linux-release/5846

And it was only because of that modular test:
https://logs.chromium.org/logs/dart/buildbucket

[2019-06-03 17:55] vsmenon commented on #36944
Ahh, got it - thanks @sigmundch !

[2019-06-03 18:18] eernstg commented on #31797
This has been p1-high, area-language for a while.

I'd [still](https://github.com/dart-lang/sdk/issues/31797#issuecomment-356954322) recommend that we use the notion of the ['combined interface'](https://github.com/dart-lang/language/blob/0e6b07cba963a3cea76b148ccc90ddc0decb86e5/specification/dartLangSpec.tex#L4018) of the superinterfaces to resolve which method signature to use in order to perfor

[2019-06-03 19:03] kevmoo opened #37145 "Crash with DDK"
[code]

[2019-06-03 19:50] rmacnak-google opened #37146 "VM generated ELF binaries and Android's strip don't work together"
Android build scripts will run `strip --strip-unneeded` by default, and this breaks ELF binaries generated by the VM.

@jason-simmons reports that nm on these binaries gives errors like

[code]

and all the symbols had null names:
[code]

It sounds like `strip` is assuming that debug sections do not share a string table with runtime sections, but VM generated ELF binaries use a single string table

[2019-06-03 19:51] natebosch commented on #36771
~1.2% impact on flutter web gallery. I think we should move forward with the change and release in D24.

I think we should keep this on by default instead of behind `--emit-metadata` for now. It's not clear that all the other stuff that comes along with emit-metadata is going to be as useful as this...

[2019-06-03 19:53] vsmenon commented on #36771
sgtm

[2019-06-03 19:57] pedromassango opened #37147 "Unsupported operation: unsupported initializer: CascadeExpressionImpl"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.7479.19`
- `2.3.0-edge.a1668566e563aef64025d0af88a099cbbe847b7e`
- `IC-191.7479.19, JRE 1.8.0_202-release-1483-b58x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1280x720`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\PEDROM~1\AppData\Local\Temp\report.txt.

[2019-06-03 20:12] leoneparise opened #37148 "Dart Analysis Server crash on flutter plugin development"
I'm developing a new plugin for flutter framework. When I do a `pod install`, which create a `.symlinks` into `example/ios` folder, it crashes the Dart Analysis Server.

Is there a way to prevent the analyzer to follow the `.symlinks` folder?.

Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-183.6156.11.34.5522156`
- `2.3.0-edge.a1668566e563aef64025d0af88a099cbbe847b7e`
- `AI-1

[2019-06-03 20:35] jonahwilliams opened #37149 ""Missing canonical name" frontend_server crash when using config imports and constants"
The failure log is from the CI task: https://cirrus-ci.com/task/6488592017260544

[code]

This occurred in the PR https://github.com/flutter/flutter/pull/33663, specifically on https://github.com/flutter/flutter/pull/33663/commits/d1ad89a66de775708800b03379b38fd953b09ea4#diff-9c8178fbc28fe11397bd57df314a2643R47

isolates.dart
[code]

_isolates_io.dart
[code]

[2019-06-03 21:00] clocksmith opened #37150 "Warning: Tried to initialize from a previous compilation (build/app.dill.track.dill), but the file was not self-contained. This might be a bug."
Dart VM version: 2.3.0-dev.0.0.flutter-8e73b3c006 (Tue Apr 16 21:29:55 2019 +0000) on "macos_x64"

Ran a flutter app on iOS Simulator with success, but got this warning:

[code]

[2019-06-03 21:01] vsmenon commented on #37043
Looks like this is the underlying issue:

https://github.com/dart-lang/sdk/issues/36032

[2019-06-03 21:01] #37043 closed

[2019-06-03 21:01] vsmenon commented on #37143
Looks like this is the underlying issue:

https://github.com/dart-lang/sdk/issues/36032

[2019-06-03 21:01] #37143 closed

[2019-06-03 21:02] vsmenon commented on #37150
Dup of https://github.com/dart-lang/sdk/issues/36032

[2019-06-03 21:02] #37150 closed

[2019-06-03 21:08] pythoneer commented on #35981
@i-schuetz what do you mean by "This would make this functionality pretty much useless." There is no functionality to pin a key at all. At least that i am aware of.

The only thing that comes close is to use  `SecurityContext({bool withTrustedRoots: false});` to make every certificate fail and use `badCertificateCallback` to check the public key, but this "disables" the validation of the certifica

[2019-06-03 21:48] #36771 closed

[2019-06-03 22:26] stereotype441 commented on #36829
Here's what's currently believed to work in the analyzer prototype:
- Enable/disable and opt in/out mechanism: `@dart=<version>` is handled in library and part files.  It is not recognized in `.package` files.
- All NNBD syntax is recognized except for null-aware array indexing (`a?.[b]`) and trailing `?` on function-typed parameters.
- Summaries are mostly working, but there are issues with top l

[2019-06-03 22:42] kuanfajardo opened #37151 "[Analyzer] Incorrect ElementVisitor documentation"
Dart Version: 2.3.0-dev.0.5
Machine: N/A
Browser: N/A

The `ElementVisitor` [documentation](https://pub.dev/documentation/analyzer/latest/dart_element_element/ElementVisitor-class.html) gives examples of concrete implementations of `ElementVisitor`. However, it incorrectly states that these classes are located in `package:analyzer/dart/ast/visitor.dart`:

![image](https://user-images.githubusercon

[2019-06-03 22:52] ZichangG opened #37152 "consider refactoring giant 'uri.dart'"
Uri.dart has become a huge file for dart:core. I tried to add user-specific feature onto Class uri, which could be a burden for all the other users. Would it be better to extract most class uri into a single package?

[2019-06-03 22:53] ZichangG commented on #37152
@kevmoo @lrhn @a-siva

[2019-06-04 00:23] natebosch opened #37153 "Drop support for Isolate.resolvePackageUri from dart2js and DDC"
The implementation in dart2js is broken by default already. It was broken in https://github.com/dart-lang/sdk/commit/7911fb26832d3116ba6476fbfdc37037a7cd5b62#diff-894e25213751e7522ad6394c40e9378e

Unless the user explicitly assigns to `defaultPackagesBase` the call will fail. We do have some tests against this behavior:
https://github.com/dart-lang/sdk/blob/b080e7c97a879eb803c725621b3993cbe994d19d

[2019-06-04 01:09] rishab2113 commented on #36839
@mraleph can confirm, macOS 10.15 Beta (19A471t) completely breaks AOT build capability

[2019-06-04 01:19] a-siva opened #37154 "vm-kernel-asan-linux-release-x64 is failing 3 tests (memory leak)"
`DART_CONFIGURATION=ReleaseX64 out/ReleaseX64/run_vm_tests --dfe=/b/s/w/ir/cache/builder/sdk/out/ReleaseX64/gen/kernel-service.dart.snapshot --ignore-unrecognized-flags EvalExpressionExhaustCIDs

exit code:
1

stdout:
Running test: EvalExpressionExhaustCIDs
Done: EvalExpressionExhaustCIDs

stderr:
=================================================================
==28251==ERROR: LeakSanitizer: dete

[2019-06-04 02:10] jumperchen commented on #34179
@stereotype441, we are still waiting for this fix to upgrade dart SDK from 2.1.0 version, hope you can find a workaround for us, thanks.

[2019-06-04 02:51] jumperchen opened #37155 "./../runtime/vm/thread_pool.cc: 341: error: Could not start worker thread: result = 11."
**Dart version**: 2.1.0
**OS Ubuntu**: 18.04.1

**Stack trace**:
[code]

We just found the strange error log in our Dart server (vm) recently, and the dart process has killed already.

Does anyone know about what's wrong with this?

[2019-06-04 03:28] sigmundch commented on #37153
Interesting, while we can't rule out that people are using it via `defaultPackagesBase`, it does feel less likely.

My inclination is to go ahead and remove the support as well.

We can do a quick search for packages that use either the isolate API or the resolve package to assess potential impact to make sure. Then create a breaking change proposal to remove the support. Especially since we say t

[2019-06-04 06:31] kentcb opened #57973 "Lint request: flag useless assignments"
**Describe the rule you'd like to see implemented**

Just spent 10 minutes debugging a problem that got introduced during a refactor:

[code]

The `globalBounds = globalBounds` is a no-op. It's supposed to be `this.globalBounds = globalBounds`.

It would be nice to flag these useless assignments because they're an easy mistake to make, are never intentional, and can waste a bunch of developer time

[2019-06-04 07:01] loongliu opened #37156 "Consider tight up created file permission in file_android.cc."
The default created file permission for android is **0666** in this[code](https://github.com/dart-lang/sdk/blob/master/runtime/bin/file_android.cc#L268). Others user can read and write this file even it is in in internal storage.

We should change permission to **0660**, or provide a method to let developer choose file permission.

[2019-06-04 07:25] sedem7 opened #37157 "Option for setting minimum TLS version (TLS1.2)"
Some online REST services, that uses private keys for authentication (*.p12 for same State and Government services) are using TLS1.2 as minimum protocol version. Dart always make initial “Client Hello” with TLS 1.0 header with set of 15 chipers. As a result, not strong enough chipper is used by “Server Hello” and “SSLV3_ALERT_HANDSHAKE_FAILURE(tls_record.cc:586)” is thrown.

If same test is done w

[2019-06-04 08:55] lrhn commented on #18950
There is a `replace` method now.

[2019-06-04 08:55] #18950 closed

[2019-06-04 08:56] lrhn commented on #21733
Not planned.

[2019-06-04 08:56] #21733 closed

[2019-06-04 08:57] lrhn commented on #37152
See also #29420

This was one thing we had hoped to do for Dart 2.0, but did not have the resources for.
We wanted to move a lot of functionality out of the `Uri` class, and make it closer in behavior with the JavaScript `URL` class (to enable web compilation to use that class as an implementation).
It would remove much of the normalization functionality, which could then be provided by a package

[2019-06-04 09:16] lrhn commented on #37153
If `dart:isolate` is not supported, we should not allow importing it. Then noone can access `Isolate.resolvePackageUri` anyway.

We have made yet another "kind-of supported" library, and we shouldn't be doing that.

What would break if we simply disallowed importing `dart:isolate` in web compilers? (Along with `dart:io`)

[2019-06-04 09:35] askeksa-google commented on #37082
Fix is here: https://dart-review.googlesource.com/c/sdk/+/104004

[2019-06-04 10:24] kmillikin opened #37158 "Malformed named mixin application crashes Fasta"
The co19 tests have added `Language/Generics/syntax_t29` and `Language/Generics/syntax_t30` which crash Fasta.  They have syntax like

[code]

which the parser sees as a malformed named mixin application that is missing `with`.  The parser reports this error.  We later crash in Fasta, presumably due to a missing mixed-in type.  Fasta should be more defensive and not crash in this case.

/cc @stefa

[2019-06-04 10:25] DanTup opened #37159 "Error in AssistProcessor when computing code fixes for LSP"
When computing code fixes in the LSP server, I've started seeing this failure.

The issue seems to be that in the `_addProposal_convertMapFromIterableToForLiteral` method, `creation.staticElement` returns `null`. So far I'm unable to reproduce it outside of LSP (even though it seems like it should repro without it).

[code]

If I tweak the code to print the source it's processing like this:

[code

[2019-06-04 10:30] DanTup commented on #37159
@bwilkerson @scheglov FYI... I can't figure out why I can't hit this for non-LSP using the same code (same source I have open, and running server from same code locally, just without `--lsp`).

FWIW, this is *not* a Flutter project, it's just a random Dart CLI app I use for testing (so the Row class etc. does not resolve and there are errors in the file).

[2019-06-04 10:41] savadmv opened #37160 "Compiler message: Warning: Tried to initialize from a previous compilation (build/app.dill.track.dill), but the file was not self-contained. This might be a bug."
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dartfix
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
*

[2019-06-04 10:48] lrhn commented on #37127
For the record, new features should be releases in minor version increments, so the next release where new features are released will be `2.4.0`.

If we release a `2.3.2`, it will be a patch/bug-fix release cherry-picked from head, and it will most likely not contain any of the new features.
So, for not-yet-released features, the annotations should be `@Since("2.4.0")`.

[2019-06-04 11:12] DanTup commented on #37136
This is the same issue as https://github.com/dart-lang/sdk/issues/37129 which has been fixed :-)

[2019-06-04 11:12] #37136 closed

[2019-06-04 13:55] danrubel commented on #37114
area-analyzer makes sense to me. I'll dig and see what I can figure out.

[2019-06-04 14:44] sjindel-google commented on #37133
I've landed https://dart-review.googlesource.com/c/sdk/+/104822 to fix the underlying bug, but I'll keep the issue open to create a regression test.

[2019-06-04 14:49] sjindel-google commented on #36723
Uploaded https://dart-review.googlesource.com/c/sdk/+/103801 to stabilize the test.

[2019-06-04 15:05] devoncarew commented on #37127
I think the sdk version doesn't follow strict semver, and won't always rev the minor version even when there are api additions (reving the sdk version is more of a product decision than a semver one).

[2019-06-04 15:08] dgrove commented on #36635
https://dart-review.googlesource.com/c/sdk/+/104564 has landed . can this be closed?

[2019-06-04 15:16] askeksa-google commented on #36640
Reopening since the Flutter change was reverted due to a test failure (most likely an error in the test): https://github.com/flutter/engine/pull/9134

[2019-06-04 15:18] kmillikin commented on #36635
We need to verify that DDC is using Kernel outlines (I've lost track of whether it is or isn't) and whether constant-update-2018 works fully.

[2019-06-04 15:22] vsmenon opened #37161 "Validate that kernel outlines work for DDC/K with const-update-2018 enabled"
The `const-update-2018` flag enables the new constant infra in kernel.  We need to ensure DDC works with it and add a regression test in the SDK before enabling the flag.

[2019-06-04 15:24] vsmenon commented on #36635
Filed a separate issue to validate and add a regression test:

https://github.com/dart-lang/sdk/issues/37161

That only needs to block turning on the flag, not D24.

[2019-06-04 15:36] vsmenon commented on #37160
Thanks - merging into:

https://github.com/dart-lang/sdk/issues/36032

[2019-06-04 15:36] #37160 closed

[2019-06-04 16:26] ghost opened #57974 "[Move] Configuration error"
[Move](https://github.com/apps/move) has encountered a configuration error in `move.yml`.
[code]

[2019-06-04 16:28] natebosch commented on #37153
The golden path for external users is to compile through `build_runner` with `build_web_compilers` which does not allow importing `dart:isolate` already - although there is [a bug](https://github.com/dart-lang/build/issues/2298) if the import is in the same file as `main`, we should have that fixed soon.

We are working hard on restricting imports internally as well. `dart:mirrors` is currently on

[2019-06-04 16:30] pq opened #37162 "add a hint for self assignments"
Add a hint that flags self-assignments.  For example:

[code]

Follow-up from: https://github.com/dart-lang/linter/issues/1597.

/cc @kentcb

[2019-06-04 16:31] kmillikin commented on #36635
We might need more work, but the bulk of what we need is done.  Moving out of D24.

[2019-06-04 16:39] DanTup opened #37163 "Poor performance of auto-import completions in LSP server"
Using LSP with auto-import-completions enabled (the default) is quite slow with a Flutter project open:

If we leave all processing in, but remove all the results (which will remove the serialisation/deserialisation/transmission) then it takes only 135ms. So the server is pretty fast at preparing all the results, but the cost of transferring the results them is very high when the result set is lar

[2019-06-04 16:46] DanTup commented on #37163
- Removing the dartdoc from the results reduces the time to 951ms (the request I'm measuring went from around 8MB to around 4MB).

[2019-06-04 16:58] #57974 closed

[2019-06-04 17:52] aartbik commented on #36977
Keeps coming back. This needs to be fixed soon!

[code]

[2019-06-04 19:12] mit-mit opened #37164 "AOT compiled Dart code fails running"
* Repro steps:

1. `git clone https://github.com/dart-lang/dart_style.git`
1. `cd dart_style`
1. `pub get`
1. `dart2aot benchmark/benchmark.dart benchmark/benchmark.dart.aot`
1. `dartaotruntime benchmark/benchmark.dart benchmark/benchmark.dart.aot`

=>

[code]

Environment:
[code]

[2019-06-04 19:13] mit-mit commented on #37164
cc @cskau-g @mraleph

[2019-06-04 20:56] noinskit commented on #32223
Ping? Why is this closed? This is still (AFAIK) the best way towards allowing classes with mixins to have const constructors.

[2019-06-05 06:52] DanTup commented on #37060
@yyoncho @itome FYI I just landed changes that reduce the JSON significantly (removing docs, edits, and all values that were optional and explicitly set to the default). In my testing a full request/response in VS Code for 8.5k items went from almost 3 seconds to around 300ms (and from around 8MB JSON to around 2MB).

Hopefully this will improve things somewhat for Emacs if you want to try re-enab

[2019-06-05 07:09] #37163 closed

[2019-06-05 10:38] lukas-h opened #37165 "Possible Error in ConstructorElementImpl.appendTo method in Analyzer"
This tracker is for issues related to:
* Analyzer

https://github.com/dart-lang/sdk/blob/1b643e5c1f80d4b3f462a2497b776621e3620bf1/pkg/analyzer/lib/src/dart/element/element.dart#L2638

[code]

I assume with `name` in the line `name = '<unknown class>';` should be meant the `name` declared at the beginning of the function (outside the `if`-block), but instead the `name` inside the `if`-Body is taken

[2019-06-05 10:57] uaex opened #37166 "Cookie validate failed"
Case: response contains a cookie like `urlgen="{\"abcdef\":123456}"`
I catch an exception from http_headers.dart _validate()
`new FormatException(
            "Invalid character in cookie value, code unit: '$codeUnit'"); `
codeUnit is 92("\\")
after all we can't decide what we received, how should we avoid it? 🤔

[2019-06-05 11:57] DanTup commented on #36849
This appears to be a duplicate of https://github.com/dart-lang/sdk/issues/36919.

[2019-06-05 11:57] #36849 closed

[2019-06-05 12:01] DanTup commented on #36919
@bwilkerson @devoncarew this seems to be coming up a lot. It seems like something related to Flutter may be creating these symlink folders?

https://github.com/flutter/flutter/search?q=%22.symlinks%22&type=Code

I think we need to may need to do something (even if it's just skip folders named `.symlinks`?).

[2019-06-05 12:03] DanTup commented on #36919
cc @dnfield - I saw your name on some symlinks code in Flutter, so maybe you understand why they're needed (and when they're created)?

[2019-06-05 12:10] DanTup commented on #36958
This appears to be the same as https://github.com/dart-lang/sdk/issues/36919.

[2019-06-05 12:10] #36958 closed

[2019-06-05 12:10] DanTup commented on #37045
This appears to be the same as https://github.com/dart-lang/sdk/issues/36919.

[2019-06-05 12:10] #37045 closed

[2019-06-05 12:38] ThitSarNyanLynn commented on #31532
@jadusty , I put this to AndroidManifest.xml and it works fine for me. `<uses-permission android:name="android.permission.INTERNET"/>`

[2019-06-05 13:28] manuelF opened #57975 "Add 'avoid_relative_imports'"
This lint is necessary on codebases where there are often files being
moved around. The lack of consistent
'package:my.project.folder/mypackage.dart' makes it very painful to
detect when files are imported since not even intellij tells you that.

This lint is not supposed to be used for everyone since there are a lot
of valid cases for relative imports but I would prefer to have it as
warning or l

[2019-06-05 13:37] itome commented on #37060
@DanTup Very good! I'll try it tomorrow and see if the completion speed is optimized.

[2019-06-05 14:12] dnfield commented on #36919
Cocoapods uses symlinks, I believe after `pod install`.  @jmagman is doing some Cocoapods related work right now and might have more details at front of mind than I do at the moment.

[2019-06-05 14:32] heinrichreimer opened #37167 "NPE from _SummarizeAstVisitor.visitConstructorDeclaration (2.3.0-edge.)"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.7479.19`
- `2.3.0-edge.a1668566e563aef64025d0af88a099cbbe847b7e`
- `IU-191.7479.19, JRE 1.8.0_202-release-1483-b58x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1536x864`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\kiese\AppData\Local\Temp\report.txt.

[2019-06-05 15:24] dgrove commented on #36640
@terrylucas any updates on this?

[2019-06-05 15:25] dgrove commented on #36032
The plan is to suppress this warning for D24 - CL is out here: https://dart-review.googlesource.com/c/sdk/+/104825

[2019-06-05 15:26] dgrove commented on #36584
Not required for D24

[2019-06-05 15:39] TJ-C opened #37168 "Tried to initialize from a previous compilation"
I Received the following message right after I updated flutter and then ran the debugger in VS Code.:

Warning: Tried to initialize from a previous compilation (build/app.dill.track.dill), but the file was not self-contained. This might be a bug.

This message did not reappear after stopping and rerunning the debugger.

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Chann

[2019-06-05 16:17] terrylucas commented on #36640
Aske is there anything in the CFE/kernel transformer AST that might be in
the dill file (or something that's not computed until there is a dill file?
As I run the failing test (first time the dill file is deleted) the tests
will fail. After this failure all tests pass. As I debug the tests, when
there's success, the location object is the file name of the widget that
was created.

Vijay mentioned

[2019-06-05 16:40] robbecker-wf commented on #36944
@aadilmaan or @vsmenon Will fixes for this issue make it into the next release or did it get pushed back?

[2019-06-05 16:43] aadilmaan commented on #36944
This issue has been moved out of D24 to the follow up release (D25 - schedule to be finalized).

[2019-06-05 16:50] jakemac53 commented on #36944
JS interop is almost completely broken with kernel based DDC because of this right now. Are we saying that isn't a release blocker? If that is the case we should consider a patch release quickly following D24, and not waiting for D25.

[2019-06-05 16:59] vsmenon commented on #36944
@robbecker-wf @jakemac53 JS interop is fixed and regression tested now (thanks - @sigmundch !).  Those fixes will be part of D24.

We're keeping this open for completeness.  As @kmillikin says above, annotations are not preserved on typedefs and imports.  JS interop shouldn't depend on those today, but they should also be preserved for consistency.

[2019-06-05 17:01] vsmenon commented on #36944
The latest dev - https://github.com/dart-lang/sdk/tree/2.3.2-dev.0.1 - should have the fixes.  Sanity checking appreciated!

[2019-06-05 17:05] vsmenon commented on #36944
Specifically, this is the commit from Kevin that fixes JS interop:

https://github.com/dart-lang/sdk/commit/907f31e6de8eee0b7b0cb0c9e7a7fef5dc8a6794

It's included here:

https://github.com/dart-lang/sdk/commits/2.3.2-dev.0.1

[2019-06-05 17:27] evanweible-wf commented on #36944
@vsmenon 2.3.2-dev.0.1 fixes our JS-interop-dependent tests 👍

[2019-06-05 17:29] vsmenon commented on #36944
@evanweible-wf - thank you for the quick report!

[2019-06-05 18:17] DanTup commented on #37148
This is the same issue as https://github.com/dart-lang/sdk/issues/36919.

[2019-06-05 18:17] #37148 closed

[2019-06-05 18:44] shrabanaKnock opened #37169 "Compiler message: Warning: Tried to initialize from a previous compilation (build/app.dill.track.dill), but the file was not self-contained. This might be a bug."
[initialize_from.dill.gz](https://github.com/dart-lang/sdk/files/3258587/initialize_from.dill.gz)

Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
*   ##dartfix

* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsew

[2019-06-05 19:38] #37146 closed

[2019-06-05 21:17] evanweible-wf commented on #37018
I also hit this issue on Dart `2.3.2-dev.0.1`. The same file compiles successfully on 2.3.1.

[2019-06-05 21:20] devoncarew commented on #36919
From the bug report, it looks like the recursion is happening here:

[code]

and

[code]

It looks like this recursion is happing during the AndroidManifest.xml check. This issue was addressed by a later code change. My guess is that the fix did no make it into the Flutter stable channel.

@keertip can you confirm?

[2019-06-05 21:30] jim-flar opened #37170 "Error analyzing flutter/engine code"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-183.5429.30.34.5452501`
- `2.3.0-edge.a1668566e563aef64025d0af88a099cbbe847b7e`
- `AI-183.5429.30.34.5452501, JRE 1.8.0_152-release-1343-b16-5323222x64 JetBrains s.r.o, OS Linux(amd64) v4.19.37-2rodete1-amd64, screens 3840x2160`

## Exception
[code]

For additional log information, please append the contents of
file:///tmp/report2

[2019-06-05 21:34] evanweible-wf commented on #37018
https://github.com/dart-lang/sdk/issues/36912 was blocking us from upgrading to build_web_compilers 2.x and the kernel-based DDC, but that is now fixed in the latest dev branch. Unfortunately if there isn't a workaround for this issue, then we will still be blocked from upgrading even with the Dart 2.4 release. Any one know if there is a workaround or if a fix for this is known/in progress?

@jake

[2019-06-05 21:40] keertip commented on #36919
The fix did not make it to the Flutter stable channel.

[2019-06-05 21:45] jakemac53 commented on #37018
Thanks for the ping, I hadn't seen this bug or heard anybody else mention it so I think it slipped through the cracks. We can take a look.

cc @nshahan

[2019-06-05 22:01] dgrove commented on #35097
What's remaining here?

[2019-06-05 22:13] ds84182 opened #37171 "Comparing enums sent through redirecting const constructors marked as throwing"
Reproduced in both 2.3.0 and 2.3.1. Only affects the Analyzer, CFE runs this fine.

[code]

[2019-06-05 22:14] ds84182 commented on #37171
Using `identical` instead of `operator==` seems to fix the issue in the analyzer.

[2019-06-05 22:45] aartbik commented on #36977
What happens is that, for a parameter in ProcessInitialDefinition(), DBC calls BlockLocation() with the maximum position as end.

`BlockLocation(Location::RegisterLocation(slot_index), 0, kMaxPosition);`

Later, this blows up, either on the following assert in AddUseInterval() with end = 2147483647 and start() = 1979:

`ASSERT(end < first_use_interval()->start());`

or, without this assert, a bit

[2019-06-05 23:05] nshahan opened #37172 "Invoking the analyzer (indirectly through DDC) uses analysis_options.yaml from the current directory"
I ran into some confusing behavior when running DDC (analyzer based). The analyzer that gets run will look for an analysis_options.yaml file starting in the current working directory instead of the directory where the file your are compiling is located.

This is not the case when you invoke `dartanalyzer` directly. It doesn't matter where your current working directory is in the hierarchy, it look

[2019-06-05 23:22] nshahan commented on #37018
@evanweible-wf Which versions of angular and angular_components are you using?

[2019-06-06 00:44] evanweible-wf commented on #37018
@nshahan I'm actually see this trying to run `pub run build_runner build` in one of our private packages. I can try to provide some source code via email if that would help? I'm not sure if you just need the single file that DDC is failing on or if you'd need all the imported code as well.

[2019-06-06 00:53] nshahan commented on #37018
@evanweible-wf The stack trace looks like it's failing while compiling a file from the angular_components package so I'm guessing your private package has a dependency on it?

If so I'm trying to figure out what versions of angular_components and angular you are using. Could you find it by running `pub deps -s compact`.

[2019-06-06 00:53] evanweible-wf commented on #37018
Sorry, I should have posted my own stack trace:

[code]

[2019-06-06 01:36] itome commented on #37060
@DanTup I tried nightly build! It seems usable enough! thanks.

[2019-06-06 04:32] vsmenon commented on #37018
@nshahan @jakemac53

Looks similar to:

https://github.com/dart-lang/sdk/blame/master/pkg/dev_compiler/lib/src/kernel/compiler.dart#L3127

May need to add `RangeError` until we figure out the root cause.  Jake landed the above - see comment thread here:

https://dart-review.googlesource.com/c/sdk/+/86263

[2019-06-06 04:50] bwilkerson commented on #37151
https://dart-review.googlesource.com/c/sdk/+/105100

[2019-06-06 04:50] #37151 closed

[2019-06-06 06:28] DanTup commented on #37060
Excellent :-) If you do hit any other problems with the LSP server, do open issues here and I'll take a look :-)

[2019-06-06 06:42] sedem7 opened #37173 "SecurityContext with minimal protocol version"
We should be able to choose security protocol as strong as possible.
At present, there is line in runtime file: _https://github.com/dart-lang/sdk/blob/master/runtime/bin/security_context.cc_ which sets protocol to version TLS1.0.

(:825) **SSL_CTX_set_min_proto_version(ctx, TLS1_VERSION);** // cannot be changed from dart

Please, add option to choose minimal protocol version from Dart SecurityCont

[2019-06-06 06:58] DanTup commented on #36911
This may be unrelated to the `--observe` flag and just a more general issue, as a Flutter user is seeing it without any special flags (we've set exeptionPauseMode to Unhandled and it's breaking on an exception right inside a try/catch - also async):

https://github.com/flutter/flutter/issues/33427

[2019-06-06 07:05] DanTup commented on #36919
Aha, I didn't realise this had been fixed (looks like 14d09498b7830fba62816ec8db3ed9b58601b841 is the fix). In that case I'll close this and advise those seeing it to switch to a different branch in the meantime. Thanks!

[2019-06-06 07:05] #36919 closed

[2019-06-06 07:05] DanTup commented on #37148
It turns out this issue is fixed, but the fix hasn't made the Flutter stable channel. You could try switching to beta/dev as a short-term fix until the fix reaches stable.

[2019-06-06 07:13] stefantsov commented on #32223
Thanks for the ping, @noinskit.  I believe the issue is closed because the described functionality is implemented.  For example, the following bash session demonstrates a Dart program using const constructors in a subclass of anonymous mixin application:

[code]

[2019-06-06 08:20] ilyi1116 opened #37174 "NoSuchMethodError: The getter 'librarySource' was called on null from createExistingImportsNotification (Flutter SDK 1.6.8-pre.32)"
### What I was doing

just type import 'xxx'

### Versions

- Flutter SDK 1.6.8-pre.32
- Visual Studio Code 1.35.0
- Dart Code 3.1.0

### Analyzer Info

The analyzer was launched using the arguments:

[code]

### Exception

Failed to handle completion domain request: {id: 261, method: completion.getSuggestions, params: {file: /Users/tsaichengheng/Desktop/flutter/aams_video_play/lib/services/authen

[2019-06-06 08:39] dcharkes opened #37175 "[vm/ffi] Windows --use-slow-path corrupts argument"
One of the tests returned a different value on the CL which forces Dart FFI to be entering and exiting safe points through slow paths.

The root cause seems to be that one of the arguments got corrupted.
[code]

Should have been:
[code]

Full test result:
[code]

https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8911417336176888912/+/steps/test_results/0/logs/unapproved_ne

[2019-06-06 08:46] lrhn commented on #37171
This is the current expected behavior: `==` in constant expressions is restricted to basic types, and enums are not included in those.
You have to use `identical`.

[2019-06-06 09:17] dcharkes opened #37176 "[vm/ffi] SimDBC64 stack alignment"
If in SimDBC64 we are on the main thread, use the FFI to call C++, and we allocate Dart objects in C++, then the garbage collector crashes.

(Note that https://github.com/dart-lang/sdk/issues/37069 was crashing when the main Dart thread was exiting an FFI call and the background compiler tried to do an allocation. But that crash was fixed.)

Stack trace from debugger:

[code]

Test report:

[code]

[2019-06-06 09:37] dcharkes commented on #37176
The `-d0` call stack differs:

[code]

[2019-06-06 10:23] dcharkes commented on #37176
Stack is not aligned.

[2019-06-06 10:59] jensjoha commented on #36032
Temporary fix landed as 5eff2a0374cb89e335c138889c5125b48d12894d.

[2019-06-06 11:01] dcharkes commented on #37175
https://github.com/dart-lang/sdk/blob/master/runtime/vm/compiler/backend/il_x64.cc#L960-L966

[code]

This function might not properly preserve the stack and or registers:

https://github.com/dart-lang/sdk/blob/master/runtime/vm/compiler/assembler/assembler_x64.cc#L168

[code]

[2019-06-06 12:01] #37082 closed

[2019-06-06 12:31] stereotype441 opened #37177 "When run in build mode, analyzer examines pubspec.yaml file even if not supplied"
With the following directory structure:
[code]
Run the analyzer like so:
[code]
Observed result:
[code]
Expected result:
- No errors.

The reason there should be no errors has to do with the contract of build mode: when run in build mode, the analyzer must not examine any input file unless it was explicitly supplied on the command line.  So even though there is a pubspec.yaml file present, it shou

[2019-06-06 12:38] kmillikin commented on #36032
The warning should be disabled for compiling against an app that includes an outdated platform.  Somehow fixing the underlying issue is getting moved to the next Dart release.

[2019-06-06 12:42] dcharkes commented on #37175
It looks like the stub itself properly keeps the stack intact.

[code]

[code]

[2019-06-06 12:44] truongsinh commented on #6378
@munificent @lrhn  any recommendation for performance junkies?

[2019-06-06 12:46] sjindel-google commented on #37126
It looks like the tests for this feature, `vm/dart/v8_snapshot_profile_writer`, was disabled in https://dart-review.googlesource.com/c/sdk/+/95040, along with all `vm/dart` tests in precompiled mode.

[2019-06-06 12:49] sjindel-google opened #37178 "All vm/dart tests disabled in AOT"
In https://dart-review.googlesource.com/c/sdk/+/95040, all `vm/dart` tests were disabled in precompiled mode, presumably by accident. This appears to have led to the regression #37126

I'm working to restore the test coverage.

/cc @bkonyi @a-siva @mraleph

[2019-06-06 12:57] Nazacheres commented on #25551
Any progress on that? That is actually a huge issue that cuts out half of the cases where you can use the tool. I would like to add it to CI flow, however, I can't because there are some warnings in generated files.

[2019-06-06 13:28] sjindel-google commented on #37126
Besides our test being broken now, Chrome's snapshot format appears to have changed.

[2019-06-06 13:39] lrhn commented on #6378
For performance, I'd definitely go with:
[code]
If I could trust the compiler to optimize `Uint8List.from(listLiteral)`, then that would be nice. Until then I'd avoid the extra allocation and iteration.

Creating and populating a `Uint8List` increases code-size.
A const list may or may not increase code size or memory pressure, depending on how it's implemented.

Also consider:
[code]
:imp:

[2019-06-06 14:16] terrylucas commented on #36640
====================================
Run #1

Flutter test run w/o --track-widget-creation
cd flutter/packages/flutter
flutter test

inside of widget_inspector_test.dart the WidgetInspectorService's isWidgetCreationTracked() is false therefore this test is not compiled w/ track-widget-creation from the kernel transformer point of view.

====================================
Run #2

flutter test --tr

[2019-06-06 14:17] terrylucas commented on #36640
Aske seems like an issue with the CFE either race condition of some fixup of the in memory data is not the same until after a dill is generated.  The ** creationLocation doesn't exist first time test if run.

[2019-06-06 14:56] devoncarew commented on #37139
Hmm, I'm not sure what the best forum for this question is. Perhaps as an email to the discuss group (https://groups.google.com/a/dartlang.org/forum/#!forum/misc)?

cc @timsneath

[2019-06-06 14:59] devoncarew commented on #37156
cc @zanderso as the author of that line, and @rmacnak-google and @aam as recent contributors to the file

[2019-06-06 15:01] tp commented on #34018
I just ran into a similar issue:

[code]

It also seem to be related to the fact that `Route` (from Flutter) has a generic type argument.

Is this the same underlying issue or should I file a new one?

[2019-06-06 15:04] thosakwe opened #37179 "Stream<Y implements X> cannot be consumed by StreamConsumer<X>"
* Dart VM version: `2.3.2-dev.0.1 (Tue Jun 4 10:56:51 2019 +0200) on "macos_x64"`

It seems that in newer versions of Dart, if I have a `Stream<Uint8List>`, I cannot use it with a `StreamConsumer<List<int>>`. This worked in the past, and in my head makes sense - because `Uint8List` is a descendant of `List<int>`, anything that accepts a `List<int>` should accept a `Uint8List`.

I've included two e

[2019-06-06 15:20] srawlins commented on #34018
Sorry, @tp I think this is unrelated.

In your example, Route is unrelated to I, so you the programmer know that the type of `a`, inside your `if` body, is `Route & I`, but there is no concrete type that represents that intersection, so no type promotion is performed. I think https://github.com/dart-lang/sdk/issues/35314 is related to your request.

[2019-06-06 15:24] srawlins commented on #21530
Duplicate of https://github.com/dart-lang/sdk/issues/34480 which, while opened later, has more discussion and examples.

[2019-06-06 15:44] dcharkes commented on #37175
Stack just before executing the safepoint stub:

[code]

Looks like it enters a frame but does not exit?

[2019-06-06 15:49] robbecker-wf commented on #37018
I feel like a fix for this should be part of the D24 release. Do people agree?

[2019-06-06 15:53] #36723 closed

[2019-06-06 15:54] dcharkes commented on #37175
[code]

[2019-06-06 15:59] rmacnak-google commented on #37126
The snapshots can also be visualized with https://github.com/dart-lang/sdk/blob/master/runtime/tools/graphexplorer/graphexplorer.html

[2019-06-06 16:02] nshahan commented on #37018
I still can't repro this issue. Do you have a repro that uses angular_components and can you provide the version numbers of the packages you are using when you experience this error? I'd like to try and track down the root cause.

[2019-06-06 16:04] vsmenon commented on #37018
We haven't been able to repro, so I can't promise a fix.  Looking at the code, it's not clear how it's getting to the failure point.

If you can help us with a small, reliable repro, that would help!

Judging from the stack trace, it looks like a mixin application issue, but I cannot trigger anything from angular_components either.  Do you have anything "interesting" in your mixin usage?

Are you

[2019-06-06 16:05] zanderso commented on #37156
That seems reasonable to me. /cc @sortie

Various related issues:
https://github.com/dart-lang/sdk/issues/14467
https://github.com/dart-lang/sdk/issues/22036
https://github.com/dart-lang/sdk/issues/22037

[2019-06-06 16:07] terrylucas commented on #36640
Talked to Aske he suggested - ” Dmitry found a bug in the transformer which resulted in an invalid override.  It showed in connection with the new top-level type inference that he is working on landing, but it could have implications for the old one as well. Try patching in this CL (without its dependencies) and see if that changes anything: https://dart-review.googlesource.com/c/sdk/+/105245”.

I

[2019-06-06 16:07] tvolkert commented on #36930
fwiw, the version of Dart downloaded by the Flutter tool is cut at the exact same hash as the version of Dart that's compiled into the engine.  The fact that they report different product version numbers is a bug that we're working to fix, as Bob and Aadil say.

[2019-06-06 16:50] evanweible-wf commented on #37018
Working on a repro, interestingly enough extracting just the 3 files that were involved in the item_size_collection.dart file that fails to compile to their own package doesn't result in the same error, even with the same dart version and build_* pkg versions. I have to step out briefly but will keep messing with it in an hour and let you know if I have any luck.

[2019-06-06 16:52] vsmenon commented on #37018
Thanks, @evanweible-wf !

[2019-06-06 16:52] dcharkes opened #37180 "[vm/ffi] arm64 --use-slow-path crash"
[code]

https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8911388157230639968/+/steps/test_results/0/logs/tests_that_began_failing__logs_/0

[2019-06-06 17:08] aadilmaan commented on #35097
Leaf will do the necessary announce via emails groups once we have a release candidate for D24 but will close this issue for now as no engineering work remains.

[2019-06-06 17:08] #35097 closed

[2019-06-06 17:10] sjindel-google opened #37181 "vm/dart/data_uri_import_test/badencodeddate failing in AOT"
This test was disabled in https://dart-review.googlesource.com/c/sdk/+/95040, but now it's failing after being re-enabled.

See https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-precomp-linux-release-x64/5222

[2019-06-06 17:11] sjindel-google opened #37182 "vm/dart/data_uri_import_test/utf16 failing in AOT"
This test was disabled in https://dart-review.googlesource.com/c/sdk/+/95040, but now it's failing after being re-enabled.

See https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-precomp-linux-release-x64/5222

[2019-06-06 17:11] a-siva commented on #29456
CL where work on this is progressing https://dart-review.googlesource.com/c/sdk/+/103544

[2019-06-06 17:11] sjindel-google opened #37183 "vm/dart/v8_snapshot_profile_writer_test failing in AOT"
This test was disabled in https://dart-review.googlesource.com/c/sdk/+/95040, but now it's failing after being re-enabled.

See https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-precomp-linux-release-x64/5222

cc @bkonyi

[2019-06-06 17:18] sjindel-google commented on #37175
Is this related to https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-win-release-x64/5895?

[2019-06-06 17:18] eernstg commented on #37179
Consider the general case:

[code]

The reason why this fails is that `stream` has type `Stream<B>`, so `stream.pipe` accepts an argument of type `StreamConsumer<B>`, and there is no subtype relationship between this type and the given type `AConsumer`. (We do have `AConsumer <: StreamConsumer<A>` and `StreamConsumer<B> <: StreamConsumer<A>`, but that's an up-then-down-cast and that doesn't amount

[2019-06-06 17:23] sjindel-google commented on #37178
Fixed in https://dart-review.googlesource.com/c/sdk/+/105247

[2019-06-06 17:37] #37178 closed

[2019-06-06 17:37] boblaprade opened #37184 "Compiler Error"
Compiler message:
Warning: Tried to initialize from a previous compilation (build/app.dill.track.dill), but the file was not self-contained. This might be a bug.

[initialize_from.dill.gz](https://github.com/dart-lang/sdk/files/3262793/initialize_from.dill.gz)

[2019-06-06 17:37] sjindel-google opened #37185 "vm/dart/trigger_gc_in_native_test/* failing on Android in AOT"
This test was disabled in https://dart-review.googlesource.com/c/sdk/+/95040, but now it's failing after being re-enabled.

See https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8911384542933560432/+/steps/test_results/0/logs/tests_that_began_failing/0

[2019-06-06 17:55] aartbik commented on #36977
The assert happens for the last parameter in a catch block in X0::foo0_0(). All registers see the same range and, except for R1, an empty use interval. It blows up for R1, which already has a [1979, 1981) interval, which cannot be combined with [0, 2147483647).

[code]

[2019-06-06 17:57] eernstg commented on #37179
Again, the situation doesn't allow for making changes to `StreamConsumer`, but just to illustrate the idea here's the core structure of the example, adjusted to use a function type such that we get the desired variance:

[code]

In this case we have no problem passing an `AConsumer` to `Stream<B>.pipe`, because `AConsumer <: StreamConsumer<F<A>> <: StreamConsumer<F<B>>`.

[2019-06-06 18:01] #37179 closed

[2019-06-06 18:05] aartbik commented on #36977
@mkustermann would you mind having a look if something jumps out?

[2019-06-06 18:10] eernstg opened #37186 "Analyzer: Spurious `dynamic` claimed as type argument which is actually a function type"
Consider the following example:

[code]

With `dartanalyzer` from commit 3894b0896e02a0dc7c8437f556e74ef7cb509251 (as well as 2.3.2-dev.0.0) we get the following response:

[code]

This would make sense if line 12 had applied `D` to the actual type argument `dynamic`, but it actually applies it as `D<void Function(C<A>)>`, and that's a regular-bounded parameterized type (`void Function(C<A>) <: vo

[2019-06-06 18:13] rmacnak-google commented on #37173
@sortie

[2019-06-06 18:29] #57968 closed

[2019-06-06 18:43] danrubel commented on #36875
This is addressed by
* [Remove --list and display fixes as part of --help](https://github.com/dart-lang/sdk/issues/36875)
* [Cleanup list of fixes in dartfix help text](https://dart-review.googlesource.com/c/sdk/+/105322)

Now, either `dartfix` or `dartfix --help` will display the following text...
[code]

[2019-06-06 19:44] evanweible-wf commented on #37018
@vsmenon here's the smallest repro I could come up with:
https://github.com/evanweible-wf/repro_dart_ddc_range_error

It's somehow related to the `package:collection/collection.dart` import even though it's unused 🤷‍♂

[2019-06-06 19:48] jakemac53 commented on #37018
Awesome, I can reproduce it using those instructions.

[2019-06-06 19:54] #37183 closed

[2019-06-06 20:13] aartbik commented on #36880
With the dust of lazy constant reading settling down, I have started to look into this in more details. I have a few ideas on how to improve this.

[2019-06-06 20:17] devoncarew commented on #37165
cc @stereotype441 for triage

[2019-06-06 20:18] devoncarew commented on #37166
Can you add a stack trace to help illustrate the issue?

[2019-06-06 20:21] devoncarew commented on #37169
Thanks for the feedback! We've received several reports like this one; closing as a dupe.

[2019-06-06 20:21] #37169 closed

[2019-06-06 20:26] devoncarew commented on #37184
Thanks for the report! Closing as a dupe (we've received several reports of this).

[2019-06-06 20:28] #37184 closed

[2019-06-06 20:29] evanweible-wf commented on #37018
@jakemac53 I just pushed another commit with slightly smaller repro source.

[2019-06-06 20:30] devoncarew commented on #37168
closing as a dup of https://github.com/dart-lang/sdk/issues/36032

[2019-06-06 20:30] #37168 closed

[2019-06-06 20:32] devoncarew commented on #37171
Thanks for the report! Closing as working as intended. @stereotype441 to confirm and re-open if we believe this is an issue

[2019-06-06 20:32] #37171 closed

[2019-06-06 20:38] jakemac53 commented on #37018
I sent out https://dart-review.googlesource.com/c/sdk/+/105340 which just swallows the error, from what I understand that is fine to do in this case (although we should figure out the root cause of these problems).

This does resolve the issues in the repro case for me.

[2019-06-06 21:32] aartbik commented on #36880
Here are numbers on my desktop, just for future comparison.
[code]

[2019-06-06 21:36] #36630 closed

[2019-06-06 22:09] sjindel-google commented on #37126
Here are updated snapshots:

[Archive.zip](https://github.com/dart-lang/sdk/files/3263687/Archive.zip)

The comparison view in Chrome DevTools shows that, among other things, there are a lot of `Function`s being retained now -- although there is only one more `Instructions` than before. I'll keep digging.

[2019-06-06 22:26] ViciousVisions opened #37187 "Stdout class: blocking or non-blocking (documentation)"
Stdout class - https://api.dartlang.org/stable/2.3.1/dart-io/Stdout-class.html

The documentation states that writing will block:
"It provides a blocking IOSink, so using this to write will block until the output is written."

But the Stdout methods all state "This operation is non-blocking."
write - https://api.dartlang.org/stable/2.3.1/dart-io/Stdout/write.html
writeAll - https://api.dartlang.or

[2019-06-06 22:36] aam opened #37188 "dart/transferable_throws_test is skipped on asan bot due to oom handling"
Refactor or fix the test to maximize things that can be run on asan bot.

[2019-06-07 00:04] Markzipan commented on #28422
I have a really old CL that uses JS async/await + future/promise adapters. However, it results in some pretty annoying timing issues. Consider the following example:

[code]
Using JS promises, we get
[code]

Dart executes futures synchronously until the first asynchronous action (e.g., await). However, even though JS does something similar with its promises, the fact that Dart maintains an in-memo

[2019-06-07 01:52] uaex commented on #37166
`Cookie.fromSetCookieValue("urlgen=\"{\\\"abcdef\\\":123456}\"");`
Stack:
[VERBOSE-2:ui_dart_state.cc(148)] Unhandled Exception: FormatException: Invalid character in cookie value, code unit: '92'
#0      _Cookie._validate (dart:_http/http_headers.dart:999:9)
#1      _Cookie._parseSetCookieValue (dart:_http/http_headers.dart:933:5)
#2      new _Cookie.fromSetCookieValue (dart:_http/http_headers.da

[2019-06-07 04:23] thosakwe commented on #37179
Thanks for the response! Seems like I'll have some reading to do...

Appreciate it.

[2019-06-07 05:12] PembaTamang opened #37189 "The code runs on an emulator but not on a real device"
The code only runs on the emulator and not on a real device, even the sample code.
I have detailed that issue on [stackover flow](https://stackoverflow.com/questions/56476678/flutter-running-on-emulator-not-running-on-real-device)

Right now the VS ide prompted me to send me this error with the following file
[initialize_from.dill.gz](https://github.com/dart-lang/sdk/files/3264477/initialize_from.

[2019-06-07 06:09] vphriang1 commented on #36481
flutter clean solved my issue too.

[2019-06-07 07:44] dcharkes commented on #37175
Yes, I approved that failure right?

[2019-06-07 07:50] eernstg commented on #37179
Thanks!

[2019-06-07 09:00] denniskaselow opened #37190 "window.navigator.getGamepads() fails on Firefox and Edge when using ddc and breaks every Iterable used afterwards"
_EDIT_: See https://github.com/dart-lang/sdk/issues/37190#issuecomment-499892026, getGamepads() ruins every iterable.

I have this code:

[code]

which I compile using `pub serve build_runner serve` and using `dartdevc` as the compiler. When I open the page in Firefox, the following is logged (It does not matter if a gamepad is connected or not):

[code]

When I set the breakpoint @`DartError dart

[2019-06-07 09:01] mkustermann commented on #37144
The CL which is up for review wants to `dart/entrypoints/jit: Skip`. This would make our checked/unchecked entrypoint functionality untested. It was introduced to bypass Dart 2.0 type checks on function entry if it's safe, which gave - as far as I've been told - significant performance improvements.

Can you elaborate why exactly they will be skipped and if there's a plan to enable them again?

[2019-06-07 09:25] askeksa-google commented on #36640
@stefantsov's transformer fix has now landed i the SDK, so it should be sufficient to just use the newest SDK head to test it against the Flutter change.

[2019-06-07 09:27] denniskaselow opened #37191 "Display exception messages in the console of all browsers"
At the moment, if there is an uncaught exception somewhere in the code (like `throw Exception('This is a error message');`), only Chrome displays the actual error message in the console. Firefox only writes `Error:` (dart2js and dartdevc). Edge displays a similar helpful: `SCRIPT16389: SCRIPT16389: Unspecified error.` (with dart2js) or even less useful `SCRIPT16389:` with dartdevc.

The actual mes

[2019-06-07 09:55] sortie commented on #37156
Mode 666 (octal) is generally a reasonable permission parameter to the open(2) system call because of a concept called the [process umask](https://en.wikipedia.org/wiki/Umask) on Unix systems. The umask is normally set to something like 022 or 027, and it removes bits from newly created files. For instance, if you have umask 027 and call the open("foo", O_WRITE | O_CREAT, 0666) system call, then i

[2019-06-07 10:47] sortie commented on #37173
Hmm. That's not good enough.

[Wikipedia](https://en.wikipedia.org/wiki/Transport_Layer_Security#TLS_1.0)  says "In October 2018, Apple, Google, Microsoft, and Mozilla jointly announced they would deprecate TLS 1.0 and 1.1 in March 2020.[11]" so we should think about that as well.

I'll need some time to understand this code a bit better and what incompatibilities/breaking changes might occur if w

[2019-06-07 11:07] dcharkes commented on #37180
cause: https://github.com/dart-lang/sdk/commit/e1a7ef52afbbf4d8978508aa9bec554e88866a21

It's during slow the safepoint exit that the crash happens, commenting out the use slow path flag stops the crash.

[code]

Using the slow path for entering safepoint is fine. What is different between entering and exiting safepoint?

[2019-06-07 11:43] sjindel-google commented on #37175
I didn't know you approved it -- I thought it was a flaky crash.

[2019-06-07 11:44] sedem7 commented on #37173
Just as info.
We have following piece of code (sample), which worked well, until June this year, when specification for web service had changed, and now is only allowed to use TLS1.2 protocol. This had led us to error SSLV3_ALERT_HANDSHAKE_FAILURE(tls_record.cc:586).
[code]
Since project is Flutter based, we quickly turn to Platform channel options, and at the moment we are calling native solution

[2019-06-07 11:49] sortie opened #37192 "[Breaking Change Request] Requiring Cookie name and value to be valid"
# Intended change

1) The `Cookie` constructor is changed from

[code]

   to

[code]

2) The `Cookie.name` and `Cookie.value` setters now validate the name and values are valid according to RFC 6265 and cannot be null.

# Rationale

The `Cookie()` constructor originally allowed a null name and value, however the Dart 1.3.0 release (2014) introduced a bug that meant the `name` and `value` paramete

[2019-06-07 11:53] dcharkes commented on #37180
Hm, this slow path should have never worked before.

[code]

`TMP` should have been `addr`.

[code]

But fixing that still hits a seg fault.

[2019-06-07 12:33] dcharkes commented on #37175
This was a build before the fix landed.

[2019-06-07 12:33] #37175 closed

[2019-06-07 12:36] sjindel-google commented on #37175
Still waiting on the regression test: https://dart-review.googlesource.com/c/sdk/+/105301

[2019-06-07 12:37] denniskaselow commented on #37190
Okay, this one is driving me nuts. I've downgraded to Dart 2.3.0 and Firefox 67 and it still didn't run, but when I switched some lines of code, it suddenly run (even on current Dart 2.3.1 and Firefox 68 and Edge).

So, this code does not run on Firefox and Edge:
[code]

and outputs:
[code]

but this code runs just fine on Chrome, Firefox and Edge (the only change is that I moved the `getGamepads(

[2019-06-07 12:40] #35761 closed

[2019-06-07 12:41] sjindel-google commented on #35761
Done on all native platforms in JIT mode. I filed a separate issue for DBC, since we've de-prioritized it.

[2019-06-07 12:42] sjindel-google commented on #37180
Flutter has a script for running GDB on the phone:

https://github.com/flutter/engine/blob/master/sky/tools/flutter_gdb

[2019-06-07 12:48] sortie commented on #34158
We should prioritize this fix. We added a workaround it in the infrastructure a while back, but the workaround has backfired, and it has become eternally red because approvals aren't working correctly. I'm going to remove the hack so it continues to be red, but now for the right reason. It's pretty bad that our Firefox testing has been broken for so long.

[2019-06-07 13:29] sortie commented on #37157
What's the difference between this issue and <https://github.com/dart-lang/sdk/issues/37173>?

[2019-06-07 13:35] sedem7 commented on #37173
None, I was afraid I raised “bad” question. This was before I deep dive into Dart source code to find reason of the problem.

[2019-06-07 13:37] sedem7 commented on #37173
None, I was afraid I raised “bad” question. This was before I deep dive into Dart source code to find reason of the problem.

[2019-06-07 13:40] sortie commented on #36997
Do you have a link to the discussion with package http?

[2019-06-07 13:44] sortie commented on #36871
Hi @csmpv,

Can you produce a full program that reproduces the issue? That would be very helpful.

You omitted some of the information requested by the bug template. What Dart SDK version and operating system (+ version) are you using? That would help me a lot in tracking it down, since it could well be a platform specific bug.

[2019-06-07 13:46] sedem7 commented on #37157
Same as #37173

[2019-06-07 13:46] #37157 closed

[2019-06-07 13:49] denniskaselow commented on #37190
Okay, it's not me who is going nuts, it's `window.navigator.getGamepads()` that's gone totally bonkers in ddc on Firefox and Edge.

This simple program which doesn't even interact with the gamepads just fails spectacularly:

[code]

It's the same exception as above with a similar stacktrace. Somehow `getGamepads()` turns all lists into lists of gamepads.

In the `dart_sdk.js` of the `add` method i

[2019-06-07 14:08] csmpv commented on #36871
Hi @sortie,

Unfortunately I don't have the source code anymore. But here are some details:
- Dart SDK 2.3.0
- Windows 7 server app (using Windows TCP sockets)
- Android 6.0 client

My server would close and destroy the socket after send.

After trying multiple fixes, I added a disconnect() call on server before closing the socket. And this solved a lot of problems. Most likely makes the socket wa

[2019-06-07 14:11] sortie commented on #36871
Sounds like you were destroying the socket on the server side before it was done transmitting. That could explain the truncated results.

Without a reproduction, I don't think there's more I can do right now.

[2019-06-07 14:11] #36871 closed

[2019-06-07 14:38] jakemac53 opened #37193 "Investigate cause of DDC source map errors and stop swallowing them"
See https://dart-review.googlesource.com/c/sdk/+/105340, and the other error we catch right above that.

[2019-06-07 15:04] #29436 closed

[2019-06-07 15:10] vsmenon commented on #37193
I suspect this is related to one or more of:
- Scrubbing source info from outlines
- The SDK dill being a full dill, not an outline
- SDK source maps in a state of flux

We should revisit once that all settles down.

[2019-06-07 15:16] bwilkerson commented on #37165
https://dart-review.googlesource.com/c/sdk/+/105349

[2019-06-07 15:16] #37165 closed

[2019-06-07 15:17] bwilkerson opened #37194 "Can't create a decorated type for a type parameter"
Adding the following test case to `_ProvisionalApiTestCases`
[code]
will cause the following exception to be thrown
[code]

[2019-06-07 15:28] aadilmaan commented on #37192
@Hixie @matanlurey @dgrove for review and approval.

[2019-06-07 15:31] evanweible-wf commented on #37018
Thanks for the quick turnaround @jakemac53! Since this has landed in master does that mean it will make it into the 2.4 release?

[2019-06-07 15:36] vsmenon commented on #37018
Yes, we haven't cut a branch for that yet.

[2019-06-07 15:36] bwilkerson opened #37195 "Should use the inferred type when no type annotation is provided for local variables"
The following test in `_ProvisionalApiTestCases`
[code]
produces the following exception
[code]

[2019-06-07 15:36] vsmenon commented on #37018
Closing this - @jakemac53 opened this for further investigation / cleanup:

https://github.com/dart-lang/sdk/issues/37193

[2019-06-07 15:36] #37018 closed

[2019-06-07 15:42] bwilkerson opened #37196 "Missing support for constructor declarations"
The following test in `_ProvisionalApiTestCases`
[code]
produces the following exception
[code]

[2019-06-07 16:04] bwilkerson opened #37197 "Missing support for function typed parameters"
The following test in `_ProvisionalApiTestCases`
[code]
produces the following exception
[code]

[2019-06-07 16:17] dgrove commented on #37192
LGTM

[2019-06-07 16:34] dnfield commented on #36935
Someone with more knowledge of boring SSL than I says this isn't reproducing in Boring SSL and is probably a problem with the way Dart holds it.

It's not obvious to me what's wrong right now, but I'll try to poke at it a little more when I have time.

[2019-06-07 16:56] dcharkes commented on #36334
Why did we move this back to Flutter MVP?

[2019-06-07 16:56] dcharkes commented on #36730
Why did we move this back to Flutter MVP?

[2019-06-07 17:00] komapeb opened #37198 "Type of resulting List from List.unmodifiable() is not inferred"
Behavior:

[code]

Expected behavior is that `list2` infers the type of `list1`.

I guess this also applies to other `Iterable`s that have an `unmodifiable` constructor.

[2019-06-07 17:51] eernstg commented on #37198
Type inference in Dart gives a high priority to the context type (that's the type of the "target" of an expression, e.g., the variable that it is initializing or the parameter that it's passed to, etc), which means that you get a `List<dynamic>` when you invoke the constructor `List.unmodifiable`, because you haven't given any hints about what you want.

You can use `List<int> list2 = List.unmodif

[2019-06-07 17:52] eernstg commented on #37198
This is all working as intended, so I'll close the issue.

[2019-06-07 17:52] #37198 closed

[2019-06-07 17:57] MichaelRFairhurst commented on #36957
I don't think the runtime behavior leads to clear static rules, and that both should be specified separately rather than one inferred from the other, in cases like this.

For instance, this:

[code]

makes me think that there is no compile time error when `$T$` is `Null`.

[2019-06-07 17:57] bkonyi opened #37199 "Create public service protocol RPCs for functionality used by tooling"
The following private service protocol RPCs are being used by tooling other than Observatory. We need to either make these RPCs public or create public implementations which do not expose information about the VM implementation.

- [x] `_clearVMTimeline` ([CL here](https://dart-review.googlesource.com/c/sdk/+/106061))
- [x] `_clearCpuProfile`
- [x] `_getInstances` ([CL here](https://dart-review.go

[2019-06-07 17:58] bkonyi commented on #37199
@DanTup, you don't happen to be using any private RPCs in the VSCode extension, do you?

[2019-06-07 18:04] eernstg commented on #36957
The rule that `It is a compile-time error if $T$ is not assignable to \code{Iterable<dynamic>}` is an _extra_ constraint, and we still have the general rule [here](https://github.com/dart-lang/language/blob/b3fe5c564ca91174cc0b62e257d0679fd37d6c90/specification/dartLangSpec.tex#L472) specifying that errors in desugared code are taken into account (even though the error _message_ should of course n

[2019-06-07 18:28] komapeb commented on #37198
`List<SomeType>.unmodifiable(...)` makes so much sense, how could've I missed that. Thanks for the explanation.

[2019-06-07 18:32] aadilmaan commented on #36640
I presume Terry will verify this transformer fix.

[2019-06-07 19:31] goderbauer opened #37200 "Analyzer: Inconsistent "A value of type 'T' can't be assigned to a variable of type 'Bar'" error"
I believe the analyzer is incorrectly complaining about the `Bar bar = foo;` in the following example:

[code]

Run this code in DartPad: https://dartpad.dartlang.org/f592851238ef5d648100d1b97bf4b9d1

[2019-06-07 20:03] #37182 closed

[2019-06-07 20:03] #37181 closed

[2019-06-07 20:03] #37185 closed

[2019-06-07 20:18] terrylucas commented on #36640
Tried Dmitry's Dart [PR](https://github.com/dart-lang/sdk/commit/40ef0c6d9f) re-built the flutter engine This didn't fix the problem same results.  Sent mail to Aske on other suggestions or areas where I should look?  I’ll drill into Widget Inspector Transformer in kernel to see if I can locate the problem.

[2019-06-07 20:28] mdempsky opened #37201 "Inconsistent *_TEST_CASE usage"
In vm/unit_test.h, there's:

    // The VM_UNIT_TEST_CASE macro is used for tests that do not need any
    // default isolate or zone functionality.

    // The UNIT_TEST_CASE macro is used for tests that do not require any
    // functionality provided by the VM. Tests declared using this macro will be run
    // after the VM is cleaned up.

    // The ISOLATE_UNIT_TEST_CASE macro is used for tes

[2019-06-07 20:30] devoncarew commented on #37190
I believe that DDC (the development compiler) is only tested against Chrome. dart2js (the release mode compiler) is tested against the major evergreen browsers.

cc @vsmenon

[2019-06-07 20:35] devoncarew commented on #37139
@netroby, thanks for the feedback!

I'm going to close this issue, but feel free to ask your question on above discussion group.

[2019-06-07 20:35] #37139 closed

[2019-06-07 20:52] vsmenon commented on #37190
Thanks for the simplified repro!

As @devoncarew said, we're only officially supporting (i.e., testing against) Chrome for ddc/debugging.  We plan to expand that eventually.

@terrylucas

I suspect the problem is here:

https://github.com/dart-lang/sdk/blob/master/tools/dom/templates/html/impl/impl_Navigator.darttemplate#L18

We're tagging the object/prototype as a `GamepadList`, but that type is

[2019-06-07 20:54] dnfield commented on #36935
From what I can tell, all our calls to SSL_new are paired with an SSL_free, and even after the SSL_free we're leaking.  I'm not sure what else I can do here - it would really help probably sit with someone from BSSL or more familiar with BSSL on this.

For what it's worth, I am able to reproduce this on a local macOS VM build without using Flutter now.

[2019-06-07 20:57] mraleph commented on #37164
[code]

I think you meant

[code]

or maybe

[code]

?

[2019-06-07 21:01] nailgilaziev commented on #33379
hi all! after one year now any changes on this issue?
this issue is affected seriously on app's that uses ws!
for example simple chat app and simple use case:
You connected to a ws chat server to listen incoming data and doesn't send any data yet to upstream.
You listening for a new downstream data and at that time network is down. and because of this issue your app never know about it(network dow

[2019-06-07 21:06] bwilkerson opened #37202 "Missing support for named function typed parameters"
Possibly a duplicate of #37197.

The following test in `_ProvisionalApiTestCases`
[code]
produces the following exception
[code]

[2019-06-07 21:13] #37153 closed

[2019-06-07 21:14] DanTup commented on #37199
We subscribe to the _Service stream to get ServiceRegistered events (to see if things like hot reload are supported). I don't think there's anything else though.

[2019-06-07 21:17] aartbik commented on #36880
I have a new heuristics that improves the bookkeeping of inlining statistics for specialized vs. non-specialized cases (based on constant arguments), together with extra constant folding to make the specialization more effective. With this, we get:

[code]

Golem results and flutter gallery code size measurements to follow!

[2019-06-07 21:47] vsmenon commented on #37117
We should just remove this in favor of calling dartdevc directly from GN.

fyi @jonahwilliams - looks like flutter is using a copy of this.

[2019-06-07 21:48] natebosch commented on #30937
If you need a `Future` representing the end of the stream without listening you can use `.drain()`.  https://api.dartlang.org/stable/2.3.1/dart-async/Stream/drain.html

If you need to listen and want to handle the completion and error as a `Future` (rather than with the `onError` and `onDone` callbacks`, you'd structure something like

[code]

[2019-06-07 21:51] sigmundch commented on #37117
agree - and use the GN compile_platform macro to generate the sdk outline that we want to ship externally.

FWIW, the fix to stop hiding the error in kernel_sdk might be pretty small and might be worth doing anyways before we migrate things.

[2019-06-07 21:54] jonahwilliams commented on #37117
Just point me to the replacement and I can make sure that rolls into the engine correctly.

[2019-06-07 22:08] sigmundch commented on #37117
Two CLs are out for review.
* https://dart-review.googlesource.com/c/sdk/+/105404 - a fix for the ddc sdk (it currently has errors)
* https://dart-review.googlesource.com/c/sdk/+/105461 makes kernel_sdk exit with a non-zero status if an error was encountered.

I'm guessing the former will roll automatically, but if you have a copy of kernel_sdk.dart, the latter CL will need to be copied on your en

[2019-06-07 22:25] sigmundch commented on #37117
@vsmenon - in case it is helpful, I found this very old CL around: https://dart-review.googlesource.com/c/sdk/+/56297/

That CL did 3 changes, 2 of which are no longer relevant:
 * it moved the libraries.json files (that has already landed separately)
 * it split kernel_sdk to only produce the .js files and not the .dill
 * moved generation of the .dill to GN

My guess is that you'll drop the chan

[2019-06-07 23:11] mdempsky commented on #37154
I believe this memory leak is from here:

https://github.com/dart-lang/sdk/blob/586e05e415dce012c48e82d83b45dbccae3bcd05/runtime/vm/unit_test.cc#L672-L688

In particular, that kernel_bytes is never freed. When I add `free(const_cast<uint8_t*>(kernel_bytes));` after the call to `lib.EvaluateCompiledExpression`, the LeakSanitizer warning goes away.

[2019-06-07 23:14] mdempsky commented on #37154
As an aside, this is the sort of error that smart pointers (e.g., [CL 101740](https://dart-review.googlesource.com/c/sdk/+/101740)) are designed to prevent.

[2019-06-07 23:31] aam commented on #36097
transferable typeddata landed in https://dart-review.googlesource.com/c/sdk/+/99623

[2019-06-07 23:54] dmvvilela commented on #30937
Yeah, i did it with callbacks. I guess you can use completers too right? I still dont know what asFuture() does though..

[2019-06-08 00:20] #37154 closed

[2019-06-08 01:02] drbcode opened #37203 ""dart:html" does not provide window.prompt() method"

[2019-06-08 23:31] JastAir opened #37204 "Error"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-183.4886.37`
- `2.3.0-edge.a1668566e563aef64025d0af88a099cbbe847b7e`
- `IU-183.4886.37, JRE 1.8.0_152-release-1343-b26x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.5, screens 1440x900, 1920x1080  Retina`

# Exception

Please append the contents of:
file:///private/var/folders/09/ktq4zlh92750f4bgz4hrt20h0000gn/T/report.txt

[code]

[2019-06-09 08:29] NitinSharma639 opened #37205 "Not able to run on android device."
Hello I am not able run my code have a look at stack trace. It shows me some error related to dart. Please help me solve this.

[code]

[2019-06-09 11:21] jonas-jonas opened #37206 "Analysis Server: worspace/symbol raises an error if the query field is not present"
Hi,

while integrating the dart analysis server into our eclipse plugin I noticed an error being raised by the analysis server. [Particularly the error is raised by the `workspace/symbol` handler](https://github.com/dart-lang/sdk/blob/fca2c82be074a2355ac58271a2f4cb2c772299da/pkg/analysis_server/lib/src/lsp/handlers/handler_workspace_symbols.dart#L31).

[code]

The problem seems to be that the ecli

[2019-06-09 14:17] bwilkerson commented on #37206
@DanTup

[2019-06-09 15:19] MahdiPishguy opened #37207 "Dart make a singletone from class witch that contains async without using async and await outside"
i'm trying to make a singleton class from MyDatabase with default constructor to access to `getUserDao` on this class, implemented code work fine but i have some other issue with that as

 1. i have to use `async` and `await` in outside of class
 2. i have to use that
    only on `main` function because main method should be async

for example:

my singleton class:

    class MydbModel {
      Use

[2019-06-09 20:04] DanTup commented on #37206
@jonas-jonas I think the request here is incorrect. Looking at the spec, the `query` field is not optional:

https://microsoft.github.io/language-server-protocol/specification#workspace_symbol

To be optional it must have a `?` on the end of the name, or `| undefined` or `| null` in the definition. I believe the fix is for your LSP client to send an empty string for `query` for this request. I kno

[2019-06-09 22:06] devoncarew commented on #37203
MDN docs here: https://developer.mozilla.org/en-US/docs/Web/API/Window/prompt

[2019-06-09 22:07] devoncarew commented on #37204
Thanks for the report! Marking as a duplicate of https://github.com/dart-lang/sdk/issues/37058.

[2019-06-09 22:07] #37204 closed

[2019-06-09 22:09] devoncarew commented on #37205
You may want to try deleting your `build/` dir (`flutter clean`).

Closing as a dup of https://github.com/dart-lang/sdk/issues/36032.

[2019-06-09 22:09] #37205 closed

[2019-06-09 22:11] devoncarew commented on #37207
@MahdiPishguy, thanks for the issue. This issue tracker isn't a great place for questions about how to model your app. I'd try on stack overflow, on the flutter gitter channel, or on the flutter-dev@ email group.

[2019-06-09 22:11] #37207 closed

[2019-06-09 22:42] ethanblake4 commented on #35761
This doesn't work if the callback returns void (causes a segfault)

[2019-06-10 02:47] liamappelbe opened #37208 "[vm] Profiler_StringInterpolation is failing"
Profiler_StringInterpolation is failing due to https://dart-review.googlesource.com/c/sdk/+/104286. I pre-approved the failure and submitted anyway because I couldn't figure out what was causing the failure, and it doesn't seem too bad (other profiler tests are passing, and string interpolation is working).

Also lib_2/isolate/mandel_isolate_test is timing out.

Details from the approval script:

[2019-06-10 04:07] loongliu commented on #37156
Actually, android set umask 0777.
I checked four different devices, the created file model is 600, looks good.
Seems I should close this issue.

Our security checker reported me an issue that they found the created file mode is 666, on Nexus 5, Android 5.1.1.  I will check the security checker running environment, to find where the problem happened.

[2019-06-10 04:07] #37156 closed

[2019-06-10 04:07] loongliu commented on #37156
http://androidxref.com/5.0.0_r2/xref/frameworks/base/core/java/com/android/internal/os/ZygoteInit.java#501
provide the source code for setting umask, if anyone needed.

[2019-06-10 08:10] DanTup commented on #36790
Is this a dupe of #36890 and fixed, or something else?

[2019-06-10 08:43] duzenko opened #37209 "VSCode crash"
Please review the below report for any information you do not wish to share and report to
  https://github.com/dart-lang/sdk/issues/new

Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

Opened the flutter plugins repo in VS code

### Request

While responding to request: `analysis.setAnalysisRoots`

### Versions

- Flutter SDK 1.5.4-hotfix.2
- Visual Studio C

[2019-06-10 10:19] jonas-jonas commented on #37206
Hi @DanTup,

thanks for the quick reply. I was aware of the discussion about the optionality of the `query` fields contents. The developers of LSP4E also raised an issue with microsoft about this: https://github.com/Microsoft/language-server-protocol/issues/740

Though as I said, LSP4E uses the same abstraction for all language servers and seems to always send the request without the `query` field

[2019-06-10 10:41] DanTup commented on #37206
On the surface it does seem like a reasonable request for us to just support this field not being present...

However! The code that does all of the deserialisation and validation is code-gen'd from the spec. This means making one-off tweaks isn't just a case of modifying a bit of code, we'd have to override the generated types. We do this in some places (mainly to make them fit better with Dart -

[2019-06-10 10:58] jonas-jonas commented on #37206
Alright, I raised the issue with the maintainers of the client and opened a PR to fix the issue. Closing.

[2019-06-10 10:58] #37206 closed

[2019-06-10 11:10] DanTup commented on #37206
Great - do let me know if you have any issues getting a solution. I'll let you know if I get a response on my PR that's anything other than confirming what we suspect. Thanks!

[2019-06-10 14:49] eernstg commented on #37200
This is working as intended: The type of `foo` is not promoted in `if (foo is Bar) ...` because `foo` is an instance variable (and they are never promoted, that only applies to local variables, which includes formal parameters).

This means that the type check on the initialization of `bar` is whether `T` is assignable to `Bar`. It isn't, because `T` and `Bar` are simply unrelated types (we only k

[2019-06-10 14:49] #37200 closed

[2019-06-10 15:49] grouma commented on #28422
Note that this change would help us to provide zero-cost async stack traces in Chrome:
https://docs.google.com/document/d/13Sy_kBIJGP0XT34V1CV3nkWya4TwYx9L3Yv45LdGB6Q/edit

With those, we likely can resolve:
https://github.com/dart-lang/test/issues/1031

[2019-06-10 15:54] devoncarew commented on #37209
Thanks for the report! This issue has been addressed in the flutter master channel, and will make it's way through to the next stable release.

@aadilmaan @kf6gpe - we're seeing several reports of this issue - fixed a month ago or more on dart-lang/sdk master. This would be a good candidate for a cherry-pick into flutter stable. I'm not sure of the maturity of that process - if cherry-picking is r

[2019-06-10 15:54] #37209 closed

[2019-06-10 16:01] zanderso opened #37210 "Use alignment flags to zx_vmar_map() on Fuchsia"
On Fuchsia, `zx_vmar_allocate` and `zx_vmar_map` have been updated to accept flags indicating the desired alignment:

https://fuchsia.googlesource.com/fuchsia/+/refs/heads/master/zircon/docs/syscalls/vmar_allocate.md
https://fuchsia.googlesource.com/fuchsia/+/refs/heads/master/zircon/docs/syscalls/vmar_map.md

The alignment flags should be used by VirtualMemory::AllocateAligned() in virtual_memory

[2019-06-10 16:02] zanderso commented on #37210
/cc @crelier @rmacnak-google @a-siva

[2019-06-10 16:07] DanTup opened #37211 "includedSuggestionSets contains duplicates"
I noticed I was seeing dupes in the completion list, and it seems like the server can include suggestion sets multiple times in a completion response.

The libraries here are all in my local workspace alongside the `workfile.dart` file.

[code]

Source project is like:

lib/proxy1.dart
[code]

lib/proxy2.dart
[code]

lib/real_def.dart
[code]

lib/workfile.dart
[code]

pubspec.yaml
[code]

I use us

[2019-06-10 16:42] natebosch commented on #30937
It's what allowed me to use the `try/catch` and to put `performOnDone();` as the next statement after an `await` rather than having to put it in `onError` and `onDone` respectively.

[2019-06-10 16:45] bwilkerson opened #37212 "Missing support for generic function types"
The following test in `_ProvisionalApiTestCases`
[code]
produces the following exception
[code]

[2019-06-10 16:49] bwilkerson opened #37213 "Generic types are expected to have type arguments"
The following test in `_ProvisionalApiTestCases`
[code]
produces the following exception
[code]

[2019-06-10 18:04] bwilkerson opened #37214 "Top-level getters don't have parameters, leading to an NPE"
The following test in `_ProvisionalApiTestCases`
[code]
produces the following exception
[code]

[2019-06-10 18:42] crelier commented on #37210
I am afraid the new alignment flags do not help us, since they offer an alignment up to 8K only. The Dart heap requires an alignment of 256K (heap page size).

[2019-06-10 18:46] dgstevens commented on #37210
The flags support all powers of 2 up to 4GB. For dart, seems like you'd want ZX_VM_ALIGN_256KB.

[2019-06-10 18:49] crelier commented on #37210
I see. The string "and continues up to" was actually not a typo :-)
I'll take care of it. Thanks.

[2019-06-10 19:51] komapeb commented on #33764
ICMP would be super useful for a current project of mine.

[2019-06-10 20:22] a-siva commented on #27369
The Dart2JSCompileAll benchmark has been reworded to use a dill file and does not need a way of resolving package root.

[2019-06-10 20:22] #27369 closed

[2019-06-10 20:30] #37212 closed

[2019-06-10 20:36] bwilkerson commented on #37214
https://dart-review.googlesource.com/c/sdk/+/105469

[2019-06-10 20:36] #37214 closed

[2019-06-10 20:43] sigmundch opened #37215 "address dart2js code-size regression when enabling cfe constants"
It appears that turning on CFE constants also affects the SSA inlining decisions and as a result  some internal apps get bigger (~ 0.7%).

We need to investigate this and see if it is a small fix (e.g. tweak heuristics that are now affected by the flag change), but the impact is large enough that I'd consider this a blocker before we turn on the flag.

/cc @rakudrama @johnniwinther @vsmenon

[2019-06-10 21:03] sjindel-google commented on #35761
@ethanblake4 Could you please share the code you're using? We have tests for exactly that case.

[2019-06-10 21:40] sjindel-google opened #37216 "[vm/ffi] Support passing FFI functions between isolates"
Currently only static methods can be sent between isolates (of the same source).

We should extend this support to FFI functions, since they don't capture any objects. This would make it easier to delegate responsibility for running native methods to background isolates.

[2019-06-10 21:43] aartbik commented on #36880
My pending CL sees a few failures.

[code]

which is due to the following assert:

`     ASSERT(!first_stack_overflow_instr->in_loop());`

I actually don't think the CL is at fault in itself, but it at least exposes something to due the change in inline heuristics. Regardless, this needs to be fixed before proceeding.

@alexmarkov @mkustermann @mraleph

[2019-06-10 22:06] MichaelRFairhurst opened #37217 "Server: plugin_manager kills plugins when can't resolve the package"
If I have a package which loads a third party package as a plugin, and a subpackage which does not reference the third party package, then the plugin crashes.

`my_project/analysis_options.yaml`
[code]

`my_project/pubspec.yaml`
[code]

`my_project/lib/foo.dart`
[code]

`my_project/subproject/pubspec.yaml`
[code]

It attempts to start plugins for each root, and since subproject since its own root

[2019-06-10 22:07] MichaelRFairhurst commented on #37217
@bwilkerson do you want to take a look at this or do you want me to?

[2019-06-10 22:15] aartbik commented on #36880
Alex pointed out this issue. The test-specific closure call appears before the check. We probably never inlined that one before, but now we do, causing all the misery.

[code]

[2019-06-10 22:34] bkonyi commented on #36202
Do we just want to response with a generic error code and the exception message or do we want to actually return specific error codes (e.g., 507 for insufficient storage)?

[2019-06-10 22:35] jonahwilliams commented on #36202
I strongly suspect we would treat all non-200 error codes the same (toolExit), but would probably display the response text (if provided) in an error message.

[2019-06-10 23:25] nshahan opened #37218 "Apply lints from pkg:pedantic to DDC codebase."
Turning on the lints will lead to code that is more consistent, easier to read, and less prone to bugs. Some of the violations look like actual bugs so we can't just turn them all on mechanically.

Should probably avoid large changes (like fixing the ugly doc comment syntax) under `lib/src/js_ast` to  reduce the amount of diffs if we ever unfork.

[2019-06-10 23:43] nshahan commented on #37218
Application so far:
2fd1021326d7f2c6da68017f90e6e6523c615e05
c4a1ca903f3ed2fcd7eb8c4484e28d00459672cc
80fb7891eba73cea1d6c5d8cfee80c09ddda39b1

[2019-06-10 23:43] bwilkerson commented on #37217
I'm happy to let you look into it.

I'm not entirely sure what the behavior ought to be, but I'm confident that crashing the plugin isn't the right behavior. I suspect that what it ought to do is not attempt to use the plugin to analyze anything in `subproject` because it doesn't know which version of the plugin would be appropriate.

If it isn't already doing so, server needs to communicate to th

[2019-06-11 01:09] cmbergamo opened #37219 "Socket + Flatbuffer"
I wrote a code that send/receive data serialized by flatbuffers and worked perfectely until the data comes fragmented. When I noted this I forced the flush method and write a reduce method and it works. Some time later no data is readed because the packages are not enought to fragmented in various packages. So now I'm stuck, or break because the package is not complete or stops works because is no

[2019-06-11 03:00] ThinkDigitalSoftware opened #37220 "NoSuchMethodError: The method 'accept' was called on null."
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.7479.19`
- `2.3.0-edge.a1668566e563aef64025d0af88a099cbbe847b7e`
- `IC-191.7479.19, JRE 11.0.2+9-b159.60x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 1440x900  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/vx/3c3lhvgn1cg0xngh9yr_gwjm0000gn/T

[2019-06-11 08:36] liamappelbe opened #37221 "ClassTable::StateOffsetFor performance regression"
https://dart-review.googlesource.com/c/sdk/+/104286 caused a bunch of benchmark regressions. This was entirely due to the new implementation of dart::compiler::target::ClassTable::StateOffsetFor(intptr_t cid). Don't know why this caused such a huge performance regression, but I rolled back the culprit function in: https://dart-review.googlesource.com/c/sdk/+/105550

Need to investigate this more a

[2019-06-11 08:56] jumperchen commented on #37155
more info:
[code]

[2019-06-11 11:25] sjindel-google commented on #37126
I have identified the root cause of the problem -- the V8 snapshots were super helpful!

The "Summary" view from Chrome DevTools shows that 153 new `Function` objects were introduced. Unfortunately the "Comparison" view doesn't produce reliable results, because the object IDs are not stable across precompilation of different sources, but a simple script (
[main.dart.txt](https://github.com/dart-la

[2019-06-11 11:55] sjindel-google commented on #36856
Note that UnwindError cannot be caught in Dart

[2019-06-11 12:21] NicolasDionB opened #37222 "We're sorry, you've found a bug in our compiler."
dartdevc -k arguments: --dart-sdk-summary=D:\_Utils\Flutter\SDK\bin\cache\dart-sdk/lib/_internal/ddc_sdk.dill --modules=amd --no-summarize -o C:\Users\nicolas.dion\AppData\Local\Temp\scratch_spacefaccc908-8bc2-11e9-8343-d8fc93281c47\web/main.ddc.js --source-map -s C:\Users\nicolas.dion\AppData\Local\Temp\scratch_spacefaccc908-8bc2-11e9-8343-d8fc93281c47\packages/meta/meta.ddc.dill=packages/meta/me

[2019-06-11 12:35] mit-mit commented on #37164
Doh.

[2019-06-11 12:40] mit-mit opened #37223 "dartaotruntime could use friendlier error messaging"
If you by mistake pass a non-AOT file (for example, a `.dart` file) to the `dartaotruntime`, the error message is a bit cryptic:

[code]

I suggest something like:
[code]

[2019-06-11 12:40] mit-mit commented on #37164
Tracking error message improvement in https://github.com/dart-lang/sdk/issues/37223

[2019-06-11 12:40] #37164 closed

[2019-06-11 13:01] sjindel-google opened #37224 "[vm/ffi] Support iOS calling calling convention and library loading"

[2019-06-11 13:03] sjindel-google opened #37225 "[vm/ffi] Support resolving static symbols"

[2019-06-11 13:22] #37101 closed

[2019-06-11 13:27] stevenspiel commented on #31532
@jadusty Your `dart:ui` issue might be related to this: https://github.com/flutter/flutter/issues/27826

[2019-06-11 13:33] mnordine opened #57976 "unsafe_html needs better documentation"
Check out the page for `unsafe_html`:
https://dart-lang.github.io/linter/lints/unsafe_html.html

It tells me to avoid assigning directly to `src` field. Why? What is the fix? Is it unsafe on any element that has the `src` field? Or just some?

[2019-06-11 13:34] sjindel-google commented on #36247
To scope this for the MVP release: we will understand the performance of FFI operations and implement any "low-hanging" optimisations.

[2019-06-11 13:34] #35776 closed

[2019-06-11 13:36] dcharkes commented on #36305
@kevmoo Native extensions is not the same as ffi.

[2019-06-11 13:47] sjindel-google commented on #36856
We will make this abort for now so that any other semantics will be a non-breaking change.

[2019-06-11 13:52] sjindel-google commented on #35903
We will keep using instance methods for now and use extension methods once available, to ease migration. (Throwing an exception on a dynamic call).

[2019-06-11 13:55] sjindel-google commented on #35902
We will lock out these methods on `dynamic` for now so that switching to extension methods will be a non-breaking change (against the runtime behaviour).

[2019-06-11 14:11] sjindel-google commented on #35782
* Subclassing pointer requires us to invent values (boxing) of a type without calling a constructor -- places strange restrictions on subclasses, which might be hard to apply completely
* Subclassing pointer is not as necessary if generalized typedefs are introduced
* If Pointers cannot be subclassed, we don't need to use a boxed representation for the pointer address
* However, it allows more erg

[2019-06-11 14:14] hoornet opened #37226 "Tried to initialize from a previous compilation (build/app.dill.track.dill), but the file was not self-contained. This might be a bug."
Error:
[initialize_from.dill.gz](https://github.com/dart-lang/sdk/files/3276857/initialize_from.dill.gz)

Launching lib\main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...

Compiler message:
Warning: Tried to initialize from a previous compilation (build/app.dill.track.dill), but the file was not self-conta

[2019-06-11 14:14] sjindel-google commented on #35879
We will need this if we remove `offsetBy`.

[2019-06-11 14:15] #35844 closed

[2019-06-11 14:22] DanTup opened #37227 "Add support for preferred-fix in analysis server"
In https://github.com/Dart-Code/Dart-Code/issues/1393 there was some discussion of a [new API in VS Code](https://code.visualstudio.com/updates/v1_32#_auto-fix-and-preferred-code-actions) that lets quick-fixes be marked as "preferred" which allows them to be applied more easily with a keybinding.

It'd be good to add flags to the analysis server fixes so we can pass them through.

[2019-06-11 14:27] DanTup opened #37228 "Add support for "fix all" in the analysis server"
Related to discussion in https://github.com/Dart-Code/Dart-Code/issues/1393 (and a little https://github.com/dart-lang/sdk/issues/37227). Having a server action (similar to "sort members" of format) that can apply all minor fixes in a file (in a set of edits from a single call) would allow people to set it up to run on-save ([eg. via VS Code's support](https://code.visualstudio.com/updates/v1_32#_

[2019-06-11 14:36] ThinkDigitalSoftware commented on #31532
I get this all the time with pure Dart projects in the IDE tests or no
tests. And debugging simply doesn't work at all

On Tue, Jun 11, 2019, 6:27 AM Steven Spiel <notifications@github.com> wrote:

[2019-06-11 14:37] dcharkes commented on #37225
I also encountered the need for this last week.

We either want to make DynamicLibrary extend Pointer, or support an `RTLD_DEFAULT` which is a DynamicLibrary with address=0.

[code]

[2019-06-11 14:52] #37044 closed

[2019-06-11 14:56] bwilkerson commented on #37228
We have a command-line tool called `dartfix` that does something similar. It currently uses an experimental server protocol, so this is potentially doable. The dartfix tool only applies fixes (it doesn't apply formatting or sorting changes) which makes it much easier to merge the results of multiple edits, but even then there are some interesting challenges around things like not adding multiple i

[2019-06-11 14:58] sjindel-google commented on #35883
We will remove it.

[2019-06-11 15:07] dcharkes commented on #35782
Quite often the Dart api does not coincide with Pointer-wrapper-classes

[code]

https://github.com/dart-lang/sdk/blob/master/samples/ffi/sqlite/lib/src/database.dart#L122-L125

This would then have to be:

[code]

[2019-06-11 15:11] dcharkes commented on #35782
No we will not allow subtyping, the API will be:

[code]

[2019-06-11 15:13] bwilkerson commented on #37196
https://dart-review.googlesource.com/c/sdk/+/105543

[2019-06-11 15:13] #37196 closed

[2019-06-11 15:17] sjindel-google opened #37229 "[vm/ffi] Revamp structs API to separate structs and pointers"
## Problem

The representation of structs in the existing API leaves much to be desired:

C:
[code]

Dart:
[code]

**Struct classes are defined as pointers, which conflates the concepts of the struct as a composite value and as a pointer to memory.** When by-value structs are supported, there would be no (type-level) way to differentiate between value structs and pointers to structs. For example,

[2019-06-11 15:18] dcharkes commented on #36730
We'll do the api change in MVP #37229, but not the by-value-passing.

[2019-06-11 15:28] sortie commented on #37101
This was a security vulnerability that has been fixed in Dart 2.3.2 and Dart 3.2.3-dev-0.0.

Here is the text from the CHANGELOG:

**Security improvement:** On Linux and Android, starting a process with `Process.run`, `Process.runSync`, or `Process.start` would first search the current directory before searching `PATH`. This behavior effectively put the current working directory in the front of `P

[2019-06-11 15:37] sjindel-google opened #37230 "[vm/ffi] Drive ecosystem, infra. and doc updates for FFI release"

[2019-06-11 15:48] DanTup commented on #37228
I looked at `dartfix` when I opened this, but the description says:

so I wasn't sure if this were related (though maybe migrating to new syntax is just a set of particular fixes).

I think this relates a little to https://github.com/dart-lang/sdk/issues/37227. I think if there isn't an clear best fix, we shouldn't apply any (at least in the case for things like VS Code's "fix all" that can be run

[2019-06-11 15:49] jonahwilliams opened #37231 "STATUS_STACK_BUFFER_OVERRUN on flutter_tools tests on Windows"
The tool-tests_windows shard of Cirrus is reliably crashing on https://github.com/flutter/flutter/pull/34176. This is Dart VM version: 2.3.2-dev.0.1.flutter-7f146e431e (Sat Jun 8 01:21:59 2019 +0000)

The tests are run via build_runner to precompile to kernel. To run the tool tests correctly the FLUTTER_ROOT env variable needs to be defined.

[code]

Example run:
https://github.com/flutter/flutter

[2019-06-11 15:58] bwilkerson commented on #37228
`dartfix` _is_ primarily focused on migration, but so far most of that work has been done by applying fixes / assists to compute the edits. My comment wasn't intended to suggest that we don't need this functionality because we have `dartfix`, it was intended to point to prior art as a proof that the work is at least potentially feasible. Sorry if that wasn't clear.

We might even be able to share

[2019-06-11 16:16] #36202 closed

[2019-06-11 16:33] natebosch commented on #37101
This was also reported in https://github.com/dart-lang/sdk/issues/34246

[2019-06-11 16:33] terrier989 opened #37232 "Support dependency overrides for dart:io and dart:html"
It would be helpful if something like this was possible:
[code]

This would enable use packages like [universal_io](https://pub.dev/packages/universal_io) and [universal_html](https://pub.dev/packages/universal_html) without forking dependencies just to replace imports.

Proposed details:
  * The dependency override would be ignored if the target already supports  _dart:L_.
  * The effect would be

[2019-06-11 16:33] natebosch commented on #34246
Fixed in https://github.com/dart-lang/sdk/commit/3972f738ca4e91104e2d6dad9bb1f36147879e98

[2019-06-11 16:33] #34246 closed

[2019-06-11 16:36] dramos07 opened #57977 "prefer_final_fields doesn't cover fields only initialize in constructors"
The current documentation claims that a field that is only initialize either using initializing formals or initializer list should be linted (see `_someOther`):

[code]
But that is currently not the case, in fact the code actually skips any field that is not initialize when the field is declared. So this needs to be fixed or at the very least the documentation should be updated to match the code.

[2019-06-11 16:43] DanTup commented on #37228
I didn't take it to mean that, I think pointing to it makes sense (I think when I read the description I dismissed it too quickly). There does seem like a lot of overlap here.., for ex:

- new feature: don't need new/const
- lint: don't use new/const where not needed
- auto-fix: remove new/const where not needed

Whether all syntax migrations would work as a lint to enforce using the new one (and

[2019-06-11 17:18] sortie commented on #34246
Also reported as https://github.com/dart-lang/sdk/issues/34246

[2019-06-11 17:22] jakemac53 opened #37233 "Windows directory watcher stops working after some time"
Original issue on the `watcher` package https://github.com/dart-lang/watcher/issues/52, related issue in `build_runner` https://github.com/dart-lang/webdev/issues/436.

I created a simple repro below that uses vanilla `Directory.watch`. You can run each of these scripts at the same time to repro, which exposes a few issues:

- If you start the watch script after the file modifying script is alread

[2019-06-11 17:23] aartbik commented on #36880
@sjindel-google

[2019-06-11 17:28] sortie commented on #34246
Thanks Nate for pointing out this old issue. Please be sure to let me know if there's any other old issues I should take a look at. So far I've only triaged issues labeled library-io from 2019 or updated in 2019.

[2019-06-11 17:31] DanTup commented on #37206
I have a PR open for improving the errors (that I hope to land soon), for ex:

[code]

The message should tell you exactly which fields are bad and why ("must not be undefined", "must not be null", "must be bool", etc).

[2019-06-11 17:33] sjindel-google commented on #36880
Could we just move the `ClosureCall` to after the `CheckStackOverflow` and `DebugStepCheck`?

[2019-06-11 17:33] sjindel-google commented on #36880
gg

[2019-06-11 17:33] jakemac53 commented on #37233
cc @kevmoo @vsmenon

[2019-06-11 17:40] sortie commented on #33764
Can you elaborate a bit more on the need and priority for this?

ARP is a link layer protocol and is not built on top of the IP protocol. You'd need raw access to the network interface to do this, not just the the IP layer. This is normally handled at the OS level and implementing access would probably require a software network interface.

ICMP is on the IP layer and can be done with a raw raw so

[2019-06-11 17:50] sortie commented on #33379
Thanks for the report and thank you for your patience. There's a lot of open dart:io issues that I'm working through and I'll try to get to this one at some point.

If you'd like to contribute a fix, this is an open source project and you can send a pull request that I'll be happy to review it. Otherwise this seems like something to add to the medium priority queue.

[2019-06-11 18:31] devoncarew commented on #37221
@liamappelbe, when opening an issue, if you know the best area for the issue, can you assign an area label to it? This will reduce the work for issue triagers. Thanks!

[2019-06-11 18:34] devoncarew commented on #37222
Looks like a crash in DDC, when reading a kernel file, when compiling a flutter_web app. Tentatively assigning to the DDC team to do additional triage.

[2019-06-11 18:35] devoncarew commented on #37226
Thanks! We see a lot of these reports. Closing as a dup of https://github.com/dart-lang/sdk/issues/36032.

[2019-06-11 18:35] #37226 closed

[2019-06-11 18:36] aartbik commented on #36880
@sjindel-google

Yes, I am okay with that. That seems cleaner. But I did not want to initiate major surgery in this part of the code just for my change in inline heuristics.

[2019-06-11 18:36] devoncarew commented on #37231
This looks like a native crash in the VM.

[2019-06-11 19:52] scheglov commented on #37211
I was not able to reproduce this.

[2019-06-11 20:02] aartbik commented on #36880
On to the next issue exposed by this inlinining heuristic change. The test refactoring_test.dart in pkg/analysis_server/test/edit/ crashes as:

`object.h: 6143: error: Handle check failed: saw Code([Optimized] new Name) expected Instance`

In debug mode, the flow graph checker may actually give a clue on potential trouble (or perhaps something else):

`flow_graph_checker.cc: 314: error: expected:

[2019-06-11 20:13] DanTup commented on #37211
Hmm, I tested it a few times and it seems to be intermittent on the same project (I can restart the analyzer, then sometimes I'll see it and sometimes I won't). I'll do some more digging tomorrow to see if I can understand it better.

[2019-06-11 20:14] scheglov commented on #37138
https://github.com/dart-lang/sdk/issues/36212

[2019-06-11 20:14] #37138 closed

[2019-06-11 20:15] scheglov commented on #37090
https://github.com/dart-lang/sdk/issues/36212

[2019-06-11 20:15] #37090 closed

[2019-06-11 20:17] scheglov commented on #37054
https://github.com/dart-lang/sdk/issues/36212

[2019-06-11 20:17] #37054 closed

[2019-06-11 20:17] scheglov commented on #36891
https://github.com/dart-lang/sdk/issues/36212

[2019-06-11 20:17] #36891 closed

[2019-06-11 20:17] scheglov commented on #36831
https://github.com/dart-lang/sdk/issues/36212

[2019-06-11 20:17] #36831 closed

[2019-06-11 20:18] scheglov commented on #36844
https://github.com/dart-lang/sdk/issues/36212

[2019-06-11 20:18] #36844 closed

[2019-06-11 20:19] vanesyan commented on #21403
Other programming languages supports Unix sockets, despite the fact that support limited only to Unix systems. For example, Rust marks API as xsupported only on Unix". https://doc.rust-lang.org/std/os/unix/net/struct.UnixStream.html

Node.js also supports Unix sockets as well as Go.

Maybe the functionality can be exposed in specific module like `dart:unix` or `dart:uds`

[2019-06-11 20:21] knopp commented on #21403
NodeJS uses named pipes on windows (through libuv). We have a project using libuv on IPC (domain sockets on unix, named pipes on windows) and it works very well. I don't quite see why this couldn't be done for dart.

[2019-06-11 20:46] devoncarew commented on #37219
@cmbergamo, I think stack overflow or the dart gitter channel would be better places for this question - it seems more API related.

[2019-06-11 20:46] #37219 closed

[2019-06-11 20:47] devoncarew commented on #37232
I'm not sure where to best file this feature request - tentatively assigning to `area-library`.

[2019-06-11 20:59] aadilmaan commented on #37192
@matanlurey @Hixie Waiting for your review.

[2019-06-11 21:38] KOGI commented on #33594
@rmacnak-google thank you!

[2019-06-11 22:15] terrylucas commented on #36640
Found the problem, with Jacob's help, [CL](https://dart-review.googlesource.com/c/sdk/+/105661/1)

[2019-06-11 22:17] mdempsky opened #37234 "[vm/mirrors] Out of bounds memory read using private dart:core functionality"
Program below demonstrates an out-of-bounds memory read primitive. In particular, I'm able to read memory relative to any string object's char data.

    import "dart:mirrors";

    main() {
      var libs = currentMirrorSystem().libraries;
      var core = libs[Uri(scheme: "dart", path: "core")];

      var rx = RegExp("(bar)");
      rx.firstMatch("foobar"); // dummy match to compute _groupCount

[2019-06-11 22:23] aadilmaan commented on #36640
We are picking up the current dev release as release candidate to begin align with Flutter. We are out of time for D24. This will have to move to D25.

[2019-06-11 23:27] mdempsky commented on #36983
Even just removing the `async` from `calc` also makes the problem go away.

I'm assuming that `foo() async { ... }` gets transformed by the frontend into `foo() { return Future(() { ... }); }`, and notably that still preserves the problem too. I simplified `calc` as far as:

    calc(var oldResult) {
      var newResult = (() => calcInternal(oldResult))();
      foo() { print('foo'); }
      newRe

[2019-06-12 00:04] aartbik commented on #36880
The flow graph checker was actually really helpful! This was another omission of failing to clean up the environment after removing a push argument. Fixing this removes the checker failure and the crash reported in the test!

[2019-06-12 04:33] ThinkDigitalSoftware commented on #31532
A fluke happened! I got it to work for a few hours today! I left the debugger paused while I did some other stuff and when I finally went back to restart the tests, I started getting this error again. (-_-) fun over. Any way I can help get to the root of this?

[2019-06-12 05:41] tvolkert commented on #36900
Ok, the following CLs have been prepared and appear to be relatively non-invasive:

* The initial proposed breaking change ([cl/101742](https://dart-review.googlesource.com/c/sdk/+/101742))
* `List<int> RawSocket.read()` ⟶ `Uint8List RawSocket.read()` ([cl/104522](https://dart-review.googlesource.com/c/sdk/+/104522))
* `List<int> InternetAddress.rawAddress` ⟶ `Uint8List InternetAddress.rawAddress`

[2019-06-12 05:45] zhengyanhu opened #37235 "Dart Analyzer Error"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA WS-191.7479.14`
- `2.3.2-edge.e3edfd36b2aa7ff4e98fe541ef5666ef2e70d17e`
- `WS-191.7479.14, JRE 1.8.0_202-release-1483-b53x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

Dart Analyzer Error
Encountered a Dart Analysis Server error.

[2019-06-12 06:31] deepaksharma99 opened #37236 "error new"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dartfix
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
*

[2019-06-12 07:59] DanTup commented on #37211
Ok, I'm failing to understand what's going on here, but I seem to be able to reliably reproduce it in one folder, and reliably not reproduce it in another folder. The folders are identical (just copy/pasted) except for their paths.

Could this be related to something in `~/.dartServer`? Is anything cached by path?

Here are the logs:

[analyzer_with_dupes.txt](https://github.com/dart-lang/sdk/file

[2019-06-12 10:52] jensjoha commented on #37149
Reproduction:
Change "final" to "const" @ https://github.com/flutter/flutter/blob/fa174a123fb603332e4870ccdd80bff9a1889f5b/packages/flutter/lib/src/foundation/isolates.dart#L49

Run something like
[code]
from the dart sdk.

You get the crash.

Notice, though, that if you remove the "--tfa" it works fine (i.e. doesn't crash).

I'll try to investigate a little further, but the "tfa" thing is a pkg/v

[2019-06-12 11:20] terrylucas commented on #36640
Fix is checked into tip of Dart.  Rebuilding Flutter engine, applying Jacob's engine change.  If all works will have Ben roll Dart into Flutter.

[2019-06-12 12:09] passsy opened #57978 "Can't use `prefer_double_quotes` with dartanalyzer 2.3.2"
When I add `prefer_double_quotes` to my project (dart sdk 2.3.2) I get the warning `'prefer_double_quotes' is not a recognized lint rule`.
Running `dartanalyzer` (version 2.3.2) also doesn't seem to support the new rule.

What do I have to update, so that `dartanalyzer` is using the latest `linter` version?

[`analyzer`](https://pub.dev/packages/analyzer) hasn't been updated since the new [`prefer

[2019-06-12 12:10] jensjoha commented on #37149
It seems to me that the type flow transformer doesn't know about the call site attribute metadata stuff (notice this part of the stacktrace: `CallSiteAttributesMetadataRepository.writeToBinary (package:vm/metadata/call_site_attributes.dart:34:10)`).
So I think something like this is happening:
A call site attribute is added that (via a FunctionType) points to the typedef.
The typedef is not otherw

[2019-06-12 12:33] jensjoha commented on #37072
Thank you for reporting this.
This is caused by the file we try to initialize from being empty. This can happen if for instance launching several instances working on the same file (e.g. one instance is overwriting the file while the other is reading it). As long as it doesn't happen all the time it's nothing to worry about.
I recently landed d8739b5 to make sure we don't even try to load when the

[2019-06-12 12:33] #37072 closed

[2019-06-12 12:42] jensjoha commented on #37048
@eernstg does that mean this issue can be closed?

[2019-06-12 12:44] dcharkes commented on #35756
This needs to be done together with #37229 assigning to @sjindel-google.

[2019-06-12 12:47] jensjoha commented on #37021
This post unfortunately doesn't contain anything to go on.
We get these reports once in a while -- it is basically always caused by either
a) An updated version of flutter where the flutter sdk changed, or
b) Trying to initialize from an empty file

While both are unfortunate, they are also both harmless: The compile that reported this will be slower, but the output will be perfectly fine.

If, ho

[2019-06-12 12:47] #37021 closed

[2019-06-12 12:52] jensjoha commented on #36992
Thank you for taking the time to report this issue.

This appear to be the same thing as in #36759.
To summarize, everything is fine - the compile that reported this will be slower, but the output will be perfectly fine. It is caused by an updated flutter sdk.

For instance, if you updated from flutter beta to flutter master around the time where you reported this issue (i.e. the file we're trying

[2019-06-12 12:52] #36992 closed

[2019-06-12 13:14] eernstg commented on #37048
@jensjoha wrote:

I just retried the example and noticed that the common front end (`dart`, 92dabc8491e767839fe6269e62f663b1ebb56484) reports the subtype issue that I mentioned, so I believe that there is no CFE issue here.

For the analyzer, it is confusing that the error message talks about 'assignable' even though the specified requirement is a ['subtype match'](https://github.com/dart-lang/lan

[2019-06-12 13:29] #35386 closed

[2019-06-12 13:32] #57978 closed

[2019-06-12 13:53] sjindel-google commented on #35902
This task is mentioned in code which checks that type arguments to `load` and `store` are statically known, which is a separate additional issue.

[2019-06-12 14:57] devoncarew commented on #37235
Thanks for the feedback! Without more info (generally provided as part of the crash report), we can't take action here.

[2019-06-12 14:57] #37235 closed

[2019-06-12 14:58] devoncarew commented on #37236
Closing - I don't see from the issue what the problem is. Please re-open if you have more details; thanks!

[2019-06-12 14:58] #37236 closed

[2019-06-12 16:26] #37176 closed

[2019-06-12 17:11] goderbauer opened #37237 "TransferableTypedData class has no useful documentation"
See https://api.dartlang.org/dev/2.3.3-dev.0.0/dart-isolate/TransferableTypedData-class.html.

It should document what this is, why I should use it etc.

/cc @aam

[2019-06-12 18:01] natebosch commented on #24779
I think https://dart-review.googlesource.com/c/sdk/+/88020 was intended to solve this.

Unfortunately we're blocked on moving forward unless we can also solve it in dart2js which is more difficult. Nothing will change for now.

[2019-06-12 18:35] Hixie opened #37238 "Two errors for assigning wrong type to const"
[code]

->

[code]

[2019-06-12 19:47] ZichangG commented on #36175
Because the script as an argument will be escaped before passing into process, \\\" is problematic (I guess \" is what you want). And the beginning and ending double quotes should be removed, escaping function will add it automatically.

`script = '"Get-CimInstance Win32_Process -Filter \\\"name=\'dart.exe\'\\\""'; // original one`
`script = 'Get-CimInstance Win32_Process -Filter \"name=\'dart.exe

[2019-06-12 19:54] #36880 closed

[2019-06-12 20:08] grouma opened #37240 "[DDC] Function source map location does not align with Chrome"
Consider this Dart:
[code]
DDC compiled output would look something like this:
[code]
(assume zero based line and column below)

The provided DDC source map will have a location entry at line 0 and column 0. That is starting at `foo$`. This does not align with what Chrome uses in call frames. If we were to break on line 1 (at ...) the Chrome paused event will have a call frame at line 0 column 5 t

[2019-06-12 20:09] vagrantrobbie commented on #37072
OK. Maybe I had hit the 'run' button too many times in my IDE.

Thanks for this

[2019-06-12 20:33] alexmarkov opened #37241 "ffi/function_gc_test crashes on arm64"
This test starts crashing on cross-vm-linux-release-arm64 bot after f1038ee771872d5c1ea7c88735e0380acb0127f0.

[code]

cc @dcharkes @sjindel-google

[2019-06-12 20:34] lambdabaa opened #37242 "completion.existingImports missing local libraries"
To reproduce:

[code]

[code]

The `ExistingImportLibrary.dart` will be surfaced as an `AvailableSuggestionSet`:

[code]

but does not show up in the `completion.existingImports` event:

[code]

/cc @scheglov

[2019-06-12 20:50] Hixie opened #57979 "Catch private types referenced from public APIs"
A publicly-accessible method with an argument whose type is private, or a publicly-accessible field with a type that is private, or a method with a return value that is private, or similarly with getters/setters or other such things, should be flagged by the linter.

See also dart-lang/sdk#57951.

[2019-06-12 21:02] lambdabaa commented on #37242
@scheglov pointed out that the event does in fact contain `ExistingImportLibrary.dart`, sorry!

[2019-06-12 21:02] #37242 closed

[2019-06-12 21:08] jakemac53 commented on #37233
Just to clarify the impact here, even a basic hello world web project (no angular) will currently consume an entire core indefinitely as long as webdev is running due to using the polling watcher.

[2019-06-12 21:41] aadilmaan opened #37243 "Packages/Framework Migration Complete"
This Epic tracks all active efforts, tasks, and issues, associated with the NNBD migration effort.

[2019-06-12 21:51] mdempsky opened #37244 "[vm] Use std::unique_ptr for exclusive-ownership resource management"
## Summary

This is a proposal issue that the Dart VM should adopt using `std::unique_ptr` for exclusive-ownership resource management. In particular, that VM resources that are managed with `new`/`delete` or `malloc`/`free` should be migrated to using `std::unique_ptr`, where possible.

**Note:** This proposal does *not* apply to Dart `Object`s/`RawObject`s allocated in the GC heap, or to C++ obj

[2019-06-12 22:07] aartbik commented on #37126
I will have a look, also in combination with a few i's to dot in the heuristics after my last CL.

[2019-06-12 22:10] srawlins opened #57980 "awkward blank `>=` in unreleased Dart SDK field in website."
The linter website has some blanks for SDK, e.g.  http://dart-lang.github.io/linter/lints/prefer_double_quotes.html

"Dart SDK: >= • (Linter v0.1.88)"

I think this should be updated to say something like "Dart  SDK: (unknown)".

[2019-06-12 22:16] mdempsky commented on #37244
The use of `std::unique_ptr` was also discussed on https://dart-review.googlesource.com/c/sdk/+/101740. Copying over some of the feedback from there for easy reference:

@zanderso:

@mraleph:

@mkustermann:

@alexmarkov:

[2019-06-12 22:27] sjindel-google commented on #37241
@dcharkes : Looks like it was broken by your SIMDBC stack frame alignment change.

[2019-06-12 22:33] sjindel-google commented on #37069
Reverted the fix due to broken tests.

[2019-06-12 23:28] #37213 closed

[2019-06-13 02:08] jumperchen commented on #37155
after upgrade to dart 2.3.1, it still causes this error.
[code]

[2019-06-13 03:03] speby opened #37245 "import statement pathname can cause incorrect Type resolution"
Using Dart version: 2.3.0-dev.0.5.flutter-a1668566e5 (Tue Apr 30 20:35:41 2019 +0200) on "macos_x64"

Attached .ZIP contains a tiny set of Dart files and a main() method to print stuff to the console. Basically, if you have 2 different Dart files reference a class and you add 2 slashes in the pathname in the import statement, it will throw off the ability to correctly type-check the class in the o

[2019-06-13 04:54] claudioji commented on #37017
Having a similar issue. Have you found the solution?

[2019-06-13 05:01] boyan01 opened #37246 "Compiler error for Function type"
example

[code]
 is there a problem with type speculation ?
 test1 can be correct compiled and running,  but  test2 got a Compiler Error.
[code]

dart version:

Dart VM version: 2.3.2-dev.0.1.flutter-6e0d978505 (Thu Jun 6 22:38:21 2019 +0000) on "macos_x64"

[2019-06-13 06:34] vanlooverenkoen opened #50041 "ignore_for_function should be supported"
ignore_for_file is handy if you want to ignore a lint warning for a specific file.

I tought It would be usefull to have an ignore statement for functions as well.

`ignore_for_function: ...` is what I had in mind.

[2019-06-13 06:41] derolf opened #37247 "Type inference from parameter type"
### The problem

Consider the following example:

[code]

I would expect the Dart Analyzer to fail at `value.bar` since `T` could be inferred to `number`. Instead, Dart does not infer `T` to `number`, but falls back to `dynamic`.

### What are other languages doing?

Equivalent example in TypeScript:

[code]

yields error

    Property 'bar' does not exist on type 'number'.

Equivalent example in

[2019-06-13 07:26] eernstg commented on #37247
This is a good example of a case where it would have been very useful for inference to choose `int` as the parameter type for the function literal, like in Kotlin and TypeScript.

However, when inference has chosen the type argument `int` for the given invocation of `execute` then the first parameter is type correct, and so is the second one with parameter type `dynamic` (because `void Function(dy

[2019-06-13 07:54] eernstg commented on #25490
Here is another example: #37247.

[2019-06-13 07:58] eernstg commented on #37247
@leafpetersen, do you have further comments on this? I added a reference to this issue on #25490, because it's a good example to keep in mind. Otherwise I think we should close this issue, marking it as a duplicate of #25490.

[2019-06-13 09:56] vikas-volansys opened #37248 "analysis server crash - SDK 1.20"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.7479.19`
- `1.20.1`
- `IC-191.7479.19, JRE 1.8.0_202-release-1483-b58x64 JetBrains s.r.o, OS Linux(amd64) v4.15.0-50-generic, screens 1600x900`

## Exception
[code]

For additional log information, please append the contents of
file:///tmp/report.txt.

[2019-06-13 10:50] taojigu opened #37249 "VS Code Analysis Service failed"
Please review the below report for any information you do not wish to share and report to
  https://github.com/dart-lang/sdk/issues/new

Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

No special operation , it just happen when I am working.

### Request

While responding to request: `analysis.setAnalysisRoots`

### Versions

- Flutter SDK 1.5.4-hotfix.2
- V

[2019-06-13 12:12] sjindel-google opened #37250 "[vm/ffi] Inconsistent overflow checks in allocate vs. elementAt"
Allocate checks that the element count * element size doesn't overflow -- elementAt doesn't check.

[2019-06-13 12:27] sjindel-google opened #37251 "[vm/ffi] Test FFI with high heap"
Currently native heap addresses are freely cast between `void*`, `intptr_t` and `size_t`. We need to make sure there are no surprises when the heap lives in the upper half of the address space.

[2019-06-13 12:29] dcharkes commented on #37241
This crash only happens with calling `Regress37069`, which is an odd number of odd integer arguments.

[2019-06-13 12:29] blbhargav opened #37252 "Dart Analyzer Error.Encountered a Dart Analysis Server error."
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-183.6156.11.34.5522156`
- `2.3.0-edge.a1668566e563aef64025d0af88a099cbbe847b7e`
- `AI-183.6156.11.34.5522156, JRE 1.8.0_152-release-1343-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1280x720`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\BHARGA~1\AppData\Local\T

[2019-06-13 12:30] dcharkes commented on #37241
Relanding test and approving failures.

[2019-06-13 12:37] sortie commented on #37233
How critical is this bug? I probably won't have time to address this quarter meaning it probably won't get fixed until after the summer vacation.

[2019-06-13 12:38] mnordine commented on #37233
@sortie Can you take a look at the https://github.com/dart-lang/webdev/issues/436 to see how critical it is?

[2019-06-13 13:01] vikas-volansys opened #37253 "Dart analysis server,"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.7479.19`
- `1.21.0`
- `IC-191.7479.19, JRE 1.8.0_202-release-1483-b58x64 JetBrains s.r.o, OS Linux(amd64) v4.15.0-50-generic, screens 1600x900`

## Exception
[code]

For additional log information, please append the contents of
file:///tmp/report.txt.

[2019-06-13 13:57] sjindel-google opened #37254 "[vm/ffi] working with Pointer<NativeType> (where NativeType is not a concrete subtype of NativeType)"
Example:

[code]

Crashes in Debug mode:

[code]

/cc @dcharkes

[2019-06-13 14:31] sortie commented on #37233
Do we have an idea when this was introduced?

[2019-06-13 14:31] jakemac53 commented on #37233
Afaik it has been this way forever.

[2019-06-13 14:34] natebosch commented on #37233
The problem has been around for a very long time. The impact has gone up since the new build system relies on caching to disk.

[2019-06-13 14:39] bwilkerson commented on #37195
The exception was fixed in https://dart-review.googlesource.com/c/sdk/+/105728, but the test as given still fails because we are currently using `dynamic` when there is no explicit type when we ought to be using the inferred type.

[2019-06-13 15:09] mkustermann opened #37255 "Some corelib_2/regexp/* tests started timing out after Unoptimized Monomorphic change"
After 1e24fe7d699a1c36be142afa21859c6a9c82d035 has landed the following tests started to timeout:
[code]

This seems to happen on  dartk-reload-linux-debug-x64

Those tests were "pre-approved" a week before the CL landed, which is why everything is green (the latest patchset and the CI).

@rmacnak-google Could you take a look?

[2019-06-13 16:13] sjindel-google commented on #37180
There's a bug in `GenerateEnterSafepointStub` and `GenerateExitSafepointStub`: they don't save the (volatile) Dart stack pointer before calling into C, but expect it to be set correctly afterward.

In addition, `GenerateExitSafepointStub` assumes the Dart stack pointer is set on entry, which it's not (only the C stack pointer is set).

[2019-06-13 16:14] terrier989 commented on #37232
This feature could provide at least temporary help to Flutter web team, which seems to be thinking about cross-platform issues such as missing _dart:io_ ([#35969](https://github.com/dart-lang/sdk/issues/35969)) and _dart:developer_ ([#36649](https://github.com/dart-lang/sdk/issues/36649)). Angular would get server-side rendering in Dart VM ([#225](https://github.com/dart-lang/angular/issues/225)).

[2019-06-13 16:17] alexmarkov opened #37256 "GC can move TypedData after Dart_TypedDataAcquireData / Flaky SocketException: Send failed (OS Error: Bad address, errno = 14) in standalone_2/io/raw_datagram_socket_test"
Repro:

[code]

[code]

The following happens:
- native method Socket_SendTo calls Dart_TypedDataAcquireData to get a direct pointer to a data in the TypedData object.
- Direct pointer to data is passed to sendto
- GC is triggered and moves TypedData object, protects the memory
- sento returns with an error (EFAULT) as it can't access buffer

As Dart_TypedDataAcquireData returns direct pointer to

[2019-06-13 16:42] alexmarkov opened #37257 "Flaky crashes with exit code -8"
These flaky crashes appear on different tests after 1e24fe7d699a1c36be142afa21859c6a9c82d035.
They can be reproduced at 1e24fe7d699a1c36be142afa21859c6a9c82d035, but no crashes at the previous f005bd5a3eded7dffe90e6fb2e7ea12db631fe21.

Repro:

[code]

[code]

From debugger:
[code]

/cc @rmacnak-google @mkustermann

[2019-06-13 16:53] ZichangG commented on #36911
VM will checks try catch block to determine an exception is handled or unhandled. The expectLater() is basically using Future.then() machinery instead of try catch block. So the exception thrown was considered as unhandled exception. The workaround is to use try catch block.

From our perspective, it is hard to trace Future objects and registered callbacks. We are still going to use trycatch block

[2019-06-13 17:42] srawlins opened #37258 "MutationCallback parameter, mutations, should be a List<MutationRecord>"
Right now it's a raw List. :( :( :(

[code]

gives you a static error:

[2019-06-13 17:43] srawlins commented on #37258
CC @terrylucas for priority

[2019-06-13 17:55] zanderso commented on #37244
SGTM. Thanks for writing this up!

[2019-06-13 17:59] jonahwilliams opened #37259 "Potential canonicalization issue with ddc hot restart"
Note: reproduction of this issue requires a checkout of https://github.com/flutter/flutter/pull/34252 and https://github.com/dart-lang/webdev/pull/440
----
Dart VM version: 2.3.3-dev.0.0.flutter-3166bbf24b (Tue Jun 11 16:24:18 2019 +0200) on "macos_x64"

Compiling the flutter gallery via the dev compiler/kernel initially succeeds. Applying a hot restart fails in different ways, depending on which

[2019-06-13 18:11] devxpy commented on #27084
@munificent I wonder if we could take some inspiration from [black](https://github.com/python/black).

It seems to add a trailing comma, only if the line of code exceeds the character limit.

So while this

[code]

Gets formatted to this

[code]

This stays as-is.

[code]

Similar rules are applied to parameter declarations, collection literals, etc.

OTOH, dartfmt produces this:

[code]

Which IM

[2019-06-13 18:31] crelier commented on #37210
This was addressed by https://dart-review.googlesource.com/c/sdk/+/105545

[2019-06-13 18:31] #37210 closed

[2019-06-13 19:27] #34667 closed

[2019-06-13 19:33] srawlins commented on #34667
Ouch.

[2019-06-13 19:40] ZichangG commented on #34667
lol. I submitted the CL(my first cl) without closing it properly. Accidentally ran into this issue, so close it!

[2019-06-13 19:42] srawlins commented on #34667
Ah yes, thanks much! I see it was fixed in https://github.com/dart-lang/sdk/commit/ec86471ccc47a62df8b4009e1fb37c66ff9dc91b.

[2019-06-13 19:45] aartbik commented on #36977
@mraleph any insights? Is it just because we run out of registers and that was never seen before (on DBC64, we start at R63), or is is something else?

[2019-06-13 20:16] mdempsky commented on #37234
@rmacnak-google Thanks for the quick CL.

Relatedly, I notice that dart:mirrors can be used to access and mutate private global variables within libraries. Is that by design or an oversight? Script below identifies 20 such variables.

I couldn't immediately find any ways to take advantage of this, but I was able to trigger crashes through things like manipulating _stdinFD.

    import 'dart:mirror

[2019-06-13 20:18] eernstg commented on #37246
I can't immediately see whether there's an issue with the type inference, but with regard to the pragmatic issue about _writing_ code like this, it's a good idea to use the local function declaration (as in `test1`) rather than the function literal (as in `test2`): The former involves direct type checks at each `return` statement, but with the latter the task of inferring a type for the function l

[2019-06-13 20:24] ZichangG commented on #33230
Just double checked VM can now print right info:
`Closure: (int) => void from Function 'f': static.`
will close this bug.

[2019-06-13 20:24] #33230 closed

[2019-06-13 20:46] MichaelRFairhurst commented on #36956
What about operators?

CFE does not accept

[code]

and analyzer does.

language_2/null_no_such_method_test seems to indicate it is supposed to be accepted. However, CFE does not accept it, so perhaps we should consider it...effectively banned?

[2019-06-13 20:57] MichaelRFairhurst commented on #36956
Looking through the spec, it seems that the CFE is doing the right thing here.

[code]

[2019-06-13 21:05] kevmoo commented on #37248
We don't support this SDK. Please upgrade to Dart 2.3+

[2019-06-13 21:05] #37248 closed

[2019-06-13 21:06] kevmoo commented on #37253
Please upgrade to Dart 2.3!

[2019-06-13 21:06] #37253 closed

[2019-06-13 21:09] kevmoo commented on #37259
This seems to be the same as https://github.com/flutter/flutter/issues/34289

[2019-06-13 22:19] rakudrama opened #37260 "VM: 13% regression in dart2js compile times"
There have been some recent regressions in VM performance running dart2js
This pair is a net 5% regression, and is in the [2.3.3-dev.0.0 branch](https://github.com/dart-lang/sdk/releases/tag/2.3.3-dev.0.0)
https://github.com/dart-lang/sdk/commit/e4196ce8c680361c4b4b375d03013393899bdaae
https://github.com/dart-lang/sdk/commit/a1401e3015571a76a9149395839208e5ce05f19d

There is a further 8% regressio

[2019-06-13 23:07] a-siva commented on #37260
https://dart-review.googlesource.com/c/sdk/+/106006 disables unopt megamorphic call specialization for now.

[2019-06-13 23:08] aartbik commented on #35323
Nothing left here that does not fall under general performance improvements that are ongoing.

[2019-06-13 23:08] #35323 closed

[2019-06-13 23:46] mleonhard opened #37262 "Explain that List.== does not compare contents, link to collections.ListEquality"
I had difficulty finding out how to compare the contents of two List objects.  My first stop was the List.== operator:
https://api.dartlang.org/stable/2.3.2/dart-core/List-class.html#operators
That page links to Object.== operator.  I spent 15 minutes finding the [answer](https://stackoverflow.com/a/22333042).  How about updating the docs to helpfully state that List.== does not compare contents,

[2019-06-14 06:10] alexanderzeillinger commented on #34350
Incredible - still broken in 2.3.2

[2019-06-14 07:25] sgrekhov opened #37263 "Confusing cascade expressions issue"
Please, consider the following code:

[code]

There is no error here. According to the Dart specification

The last sentence  'Then c evaluates to o' explayns why string was not trimmed. After calling trim methods, s variable was initialized by the value of not trimmed string literal. But... It's confusing, guys! I had to read Language specification to figure out what's going on here. I'd suggest

[2019-06-14 07:30] lrhn commented on #36956
Yes, the specification changed for Dart 2.0.
In Dart 1, the expression `null` had type bottom. In Dart 2, it has type `Null`.

So, in Dart 2, `-null` is invalid and in Dart 1 it would have been valid (and a guaranteed run-time error).

The design in Dart 1 was because `Null` was not a subtype of other types, so the least upper bound of `test ? 1 : null` would be `Object`, not `int`. In Dart 2, `Nu

[2019-06-14 07:41] lrhn commented on #37263
The problem here is not that the receiver is immutable, but that the methods are ones used *only* for their return value. If you had `[1, 2, 3]..join(",")`, it would be just as useless, even though the receiver is mutable.
If you had a constant like `const nums = [1, 2, 3];`, then `nums..join()` would still be bad, but `nums..forEach(print)` would not.

There is no easy and general way to detect w

[2019-06-14 08:01] dcharkes commented on #37241
backtrace from the failure in debug:

[code]

[2019-06-14 08:04] lrhn commented on #37246
The inferred type of `Future<FutureOr<Result<String>>> Function(int)` definitely looks like a bug in inference.
There is a context type for the function literal, so the return type is given! It *should* be `Future<Result<String>>`. A function literal with a provided return type in the context should not infer a return type at all (and if it does, it should be only to find a more precise type if po

[2019-06-14 08:23] eernstg commented on #37263
You could say that we're using the `void` return type to indicate during static analysis that "You should ignore the returned value". Conversely, we could have a notion of "You should _not_ ignore the returned value". This could be a lint, and it could be determined by a metadata:

[code]

The [unawaited_futures](http://dart-lang.github.io/linter/lints/unawaited_futures.html) lint already has a pr

[2019-06-14 08:33] wizcas commented on #36996
I've hit this error as well and I have to say this is SUPER confusing. Thanks @filiph !

[2019-06-14 10:30] ochafik commented on #33134
This has just bitten us in prod.
A library we're using started adding passing an extra parameter to our callback, which from their perspective seemed like a non-breaking API change (as in, it typically wouldn't have broken any JavaScript clients).

I had to write the ugliest of hacks as a workaround:

[code]

Can this be prioritized?

[2019-06-14 11:21] sjindel-google commented on #37180
@dcharkes I'll take this one since it doesn't look related to #37241

[2019-06-14 12:59] daniel-v opened #37264 "VM crash: access violation on Win x64"
Affected VM versions (I know of):
* Dart version 2.3.0 (build 2.3.0-dev.0.5 a1668566e5) - used by Flutter 1.5.4
* Dart VM version: 2.3.1 (Tue May 21 19:28:38 2019 +0200) on "windows_x64"

**Error:**

[code]

**Repro**

[code]

There are 2 aspects to this crash:

1. not sure if this should crash at all
2. analyzer should complain, that I might want to use another format for the `typedef`.

[code]

[2019-06-14 13:23] sjindel-google opened #37265 "[vm/ffi] Write test for behavior of allocation of size-0 structs."
Currently, it might succeed or throw an exception, depending on the behavior of `malloc`.

[2019-06-14 13:26] #37180 closed

[2019-06-14 13:49] dcharkes commented on #37241
`d0`

[code]

`../../runtime/vm/raw_object.h: 242: error: expected: IsWellFormed()` finds an unboxed integer on the stack.

[code]

[2019-06-14 14:30] vsmenon commented on #33134
@rakudrama @natebosch - do we have consensus on the more lax semantics?  @ochafik 's case is motivation for that.

[2019-06-14 14:46] duzenko opened #37266 "@required seemingly ignored in default constructors"
* Dart SDK Version (`dart --version`)
`Dart VM version: 2.3.0-dev.0.5.flutter-a1668566e5 (Tue Apr 30 20:35:41 2019 +0200) on "windows_x64"`
* Whether you are using Windows, MacOSX, or Linux (if applicable)
`Windows 10 x64`
* Whether you are using Chrome, Safari, Firefox, Edge (if applicable)
`Flutter`

[code]

This seems to compile just fine to me. When debugger stops in BasePage() due to a breakp

[2019-06-14 15:13] DanTup commented on #37167
This looks like a dupe of https://github.com/dart-lang/sdk/issues/36961 - did you have code that might have been like the sample in there?

[2019-06-14 15:13] DanTup commented on #36009
Is this a dupe of https://github.com/dart-lang/sdk/issues/36961?

[2019-06-14 15:14] DanTup commented on #37015
Possibly a dupe of https://github.com/dart-lang/sdk/issues/36961?

[2019-06-14 15:14] DanTup commented on #36580
Possibly a dupe of #36961?

[2019-06-14 15:14] DanTup commented on #36397
Possibly a dupe of #36961?

[2019-06-14 15:25] srawlins commented on #35738
Dupe of https://github.com/dart-lang/sdk/issues/27218

[2019-06-14 15:26] stereotype441 commented on #36009
@DanTup seems likely.  Thanks for noticing that!

[2019-06-14 15:26] stereotype441 commented on #36009
Duplicate of #36961

[2019-06-14 15:26] #36009 closed

[2019-06-14 15:32] stereotype441 commented on #34177
I discussed this with @jakemac53, @yjbanov, and @jonahwilliams yesterday.  Since the Flutter code that triggered this problem is going to be compiled using kernel, we believe this is no longer necessary to fix on the analyzer.  We'll reopen the issue if that changes.

[2019-06-14 15:32] #34177 closed

[2019-06-14 15:33] stereotype441 commented on #34179
I discussed this with @jakemac53, @yjbanov, and @jonahwilliams yesterday.  Since the Flutter code that triggered this problem is going to be compiled using kernel, we believe this is no longer necessary to fix on the analyzer.  We'll reopen the issue if that changes.

[2019-06-14 15:33] #34179 closed

[2019-06-14 15:34] srawlins commented on #37266
Ooh interesting catch. I've filed this as an enhancement request rather than a bug, because the [specification of @required](https://pub.dev/documentation/meta/latest/meta/required-constant.html) does not spell out that implicit no-arg super constructor calls should be included... if this is a valid request, it would probably be a new analyzer Hint, with specific text about the implicit call.

CC

[2019-06-14 15:41] srawlins commented on #37266
CC @stereotype441 as well; I think this brings up Non-nullable type implications. It's interesting that `BasePage({@required this.title})` is a valid "zero-arg constructor," when it accepts a named argument tied to a final field. I suppose it's okie dokey because the value of `this.title` will be assigned a default value of `null` if the constructor is called implicitly. NNBD features truly requir

[2019-06-14 15:50] mkustermann commented on #37257
Guess the underlying issue has been fixed and we can close this issue?

[2019-06-14 15:55] bwilkerson commented on #37266
Yes, NNBD defines truly required named parameters. In that world (assuming the annotation is replaced by the real syntax), the constructor in `BasePage` will no longer be a zero argument constructor.

I don't know whether it's worth adding a new hint (or enhancing the existing hint) to cover this case given that NNBD will define explicit support for this, but I'm happy to see it added if we think

[2019-06-14 16:42] dcharkes commented on #37241
[code]

The case where there is no stack map.

Even though:

[code]

So I presume the specific PcOffset is not covered by any of the 25 stack maps.

[2019-06-14 16:47] sjindel-google commented on #37241
https://dart-review.googlesource.com/c/sdk/+/105590

[2019-06-14 16:55] #37241 closed

[2019-06-14 16:56] dcharkes commented on #37069
Regression test landed.

[2019-06-14 16:56] #37069 closed

[2019-06-14 17:01] natebosch commented on #34179
For clarification, the problem wasn't specific to flutter web and the usage of kernel to compile is not specific to flutter web. All external projects using `build_web_compilers` version 2 will be using the kernel codepath and this issue will not impact them. With the latest SDK we've fixed the bugs with JS interop and we expect all users to migrate to the latest `build_web_compilers`.

[2019-06-14 17:11] a-siva commented on #37155
Can you provide us with some instructions or steps to reproduce the problem you are encountering

[2019-06-14 17:20] a-siva commented on #37108
I presume you made a change and did a hot reload after that which triggered this stack trace?

[2019-06-14 17:24] #57977 closed

[2019-06-14 18:07] #57980 closed

[2019-06-14 18:51] kika commented on #37108
Yes, I use VS Code and DartCode plugin. It does hot reload automatically.

[2019-06-14 19:01] kevmoo opened #37267 "Inconsistent error reporting between dart2js and DDC with generic types"
See https://github.com/kevmoo/dart_sdk_issue_37267

`webdev serve` – no problem

`webdev serve --release`

![Screen Shot 2019-06-14 at 12 11 58 PM](https://user-images.githubusercontent.com/17034/59532482-bccbe700-8e9d-11e9-9097-0d4bada48f9c.png)

Packages: see pubspec.lock
SDK: 2.4.0-dev.0.0

[2019-06-14 19:17] vsmenon commented on #37267
Do we know if that's a correct error?

Are you running with `-O3` or higher?

[2019-06-14 19:20] kevmoo commented on #37267
Running w/ defaults.

I couldn't find an error. It works fine on DDC. Wondering if this is a bug in Dart2js

[2019-06-14 20:35] eernstg commented on #36679
Issues #36126 and #36127 report on the fact that both the analyzer and DDC report errors where the spec says 'static warning'. The vm and dart2js do not report anything, which would be fine if it's a warning.

So one way to settle this is to say (1) all those warnings which are currently reported as errors by the analyzer and DDC remain errors (and we adjust the spec for that again), and then (2)

[2019-06-14 20:49] jonahwilliams commented on #37259
Potential workaround: always reload the root module on start.

[2019-06-14 21:16] vsmenon commented on #37267
@kevmoo - @rakudrama is investigating.  He already found that the app works if you disable dart2js inlining (--disable-inlining in build.yaml).

[2019-06-14 21:30] #36956 closed

[2019-06-14 22:29] cyanglaz opened #37268 "IDE `uncaught exception` breakpoint stopped unexpectedly when using a combination of Future and Completer"
* Dart SDK Version (`dart --version`)
`Dart VM version: 2.3.1-dev.0.0.flutter-a0290f823c (Thu May 9 07:43:56 2019 +0000) on "macos_x64"`

Consider this code:
[code]

When we call `callMethod` like
[code]

Even we wrap the code in a try-catch block, the `uncaught exception` break point in VSCode and Android will stop, saying the exception is uncaught. And the `e` is actually caught and I can see th

[2019-06-14 22:57] komapeb commented on #37268
This is also true for Android Studio, see https://github.com/flutter/flutter/issues/26705#issuecomment-500502338

[2019-06-14 23:23] ds84182 commented on #35782
Will `class Foo extends Void {}` be allowed? Or is it limited to only non-zero-sized native types?

[2019-06-14 23:35] #35279 closed

[2019-06-14 23:57] aam commented on #37108
Reassigned per internally tracked issue.

[2019-06-15 00:06] jamesderlin commented on #29570
If this issue is actually about making dartanalyzer report errors in `analysis_options.yaml`, could you change the issue title so that this is easier to find?  The current one is confusing.

[2019-06-15 02:00] 84819760 opened #37269 "Naming conflict of multi-inherited members？"
//C# code
interface IInterface1 { string GetValue(); }
interface IInterface2 { int GetValue(); }
class Test : IInterface1, IInterface2
{
    //explicit override:
    string IInterface1.GetValue() => "result";
    int IInterface2.GetValue() => 9527;
}
void Main(string[] args)
{
        //Use interface
        var test = new Test();
        string resultString = (test as IInterface1).GetValue();

[2019-06-15 04:18] andrewackerman opened #37270 "Type Inference in Method Call Not Working As Expected"
I'm having an issue getting a method to infer its types. I have a suspicion that it has to do with closures somehow, but it doesn't seem to be directly caused by them.

https://dartpad.dartlang.org/db03cb725b9f25c38d4c453fc47d53f9

When I run that program, I would expect the output to be

    [Person, Pet, String, Map<String, String>]
    List<Person>, List<Pet>, (Person) => String, (Pet) => Strin

[2019-06-15 09:45] PixelToast opened #37271 "[ffi] Nested structs"
Right now it isn't possible to represent nested structs using ffi, for example the following C data structure:

[code]

In Dart:

[code]
Does not compile.

[2019-06-15 12:44] leafpetersen commented on #37246
This reproduces on the CFE but not the analyzer.  See below for a stand alone reproduction.  It looks like a clear bug to me.  The least upper bound of the two returned values is `Object`, which is assignable to (but not a subtype of) `FutureOr<Result<String>>`, so inference should choose `Future<Result<String>>` as the return type, which is indeed what I get if I run this in ddc.

[code]

[2019-06-15 13:33] toddabel opened #37272 "Exception from analysis server (running from VSCode / Dart Code)"
Please review the below report for any information you do not wish to share and report to
  https://github.com/dart-lang/sdk/issues/new

Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

Creating a new class extending List&lt;T&gt;. Class definition as follows:

[code]

### Versions

- Flutter SDK 1.5.4-hotfix.2
- Visual Studio Code 1.35.0
- Dart Code 3.1.0

#

[2019-06-15 13:42] rakudrama commented on #37267
@johnniwinther could you take a look? I didn't make much progress before the weekend.

[2019-06-15 14:57] Aceix opened #37273 "Correction in docs"
https://github.com/dart-lang/sdk/blob/1d8b81283c1dee38f1dd87b71b16aa1648b01155/sdk/lib/convert/json.dart#L67

Converts [object] to JSON string not [value]

[2019-06-15 15:54] bill-brightlineeating opened #37274 "Error opening Visual Studio Code app audioplayer"
Please review the below report for any information you do not wish to share and report to
  https://github.com/dart-lang/sdk/issues/new

Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

Opened project

### Request

While responding to request: `analysis.setAnalysisRoots`

### Versions

- Flutter SDK 1.5.4-hotfix.2
- Visual Studio Code 1.35.1
- Dart Code 3.1.0

[2019-06-15 20:20] petrhosek opened #37275 "dart/runtime/vm/compiler/backend/il.h: 1292: error: unreachable code"
Fuchsia LTO bots have recently started hitting this error:
[code]

[2019-06-16 00:09] efortuna opened #37276 "Exception from analysis server (running from VSCode / Dart Code)"
### What I was doing

running hot restart?

### Versions

- Flutter SDK 1.5.4-hotfix.2
- Visual Studio Code 1.33.1
- Dart Code 3.0.0-beta.1

### Analyzer Info

The analyzer was launched using the arguments:

[code]

### Exception

Captured exception

[code]

[2019-06-16 03:48] PixelToast commented on #37216
Why not support passing all native types not just functions?

Note that at the moment you get a fatal unreachable code exception when attempting to serialize FFI objects, see SnapshotWriter::WriteMarkedObjectImpl

[2019-06-16 05:37] scheglov commented on #36790
It seems that this issue is a mix of two separate issues.
1. Filtering duplicates of elements already available via existing imports. This is implemented with `existingImports` notification in DAS. @lambdabaa is adding support in IntelliJ.
2. Unnecessary import prefix. This was fixed.

[2019-06-16 05:37] #36790 closed

[2019-06-16 09:19] jaumard commented on #22265
Any news on this ?? I'm doing a MJPEG reader, if I can't abort the request does this mean once it start it will actually never stop ??

[2019-06-16 09:46] vespasyan opened #37277 "compiler error"
compiler message:
Warning: Tried to initialize from a previous compilation (build/app.dill.track.dill), but the file was not self-contained. This might be a bug.

[initialize_from.dill.gz](https://github.com/dart-lang/sdk/files/3294005/initialize_from.dill.gz)

[2019-06-16 12:26] cedx commented on #34659
It would be also cool if we could use the [Crypto.subtle](https://developer.mozilla.org/fr/docs/Web/API/Crypto/subtle) APIs from `dart:html`. Currently [the API exposed by Dart](https://api.dartlang.org/stable/2.4.0/dart-html/Crypto/subtle.html) is unusable.

[2019-06-16 13:52] dingbo8128 opened #37278 "OS Error: Bad file descriptor when call RandomAccessFile.write* method"
Dart VM version: 2.3.2 (Tue Jun 11 15:29:47 2019 +0200) on "macos_x64"

[code]
Failed to load "...": writeByte failed, path = 'testfile' (OS Error: Bad file descriptor, errno = 9)

[2019-06-16 14:29] #37278 closed

[2019-06-16 14:30] dingbo8128 commented on #37278
Sorry , I missed a parameter,  mode: FileMode.write

[2019-06-16 14:38] danrubel opened #37279 "crash on Raspberry Pi"
My Dart based service runs fine on the Raspberry pi, but when I signal it to stop, I get the following. Any pointers to help me track this down would be most appreciated.

===== CRASH =====
si_signo=Segmentation fault(11), si_code=1, si_addr=0x24
version=2.3.1 (Tue May 21 19:28:38 2019 +0200) on "linux_arm"
thread=612, isolate=(null)((nil))
  pc 0x01967460 fp 0x6e63e798 unw_get_proc_info
  pc 0x01

[2019-06-16 19:34] mraleph commented on #36977
Based on a brief look - yeah this is just out of registers situation. On DBC32 we have only 32 registers and we need a register for every `Parameter()` in the catch block entry.

I think code in the `ProcessInitialDefinition` that handles `Parameter` inside `CatchBlockEntry` for DBC there needs to be a check that we are not touching the space for normal parameters.

If we do - then we should just

[2019-06-16 19:36] mraleph commented on #36977
@mkustermann Martin could you work with @aartbik and find somebody to fix this bug? Should be rather straightforward change. Let me know if you need to guidance from me.

[2019-06-16 19:46] mraleph commented on #37149
@alexmarkov could you take a look at this? I guess tree-shaker needs to prune call-site attributes if they refer to shaken things.

[2019-06-16 21:54] sjindel-google commented on #35934
This appears to also cause crashes when passing native objects between isolates, see https://github.com/dart-lang/sdk/issues/37216#issuecomment-502417372

[2019-06-16 21:57] sjindel-google commented on #37216
We will likely support that as well, although passing structs will probably be limited to isolates spawned from the same source (for the same reasons as the existing limitation of passing objects). We are tracking the snapshot issue in #35934 -- thanks for pointing out that it can be trigged this way as well.

[2019-06-16 22:07] sjindel-google commented on #35782
I think we're planning to only allow extending `Struct` for now. However, structs can have size 0 if there are no fields.

[2019-06-16 23:51] dgrove commented on #37277
This is addressed in Dart 2.4 by https://dart-review.googlesource.com/c/sdk/+/105240/ .

[2019-06-16 23:51] #37277 closed

[2019-06-16 23:59] dgrove commented on #37268
Assigning to @bkonyi since this is happening in multiple IDE's.

[2019-06-17 01:13] dingbo8128 opened #37280 "cascade operator not work on the sort method of a List"
Dart VM version: 2.3.2 (Tue Jun 11 15:29:47 2019 +0200) on "macos_x64"

[code]
Unable to spawn isolate: test/sorttest.dart:3:28: Error: This expression has type 'void' and can't be used.
  var maxNumber = numbers..sort().last();

[2019-06-17 03:42] alexmarkov commented on #37149
@mraleph Call site annotator runs after TFA tree shaker, so tree shaker can't possibly prune attributes which are added later. Maybe call site annotator should prune function types to avoid referencing removed typedefs. I'll take a look.

[2019-06-17 07:05] jumperchen commented on #37155
@a-siva
We don't know how it happens yet and it appears this error log in our production server.
After we enabled the debugging logger level in our production server last weekend, we can see a command before the crash log is to send a data (`3` in the log info) to [dart websocket](https://api.dartlang.org/stable/2.1.0/dart-io/WebSocket/add.html).

For example,
https://github.com/rikulo/socket.io-d

[2019-06-17 07:17] lrhn commented on #37280
You need to write it as `(numbers..sort()).last`.

As written, it sorts the list, which returns `void`, and then tries to call `last` on that return value.

You can also use: `numbers.reduce((a, b) => a > b ? a : b)` to find the maximal element without sorting first.

[2019-06-17 07:58] lrhn commented on #37269
Dart does not have overloading at all. A class or interface can only have one member with a given name, and it must be a valid override of all superinterface members with the same name.

In this situation, the only valid override would be `Null getValue();` because `Null` is the only type which is a subtype of both `String` and `int`.

You cannot do C#-like overloading of multiple virtual methods

[2019-06-17 08:03] lrhn commented on #37270
This does look like expected behavior.
The first example creates `people` with inferred type `List<Person>`. It hen creates a `Bar` object with type parameter inferred to be `Person`.
Then it calls `run` with type signature:
[code]
with arguments of types `List<Pet>`, `

[code]

[2019-06-17 08:11] dcharkes commented on #37271
Hey @PixelToast, at the moment we only support pointers to structs inside structs, see https://github.com/dart-lang/sdk/blob/master/samples/ffi/coordinate.dart#L18-L19.

We do want to support nested (by value) structs in the future, but we have to change the structs API first, see https://github.com/dart-lang/sdk/issues/37229.

[2019-06-17 08:15] yang-f opened #37281 "Singleton instance does't get created until the first time constructor is called."
See question below.

[2019-06-17 08:21] yang-f commented on #37281
[code]
I want the instance get created at once, but it is not.

[2019-06-17 08:42] lrhn commented on #37281
The only Dart code that gets evaluated before `main` is called, and not as a direct or indirect call from the `main` code, is constants (and even those are indistinguishable from being created the first time they are referenced). That is why static fields are initialized on first access, because that is the first time control flow from `main` reaches the code which initializes the field.

There is

[2019-06-17 09:06] andrewackerman commented on #37270
It makes sense then why this is expected behavior for the compiler. However, this is still very unexpected behavior from an intuitive standpoint. Constraints for `B` cannot be inferred from `innerSelector` or `resultSelector` and so for those arguments `B` defaults to the loosest constraint possible `dynamic`, which makes sense. However, the value of `B` should be blatantly obvious from the value

[2019-06-17 09:14] yang-f commented on #37281
because this:
[code]
and when some on call it:
[code]
the async operation does't completed at all.

[2019-06-17 09:20] yang-f commented on #37281
'at once' means the beginning of the runtime.

[2019-06-17 09:24] lrhn commented on #37281
There is no way to run code at the beginning of runtime. Dart is deliberately designed to make that not possible. Even if there was a way to do that, you would still have to wait for the asynchronous operation to complete before giving access to the created singleton, so you would have to block `main` until the async operation was done.

Having to do an operation, async or not, does prevent you fr

[2019-06-17 09:33] lrhn commented on #37270
Ah, yes. The compiler is slightly smarter than me. Since `B` occurs only contravariantly in the function parameters, the constraints on `B` are really `Pet <: B` and `B <: dynamic`, and it can use `Pet` as a solution to that. It's still too late to push that solution back into the arguments, those were already analyzed and inferred independently. The third argument's type is still `dynamic Functio

[2019-06-17 09:39] yang-f commented on #37281
It seems a good solution, and i have another problem. I have to access the singleton in a sync function,  such as widget of flutter's build:
[code]
any idea?

[2019-06-17 09:46] yang-f commented on #37281
sorry, i think it's a `bad` question. And my meaning is: `it seems an impossible task.`

[2019-06-17 09:51] sjindel-google commented on #35902
Another thing to check is that the trampolines and other ops that work on Pointers but aren't instance methods still work when the Pointer class is implemented (instead of extended).

[2019-06-17 09:57] andrewackerman commented on #37270
I guess the next question then would be why didn't it work even when I explicitly set the type parameters? When I structured the call as `Bar<Person>(people).run<Pet, String, Map>`, the runtime types of the parameters in the closures were still `dynamic`. In that situation at least, the types should've been correctly "inferred" as there's nothing for it to need to infer, no? Since by that point, t

[2019-06-17 10:04] shashikantshaale opened #37282 "Feature request : object type cast in switch block"
`class A {
  int a;
}

class B extends A {
  int b;
}

class C extends A {
  int c;
}

main() {
  final x = A();

//SOME OPERATION

  if (x is B) {
    print(x.b);
  }
  if (x is C) {
    print(x.c);
  }

  switch (x.runtimeType) {
    case B:
      print(x.b);
      break;
    case C:
      print(x.c);
  }
}
`

x is casted to respective class object in if block.

Can we have it in the **switch bl

[2019-06-17 11:14] julemand101 commented on #37281
I know nothing about Flutter but perhaps this guides is useful for you:
https://flutter.dev/docs/development/ui/widgets/async

I think you need to use the FutureBuilder.

[2019-06-17 11:19] lrhn commented on #37282
Most likely not. The `runtimeType` getter can be overridden on any object, so the fact that an object's `runtimeType` returns the `Type` object for the type `B` doesn't actually guarantee that the object actually implements `B`.

As such, the code cannot safely perform type promotion based on `runtimeType`.

I generally recommend against using `runtimeType` for anything. It rarely does exactly wha

[2019-06-17 11:36] heinrichreimer commented on #37167
Oh, I don't remember unfortunately 😢

[2019-06-17 11:38] DanTup commented on #37167
Based on the stack being the same, I think it's likely this is a dupe. I'll close this on that assumption, but if you do see it again after the fix in that issue ships, please do post back (and if possible, including what you were typing when it happened). Thanks!

[2019-06-17 11:38] #37167 closed

[2019-06-17 11:44] lrhn commented on #37270
Now, that *does* look like a bug!
If I expand `Foo2<A, B>` into `B Function(A)`, and similarly for the other function type aliases, then I do get the expected run-time types.

What I see is that the old-style generic type alias is not handled correctly.
Example code:
[code]
Here the `test` function prints `dynamic` as the argument type, but but the argument type of `test` is (or should be) *exactl

[2019-06-17 11:52] sjindel-google commented on #37133
https://dart-review.googlesource.com/c/sdk/+/105590