[2019-04-04 08:01] askeksa-google commented on #36454
Thanks, Lasse. I thought I fixed that in https://dart-review.googlesource.com/c/sdk/+/93520, but that fix apparently doesn't quite work with implicit `new`/`const`.

[2019-04-04 08:02] tophattom commented on #36464
Oh, I see. Thanks! I'll open an issue in https://github.com/tomv564/lsp then.

[2019-04-04 08:06] DanTup commented on #36464
@tophattom Great - feel free to CC me in the issue or post the link back here. I've opened https://github.com/Microsoft/language-server-protocol/issues/713 to try and have the spec made clearer (there is a table at https://github.com/Microsoft/language-server-protocol/issues/288#issue-253180885 which matches my understanding, it's just not as clear from the spec).

I'll close this for now since I

[2019-04-04 08:06] #36464 closed

[2019-04-04 08:15] DanTup commented on #36464
@tophattom Btw, if you've managed to get this all working well, it might be worth having some notes shared somewhere (for ex. we have Vim instructions linked at https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/tool/lsp_spec/README.md#using-the-dart-lsp-server-in-editors). There was also a request for Sublime Flutter support, so the author of https://github.com/flutter/flutter/issue

[2019-04-04 08:34] lrhn commented on #36359
It's a breaking change, and it hasn't landed yet, but otherwise yes.

[2019-04-04 08:41] tophattom commented on #36464
Actually, I just copied your configuration from that thread. This didSave error was so annoying that I had to disable the server for now so didn't get to play around with it that much. Seemed to work fine, though. But I'll try to write more instructions if I ever figure more stuff out!

[2019-04-04 08:44] kmillikin commented on #36466
That looks like a bug in the VM-specific async transformation.  I'll fix it.

[2019-04-04 08:49] mraleph commented on #36422
Duplicate of #36337

[2019-04-04 08:49] #36422 closed

[2019-04-04 08:54] kmillikin commented on #36337
@lrhn Do you agree that the analyzer should signal that `../file3.dart` doesn't exist, or is there some other fix needed here?

[2019-04-04 08:54] kmillikin commented on #36337
/cc @stereotype441

[2019-04-04 09:00] DanTup commented on #36464
Ah 😁

Unfortunately there's no quick fix for the `didSave` issue in the server (unless you wanted to implement an empty handler and run the server from source). If you can modify the source of the LSP extension, probably you could just comment this line out (though it would apply to other LSP implementations you're using too):

https://github.com/tomv564/LSP/blob/263b5b30b0744d777a3bdfb77aa174abf6

[2019-04-04 09:31] lrhn commented on #36337
Yes, the code asks for `baseUri/folder/file3.dart`. If there is no such file, it should be an error.
The code does *not* as for 'baseUri/file3.dart', so that should not be what it gets.

The fact that `folder//file2.dart` works annoying, but unavoidable. That file does exist according to the file system. From Dart's perspective, it is a file entirely unrelated to `folder/file2.dart`, so if you imp

[2019-04-04 09:36] lrhn commented on #36365
I hope to get some time to look at this, but I cannot promise it.
I wouldn't recommend writing any code until we have the design hashed out. I'm thinking along the lines of adding extra optional parameters to the `JsonEncoder` constructors which either specify that the `toJsonable` must be run before checking for the known types, or to specify another function, `toJsonableFirst`?, to be run before

[2019-04-04 09:50] twistedinferno commented on #36462
Marvelous, it all works now :-)

[2019-04-04 09:50] #36462 closed

[2019-04-04 09:52] lrhn commented on #36386
I don't think we will change the SDK classes. The `DelegatingStream` from `package:async` may want to change to either forward all members, or not forward `asBroadcastStream` (or having both versions available).

[2019-04-04 10:00] DanTup commented on #36337
I was confused why the analyzer didn't hit this, but discovered that if you add `export '../file3.dart';` into `file2.dart` in the sample above and then try to call `b()` from `file1`, you'll see the same issue at analysis time:

[code]

But without the double-slash, of course it's fine:

[code]

This suggests the issue might be bit (but silent) during analysis. When analyzing file1, the server mu

[2019-04-04 10:26] truongsinh commented on #36365
Thanks, @lrnh, but on the

I would beg that the struct/class code author should have some kind of control over how that struct/class is about to be serialized, similar to `toString`, and https://golang.org/pkg/encoding/json/#Marshaler . In fact, in my experiences, code user usually use struct/class from one library, and pass it to another library to be serialized, without any control of how the se

[2019-04-04 11:31] Sacchid opened #36467 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.6183.87`
- `2.2.0`
- `IU-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

## Exception
[code]

For additional log information, please append the contents of
[file://C:\Users\sacch\AppData\Local\Temp\report.txt](https://drive.google.com/open?id=1ZhlsFU5NqYUKQw4zRWr-

[2019-04-04 11:38] sortie commented on #36263
Hi, being able to fake the Platform class is a reasonable request. As you point out package:platform is a workaround that works right now. I'm currently planning a new design that meets @yjbanov's needs and I'll add this to the design considerations as well. Unfortunately I won't be able to execute on this until early May.

[2019-04-04 11:58] sortie commented on #36449
You can currently select a network by binding to the source address of the network. Unfortunately #26329 means listing network interfaces is not implemented on Android, so you'll have to find the right source address some other way.

Would that be enough to solve your issue, or do you need additional functionality?

Btw, Linux exposes the functionality to bind a socket to a given network interface

[2019-04-04 12:14] ened commented on #36449
@sortie just to be clear:
By `binding` you mean this code:

[code]

And by source address the address specified in `myIp`?

Testing this is a little bit of a mess but I would definitely look for a ways to bind the socket using the Android API, as I don't trust the automatic network switching functions as they are implemented on some phones.

[2019-04-04 12:20] sortie commented on #36449
If the sourceAddress parameter is set, then the Socket.connect does the following system calls: It creates the socket(2), it bind(2)s the socket to sourceAddress on port 0 (allocate a port), and then it connect(2)s to the destination. Binding to an address before connect ensures that the connection is made from that source address. The source address must be one of the network interfaces, and thus

[2019-04-04 12:32] #36454 closed

[2019-04-04 13:12] jensjoha commented on #36016
Thank you for reporting this issue.
Unfortunately this is an old version of dart, where I didn't include enough debugging information in the message to actually fix the issue.
Rest assured though, that everything should still be fine: It tried a speed-up trick but failed --- it then reverted back to a slower compile.

[2019-04-04 13:12] #36016 closed

[2019-04-04 13:14] jensjoha commented on #35866
I'll assume the above was correct. #36032 was created to remedy such situations (although its still not fixed).

[2019-04-04 13:14] #35866 closed

[2019-04-04 13:18] jensjoha commented on #35788
In e9e0daee5c9eb89b58ded0b8e087612f23b9a6fd the import uris are available for all sources in the kernel file. In 58882ffdd49afdfb53c7be15361340bb64760fe4 it is also read by the VM.

[2019-04-04 13:18] jensjoha commented on #35788
I suspect this issue can be closed?

[2019-04-04 13:23] kmillikin opened #36468 "Please improve the usability of gen_bytecode_test"
This test is not ideal because it's testing the bytecode generator and expecting it to produce the *same* output for possibly *different* inputs.  When something changes in Fasta we often have to either regenerate the expectations or mark this test as failing.

The test output is nearly unusable.  When it fails it gives a useless stack trace.  Catch this and give a useful message.  It dumps out a

[2019-04-04 13:23] kmillikin commented on #36468
/cc @alexmarkov

[2019-04-04 13:30] jensjoha commented on #35531
Thank you for reporting this issue.
Unfortunately this is an old version of dart, where I didn't include enough debugging information in the message to actually fix the issue.
Rest assured though, that everything should still be fine: It tried a speed-up trick but failed --- it then reverted back to a slower compile.

[2019-04-04 13:30] #35531 closed

[2019-04-04 13:41] mkustermann opened #36469 "Get windows coredump archiving to work again"
The coredump generation on windows seems to have trouble:

From [this build](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8917106744239932976/+/steps/vm_tests_shard_7_on_Windows/0/stdout):
[code]

I will disable this exception for now.

/cc @mraleph @athomas

[2019-04-04 14:04] kmillikin commented on #36468
OK, I didn't commit the CL with the test failure yet.  It's https://dart-review.googlesource.com/c/sdk/+/98664 which fails because we are currently (and temporarily) allocating more context variables in the async translation.

How do I regenerate the expectations, and can it be made more discoverable?

[2019-04-04 14:28] sstrickl commented on #36280
The only reason I can imagine that happening is running on different versions of Chrome. (Chrome <=65 should error on this, whereas Chrome >=66 should pass.) The fact that it's consistently one way or the other makes me think that's what's happening, but I thought our setup used Chrome 65 (currently). Is it possible that a newer version of Chrome could be installed on some bots?

[2019-04-04 14:32] dev-mush opened #36470 "Compiler crashed"
- os: container google/dart:2.1.0 on google cloud build
- dart version: google/dart:2.1.0 on google cloud build

[code]

[2019-04-04 14:35] kmillikin commented on #36466
[CL 98664](https://dart-review.googlesource.com/c/sdk/+/98664) fixes `for_await_test` at the cost of sometimes using more temporary variables than necessary in the VM's async transformation.  Eventually this should be fixed but that needs a different way to know about liveness.

`await_for_null_test` doesn't seem to have anything to do with control-flow collections.  A similar test with an `await

[2019-04-04 14:36] kmillikin commented on #36466
This test fails in the same way as `await_for_null_test`:

[code]

[2019-04-04 15:32] #36236 closed

[2019-04-04 15:41] nshahan commented on #36444
It looks like the test cases that use doubles were fixed but the tests that use a class (`Duration` in these tests) that overrides operator== are still failing to produce a compile time error:

https://github.com/dart-lang/sdk/blob/a112b11e2e51cd22cacd044f530a178da1409d58/tests/language_2/control_flow_collections/if_const_error_test.dart#L86

https://github.com/dart-lang/sdk/blob/a112b11e2e51cd22c

[2019-04-04 15:47] alexmarkov commented on #36468
In order to re-generate expectations please run the following script:

[code]

Thank you for the suggestions! In addition, does it make sense to unify re-generation of expectations with front-end tests?

Also, I'm not sure that these test are very useful now, as we have functional testing of bytecode pipeline on dartkb bots, so we can consider removing them.

[2019-04-04 15:53] kmillikin commented on #36468
Thanks for the instructions.  I'm sorry to have sounded so frustrated in the initial report.

[2019-04-04 15:56] filiph opened #57929 "An invariant_booleans lint for if-else statement"
When the code looks like:

[code]

I would like `invariant_booleans` (or some derivative of same) to fire. Right now, it doesn't.

### Example

[code]

### Additional context
This is a real example from production code (from a non-Dart context):
https://twitter.com/Split82/status/1113794122756894721.

[2019-04-04 16:31] askeksa-google opened #36471 "Regression on positions of constants"
With the new constant evaluator, we don't serialize the source positions of constants. This causes some missing positions in stack traces when a constant is involved in a runtime error. For instance, the test `language_2/vm/bool_check_stack_traces_test/01` fails because a `null` condition in an `if` statement comes from a `const` variable.

A full fix will require a change to the Kernel binary for

[2019-04-04 16:43] kealjones-wk opened #36472 "js-interop: dart2js is unable to utilize dashes in JS annotations"
**Describe the issue you're seeing**
When utilizing dashes in the `@JS`annotation it works as expected in DDC but will fail in dart2js. It fails because it adds spaces around the `-` and then attempts to use the dot syntax when it should use the array syntax.

**Does it happen in Dartium or when compiled to JavaScript?**
When compiled using dart2js

* Dart SDK version: 2.2.0
* pkg/js version: "0.6

[2019-04-04 16:45] rayk opened #36473 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.6183.87`
- `2.2.0`
- `IU-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 2560x1440, 1200x1920`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/4g/5hhdm40x43zd7r_43429rgyr0000gn/T/report.txt.

[2019-04-04 17:13] vsmenon commented on #36433
@leafpetersen - is there anything we need to land to unblock 2.3?

[2019-04-04 17:13] scheglov opened #36474 "Cannot add to an unmodifiable list in _extractDartdocInfoFromUnit"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA 192.SNAPSHOT`
- `2.2.1-edge.ffee99d79b1c3d57c24c6b06384d7e14208302af`
- `IC-192.SNAPSHOT, JRE 1.8.0_112-b16x64 Oracle Corporation, OS Mac OS X(x86_64) v10.14.3, screens 1680x1050  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/cp/_32g44l548q8d0bfj4_l9s3m003ky_/T

[2019-04-04 17:22] scheglov commented on #36474
Ah, I think I know.

1. We need to create copies of lists from IDL, because by doing this we avoid referencing them, and keeping IDL and ByteBuffer in memory (I'd like to do this for available declarations).

2. We need to clear all `_File` data during refresh. I think I might have missed this at least partially, so you did not do it for templates.

[code]

[2019-04-04 17:30] aartbik opened #36475 "for_await_test crash on vm-kernel-precomp-win-release-x64"
Observing the following difference on bot:

FAILED: dartkp-dart_precompiled release_x64 language_2/control_flow_collections/for_await_test
Expected: Pass
Actual: Crash

[2019-04-04 18:04] keertip opened #36476 "kernel_worker: pass in environment variables"
The utils/bazel/kernel_worker.dart should pass in environment variables to the CFE, needed with the const update 2018 feature., along the lines of dart-lang/sdk@dfdd974
-----

[2019-04-04 18:23] leafpetersen commented on #36433
The plan is no.

In the hopefully very unlikely case that we get failures in google3 because someone was creating a private symbol via `Symbol(...)`, we will have to reconsider.  As discussed above, I grepped for uses and didn't find any, and since any such code wouldn't work on ddc or dart2js, I think it's very unlikely that we will have an issue.

[2019-04-04 18:33] keertip commented on #36433
@leafpetersen, found uses in third party packages [source_gen](https://github.com/dart-lang/source_gen/blob/master/source_gen/lib/src/constants/reader.dart#L189) and [matcher](https://github.com/dart-lang/matcher/blob/master/lib/mirror_matchers.dart#L27). The one in matcher is likely not used, source_gen is used.

[2019-04-04 18:39] leafpetersen commented on #36433
Do you know what the symbol is that it is trying to produce/where it comes from?

[2019-04-04 18:59] bwilkerson commented on #36474
Looks like your latest CL addresses this issue, so I've unassigned myself.

[2019-04-04 19:00] scheglov commented on #36474
https://dart-review.googlesource.com/c/sdk/+/98701 will fix this.

[2019-04-04 19:10] leafpetersen commented on #36433
Actually, @keertip I'm very confused - neither of those uses are const.  @askeksa-google did the non-const behavior change as well, or was it already correct?

@keertip can you send me a log with a test failure?

[2019-04-04 19:14] sigmundch opened #36477 "js number constants need to expose their type based on their internal value"
**Problem**:
When using js-number semantics, all values need to be represented as `double`, however at the Dart static type system, we need to consider round numbers as `int`s.

At this time our implementation uses an in-memory class `JavascriptIntConstant` that represents js-numbers. The `JavaScriptIntConstant` extends `DoubleConstant` and overrides `getType` so we get the correct type when compi

[2019-04-04 19:24] korsvanloon commented on #35189
If I'm reading the RFC spec correctly, doesn't it say that a `cookie-octet` *cannot* be a `"`?

So you either have 2 bounding double-quotes or none, but never 1.

[2019-04-04 19:30] keertip commented on #36433
@leafpetersen , my bad. missed the const, only saw the private symbol. Please ignore my comment.

[2019-04-04 19:37] aam opened #36478 "'Branch offset overflow' vm crash when building dart2js in simarm64 mode."
[code]

The error is "Branch offset overflow"

cc @rmacnak-google

[2019-04-04 19:43] #36474 closed

[2019-04-04 19:47] a-siva commented on #35980
This issue is fixed at  flutter/flutter@a29906d

[2019-04-04 19:47] #35980 closed

[2019-04-04 19:50] dgrove commented on #36466
Does this bug need to be split, @a-siva ?

[2019-04-04 19:50] dgrove commented on #36433
Moving this out of 2.3.

[2019-04-04 19:54] sigmundch commented on #36460
They should be defined automatically, but it should not be done blindly based on what's in the platform files. It should instead use the specification provided in `libraries.json`. That's because some targets allow importing libraries for backward compatibility, but still override the conditional imports to indicate that they are not supported.

See also https://github.com/dart-lang/sdk/blob/ddbed

[2019-04-04 20:22] a-siva opened #36479 "Internal problem: Unimplemented constant evaluation during expression evaluation"
When ExperimentalFlag.constantUpdate2018 is turned on by default using the following patches

https://dart-review.googlesource.com/c/sdk/+/98485
https://dart-review.googlesource.com/c/sdk/+/98563
and setting ExperimentalFlag.constantUpdate2018 to true in https://github.com/dart-lang/sdk/blob/master/pkg/front_end/lib/src/api_prototype/experimental_flags.dart#L29

many service tests fail with the fo

[2019-04-04 20:22] a-siva commented on #36479
/cc aam@

[2019-04-04 20:40] rmacnak-google commented on #36478
See also https://github.com/dart-lang/sdk/issues/35224

[2019-04-04 20:40] #36341 closed

[2019-04-04 20:43] Markzipan opened #36480 "DDK does not have access to initializers in external constructors"
The following snippet doesn't throw an error in DDK (but does in Dart2JS):
[code]

When running that snippet with DDK, Fasta evaluates `shouldBeUnevaluated` (constant_evaluator.dart, lline ~836) to true, so the `hasPrimitiveEqual` check is never performed.

The same applies to map constants.

Related issue: https://github.com/dart-lang/sdk/issues/36444

[2019-04-04 20:44] aam commented on #36478
One thing that happens here is that https://github.com/dart-lang/sdk/blob/master/runtime/vm/compiler/jit/compiler.cc#L773 we will restore cleared sticky error in case it was background compiler who reported the error.

[2019-04-04 20:47] alexmarkov commented on #36460
I'm not sure we're carrying `libraries.json` with us everywhere, so it might be unavailable when building applications. We're not setting `CompilerOptions.librariesSpecificationUri` in frontend server or gen_kernel.

We can pass the information about supported libraries from `libraries.json` through platform dill file. Library kernel nodes could be extended with isSupported flag which is set when

[2019-04-04 20:53] aartbik commented on #36475
Dup: https://github.com/dart-lang/sdk/issues/36469

[2019-04-04 20:53] #36475 closed

[2019-04-04 21:23] hoylen commented on #35189
Sorry, you are correct.

Looking at it again, if the `cookie-value` production didn't match the right alternative (the one where there is a matching pair of double quotes), then I (incorrectly) though the left alternative meant zero or more of any character. But actually `*cookie-octet` does not match a single double quotes (since the _cookie-octet_ excludes that character).

Anyway, I'm looking f

[2019-04-04 21:27] #36476 closed

[2019-04-04 21:27] jakemac53 commented on #36476
should be fixed

[2019-04-04 21:43] Hixie opened #36481 ""org-dartlang-untranslatable-uri" URL crashes compiler"
I tried to run an app and I was missing a dependency in the pubspec.yaml file. The compiler reported some errors (after sending the app to the device, surprisingly) but then crashed with:

[code]

[2019-04-04 22:27] vsmenon commented on #36444
Closing in favor of #36480

[2019-04-04 22:27] #36444 closed

[2019-04-04 22:28] jmesserly commented on #36480
FYI -- This bug may also affect the Dart VM when using modular builds (e.g. in the internal repository?)

[2019-04-04 22:32] #31481 closed

[2019-04-04 22:59] #35788 closed

[2019-04-04 23:19] a-siva opened #36482 "Incorrect documentation in fromEnvironment constructors"
sdk/lib/core/bool.dart has the following documentation which is not quite true when running code on the VM.
  // The .fromEnvironment() constructors are special in that we do not want
  // users to call them using "new". We prohibit that by giving them bodies
  // that throw, even though const constructors are not allowed to have bodies.
  // Disable those static errors.
  //ignore: const_construc

[2019-04-04 23:35] sigmundch commented on #36477
I've updated the description above with more context and details.

@kmillikin @askeksa-google - please take a look. If you need us to, we can help with implementation, but we need you to decide how we should solve this.

[2019-04-05 00:00] jmesserly commented on #32918
testing https://dart-review.googlesource.com/c/sdk/+/98707

[2019-04-05 00:05] a-siva opened #36483 "runtime error language_2/control_flow_collections/await_for_null_test.dart"
[code]

A simpler test that reproduces the problem

[code]

[2019-04-05 00:06] a-siva commented on #36483
/cc @aartbik

[2019-04-05 00:07] a-siva commented on #36466
I have created https://github.com/dart-lang/sdk/issues/36483 to track the second issue with await_for_null_test. Since this is an already existing issue and not related to control-flow collections I am not tagging that issue with the 2.3 milestone.

@kmillikin once your CL lands you can close this issue.

[2019-04-05 00:38] a-siva opened #36484 "error: expected: vtable() == builtin_vtables_[cid]"
When ExperimentalFlag.constantUpdate2018 is turned on by default using the following patches

https://dart-review.googlesource.com/c/sdk/+/98485
https://dart-review.googlesource.com/c/sdk/+/98563
and setting ExperimentalFlag.constantUpdate2018 to true in https://github.com/dart-lang/sdk/blob/master/pkg/front_end/lib/src/api_prototype/experimental_flags.dart#L29

a number of mirrors tests fail with

[2019-04-05 00:52] rakudrama commented on #36472
It is not really specified if the string represents a JavaScript expression or something else.
The examples, like `@JS('JSON.stringify')` hint that is should be an expression.

DDC splits on dots and treats the parts as names of properties.
dart2js generates the string `"self.material-ui.DialogTitle"` and then parses it as a JavaScript expression (the dash become subtraction). This is clearly wron

[2019-04-05 00:59] rayk opened #36485 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.6183.87`
- `2.2.0`
- `IU-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 2560x1440, 1200x1920`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/4g/5hhdm40x43zd7r_43429rgyr0000gn/T/report1.txt.

[2019-04-05 01:14] a-siva opened #36486 "error: expected: cls.is_type_finalized()"
When ExperimentalFlag.constantUpdate2018 is turned on by default using the following patches

https://dart-review.googlesource.com/c/sdk/+/98485
https://dart-review.googlesource.com/c/sdk/+/98563
and setting ExperimentalFlag.constantUpdate2018 to true in https://github.com/dart-lang/sdk/blob/master/pkg/front_end/lib/src/api_prototype/experimental_flags.dart#L29

a number of mirrors tests fail with

[2019-04-05 01:25] jmesserly commented on #36472
yeah, I believe @jacob314 designed it so top-level names can use dots. This was mainly (only?) intended for the `@JS` on the library. For example `@JS('goog.editor')`.

This is indeed a problem and my proposal doesn't specify. ES6 has things like symbolized method names`[Symbol.iterator]() { ... }` too, and we need a way to call those.

One challenge is figuring out what the JS parsing context wou

[2019-04-05 02:04] munificent opened #36487 "Please roll dart_style 1.2.7 into the SDK"
*Edit: The link below is outdated. The version to roll into the SDK is now 1.2.7:*

I sent a code review out for this already:

https://dart-review.googlesource.com/c/sdk/+/98695

But I wanted to file an issue so that it's tracked for 2.3. The previous release of dart_style inadvertently regresses the formatting of adjacent string literals in argument lists. This fixes that and improves them overa

[2019-04-05 02:36] jacob314 commented on #36472
I don't think users would get in trouble using this extended syntax so it seems fine to include in the slightly clunky form. There isn't really any harm in the clunkiness as it will be rarely used but when it is used it would be really useful.

Potentially if you get extension methods that can use package:js/js_util.dart or a similar API that lets you get arbitrary properties you might not need to

[2019-04-05 04:10] dgrove commented on #32918
Speculatively moving this to 2.3

[2019-04-05 06:05] lrhn commented on #36433
There should not be any difference between the result of `const Symbol(s)` and `new Symbol(s)`, except that the former is canonicalized. The two symbols should be `==`, even if they are not `identical`.

(Not the issue here, that's whether you can create a private name using `Symbol`, and that doing so is currently the only way to create a private setter name. So, if any code needs to create a pri

[2019-04-05 08:07] lrhn commented on #36365
The `dart:convert` JSON functionality was not intended as a general serializer. It's far too simplistic for that. We can add features, but adding specific features means that those features risk being too specific to one use-case, and might just get in the way of other use-cases.
I prefer features to be *general*, so that the user can specialize them as needed. That does mean that if one library d

[2019-04-05 08:09] kmillikin commented on #36480
P2 means this isn't blocking the 2.3 release, but it would be awfully nice to fix it now.

[2019-04-05 08:30] athomas commented on #36487
I saw it was landed already by @kevmoo, does that mean we don't need to roll the checked-in SDK for this change?

[2019-04-05 09:05] truongsinh commented on #36365
Thanks, considering the current situation, I will take your advice not to extends/implement `List` or `Map`.

[2019-04-05 09:28] eernstg commented on #36294
We have two issues here:

- Should type inference on `final v = null;` equip `v` with the type annotation `dynamic`?
- Errors reported [here](https://github.com/dart-lang/sdk/issues/36294#issuecomment-475597721).

I've created dart-lang/language#300 in order to resolve the former.

If such variables will actually have the type `dynamic` then the other symptoms reported [here](https://github.com/da

[2019-04-05 09:28] #36294 closed

[2019-04-05 09:37] Tomucha opened #36488 "Autocomplete vs. Expected a value of type 'KeyboardEvent$', but got one of type 'Event$'"
Hi from Dart VM version: 2.2.0 (Tue Feb 26 15:04:32 2019 +0100) on "macos_x64",

This is issue is probably related to: #35656

When I listen for keyboard events like this:
document.onKeyDown....

I end up with runtime "Expected a value of type 'KeyboardEvent$', but got one of type 'Event$'", after the user fills the text-input with a value offered by Chrome autocomplete.

Instead I have to listen

[2019-04-05 09:42] #36466 closed

[2019-04-05 10:00] askeksa-google commented on #36480
Based on the description, I think this is what is happening:
- In the first (separate) compilation pass, the `Duration` constructor is unavailable, which causes the front-end constant evaluator to leave the constant (and thereby the whole constant set literal) unevaluated.
- In the second compilation pass, when all of the code is (presumably) available, DDC should create a constant evaluator and i

[2019-04-05 10:06] cubuspl42 opened #36489 "Bad type inference with generic function argument"
[code]
`a.dart`:
[code]
[code]

Expected:
[code]

[2019-04-05 10:08] askeksa-google opened #36490 "The VM should give a better error message for unevaluated constants"
Currently, when the VM encounters an unevaluated constant in a dill file, it crashes with an "unreachable" error message. This is misleading, as this situation can and does occur.

The VM should report that the given dill file was compiled without an environment, and that this is currently unsupported by the VM. It can point to the source location of the unevaluated constant by the current file UR

[2019-04-05 10:20] eernstg commented on #36489
This behavior arises because there is no mechanism in Dart type inference which allows information to flow from some arguments of a generic function invocation to another one. Cf. #25490.

We may get this (C# has some heuristics in this area, and they might be applicable, but we haven't explored the details), but currently you'll need to help the inference engine a bit more, for instance like this

[2019-04-05 10:21] eernstg commented on #36489
Closing this as a duplicate of #25490.

[2019-04-05 10:24] cubuspl42 commented on #36489
Thank you, sorry for duplicating.

[2019-04-05 10:25] eernstg commented on #36489
No problem, it's not always easy to spot duplication! ;-)

[2019-04-05 10:27] chloestefantsova opened #36491 "Make sure that BottomType is not misused as Null in CFE"

[2019-04-05 10:27] stefantsov commented on #36491
/cc @kmillikin @alexmarkov

[2019-04-05 10:45] lrhn commented on #36482
I have no idea what the comment means, but it appears to have been put there by the DDC developers while developing DDC (@munificent). It's not a doc-comment, so users should not see it unless they read the code.
I'd say the entire comment should be in the DDC patch file, not in the main library file, since it is DDC specific. That is, you should ignore it, and so should users, and we should move

[2019-04-05 11:04] #36489 closed

[2019-04-05 11:14] lrhn commented on #36477
The JS number model is that all number *values* implement `double` and some implement `int` as well. The actual type of `13` would be some `_JSInt` (which also implements `double`), neither `int` nor `double`. So, while the constant value might be *representable* as a 64-bit floating point value, that does not make the JS-based constant a Dart `double`

Anything that makes `KeyCode.ENTER` be preci

[2019-04-05 12:09] eernstg commented on #36420
@Markzipan wrote:

The test is correct here. I mistakenly thought that `call` was a method, but `call` is a getter and `d()` should throw.

@jmesserly wrote:

Agreed. Sorry about misreading `call` as a method and causing the confusion.

[2019-04-05 12:18] sjindel-google commented on #35196
This should be fixed: https://dart-review.googlesource.com/c/sdk/+/97242

[2019-04-05 12:18] #35196 closed

[2019-04-05 13:05] lrhn commented on #36418
There should not be a problem with adding multitest-numbers to the imports. The prefixes are only used in one place (well, for now).

It should include a comment about why it was done, and if possible, a link to the issue about implementing deferred loading.

[2019-04-05 13:29] kmillikin commented on #36479
You no longer need to manually update experimental_flags.dart, I've updated https://dart-review.googlesource.com/c/sdk/+/98485 to include it.

If you also patch in https://dart-review.googlesource.com/c/sdk/+/98675 then it will re-enable expression compilation but we will not evaluate constants.  This leaves two service test failures:

[code]

@a-siva could you get someone on the VM team to look i

[2019-04-05 14:13] aam commented on #36479
The test seems to rely on DART_SERVICE_USE_AUTH environment define https://github.com/dart-lang/sdk/blob/master/sdk/lib/vmservice/vmservice.dart#L45, which is not defined during platform.dill build. Switching from `const` to `new` seems to fix the problem
[code]

[2019-04-05 14:40] TastyPi opened #36492 "@mustCallSuper does not error for new mixin syntax"
* Dart SDK Version (`dart --version`)
2.2.1-dev.2.0+google3-v2.2.1.dev.2.0

Consider the following:

[code]

I would expect this to fail to build with an error complaining that `FooMixin.bar` does not call `super.bar`, instead it builds successfully with no error or warning.

[2019-04-05 15:15] srawlins opened #36493 "analyzer: lookUpInheritedConcreteMethod methods do not walk mixin super constraints"
ClassElement method `lookUpInheritedConcreteMethod` does not reach into mixin constraints. E.g. given this code:

[code]

Given the ClassElement for C, `classElement.lookUpInheritedConcreteMethod(name, classElement.library)`, I would expect a non-null result. But `lookUpInheritedConcreteMethod` calls `getImplementationsOfMethod`, which seems to only walk up mixins and supertypes.

[2019-04-05 15:42] bwilkerson commented on #36493
Oh, interesting. I think I misunderstood the issue before, so I'm really glad you added the example.

That's an interesting case. I'm not sure whether it makes sense to say that a mixin inherits from its superclass constraints. Consider the following:
[code]
This will print "mb". When the implementation of `a` in `M` invokes `super.a()`, it invokes the one in `B`. So in one sense, the method that

[2019-04-05 15:48] askeksa-google commented on #36477
I have implemented a quick fix in https://dart-review.googlesource.com/c/sdk/+/98676 which simply looks at the value of every `DoubleConstant` child of a `ConstantExpression` somewhere beneath an `UnevaluatedConstant` left over from the first pass and converts in to `JavaScriptIntConstant` if it is integer-valued. It fixes the error seen for set elements and map keys, plus any other integer-seen-a

[2019-04-05 15:49] srawlins commented on #36493
Oof yeah; I'm not sure what the general use case of that method is. [The documentation claims](https://pub.dartlang.org/documentation/analyzer/latest/dart_element_element/ClassElement/lookUpInheritedConcreteMethod.html) to follow behavior from the spec. "The behavior of this method is defined by the Dart Language Specification in section 16.15.1". So I guess it depends on whether the spec was upda

[2019-04-05 15:53] gspencergoog opened #36494 "Crashed when updating Flutter after a Dart roll."
Analyzer Feedback from IntelliJ

Crashed when updating Flutter after a dart roll.

## Version information

- `IDEA IC-191.6183.87`
- `2.2.1-edge.896f1c4bb94a390c2969953626980d9de320cd84`
- `IC-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Linux(amd64) v4.19.20-1rodete1-amd64, screens 3840x2160, 3840x2160`

## Exception
[code]

## report.txt:

[code]

[2019-04-05 15:59] #36477 closed

[2019-04-05 15:59] gspencergoog opened #36495 "Crash after recent update of flutter after a dart roll"
I updated Flutter, and the analyzer crashed, which I already filed (#36494).  Then, after about 5 minutes it crashed again, with a different stack.  This is the second crash.

## Version information

- `IDEA IC-191.6183.87`
- `2.2.1-edge.896f1c4bb94a390c2969953626980d9de320cd84`
- `IC-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Linux(amd64) v4.19.20-1rodete1-amd64, screens 3

[2019-04-05 16:04] eernstg commented on #36493
The superinvocation `super.a()` in `M.a` should be checked according to the combined interface of the `on` clause of the mixin (here, that's just the interface of `A`), and it does not matter whether or not there is an implementation of `a` in the classes from which that combined interface was obtained, cf. [this location](https://github.com/dart-lang/language/blob/434d0a90fff5b04e9150e0c6b1a071fc

[2019-04-05 16:05] munificent commented on #36487
We should roll the checked-in SDK too. There are some changes to adjacent string formatting that could affect how code in the SDK is formatted.

[2019-04-05 16:06] gspencergoog commented on #36494
And another crash just a minute later, which might be related.

## Version information

- `IDEA IC-191.6183.87`
- `2.2.1-edge.896f1c4bb94a390c2969953626980d9de320cd84`
- `IC-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Linux(amd64) v4.19.20-1rodete1-amd64, screens 3840x2160, 3840x2160`

## Exception
[code]

## report.txt

[code]

[2019-04-05 16:08] a-siva commented on #36482
based on the comment above, I am going to change the area to DDC

[2019-04-05 16:22] a-siva commented on #36482
@lrhn can you also clarify what should happen if compilation happens in a modular fashion, that is we have multiple modules one compiled with an environment provided at compile time and another without an environment at compile time, now let us say we concat these module and run them with an environment at runtime one could potentially see different values in the two modules for the same environme

[2019-04-05 16:48] pq opened #57930 "update prefer_const_constructors_in_immutables test when new analyzer ships"
As exposed by https://github.com/dart-lang/linter/pull/1502, we will have a test failure when the new language experiments become not experiments in Dart 2.3.

The issue, specifically, is here:

https://github.com/dart-lang/linter/blob/79d02d10009ac53a372f5373e593279c8f5c6656/test/rules/prefer_const_constructors_in_immutables.dart#L48

which in the new world reports a lint.

The fix is to update t

[2019-04-05 16:55] gspencergoog opened #36496 "Dart Analysis server crashing repeatedly, but not always producing reports."
The analysis server is crashing repeatedly under IntelliJ.

It doesn't always generate a crash report, but it is constantly (about every 20 seconds while I edit the code) restarting, re-analyzing the tree, and flashing the dartdoc links, disabling symbol lookup, etc.

I've filed a couple of other bugs, but I'm going to close those and put the information here, because I think they are probably rel

[2019-04-05 16:56] gspencergoog commented on #36494
Closing in favor of consolidating with related crashes: https://github.com/dart-lang/sdk/issues/36496

[2019-04-05 16:56] #36494 closed

[2019-04-05 16:56] gspencergoog commented on #36495
Closing in favor of consolidating with related crashes: https://github.com/dart-lang/sdk/issues/36496

[2019-04-05 16:56] #36495 closed

[2019-04-05 16:59] sigmundch commented on #36477
Thanks so much Aske!

We have the equivalent of the JSInt type in the dart2js patch files, but to be honest I'm more inclined to go with a solution like (1).

[2019-04-05 17:05] kevmoo commented on #36487
I'll talk to Bob about the issues I found. I should have verified things
earlier.

On Fri, Apr 5, 2019 at 9:05 AM Bob Nystrom <notifications@github.com> wrote:

[2019-04-05 17:15] sigmundch commented on #36482
We may need to revisit this in more detail.

Since the first day `fromEnvironment` constructors were added, they were only intended to be used for consts and not as a regular constructor. You can see this even in the error message in the dart2js patch files on the very first commit that introduced the change back in '13 (https://github.com/dart-lang/sdk/commit/36a67fa046803bf0d8b83ae604e8b6a696753

[2019-04-05 17:34] fishythefish commented on #36477
Yes, I'd prefer (1) as well. I've found it cleanest to think of `IntConstant` as a constant value *represented* by an `int64` and `DoubleConstant` a constant value *represented* by a `double`. We can remove the `getType` API, but at the very least, we should allow the result to depend on the target backend as well as the actual value in question.

If the kernel type checker won't type check consta

[2019-04-05 17:46] AlexandreRoba opened #36497 "I'm having this error popping up multiple times a day"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.6183.87`
- `2.2.0-edge.0a7dcf17eb5f2450480527d6ad1e201fb47f1e36`
- `IU-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 1920x1200  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/xj/7jdppv9579qb2630pntk0

[2019-04-05 18:18] ened commented on #36449
That would be great, but did not work for me - there was simply no data being transferred, e.g. the socket hung forever. I'm wondering if the `bind` call you mentioned is enough on Android.

[2019-04-05 19:12] natebosch opened #36498 "Modular kernel compiler fails on valid code requiring inference"
We're seeing an error on valid code when we compile with the kernel worker.

Full repro here: https://github.com/natebosch/dart_repro/tree/kernel-unsupported-operation

You need to set up a build through `build_runner` with the "invalid" code in a separate module in order to reproduce. The particular pattern is this:

[code]

The error points to the `++` and says `Internal problem: Unsupported ope

[2019-04-05 19:14] natebosch commented on #36498
Full repro steps and details copied from the commit message: https://github.com/natebosch/dart_repro/commit/ab757ee27ab1ab7cbcadca185f9e4e6a91094696

In this example we:

- Have a library which is built into a separate kernel module.
- Have a class which has a field that:
  - Overrides a get
  - Does _not_ declare the type explicitly
  - Is final
  - Is assigned with `_someStaticField++`.

Compili

[2019-04-05 19:28] jmesserly commented on #32918
sounds good to me! I just set out the CL for review

[2019-04-05 19:37] #32918 closed

[2019-04-05 19:38] kevmoo commented on #35802
😢 https://github.com/dart-lang/sdk/commit/0e7bec7d2f75648c761db0f4a8a16e31a2878de4

`pkg:html` is back in `pkg:analyzer`

[2019-04-05 19:52] natebosch commented on #36498
Here is the real world code we hit using this pattern:

https://github.com/dart-lang/sdk/blob/da4ccd08559c0252312c5f3d5cbb7c8b9460b9e5/pkg/analyzer/lib/src/task/model.dart#L41-L45

We hit this when we added some additional `export`s in the `test_core` package which was causing us to transitively import analyzer from web code in tests.

[2019-04-05 20:00] jmesserly commented on #36472
That's a good point, we don't need this for members, because a static helper can work around it:

[code]

For classes it's tricky. We could change the methods from static to instance methods:
[code]

That one seems suboptimal IMO, but at least it can be expressed.

[2019-04-05 20:19] alexmarkov commented on #35243
Still seeing "Exception: No android devices found. Please make sure "adb devices" shows your device!" on vm-kernel-precomp-android-release-arm bot: [log1](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8916991832721517312/+/steps/vm_tests_shard_11_on_Android/0/stdout), [log2](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8916991832721517312/

[2019-04-05 20:25] #36312 closed

[2019-04-05 20:35] devoncarew opened #57931 "it would be great to have a quick fix for the 'use isEmpty instead of length' lint"
It would be great to have a quick fix for the 'use isEmpty instead of length' lint:

<img width="457" alt="Screen Shot 2019-04-05 at 1 33 08 PM" src="https://user-images.githubusercontent.com/1269969/55654899-783e1400-57a7-11e9-8d66-0c49eb80b4f5.png">

This is `prefer_is_empty`.

[2019-04-05 20:36] delizondo opened #36499 "Dart Analyzer Error"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-182.5107.16.33.5314842`
- `2.2.1-edge.571ea80e1101e706980ea8aefa7fc18a0c8ba2ec`
- `AI-182.5107.16.33.5314842, JRE 1.8.0_152-release-1248-b01x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4 unknown, screens 1920x1200`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/3b

[2019-04-05 20:39] jmesserly commented on #36480
When we compile the user's code, we supply CFE with the SDK summary, so all of the info is available. CFE has the same exact info that DDK does. So I'm not sure why we get "unevaluated constants" in the Kernel Tree?

Generally with Analyzer and CFE, they report all of the compiler errors before we attempt to generate JavaScript.

That said, it's certainly possible for us to call into a constant ev

[2019-04-05 20:40] jmesserly commented on #36480
I guess what I'm trying to understand here: what are the two passes you're referring to? DDC never has all Dart sources available. We only have the user's code, and the .dill outlines for all transitive dependencies.

[2019-04-05 20:52] vsmenon commented on #36480
Reassigning based on my understanding.  Note, we're not supporting runtime `const X.fromEnvironment` for arbitrary defines, so there should not be unevaluated constants.

As Jenny, DDC never has the whole program source.  We're assuming all info for a constant is the combo of the source and .dill outlines for dependencies.

[2019-04-05 21:06] kevmoo commented on #36485
@rayk – if you're seeing the same stack trace, you can skip filing extra bugs. Thanks!

[2019-04-05 21:22] alexmarkov opened #36500 "runtime_entry.cc: 651: error: expected: instance_delayed_type_arguments.IsNull() || instance_delayed_type_arguments.IsCanonical()"
VM crashes in AOT mode on a recently added test language_2/const_inference_test:

[code]

/cc @crelier @sjindel-google

[2019-04-05 22:06] Markzipan opened #36501 "Inconsistent behavior when downcasting bounded generic functions"
The following snippet executes in DDC but emits an error in CFE:
[code]

The error:
[code]

[2019-04-05 22:24] fishythefish commented on #36446
Closing in favor of #34147.

[2019-04-05 22:24] #36446 closed

[2019-04-05 22:31] eernstg commented on #36501
It is true that there is no subtype relation between those two generic function types: Generic function types are invariant in their bounds. The reason for this is that it has serious implications for the tractability of type inference if any kind of variance is supported. So CFE is right.

[2019-04-05 22:35] fishythefish commented on #35996
Some of these points may apply to "boolification" as well; see https://dart-review.googlesource.com/c/sdk/+/98780.

[2019-04-05 22:36] fishythefish commented on #33611
Closing in favor of #34147.

[2019-04-05 22:36] #33611 closed

[2019-04-05 22:49] fishythefish commented on #34147
https://dart-review.googlesource.com/c/sdk/+/98780 should fix this. The error message might look wrong (see the CL summary), but we should at least be producing errors.

[2019-04-05 23:30] 7wonders commented on #36371
I made a silly mistake and ended up having an erroneous (circular?) import where I was importing main in a page.
[code]
Removed that and the 'too many elements' message was gone and all is good again.

[2019-04-06 00:10] chinmaygarde opened #36502 "Defer |Dart_Cleanup| till no isolates are in the middle of initialization."
Currently, isolates could be in the middle of initialization (and making `dart_api.h` calls) when the call the `Dart_Cleanup` is made on another thread. Embedders not resilient to unwind errors will run into crashes.

[2019-04-06 00:10] chinmaygarde commented on #36502
cc @rmacnak-google @a-siva

[2019-04-06 00:10] munificent commented on #36487
Found another minor issue in dart_style, so the version to roll into the pre-built SDK is now 1.2.**7**:

https://dart-review.googlesource.com/c/sdk/+/98746

Thanks!

[2019-04-06 00:12] chinmaygarde opened #36503 "Respect the message handler setting on the service isolate as it is shutting down."
The service isolate is currently [always shut down on a VM managed thread](https://github.com/dart-lang/sdk/blob/a47b4ad2b8683cc8a82aa0ff89da2db7a3be27a3/runtime/vm/service_isolate.cc#L358). This is in spite of the message handler for this isolate being updated via `Dart_SetMessageNotifyCallback` in the isolate create callback.

[2019-04-06 00:13] chinmaygarde commented on #36503
cc @rmacnak-google @a-siva

[2019-04-06 00:15] chinmaygarde opened #36504 ""main" on the service isolate should be by posting a message on that isolate's message handler."
It is currently [run inline](https://github.com/dart-lang/sdk/blob/a47b4ad2b8683cc8a82aa0ff89da2db7a3be27a3/runtime/vm/service_isolate.cc#L345).

[2019-04-06 00:15] chinmaygarde commented on #36504
cc @a-siva @rmacnak-google

[2019-04-06 00:16] chinmaygarde opened #36505 "Let embedders create the service isolates on a thread of their choosing."

[2019-04-06 00:16] chinmaygarde commented on #36505
cc @a-siva @rmacnak-google

[2019-04-06 16:18] benthillerkus opened #36506 "Exception from analysis server (running from VSCode / Dart Code)"
### What I was doing

I typed in this line from this (https://www.youtube.com/watch?v=oxeYeMHVLII) tutorial:

"final _counterEventController = StreamController\<CounterEvent>();"

### Versions

- Flutter SDK 1.4.11-pre.27
- Visual Studio Code 1.33.0
- Dart Code 2.25.0

### Analyzer Info

The analyzer was launched using the arguments:

[code]

### Exception

Analysis failed: C:\Users\elite\OneDrive

[2019-04-06 22:36] Alias111 opened #36507 "problem"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA WS-191.6183.63`
- `2.2.0`
- `WS-191.6183.63, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.6, screens 1280x800`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/lc/g3dvys114dzc21c530drx4nc0000gn/T/report.txt.

[2019-04-07 00:08] rayk opened #36508 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.6183.87`
- `2.2.0`
- `IU-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 2560x1440, 1200x1920`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/4g/5hhdm40x43zd7r_43429rgyr0000gn/T/report2.txt.

[2019-04-07 01:34] Alias111 opened #36509 "Fix it"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA WS-191.6183.63`
- `2.2.0`
- `WS-191.6183.63, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.6, screens 1280x800`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/lc/g3dvys114dzc21c530drx4nc0000gn/T/report1.txt.

[2019-04-07 02:17] benhalverson opened #36510 "compiler failed while running tests"
Hello I'm following the ToH testing guide and seem to have run into a compiler bug.

Dart VM version: 2.2.0 (Tue Feb 26 15:04:32 2019 +0100) on "macos_x64"
OSX 10.14.2

Here is the log I saw in my console.

  dartdevc arguments: --dart-sdk=/usr/local/Cellar/dart/2.2.0/libexec --dart-sdk-summary=/usr/local/Cellar/dart/2.2.0/libexec/lib/_internal/ddc_sdk.sum --modules=amd -o test/app_po.ddc.js --mod

[2019-04-07 03:00] srawlins commented on #36250
For future archaeologists, I looked at this again today; the `flutter_tools.dart` command has a `--verbose` which gets real noisy, and prints millisecond timestamps. I played with this data a bit, and found a couple strange data points. There are 3 files that take _way_ longer to analyze (I think) when the pubspecs are changed:

* `/Users/srawlins/code/flutter/examples/flutter_gallery/test_driver/

[2019-04-07 16:50] tvolkert opened #36511 "const_eval_throws_exception error"
Consider the work-in-progress changes in https://github.com/flutter/flutter/pull/30646 in which I change Flutter's `Row` widget to have a `const` constructor.

In the associated test, I have the following code:

[code]

When run over that code, the analyzer produces the following error:

[code]

Yet when I run the test, it passes:

[code]

* Dart VM version: 2.2.1-dev.3.0.flutter-None (Tue Apr 2 1

[2019-04-07 16:51] tvolkert commented on #36511
/cc @stereotype441 @scheglov

[2019-04-07 21:55] kevmoo commented on #36487
Done a47b4ad2b8683cc8a82aa0ff89da2db7a3be27a3

[2019-04-07 21:55] #36487 closed

[2019-04-08 01:05] rayk opened #36512 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.6183.87`
- `2.2.0`
- `IU-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 2560x1440, 1200x1920`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/4g/5hhdm40x43zd7r_43429rgyr0000gn/T/report.txt.

[2019-04-08 01:08] vsmenon opened #36513 "Resolve / announce breaking change on `const X.fromEnvironment` in VM"
Currently, with the constant-update-2018 change, the VM no longer supports (or plans to support) `const X.fromEnvironment` for values defined at runtime in JIT mode.

That would make it consistent (?) with the VM in AOT mode, Dart2JS, and DDC.

If we're agreed on this behavior going forward, we need a breaking change announcement.

@a-siva @leafpetersen @lrhn @kmillikin @sigmundch @aadilmaan

[2019-04-08 01:08] vsmenon commented on #36513
Marking as P0 as this is a blocker for 2.3.

[2019-04-08 01:44] vsmenon commented on #36513
fyi - @mit-mit on breaking change.

Some more context:
- Spread / control flow depend upon the constant-updates / new CFE constant impl change.
- Per Siva, it'll take the VM team a non-trivial amount of time to implement the old `const X.fromEnvironment` semantics for user-defined values for VM-JIT - delaying *all* the above features past our window for 2.3.
- There is some but relatively little u

[2019-04-08 02:04] vsmenon commented on #36479
It looks like @aam landed the above.  Does this unblock us from flipping the const flag in the SDK?

[2019-04-08 02:54] kevmoo commented on #36513
Ugh. That's nasty. Let's get the email out ASAP.

This may affect SASS IIRC – @nex3

[2019-04-08 06:08] #33066 closed

[2019-04-08 07:34] mit-mit commented on #36513
cc @aadilmaan for breaking change management

[2019-04-08 07:51] davidmorgan commented on #36513
One thought: internally we will handle this in three steps: 1) produce kernel with defaults hardcoded for these consts; 2) ban `-D` flags everywhere, so we know the defaults are correct; 3) reimplement anything that needs it using `Platform.environment`. Note that #3 only touches places where they are used, declarations of such consts that are not used in practice don't need fixing.

A way to prov

[2019-04-08 08:17] askeksa-google commented on #36513
Clarification: `const X.fromEnvironment` works exactly as before when running from Dart source.

It is only the scenario where a Dart program is compiled to a dill file (without specifying an environment) and that dill file is run on the VM (specifying a runtime environment that is supposed to affect the environment constants) which does not work anymore. I would expect that very few external user

[2019-04-08 08:19] davidmorgan commented on #36513
Yes. I think the key question is whether any of the build tools we publish (e.g. package:build) use dill files in a way which will be affected.

[2019-04-08 08:28] mit-mit commented on #33257
@sstrickl can we can an update on where we currently stand?

[2019-04-08 08:32] mit-mit commented on #35079
Moving to 2.3 (I missed the comment above as it was to @mit, not @mit-mit

[2019-04-08 08:33] kmillikin commented on #35079
Constant evaluation has landed in the CFE behind the experimental feature flag `constant-update-2018`.

[2019-04-08 08:33] #35079 closed

[2019-04-08 08:33] mit-mit commented on #35078
cc @devoncarew this was stuck in 2.2.1, is anyone working on this for 2.3?

[2019-04-08 08:33] mit-mit commented on #35072
This is expected out in 2.3. If the work is already complete, please just close this

[2019-04-08 08:37] askeksa-google commented on #36480
To evaluate a `const` constructor call, the constant evaluator will need access to the initializers for the constructor, plus the initializing expressions of all fields of the enclosing class. So if these are not part of the outlines provided to DDK currently, we would probably need to add them.

Alternatively, we can skip front-end constant evaluation in DDK entirely, but this would also skip ass

[2019-04-08 08:56] DanTup commented on #32677
This came up again - I think there was a misunderstanding in this issue - my change above only added some tests that failed because of this issue, no implementation. I think there should be an open issue tracking adding an implementation/fixing the tests.

@bwilkerson if you can provide some pointers, I don't mind having a look at it (at least, when othe priorities are done!).

[2019-04-08 09:02] sstrickl commented on #33257
Just coming back to this after finishing up the RegExp work I was doing, so I'll try and have some initial numbers in here later this week. My initial benchmarking plans went awry when dart2js crashed while compiling the large code bases I was going to test it on, so I need to pick some alternative codebases for benchmarking. (That, and actually file an issue re: the crashes--I did let a member of

[2019-04-08 09:16] askeksa-google opened #36515 "Check for primitive operator '==' mistakenly rejects abstract overrides"
[code]
Gives an error, but shouldn't.

[2019-04-08 09:19] askeksa-google commented on #36515
Fix is on the way: https://dart-review.googlesource.com/c/sdk/+/98842

[2019-04-08 09:37] omtodkar commented on #27863
Found exception again from analysis server (running from VSCode / Dart Code)

### What I was doing

While typing and waiting for dart auto-suggestion as in below code:

[code]

### Versions

- Flutter SDK 1.2.1
- Visual Studio Code 1.33.0
- Dart Code 2.25.0

### Analyzer Info

The analyzer was launched using the arguments:

[code]

### Exception (fatal)

Failed to handle request: {id: 155, method:

[2019-04-08 09:39] sstrickl commented on #36335
Just a note, this hasn't happened again since the day this issue was opened (Mar 25). It was happening fairly often between March 22-25, so it's likely whatever underlying issue has been addressed since. Given that, I'm closing this issue.

[2019-04-08 09:39] #36335 closed

[2019-04-08 09:57] DanTup commented on #33778
This sounds sensible, but I think there's more to this. It's not adding the file as priority that's triggering the errors - it's the subsequent requests like hover/fixes/etc.. You can even get the errors by *not* setting the file as priority, but just sending a getFixes request. This means that flushing errors when a file is removed from priority doesn't cover all the cases.

So I think maybe the

[2019-04-08 09:59] kmillikin commented on #35608
These tests are no longer failing.

[2019-04-08 09:59] #35608 closed

[2019-04-08 10:01] kmillikin commented on #32983
This will be fixed when the new front end constant evaluator is enabled.

[2019-04-08 10:01] #32983 closed

[2019-04-08 10:04] kmillikin commented on #34190
This was changed to a warning.  Fasta does not issue the warning.

[2019-04-08 10:20] sstrickl opened #36516 "dart2js compiler crashing due to visiting properties with value child of null"
I'm getting the following assert crash on two very large codesets, so unfortunately I don't have a smaller or external-friendly reproduction source set to provide alongside the error.

Here's the output from the compiler:

---------

Internal Error: The compiler crashed when compiling this element.

The compiler is broken.

When compiling the above element, the compiler crashed. It is not
possible

[2019-04-08 10:49] DanTup commented on #36266
To resolve the above - it turned out that the difference was whether the SuggestionSets work was enabled. Turning it on resolves the issues I saw (in VS Code - I'm not sure how to do the equiv in Android Studio).

Suggestion Set work is planned to be on-by-default in the next major Dart Code release.

[2019-04-08 10:50] Sacchid opened #36517 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.6183.87`
- `2.2.0`
- `IU-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\sacch\AppData\Local\Temp\report1.txt.

[2019-04-08 10:50] giorgiofran opened #36518 "Dart analysis server, SDK version 2.2.0, server version 1.23.0, error: Captured exception RangeError: Value not in range: -1"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA WS-191.6183.63`
- `2.2.0`
- `WS-191.6183.63, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1920x1080, 1920x1080`

## Exception
[code]

[report.txt](https://github.com/dart-lang/sdk/files/3053903/report.txt)

[2019-04-08 11:01] lrhn commented on #36482
For what it's worth, I don't remember that `new String.fromEnvironment` was not intended to work.
There is #16846 requesting that dart2js makes it work too.

It is clearly a feature which was not designed with modular compilation in mind. There was no such thing at the time - the VM was JIT from source and dart2js was full-program compilation. Not supporting `new String.fromEnvironment` allwed dar

[2019-04-08 11:10] dcharkes opened #36519 "CI Results Feed does not show build failures"
https://dart-ci.appspot.com/changes/ does not show build failures.

I broke the build of Windows SimARM in 60b3643e8eb5f86f4b15a7791c201d85a5864c58, but the build failure did not show up on our results feed. Our results feed only shows test status changes at the moment. Can we add build status changes to this feed as well?

[2019-04-08 11:14] #36515 closed

[2019-04-08 11:17] kmillikin commented on #36498
I can't reproduce it because `pub get` doesn't work.

[code]

[2019-04-08 11:31] askeksa-google commented on #36477
I don't like the tagging, since it is redundant information. And it could easily lead to mistakes if we forget to tag some value that happens to evaluate to an integer. JavaScript Dart regards any integer-valued number as an integer, and I think the internal logic in the constant evaluator should reflect that.

[2019-04-08 12:41] vsmenon commented on #36513
@jakemac53 @natebosch on the build tools question.

[2019-04-08 12:53] garygogo opened #36520 "how can i build dart native extensions for android"
hi, i see the article which url is https://www.dartlang.org/articles/server/native-extensions, how can i build such native extensions for android; how to use ndk-build to build?  tks!

[2019-04-08 12:54] vsmenon commented on #36513
@a-siva - thoughts on locking down `-D`?  Perhaps it makes sense for the VM to refuse `-D` arguments if running from `dill` files instead of source?

[2019-04-08 13:00] sstrickl commented on #36516
Tested a few release versions, and found this was introduced between 2.2.1-dev.1.1 and 2.2.1-dev.2.0. Bisected from there, and the first bad commit is 231c5c138.

[2019-04-08 13:03] sstrickl commented on #36516
Given that, and the fact that I had already been talking to him about this last week, assigning this to @johnniwinther.

[2019-04-08 13:52] mkustermann opened #36521 "Make our AOT pipeline work independent of the FLAG_precompiled_mode"
In order to write CC tests exercising our AOT pipeline we've put JIT+AOT support into run_vm_tests. Some of those compile dart code, which uses the kernel isolate (in JIT mode) but test AOT pipeline.

Unfortunately we have some uses of `FLAG_precompiled_mode` in our AOT compiler. We should consider replacing usages of it with a flag passed around.

[2019-04-08 14:01] vsmenon commented on #36479
ping - @kmillikin @askeksa-google - is there work pending here?

[2019-04-08 14:01] bwilkerson commented on #32677
These kind of completions are added by the class in https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/lib/src/services/completion/dart/override_contributor.dart.

[2019-04-08 14:04] bwilkerson commented on #33778
That sounds reasonable to me.

[2019-04-08 14:04] stefantsov commented on #36471
Proposed fix: https://dart-review.googlesource.com/c/sdk/+/98677.

[2019-04-08 14:05] jakemac53 commented on #36513
We have never supported passing any custom arguments to the modular compilers, so neither DDC nor Kernel support this externally.

We could in theory support it but only as a global option (the only way it makes sense to use it), and we don't have the ability to make global-only options, although we could add that in the future. This would basically be equivalent to supporting it through some `--d

[2019-04-08 14:14] askeksa-google commented on #36513
It still makes sense for the VM to accept `-D` when running from dill, as the `-D` options also affect the runtime environment, accessible through `new X.fromEnvironment`.

[2019-04-08 14:29] vsmenon commented on #36513
@askeksa-google - the concern (see discussion in b/129881700) is that, when running from dill, users will now see a different value depending on whether they use `new` or `const`.

So, either we should explain that very clearly or disallow it.

Because of that difference, the internal code is being migrated to use `Platform.environment` instead.

[2019-04-08 14:32] lrhn commented on #36513
I'm not sure having two different environments makes sense. I'd prefer if the environment is locked down at one particular point in time, usually compilation time, and after that you cannot change it. The `.dill` file should contain the entire environment so that `new String.fromEnvironment` gives the same result as `const String.fromEnvironment`. So, I'd say it's a good idea to not allow `-D` in

[2019-04-08 14:38] vsmenon commented on #36498
@natebosch - reassigning to you to look at repro.  Can you please reassign to @kmillikin after addressing his q?

[2019-04-08 14:38] vsmenon commented on #35078
Assigning to @devoncarew to triage (@jwren ).

[2019-04-08 14:41] vsmenon commented on #36480
@Markzipan - can you check to see if DDK has the full constants (i.e., const initializers in the outline) with the const experiment on?  If it does, you should see consts evaluated across summary boundaries (as with DDC).

[2019-04-08 14:42] vsmenon commented on #36511
Do we know if this is a regression?  (2.3 is already past due.)

[2019-04-08 14:48] devoncarew commented on #36266
We'll get support in Android Studio once it starts selecting a new enough version of the Dart plugin.

Short term it looks like SuggestionSets and `@macro` support will be coupled. This is not a blocker for us. Longer term we'll look to uncoupling the impl of `@macro` processing from SuggestionSets.

[2019-04-08 15:23] vsmenon commented on #35072
As I understand it, all plumbing is done, except we still have two sources of truth (analyzer + cfe - see https://dart-review.googlesource.com/c/sdk/+/98485) instead of one.

We won't block on that, so unless someone says otherwise, let's bump this to 2.4.

[2019-04-08 15:24] vsmenon commented on #35072
@stereotype441 , actually, if that's all that's left, can you close this and open a new issue for the common file?

[2019-04-08 15:28] johnpryan opened #36522 "Dart analyzer crash running a Flutter app from IntelliJ"
In my case, I was setting up a new machine using the Flutter stable channel v1.2.1 which includes Dart 2.2.0-edge.0a7dcf17eb5f2450480527d6ad1e201fb47f1e36

I was not able to reproduce after the first crash. I think the steps to reproduce were:

1. Open an existing Flutter app
2. Try to run the flutter app from IntelliJ
3. Observe that the build fails because cocoapods is not installed
4. install C

[2019-04-08 15:39] emeyex commented on #36106
We've just had a hard crash on one of our production instances, it's hard to tell for sure but it seems related to the above scenario, as it occurred right after a worker restart. However the crash dump looks a little bit different:

[code]

[2019-04-08 15:41] johnpryan commented on #36522
I think I have clearer steps to reproduce - this seems to happen when running a flutter app for the first time

[2019-04-08 15:54] jakemac53 commented on #36498
My guess is this is just a bad error message resulting from the ssh style git dependency overrides? You could try changing the pubspec to replace `git@github.com:` with `https://github.com/`. The repro works for me out of the box.

[2019-04-08 16:29] srawlins commented on #36473
I think this is a duplicate of #36467.

[2019-04-08 16:29] #36485 closed

[2019-04-08 16:29] srawlins commented on #36485
Duplicate of #36467.

[2019-04-08 16:30] srawlins commented on #36507
Duplicate of #36497.

[2019-04-08 16:30] srawlins commented on #36508
Duplicate of #36467.

[2019-04-08 16:31] srawlins commented on #36509
Duplicate of #36497

[2019-04-08 16:32] srawlins commented on #36512
Duplicate of #36467.

[2019-04-08 16:32] srawlins commented on #36517
Duplicate of #36467.

[2019-04-08 16:32] srawlins commented on #36518
Duplicate of #36497.

[2019-04-08 16:34] srawlins commented on #36329
Duplicate of #36328.

[2019-04-08 16:37] srawlins commented on #36499
Duplicate of #36326.

[2019-04-08 16:37] stereotype441 opened #36523 "There should be a single source of truth for experimental flags"
Currently there are two sources of truth for experimental flags: one in the analyzer and one in the front_end.  The intention has always been to unify these two sources of truth into a single source file and use code generation to generate the analyzer and front end implementations based on the single source file (see discussion at #35072).

This issue tracks the desire to unify the two epresentat

[2019-04-08 16:37] srawlins commented on #36326
Duplicate of #36324.

[2019-04-08 16:38] stereotype441 commented on #35072
Closed in favor of #36523.

[2019-04-08 16:38] #35072 closed

[2019-04-08 16:38] natebosch commented on #36498
Updated the URLs in https://github.com/natebosch/dart_repro/commit/e4dcd1e0be065625e71c4228a9512f5afca8d4fd

A `pub get` should work for you now, regardless of whether you've set up your SSH keys with github.

[2019-04-08 16:38] srawlins commented on #36324
Duplicate of #36322.

[2019-04-08 16:39] Markzipan commented on #36480
From what I can tell, the kernel SDK's outline doesn't contain any information about initializing the Duration object.

It's probably not necessary to skip front-end evaluation for this narrow case though.

[2019-04-08 16:39] srawlins commented on #36452
Duplicate of #36321.

[2019-04-08 16:40] srawlins commented on #36328
Duplicate of #36299.

[2019-04-08 16:40] #36328 closed

[2019-04-08 16:43] srawlins commented on #36283
Duplicate of #36271.

[2019-04-08 16:44] srawlins commented on #36322
Duplicate of #36273.

[2019-04-08 16:44] srawlins commented on #36321
Duplicate of #36271.

[2019-04-08 16:48] jwren commented on #35078
Nothing needed in IntelliJ right now for this.

I can't speak for kythe.io or dartfmt

[2019-04-08 16:49] #35078 closed

[2019-04-08 17:00] vsmenon commented on #36486
Is anyone looking at this?

[2019-04-08 17:00] vsmenon commented on #36484
Is anyone looking at this?

[2019-04-08 18:10] vsmenon commented on #36498
@natebosch

I can repro, but if I add:
[code]

It seems to build fine.  Do we just need a new `front_end` published?

[2019-04-08 18:17] vsmenon commented on #36498
Actually - I may have had additional edits.

[2019-04-08 18:24] jakemac53 commented on #36498
Fwiw a dependency_override is unlikely to have any effect here - the binaries doing this compilation all come from the sdk you are using, and not your local package dependencies.

[2019-04-08 18:28] far11ven commented on #36381
I too have tried creating new project, as well as running "flutter packages upgrade", always the same result, app launches with following screen.
 I've added following "flutter_webview_plugin: ^0.3.3" as dependency.

![8e57a030-34fe-4f7b-8cce-eed332a0022d](https://user-images.githubusercontent.com/26922130/55747480-fde8ea80-5a59-11e9-937d-6beddc9091c9.jpg)

[2019-04-08 18:28] vsmenon commented on #36498
Ahh, got it.  Strange.  It's building occasionally for me.

[2019-04-08 18:29] HansMuller opened #36524 "Feature request: provide more information when an @required parameter is null"
It's common for @required named parameters to be non-null.

[code]

Currently, upon "hot restart", this idiomatic Flutter class fails with:
[code]

It would be somewhat more informative if it failed with a message like:
[code]

For Flutter classes it might also be helpful if a link to the API doc for the required parameter was provided.

This issue was originally reported here: https://github.com/

[2019-04-08 18:34] matanlurey commented on #36524
Wouldn't you use the second field in `assert` to do this?

[code]

[2019-04-08 18:38] stereotype441 commented on #36511
Found the problem.  It is not a regression.  Explanation to follow.

[2019-04-08 18:39] bwilkerson commented on #36524
Something to consider if we introduce an actual keyword to replace `@required`.

[2019-04-08 19:25] jmesserly commented on #36480
Hmm, this seems like an issue with outline Kernel files then, if I'm understanding correctly?

AFAIK, Analyzer summaries contain sufficient information for constant checking. They serialize some bits of the AST; pkg/analyzer/lib/src/summary/expr_builder.dart has the deserialization code. @stereotype441 might have some info on how it works?

[2019-04-08 19:29] jmesserly commented on #36480
FWIW: we could build a non-outline Kernel file for DDC's SDK, but that wouldn't help other packages. (I don't think we want the entire build to use non-outline, because that would adversely affect DDC+Kernel build performance, especially with incremental edits.)

[2019-04-08 19:32] #36346 closed

[2019-04-08 19:38] stereotype441 commented on #36480
Yup, the principle followed by the analyzer is: any information gleaned from a given file that could possibly affect the errors/warnings reported for other files gets encoded in the summary.  Since a small number of compile time errors depend on constant values (e.g. duplicate keys in constant map), this means that all constant values have to be stored in the summary.  The analyzer happens to enco

[2019-04-08 19:51] stereotype441 commented on #36511
Ok, there *is* an error in @tvolkert's code, which the analyzer successfully detects.  Unfortunately, the analyzer does a pretty horrible job of reporting *where* the error is (which is why I had to spend a few hours this morning sleuthing to even figure it out).  To make matters worse, the VM *fails to detect* the error at all, making it seem like the analyzer is at fault.

The error in @tvolkert

[2019-04-08 20:03] stereotype441 opened #36526 "Analyzer should provide execution details if evaluation of a constant throws an exception"
Consider the following code, adapted from the repro for #36511:
[code]
Analyzing this code produces the following error message at line (1):
[code]
Although this is technically correct, it's far too little information to allow the user to figure out where the problem is.  In particular, there's absolutely no information to lead the user to the site of the assertion failure at (2), or to aid in und

[2019-04-08 20:05] renatoathaydes opened #36527 "Dart analysis server: RangeError: Value not in range: 1"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.6183.87`
- `2.2.0`
- `IC-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Linux(amd64) v4.4.0-141-generic, screens 1920x1080`

## Exception
[code]

For additional log information, please append the contents of
file:///tmp/report1.txt.

[2019-04-08 20:07] stereotype441 opened #36528 "VM fails to report an error when equality comparing enums in a const context"
Consider the following code, adapted from the repro for #36511:
[code]
This code is erroneous, because `Foo.bar == Foo.baz` is not a valid constant expression.  Equality checks in constant expressions may only be used to compare primitive types; they may not be used to compare user-provided types such as `Foo`.

The analyzer correctly detects the error, reporting:
[code]
But the VM executes the co

[2019-04-08 20:09] stereotype441 commented on #36511
Ok, I've filed #36526 to track the problem of the analyzer not giving enough information about the location of the error, and #36528 to track the problem of the VM failing to detect the error.  Since the analyzer is correct in reporting an error, I'm closing this bug.

[2019-04-08 20:09] #36511 closed

[2019-04-08 21:44] stereotype441 opened #36529 "Analyzer fails to detect error when a non-null-aware spread expression has static type null"
Example code:
[code]

This is currently causing failures in the following co19 tests:
- co19_2/LanguageFeatures/Spread-collections/StaticSemantic_A09_t01/01
- co19_2/LanguageFeatures/Spread-collections/StaticSemantic_A09_t01/02
- co19_2/LanguageFeatures/Spread-collections/StaticSemantic_A09_t01/03
- co19_2/LanguageFeatures/Spread-collections/StaticSemantic_A09_t01/04
- co19_2/LanguageFeatures/Spre

[2019-04-08 21:48] rmacnak-google commented on #36520
It is the same as building for Linux. Just replace `g++` with the `g++` or `clang++` from the NDK for the architecture you're targeting.

Beware that native extensions are a feature of the command-line embedder of the Dart VM. Other embedders such as the Flutter engine do not support native extensions. If you want to use C or C++ with your Dart code on Flutter, see [Flutter plugins](https://flutte

[2019-04-08 22:13] aadilmaan opened #36530 "Dart2.3: Enable const flag in SDK"
-----

[2019-04-08 22:15] aadilmaan opened #36531 "Dart2.3: Enable Control Flow and Spread Flag in SDK"

[2019-04-08 22:54] jmesserly opened #36532 "DDC does not build a working SDK with CFE constants flag enabled"
Use the instructions and patches here to enable the constants flag: https://github.com/dart-lang/sdk/issues/36479

DDC's Kernel-backend compiled SDK will not load. I've found a few issues so far:
- the SDK's internal annotations are not found. For example `@nullCheck`, `@notNull`, `@JSExportName`, `@NoReifyGenerics`, and probably other critical ones such as `@JsPeerIterface`.
- static calls seem t

[2019-04-08 22:56] vsmenon commented on #36498
So, the error is thrown here in `SyntheticExpressionJudgment.accept`:

https://github.com/dart-lang/sdk/blob/master/pkg/front_end/lib/src/fasta/kernel/kernel_shadow_ast.dart#L1410

with this comment:
[code]

Do we need to do some desugaring in kernel worker?

FWIW, if I unconditionally invoke `return super.accept(v)` here, Nate's example builds and runs (with an `index.html`) fine.

[2019-04-08 23:07] sigmundch commented on #36513
To summarize where we are:

* We have a lot of inconsistencies across our tools, so it might really help to clearly specify `fromEnvironment` for the future (filed this [language issue](https://github.com/dart-lang/language/issues/304))
* Running from sources continue to work as before (the most common use case)
* Configurations that didn't allow a runtime environment (e.g. AOT snapshots) also con

[2019-04-08 23:09] nex3 commented on #36513
As long as Dart Sass can specify the constant at *either* snapshot-generation time or runtime, our use-case is satisfied.

[2019-04-08 23:20] leafpetersen opened #36533 "CFE treats initializer lists as constant contexts"
The program below is rejected by the analyzer as having an invalid constant (the invocation of `Bar`), but is accepted by the VM running bleeding edge, and in versions that I have tested going back to 2.1 (which suggests that this is not a new issue with the CFE constant evaluation).  Adding an explicit `const` to the invocation of `Bar` in the initializer list causes both implementations to accep

[2019-04-08 23:21] leafpetersen commented on #36533
Assigning to area-language first for verification that the letter of the spec matches its intent here.

[2019-04-08 23:21] leafpetersen commented on #36533
cc @lrhn @eernstg @munificent

[2019-04-08 23:25] aadilmaan commented on #36513
@Hixie @matanlurey for approval for this breaking change request.

[2019-04-08 23:27] matanlurey commented on #36513
I'm actually going to defer to @srawlins for google3, as I don't know think any of our tools interact with this API. My assumption is LGTM if Sam and/or @keertip are already are already for it.

[2019-04-08 23:28] matanlurey commented on #36513
That being said, I'd love to see this be an explicit error (or stop being a `const` API) instead of just silently not working or something like that. It's not clear what the plan is here.

[2019-04-08 23:29] sigmundch commented on #36513
@matanlurey - see also more details about internal uses are in b/129881700

[2019-04-08 23:33] jmesserly commented on #36252
moving back to P1 and 2.3; while working on a fix, I found quite a few SDK types that are affected by this (they have const constructors and private fields). These types would not be usable from user code with `const`. We probably did not notice this because we've been unable to do a full SDK test run with the new constants flag (see issues https://github.com/dart-lang/sdk/issues/36479, https://gi

[2019-04-08 23:34] jmesserly commented on #36252
I have a fix, for what it's worth; I was working on the test when I uncovered a blocking issue with DDC's SDK if compiled with the CFE constants flag: https://github.com/dart-lang/sdk/issues/36532

[2019-04-08 23:35] matanlurey commented on #36513
I'm satisfied with the process taking place there, thanks!

[2019-04-09 00:22] jamesderlin opened #36534 "Analyzer with --no-implicit-dynamic complains about anonymous function passed to Function"
Consider the following code, where I have some function that takes a `Function` parameter and try to pass an anonymous function to it:

[code]

Running `dartanalyzer --no-implicit-dynamic` gives me an error:

Okay, if I try to add a type with `foo((Object e) {});` then I trigger the lint:

so I can't win.

This is admittedly a nonsensical example, and `foo` should specify return and parameter type

[2019-04-09 00:39] jmesserly commented on #36285
I think this bug will be obsolete once we enable the constants experiment in the CFE.

[2019-04-09 01:05] scheglov commented on #36529
https://dart-review.googlesource.com/c/sdk/+/98923

[2019-04-09 01:05] jmesserly opened #36535 "DDC expands constants many times with CFE constants flag"
Discovered while investigating https://github.com/dart-lang/sdk/issues/36532

DDC's technique for emitting constants in its Analyzer backend ensured that large constants would only be emitted once, typically. It worked because users put large constants (e.g. lists, maps, objects) in a variable and refer to that variable, rather than copy+paste the constant expression into multiple locations.

That

[2019-04-09 01:08] jmesserly commented on #36535
FYI @jakemac53 @vsmenon @sigmundch ... I'm not sure if this will become a performance/code size issue for Flutter code, once we're running on DDC+Kernel. My hope is that it won't be too bad, but I don't have any evidence one way or the other. We should try out DDC+Kernel+CFE constants flag once it's working.

I'm not sure if this is an easy fix in CFE or not. All we'd need here is a way to control

[2019-04-09 01:14] jmesserly commented on #36535
I've tentatively put this into 2.4, in hopes that this doesn't impact perf in 2.3 badly enough.

We'll need to address this before we can remove the DDC Analyzer backend. The constant optimizations in DDC were critical for our large internal apps.

[2019-04-09 01:16] jmesserly commented on #36532
I found a serious perf issue: #36535. My hope is that it isn't bad enough to require a fix in 2.3

[2019-04-09 01:19] jmesserly commented on #36532
I'm testing https://dart-review.googlesource.com/c/sdk/+/98875.

Once it passes, we can pull out the "pkg/dev_compiler" fixes into a CL and submit that separately. But for now I've merged it with the patches in #36479 so I can test how DDC is doing.

[2019-04-09 01:36] jmesserly commented on #36535
Looking at this more, I found several things:

- I don't think this is a huge problem yet, because CFE won't inline constants across modules currently. So we only need to canonicalize within the module, which DDC could do itself.

- If cross module canonicalization becomes an issue, I think we could address this by adding a flag to ConstantsBackend. And then in constant_evaluator, don't inline con

[2019-04-09 01:55] #36529 closed

[2019-04-09 02:04] rayk opened #36536 "Analyzer Feedback from IntelliJ - Failed to handle completion domain request"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.6183.87`
- `2.2.0`
- `IU-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 2560x1440, 1200x1920`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/4g/5hhdm40x43zd7r_43429rgyr0000gn/T/report.txt.

[2019-04-09 03:06] sigmundch commented on #36535
Interesting, thanks for looping me in.

To clarify, how are references to the other modules' constants represented? Is there anything different in the constant tree (e.g. a node to another constant expression?) or is it because of how constant nodes are canonicalized at the kernel level that that you can tell them apart (e.g. two references to the same constant are represented by the same node in

[2019-04-09 03:37] kevmoo commented on #36473
Duplicate of #36467

[2019-04-09 03:37] #36473 closed

[2019-04-09 03:37] kevmoo commented on #36508
Duplicate of #36467

[2019-04-09 03:37] #36508 closed

[2019-04-09 03:37] #36512 closed

[2019-04-09 03:37] kevmoo commented on #36536
Duplicate of #36467

[2019-04-09 03:37] #36536 closed

[2019-04-09 03:37] #36517 closed

[2019-04-09 03:40] kevmoo commented on #36244
Duplicate of #36204

[2019-04-09 03:40] #36244 closed

[2019-04-09 03:40] kevmoo commented on #36300
Duplicate of #36204

[2019-04-09 03:40] #36300 closed

[2019-04-09 03:40] kevmoo commented on #36402
Duplicate of #36204

[2019-04-09 03:40] #36402 closed

[2019-04-09 03:42] kevmoo commented on #36203
Duplicate of #36182

[2019-04-09 03:42] #36203 closed

[2019-04-09 03:42] kevmoo commented on #36243
Duplicate of #36182

[2019-04-09 03:42] #36243 closed

[2019-04-09 03:42] kevmoo commented on #36299
Duplicate of #36182

[2019-04-09 03:42] #36299 closed

[2019-04-09 04:35] dnfield commented on #36511
Is this a case where if we used `identical` it would work? e.g. `!(identical(crossAxisAlignment, CrossAxisAlignment.baseline))`?

[2019-04-09 05:39] mimicode opened #36537 "report"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-183.5912.21`
- `2.2.0-edge.0a7dcf17eb5f2450480527d6ad1e201fb47f1e36`
- `IU-183.5912.21, JRE 1.8.0_152-release-1343-b28x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 1440x900, 1920x1200  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/yz/xy_c9j_x009

[2019-04-09 05:49] johnniwinther commented on #36516
Thanks for the bisect!

[2019-04-09 06:33] kmillikin commented on #36498
It's definitely wrong to serialize these for any reason, and we want to continue to crash with an internal problem because our assumptions have been violated.  Something is clearly going wrong, but I had to be able to reproduce the failure to figure out what.

With Nate's update I can now reproduce this and I'm working on it.

[2019-04-09 06:41] kmillikin commented on #36480
Outlines do not currently contain everything they need for constant evaluation (or type inference, for that matter).

[2019-04-09 07:19] garygogo commented on #36520
Thanks for your reply. how can I use dart native method in flutter?

[2019-04-09 07:43] lrhn commented on #36533
The intent is that a `const` is required here. The initializer list must contain potentially constant expressions, which for object creation means that it must be a constant invocation. It should not be a constant context, so the the `const` is required.

I believe the specification is correct. The "constant contexts" section does not mention initializer list entries, and they are only required to

[2019-04-09 07:43] xuexin opened #36538 "Bad state: Too many elements"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-182.5107.16.33.5314842`
- `2.2.1-edge.571ea80e1101e706980ea8aefa7fc18a0c8ba2ec`
- `AI-182.5107.16.33.5314842, JRE 1.8.0_152-release-1248-b01x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.3 unknown, screens 1440x900  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/fol

[2019-04-09 08:22] jonasfj commented on #36513
A quick look through [`pub global activate`](https://github.com/dart-lang/pub/blob/05a96fbc344d2716ae34215520993fe593006a06/lib/src/dart.dart#L44-L65) suggests that it doesn't allow snapshotting with `dart -D`. It doesn't seems like any variant of `pub [global] run` supports passing these either.

Is there any documentation of `-D`? are there other ways to set this environment configuration?

[2019-04-09 11:23] eernstg commented on #36403
Sorry, I misread the original text as "I shouldn't get an error .." (and that's wrong: it is an error), but I can see, now, that the actual problem is the misplaced URL. So that's what this issue is now about:

`INVALID_SUPER_INVOCATION` in 'pkg/analyzer/lib/src/error/codes.dart' should not refer to `https://goo.gl/EY6hDP`, because that's an obsolete URL.

It looks like there is no mention of this

[2019-04-09 11:30] sstrickl commented on #33257
All the numbers below are using commit 0b40a46ab, since that's the last commit that could compile the codebases I've been using until an appropriate fix for issue #36516 is in place. However, that's only ~a month old (Mar 4), so the numbers shouldn't be too different on master.

-----

Here's the numbers from running the first handful of N's Sass benchmarks 10 times each, min and max included with

[2019-04-09 11:41] eernstg commented on #36533
I believe the short reason would be that we cannot make an initializer list a constant context, because that would violate a property that we otherwise maintain: An expression which occurs in a constant context must be a constant expression (that's very easy to verify inductively by looking at the specification of constant contexts).

So if we want to get those `const` modifiers for free in an ini

[2019-04-09 11:43] lrhn commented on #36533
We could have introduce "potentially constant contexts" where we also automatically insert `const` for object creations, but we chose not to. By requiring `const` to be explicit, we leave the syntax open to perhaps some day allow `new` invocations to create `new` objects and `const` invocations to create `const` objects (the "auto" constness feature).

[2019-04-09 11:53] eernstg commented on #36524
Cf. https://github.com/dart-lang/language/issues/156#issuecomment-451523811, such a keyword could very well be introduced, and it would be implied (maybe without the keyword, maybe the keyword would be mandatory) that a named parameter with a non-null type and no default is required. It wouldn't make sense to require a named parameter with a default value to be passed, so it should most likely be

[2019-04-09 11:57] stereotype441 commented on #36511
@dnfield Yes!  Sorry, I should have mentioned that.  Switching to `identical` eliminates the error.

[2019-04-09 12:08] kmillikin commented on #36479
We need to land [CL 98675](https://dart-review.googlesource.com/c/sdk/+/98675) to enable expression compilation and then we are passing all the VM service tests with the constant-update-2018.

[2019-04-09 13:12] pq opened #36539 "dartfix CLI: support for including multiple fixes"
Currently we can specify only one but often it's handy to bulk apply a few.

One thought would be to allow a comma-separated list in the `--include` option (linter does this FWIW).

For example:

[code]

/cc @danrubel @bwilkerson

[2019-04-09 13:15] pq opened #36540 "dartfix: unable to applies fixes to the flutter package"
Running `dartfix` on the flutter package consistently stalls.

To repro, try:

[code]

(I killed it after 30 minutes...)

/cc @danrubel @bwilkerson

[2019-04-09 14:00] Stargator commented on #33257
@sstrickl How often are these kinds of performance tests done? Before each release or only when certain components are changed?

[2019-04-09 15:58] sigmundch commented on #36532
@jmesserly - I just added the 2.3 milestone, I assume this is necessary before we ship, correct?

[2019-04-09 16:01] HansMuller commented on #36524
@matanlurey you're right, we could generate a reasonable message (even a link to the API doc) by hand. There are loads of these, so it would be nice if it the reasonable message was generated by default.

[2019-04-09 16:18] srawlins opened #36541 "Map does not have a null-aware-chainable "get" method"
Take the following example:

[code]

I am accessing the first element of `listOfMaps`, guarding against null, with `listOfMaps?.elementAt`. However, if `listOfMaps` is null, then so is `listOfMaps?.anything`, so an exception will be raised when ultimately `[]` is called on null.

The solution to this for property access is to chain null-aware all the way down, i.e. `foo?.bar.baz.quux` should be `f

[2019-04-09 16:24] #57931 closed

[2019-04-09 16:29] alexmarkov opened #36542 "VM/Interpreter: remove assumptions about alignment of bytecode instructions"
Currently interpreter assumes that bytecode instructions are 4-byte aligned.
For example, interpreter distinguishes entry frames by a misaligned marker:

[code]

This prevents us from using a more compact encoding of bytecode instructions.

@crelier @rmacnak-google could you help with this?

[2019-04-09 16:30] matanlurey commented on #36524
The issue here is `@required` is not a language feature, so the VM would not be parsing it and using it to fill in details of the error like you'd prefer. This could change if it becomes a keyword/language feature in the future.

@HansMuller: On a related note, I think your own team requested a lint to enforce adding messages?
https://dart-lang.github.io/linter/lints/prefer_asserts_with_message.ht

[2019-04-09 16:34] tvolkert commented on #29276
Revisiting this.  This one assert is too useful to remove, and the fact that it's keeping `MultiChildRenderObjectWidget` from being const constructible is keeping large swaths of app code from being const constructible (because `Row` and `Column` are both descendants of `MultiChildRenderObjectWidget`).

[2019-04-09 16:55] pq opened #36543 "consider a check on DEPS that ensures there are published tags for all packages"
**TL;DR;** `DEPS` file entries that reference tags that are not published cause issues for Fucshia.

Ideally, we could have a bot that validates them.

/cc @zanderso @athomas

[2019-04-09 16:56] pq opened #57932 "add a 'release' bot that ensures a tag exists for release versions"
TL;DR; if there is no git TAG corresponding to a linter version referenced in `DEPS` some builds (e.g., Fuchsia) fall down.

Ultimately we should validate all packages in DEPS but that's an issue for the SDK (https://github.com/dart-lang/sdk/issues/36543).  This just tracks a separate travis bot check to ensure the linter is a good citizen.

/fyi @zanderso

[2019-04-09 16:58] HansMuller commented on #36524
@matanlurey: yes we did request such a lint. Once that's landed we'll be asking for a lint that checks if the messages are actually helpful :-).

[2019-04-09 16:58] dnfield commented on #36511
Thanks!  This seems relatedto https://github.com/dart-lang/sdk/issues/29278

[2019-04-09 17:12] sigmundch commented on #36470
Thanks for filing the issue!

To help us narrow down the cause, Is the source code used to produce this code available publically? Could you provide us with a small example that reproduces this issue?

Thanks!

[2019-04-09 18:03] dnfield commented on #26329
The #if should probably be more like this:

[code]

[2019-04-09 18:14] #36484 closed

[2019-04-09 18:29] leafpetersen commented on #36433
These two tests will need to be updated to reflect this change:
 - language_2/mock_writable_final_private_field_test
  - language_2/vm/reflect_core_vm_test

[2019-04-09 18:33] #57932 closed

[2019-04-09 19:09] akshaygupta1996 opened #36544 "Dart Analyzer Error"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA AI-171.4443003`
- `2.2.0-edge.0a7dcf17eb5f2450480527d6ad1e201fb47f1e36`
- `AI-171.4443003, JRE 1.8.0_152-release-915-b08x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.6 unknown, screens 1440x900`

# Exception

Please append the contents of:
file:///private/var/folders/qy/5b44g5rx4l5837sv6y4vmn3r0000gn/T/report.txt

[code]

[2019-04-09 19:21] dnfield commented on #29276
When non-nullability comes in, will we have `List<T>` where `T` is non-nullable?

[2019-04-09 19:28] rmacnak-google commented on #36542
Yeah, let's move the argument count to a separate slot.

[2019-04-09 19:41] crelier commented on #36542
We can probably set the pc to a marker value (0 or -1) and as you suggest, use a slot in the entry frame for argc. Let me have a look.

[2019-04-09 20:15] jmesserly commented on #36535
That sounds good to me!

Yeah, that'd work too.

[2019-04-09 20:17] jmesserly commented on #36535
Moving to 2.3 per discussion offline. We'll just need to verify that there's no perf impact on Flutter. If not, we can move to 2.4.

[2019-04-09 20:17] jmesserly commented on #36532
ah, thank you. I meant to put it in 2.3, yup.

[2019-04-09 20:28] jmesserly opened #36545 "CFE resolves top-level variable to `null` with constants flag"
Given this example:
[code]
With DDC's Kernel backend, and the constant patches from: https://github.com/dart-lang/sdk/issues/36479, DDC is getting the following Kernel tree:
[code]
This leads it to output `null.decode`. This is causing (at least some of) the failures in this test run:
https://ci.chromium.org/p/dart/builders/try/ddc-linux-release-chrome-try/16764

For example, tests/language_2/map_

[2019-04-09 20:29] jmesserly commented on #36545
Note, the fix described here: https://github.com/dart-lang/sdk/issues/36535#issuecomment-481282531 would probably fix this issue too.

[2019-04-09 21:15] srawlins opened #36546 "Analyzer: can_be_null_after_null_aware does not catch operators"
E.g. the following code is not reported by analyzer's CAN_BE_NULL_AFTER_NULL_AWARE:

[code]

One can see in `analyzer/lib/src/generated/resolver.dart` that only MethodInvocation, PropertyAccess, and CascadeExpression can currently generate a CAN_BE_NULL_AFTER_NULL_AWARE Hint.

[2019-04-09 21:55] #36478 closed

[2019-04-09 22:19] pq opened #36547 "Extend convert_to_spreads assist to handle list adds"
@stereotype441 noticed in https://github.com/flutter/flutter/pull/30784#discussion_r273508002 a migration to:

[code]

and expected:

[code]

It would be great if the assist handled adds.

[2019-04-09 22:21] eernstg commented on #29276
Definitely yes.

[2019-04-09 22:24] pq opened #36548 "improve convert_to_spreads assist when applied in sequence"
Noted by @a14n in https://github.com/flutter/flutter/pull/30784#pullrequestreview-224436527

[code]
migrates to:

[code]

but a better transformation could be:

[code]

@bwilkerson : sorry about the title -- please update if you have a better one!

[2019-04-09 22:56] a-siva commented on #36406
https://dart-review.googlesource.com/c/sdk/+/98781 from @alexmarkov has integrated the protobuf tree shaker functionality.

[2019-04-09 22:56] #36406 closed

[2019-04-09 23:14] alexmarkov commented on #36468
Sample test output with https://dart-review.googlesource.com/c/sdk/+/98946:

[code]

@kmillikin please comment here or on the CL if not all concerns are addressed or you have further suggestions. Thanks!

[2019-04-09 23:15] kevmoo opened #36549 "Email announce@ with breaking change warning for vm-service auth change"
Commit: https://github.com/dart-lang/sdk/commit/15b11b018364ce032eae50d78fc8a52b541e2bce

Breaking change notes:
https://github.com/dart-lang/sdk/blob/master/docs/process/breaking-changes.md

[2019-04-09 23:15] kevmoo commented on #36549
CC @mit-mit – right?

[2019-04-09 23:29] jmesserly commented on #36545
CC @askeksa-google  ... I think I found a simple fix:
[code]
Alternatively the code could inline the `target.isInExternalLibrary && target.initializer == null` check from `ConstantEvaluator.visitStaticGet`. Basically it looks like transformer's visitStaticGet is trying to inline some of that logic (for performance?) so it misses the case of unevaluated constants.

(ConstantEvaluator.visitStaticGet

[2019-04-09 23:35] jmesserly commented on #36545
FWIW, the other way of fixing it would be:
[code]
I verified that this works too.

[2019-04-09 23:46] jmesserly commented on #36535
I sketched an API that would let the backend control things. I'm testing it now: https://dart-review.googlesource.com/c/sdk/+/98875 ... the changes are in constant_evaluator.dart and targets.dart. The API gives DDC the ability to make inlining decisions, using the same heuristic it used previously.

The API is just a sketch to capture the requirements, I'm sure it can be improved.

(As I was looki

[2019-04-10 00:17] jmesserly commented on #36252
Verified that this is not a problem currently, because CFE will not inline constants across module boundaries if we're using outline summaries.

Depending on fixes to related bugs, this might become an issue again. In the meantime, I'm testing a fix: https://dart-review.googlesource.com/c/sdk/+/98926

[2019-04-10 00:30] #34147 closed

[2019-04-10 00:34] jmesserly commented on #35421
A related issue, apparently dart2js interceptor dispatch uses `a.constructor == JsArray` (?), which means it doesn't recognize generic arrays created by DDC (except `List<dynamic>`, presumably). This is based on user reports.

(Aside: I wonder if we'd eventually want some sort of Dart-to-Dart interop for multi-app scenarios, rather than rely on JS interop for communication between the Dart apps.)

[2019-04-10 00:41] #35704 closed

[2019-04-10 00:47] jmesserly commented on #36532
I'm now testing a fix here: https://dart-review.googlesource.com/c/sdk/+/98927

Once DDC is green, I can pull out the DDC changes. It also includes a 1-liner CFE fix for https://github.com/dart-lang/sdk/issues/36545

[2019-04-10 03:40] wendux opened #36550 "dns"
Thank you for taking the time to file an issue!

In order to route, prioritize, and act on this, please include:

* Dart SDK Version (`dart --version`)
* Whether you are using Windows, MacOSX, or Linux (if applicable)
* Whether you are using Chrome, Safari, Firefox, Edge (if applicable)

Missing some or all of the above might make the issue take longer or be
impossible to act on.

----

Is it real

[2019-04-10 03:43] wendux opened #36551 "How to use custom DNS server with HttpClient"
I need to use a custom DNS server (or at least, manually specify the IP address) with HttpClient. I can't find any way to do this at the moment.

You may think I can just use the IP address and manually set a HTTP host header, but this doesn't work with HTTPS, because the certificate is invalid.

[2019-04-10 03:49] Markzipan opened #36552 "Inconsistent compile-time errors for const keys that override == with Object's ==."
Example:
[code]
Experimental flags: constant-update-2018

This emits an error in dart2js and DDK but not in the VM or DDC.

The issue here is that, though `A` overrides '==', it overrides '==' with Object's '=='. The spec says that merely overriding '==' (even with Object's '==') is enough to make this a compile-time error, so it seems CFE is correct here. But we've been letting this case slide un

[2019-04-10 04:11] hacker1024 commented on #36551
I need this functionally too.

[2019-04-10 05:12] sigmundch commented on #36552
Interesting bug @Markzipan!

@leafp @lrhn - I'm honestly not sure what is the intended behavior here.

Adding milestone 2.3 in case we need to take some action, in particular:
* If this is not allowed - we probably need to message a breaking change
* If we want to allow it - we need to ask the CFE team to remove the compile-time error (please reassign the area in that case)

[2019-04-10 05:35] c0n5truct0r opened #36553 "FYI"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-182.5107.16.33.5314842`
- `2.2.1-edge.571ea80e1101e706980ea8aefa7fc18a0c8ba2ec`
- `AI-182.5107.16.33.5314842, JRE 1.8.0_152-release-1248-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1360x768`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\Me\AppData\Local\Temp\re

[2019-04-10 06:35] xuexin commented on #36538
Anyone can help？
This issue has been around and the plugin is completely unusable.

[2019-04-10 06:40] kmillikin commented on #36552
The spec is careful to talk about having an implementation different than that of Object.==, not overriding.

This is just a bug in the CFE that should have been fixed by d75a49a44f3140c6bddc60afa774c335b581d397.

[2019-04-10 06:46] alexander-doroshko commented on #36450
@kevmoo, I think `area-analyzer` would be the right label here. See my comment quoted at the end of the issue description.

[2019-04-10 06:47] kmillikin commented on #36468
Thanks!  This looks good.

[2019-04-10 06:49] alexander-doroshko commented on #36199
@vsmenon, I don't think `area-intellij` is the right label here. Refactorings are first implemented on the Analysis Server end and only then can be adapted on the IDE end.

[2019-04-10 06:53] alexander-doroshko commented on #36196
@vsmenon, I don't think `area-intellij` is the right label here. 'Extract variable' refactoring is implemented on the Analysis Server end, so changes should be done on the server end as well.

[2019-04-10 06:54] alexander-doroshko commented on #36195
@vsmenon, I don't think `area-intellij` is the right label here. Refactorings are first implemented on the Analysis Server end and only then can be adapted on the IDE end.

[2019-04-10 07:02] eernstg commented on #36552
@kmillikin wrote:

Right, I made that very explicit.

[2019-04-10 07:35] mit-mit commented on #36549
Yes, please use the breaking change process Kevin links to above!

[2019-04-10 08:06] lrhn opened #36554 "Front end does not catch cyclic constant dependency."
This is the *current* behavior. The problem is solved with `--enable-experiment=constant-update-2018`, so the new constant evaluator handles the issue correctly.

Example code:
[code]

In this code, the evaluation of `const C()` in line 2 includes re-evaluation of the same expression, because evaluation of field initializers is part of object creation. This is a cyclic dependency of a constant exp

[2019-04-10 08:06] jensjoha commented on #36498
I can reproduce with the following incremental compiler test:
[code]

I'm taking a look now to see when this is replaced when not just doing an outline.

As a note, this does not appear to be a problem introduced by using the incremental compiler --- removing the "--reuse-compiler-result --use-incremental-compiler" flags from what's send to the kernel_worker and the thing still happens.

[2019-04-10 08:36] askeksa-google commented on #36552
Latest front end (after d75a49a44f3140c6bddc60afa774c335b581d397) doesn't produce an error.

@Markzipan can you verify that d75a49a44f3140c6bddc60afa774c335b581d397 works for you?

[2019-04-10 08:37] jensjoha commented on #36498
https://github.com/dart-lang/sdk/blob/66477b9fcfe00a29a35be70914cc6c4d46583550/pkg/front_end/lib/src/fasta/kernel/kernel_field_builder.dart#L87-L90

The field `foo` isn't added to the list of things we process in the outline phase (
https://github.com/dart-lang/sdk/blob/66477b9fcfe00a29a35be70914cc6c4d46583550/pkg/front_end/lib/src/fasta/kernel/kernel_target.dart#L271
) because it's an instance fi

[2019-04-10 08:41] askeksa-google commented on #36545
I noticed this problem as well when looking at the code, but didn't mention it, since https://dart-review.googlesource.com/c/sdk/+/98677 will fix it (it includes the same fix as your first suggestion).

That part of the code will be rewritten by the fix for https://github.com/dart-lang/sdk/issues/36535 anyway (somewhat similarly to your second suggestion).

[2019-04-10 08:46] askeksa-google commented on #36554
Obsolete duplicate of https://github.com/dart-lang/sdk/issues/34204 and https://github.com/dart-lang/sdk/issues/34189.

[2019-04-10 08:46] #36554 closed

[2019-04-10 09:10] UG opened #36555 "sending feedback"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-182.5107.16.33.5314842`
- `2.2.1-edge.571ea80e1101e706980ea8aefa7fc18a0c8ba2ec`
- `AI-182.5107.16.33.5314842, JRE 1.8.0_152-release-1248-b01x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4 unknown, screens 1440x900, 1600x900  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///priva

[2019-04-10 09:37] mraleph commented on #33257
@Stargator we have a suite of performance tests which is automatically run for each commit to SDK repo in various configurations (native JIT/AOT, dart2js on V8 etc) on different hardware (different Intel variants, ARM32 and ARM64 hardware, mobile phones).

Due to technical complexities involved we don't track performance of some more real world scenarios there. However there is an expectation that

[2019-04-10 09:42] stefantsov opened #36556 "A documented deprecation process for Kernel AST nodes in VM is needed"
In CL https://dart-review.googlesource.com/c/sdk/+/98677 Kernel AST node `ConstantExpression` receives a new field `type`.  The new field along with `fileOffset` is being serialized to .dill files.  To make the new format compatible with the VM that receives both the new and the old .dill files, the old tag for `ConstantExpression` (107) was marked as deprecated, and the new tag (106) for that nod

[2019-04-10 09:58] #36471 closed

[2019-04-10 11:12] kmillikin commented on #36545
@jmesserly can you verify this is fixed?

[2019-04-10 11:43] #36457 closed

[2019-04-10 12:58] askeksa-google commented on #36535
The changes in the constant transformer look reasonable from a quick glance. Let me know when you have something that you think makes sense as a proposed change, and I will review it.

[2019-04-10 12:59] Gobinath1080 opened #36557 "Error: Not found: 'dart:js' export 'dart:js' show allowInterop, allowInteropCaptureThis"
### Versions:
Flutter 1.0.0
Dart 2.1.0
js 0.6.1

Simply importing js module through import "package:js/js.dart" is throws exception.

### Compiler message:
file:///usr/local/google/home/ggovindaraj/Downloads/flutter_linux_v1.2.1-stable/flutter/.pub-cache/hosted/pub.dartlang.org/js-0.6.1+1/lib/js.dart:8:1: **Error: Not found: 'dart:js'
export 'dart:js' show allowInterop, allowInteropCaptureThis;**

[2019-04-10 13:26] mraleph commented on #36557
You can only use `package:js` on the Web where Dart compiles to JavaScript, you can't use it in Flutter because there Dart is executed natively on the Dart VM.

[2019-04-10 13:26] #36557 closed

[2019-04-10 14:01] DanTup opened #36558 "Isolate stuck as "loading" in Observatory web UI"
A VS Code uesr (@Ibtesam-Mahmood) has an issue with the analysis server not working correctly that we're trying to track down here:

https://github.com/Dart-Code/Dart-Code/issues/1565

I gave some steps for opening Observatory for the analysis server so we could pause the isolate and see where it is (based on the log files, it has started running code, but then seems to not respond). However when

[2019-04-10 14:16] #36479 closed

[2019-04-10 14:58] EduardShaid opened #36559 "Will there be support SCXML ?"
Will there be support SCXML ?

[2019-04-10 15:27] #36468 closed

[2019-04-10 15:44] bkonyi commented on #36549
[dart-announce](https://groups.google.com/a/dartlang.org/forum/#!topic/announce/DkKC9tARf6g). Still waiting for this to appear on dart-misc.

[2019-04-10 15:49] Markzipan commented on #36552
@askeksa-google Yes, the newest update works! I suppose we should update that in g3 roll.

[2019-04-10 15:49] bwilkerson commented on #36547
I don't think we want convert_to_spread to produce changes that don't introduce a spread element (the messaging just seems wrong), so I propose adding an inline_invocation assist to handle those cases. (CL out for review.)

[2019-04-10 15:50] kevmoo commented on #36549
@bkonyi – all good now!

[2019-04-10 15:50] #36549 closed

[2019-04-10 16:14] pq commented on #36547
Closing in favor of work in: https://dart-review.googlesource.com/c/sdk/+/99040

[2019-04-10 16:14] #36547 closed

[2019-04-10 16:54] aartbik opened #36560 "integral divergences"
Reported as

`Isolate (/b/s/w/itjbuLLJ/dart_fuzzYRSFRX) JIT-MARKSWEEPEVERY-ReleaseSIMDBC - JIT-DebugSIMDBC64: !DIVERGENCE! 1.7:1913750160 (output=true)
`

but shows up different in various execution modes:

[code]

investigate why and fix (either vm or avoid situation in fuzzer)

[2019-04-10 16:55] danrubel commented on #36540
Running dartfix on packages/flutter took a bit over 4 minutes for me...
[code]
Also...
[code]
Any ideas on what's different between your setup and mine?

[2019-04-10 17:01] liamappelbe opened #36561 "Some windows ia32 tests broke"
https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-win-debug-ia32/2074
https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-win-release-ia32/2576

Culprit seems to be:
https://dart-review.googlesource.com/c/sdk/+/97631

[2019-04-10 17:02] sigmundch opened #36562 "CFE: mismatch in how we treat -0 after constant-update"
When enabling constant-update-2018, the following code:

[code]

used to compile cleanly, but with the flag produces a compile time error:
[code]

@fishythefish can you take a first look - this unfortunately breaks existing code.

[2019-04-10 17:05] sigmundch opened #36563 "CFE: misleading error message "constant expression depends on itself""
I noticed that in some recent bugs when constant evaluation fails, we get a second error that seems misleading.

See for example this error (from https://github.com/dart-lang/sdk/issues/36562):
[code]

The first error and hint are great, the second error and hint seem odd.

[2019-04-10 17:15] aartbik commented on #36560
API table generation introduces 'pid' which varies per run. Avoid!

[2019-04-10 17:52] danrubel commented on #36539
I [landed support for this](https://dart-review.googlesource.com/c/sdk/+/91780/4/pkg/dartfix/lib/src/options.dart#33) in early February. You can try it out by running dartfix from the SDK repo source, but I have not published the dartfix package since that time.

Please reopen this if I'm missing something that needs to be tracked.

[2019-04-10 17:52] #36539 closed

[2019-04-10 17:55] sigmundch commented on #36562
In particular, the issue here is that the Dart type of `-0.0` should be `int` according to our rules.

[2019-04-10 17:55] aartbik commented on #36560
Note that the following CL fixed a similar issue for false divergences (Platform.version in particular):

https://dart-review.googlesource.com/c/sdk/+/98948

[2019-04-10 19:44] aartbik commented on #36421
OSR is now working in all cases, including control-flow collections that leave a non-empty expression stack in an OSR point (for both kernel and bytecode paths).

[2019-04-10 19:44] #36421 closed

[2019-04-10 19:51] #36552 closed

[2019-04-10 19:52] aartbik commented on #36560
Tagging along with this bug, since it is related to false divergences, we also introduced something that looks like a non-deterministic precision issue, so it seems;

[code]

dart dartfuzz.dart --seed 567701449
version 1.8

[2019-04-10 20:03] a-siva commented on #36558
The fact that you are able to connect to VM and get this output means the VM is still up and running, can you switch to the debug window and see if it is responsive and what stack trace it shows.

[2019-04-10 20:09] aartbik commented on #36560
very similar: use of ProcessInfo.currentRss

[2019-04-10 20:29] MichaelRFairhurst commented on #30832
@leafpetersen is this still potentially going to drive any potential work to be included in NNBD due to the similarity between type promotion and nullability promotion?

[2019-04-10 20:39] a-siva commented on #36550
The issue description doesn't seem to have any information about what is wrong.

[2019-04-10 20:43] a-siva commented on #36520
see [Flutter plugins](https://flutter.dev/docs/development/packages-and-plugins/developing-packages#developing-plugin-packages) for more information.

[2019-04-10 20:43] #36520 closed

[2019-04-10 20:52] #36490 closed

[2019-04-10 21:09] bwilkerson commented on #36547
https://dart-review.googlesource.com/c/sdk/+/99040

[2019-04-10 21:09] bwilkerson commented on #36548
https://dart-review.googlesource.com/c/sdk/+/99040

[2019-04-10 21:09] #36548 closed

[2019-04-10 21:11] srawlins commented on #36445
I have confidence that we can land the (now) strict inference literals internally; not a hard sell. And I think a further split of STRICT_RAW_TYPE_NAME, as @jmesserly suggests, would help to pinpoint any spots where it might be less beneficial; but I think there could be a  dozen :P e.g

1. `STRICT_RAW_TYPE_IN_DECLARATION` for `List foo` (locals, fields, top-level)
2. `STRICT_RAW_TYPE_IN_PARAMETER

[2019-04-10 21:11] #36562 closed

[2019-04-10 21:25] crelier commented on #35974
I suspect that this bug is obsolete after changes in finalization. Has anyone seen it recently?

[2019-04-10 21:28] pq commented on #36539
Aha, it's a multi-option.  Perfect.  Thanks!

[2019-04-10 22:05] aartbik commented on #36560
Hopefully we will see some DartFuzz greenness again :-)

[2019-04-10 22:05] #36560 closed

[2019-04-10 22:10] sigmundch commented on #36382
In lieu of @dgrove, seems fine to change IMO as well.

@mit-mit - since @dgrove is OOO, could you
in addition provide your opinion as well or do you believe we should add anyone else to approve instead?

[2019-04-10 22:17] rmacnak-google commented on #36558
It's likely the isolate is in a native function, which the VM cannot interrupt. Does this application use synchronous file/stdio/socket/process operations?

[2019-04-10 22:18] sigmundch commented on #36513
@jonasfj - thanks for checking. The only way to define these constants is via the `-D` flag. If there is now way to provide VM flags when running `pub [global] run`, then there should be no problems there.

@a-siva - I believe this doesn't affect downstream users in flutter/fuschia, but please confirm when you have details.

Assuming there are no surprises I also vote in favor of this change (voti

[2019-04-10 23:19] leafpetersen commented on #30832
Not sure what you're asking - the bug still exists in the NNBD world, and still needs to be fixed.  There may be more places where it can crop up in NNBD, I guess?  For example, `<T extends int?>(T x) => x!` needs to have type `T <T extends int?>Function(T)`, not `T&int <T extends int?>Function(T)` .  Rolling out the general fix for this as part of the NNBD opt in might make sense as a way of avoi

[2019-04-10 23:29] leafpetersen commented on #36445
This seems right to me.  For the examples above, I would think of them as follows:

[code]

Splitting out the additional raw types could be useful, not sure.

[2019-04-11 00:08] a-siva opened #36564 "CFE produces the following error in flutter code when constant_update_2018 flag is turned on"
Turning on constant_update_2018 flag and running flutter tests produces the following error:

[code]

The relevant code is as follows:

[code]

[2019-04-11 00:14] jmesserly commented on #36445
@leafpetersen -- just for curiosity's sake, what's the mental model for treating list/set/map literals as distinct from constructor invocations?

We don't have rest parameters, but if we did, these two seem equivalent:
[code]
It seems like they're all conceptually constructor invocations, and use the same inference algorithm. But maybe that's my bias towards semantics :). Syntactically "C" is an i

[2019-04-11 00:19] jmesserly commented on #36445
Thinking about this more... in `new C()`, C refers to a constructor rather than a type. Whereas in the type annotation like `C c;`, C refers to a type. So maybe none of those examples belong in "strict-raw-types", since they'd all fall under "strict-inference"?

[2019-04-11 00:22] a-siva opened #36565 "CFE still produces kernel files with kUnevaluatedConstant tags in them"
For debugging purposes it would be better if CFE did not generate kernel files with the kUnevaluatedConstant tags in them and instead produced errors for the constants which could not be evaluated by the front end.

[2019-04-11 00:37] srawlins commented on #36445
Oops, yes, 100% agree, @jmesserly ; I would mark those as strict-inference; I'll make this change.

[2019-04-11 00:37] leafpetersen commented on #36445
I'm not sure I am treating them differently, but maybe I am.  My thinking is this:

[code]

I think I would definitely argue that the first constructor call *is* definitely a strict inference failure: inference has to guess.  It is *also* arguably a strict raw type failure, since the way that inference guess is by treating it as a raw type.

The second constructor call feels a little different to

[2019-04-11 00:51] a-siva commented on #36564
Was able to reduce the test as follows

[code]

This produces the following error when constant__update_2018 flag  is used
[code]

Without the flag it runs fine:
[code]

[2019-04-11 01:09] pq commented on #36540
Just re-ran now and completed in 7m 06.204s.  Thanks for taking a look.  Closing for now!

[2019-04-11 01:09] #36540 closed

[2019-04-11 02:03] #36542 closed

[2019-04-11 02:37] Hixie commented on #36513
I don't understand what is being proposed here. `const X.fromEnvironment()` works in AOT mode as far as I can tell. Why would it not work if the code was compiled in JIT mode?

[2019-04-11 02:41] Hixie commented on #36513
by "works" I mean in Flutter, specifically, the kReleaseMode constant seems to work, and is defined as:

[code]

[2019-04-11 02:48] Hixie commented on #36513
We also use `Platform.environment.containsKey('FLUTTER_TEST')`. Performance doesn't much matter for that case, but I suppose it'd be nice if we could make that be based on `const` too, and that would be relevant in the JIT mode if I'm not mistaken.

[2019-04-11 03:07] matanlurey commented on #36513
@Hixie `dart.vm.product` is not a _user-defined_ value (it comes from the embedder/compiler). What the Dart team is changing is being able to, for example, write `dart -Dflag=1 main.dart` and then:

[code]

[2019-04-11 03:56] jmesserly commented on #36545
I can confirm it's fixed!

I'm still working on fixing DDC with the constants flag; I found some unusual behavior that I'm not sure is intended (e.g. annotations appearing as ConstantExpressions whose value is an UnevaluatedConstant). It happens only with modular compilation+outline Kernel files. But I have a workaround for that, so it's not blocking.

[2019-04-11 03:56] #36545 closed

[2019-04-11 03:59] jmesserly commented on #36532
I uploaded a few more workarounds:
- there's some unusual CFE behavior where annotations end up as ConstantExpressions wrapping an UnevaluatedConstant.
- external factories appear to be eliminated normally, but preserved with the constants flag.

I'm dry-running that now. I think it will fix most/all of the remaining test failures.

[2019-04-11 06:09] derolf commented on #32280
I am working on a project where the backend is written in Kotlin and the frontend in Dart (Flutter), so I am switching back and forth the whole day.

Extension functions and null-pointer-safety are definitely the number 1 features I miss!

[2019-04-11 07:14] DanTup commented on #36558
Aha, yes - I think it does sync file access (reading each file that it's analyzing). Is there any way to monitor that (besides instrumenting the code more?).

@Ibtesam-Mahmood I think it may also be worth taking a copy of your project and seeing if you can strip it down to see there's something specific in their triggering the issue.

[2019-04-11 07:20] MrLiTing commented on #34502
How did you solve it? I have the same question?

[2019-04-11 07:32] askeksa-google commented on #36513
Correction: `const X.fromEnvironment` still works when running directly from Dart source (as in @matanlurey's example).

The changes affect the situation where a Dart program is compiled to a dill file without specifying an environment, and then an environment is specified on the VM commandline when running from that dill file. In that scenario, `new X.fromEnvironment` works, but `const X.fromEnvi

[2019-04-11 07:36] mit-mit commented on #36382
LGTM for making this change.

In terms of timing I would prefer to land this early in a release cycle though (i.e., wait until after 2.3 goes out).

[2019-04-11 07:40] mkustermann commented on #35974
Let's close and refile an issue if it happens again.

[2019-04-11 07:40] #35974 closed

[2019-04-11 07:46] askeksa-google commented on #36565
In which context are you seeing these unevaluated constants? When running the front end in the Kernel service as part of a JIT compilation, or stand-alone to produce a dill file?

If the front end is given an environment, and it does not encounter any unavailable constructors or variable initializers (as is currently the case sometimes for DDK), it should not produce any unevaluated constants.

We

[2019-04-11 08:03] kmillikin commented on #36498
So we know what's happening.  There is a field that overrides a getter, has an initializer, and does not have a type annotation.  Top-level type inference infers a type for the field based on overrides.  In that case it never looks at the initializer to infer its type.

Inferring types for expressions is what triggers replacing the unserializable shadow AST nodes with real serializable ones, so we

[2019-04-11 08:03] Angero opened #36566 "Dart analysis server: error: Failed to handle completion domain request"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.6183.87`
- `2.2.0-edge.0a7dcf17eb5f2450480527d6ad1e201fb47f1e36`
- `IC-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 1680x1050  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/q8/6zjcbnzj0t55l1w3djqn9

[2019-04-11 08:07] Sacchid opened #36567 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.6183.87`
- `2.2.0`
- `IU-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\sacch\AppData\Local\Temp\report2.txt.

[2019-04-11 08:18] jensjoha commented on #34107
Aren't people focusing on the wrong thing here?
As in #34293 --- it doesn't *work* at all --- true, there's also some warning about source maps, but for normal users, that doesn't really matter. What matters is, that loading observatory in firefox just shows a blank page.

I've extracted the following error message and stack trace (the stacktrace seems slightly off -- I don't know why).

[code]

I

[2019-04-11 08:19] yury-yufimov commented on #33979
@jakemac53 , I'd like to add couple of examples. As you can see in
https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.45.0/codemirror.js
https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.js
https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.1/handlebars.min.js
It's quite common for JS-libraries to start package with code like
[code]
This means, that right now we nee

[2019-04-11 08:22] askeksa-google commented on #36565
I have added an option in https://dart-review.googlesource.com/c/sdk/+/99121. Is this what you need?

[2019-04-11 08:37] kmillikin commented on #36564
This is invalid code, that's why the analyzer is told to shut up with `// ignore: CONST_EVAL_TYPE_BOOL_NUM_STRING`.

The error message we give seems kind of cryptic, but the important part is that the spec requires "receiver ... of type 'Null', 'bool', 'int', 'double', or 'String', but was of type 'FlutterLogoStyle'".

If we had a spec change, it would be easy enough to change the constant evaluat

[2019-04-11 08:38] parren-google opened #57933 "prefer_collection_literals shouldn't trigger on constructors with named args"
[code]
shouldn't trigger "Use collection literals when possible".

[2019-04-11 08:39] kmillikin commented on #36565
I'm marking this as P2 (non-blocking).

[2019-04-11 08:51] kmillikin commented on #36564
This is really a duplicate of https://github.com/dart-lang/sdk/issues/26980.

[2019-04-11 09:08] alexander-doroshko commented on #36199
Just for the record and as a source for ideas. Java support in IntelliJ IDEA has more general refactoring called [Pull Members Up](https://www.jetbrains.com/help/idea/pull-members-up.html).

[2019-04-11 09:15] mraleph commented on #34162
We are wasting space in generated code because of incomplete implementation - this negates some of the @mkustermann work to reduce size of method extractors.

[2019-04-11 09:15] alexander-doroshko commented on #30537
@devoncarew has fixed [WEB-28443](https://youtrack.jetbrains.com/issue/WEB-28443) and [WEB-35878](https://youtrack.jetbrains.com/issue/WEB-35878) so I think this issue can be closed here. I don't have permissions to close.

[2019-04-11 09:22] alexander-doroshko commented on #32216
IntelliJ IDEA 2019.1 + recent Dart SDK versions do support completion of identifiers that are not yet imported. So probably this request could be closed.

[2019-04-11 09:26] kmillikin commented on #36498
Removing the initializer from the outline works with the normal Fasta compilation flow, but I'm not sure if anything depends on the presence of this initializer in outlines (which is sort of accidental, anyway).

@natebosch [CL 99120](https://dart-review.googlesource.com/c/sdk/+/99120) seems to fix your reproduction.  Is there more extensive testing I can do?

[2019-04-11 09:43] jensjoha opened #36568 "dart:html and customElements"
How is one supposed to invoke customElements.define correctly?

[code]

yields
[code]

so does
[code]

and anything else I can come up with.

It seems that whatever is given to `customElements.define` is just passed directly to javascript, but that whatever you write there is actually a dart thing (e.g. a class with a call method or a type or whatever).

I *think* this is going to block #34107.

[2019-04-11 10:05] kmillikin commented on #36564
The front-end constant evaluator fixes a bug in the VM (that it accepted this code).  Flutter will see it as a regression because the Dart platform they were using previously allowed this code.  This is despite the fact that it was knowingly exploiting a VM bug.

I'm not sure how we want to proceed from here.  The workaround in Flutter code is to use `identical` instead of `operator==`.

I talked

[2019-04-11 10:17] kmillikin commented on #36563
/cc @askeksa-google

[2019-04-11 11:19] #28916 closed

[2019-04-11 11:19] #36069 closed

[2019-04-11 13:38] stereotype441 commented on #36564
FYI, some related bugs:
- #36511 (independent discovery of the same issue with a PR that wasn't landed)
- #36528 (the bug wherein the VM erroneously accepted this code)

[2019-04-11 13:48] thosakwe opened #36569 "Confusing "Parameters can't override default values" lint when function type is used"
* Dart SDK Version: `2.2.0`, and also whichever version is active on the Pub site
* MacOS, and also whichever OS the Pub site runs on (presumably Linux)
----

Getting an interesting warning in the analyzer.

I have a base class like the following:

[code]

And it's overridden in a class like this:

[code]

I get the following analysis warning. It also shows up on the Pub site, removing 10 health p

[2019-04-11 13:48] #36563 closed

[2019-04-11 13:58] sjindel-google commented on #34162
AOT is done, only the ARM64/IA32 support is missing.

[2019-04-11 14:07] mraleph opened #36570 "ByteData constructor is not recognized by optimizer like other list constructors"
When compiler encounters code like:

[code]

it should be able to forward `n` to `l` and `0` to `offsetInBytes`.

However we don't recognize this properly if `ByteData` factory is not inlined.

We should support this forwarding because it would improve code quality, especially for cases when `n` is constant.

I had a hacky prototype patch for this, but I did not get to committing it:

[code]

[2019-04-11 14:09] eernstg commented on #36569
The situation where `const []` is used as the default value for a parameter of type `T` which is a type variable with no bound calls for special treatment: A Dart constant must have a one-to-one correspondence with the source code, so we can't make it mean `const <T>[]` where `T` may be different from instance to instance of `Router`.

So it actually means `const <Null>[]` (and when we add non-nul

[2019-04-11 14:09] mraleph opened #36571 "implement vm:always-inline and vm:never-inline pragmas"
We have an old way to give inlining hints to the optimizing compiler via `--enable-inlining-anotations`. This mechanism should be replaced with `@pragma`-s instead.

We should remove `FLAG_enable_inlining_annotations` and fix all tests in our suites to use `@pragma('vm:always-inline')` or `@pragma('vm:never-inline')` respectively.

We should also remove inlining white and black lists.

[2019-04-11 14:10] thosakwe commented on #36569
Ah, I see. So if I change the signature of `Router.addRoute` to have `const <T>[]` as its default value, this would resolve itself?

Thanks.

[2019-04-11 14:11] eernstg commented on #36569
No, because `const <T>[]` is an error in itself (it would not evaluate to a single object, it would be a different one for each `T`, so it is not a constant expression).

[2019-04-11 14:26] mit-mit commented on #34452
We are now at a point where we would like to offer an early preview to get some feedback. We’re looking for feedback on how ergonomic the feature is to use, what the main gaps are, and lastly on general stability and performance.

We are looking for testers who are willing to:

1. Test the feature by interfacing with a concrete C based library such as [SQLite](https://www.sqlite.org/index.html) or

[2019-04-11 14:35] jakemac53 commented on #36569
Maybe not the most popular opinion, but I would pretty strongly advise against using default values in any capacity the way they exist today. Their only real value I am aware of is documentation (which you can partially replace with a doc comment).

Doing the `??=` pattern at the top of the method (or some other explicit null check) is the only way to ensure a non-null object, at least until we ge

[2019-04-11 14:39] dcharkes opened #36572 "[vm/ffi] Windows IA32 function stress test timing out"
Test started timing out today.

[code]

Row | configuration | result | count | earliest | latest |  
-- | -- | -- | -- | -- | -- | --
1 | dartk-linux-debug-ia32 | Pass | 536 | 2019-03-20 17:45:23 UTC | 2019-04-11 12:40:49 UTC |  
2 | dartk-linux-release-ia32 | Pass | 708 | 2019-03-20 17:45:23 UTC | 2019-04-11 13:23:54 UTC |  
3 | dartk-optcounter-linux-release-ia32 | Pass | 650 | 2019-03-20 17:45:

[2019-04-11 14:42] keertip opened #36573 "Please merge #72b7e95c74b3ec0f0530322923713162a83013e2 into dev channel"
72b7e95c74b3ec0f0530322923713162a83013e2

/cc @dgrove @kevmoo @mit-mit @whesse @athomas

Fixes failure with isolate test internally.

[2019-04-11 14:44] Angero opened #36574 "Failed to handle completion domain request"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.6183.87`
- `2.2.0-edge.0a7dcf17eb5f2450480527d6ad1e201fb47f1e36`
- `IC-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 1680x1050  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/q8/6zjcbnzj0t55l1w3djqn9

[2019-04-11 14:57] #30537 closed

[2019-04-11 15:57] thosakwe commented on #36569
I wound up removing the default value from `Router.addRoute` entirely. Thanks @eernstg and @jakemac53

[2019-04-11 15:57] #36569 closed

[2019-04-11 16:08] bkonyi opened #36575 "[Breaking Change Request] VM service requires authentication code by default"
# Change in behavior and rationale
Currently, the VM service will only accept connections coming from localhost unless origin checks are explicitly disabled. This is to prevent attackers from connecting to the VM service over the network and executing arbitrary Dart code. While an origin check is sufficient to prevent execution of malicious code over the network via the VM service, it does not pre

[2019-04-11 16:10] aadilmaan commented on #36575
Please review and approve - @Hixie @matanlurey @dgrove (@sigmundch and @mit-mit to cover while Dan is out)

[2019-04-11 16:12] bkonyi commented on #36575
FYI, there's more context to the request based on internal bugs, so feel free to ping me directly for links.

[2019-04-11 16:15] aadilmaan commented on #36575
Ben - Can you please link those bugs in the comments? Thank you so much.

[2019-04-11 16:20] bkonyi commented on #36575
These are internal bugs, but b/29808785 is the original. Also, this is a request from the DevTools team for IO, so @jacob314 would have more context as well.

[2019-04-11 16:22] jakemac53 commented on #36569
@eernstg I tried doing the explicit `const <Null>[]` but couldn't get that to work, https://dartpad.dartlang.org/4ddbf810a6517f934acc2822da5d0a71. I am getting this confusing error (at least in dartpad) `A value of type 'List<int> ()' can't be assigned to a variable of type 'List<int> ()'.`.

[2019-04-11 16:25] aadilmaan commented on #36382
Lasse - This request is approved. Please note that we would like to target this for after Dart 2.3.

[2019-04-11 16:43] natebosch commented on #36382
Note that in 2.3 `await for` will be supported inside collection literals, and will exhibit this broken behavior. Waiting until after 2.3 means we'll be allowing _new_ places where folks could rely on this behavior before we change it.

[2019-04-11 16:44] sjindel-google commented on #36265
This is failing again, apparently due to fully-intrinsified methods not being accounted for:

https://dart-review.googlesource.com/c/sdk/+/99162

[2019-04-11 16:45] sjindel-google commented on #36265
This is failing again, apparently due to fully-intrinsified methods not being accounted for:

https://dart-review.googlesource.com/c/sdk/+/99162

[2019-04-11 16:50] eernstg commented on #36569
@jakemac53 wrote:

Granted, we do not have a good way to abstract over default values, the only way that works faithfully (but not maintainably) is to write the same default value twice:

[code]

I usually argue (yes, this comes up now and then ;-) that it should be possible to denote the target default value, somehow. For example:

[code]

This would "just do the right thing" because we want that

[2019-04-11 16:50] eernstg commented on #36569
@jakemac53 wrote:

Granted, we do not have a good way to abstract over default values, the only way that works faithfully (but not maintainably) is to write the same default value twice:

[code]

I usually argue (yes, this comes up now and then ;-) that it should be possible to denote the target default value, somehow. For example:

[code]

This would "just do the right thing" because we want that

[2019-04-11 16:53] natebosch commented on #36498
@jakemac53 tried the fix and it looks good. Doesn't regress any use cases we know to test.

[2019-04-11 17:03] DanTup opened #36576 "returnType is missing from element on SuggestionSets constructors"
With standard completion items, Constructors have the `returnType` populated on the `element`:

[code]

However this is missing from the SuggestionSets:

[code]

In VS Code we show this in the extra detail. Since `name` is blank here, I don't want to assume that `label` is the class name (because of prefixes, etc.) so I think it's best included in the object.

(cc @scheglov)

[2019-04-11 17:05] eernstg opened #36577 "Confusing incompatibility between "the same type" twice"
Consider the following program (cf. https://github.com/dart-lang/sdk/issues/36569 where this came up):

[code]

We get the following response from the `dart` vm (at the indicated versions):

[code]

The error seems to be spurious, the types should be the same `List<int>` in both cases, no matter how that's spelled.

I would assume that this is a front-end issue, so I'll use that label.

[2019-04-11 17:05] eernstg commented on #36569
Created https://github.com/dart-lang/sdk/issues/36577 for the vm (front end).

[2019-04-11 17:10] scheglov commented on #36576
The `label` is the class name, because `AvailableSuggestion` cannot include prefixes - they are for declarations in libraries, no matter how they are used. Prefixes are added later on `getSuggestionDetails`, for a specific suggestion selected.

But I don't have any objects against adding return types to constructors, this seems consistent. Will update this issue when done.

[2019-04-11 17:11] DanTup commented on #36576
Ah, of course! Ok, let me know if you have any issue adding it, I can use this as a fallback. Thanks!

[2019-04-11 17:16] eernstg opened #36578 "Confusing incompatibility between "the same type" twice"
Consider the following program (cf. https://github.com/dart-lang/sdk/issues/36569 where this came up):

[code]

We get the following response from the `dartanalyzer` (an old one and a fresh one from commit 51433e65cc51059f716896a05c2079de2ab33942):

[code]

The empty parentheses could be missing references to the specific `List<int>` in each case, but it seems spurious in any case, because it shou

[2019-04-11 17:22] scheglov commented on #36576
https://dart-review.googlesource.com/c/sdk/+/99200

[2019-04-11 17:54] sigmundch commented on #34107
Thanks for taking a look and reviving this thread @jensjoha

Long ago there as a decision to remove the polyfill for custom elements from observatory (see https://github.com/dart-lang/sdk/issues/32539, https://github.com/dart-lang/sdk/commit/c1432bf7a3669ab4484978a5ceaaf8ad16e459b5, and https://github.com/dart-lang/observatory_pub_packages/commit/d3a3aebefbd35aa30fe7bbc2889b772b398f7d7f), so that

[2019-04-11 17:59] sigmundch commented on #36568
Thanks for your question.

I'm marking as a duplicate of #27445

My understanding is that custom-elements v1 is not supported by `dart:html` and it was decided that it was not a goal to add support for it at this time. (see @kevmoo's last comment on the other issue).

[2019-04-11 17:59] #36568 closed

[2019-04-11 18:01] athomas commented on #36573
2.2.1-dev.4.1 is tagged & building now.

[2019-04-11 18:01] #36573 closed

[2019-04-11 18:47] sigmundch opened #36579 "breaking-change-request: const.fromEnvironment requires compile-time environment when compiled via kernel and run on the VM"
Dart exposes a const `fromEnvironment` constructor in `String`, `int`, and `bool`. These constants return the value of an environment variable.

There is no concrete specification on when the environment is defined today (filed as request at https://github.com/dart-lang/language/issues/304), and as a result different implementations capture the environment variables at different times:
 * (a) DDC

[2019-04-11 18:48] sigmundch commented on #36513
There seems to be a lot of confusion due to the long discussion and format of this bug, so I filled a new issue using a more structured breaking change proposal template in https://github.com/dart-lang/sdk/issues/36579

Hope this helps!

[2019-04-11 18:48] matanlurey commented on #36579
LGTM

[2019-04-11 18:49] sigmundch commented on #36579
/cc @a-siva @askeksa-google

[2019-04-11 19:02] #36576 closed

[2019-04-11 19:05] kevmoo commented on #35802
Doing my part. So the next roll of pkg:analyzer will have pkg:html back – which will add pkg:csslib

But! We have dropped logging, utf, and args

https://github.com/dart-lang/csslib/pull/89
https://github.com/dart-lang/html/pull/93
https://github.com/dart-lang/html/pull/94
https://github.com/dart-lang/html/pull/96
https://github.com/dart-lang/html/pull/98
https://github.com/dart-lang/sdk/commit/dc

[2019-04-11 19:07] hallisy opened #36580 "Dart Analyzer Error"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-182.5107.16.33.5314842`
- `2.1.0-dev.9.4`
- `AI-182.5107.16.33.5314842, JRE 1.8.0_152-release-1248-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1920x1080`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\Nick\AppData\Local\Temp\report271.txt.

[2019-04-11 19:09] matanlurey commented on #35802
Why is the analyzer checking Android manifests XML files at all?

... much less with an HTML parsing package? I realize we want to offer an awesome Android/Flutter experience, but there is a certain point (perhaps already reached) where we need a functional plugin model and not inlining the knowledge of 50 platforms into the analysis server/SDK.

[2019-04-11 19:14] kevmoo commented on #35802
Just included you on internal thread. tl;dr – long story

[2019-04-11 19:18] kevmoo opened #36581 "Update path to latest pkg:test location"
https://github.com/dart-lang/sdk/blob/561dc79a7b6d09b0af09a82cdeaf30c425ad6422/pkg/kernel/pubspec.yaml#L17-L18

RE https://github.com/dart-lang/sdk/commit/561dc79a7b6d09b0af09a82cdeaf30c425ad6422

[2019-04-11 19:23] natebosch commented on #36581
Why does this file even have `dev_dependencies` like this? They're incomplete and can't be used... What are they accomplishing?

[2019-04-11 19:25] kevmoo commented on #36581
🤷‍♂️

[2019-04-11 19:40] Hixie commented on #36579
sgtm

[2019-04-11 19:41] bwilkerson commented on #35567
I don't know whether there is more work here that we wanted to get done or whether we should close this.

[2019-04-11 19:42] bwilkerson commented on #35570
I don't know whether there's more work here that we wanted to get done or whether we should close this.

[2019-04-11 19:42] sigmundch opened #36582 "Please merge #ab66a38 into dev channel"
**commit(s) to merge**: ab66a38

**merge instructions**: clean merge or patch CL

**reason**: fixes bug in constant evaluation that will surface once constant-update-2018 is enabled by default.

More details at #36562

/cc @dgrove @kevmoo @mit-mit @whesse @athomas

[2019-04-11 19:43] stereotype441 commented on #35567
I'm happy to consider it done at this point.

[2019-04-11 19:43] #35567 closed

[2019-04-11 19:43] stereotype441 commented on #35570
I'm happy to consider it done at this point.

[2019-04-11 19:43] #35570 closed

[2019-04-11 19:53] natebosch commented on #36581
I'm going to change them to `any`.

https://dart-review.googlesource.com/c/sdk/+/99204

[2019-04-11 19:53] sigmundch commented on #36579
@mit-mit - will ask for your lgtm on behalf of @dgrove (technically I already lgtmed on the other issue filed by @vsmenon)

[2019-04-11 20:09] kenzieschmoll opened #36583 "_getCpuProfileTimeline response inconsistent for debug/profile mode"
In DevTools, we are pulling CPU samples for a timeline event as follows:
[code]
There seems to be an issue where the query doesn't match the response in a profile build. Here are a couple responses illustrating the differences. Both examples are from an event with duration 0.3ms, which is what was passed as 'extent' in the above method call, so I would think that the number of samples and the time

[2019-04-11 20:23] #57933 closed

[2019-04-11 20:48] kenzieschmoll commented on #36583
It also seems impossible to have over 1000 samples in 0.3ms at a samplePeriod of 50? Something strange must be going on somewhere.

[2019-04-11 21:02] a-siva opened #36584 "Implement lazy evaluations of constants instead of eagerly reading the constant table and evaluating all constants while loading the kernel file"
With CFE now evaluating constant expressions when constant_update_2018 is used the kernel file has a constant table and the VM eagerly reads the constant table and evaluates all the constants in it while loading the kernel file. This eager reading will not work when we load multiple kernel files with some kernel files having forward references.

Instead constants should be read and evaluated lazil

[2019-04-11 21:45] natebosch commented on #36581
Fixed in https://github.com/dart-lang/sdk/commit/f6573719721e28ffeb5f020d3bfb05d473891d1b

[2019-04-11 21:45] #36581 closed

[2019-04-11 21:53] Markzipan opened #36585 "DDK fails to represent some mixin super hierarchies."
[code]

DDK prints 'D<B([Instance of '$D'])>'

This test succeeds if B is explicitly declared as a mixin. Looking at the generated code, the only difference seems to be whether or not _usesMixinNew(c) returns true or false. We'd like to do whatever that function does for any class used as a mixin - not just those declared with 'mixin'.

[2019-04-11 22:03] sigmundch commented on #36513
closing this in favor of #36579

[2019-04-11 22:03] #36513 closed

[2019-04-11 22:06] sigmundch commented on #36564
@a-siva I see that your pull request was merged, is it OK to close this issue now?

[2019-04-11 22:12] athomas commented on #36582
2.2.1-dev.4.2 is tagged and building now.

[2019-04-11 22:12] #36582 closed

[2019-04-11 22:18] kenzieschmoll opened #36586 "Flutter app crashing in profile mode when getting CPU profile."
Running a flutter app in profile mode via: `flutter run --profile --observatory-port=8888 -d ZY223VC7SF`
[code]
Make request for cpu samples via:
[code]
Observe crash (happens with flutter_gallery, as well):
[code]
cc @bkonyi

[2019-04-11 22:20] a-siva commented on #36564
Flutter code has been fixed.

[2019-04-11 22:20] #36564 closed

[2019-04-11 22:20] andrewackerman commented on #31253
I support this, but also suggest adding `toJson` and `fromJson` methods to the generated code so data class instances can be easily (de)serializable.

[2019-04-11 22:21] a-siva commented on #26980
Flutter code has been fixed and a language issue has been created allowing '==' on Enum values, closing this.

[2019-04-11 22:21] #26980 closed

[2019-04-11 22:24] a-siva commented on #36528
A language issue has been opened for tracking the feature 'Allow '==' on Enum values', closing this and with the VM switching to having the CFE evaluate constant expressions this is reported as an error by the VM now.

[2019-04-11 22:24] #36528 closed

[2019-04-11 22:39] aartbik opened #36587 "flow_graph_compiler.cc: 914: error: expected: !is_optimizing()"
Nightly DartFuzz divergence:

Isolate (/b/s/w/itpuZWHB/dart_fuzzBUJXGL) AOT-O3-DebugX64 - JIT-noVFP-O3-DebugSIMARM: !DIVERGENCE! 1.9:988261705 (output=false)

fail1:
../../runtime/vm/compiler/backend/flow_graph_compiler.cc: 914: error: expected: !is_optimizing()
version=2.2.1-edge.bed1bab2cd4b79694db9ace0e5497b8bb9eb1ab8 (Thu Apr 11 02:01:03 2019 +0000) on "linux_x64"
thread=21979, isolate=isolate

[2019-04-11 22:39] sigmundch commented on #36575
LGTM

[2019-04-11 22:40] aartbik opened #36588 "error: expected: (d & kDMask) == d"
Isolate (/b/s/w/iterwHF5/dart_fuzzVLIYWD) JIT-NOFIELDGUARDS-ReleaseX64 - JIT-DebugSIMDBC64: !DIVERGENCE! 1.9:3654411966 (output=false)

fail2:
../../runtime/vm/constants_dbc.h: 1004: error: expected: (d & kDMask) == d
version=2.2.1-edge.bed1bab2cd4b79694db9ace0e5497b8bb9eb1ab8 (Thu Apr 11 02:01:03 2019 +0000) on "linux_dbc"
thread=23970, isolate=main(0x56316a7db200)
  pc 0x00005631686f23cc fp 0x00

[2019-04-11 22:41] aartbik opened #36589 "error: expected: obj.IsSmi()"
Isolate (/b/s/w/itOOGpNh/dart_fuzzNUSODX) KBC-CMP-DebugX64 - JIT-DebugIA32: !DIVERGENCE! 1.9:1190873720 (output=false)

fail2:
../../runtime/vm/object.h: 7005: error: expected: obj.IsSmi()
version=2.2.1-edge.bed1bab2cd4b79694db9ace0e5497b8bb9eb1ab8 (Thu Apr 11 02:01:03 2019 +0000) on "linux_ia32"
thread=9528, isolate=main(0x4270b00)
  pc 0x01a135dc fp 0xf70fbef8 dart::Profiler::DumpStackTrace(void

[2019-04-11 22:43] aartbik opened #36590 "BytecodeFlowGraphBuilder segfault"
Isolate (/b/s/w/it9VMlJ1/dart_fuzzNCYBIW) JIT-DebugSIMDBC64 - KBC-CMP-O3-ReleaseX64: !DIVERGENCE! 1.9:260873577 (output=false)

fail2:

===== CRASH =====
si_signo=Segmentation fault(11), si_code=1, si_addr=0x50
version=2.2.1-edge.bed1bab2cd4b79694db9ace0e5497b8bb9eb1ab8 (Thu Apr 11 02:01:03 2019 +0000) on "linux_x64"
thread=1898, isolate=main(0x55cd96756900)
  pc 0x000055cd9490b85d fp 0x00007fa0b5

[2019-04-11 22:52] aartbik commented on #36590
In debug mode:

../../runtime/vm/compiler/backend/il.cc: 1512: error: expected: IsJoinEntry()
version=2.2.1-edge.a1aef2a3c16582a3b26fd799cbd043b13a85cd63 (Wed Apr 10 15:11:00 2019 -0700) on "linux_x64"
thread=24163, isolate=main(0x55a6ede19b00)
  pc 0x000055a6ebfbcedc fp 0x00007efca3c7ad80 dart::Profiler::DumpStackTrace(void*)
  pc 0x000055a6ec297532 fp 0x00007efca3c7ae60 dart::Assert::Fail(char c

[2019-04-11 22:54] aartbik commented on #36590
To reproduce:

`dart dartfuzz.dart --seed 260873577 > fuzz.dart`

Then:

[code]

@alexmarkov  would you mind having a first look (it is OSR, so it could be me, but it is also bytecode so it could be you :-))

[2019-04-11 22:58] jmesserly commented on #36532
Last night's test run found a few more issues. Based on local testing, I believe those are now fixes, so I made a CL that is DDC-only. https://dart-review.googlesource.com/c/sdk/+/99240. I'm also doing another test run on the above CL that contains the code to flip the flag.

[2019-04-11 22:59] aartbik commented on #36584
A WIP CL can be found at:

https://dart-review.googlesource.com/c/sdk/+/99088

[2019-04-11 23:47] #36252 closed

[2019-04-12 00:23] jmesserly commented on #36532
The CL passed on both with and without the constants flag globally enabled (other than 2 co19 tests that are failing on other platforms too w/ constants flag, so not a DDC issue). I've sent it out for review.

[2019-04-12 00:42] #36486 closed

[2019-04-12 01:08] jmesserly commented on #36480
We realized today: since const control-flow-collections depend on the constant evaluator, will they work across modules (w/ outline summaries)? In other words, something like this:
[code]
Since `module1List` is unavailable in the outline summary, it could be a problem? But I think the "ListConcatenation" type is designed to solve it. So perhaps we just need a test for it.

[2019-04-12 02:33] sigmundch commented on #36532
@jmesserly - just saw that your CL landed, woohoo!

Is it safe to close this issue at this time?

[2019-04-12 03:32] etastic opened #36591 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.6183.87`
- `2.2.0-edge.0a7dcf17eb5f2450480527d6ad1e201fb47f1e36`
- `IC-191.6183.87, JRE 11.0.2+9-b159.30x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 2560x1440  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/s3/_qlthkg52_qgmsknpmdwx9yh0000gp/

[2019-04-12 05:58] iarkh opened #36592 "Dart allow to use equality operator (==) for comparing objects of different types in constant expressions."
Dart SDK Version: 2.2.1-dev.3.1
OS: Windows 10

Dart API Spec reads:

The following test example throws a compile error with dart analyzer and passes without any errors with dart:
[code]
Sample output is:

The test above tries to compare two constant objects of the types which are not `int`, `double`, `String`, `bool ` or `Null`.

As `c` is declared as `const`, seems like this is a bug in runtime

[2019-04-12 07:04] kmillikin commented on #31936
This should be fixed by `constant-update-2018`, but I still see some test status file entries with this issue number so it needs verification.

[2019-04-12 07:05] kmillikin commented on #32557
This should be fixed by `constant-update-2018`, but I still see some test status file entries with this issue number so it needs verification.  (Perhaps we do not catch the switch cases?)

[2019-04-12 07:20] #36532 closed

[2019-04-12 07:29] jensjoha commented on #36568
Am I then correct in understanding this as us having an api that cannot possibly be used correctly and however you call it you will get an error at runtime?

[2019-04-12 08:05] jamesderlin commented on #28389
I'm suspect that this is a terrible idea, but out of curiosity (and maybe for the sake of completeness), what about adding an implementation of `Null.operator[]` that  always returns `null`?

[2019-04-12 08:10] mit-mit commented on #36575
LGTM

[2019-04-12 08:10] mit-mit commented on #36575
But please remember to post on dart-announce for external feedback

[2019-04-12 08:12] mit-mit commented on #36579
SGTM

But please wait a bit longer before landing; the external announcement was just made, so we need to offer enough time for externals to offer feedback.

[2019-04-12 08:18] #36565 closed

[2019-04-12 09:22] askeksa-google commented on #36480
`ListConcatenation` and the similar nodes for sets and maps are used internally by the constant evaluator to represent partially evaluated collections containing spread and control flow. These will show up when some subconstant inside such a collection could not be evaluated.

The constant still can't be evaluated unless all `const` variables and constructors that it depends on are available (and

[2019-04-12 09:27] krel024 opened #36593 "[dartdevc] Dartdevc compiler define arguments"
I want to pass args to the dart compiler from environment variable of the system

Using dart2js I can do this:

[code]

But using dart2js compiler in development mode can be annoying cause I can not see the error trace clear anymore.

There any solution for this using dartdevc compiler?

[2019-04-12 09:41] lrhn commented on #28389
@jamesderlin
It's a terrible idea :smiley:.

The point of not allowing method invocations on `null`, and non-nullable types in general, is to catch errors where something is accidentally `null`. By just trucking on, you camouflage the error, likely causing the eventual crash to happen much later, which makes it much harder to debug.

A "contagious null" would be one that allows every operation, an

[2019-04-12 09:46] DanTup commented on #36055
I guess this isn't specific to `~` since it seems to have come up at https://github.com/flutter/devtools/issues/529 with a minus:

[code]

[2019-04-12 10:00] pinnisi opened #36594 "HttpRequest error UnknownJavascriptObject"
* Dart SDK 2.1.0 and 2.2.0
* tested on Safari 9 on iOS 9.3

running a simple http get request, as

`HttpRequest.getString('test.txt').then(print);`

causes this error:

TypeError: Instance of 'UnknownJavascriptObject': type 'UnknownJavascriptObject' is not subtype of type 'Event'.

<img width="1680" alt="error" src="https://user-images.githubusercontent.com/9946496/56029256-53ebb580-5d1a-11e9-8a5a

[2019-04-12 10:30] i-schuetz commented on #31253
@andrewackerman Data classes shouldn't have more than a generic minimum to be used as domain entities, this being `equals`/`hashCode`, `copy` and `toString`. Serialization isn't a universal requirement and even less to an industry standard (which not necessarily everyone wants to use / can become outdated) like JSON.

[2019-04-12 10:33] eernstg commented on #36585
A fresh analyzer (34219c802d98c392c9f21abcdb7b2b26fe5648d4) complains because `B` is used as a mixin, and it references `super`.

So that would essentially eliminate the program from consideration, because we generally assume that programs rejected by the analyzer may be accepted by the vm and other execution platforms (so they don't have to be entirely as strict as the analyzer, at least not imme

[2019-04-12 11:22] eernstg commented on #31253
For current activities in this direction, you may want to consider also issues like the following: dart-lang/language#117, dart-lang/language#125, dart-lang/language#225, dart-lang/language#308.

[2019-04-12 11:36] askeksa-google opened #36595 "Unskip tests at next co19 roll"
When https://github.com/dart-lang/co19/commit/525b59a9aa71a9e08e11e02020591dbe73b486af is rolled, the tests `Language/Expressions/Constants/literal_string_t04` and `Language/Expressions/Constants/no_other_constant_expressions_t17` should be unskipped.

[2019-04-12 11:51] eernstg commented on #36578
Oops, I overlooked that certain type variables are named `int` (`setList<int>` declares `int` to be the name of a fresh type variable) and weird stuff like that. So this is actually just an issue that is concerned with the readability of the error message, and it's unlikely that there are any real issues with the actual type checking.

[2019-04-12 11:57] eernstg commented on #36577
Sorry, I misread the code, `int` is actually the name of a type variable declared by `Bar.setList`.

This means that 2.0.0-dev.63.0 had a bug (because it did not detect the type error), but that's a long time ago. ;-)

Double-checking, I think everything is working as intended. Hence, I'll close the issue.

[2019-04-12 11:57] #36577 closed

[2019-04-12 12:28] jensjoha commented on #36577
As a side note I'll try to make the message be less bad.

[2019-04-12 12:38] NarHakobyan opened #36596 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA WS-191.6707.34`
- `2.2.0`
- `WS-191.6707.34, JRE 1.8.0_202-release-1483-b44x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 1440x900`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/__/8516kt2x2cq1jy8f97fgv3680000gp/T/report.txt.

[2019-04-12 12:39] eernstg commented on #36577
Sounds like that would essentially be concerned with the readability of constructs like `#lib1::Bar::setList::int`? If you know how to read that then the message isn't that bad, I think.

[2019-04-12 12:40] jensjoha commented on #36577
In the above, true, but today the error message is
[code]

[2019-04-12 12:41] eernstg commented on #36577
OK, that's in need of improvements!

[2019-04-12 12:48] askeksa-google commented on #36433
These tests will be marked as skipped by https://dart-review.googlesource.com/c/sdk/+/99169. Unskip when the tests are fixed.

[2019-04-12 14:32] eernstg commented on #36585
Trying to run the example program with DDK, I can see that the superinvocation in `B.toString` invokes the `Object.toString`, with the following configuration:

[code]

This means that DDK generates code for `B.toString` when `B` is used as a mixin in the same way as it does when `B` is used as a class (so it "forgets" to rebind the target of the superinvocation to the actual superclass when it's

[2019-04-12 14:36] bwilkerson commented on #36055
@danrubel This sounds like it might be a parser issue.

[2019-04-12 14:39] askeksa-google opened #36597 "Some dart2js tests start failing when enabling constant-update-2018"
https://ci.chromium.org/p/dart/builders/try/dart2js-unit-linux-x64-release-try/12098

[2019-04-12 14:42] askeksa-google opened #36598 "Update expectations files for front-end tests"
Many `legacy` and `strong` tests (and maybe others) have new expectations after https://dart-review.googlesource.com/c/sdk/+/99169

[2019-04-12 14:48] askeksa-google opened #36599 "assertion_initializer_const_error2_test fails because asserts are not enabled"
The `language_2/assertion_initializer_const_error2_test` test fails on several configurations because asserts are not enabled for the front-end run. After https://dart-review.googlesource.com/c/sdk/+/99169 the bytecode configurations are added to the mix.

Fixing this might be as simple as replacing `dart2jsOptions=--enable-asserts` by `SharedOptions=--enable-asserts`.

[2019-04-12 14:54] askeksa-google opened #36600 "service/get_source_report_test fails because of fixed expectations"
The test `service/get_source_report_test` fails after the `constant-update-2018` flag is enabled in this line:
[code]
It seems some code changed because of the constant evaluation and this caused the number of ranges to be different. The test should be updated.

[2019-04-12 15:05] askeksa-google opened #36601 "pkg/vm/test/bytecode/gen_bytecode_test failing with constant-update-2018"
The test `pkg/vm/test/bytecode/gen_bytecode_test.dart` fails because it is comparing expected values of constants against constant expressions converted to strings, which just produce a constant ID, e.g. `#C1`. The test should be updated to look at the values of the constants inside the constant expressions instead.

[2019-04-12 15:09] askeksa-google opened #36602 "pkg/vm/test/transformations/type_flow/transformer_test fails due to an obsolete assert"
The test `pkg/vm/test/transformations/type_flow/transformer_test.dart` fails in many subtests on `annotation_matcher.dart:20` which reads:
[code]
When `constant-update-2018` is switched on, this assertion naturally fails.

[2019-04-12 15:40] stereotype441 commented on #36585
The requirement was removed from the spec a very long time ago, in 2c7234bd610bd5a99dd501da4ee59e78a33f1839, however only the VM implementation was changed to reflect the spec change.  Dart2js continued flagging an error if a class that referenced "super" was mixed into another class.  The analyzer behavior continued to match dart2js, except that a "superMixin" flag was added to allow users to req

[2019-04-12 15:40] a-siva commented on #36586
/cc @rmacnak-google

[2019-04-12 15:42] askeksa-google opened #36603 "Some test crash on DBC with constant update"
With https://dart-review.googlesource.com/c/sdk/+/99169 on the DBC builders, these three tests crash: `language_2/const_inference_test`, `language_2/partial_tearoff_instantiation_test/none`, `language_2/vm/regress_33095_test`. See for instance https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-linux-debug-simdbc64/5493.

[2019-04-12 15:48] srawlins commented on #34260
This is currently respected by `strict-raw-types: true` and `strict-inference: true`.

[2019-04-12 15:48] #34260 closed

[2019-04-12 15:56] askeksa-google commented on #32557
Yeah, the `switch` checks are not implemented. These fall in the category of "subsequent checks" which will require some Kernel format changes to support fully.

[2019-04-12 16:13] askeksa-google commented on #36579
Is the plan to also remove the support for `new X.fromEnvironment` when running from a Kernel file on the VM? The description sounds like that is the case. With the new implementation as it is (after moving constant evaluation to the CFE) this still works, and replacing `const` by `new` is also a valid migration path (similar to using `Platform.environment` but without the need to replace VM argum

[2019-04-12 16:29] sigmundch opened #36604 "Please merge # 394f88d into dev channel"
**commit(s) to merge**: #394f88d

**merge instructions**: clean merge

**reason**: prevents regression on source-maps when enabling constant-update-2018.

Note: this cherry-pick is only needed if we are doing a cherry-pick of the contsnat-update-2018 flag change. If we are doing a full merge to dev instead, then we just need to make sure this hash is included.

/cc @dgrove @kevmoo @mit-mit @whesse

[2019-04-12 16:33] sigmundch commented on #36568
I'm not 100% sure (some of this was autogenerated from an IDL and I have to look more closely). IMO, there is some cleanup to do: we have code for the old v0.5 API and we might be automatically exposing portions of the unsupported v1 API. My guess is that we should remove the latter, and deprecate and eventually remove the former?

@terrylucas

[2019-04-12 16:51] leafpetersen commented on #36585
Yes.  It is illegal to mix in a class which has a super call in it.  This was essentially the entire point of the super mixin migration.

[2019-04-12 16:52] eernstg commented on #36585
@stereotype441 wrote:

I'm on the language team, maintaining the spec. ;-)

But what I saw was an error that I did not expect, and I thought the code for this error was introduced recently, maybe [here](https://github.com/dart-lang/sdk/blob/ce9a1e2b5466c5d6cabce436ee174ed5efe6b15f/pkg/analyzer/lib/src/generated/error_verifier.dart#L2011), maybe [at this time](ffc716addf7317e9c102384bece41d69c62098

[2019-04-12 17:09] Stargator commented on #36199
@alexander-doroshko Yes! I'm just trying to go through what I like in refactoring efforts, but I am not versed in everything that's possible or already implemented for other languages.

[2019-04-12 17:12] move[bot] opened #36605 "No autocomplete support for the 'break' keyword in switch statements"
*@ShivamArora commented on Apr 11, 2019, 10:53 AM UTC:*

## Steps to Reproduce

Use a switch statement for any logic.
Example:

[code]

## What went wrong_

There's no autocomplete support for the `switch`, `case`, `default`, `return` and `break` keywords.

## Version info

Flutter version: 1.2.1
Flutter Plugin version: 34.0.1

*This issue was moved by [devoncarew](https://github.com/devoncarew) f

[2019-04-12 17:14] sigmundch commented on #36579
It is a good question, I don't have a final answer. At this time, the answer is no, but long term the value you get back may change. If the resolution of dart-lang/language#304 is that `new X.fromEnvironment` must give the same value as `const X.fromEnvironment`, the answer will be yes in the future. At that point we will define the environment at compile-time and pass it through to the runtime.

[2019-04-12 17:16] rakudrama opened #36606 "dart2js: can part files be more stable?"
Deferred loading part files are numbered in a way that is not stable under small changes.
A canonical name would be the sorted set of deferred libraries that require the part. This is too long and leaks information about the source code structure into the file names.

Perhaps we could give all parts a 5 or 6 digit number and generate the canonical names and hash them to an integer range for the pa

[2019-04-12 17:26] kevmoo commented on #36594
Safari 9 is outside our official supported version range.

Can you replicate this on a newer version of Safari? (11 or 12?)

https://webdev.dartlang.org/faq#q-what-browsers-do-you-support-as-javascript-compilation-targets

[2019-04-12 17:32] a-siva commented on #36530
https://dart-review.googlesource.com/c/sdk/+/99169 landed to enable const flag.

[2019-04-12 17:32] #36530 closed

[2019-04-12 17:38] jonahwilliams commented on #33838
We have reports of this occurring with google3 customers, and it can be reliably reproduced externally as well.

1. Comment out all assets in the flutter_gallery pubspec.
2. flutter run flutter_gallery.
3. Uncomment all assets and perform hot reload.

[2019-04-12 17:50] gabrc opened #57934 "Issue with lint unnecessary_await_in_return"
In the code below, await is necessary.
[code]

[2019-04-12 17:53] gabrc opened #57935 "unnecessary_parenthesis with new/const"
The lint should not report an issue with the first line of the code below:
[code]

[2019-04-12 18:02] gabrc opened #57936 "prefer_iterable_whereType false positive"
The code below is flagged by the lint rule prefer_iterable_whereType:
[code]

[2019-04-12 18:27] sjindel-google opened #36607 "Re-use FFI trampolines"
Currently we generate a new FFI trampoline function on every call to `asFunction`. We should cache and re-use trampolines for the same native signatures.

[2019-04-12 18:27] #36036 closed

[2019-04-12 18:27] #35760 closed

[2019-04-12 18:28] #36561 closed

[2019-04-12 18:28] #36572 closed

[2019-04-12 18:43] rakudrama opened #36608 "dart2js: inlining heuristics fail in common reductive case"
In the following code we expect `Intl.message` to be inlined, leaving a call to `Intl._message` because inlining allows the unused arguments to be dropped. Likewise for `Intl.plural` and `Intl._plural`.

This does not work as intended for the following reasons:

1. The optimization that removes unused named optional arguments confuses the heuristic. The heuristic counts the parameter that is elimi

[2019-04-12 18:45] mit-mit commented on #34452
I'm so sorry, but we had an issue with the google group mentioned above, so if you already sent an email to `dart-ffi-team@googlegroups.com`, can you please send it again?

Thanks much!

[2019-04-12 18:45] gabrc opened #57937 "prefer_is_not_type"
Code like:
[code]
should be replaced with:
[code]

[2019-04-12 18:57] andrewackerman commented on #31253
@i-schuetz Then maybe there can be some optional attributes that can be added to the class declaration so these features can be added for people who need them? Serialization may not be a universal requirement but I'd bet that it would be needed often enough that people would want to at least have the option. Otherwise it would largely defeat the purpose of having a concise data class declaration s

[2019-04-12 19:00] sigmundch opened #36609 "bug in unevaluated constants within string interpolation"
It appears that when using unevaluated constants, string interpolation incorrectly stringifies an unevaluated subexpression.

To repro: uncomment these lines:
https://github.com/dart-lang/sdk/blob/master/tests/compiler/dart2js/model/cfe_constant_evaluation_test.dart#L320
and rerun the unit test.

This shows up under `tests/compiler/dart2js/model/cfe_constant_evaluation_test.dart`, where we purpose

[2019-04-12 19:05] sigmundch commented on #36597
https://dart-review.googlesource.com/c/sdk/+/99280 updates one test and deletes the other two (now no longer needed because they covered behavior under the old dart2js constant evaluator)

I did however discovered one CFE regression in this process. For now I'm commenting out that individual test case. I field https://github.com/dart-lang/sdk/issues/36609 to address it.

[2019-04-12 19:08] #57936 closed

[2019-04-12 19:37] #36602 closed

[2019-04-12 19:37] matanlurey opened #36610 "AngularDart could use @noReifyGenerics for internal classes"
When generating runtime code, AngularDart often builds a lot of classes, fields, and various other runtime support code that is not directly exposed to end users, and only needs to be valid Dart code in order to be compiled and executed as JavaScript:

[code]

This causes code-bloat in a number of occasions:

* Generation of `$asView` and other RTTI.
* Generation of `H.setRuntimeType` when stored

[2019-04-12 19:42] a-siva commented on #36600
https://dart-review.googlesource.com/c/sdk/+/99268 should fix this.

[2019-04-12 19:42] #36600 closed

[2019-04-12 19:45] a-siva commented on #36603
There are two sets of failures
- one set is similar to the errors seen in https://github.com/dart-lang/sdk/issues/36500
- the other set is https://github.com/dart-lang/sdk/issues/36500
Closing this issue as a duplicate of these two issues.

[2019-04-12 19:45] #36603 closed

[2019-04-12 19:49] #36597 closed

[2019-04-12 20:02] gabrc opened #57938 "prefer_void_to_null false positive"
The lint prefer_void_to_null reports issue with the following code:
[code]

[2019-04-12 20:04] a-siva opened #36611 "Enable constant-update-2018 shows major regressions in Flutter benchmarks"
We are seeing major regressions in Flutter benchmarks with Enable constant-update-2018 being turned on by default. This is a show stopper and needs investigation.

48 Performance Regressions in 'Enable constant-update-2018 by default.'
The change Enable constant-update-2018 by default. has 48 Performance Regressions on Memegolem.

[code]

[2019-04-12 20:11] a-siva commented on #36611
/cc @kmillikin

[2019-04-12 20:18] #36601 closed

[2019-04-12 20:26] jonahwilliams opened #36612 "Assertion failure in timer_impl during slow hot reload"
When hot reload syncs a large number of assets, we are reliably seeing a failed assertion in timer_impl. To reproduce:

1. Comment out all assets in the flutter_gallery pubspec.
2. flutter run flutter_gallery.
3. Uncomment all assets and perform hot reload.

Also see google3 issue b/130403939

[code]

[2019-04-12 20:27] jonahwilliams commented on #36612
cc @a-siva

[2019-04-12 20:38] i-schuetz commented on #31253
Maybe something generic along the lines of [Swift's `Codable`](https://developer.apple.com/documentation/swift/codable) could make sense, but this is an entirely different feature. Although `equals` and `toString` are convenience as well - I remember for example in Haskell this being solved via type classes (which to be implemented require only to write a word practically). I don't know which exac

[2019-04-12 20:51] #57935 closed

[2019-04-12 21:03] dcov commented on #31253
I agree with @i-schuetz that adding a `Codable` protocol is probably the best option. It could even make its way into Flutter plugins (and the framework itself), where the data you pass to the 'other side' has to be encoded first.

[2019-04-12 21:14] liamappelbe commented on #33838
@jonahwilliams I tried those steps and wasn't able to reproduce it. This particular assertion can't really be triggered anymore, because my change removed it. I'm not sure if the change is in stable yet. It's possible that the people reporting the issue don't have the fix yet.

Alternatively, it might be a similar looking but different assertion. If so, can you file a new issue and include a stack

[2019-04-12 22:35] rmacnak-google commented on #36612
Hm, it looks like the timer implementation is being re-entered because a service extension creates some timers. I thought we had arranged the service extensions have their execution delayed until the next turn of the event loop.

[2019-04-12 22:39] a-siva commented on #36611
This could be because vm_service is not being excluded from the release builds in the case of Flutter, the artifacts loaded by the engine build does not differentiate between the debug, release and product builds of platform.dill file and we end up using the debug version of platform.dill in the release builds causing vm_service to be included.

[2019-04-12 22:55] kevmoo commented on #31253
@leafpetersen @munificent @lrhn – should be moved to the language repo?

[2019-04-12 23:07] leafpetersen commented on #31253
yes, thanks.

[2019-04-12 23:40] vsmenon opened #36613 "DDK inlining `null` for cross-module consts with kernel const-update enabled"
When running pop-pop-win on the bleeding edge SDK (with the const experiment enabled), we're hitting errors where non-null cross module const values are reported as `null`.

I.e., on this line:

https://github.com/dart-lang/sample-pop_pop_win/blob/master/lib/pop_pop_win.dart#L31

`TextureAtlasFormat.JSON` shows up as `null`, triggering a runtime error.

[2019-04-12 23:41] vsmenon commented on #36613
Note, this appears to be related to outline kernel files not having `const` info.

[2019-04-13 01:52] crelier commented on #36500
It looks like gen_snapshot is loosing the canonical bit on closure's delayed type arguments.
The closure is properly created with a canonical delayed type argument vector. However, by the time the closure is serialized, the canonical bit is cleared. The closure is later deserialized as a canonical closure, but with a non-canonical delayed type argument vector.

I will continue digging on Monday,

[2019-04-13 07:05] Sacchid opened #36614 "type 'List<List<dynamic>>' is not a subtype of type 'List<List<num>>' in type cast"
What is correct way to cast `List<List<dynamic>>` to` List<List<num>>` ?

As, if I cast using `.cast()`, I am getting following `CastError` -

And if I also use `as List<List<num>>`, I am getting following `CastError` -

----
### Details -
I have function ```List<Point> toListOfPoint(List<List<num>> list_of_list){...}``` from `import 'package:poly/poly.dart';`
So, In order to pass dynamic list I'm

[2019-04-13 07:32] pinnisi opened #36615 "FileSystemException while building project"
* Dart SDK Version 2.2.0
* Windows 10

run "webdev serve" on my project (that worked well in dart 1.x) give me lots of errors like this:

`webdev serve
Creating build script, took 13070ms
[INFO] Setting up file watchers completed, took 19ms
[INFO] Waiting for all file watchers to be ready completed, took 458ms
[INFO] Building new asset graph completed, took 7.1s
[INFO] Checking for unexpected pre-

[2019-04-13 12:47] eloyleonardo commented on #30313
If you completely disable geo localization in browser (e.g. in firefox change the config geo.enabled to false) the error keep occurring.

[2019-04-13 13:11] HaithamSheshtawy opened #36616 "error: Target of URI hasn't been generated: 'mockup.g.dart'. (uri_has_not_been_generated at [flutter_theme_from_json] lib/models/mockup.dart:5)"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-182.5107.16.33.5199772`
- `2.2.0-edge.0a7dcf17eb5f2450480527d6ad1e201fb47f1e36`
- `AI-182.5107.16.33.5199772, JRE 1.8.0_152-release-1248-b01x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4 unknown, screens 1440x900  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/fol

[2019-04-13 14:02] renatoathaydes opened #36617 "Analyzer error in IntelliJ"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.6183.87`
- `2.2.0`
- `IC-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Linux(amd64) v4.4.0-141-generic, screens 1920x1080`

## Exception
[code]

For additional log information, please append the contents of
file:///tmp/report2.txt.

[2019-04-13 17:42] mrleesin opened #36618 "InconsistentAnalysisException: Requested result might be inconsistent with previously returned results"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.6183.87`
- `2.2.0-edge.0a7dcf17eb5f2450480527d6ad1e201fb47f1e36`
- `IC-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 2560x1440, 1920x1080  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/y1/2hb34pl96z

[2019-04-13 17:52] MrDyro opened #36619 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-191.6183.87`
- `2.2.1-edge.571ea80e1101e706980ea8aefa7fc18a0c8ba2ec`
- `IU-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 1680x1050  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/1v/55j17ptx68l714p35yyy6

[2019-04-13 17:53] jacob314 opened #57939 "Lint warnings if ErrorSummary, ErrorDescription, or ErrorHint constructors are called with bad values."
These Flutter constructors provide a hook for a kernel transformer to extract out object references in package:flutter. See: https://github.com/flutter/flutter/issues/27673

A lint warning should trigger if the constructor is called with a value other than a string literal as in that case there is no way to robustly extract out the object ids and we will not attempt to be clever and handle any cas

[2019-04-13 17:54] leonsenft opened #36620 "GPG error: The following signatures were invalid"
Looks like a user was having trouble [installing Dart on Linux](https://webdev.dartlang.org/guides/get-started#2-install-dart).

From https://github.com/dart-lang/angular/issues/1788:

E: The repository 'https://storage.googleapis.com/download.dartlang.org/linux/debian stable Release' is not signed.
N: Updating from such a repository can't be done securely, and is therefore disabled by default.
N:

[2019-04-13 17:54] leonsenft commented on #36620
@geniusunil

[2019-04-13 20:20] f3ath opened #36621 "VM crashes when "const {}" is used as the default value for Iterable"
Dart VM version: 2.2.0 (Tue Feb 26 15:04:32 2019 +0100) on "linux_x64"
OS: Arch Linux

Code (foo.dart):
[code]

Dump:
[code]

[2019-04-13 21:09] DanTup opened #36622 "VM crashes with breakpoint on break statement"
This was raised at https://github.com/Dart-Code/Dart-Code/issues/1617. I can reproduce using today's nightly build with just this Dart script (run directly - no Flutter):

[code]

Some observations from @kinex:

Few observations:

- both the break and the await statements are required for the crash to occur
- there is no crash if the breakpoint is removed
- it won't crash if you replace the break

[2019-04-13 22:49] kaushiksamanta opened #36623 "Dart Analyzer Error"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.6183.87`
- `2.2.0-edge.0a7dcf17eb5f2450480527d6ad1e201fb47f1e36`
- `IC-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.14.4, screens 1440x900  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/my/lqgvw_xj0dd8p6lzxcj_jy

[2019-04-14 01:32] filiph commented on #34378
I keep getting into situations where I'd like to have this functionality.

For reference, an old school issue from @danrubel asking for language-level support of this is here: https://github.com/dart-lang/sdk/issues/3928. I'll update that issue to link here. I do think it's better (and more practical) to implement this via `pkg:meta` rather than having it in the language.

[2019-04-14 08:06] Admiralfeb commented on #36620
Looks like Chrome had the same problem as the key expired and they had to re-sign the repository. https://support.google.com/chrome/thread/4032170

[2019-04-14 13:17] renatoathaydes opened #36624 "Analysis server terminated (IntelliJ)"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IC-191.6183.87`
- `2.2.0`
- `IC-191.6183.87, JRE 1.8.0_202-release-1483-b39x64 JetBrains s.r.o, OS Linux(amd64) v4.4.0-141-generic, screens 1920x1080`

## Exception
[code]

I tried to define a `typedef` like this (I was experimenting with what's possible, I know this is not valid):

[code]

`TextBoxModel` is just a normal class... `E

[2019-04-14 13:33] eernstg commented on #36614
One thing you need to take into account is that `List<List<dynamic>>` is _not_ a subtype of `List<List<num>>`. So if you have a `List<List<dynamic>>` (not just an object `o` such that `o is List<List<dynamic>>` is true, but such that `List<List<dynamic>>` is the most specific type that `o` has) then there is no cast that will allow you to assign that object to a variable of type `List<List<num>>`.

[2019-04-15 00:27] vsmenon commented on #36613
@jakemac53 @natebosch

It appears that the generated `ddc.dill` file and `ddc.js` files aren't matching up in terms of libraries contained.  In this example, `packages/petitparser/petitparser.ddc.dill` defines `package:petitparser/src/core/parser.dart` but `packages/petitparser/petitparser.ddc.js` is importing it from a different module.

Note, this is with Nate's CL patched:

https://dart-review.

[2019-04-15 00:43] vsmenon commented on #36613
Ahh, I need to modify Nate's CL to still exclude sources as per the original logic - i.e., restore the logic here:

https://github.com/dart-lang/sdk/blob/master/utils/bazel/kernel_worker.dart#L316

[2019-04-15 00:52] vsmenon commented on #36613
So, to summarize:

- Outline dill files are missing const info with the const update enabled.  This is causing DDK to generate `null` for constants across module boundaries.
- Nate's CL works around this by using the full dill instead of an outline.  If I modify his CL as per the above comment, it works as expected.

We need to test the perf effect of using the full dill.

[2019-04-15 01:18] Laogeodritt opened #36625 "Platform.operatingSystemVersion returns uname output on Android"
Hi all,

_(Unsure of the structure of dart+flutter and whether this is a dart SDK issue or an issue of the implementation in flutter; I did a quick search flutter-side for `operatingSystemVersion` and `_operatingSystemVersion` and didn't find anything, so I'm assuming the Dart SDK implements this. Please redirect me if needed.)_

On Android using Flutter, `Platform.operatingSystemVersion` outputs

[2019-04-15 08:32] DanTup commented on #36576
@scheglov for some reason I'm still not seeing this:

[code]

I'm using this mornings nightly build, the version number is from the same log file as above:

[code]

And I'm spawning the analyzer snapshot from that same version:

The file I'm testing with is just this:

[code]

I see it still missing both in my tests run and if I try it manually. Any ideas?

[2019-04-15 08:33] eernstg opened #36626 "VM: `main` receives an argument which is not a `List<String>`"
Cf. https://github.com/dart-lang/dart-pad/issues/1009, the vm invokes the `main` function of a script with an argument which is not of type `List<String>`.

[code]

The specification requires that it is a `List<String>`, [here](https://github.com/dart-lang/language/blob/59c1810f871116bec4d3e7629e0b6c81712d7bd6/specification/dartLangSpec.tex#L13951), and this would also be a reasonable choice in pr

[2019-04-15 08:34] DanTup commented on #36576
I deleted `~/.dartServer` and it seems to be working now - maybe something is cached in there?

[2019-04-15 08:39] eernstg opened #36627 "dart2js: `main` receives an argument which is not a `List<String>`"
Cf. https://github.com/dart-lang/dart-pad/issues/1009, dart2js generated programs invoke the `main` function of a script with an argument which is not of type `List<String>`.

[code]

The specification requires that it is a `List<String>`, [here](https://github.com/dart-lang/language/blob/59c1810f871116bec4d3e7629e0b6c81712d7bd6/specification/dartLangSpec.tex#L13951), and this would also be a reas

[2019-04-15 08:42] sstrickl opened #36628 "vm/cc/GenKernelKernelMaxRSS test now crashing more consistently on cross-vm-linux-release-arm64"
This test has been in the "ignored flaky test failure logs" category for quite a while now, but it seems to have recently become more consistent and thus is now showing up in the "unapproved failures" log ([example log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8916371717733436496/+/steps/test_results/0/logs/unapproved_failing_tests__logs_/0)).

[code]

It started

[2019-04-15 09:21] tuken80 opened #36629 "Dart team ask me report this error"
* Dart SDK Version (`dart --version`)
Dart VM version: 2.2.0 (Tue Feb 26 15:04:32 2019 +0100) on "macos_x64"

* Whether you are using Windows, MacOSX, or Linux (if applicable)
macOS Mojave 10.14.4

* Whether you are using Chrome, Safari, Firefox, Edge (if applicable)
flutter run --enable-software-rendering
in Nexus 5X avd with Android 9.0 x86

Missing some or all of the above might make the issue

[2019-04-15 09:54] sstrickl opened #36630 "Crash in vm/cc/Dart2JSCompileAll on vm-kernel-asan-linux-release-x64"
First thought it might be related to 125ee3b7, since the [first failing build](https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-asan-linux-release-x64/2322) included that commit, but it actually started once constant-update-2018 was enabled by default (commit e9ca6a5).

Here's an [example log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/891614902199695089

[2019-04-15 10:18] sstrickl opened #36631 "RuntimeError for service/reload_sources_test on app-kernel-linux-debug-x64"
Checked locally since the [first failing build](https://ci.chromium.org/p/dart/builders/ci.sandbox/app-kernel-linux-debug-x64/2884) had a few commits in it, RTE in test started after enabling of constant-update-2018 (commit e9ca6a53).

Here's an [example log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8916149024710305888/+/steps/test_results/0/logs/unapproved_failin

[2019-04-15 10:39] mkustermann opened #36632 "Run useful optimization passes on graph intrinsics"
We should run common optimization passes on graph intrinsics if it is beneficial.

For example to infer that `v2` in the following graph can not cause an overflow to Mint in the following boxing instruction

[code]

[2019-04-15 11:27] luisfilipels opened #36633 "Dart Analyzer Error"
- Dart SDK Version: 2.2.0
- Windows 10, 64-bit

[report1.txt](https://github.com/dart-lang/sdk/files/3079841/report1.txt)

This happens whenever I open an existing dart/flutter project using the IntelliJ IDE. If I create a new project, everything seems to work correctly. Deleting the .analysis-driver folder did not solve the issue. Also, the "Restart Dart Analysis Server" button in IntelliJ seems

[2019-04-15 11:35] mnordine opened #36634 "How to run language experiments with WebStorm?"
<img width="500" alt="Screen Shot 2019-04-14 at 6 42 47 PM" src="https://user-images.githubusercontent.com/1924573/56129730-43754e00-5f59-11e9-9ef1-63c89cf3bb82.png">

How do you pass in flags to enable language experiments?

[2019-04-15 12:04] mnordine commented on #36634
I see from https://github.com/dart-lang/sdk/blob/master/docs/process/experimental-flags.md that you can enable them easily from the `analysis_options.yaml` file, but I'm not sure how to run DDC or Dart2JS with them

[2019-04-15 14:19] vsmenon commented on #36498
What's the update here?  Do we just need to land @kmillikin 's CL?

@stefantsov @natebosch @jakemac53

[2019-04-15 14:23] vsmenon commented on #36498
Dima will review Kevin's CL and land if this looks good.

[2019-04-15 14:23] scheglov commented on #36576
Yes, I think I did not increment the data version.

[2019-04-15 14:58] vsmenon opened #36635 "Kernel outlines don't contain enough const info for modular error checking / compilation"
DDK and modular error checking assumes that kernel outlines contain full const info.  This allows tools to handle consts at a modular level without needing the whole program or being on the build critical path.  (This is how analyzer summaries / DDC works.)

Currently, kernel outlines don't appear to distinguish between a missing constant (?) and a `null` constant, so DDK builds will trigger unexp

[2019-04-15 14:59] vsmenon commented on #36635
Assigning to @jakemac53 to investigate the first option and perf implications.

[2019-04-15 15:00] vsmenon commented on #36480
Closing in favor of #36635.

[2019-04-15 15:00] #36480 closed

[2019-04-15 15:00] vsmenon commented on #36613
Closing in favor of #36635.

[2019-04-15 15:00] #36613 closed

[2019-04-15 15:01] vsmenon commented on #36635
fyi - @kmillikin @askeksa-google @stefantsov @jmesserly @natebosch @kevmoo

[2019-04-15 15:02] vsmenon commented on #36609
@sigmundch - any update?  is someone looking at this?

[2019-04-15 15:03] vsmenon commented on #36579
@aadilmaan - are you tracking what we should do here and when?

[2019-04-15 15:06] vsmenon commented on #36535
@jmesserly @jakemac53 @natebosch @kevmoo  - have we seen a noticeable perf/size regression in Flutter Gallery debug size since moving to DDK?  If not, we can drop the P1.

[2019-04-15 15:09] vsmenon commented on #36535
(or any other Flutter Web app?)

[2019-04-15 15:13] vsmenon commented on #36635
This is my update to Nate's CL (to use full kernel files):

https://dart-review.googlesource.com/c/sdk/+/99342

[2019-04-15 15:33] jakemac53 commented on #36635
It looks like using full kernel files has pretty significant regression for full builds (about 2x worse on the gallery/spinning square), and a noticeable regression for incremental builds (~30% worse).

[2019-04-15 15:42] vsmenon commented on #36635
Okay, update on this: we'll likely roll forward with full kernel files.

The regression Jake reports roughly undoes the improvement we saw moving from analyzer to kernel.  We wouldn't block 2.3 on that, but I'd love to get the win back soon.

We're doing more validation.  If all is well, we'll aim to land a CL end of today and remove the P1 (and perhaps milestone).

[2019-04-15 15:45] a-siva commented on #36615
Can you elaborate a bit more on which part of the Dart SDK you are using, dart2js or the dart VM, also were you using the IDE or was this done on the command line. It would be great if you could detail the steps you took after installing the Dart SDK to get to this error.

[2019-04-15 15:51] sigmundch commented on #36615
I believe this relates to `webdev` and `build_runner`

@jakemac53 @natebosch - what would be the correct repo to move this bug to? https://github.com/dart-lang/webdev/?

[2019-04-15 15:58] sigmundch commented on #36634
dart2js accepts `--enable-experiment=experiment_name` on the command-line, I believe DDC does too, but I'm not familiar with how to adjust the launch commands in webstorm to provide it.

@jwren do you have pointers to guide our users on this?

[2019-04-15 16:03] sigmundch commented on #36609
I don't believe anyone is looking into it yet. It however is a case where we are more permissive than we should, so it could be relaxed to a P2 if needed.

@stefantsov - are you familiar with this area of the compiler?  I would ask @askeksa-google to take a look, but I believe he is out on holiday.

In general - I think my patch above would fix string-interpolation, but I worry that there is a mor

[2019-04-15 16:15] vsmenon commented on #36635
@natebosch will work with @jakemac53 to land the logic for using full kernel files.

[2019-04-15 16:16] athomas commented on #36620
This is fixed.

See also https://github.com/dart-lang/site-www/issues/1457

[2019-04-15 16:16] #36620 closed

[2019-04-15 16:20] #36498 closed

[2019-04-15 16:25] vsmenon commented on #36609
@stefantsov - can you take a look and assign back to @sigmundch if needed?

[2019-04-15 16:27] vsmenon commented on #36535
@jmesserly - assigning to you to re-triage.  Note: we'll likely move to full kernel files for 2.3 ( #36635 ).

[2019-04-15 16:40] sigmundch commented on #36609
@johnniwinther - also may be able to help

[2019-04-15 16:41] vsmenon commented on #36579
Do we need anything here beyond a CHANGELOG update?

[2019-04-15 16:42] mnordine commented on #36634
I think you can set up a `build.yaml` file, and have something like:

[code]

Maybe experiment flags work there for `dart2js_args`? What is the key for DDC? `ddc_args`?

[2019-04-15 16:53] aartbik opened #36636 "Support FFI on ARMv5"
Found with fuzzing.

Isolate (/b/s/w/itgsWcEd/dart_fuzzRLFBCY) KBC-CMP-O3-DebugX64 - JIT-NOINTRINSIFY-noVFP-DebugSIMARM: !DIVERGENCE! 1.9:1698863170 (output=false)

fail2:
../../runtime/vm/compiler/assembler/assembler_arm.cc: 851: error: expected: TargetCPUFeatures::vfp_supported()
version=2.2.1-edge.ec0447db5d27049f5bb87d639e043993a76593cd (Mon Apr 15 02:17:44 2019 +0000) on "linux_simarm"
thread

[2019-04-15 17:16] aartbik commented on #36636
Using "DebugSIMARM/dart", this can be reproduced with ToT (note, must be pretty recent, my Friday build ran just fine):

[code]

[2019-04-15 17:17] jwren opened #36637 "New AndroidManifest.xml errors and warnings not working yet"
The new AndroidManifest.xml errors and warnings aren't working completely yet.

PR: https://dart-review.googlesource.com/c/sdk/+/98040.

Bug:  In context_manager.dart, the `getChildAssumingFile` in:

`File manifestFile = folder.getChildAssumingFile(MANIFEST_NAME);`

does not appear to search the `folder` recursively,  `getChildAssumingFile` assumes a relative path is being passed (but `AndroidMani