[2018-06-05 15:32] jakemac53 commented on #33335
Note that this does appear to work in some scenarios, and hasn't been confirmed to be the problem with our modular kernel pipeline although it is something we suspect might be part of the problem.

[2018-06-05 15:33] eernstg commented on #33334
Yes, Dart 2 uses [instantiate-to-bound](https://github.com/dart-lang/sdk/blob/master/docs/language/informal/instantiate-to-bound.md) to make this choice. The basic idea is that inference will use the bound itself when no constraints apply (using `dynamic` when no bound has been declared), so `List` means `List<dynamic>` and `Foo` means `Foo<SomeBaseClass>`.

When the given bound is an F-bound we n

[2018-06-05 15:38] DanTup commented on #33033
This is done :-)

[2018-06-05 15:38] #33033 closed

[2018-06-05 15:40] vsmenon commented on #33226
@rakudrama - will you be able review terry's cl?

[2018-06-05 15:44] vsmenon commented on #32304
@kevmoo - what's the issue here?  The links under other resources seem to work.  If there is updated text, can you provide it?

[2018-06-05 15:49] DanTup opened #33336 "No response from search.getElementDeclerations in dev SDKs"
@scheglov Not sure if this is a result of the recent change, but my symbol search tests are timing out against dev SDKs. Seems like I'm not getting a response to search.getElementDeclerations.

Here's a log file - the test timed out after 60 seconds. The last thing in the log is the request, with no response written. The sample application is a tiny Dart app at https://github.com/Dart-Code/Dart-Co

[2018-06-05 15:55] vsmenon commented on #33335
@natebosch - can you confirm if this is an issue and refile to @kmillikin if it is?

[2018-06-05 15:58] scheglov commented on #33336
I can reproduce the problem.

[2018-06-05 16:06] chalin commented on #33334
Erik: thank you for the nice summary, and the link to the language spec and background reading!

I had scanned the 2-dev [SDK changelog](https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md) entries but found nothing relevant. It seems that the most recent mention of "instantiate-to-bound" appears in [1.22.0 - 2017-02-14](https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#1220---2017-0

[2018-06-05 16:08] aam opened #33337 "vm/cc/Profiler_CodeTicks is failing on windows dart2 mode"
[code]

[2018-06-05 16:16] scheglov commented on #33336
https://dart-review.googlesource.com/c/sdk/+/58500

[2018-06-05 16:17] dgrove commented on #33221
Any updates?

[2018-06-05 16:31] matanlurey commented on #32482
_Mild_ upvote for just `language` (`dart-lang/language` sounds nice to link to).

My next top pick is `evolution` (`dart-lang/evolution` also sounds nice to link to).

In any case, the brief summary is a huge 👍 👍 👍

[2018-06-05 16:31] aam opened #33338 "mirrors/dynamic_load_test fails on Windows"
[code]

[2018-06-05 16:33] leafpetersen commented on #33324
Another example: this code

[code]

Produces an error indicating that `a` is being inferred as `Iterable<Object>`.   I suspect that the greatest closure computation is being done filling in with `Object` instead of `dynamic`.  For this example, the downwards context on `f` is `dynamic -> ?` so the choice of what to fill in for `?` in the greatest closure computation would result in `Iterable<Objec

[2018-06-05 16:34] dgrove commented on #33325
Is this really needed for Dart2Stable?

[2018-06-05 16:38] dgrove commented on #31311
Removing this from Dart2Stable, given the "we'll keep it as-s for Dart 2" comment.

[2018-06-05 16:40] dgrove commented on #32953
@grouma ping.

[2018-06-05 16:41] dgrove commented on #33075
Any further updates, @lrhn ?

[2018-06-05 16:43] dgrove commented on #28655
Is this required for Dart2Stable?

[2018-06-05 16:43] dgrove commented on #30384
Any updates on the plan here?

[2018-06-05 16:44] jakemac53 commented on #33332
Fwiw, this appears to be triggered by passing `--no-source-maps` as well, not sure if that is somehow defaulting to dart 2 mode by accident?

[2018-06-05 16:48] aam opened #33339 "language/enum_private_test/02 fails on debug x64"
[code]

[2018-06-05 16:54] leafpetersen commented on #24779
Is this still a language request?  If so, what's the request?  Something like extension methods?

[2018-06-05 16:57] leafpetersen commented on #27273
The new front end implements the correct behavior for this.  Re-assigning this as an analyzer bug.

[2018-06-05 16:58] aam commented on #33339
Somehow this test passes on my local windows, linux boxes

[2018-06-05 17:01] MichaelRFairhurst commented on #33221
I do have some issues I've seen, I thought I had reproed them correctly but found out I was debugging the wrong issue. So I am still working on that.

There's also a DDC issue which may be the same, or different (inside DDC or analyzer).

[2018-06-05 17:02] leafpetersen commented on #27564
using the implicit-cast:false analyzer option is the current way to opt out of this behavior.

[2018-06-05 17:02] #27564 closed

[2018-06-05 17:03] aam commented on #33339
But it does fail on mac

[2018-06-05 17:07] natebosch commented on #32953
Direct integration with `front_end` from `test` is not an approach we are pursuing today. We're focusing on a modular compilation to kernel and we'll be testing the performance of a modular kernel approach for flutter test as well.

[2018-06-05 17:08] mraleph commented on #27372
@matanlurey I will rephrase: if we want to also do a quick experiment with what VM could potentially gain from such an annotation then it would be good to have it in a form that VM already understands to a certain degree.

[2018-06-05 17:08] dgrove commented on #32953
Can this be moved from Dart2Stable ?

[2018-06-05 17:09] natebosch commented on #33335
The issue on the build side is https://github.com/dart-lang/build/issues/1428

[2018-06-05 17:11] natebosch commented on #32953
This should not be a blocker for Dart 2 stable. I think this is still worth exploring a solution directly in the VM in a future milestone. Pushing complexity on every consumer of the `spawnUri` API in order to work around performance issues that could be solved once seems better in the long term than having many potential consumers of `package:front_end`.

[2018-06-05 17:18] leafpetersen opened #33340 "Front end: move void above (below) dynamic in LUB(GLB)"
See here for the informal spec:  https://github.com/dart-lang/sdk/blob/master/docs/language/informal/extreme-upper-lower-bounds.md

Discussion here: https://github.com/dart-lang/sdk/issues/28513#issuecomment-391253520

[2018-06-05 17:18] natebosch commented on #33335
@kmillikin - I think we need some help here. Repro steps at https://github.com/dart-lang/build/issues/1428#issuecomment-391054216

[2018-06-05 17:19] leafpetersen opened #33341 "Analyzer: move void above (below) dynamic in LUB(GLB)"
See here for the informal spec:  https://github.com/dart-lang/sdk/blob/master/docs/language/informal/extreme-upper-lower-bounds.md

Discussion here: https://github.com/dart-lang/sdk/issues/28513#issuecomment-391253520

[2018-06-05 17:21] mraleph commented on #32953
@natebosch only the caller of the `spawnUri` knows if the spawned Uri is going to be related in any way to other Uri-s that has been spawned before. What we need here is an ability to communicate to CFE instance within the VM that you are expecting to have an intersection between what it compiled before and what it is going to compile in the future.

Unconditionally keeping CFE state around would

[2018-06-05 17:23] #33336 closed

[2018-06-05 17:37] leafpetersen opened #33342 "Front end: it is an error if a type argument is a generic function type"
The front end is missing the following errors from https://github.com/dart-lang/sdk/blob/master/docs/language/informal/generic-function-type-alias.md :

[code]

[2018-06-05 17:37] leafpetersen opened #33343 "Analyzer: it is an error if a type argument is a generic function type"
The analyzer is missing the following errors from https://github.com/dart-lang/sdk/blob/master/docs/language/informal/generic-function-type-alias.md :

[code]

[2018-06-05 17:41] leafpetersen commented on #29561
I ran an experiment on this a while back.  It was massively breaking unfortunately.  Closing this as infeasible.

[2018-06-05 17:41] #29561 closed

[2018-06-05 17:41] leafpetersen commented on #29630
This is done.

[2018-06-05 17:41] #29630 closed

[2018-06-05 17:42] leafpetersen commented on #29791
This has been resolved with the callable class restrictions.

[2018-06-05 17:42] #29791 closed

[2018-06-05 17:44] leafpetersen commented on #30496
@jmesserly I think you were looking at broader changes here.  Should this stay open or is it superseded or obsolete?

[2018-06-05 17:44] #33329 closed

[2018-06-05 17:45] leafpetersen commented on #32435
This isn't going to land for Dart 2 unfortunately.

[2018-06-05 17:45] #32435 closed

[2018-06-05 17:47] leafpetersen commented on #32843
This isn't going to make it into Dart 2.

[2018-06-05 17:47] #32843 closed

[2018-06-05 17:48] chalin commented on #33334
@kwalrath, @kevmoo - actually, maybe we should mention this in the [migration guide](https://www.dartlang.org/dart-2#migrating-yo) or the [Fixing Common Type Problems](https://www.dartlang.org/guides/language/sound-problems) page?

[2018-06-05 17:51] leafpetersen commented on #33198
What's the status with this?

[2018-06-05 17:53] matanlurey commented on #31949
Is it too late to do this for Dart2? @leafpetersen

[2018-06-05 17:54] matanlurey commented on #31943
This looks stale.

[2018-06-05 17:54] #31943 closed

[2018-06-05 17:54] matanlurey commented on #27562
I no longer want this feature :)

[2018-06-05 17:54] #27562 closed

[2018-06-05 17:55] matanlurey commented on #27563
/cc @srawlins who can update plans for mockito in the future

[2018-06-05 17:55] #27570 closed

[2018-06-05 17:56] matanlurey commented on #30407
I think was done? @lrhn

[2018-06-05 17:57] #30180 closed

[2018-06-05 17:58] matanlurey commented on #28525
I'm guessing this is ~mostly covered by the new nSM semantics.

[2018-06-05 17:58] #28525 closed

[2018-06-05 17:59] matanlurey commented on #30761
I haven't run into any problems here for a while. Thanks!

[2018-06-05 17:59] #30761 closed

[2018-06-05 18:01] vsmenon commented on #33198
@leafpetersen Do we need this for Dart2Stable?  If so, do we just need the json changes in Siggi's CL?  If not, can this wait till Siggi is back?

[2018-06-05 18:02] rakudrama commented on #32993
@floitschG, can sync-async be implemented with fewer allocations?

[2018-06-05 18:06] aam opened #33344 "standalone_2/map_insert_remove_oom_test.dart crashes"
[code]

[2018-06-05 18:07] efortuna commented on #33332
dart2js now runs on dart2 vm by default. as of b667be48 this should be fixed (with the CL mentioned above).

@jakemac53 what command are you running (with --no-source-maps) where you see this error? (I just want to make sure that I've fixed the issue in all cases)

[2018-06-05 18:07] #33332 closed

[2018-06-05 18:20] jakemac53 commented on #33332
thanks! It looks like you resolved the issue but it could be reproduced with a normal dart2js invocation that included `--no-source-maps`.

[2018-06-05 18:20] efortuna commented on #31762
Fixing with https://github.com/dart-lang/sdk/issues/33286

[2018-06-05 18:20] #31762 closed

[2018-06-05 18:21] bkonyi commented on #33041
Any update on this @stefantsov ?

[2018-06-05 18:22] leafpetersen commented on #31949
I don't know - is this used anywhere outside of our control?

[2018-06-05 18:22] natebosch commented on #33198
This is a blocker for config specific import support in build systems. I don't think we're necessarily considering Dart 2 stable blocked on support in the build systems.

[2018-06-05 18:24] matanlurey commented on #31949
Not that I am aware of. I did some searches

On Tue, Jun 5, 2018, 11:24 AM Leaf Petersen <notifications@github.com>
wrote:

[2018-06-05 18:26] rmacnak-google opened #33345 "Kernel reader doesn't correctly mangle qualified symbol literals"
Which causes at least mirrors/constructor_private_name_test to fail.

[2018-06-05 18:27] rmacnak-google commented on #33345
And even ignoring mirrors, causes incorrect equality results for symbols like #_private.public.

[2018-06-05 18:27] zoechi commented on #32435
@leafpetersen does this mean this is not planned for the future as well?

[2018-06-05 18:28] leafpetersen opened #33346 "Analyzer: support platform specific analysis"
See https://github.com/dart-lang/sdk/issues/32960 for context.

Dart will support limited configuration specific imports, and provides different core libraries on different platforms (e.g. dart:io, dart:ui, etc).

The analyzer needs to have a story for what the UX for analyzing both inside and outside of the IDE is.

cc @devoncarew @vsmenon @bwilkerson

[2018-06-05 18:29] leafpetersen opened #33347 "Meta issue for platforms specific tooling"
This is the language meta issue tracking tooling support for platform specific compilation and analysis.

See https://github.com/dart-lang/sdk/issues/32960 for the background discussion.

Tracking issues:
  - [ ] DDK entry in libraries.json: https://github.com/dart-lang/sdk/issues/33198
  - [ ] Codegen support: https://github.com/dart-lang/build/issues/1436
  - [ ] Build support: https://github.co

[2018-06-05 18:30] leafpetersen commented on #32960
Tracking issue for tooling support is here:  https://github.com/dart-lang/sdk/issues/33347 .

I'm going to close this out in favor of that issue, feel free to re-open if there is further discussion necessary.

[2018-06-05 18:30] #32960 closed

[2018-06-05 19:05] leafpetersen commented on #32435
@zoechi  I'm not in principle opposed, but it's hard to see this being worth the cost of a future breaking change.  We allow `() {}` to be given the type `void Function()`, so it's just in the upwards inference case that there's a noticeable difference.

[2018-06-05 19:09] zoechi commented on #33326
Seems to be related to #31359 (#32782)

[2018-06-05 19:15] leafpetersen commented on #31949
Yeah, doesn't seem to have escaped much from what I can see.  If you still want to do this, I say go ahead.

[2018-06-05 19:17] matanlurey commented on #33331
Ping. Is this a bug? Intentional? Something else?

[2018-06-05 19:20] zoechi commented on #32435
@leafpetersen I was just wondering if you closed this issue by accident because the comment seemed to indicate this is just postponed.
I do not have a strong opinion about this feature.

[2018-06-05 19:20] vsmenon commented on #33331
@jmesserly

It's not exactly free.  Dart2JS is wrapping all throws in a JS Error object and unwrapping on a catch.  Chrome dev tools (but not node) formats the native `Error` in a specific way.

DDC could do similar, though it would increase code size on throw / catch.

[2018-06-05 19:32] leafpetersen commented on #32435
Got it, yes.  I'm trying to cut down on the number of lingering "maybe, possibly, someday" issues we have sitting around for years.

[2018-06-05 19:32] rakudrama commented on #33145
https://dart-review.googlesource.com/c/sdk/+/58542 fixes this instance.

[2018-06-05 19:32] #33145 closed

[2018-06-05 19:49] aam commented on #33338
Fixed via f2883d1b4f8efd152614c1802442e71fc4dec695

[2018-06-05 19:49] #33338 closed

[2018-06-05 20:22] matanlurey commented on #33331
Do we know what the cost is?

Seems a bit suspect that it is OK for production but not the dev compiler.

[2018-06-05 20:43] aam commented on #33344
Fixed via 4e0e72a

[2018-06-05 20:43] #33344 closed

[2018-06-05 21:14] rakudrama commented on #32691
#3, Default bounds for Function.apply can be implemented by having the `"call*"` property direct to the stub that defaults the type parameters, and ensuring that stub is generated. Then defaulting to bounds will work via https://github.com/dart-lang/sdk/issues/32741 being fixed.

[2018-06-05 21:15] kwalrath commented on #33334
This seems very detailed compared to what's currently in the [migration guide](https://www.dartlang.org/dart-2#migrating-yo), but (on the other hand) does it have a predictable error message like most of what's in the [Fixing Common Type Problems](https://www.dartlang.org/guides/language/sound-problems) page?

How are most people going to encounter this?

[2018-06-05 21:31] matanlurey opened #33348 "enum E {length} -> ddc runtime error"
_From @nilsdoehring on June 5, 2018 21:25_

Area: webdev, dartdevc

Defining an `enum` with a property named `length` results in a ddc runtime error.

Dart code:
[code]

Chrome console output:
[code]

IDEA EAP 2018.2
SDK 2.0.0-dev.60.0
  build_runner: ^0.8.9
  build_test: ^0.10.2
  build_web_compilers: ^0.4.0+3
OSX, Chrome

_Copied from original issue: dart-lang/build#1521_

[2018-06-05 21:31] matanlurey commented on #33348
Ooh, I also wonder about `prototype`, `__proto__` or any of the other "reserved" JS names.

[2018-06-05 21:32] matanlurey opened #33349 "enum E {length} -> ddc runtime error"
_From @nilsdoehring on June 5, 2018 21:25_

Area: webdev, dartdevc

Defining an `enum` with a property named `length` results in a ddc runtime error.

Dart code:
[code]

Chrome console output:
[code]

IDEA EAP 2018.2
SDK 2.0.0-dev.60.0
  build_runner: ^0.8.9
  build_test: ^0.10.2
  build_web_compilers: ^0.4.0+3
OSX, Chrome

_Copied from original issue: dart-lang/build#1521_

[2018-06-05 21:32] matanlurey commented on #33349
Ooh, I also wonder about `prototype`, `__proto__` or any of the other "reserved" JS names.

[2018-06-05 21:32] matanlurey commented on #33349
This issue was moved to dart-lang/sdk#33348

[2018-06-05 21:32] #33349 closed

[2018-06-05 21:33] vsmenon opened #33350 "Deprecate dart:js"
`package:js` is preferable to `dart:js`.  We should discourage folks from using `dart:js`, and aim for removal down the line.

@matanlurey @alorenzen @jmesserly @terrylucas @jacob314

[2018-06-05 21:45] zanderso commented on #31366
`dart:io` constants outside of `dart:_http` are updated. Updating `dart:_http` constants is in-progress here: https://dart-review.googlesource.com/c/sdk/+/58620.

[2018-06-05 22:00] efortuna opened #33351 "Don't Constant-fold the negative sign in -2^63 in Kernel"
Work items

- [x] Revert fix for #31770, i.e. always create a `unary-` node
- [x] Fix for DDK to interpret value as uint64
- [x] Add configuration to CFE for web ints
- [x] Add parse error for web int literals that cannot be represented exactly
- [x] Use this configuration from dart2js
- [x] Use this configuration from DDK
- [ ] Ensure analyser devc also generates an error for int literals that ca

[2018-06-05 22:12] matanlurey opened #33352 "Would like to be able to lint perf-patterns in dart:html"
_Would close https://github.com/dart-lang/angular/issues/1380._

Here is a quick summary to avoid having to click on the link:

* Some DOM APIs [aren't safe to use synchronously][1].
* We'd like more _tools_, not _rules_. This one _should_ be easily lint-able.
* Here is some sample code we'd like to lint:

[1]: https://developers.google.com/web/fundamentals/performance/rendering/avoid-large-comple

[2018-06-05 22:12] matanlurey opened #57716 "Would like to be able to lint perf-patterns in dart:html"
_Would close https://github.com/dart-lang/angular/issues/1380._

Here is a quick summary to avoid having to click on the link:

* Some DOM APIs [aren't safe to use synchronously][1].
* We'd like more _tools_, not _rules_. This one _should_ be easily lint-able.
* Here is some sample code we'd like to lint:

[1]: https://developers.google.com/web/fundamentals/performance/rendering/avoid-large-comple

[2018-06-05 22:25] matanlurey opened #33353 "Would like to be able to lint usages of "private-ish" APIs"
_This issue supersedes https://github.com/dart-lang/sdk/issues/29643 and would close https://github.com/dart-lang/angular/issues/930._

AngularDart requires _all_ methods and fields in a `class` annotated with `@Component()` are `public`, so that the corresponding (generated) `<file>.template.dart` can access those methods and fields.

For example:

[code]

... generates, approximately the followi

[2018-06-05 22:26] Chibueze-20 opened #33354 "Pub get socket err"
Thank you for taking the time to file an issue!

In order to route, prioritize, and act on this, please include:

* Dart SDK Version (`dart --version`)
* Whether you are using Windows, MacOSX, or Linux (if applicable)
* Whether you are using Chrome, Safari, Firefox, Edge (if applicable)

Missing some or all of the above might make the issue take longer or be
impossible to act on.

----

Is it real

[2018-06-05 22:28] matanlurey opened #33355 "Would like to be able to lint any usage of "dart:js""
_Blocking https://github.com/dart-lang/sdk/issues/33350._

@srawlins would like to be able to add internal users to a whitelist, and avoid _new_ usage of the `dart:js` API (instead pushing users to `package:js`). However, there is no mechanism to do this today.  We would prefer a custom lint, i.e. `prefer_package_js`.

[2018-06-05 22:29] matanlurey commented on #33354
Hi @Chibueze-20

Please consider re-filing the issue, with the description you skipped filled out. Otherwise this is not actionable.

[2018-06-05 22:29] #33354 closed

[2018-06-05 22:34] matanlurey commented on #33355
@srawlins mentions we could deprecate `dart:js`, and he could lint based on that:

[code]

/cc @vsmenon @terrylucas  for thoughts.

[2018-06-05 22:36] Chibueze-20 opened #33356 "Pub get socket error trying to find package angular at https://pub.dartlang.org"
I'm using dart 1.24.3 and I'm trying to resolve dependencies for the first time (angular package) I was trying out the example code (tour of hero) but I can't seem to get past this error message "got socket error trying to find package angular at https://pub.dartlang.org" I'm new to dart so I don't know what really is the problem... my internet connection does not have proxy settings
Operating sys

[2018-06-05 23:00] munificent commented on #32482
All of the "dart-lang-" ones seem mostly redundant. If "core" without a prefix isn't on the table, then either "language" or "evolution" sounds good to me.

[2018-06-05 23:09] marcguilera commented on #32280
It might "just" be sugar but it would be awesome. I find myself extending some classes like Observable just to add some functionality when I would like to declare the extension and be able to use it with the original instance elsewhere in the codebase. Is this on the radar at all?

[2018-06-06 00:33] matanlurey commented on #31428
Any thoughts here in the last few months?

We're already using this pattern, ourselves:
https://github.com/dart-lang/angular/search?utf8=%E2%9C%93&q=unsafeCast&type=

In conjunction with the various `--strict-x` lints discussed (which would enforce implicit casts), we'd like to stop relying on `--omit-implicit-casts` in the future and instead require the use of this method (or a better named one)

[2018-06-06 00:36] jmesserly commented on #30496
yeah we can merge this into https://github.com/dart-lang/sdk/issues/31003 which will also fix this issue

[2018-06-06 00:36] #30496 closed

[2018-06-06 01:10] jmesserly commented on #33331
It's a question of JS interop spec: when a Dart object is thrown, what should JS see (and vice versa)? Do we wrap all thrown Dart objects in a JS Error, or only some of them (e.g. only things that extend or implement dart:core Error/Exception)?

The DDC/Dart 2 approach is to use wrapperless interop when possible. There are many benefits to that in general.

I think we hit a problem here because mo

[2018-06-06 01:20] matanlurey commented on #33331
Thanks @jmesserly!

Which I'd also love ;)

Hard to answer that question definitively. Here are some questions:

* How useful is it to throw something that _doesn't_ implement `Error` or `Exception`
* If we support other arbitrary objects, do users expect those to be valid JS errors

My guess is making all Dart errors JS errors feels "right", and where/when it isn't possible, we can just not do it

[2018-06-06 02:15] leonsenft opened #33357 "Analyzer crash: The getter 'isBottom' was called on null"
Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

I was writing a new regression test and was just typing out the line to instantiate `testBed` (note the line was incomplete when the analyzer crashed - while `TestComponent` is also a type, I was actually in the process of writing `TestComponentNgFactory`):

[code]

### Versions

- Dart SDK 2.0.0-dev.59.0
- Vis

[2018-06-06 02:28] rakudrama commented on #33351
I think it would be adequate to leave the `unary-` node in place, since for the VM

    -(-9223372036854775808) = -9223372036854775808

[2018-06-06 03:40] kevmoo commented on #32482
Let me know whichever – I have the keys.

[2018-06-06 04:10] bwilkerson commented on #33357
@stereotype441 Is this something that you could look at?

[2018-06-06 04:56] Crazywater commented on #28305
Note that `await voidExpression` can actually wait for something, which was very surprising to me:

[code]

[2018-06-06 05:05] jmesserly commented on #33331
Generally: wrapperless interop performs better, allows passing complex structures (e.g. objects of user-defined classes), provides identity semantics, allows incremental porting and/or hybrid apps (because each language can express all of the necessary operations on the same shared data structures). It also makes writing the interop API signatures easier.

Yes.

[2018-06-06 07:00] moznion opened #33358 "Support auto fix function on dartanalyzer command"
- Dart SDK Version: `Dart VM version: 2.0.0-dev.59.0 (Tue May 29 22:11:36 2018 +0200) on "macos_x64"`
- dartanalyzer Version: `dartanalyzer version 2.0.0-dev.59.0`

ESLint (and other linters) has a function to fix problems automatically.
https://eslint.org/docs/user-guide/command-line-interface#--fix

Could you support such option by `dartanalyzer` command?

[2018-06-06 07:13] a14n commented on #24779
This is a request to improve JS-interop. As Dartium is now dead I think this can be implemented directly in JS backends. So I don't think extension methods are still needed.

Someone let me know that some JS-interop improvements were on the road. Any news about that and what to expect?

[2018-06-06 07:41] DanTup opened #33359 "Problems mapping coverage tokens back to code ranges"
@a-siva @devoncarew

I'm trying to map coverage tokens back to code ranges using the "next token" position as discussed yesterday. I tried this, but it seems like there are "holes" in the coverage data interpreting it this way.

Consider this file (this is from the Stocks example in the Flutter repo, reformatted with dartfmt before I started testing):

[code]

Here's how it looks in my IDE with li

[2018-06-06 07:42] DanTup commented on #33359
Thinking about this more, I think this makes sense if only a subset of the tokens are "executable". I should be running up to the next "executable" token. I'll give it a shot and update back here with more testing...

[2018-06-06 07:43] kmillikin commented on #33335
I will take a look.

[2018-06-06 07:49] zoechi commented on #33295
@lrhn perhaps #10551, #10374

[2018-06-06 07:53] kmillikin commented on #33324
This issue breaks dart2js on Google's tests.  A workaround has been committed but it will affect other users so I'm giving it a high priority to figure out what's going on, how easy it is to change, and what other effects that will have.

[2018-06-06 07:55] DanTup commented on #33359
Seems to work great; unexecuted lines now seem to match what I'd expect (whitespace/comment lines are already excluded by me).

![screen shot 2018-06-06 at 8 54 29 am](https://user-images.githubusercontent.com/1078012/41024478-460fed52-6967-11e8-8d47-08daa9550742.png)

So closing this - I think I may have another issue, but I'll dig further and open a more case with specifics if I think I need hel

[2018-06-06 07:55] #33359 closed

[2018-06-06 08:14] hefuduo opened #33360 "Dart Analyzer Error :Encountered a Dart Analysis Server error."
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.4892.42`
- `2.0.0-edge.0d5cf900b021bf5c9fa593ffa12b15bcd1cc5fe0`
- `IU-181.4892.42, JRE 1.8.0_152-release-1136-b38x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.4 unknown, screens 1440x900, 1920x1080  Retina`

# Exception

Please append the contents of:
file:///private/var/folders/xl/vnyk4vt12dv0d5hs4pkpln300000gn/T/report2.tx

[2018-06-06 11:47] chalin commented on #33334
Agreed.

Not that I can think of.

Actually, giving this more thought, this probably isn't a change that most devs will notice. I just thought that it should be listed _somewhere_.

WAI, so closing this issue.

[2018-06-06 11:47] #33334 closed

[2018-06-06 11:49] johnniwinther commented on #33093
The problem is that we don't register need for rti through instantiations.

I'm working on a fix.

[2018-06-06 12:06] kmillikin commented on #33335
For the VM we eliminate mixin applications by replacing them with normal classes, creating a forwarding constructor that calls the superclass constructor, and copying in all the method implementations from the mixed-in class.

This transformation is being applied, because the `Object with ListMixin` superclass of `QueueList` is transformed.  However, it does not have implementations of the method

[2018-06-06 12:48] #33324 closed

[2018-06-06 12:51] nailgilaziev opened #33362 "dart:io websocket readyState and closeCode doesn't changed after TCP failed by ping/pong messages"
Dart VM version: 1.24.3 (Wed Dec 13 23:26:59 2017) on "macos_x64"
dart:io used for Flutter, but I think is a general problem.

Background info:
App sends string messages to echo server and displays returned response.
WebSocket configured to send Ping Pong Messages.
All works fine - messages sended and received.
To emulate bad network conditions I use Apple Network Link Conditioner with 100% packet

[2018-06-06 12:59] stereotype441 commented on #33301
Similar behaviors apply to the parameter types, e.g. if we have:

[code]

and we use `FunctionType.substitute2` to substitute `Object` for `T`, the parameter types `S` and `V` point to the versions of `S` and `V` in the original type.

[2018-06-06 13:03] vsmenon commented on #33352
We could add annotations to `dart:html`.  Not sure that's the right solution though.  @terrylucas

[2018-06-06 13:04] stefantsov commented on #33324
A bit of context for the fix.  Absence of handling of `defaultType` in some Kernel visitors resulted in some mistakes in distinguishing between omitted bounds and `Object` provided explicitly for the bounds.  In its turn, it resulted in more type variables being marked as having explicit `Object` as their bound.  It was exactly the case for the examples above: `Object` was provided because it was

[2018-06-06 14:04] jakemac53 commented on #33335
Ah! So yes when creating the full kernel files I was using the outline kernel files of dependencies, because that will have better behavior in terms of build invalidation. I will try using the _full_ kernel files for dependencies instead and see if that works.

[2018-06-06 14:35] leafpetersen commented on #32114
Any updates on this?

[2018-06-06 14:54] matanlurey commented on #33331
Thanks!

[2018-06-06 15:11] stefantsov commented on #33041
Unfortunately, I don't have an answer right now.  I'm currently working on adding support for more compile-time errors related to type arguments. I plan to work on this issue in the next week.

[2018-06-06 15:11] matanlurey commented on #31328
Lets re-open this when I have more actionable items.

[2018-06-06 15:11] #31328 closed

[2018-06-06 15:19] matanlurey commented on #28709
@grouma is now working on methods using the built-in Chrome coverage tool.

I think we can close this.

[2018-06-06 15:19] #28709 closed

[2018-06-06 15:19] bwilkerson commented on #33358
Whether we would include the functionality in `dartanalyze` or in another command-line tool, yes, we've talked about this for a long time and would love to do so. Unfortunately, this hasn't yet reached a priority where we can allocate resources to working on it.

That said, we do have fix support in the analysis server, the tool behind our IDE integrations. I know that fixes are supported in both

[2018-06-06 15:19] matanlurey commented on #27819
I think this has been resolved.

[2018-06-06 15:19] #27819 closed

[2018-06-06 15:20] matanlurey commented on #28631
So, FWIW, we got pretty far here without needing additional support.

No promises everything will "just work" when we move to the CFE, but we have test cases.

[2018-06-06 15:20] #28631 closed

[2018-06-06 15:32] kmillikin commented on #33351
This was intentional (#31770).

What I think we should do is represent integer literals as platform integers in Kernel, but that requires us to be provided a target-specific implementation of `int.tryParse`.

[2018-06-06 15:49] floitschG opened #33363 "Crash with sync-async as default"
The following tests fail under hot-reload now that `--sync-async` is the default for the VM:

[code]

Here is the error message:
[code]

[2018-06-06 16:08] vsmenon commented on #33330
@lrhn Can you please confirm desired behavior?

@jmesserly - fyi

[2018-06-06 16:20] brianegan commented on #33076
This would be amazing! I've had a lot of issues filed on my projects related to this very problem. A few examples:

flutter_redux:
https://github.com/brianegan/flutter_redux/issues/35
https://github.com/brianegan/flutter_redux/issues/36

scoped_model:
https://github.com/brianegan/scoped_model/issues/15

This is just the tip of the iceberg :)

[2018-06-06 16:50] stereotype441 commented on #33357
@bwilkerson Judging by the stacktrace, it looks like the analzer was trying to perform type inference on `NgTestBed.forComponent(ng.TestComponent)`, in order to infer the proper generic parameter for the call to the static method `NgTestBed.forComponent`, and for some reason the `.staticType` getter of `ng.TestComponent` returned `null`.

note: `NgTestBed.forComponent` is a static generic method d

[2018-06-06 16:55] alexmarkov opened #33364 "VM/AOT: Implement non-speculative shift operations"
After old _Bigint was removed in c3b59399659804ee27629c285b1b630283cef221, integer shift operations are devirtualized in more cases and converted to StaticCalls.

Previously, InstanceCalls for shift operations were converted to CheckedSmiOp instructions which are more efficient than calls. Unfortunately, CheckedSmiOp wraps InstanceCall (it uses it on slow path) and cannot be easily used to replace

[2018-06-06 16:56] jakemac53 commented on #33335
Fyi with the latest sdk I started getting this - reverting back my merge of the latest sdk for now:

[code]

[2018-06-06 17:05] floitschG opened #33365 "pause_on_unhandled_async_exceptions_test is failing on bot but not locally"
After the sync-async became the default the `pause_on_unhandled_async_exceptions_test` is failing on the bot but not locally.
Seems to need the optcounter flag.

For example see
https://logs.chromium.org/v/?s=chromium%2Fbb%2Fclient.dart%2Fvm-linux-release-x64-reload-rollback-be%2F11004%2F%2B%2Frecipes%2Fsteps%2Fvm_tests%2F0%2Fstdout
or
https://logs.chromium.org/v/?s=chromium%2Fbb%2Fclient.dart%2Fv

[2018-06-06 17:09] DanTup commented on #33336
Confirmed this fix looks good in master btw 👍

[2018-06-06 17:29] jakemac53 commented on #33335
@kmillikin confirmed this works as long as I provide full outlines! Thanks :).

[2018-06-06 17:29] #33335 closed

[2018-06-06 17:34] matanlurey opened #33366 "DDC should warn in the console if running in an unsupported envrionment"
A lot of (primarily newer) clients try DDC for the first time, and hit obscure errors when running in non-Chrome, specifically I've seen crashes for both IE 11 and Edge (I heard that Firefox and Safari ~mostly work?).

I realize this is WAI for now, so I hope we can clarify, with something like:

[code]

[2018-06-06 17:39] MichaelRFairhurst commented on #33221
the second analyzer issue I found was fixed: https://dart-review.googlesource.com/c/sdk/+/58800

the DDC issue is still outstanding

[2018-06-06 17:40] rakudrama commented on #33351
I think the fix for #31770 was, in hindsight, the wrong fix - we have since nailed down the spec that 0x8000000000000000 is positive when compiled to JavaScript.

If we represent integer literals as platform integers, they need a compile-time type other than `int`.
`IntLiteral.value` would probably be `BigInt`, or typed to allow BigInt for out-of-int values, (e.g. dynamic).

If the purpose of IntL

[2018-06-06 17:53] alanrussian commented on #30741
+1 I ran into a case where I needed to do this.

[2018-06-06 18:09] jmesserly commented on #33330
Could this be related to sync async flag? @matanlurey do you know if it was enabled or disabled in your examples?

I see this code in DDC:
[code]

I didn't work on the "sync async" feature so I'm not sure what its status is.

[2018-06-06 18:13] matanlurey commented on #33330
I thought that only effects whether the `body` is entered asynchronously, not if there is eventually an inner-body micro-task. For example, without sync-async, I'd expect to see:

I never configured anything, so I'm running on the default (in google3 and externally).

[2018-06-06 18:27] tvolkert opened #33367 "CFE not properly reporting compile time error?"
@awdavies reports having seen the following error while compiling a Fuchsia module:

[code]

Resolution was:

/cc @mraleph

[2018-06-06 18:29] Hixie opened #33368 "Cannot walk a list of files and pass them to a subprocess (if any are non-UTF8)"
It is currently not possible to walk a list of files and, for each one, invoke a subprocess, passing it the file name. Specifically, it's not possible to do this for non-UTF-8 file names. Such file names are common on non-English systems and are easily created by malicious actors.

Similarly, it's not possible to write Dart-based shell scripts for manipulating symlinks, etc, in environments that a

[2018-06-06 18:31] maryx opened #33369 "Dart Analyzer can't seem to figure out whether a List child is const or new"
* Dart SDK Version: `dart --version` didn't work but `flutter --version` gives `Tools • Dart 2.0.0-dev.48.0.flutter-fe606f890b`
* Linux
----
It seems like the Dart Analyzer can't determine whether the child of a `<Widget>[]` is `new` or `const`, so we have to manually specify `new`. E.g. for this code:
[code]
If I omit the `new` for the third child, I get `error • Prefer const literals as paramete

[2018-06-06 18:36] matanlurey commented on #33369
This feature was reverted. There is no such thing as "automatic const" anymore, only "optional new". Once you specify the context as `const` once, then the remaining constructor calls are implicitly const. Consider:

[code]

In your case `children: ` is not a _const_ context.

-----

re: `prefer_const_literals_to_create_immutables`

You might want to also file this as `dart-lang/linter`, as it isn

[2018-06-06 18:42] maryx commented on #33369
Ah thanks, I hadn't been sure where to file this - redirecting and closing this.

[2018-06-06 18:42] #33369 closed

[2018-06-06 18:43] maryx opened #57717 "Dart Analyzer can't determine whether a List child is const or new"
* Dart SDK Version: `dart --version` didn't work but `flutter --version` gives `Tools • Dart 2.0.0-dev.48.0.flutter-fe606f890b`
* Linux
----
It seems like the Dart Analyzer can't determine whether the child of a `<Widget>[]` is `new` or `const`, so we have to manually specify `new`. E.g. for this code:
[code]
If I omit the `new` for the third child, I get `error • Prefer const literals as paramete

[2018-06-06 18:51] jmesserly commented on #33330
It looks like the VM is executing `doEvent()` synchronously but scheduling completion of the future asynchronously. I don't know what the intended behavior is. I'm not sure who implemented the DDC impl, perhaps @vsmenon remembers? It looks pretty straightforward to switch DDC to match VM's behavior.

It's interesting that all (external/internal) tests are passing with DDC's current implementation,

[2018-06-06 19:00] scheglov opened #33370 "NPE in StaticTypeAnalyze when for-in is unresolved"
I was typing something like, an maybe `_addedRoots` was incomplete and unresolved.

[code]

Analyzer Feedback from IntelliJ

# Version information

- `IDEA 182.SNAPSHOT`
- `2.0.0-edge.9672d69a0691ef66a4b554537e26c8c0f95fcbe6`
- `IC-182.SNAPSHOT, JRE 1.8.0_112-b16x64 Oracle Corporation, OS Mac OS X(x86_64) v10.13.4 unknown, screens 1680x1050  Retina`

# Exception

Please append the contents of:
fil

[2018-06-06 19:11] alexmarkov commented on #33367
We're going to fix error reporting in dart_runner's compiler.dart.
/cc @rmacnak-google

[2018-06-06 19:12] mraleph commented on #33367
We have tracked it down to how Fuschia's Kernel compiler wrapper is using Compiler APIs.

It made a reasonable expectation that `CompilerOptions.setExitCodeOnProblem = true` would make CFE set non-zero exit code if there were any compilation errors, however that option does not actually have any effect if `onProblem` handler is installed and `compileToKernel` actually installs `onProblem` handler.

[2018-06-06 19:15] matanlurey commented on #33330
@jmesserly:

I think its a pretty minor spec difference that isn't common:
* An `async` function with effectively no asynchronous body (no `await`)
* Running in a zone that has side-effects on asynchronous code (`scheduleMicrotask`)

We probably don't have that covered anywhere.

[2018-06-06 19:29] leafpetersen commented on #33368
@Hixie Can you clarify what you mean?  What is a non-UTF-8 file name?  Presumably all file names can be encoded in UTF-8.

[2018-06-06 19:37] chalin opened #33371 "Uri.queryParametersAll: JSArray is not a subtype of type 'List<String>'"
_From @jtmcdole on June 6, 2018 19:25_

I expect this to run:

[code]

Instead I get:
[code]

_Copied from original issue: dart-lang/site-www#909_

---

You can try it here: https://dartpad.dartlang.org/e0fe1365f6094701c7632562a17e13b7

[2018-06-06 19:40] rmacnak-google commented on #33367
https://fuchsia-review.googlesource.com/c/topaz/+/160870

[2018-06-06 19:40] #33367 closed

[2018-06-06 19:40] matanlurey opened #33372 "Dart should warn on guaranteed cast errors"
(I think this would _significantly_ help Flutter, Angular, and all Dart2 users)

Best explained through an example:

[code]

This line:

[code]

... will _never_ succeed, statically. It is a runtime error in Dart2, however, because of [implicit downcasts][1]. That's a much harder problem, and might require additional flags and such. I think we could catch a good number of "local" downcast errors i

[2018-06-06 19:42] chalin commented on #33371
Thanks for reporting this issue @jtmcdole.

The error is only reported when `uri.queryParametersAll` is printed. It seems that there might be a Dart 2 type error in this code:
https://github.com/dart-lang/sdk/blob/8c20f26234f6a40066f7e2e802de913bc45ee7a3/sdk/lib/core/uri.dart#L1918-L1929

The call to `_splitQueryStringAll(query)` returns a `Map<dynamic, dynamic>` rather than the expected `Map<Stri

[2018-06-06 19:51] jmesserly commented on #33330
Good point. I guess most `async` functions would not complete immediately because they're usually doing something :). Also DDC does call `then` asynchronously, so you can't really observe this without zones.

Will send out fix shortly

[2018-06-06 19:54] matanlurey commented on #33330
Thanks. If you can do a google3 CL for me, I'd be happy to run global test reporting for you!

[2018-06-06 19:58] jmesserly commented on #33330
Is this something that needs to be cherry picked? Otherwise I'd usually just wait for the next test run once it lands in the SDK repo. I don't think this one is especially risky. (famous last words)

[2018-06-06 19:58] matanlurey commented on #33330
I don't think it needs to be cherrypicked. I'd like to help make sure it is not risky though :)

[2018-06-06 20:05] jmesserly commented on #33330
Hmm apparently async_await_test is failing for DDC if I fix this. However, dart2 VM and dart2js also mark it failing. I'll see if I can fix that test, and send the CL to lrn@ to make sure the new behavior is intended.

[2018-06-06 20:10] matanlurey commented on #33330
No worries. FWIW, I think the DDC behavior is actually more "correct", in that, there is nothing to do asynchronously, and there is nothing returned, therefore there is no need to do extra work. But I realize async/await has a lot of Dart1 baggage still.

[2018-06-06 20:14] leafpetersen commented on #33218
This LGTM, except that we need to say:

- `return;` is an error unless `T` _contains_ `void` or `T` is `dynamic`.

and similarly for the `async` case.

[2018-06-06 20:27] vsmenon commented on #33360
@bwilkerson - perhaps related to sync-async being enabled in the vm?

[2018-06-06 20:27] chalin commented on #33371
Btw, DartPad is currently using Dart SDK 2.0.0-dev.59.0.

[2018-06-06 20:30] chalin commented on #33371
You can try it here: https://dartpad.dartlang.org/e0fe1365f6094701c7632562a17e13b7

[2018-06-06 20:57] bwilkerson commented on #33360
Possibly. I haven't looked at this issue yet, so I don't know whether any of the methods in the loop are `async`.

[2018-06-06 21:18] kevmoo opened #33373 "pkg:analyzer: hitting an assert when annotating Enum values"
When running my build script with `--enable-asserts`, I hit this assertion. When not running in debug mode, all is fine.

https://github.com/dart-lang/sdk/blob/b74d27d1b2ede186a3c795d7947b5a6123fe3ec0/pkg/analyzer/lib/src/generated/resolver.dart#L5433

[2018-06-06 21:27] alexmarkov opened #33374 "Run all tests on vm-kernel-* bots"
For some reason, certain vm-kernel-* bots (e.g. vm-kernel-linux-release-x64-be, vm-kernel-precomp-linux-debug-x64-1-8-be etc.) run only a subset of tests (language_2 corelib_2 lib_2 standalone_2):

[code]

Other bots, such as vm-kernel-linux-release-simarm run all tests.
Due to this discrepancy in configuration of build bots, some tests are only run in simarm/simarm64 modes but not on x64.

Status

[2018-06-06 21:37] Hixie commented on #33368
File names are byte sequences. They are not strings. There is no guarantee that they will be UTF-8.

For example, this command creates an empty file with a non-UTF-8 file name:

[code]

[2018-06-06 21:42] athomas commented on #33374
Already tracked in #32499.

This is because they haven't been ported to Luci, yet. Note that the vm-kernel-linux-release-x64-try builder runs on the new infrastructure and doesn't have any test selectors.

[2018-06-06 21:42] #33374 closed

[2018-06-06 22:27] leafpetersen commented on #33368
Got it thanks.  That's quite unpleasant.  It would be nice to have the string abstraction represent, well, strings.

My next question would be, is this functionality that we need to support with the same API?  Do we really want to/need to be able to use all of these standard APIs to manipulate non-string files?   Is this something that ordinary users need to be able to do?  Are we not potentially

[2018-06-06 22:31] Hixie commented on #33368
Ideally we'd have some sort of type that was as convenient as strings (had a literal format, e.g. `b'foo.txt'`, had a `toString()` that defaulted to a fault-tolerant conversion to UTF-8, etc) but was just a `Uint8List` or `ByteData` or some such. Then that would be the type that we would want to use for all APIs that dealt with filesystem paths.

[2018-06-06 22:32] nex3 commented on #33368
I have no strong opinion on this beyond a general desire to keep the filesystem APIs as usable as they are today.

[2018-06-06 22:42] zanderso commented on #33368
Listing a directory returns a stream or list of `FileSystemEntitie`s, which internally store the path as a `Uint8List`. When you say e.g. `File.path`, we convert that to a String using `utf8.decode(..., allowMalformed: true)`. There's currently no way to extract the `Uint8List` raw path as adding a new getter to `FileSystemEntity` would break implementers in e.g. `package:file`.

We could add a ne

[2018-06-06 22:58] Hixie commented on #33368
Hence my suggestion of a new string-like literal for `Uint8List`. :-)

[2018-06-06 22:59] kevmoo opened #33375 "Annotation on enum values don't show up in the element model"
Hitting this on pkg:analyzer `0.32.1`

Given this input file:

[code]

Running this script:
[code]

Yields:

[code]

I'd expect to see the same metadata on the element items as the entity items

FYI: `analysis_utils.dart` is https://github.com/dart-lang/json_serializable/blob/master/json_serializable/test/analysis_utils.dart

[2018-06-06 23:05] a-siva commented on #33363
These tests are running in Dart 1 mode.
I don't think we want to turn on sync-async by default in Dart 1 mode. It is only turned on for Dart 2.

[2018-06-06 23:05] #33363 closed

[2018-06-07 00:39] jmesserly commented on #33330
https://dart-review.googlesource.com/c/sdk/+/58980

[2018-06-07 01:42] #33226 closed

[2018-06-07 01:52] kevmoo opened #33376 "Analysis server crash -dev.60 StackOverflow"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.5087.20`
- `2.0.0-dev.60.0`
- `IU-181.5087.20, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.4 unknown, screens 3840x2160`

# Exception

Please append the contents of:
file:///private/var/folders/53/wcg58s8n72b4thbmd7mhqjyc0071_k/T/report2.txt

[code]

[code]

[2018-06-07 08:12] DanTup commented on #30605
Just noticed this in my dev console today too while working on Dart Code. This is just it parsing the tiny sample projects inside Dart Code used for my integration tests.

 Here's an exception file from the server if it helps:

[exception_20180607_074533_361.zip](https://github.com/dart-lang/sdk/files/2079496/exception_20180607_074533_361.zip)

(it looks like the same error was reported for a lot

[2018-06-07 08:14] DanTup commented on #30605
Oh hangon, that might be useless; this workspace is using Dart v1 server from my PATH! ...

[2018-06-07 09:11] mraleph opened #33377 "int64 shifts should throw on out of range shifts"
@lrhn specified that for `int i` shifts `i << j` and `i >> j` should throw if `j` is outside of `[0, 63]` range.

This was not covered by the informal specification and VM does not implement this correctly.

We need to ensure that we have tests for this semantics and fix VM implementation.

/cc @leafpetersen

[2018-06-07 09:16] lrhn commented on #33377
And similarly for `>>>` when we add it to `int`.

As usual, JS compilation is not implementing `int` the same way, and they can only shift by at most 31.

[2018-06-07 09:40] DanTup opened #33378 "Add endLine/endColumn to analysis server structures (like Location/ElementDeclaration)"
Some of the APIs in VS Code request line/column for both start and end positions, for example the symbol providers. When we have access to an open document, we can translate the offset/length into a line/column, however when there's no open document (for example in the workspace symbol list) we cannot. For now we've just been returning the startLine/startColumn as both the start/end positions, but

[2018-06-07 09:50] mraleph commented on #31427
These tests are really flaky on linux x64 and ia32 release builds as well.

Examples of builds:

https://ci.chromium.org/buildbot/client.dart/vm-linux-release-x64-be/26111
https://ci.chromium.org/buildbot/client.dart/vm-linux-release-x64-be/26124
https://ci.chromium.org/buildbot/client.dart/vm-linux-release-ia32-be/26554

I am marking them `Pass, Fail` by default because this is too much flakiness

[2018-06-07 11:43] lrhn commented on #33371
The bug is in `ConstantMap.from` in the dart2js runtime system. It assumes that the input map has the correct key type, which isn't guaranteed by the uses.
We already have (untriaged) status-file entries marking dart2js as crashing on `uri_test` and `uri_parameters_all_test`.

[2018-06-07 12:00] nailgilaziev opened #33379 "ws.done called only if you at least once used ws.add() method"
WebSocket configured with pingInterval. Code like this:
[code]
PingInterval documentation says next:
[code]

If you establish connection to a ws server and sends some data to it via `ws.add()` method all works fine - server responses received.
After that If you now emulate 100% loss network condition (for example with *Apple Network Link Conditioner tool*) after some time  (around 2*pingTimeInterv

[2018-06-07 12:02] nailgilaziev commented on #33379
Full code snippet for copy paste and run on flutter available in https://github.com/dart-lang/sdk/issues/33362

[2018-06-07 12:29] lrhn commented on #33330
tl;dr: Don't depend on `scheduleMicrotask` being called. It's not part of the API of any class or method whether it *calls* `scheduleMicrotask`. The interceptors in `Zone` allows you to intercept the *argument* if the function gets called, but nobody promises when, where or whether it will get called. That's simply too much of a straight-jacked when it comes to platform development. The side effec

[2018-06-07 13:03] lrhn opened #33380 "Mixin derived from classes with synthetic noSuchMethod forwarders should not include those."
The mixin application derived from a class which introduces synthetic `noSuchMethod` forwarders should not include those forwarders.

(This is a reversion of a previous decision, but we decided that this is marginally better behavior for a very obscure corner case because anyone depending on the forwarding methods being there will not be able to move to the expected `mixin` declaration. So, it's f

[2018-06-07 13:05] vsmenon commented on #33330
At a minimum, I'd like to see DDC and Dart2JS consistent here to avoid forcing developers to debug timing issues on Dart2JS as much as possible.  Ideally, it'd be good if the VM was also consistent.

What's the best way to get there?

[2018-06-07 14:06] whesse opened #33381 "Analyzer crashes and cannot find files with .. in path"
* Dart SDK Version (`dart --version`): 2.0.0-dev.60.0 and earlier.  On Linux.

The dartanalyzer command fails when given a relative path that navigates above the working directory.
Example:
~/ssd/sdk/tools/gardening/bin$ dartanalyzer bot.dart
Analyzing bot.dart...
No issues found!
~/ssd/sdk/tools/gardening/bin$ dartanalyzer ../bin/bot.dart
Analyzing ../bin/bot.dart...
No dart files found at: ../bi

[2018-06-07 14:11] athomas opened #33382 "pkg/analysis_server/test/integration/analysis/package_root_test is flaky"
I'll mark it as Pass, RuntimeError.

Build: https://ci.chromium.org/p/dart/builders/luci.dart.try/pkg-linux-release-try/3427
Full log: https://logs.chromium.org/v/?s=dart%2Fbuildbucket%2Fcr-buildbucket.appspot.com%2F8944373507169891616%2F%2B%2Fsteps%2Fpackage_unit_tests%2F0%2Fstdout

[code]

[2018-06-07 15:18] bwilkerson commented on #33378
If it wouldn't take too long, could you put together a list of the structures that would need to be updated? It would be good to have a definitive list so that we don't miss any place and so that we know the scope of the work required.

[2018-06-07 15:33] dgrove commented on #33162
Should this be moved out of PreRelease1, @rakudrama and @vsmenon ?

[2018-06-07 15:33] dgrove commented on #33257
Any updates here?

[2018-06-07 15:34] dgrove commented on #33126
Any updates here? Are we unblocked enough for PreRelease1, @athomas ?

[2018-06-07 15:34] dgrove commented on #32633
@vsmenon @sigmundch this looks like it should move to Dart2Stable?

[2018-06-07 15:37] athomas commented on #33126
Everything I can do until #33291 is addressed has been done. Reload can't be tested on Mac until then but the linux builders are running.

[2018-06-07 15:57] dgrove commented on #33126
#33291 isn't targeted for PreRelease 1. Perhaps both should be targeted for
Dart2Stable ?

On Thu, Jun 7, 2018 at 8:37 AM Alexander Thomas <notifications@github.com>
wrote:

[2018-06-07 15:59] MichaelRFairhurst commented on #30384
Strawman CL, which seems to have no issues internally: https://dart-review.googlesource.com/#/c/sdk/+/59100

[2018-06-07 16:07] Ing-Brayan-Martinez commented on #33104
Good morning to all, I have been analyzing the answers and I will summarize it in a single proposal, which I consider a necessity and the most important one, as the translation is not exact I will explain it with a couple of examples:

[2018-06-07 16:08] scheglov commented on #33381
https://dart-review.googlesource.com/c/sdk/+/59101

[2018-06-07 16:12] pq opened #57718 "Update `unnecessary_statements` to report tear-offs but not getters"
In dart-lang/linter#1014, @bwilkerson offered:

and I agree.

[2018-06-07 16:17] Ing-Brayan-Martinez opened #33383 "Add public and private access modifiers to language"
Hello everyone, I've been analyzing the answers they gave me in issue #33104 33104, and I'll summarize them in a single proposal, which I consider a necessity and the most important, since the translation is not exact, I'll explain it with a couple of examples:

- The proposal is: Add the reserved word public and private only.

- An example with flutter.

[code]

- An example with dart

[code]
- I

[2018-06-07 16:20] athomas commented on #33126
Makes sense, I updated the milestones.

[2018-06-07 16:48] mraleph commented on #33257
No updates at the moment. Still working on this.

[2018-06-07 16:49] rakudrama commented on #33162
@johnniwinther I believe this is fixed

[2018-06-07 16:59] leafpetersen commented on #33368
@zanderso Just to be sure I understand the implications for dart:io, could you expand a little on what combination of language features + breaking changes would be required to make this work well?

[2018-06-07 17:06] devoncarew commented on #33310
@aam, thinking about this a bit more, it's difficult for clients to know if they're going to be forward compatible with a major rev of the service protocol.

Perhaps the resolution here could be that we don't plan to rev the major version now, and when we do rev., we'll coordinate with clients to:

- call out how v. n+1 is breaking from v. n
- say when the next version will be released
- clients c

[2018-06-07 17:07] leafpetersen commented on #33377
I think this actually contradicts the informal spec implicitly (see the section on shifts).  Do we really want this semantics?  It will make it non-constant width shifts quite a bit slower.

[2018-06-07 17:11] alexmarkov commented on #33377
Could you point to a particular place in the specification? Can't find this in the language spec or int.dart.

What is the reason behind this change? It looks like it limits what users could do - it might be convenient to be able to shift by 64 bits.

When would you like this change to happen? Dart2Stable, Dart2.1 or later?

This looks like a breaking change. Do we need to introduce an option to b

[2018-06-07 17:17] kevmoo commented on #33373
CC @bwilkerson @scheglov

[2018-06-07 17:18] leafpetersen commented on #33377
It's not really explicit but I don't know how to read this section in a way that doesn't imply that bits are just shifted out silently:

- The `<<` operator is specified to shift "out" bits that leave the 64-bit range. Shifting might change the sign of an integer value. All bits of the operand are used as input to shifting operations. Some CPU architectures, like ia32 and x64, only use the least-s

[2018-06-07 17:19] kevmoo commented on #33375
CC @bwilkerson @scheglov

[2018-06-07 17:21] leafpetersen commented on #33377
Thinking about this a bit more - none of the arithmetic operations throw on overflow.  It's quite odd then that the bitwise operations would throw.  Usually I think of bitwise operations as more low level and less checked.

[2018-06-07 17:37] vsmenon commented on #33383
Retitled to highlight the request.

[2018-06-07 17:48] bwilkerson commented on #33360
Can you provide us with an example of the syntax error that you found (no confidential code, of course)? It might help us track this down.

[2018-06-07 18:48] #33381 closed

[2018-06-07 19:06] jmesserly commented on #33330
if the DDC behavior seems better (don't schedule a microtask when it's not necessary), could we just change dart2js to match? IDK how difficult that would be.

[2018-06-07 19:10] jmesserly commented on #33330
Oh, fixing dart2js would be pretty easy, it uses the exact same code as the VM: https://github.com/dart-lang/sdk/blob/master/sdk/lib/_internal/js_runtime/lib/async_patch.dart#L195

@lrhn ... I guess, it looked to me like someone went out of their way to delay completion for VM/dart2js ... I figured there must've been a reason they implemented the timing like that?

[2018-06-07 19:41] mraleph commented on #33377
I am fine with shift not throwing as long as there is precise specification of how shifts behave: e.g. do we specify that `i << j` is just `(i << (j & 63))`? That probably would be the best from the performance point of view.

Moving this to `area-language`. Marking as needing resolution before Dart 2 stable.

[2018-06-07 19:56] rakudrama commented on #32954
Still need early detection (before SSA) of detect static methods that have no tear-offs.

We no longer generate tests for constructor bodies, generator bodies and factory constructors.

[2018-06-07 20:18] SoaresGabriel commented on #28950
+1

[2018-06-07 20:38] natebosch opened #33384 "The docs for either Object.HashCod or HashMap (or both?) should indicate that hashCode should not change while an object is used as a key"
Today the docs for HashMap only mention a requirement for consistency between `==` and `hashCode` and the docs for `hashCode` explicitly allow for it to change over the lifetime of an object if equality changes.

We had a user confused when `map.containsKey(map.keys.first)` could return false - we could call out the risks of mutable hashCode in the docs so we have something to point to when this c

[2018-06-07 20:49] alexmarkov opened #33385 "lib_2/isolate/spawn_uri_nested_vm_test sporadically hangs in app_jitk configuration"
[code]

Easily reproducible on Linux - hanged 4 out of 5 runs.
This test spawns a new isolate which spawns a yet another isolate.
It looks like a newly spawned isolate is waiting for kernel service isolate, but it has gone already (as main isolate is shutting down and waiting for other isolates to finish).

Maybe we should not kill kernel service isolate during shutdown until all application isola

[2018-06-07 21:18] terrylucas commented on #33147
CL to fix this is https://dart-review.googlesource.com/c/sdk/+/59240

[2018-06-07 21:19] zolotyh opened #33386 "Runtime error on casting types"
Here is my code:

[code]

**Dart version:**

Dart VM version: **2.0.0-dev.60.0** (Mon Jun 4 22:09:13 2018 +0200) on "macos_x64"

When I try to run this code using `pub run build_runner serve` then I get a runtime error.

`Type 'CastSet<dynamic, String>' is not a subtype of expected type 'LinkedHashMap<dynamic, dynamic>'.`

This is because the method is in Set class and return CastSet instance

[2018-06-07 21:30] rmacnak-google commented on #33385
Agree, the lifecycle of the kernel isolate should be really similar to the lifecycle of the service isolate. I'm surprised it isn't already because I'd figure that would have been the easier thing to do when it was first added.

[2018-06-07 21:42] zolotyh commented on #33386
Oh, it seems a little wrong. Here is the code.
[code]
We trying to migrate our development from Dartium to dartdevc. And in our product we have a lot of code like this:

[code]
What is the best way to migrate this code? (We can't use Set instead of  LinkedHashSet because we have a lot of client code which depends on this)

[2018-06-07 21:43] terrylucas commented on #33178
https://dart-review.googlesource.com/c/sdk/+/59240 to fix DDC.

[2018-06-07 21:48] zolotyh commented on #33386
And one more thing. Is it possible to configure the analyzer to show such errors?

[2018-06-07 21:49] forwinder15 opened #33387 "Auto complete not working and Cant import other .dart files"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA AI-173.4819257`
- `2.0.0-edge.c080951d45e79cd25df98036c4be835b284a269c`
- `AI-173.4819257, JRE 1.8.0_152-release-1024-b02x64 JetBrains s.r.o, OS Windows 8.1(amd64) v6.3 , screens 1366x768`

# Exception

Please append the contents of:
file://C:\Users\FIRSTB~1\AppData\Local\Temp\report1.txt

[code]

[2018-06-07 21:53] terrylucas commented on #32698
Fixed with support of Promises to Future code in all of the the Dart web libraries.

[2018-06-07 21:53] #32698 closed

[2018-06-07 22:09] kevmoo commented on #33386
So this?

[code]

Question: `$persistStore` has instances of `LinkedHashSet`? Why are they not typed?

[2018-06-07 22:12] a-siva opened #33388 "CFE does not support import from http URLs or invocation from a script URL that is a http URL"
[code]
executing this produces:
`http://127.0.0.1:8181/http_launch_main.dart: Error: File http://127.0.0.1:8181/http_launch_main.dart does not exist.`

Similarly using a http URL on the command line produces an error
out/ReleaseX64/dart --preview-dart-2 http://127.0.0.1:8181/http_launch_main.dart
http://127.0.0.1:8181/http_launch_main.dart: Error: File http://127.0.0.1:8181/http_launch_main.dart d

[2018-06-07 22:20] terrylucas commented on #31886
CL to fix this https://dart-review.googlesource.com/c/sdk/+/59240

[2018-06-07 22:23] a-siva opened #33389 "hitting assert runtime/vm/deferred_objects.cc: 112: error: expected: Thread::IsDeoptAfter(deopt_id_) || (code.GetPcForDeoptId(deopt_id_, RawPcDescriptors::kDeopt) != 0)"
Running the following test produces an assertion in debug mode and a crash in release mode
[code]
The test runs fine in Dart 1 mode.

[2018-06-07 22:27] #33264 closed

[2018-06-07 22:32] zolotyh commented on #33386
$persistStore is our cache. We store objects with the different types here, that's why we can't add types.

[2018-06-07 22:53] leafpetersen opened #33390 "Incremental SDK builds are broken for the analyzer."
I'm seeing the following broken incremental build behavior:

1) Delete the xcodebuild/ReleaseX64 directory
2) ./tools/build.py -m release create_sdk
3) Run my test (see no extra output as expected)
4) Add a print statement to pkg/analyzer/lib/src/generated/error_verifier.dart
5) ./tools/build.py -m release create_sdk
6) Run my test (see no extra output **not as expected**)
7) Delete the xcodebuild

[2018-06-07 23:07] kevmoo commented on #33386
When do you add the `LinkedHashSet<Task>` to `$persistStore`? Does it have a generic type then? Could it?

[2018-06-07 23:21] leafpetersen commented on #32881
@bwilkerson I'm going to take this unless you're actively working on it, since it relates to something else I'm fixing.

[2018-06-07 23:35] zolotyh commented on #33386
This is a full example:
[code]

[2018-06-07 23:37] zolotyh commented on #33386
We can not parameterize the method or class of the cache by its internal limitations related to the cache limitation

[2018-06-07 23:38] dgrove commented on #31366
https://dart-review.googlesource.com/c/sdk/+/58620 has landed. Can this be closed?

[2018-06-07 23:41] dgrove commented on #28513
Is this now a CFE, Analyzer, or both issue?

[2018-06-07 23:43] bwilkerson commented on #33387
@scheglov

[2018-06-07 23:50] alexmarkov opened #33391 "standalone_2/no_support_service_test fails in precompiler/debug mode"
The test starts failing after 23fff58503744ae06c73fde08f8e8293f6dbe1dd.

[code]

[code]

Error:
[code]

[2018-06-07 23:51] zolotyh commented on #33386
I see 3 problems here:
1. Perhaps we are doing something not optimal and we have to fix our application.
2. Analyzer and static type checking does not find such errors and they appear already in the browser (RuntimeError)
3. Dart programmers can not cast LinkedHasSet and maybe others classes from a standard  library by design

[2018-06-08 00:13] kevmoo commented on #33386
[code]

Who calls this setter? Are they always providing a `LinkedHashSet<Task>`?

[2018-06-08 00:20] kevmoo commented on #33159
WIP fix at https://dart-review.googlesource.com/c/sdk/+/59160

[2018-06-08 01:16] scheglov commented on #33387
I think this has been fixed in https://github.com/dart-lang/sdk/commit/371c8e4b870df44f3d44a393bdc6a73e4ab275d4

So, download the latest SDK build.
Or, if you cannot do this, remove `C:\Users\<user>\AppData\Local\.dartServer\.analysis-driver`.

[2018-06-08 01:16] #33387 closed

[2018-06-08 01:21] zolotyh commented on #33386
Yes. Code looks like this:
[code]

[2018-06-08 02:38] natebosch commented on #25745
Given that the Dart 2 VM no longer attempts to execute code with a parse error I don't think this issue is relevant anymore.

[2018-06-08 02:38] #25745 closed

[2018-06-08 03:04] hefuduo commented on #33360
@bwilkerson Fine,I'll try to recurrence this issue.If anything helps I'll inform u in first time

[2018-06-08 03:09] kevmoo commented on #33386
[code]

Did you try this? What happened?

[2018-06-08 04:00] kevmoo commented on #33386
@vsm @leafpetersen – RE issues w/ runtime errors, etc...

[2018-06-08 04:37] leonsenft commented on #33357
I just hit this same crash again. Here's the source I was writing:

[code]

[2018-06-08 06:33] lrhn commented on #29257
Yes, the type of `result` that the call to `f` is assigned to is now `FutureOr<bool>`.

[2018-06-08 06:33] #29257 closed

[2018-06-08 06:46] mraleph opened #33392 "FutureOrTypeTest code does not account for TypeRef's"
A valid code below throws a type error in Dart 2 mode. This happens because `FutureOrTypeTest` code does not seem to handle TypeRef's in any special way and `B`'s type arguments contain type ref to `B` itself.

[code]

[code]

[code]

I am not sure if there is an expectation that `TypeRef`s are replaced with the types they refer to after finalization?

This code is reduced from https://github.com/

[2018-06-08 07:02] zanderso commented on #31366
Yes, I think this is all set.

[2018-06-08 07:02] #31366 closed

[2018-06-08 07:06] johnniwinther commented on #33162
Fixed by https://dart-review.googlesource.com/c/sdk/+/58460

[2018-06-08 07:06] #33162 closed

[2018-06-08 07:24] Hell4Ge opened #33393 "Incorrect type casting between int, double, and string using num"
Using dartpad "Based on Dart SDK 2.0.0-dev.59.0" under Chrome

The code

[code]

The output

[code]

Ok so far the 9223372036854776000 is a JavaScript fault ([StackOverflow](https://stackoverflow.com/questions/8104391/why-do-javascript-converts-some-number-values-automatically))

[2018-06-08 10:51] zolotyh commented on #33386
It's hard to say now. I need time to check. There is a possibility that the performance will decrease and the order of the collection items will be lost.

I will check and write about the results later.

[2018-06-08 11:20] zoechi commented on #33393
Integers in Javascript are 53 bit, not 64 https://webdev.dartlang.org/faq#q-how-are-integers-handled-when-compiled-to-javascript
You might want to BigInt (see also https://www.dartlang.org/articles/dart-vm/numeric-computation, https://docs.flutter.io/flutter/dart-core/BigInt-class.html)

[2018-06-08 12:11] zoechi commented on #33383
What's the problem this change would solve?

[2018-06-08 13:12] zoechi commented on #32899
@GauravJain98 you could provide concrete information that allows to reproduce the issue.
That would make it much more likely for the issue to get solved than your comment above does ;p

[2018-06-08 14:00] terrylucas commented on #20585
There are a few attributes with the static attribute (currently on readonly ones).  However, added code to handle static for attributes in the IDL.  See CL https://dart-review.googlesource.com/c/sdk/+/59240

[2018-06-08 14:00] zoechi commented on #33123
According to the Dart style guide only lowercase+underscore file names should be used.
If you get the casing wrong the code won't run on non-Windows machines.

[2018-06-08 14:03] zoechi commented on #23645
Isn't that working as expected?
`await for` awaits for each handler call to complete (serial), while `listen` or `forEach` just fire away also for subsequent events when previous handler calls are not yet completed (kinda parallel).

[2018-06-08 14:31] terrylucas commented on #29901
Ready for review CL https://dart-review.googlesource.com/c/sdk/+/59340

[2018-06-08 15:04] kevmoo opened #33394 "Analysis server crash - stack overflow -dev.60"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.5087.20`
- `2.0.0-dev.60.0`
- `IU-181.5087.20, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.4 unknown, screens 3840x2160`

# Exception

[code]

[code]

[2018-06-08 15:31] terrylucas commented on #23605
@vsmenon

Mapping insertRule to addRule is doable - however, it's yet another polyfill.  Your thoughts?

[2018-06-08 15:32] #29002 closed

[2018-06-08 15:35] matanlurey commented on #33393
DartPad uses JS number semantics, like @zoechi mentioned.

[2018-06-08 15:35] #33393 closed

[2018-06-08 17:04] alexmarkov commented on #33389
As '--optimization-counter-threshold=-1' option is specified, JIT assumes that no optimized code can run and no deoptimization can happen, so PC descriptors for deoptimization points are omitted:

https://github.com/dart-lang/sdk/blob/a3c209d53b1f228d0427cbacaedbbb4add1581ea/runtime/vm/compiler/backend/flow_graph_compiler.cc#L235-L237

FlowGraphCompiler::AddDescriptor:
https://github.com/dart-lang

[2018-06-08 17:10] lexaknyazev opened #33395 "JS compilers ignore default values of optional parameters of external factories"
Dart SDK 2.0.0-dev.60.0

[code]

Compiled with DDC (fragment):
[code]

Compiled with Dart2JS (fragment):
[code]

[2018-06-08 17:29] leonsenft commented on #33357
I seem to hit this every time I start writing a new file that imports generated source via a prefix. The crash occurs right after I type the '.' after the prefix.

[2018-06-08 17:31] scheglov commented on #33373
https://dart-review.googlesource.com/c/sdk/+/59440

[2018-06-08 17:36] scheglov commented on #33375
With https://dart-review.googlesource.com/c/sdk/+/59440 and `accessors -> fields` it outputs:
[code]

[2018-06-08 17:39] a-siva commented on #33389
I believe we use it only for testing. I think always emitting the PC descriptors makes sense.

[2018-06-08 17:44] keertip commented on #33324
Thanks for the fix! Came across another test failure due to this.

[2018-06-08 17:50] #29901 closed

[2018-06-08 17:50] vsmenon commented on #33384
fyi - @lrhn

[2018-06-08 17:52] terrylucas commented on #31046
The problem has to do with read-only members of a Promise type (Future for Dart).  Fixed all properties and the test now passes.  See CL  https://dart-review.googlesource.com/c/sdk/+/59460

[2018-06-08 18:03] scheglov commented on #26762
This is fixed now.
We show all classes that we able to find in SDK and packages.
The first search / hierarchy it will take some time to index all files and resolve interesting ones.
But subsequent requests in the same analysis server session, or after restart, are fast.

![image](https://user-images.githubusercontent.com/384794/41172476-d591aeaa-6b08-11e8-8c70-c05ceb86de8f.png)

[2018-06-08 18:03] #26762 closed

[2018-06-08 18:03] leafpetersen commented on #33386
I don't understand how the code in https://github.com/dart-lang/sdk/issues/33386#issuecomment-395598633 relates to the code in https://github.com/dart-lang/sdk/issues/33386#issuecomment-395574715 .

The code in the first comment should *never* fail in the getter, assuming that the value returned from the getter is always a value injected via the setter (I don't know anything from that code about w

[2018-06-08 18:04] leafpetersen commented on #33386
cc @lrhn

[2018-06-08 18:07] alexander-doroshko commented on #26762
Awesome! Thanks a lot!

[2018-06-08 18:18] #33373 closed

[2018-06-08 18:18] #33375 closed

[2018-06-08 18:30] leonsenft commented on #26819
It seems like this has been fixed (at least in the latest version of DartPad)! Thanks.

[2018-06-08 18:30] #26819 closed

[2018-06-08 18:36] kevmoo opened #33396 "Release pkg:analyzer 0.32.2"
With commits including https://github.com/dart-lang/sdk/commit/bdbf872079efc28af49e16bb1549ff5fa4d21f9e

Assuming we have some confidence that there are no breaking API changes since 0.32.1

[2018-06-08 18:43] michaelspiss commented on #33123
Thanks for the tip @zoechi, I must have missed that one!
(https://www.dartlang.org/guides/language/effective-dart/style#do-name-libraries-and-source-files-using-lowercase_with_underscores)

[2018-06-08 18:43] kevmoo commented on #33396
FYI: I just tagged 0.32.1 - https://github.com/dart-lang/sdk/releases/tag/analyzer-0.32.1

[2018-06-08 18:58] stereotype441 commented on #33159
Fix is now ready for review

[2018-06-08 19:00] bwilkerson opened #33397 "Immediate delay of async functions"
A fairly large number of functions/methods have been getting an initial "await null;" added in order to preserve the pre-sync-async semantics. It might be worth considering some language support for this convention. For example, we could allow a modifier of the form:
[code]
to mean that a future is created and returned before any of the statements in the body have been executed.

[2018-06-08 19:20] jmesserly commented on #33330
blocked until we know what the intended behavior is. I have the CL to make DDC match dart2js/VM, but it shouldn't be too hard to make dart2js match DDC, if we prefer to go that direction.

[2018-06-08 19:45] #33159 closed

[2018-06-08 20:29] scheglov commented on #29112
This also works now.

[2018-06-08 20:29] #29112 closed

[2018-06-08 20:47] leafpetersen commented on #33221
cc @munificent

@MichaelRFairhurst What's the status on this?

[2018-06-08 20:59] natebosch commented on #22977
I see imports to source_span from analyzer. Is this done?

[2018-06-08 21:06] bwilkerson commented on #22977
No. As far as I can tell from a quick glance it's only being used in places were we're interfacing with another package that uses it.

I suspect that any attempt to switch analyzer to use it would require a breaking change to analyzer's API, and I don't want to have any more changes than necessary at this point.

[2018-06-08 21:11] natebosch commented on #22977
SGTM. Let's closed this as not planned.

[2018-06-08 21:11] #22977 closed

[2018-06-08 21:14] robbecker-wf commented on #29914
any update on this @jmesserly ? Is this fixed under Dart 2 DDC?

[2018-06-08 21:17] jmesserly commented on #29914
It is not fixed yet.

[2018-06-08 21:39] leafpetersen opened #33398 "Analyzer allows function type parameters in new Function syntax"
The grammar for the new for Dart 2 Function type syntax does not allow old-style function typed parameters to be mixed in with the new Function syntax.  The following should be rejected:

[code]

The analyzer currently allows this.

See https://github.com/dart-lang/sdk/blob/master/docs/language/informal/generic-function-type-alias.md for the relevant grammar.

cc @eernstg

[2018-06-08 21:42] bwilkerson commented on #33357
I tried to reproduce the behavior on bleeding edge using the example above, but it did not generate an exception. It's likely that my project is not configured the way your is, but I wouldn't have expected that to be a determining factor. It's possible that the bug has been fixed on the bleeding edge, but I can't know for sure.

[2018-06-08 21:46] leafpetersen commented on #33159
Woot! Great to see this bug well fixed.  The old Dart 1 function type representation has been plaguing us.  I'm betting there are a number of other open issues I've filed over the past year or two that have been closed by this as well.

[2018-06-08 21:51] leonsenft commented on #33357
Alright, I'll wait until the next SDK update. If this continues to occur after that I'll put together a reproduction that I can share.

[2018-06-08 21:59] bwilkerson commented on #33357
Thanks!

[2018-06-08 22:38] Hixie opened #33399 "Crash in dart::kernel::StreamingFlowGraphBuilder::BuildSuperMethodInvocation"
I just saw this crash; no idea how to reproduce:

[code]

Android; Flutter engine: 5d2f24aa5cbdbe3c5d41b2b261873d26f4077c79

[2018-06-08 22:54] MichaelRFairhurst commented on #33221
Have been working on #30384 which has dragged on more than I expected. I should have either a fix for, or repro of, the DDC issue in a few days (hopefully, some point this weekend)

[2018-06-09 00:34] leafpetersen commented on #33218
I've fleshed this out with some more details here:  https://dart-review.googlesource.com/c/sdk/+/52742 .

I'm running presubmits now.  I see some new errors that are good, but there's one class that I have a bit of a hard time justifying.  Specifically, consider:

[code]

This is now an error.  Looking at the examples of this that I see in code, it doesn't look to me like bad code.  Futures encaps

[2018-06-09 08:02] darshan- opened #33401 "Compiler crashes after upgrade from 2.0.0-dev.58.0 to 2.0.0-dev.60.0 (with --no-source-maps)"
* Dart SDK Version: 2.0.0-dev.60.0
* OS: Arch Linux, kernel: 4.14.47-1-lts
* Browser: Not applicable

Since `void main()` obviously couldn't have been the problem, I tried removing compiler flags, and worked out that the crash is avoided if I remove the `--no-source-maps` flag.

[code]

[2018-06-09 08:10] DanTup commented on #32446
For anyone using this in VS Code, you should upgrade to v2.14 Beta 1 as there's a serious performance issue when VS Code gets a large number of results here. In v2.14 we'll truncate to first 500 - we may revert this once there's a response to/fix for https://github.com/Microsoft/vscode/issues/51236

[2018-06-09 10:48] weenzeel opened #33402 "Unable to run unit tests from folder with spaces in path"
I'm trying to run some unit tests for a package library project in IntelliJ, but the test suite fails due to the test folder being in a location that has a space in it's path.

IntelliJ IDEA 2018.1.4 (Community Edition)
Build #IC-181.5087.20, built on May 17, 2018
JRE: 1.8.0_152-release-1136-b39 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.2

Dart plugin Version: 181.4892.1

[2018-06-09 17:49] Ing-Brayan-Martinez commented on #33383
It's a good question, I think it's necessary, this proposal comes mainly for two reasons.

The first one is about the adoption and use of this technology, this I will explain in the following list:

- If you are a programmer of languages such as: php, java, c #, kotlin, scala, groovy, swift, visual basic.NET, ruby, among others that implement this type of syntax, if dart implements this improvemen

[2018-06-09 18:15] kevmoo commented on #33401
Yup. Duplicate of #33328 Fix will be in -dev.61

[2018-06-09 18:15] #33401 closed

[2018-06-09 18:34] kevmoo opened #33403 "Analysis Server crash at ce1dc866207c - The getter 'enclosingElement' was called on null - using fixed generic support"
Analyzer Feedback from IntelliJ

# Version information

ce1dc866207c94f5fbd2f1d453b55314fd2ad369

- `IDEA IU-181.5087.20`
- `2.0.0-edge.ce1dc866207c94f5fbd2f1d453b55314fd2ad369`
- `IU-181.5087.20, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.4 unknown, screens 3840x2160`

# Exception

[code]

[code]

[2018-06-09 18:35] kevmoo commented on #33403
CC @stereotype441 – trying out your fix for generic function types...

[2018-06-09 19:01] weenzeel commented on #33402
I suppose this is an IDE issue. Posted the issue also to JetBrains issue tracker.

[2018-06-09 19:01] kevmoo commented on #33403
Reproducing with the original example from - https://github.com/dart-lang/sdk/issues/33159

[code]

`/dart-at-ce1dc866207c/dartanalyzer sample.dart`

[code]

[2018-06-09 19:07] darshan- commented on #33401
Ah, sorry I couldn't find #33328 when I searched before posting.

[2018-06-09 19:10] kevmoo commented on #33401
@darshan- – zero worries. Thanks for looking. Thanks for filing!

[2018-06-09 20:54] kevmoo opened #33404 "VM --preview-dart-2 – different behavior with triple-quote strings and newline characters"
2.0.0-dev.60.0

[code]

`dart test.dart`
[code]

`dart --preview-dart-2 test.dart`
[code]

Very much a regression...

[2018-06-09 20:55] kevmoo commented on #33404
@mraleph @lrhn – I feel I've chatted w/ one of our about literals lately...

[2018-06-09 21:04] kevmoo commented on #33404
Just reproduced at 3971e76a92fc5c6522b09c98046c7f52d6ff7b54

[2018-06-10 00:15] kevmoo commented on #33404
Upon reflection (and given my limited understanding of the nuances here), I feel like the `--preview-dart-2` behavior is *more* correct. Just wanted to raise it to confirm...

[2018-06-10 01:50] dbarzdys opened #33405 "BigInt.modPow returns: !remainder._isNegative': is not true"
I'm trying to use BigInt.modPow, but I always get this error:
[code]
Example:
[code]
Dart version: 2.0.0
OS: ArchLinux

[2018-06-10 08:30] zoechi commented on #33383
Sounds like personal preference.
I doubt this is good enough a reason to change a language that is around for about 6 years.
Also there are lots of people who prefer how it is today.
I find `public` and `private` extremely verbose and would consider the change you propose a pain.

[2018-06-10 12:08] dbarzdys commented on #33405
Update:

Found a function that does modPow correctly:

[code]

[2018-06-10 16:27] acidblue opened #33406 "Observatory wont run"
Dart version 1.24.3 on Win 7 x64
I get a "Firefox cant connect to localhost:8181" error.
Not sure if Observatory is even installed, how do i check?
All the IDE's iv'e tried cant connect to observatory, also they cant run Dart, even though the dart plugins are installed.
I've tried:
Visual Studio.
Atom
Dont know where to begin, so far Dart is a major PIA!
Need help.

In order to route, prioritize,

[2018-06-10 16:55] eernstg commented on #28305
Yes, we don't have any items on the positive list matching `await e` which allows that construct with an `e` of type `void`, so that makes it a compile-time error.

This makes sense, too, because the expression could evaluate to a value of type `Future<T>` for some `T`. We will then perform a non-trivial computation with the value obtained from a void expression, and that's what we have otherwise

[2018-06-10 18:43] matanlurey commented on #33395
I think this blanket is not supported, since `@JS()` is supposed to be a direct mapping to JS-code, which obviously won't have Dart-specific default values (in fact they might have there own based on `undefined`, which this would break).

We should probably cover this in stuff that @jmesserly wants to specify for JS interop if so.

[2018-06-10 18:45] matanlurey commented on #33406
@acidblue You are using a pretty old version of Dart, considering Dart 2.0 is close.

Please refrain from profanity in our issue tracker, and review our [code of conduct](https://www.dartlang.org/code-of-conduct) going forward. Closing thread as non-actionable.

[2018-06-10 18:45] #33406 closed

[2018-06-10 19:01] lexaknyazev commented on #33395
Fair point. But defining non-external factories should be safe, right? This example shows the same result as the one above.
[code]

[2018-06-10 19:36] matanlurey commented on #33395
I don't think JS interop officially supports Dart-only code on JS members (it might work).

[2018-06-10 20:46] xster opened #33407 "Crash during Flutter hotRestart"
Dart VM version: 2.0.0-dev.60.0.flutter-a5e41681e5 (Tue Jun 5 04:16:39 2018 +0000) on "macos_x64"

From VSCode with Dart-Code.

Flutter run against an iOS simulator. Let the computer go to sleep. Wake the computer back up.
The debug session is still active. Doing hot reload still works. Doing a hot restart however causes a crash:

[code]

[2018-06-10 22:06] acidblue commented on #33406
I updated to Dart 2.0, but I get the same error.
The only difference is the port # has changed.

[2018-06-11 00:57] dnfield commented on #26980
It seems like the following should be possible (or at least it seems to make sense), but it is not as a result of this:

[code]

[2018-06-11 01:16] dnfield commented on #26980
After reading https://github.com/dart-lang/sdk/issues/30288#issuecomment-325015484 - it seems like I just need to use `identical` instead of `==` and it's all fine.  While that makes some sense, it seems like it should be possible to interpret `opt1 == null` as being identical to `identical(opt1, null)` (or at least hint the user that that would work here).

[2018-06-11 01:19] dnfield commented on #30288
Tooling is allowing `identical` but not `==` e.g.

Fails:
[code]

Passes:
[code]

[2018-06-11 07:13] eernstg commented on #23780
(Forgot to actually close it. Here we go.)

[2018-06-11 07:13] #23780 closed

[2018-06-11 07:46] eernstg commented on #28513
I believe that we can now close it: This issue was used to handle the language design discussion which was concluded with the commit of [extreme-upper-lower-bounds.md](https://github.com/dart-lang/sdk/blob/master/docs/language/informal/extreme-upper-lower-bounds.md). In the mean time, #33340 was created in order to handle the CFE implementation, and #33341 the analyzer implementation.

[2018-06-11 07:46] #28513 closed

[2018-06-11 08:35] lrhn commented on #33397
I also expect that these functions were written under the assumption that they had time to do some more setup before the function started, and that is no longer the case.
Future functions will not be written under that assumption, so their code will just be written differently to begin with.

If you really want to wait a microtask, you can always add `await Future.microtask((){});`. (We should mak

[2018-06-11 08:47] lrhn commented on #33383
There is a reason Dart does not use class based privacy.
Dart allows dynamic invocations. If you write `dynamic x = someObject(); x.foo;` then the `foo` access does not know the class of the object in `x`. It must work independently of that.
Now, if `x` has a class with a *private* `foo`, should that function then be found? That depends on whether the *access* `x.foo` is inside that class. If it's

[2018-06-11 08:52] #33383 closed

[2018-06-11 09:32] lrhn commented on #33404
It is a fix and a deliberate change.
The Dart 1 spec said:

at its end.

Since `n` is not WHITESPACE, then `\n` should not be ignored. The VM had a long-standing bug of replacing escapes with characters before determining whether to ignore the first line of the multiline string, something that is not allowed by the spec at all.
Not everyone agreed whether it was a VM bug or a spec bug: https://cod

[2018-06-11 09:57] #31196 closed

[2018-06-11 10:30] eernstg commented on #33334
I can see that this issue is closed, but it still seems to be the relevant place to add the following remark:

I think this is true, because they will typically just experience that the raw types they already have or that they write into new code "are working" (so maybe they won't notice that anything has changed at all around raw types).

But that only goes skin-deep&mdash;they may experience new

[2018-06-11 11:04] chalin commented on #33334
Thanks for the example! SGTM: https://github.com/dart-lang/site-www/issues/914

[2018-06-11 11:32] zoechi commented on #33406
Does
[code]
what you want?

[2018-06-11 13:06] eernstg opened #33408 "Implement more flexible constant expression comparison"
As of commit f11f2ed2bda046d5a7af2c34910ed09bed678e82, the language specification has been modified to slightly relax the constraints on the usage of operator `==` in constant expressions. The updated spec language occurs in one of the items about what it takes to be a constant expression:

[code]

The previous wording allowed only numeric, string, or boolean values and the null object, but the ne

[2018-06-11 13:12] zoechi commented on #33402
@weenzeel can you please cross-link the GitHub and Youtrack issues?

[2018-06-11 13:49] eernstg opened #33409 "Common front end: Implement more flexible constant expression comparison"
This is the common front end specific issue for #33408, which has the details.

[2018-06-11 13:50] eernstg opened #33410 "Analyzer: Implement more flexible constant expression comparison"
This is the analyzer specific issue for #33408, which has the details.

[2018-06-11 13:55] kevmoo commented on #33404
Thanks for the details!

On Mon, Jun 11, 2018 at 2:32 AM Lasse R.H. Nielsen <notifications@github.com>
wrote:

[2018-06-11 13:58] eernstg commented on #26980
Apparently, the implementation of this feature was never requested explicitly. I just created #33408 to make that happen. I'm closing this because the 'area-language' part was resolved already in Oct 2017 with commit f11f2ed2bda046d5a7af2c34910ed09bed678e82.

[2018-06-11 14:02] eernstg commented on #30288
Apparently, the implementation of this feature was never requested explicitly. I just created #33408 to make that happen. I'm closing this because the 'area-language' part was resolved already in Oct 2017 with commit f11f2ed2bda046d5a7af2c34910ed09bed678e82.

[2018-06-11 14:02] #30288 closed

[2018-06-11 14:04] eernstg commented on #26980
Oops, I was looking at [this comment](https://github.com/dart-lang/sdk/issues/26980#issuecomment-396098246) and concluding that this issue was about comparison with `null`. It actually started out as an issue about comparison of enum values, and that has not yet been addressed: Reopening.

[2018-06-11 14:06] dnfield commented on #26980
Yes, sorry I got confused between the two issues as well.

[2018-06-11 14:51] handicraftsman commented on #33257
Hmm?

[2018-06-11 15:10] mraleph commented on #33257
@handicraftsman please elaborate on the “hmm?” - leaving such comments is not really helpful

[2018-06-11 15:23] kevmoo commented on #33404
@lrhn – closing out then...I fixed my code so it worked the same in both configurations

[2018-06-11 15:23] #33404 closed

[2018-06-11 15:38] handicraftsman commented on #33257
Any news?

[2018-06-11 15:41] weenzeel commented on #33402
This is also tracked in JetBrains [WEB-33251](https://youtrack.jetbrains.com/issue/WEB-33251).

[2018-06-11 15:48] jakemac53 opened #33411 "dartanalyzer can't find dart files any more?"
Dart VM version: 2.0.0-dev.61.0 (Mon Jun 11 15:46:09 2018 +0200) on "linux_x64"

In the `build` repo, I can't seem to get `dartanalyzer` to find any dart files at all any more, example commands below:

[code]

[2018-06-11 15:48] jakemac53 commented on #33411
@MichaelRFairhurst do you think this could be related to the recent changes for finding generated files?

[2018-06-11 15:58] kevmoo opened #33412 "AnalysisServer crash -dev.61"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.5087.20`
- `2.0.0-dev.61.0`
- `IU-181.5087.20, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.4 unknown, screens 2560x1600`

# Exception

[code]

[code]

[2018-06-11 16:03] bwilkerson commented on #33412
@scheglov In case this is related to the recent changes you made in this area.

[2018-06-11 16:08] mraleph commented on #33257
Still working on this. Have another fix in the development that cuts another 50% of the regression.

[2018-06-11 16:11] mraleph commented on #33257
@handicraftsman is there any particular reason you are interested in this? does your application regress in Dart 2 mode? in this case it would be helpful if you shared some information - so that we could ensure that we address regressions in your applications as well.

[2018-06-11 16:38] pq opened #57719 "Consider migrating categories to tags"
In the current incarnation, lints can belong to a single category but moving forward it would be interesting to consider a tag approach.  A few ideas for tags that come to mind:

* FLUTTER
* PACKAGE: MOCKITO
* DEPRECATED
* EXPENSIVE

But I'm just spit-balling!

/cc @srawlins

[2018-06-11 16:58] jakemac53 commented on #33411
This actually seems to be related to how the `excludes` are treated in `analysis_options.yaml`, ours looks like this:

[code]

Removing the `build/**` from that gets things working again.

My guess is now these paths are considered relative to the analysis_options.yaml and not the individual package (this is a mono_repo setup with multiple packages in subdirectories with a single analysis_options.

[2018-06-11 16:58] jakemac53 commented on #33411
Feel free to close if this is the new intended behavior

[2018-06-11 17:16] crelier commented on #33405
I am not able to reproduce this issue.
Can you be more specific about your platform and the version of the dart SDK you are using?

Note that a bigint issue on arm64 was fixed on May 25 and may not have made it to you yet.

On both x64 and arm64 architectures, with the current Dart SDK head of tree, I get the following decimal result:
999079179839390885244951896544645571604661439602974563222757988

[2018-06-11 17:42] kmillikin opened #33413 "Add a standard way to rebase expectations to test.py"
A number of subteams have their own infrastructure for regenerating test expectations.  For instance, the front end uses

[code]

and the VM runs a test with `-Ddump.actual.result=true`.

(The actual situation is more complicated.  The front end needs to update comments first, run the formatter, and then update expectations.  The VM does not overwrite the expectation so the result needs to be copi

[2018-06-11 17:59] MichaelRFairhurst commented on #33411
Thanks for filing -- and for figuring it out!

I *will* close it as intented behavior, but I'm also curious to hear if you have any suggestions on what we should do in this case.

Workarounds include making a new analysis_options.yaml in build/, or making an analysis_options_alternate.yaml and then doing `dartanalyzer --options analysis_options_alternate.yaml build/`. I don't think there are any o

[2018-06-11 18:10] jakemac53 commented on #33411
Honestly - think the new logic is better than the old logic anyways - if you look at the [update](https://github.com/dart-lang/build/pull/1555/files#diff-d62227308ce5fdb544ee6b0a8b157a69) in the build repo things are a lot more clear now. I don't think we need anything on our end.

This should really only affect mono_repo structured packages - its a bit annoying for those but ultimately they end u

[2018-06-11 18:13] MichaelRFairhurst commented on #33411
Awesome. OK, closed WAI!

[2018-06-11 18:13] #33411 closed

[2018-06-11 18:28] rmacnak-google commented on #31427
I currently have no plans to work on relativizing URIs, which providing a stronger kind of reproducibility than we require for effective sharing on Fuchsia.

What is a multi-root system? It doesn't sound related to this issue.

[2018-06-11 19:16] #33389 closed

[2018-06-11 19:22] alexmarkov opened #33414 "Implement general-purpose dead code elimination in Dart VM compiler"
Currently, we have specialized DCE for phis and instruction-specific cleanup during instruction canonicalization. However, it could be useful to have general-purpose DCE pass which would be able to remove unused instructions (even if they are in a cycle through phis).

/cc @mraleph

[2018-06-11 19:44] crelier commented on #33405
Never mind. I was reminded to enable asserts and I do indeed get the assert fault.

[2018-06-11 20:03] leafpetersen opened #33415 "Missing error when awaiting a void expression"
The snippet below should be an error per the static analysis section of https://github.com/dart-lang/sdk/blob/master/docs/language/informal/generalized-void.md .

[code]

[2018-06-11 20:08] #28305 closed

[2018-06-11 20:08] leafpetersen commented on #28305
https://github.com/dart-lang/sdk/issues/33415

[2018-06-11 20:19] natebosch commented on #33415
Should we also have an issue filed for the CFE to reject this case?

[2018-06-11 20:21] leafpetersen opened #33416 "CFE: Missing error when awaiting a void expression"
The snippet below should be an error per the static analysis section of https://github.com/dart-lang/sdk/blob/master/docs/language/informal/generalized-void.md .

[code]

[2018-06-11 20:22] leafpetersen commented on #33415
https://github.com/dart-lang/sdk/issues/33416

[2018-06-11 21:25] keertip commented on #31427
When generating dart 2 snapshots for flutter in google3, we had problems with hot reload not working due to full paths in the generated kernel files. @aam added support for passing in a root and uri scheme to frontend server so that when a scheme is specified, the generated kernel file no longer contains full paths. If the vm did something similar, script snapshots would be deterministic.

[2018-06-11 22:41] leafpetersen commented on #33341
https://dart.googlesource.com/sdk/+/ebc30fd0da4f20ad1b85c07986e52ec78eec2878

[2018-06-11 22:41] #33341 closed

[2018-06-11 22:51] MichaelRFairhurst commented on #33221
The DDC issue here seems to be the original issue which prompted this. It merely reared its head at different times, and internally, required a patch to dart_lang in addition to third_party/ analyzer.

It seems from my tests that this is now working perfectly. Will keep straining the system a bit longer to increase my certainty in this.

[2018-06-11 22:52] kentcb commented on #31543
Stupid little workaround if you don't mind a hack:

[code]

[2018-06-11 22:55] zanderso commented on #33390
The standalone VM does not yet implement the --snapshot-depfile flag in --preview-dart-2 mode.

/cc @rmacnak-google @a-siva

[2018-06-11 23:05] alanrussian commented on #33024
I think there's a very similar issue with `Future`s. Let's say I have an API to get some data, and I want it to fetch the data on the first call but return cached data immediately on subsequent calls. With Dart, it's unclear to me how to do this because a future always completes in the next runloop (see `Future.value`). I suppose I could return FutureOr but that seems like a weird return type.

[2018-06-12 00:25] bkonyi opened #33417 "Dart_GetField cannot be used to retrieve instance methods"
[code]

[code]

[2018-06-12 00:59] natebosch commented on #29693
I'm no longer seeing these specific hints and AFAIK the CFE should be giving consistent warnings. I think this should be safe to close.

[2018-06-12 00:59] #29693 closed

[2018-06-12 01:04] rakudrama commented on #33371
Fixed by https://github.com/dart-lang/sdk/commit/b9381d337829ba872666f2233d27e5ce6315aa21

[2018-06-12 01:04] #33371 closed

[2018-06-12 03:42] kentcb opened #57720 "False positive from prefer_const_constructors"
This code:
[code]
Triggers `prefer_const_constructors`:
[code]
However, attempting to "fix" per the suggestion with this:
[code]
Yields a compiler error:
[code]

[2018-06-12 04:17] rakudrama opened #33418 "[dart2js] Dead code elimination doesn't work on static (lazily initialized) variables"
(reported)
The issue is that dart2js doesn't perform dead-code elimination when the condition being evaluated is static (which manifests as lazily initialized).

This is a simple reduction of the case I found in Angular. We use this simple 'isDevMode' check throughout our code to eliminate debug code:
[code]
This however doesn't work, if 'isDevMode' is used indirectly through a static. The followi

[2018-06-12 05:15] normcf opened #33419 "dart:html WorkerGlobalScope missing property console"
Using dart_2.0.0-dev.60.0-1_amd64.deb on Ubuntu 18.04 LTS

Trying to use the class WorkerGlobalScope to get to the console in code meant to executed in  a web worker,
[code]
but the dev compiler gives:
`[error] The getter 'console' isn't defined for the class 'WorkerGlobalScope'.`

[2018-06-12 05:20] rich-j opened #33420 "Abstract ancestor property accessors not resolving properly"
Virtual references in multi-level ancestors are not resolving properly. A simplified example of the issue happens with 3 levels of inheritance with declaration at the first level, reference at the second and definition at the third.

    abstract class Base {
      String get id;
    }

    abstract class Enhanced extends Base {
      //String get id;      // <-- uncomment this and equality will w

[2018-06-12 05:54] iarkh opened #33421 "Dart does not throw error when type parameter is a supertype of its upper bound."
* Dart SDK Version: 2.0.0-dev.60.0
* OS: Windows 10

The following source code example tries to create an object of the class where type parameter is a supertype of the class upper bound:
[code]
When run in --preview-dart-2 mode, dartanalyzer reports expected compile error:
[code]
However, if I run the same with dart - no errors appear:
[code]
I believe this is a bug and either dart should throw e

[2018-06-12 06:14] dbarzdys commented on #33405
Result should be:

453097015737616214346508233018839742266076213891604457998307682005577643772853540404506586789249265357409632766935544726662571585136187253606830572141539369769347108760498440769774965869169805422937579680215374552475505359107722949625146085839423638647152166096223152661399620096792400333062928565475536786202385084291029046181282894304508321286258763547702447772025785315458548296

[2018-06-12 08:02] #33093 closed

[2018-06-12 08:19] johnniwinther opened #33422 "Support type variables in generic method bounds"
dart2js doesn't support type variables in generic method bounds at runtime. The currently implementation uses an "any" type instead to avoid wrongfully failing on bounds checks.

[2018-06-12 08:33] zoechi commented on #33278
Can you reproduce the problem?
I run into an issue several times where the content of the error report was not added to the issue body, but to the URL in the browser URL bar. #32496

[2018-06-12 08:41] zoechi commented on #33269
Related to #33368 (thought a link would be helpful)

[2018-06-12 09:09] stefantsov opened #33423 "CFE doesn't reject generic function types in bounds of type variables"
The following script should result in a compile-time error; however, it crashes the compiler currently.

[code]

[2018-06-12 13:30] jbaxe2 commented on #33412
I am getting the same issue, since yesterday after updating to 2.0.0-dev.61.0.  Same version of IntelliJ.  Running Ubuntu 17.10, with kernel release 4.13.0-45-generic.

After the initial crash when IntelliJ loads, running the analyzer again appears to work.

[2018-06-12 13:53] terrylucas commented on #27180
@kevmoo

dart:web_gl is inconsistent on how constants are exposed and some constants are not exposed (from the IDLs).

We expose some constants as both top-level constants and in a Dart class e.g.,
Only constants from  WebGLRenderingContextBase are exposed as top-level constants
    `const int VERTEX_SHADER = RenderingContext.VERTEX_SHADER; `

All constants in WebGL2RenderingContextBase are all mi

[2018-06-12 13:55] terrylucas commented on #27180
@robertmuth

[2018-06-12 14:42] leonsenft commented on #33278
I haven't been using IntelliJ consistently recently, but if I see it happen again I'll check to see if this is a duplicate of https://github.com/dart-lang/sdk/issues/32496. I suspect it is.

[2018-06-12 15:03] eernstg opened #33424 "[analyzer] Misleading error message for async return type `Never`"
[Edit: The example program has been updated, see [this comment](https://github.com/dart-lang/sdk/issues/33424#issuecomment-1527171444).]

The language specification says that it is a static warning (so in Dart 2 it is an error) for an `async` function to have return type `R` unless `R` is a supertype of `Future<T>` for some `T`. In other words, the return type can be `Future<T>` for any `T`, and i

[2018-06-12 15:05] eernstg opened #33425 "Common front end: Return type in async function not checked"
The language specification says that it is a static warning (so in Dart 2 it is an error) for an `async` function to have return type `R` unless `R` is a supertype of `Future<T>` for some `T`. In other words, the return type can be `Future<T>` for any `T`, and it can be any top type (like `dynamic`, `FutureOr<void>`, etc.). But it is not enough to be a subtype of `Future<...>` and in particular it

[2018-06-12 15:14] #33405 closed

[2018-06-12 15:20] Rockvole opened #33426 "null coalescing operator invalid arguments error in print statement"
This statement throws an error at runtime - is this expected behaviour ?

    print("test='"+null??"0");
    Invalid argument(s)

This does work :

    print("test='"+(null??"0"));

[2018-06-12 15:21] a-siva opened #33427 "gen_kernel should not report Nits by default"
Front end reports a 'Nit' when observatory soures are compiled.

[code]

[2018-06-12 15:52] crelier commented on #33405
Yes, that is the result you should be getting now. Thanks for the report.

[2018-06-12 16:00] jakemac53 opened #33428 "Spawning isolates causes a memory leak in Dart 2"
Original issue https://github.com/dart-lang/test/issues/863

Dart VM version: 2.0.0-dev.61.0 (Mon Jun 11 15:46:09 2018 +0200) on "linux_x64"

If you run the following code with --preview-dart-2 then the memory steadily climbs even though the isolates are being killed.  If you run it without --preview-dart-2 then the memory remains quite stable (it does climb a little but not on every iteration of

[2018-06-12 16:10] eernstg commented on #33426
Yes, that is working as intended: `??` binds less tightly than `+` (that is, a `logicalOrExpression` can derive an `additiveExpression`, not vice versa).

Intuitively, you could say that `??` is "intended" to be used near the top level of an expression, and if you want to used it in the middle of a lot of other things you should parenthesize.

[2018-06-12 16:10] #33426 closed

[2018-06-12 16:29] jonahwilliams commented on #33119
Another case of a Flutter user hitting this: https://github.com/flutter/flutter/issues/18357

[2018-06-12 16:52] jbaxe2 opened #33429 "NoSuchMethodError: isFactory called on null (area-dev-compiler)"
Most likely I'm doing something wrong, but encountered an error when compiling my tests, that suggested reporting, and so I am creating this bug report.  Please let me know if there is any further information required from me on this.

**Dart version:** 2.0.0-dev.61.0
**OS:** Ubuntu 17.10 (4.13.0-45-generic)

**Command I ran (from project root dir):**
pub run build_runner test --low-resources-mode

[2018-06-12 18:05] natebosch commented on #33388
Do we have plans to fix this? `package:test` relies on on running the VM this way.

[2018-06-12 18:25] chalin opened #33430 "Dart 2-dev.63 crashes: Segmentation fault"
## Environment

Dart VM version: 2.0.0-dev.61.0 to -dev.63.0 on "macos_x64"

## Steps to reproduce

1. Clone https://github.com/chalin/linkcheck
2. ~Checkout the `chalin-dart-2-runtime-0612` branch~ (Use `master` now.)
3. `pub upgrade`
4. `dart --preview-dart-2 test/e2e_test.dart`

## Expected result

The tests should run, but instead `dart` crashes:

[code]

cc @kwalrath @kevmoo @natebosch

[2018-06-12 18:38] kevmoo opened #33431 "Stream.fromIterable doesn't handle errors during iteration well"
If an error is throw, it's not caught. The app just seems to exit with 0 without `done` being hit. Very weird.

The sample code at the bottom has the following output:

[code]

Note: no `*** DONE ***`, no `true` printed at the bottom. The app just exits (with status 0).

This is on -dev.61

[code]

CC @lrhn

[2018-06-12 18:43] sigmundch commented on #32750
@johnniwinther - I believe there is more to this than just the CFE issue with optional args.

Here is an example in dartpad:
   https://dartpad.dartlang.org/8edeabe24a3c0ec19b047630f0a668b7

[code]

The example should get the tearoff without getting into the nSM logic, and should print:
[code]

Instead, it prints:
[code]

and because nSM returns null, it then crashes when calling the result:
[code

[2018-06-12 18:44] Hixie opened #33432 "Relative and absolute imports don't resolve to the same path"
A common case we see is this:

[code]
[code]

This fails because the import in `bar.dart` resolves to a different path than what we first run, so there's two copies of `main.dart` floating around. It results in extremely confused developers.

See e.g. https://github.com/flutter/flutter/issues/17575.

[2018-06-12 18:46] kevmoo commented on #33432
There are existing discussions on how `main` should ever be in the lib directory, right?

[2018-06-12 19:15] leafpetersen commented on #33432
Is this a dup of https://github.com/dart-lang/sdk/issues/33076 ?

[2018-06-12 19:15] leafpetersen commented on #33432
See also https://github.com/dart-lang/sdk/issues/32601 ?

[2018-06-12 19:24] natebosch commented on #33431
This seems working as intended. From the Doc comment on the constructor:

[2018-06-12 19:31] natebosch commented on #33431
This was changed here: https://github.com/dart-lang/sdk/commit/781e84284f0391c98d6f3d71869ce650d2e1e944#diff-5a9c317c5de11a5a7ab7a39c97e76a90R517

Before that it looks like the stream was closed. Nothing in the commit message or the review mention why this decision was made. @lrhn could maybe add some context on that.

[2018-06-12 19:35] Hixie commented on #33432
both of those look like the same thing, yup.

[2018-06-12 19:40] munificent commented on #33218
Yeah, that seems reasonable to me for exactly the reason you state. "I don't care *what* this returns, but I do care *when* it returns."

If you go on to await or call `.then()` on that future and attempt to use the result, you'll get an error at that point. So I don't think we lose any real safety by not showing the error earlier when assigning the `Future<...>` to `Future<void>`.

[2018-06-12 19:44] kevmoo commented on #33431
Reopening – seems really weird that final print is not called, but there is no error and the exit code is still 0.

[2018-06-12 19:45] natebosch commented on #33431
https://codereview.chromium.org/14753009/diff/6001/sdk/lib/async/stream_impl.dart#newcode523

[2018-06-12 19:53] kevmoo commented on #33431
See this test case - https://gist.github.com/kevmoo/c51dbeedb9091052d36b193432fea87f

`pkg:test` just hangs!

@natebosch – thanks for your digging!

[2018-06-12 19:56] ianloic commented on #32134
This caused flakes on the Fuchsia bots when I started running out FIDL generated dart through `dartfmt`. It looks like errors are being reported with `OS::Print` in [kernel_isolate.cc](https://github.com/dart-lang/sdk/blame/master/runtime/vm/kernel_isolate.cc#L209) which on Linux at least just prints to stdout - not where I'd prefer errors to go...

It looks like @rmacnak-google was the last to to

[2018-06-12 19:56] kevmoo commented on #33431
The "safe" behavior makes so much more sense to me. Having the Stream end w/ the first error is much easier to deal with...

[2018-06-12 20:16] joeconwaystk commented on #33428
I'll add that in larger test suites, memory consumption goes well over 10Gb (before my machine starts choking, at least). This reproduction case just identifies that something is being retained by the VM for each isolate spawned (both by the test runner, or the test code itself).

[2018-06-12 20:43] rakudrama commented on #33351
Work items

- [ ] Document `IntLiteral.value` as holding a uint64 value
- [ ] Revert fix for #31770, i.e. always create a `unary-` node
- [ ] Fix for DDK to interpret value as uint64
- [ ] Add configuration to CFE for web ints
- [ ] Add parse error for web int literals that cannot be represented exactly
- [ ] Ensure analyser devc also generates an error for int literals that cannot be represented

[2018-06-12 20:53] rmacnak-google commented on #33428
@aam The kernel service never removes entries from the map that associates compiler state with an isolate.

[2018-06-12 20:57] rmacnak-google opened #33433 "Move the kernel isolate from the VM proper to the standalone embedder"
The kernel service is not a VM feature:
 - It does not allow transparent use of the old loading APIs that take source instead of kernel
 - It is only available in the standalone embedder

It should not be polluting the embedding api (dart_api.h).

[2018-06-12 21:01] chalin commented on #33430
FYI, it seems to run w/o issue under Linux as can be seen from [this Travis log](https://travis-ci.org/filiph/linkcheck/builds/391458121).

[2018-06-12 21:07] chalin commented on #33430
Oops, no, I take that back. W/o the `--preview-dart-2` flag it runs fine, with `--preview-dart-2` it crashes as can be seen from [this Travis log](https://travis-ci.org/filiph/linkcheck/builds/391462917).

[2018-06-12 21:20] rmacnak-google commented on #32134
The underlying issue is that when the standalone VM runs from a kernel file instead of source, the main isolate can finish and shut down the VM before the kernel isolate finishes starting up.

[2018-06-12 21:37] trinarytree commented on #33172
I'm seeing some more subtle, undocumented behavior from `int.parse`.  Apparently, it treats base 16 differently from every other base (in more ways than the obvious one):
[code]
This is inconsistent.  Something (in integers_patch.dart, _parseRadix) detects that when the radix is 16 - not 2, 4, 8, nor 32 - that the input should be parsed as an _unsigned_ int, but for every other base, it should be

[2018-06-12 21:48] kevmoo commented on #33431
@mraleph – FYI re our chat before lunch

[2018-06-12 22:00] natebosch commented on #25490
Has anything changed here since the last update?
Is anything likely to change here?

[2018-06-12 22:01] natebosch commented on #27917
Has anything changed here since the last update?
Is anything likely to change here?

[2018-06-12 22:10] leafpetersen commented on #27917
We should close this.  It's not happening for Dart 2 - very breaking.

[2018-06-12 22:10] #27917 closed

[2018-06-12 22:10] stereotype441 commented on #33304
I just looked into this, and it seems that the analyzer's constant evaluation engine was never updated for strong mode semantics.  I wouldn't say that it *ignores* downcasts per se--it implements the Dart 1.0 rules for checked mode (when you ask it to), and those are similar to Dart 2.0 downcasts in many cases.  But they aren't similar enough to catch the error in Matan's example.

Digging deeper

[2018-06-12 22:13] matanlurey commented on #33304
Wow! Thanks for looking into this @stereotype441!

[2018-06-12 22:18] kwalrath commented on #33172
@lrhn Who'd be a good person to fix the doc comments?

[2018-06-12 22:35] jmesserly commented on #25490
This inference improvement (if it happens, which I hope it does) is post 2.0, so there won't be any changes until after that.

[2018-06-12 23:04] aartbik commented on #33205
Timings of view cases on AOT 64-bit have substantially improved. On my desktop:

user	0m0.980s
user	0m1.596s   --use-view

Still a few i's to dot before we can close this.

[2018-06-12 23:40] mraleph commented on #33205
We should check if ARM32 saw any improvement at all and if not - see what is missing to get better code (e.g. be better with choosing non-speculative path on 32-bit platforms?).

[2018-06-12 23:41] mraleph commented on #31954
https://github.com/dart-lang/sdk/commit/12c461b15ae3ad4c503db256cd08f0fe1d66ee34 by @aartbik improved performance of this microbenchmark on 64-bit platforms (4-5x on my measurements). I have not measured ARM32 yet.

[2018-06-13 00:05] mchakroun opened #33434 "Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA 182.2949.6`
- `2.0.0-dev.61.0`
- `WS-182.2949.6, JRE 1.8.0_152-release-1226-b7x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.4 unknown, screens 1920x1080`

# Exception

Please append the contents of:
file:///private/var/folders/kz/bpbrh2qn6mv8zt7v32cc1lcr0000gn/T/report.txt

[code]

[2018-06-13 00:29] rmacnak-google commented on #33427
This is perfectly legal Dart. gen_kernel should not print Nits by default.

[2018-06-13 00:34] a-siva commented on #33427
/cc @alexmarkov

[2018-06-13 08:49] #57718 closed

[2018-06-13 09:29] eernstg commented on #33218
If we're considering return statements in async functions to be concerned with completion of the returned future then we're out of "returned value" land and back in "calling a method" land:

[code]

Using that perspective we would never complain about values being discarded, presumably unintentionally, because they are "returned to void". That's simply not an issue for `return` in an async functio

[2018-06-13 10:37] mkustermann opened #33436 "The kernel-appjit configuration seems to invoke the legacy parser"
From the [buildbot log](https://logs.chromium.org/v/?s=dart%2Fbuildbucket%2Fcr-buildbucket.appspot.com%2F8943849369190995264%2F%2B%2Fsteps%2Fvm_tests%2F0%2Fstdout):

[code]

By quickly glancing over this, it looks like the kernel isolate is loaded from source:
[code]
/cc @mraleph @a-siva

[2018-06-13 10:50] lrhn commented on #33431
The issue of the VM terminating in the middle of an async method is not new (#23797).
If that's the only issue here, the finally not being executed when an async operation doesn't complete and the VM terminates anyway, then I'll just defer to that issue.

I'm willing to reconsider the behavior for `fromIterable`. We also don't catch errors thrown by the `current` getter (which can happen, especial

[2018-06-13 10:58] lrhn commented on #33218
The specification of `async` functions does not mention completers, and I'd prefer to look at `async` functions as if they return a value of the correct flattened type, which is then used to complete the actually returned `Future` ... somehow.
That is the body of `Future<int> foo() async {` should be treated (mostly) like a function returning `int`. Allowing `Future<int>` in the return expression

[2018-06-13 11:15] askeksa-google commented on #32181
https://dart-review.googlesource.com/c/sdk/+/41720 was abandoned. Is this issue still valid?

[2018-06-13 11:29] askeksa-google commented on #30725
Resolving the empty string to the URI of the script is correct behavior. The other cases have been fixed.

[2018-06-13 11:29] #30725 closed

[2018-06-13 11:31] #32181 closed

[2018-06-13 12:37] werner-j opened #33437 "Dev61 Heavy memory usage with simple QuickStart examples"
Hello,

I'm testing Dart 2.0 dev build 61 and experience heavy memory consumption even with the simple QuickStart examples from the web page or Web Storm (todo list example) on a Mac with Safari. When looking at memory stats, opening the page increases the RAM consumption of Safari for about 4-5 GB.

Safari basically tells me that I'm running a web site with heavy memory consumption and that I sho

[2018-06-13 12:40] stereotype441 commented on #33304
Looks like #21119 is another contributing cause.

[2018-06-13 12:53] lrhn commented on #33172
This guy: https://dart-review.googlesource.com/c/sdk/+/58204 :)

[2018-06-13 12:58] #32999 closed

[2018-06-13 14:55] lexaknyazev opened #57721 "False positive cascade_invocations"
Dart SDK 2.0.0-dev.61.0

[code]

[2018-06-13 16:13] kmillikin commented on #32866
Proposed fix is here: https://dart-review.googlesource.com/c/sdk/+/60140

[2018-06-13 16:15] sigmundch opened #33438 "improve error messages on invalid constants"
We need to provide better error message when constants are invalid.

One scenario that especially needs more data is generic instantiation that are substituted by a type variable (since type variables can be used in a constant context).

Compare the error message you get from these 2 examples:
[code]

[code]

[code]

[code]

[2018-06-13 16:39] leafpetersen commented on #25490
Yeah, let's keep this open for now until we re-organize language requests.  This is something I'd still like to try to do in a future inference revision.

[2018-06-13 17:01] grouma commented on #32952
cc @DanTup

This is blocking Danny from using `pub run test` in this package. An easy work around to the issue is to provide a path override to the problematic package.

[2018-06-13 17:04] matanlurey commented on #33437
@werner-j: Unfortunately this isn't enough information to really act on. Can you include:

* A link to or source code of the example you are running
* How you are running/serving your application
* If you are using DDC (DartDevCompiler) or Dart2JS

I have never seen any sample application use 4-5Gb of RAM. It's possible that DartDevCompiler has a bug in Safari, officially it only supports Chrome r

[2018-06-13 17:05] scheglov commented on #33412
https://dart-review.googlesource.com/c/sdk/+/60142

[2018-06-13 17:10] DanTup commented on #32952
For the analysis server, the package that prevents running `pub get` is `telemetry`:

If I skip running `pub get` and just try running `pub run test` then it fails to locate the test package (because the `.packages` file is two levels higher) and reports:

I'd really like to get the analysis server tests running via `pub run test` so they'll work in the test runner I'm working on for VS Code (not

[2018-06-13 17:14] bwilkerson commented on #32952
Which you should always do for any package inside the sdk :-)

If that's really the reason, then that sounds like a bug in `pub`. All Dart tools are suppose to look up the directory hierarchy until the root of the file system to search for a `.packages` file. If `pub test` doesn't do that, then that's a bug.

[2018-06-13 17:22] DanTup commented on #32952
I've had conflicting info about this today, so I'm a little confused now :( Is this written anywhere (I did try searching earlier but didn't turn up anything) so we can make sure we're fixing this in the right place?

[2018-06-13 17:41] DanTup commented on #32952
I found this:

https://github.com/lrhn/dep-pkgspec/blob/master/DEP-pkgspec.md#resolving-package-uris

which says:

@jakemac53 @grouma This suggests maybe we should fix in pub? (assuming the issue is actually this; I can do some digging and confirm if we're happy to go that route).

[2018-06-13 17:42] werner-j commented on #33437
Hello @matanlurey

thanks for your reply. The source code is the standard QuickStart example from WebStorm that you get, when using the wizard. If necessary, I can create an archive and upload, but you can get it directly from the WebStorm wizard.

I am running the application as follows:

[code]

I figured that on Firefox there is no such weird behavior.

Herer is two images from iStat Menus memo

[2018-06-13 17:48] matanlurey commented on #33437
@werner-j Is it one of these? https://github.com/dart-lang/stagehand/tree/master/templates

As I mentioned, Safari is likely not supported here. It shouldn't use GBs of RAM though, I think.

[2018-06-13 18:03] natebosch commented on #32952
@bwilkerson - `pub get` and `pub run` operation a a stricter subset of the `.packages` spec. We do not have any intentions of supporting `pub run` where we are unable to `pub get`. We probably _can_ add path overrides in the pubspec and make `pub get` work which would solve the other issues.

[2018-06-13 18:11] #30687 closed

[2018-06-13 18:18] kmillikin commented on #33399
@jensjoha can you see what this might be from the location of the crash?

[2018-06-13 18:23] #31046 closed

[2018-06-13 18:51] robertmuth commented on #27180
(caveat someone involved in the webgl standards committee should probably chime in)
My understanding is this:

There is database of 16bit constants managed by "the khronos group".
If a constant has the same name it also has the same value regardless where it is used, e.g.
 webgl, opengl, webgl2, opengl-es, etc.
There should be not clashes between webgl, webgl2.

Because the dart SDK was lacking ce

[2018-06-13 19:23] stereotype441 opened #33439 "No error reported when a const makes explicit use of a type parameter"
Consider the following code:
[code]

The VM, dart2js, and the common front end agree that this code has an error at the line marked `(1)`, because a constant expression cannot refer to type variables in enclosing scopes.

The analyzer reports no error.

[2018-06-13 19:30] sigmundch commented on #33439
DBC

I should note that we have run into this a few times with internal customers when defining default values. The most subtle case has been when using a generic function, which gets instantiated with a class type variable implicitly. You can find examples in https://github.com/dart-lang/sdk/issues/33438

[2018-06-13 20:03] natebosch commented on #31606
This also impacts the shell in emacs, as well as the output from Travis CI, which both support at least the common escape codes like colors but are reported not to.

[2018-06-13 20:04] DanTup commented on #32952
Maintaining path overrides in all the pubspecs in the SDK repo seems like a lot of effort (esp. given the setup isn't "wrong" and it's only to satisfy my desire to have the tests work in editors).

Does `package:test` have an API I could use from a Dart script that might allow me to run the "VM way" but using the JSON reporter? (or can we re-discuss something like an env variable to change the rep

[2018-06-13 20:07] natebosch commented on #32952
You could maybe use the full test frontend by manually finding the path to an entrypoint (or a snapshot of it) and executing it yourself.

`dart $SDK_ROOT/third_party/pkg/test/bin/test.dart path/to/file_test.dart`

[2018-06-13 20:09] jakemac53 commented on #32952
Note that you can actually invoke the dart vm with a `package:` uri, so you can do:

[code]

[2018-06-13 20:20] DanTup commented on #32952
Oooh, that seems like it might work. I could walk up the tree and find the `.packages` myself and then invoke it this way. I will do some more testing tomorrow, thanks both! 👍

(I think we kinda derailed this thread, sorry @MichaelRFairhurst!)

[2018-06-13 20:27] stereotype441 opened #33440 "Confusing follow-on errors when a const makes explicit use of a type parameter"
Related to #33439, sometimes the analyzer produces strange and surprising follow-on errors when a const makes explicit use of a type parameter.  For example, consider this code from the regression test for #26141:

[code]

This code is invalid due to the fact that it makes use of type parameters in const expressions at `(1)`, `(2)`, `(3)`, `(4)`, and `(5)`.  Those errors are not reported due to #3

[2018-06-13 20:29] DanTup commented on #32952
Yeah, I wasn't advocating abandoning this issue; but it might not be blocking for me if the above works (I really want to merge and ship my test stuff; not having a visual test list is a common complaint) :-)

[2018-06-13 20:34] alexmarkov commented on #33427
It looks like these nits are suppressed by https://github.com/dart-lang/sdk/commit/3d98cce456bfe7fb989f54cebc05360391ebc1d2.

[2018-06-13 20:34] #33427 closed

[2018-06-13 21:14] stereotype441 opened #33441 "Summary representation of constants does not reflect the results of type inference"
Consider the following code:
[code]

When summarizing the above file, the analyzer records the static type of the variables `x`, `y`, and `z` (all of which are `Object`), but it does not record the inferred type arguments of their initializer expressions.  As a result, if another build target attempts to make use of the summary and access the constant values of `x`, `y`, and `z`, it will see value

[2018-06-13 21:20] stereotype441 commented on #33441
After further searching, I see that #32290 partially overlaps with this issue (it only covers the case of `x` in the above example).

[2018-06-13 21:28] nex3 commented on #28066
Friendly ping! We're getting more and more users itching to use the Dart Sass AST, and this is still a blocking issue.

[2018-06-13 21:47] werner-j commented on #33437
@matanlurey looks like it's https://github.com/dart-lang/stagehand/tree/master/templates/web-angular

[2018-06-13 21:53] #33412 closed

[2018-06-13 21:54] matanlurey commented on #33437
DartDevCompiler, as you can tell by the name, is for development. It is the only incremental build compiler. You can always use the production compiler, Dart2JS, but re-builds will be slow. You can use that with the "release" option for build_runner:

[code]

/cc @natebosch

[2018-06-13 22:12] stereotype441 commented on #33304
Partial fix for the first issue is here: https://dart-review.googlesource.com/#/c/sdk/+/60203.  Note that the summary format still needs to be extended to allow constants referenced via summaries to have proper list and map types (see #33441).

[2018-06-13 22:16] #32633 closed

[2018-06-13 22:17] natebosch commented on #33437
@vsmenon @jmesserly - are we aware of issues with high memory usage with small sample apps with DDC?

[2018-06-13 22:22] chalin commented on #33430
FYI, it is still crashing under 2-dev.62, see [this Travis log](https://travis-ci.org/dart-lang/site-www/jobs/391980079).

[2018-06-13 22:55] jmesserly commented on #33437
I'm not aware of any Safari specific memory issues. It is possible DDC is using some feature or pattern that is not well optimized in Safari, but without a detailed profile it's hard to say. Given that memory usage is fine in the other two browsers, it suggests a browser issues.

[2018-06-13 23:05] matanlurey commented on #33437
@werner-j Can you supply profile information?

[2018-06-14 00:29] vsmenon commented on #33200
@efortuna - would this be covered by the mapping you are looking at?

[2018-06-14 00:37] danchintz commented on #32922
For me it works only if for local files I leave out the `package:`, so all of my local files I just do `import ...` leaving out package: and it works but it definitely seems like a bug

[2018-06-14 01:56] nex3 commented on #33257
Sass's speed regresses considerably in Dart 2 mode as well. Here's some data, collected using [the same techniques](https://github.com/sass/dart-sass/blob/master/perf.md) we use to collect cross-implementation performance data, tested against Dart 2.0.0-dev.62.0. Note that due to #28617, we have live users running against both script and application snapshots.

## Small Plain SCSS

Running on a fi

[2018-06-14 03:04] pq opened #57722 "Update lint docs to call out associated Effective Dart rules"
Some were done, others weren't.  New rules have come and some links have been updated.  Net-net: it'd be great to do an audit and cleanup.

See also: https://github.com/dart-lang/site-www/issues/921

[2018-06-14 03:10] #57287 closed

[2018-06-14 03:14] zoechi commented on #32922
@kosta @danchintz might be a different problem. I'd suggest creating a new issue with a reproduction project, Dart version, ... if possible.

[2018-06-14 06:18] fyzs-n9001 opened #33442 "Dart Analyzer ErrorEncountered a Dart Analysis Server error"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA AI-173.4819257`
- `2.0.0-edge.c080951d45e79cd25df98036c4be835b284a269c`
- `AI-173.4819257, JRE 1.8.0_152-release-1024-b02x64 JetBrains s.r.o, OS Windows 7(amd64) v6.1 Service Pack 1, screens 1920x1080`

# Exception

Please append the contents of:
file://C:\Users\admin\AppData\Local\Temp\report14609.txt

[code]

[2018-06-14 06:52] DanTup commented on #32952
Bah, that didn't work either. I guess because test's dependencies aren't in the SDK's packages file:

[code]

I guess when running directly via dart (bypassing the runner) it doesn't have these dependencies (if it does, I don't see how it's resolving them).

[2018-06-14 06:56] StijnArnauts opened #33443 "Class 'GenericFunctionTypeImpl' has no instance getter 'name'."
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.5281.24`
- `2.0.0-dev.58.0`
- `IU-181.5281.24, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1536x864, 1920x1080`

# Exception

[code]

[code]

[2018-06-14 07:28] werner-j commented on #33437
@matanlurey - could you please be a bit more specific, which kind of information you're looking for and whether there's an automated way of creating that? If you're looking for information about the machine, that is as follows:

* iMac 27"
* Intel Core i7 2,93GHz
* 24GB RAM
* 2.25TB Fusion Drive (>2TB free)
* macOS High Sierra 10.13.5
* Safari Version 11.1.1 (13605.2.8)

I will try the production

[2018-06-14 07:32] werner-j commented on #33437
Okay - when serving via `pub run build_runner serve --release` there is no issue with Safari and memory consumption is fine. So it seems a DDC related problem. Thanks for the help.

[2018-06-14 07:35] jensjoha commented on #33399
Nope. And I find the whole stacktrace weird:
* BuildSuperMethodInvocation doesn't call Object::null
* PushArgument doesn't call BuildSuperMethodInvocation
* None of the StreamingFlowGraphBuilder stuff is called from "floatscan.c" (a file from the android ndk).

I don't think we're going anywhere with this without a reproduction.

[2018-06-14 10:09] eernstg opened #33444 "Implement type alias parameter variance for super-bounded types"
As of commit bfa8be887a980cba385fbfad2b9a129a4c7e3eb4, and following up on the discussion in #33261, each parameter in a parameterized type alias has an associated inferred variance (which classifies that parameter as covariant, contravariant, invariant, or neither of those).

The variance of a type alias parameter is used in the determination of whether any given type is super-bounded, in that on

[2018-06-14 10:11] eernstg opened #33445 "Common front end: Implement type alias parameter variance for super-bounded types"
This is the CFE specific issue for #33444, which has the details.

[2018-06-14 10:11] eernstg opened #33446 "Analyzer: Implement type alias parameter variance for super-bounded types"
This is the analyzer specific issue for #33444, which has the details.

[2018-06-14 10:19] eernstg commented on #33261
Closing: Given that this has been placed as an area-language issue, said commit bfa8be887a980cba385fbfad2b9a129a4c7e3eb4 completes the effort.

I've created a new meta-issue in order to get it implemented: #33444. With that in place, `F<dynamic>` in the [example program](https://github.com/dart-lang/sdk/issues/33261#issue-327217128) will be a compile-time error, so the different elements of that p

[2018-06-14 10:19] #33261 closed

[2018-06-14 10:59] zolotyh opened #33447 "Analyzer doesn't catch type errors and it's throwing errors in DDC runtime in the browser."
I just created a [repo for the demo](https://github.com/zolotyh/dart_example).  Here is the code:

[code]

PS: I know how to fix it. But it's very inconvenient to find such errors in runtime. It would be awesome if you tell me how to see such errors in IDE (maybe analysis options or etc).

PS1:  Code is working on DartVM

[Errors in browser](https://www.evernote.com/l/ABKcV6-N8IpMZpV4BzvqOh6ZG6mUt

[2018-06-14 11:36] eernstg commented on #33447
It is well-known that the covariance rule for generic classes that Dart uses is not sound. The situation is the same as it has always been with arrays in Java and [C#](https://blogs.msdn.microsoft.com/ericlippert/2007/10/17/covariance-and-contravariance-in-c-part-two-array-covariance/). It has been well-documented at least since [this paper from 1989](http://www.cs.utexas.edu/~wcook/papers/CookEif

[2018-06-14 11:36] #33447 closed

[2018-06-14 11:58] eernstg commented on #33218
I've created [this CL](https://dart-review.googlesource.com/c/sdk/+/60240), which is aimed at handling funny combinations like "return type `Future<int>`, got a `Future<Object>`" and `MyFuture<C>` above) in a meaningful manner.

[2018-06-14 12:13] eernstg opened #33448 "dartLangSpec.tex: Remove the phrase "the built-in class""
The language specification contains at least 18 occurrences of `the built-in class \code{Object}` and similar phrases indicating that the name `\code{Object}` cannot resolve to, say, a local variable or anything else, it will actually denote said predefined/built-in class.

We should say once and for all that we assume that such "well-known" names (maybe list them there, too?) are assumed to resol

[2018-06-14 12:39] nickclmb commented on #33447
Hi @eernstg
It is the ambiguous behavior in dartVM and dartdevc, isn't it?
Developers should expect that same code will work exactly the same.

You mentioned c#, and for same example it shows compile time error: https://dotnetfiddle.net/b5jjoo , so can we expect the same from dart analyzer? Because it really distracting to find such errors in runtime, because both analyzer and dartdevc compiler sa

[2018-06-14 12:44] eernstg commented on #33213
Closing: [Said CL](https://dart-review.googlesource.com/c/sdk/+/56487) has now been landed as commit 8dca855de113f42167a057971b1a948b56b9057c.

[2018-06-14 12:44] #33213 closed

[2018-06-14 12:58] peter-ahe-google opened #33449 "Mixin transformer doesn't update parent pointer of annotations"
I think the mixin transformer has a problem with annotations as the program below fails to verify after mixin transformation.

[code]

[2018-06-14 12:59] peter-ahe-google commented on #33449
Please note that the problem seems to only be an issue for abstract methods.

[2018-06-14 13:10] eernstg commented on #33447
The execution of the [example program](https://github.com/dart-lang/sdk/issues/33447#issue-332353082) must raise a dynamic error when an attempt is made to add a `new Animal()` to a `List<Cat>` in Dart 2. However, it is possible that the VM execution which is mentioned was performed using Dart 1 semantics (use `dart --preview-dart-2` to ensure that you get Dart 2 semantics). Apart from that there

[2018-06-14 13:38] #33185 closed

[2018-06-14 13:42] jakemac53 commented on #31500
Closing since pub build no longer exists in dart 2.

[2018-06-14 13:42] #31500 closed

[2018-06-14 13:46] zolotyh commented on #33447
@eernstg

Do we have a theoretical possibility to track such errors statically? (analyzer plugin or something else). We trying to migrate a huge application from dart 1.24.3 to dart 2.0 + DDC. And it's really hard to find errors in runtime on working application.

[2018-06-14 14:17] eernstg commented on #33447
Sure, it is not difficult to come up with a sound set of rules (e.g., Java or C# generics are both sound). One way to do that is to say that `C<A>` and `C<B>` are simply unrelated types even when `A` is a subtype of `B` (this is invariance), another one is to say that you can only use covariant type variables in certain locations (like Scala, C#), or the compiler will prevent usage of members whos

[2018-06-14 14:21] jakemac53 commented on #32952
Ya, that makes sense. I don't know that its worth pulling these dependencies into the sdk just for this use case either (then we have to keep them up to date etc)....

[2018-06-14 14:35] eernstg commented on #33447
One more comment about covariant generics&mdash;I think there is a general software engineering structure that tends to help managing covariance such that you don't get these run-time errors:

Many complex objects are created by an "owner" and populated during an initialization phase, and during the rest of their lifetime they are used in client code in an exclusively (or at least predominantly) r

[2018-06-14 14:38] DanTup commented on #32952
Yeah, that doesn't seem like a great solution. There are things I could try (like writing a pubspec with the same version of test as is in the users `.packages`, `pub get`ing and then running it from there) but it's getting messy. Given the SDKs layout seems like it's generally supported (just not for `pub`) I'd really like to support it, even if users have to opt-in to it running in a specific wa

[2018-06-14 14:45] long1eu opened #33450 "Bad state: No element"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA 182.2757.3`
- `2.0.0-dev.56.0`
- `IU-182.2757.3, JRE 1.8.0_152-release-1226-b7x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.5 unknown, screens 1920x1200, 1920x1200`

# Exception

Please append the contents of:
file:///private/var/folders/
[report1.txt](https://github.com/dart-lang/sdk/files/2102787/report1.txt)
ky/g0rzgjmj7l54b8kc89

[2018-06-14 15:13] jakemac53 commented on #32952
@DanTup

One issue is that the json reporter isn't even imported by the default package:test import, so its not available at all when running the test directly. We could import it - but that would actually hurt compilation times and output sizes for all users to at least some degree and might introduce similar dependency issues, just to support a very narrow use case.

Another issue is that runnin

[2018-06-14 15:15] bwilkerson commented on #28066
I strongly believe that users should not be required to annotate code in `src` that is not intended to be public, but should instead annotate the API that _is_ intended to be public. For larger packages I expect that most of the code in `src` is intended to be private, and users should _not_ be required to annotate the majority of their code.

Also, I don't understand the purpose of allowing membe

[2018-06-14 15:38] scheglov commented on #33442
https://github.com/dart-lang/sdk/issues/33387

[2018-06-14 15:38] #33442 closed

[2018-06-14 15:44] DanTup commented on #32952
@jakemac53 Thanks for the extra info; it doesn't sound unreasonable. Since it doesn't seem like there's an easy solution here, I might ship my test stuff as flutter-only for now while I think more about this. I don't want it to rot and the vast majority of users are flutter app devs.

I might ping you for your opinion on any ideas I come up with in the near future though!

[2018-06-14 15:50] jakemac53 commented on #32952
It shouldn't be necessary to block completely - this will still work for typical users.

You could for instance just check for a `pubspec.lock` or something and only enable the feature if that exists?

This is very similar to the pub get on save feature which also wouldn't do the right thing for the sdk or similar use case.

[2018-06-14 15:52] grouma commented on #32952
One other issue is that if you use a regular platform variable then you will need to import from `dart:io`. This code does not only run on the VM but also runs in the browser. That will cause issues, especially with our internal platform work. Of course one alternative is to use `bool.fromEnvironment`.

[2018-06-14 15:54] jakemac53 commented on #32952
Oh right!! I hadn't even though about that aspect, ya we definitely can't do this.

[2018-06-14 15:55] grouma commented on #32952
I'm not opposed to copying in the `pubspec.yaml` whenever we pull in a package. The `pubspec.yaml` will not be used besides for testing. Doesn't seem like much of an issue in my opinion.

[2018-06-14 15:56] jakemac53 commented on #32952
We still have the missing dependencies issue though.

[2018-06-14 15:59] ericwindmill opened #33451 "Dart Analyzer broken after upgrade"
Other Info:
I upgraded my Flutter package and Intellij / plugins yesterday. This is the first time I've really worked since then, so it could be a result of either of those things.

All the Dart tools in Intellij are failing intermitently (analyzer, cmd+clicking, alt+enter)

Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-173.4674.33`
- `2.0.0-edge.0d5cf900b021bf5c9fa593ffa12b15

[2018-06-14 16:00] grouma commented on #32952
We need to just author the `pubspec.yaml` once with dependency overrides. It will be a little bit of a pain to write but should be easy to keep up to date. @DanTup I'm also in favor of releasing the feature even though it doesn't work in the SDK. As @jakemac53 mentioned it should work for everybody else.

[2018-06-14 16:01] kmillikin opened #33452 "Incorrectly formatted error message from Fasta"
When compiling a constructor that doesn't exist, the error message uses a mismatched character offset and length:

[code]

Gives:

[code]
It's using the offset of the `C` and the length of `wrongOffset`.

[2018-06-14 16:05] bwilkerson commented on #33451
@scheglov

[2018-06-14 16:09] scheglov commented on #33451
https://github.com/dart-lang/sdk/issues/33387

Try to remove `/Users/<user>/.dartServer/.analysis-driver`.

[2018-06-14 16:09] #33451 closed

[2018-06-14 16:11] ericwindmill commented on #33451
I've done that once this morning based on another ticket, and it 'worked' for a minute. Trying again.

[2018-06-14 16:14] alexmarkov opened #33453 "Crash in precompiler: runtime/vm/compiler/backend/flow_graph_compiler.cc: 709: error: expected: bitmap->Length() <= (spill_area_size + live_registers_size)"
[code]

[code]

This crash starts happening after c3b59399659804ee27629c285b1b630283cef221.

[2018-06-14 16:20] alexmarkov commented on #33374
@athomas, is it hard to modify configuration of old bots? While we're waiting for migration to finish, we're missing test coverage and not detecting bugs like https://github.com/dart-lang/sdk/issues/33453.

[2018-06-14 16:44] Hixie commented on #33399
Maybe I got the wrong engine when pulling the stack trace. This was a flake on some google-internal test, I've no idea how to reproduce. If the stack isn't useful feel free to close.

[2018-06-14 16:55] kmillikin commented on #33285
We don't do any const evaluation using the wrong semantics because we don't do any const evaluation.  Eventually we should, and we're definitely aware that the different platforms have different number semantics.

[2018-06-14 16:55] #33285 closed

[2018-06-14 16:57] chalin opened #57723 "Lint rule for `typedef Foo<T> = Function<T>(T x)`"
From https://github.com/dart-lang/sdk/issues/33165#issuecomment-397356116:

Consider adding a lint rule for the following situation:

[code]

cc @eernstg @leafpetersen @kevmoo @kwalrath

_Maybe_ we also need a lint for the following case, but I'd consider it a distinct issue:

[code]

(We currently don't complain about `class C<T> {}` so maybe we shouldn't complain about a typedef that doesn't use

[2018-06-14 17:14] vsmenon commented on #33377
Is there a conclusion here?  We need to close this soon.  :-)

[2018-06-14 17:17] vsmenon commented on #33377
Do we need to change FE behavior (during constants)?

Do we need to change BE behavior?

[2018-06-14 17:19] leafpetersen commented on #33377
I believe there are no changes required.  The implementations match the specification, and there are no plans to change the specification.

[2018-06-14 17:19] #33377 closed

[2018-06-14 17:23] vsmenon commented on #33330
What's the best thing to do for this milestone?  I'd like to converge DDC and Dart2JS at a minimum.  We can:
1. Land Jenny's CL
2. Change dart2js (fyi @sigmundch - sounds like @jmesserly could do this?) and file a bug on the VM for a later milestone
3. Change dart2js and the VM (not sure we have bandwidth for the latter - fyi @a-siva )

[2018-06-14 17:57] sigmundch opened #33454 "dart2js: enable dart2 by default"
* [x] add a `--no-preview-dart-2` flag to temporarily opt-out
* [x] switch the default behavior of dart2js in the sdk.
* [x] increase test coverage of Dart 2.0 in the bots
  * [x] d8 bots running Dart2
  * [x] chrome bots running Dart2
  * [x] ff bots running Dart2
  * [x] safari bots running Dart2
  * [ ] ie bots running Dart2
* [x] update .status files:
  * [x] d8
  * [x] chrome
  * [x] ff
  * [

[2018-06-14 18:00] mraleph commented on #33257
Thanks for trying this out @nex3 I will make sure to include Dart SASS in the set of tools I am benchmarking against.

[2018-06-14 18:03] mkustermann commented on #33453
This assertion might be due to pushed slow path arguments, since those are [added to the bitmap](https://github.com/dart-lang/sdk/blob/2bc9025b/runtime/vm/compiler/backend/flow_graph_compiler.cc#L751) but [not included](https://github.com/dart-lang/sdk/blob/2bc9025b/runtime/vm/compiler/backend/flow_graph_compiler.cc#L709) in the assertion.

[2018-06-14 18:03] ericwindmill opened #33455 "Dart Analyzer massive memory leak"
I posted earlier via issue in #33451.
I was referred to #33387.

Taking the advice given in those files solved the issue for about 45 minutes, but there is still an issue.

----

Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-173.4674.33`
- `2.0.0-edge.0d5cf900b021bf5c9fa593ffa12b15bcd1cc5fe0`
- `IU-173.4674.33, JRE 1.8.0_152-release-1024-b15x64 JetBrains s.r.o, OS Mac OS X(x86

[2018-06-14 18:29] natebosch commented on #28066
I agree that for _larger_ packages there is likely more internal than external code, for smaller packages and utility packages I think that reverses. Even given the noise in the small package case I would prefer to positively annotate the stuff that I intend to be exported than to negatively annotate the stuff that is meant to be private. My reasoning is that if I forget to mark with `@public` (`@

[2018-06-14 18:30] jmesserly commented on #33285
yeah, FWIW, dev_compiler overrides kernel's ConstantEvaluator class, in particular evaluateBinaryNumericOperation and canonicalize, so we can handle JS number semantics. It's not the cleanest approach but it's working alright. (we needed to override it anyway to handle "outline summaries". They make constant fields look like their values are `null`).

[2018-06-14 18:44] jmesserly opened #33456 "need a warning/hint for using the same type parameter on both sides of a typedef"
This is a common pitfall as people try to migrate typedefs to the new syntax:
[code]
Note that it's using `<T>` on both sides. That's equivalent to:
[code]
It's almost certainly not what the user intended. It leads to a lot of confusion when they get type errors about generic function subtyping. The user's intent in this case was:
[code]

CC @leafpetersen -- thoughts on priority? I've seen a few f

[2018-06-14 19:28] natebosch commented on #24086
Have we had any further issues with this?

[2018-06-14 19:45] MichaelRFairhurst commented on #33221
Glad I ran further tests.

Found yet another issue related to type parameters. Haven't yet distilled the error I'm seeing, but I'm getting `A value of type 'OpaqueToken<T>' can't be assigned to a variable of type 'OpaqueToken<String>'` in something like the following case:

[code]

Which is very, very strange. Working to distill this now.

[2018-06-14 19:46] matanlurey commented on #33221
Thanks!

[2018-06-14 19:51] chalin opened #33457 "Dart 2-dev.61: Analysis server reports "Target of URI doesn't exist" when CLI analyzer is happy"
## Environment

Dart VM version: **2.0.0-dev.61.0** (Mon Jun 11 15:46:09 2018 +0200) on "macos_x64"

## Steps to reproduce

1. `git clone https://github.com/dart-lang/site-www.git`
2. `cd site-www/examples/util`
3. `pub upgrade`
4. `dartanalyzer --preview-dart-2 .` # will report: No issues found!
5. Open the same project in VS Code or WebStorm.

## Expected result

The IDE should report the same a

[2018-06-14 20:00] leafpetersen commented on #33456
Also filed as a linter request here: https://github.com/dart-lang/linter/issues/1027 .  Not sure which is most appropriate.

[2018-06-14 20:03] chalin commented on #33457
In another project I'm noticing that `ignore_for_file` and `ignore` directives are being ignored by the analysis server.

[2018-06-14 20:23] dgrove commented on #31427
Do we need more work for Dart2Stable? (My impression is no, in which case we could move this out of the milestone).

[2018-06-14 20:34] MichaelRFairhurst commented on #33221
OK, digging further, that was a false alarm.

I am not extremely confident that this will work -- assuming you use --preview-dart-2 of course!

[2018-06-14 20:34] #33221 closed

[2018-06-14 21:08] dgrove commented on #33351
Is this on target for Dart2Stable?

[2018-06-14 21:10] dgrove commented on #33283
Assigning to @leafpetersen - please reassign if needed.

[2018-06-14 21:13] kostaa commented on #32922
@zoechi @kevmoo - I have put together a simple self-explanatory app to demonstrate the issue.

`MyApp` class contains a static property called `staticProperty` that is first set to 'Initial Value' and then changed in the `MyApp::build` to 'Changed Value' and printed out.

[code]

Which prints out:
I/flutter ( 5285): (1) MyApp::build [Initial Value]
I/flutter ( 5285): (2) MyApp::build [Changed Valu

[2018-06-14 21:17] dgrove commented on #30384
Can this issue be closed at this point?

[2018-06-14 21:17] dgrove commented on #31730
Given that this is P3, can we remove this from the milestone?

[2018-06-14 21:19] kevmoo commented on #30384
Should we leave it open to actually remove the APIs? They are just
deprecated + noop now...

On Thu, Jun 14, 2018 at 2:17 PM Dan Grove <notifications@github.com> wrote:

[2018-06-14 21:27] dgrove commented on #32794
Since this is P3,  should this be moved from the milestone?

[2018-06-14 21:28] dgrove commented on #32681
This should be moved from the milestone, I believe. /cc @kmillikin .

[2018-06-14 21:35] nex3 commented on #28066
I strongly disagree with this. It's a very common pattern, explicitly encouraged by the pub documentation, for packages intended for user consumption to define essentially all of their code beneath `src/` and export it from a single library under `lib/`. I strongly suspect that if we were to do a survey of packages on pub.dartlang.org, we'd find that the substantial majority of files under `src/`

[2018-06-14 21:48] bwilkerson commented on #33456
I think it should be a lint. It isn't wrong to use the same name in both places (as in, the spec allows it), but some users will want the extra checking.

[2018-06-14 21:59] matanlurey commented on #28066
I think it's clear at this point we should schedule something (offline) to discuss.

I recommend someone from the analyzer team, language team, and potentially @srawlins.

Thanks!

[2018-06-14 22:01] nex3 commented on #28066
As a major stakeholder for this feature, I'd like to be involved in discussions of it.

[2018-06-14 22:01] matanlurey commented on #28066
Sure, did not mean to exclude, I just mean the potential implementors need to meet up.

[2018-06-14 22:02] srawlins opened #33459 "nSM Forwarding from Mixin between VM and dart2js disagree - VM loses default values"
Not sure what tool is in the wrong here. Here's a [DartPad](https://dartpad.dartlang.org/9c8d2f39e29eed151108afa2c149ca5c) - dart2js is now running with `--preview-dart-2`.

Here's the text:

[code]

In the DartVM this blows up with `--preview-dart-2` in Dart dev.61:

[code]

But in dart2js its OK:

[code]

This is causing https://github.com/google/file.dart/issues/88.

This might be related to ht

[2018-06-14 22:03] srawlins commented on #33459
CC @jmesserly @keertip @lrhn @tvolkert

[2018-06-14 22:15] alorenzen opened #33460 "pub global activate packages don't work with --preview-dart-2"
Related to https://github.com/dart-lang/sdk/issues/32188
If I run
`DART_VM_OPTIONS=--preview-dart-2 pub global run webdev build`, then the dart2 flag is passed properly, and I can use dart2 features like optional new/const.

However, if I run
[code]
then the flag is not passed properly to the dart vm, so we get failures with optional new/const.

[2018-06-14 22:17] jmesserly commented on #33459
Yeah this looks like a CFE/Kernel issue. The default arg is getting dropped from the no such method forwarder:
[code]
Changing the example to use `class B extends BestMixinEvar implements A` instead of a mixin does not work either:
[code]
Adding an abstract method `a({followLinks: true});` to `B` fixes it in CFE:
[code]

[2018-06-14 22:33] natebosch commented on #32952
null`

Looks like we _don't_ have a valid `.packages` for `package:test` so the premise of searching up for `.packages` is invalid anyway. Either that `.packages` file will need to be made valid for `package:test` (which could mean pulling in new deps) and we'll can run with one of the strategies listed above (not `pub run test`), or we'll need a different `.packages` specifically for the test run

[2018-06-14 22:47] dgrove commented on #33225
Tentatively assigning to @eernstg

[2018-06-14 22:52] natebosch commented on #28066
How would this be breaking? My understanding is we're only talking about static analysis which would be opt-in.

I think some of the disagreement in this thread is stemming from the fact that we're talking about different requests. Could we maybe rescope this thread to the original request and file a new issue for adding new privacy modifiers including package private?

As a reminder the original

[2018-06-14 23:04] nex3 commented on #28066
The original proposed specification says that the `@internal` annotation would

These are effectively the semantics I want for package-private members. I'm worried that if we consider these two requests as orthogonal, we'll end up with two annotations with (at least) confusingly similar descriptions.

Put another way, both Matan and I want to express the idea "this thing should only be used in thi

[2018-06-14 23:17] aartbik commented on #33205
The i's to dot:
  (1) intrinsify/inline set indexed for 64-bit
  (2) avoid retry-compilation for "view" on 64-bit int and f32/f64
  (3) finalize story on other platforms, 32-bit

[2018-06-14 23:31] lowagner commented on #21553
I'm writing a flutter app with some tests, and ran into this issue with the switch case, using class inheritance...

i would like to do something like this:
[code]
however, the block does not recognize that x must be Child1 inside of that case, so it errors on accessing x.value.  Strangely enough, it works if i put extra logic in the block:
[code]
is there a way Dart can be smarter about inferring

[2018-06-14 23:40] jmesserly opened #33462 "dartdevc source column is a little off for implicit-new constructors"
after https://dart-review.googlesource.com/c/sdk/+/60402 lands, the expected stack trace column in
stacktrace_testfiles/throw_in_constructor looks like:
[code]
the DDK location looks fine but not the DDC location. What I think is going on: hover support conflicts with stack traces. The hover span for `Class` means we can't mark the start of `Class` in Dart corresponding to `new lib.Class.new` in J

[2018-06-14 23:52] dgrove commented on #33118
I don't believe this needs to be fixed for Dart2Stable. @a-siva @matanlurey what are your thoughts?

[2018-06-14 23:53] dgrove commented on #32722
Is this actually needed for Dart2Stable? @kmillikin

[2018-06-14 23:54] dgrove commented on #32228
What is the concrete work that needs to happen here, @leafpetersen @bwilkerson ?

[2018-06-14 23:56] matanlurey commented on #33118
If deferred loading no longer works in the Dart VM, I think just documentation as such is probably fine:

... and enough to close this issue. Thoughts?

[2018-06-14 23:57] matanlurey commented on #33118
The other option is the VM failing to compile or issuing a warning is deferred loading is used. I'd prefer that, but I'd understand if its not feasible.

[2018-06-14 23:59] dgrove commented on #33118
Let's go with documentation for Dart2Stable. /cc @kwalrath Can you add this documentation? Once that's done, we'll move the actual changes to the VM out of Dart2Stable.

[2018-06-15 00:04] dgrove commented on #31027
@stereotype441 Is this required for Dart2Stable?

[2018-06-15 00:05] dgrove commented on #30273
@sigmundch any updates on this? Can we defer the remaining work past Dart2Stable?

[2018-06-15 00:10] sigmundch commented on #30273
No updates from my end - I'm no longer actively working on it and left it for the FE team to do the final steps.

Missing features are about statically checking for certain kind of errors, so if we don't want to introduce new errors past Dart2Stable, then it might be relevant to do it sooner. If we are ok reintroducing errors in a later release, then it can be done after Dart2Stable.

[2018-06-15 00:17] sigmundch commented on #33118
To be honest, I'd prefer that we don't go the documentation route: we want consistent semantics, and doing what the Dart1VM seems totally reasonable to me.

I thought that the deferred loading support we added to the FE for dart2js would be practically the same than what the VM needs to implement its checks. In particular, the FE generates expressions for loadLibrary and checkLibraryIsLoaded whene

[2018-06-15 00:19] dgrove commented on #31813
dart:io is complete. What is remaining?

[2018-06-15 00:20] dgrove commented on #29836
Is this required for Dart2Stable, @a-siva ?

[2018-06-15 02:28] #20585 closed

[2018-06-15 02:28] #31886 closed

[2018-06-15 02:28] #33147 closed

[2018-06-15 02:28] #33178 closed

[2018-06-15 02:59] matanlurey commented on #30921
Good news. AngularDart has verified, mostly thanks to @MichaelRFairhurst, that optional new/const works at the latest dev SDKs, including in metadata annotations. Here is a sample PR where we removed it from all example applications: https://github.com/dart-lang/angular/pull/1408.

[2018-06-15 03:53] leonsenft opened #33463 "Analyzer crash: Concurrent modification during iteration"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.4203.550`
- `2.0.0-dev.62.0`
- `IU-181.4203.550, JRE 1.8.0_152-release-1136-b20x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.5 unknown, screens 1440x900  Retina`

# Exception

Please append the contents of:
file:///private/var/folders/zr/lnfchxms55s5d2_1xc5f47_w00d63q/T/report.txt

[code]

[2018-06-15 04:15] bwilkerson commented on #33463
@scheglov

[2018-06-15 06:49] #32449 closed

[2018-06-15 08:15] zoechi opened #33464 "autocompletion doesn't work on map literals"
Thank you for taking the time to file an issue!

Works for `List`

![image](https://user-images.githubusercontent.com/405837/41457742-dd696d58-7084-11e8-8844-80f9a4d21276.png)

but does not for `Map`

![image](https://user-images.githubusercontent.com/405837/41457757-eab29c3c-7084-11e8-94fa-fe6ebea1e6ee.png)

Dart VM version: 2.0.0-dev.62.0 (Wed Jun 13 16:50:22 2018 +0200) on "macos_x64"

[2018-06-15 08:48] chalin commented on #33430
Just keeping y'all up-to-date: it is still crashing under 2-dev.63.

[2018-06-15 09:13] lrhn commented on #32585
And again.

[2018-06-15 11:21] lrhn commented on #32228
The analyzer needs to consider `dynamic` a normal (built-in) identifier in all contexts, and ensure that dart:core exports this identifier as a reference to the dynamic type.

Example code:
[code]
This code runs correctly on the current VM and dart2js, with and without `--preview-dart-2`.
It gives the following errors in the analyzer:

[2018-06-15 11:24] mkustermann commented on #33285
@jmesserly @leafpetersen

The kernel2kernel constant evaluator in `package:kernel` was written by me. Currently we only use it in our AOT compilation in the VM (and hopefully in the JIT in the non too-distant future as well).

The front-end itself doesn't use it (that was what @kmillikin is referring to), so we run it as an extra transformation afterwards. It surfaces also compile-time errors whic

[2018-06-15 11:32] lrhn commented on #33351
Still gives the wrong result:
[code]
fails with
[code]
(see `corelib_2/int_try_parse_test.dart` when I land that line).

[2018-06-15 11:39] mkustermann commented on #32228
This problem is in fact **causing ongoing issues** when rolling `package:googleapis` into google3 because our API generator generates prefix-imported `import "dart:core" as core;` and uses `core.dynamic` (which is perfectly valid).

We have to **manually edit** the code we check into google3 to make the presubmit checks pass.

[2018-06-15 12:28] jodinathan commented on #30921
great news indeed!

Atenciosamente,

Jonathan Rezende

[2018-06-15 13:12] lrhn commented on #31813
Removal of usages in packages.
I have the non-dart:io constants removed from all SDK package dependencies. Now it's the rest of the world.
Google code can remove the constants at any time, but it'll be easier if we have a compilable CL for the SDK which removes the declarations.

[2018-06-15 13:23] zoechi commented on #32922
@kostaa
I think it's the same issue.
Just don't import `lib/main.dart` anywhere.

[2018-06-15 13:46] lrhn commented on #32922
Agree, it's a recurring problem. It was always a problem, but it's intensified since Flutter put the main file into `lib` (usually pub packages had a main file in `bin` or `web`, which should then not import things in `lib` using a relative path, but it's much easier to use relative paths when you are right next to the file).

[2018-06-15 13:54] jakemac53 commented on #32952
Note also that the `pub run` use case is not covered by the spec anyways, the `.packages` file is only supposed to be used to resolve `package:` uris - which `pub run` is explicitly not doing. It is running binaries from the `bin` directory of a package which are only accessible via absolute/relative uri.

[2018-06-15 14:32] zoechi commented on #32922
@lrhn @kostaa imports `package:my_package/main.dart` from `package:mypackage/my_page.dart`,
(no relative imports, but imports entry-point file from another file)
but that also seems to cause these troubles.

[2018-06-15 14:47] bwilkerson commented on #32952
Then why is the `.packages` file in a parent directory not being found when `pub run` is being used?

[2018-06-15 15:28] #32681 closed

[2018-06-15 15:32] dgrove commented on #30921
@kwalrath is the docs part of this complete?

[2018-06-15 15:49] DanTup commented on #32952
My concern isn't just about the test tree not working (although I really would like to support it), it's also making sure that the ability to actually debug tests we have today doesn't break. Today you can press F5 in any test script and it just works (because we run via `dart`) - I can't just send them all through `pub run test` if some won't work (based on comments above, it seems like it's vali

[2018-06-15 15:49] jakemac53 commented on #32952
I am going to close this issue as it got derailed from the original issue, @MichaelRFairhurst can you please re-open?

@DanTup please open a new issue about how to run tests in the SDK repo.

[2018-06-15 15:49] #32952 closed

[2018-06-15 15:56] jakemac53 opened #33465 "package:front_end imports unpublished package:testing"
Original issue (got derailed) https://github.com/dart-lang/sdk/issues/32952.

Packages on pub should not have files under `lib` which import packages that are not listed in `dependencies`.

This causes tooling issues and is generally not "correct". For instance as @grouma originally pointed out   package:build_modules has to have an explicit workaround for any package that depends on package:front

[2018-06-15 15:56] jakemac53 commented on #32952
I went ahead and re-opened the issue, https://github.com/dart-lang/sdk/issues/33465

[2018-06-15 16:11] DanTup opened #33466 "It's not possible to run tests from a repo like sdk using the JSON reporter"
Splitting this from #32952 since it was hi-jacking an unrelated thread.

I'm working on a test runner for VS Code which relies on the JSON reporter from the `test` package. The JSON reporter is only available when running tests via `pub run test` and not when running the test script directly through `dart`. This seems by design and difficult to change.

The tests in the SDK repo (for example in `p

[2018-06-15 16:13] DanTup commented on #32952
Yeah, sorry about that :(

I've opened #33466 to describe my issue. I don't think there's really a good solution, but it makes sense to have documented all the same. I'll try out some of the ideas above for detecting this scenario and falling back to dart (with basic text output) next week.

Thanks for all the comments and insight, it's been helpful even if we didn't find a good solution!

[2018-06-15 16:15] dgrove commented on #32228
This should be closed, correct (since #32227 is where there is remaining work to do)?

[2018-06-15 16:17] zoechi commented on #21553
@lrhn wasn't overriding `runtimeType` removed in Dart 2?

[2018-06-15 16:29] #32881 closed

[2018-06-15 16:47] #31887 closed

[2018-06-15 16:48] #30638 closed

[2018-06-15 16:48] #32233 closed

[2018-06-15 16:48] #31278 closed

[2018-06-15 16:52] leonsenft opened #33467 "Uncaught Error: TypeError: Can't create an instance of malbounded type 'Future<void>'"
This is a simplified reproduction of this issue https://github.com/dart-lang/angular/issues/1401. I'm not sure when this began happening, but it can be reproduced on version 2.0.0-dev.61.0 and upwards.

The following program

[code]

compiled with `dart2js --checked`, produces the following error

[code]

However, the same error isn't produced with `dart2js --enable-assserts`. I'm not sure what th

[2018-06-15 16:56] mraleph opened #33468 "dart2js bizarre behavior of constant evaluation for shifts with negative counts"
[code]

Does this:

[code]

I would expect a compile time error or an runtime exception about negative shift count.

[2018-06-15 16:57] mraleph commented on #33468
/cc @sigmundch Siggi, could you help to triage?

[2018-06-15 16:57] kwalrath commented on #30921
It depends on what you mean by "complete". The [language tour](https://www.dartlang.org/guides/language/language-tour) has a note that `new` is optional.

I'm working on a PR to improve on that (making optional `new` the default in the tour, and adding an example for optional `const`).

For the rest of the docs and examples, we're planning to wait until `dartfmt --fix` is out.

Tracking issue: dar

[2018-06-15 17:00] dgrove commented on #33460
After talking with @natebosch , closing this, as it will be fixed automatically when Dart2Stable ships.

[2018-06-15 17:00] #33460 closed

[2018-06-15 17:00] matanlurey commented on #33467
There is no such thing as `--checked` with `--preview-dart-2`.

If this works with `--preview-dart-2` without `--checked` we can also close this issue.

[2018-06-15 17:02] mraleph opened #33469 "Kernel constant evaluation crashes when evaluating 1 << -1"
[code]

[code]

I think it should report something more meaningful.

[2018-06-15 17:02] srawlins commented on #33467
Works on the VM, dev.59, with no flags, with `--checked`, and with `--preview-dart-2`.

[2018-06-15 17:02] scheglov commented on #33463
https://github.com/dart-lang/sdk/issues/33412

[2018-06-15 17:02] #33463 closed

[2018-06-15 17:03] leonsenft commented on #33467
Out of my own curiosity how do you know this? I can't find any clarifying documentation. Maybe dart2js should be emitting a warning if you pass in `--checked` that it will be removed in the near future (when `--preview-dart-2` is the default).

It does.

[2018-06-15 17:05] grouma commented on #33466
I'll copy over some thoughts from the previous thread. In short, the issue is that @DanTup wants to use a feature of the test runner (JSON reporter) when none of the tests in the SDK use the test runner. I see that there are three potential solutions to this issue. None of them are ideal.

1. Update the `DEPS` and `.packages` files to include all the dependencies of `package:test`. This will allow

[2018-06-15 17:09] DanTup commented on #33466
Thanks! Though it's worth noting that all of the options above are specifically fixing this for the SDK repo; but since as far as I know it's setup is not unsupported, it's possibly (albeit unlikely?) that there are other codebases that also have this problem. I would be much more interested in a solution that would support all of them (although I used the SDK as an example because it's the first

[2018-06-15 17:09] matanlurey commented on #33466
It's very unlikely this impacts traditional projects/packages.

The SDK was not built to be used with pub, much less pub run test.

[2018-06-15 17:10] leonsenft commented on #33467
@matanlurey But it doesn't say that anywhere on the page you linked, so I'm still not sure how anyone would be expected to know this.

[2018-06-15 17:11] matanlurey commented on #33467
Yeah, that problem I can't solve. I'm just saying at a technical level, it isn't supported.

@kwalrath @chalin  Can we make sure to update this tools page for Dart2?

/cc @jakemac53 @natebosch

[2018-06-15 17:13] sigmundch commented on #33467
FWIW - we initially added a hint in the compiler to warn about it:

https://github.com/dart-lang/sdk/blob/541dd195bb536e69d992a7ee47d1c1884fb43456/pkg/compiler/lib/src/dart2js.dart#L443

I realize now that this hint is not being printed, because of a separate issue with the FE (we were omitting all hints because they were hundreds of them).

We will remove the option when we remove Dart 1.0, but n

[2018-06-15 17:16] kmillikin commented on #33271
I don't think we can change it, because I suspect it exists the way it does for the VM's debugger.  (Eventually, we might consider simplifying things by changing the specific token positions the debugger uses.)

It seems reasonable to have the start offset on procedures.  Tentatively assigning to @jensjoha but maybe @askeksa-google would rather take it?

[2018-06-15 17:22] grouma commented on #33466
Yeah it's unfortunate that it doesn't work with the SDK but I don't think it should be a blocker to providing test support in VS. As Matan mentioned, it is very unlikely that a package doesn't support `pub run test`. Moreover, our default Travis support goes through the test runner.

[2018-06-15 17:33] kwalrath commented on #33467
The [v5 tools page](https://webdev-dartlang-org-dev.firebaseapp.com/tools/dart2js) already doesn't have `--checked`. We'll update the v4 one to mention that `--checked` and `--preview-dart-2` don't work together, and that `--checked` won't be present in Dart 2.

[2018-06-15 17:42] bkonyi commented on #32856
Still unable to reproduce on my Linux and Windows machines. Closing for now.

[2018-06-15 17:42] #32856 closed

[2018-06-15 17:43] terrylucas commented on #27180
Fixed with CL https://dart-review.googlesource.com/c/sdk/+/60380

[2018-06-15 17:43] #27180 closed

[2018-06-15 17:45] chalin commented on #33467
I'll handle updating the docs in the manner that Kathy suggested.

This is what the `dart` help prints:

[code]

So updating the dart2js usage text in a similar fashion is an excellent idea.

@sigmundch - if you open a separate issue to track "update the dart2js usage to indicate which flags are Dart 1 only.", can you please cc @kwalrath and @chalin?

[2018-06-15 17:45] terrylucas commented on #32304
ping?

[2018-06-15 17:50] bkonyi commented on #30671
Unable to reproduce locally. Closing due to inactivity, will reopen if needed.

[2018-06-15 17:50] #30671 closed

[2018-06-15 17:57] sigmundch commented on #33467
Thanks @chalin

Turns out that the dart2js usage no longer shows --checked, we are basically only showing flags available in Dart 2.0.

[2018-06-15 17:58] matanlurey commented on #33466
This is much much more meta issue and isn't reasonable to expect the `pkg/test` team to solve.

[2018-06-15 18:04] chalin commented on #33467
Using the latest external SDK, the `-c` flag is still mentioned:

[code]

Also:

[code]

The `--preview-dart-2` flag should probably be mentioned when under the (terse) usage text. The "early dogfooding" reference should probably be removed now :)

[2018-06-15 18:05] chalin commented on #33467
@kwalrath, in that case I'd suggest holding back on making changes to the v4 webdev site. WDYT?

[2018-06-15 18:10] sigmundch commented on #33467
Thanks @chalin!

Ha, we had removed the longer `--checked` expanded documentation but totally missed the `-c` shortened version.... I'll remove it too.

I plan to make --preview-dart-2 on by default in the next few days, so I'll likely just get rid of the flag entirely at that moment.

[2018-06-15 18:10] lexaknyazev commented on #26364
This seems to be fixed about a year long ago.

[2018-06-15 18:16] kevmoo commented on #33430
CC @dgrove @a-siva

[2018-06-15 18:20] kevmoo commented on #32304
This content at the top of `dart:html` under `Other resources` is all outdated. Just delete it.

![screen shot 2018-06-15 at 11 19 31 am](https://user-images.githubusercontent.com/17034/41483452-04713ab2-708e-11e8-945b-ecac466974c3.png)

[2018-06-15 18:22] kmillikin commented on #33216
I don't think there's anything we need to put in Kernel for the VM to generate a better error.  @a-siva can you reassign to someone on the VM team?  (Also, consider whether this is in scope for Dart2Stable.)

If it turns out we need to change something in Kernel, let us know.

[2018-06-15 18:27] DanTup commented on #33466
Sure, I wasn't expecting `test` (or possibly even anyone) to solve it, I'm just trying to make sure I make the best call I can in Dart Code. If the decision is that codebases that are set up like this (*which may or may not be just the SDK - I'm under the impression that the SDK isn't doing anything specifically unsupported as far as Dart is concerned*) simply don't support the test runner, and th

[2018-06-15 18:27] kmillikin commented on #30916
We don't do constant evaluation in the front end (yet).  We are aware of the differences in integer semantics and we're unlikely to implement something that ignores it.

[2018-06-15 18:27] #30916 closed

[2018-06-15 18:32] sigmundch commented on #32111
Seems this was fixed by 3d98cce456b, thanks!

[2018-06-15 18:32] #32111 closed

[2018-06-15 19:19] supermuka commented on #33467
@leonsenft, just answer your question in [dart-lang/angular#1401]( dart-lang/angular#1401) about why I need to use _dart2js_ instead _ddc_.

After upgrading Dart to 2.0.0-dev.57.0, the following exception was thrown on the browser console:

I am using **_rpc package_** (0.5.8) to implement REST APIs and this exception occurs into client side stub file generated by _rpc tool_.

To solve this proble

[2018-06-15 19:21] matanlurey commented on #33467
That was not great advice, both Dart2JS and DDC will care about these errors in Dart2.

[2018-06-15 19:37] kmillikin commented on #29158
The second issue was fixed.  I don't see a call to `_asyncStarMoveNextHelper` in the VM's async transformation, but I'm not sure if it's still needed.  Perhaps someone on the VM team can take a look and verify whether this is even still an issue.

[2018-06-15 19:43] kmillikin commented on #29056
@aam was this fixed and can it be closed?  The service test is no longer marked as failing.

[2018-06-15 19:57] devoncarew commented on #32227
@jakobr-google, do you have a work-around for this? This doesn't seem to be a recent regression.

[2018-06-15 20:22] JekCharlsonYu commented on #32341
Siva, do you mind triaging and assigning a person to work on this?

[2018-06-15 20:23] JekCharlsonYu commented on #32228
closing as per discussion with Kevin/Dan

[2018-06-15 20:23] #32228 closed

[2018-06-15 20:40] rakudrama commented on #33468
This should be a compile time error (constant evaluation would throw if evaluated at runtime).

[2018-06-15 20:42] johnniwinther commented on #33468
Yes. It's a bug the evaluation; we fail to report an error with the evaluation of constant values results in `null`.

[2018-06-15 20:52] dgrove commented on #33022
with -dev.59:

cat ~/tmp/dart2stable/33022.dart
final var a = 0;

class C {
  final a;
}
dgrove@dgrove:~$ /usr/lib/google-dartlang/bin/dartanalyzer --preview-dart-2 ~/tmp/dart2stable/33022.dart
Analyzing /usr/local/google/home/dgrove/tmp/dart2stable/33022.dart...
  error • Members can't be declared to be both 'final' and 'var' at tmp/dart2stable/33022.dart:1:7 • final_and_var
  warning • The final

[2018-06-15 20:53] alexmarkov commented on #33453
@mkustermann, I think this is different. There is only one call to RecordSafepoint for this slow path.

In this test there is a try-catch with an  empty body:

[code]

In the catch, v6 is a parameter with index 4. It is allocated to a stack location `S-7` which is beyond spill_area_size + live_registers_size. spill_area_size = 3 and live_registers_size = 1.

If I modify example to add a couple of

[2018-06-15 20:54] dgrove commented on #33423
With -dev.59, the analyzer produces no errors and no warnings for this. /cc @bwilkerson

[2018-06-15 20:55] dgrove commented on #33308
with -dev.59 analyzer:

cat ~/tmp/dart2stable/33308.dart
void foo<T extends num>(T t) {}

class Foo<U extends num> {}

main() {
  foo("bar");
  new Foo<String>();
}

dgrove@dgrove:~$ /usr/lib/google-dartlang/bin/dartanalyzer --preview-dart-2 ~/tmp/dart2stable/33308.dart
Analyzing /usr/local/google/home/dgrove/tmp/dart2stable/33308.dart...
  error • Couldn't infer type parameter 'T'.

Tried to infe

[2018-06-15 20:56] dgrove commented on #33068
with -dev.59:

cat ~/tmp/dart2stable/33068.dart
int badReturnTypeAsync() async {} // //# 01: compile-time error

dgrove@dgrove:~$ /usr/lib/google-dartlang/bin/dartanalyzer --preview-dart-2 ~/tmp/dart2stable/33068.dart
Analyzing /usr/local/google/home/dgrove/tmp/dart2stable/33068.dart...
  error • Functions marked 'async' must have a return type assignable to 'Future' at tmp/dart2stable/33068.dart:

[2018-06-15 20:58] dgrove commented on #33208
With -dev.59, the first example:

cat ~/tmp/dart2stable/33208a.dart
class A<X extends Comparable<X>> {}

class B<Y extends A> {}

main() {
  B b;
}
dgrove@dgrove:~$ /usr/lib/google-dartlang/bin/dartanalyzer --preview-dart-2 ~/tmp/dart2stable/33208a.dart
Analyzing /usr/local/google/home/dgrove/tmp/dart2stable/33208a.dart...
  error • Type parameter bound types must be instantiated at tmp/dart2stabl

[2018-06-15 21:13] dgrove commented on #32912
With -dev.59, the Dart Analyzer doesn't report any errors for this. /cc @bwilkerson

[2018-06-15 21:15] dgrove commented on #32975
With -dev.59, the Dart Analyzer produces the error:

Analyzing /usr/local/google/home/dgrove/tmp/dart2stable/32975.dart...
  error • 'i' isn't a function at tmp/dart2stable/32975.dart:7:6 • invocation_of_non_function
1 error found.

[2018-06-15 21:16] dgrove commented on #32557
With -dev.59, the Dart Analyzer produces these errors:

Analyzing /usr/local/google/home/dgrove/tmp/dart2stable/32557.dart...
  error • The constant map entry key expression type 'A' can't override the == operator at tmp/dart2stable/32557.dart:10:20 • const_map_key_expression_type_implements_equals
  error • The constant map entry key expression type 'A' can't override the == operator at tmp/dart2

[2018-06-15 21:17] dgrove commented on #30273
@sigmundch do you know if these errors are produced as expected by the analyzer?

[2018-06-15 21:18] dgrove commented on #32989
with -dev.59, the Dart Analyzer produces these errors:

Analyzing /usr/local/google/home/dgrove/tmp/dart2stable/32989.dart...
  error • 'A' can't be a supertype of its upper bound at tmp/dart2stable/32989.dart:1:5 • type_parameter_supertype_of_its_bound
  error • 'A' can't be a supertype of its upper bound at tmp/dart2stable/32989.dart:2:5 • type_parameter_supertype_of_its_bound
  error • 'B' can'

[2018-06-15 21:39] johnniwinther opened #33470 "ddc fails on language_2/super_operator_index tests"
dartdevc fails on

language_2/super_operator_index5_test
language_2/super_operator_index6_test
language_2/super_operator_index8_test

[2018-06-15 21:59] ianloic commented on #32558
The other difference is that it is an error for a function that returns Object to not return anything.

But, I have an actual practical question: I'm designing an API and need to return a Future that has no value associated with completion. Should I use `Future<void>` or `Future<Null>`?

[2018-06-15 22:41] dgrove commented on #33416
per #33415, this is not caught by the analyzer.

[2018-06-15 22:45] dgrove commented on #30384
Once this CL lands, I suggest that we remove the milestone. Landing the noop version of this is enough to allow the VM team to shed the underlying code.

[2018-06-15 22:50] DanTup opened #33471 "RangeError in ExtractLocalRefactoringImpl.isAvailable"
Just opened VS Code to test something and hit this. It was after I selected an entire file and then shift-tab (unindented) it; though I don't know if that's relevant.

### Versions

- Flutter SDK 0.5.5-pre.40
- Visual Studio Code 1.24.1
- Dart Code 2.14.0-beta.2

### Analyzer Info

The analyzer was launched using the arguments:

[code]

### Exception (fatal)

Failed to handle request: {id: 34, met

[2018-06-15 23:07] sigmundch commented on #30273
they are

[2018-06-15 23:09] kmillikin commented on #33237
We are currently missing the ones involving static members and a few of the other ones:

* declares constructor `C.n` and declares static setter `n=`
* declares static getter `n` and has instance getter `n`
* declares static getter `n` and has instance method `n`
* declares static getter `n` and has instance setter `n=`
* declares static method `n` and has instance getter `n`
* declares static met

[2018-06-15 23:10] MichaelRFairhurst commented on #30384
Agreed -- now that https://dart-review.googlesource.com/c/sdk/+/60062 is landed, the packages/ directory won't work with or without dart 2. And the deprecations have already been published.

Its now clear -- as far as I can tell -- to be cleaned up at anyone's whim!

[2018-06-15 23:18] dgrove commented on #30273
In that case, we will very likely defer this past Dart2Stable.

[2018-06-15 23:21] dgrove commented on #33330
Assigning to @vsmenon to figure out what precisely the next steps are.

[2018-06-15 23:25] a-siva opened #33472 "class HttpSessionImpl implements HttpSession has errors in Dart2 mode"
third_party/pkg_tested/http_io/test/http_client_stays_alive_test fails in Dart2 mode
[code]

[2018-06-15 23:28] a-siva opened #33473 "dart_style/command_line_test times out in Dart2 mode"
[code]

[2018-06-15 23:29] jmesserly commented on #33353
Brainstorming a few ways to make this more broadly useful.

We could introduce `@friendOnly` and `@Friend` annotations:
[code]

Another similar encoding would be `@VisibleTo("<file name>")`. For example:
[code]

Thoughts? Other ideas?

[2018-06-15 23:37] matanlurey commented on #33353
Definitely, that's an option. I think I sort of didn't correctly explain the semantics, though, I'd need anything annotated with `@visibleForTemplate` to be accessible to _any_ `.template.dart` file in any library/package. So being forced to be precise like above won't work, at least for AngularDart.

(Another option is `@visibleForCodegen`, but I don't think it reads as well for AngularDart)

[2018-06-15 23:41] jmesserly commented on #33353
Oh gotcha! That's funny ... I almost added a third example for `@VisibleTo` that looks like this:
[code]
[code]
... but I figured that might be too much visibility. Sounds like it's actually the right level of visibility for Angular.

[2018-06-15 23:44] matanlurey commented on #33353
Yeah, that could work.

To be clear, I think ultimately having proper visibility modifiers (as a language feature or annotations) or better yet, better static meta-programming, is my ideal solution. Until then though, I think something like `@visibleForTemplate` has pretty small scope, and could be a good experiment for further work.

[2018-06-15 23:44] jmesserly commented on #33353
RE: `@visibleForCodegen` ... well, it's always possible to define your own alias:
[code]
I presume the linter has access to the resolved constant. (If it doesn't, it should.)

[2018-06-15 23:46] matanlurey commented on #33353
That would also be fine to me.

[2018-06-15 23:48] bwilkerson commented on #33353
You're correct, it does.

[2018-06-16 02:30] charlenopires opened #33474 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA 182.3208.16`
- `2.0.0-dev.63.0`
- `IC-182.3208.16, JRE 1.8.0_152-release-1226-b7x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1920x1080`

# Exception

Please append the contents of:
file://C:\Users\CHARLE~1\AppData\Local\Temp\report.txt

[code]

[2018-06-17 21:00] athomas opened #33475 "standalone_2/io/directory_test crashes on vm-kernel-precomp-linux-debug"
build: https://ci.chromium.org/p/dart/builders/luci.dart.try/vm-kernel-precomp-linux-debug-x64-try/1
log: https://logs.chromium.org/v/?s=dart%2Fbuildbucket%2Fcr-buildbucket.appspot.com%2F8943452090537384608%2F%2B%2Fsteps%2Fstrong_vm_tests_shard_6%2F0%2Fstdout
[code]

[2018-06-18 06:41] iarkh opened #33477 "Dartanalyzer crashes in preview-dart-2 mode with unhandled NoSuchMethodError: The method 'call' was called on null."
* Dart SDK Version: 2.0.0-dev.63.0
* OS: Windows 10
* Dart mode: preview-dart-2

The following sample code example throws unexpected NoSuchMethodError, I believe compile error should be thrown here instead:
[code]
Please note that if I run "dart --preview-dart-2" with this example, I get StackOverflow exactly like with the example from the bug #33152. However, #33152 source does not crash with ana

[2018-06-18 07:32] jensjoha opened #33478 "Fasta, VM, lineStarts and CR"
This test file uses CR as line endings: `tests/lib_2/mirrors/method_mirror_source_line_ending_cr.dart`.
And fasta generates a dill file with line endings for the file being specified as `[0, 372, 373]`.
So basically, fasta inteprets it as one big line.
The VM, on the contrary sees it as many lines:
https://github.com/dart-lang/sdk/blob/3df126c4972e8d41d85e4e43cb27f45450660a23/runtime/vm/object.cc#

[2018-06-18 07:36] #33468 closed

[2018-06-18 07:36] jensjoha commented on #33478
(On my system, both vim and emacs see the file as a single line too though, so maybe someone should make a decision about what we actually want here --- there is a test though `tests/lib_2/mirrors/method_mirror_source_line_ending_test.dart`).

/cc @lrhn ..?

[2018-06-18 07:44] kmillikin commented on #33298
This is partially fixed by https://github.com/dart-lang/sdk/commit/e22706793d6c97da2a892f5d621506e762728880

The case that doesn't work yet is generic methods.  So if you had:

[code]
You will get a static error and the workaround is to use `a.call` instead.

[2018-06-18 07:48] lrhn commented on #33478
That decision was made, and we want CR+LF, CR, or LF to act as line terminators.

There are two places in the specification where line terminators matter (other than as whitespace):
* Single-line comments, and
* Multi-line strings.

For the former, it doesn't matter whether you recognize CR+LF as a single line terminator, but you must recognize both CR and LF, otherwise the rest of the program is

[2018-06-18 08:00] lrhn commented on #32227
Jakob has left the building, but no, there isn't a good workaround except manually editing the files.
We have people doing manual editing every time they roll a new version of google-apis (see https://github.com/dart-lang/sdk/issues/32228#issuecomment-397595085).

[2018-06-18 08:29] stefantsov opened #33479 "CFE and Analyzer crash on raw generic type cycles in type variable bounds with typedefs"
There is one case of non-simplicity of type variable bounds that makes both Analyzer and CFE crash.  Namely, the following code:

[code]

A compile-time error should be reported for that script, but instead it makes both tools crash with a stack overflow.

The fix includes both the CFE part and the Analyzer part.
* [ ] Fixing raw generic type cycles with parametrized typedefs in Analyzer.
* [x] Fi

[2018-06-18 08:30] stefantsov commented on #33479
@MichaelRFairhurst I remember you worked on detecting those cycles in Analyzer, so I'm CC'ing you.  Hope, that's ok.

[2018-06-18 09:21] DanTup opened #33480 "Stepping with OverAsyncSuspension sometimes seems to hang"
I'm debugging some tests with `await`s in them like this:

[code]

If I put breakpoints on the first await, it first breaks on the `_setupSampleProject` then if I step, it stops on the await. If I step again, it seems to just hang.

If I put a breakpoint on the `final Process...` line as well and perform the same steps, then it hits the breakpoint on that line right after I step from the `await`.

[2018-06-18 09:29] lrhn commented on #21553
No, I don't think that was ever planned. We were hoping to remove `runtimeType` *completely*, and requiring you to use a new `Type.of` method/constructor instead, but our breaking-change vs importance budget wasn't high enough for that. We may still introduce `Type.of` at a later time, so there is an alternative to `runtimeType`, but unless we also allow subtype checks between `Type` objects, thei

[2018-06-18 09:42] jensjoha commented on #33271
I think we can change it.
It was changed to the current one here: ec5d7cba1a6fffbfcae1bbd667876c3a9f6c904e
Changing it to point to the start of the function is easy and seemingly works fine (modulo #33478) (CL @ https://dart-review.googlesource.com/c/sdk/+/60560).

In regards to the annotations though, I'm not sure what we should do: The non-dart-2 behavior seems to be to not include it either.
Fo

[2018-06-18 10:07] #32858 closed

[2018-06-18 10:30] eernstg commented on #33283
I believe that we generally don't update feature specs when their topic has been made part of the language specification. So with Lasse's update to dartLangSpec.tex in commit dd83e698d8b4bdf82faae8e967c16df8151156ea, we should probably just update the feature spec to have status 'background material' and otherwise leave it unchanged.

[2018-06-18 10:53] mkustermann opened #33481 "Left shift by negative amount causes analyzer crash"
[code]

[2018-06-18 11:28] lrhn commented on #33075
Since retype has been removed from the SDK, packages are now forced to be updated, and it seems we are on-track for that within this week.

Going back and removing the, now unnecessary, retype declarations from packages can be handled on a per-package basis.

[2018-06-18 11:44] kmillikin commented on #33237
@askeksa-google can you take "constructor/static setter" and "static setter/static method"?

I'll implement the others as part of override checking during top-level type inference.

[2018-06-18 12:13] stefantsov opened #33482 "noSuchMethod forwarders shouldn't be generated in abstract classes, but rather in their concrete descendants"
Consider the following code:

[code]

Currently, it's compiled to the following Kernel code:

[code]

Note that the abstract class gets the noSuchMethod forwarder, and the concrete child inherits it.  However, abstract classes shouldn't receive noSuchMethod forwarders for their abstract members, even if those classes have a user-defined noSuchMethod.  The forwarders should be added to the top-most

[2018-06-18 12:45] jensjoha commented on #33155
For the first one at least it originates in the catch in https://github.com/dart-lang/sdk/blob/87131780cb16a10edc925aaf8c1b1c8a4580c96c/pkg/front_end/lib/src/fasta/kernel/kernel_target.dart#L264-L266 and doesn't pass a source position. I don't think it's fair to say it has anything to do with kernel though. It's internal to fasta.

[2018-06-18 12:59] stefantsov opened #33483 "noSuchMethod forwarders shouldn't override concrete members"
Consider the following program:

[code]

It currently prints `Bar.noSuchMethod.` when run in strong mode:

[code]

The noSuchMethod forwarder overrides the concrete implementation which should not happen.

For the reference, here is the compiled code:

[code]

[2018-06-18 13:00] stefantsov commented on #32660
That may be a related issue: https://github.com/dart-lang/sdk/issues/33483.

[2018-06-18 13:01] mkustermann opened #33484 "We need to run `co19_2` test suite on Dart 2.0 configurations"
We really should test co19 on Dart 2.0 configurations. It appears like we don't run co19 on e.g. the `--compiler=dartkp --strong` configuration - probably we also don't run it on many other configurations.

Just today I've been fixing an issue, which does have a test in co19 but we don't run seem to run it, so the issue was not uncovered.

The necessary changes are:
  * Update [tools/testing/dart/

[2018-06-18 13:08] #25531 closed

[2018-06-18 13:20] #29056 closed

[2018-06-18 13:35] #33443 closed

[2018-06-18 13:52] stefantsov commented on #33483
It may be a duplicate of https://github.com/dart-lang/sdk/issues/33380.

[2018-06-18 14:07] leafpetersen commented on #31925
@stereotype441 Do you have a sense of how likely this is to impact users if we postpone a fix until after Dart 2?  Are there warnings for this in place?

[2018-06-18 14:42] stereotype441 commented on #31925
Yes, to my knowledge all the necessary warnings have been added to the analyzer.

[2018-06-18 14:53] leafpetersen commented on #31925
Ok, moving this off of stable, but leaving it open to track the missing top level inference work.

[2018-06-18 14:59] eernstg commented on #32558
A Dart function will _always_ return something, but `return;` and reaching the end without executing a return statement will cause the null object to be returned, i.e., those things work like `return null;`. There is no problem with that, but it is considered error-prone to return the null object implicitly (that is, in those two ways) in a function whose return type is not `void` (and a couple of

[2018-06-18 15:27] kevmoo opened #33485 "stack overflow crash analysis server -dev.63"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.5281.24`
- `2.0.0-dev.63.0`
- `IU-181.5281.24, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.5 unknown, screens 1680x1050  Retina`

# Exception
[code]

[code]