[2018-07-02 15:50] eernstg commented on #29647
Closing: As of 5fab3242f4716c6f14036019acbb55a3fefe282b there is no notion of boolean conversion any more, and it is a run-time error when `null` is encountered in those situations where boolean conversion used to be applied. This eliminates the special case which caused the ambiguity ("boolean conversion uses an actual `assert`, but it's compiler generated, so should we treat it like a user-writt

[2018-07-02 15:50] #29647 closed

[2018-07-02 15:58] mraleph commented on #33664
@aartbik Aart, could you look into using static type information better in the JIT pipeline (e.g. eliminating check classes like the one above)?

[2018-07-02 15:59] zoechi commented on #33611
Does this make #dart-lang/linter#1047 obsolete?

[2018-07-02 16:00] eernstg commented on #33152
Apart from the VM crash, it should be noted that the error from the analyzer may be incorrect (it looks fishy, anyway): It says `Type parameter bound types must be instantiated`, but the actual problem is that even though some bounds can be raw, _this_ particular bound cannot be raw because it does not have simple bounds. So maybe there should be a separate issue for the analyzer.

[2018-07-02 16:02] eernstg commented on #33599
Apart from the fact that no tools should loop or crash, it's worth considering the correct behavior.

Following the treatment of other declarations, the name of the type alias, `F`, is added to the library scope (that is, the enclosing scope for the type alias declaration itself); then we use that `F` as a raw bound for `X`. This should be a compile-time error because `F` does not have simple boun

[2018-07-02 16:10] eernstg commented on #29548
As Lasse mentioned [here](https://github.com/dart-lang/sdk/issues/29548#issuecomment-299119597), we do have `A<Null>` which will play the role as a "lifted" version of `null`, and given that constant expressions might give rise to such instances (esp. `<Null>[]`, but the same approach would of course also work for `foo([A<T> = const A<Null>()])`, whether or not that `<Null>` is inferred or develop

[2018-07-02 16:35] rakudrama commented on #33708
Fixed via 714dbc3e815539ccb13eaef6483e1f3b2b5eb7c7

[2018-07-02 16:35] #33708 closed

[2018-07-02 16:41] sigmundch opened #33732 "dart2js: fix how we treat private names in nsm forwarders"
We have a bug that private names from different libraries are conflicting with each other. Because nsm forwarders may include library-private names, we added a workaround in 64553b68e96f04c6514be68bd417795757b2a091  to ignore those private names in other libraries.

The workaround is incorrect, as it wouldn't correctly handle this example:

**a.dart**:
[code]

**b.dart**:
[code]

If we incorrectly

[2018-07-02 16:42] sigmundch commented on #33665
Thank you so much everyone for the healthy discussion and clarifications!

I filed https://github.com/dart-lang/sdk/issues/33732 to ensure dart2js preserves the right semantics, I'm closing this bug as there is no other action needed from the CFE team.

Thanks again!

[2018-07-02 16:42] #33665 closed

[2018-07-02 16:49] bwilkerson commented on #33731
I suspect the issue is the `Function(void)` in
[code]
The parser is probably getting confused by the absence of an identifier and not recovering well.

[2018-07-02 16:51] devoncarew opened #33733 "fasta analyzer bot running the language2 tests"
We should add running the language2 tests to the fasta analyzer bot.

[2018-07-02 17:11] zoechi commented on #33611
@eernstg right, thanks for the explanation.

[2018-07-02 17:14] iarkh commented on #33152
Oh, I almost don't pay attention to the error messages themselves. Need to re-check another issues so.

[2018-07-02 17:18] sigmundch commented on #25355
Closed because we decided to change the spec to do what the implementations do today (see https://github.com/dart-lang/sdk/issues/31933)

[2018-07-02 17:18] #25355 closed

[2018-07-02 17:18] sigmundch commented on #25357
Closed because we decided to change the spec to do what the implementations do today (see #31933)

[2018-07-02 17:18] #25357 closed

[2018-07-02 17:19] #33717 closed

[2018-07-02 17:19] sigmundch commented on #25356
Closed for two reasons: this was mostly for the dart1-vm (the dart2-vm doesn't have the checks implemented yet). Also note we decided to change the spec to do what the Dart1 implementations did (see #31933)

[2018-07-02 17:19] #25356 closed

[2018-07-02 17:20] sigmundch commented on #24797
dart2js no longer supports https imports

[2018-07-02 17:20] #24797 closed

[2018-07-02 17:22] #16166 closed

[2018-07-02 17:53] #33157 closed

[2018-07-02 17:57] #13280 closed

[2018-07-02 18:08] danrubel commented on #33157
This occurs during parser recovery and should be fixed by https://dart-review.googlesource.com/c/sdk/+/63180
Please re-open if this is still a problem.

[2018-07-02 18:09] munificent commented on #33663
Ping?

[2018-07-02 18:23] creativecreatorormaybenot opened #33734 "valueOf(key) for Maps like elementAt(index) for Iterables"
Based on [a problem I encountered](https://stackoverflow.com/questions/51141109/null-aware-operator-with-maps/51141153?noredirect=1#comment89267419_51141153), I think that it would be a nice addition to the language.

[code]

This enables the null-safe operator:

[code]

This already exists for iterables, where:

[code]

[2018-07-02 18:34] sigmundch commented on #32503
I've just raised the priority: dart2js now defaults to Dart 2.0 for internal and external users. We are about to flip the entire test coverage in the bots to mostly run in Dart 2.0 as well. Once observatory is migrated, we should be able to remove support for Dart1 in dart2js.

[2018-07-02 19:05] rmacnak-google commented on #32503
This is dependent on a Dart 2-capable package:charted. Assigning to Dart4Web.

[2018-07-02 19:16] leonsenft opened #33735 "Concurrent modification during iteration: Instance of '_CompactLinkedHashSet<String>'."
I had just finished analyzing a newly imported project.

Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.5087.20`
- `2.0.0-dev.62.0`
- `IU-181.5087.20, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.5 unknown, screens 1920x1200  Retina`

# Exception

[code]

[2018-07-02 19:40] crelier commented on #33648
This issue has become obsolete after commit 1eacd27b8ef31a9a83ce5f2f9e51f007a6ca16d8.

[2018-07-02 19:40] #33648 closed

[2018-07-02 20:12] aartbik commented on #33205
Internal benchmark shows "flat" behavior now for all typed data setters and getters on 64-bit AOT. Last item to look at is doing a bit more on 32-bit as well (also AOT vs JIT differences are tracked elsewhere).

[2018-07-02 20:12] mit-mit commented on #33647
tagging P1, this is blocking https://github.com/flutter/flutter/issues/18604

[2018-07-02 20:40] zanderso commented on #33637
/cc @rmacnak-google

[2018-07-02 20:48] bwilkerson opened #33736 "Split the AbstractClassInstantiation message based on the keyword used"
Analyzer has two error messages corresponding to AbstractClassInstantiation, one used when `new` was used (or implied) and one for when `const` was used. We need to split the kernel message in order to maintain parity. (Or decide that we don't want this level of parity.)

[2018-07-02 21:13] rakudrama opened #33737 "VM: unnecessary overflow test before masking"
`SHA1._updateHash` contains unnecessary overflow checks.
There is no need to deopt for `(a + b) & c` if `c` is in Smi range.
In the example below, `c` is the Smi value `0x1FFFFFFFFE` from the object pool, i.e. Dart `0xFFFFFFFF`.

[code]

Also, why all the single-use loads to `r11`? It would be fewer bytes to use memory operands, and operands from the stack frame are used directly.

[2018-07-02 21:45] sigmundch commented on #32503
Mmm - it appears that this package is or almost is Dart-2 capable, but that the latest changes are not published yet. I reached out to the maintainers to get some guidance on how to proceed. @rmacnak-google, I cc'd you on the message as well.

[2018-07-02 22:59] MichaelRFairhurst commented on #32864
I talked to @stereotype441 about this -- its hard to make out all of the information in here and Paul pointed out that it may have changed as well, since the original comments.

However, it seems like in terms of addressing the differences between analyzer and CFE (which is what this ticket is ultimately about), the only real issue is in the error message.

In the CFE, foo & baz call sites produce

[2018-07-02 23:47] #33314 closed

[2018-07-02 23:48] devoncarew opened #33738 "dartdoc comments not recognized for classes that are marked as abstract when using the analyzer with --use-fasta-parser"
Specifically, if it's within a dartdoc comment for a class that's marked as abstract:

[code]

For the above, `String` will resolve.

[code]

For the above, `String` will not resolve.

@danrubel

[2018-07-03 02:04] parlough commented on #31967
That is just the exception I throw if the shader failed to be created.

This error persists on `Dart 2.0.0-dev.63.0` and `Chrome Canary Version 69.0.3479.0 (Official Build) canary (64-bit)` within DartPad.

![image](https://user-images.githubusercontent.com/18372958/42194837-7757d850-7e3b-11e8-9df9-83218b512cfa.png)

[2018-07-03 02:05] devoncarew commented on #33738
I hit this when dogfooding --use-fasta-parser - you can see it if you open the `pkg/analyzer_plugin` package from the sdk repo. You can see the issue in the `lib/plugin/assist_mixin.dart` file (and a few others) - they come up with unused imports warnings, as the imports have symbols that are only referenced from dartdoc comments.

[2018-07-03 02:11] devoncarew commented on #33738
And similarly, when dogfooding on the flutter codebase, the `Document all public members` lint fires. This only happens for `abstract` classes, even through they do have dartdoc comments. So I suspect that there's some issue recognizing a dartdoc comment before a class that has a leading `abstract` keyword.

[2018-07-03 02:21] devoncarew commented on #33738
@danrubel, honestly, from dogfooding this locally for a few hours, this may be the only blocking issue from enabling `--use-fasta-parser` by default.

[2018-07-03 02:59] jumperchen opened #33739 "[dart2js] _loadHunk should consider a query string containing with '/'"
If the main js with this URL `a.b.c?d=/foo`, then the rest parts js files will load in a wrong URL.
Caused by this implementation - https://github.com/dart-lang/sdk/blob/1c4b362ba521daaa5d3e7d85a5433b2b4c98c56e/sdk/lib/_internal/js_runtime/lib/js_helper.dart#L3876-L3880

As you can see, it should consider '?' before checking the last index of '/'.

[2018-07-03 05:57] lrhn commented on #33734
We are not planning on adding a duplicate method. That's bad API design just to make up for a lacking language feature.

We should consider extending null-aware behavior to operators, or at least the index operators. We already allow them for cascades, and we want null-aware operators to extend to the end of the same section like cascades do.
So, maybe at least allow `x?.[42]` and `x?.[42] = 10` l

[2018-07-03 07:41] lrhn commented on #11189
I agree that `DateTime.parse` should throw on invalid inputs, where invalid inputs are anything that isn't a valid date in a recognized format.
The reasoning is exactly what has been written here: There is no simpler way to validate input than to parse it, so if the parsing doesn't catch invalid input, nobody does.

The other `DateTime` constructors, then ones taking integers as input, should acce

[2018-07-03 08:21] mraleph opened #33740 "Analyzer Feedback from IntelliJ: NoSuchMethodError: The getter 'length' was called on null."
Analyzer Feedback from IntelliJ

/cc @bwilkerson

# Version information

- `IDEA IC-181.4203.550`
- `2.0.0-dev.66.0`
- `IC-181.4203.550, JRE 1.8.0_152-release-1136-b20x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.5 unknown, screens 1440x900  Retina`

# Exception

[code]

[code]

[2018-07-03 08:56] mraleph commented on #33658
I went a checked - now starting a sample app Aqueduct takes 2 GB of memory.

In observatory I can only see 12 isolates having heaps around 10mb each - I think this is unreasonable.

We definitely need to reconsider the current setup with kernel-isolate - because all batch mode applications will severely suffer from this including our own batch mode tools like analyzer, build_runner, DDC workers, e

[2018-07-03 09:01] mraleph commented on #33658
I am tentatively assigning to @a-siva because it is P0 for triage.

[2018-07-03 09:08] mkustermann opened #33741 "Isolate.spawnUri does not support spawning from http urls"
It appears that with the introduction of the new front-end we no longer support spawning from http URIs:

Launching a server which serves `hello.dart`:
[code]

Testing it with:
[code]

Running with dev.63
[code]

Running with dev.66
[code]

@lrhn I assume this functionality has not been removed intentionally?

@kmillikin / @mraleph Guess the CFE needs to be implemented ?

[2018-07-03 09:11] mkustermann commented on #33741
This is blocking upgrading `package:rpc` to Dart 2.0

[2018-07-03 09:12] #31894 closed

[2018-07-03 09:19] lrhn commented on #33741
I'm not aware of any plan to remove the functionality. I'm guessing the front-end just doesn't have a way to load sources from HTTP URIs.

With a little luck, file loading in the front-end can be overridden by the VM, so they can add HTTP loading as well.

[2018-07-03 09:31] ccj9707 opened #33742 "How can i install download older version of Dart SDK in linux apt-get?"
I originally used this command well in Docker :
```apt-get -y --allow-unauthenticated install dart=2.0.0-dev.63.0-1```
It had worked well at 2.0.0-dev-64.1, but now, I can see this error message :
```E: Version '2.0.0-dev-63.0-1' for 'dart' was not found```

Can you help me?

[2018-07-03 09:35] stefantsov commented on #33482
Fixed as of 6db5f38d4ee4df44ca07795d49f7753455a8fb6e.

[2018-07-03 09:35] #33482 closed

[2018-07-03 11:03] mkustermann commented on #33741
Since @lrhn says we should have this functionality working and we own packages which need it (as might other 3rd party packages) to be Dart 2.0 compliant, I would think so.

[2018-07-03 11:30] eernstg commented on #33709
Closing: As of 4fd04044fb43ffc7a018470caf3e9df097613991, the subtype circularity prevention rule in the language specification has be adjusted such that `Null` is now an acceptable upper bound for a type variable.

[2018-07-03 11:30] #33709 closed

[2018-07-03 11:33] eernstg commented on #33701
Removing blocked status: As of 4fd04044fb43ffc7a018470caf3e9df097613991, the subtype circularity prevention rule in the language specification has be adjusted such that Null is now an acceptable upper bound for a type variable. The front end should now be updated accordingly.

[2018-07-03 12:33] eernstg opened #33743 "FutureOr in a class header can be an error"
It was previously not explicit in the language specification that the type `FutureOr<T>` (where `T` can be any type, written by a developer or obtained during compilation from a mechanism like instantiate-to-bound) cannot be used in certain positions. With commit b803d74c9b0ac14b66555b7735d58b0ccc0e300a it has been made explicit in the language specification that it is a compile-time error to have

[2018-07-03 12:38] eernstg opened #33744 "Fasta: FutureOr in a class header can be an error"
This is the common front end specific issue for #33743, which has the details.

[2018-07-03 12:39] eernstg opened #33745 "Analyzer: FutureOr in a class header can be an error"
This is the analyzer specific issue for #33743, which has the details.

[2018-07-03 12:44] eernstg commented on #33744
Marking this as a low priority change: It will prevent some quirky programs, but it does not enable any useful ones, they are allowed both before and after the change.

[2018-07-03 12:44] eernstg commented on #33745
Marking this as a low priority change: It will prevent some quirky programs, but it does not enable any useful ones, they are allowed both before and after the change.

[2018-07-03 12:48] pschiffmann commented on #30259
Now that you've brought this issue back to my mind, here's another one:

The analyzer warns about a missing `break` statement if a case ends with a function call, even though that function is annotated with `alwaysThrows`.

[code]

I guess this is really low priority, so I guess I can just leave this here instead of opening a new issue :-)

[2018-07-03 12:49] srawlins commented on #30259
Haha, another good catch.

[2018-07-03 13:28] stereotype441 opened #33746 "Dart analyzer fails to detect error - reference to class type parameter in static member"
The following code should be illegal, and is rejected by the Dart VM, dart2js, and the common front end:
[code]
But it is accepted by the analyzer without complaint.

[2018-07-03 13:29] stereotype441 commented on #33746
This is blocking me right now so I'm going to work on it.

[2018-07-03 14:38] eernstg commented on #33585
I've adjusted the area because the analyzer correctly reports the bound violation as a compile-time error, but the VM (presumably the common front end) fails to report it.

It may or may not be the same piece of code that detects these bound violations in the front end, so I'll leave it to the front end team to decide on how many issues they want for it.

[2018-07-03 14:44] eernstg commented on #33308
I closed issue #33585 as a duplicate of this one, but note that it contains further examples that may be useful here.

[2018-07-03 14:44] eernstg commented on #33585
Searching for existing issues on this topic, I found this one: #33308. Closing this one as a duplicate thereof, adding a comment there about the examples given here.

[2018-07-03 14:44] #33585 closed

[2018-07-03 14:56] eernstg commented on #33625
@anders-sandholm, I'll just add a 'bug' label here: The analyzer should accept `X extends F` with the raw `F` because `F` has simple bounds, and since the type parameter of `F` is covariant, instantiate to bound should make that `F<dynamic>`. So it all fits together, and the analyzer just needs to accept it.

[2018-07-03 15:04] DanTup opened #33747 "VM service returned "Collected sentinel" for getIsolate prior to isolate starting"
In the Dart Code debugger, when we connected to the VM service protocol the first things we do are:

1. Register for isolate events
1. Call getVM
1. Call getIsolate for each isolate returned by getVM

The reason we do 2/3 is to ensure we have any threads registered that may have transitioned to started/runnable before we had registered the events (to avoid a race). Today while investigating a flak

[2018-07-03 15:56] a-siva commented on #33658
That is not true the observatory debugger has the mechanism to do hot reloads and it works today, I am surprised that IntelliJ does not have this wired.
We also get a fairly good amount of hot reload scenario testing which we don't get in other cases.

I like this suggestion which specifies the VM is running in 'production' mode and no 'development' support is needed.

Lowering priority to P1 as I

[2018-07-03 16:01] a-siva commented on #33700
removed Dart2Stable milestone per comment above.

[2018-07-03 16:06] JekCharlsonYu commented on #33660
ping!

[2018-07-03 16:15] JekCharlsonYu commented on #33126
will close this and leave the other bug open to track #33291.

[2018-07-03 16:15] #33126 closed

[2018-07-03 16:19] mraleph commented on #33741
Duplicate of #33388

[2018-07-03 16:19] #33741 closed

[2018-07-03 16:20] alexmarkov commented on #29158
In non-PRODUCT Dart 1 mode, a call to _asyncStarMoveNextHelper(stream) is generated right before a call to moveNext() in `await for` loops in https://github.com/dart-lang/sdk/blob/c99268feb946513831350d2f34891d8853981ede/runtime/vm/parser.cc#L9346-L9360

This call does the following: if there is an active debugger, single stepping and VM flag `--async_debugger` was set (it is true by default in no

[2018-07-03 16:24] eernstg opened #33748 "Make `implements/extends Function` a no-op."
This issue is concerned with taking the decision to make `implements Function` and `extends Function` have no effect, and subsequently updating the language specification to say so.

With Dart 2, an instance method named `call` does not any longer make a user-defined class a subtype of the function type which is the signature of that method.

Instead, in the situation where an instance of a type _

[2018-07-03 16:29] srawlins opened #33749 "Implement a set of "strict" static analysis rules"
The new Dart 2 runtime semantics added several changes that have really surprised users. As a prime example, this code:

[code]

will fail at runtime, because `List<String>.where` returns an `Iterable<String>`. The frustration is that this _really_ looks like it should be caught at compile-time, or with static analysis.

To help users to detect errors like this early on (instead of relying on _rea

[2018-07-03 16:36] kirbyfan64 opened #33750 "Support custom generated source extensions"
Since URI_HAS_NOT_BEEN_GENERATED has been added 2 years ago, there is still [a TODO to generalize the mechanism for finding generated sources](https://github.com/dart-lang/sdk/blame/master/pkg/analyzer/lib/src/task/dart.dart#L5675). Now that everything is being migrated over to the build package, where everything has to have a new extensions, it would be nice to have this generalized somehow, even

[2018-07-03 16:39] rmacnak-google commented on #33747
Hm, yes, in the implementation I see an isolate is available for enumeration in getVM before it is available to the message routing to handle getIsolate.

[2018-07-03 17:17] iarkh opened #33751 "Dartanalyzer error messages should be more informative user-friendly when class implements void."
Dart SDK Version: 2.0.0-dev.55.0
OS: Windows 10

This bug is somehow similar with #33704, but is about interfaces.

Here is a sample code example:
[code]
Unlike to the test case from #33704, dart correctly throws error here:
[code]
Dartanalyzer sample output is:
[code]
It would be better if dartanalyzer report something more user-friendly than what it currently does.
Please see also Erik's comment

[2018-07-03 17:18] thosakwe commented on #33742
Inquired about this the other day with @sgjesse and @athomas, here was Alexander's response:

[code]

So, for `2.0.0-dev.63.0`:

https://storage.googleapis.com/dart-archive/channels/dev/release/2.0.0-dev.63.0/linux_packages/dart_2.0.0-dev.63.0-1_amd64.deb

[2018-07-03 17:19] aam commented on #33659
https://dart-review.googlesource.com/c/sdk/+/63444 with few more status file changes

[2018-07-03 17:19] thosakwe commented on #33742
After downloading the `.deb`, you can run:

[code]

You can then run `dart --version`, and should see the expected output.

[2018-07-03 17:34] a14n opened #57735 "use_setters_to_change_properties shouldn't lint on overriding methods"

[2018-07-03 17:35] srawlins opened #33752 "dart2js 2.0.0-dev.64.1 features new undocumented error: "Error: The integer literal DDD can't be represented exactly in JavaScript.""
There is no changelog entry for this breaking change.

[2018-07-03 17:36] srawlins commented on #33752
Assigning to @sigmundch for triage and priority

[2018-07-03 18:00] stereotype441 commented on #33746
Turns out this is a duplicate of #21565.  Fix is out for review: https://dart-review.googlesource.com/c/sdk/+/63660

[2018-07-03 18:00] #33746 closed

[2018-07-03 18:05] srawlins commented on #33282
There should be a step to announce this breaking change as well.

[2018-07-03 18:05] srawlins commented on #33752
Feature tracked in https://github.com/dart-lang/sdk/issues/33282

[2018-07-03 18:07] sigmundch commented on #33752
Adding changelog entry in https://dart-review.googlesource.com/c/sdk/+/63664

[2018-07-03 18:11] alan-knight commented on #11189
There are some interesting edge cases with that kind of validation. e.g. validating February 18, 2018 by passing in integers when in Brazil.

[2018-07-03 18:29] Kleak opened #33753 "dartanalyzer --options not honored"
Dart version and OS
- Dart VM version: 2.0.0-dev.66.0 (Unknown timestamp) on "linux_x64"
- linux

[Here](https://gitlab.com/kleak/coverage_playground) is a repos where you can  repros it.

Step:
- clone the repos
- run `tools/pre_commit.sh`

What is expected:
file ending in `.g.dart` should be excluded since it's in the analysis_options.yaml

What happen:
file ending in `.g.dart` are not excluded

[2018-07-03 19:40] DanTup commented on #33485
I had this reported too:

https://github.com/Dart-Code/Dart-Code/issues/1057

It was while editing this repo:

https://github.com/gregrtardif/weatherproof

[2018-07-03 19:59] stereotype441 commented on #32227
Reopening since the fix was reverted.

[2018-07-03 20:01] #21565 closed

[2018-07-03 20:04] lexaknyazev opened #33754 "Should both DDC and Dart2JS always require allowInterop for passing functions?"
_Probably related to #31964 and #33134._

Dart SDK 2.0.0-dev.66.0

**JS**
[code]

**main.dart**
[code]

Works with DDC, fails with Dart2JS:
[code]

Wrapping `print` with `allowInterop` fixes Dart2JS as expected. Should `allowInterop` be always required for passing functions? If so, it would be nice for documentation to mention that and for DDC to enforce.

It's also the case when both functions ar

[2018-07-03 20:22] rakudrama opened #33755 "VM: covariant check slower than is-check"
afaca9f7cfdf0a49bcba8985afec59e97e3019ba speeds up a hot map by using a field hidden behind a `Map` interface.

The implementation of the map indexer is:
[code]

I'd rather use the simpler formulation:
[code]

However, the performance of the 'better' covariant form is bad enough to negate the benefit of using a field.

`ClassHierarchyNode operator [](Object cls)` checks for the two ClassID for the

[2018-07-03 21:00] joeconwaystk commented on #32953
Some additional usage info on `spawnUri`: we use it often in CLI tools to generate and run scripts within the context of a dependent application. For example, `aqueduct serve` generates a script that imports the Dart application package in current working directory and starts the application defined by a type located in that package.

If it aids the conversation, [this package](https://github.com/

[2018-07-03 21:02] bwilkerson opened #33756 "CFE needs to recover when the class hierarchy is invalid."
The front end throws an exception if the class hierarchy is not valid. It needs to recover. For the specific case given below (a class that implements `I<int>` and `I<String>`), I would suggest either picking one of the two conflicting types or treating the class as if it did not implement either one.

Reproduce by running:
[code]
Stack trace:
[code]

[2018-07-03 21:05] leonsenft opened #33757 "Incomplete sentence in `DartObject.toSymbolValue()` documentation"
This sentence in the doc string for `toSymbolValue()` ends abruptly.

https://github.com/dart-lang/sdk/blob/d5ccb53f0133061bc9f85fea6c391c627ddb5801/pkg/analyzer/lib/dart/constant/value.dart#L148

[2018-07-03 21:45] sigmundch commented on #33454
update: test-matrix changes with extra coverage in linux landed, infrastructure team will be adding the coverage shortly. Status files up to date for linux tests.

Next steps: bot changes (from infrastructure team), bring mac/win bots to parity as well.

[2018-07-03 23:31] dgrove commented on #32503
Assigning back to @rmacnak-google - please work with whoever is needed to ensure that observatory and its transitive dependencies are Dart 2-compatible.

[2018-07-04 00:01] sigmundch commented on #27535
this test is failing now on all browsers, I'm closing the bugs since, besides notifications, we are not really using the bug tracker to track the status of our tests.

[2018-07-04 00:01] #27535 closed

[2018-07-04 00:02] sigmundch commented on #30291
this test is failing now on all browsers, I'm closing the bugs since, besides notifications, we are not really using the bug tracker to track the status of our tests.

[2018-07-04 00:02] #30291 closed

[2018-07-04 00:16] munificent commented on #33663
It is valid and it is harder to read. That's why I avoided formatting inside interpolations for so long.

But my current thinking is that it's OK that it's harder to read — that's a signal to you to reorganize your string so that it fits within the line length limit.

[2018-07-04 00:20] munificent commented on #33663
Yeah, so what's going on here is the expected behavior.

I avoided formatting inside interpolation for a long time specifically because this. When it does wrap, it tends to look bad.

But the only time it should wrap, as it's doing here, is when it can't wrap anywhere else. In that case, if it looks bad, it's a signal to you to reorganize the code or split up the string literal so that it doesn't

[2018-07-04 00:20] #33663 closed

[2018-07-04 00:22] munificent commented on #27084
Ugh, this is a surprisingly deep rathole of an issue. It is not *at all* clear which places an ideal dartfmt should or should not place trailing commas. If you look inside Flutter's own framework code, which is presumably pretty scrupulous about this style, there is no clear rule for which argument lists are supposed to have them and which aren't.

[2018-07-04 00:43] hoylen commented on #11189
alan-knight writes:

I assume you are talking about the general issue of dealing with daylight saving changes.

Daylight saving is a separate and complex issue in itself, so let's not try and solve it as a part of this issue - which is only about how `DateTime.parse` validates strings.

The `DateTime.parse` method currently does not allow the string to specify whether daylight saving is in use or

[2018-07-04 01:10] yjbanov commented on #26488
It's nice of the author to [leave a hint](https://twitter.com/jaredpar/status/917464545999839232) though: "I would do it more like F#. It is there in a very basic, simple form" :smile:

[2018-07-04 01:46] itsjoeconway opened #33758 "Type inference fails when inferring type parameter of type argument"
If a type parameter has a type parameter itself (e.g., `<T extends Iterable<U>, U>`), the inner type parameter is not inferred (`U`).

dev.66. I've attached a repro. I expected the output of this program to be `List<String> String`, but it is `List<String> dynamic`.

[code]

[2018-07-04 01:57] dgrove commented on #32341
Is there something actionable here?

[2018-07-04 02:14] devoncarew commented on #33647
@a14n, thanks for the reduced case! I'm curious, where did this occur in the Flutter codebase?

[2018-07-04 02:19] wublack opened #33759 "Dart Analyzer Error Encountered a Dart Analysis Server error."
Analyzer Feedback from IntelliJ

# Version information

- `IDEA AI-173.4720617`
- `2.0.0-edge.4c9689c1d2da97d0aa25cf16cc90c2e463ad157f`
- `AI-173.4720617, JRE 1.8.0_152-release-1024-b02x64 JetBrains s.r.o, OS Windows 7(amd64) v6.1 Service Pack 1, screens 1920x1080`

# Exception

Please append the contents of:
file://C:\Users\admin\AppData\Local\Temp\report.txt

[code]

[2018-07-04 03:06] matanlurey commented on #26488
@munificent Definitely understand it shouldn't be underestimated. Do we have a _requirement_ that all new features support dynamic invocation? If so, didn't we already break that with type inference?

[2018-07-04 04:28] aam commented on #32341
@dgrove wrote:

It turns out that not much. https://dart-review.googlesource.com/c/sdk/+/63721 should fix the test.

[2018-07-04 04:43] a14n commented on #33647
https://github.com/flutter/flutter/blob/34238f54ebb5a8c398df2335745db1640a42e061/packages/flutter_tools/lib/src/commands/daemon.dart#L182-L196

[2018-07-04 05:03] a14n commented on #33663
IMHO a wrap should never happen in String interpolations. This makes the code really hard to read (especially for uri-like String or in multiline Strings)

[code]

is formatted to

[code]

`s07` is my main concern.

I really like to see dart code inside interpolation been formatted but I really think it should be formatted without wrapping. (The bad code signal can be provided by the lint `lines_l

[2018-07-04 05:55] mraleph commented on #33755
Explicit `is` checks and implicit casts are presented in two different ways in IR. `is` checks do type profiling and are specialized based on that.  Implicit casts don't do type profiling.

[code]

This chunk of code comes from `ClassCheck` that we insert above `AssertAssignable` (this is done by `FlowGraphTypePropagator::StrengthenAsserts`).

The expectation is that `AssertAssignable` would be th

[2018-07-04 06:01] jensjoha commented on #29158
Well... I am actually working on that, basically having a CL ready to go... I see now that I should have assigned this to me though...

[2018-07-04 07:36] eernstg commented on #26488
I'm with @munificent on the need to recognize the complexity ('C#: 75% is overload resolution' ;-), but I'm not worried about the complexity of specifying or even implementing such a feature, I'm worried about the complexity that every Dart developer is involuntarily subjected to when reading and writing code. In particular, I'm worried about the inhomogeneous semantics where some decisions are ba

[2018-07-04 07:49] eernstg commented on #33624
Right, the VM should emit a compile-time error, so this is another case where we encounter the missing bounds checks reported in a more general fashion in #33308.

I'm closing this one as a duplicate of #33308, and adding a comment there that we have extra examples here. Also adjusting the area, just for completeness.

[2018-07-04 07:49] #33624 closed

[2018-07-04 07:49] eernstg commented on #33308
Similarly closed #33624 as a duplicate of this issue; note that #33624 contains additional examples as well.

[2018-07-04 08:03] eernstg commented on #33308
Issue #33626 reports on a missing bounds violation error in the analyzer, but also mentions that the same error is missing when the program is run by the VM. Hence, the example in that issue should be taken into account when dealing with this issue.

[2018-07-04 08:03] eernstg commented on #33626
I agree that the VM should emit a compile-time error for that bounds violation; given that #33308 deals with that topic in one place I'll add a comment there that this issue contains additional examples for that topic.

But the analyzer also fails to emit a compile-time error, and it is now the purpose of this issue to get that fixed (relying on #33308 for fixes in the VM).

[2018-07-04 08:10] stefantsov commented on #33260
Fixed by 05f11aa74c85e2159bd0187f6f9ee33644b0ff68.

[2018-07-04 08:10] #33260 closed

[2018-07-04 08:16] davidmorgan commented on #33643
+1 this would be a significant improvement--allowing us to package code as workers without having to mess with the internals.

[2018-07-04 08:23] eernstg commented on #33596
I'm not thrilled about mixing in multiple copies of the same mixin in the same class in the first place, but if we really want to support that kind of monster then I can't see why we would prevent the expression of that desire in a single location (`class M2 = M with M;`), considering how semantically similar that would be to any other construct which puts two copies of `M` into the same class ind

[2018-07-04 08:52] eernstg commented on #33606
Agreeing completely with @lrhn, I believe the topic here is exact types, that is #33307, and the rest is just a matter of subtyping relationships for which I believe we have no ambiguity or novelty here. Adding a reference to this issue in #33307.

[2018-07-04 09:00] NTMS2017 opened #33760 "Reporting a problem compiler message This might be a bug"
I am posting regarding the info shown below:
`_compiler message: Warning: Tried to initialize from a previous compilation (build/app.dill), but the file was not self-contained. This might be a bug. The Dart team would greatly appreciate if you would take a moment to report this problem at http://dartbug.com/new._`

**Flutter Version:**
Flutter 0.5.6 • channel dev • https://github.com/flutter/flutt

[2018-07-04 09:12] eernstg commented on #33606
Oh, one thing!: In tests, we should take care to avoid disturbances introduced by the not-so-well-defined approach to exact types. That is, when we have `T f = testme` we should also have something like `T f = testme as T1` or `T f = identity<T1>(testme);` where `T1` is the statically known type of `testme` (which is exact, so it's also the dynamic type) and we have `X identity<X>(X x) => x;`, suc

[2018-07-04 10:22] alextekartik opened #33761 "Callback exists but tested as null when using dart2js in some scenario (dart2)"
I'm testing on Ubuntu 16.04 sdk 2.0.0-dev.67.

The following test (weird but extracted from an existing source), in pure dart:

[code]

works when run using

    pub run test -p vm
    pub run build_runner test -- -p chrome
    pub run build_runner test -- -p firefox

Running it this way fails

    pub run test -p chrome
    pub run test -p firefox
    pub run build_runner test -r -- -p chrome

[2018-07-04 10:29] DanTup commented on #33605
@bwilkerson @scheglov Any opinions on this? I have code that looks like:

[code]

This is to create edits for a file being moved (eg. to fix relative paths inside it). Currently a test fails when the renamed file had no relative imports/exports/paths because we return an "empty edit" instead of "no edit" (because of the first line). It feels clumsy to have to pre-scan all the imports/exports/parts

[2018-07-04 10:34] DanTup commented on #33605
Or maybe in change_childer_core.dart `addFileEdit` could skip adding the change if it didn't get any edits:

[code]

[2018-07-04 11:53] a14n opened #57736 "prefer_final_locals should handle variable in for-in declaration"
[code]

can be

[code]

[2018-07-04 12:01] askeksa-google opened #33762 "Use external getters for js native fields"
Many `dart2js` libraries use uninitialized final fields to signify properties in the JavaScript implementation.

This is invalid Dart and should eventually be changed to use external getters instead.

The fix for https://github.com/dart-lang/sdk/issues/33022 will incorporate a workaround for these libraries for now.

[2018-07-04 12:36] zoechi commented on #33753
similar or dup of #28463
also #26212 which is supposed to be fixed
and #28754

[2018-07-04 12:50] zoechi commented on #33601
[code]
fixed it for me as well.

[2018-07-04 16:43] bwilkerson commented on #33605
I've thought about this before, and debated with myself about how best to support this case. I had a concern about whether the behavior you proposed would be surprising, but I tend to think that that's outweighed by the principle that it should be hard for clients of an API to do the wrong thing, and emitting an empty file edit seems wrong on some level. So, in general, I'm in favor of this propos

[2018-07-04 16:57] askeksa-google commented on #33762
Keep in mind that this is legal Dart if the class has no generative constructors (i.e. it has no explicit generative constructors and has at least one factory constructor).

[2018-07-04 17:34] matanlurey commented on #26488
Developers don't want dynamic invocation, so it seems to me trying to preserve that feature for new language features isn't worth the time or effort.

[2018-07-04 18:00] eernstg commented on #26488
@matanlurey, if that's concerned with [this comment](https://github.com/dart-lang/sdk/issues/26488#issuecomment-402391227), it sounds like maybe you did not notice that I'm not talking about dynamic invocations, or certainly not _only_ about them:

[2018-07-04 18:06] chstrongsg commented on #33601
Yes, fixed it for me too with 66.

[2018-07-04 18:07] #33601 closed

[2018-07-05 00:04] ccj9707 commented on #33742
@thosakwe Thank you, I solved the problem.

[2018-07-05 00:04] #33742 closed

[2018-07-05 08:22] lrhn commented on #33596
It is indeed *not* true that `M with M` can be treated as `M implements M`.

What I wrote was that it was equivalent to `M implements M { /* members of M */}`, which does have two versions of the state of `M` (one in the super-class and one in the "members of M"). That's not the issue here. The issue is that:
[code]
is equivalent to (in some regards)
[code]
When `A` and `B` is the same class, the

[2018-07-05 09:19] DanTup commented on #33605
That's valid; I thought the edits were being copied from the builder in this line, but it actually just keeps a reference, so they may be edited later - however that means they'd happen after `finalize` - I'm not sure if that could cause other issues.

I've had a look, but I'm not sure of the best way to handle this. We could possibly strip them out further up (eg. in getRefactoring() in edit/edit

[2018-07-05 09:50] alextekartik commented on #33761
After more investigation, I found a weird workaround:

https://github.com/tekartik/idb_shim.dart/blob/1fc6bb689e4f6f0b62e42820707d399ca71ac22e/lib/src/sembast/sembast_factory.dart#L45-L64

The following test - copied from indexed_db_dart2js.dart implementation - testing that 2 parameters are either null or non null, seems to lead to weird optimization with dart2js

    (version == null) != (onUpgr

[2018-07-05 10:23] jensjoha commented on #33660
@kmillikin has been OOO.
I'm adding tests in https://dart-review.googlesource.com/c/sdk/+/63821 and have a crude fix in https://dart-review.googlesource.com/c/sdk/+/63823. The fix is not great though and we should probably find a better solution asap.
I'm unfamiliar with the code, but will give it a try...

[2018-07-05 11:04] lrhn commented on #33388
I believe this needs to be fixed on the VM side. In `gen_kernel.dart` and `frontend_server.dart`, the VM creates a compiler options object. It needs to overwrite the `fileSystem` option with a `FileSystem` implementation which supports HTTP.

[2018-07-05 12:03] lrhn commented on #33749
This sounds like analysis or linter warnings, which is so far not something that all tools implement.

How does these suggestions differ from other analysis/linter options which are only implemented by the analyzer and/or linter?

[2018-07-05 12:19] lrhn commented on #33758
The type inference solution of `T=List<String>` and `U = dynamic` is a *correct* inference for the program at hand. It's not necessarily the most precise solution, but it satisfies all the constraints that your program sets.

If you change `final object = ...` to `final String object = ...`, you will see that `U` is now inferred as `String`. That's because the only place `U` occurs in the signatur

[2018-07-05 13:17] srawlins commented on #33749
I think these can be implemented just by the analyzer. But I think the "level" at which this warnings would be written is code that will be replaced when the Analyzer switches to CFE someday. i.e. I think the current errors that come from `implicit-dynamic` and `implicit-casts` do not come from examining ASTs, but rather come while parsing and building an AST. I've removed some checkboxes.

[2018-07-05 13:21] alextekartik commented on #33761
I was able to isolate the issue a little more, in pure dart. The following test:

[code]

works when run using

    pub run test -p vm
    pub run build_runner test -- -p chrome

Running it this way fails

    pub run test -p chrome
    pub run build_runner test -r -- -p chrome

Test is available here: https://github.com/alextekartik/dart-test/tree/master/bug_33761_test for convenience. Tested on

[2018-07-05 13:58] zoechi commented on #33749
Related dart-lang/linter#288

[2018-07-05 14:45] jaggerwang opened #33763 "How do I initialize a parent with many fields concisely?"
## Problem

I have a base class has many fields, I have to repeat every field to initialize it in subclass.

[code]

There have several subclasses, and make this problem more serious. Is there anyway to make the above code more concise?

[2018-07-05 16:11] zoechi commented on #33763
Not a direct answer to your question but the `json_serializable` and `built_value` packages make this easy using code generation.

[2018-07-05 16:29] bwilkerson commented on #33749
Anything that can be done while building ASTs can be done after the fact if enough information is kept around.

We can make them analyzer hints/lints if we make sure that all of the information that analyzer would need to have in order to implement them is being provided by the CFE. It would be a grave mistake (IMHO) to limit analyzer's ability to support users by limiting the amount of informatio

[2018-07-05 21:14] matanlurey commented on #33763
For your specific use case, @zoechi's comment is your likely best candidate.

You may also be interested in following https://github.com/dart-lang/sdk/issues/31253. I don't know of an obvious way to reduce the amount of code you are writing (outside of using a generator).

(Closing because there is no obvious way to help here, unfortunately)

[2018-07-05 21:14] #33763 closed

[2018-07-05 23:06] bkonyi commented on #32463
I just got burned by this as well on the latest dev release. Is this not making it into 2.0? If not, this should really be documented as there's no mention whatsoever about this feature not being supported and [we currently recommend using it on the Effective Dart page](https://www.dartlang.org/guides/language/effective-dart/usage#do-use-wheretype-to-filter-a-collection-by-type).

[2018-07-05 23:44] Hixie opened #33764 "Dart should allow arbitrary network I/O"
Right now Dart allows you to do TCP and UDP networking, but there's no facilities for ARP, ICMP, or other IP protocols.

[2018-07-06 00:23] bwilkerson commented on #33605
I started trying to explain what I was thinking about, but realized I was writing the code, so I put it together in a CL (https://dart-review.googlesource.com/c/sdk/+/63901).

[2018-07-06 01:40] jaggerwang commented on #33763
Thanks!

[2018-07-06 03:51] thismachinechills commented on #33327
Also encountered this issue with Instagram and other sites.

[2018-07-06 04:32] scheglov commented on #33633
I had to revert separation of `getOutline()` and `getResolution()` in `FrontEndCompiler`.
https://dart-review.googlesource.com/c/sdk/+/62666

So, now we do less work overall, but with responsiveness is less.
We need to remember to keep this in mind while later evaluating performance and responsiveness.

[2018-07-06 06:13] lrhn commented on #33431
I'm trying an implementation where a throwing `moveNext` call ends iteration, but does send a done event after the error, and a throwing `current` just sends the error and keeps iterating.

That should let the example above have identical behavior - the throw in the `sync*` function shows up as a throwing `moveNext` call, and the throw in he `async*` will report an error and close the stream as we

[2018-07-06 07:06] DanTup commented on #33605
Great; thanks! 👍

[2018-07-06 07:46] mraleph commented on #32834
@sjindel-google's work has reached Flutter framework:

<img width="269" alt="flutter_benchmarks" src="https://user-images.githubusercontent.com/131846/42366440-79acfdce-8101-11e8-8430-bc68adb9c9a4.png">

[2018-07-06 07:46] #32834 closed

[2018-07-06 08:07] jensjoha commented on #33216
With https://dart-review.googlesource.com/c/sdk/+/63883 I get

[code]

then
[code]

and finally
[code]

Stuff like
[code]
might not be great, but `--no-preview-dart-2 --checked` does that too.

[2018-07-06 09:06] lrhn commented on #32463
This is making it into Dart 2.0, just as soon as we stop running Dart 1 code (or, hopefully, slightly before).

The function was disabled because people were using it while developing in DDC, and the got burned by it not working when compiling on dart2js in Dart 1 mode. It was considered too much of a foot-gun, so it was temporarily disabled.
We are now running almost all code in Dart 2 mode, with

[2018-07-06 09:09] #32130 closed

[2018-07-06 10:11] lrhn opened #33766 "unittest"
Thank you for taking the time to file an issue!

In order to route, prioritize, and act on this, please include:

* Dart SDK Version (`dart --version`)
* Whether you are using Windows, MacOSX, or Linux (if applicable)
* Whether you are using Chrome, Safari, Firefox, Edge (if applicable)

Missing some or all of the above might make the issue take longer or be
impossible to act on.

----

Is it real

[2018-07-06 10:11] #33766 closed

[2018-07-06 10:16] lrhn opened #33767 "Stop using package:unittest in the SDK"
The test package is more modern. The unittest package is not properly supported, and the Dart 2 migration should have fixed tests using the unittest package.
The following tests still uses `package:unittest`:
[code]

[2018-07-06 11:01] lrhn opened #33768 "VM doesn't consider `dynamic == Object`."
Type objects should be equal if the types are sub-types of each other. That is, when the types are indistinguishable wrt. subtyping.

That includes `dynamic`, `Object`, and `void` all being equal when compared as `Type` objects at run-time.

Example:
[code]

[2018-07-06 11:01] lrhn opened #33769 "Dart2js doesn't consider `dynamic == Object`."
Type objects should be equal if the types are sub-types of each other. That is, when the types are indistinguishable wrt. subtyping.

That includes `dynamic`, `Object`, and `void` all being equal when compared as `Type` objects at run-time.

Example:
[code]

[2018-07-06 11:13] stefantsov commented on #33718
I have started working on this in [CL 63942](https://dart-review.googlesource.com/c/sdk/+/63942).

To try it out I've written the following Dart program:

[code]

When I try to compile it, it now produces the error message with the appropriate location:

[code]

@scheglov Could you try to patch in the CL and see if it solves the issue for Analyzer?

[2018-07-06 11:49] jensjoha opened #33770 "ExpressionCompilation fails when evalation stuff in a deferred library"
E.g.

[code]

then run
`python tools/test.py -m release -c dartk --strong service/add_breakpoint_rpc_test`

And we get
[code]

What seems to happen is
* visitCheckLibraryIsLoaded runs writeLibraryDependencyReference
* writeLibraryDependencyReference looks up in _libraryDependencyIndex
* _libraryDependencyIndex is empty because the library created for the expression have no dependencies set up.

So

[2018-07-06 12:01] stefantsov opened #33771 "Token for '=' is needed for Analyzer to convert invalid field initializers produced by the CFE in some cases of error recovery"
It manifests in the following test case: `tests/language_2/illegal_initializer_test.dart`.  Here is a simplified version of the code from that file:

[code]

Error `MissingAssignmentInInitializer` is produced, and the recovery is to issue an invalid field initializer.  As far as I understand, Analyzer wants the location of `=` in the case of an initializer, even invalid one, even when there's no `

[2018-07-06 12:37] stefantsov commented on #33719
I guess this one was fixed by someone at some point.

To verify this I've written the following program in `/tmp/asdf.dart`:

[code]

It gives the following output when being compiled:

[code]

@scheglov Could you verify that the issue is resolved?

[2018-07-06 12:56] bwilkerson commented on #33605
As you noticed, that CL causes some of the server tests to fail. They're failing because we're expecting to return an empty, but otherwise validly formed `SourceFileEdit` from the experimental `edit.importElements` request, but with this change we're not producing a source file edit at all.

I think that there are two options. The first is to not commit this CL and to require clients to confirm th

[2018-07-06 12:57] lrhn opened #33772 "Telemetry package is not compatible with never version of http package."
We need to upgrade to a new version of `package:http` to avoid using the deprecated/going-away upper-case constants. The new version of `package:http` is not released yet, and it changes the API.

This makes sdk/pkg/telemetry fail when I upgrade the http version. This is blocking removal of the upper-case constants.

To fix this, we should upgrade the http version to 22d2876f72dba30cbfa30cd39be789

[2018-07-06 13:02] lrhn commented on #33772
I've made a version 0.11.3+17 which just removes the upper-case constants from 0.11.3+16. It's not a long-term stable solution, but it might allow us to get to Dart 2 even if http hasn't released a Dart 2 compatible version.

[2018-07-06 13:16] bwilkerson commented on #33712
Note that this is not the only error for which analyzer has more specific contextual information and which will therefore need to be split into multiple error messages.

@stefantsov Do we want separate issues for each message, or should we have a single issue covering the general case with an explicit list?

[2018-07-06 13:21] stefantsov commented on #33712
I would prefer the single issue with the list, like those that we had for converting shadow expression and shadow statements to judgments.

[2018-07-06 13:22] bwilkerson commented on #33712
Sounds good. I don't have a complete list at this point, but I'll start working on it.

[2018-07-06 14:12] DanTup commented on #33605
Hmm, neither seem ideal. For checking whether we'll create an edit first, we need to scan through imports/exports/parts/etc. and see if any of them uris in them will require updating - but we can't update them. To avoid enumerating twice, we'd end up keeping track of the edits in an alternative data structure, which feels like it somewhat undermines the edit builder.

Maybe we could make it option

[2018-07-06 16:26] a14n opened #57737 "what lints to enable in the linter codebase"
There are the following 45 lints that are not enabled in `analysis_options.yaml`.

[code]

Some are not compatible between each other. But a lot of them could be enable to improve the code (and dogfooding our lints).

Those that are commented out should have an explanation to know why.

[2018-07-06 16:28] #33628 closed

[2018-07-06 16:28] thosakwe commented on #33594
Is there anything else I can do about this? This bug means that anything that uses `dart:mirrors` for serialization, etc., will not be able to perform casts, and always produce runtime errors.

[2018-07-06 16:37] #33205 closed

[2018-07-06 16:58] kwalrath commented on #32463
@bkonyi I'm going to add a note to that page, linking to this issue.

[2018-07-06 17:09] aartbik commented on #33656
With the latest 32-bit generalization of improving typed data setter/getter performance, expect the 32-bit performance of Meteor to drop too. Things have to become worse before they get better.... :-)

[2018-07-06 17:52] sigmundch commented on #33761
@alextekartik - thank you for filing this bug and for finding a small repro for us. This was super super helpful!

After pruning a bit here and there, it appears this is an issue with our global whole-program analysis. We are interpreting incorrectly the condition you have in check-params, and as a result we believe callback is null before the call to `Test2.test`.

We'll work soon on a fix, but m

[2018-07-06 18:15] codegrue commented on #30021
Here is another way to do the conversion:

`Day.monday.toString().split('.')[1];`

[2018-07-06 18:30] munificent commented on #26488
I think dynamic invocation is red herring. C#'s `dynamic` supports full C# overload resolution. The complexity isn't around dynamic invocation. It is more inherent to how overload resolution interacts with type inference, overriding, generics, generic methods, optional parameters, and implicit conversions.

(We don't have implicit conversions in Dart yet, but we will once you can pass `0` to a met

[2018-07-06 18:39] matanlurey commented on #26488
I might be ignorant, but isn't there a similar set of complexity for extension methods? Meaning that if we need to eventually figure out how to dispatch extension methods, at least _some_ of the same logic holds for dispatching overload methods?

[2018-07-06 18:51] sigmundch commented on #33761
Fix is out for review: https://dart-review.googlesource.com/c/sdk/+/63981

[2018-07-06 19:03] munificent commented on #26488
Potentially, yes, but I think they tend to be simpler. With extension methods, you still only have a single "parameter" you need to dispatch on. You don't have to worry about challenges around tear-offs. Things might get strange if we support generic extension classes. I don't know. But I would be surprised if extension methods weren't easier than overloading.

[2018-07-06 19:04] munificent commented on #33663
Yeah, in retrospect, I think you're right. I'm working on seeing if I can format interpolations but avoid wrapping them now. If it's possible, I'll kick out a 1.1.2 release of dart_style soon.

[2018-07-06 19:19] matanlurey commented on #26488
Thanks for this! A few more questions, but don't feel like they are important to answer immediately :)

Are there some limitations we could add to overloads to make them easier to implement and grok? I might be incredibly naive ( /cc @srawlins ) but I imagine 95%+ of the benefit could be gained with a few simplifications:

* Either no tear-off support, or force users to write `void Function(String

[2018-07-06 19:34] chalin commented on #33663
FYI, for the use cases that I faced, I liked the interpolation reformatting. In cases where it wrapped, it was because my lines were too long, so I broke them at more meaningful points my self (but at least the formatter was letting me know the strings were too long).

E.g.,

[code]

[2018-07-06 19:36] devoncarew commented on #33772
@lrhn, it sounds like the immediate solution here is to publish `0.11.3+17`, tag it, and bring that into the SDK?

[2018-07-06 19:40] natebosch commented on #33772
+1

We likely won't end up publishing `0.12` at all. We need some time to shift around branches in the github repo etc. cc @kevmoo

Are there other incompatibilities, can you file issues for them? I think we need to plan on running with the `0.11` branch for the foreseeable future.

[2018-07-06 19:45] aartbik commented on #33664
Small stand-alone reproducer:

abstract class A {
  A next;
}
class B extends A {
  B(A n) {
    this.next = n;
  }
}
abstract class C extends A {
}
class D extends C {
  D(A n) {
    this.next = n;
  }
}

yields for:

  while (i != null) {
    A next = i.next;
    ....
    i = next;
  }

this code:

        ;; CheckClass:24(v6 T{!null} Cids[2: B etc.  cid 1025 | D etc.  cid 1027])
0x7fbe4683bab4

[2018-07-06 20:45] munificent commented on #26488
I believe the latter is what C# does. It helps, though it causes some weird confusing behavior. It's always strange for users when you can't take a subexpression and hoist it out to a local variable.

I don't think that's the cause of much of the pain.

That might help, but it's probably too painful of a limitation in practice. One of the key uses of overloading is being able to extend the core li

[2018-07-06 20:48] munificent commented on #33663
Yes, you generally should fix the string so that it fits in the line length. But when it doesn't, I think it's better for dartfmt to leave the line long than to jam some heinous line break inside the interpolation.

In particular, in multi-line strings, you may *want* the long lines.

[2018-07-06 20:51] chalin commented on #33663
Makes sense.

[2018-07-06 20:51] matanlurey commented on #26488
Thanks! I am sure I will understand this issue eventually :)

Did you mean one of the key uses of _extension_ methods, or overloading?

[2018-07-06 21:02] munificent opened #33773 "Please roll dart_style to 1.1.2 in the SDK"
I know I said [the last one](https://github.com/dart-lang/sdk/issues/33663) was it, but I'm sorry. I again need a new version of dart_style rolled. :(

The last change to format inside string interpolations looks really bad when the string doesn't fit inside a single line. This fixes that.

[2018-07-06 22:04] #33761 closed

[2018-07-06 22:37] aartbik commented on #33664
With AOT, right after ComputeSSA:

B3[target]:20
    PushArgument(v4)
    CheckNull:24(v4)
    v11 <- StaticCall:26( get:next<0> v4)

In contrast, JIT, right after ComputeSSA:

B3[target]:20
    PushArgument(v6)
    v13 <- InstanceCall:24( get:next<0>, v6 IC[2: D cnt:1 trgt:'A.get_next' | B cnt:1 trgt:'A.get_next'])

[2018-07-07 00:57] matanlurey commented on #33574
@kevmoo Is this blocking Dart2Stable?

[2018-07-07 01:41] sestegra opened #33774 "dart:mirrors fails to find metadata on dependencies"
Dart VM version: 2.0.0-dev.67.0 (Tue Jul 3 18:17:07 2018 +0200) on "macos_x64"

[code]

Output with Dart 1.24.3
[code]

Output with Dart 2.0.0-dev.67.0
[code]

[2018-07-07 03:00] jonahwilliams commented on #33327
Unless I am misreading [RFC 6265](https://tools.ietf.org/html/rfc6265), then a cookie-value that is enclosed in double quotes should be valid, and the current Dart SDK implementation is an oversight.
[code]

[2018-07-07 06:47] matanlurey commented on #33353
To clarify to stakeholders, we added this in `angular.meta`:
https://github.com/dart-lang/angular/blob/master/angular/lib/src/meta.dart#L56

We would now need support for the annotation added into the analyzer (or linter).

[2018-07-07 11:03] sestegra commented on #33774
Output with 6dfc4ef revision
[code]

So only annotation on dependencies is still missing.

[2018-07-07 14:07] 6643 opened #33775 "I get a piece of binary data, can't utf8.decode to string"
[code]

[code]

[2018-07-07 15:53] devoncarew commented on #33594
cc @rmacnak-google

[2018-07-07 16:40] dgrove commented on #30273
Moved to Dart 2.1

[2018-07-07 17:18] natebosch commented on #33658
The memory usage impact is definitely felt by our users and could block some from upgrading.

Also, if we move functionality to behind a flag it would be technically breaking.

[2018-07-07 19:33] matanlurey commented on #33594
FWIW, you really won't want to use `.cast` as part of a normal workflow. It creates a forwarding implementation of the underlying collection, and is mostly meant to be a temporary stop-gap. For more data sets, a defensive copy is probably better:

https://www.dartlang.org/guides/language/effective-dart/usage#avoid-using-cast

(Still doesn't help you with mirrors, of course)

[2018-07-07 21:00] frankpepermans opened #33776 "ProgressEvent has wrong HttpRequest target in HttpRequest.request -> onError callback"
* SDK 2.0.0--dev.60
* Windows 10
* Chrome with DDC

**This was working as expected in Dart v1.0**
This *might* be a pure DDC issue.

Assume the following code:
[code]
Assume I get a status 401 (unauthorized) callback from the server, which will enter ```handleError```.
This method receives a ```ProgressEvent``` where I can access ```event.target``` to obtain a reference to the ```HttpRequest``` in

[2018-07-07 21:11] dgrove commented on #33658
I think this could wait for post-Dart2Stable (I don't think it changes the
timeline for the flag, just whether or not it's blocking the release).

On Sat, Jul 7, 2018 at 10:18 AM Nate Bosch <notifications@github.com> wrote:

[2018-07-07 21:13] dgrove commented on #29158
Given that this isn't part of Dart2Stable's requirements, can work on this wait until Dart2Stable is out?

[2018-07-07 21:54] scheglov commented on #33718
This CL moves us a bit further, but then we hit another problem: some errors cause CFE to stop compiling and generate an exception throwing `main`.

So, this file:
[code]

Is compiled `pkg/front_end/tool/fasta compile --strong --dump-ir /Users/scheglov/dart/test/bin/test.dart` into:
[code]

I think this is https://github.com/dart-lang/sdk/issues/33686, i.e. there is no `dart:core`, no resolution f

[2018-07-07 23:09] scheglov commented on #33719
I'm [updating](https://dart-review.googlesource.com/c/sdk/+/64021) the implementation of `FileSystemEntity` in Analyzer, to throw `FileSystemException` when the file does not exist. The exception does not leave CFE now.

But as you can see, https://github.com/dart-lang/sdk/issues/33686 still happens - we throw from `main`. I don't know if we want to keep all the similar problem be tracked there, o

[2018-07-07 23:58] SteveAlexander opened #33777 "int class has isNegative but not isPositive"
A certain level of consistency helps a language to be more easily learnable.

The int class has pairs `isEven`/`isOdd` and `isFinite`/`isInfinite`.

But it does not have a corresponding `isPositive` for `isNegative`.

I propose that the method `isPositive` be added. As a new Dart user, I just tried using this method, while trying to make some of my code read more clearly, thinking it would be ther

[2018-07-08 03:01] matanlurey opened #33778 "Analysis server should ignore `.dart_tool`"
Otherwise, here is an example of using AngularDart and IntelliJ:

![image](https://user-images.githubusercontent.com/168174/42416320-525e3506-8220-11e8-8fe8-f0cdd87e2dd1.png)

Note that thanks to @MichaelRFairhurst's work, generated files are now resolved! But unfortunately the side-effect is that the generated files are also treated as source files, and produce additional analysis errors.

Additi

[2018-07-08 03:03] matanlurey commented on #33778
Here is an example of what produces this: https://github.com/matanlurey/angular-ide-example.

[2018-07-08 04:02] MichaelRFairhurst commented on #33778
Regarding excluding not working, I did some work on this. There's a bug
filed somewhere about this, basically the cli analyzer was designed to more
or less take a single file as an argument and give you a transitive closure
of errors, and errors from imports (and imports of imports). It still does
this, so if you import a generated file, you get those errors. Then there
are subtle incompatibilitie

[2018-07-08 04:07] Sammyalhashe opened #33779 "No Idea what this is about, just got web storm and configured the SDK there"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA WS-181.5281.31`
- `2.0.0-dev.67.0`
- `WS-181.5281.31, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.5 unknown, screens 1440x900  Retina`

# Exception

Please append the contents of:
file:///private/var/folders/s4/8xg0tgf92dq8vtnzb8c11h6r0000gn/T/report2.txt

[code]

[2018-07-08 04:11] matanlurey commented on #33778
Thanks for the response. Not an immediate priority issue, just thought I'd file for posterity.

Right, I remember hearing about this. Thanks for clarifying.

Interesting. I was curious how this worked in non-IntelliJ, so I opened it up in VSCode:

<img width="617" alt="screen shot 2018-07-07 at 9 07 27 pm" src="https://user-images.githubusercontent.com/168174/42416642-ceacd73a-8229-11e8-9d35-763d7

[2018-07-08 04:12] matanlurey commented on #33778
At one point the analyzer/IDEs had special behavior for some folders (like `build`).

Could we mark `.dart_tool` as a folder, similar to `build`, if that is still a thing?

[2018-07-08 04:38] MichaelRFairhurst commented on #33778
Yeah I think the Java behavior is it asks you when you open it, "do you
want to index this file?"

So essentially an opt-in, permanent setting. What we've talked about adding
was an automatic, temporary change in behavior. These are both dimensions
to a possible solution, in that it could be requested and temporary, or
automatic and permanent. We should be careful to choose the right one.
There's

[2018-07-08 06:48] sureshg commented on #33775
This is expected because the byte array is not UTF-8 encoded.
[code]
Try `utf8.decode(bytes,allowMalformed: false)` to avoid the malformed code points.

[2018-07-08 09:17] sestegra commented on #33594
Did you try ```List<T>.from``` ?

[2018-07-08 16:06] vijaychendrayan opened #33780 "Unable to build the AngularDart code after Dart upgrade to 2.0"
I have just upgraded to Dart version , Now I am unable to do the build, getting below error msg.
Dart VM version: 2.0.0-dev.67.0 (Tue Jul 3 18:17:07 2018 +0200) on "macos_x64".
I am using Chrome browser for running my applications.

/usr/local/opt/dart/libexec/bin/pub global run webdev serve web:54909
webdev failed with an unexpected exception.
Unable to spawn isolate: file:///Users/vijayc/.pub-ca

[2018-07-08 16:32] mraleph commented on #33664
@aartbik the difference between AOT and JIT is due to AOT running global closed world analysis passes on Kernel before invoking VM compilation pipeline.

[2018-07-08 17:34] dgrove commented on #33388
@natebosch is this required for Dart2Stable for package:test ?

[2018-07-08 18:46] mraleph commented on #33658
@dgrove in the current form it increases memory consumptions of apps that use isolates spawned from source _by hundreds of megabytes per isolate_ - and this memory cost is completely opaque to the user. Given that the fix is _very_ straightforward and that impact is severe I think it is fair to do this before Dart 2 stable.

[2018-07-08 20:17] matanlurey commented on #33780
The version of packages you are using are quite old (`quiver` is now on `0.29.0+1`).

Please utilize the latest Dart2-compatible packages and use a `pub upgrade`. Feel free to open another issue if the problem persists, but I'm nearly certain you are just using outdated packages.

[2018-07-08 20:17] #33780 closed

[2018-07-08 20:54] matanlurey commented on #33775
Thanks @sureshg! Yes, @6643 - your code is not valid UTF-8.

[2018-07-08 20:54] #33775 closed

[2018-07-09 00:01] thosakwe opened #33781 "NPE in dart::FinalizablePersistentHandle::Finalize"
* Dart SDK Version `2.0.0-dev.65.0`
* Mac OSX Sierra
----

I've been working on an async native extension, but have been running into a specific error for a few days. I've been trying hard to debug it, and eventually was able to attach `lldb` to Dart, so that I could find where my crash was happening.

In short, I have a native extension that:
* Binds to a socket
* Creates a new native port that l

[2018-07-09 03:12] hgabe commented on #33315
the latest update for dart fixed the problem

[2018-07-09 04:32] aartbik commented on #33664
For sure, I just including the AOT and JIT code for the smaller example to contrast the differences that exist right now. The goal is to make JIT behave as good as the closed world case while staying safe wrt subtleties of dynamic class loading.

[2018-07-09 05:54] zoechi commented on #33315
@hgabe could you please close the issue then?

[2018-07-09 06:32] p30arena commented on #28516
I'm still waiting for a progress

[2018-07-09 06:32] lrhn commented on #33777
Seems like an oversight. The CL which added `isNegative` also lists `isPostive` in the description, but it didn't actually add it.

There is one catch with `isPositive` - it's not clear what the answer is for zero.
I think the `isNegative` was added mainly to support `double`, not `int`, because it allows distinguishing `-0.0` from `0.0`.  That also suggests that the zero integer should be conside

[2018-07-09 07:20] eernstg commented on #30353
Note that we also have #15398 'Allow named function arguments anywhere in the argument list'

[2018-07-09 07:24] a14n opened #57738 "consider enabling lint always_declare_return_types"
(changes can be seen on dart-lang/linter#1064)

This lint enforce the rules [DO type annotate public APIs](https://github.com/dart-lang/site-www/blob/7e1e470dc838e0fdad4b2743a1aafc05674d8d65/src/_guides/language/effective-dart/design.md#do-type-annotate-public-apis) and [PREFER type annotating private declarations](https://github.com/dart-lang/site-www/blob/7e1e470dc838e0fdad4b2743a1aafc05674d8d65

[2018-07-09 07:30] lrhn commented on #33772
I tagged 0.11.3+17 so I can use it in the SDK.
I don't need it released, we can fetch directly from github if there is a tag.

[2018-07-09 07:38] isoos opened #33782 "dartanalyzer on old package throws '_Link' is not a subtype of type 'File'"
Dart VM version: 2.0.0-dev.66.0 (Fri Jun 29 11:19:05 2018 +0200) on "macos_x64"

I was running `pana` on package: `shuffler` version: `0.0.1`, downloading it and running `dartanalyzer` reproduces the issue.

    SEVERE     Unhandled exception:
           type '_Link' is not a subtype of type 'File'
           #0      Driver._collectFiles (package:analyzer_cli/src/driver.dart:547:23)
           #1

[2018-07-09 07:44] isoos opened #33783 "package:analyzer throws NPE on older source"
Dart VM version: 2.0.0-dev.66.0 (Fri Jun 29 11:19:05 2018 +0200) on "macos_x64"

Run `dartanalyzer` on the package `protractor_dar` version: `0.0.1`:

           NoSuchMethodError: The getter 'length' was called on null.
           Receiver: null
           Tried calling: length
           #0      Object.noSuchMethod (dart:core/runtime/libobject_patch.dart:46:5)
           #1      InterfaceTypeImp

[2018-07-09 07:54] wangtun opened #33784 "how to generate the SDK API doc?"
* Dart SDK Version (`dart --version`)
2.0.0-0.59
* Whether you are using Windows, MacOSX, or Linux (if applicable)
macOSX 1

I want to generate a API DOC and publish it on my own server so I can open the API doc more quickly than the official website. thanks

[2018-07-09 08:34] stefantsov commented on #33719
Ok, I think I need a clarification here: are we talking about an exception thrown at compile time or at run time?

In my previous message I assume that it's an exception thrown by the compiler during compile time.  At least, that's how I read the title of this GitHub issue.  That's why I've invoked just the compiler and saw now exceptions thrown from it.  There was, however, an exception in the ou

[2018-07-09 08:52] stefantsov commented on #33718
Thanks for taking a look, Konstantin!

I believe that this GitHub issue and https://github.com/dart-lang/sdk/issues/33686 are orthogonal.  This one asks for locations on imports that can't be resolved, and https://github.com/dart-lang/sdk/issues/33686 asks to not omit parts of erroneous programs.

They are orthogonal in the sense that we may solve them separately.  For example, we solve this GitHu

[2018-07-09 08:57] biancashouse opened #33785 "Angular + Dart 2 SDK version problem"
* Dart SDK Version (2.0.0-dev.67.0)
* Linux

Installed latest dart 2 sdk.
Trouble running **pub**, but got partly round that [https://github.com/dart-lang/pub/issues/1944]
When I do a pub --trace get I get the following output, which starts off by contradicting the just installed sdk version number.

Resolving dependencies...
The current Dart SDK version is 2.0.0-dev.44.0.

Because ng_dart_quickst

[2018-07-09 09:21] iarkh opened #33786 "Dartanalyzer does not report error about illegal recursive type in class declaration."
Dart SDK Version: 2.0.0-dev.55.0
OS: Windows 10

Simple code example below tries to declare a class with infinite recursion in its `extends` clause.
[code]

Dartanalyzer does not report any errors or warnings here whereas dart correctly shows "illegal recursive type" error here:
`'file:///D:/DART/sdk/tests/co19/src/LanguageFeatures/Instantiate-to-bound/mixin/test.dart': error: illegal recursive ty

[2018-07-09 09:53] lrhn commented on #26488
Overloading and extension methods are orthogonal. Both allow "adding a method" to a class without breaking an existing method with the same name. If you have both, there is a good chance that the extension method won't completely shadow the original method. Extension methods are not virtual, which is annoying. You can add them from the side, which is useful. We don't have a way to add a virtual me

[2018-07-09 11:06] eernstg commented on #33786
Actually, my first take is that this should be allowed. We have no raw types anywhere, so we don't have to consider instantiate-to-bound or simple bounds. The type variable `X` was passed to `O`, so it would have been checked to satisfy the constraint at the "call site" (the location where some actual type arguments are passed to `O`), and hence it is OK to use `O<X>` in the `extends` clause. Next

[2018-07-09 11:30] mit-mit commented on #33658
+1 to the proposed solution of having an off-by-default flag for enabling the hot reload behavoir.

+1 to keeping this issue in stable given the huge regression in memory usage.

[2018-07-09 11:31] mit-mit commented on #33291
@a-siva who's looking at this one?

[2018-07-09 11:31] mit-mit commented on #32503
@rmacnak-google are you looking at this one?

[2018-07-09 11:46] zoechi commented on #33785
What output do you get for `dart --version`?

[2018-07-09 11:49] mit-mit commented on #31953
Moving to area-language as it seems like we have not decided on the correct behaviour yet.

cc @leafpetersen @lrhn is this a blocker for stable?

[2018-07-09 11:55] eernstg commented on #31953
For area-language on this topic, we have [this CL](https://dart-review.googlesource.com/c/sdk/+/47043) and issue #33726. I suppose we should just mark this one as blocked on the latter and keep area-kernel (because we will then preserve the situation where there is an area-kernel issue, which will be needed anyway).

[2018-07-09 11:57] mit-mit commented on #31953
Done. I'd still like to hear how critical this change is?

[2018-07-09 12:02] whesse commented on #33773
Yes I am.

[2018-07-09 12:04] eernstg commented on #31953
The area-language decision that needs to be taken will make certain dynamic errors occur early (at tear-off) or late (at invocation), and the dynamic error will occur every time we have actual type arguments with values that violate the bounds (so we will have the error early, or we will have the error at _every_ invocation of the resulting function object). This means that it only makes a differe

[2018-07-09 12:11] mit-mit commented on #33388
Per comments above, sounds like the VM would be expected to resolve these, cc @a-siva

[2018-07-09 12:33] jodinathan commented on #26488
Would it make it easier if it is available only for positioned parameters?
From my experience, overloadable methods are normally very well defined and with few parameters.

Atenciosamente,

Jonathan Rezende

[2018-07-09 12:36] jensjoha commented on #33660
Fixed with 3a1b09dc63542384e2c4a6016a0e3486fda4c4d4.

[2018-07-09 12:36] #33660 closed

[2018-07-09 12:37] johnniwinther commented on #33037
Type literals are handled by https://dart-review.googlesource.com/c/sdk/+/63820. It doesn't erase type parameters of type literals when the class doesn't need type arguments. This is because type literals created indirectly (through type variable type literals) might still need their type parameters. See the test `tests/compiler/dart2js_extra/indirect_type_literal_test.dart`.

[2018-07-09 13:08] mit-mit commented on #33423
Moving to P1, this is causing a crash and should not be allowed to compile

[2018-07-09 13:17] mit-mit commented on #32912
@peter-ahe-google to check if this fails in the VM

[2018-07-09 13:20] fgenolini opened #33787 "Exceptions from analysis server while running Dart code in VSCode"
Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

- Following steps from the [dart get started page](https://webdev.dartlang.org/guides/get-started)
- Pasted the `thingsTodo` function at the bottom of the file, outside the class (as instructed), then inside the class: problem detected (as expected)
- Cut the function from the class and pasted it back where it

[2018-07-09 13:22] mit-mit commented on #33235
@eernstg how important is this for Dart 2 stable? Is this a breaking change or not? Do we have tests?

We are asking as this one is not in the Dart 2 milestone, but the CFE specific issue (https://github.com/dart-lang/sdk/issues/32613) is.

[2018-07-09 13:22] mit-mit commented on #32341
Closing, we believe this was resolved

[2018-07-09 13:22] #32341 closed

[2018-07-09 13:31] mit-mit commented on #30470
cc @peter-ahe-google to determine if we are OK to postpone this as analyzer catches it

[2018-07-09 13:44] peter-ahe-google commented on #32912
Dart2js is rejecting this program, and so is the VM.

[2018-07-09 13:52] eernstg commented on #33235
It is breaking because it makes `m` in https://github.com/dart-lang/sdk/issues/33077#issue-321323537 an error.

Almost all combinations of methods (static or instance) with the same base name (a method/getter named `n` has base name `n`, a setter named `n=` has base name `n`) were already an error, so anyone who knew that would probably not try to exploit that missing case (has method, declares se

[2018-07-09 13:58] eernstg commented on #33235
It's confusing that #32613 is _not_ closed although #33237 is closed.

Issue #32613 is not exactly the CFE subtask for this issue, it is a broader task which is concerned with the implementation of conflict checking for members at all, not just the changes which were introduced as of 08c893d55bfe7e2d4b0d217ca45b238ee081b746. At this point, however, resolving issue #32613 should imply that #33237 i

[2018-07-09 13:59] peter-ahe-google commented on #30470
There's a lot of missing compile-time errors in both Fasta and Analyzer. This indicates to me that it would be a good idea to keep this in Dart2Stable, and I'm raising the priority accordingly.

[2018-07-09 14:00] botaniQQQ opened #33788 "[!] VS Code, 64-bit edition (version 1.25.0)"
`[!] VS Code, 64-bit edition (version 1.25.0)`

![te88gmo](https://user-images.githubusercontent.com/3118010/42454967-a14f93b0-8399-11e8-94d1-8de056dcfae5.jpg)

[2018-07-09 14:05] mit-mit commented on #33075
The work here is believed to be complete; just need to double-check that this was rolled to google3

[2018-07-09 14:06] mit-mit commented on #33075
@whesse can you help confirm that this is in google3?

[2018-07-09 14:06] bwilkerson commented on #33778
Yes, the command-line analyzer is long overdue for some attention. The plan of record is to make it take a list of files and directories and to treat them the same way that analysis server would treat them if a user opened them in an IDE. Unfortunately, Mike is right; the code has become badly structured and straightening out the mess is not a small task.

And yes, we need to fix the analysis serv

[2018-07-09 14:34] devoncarew opened #33789 "deprecated symbols should have lower priority in code completion"
When calculating code completion rankings, being deprecated should lower your score. That way `Foo.newLowerCase` will score higher than `Foo.NEW_LOWER_CASE`.

/cc @scheglov

[2018-07-09 14:54] devoncarew commented on #33772
It's likely good practice to have it release as well; if you don't have publishing rights, perhaps file an issue against the http repo?

[2018-07-09 15:43] drkhannah opened #33790 "Data Analyzer error"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.5281.24`
- `1.24.3`
- `IU-181.5281.24, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.5 unknown, screens 1920x1080, 1680x1050`

# Exception

Please append the contents of:
file:///private/var/folders/6x/_w944gxn13lgvkvkg99m1pn00000gn/T/report.txt

[code]

[2018-07-09 15:53] scheglov commented on #33718
Yes, you are right, this issue is separate.
It just not the only one, but it is fine.

I realized that I did not express myself precise enough.
In Analyzer all errors have not only offset, but also length. This make errors more obvious in IDE. So, in case of an unresolved URI we highlight not just the first character of the URI, but the whole URI string.

[2018-07-09 15:57] devoncarew opened #33791 "set up three new analyzer bots"
We'd like to split our tests across two sets of bots in order to speed up their cycle time. Specifically, we'd like three new bots:

- `analyzer-testing-linux`
- `analyzer-testing-mac`
- `analyzer-testing-win`

Once these are set up we'll refactor `analyzer-linux-release`, `analyzer-mac-release`, `analyzer-win-release` to split testing across them.

@athomas @whesse

[2018-07-09 15:59] scheglov commented on #33719
It was an exception during compile time.
So, yes, formally this issue, with its initial title and message is fixed.
Feel free to close it.

I'm mentioning #33686 because it seems that there might be different paths leading toward `deprecated_InputError`, and requiring different solution, so it might be useful to track them separately. If this is not something useful and all of them will be fixed a

[2018-07-09 15:59] devoncarew opened #33792 "create three new analyze cfe bots"
We'd like three new bots:

- `analyzer-use-cfe-linux`
- `analyzer-use-cfe-mac`
- `analyzer-use-cfe-win`

We don't expect that these would be on the main waterfall immediately, but we'd like them available to start setting them up (with a target for the main waterfall of 3-4 weeks away). Thanks!

@athomas @whesse

/cc @bwilkerson @kmillikin

[2018-07-09 16:07] sestegra commented on #33774
I found that dependencies annotations are not implemented.
I've started to investigate on the source code.
At least, the following patch should be applied.

[code]

[2018-07-09 16:21] MichaelRFairhurst commented on #33778
Brian and I just talked -- I kind of threw us off the mark a little bit in that we of course have ways of analyzing other files (for the sake of navigation, autocomplete etc) without showing their errors in the analysis panel. So I read just a bit too much into this.

There is some behavior related to not analyzing code in dot files/directories which is not working, maybe due to my implementation

[2018-07-09 16:23] mit-mit commented on #33727
Triaged: punting out of stable

[2018-07-09 16:23] bwilkerson commented on #33605
The more I think about it, the more I like the idea of changing `edit.importElements` to have an optional `SourceFileEdit`. We have been fairly consistent about making possibly empty collections optional in order to reduce (a) the time required to serialize and deserialize them and (b) the number of bytes being sent across the wire. I think that making it optional is perfectly consistent.

[2018-07-09 16:24] aam opened #33793 "File::OpenUri on mac, linux doesn't properly handle %-encoded uris"
Per https://github.com/flutter/flutter/pull/19044#issuecomment-403374283, this is breaking pub running in dart2 mode.

[2018-07-09 16:24] aam commented on #33793
cc @zanderso

[2018-07-09 16:24] mit-mit commented on #33495
Punting to 2.1 per comment in https://github.com/dart-lang/sdk/issues/29989#issuecomment-400035123 that this is not critical for stable

[2018-07-09 16:29] DanTup commented on #33605
Ok cool; are you going to update the tests in your CL or do you want me to take a look?

[2018-07-09 16:29] bwilkerson commented on #33682
I believe that Dart 2 dismantles the magic of the `call` method, but `dynamic` might still be a valid result.

[2018-07-09 16:30] stefantsov commented on #33719
Got it.  I think those two, the original exception at compile time and an execution path leading to deprecated_InputError should be tracked separately.  I'm closing this one and will create a specific sub-issue for https://github.com/dart-lang/sdk/issues/33686.

[2018-07-09 16:30] #33719 closed

[2018-07-09 16:32] sestegra commented on #33774
I guess that `void KernelLoader::LoadLibraryImportsAndExports(Library* library)` method has to be updated as well (from ``runtime/vm/kernel_loader.cc`` file).

[2018-07-09 16:33] matanlurey commented on #33778
No worries! I realize some of this is an archeology lesson.

[2018-07-09 16:35] mit-mit commented on #32912
Per triage discussion, and above comment, punting to 2.1

[2018-07-09 17:30] devoncarew commented on #33772
The roll is here: https://dart-review.googlesource.com/c/sdk/+/64080. I'm going to un-assign myself - sounds like there's a discussion around `package:http` versioning and directions that needs to happen.

[2018-07-09 17:50] sestegra commented on #33774
I'm close to the solution, but I'm only starting to understand C++ source.
I didn't find 'xxx' on following patch.

[code]

[2018-07-09 17:54] natebosch commented on #33661
Is this error also missing from the CFE?

[2018-07-09 17:56] sigmundch commented on #33454
update: status files up to date for d8, chrome, ff, safari. Infrastructure team will swap all bots to test the strong counterparts. Bots for ie11 need more infrastructure work, so they will come a bit later.

I'm keeping this as P1 because bots are testing dart2js for dart2 only in d8, as soon as we have one browser tested in dart2, we'll lower this item priority to P2.

@athomas @whesse - would y

[2018-07-09 18:03] sestegra commented on #33774
@alexmarkov could you give me small help ?

[2018-07-09 18:15] alexmarkov opened #33794 "Incorrect result of computations with side-effects and >> in precompiler"
[code]

[code]

The global variable `var1` is not updated after the second pre-increment and before `>>` which may throw an exception.

Corresponding StoreStaticField is removed by DSE pass.

Before DSE:
[code]

After DSE:
[code]

[2018-07-09 18:15] alexmarkov commented on #33794
/cc @mraleph @aartbik

[2018-07-09 18:19] mraleph commented on #33794
Hmm, it looks like

[code]

should actually check for `MayThrow`.

[2018-07-09 18:22] natebosch commented on #32912
I see a runtime error. How can I repro the VM statically rejecting this code? Tried at `Dart VM version: 2.0.0-dev.67.0` and `Dart VM version: 2.0.0-edge.bab152a0a903aeb7d4afc974d5368ce220dd9501`

cc @dgrove - per our discussion regarding breaking changes I think either this or https://github.com/dart-lang/sdk/issues/32913 should be in Dart2Stable.

[2018-07-09 18:28] natebosch commented on #33661
If I understand correctly the proposal is to add a new static error for this in the analyzer (and I would imagine also the CFE since it doesn't currently have one either). I think we need to consider this for Dart2Stable.

cc @dgrove

[2018-07-09 18:59] scheglov opened #33795 "Fasta does not store annotations for "part of" directives."
At least `BodyBuilder.finishMetadata` is not invoked for it.

Test test case we use:
[code]

[2018-07-09 19:11] aartbik commented on #33794
Interesting factoid: first true divergence bug found by the new DartFuzz tool.

[2018-07-09 19:15] natebosch commented on #33075
I haven't seen this effort - are we planning on pushing it to package owners? I wouldn't consider it blocking for Dart2Stable if that is all that is remaining.

[2018-07-09 19:15] #33315 closed

[2018-07-09 19:17] devoncarew commented on #33733
done

[2018-07-09 19:17] #33733 closed

[2018-07-09 19:33] dgrove commented on #33658
OK, let's leave this in Dart2Stable.

[2018-07-09 19:40] natebosch commented on #32503
I don't understand how https://github.com/dart-lang/observatory_pub_packages works, or why we have yet another approach for importing third_party packages...

Can someone familiar with it please pull in the latest charted from git? I think the problem is likely that it isn't published with Dart 2 compatible code, but is fixed in the repo.

I also filed https://github.com/google/charted/issues/237

[2018-07-09 19:42] dgrove commented on #32596
@mit-mit  dart-lang/linter#995 is fixed and dart-lang/linter#1008 has been worked around (although there is an underlying fix for dart-lang/linter#1008 that will need to come in for things outside Flutter). Can this be closed?

[2018-07-09 19:42] dgrove commented on #33041
After talking with @bkonyi , moving to Dart 2.1 .

[2018-07-09 19:43] dgrove commented on #33257
@mraleph any updates on this?

[2018-07-09 19:43] dgrove commented on #33287
@jmesserly is this likely to land soon?

[2018-07-09 19:44] leafpetersen commented on #31953
My preference is to throw the error on instantiation.  It's non-breaking to change it from that to "on call" later if we want (but not vice versa).   @lrhn are you fine with that?

This is pretty corner case, so I think it's ok if we push this off of the Dart2Stable milestone and fix the implementations later.  There is a small risk though that there is code out there now which instantiates but ne

[2018-07-09 19:50] MicroDroid opened #33796 "Ninja won't find build.ninja"
I followed exactly what [the wiki](https://github.com/dart-lang/sdk/wiki/Building) says to build the SDK, but building fails:

[code]

- I'm building against the `master` branch, and on Arch Linux with latest packages of everything (gcc, depot_tools, etc.) and depot_tools is within my PATH already.
- Running `ninja` command above manually gives same results. However, doing a `cd` to `out/ReleaseX6

[2018-07-09 19:51] danrubel commented on #33738
Fixed in https://dart-review.googlesource.com/c/sdk/+/64140

[2018-07-09 19:51] #33738 closed

[2018-07-09 19:55] jmesserly commented on #32585
Should be fixed in https://dart-review.googlesource.com/c/sdk/+/63023

[2018-07-09 19:57] jmesserly commented on #33287
yes I am putting finishing touches on status files now :)  I was out of office last week

[2018-07-09 19:57] natebosch commented on #32503
apparently there are some required fixes that aren't in the git repo either. This will take some work to get exported.

If possible, could we limit the flag usage to within the SDK and keep support internally for Dart 1 mode in Dart2Js? If we consider it blocking for Dart2Stable I can take a look, but if we can punt on it I think there's likely work that is more impactful for our users.

[2018-07-09 20:05] matanlurey commented on #26488
I also tend to agree that trying to combine overloads and optional parameters (either named or positional) is probably not worth its weight. A lot of the places that optional parameters are used today are to _emulate_ overloads, and users would likely use overloads instead if available.

[2018-07-09 20:06] mraleph commented on #33257
@dgrove the regression is down to 7-20% depending on where we measure. I expect some benefits from work on #33755 (most importantly using cid range machinery in JIT that was originally developed for AOT type testing stubs) - but I don't have timeline for that, @aartbik is just starting on that.

[2018-07-09 20:15] dgrove commented on #33793
Does this need to be in Dart2Stable?

[2018-07-09 20:22] dgrove commented on #33216
After talking with @kevmoo:
  - Dart Analyzer messages are fine for these cases
  - Dart VM messages are not too bad (given @jensjoha 's report)

Moving to Dart 2.1

[2018-07-09 20:23] aam commented on #33793
Yes, not only that, but it's also blocking dart roll.

[2018-07-09 20:24] sigmundch opened #33797 "gracefully detect and report errors when snapshots were built with a different vm"
This issue came up in the context of pub-run/pub-global activate. The latter creates a snapshot and latter runs it. If the snapshot and the vm have different versions, we simply get a vm-crash.

Example repro:
* install some sdk (e.g. version 2.0.0-dev.55.0)
* install a tool via pub-global-activate, e.g. `pub global activate webdev`
* upgrade to a different sdk (e.g. version 2.0.0-dev.67.0)
* run

[2018-07-09 20:37] zanderso commented on #33793
To clarify, @aam is working on a fix here: https://dart-review.googlesource.com/c/sdk/+/64101.

[2018-07-09 20:41] sigmundch commented on #32503
Just created https://github.com/google/charted/pull/238 to upgrade the charted git repo with more fixes.

@rmacnak-google could you please test if this is enough to unblock you by using a git-dependency on my forked repo?

For example
[code]

[2018-07-09 20:43] scheglov opened #33798 "FrontEndCompiler should remove metadata for invalidated libraries"
Currently we just lose metadata at all, but we are going to start merging, and so keeping too much.

[2018-07-09 20:43] #33687 closed

[2018-07-09 21:17] natebosch commented on #30937
I believe this is working as intended given that `asFuture` overrides `onDone` and `onError`. If you believe this is still a problem please add a comment explaining what you expect should be happening and we will reopen.

[2018-07-09 21:17] #30937 closed

[2018-07-09 21:19] natebosch commented on #29672
We have been successfully compiling `angular_components_example` with `dart2js`. I think we can no longer repro this.

[2018-07-09 21:19] #29672 closed

[2018-07-09 21:25] scheglov opened #33799 "Fasta does not produce annotations for typedef parameters"
[code]

Analyzer needs to know resolution for `@app` at `int app` in `F`.
Oh, the this also tests the scope for `@app` is the library scope, not including the parameters scope.

[2018-07-09 21:31] #33794 closed

[2018-07-09 21:33] scheglov opened #33800 "Fasta loses annotations for parameters of redirecting factory constructors"
The following code produces kernel that does not have annotations on `p`.

[code]

Gives:
[code]

But this code has annotations on formal parameters.
[code]
Gives:
[code]

[2018-07-09 21:34] MichaelRFairhurst commented on #33415
Migration is taking a while here. Lots of breakages...about 2.5k in google3 so far. cl/202982389.

@leafpetersen @eernstg @lrhn that's probably at the scale that you guys should be aware...

[2018-07-09 21:39] bwilkerson commented on #33712
This particular case is addressed by https://dart-review.googlesource.com/c/sdk/+/63960.

[2018-07-09 21:47] a-siva commented on #33797
The CL https://github.com/dart-lang/sdk/commit/f67308a983a2a7d8f4645702d34fba36e41b0c56
fixed this by returning error codes instead of a fatal error.
Do you still see issues after this change?

[2018-07-09 21:50] danrubel commented on #33647
The fasta parser correctly handles this case where as the old parser does not.
I added some [new parser tests](https://dart-review.googlesource.com/c/sdk/+/64200) to assert this.
I don't know if we want to fix the old parser.

[2018-07-09 21:53] bwilkerson commented on #33647
If we're going to move to the fasta parser as quickly as I think we will, then it probably isn't worth fixing the old parser.

[2018-07-09 21:59] a-siva commented on #33216
The error messages reported by Dart VM after the changes made by @jensjoha are consistent with what was being generated by Dart 1.
I would close this and open a new enhancement issue with more details on generating consistent error messages across the different tools.

[2018-07-09 22:07] dgrove commented on #33647
I agree, @bwilkerson . Moving to Dart 2.1 milestone.

[2018-07-09 22:09] dgrove commented on #33793
Can this be closed?

[2018-07-09 22:13] sigmundch commented on #33797
Thanks! I believe so, yes.

We haven't had a new breaking format released in the -dev channel since this fix was in, but it seems to be working in bleeding-edge.

[2018-07-09 22:13] #33797 closed

[2018-07-09 22:29] jmesserly commented on #33287
the CL is out for review

[2018-07-09 22:57] bwilkerson commented on #33605
I'll upload an update to my CL after I get home.

[2018-07-09 23:05] nex3 commented on #26488
Not allowing optional named parameters with overloads will make it difficult to backwards-compatibly extend APIs that were originally defined as overloads. This would incentivize API designers to add lots of overloads with additional positional parameters, which is generally less readable and more fragile than named parameters.

My preference for APIs like

[code]

would be to disallow *the defini

[2018-07-09 23:11] nex3 commented on #33257
Here are the latest numbers for Dart Sass running on Dart 2.0.0-dev.67.0:

## Small Plain SCSS

Running on a file containing 4 instances of `.foo {a: b}`:

* Dart 1 mode with a script snapshot: 0.211s
* Dart 1 mode with an app snapshot: 0.066s
* Dart 2 mode with a script snapshot: 0.231s
* Dart 2 mode with an app snapshot: 0.108s

Dart 2 mode is about 10% slower than Dart 1 mode from a script snap

[2018-07-09 23:21] matanlurey commented on #26488
I mean, if that allows overloads 5 years sooner than trying to capture all use cases, I'd still prefer it. It would be trivial to move APIs that heavy heavy use of optional positional parameters to use overloads. For the named case, its not easier, but the option here is to just _not_ change APIs that used named parameters to use overloads.

[2018-07-09 23:35] nex3 commented on #28617
Ping... efficient startup speeds across all platforms are a very important customer feature.

[2018-07-09 23:44] leafpetersen commented on #32613
I'm not 100% clear where the implementation is on this.  It sounds like most (but not all) of this is implemented in the CFE?  Probably relatively rare that this breaks something, but it will be a breaking change to fix.  I'm ok with leaving it as an open bug against Dart 2, but we will need to fix it at some point.

[2018-07-09 23:47] dgrove commented on #32912
FWIW, I see dart2js (which uses the CFE) rejecting this with -dev.67, but I'm not able to see the VM rejecting it statically.

[2018-07-10 00:00] #33774 closed

[2018-07-10 00:08] rmacnak-google commented on #33781
Interesting, it looks to me like all the paths that allocate weak handles check for a NULL callback. Does your native extension use Dart_NewExternalTypedData, Dart_NewExteralLatin1String, Dart_NewExternalUTF16String, or Dart_NewWeakPersistentHandle? Do you have a publicly accessible reproduction?

(ASSERT only has an effect in a debug build of the VM. We run our test suite on such a VM.)

[2018-07-10 00:14] nex3 commented on #28614
It looks like this isn't the complete story. I have a user running Windows 7 who's reporting that Git and Node.js *can* produce colored output, so in principle Dart should be able to as well (see https://github.com/sass/dart-sass/issues/395). Reading [these Windows docs](https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences), it looks like you may be able to call `Set

[2018-07-10 00:16] aartbik commented on #33664
A quick prototype yields the same code for JIT (by adding a CHA deopt clause on class A):

<no checks>
;; v11 <- LoadField(v4 T{Type: class 'A'}, 8 {next} [nullable dynamic]) T{Type: class 'A'?}
0x7fdb19d712ea    488b5107               movq rdx,[rcx+0x7]

and yields about 10% improvement on the standalone reproducer (which has just two holes in the sparse type hierarchy).

Codesize and runtime imp

[2018-07-10 00:45] srawlins commented on #33353
I'll comment real quick on how this will interact with `@protected` and `@visibleForTesting`:

All three of these annotations read as "I wanted to make this member private, but it also should be accessible by _X_." So combining them just unions the _added_ visibility over what _private_ would have given:

* `@protected @visibleForTesting` members can only be accessed from within their library (pri

[2018-07-10 01:48] thosakwe commented on #33781
My code is here: https://github.com/angel-dart/wings

And a quick grep:

[code]

I'm not directly calling any of the functions you mentioned, **BUT** I am using TypedDataAcquireData and TypedDataReleaseData.

[2018-07-10 04:18] #33773 closed

[2018-07-10 04:48] MicroDroid commented on #33796
Okay apparently using `/opt/depot_tools/ninja` is what causes the error. Use the `ninja` bundled with the project makes it work.

I'll keep this open because the doc has to be clear on this, as well as this needs a workaround because I believe many folks would have depot_tools in their path anyways.

[2018-07-10 06:56] BlueSky-YJS opened #33801 "android_error"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA AI-173.4819257`
- `2.0.0-edge.46ab040e589adc5200370dec7952ce5150850822`
- `AI-173.4819257, JRE 1.8.0_152-release-1024-b02x64 JetBrains s.r.o, OS Windows 7(amd64) v6.1 Service Pack 1, screens 1920x1200, 1366x768`

[2018-07-10 07:11] biancashouse commented on #33785
Dart VM version: 2.0.0-dev.67.0 (Unknown timestamp) on "linux_x64"

BTW - pub does not seem to be installed with Dart 2 SDK !

On Mon, Jul 9, 2018 at 9:46 PM Günter Zöchbauer <notifications@github.com>
wrote:

[2018-07-10 07:17] zoechi commented on #33785
`pub` is always installed, you might need to add `dart-sdk/bin` to your `PATH`

[2018-07-10 08:52] biancashouse commented on #33785
Doh, dart sdk was hiding in /usr/lib/dart.

Many thanks.

On Tue, Jul 10, 2018 at 5:17 PM Günter Zöchbauer <notifications@github.com>
wrote:

[2018-07-10 09:11] peenaphoenix commented on #32131
I am behind the corporate proxy and there is a self signed certificate in the certificate chain.
Dart / Flutter PUB upgrade throws error "TLS error" and on verbosity found to be SELF_SIGNED certificate in the chain.

I have gone through all the comments and none fixed the issue. Can you please help in resolving the issue.

I have the CA cert file with me. As like we add the ca file in the npm, do

[2018-07-10 09:17] zoechi commented on #33785
Is there still an issue or can this be closed?

[2018-07-10 09:36] biancashouse commented on #33785
Sure can. I'll update and close the issue, thanks...

On Tue, 10 Jul 2018 at 19:17 Günter Zöchbauer <notifications@github.com>
wrote:

[2018-07-10 09:41] biancashouse commented on #33785
Found that the dart-sdk is installed in /usr/lib/dart.
I was looking under /usr/local !

So in my profile I do:

export DATK_SDK_HOME=/usr/lib/dart
export PATH=$PATH......:$DART_SDK_HOME/bin

Now pub workds as documented. Phew.

[2018-07-10 09:41] #33785 closed

[2018-07-10 09:44] peter-ahe-google commented on #32912
I could have sworn that I saw the VM report this as a compile-time error, but I must have accidentally looked at the output from dart2js.

[2018-07-10 10:02] eernstg commented on #33661
_tl;dr  This demonstrates analyzer bugs, and at least one CFE bug, but inferring `Function` is still a possible approach, and the example would then not have any errors.  rd;lt_

It is correct, as @MichaelRFairhurst says, that this demonstrates bugs in the analyzer: It shouldn't process types that are incorrect (such as those where there is a generic function type which is used as an actual type a

[2018-07-10 10:52] stefantsov commented on #33800
Thanks for filing the issue.  It's indeed a bug in the front end.  I've worked on both the annotations on parameters and redirecting factories, so it's not hard for me to fix this one.  I plan to start work on it tomorrow.

Also, I believe there's a wrong compile output for the first program.  I think it should be something like the following:

[code]

[2018-07-10 11:12] stefantsov commented on #33799
Do I understand it correctly about the mentioned scopes, that `@app` resolves to the top-level field `app`, and not the parameter `app`?  Can we just rename the parameter or the top-level field in the example above for clarity?

[2018-07-10 11:31] DanTup opened #33802 "Unexpected "Can only extract a widget expression or a method returning widget" error"
This is a really weird one... I have some integration tests for Dart Code that extract Widgets. They've all been passing fine, but in a test run just now they failed on *all* CIs (Linux, Windows, Mac) at the same time. Locally they pass. If it's a race condition, it's really weird that three platforms all hit it at the same time. They're all running against the Flutter `beta` branch.

[code]

Here

[2018-07-10 12:43] DanTup commented on #33802
Ok, weird... I managed to repro this by cleaning my working dir. I can repro locally if I have not run `flutter packages get`. Once I run that, then it starts passing.

Strangely, this happened since I added an `example` sub-project to the open project. Given the file in question isn't inside that folder, I don't know why that's affecting things.

[2018-07-10 12:55] mit-mit commented on #33658
@a-siva are you the right assignee for this?

[2018-07-10 13:09] mraleph commented on #32988
Given the following test:

[code]

this is the output:

[code]

[2018-07-10 13:10] mit-mit commented on #32988
Postponing out from stable, given above test result that the analyzer does catch this

[2018-07-10 13:28] bwilkerson commented on #33799
That would appear to defeat the purpose of the test code. The whole point, as I understand it, is that there are two possible choices for how to resolve the reference in the annotation and fasta is currently making the wrong choice. If we renamed either declaration, then there would be no choice and the correct behavior would not be tested.

[2018-07-10 13:42] DanTup commented on #33802
Ok, I mostly figured this out!

Not having the packages does cause the issue; and the message might not be entirely wrong - if the packages aren't restored then I guess it doesn't know that `Container` is a widget.

My packages are normally restored when I run `flutter create .` (which I do to re-populate all the junk iOS/Android files I don't want committed to the Dart Code repo) but I think the

[2018-07-10 13:42] #33802 closed

[2018-07-10 13:45] whesse commented on #33075
I don't know anything about this, or how to find out which SDK and third_party package versions are in Google3.

[2018-07-10 13:52] thosakwe commented on #33781
I figured out what my error was; it's not a VM error.

While I wasn't calling `Dart_NewExternalTypedData`, some C objects I sent back were marked as `ExternalTypedData`, rather than just `TypedData`.

I didn't realize the distinction that `ExternalTypedData` must provide its own finalizer.

[2018-07-10 13:52] #33781 closed

[2018-07-10 14:05] mit-mit commented on #33075
@srawlins any chance you know?

[2018-07-10 14:09] srawlins commented on #33075
No, but I suspect the following packages: collection, observable, and quiver. I don't know of any internal manual implementations.

[2018-07-10 14:23] scheglov commented on #33800
Right, I copied the wrong output for the first example.

[2018-07-10 15:13] scheglov opened #33803 "Analyzer needs a way to merge and flush metadata during incremental compilation"
Analyzer uses its own Kernel metadata, and needs to carry this metadata with newly compiled libraries into the existing Component. We solved this issue in [Analyzer for now](https://github.com/dart-lang/sdk/commit/5403f654aea2764cf41381caa1a98ee6951d6df4), but it CFE thinks that this is something that should be implemented by CFE itself, this issue can be used for tracking.

We also need a way to

[2018-07-10 15:14] #33674 closed

[2018-07-10 15:23] sestegra commented on #33774
Thanks

[2018-07-10 15:27] devoncarew opened #33804 "disabled two failing analyzer summary tests"
We disabled two failing analyzer summary tests - these starting failing when we switched the analyzer to strong mode only, but pass when the analyzer is run with --use-fasta-parser. Additionally, they _may_ be using previous state from disk, as I've seen the tests pass sometimes when I thought they should have failed.

CL to disable: https://dart-review.googlesource.com/c/sdk/+/64360

@scheglov @b

[2018-07-10 15:29] mit-mit commented on #32503
cc @cskau-g

[2018-07-10 15:31] iarkh opened #33805 "Analyzer throws error when try to assign a function result to row variable."
TDart SDK Version: 2.0.0-dev.55.0
OS: Windows 10

The following code sample assign a parametrized function result to the row variable:
[code]
Dart and dartanalyzer show different results here: test passes without errors or warnings whereas dartanalyzer throws compiler error:
[code]
I believe both tools should behave in a similar way.

Seems like `A a = testme();` is OK and should pass in both case

[2018-07-10 16:03] sestegra opened #33806 "Propagation of inner type with Future with Dart 2"
Dart VM version: 2.0.0-dev.67.0 (Tue Jul 3 18:17:07 2018 +0200) on "macos_x64"

Let's assume following code.

[code]

The output result is following.
[code]

I understand well the thrown exception.

I would like to raise the point, because I found the "workaround" with async/await that sounds weird.

So, as Future is a kind of special type, I suggest that the inner type propagation should be allow

[2018-07-10 16:12] jakemac53 commented on #33806
cc @leafpetersen do you have any suggestions here? In general I think any `return await` is an anti-pattern, and a situation in which doing that solves an error is less than ideal?

[2018-07-10 16:14] DanTup commented on #33610
I've had another go at reproducing this, but didn't get anywhere. I'm not even sure how I got it to break on the exception at the time, since the test framework seems to catch them :-/

Feel free to close this if you don't have enough info; and I can re-open if/when I have a reliable repro.

[2018-07-10 16:27] scheglov opened #33807 "TreeNode.enclosingLibrary?"
It exists for some TreeNode(s), but not for all.
Are there any that are not enclosed in a library?
Is it possible to add `enclosingLibrary` to TreeNode?

We associate metadata with TreeNode(s), and would like to flush metadata when a library is invalidated. So, we need a way to go from a TreeNode to the enclosing Library. For now I'm adding [a helper](https://dart-review.googlesource.com/c/sdk/+/6

[2018-07-10 16:35] lexaknyazev opened #57739 "False positive lines_longer_than_80_chars on lines with CRLF endings"
A line of code containing exactly 80 chars passes linter with LF ending but raises `lines_longer_than_80_chars` with CRLF ending.

Dart SDK 2.0.0-dev.68.0

[2018-07-10 16:50] lrhn commented on #33806
I don't think `Future` is special. The issue here also occurs with other classes as well. It's the same reason `List<int> x = <num>[1, 2, 3];` fails. A `Future` really is just a collection with up to one value.

It's also not something that is easy to change. We do not allow objects to change their type parameters (that's extremely unsafe since collections typically have invariants based on those

[2018-07-10 16:51] mit-mit commented on #33647
cc @dgrove this one is blocking https://github.com/flutter/flutter/issues/18604 which in turn is blocking https://github.com/dart-lang/sdk/issues/32596m which is 2.0 stable.

If we were to punt this, when would we get the needed support via fasta?

[2018-07-10 16:55] devoncarew commented on #33647
This would likely happen soon after the dart 2 branch, in the neighborhood of days after.

[2018-07-10 17:01] mit-mit commented on #33647
Do we know if Flutter would track the master or stable branch?

[2018-07-10 17:02] kevmoo commented on #32463
@leafpetersen @lrhn – can we get moving on this?

[2018-07-10 17:08] leafpetersen commented on #33806
If I understand the issue correctly, the question is when we have something of the form:

[code]

whether we should "de-sugar this" into:

[code]

or

[code]

That is, should we cast the future and then await it, or await it and then cast the result?

I think this is largely a question of what invariants we want to build into the library code and the implementations.

[2018-07-10 17:11] eernstg commented on #31590
[Said CL](https://dart-review.googlesource.com/c/sdk/+/28140) has been landed in 715d59779ef3c1333d482301783b2ad91a91cf46. Note in particular that a generative redirecting constructor passes arbitrary arguments on to its redirectee and they are subject to an assignability check (and a dynamic check if there's a downcast), whereas a factory redirecting constructor passes exactly the same arguments

[2018-07-10 17:11] leafpetersen commented on #32463
https://dart-review.googlesource.com/c/sdk/+/63940

[2018-07-10 17:32] kevmoo opened #33808 "analysis server crash -dev.68 - in `analyzer_plugin` - type 'List<dynamic>' is not a subtype of type 'List<String>'"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.5281.24`
- `2.0.0-dev.68.0`
- `IU-181.5281.24, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.5 unknown, screens 3840x2160`

# Exception

[code]

[code]

[2018-07-10 17:33] kevmoo commented on #33808
@MichaelRFairhurst – need to update plugin logic somewhere? This in w/ an angular project w/ the angular plugin enabled

[2018-07-10 17:42] leafpetersen commented on #33629
Yes, this should be an analyzer and CFE error.  I have no expectations one way or the other about what the VM does with invalid code.

[2018-07-10 17:44] natebosch commented on #33629
cc @dgrove - I think this needs to be in Dart2Stable since it will break otherwise working code.

[2018-07-10 17:48] jmesserly commented on #33661
It infers `<T>(dynamic) => Null` is because the `T` is a parameter name, not the type. I think the example code was supposed to be like this?

[code]

[2018-07-10 17:53] matanlurey commented on #33801
Can you please re-open a new ticket with the error information, i.e. stack trace or what not?

If this is Android/Flutter specific, please re-open it at github.com/flutter/flutter instead.

[2018-07-10 17:53] #33801 closed

[2018-07-10 17:54] matanlurey commented on #33790
This is a version of the analyzer from over a year ago. All effort is only being put into the 2.0.0-dev SDK, which will become the new stable branch soon. Please feel free to open a new ticket if problems persist.

[2018-07-10 17:54] #33790 closed

[2018-07-10 17:54] matanlurey commented on #33788
Closed. This should be filed at https://github.com/flutter/flutter/issues, as mentioned.

[2018-07-10 17:54] #33788 closed

[2018-07-10 18:00] sigmundch commented on #33664
@aartbik - Stephen is out on vacation, but I'd be happy to help try it out in dart2js.

He probably came across this by profiling dart2js during our SSA-optimizations. We have a couple compile-time benchmarks you can try in golem, but I can also try it out on a large application and let you know if I see some measurable difference there. Do you have a CL I can patch in?

[2018-07-10 18:05] #32463 closed

[2018-07-10 18:06] devoncarew commented on #33647
I assume Flutter will continue to track Dart SDK dev releases; pinging @tvolkert and @Hixie.

[2018-07-10 18:14] bkonyi commented on #33610
Sure, I'll go ahead and close for now. I've seen related issues in the past with similar symptoms, so I wouldn't be surprised if there's a couple of places that still don't set token positions properly. Thanks for following up!

[2018-07-10 18:23] leafpetersen commented on #33415
We may want to abandon this as a Dart 2 error and make it an opt in lint.

[2018-07-10 18:31] sigmundch commented on #32503
The pull request landed, but has not been uploaded to pub. You can use it if you set the pubspec to:

[code]

[2018-07-10 18:43] mraleph commented on #33664
We can just start by uploading to Golem and looking if anything improves on dart2js-compile target.

[2018-07-10 18:53] dgrove commented on #33075
The SDK which removes retype hasn't yet landed in google3.

[2018-07-10 19:03] lrhn commented on #33806
@leafpetersen
I think the issue here is with non-async functions. For async functions, like your example, we already do the latter:
[code]
because a return (including a `=>`) in an asyunc function unwraps one level of `Future`.

The trouble-methods here are `badAsyncGetCat`/`Dog`, which are not `async`, and therefore do not unwrap. Changing `=>` to `async => await` fixes the type issue, and so wou

[2018-07-10 19:16] rmacnak-google commented on #32503
Thanks Siggi! I'm able to make progress locally patching that in.

[2018-07-10 19:31] natebosch commented on #33415
Would we plan on making this an error in Dart 3?

[2018-07-10 19:38] sigmundch commented on #33454
update: Bill started the migration process, there is already a CL out to enable the chrome bots in strong mode.

[2018-07-10 19:48] stereotype441 opened #33809 "Fix analyzer/FE integration of local type variables"
The following code currently crashes analyzer/FE integration:
[code]
The problem is that when translating the type of `y` (at (1)) from a kernel type to an analyzer type, we try to look up the declaration of `T` in the element model by searching from the root element of the library.  But the elements associated with local functions aren't reachable from the root element of the library (because the

[2018-07-10 20:19] mit-mit commented on #32442
@kevmoo maybe would be good to update this bug now that Dart 2 is close to done?

[2018-07-10 20:19] sigmundch opened #33810 "dart2js crash in inference: JS-interop + field + function types"
This program is invalid because the field in class `B` should be declared as an external getter/setter:

[code]

Today it produces this crash in the compiler:
[code]

[2018-07-10 20:21] stereotype441 commented on #33809
Turns out this is a duplicate of #33722.

[2018-07-10 20:21] #33809 closed

[2018-07-10 20:24] leafpetersen commented on #33661
We need to have a plan for this.  This code:

[code]

Compiles with no errors on CFE and analyzer.  dart2js gives no runtime errors.  VM gives a runtime error.  This is potentially quite breaking to fix post Dart 2.

[2018-07-10 20:29] leafpetersen commented on #32918
Not sure what to do with this one.  It's inconsistent runtime behavior, which is bad, must be fixed.  Could be punted to 2.1, but not an optional one.

[2018-07-10 20:48] leafpetersen commented on #32912
Note that dart2js only gives an error on this if the default value is actually used.  So the code below is not statically rejected, and gives no errors when run (neither by DDC, nor by dart2js, nor by the VM).

[code]

This means that fixing this will be a breaking change.

[2018-07-10 20:56] munificent commented on #33797
Yes, this is working as expected in pub now. Thanks for the fix!

[2018-07-10 20:59] leafpetersen commented on #33415
I have no idea about Dart 3.  My hope would be that if
  - we made this (and other related things) a lint in a standard set of lints
  - the ecosystem mostly migrated to that standard set of lints
then we could fairly easily make this an actual part of the language in Dart 3.  Bunch of ifs there though.

[2018-07-10 21:04] botaniQQQ commented on #33788
@a-siva, oh, really, mixed up, thanks.

[2018-07-10 21:06] leafpetersen commented on #33806
@lrhn Right you are, I missed that those were non-async.

The latter part isn't really true though, unfortunately, since we cast to `FutureOr<Animal>` which fails.  We might want to fix that later - it should be non-breaking to relax this.

[2018-07-10 21:06] #33806 closed

[2018-07-10 21:35] aartbik commented on #33664
I started a golem run. In the meanwhile, you can try out the patch:

https://dart-review.googlesource.com/c/sdk/+/64440

Still, I would be interested in the exact way of invoking dart2js so that optimize.dart is exercised. In my runs of dart2js (on other dart code or on patch), this code is never run.

[2018-07-10 21:37] alextekartik commented on #33761
Confirmed the issue is fixed (and the one I was encountering in my lib) using 2.0.0-dev.68. Congrats and thanks

[2018-07-10 21:40] sigmundch commented on #33664
Will do, thanks!

It is always enabled :) - could it be matter of getting a complex enough input program?

[2018-07-10 22:24] a-siva opened #33811 "front_end/test/fasta/bootstrap_test has issues when switching the front end to run in Dart2 pipeline"
bootstrap_test uses the --no-preview-dart-2 option and passes a 'dill' file as input. the VM does not support this combination anymore and reports this as an error.
--no-preview-dart-2 implies the Dart 1 pipeline and it cannot run '.dill' files.

If I modify the test to remove the --no_preview_dart_2 option in the method runCompiler, the test fails in the bootstrap step with the following runtime

[2018-07-10 22:24] a-siva commented on #33811
/cc @peter-ahe-google

[2018-07-10 22:35] Hixie commented on #33647
@cbracken and @a-siva are probably the appropriate people to make that call.

[2018-07-10 23:28] munificent commented on #32749
I haven't looked into markdown. If @srawlins doesn't reply, I'll take a look.

[2018-07-10 23:33] joeconwaystk opened #33812 "Allow variadic control of generics (i.e. List)"
The following code shows two seemingly identical-in-behavior code blocks, but one is a type error and the other is not. _If I am misunderstanding something, please feel free to close with minimal comment._

The method `f` takes a `List<dynamic>` and adds a `int` to it. Block 1 succeeds, and block 2 fails with a type error.  Both blocks pass the same list literal argument. The difference is that th

[2018-07-10 23:34] a-siva commented on #33647
Yes we will continue to actively roll Dart from top of tree into Flutter on a regular basis.

[2018-07-10 23:45] matanlurey commented on #33812
This is working-as-intended. There are smarter folks to give the gritty details, but basically:

[code]

... is the same as ...

[code]

While:

[code]

... is the same as ...

[code]

This might not make sense in this particular example, but imagine the following:

[code]

With your suggestion, this would be invalid code, because we'd create a `List<int>`, upcast it to a `List<num>`, and then fai

[2018-07-11 00:18] thosakwe commented on #33594
Thanks for the tip - I was able to resolve it by using `List.from`, which works perfectly.

[2018-07-11 00:19] sigmundch opened #33813 "CFE inference bug: redirecting const factory constructors"
When using redirecting factory const constructors, inferred type-parameters seem incorrect.

Consider these 2 programs **v1.dart**:
[code]
and **v2.dart**:
[code]

In v1.dart, we print `_Y<Null>`, in v2.dart this produces an error because we try to create `_Y<B.T>`.

You can reproduce this on the VM (where you get an error in v2) and dart2js (where you get a compiler crash because we didn't expect

[2018-07-11 00:47] joeconwaystk commented on #33812
Thanks for writeup Matan. I think we're talking about something similar, but not quite (also, don't worry, not frustrated - just raising a flag).

To clarify, I agree that the type inference behavior makes sense. I am claiming that the type system is incorrect here, and I don't have a suggestion on its resolution.

I'll use another example, without dynamic.

Let's say I have a function that takes

[2018-07-11 01:35] matanlurey commented on #33812
I'm not a language expert and definitely feel free to wait for @leafpetersen (we should try and help capture some of this conclusion on the language site, if possible), but what you are talking about is [covariance and contra-variance](https://en.wikipedia.org/wiki/Covariance_and_contravariance_(computer_science)).

In Dart1, `dynamic` was special, it was basically `any`. It's now, in the type sys

[2018-07-11 02:02] joeconwaystk commented on #33812
I think we are saying the same thing. If I take the example from the accepted S/O answer and convert it to Dart, I get a runtime exception and the analyzer can't tell me about it beforehand.

[code]

If the solution is that the language needs variance specifiers, and that collection types have to use these specifiers, awesome. But as it stands now, I can write code that is always invalid at runtim

[2018-07-11 02:17] matanlurey commented on #33812
@joeconwaystk:

For sure! Just trying to help this issue turn into something actionable :)

FWIW, in Java using `List` you'd have the _exact_ same behavior. The only real difference is that `Array` is invariant, and Dart does not have arrays (per-say) or invariance (yet, at least).

That's the case across the spectrum of languages similar to Dart too, including Java. The goal of Dart2, unfortuante

[2018-07-11 04:17] aartbik commented on #33664
Thanks for the hints. I was able to exercise some of the methods through JIT. Strangely enough not the visitBasicBlock shown above, but at least the very similar method below.

`optimize.dart_SsaCheckInserter_visitBasicBlock`

which looks like

[code]

When JITted, the intermediate on input for the next getter looks like:

[code]

Before this would expand to a very long chain. But with the new imp

[2018-07-11 04:55] srawlins commented on #32749
Oh, Leaf did it.

[2018-07-11 05:56] lrhn commented on #33806
Ack, true. In any case, I think the request here was that a `Future<Animal>` which has been completed with a `Cat` can be treated as a `Future<Cat>`. I don't see that happening, or if it does, it's a more general feature than just futures, and a much bigger one too.

[2018-07-11 06:30] lrhn commented on #33812
The issue you are hitting here is that Dart generics are covariant and not safe.
We allow you to pass a `List<int>` as a `List<num>` even though you can't actually do all `List<num>` things on it.
That has advantages and disadvantages. The advantages include being able to use a `List<int>` where a `List<num>` is expected without having to copy or wrap it, and that works as long as all you do is *r

[2018-07-11 06:37] lrhn commented on #33805
The code should fail to compile.

The [recursive (F-)bound](https://en.wikipedia.org/wiki/Bounded_quantification#F-bounded_quantification) on `testme` cannot be satisfied by *any* type in the program, so it is impossible to call `testme`. Even if there was a type satisfying it, say `class D implements A<D>{}`, inference cannot guess that. The type argument to the `testme` function is omitted, so t

[2018-07-11 06:54] jensjoha commented on #32613
From the tables here: https://github.com/dart-lang/sdk/issues/33235#issue-326617285
It seems that
[code]
is not handled, i.e. it should give an error, but doesn't.

and that
[code]
should be allowed but isn't.

[2018-07-11 06:59] iarkh commented on #33805
Isn't it a superbounded type here?
According instantiate-to-bounds spec, omitting type parameter for class `A` is the same as `A<dynamic>` and `A<dynamic>` is a super-bound for `A`...

[2018-07-11 07:51] lrhn commented on #33415
The current `void` story is not very consistent, mainly due to all the legacy exceptions we've had to add.

I hope the `await voidExpression` cases are errors. It scares me to think that someone is awaiting a `void` expression because they know that a subclass might return a future. That would make my hope of actually making void expressions not evaluate to a value more breaking.

So, to make futu

[2018-07-11 07:53] DanTup commented on #33731
I trigged this again with this (there's a bad `>` in there):

[code]

### Versions

- Flutter SDK 0.5.7-pre.98
- Visual Studio Code 1.25.0
- Dart Code 2.16.0-beta.1

### Analyzer Info

The analyzer was launched using the arguments:

[code]

### Exception

Exception while using a AlwaysSpecifyTypes to visit a SimpleFormalParameterImpl in FormalParameterListImpl in GenericFunctionTypeImpl in SimpleF

[2018-07-11 07:56] lrhn opened #33814 "Test analyzer_cli/build_mode_test not compatible with protobuf 0.9.0"
The test `pkg/analyzer_cli/build_mode_test.dart` uses the `writeRawBytes` method which was removed from the protobuf packagin in version 0.9.0.

To fix this, maybe look at how the package bazel_worker was fixed to be compatible.

[2018-07-11 08:06] eernstg commented on #33805
It isn't actually a super-bounded type:

Super-bounded types are concerned with the situation where a type argument list is passed to a generic type (a generic class, a parameterized typedef, or `FutureOr`), and that type argument list violates the declared bound, but we can "repair" the situation by performing certain substitutions.

In your example we are dealing with a type argument list which

[2018-07-11 08:06] jensjoha commented on #32613
Oh, and there's also some tests tagged with 32613 that fails...

[2018-07-11 08:35] lrhn commented on #33805
Yes, in all these cases, there is no valid and inferable type argument for `testme`. Using the RHS type is not sufficient to satisfy the type bound for the function type parameter, and the type bound itself is recursive in a way that prevents inference from using the bound itself as a type.

[2018-07-11 08:39] eernstg opened #33815 "A super-bounded type can be given as an actual type argument in a function call"
Consider the following program (variant of example given in #33805):
[code]
The response from `dartanalyzer` looks as follows:
[code]
In the first line of `main`, we are passing the type argument `A<dynamic>` to the invocation of `testme`, and that is in itself a super-bounded type (because `A<Null>` is regular-bounded, because `Null <: A<Null>`). For `testme` there are no constraints on the type

[2018-07-11 08:57] eernstg commented on #33805
Sounds good! Note also #33815 which is the other way round: It shows that the analyzer complains about a super-bounded type given as a type argument that should be allowed.

However, I forgot one thing: The original example admits the type argument `Null`:
[code]
Now, everybody (that is, dart and dartanalyzer) are happy, as they should be! But even though it works, I think the situations where it'

[2018-07-11 09:20] eernstg commented on #33661
Oops, you're right of course! Thanks for catching that one!

However, I still believe that a type which contains a generic function type as an actual type argument should be considered as a compile-time error when written by the developer, and as a type which cannot be inferred (which may or may not cause inference to fail), rather than such types being created and propagated around during static

[2018-07-11 09:23] stefantsov commented on #33799
Thanks for the clarification, Brian.  Now I understand that we're dealing with two issues here:

1. The annotation on formal parameters in function type aliases are discarded by the CFE, but should present in the compiler output.  I've just checked that it's indeed the case, and we need to solve it.  I think I know how to fix it.

2. There is a concern that the future fix for issue 1 described abo

[2018-07-11 09:34] eernstg commented on #33415
It's a little bit like `void foo() { ... return print('Hello!'); ... }` in that it combines the control flow and effect in one statement, but we really just want the control flow, and we want the effect, and the fact that it looks like we are returning a value is pure obfuscation.

With `await voidExpression` we may want the delay, and we surely want the side-effects from evaluation of `voidExpres

[2018-07-11 09:41] lexaknyazev opened #33816 "Please provide some means of controlling snapshot's contents"
Starting with recent SDK builds (probably since Dart2 on by default), script snapshots include full source code of all deps with indentations and comments.

Is it possible to tree-shake sources or at least strip comments and whitespace from snapshots?

Some numbers from a real app:
- Legacy script snapshot size - **0,53 MB** (doesn't contain white-space or comments)
- Current script snapshot size

[2018-07-11 09:57] har79 opened #33817 "Uri: add support for parsing URLs (suffix references)"
Dart SDK 2.0.0-dev.63.0 (DartPad)

`Uri.parse` treats [suffix references](https://tools.ietf.org/html/rfc3986#section-4.5), e.g., "www.google.com", as the path component which can result in the output being incorrect.

[code]

Although suffix references don't conform to correct URI syntax, so there's nothing technically incorrect about this behaviour, it would be very convenient to have some suppo

[2018-07-11 09:58] eernstg commented on #33799
For 2., I believe the parameter `app` should be ignored when `app` in `@app` is looked up. We have the following in line 991 (section 'Formal Parameters') of dartLangSpec.tex, 2efe3447ee15fe0205e29561a0ed12d5472169df:
[code]
This means that a parameter name is _not_ in scope in the function's signature. Unfortunately, there is no information (section 19.3.1 'Typedef') about scoping for old style t

[2018-07-11 10:13] lrhn opened #33818 "`async*` methods should start synchronously when their streams are listened to."
The `async` functions start synchronously in Dart 2. So should the `async*` functions, meaning the initial part of the function should be called immediately when a client `listen`s on the returned stream.
We have not implemented that yet.

Starting immediately is important. It allows an `async*` function to immediately listen to, say, a broadcast stream immediately when the user asks it to start.

[2018-07-11 10:36] mit-mit commented on #32596
We cannot close this before we resolve all mentioned issues from https://github.com/dart-lang/linter/issues/1008 (specifically https://github.com/dart-lang/sdk/issues/33647 is unresolved), but based on comments in those we can get those fixes from 2.1 top of tree, so moving this to 2.1

[2018-07-11 11:21] lrhn commented on #33817
It will definitely have to be a separate parse function.
It's fairly easy to do, actually:
[code]
If you want to parse heuristically, then maybe:
[code]

I'm not sure I think this use-case is general enough to warrant a function on the `Uri` class.

[2018-07-11 11:38] har79 commented on #33817
Yeah, I was looking for something like that but that also handles if the scheme is specified, i.e., would cope with both "http://google.com" and "google.com". Similar to:

[code]

but without the inefficiency of parsing twice.

[2018-07-11 11:40] mit-mit commented on #30470
@peter-ahe-google can you help us understand roughly how many missing errors we have, and what the rough estimate is for adding those?

[2018-07-11 12:32] #33588 closed

[2018-07-11 12:43] stefantsov commented on #31027
I'm addressing this in [CL 64540](https://dart-review.googlesource.com/c/sdk/+/64540) by cloning the default values from the procedure the forwarder was generated for.

[2018-07-11 12:44] lrhn commented on #33817
I believe the `parsePotentialSuffixeReference` would do that since a scheme must end with `:`, so it doesn't match the regexp. It would parse `http://x/y/z` normally and `x.y/z` as `//x.y/z`.

You can argue, though, that the inefficiency of parsing twice is still there since it does a RegExp match on the string before parsing.

[2018-07-11 13:04] dgrove commented on #33423
Is there a link to the pending fix, @stefantsov ?

[2018-07-11 13:06] stefantsov commented on #33423
Sorry for the delay @dgrove.  I'm working on it right now.  I plan to upload it in about an hour.

[2018-07-11 13:30] nickclmb opened #33819 "Support arbitrary type argument count in functions in dart2js"
Hi all,

Dart2js crashes with error because of this TODO:
https://github.com/dart-lang/sdk/blob/master/pkg/compiler/lib/src/ssa/builder_kernel.dart#L4387

Seems critical can you please check
[code]

[2018-07-11 13:34] whesse commented on #33773
The checked-in SKD is updated to this version of dartfmt in CL https://dart-review.googlesource.com/c/sdk/+/64541

[2018-07-11 13:38] nickclmb commented on #33819
Same here:
https://github.com/dart-lang/sdk/blob/master/pkg/compiler/lib/src/js_backend/constant_emitter.dart#L341

[2018-07-11 13:53] lrhn commented on #33726
Still voting for early errors unless someone has a concrete reason not to.
The extra code size only applies to tear-offs of generic methods with a class type parameter in the bound (either covariant or contravariant, I guess). Those cases should be rare and easily distinguishable.
The only issue could be that the check cannot be performed at the tear-off point because we don't actually have functi

[2018-07-11 13:56] eernstg commented on #33725
An update to [nosuchmethod-forwarding.md](https://github.com/dart-lang/sdk/blob/master/docs/language/informal/nosuchmethod-forwarding.md) is available in [this CL](https://dart-review.googlesource.com/c/sdk/+/64380), awaiting reviews.

[2018-07-11 13:58] eernstg commented on #33727
An update to [nosuchmethod-forwarding.md](https://github.com/dart-lang/sdk/blob/master/docs/language/informal/nosuchmethod-forwarding.md) is available in [this CL](https://dart-review.googlesource.com/c/sdk/+/64380), awaiting reviews.

[2018-07-11 14:08] stefantsov commented on #33423
I've uploaded the pending fix as [CL 64544](https://dart-review.googlesource.com/c/sdk/+/64544).

[2018-07-11 14:10] stefantsov commented on #33813
Thanks for filing it, @sigmundch.  It's a long-standing one.  I've recently landed a pre-requisite for the fix: https://github.com/dart-lang/sdk/issues/32130.  Going to look at this one tomorrow and fix soon.

[2018-07-11 14:23] eernstg commented on #33596
I believe the current situation is as follows:

- If we decide that it is _not_ allowed to apply the same mixin twice in the construction of a class (if generic, that holds when the same type arguments are provided, but it's already an error to provide different type arguments), then obviously `class O extends M with M {}` is an error. It seems unlikely that we will decide on doing that (it's obvi

[2018-07-11 14:24] stefantsov opened #33820 "Consider having a way to avoid storing default values of formals in forwarding stubs"
Currently the default values are copied to formals of the stubs from the procedures they forward to.  It incurs undesirable consequences for modular compilation and summaries.

For more context, please see https://github.com/dart-lang/sdk/issues/31027.

[2018-07-11 14:25] stefantsov commented on #33820
/cc @stereotype441

[2018-07-11 14:46] eernstg commented on #33726
Right, when a type argument list is expected, but missing at runtime (which means that a generic function was invoked dynamically and no type arguments were provided explicitly), the invocation must use a type argument list which is obtained using [instantiate-to-bound](https://github.com/dart-lang/sdk/blob/master/docs/language/informal/instantiate-to-bound.md).

That operation may fail (say, beca

[2018-07-11 14:49] eernstg commented on #33726
I just noted that @leafpetersen said

as well, so I'll conclude that the language team has agreed on that, and land the above-mentioned [feature specification](https://dart-review.googlesource.com/c/sdk/+/47043) and close this issue.

[2018-07-11 14:51] nickclmb commented on #33819
@kevmoo @johnniwinther

[2018-07-11 14:51] eernstg commented on #33726
Closing: generic-function-instantiation.md was landed in b8098e9683aeb9af7996a264e12887acbdeb113c.

[2018-07-11 14:51] #33726 closed

[2018-07-11 14:56] stereotype441 commented on #33820
Specifically, the undesirable consequence is that if a method is in module A, and a forwarding stub is generated for it in module B, then during compilation of module B, the default parameters for the method in A won't be seen (because, as I understand it, .outline.dill files don't include the values of default parameters).  Therefore, the forwarding stub will not have the correct default paramete

[2018-07-11 14:57] eernstg commented on #31953
The feature specification [generic-function-instantiation.md](https://github.com/dart-lang/sdk/blob/master/docs/language/informal/generic-function-instantiation.md) has been landed, and it includes the requirement that the above-mentioned dynamic error must occur at instantiation (that is, during tear-off). Hence removing the 'blocked' label.

[2018-07-11 14:57] stereotype441 commented on #31027
Note that CL 64540 doesn't address the modular compilation issue described in the original bug description--that issue is now being tracked in #33820.

[2018-07-11 15:05] devoncarew commented on #33571
Related, a (currently internal only) [doc](https://docs.google.com/document/d/1zEMZQBdD9Az9bDrxFSyMWQ_C2k3SlorcKlM9xYHCvx4/edit#heading=h.wh65jxb58e2z
) about transmitting type information from the front end to the analyzer.

[2018-07-11 15:20] dgrove commented on #32864
@MichaelRFairhurst can you reach a conclusion about moving this to Dart2.1 ? If that is the way to go, then please move this soon.

[2018-07-11 15:34] dgrove commented on #28979
@devoncarew can you please apply the right area tag for this? (it's not clear to me where this should land)

[2018-07-11 15:47] devoncarew commented on #28979
I'll move this to the flutter repo.

[2018-07-11 16:00] devoncarew commented on #33814
@lrhn, this should have been fixed before you committed. Build mode in the analyzer isn't optional, and drives a lot of the google3 workflow.

[2018-07-11 16:21] devoncarew commented on #33814
OK, this is just breaking the test, not build mode itself.

[2018-07-11 16:34] stefantsov commented on #33686
I've updated the top-level comment with a list of identified causes for the described behavior.  Please, expand it as needed.

[2018-07-11 16:35] stefantsov commented on #33719
I've created a list of causes for deprecated_InputError in https://github.com/dart-lang/sdk/issues/33686.  This issue is references there, so I think there's no need to open another issue for that.

[2018-07-11 16:36] stefantsov commented on #33718
I referenced this issue in the list for causes of deprecated_InputError in https://github.com/dart-lang/sdk/issues/33686 and suggest to track that aspect of the issue there.  I suggest track the adding of length of the URI in the error message here.

[2018-07-11 16:37] leafpetersen commented on #33596
Fine with me.

[2018-07-11 16:58] sigmundch commented on #33813
Thanks Dima, in case it is relevant, I did a bisect and noticed that that same commit aa6dc1e2d5081a23ee9d23e80a57237f9426f158 to fix #32130 is where this problem started to show up.

[2018-07-11 17:26] chalin opened #33821 "2-dev.68 dartanalyzer exception: NoSuchMethodError: The getter 'ordinal' was called on null"
## Environment

Dart VM version: 2.0.0-dev.68.0 (Tue Jul 10 14:47:26 2018 +0200) on "macos_x64"

## Steps to reproduce

[code]

cc @kwalrath @kevmoo

[2018-07-11 17:29] chalin commented on #33821
I forgot to mention, the problem goes away if you omit the `analysis_options.yaml` argument. This exception is new to 2-dev.68 AFAICT.

[2018-07-11 17:38] devoncarew commented on #32918
From talking to @MichaelRFairhurst, we believe this ok to address in the 2.1 timeframe.

[2018-07-11 17:40] devoncarew commented on #33821
Given that, I don't think this is a dart2 blocker. I'll investigate and triage in any case. @chalin, thanks for the report!

[2018-07-11 17:41] leafpetersen commented on #33415
This didn't make the cut for Dart 2, closing as not planned.  We may want to open an issue to make a lint for this.

[2018-07-11 17:42] alexmarkov opened #33822 "Sporadic 'error: device not found' when running tests on android"
I see this error from time to time on our android bots.

Example [log](https://logs.chromium.org/v/?s=chromium%2Fbb%2Fclient.dart%2Fvm-precomp-android-release-2-3-be%2F7819%2F%2B%2Frecipes%2Fsteps%2Ftest_vm%2F0%2Fstdout):

[code]

[2018-07-11 18:05] matanlurey opened #33823 "I would like a `--strict-await` static analysis option (2.1+)"
Branched from https://github.com/dart-lang/sdk/issues/33415#issuecomment-404253308 and original work by @MichaelRFairhurst.

There are many remaining places in the language where `await` can be misused, and some of them (like `await <void>`) didn't make the cut for Dart 2.0, and others (like `await 5`) are, for some reason, important to retain in the language. In the set of _optional_ strict stati

[2018-07-11 18:07] devoncarew commented on #33808
Note, that this only happens when the analysis server plugin throws an uncaught exception to the isolate it's running in.

[2018-07-11 18:08] kevmoo commented on #33808
Cool. It'd be good to get that error all the way through, right?

On Wed, Jul 11, 2018 at 11:07 AM Devon Carew <notifications@github.com>
wrote:

[2018-07-11 18:18] alexmarkov opened #33824 "Sporadic crashes 'runtime/vm/isolate_reload.cc: 534: error: An error occurred in the CFE while accepting the most recent compilation results.' on hot-reload bots"
[log 1](https://logs.chromium.org/v/?s=dart%2Fbuildbucket%2Fcr-buildbucket.appspot.com%2F8941278444758643328%2F%2B%2Fsteps%2Fvm_tests%2F0%2Fstdout)

[code]

[log 2](https://logs.chromium.org/v/?s=dart%2Fbuildbucket%2Fcr-buildbucket.appspot.com%2F8941283184313852480%2F%2B%2Fsteps%2Fvm_tests%2F0%2Fstdout)

[code]

/cc @rmacnak-google @aam @a-siva

[2018-07-11 18:31] devoncarew commented on #33808
Yup; this is fixed in head now.

[2018-07-11 18:31] #33808 closed

[2018-07-11 18:37] kevmoo commented on #33808
HEAD for analysis_server of pkg:analyzer_plugin?

[2018-07-11 18:39] scheglov opened #33825 "A way to know that a Procedure is a synthetic loadLibrary() invoker"
[code]

Generates:

[code]

For now Analyzer filters it out [using `name.startsWith('__loadLibrary_')`](https://dart-review.googlesource.com/c/sdk/+/64640/3/pkg/analyzer/lib/src/dart/element/element.dart#1719), but this is not fully correct - it is possible to have real, not synthetic functions named like this.

[2018-07-11 18:39] devoncarew commented on #33808
Head for the sdk repo.

[2018-07-11 18:40] devoncarew commented on #33808
The fix was in //pkg/analysis_server/ and //pkg/analyzer_plugin/.

[2018-07-11 18:42] #33798 closed

[2018-07-11 18:44] kevmoo commented on #33808
Does analyzer_plugin need to be published to get the fix?

On Wed, Jul 11, 2018 at 11:40 AM Devon Carew <notifications@github.com>
wrote:

[2018-07-11 18:51] devoncarew commented on #33821
This requires both `--no-hints`, and a warning in an analysis options file.

[2018-07-11 18:57] devoncarew commented on #33808
I don't believe so - I believe the next dev sdk will contain the fix.

But related, looking at https://pub.dartlang.org/packages/analyzer_plugin, I see that Mike doesn't have rights to publish. @bwilkerson, can you add @MichaelRFairhurst to the list of publishers for that plugin?

[2018-07-11 19:03] clarkezone opened #33826 "Null reference exception in ThreadLocalData::RunDestructors on Windows"
* Dart SDK Version (`dart --version`)
Dart VM version: 2.0.0-dev.58.0.flutter-f981f09760 (Sat May 26 03:16:14 2018 +0000) on "windows_x64"
[note it's the version that is bundled with any particular version of flutter]

* Whether you are using Windows, MacOSX, or Linux (if applicable)
Windows

* Whether you are using Chrome, Safari, Firefox, Edge (if applicable)
N/A  This is in conjunction with Dar

[2018-07-11 19:10] scheglov commented on #33710
https://github.com/dart-lang/sdk/issues/33710

[2018-07-11 19:13] bwilkerson commented on #33808
Done

[2018-07-11 19:37] natebosch commented on #33416
Closing as unplanned since it's a breaking change to fix it and we've decided it's not worth the effort to clean up. As per https://github.com/dart-lang/sdk/issues/33823 we will hopefully be able to make this show up in the analyzer but can't add it to CFE.

[2018-07-11 19:37] #33416 closed

[2018-07-11 19:37] rmacnak-google commented on #33824
Likely fixed by https://dart-review.googlesource.com/c/64462/

[2018-07-11 19:39] munificent commented on #31544
I'm going to close this out because I assume we don't need it now that the VM uses kernel and Dart 2 by default.

[2018-07-11 19:39] #31544 closed

[2018-07-11 19:41] scheglov opened #33827 "ConflictsWithTypeVariable is not reported for setter"
This code gives an error in Analyzer.
[code]

![image](https://user-images.githubusercontent.com/384794/42595593-a1cc6b14-8507-11e8-8918-c3baf6fc4fdb.png)

But there are no error in CFE.

[2018-07-11 19:45] munificent commented on #27154
Closing this because we aren't using this issue to track language work anymore.

[2018-07-11 19:45] #27154 closed

[2018-07-11 19:51] munificent commented on #33473
Hi. If you run into issues with dartfmt, please file them on its repo here: https://github.com/dart-lang/dart_style. I'll close this one, and if this is still a problem, would you mind re-filing it there?

This test is much slower in the Dart 2 VM. This test spawns the VM and runs dart_style a number of times and that is massively slower than it was in Dart 1. I'd rather not split this test up to

[2018-07-11 19:51] #33473 closed

[2018-07-11 19:54] munificent commented on #33323
This issue was moved to dart-lang/pub#1946

[2018-07-11 19:54] #33323 closed

[2018-07-11 19:55] munificent commented on #31347
This issue was moved to dart-lang/pub#1947

[2018-07-11 19:55] #31347 closed

[2018-07-11 19:55] devoncarew commented on #33821
fixed in https://dart.googlesource.com/sdk/+/96b840dcd2a6cb47bdfd05c854db56180abebc3c

[2018-07-11 19:55] #33821 closed

[2018-07-11 20:15] #33710 closed

[2018-07-11 20:18] bwilkerson commented on #33731
https://github.com/dart-lang/linter/pull/1072

[2018-07-11 20:18] #33731 closed

[2018-07-11 20:20] #33814 closed

[2018-07-11 20:36] devoncarew commented on #33783
This looks like a dup of https://github.com/dart-lang/sdk/issues/33740.

[2018-07-11 20:36] #33783 closed

[2018-07-11 20:36] devoncarew commented on #33740
We've received two reports of this one; /cc @scheglov

[2018-07-11 22:09] dgrove commented on #32503
@rmacnak-google is this issue ready be closed now that https://dart-review.googlesource.com/c/sdk/+/64460 has landed, or is there more to do?

[2018-07-11 23:07] devoncarew commented on #33782
fixed in https://dart.googlesource.com/sdk/+/3ad109038ea8d636babac2f30d34d2c5522a18f4

[2018-07-11 23:07] #33782 closed

[2018-07-12 00:51] #32585 closed

[2018-07-12 00:51] #33287 closed

[2018-07-12 00:57] devoncarew opened #57740 "provide a lint if a `@deprecated` annotation has no description of the deprecation"
It's useful when deprecating functionality to indicate to the user what the recommended alternative is. So, instead of:

[code]

we should prefer:

[code]

/cc @kevmoo

[2018-07-12 02:00] devoncarew commented on #28979
This issue was moved to flutter/flutter#19291

[2018-07-12 02:00] #28979 closed

[2018-07-12 02:09] MichaelRFairhurst commented on #33661
Fixed the extra "it" making the title read like a grammatical error :)

pending CL: https://dart-review.googlesource.com/c/sdk/+/64644

[2018-07-12 07:31] jolleekin opened #33830 "Proposal: please add [Iterable.all]"
[code]

Example:

[code]

* Dart SDK Version = 2.0.0-dev.68.0

[2018-07-12 08:29] mraleph commented on #33830
There is a method like that. It is called `Iterable.every`.

[2018-07-12 08:29] #33830 closed

[2018-07-12 09:33] peter-ahe-google commented on #30470
I'm assuming that all tests related to generalized `void` are in tests/language_2 or a subdirectory and have "void" in their name.

If so, there are 331 tests of generalized `void`. I have all them them passing except for 6 tests that are all related to the interaction of `FutureOr` and `void`. I think this boils down to implementing "invalid returns" for asynchronous functions (see https://dart-r

[2018-07-12 10:23] iarkh opened #33831 "Both Dart and analyzer don't reject attempts to use class type as a Callable function when call method is not defined."
Dart SDK Version: 2.0.0-dev.68.0
OS: Windows 10

The following code sample demonstrates the problem:
[code]
It tries to call `A` class as `Callable` function or, from another point of view, call a default `A` constructor without the `new` clause.
It passes without any errors and warnings both with analyzer and dart with the recent developer 2.0 version.
It seems like it should fail like in does wi

[2018-07-12 10:32] iarkh commented on #33831
Thank you for the clarification!

If so - is there any changes for the Callable functions? What is the common rule if I have both constructor and call method for the given class?

[2018-07-12 10:44] #31027 closed

[2018-07-12 11:29] lrhn commented on #33831
A callable object is an object with an instance method named `call`.
There is no conflict between that and constructors since `Type` objects do not have any instance methods named `call`. A static method named `call` has no effect wrt. being callable.

[code]

[2018-07-12 11:56] mkustermann opened #33832 "Need to get target-arm64 builder to Luci + strong mode"
Our current [target-arm64-vm-linux-release](https://ci.chromium.org/buildbot/client.dart/target-arm64-vm-linux-release-be/) builder is still running on buildbot and is using `--checked` mode. We should get it to luci and use Dart 2.0 testing on it.

It causes various issues, also in blown up status files, due to the usage of `--checked`.

/cc @mraleph

[2018-07-12 12:19] peter-ahe-google commented on #30470
I have one remaining test that is failing (tests/language_2/void/return_future_or_void_sync_error3_test.dart). I believe this corresponds to "invalid returns" for synchronous functions (see https://dart-review.googlesource.com/c/sdk/+/60401/6/docs/language/informal/invalid_returns.md#24). I should be able to have this working tomorrow.

[2018-07-12 12:33] Lisenish opened #33833 "Crash during dart2js compilation on 2.0.0-dev.68.0"
* Linux (Ubuntu 17.04)

* the Dart SDK build number (2.0.0-dev.68.0), and

The compiler crashed: Internal Error: Generic function instantiation not implemented for 8 type arguments
#0      CompilerDiagnosticReporter.internalError (file:///tmp/tmpbQgdfX/dart-2.0.0-dev.68.0/dart/pkg/compiler/lib/src/compiler.dart:825:5)
#1      KernelSsaGraphBuilder.visitInstantiation (file:///tmp/tmpbQgdfX/dart-2.0

[2018-07-12 13:10] #33423 closed

[2018-07-12 13:18] johnniwinther opened #33834 "dart2js should not allow non-external js-interop constructors"
Currently dart2js allows non-external js-interop constructors. These should not be allowed since dart2js for such will not create expected code.

For instance for this code
[code]
the `new Class()` is _not_ generating the expected `new foo.bar()` code but instead a Dart object like `new V.Class()` - a Dart object that pretends to be a pure JavaScript object.

[2018-07-12 13:31] dgrove commented on #32613
Any updates on this, @jensjoha ?

[2018-07-12 13:32] jensjoha commented on #32613
https://dart-review.googlesource.com/c/sdk/+/64500 should make it comply with the tables at https://github.com/dart-lang/sdk/issues/33235#issue-326617285
https://dart-review.googlesource.com/c/sdk/+/64542 should fix tests tagged with 32613

[2018-07-12 13:36] whesse commented on #30450
dartdevc and dartdevk are still not executing tests from co19, but it doesn't seem to be a problem about hyphens anymore.

[2018-07-12 14:42] pq opened #57741 "Publish and document Google rule set."
As mentioned by @davidmorgan in dart-lang/sdk#57737, a Google-internal ruleset is evolving.  While still a work in progress, I think it'd be valuable to publish it and keep it up to date as a possible jumping off point for external projects.

[2018-07-12 14:43] stefantsov commented on #33813
So, I initially thought that it's an instance of https://github.com/dart-lang/sdk/issues/32049 which is a known issue with type inference and redirecting factory constructors.  But I've come to the conclusion that it's not quite what I though it is originally.

My understanding of type inference is that the argument to `super` in both cases should be inferred as `B.T`, and the error should be repo

[2018-07-12 16:57] sigmundch commented on #33454
update: Bill landed several changes and we are now run all except the IE browser tests in dart2, woohoo!

We still need to get the IE bots up and running with the new test-matrix infrastructure, but I don't consider this blocking Dart2Stable anymore. I realize it's still important to get this done, so rather than lowering the priority, I'm updating the milestone instead.

[2018-07-12 17:00] sigmundch commented on #33833
Thanks for filing the bug!

Closing to merge with as a duplicate of #33819

[2018-07-12 17:00] #33833 closed

[2018-07-12 17:23] scheglov opened #33835 "Ambiguous wording for postfix expression static type"
![image](https://user-images.githubusercontent.com/384794/42648928-13a398ba-85bd-11e8-8672-5867beae0bf3.png)

It is not clear at which time we take the static type of `v`.
After `Evaluate v`? Or afer `v = y + 1`?

So, in this code:
[code]

What is the static type of `a++`? Is it `A` or `dynamic` (because `+` is not defined)?

@stereotype441 @bwilkerson

[2018-07-12 17:32] lrhn opened #33836 "CFE does not report error when a setter's parameter type is not assignable to the corresponding getter's return type."
Example:
[code]
This should cause an error.
The spec says:

The analyzer shows a warning.

[2018-07-12 17:36] lrhn opened #33837 "The Analyzer does not report error when a setter's parameter type is not assignable to the corresponding getter's return type."
Example:
[code]
This should cause an error.
The spec says:

The analyzer shows a warning, but not  a compile-time error.

[2018-07-12 17:51] #57741 closed

[2018-07-12 17:54] bwilkerson commented on #33676
@stefantsov I've been working on this for a couple of days (without realizing it was assigned to you). Do you mind if I take over?

[2018-07-12 18:06] dgrove commented on #33194
tentatlvely assigning to @MichaelRFairhurst

[2018-07-12 18:12] #33291 closed

[2018-07-12 18:12] #32134 closed

[2018-07-12 18:22] devoncarew commented on #29318
This is mostly done - all the code in `pkg/` is now analyzed, as well as a few other projects in the repo.

[2018-07-12 18:22] #29318 closed

[2018-07-12 18:49] AgrawalAnsh22 commented on #32759
@zoechi  @gowsikraja Could you fix it?? I am facing similar issue in my project too, if yes then please help me with it - https://github.com/AgrawalAnsh22/startup_namer/issues

[2018-07-12 19:13] MichaelRFairhurst commented on #33194
Quick update on the problem here.

It looks like the tooltip shows the free variable type `T`, and autocompletion indeed does not work.

[code]

However, the program itself does not analyze as if `b` is `T`, but rather _Object_.

[code]

So this is an improvement, but still wrong.

Looking into it, but I won't be prioritizing fixing hover or autocomplete. I'll be prioritizing it choosing Object in

[2018-07-12 19:40] #33661 closed

[2018-07-12 19:41] jacob314 opened #33838 "Assert in libtimer_impl.dart"
Synced to the following version of flutter I sometimes see this spurious looking assert.
https://github.com/flutter/flutter/commit/700cb767c9b41c9db1686e9999776bc9f4126b8f

The assert that triggers is here. Likely the call to cancelWakeup should be skipped if the _sendPort is null or _scheduledWakeupTime is already null.

[code]
Stack trace:
[code]

[2018-07-12 19:46] sigmundch opened #33839 "dart2js: add a log-implicit-checks flag"
When we get ready to remove `--omit-implicit-checks`, it will be helpful for app developers to have a mode that previews what the check failures will look like.

Instead of just removing the flag and throw on cast failures, we should consider having a mode that either logs the errors or that is configurable so that users can capture the errors and continue execution otherwise.

[2018-07-12 20:03] natebosch commented on #33388
This is also blocking for an important tool internally.

[2018-07-12 20:19] natebosch commented on #33836
cc @dgrove @leafpetersen

If we plan on fixing this post Dart 2.0 it will be breaking.

[2018-07-12 20:19] zoechi commented on #32759
@AgrawalAnsh22 try http://www.yamllint.com or one of https://www.google.at/search?q=validate+yaml&oq=yvalidate+yam&aqs=chrome.1.69i57j0l3.8001j0j7&client=ms-android-google&sourceid=chrome-mobile&ie=UTF-8

[2018-07-12 20:45] aartbik commented on #33664
Golem runs are mainly in the noise, even for dart2js-compile (but unsure at this point if that exercises the ssa code above). As expected, however, the microbenchmark that targets this specific case improves quite a bit (and this one "only" has two "holes" in the class hierarchy):

[code]

[2018-07-12 21:03] sigmundch commented on #33813
just an update on our end, we have a workaround for the issue, so I don't consider this a blocker anymore. I've removed the Dart2Stable milestone.

[2018-07-12 21:20] sigmundch opened #33840 "win ff bot infrastructure related failures"
It appears there is some infrastructure flaky behavior in the FF windows bot.

See https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8941183950889847392/+/steps/dart2js_tests_shard_5_on_Windows/0/stdout for an example failure.

/cc @whesse @athomas

[2018-07-12 21:22] leafpetersen commented on #33836
Will the analyzer switch warnings to errors before Dart 2?  @devoncarew

If not, we need to treat doing so later as a non-breaking change.  As long as the analyzer gives an error about this though, the missing CFE error isn't blocking.

[2018-07-12 21:23] jwren commented on #33402
Closing as it is fixed in the Dart Plugin master branch.

[2018-07-12 21:29] leafpetersen commented on #33813
Not quite.  Inference is done exactly as with anything else, but then the inferred type arguments are replaced with their least closure.  So `B.T` is inferred, and then replaced with `Null` in each of them.  This is a valid static and runtime value to provide, so there are no errors.

[2018-07-12 21:43] devoncarew commented on #33836
Right now we're showing the severity levels from strong mode:

I don't know if this is an isolated bug or we need to promote a group of warnings to errors. Either way, it's an easy fix.

A warning is already a failing severity from the POV of dartanalyzer, so promoting it to an error won't be hugely breaking for users.

[2018-07-12 21:44] matanlurey opened #33841 "Its is too hard to use `<Iterable>.firstWhere(orElse: ...)`"
Similar issues:
* https://github.com/dart-lang/sdk/issues/33119#issuecomment-401203174
* https://github.com/dart-lang/sdk/issues/33697
* https://github.com/dart-lang/sdk/issues/33812 (/cc @joeconwaystk)

Consider the following, fairly simple example of using [`<Iterable>.firstWhere`][1]:

[1]: https://api.dartlang.org/dev/2.0.0-dev.68.0/dart-core/Iterable/firstWhere.html

[code]

This properly pri

[2018-07-12 21:44] devoncarew commented on #33836
For posterity, this is the `mismatched_getter_and_setter_types` error code.

[2018-07-12 21:45] natebosch commented on #33836
I can't repro. When I run `dartanalyzer` and it prints a warning I get a zero exit code. Internally we probably default to `--fatal-warnings` but that is not the default externally.

[2018-07-12 21:46] devoncarew commented on #33836
No, you're right, I see that `--fatal-warnings` defaults to false.

[2018-07-12 21:54] dgrove commented on #33836
Bringing back into Dart2Stable

[2018-07-12 21:54] devoncarew commented on #33836
It looks like the warning ==> error spec changed happened recently: https://github.com/dart-lang/sdk/commit/a07b2a10c6da58e0f3c461d778e51b128e2772a5. I'll open an issue for this.

[2018-07-12 22:02] whesse commented on #33840
I can't work backward to the run this is from from the log - I'll have to search.  It seems like we could get the process killing, where all firefox processes are killed, into the test.py run on the shard, if this is a shard, because it seems like if we killed all the firefox.exe processes, we wouldn't get this error.

[2018-07-12 22:08] sigmundch commented on #33840
Here is the run from above: https://ci.chromium.org/p/dart/builders/luci.dart.ci.sandbox/dart2js-strong-win-x64-ff/11

I believe every red FF-win bot recently is due to this reason, it often fails on shard_5, but it has failed on other shards as well.

[2018-07-12 22:08] devoncarew commented on #33837
This should be broadened to include the other severity promotions from https://github.com/dart-lang/sdk/commit/a07b2a10c6da58e0f3c461d778e51b128e2772a5.

[2018-07-12 22:08] devoncarew commented on #33836
https://github.com/dart-lang/sdk/issues/33837

[2018-07-12 22:09] devoncarew commented on #33836
But I'm not sure the CFE portion of this needs to be in dart2 stable.

[2018-07-12 22:20] whesse commented on #33840
I think we need to move the taskkill step into the test.py process, so that it has a chance to execute on a shard.  At least a test.py run that has started chrome or ff browsers should (if it is running on a builder) kill  all the browsers on that machine before exiting.  I'm not sure if these FF processes were started directly from test.py, or if they could be orphans of other FF processes.

[2018-07-12 22:20] dgrove commented on #33836
Since the analyzer issue #33837 is in Dart2Stable, this doesn't need to be.

[2018-07-12 22:44] a-siva opened #33842 "The 'exists' implementation in '_IoFileSystemEntity' returns false for 'file:///dev/fd/0'"
The code in 'exists' of '_IoFileSystemEntity' returns false for '/dev/fd/0'

see code below on how we get false

The test standalone_2/io/named_pipe_script_test.dart fails with the error
Expect.fail('Error: Input file not found: file:///dev/fd/0.');

I also noticed that the incremental compiler does not call validateOptions as a result of which
this test works when the incremental compiler is used

[2018-07-12 22:44] a-siva commented on #33842
/cc @peter-ahe-google

[2018-07-12 23:20] rmacnak-google commented on #33768
Reflection requires these to be distinct.

[2018-07-12 23:47] denkuy commented on #33188
same in 2.0.0-dev.68.0

[2018-07-12 23:49] MichaelRFairhurst commented on #33194
candidate CL: https://dart-review.googlesource.com/c/sdk/+/64822

[2018-07-13 00:28] devoncarew commented on #33837
Here's the results of the status file diff if we promote the current static warnings and static type warnings to errors:

[code]

@lrhn  @leafpetersen @eernstg

I see the spec change; it looks like the co19_2 and language_2 test expectations also need to be updated (e.g., https://github.com/dart-lang/sdk/blob/master/tests/language_2/setter3_test.dart#L12).

[2018-07-13 00:59] natebosch commented on #33768
Is this expectation part of the spec - does the spec need to be updated?

Does DDC have the same behavior as VM (it looks like dart2js does have the same behavior).

[2018-07-13 01:01] jmesserly commented on #32272
progress on deprecating module-root: https://dart-review.googlesource.com/c/sdk/+/64823

It appears the option of passing the import name was already implemented (though it needed some refactoring). For example `-s summary_path=js_import_path`. I added an option to specify the output module name from the original proposal (used by some module formats like AMD and DDC's legacy format, ES6 and Commo

[2018-07-13 04:57] AgrawalAnsh22 commented on #32759
@zoechi I just tried running the code in the validator, Thanks i got it resolved.

[2018-07-13 07:20] DanTup commented on #33841
Why does this happen? If you copy the implementation of `firstWhere` out of `List` and write it with a generic type arg, or either of the specific type, it seems like they all work.

[code]

(I was wondering if `firstWhere` could be fixed in `List` so the user wouldn't need to change anything; but since I couldn't repro it with the function outside of `List` I got stuck!).

[2018-07-13 08:23] stefantsov commented on #33676
@bwilkerson Yes, sure.

[2018-07-13 10:08] lrhn commented on #33841
tl;dr: It happens because of Dart's unsafe covariant class generics combined with static inference.

The signature of `List<E>.firstWhere` is `E firstWhere(bool Function(E), {E Function() orElse})`.
Notice how `E Function()` in a parameter position uses the type parameter `E` contravariantly.

Now, if you have a `List<SoundAsset>`, its `firstWhere` signature is `SoundAsset firstWhere(bool Function

[2018-07-13 10:09] lrhn commented on #33837
Good check. We should fix those language_2 tests.

[2018-07-13 10:38] mit-mit opened #33843 "Update all dartlang packages to declare an `<3.0.0` SDK constraint"
We need to update all packages we maintain from using an `<2.0.0` SDK upper bound to using an `<3.0.0` upper bound, to ensure packages will resolve with Dart 2 stable.

[2018-07-13 11:34] DanTup commented on #33841
Thanks for the detailed explanation! :-) I think I'd overlooked this:

I actually ran this code this in C# before commenting and didn't get any errors - but I just tested again and realise that it was because I'd used an `SoundAsset[]` and not a `List<SoundAsset>`. In C# arrays are covariant (apparently I'd never noticed this, or had forgotten) and type checked at runtime:

I'm not sure I'd ever c

[2018-07-13 12:01] lrhn commented on #32988
Example that the dart analyer does *not* find:
[code]
What we have here is a complete break-down of the type system, which allows me to read a `String` from an `int`-typed expression.
I'm not sure what the error is. We are not inferring the type arguments to `C` in the redirecting constructor. Going by memory, I'm farily sure we *do* need to infer that type argument. If not, the redirecting constr

[2018-07-13 12:21] stefantsov commented on #33813
Thanks for the clarification, Leaf!

I've created [CL 64841](https://dart-review.googlesource.com/c/sdk/+/64841) to fix the issue.  It appeared to be a one-liner that passes the `isConst` flag to the inference procedure.

[2018-07-13 12:31] dgrove commented on #30470
Any updates on this, @peter-ahe-google ?

[2018-07-13 12:35] mit-mit commented on #33843
cc @kevmoo can you drive this? I'm out the next three weeks...

[2018-07-13 12:38] eernstg commented on #32988
This issue is concerned with the implementation of a static check that a redirecting factory constructor returns a subtype of the type of the enclosing class. The [example](https://github.com/dart-lang/sdk/issues/32988#issuecomment-404812946) shows that missing type arguments are currently chosen in a way (instantiate to bound?) that violates this requirement. So in that sense it's obviously relev

[2018-07-13 12:46] eernstg commented on #32049
Note the following example: https://github.com/dart-lang/sdk/issues/32988#issuecomment-404812946. It shows how the current treatment allows for a heap invariant violation (`c` refers to an instance of `C<dynamic>`, but it has type annotation `C<int>`), but it also shows that the type arguments in the redirection of the constructor `C.infer` falls back on `dynamic` (instantiate to bound?) and never

[2018-07-13 12:55] stereotype441 opened #33844 "Convert type parameter elements in _ResolutionApplierContext._translateReference"
See TODO comment in https://dart-review.googlesource.com/c/sdk/+/64262

[2018-07-13 12:59] lrhn commented on #32049
I think we should specify that we perform inference on the redirectee, if necessary. In almost all cases, it will be a simple copying over of the type arguments. In a few cases, there will be more complicated situations, but no more complicated than if we had just written `=> Redirectee(arguments)` instead of `= Redirectee`.

If we do not infer, then it *must* be a compile-time error if a construc

[2018-07-13 13:00] stereotype441 opened #33845 "ResolutionApplier.visitFormalParameterList needs to handle function typed formal parameters"
See TODO comment in https://dart-review.googlesource.com/c/sdk/+/64262

[2018-07-13 13:08] stereotype441 opened #33846 "Function types using `Function` syntax are not yet handled by new analyzer/CFE integration approach"
See TODO comment in https://dart-review.googlesource.com/c/sdk/+/64262

[2018-07-13 13:10] jensjoha commented on #32613
and https://dart-review.googlesource.com/c/sdk/+/64840

[2018-07-13 13:36] ngolovleva opened #33847 "dart2 analyser does not report an error"
Dart analyzer does not report an error when a function with one parameter is invoked and the type of an actual argument is not a subtype of a formal argument type. Generated code reports a run-time exception **_type 'S0' is not a subtype of type 'Future<S0>'_**.

[code]

Unhandled exception:
type 'S0' is not a subtype of type 'Future<S0>'
#0      main (file:///home/ngl/dart_wd/dtests/co19/Language

[2018-07-13 13:37] varunthk7 opened #33848 "Sabah DPR ingestion ( Legacy data )"
Thank you for taking the time to file an issue!

In order to route, prioritize, and act on this, please include:

* Dart SDK Version (`dart --version`)
* Whether you are using Windows, MacOSX, or Linux (if applicable)
* Whether you are using Chrome, Safari, Firefox, Edge (if applicable)

Missing some or all of the above might make the issue take longer or be
impossible to act on.

----

Is it real

[2018-07-13 14:21] devoncarew opened #33849 "the generated dart:html and dart:svg libraries have analysis issues"
They emit with analysis warnings currently; those warnings will likely change to being reported as errors. When that happens, DDC will fail with compile errors when processing those libraries (and this will cause problems when we go to build the SDK).

A workaround short term is to adjust the `//pkg/dev_compiler/tool/build_sdk.dart` script to pass in the `--unsafe-force-compile` flag. That would h

[2018-07-13 15:01] #57733 closed

[2018-07-13 15:33] peter-ahe-google commented on #33415
https://github.com/dart-lang/sdk/issues/30470 is still in the cut and I have implemented the error.

[2018-07-13 15:40] peter-ahe-google commented on #30470
Update: instead of only running tests with "void" in their name (331 tests in total), I started running all tests (16019 tests in total if you don't count skipped tests). I started out having 319 of the 16019 tests failing. And I'm now down to 40 and have a better understanding of what is left:

* Rejecting void in ?? operator.
* Rejecting tests/language_2/void/return_future_or_void_sync_error3_te

[2018-07-13 16:08] dgrove commented on #33075
Internal work here is done.

[2018-07-13 16:11] dgrove commented on #33075
@mit-mit lowering priority, and removing from Dart2Stable (if you disagree, please add back).

[2018-07-13 16:13] terrylucas commented on #33849
Devon (most of these final fields) are RO atttributes in an IDL file.  We don't construct these they are browser objects.  Should these fields be prefaced with @external or something else to signal that these are special final fields?

[2018-07-13 16:17] kevmoo commented on #33843
I'm on it! CC @dgrove

[2018-07-13 16:37] matanlurey commented on #33841
@lrhn:

Is there a particular reason we can't change, say, `firstWhere` to:

[code]

[2018-07-13 16:46] DanTup commented on #33841
I was wondering that; but wasn't sure if `orElse` being optional complicated things (you couldn't infer T?). I also wasn't entirely sure how `super` different from `extends`; some StackOverflow answers convinced me they are different, but it went over my head!

[2018-07-13 17:04] matanlurey commented on #33847
This is an [implicit downcast](https://github.com/dart-lang/sdk/issues/31410), a feature of Dart2.

Because `FutureOr<S0>` _could_ be a `Future<S0>`, it is allowed and checked at runtime.

Issue #31410 is tracking removing and augmenting this in future versions of Dart/the analyzer.

[2018-07-13 17:04] #33847 closed

[2018-07-13 17:05] matanlurey commented on #33848
This looks like a mistake or spam.

[2018-07-13 17:05] #33848 closed

[2018-07-13 17:53] devoncarew commented on #33849
So, the implementation of the fields are native? Or, the values injected in from outside of Dart?

I'm not sure what we could respect to ignore the analysis issue, but it sounds like we just need to indicate to the analyzer that these are indeed not real issues.

You could try `// ignore: final_not_initialized` at the declaration sites.

[2018-07-13 17:53] devoncarew commented on #33849
But, DDC would likely still fail the compile; hmm...

[2018-07-13 17:55] matanlurey commented on #33849
Isn't `final String readOnlyThing;` the same as `external String get readOnlyThing` in this regard?

[2018-07-13 17:59] devoncarew commented on #33849
👍 that would be a good solution here

[2018-07-13 18:09] alorenzen commented on #33841
@lrhn Why *don't* we have super-bounded types?

[2018-07-13 18:22] srawlins opened #33850 "CHANGELOG should call out that `pub run` executes programs with Dart 2.0 semantics"
The [CHANGELOG](https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#200-dev641) for 2.0.0-dev.64.1 calls out that the VM now runs "Dart 2" by default:

And the 2.0.0-dev.65 entry calls out:

But I don't think either entry makes it clear to users (especially those not on the Dart team), that a command such as `pub run test` will now execute code (both the test program and the tests themselves

[2018-07-13 18:29] sigmundch commented on #32442
forgot to mention that we also agreed on adding a single flag that enables what we call the production mode that enables all the flags that are commonly used in production (and that may be adjusted with time in the future) for example, it would include `--minify`, all safe optimizations, and possibly some unsafe optimizations.

[2018-07-13 18:38] jmesserly commented on #33849
yeah, that would be better from my perspective.

dart:html is shared between DDC and dart2js. Not sure if DDC and/or dart2js have anything hardcoded to treat final fields on `@Native` specially (compared to `external get`). If they do, it should be fixable though.

[2018-07-13 18:47] jmesserly commented on #33849
Looked into this more. For native types in DDC, `external get` should be equivalent to a final field. I found an example of DDC using `external get` in another library (dart:_native_typed_data).

Not sure about dart2js. I couldn't find any examples of them using an `external` getter in their SDK implementation. Maybe @rakudrama or @sigmundch knows? We could also try changing the dart:html generato

[2018-07-13 18:49] devoncarew commented on #33849
Note that this may not longer be a blocker for #33837 (but likely still nice to have the generated code be free of analysis warnings and errors).

[2018-07-13 19:12] kevmoo commented on #32442
We have ~0 time to do this work though, right? CC @dgrove

[2018-07-13 19:41] sigmundch commented on #33849
I have to dig deeper to confirm, but @johnniwinther was recently navigating into fields/external getters in the context of js-interop so he might be able to confirm more quickly

[2018-07-13 19:44] stereotype441 commented on #33844
I have a fix for this ready.  I'll send it out for review after the bots turn green and I can land https://dart-review.googlesource.com/c/sdk/+/64262.

[2018-07-13 19:47] johnniwinther commented on #33849
Currently, dart2js special-cases fields in native classes. Long term these should be external getters but I suspect that it's not a simple fix to change dart2js.

[2018-07-13 20:14] kevmoo commented on #32442
Chatted w/ @sigmundch – we can clearly do better here. And clearly not needed for 2.0 stable.

[2018-07-13 20:16] devoncarew opened #33852 "we can no longer measure our memory usage on our performance CI bots"
The `analysis-server-cold-memory` and `analysis-server-warm-memory` benchmarks are now returning near zero for our memory usage - it looks like these benchmarks broke during the dart 2 (--preview-dart-2 on the vm) default change. We should investigate and fix these benchmarks.

[2018-07-13 20:32] jordyvandomselaar opened #33853 "Possible to run dart scripts standalone?"
I'd like to distribute a CLI tool written in dart to systems that do not have the Dart SDK installed. Is it possible to ship a prepackaged Dart SDK or something with it so it can run as intended?

[2018-07-13 21:30] devoncarew opened #33854 "Dart Analyzer - FlutterAnalyze-Repository possible regression"
We need to look into whether the Dart Analyzer - FlutterAnalyze-Repository performance CI benchmark has regressed; the results seem suspicious.

[2018-07-13 21:32] MichaelRFairhurst commented on #33837
This change from static to compile time errors is being rolled back, right? So this can be closed?

[2018-07-13 21:50] devoncarew commented on #33837
I think so; I think we'll want an issue to update the spec to either keep ~13 items as warnings, or move those items out of the spec. Either way, I don't think this is a dart2 issue for the analyzer.

[2018-07-13 21:50] #33837 closed

[2018-07-13 21:51] leafpetersen commented on #33837
Agreed.

[2018-07-13 22:18] dgrove commented on #33843
Removing p1-high label, as this won't block the Dart 2 Stable branch. We will need this before shipping Dart 2.0.0 .

[2018-07-13 22:48] zanderso commented on #33472
A fix for this landed here: https://github.com/dart-lang/http_io/commit/265e90afbffacb7b2988385d4a6aa2f14e970d44 and has rolled into the sdk repo.

[2018-07-13 22:48] #33472 closed

[2018-07-13 23:05] rmacnak-google commented on #33637
https://github.com/dart-lang/sdk/commit/98a2e90d4f0ce1e0fa092d3fde7cbec2b8b6a6ce

[2018-07-13 23:05] #33637 closed

[2018-07-13 23:06] #30978 closed

[2018-07-13 23:06] rmacnak-google commented on #29737
Assumed stale.

[2018-07-13 23:06] #29737 closed

[2018-07-13 23:07] rmacnak-google commented on #28991
Stale.

[2018-07-13 23:07] #28991 closed

[2018-07-13 23:09] #17869 closed

[2018-07-13 23:10] #23564 closed

[2018-07-13 23:11] #25800 closed

[2018-07-13 23:12] rmacnak-google commented on #22277
Implemented some time ago.

[2018-07-13 23:12] #22277 closed

[2018-07-13 23:26] matanlurey opened #33855 "Lint on "covariant <Function>"?"
I've started to see users to try and write the following:

[code]

The problem with this code, is that, unless you are very careful, it is almost always wrong (see examples [1][], [2][], [3][]). The reason I've seen users _try_ and write this is because they start with:

[code]

... and due to `dynamic` no longer being bottom, it fails _statically_ (`covariant Function` fails at runtime). The "cor

[2018-07-13 23:26] matanlurey opened #57742 "Lint on "covariant <Function>"?"
I've started to see users to try and write the following:

[code]

The problem with this code, is that, unless you are very careful, it is almost always wrong (see examples [1][], [2][], [3][]). The reason I've seen users _try_ and write this is because they start with:

[code]

... and due to `dynamic` no longer being bottom, it fails _statically_ (`covariant Function` fails at runtime). The "cor

[2018-07-13 23:39] kevmoo opened #33856 "analysis_sever crash - -dev.68 - type 'ImportDirectiveImpl' is not a subtype of type 'CompilationUnitMember' in type cast"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.5540.7`
- `2.0.0-dev.68.0`
- `IU-181.5540.7, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.5 unknown, screens 3840x2160`

# Exception

[code]

[code]

[2018-07-13 23:48] aam commented on #33388
https://dart-review.googlesource.com/c/sdk/+/64960 is out for review with the fix

[2018-07-13 23:49] dgrove commented on #33658
Can this be closed now that https://critique.corp.google.com/#review/204546507 has landed?

[2018-07-14 00:00] MichaelRFairhurst commented on #33823
One comment, I am still trying to land #33415. Its officially punted, but, I hope I can clean up the code to where its an easy decision to turn on or not.

That said, even if I manage to do that in a timely manner, the decision may still be that its not worth the effort given that it can be accomplished with lints (and in fact, such a lint already exists: await_only_futures).

Though notably that

[2018-07-14 00:03] matanlurey commented on #31949
I forgot about this. I am hoping if I can convince @srawlins or someone else to send you a CL you'll still accept removing this.

[2018-07-14 00:08] aartbik commented on #33656
Although the original plan was to recover the drop using a new number analysis phase, only one or two operations are really responsible for the huge performance drop. So in the meanwhile, perhaps a very simple heuristic can recover the performance without regressing elsewhere.

[2018-07-14 00:14] matanlurey commented on #33853
No, it is not (directly) possible. I can close as a duplicate of #27596.

(The other option is copying what dart-sass does: https://github.com/sass/dart-sass#standalone)

[2018-07-14 00:14] #33853 closed

[2018-07-14 00:15] matanlurey commented on #30407
Looks like it was done:

[code]

[2018-07-14 00:15] #30407 closed

[2018-07-14 00:15] matanlurey commented on #30731
I think we can roll this into work than @jmesserly and @srawlins will coordinate on in the future.

[2018-07-14 00:15] #30731 closed

[2018-07-14 00:19] matanlurey commented on #27389
Closing in favor of `@sealed` at this point in time.

[2018-07-14 00:19] #27389 closed

[2018-07-14 00:19] matanlurey commented on #27563
We found a solution for the near term, because @srawlins is very smart.

If we ever want to introduce non-nullability, we will need a real solution.

[2018-07-14 00:19] #27563 closed

[2018-07-14 00:20] matanlurey commented on #29777
This has come up a few times internally, mostly in the context of contravariant function types.

[2018-07-14 00:21] #30732 closed

[2018-07-14 00:56] matanlurey opened #33857 "I wish closures assigned to fields could access "this.""
DartPad: https://dartpad.dartlang.org/bb8fb44716a592e168d3337525ba8dab

I'm writing a component to listen to click events somewhere on a web page:

[code]

Imagine I want to implement and use a "debounce" function for click events:

[code]

... this is, admittedly trickier than I would have liked. First I tried this:

[code]

... but that fails. Darn! OK, I moved on and added the type manually (wh

[2018-07-14 02:06] natebosch commented on #33836
I'm guessing this is unplanned since the decision was made to keep this a warning.

[2018-07-14 02:06] #33836 closed

[2018-07-14 02:06] natebosch commented on #33837
Do we have an issue filled to update the spec?

[2018-07-14 03:20] #33689 closed

[2018-07-14 05:04] scheglov opened #33858 "CFE does not report a compile time error for "this" in field initializer"
[code]
![image](https://user-images.githubusercontent.com/384794/42721092-b9520108-86e8-11e8-90c3-fc737ee6213e.png)

[2018-07-14 10:40] chances opened #33859 "VSCode/Dart Code: NoSuchMethodError: The getter 'fullName' was called on null."
Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

I had just reloaded the VSCode window using the `Reload Window` command with a Flutter project opened.

### Request

While responding to request: `analysis.updateContent`

### Versions

- Dart SDK 2.0.0-edge.af1436931b93e755d38223c487d33a0a1f5eadf5
- Visual Studio Code 1.25.1
- Dart Code 2.15.0

### Analyzer In

[2018-07-14 14:28] pneves001 opened #33860 "Base64 decode not decoding large base64 encoded png images."
The current version of dart-lang/sdk I'm using is the one used in flutter.

The decode function throwing an exception.  It doesn't matter which Base64 decoder I use.

BASE64.decode()
Base64Decode()
BASE64URL.decode()

None of these functions work properly with larger images.

I've added the image in a pastebin that is generating the problem. https://pastebin.com/tDV4NfPV

The version of dart-lang/

[2018-07-14 15:10] SteveAlexander opened #33861 "math.pow has poor performance with ints compared to doubles"
math.pow takes twice the time on ints than on doubles.

[code]
With x as an int, it takes around 6.8 seconds on my machine.

[code]
With x as a double, it takes 2.8 seconds.

I would expect ints and doubles to have comparable performance.

* Dart SDK Version (`dart --version`)

Dart VM version: 2.0.0-dev.63.0.flutter-4c9689c1d2 (Mon Jun 18 15:50:02 2018 +0000) on "macos_x64"

* Whether you are usi

[2018-07-14 15:17] SteveAlexander commented on #33777
I agree with `>= 0` or `> 0` is clearer than `.isPositive()`. The only reason I imagined there was an `.isPositive()` is that the method-suggester in my editor had showed me an `.isNegative()`.

On reflection, to encourage clearer code in the world, I'd withdraw this issue. And also suggest that perhaps `.isNegative()` is deprecated in the future.

[2018-07-14 17:06] the-dagger opened #33862 "Dart Analyzer throws an error"
Analyzer Feedback from IntelliJ

Even though there are no issues in the dart file, I get an error warning on all my dart files and the project fails to run.

On running the project from command line, it works just fine.

# Version information

- `IDEA IC-181.5540.7`
- `1.24.3`
- `IC-181.5540.7, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.5 unknown, screens 1440x90

[2018-07-15 00:51] #33194 closed

[2018-07-15 13:33] mraleph commented on #33860
Note that you are decoding a `data:`-URI and not a normal Base64 encoded string, so the error you are getting is absolutely correct. To decode `data:`-URI you can use `Uri` class, for example like this:

[code]

[2018-07-15 13:33] #33860 closed

[2018-07-15 18:05] pneves001 commented on #33860
You know that there is no documentation telling us this.

[2018-07-15 18:10] eernstg commented on #33855
`covariant Function` isn't wrong per se, but it is of course a request for a dynamic check rather than a statically safe setup, and you're probably right that it's being used in cases where there are better solutions.

However, here's an example where it is used, and no other solution is available:
[code]
The function types used to annotate `f` have least upper bound `Function`, and in that case w

[2018-07-15 18:29] eernstg commented on #33841
An existential open would help:
[code]
This allows us to call `printBestAsset` with an `assets` that may be of type `List<SoundAsset>` or `List<Asset>` etc., and it it _soundly_ performs the required operations. The difference is that an existential open operation will allow us to obtain an invariant context (where we know that `assets` has type `List<exactly T0>` for some `T0` that we can use in

[2018-07-15 18:55] mraleph commented on #33860
Could you clarify what exactly is missing from the documentation?

When you need to parse a URI then you need to use a `Uri` class, which is documented [here](https://docs.flutter.io/flutter/dart-core/Uri-class.html).

Base64Decoder is documented [here](https://docs.flutter.io/flutter/dart-convert/Base64Decoder-class.html) where it explicitly says “Decoder for base64 encoded data.“ - it does not c

[2018-07-15 19:44] pneves001 commented on #33860
Reference documentation is pretty useless when there are no examples to show us how the class is used.  There are no docs to suggest that we use the Uri.parse class to process a base 64 encoded image. I just assumed I worked pretty much the same way it worked when I generated the image on the server but in reverse. I had actually removed the leading data tag from the image before I attempted to ba

[2018-07-15 21:13] kankaristo commented on #33859
Seeing this as well. Versions:
- Dart SDK 2.0.0-dev.67.0
- Visual Studio Code - Insiders 1.26.0-insider
- Dart Code 2.15.0

[2018-07-15 21:22] kankaristo commented on #33859
Hmm, updated to Dart SDK 2.0.0-dev.67.0, and I'm no longer seeing this.

Now I'm getting a different error: "Wrong full snapshot version" from the Dart Analyzer.

[2018-07-15 23:30] bwilkerson commented on #33862
https://github.com/dart-lang/linter/pull/1078

[2018-07-15 23:30] #33862 closed

[2018-07-15 23:31] bwilkerson commented on #33856
https://dart-review.googlesource.com/c/sdk/+/65023

[2018-07-15 23:31] #33856 closed

[2018-07-16 06:49] #33658 closed

[2018-07-16 08:17] escamoteur commented on #33194
So it works now?

[2018-07-16 08:22] iarkh opened #33863 "Dart does not throw error if parameter of incorrect type is passed to the function."
Dart SDK Version: 2.0.0_dev.68.0
OS: Windows 10

The following sample code example declares a function with `<X extends int>` parameter and than calls it with the `String` argument:
[code]
It expectidly fails with dartanalyzer - indeed, `String` does not extend `int`:
[code]
However, this incorrectly passes with dart - any errors and warning. I believe dart should throw a error here too.

Please n

[2018-07-16 08:59] lrhn commented on #33841
@matanlurey
We can't use
[code]
because it's not type-safe. If we pick a `T` type that is an actual sub-type of `E`, then the first element of the list satisfying `test` might not be a `T`.

It is also a problem that `orElse` is optional because that leaves us with no good default for `T` when it is omitted.

With suitable language extensions, maybe we could type it as:
[code]
That would allow us

[2018-07-16 09:05] DanTup commented on #33194
The [test](https://github.com/dart-lang/sdk/commit/ff2933c55bdb3b6b1c4f3ce1684d60e58b5c3ac8#diff-63b235b288813781decb7c97445c2769) suggests so, but you'll need a new Dart for it (for standalone Dart SDKs that probably means the next dev release, but for Flutter it might take a little longer to be rolled in).

[2018-07-16 09:35] lrhn commented on #33777
I'll leave this open as a request to deprecate/remove `isNegative`. The problem with that is that it has a real use-case for doubles that is not available in any other way. Even the `sign` getter just returns `-0.0` for `-0.0`, so it doesn't help you find the actual sign bit.

[2018-07-16 09:59] iarkh opened #33864 "Analyzer throws exception if function optional argument is omitted and it's parametrized."
Dart SDK Version: 2.0.0_dev.68.0
OS: Windows 10

The following sample code example declares a function with one optional parametrized argument and than calls it without parameters:
[code]
It passes with dart and it seems like a correct result - indeed, if we don't set optional input argument, it should not affect the execution.
However, dartanalyzer throws an error here:
[code]
I suppose analyzer

[2018-07-16 10:10] iarkh commented on #33864
I've just found even more simple example which fails similarly - in the following code
[code]
analyzer passes with `testme2()` and fails with `testme1()`.

[2018-07-16 10:10] #32286 closed

[2018-07-16 10:10] #33690 closed

[2018-07-16 10:30] lrhn commented on #33768
There is no specification of `Type.operator==` apart from what it says in the SDK declaration. There is also no specification of what `Type` object means except that they "represent" a run-time type. The spec is silent except for creating `Type` objects representing types when you use a type expression as an expression.

For the equality to be *useful*, type objects representing the same type must

[2018-07-16 10:52] lrhn commented on #31949
Definitely. No need to wait for a CL, though, I can do that quickly enough myself. How about: https://dart-review.googlesource.com/c/sdk/+/65081
(Well, "quickly enough" considering I got side-tracked updating the rest of the file)

[2018-07-16 11:08] lrhn commented on #32442
From the *language* perspective, there is only one flag that matters, and that's `--enable-asserts`. Strong mode in DDC had asserts enabled by default, which makes sense for a development compiler, but our deployment compilers will not want that. So, there will be a flag which enables asserts, likely `--enable-asserts`. The language specification currently says "In production mode an assertion has

[2018-07-16 11:36] peter-ahe-google commented on #33842
Proposed fix: https://dart-review.googlesource.com/c/sdk/+/65082

[2018-07-16 11:46] peter-ahe-google commented on #33811
I'm working on fixing it in this CL: https://dart-review.googlesource.com/c/sdk/+/65084

[2018-07-16 13:11] lrhn commented on #33861
This is just the double version hitting an optimization.
if I change the power from 3 to 4, then the integer version time goes from 6.7 seconds to 10.9 seconds, and the double version goes from 2.6 seconds to 39.1 second.

You're just hitting this line in `_doublePow` which doens't have a corresponding line in `_intPow`:
[code]
(I'd be surprised if that rewrite is actually correct for all doubles)

[2018-07-16 13:24] iarkh opened #33865 "Analyzer unexpectedly fails when calls row Callable function."
Dart SDK Version: 2.0.0_dev.68.0
OS: Windows 10

The following sample code example declares callable class with parametrized `call` method:
[code]
Dart passes with this and it seems like it's a correct result.

Dartanalyzer throws unexpected error on the   `int ii = func();`, sample output is:
[code]
I believe this is incorrect behavior, `int i = fff();`, `int ii = func();` and `int iii = func.cal

[2018-07-16 13:31] sjindel-google opened #33866 "gen_snapshot does not include vmservice_io::main for Debug and Release builds"
`dart_bootstrap` does not have this issue.
Precisely, the `vmservice_io` library is never seen in `Precompiler::AddAnnotatedRoots` when compiling with `gen_snapshot`.
@mraleph @cbracken

[2018-07-16 13:36] SteveAlexander commented on #33861
Fascinating. Thanks for the explanation!

[2018-07-16 14:12] zoechi opened #33867 "Dart Analyzer Error"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.5281.24`
- `2.0.0-dev.68.0`
- `IU-181.5281.24, JRE 1.8.0_152-release-1136-b39x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.5 unknown, screens 1920x1200, 3840x2160  Retina`

# Exception

Please append the contents of:
file:///private/var/folders/k0/l96hhr317hgcfkw1p58qzr880000gp/T/report.txt
[report.txt](https://github.com/dar

[2018-07-16 14:25] peter-ahe-google commented on #30470
Proposed fix: https://dart-review.googlesource.com/c/sdk/+/65141

I have one remaining issue that depends on #32613 which is in the process of being landed.

[2018-07-16 14:55] peter-ahe-google opened #33868 "Analyzer tests aren't providing input to fasta"
The following tests will fail when https://dart-review.googlesource.com/c/sdk/+/65082 lands because the analyzer don't provide an input when they invoke Fasta:

 * pkg/analyzer/test/generated/checked_mode_compile_time_error_code_kernel_test
 * pkg/analyzer/test/generated/compile_time_error_code_kernel_test
 * pkg/analyzer/test/generated/error_suppression_kernel_test
 * pkg/analyzer/test/generated/

[2018-07-16 15:19] lrhn commented on #33863
Seems to be a missing error from the front-end. Likely know already, but they'll know which bug is the canonical one.