[2017-03-02 00:25] mhausner commented on #28770
Fix is on the way.

[2017-03-02 02:43] ds84182 opened #28950 "Access to initialized final fields inside initializer expressions"
If you try to use StreamView or Delegating* classes (from the async package) as a superclass you can hit some **REALLY** awkward syntax:

[code]

The implementation would involve having initialized finals as a variable in initializer scope AFTER the initialization. This would make `C(int x) : z = y * 2, y = x * 2;` (assuming y and z are declared final) ill-formed, since the initializer for z tries

[2017-03-02 03:44] tomyeh opened #28951 "API to know the memory use of Dart VM"
It will be great if there is an API to know the memory use, so we can monitor the health status of a long-running server. For example, we can restart the VM if the consumption is too much (usually a leak, #27414).

[2017-03-02 03:59] JPaulsen opened #57457 "Implement CONSIDER omitting the types for local variables."
From [Effective Dart](https://www.dartlang.org/guides/language/effective-dart/usage#consider-omitting-the-types-for-local-variables)

[2017-03-02 04:40] jimmyshiau opened #28952 "Deferred dart:js library works in Chrome, doesn't work in Dartium"
### index.html
[code]

### main.dart
[code]

### deferred_lib.dart
[code]

### chartjs.dart
[code]

[2017-03-02 04:41] jimmyshiau commented on #28952
If you didn't import `chartjs.dart` in `main.dart`, Dartium will show error

[code]

[2017-03-02 06:22] JPaulsen opened #57458 "Implement CONSIDER using => for short members whose body is a single return statement."
From [EffectiveDart](https://www.dartlang.org/guides/language/effective-dart/usage#consider-using--for-short-members-whose-body-is-a-single-return-statement)

[2017-03-02 07:02] zoechi commented on #28951
I expected https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md#vm to provide that, but memory isn't mentioned.

[2017-03-02 07:10] zanderso commented on #28948
Dug into this a little. As indicated by @goderbauer's comment, stdout in PowerShell ISE is connected to a pipe and not a terminal. As such, our options at the sending side of the pipe are a bit limited. There are hacky ways of detecting that PowerShell ISE is at the other end of the pipe, but I'm not sure there's a way to do it that we want to bake in to the VM.

OTOH, there is a workaround from D

[2017-03-02 07:58] MikeMitterer opened #28953 "Analyzer Feedback / Unexpected exception"
![capturfiles-20170302_085402](https://cloud.githubusercontent.com/assets/116654/23497981/d2ea1386-ff25-11e6-8613-2444a499fff7.png)

I changed Line 24. While typing something like `level: ???? - cant remember what exactly` but here it crashed.
`level: Level.INFO` is correct - I had something else before.

[report.txt](https://github.com/dart-lang/sdk/files/813059/report.txt)

The following lines a

[2017-03-02 08:33] mkustermann commented on #28908
It looks to me as these builders are already running recipes. It's a master change to make them auto reboot. I'll take care of it.

[2017-03-02 08:58] alexander-doroshko commented on #28953
@stevemessick Any idea why auto-reports from Mike are malformed? (Other example [here](https://github.com/dart-lang/sdk/issues/28760)). All other users seem to submit correctly rendered analysis server errors.

[2017-03-02 09:07] whesse opened #28954 "CrossARM build of sdk has error message"
Building the sdk with -mrelease -aarm create_sdk gives a GN error, but seems to work, otherwise:

whesse@mcvoodie:~/ssd/sdk$ tools/build.py -mrelease -aarm create_sdk
ninja -C out/ReleaseX64 create_sdk
ninja: Entering directory `out/ReleaseX64'
[1317/1317] STAMP obj/create_sdk.stamp
GetBuildConf: Cross-build of arm on x64

GetBuildConf: Cross-build of arm on x64

ninja -C out/ReleaseXARM runtime
n

[2017-03-02 09:12] mkustermann commented on #28908
[cl/447978](https://chromium-review.googlesource.com/c/447978/) should fix it, but can't land ATM due to CQ issues.

[2017-03-02 09:34] whesse commented on #26953
A corrected ARM sdk is uploaded to the dev channel (1.23.0-dev.2.0 and latest) and to the stable channel (1.22.1 and latest).  The build recipe still needs to be changed so the builders do it automatically.

[2017-03-02 10:26] lrhn commented on #28950
We will definitely not make the initializer list have access to the real object.

Only giving access to final variables is a little too specific - the next request will likely be to give read-access to non-final fields too (and not unreasonable).

What we could do instead is to let initializer list assignments also introduce a final variable, visible in the rest of the list, that contains the same

[2017-03-02 11:54] mkustermann opened #28955 "Investigate flakiness on dart2js-windows"
There is a lot of flaky timesouts on all dart2js-windows and these do not seeem test-specific

The underlying problem might be an infrastructure issue in test.dart's browser controller in connection with IE10/IE11. Our buildbots don't surface the debug log information from test.dart so it's really hard to diagnose.

I think it should be a high priority to look into those flakes and fix the underly

[2017-03-02 11:57] mkustermann commented on #28955
This issue has been going on for a long time. We should consider moving all of these builders to FYI until they are fixed.

[2017-03-02 13:23] whesse commented on #28955
I'm rebooting these machines, because ie10 doesn't seem to be working well, even in a remote desktop session.  IE 10 is old and unsupported, so we should switch to testing the new IE, edge, on Windows 10.

[2017-03-02 14:00] MikeMitterer commented on #28953
I'm on Mac 10.11.6.

IntelliJ IDEA 2017.1 EAP
Build #IU-171.3566.24, built on February 21, 2017
IntelliJ IDEA EAP User
Expiration date: March 23, 2017
JRE: 1.8.0_112-release-724-b5 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.11.6

Dart-Plugin:  171.3583

[2017-03-02 14:47] MikeMitterer opened #28956 "AnalysisException: Cannot compute RESOLVED_UNIT for ..."
[report2.txt](https://github.com/dart-lang/sdk/files/814109/report2.txt)
Analyzer Feedback from IntelliJ

## Version information

- `IDEA 171.3566.24`
- `1.22.1`
- `IU-171.3566.24, JRE 1.8.0_112-release-724-b5x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.11.6 unknown, screens 1920x1080, 1920x1080, 2560x1440`

## Exception

Please append the contents of:
file:///private/var/folders/m4/9rg16xhd2rlbln

[2017-03-02 14:49] MikeMitterer commented on #28953
Just got another error: #28956
This time the report looks OK - din't change anything. Just clicked on the link IJ provides

[2017-03-02 17:38] alexander-doroshko opened #28957 "Bad state: Support for generic type aliases is not yet implemented"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA 172.SNAPSHOT`
- `1.23.0-dev.2.0`
- `172.SNAPSHOT, JRE 1.8.0_112-b15x64 Oracle Corporation, OS Windows 10(amd64) v10.0 , screens 1920x1200`

## Exception

[code]

[code]

[2017-03-02 17:51] bwilkerson commented on #28957
This is as expected at this point. As the error message suggests, support for generic function types and generic type aliases is not yet implemented. See https://github.com/dart-lang/sdk/issues/27969.

[2017-03-02 17:51] #28957 closed

[2017-03-02 17:51] bwilkerson commented on #28956
Do you have a test case that can reproduce this exception?

[2017-03-02 18:17] bwilkerson opened #28958 "VM crash during garbage collection"
This occurred while running on one of the bots (https://build.chromium.org/p/client.dart/builders/analyzer_experimental-linux-release-be/builds/12029/steps/tests%20--host-checked/logs/stdio). In case the file is not accessible, the stack trace from the file follows:

FAILED: dart2analyzer-none release_ia32 lib/js/null_test
Expected: Pass
Actual: Crash
CommandOutput[dart2analyzer]:

stderr:
Dumping

[2017-03-02 18:33] goderbauer commented on #28948
Wow. That's an interesting work around :)

I can confirm that it sort-of works if the BOM is really the first thing that gets printed to the console. However, it's hard to grantee that. In our case, the dart script is actually wrapped in a batch script which might print something before dart is launched and in that case the BOM bytes are actually printed as "ï»¿" and don't have the desired effect.

[2017-03-02 18:50] zanderso commented on #28948
Right. PowerShell ISE decides how to interpret the rest of the bytes depending on the presence or absence of a BOM at the start of the stream. I don't think there's any Windows API call we can use in the Dart VM that would convince it to do otherwise. Even if that API call did exist, we don't really have enough information to decide where we should be using it. All we know is that stdout is a pipe

[2017-03-02 19:17] fsc8000 commented on #28958
Was there a core dump archived on the buildbot?

[2017-03-02 19:30] #57456 closed

[2017-03-02 19:34] bwilkerson opened #28959 "VM test sometimes times out (standalone/io/socket_source_address_test)"
The bot (https://build.chromium.org/p/client.dart/builders/vm-linux-release-ia32-be/builds/17277/steps/vm%20tests/logs/stdio) reported that the test timed out. I don't know whether this should be marked as slow or whether this indicates a bug.

In case the link above doesn't work, the relevant failure is:

FAILED: none-vm release_ia32 standalone/io/socket_source_address_test
Expected: Pass
Actual:

[2017-03-02 20:05] #57458 closed

[2017-03-02 20:16] #57457 closed

[2017-03-02 20:19] goderbauer commented on #28571
I have noticed that after this change sometimes the Windows console breaks when running another command after running a dart script. See second last line:

![terminal_broken](https://cloud.githubusercontent.com/assets/1227763/23525206/7cf48372-ff42-11e6-8132-68417902ef4f.png)

This started to appear right after I switched to the first Dart version that included this change. It also doesn't happen

[2017-03-02 20:52] bkonyi commented on #28885
It looks like zones sometimes fall out of scope in one thread while another thread is trying to collect information about it, causing a segfault. I've temporarily disabled the collection of information for individual zones until @johnmccutchan is back next week to discuss a different method of surfacing zone information on a per thread basis.

[2017-03-02 21:41] BlackHC opened #28960 "IsolateReload event is never triggered during reloadSources"
When I call reloadSources in the VM service, the reload report is correctly returned but IsolateReloadContext::ReportSuccess is never called by the looks of it. (Searching for a call to ReportSuccess does not yield any results.)

[2017-03-02 22:00] mraleph commented on #28958
These bots don't have `--copy-coredumps` enabled.

It's a duplicate of #28858.

[2017-03-02 22:00] #28958 closed

[2017-03-02 22:08] mhausner commented on #28770
This is fixed in 408a64756e166b884840482194600169d39784fb.

[2017-03-02 22:08] #28770 closed

[2017-03-03 01:14] JPaulsen opened #57459 "Await only futures should be extended to include FutureOr"

[2017-03-03 01:17] danrubel commented on #28930
Need some clarification here...

Is this a Flutter project? There was a recent change that upgraded a specific Flutter related linter hint to a warning.

In addition, I recently updated `dartanalyzer` to [find the analysis options in the same way](https://github.com/dart-lang/sdk/commit/abee739921f4770fa6b69c5256803adc4fae4d08) that analysis server does (see [change log](https://github.com/dart-la

[2017-03-03 08:11] zoechi commented on #28930
@danrubel it's not a Flutter project. I saw it in a normal console application project and an Angular project.

I'm using `analysis_options.yaml`, but I don't understand how this might be related.

[2017-03-03 09:03] mraleph commented on #28959
@bwilkerson please use Markdown when you paste logs, this makes it more readable and also avoid GitHub recognizing `#1` as issue number.

[2017-03-03 10:19] mkustermann commented on #28908
The support has landed and is only pending a master restart.

[2017-03-03 10:19] #28908 closed

[2017-03-03 11:16] MikeMitterer opened #28961 "Analyzer Feedback / my daily feedback"
Does it really make sense if I send every day my report.txt or I'm just bothering someone with this???

[report.txt](https://github.com/dart-lang/sdk/files/816574/report.txt)

Analyzer%20Feedback%20from%20IntelliJ%0A%0A%23%23%20Version%20information%0A%0A-%20%60IDEA%20171.3691.12%60%0A-%20%601.22.1%60%0A-%20%60IU-171.3691.12,%20JRE%201.8.0_112-release-724-b5x64%20JetBrains%20s.r.o,%20OS%20Mac%20OS

[2017-03-03 11:25] DanTup opened #28962 "Errors reported in SDK files after Go-to-definition (1.23.0-dev.2.0)"
@bwilkerson I'm not sure whether I should be raising issues in pre-release SDKs like this; on one hand it might help you find bugs before release, but often you already know about/have fixed them. If you'd rather I waited for release candidates, let me know!

In 1.23.0-dev.2.0 if I hi Go-to-definition on an SDK class (eg. List), when that file gets opened in my IDE I get a bunch of errors reported

[2017-03-03 13:26] asgerf opened #28963 "Inconsistent order of evaluation of method lookup in DDC"
In DDC, typed calls evaluate the method lookup in a call before its arguments, whereas dynamic calls evaluate the arguments first.

In other words, for an invocation `obj.foo(bar())` it will, roughly speaking, evaluate `obj.foo` before `bar()`. This has a few negative consequences:
- If `obj` is null, an exception is thrown before `bar()` is called
- If `obj.foo` is a getter, the getter is called

[2017-03-03 14:06] floitschG commented on #28963
I just looked at dart2js. In many cases it doesn't do the right thing either :(
I'm in the process of writing a document and will update this bug with it.

[2017-03-03 15:55] whesse commented on #28248
This is because depot_tools have moved the gsutils to a new location.  I have fixed it in the past on buildbot by running (in the depot_tools directory):
cp -r external_bin/gsutil/gsutil_4.15/gsutil third_party
chmod 775 third_party/gsutil/gsutil

But now the buildbot is deleting those moved files on every run.
If we don't need the mojo shell download to build Dartium, then we should remove this s

[2017-03-03 16:17] whesse commented on #28248
An alternative is to make the gsutil files undeletable by using chmod 555 instead of chmod 755.  I am trying that as well.

[2017-03-03 16:24] bwilkerson commented on #28962
@DanTup Thanks! Actually, we prefer to get reports sooner rather than later; they're generally easier to track down.

@scheglov It looks like we're not getting the driver configured correctly when analyzing code in the SDK.

[2017-03-03 16:36] bwilkerson commented on #28961
If the error is the same, then it probably has minimal value (other than as a reminder that you're still being effected by the issue). Unfortunately, as you know, stack traces can easily get out of date so that they are insufficient for tracking down the source of the problem, and coming up with a reproduction case is sometimes impossible, making it hard for us to solve the problem.

That said, we

[2017-03-03 16:36] scheglov commented on #28962
I don't see errors reported from DAS on Mac.
Might be a Windows specific issue in the driver.
![image](https://cloud.githubusercontent.com/assets/384794/23559626/6e798ee6-ffec-11e6-8662-ac9df8049f6f.png)

[2017-03-03 16:39] DanTup commented on #28962
@scheglov If a log of the service traffic or an instrumentation file will help at all, let me know.

[2017-03-03 16:51] scheglov commented on #28962
I can reproduce the problem.

Also by some reason `Analyzing...` blinks long time when I navigate to a SDK file.
This is not a good symptom :-)

I need help with two things.
1. How to specify to run Analysis Server from sources instead of snapshot? This way I will able to make changes and see results quickly.
2. How to specify additional arguments for Analysis Server? I'd like to turn on additiona

[2017-03-03 17:03] DanTup commented on #28962
1. This isn't currently possible, though it's a great idea. If you can tell me how you would invoke it (normally we do `{sdkPath}/bin/dart {sdkPath}/bin/snapshots/analysis_server.dart.snapshot`) I can add an option to support this.

2. If you `Ctrl+Shift+P` to get command window and type `settings` to find `Preferences: Open User Settings` that will let you edit settings as a JSON object. If you a

[2017-03-03 17:07] DanTup commented on #28962
That crazy flickering might be caused by getFixes? It seems that Dart Code gets the error, sends a `getFixes` and then as well as getting the response it gets sent the error again, which results in it starting over (and loops forever):

[code]

[2017-03-03 17:12] scheglov commented on #28962
Yes, it seems that we send errors after `getFixes`.

We wouldn't do this if the file was made a priority with `analysis.setPriorityFiles`, because we cache resolved ASTs for priority files, so additional requests, like getFixes or getAssists use this cached AST instead of analyzing again (and sending back found errors).

[2017-03-03 17:19] DanTup commented on #28962
Ah, interesting - looks like we currently don't include any files outside of the workspace root in priority files. I presume it would make sense for me to remove this restriction?

This doesn't happen in 1.22, but I wonder if that's a side-effect of it not returning any errors (therefore we don't send `getFixes`).

[2017-03-03 17:24] DanTup commented on #28962
Ah, in older SDKs we can't send priority files outside of the workspace:

That's why I added this code. I can do a version check and send them for >= 1.23 though I'd like confirmation that's the best fix first (this will presumably affect other IDE integrations too).

[2017-03-03 17:25] scheglov commented on #28962
Yes, I think it is better to remove this restriction.

Analysis Server now returns errors for files in analysis roots, and for open files.
Not sure if this is good though.
We need to be able to compute all errors for all files in the driver.
But this does not mean that we have to send this errors from Analysis Server.

[2017-03-03 17:39] DanTup commented on #28962
As mentioned above; I'll have to make this conditional because old SDKs return error if I send non-workspace files in `setPriorityFiles`. Is checking SDK version >= 1.23 the best way for me to do this?

[2017-03-03 17:41] scheglov commented on #28962
Yes, I think checking for `>= 1.23` will work.

[2017-03-03 18:00] DanTup commented on #28962
That makes sense; though if this behaviour change (the ability to send priority files that are outside the workspace root) came with the new driver, might it differ based on a switch within the same version? Or would the new driver have returned a different version number to the old driver within the same SDK?

[2017-03-03 18:08] zoechi commented on #28962
Looks like a dup of #28930

[2017-03-03 18:17] zanderso commented on #28571
Hmm that's odd. I had only noticed this happening in our test suite for tests that don't exit cleanly and reset the console's code page back to the default. Could you file a new bug and include repro steps? Thanks!

[2017-03-03 18:40] srawlins opened #28965 "dart:html library mentions Dart Editor at the very top"
https://api.dartlang.org/stable/1.22.1/dart-html/dart-html-library.html

Aside from the formatting issues, the text references the Dart Editor.

[2017-03-03 19:02] alan-knight commented on #28965
I'm not sure what to write, but If somebody wants to write some updated/formatted text I will happily  put it in the right template. @kevmoo ?

[2017-03-03 19:51] kevmoo commented on #28965
@kwalrath @Sfshaza would one of ya'll take a stab at updating this verbiage?

[2017-03-03 20:25] #28904 closed

[2017-03-03 20:25] #28901 closed

[2017-03-03 21:21] mhausner commented on #22892
No reason to fix this in the soon-to-be-obsolete front-end.

[2017-03-03 21:21] #22892 closed

[2017-03-03 21:23] mhausner commented on #6134
This will be obsolete with the new front-end.

[2017-03-03 21:23] #6134 closed

[2017-03-03 21:24] danrubel commented on #28930
`analysis_options.yaml` determines what analysis is performed and whether it appears as an error, warning, or hint. That said, it sounds like you have not changed that file, yet you are now seeing new warnings. Not sure I can help here.

[2017-03-03 22:12] zoechi commented on #28930
No, I haven't changed the `analysis_options.yaml`. #28962 seems to be about the same problem.

[2017-03-03 22:49] Hixie opened #28966 "String.substring(x, 1) leads to confusing message when x > 1"
When the start index is greater than the end index, we throw a RangeError with the start index as the value that's flagged as bad. This leads to an error like "RangeError: Value not in range: 97".

This is confusing because the start index is fine, what's wrong is the relationship between the start and end indices. (Typically this will happen when the developer thinks the second argument is a leng

[2017-03-04 00:40] JPaulsen opened #57460 "Implement DON’T create a lambda when a tear-off will do."
From [EffectiveDart](https://www.dartlang.org/guides/language/effective-dart/usage#dont-create-a-lambda-when-a-tear-off-will-do)

[2017-03-04 11:34] DanTup commented on #28962
For now (to fix the loop) I've stopped sending `getFixes` for non-workspace files (matching setPriorityFiles). I've also raised another case about changing the setPriortyFiles behaviour in a future version.

@scheglov I've pushed this in Dart Code v1.0.1 so if you're using Dart Code to debug this issue (with errors coming back unexpectedly) you should avoid updating.

[2017-03-04 18:03] ktullavik opened #28967 "Another bogus "Conditions should not unconditionally evaluate to "TRUE" or to "FALSE"" warning."
When changing a variable with unary operators, the analyser don't seem to invalidate its
assumptions - and produces false warnings.

Example, both inner conditionals in this function give bogus warnings:

[code]
Funny enough, the warning _would_ be appropriate for the outer conditional.
Dart SDK version: 1.22.1

[2017-03-04 19:20] bwilkerson commented on #28967
@alexeieleusis

[2017-03-04 19:49] mraleph commented on #28967
@ktullavik  `b` is equal to 1 inside the outer condition after `b--` so `b == 0` evaluates to `false` and `b > 0` evaluates to `true` unconditionally. what is bogus about the warning?

[2017-03-04 21:27] alexeieleusis commented on #28967
These cases are indeed not considered in the rule, there is a bug reported for it and a PR out https://github.com/dart-lang/linter/pull/412 should land soon.

[2017-03-04 21:30] alexeieleusis commented on #28967
By the way, the rule does not try to infer the value of the variable, and should not warn about anything inside the outer `if` statement precisely because of the mutation to `b`.

[2017-03-04 21:58] ktullavik commented on #28967
@mraleph the warning is not dependant on the value of b.

[2017-03-05 03:29] scheglov commented on #28930
https://codereview.chromium.org/2734673002

[2017-03-05 03:30] scheglov commented on #28962
With [this CL](https://codereview.chromium.org/2734673002) we will stop sending errors for files outside of analysis roots.

[2017-03-05 18:59] mraleph commented on #28967
@ktullavik no matter which *constant* value you select for the initial value of `b` conditions like `b == 0` and `b > 0` would always be constant - because `b` value after `b--` is *known*. They might be different depending on the constant value of `b` you selected, but they are nevertheless known in compile time.

Compare your example with

[code]

Here indeed conditions are not constant.

[2017-03-05 19:29] ktullavik commented on #28967
@mraleph
Yes sorry, I should have made b unknown in the example to avoid confusion.
But it's irrelevant. The wrong analyser assumption is caused by the outer conditional,
not by the value of b.

[2017-03-05 23:02] scheglov commented on #28930
https://github.com/dart-lang/sdk/commit/24d5466a72a34cfe1fca15bb6f546553dc3bf4ea

[2017-03-05 23:02] #28930 closed

[2017-03-06 07:50] zoechi commented on #28920
Still the same in
Dart VM version: 1.23.0-edge.890dff146ac4733018c059b36bc4d67c45da3232 (Fri Mar  3 14:52:14 2017) on "linux_x64"

[2017-03-06 08:01] zoechi commented on #28905
The errors are gone. I guess this can be closed.

[2017-03-06 08:31] ktullavik opened #28968 "TableElement.createTBody throws in IE11."
[code]

Gives "Unexpected call to method or property access."
Edge works fine. And no problem with .createTHead and .createTFoot.

 #11679

[2017-03-06 09:55] zoechi opened #57461 "A way to suppress lints on file level"
For generated code it's difficult to suppress linter hints/warnings because it's difficult to find the right place where to add the comment. For example in https://github.com/dart-lang/code_builder it would be quite difficult to support all possible places where such comments might be required.

It would be better if for example at the beginning of a file specific linter rules could be suppressed

[2017-03-06 10:07] whesse opened #28969 "lib_strong tests are failing on dartanalyzer in strong mode"
These tests should be made strong-mode clean (or correct if they are testing strong-mode warnings/errors).

The tests that are failing because package:unittest is not strong-mode clean should be fixed
by changing them to use package:expect or some other light test library, not by changing them
to use package:test, which has too many dependencies to be used in core lib tests.
We haven't yet settled

[2017-03-06 10:10] whesse commented on #28823
These tests should be made strong-mode clean (or correct if they are testing strong-mode warnings/errors).

The tests that are failing because package:unittest is not strong-mode clean should be fixed
by changing them to use package:expect or some other light test library, not by changing them
to use package:test, which has too many dependencies to be used in core lib tests.
We haven't yet settled

[2017-03-06 12:42] floitschG commented on #28963
Document discussing this issue: https://gist.github.com/floitschG/b278ada0316dca96e78c1498d15a2bb9

[2017-03-06 14:30] bwilkerson commented on #28905
Thanks for confirming!

[2017-03-06 14:30] #28905 closed

[2017-03-06 16:04] scheglov commented on #28962
I don't see errors and flickering with [this change](https://github.com/dart-lang/sdk/commit/24d5466a72a34cfe1fca15bb6f546553dc3bf4ea).

[2017-03-06 16:04] #28962 closed

[2017-03-06 16:27] lrhn commented on #28966
There are better `RangeError` versions too.
I'm making the VM use RangeError.checkValidRange and dart2js do better errors too (and some flow optimization while I'm there).

[2017-03-06 16:32] danrubel commented on #28850
https://codereview.chromium.org/2731863002/

[2017-03-06 16:46] MikeMitterer commented on #28915
Looks very similar

[2017-03-06 16:58] itbj commented on #19991
same problem! on windows 10 platform.

[2017-03-06 19:30] vsmenon commented on #28947
@leafpetersen

Is there a runtime component to this?  Not sure if there is any DDC work here once it's supported in the front end.

[2017-03-06 19:53] #57460 closed

[2017-03-06 19:58] JPaulsen opened #57462 "Implement DON’T use this. when not needed to avoid shadowing."
From [Effective Dart](https://www.dartlang.org/guides/language/effective-dart/usage#dont-use-this-when-not-needed-to-avoid-shadowing)

[2017-03-06 19:59] JPaulsen opened #57463 "Implement DO initialize fields at their declaration when possible."
From [Effective Dart](https://www.dartlang.org/guides/language/effective-dart/usage#do-initialize-fields-at-their-declaration-when-possible)

[2017-03-06 20:00] JPaulsen opened #57464 "Implement DO use initializing formals when possible."
From [Effective Dart](https://www.dartlang.org/guides/language/effective-dart/usage#do-use-initializing-formals-when-possible)

[2017-03-06 20:03] JPaulsen opened #57465 "Implement AVOID storing what you can calculate."
From [Effective Dart](https://www.dartlang.org/guides/language/effective-dart/usage#avoid-storing-what-you-can-calculate)

[2017-03-06 20:10] leafpetersen commented on #28947
I believe that we already implement the runtime component of this.

[2017-03-06 20:15] mhausner commented on #27569
This is fixed with 2d0522b643e2f6057d8af317b19064c71cd25c20

[2017-03-06 20:15] #27569 closed

[2017-03-06 21:24] jmesserly commented on #27259
edited subject; the issue here is for covariance in generic types & making sure we have the right checks in place for soundness. These checks are inside the method, on the parameter, when the parameter type needs a check for soundness.

[2017-03-06 21:26] jmesserly commented on #27259
This also includes fields, e.g.
[code]

[2017-03-06 21:30] leafpetersen commented on #27259
See also `test/language_strong/covariant_subtyping*` .  We're currently failing several of these.

[2017-03-06 21:52] a14n opened #57466 "False positive for unnecessary_lambdas"
False positive for https://github.com/flutter/flutter/blob/aac8762a7a16d931eebde40e7179f9913867ca8b/packages/flutter_test/lib/src/controller.dart#L172

[code]

@JPaulsen

[2017-03-06 22:01] a14n opened #57467 "unnecessary_lambdas issue"
I see a lint for:

[code]

but it's not completly the same as `onTap: _inputFieldKey.currentState?.requestKeyboard` in the case when `_inputFieldKey.currentState` is null.

[2017-03-06 22:05] sigmundch opened #28970 "make dart2js compile with kernel end to end"
* [ ] workaround for lack of `@patch` support in fasta by creating a patched_dart2js_sdk (see [patched_sdk][1])
* [ ] load kernel from file to seed the closed-world builder
   * [ ] split loader from rest of compiler (no onLibraryScanned and onLibrariesCompleter callbacks)
   * [ ] add support for binary files on input provider (no UTF8 by default)
* [ ] get close-world builder with kelements comp

[2017-03-06 22:30] hermanbergwerf commented on #28879
For me this issue is now resolved

[2017-03-06 22:30] #28879 closed

[2017-03-07 00:35] Hixie commented on #24619
Closing in favour of https://github.com/dart-lang/sdk/issues/28404

[2017-03-07 00:35] #24619 closed

[2017-03-07 00:35] Hixie commented on #24617
Closing in favour of https://github.com/dart-lang/sdk/issues/28404

[2017-03-07 00:35] #24617 closed

[2017-03-07 00:37] sigmundch commented on #28864
@johnniwinther  - could this be a regression in some of the recent refactoring changes in the closed world builder?

[2017-03-07 00:38] sigmundch commented on #28915
indeed they seem related. I'll close this bug as duplicate of #288864

FYI @johnniwinther - here is another test case where the `call` has a signature with more than 0 args.

[2017-03-07 00:38] #28915 closed

[2017-03-07 01:12] sigmundch commented on #28809
/cc @johnniwinther
Regarding the dart2js code:
 - not sure why this is causing failures at this moment: dart2js is not strong clean, so I expect other strong failures at this moment
 - will we also expose a way to declare that we intentionally override a private member with a mixin? (for example, labeling a private field as `@virtual`?)

FWIW - here is a simplified snippet of the code you linked a

[2017-03-07 01:21] vsmenon commented on #28809
The objective is for this to only be a strong-mode error.  Brian was checking everything.  If this code is never intended to be strong mode clean, I don't think you need to do anything.

There is no immediate (1.23) plan for `@virtual`, but there is discussion about making mixins more explicit in the language (which might re-allow this use case).

[2017-03-07 01:21] Hixie commented on #28404
Language proposal (this is a rough draft I just hammered out and I'm sure others will have opinions on making this better):

There are two kinds of string literals, `'...'` and `'''...'''` They are identical except that the former cannot contain a newline; the distinction is purely to aid with finding syntax errors. Both kinds can use either single quotes like that, or double quotes, as in `"..."`

[2017-03-07 01:23] goderbauer opened #28972 "VM service should accept URIs instead of file paths for hot reload"
(cross-posted from https://github.com/flutter/flutter/issues/8502)

To be truly portable, the following calls should accept real platform-independent URIs (instead of platform-specific file paths) on the remote (VM) side:

- https://github.com/flutter/flutter/blob/17057bb44b7c10b2b4603cd09b266d9379f65ba2/packages/flutter_tools/lib/src/devfs.dart#L203
- https://github.com/flutter/flutter/blob/17057

[2017-03-07 01:24] sigmundch commented on #28514
I don't think we need to block a release for these:
 - the jsshell issue is for us only, there is coverage through FF for those tests
 - the test failing in d8 needs to be fixed, but it doesn't seem like a blocking issue to me.

[2017-03-07 01:24] rakudrama commented on #28809
We could apply one of these two CLs to make dart2js conform to the restrictions.

https://codereview.chromium.org/2722923002
https://codereview.chromium.org/2722043002

I think this feature (the aggregation of an implementation that has a private contract) is useful and would like it to be supported in a future version of dart.

[2017-03-07 03:43] sigmundch opened #28973 "language/async_star_test fails in dart2js"
There seems to be an issue in how the `yield` allows returning a value of the wrong type.

_Some context from #28215:_

We recently tried to convert this test to use `package:test`. The change made visible an issue with how the this test is written. In fact, dart2js incorrectly passes with `package:unittest` and incorrectly fails with `package:test`.

The test should check that we don't allow to y

[2017-03-07 03:45] sigmundch commented on #28514
To keep things clear, here are the action items I see us doign:
 * add timers to jsshell preamble (tracked by #7728, now reopened), until that's fixed, feel let's skip the test and refer to that issue
 * fix how `tests/language/async_star_test.dart` is written and mark it as failing in dart2js
 * fix the issue in dart2js with that test (tracked separately by #28973)

[2017-03-07 03:54] sigmundch commented on #7728
(reopened to track adding timer support in the jsshell preamble, hopefully by simply coping it from the d8 preamble)

[2017-03-07 10:02] johnniwinther commented on #28864
Bisected:

[code]

Passing on the torch @rakudrama

[2017-03-07 10:55] lrhn opened #28974 "VM doesn't await future returned by cancel call in await-for."
Example:
[code]
What actually happens is that it prints "Should not get here!" followed by "error" as an uncaught top-level error.

[2017-03-07 11:40] MikeMitterer commented on #28774
var without Type-Information: THIS IS NOT A GOOD PROGRAMMING-STYLE.

![capturfiles-20170307_123618](https://cloud.githubusercontent.com/assets/116654/23654870/fde5018e-0332-11e7-9489-fe875f93c61f.png)

[2017-03-07 12:05] jensjoha opened #28975 "Debugging StringConcatenation doesn't work the same on simdbc as on other platforms"
E.g. with
[code]
setting a breakpoint on main and 'next'ing through it on e.g. linux it stops at
* "(" in main
* "=" on line 2
* ")" on line 3 (after '$world"')
* "print on line 3
* "}" on line 4

On SIMDBC64 for instance it skips the ")" on line 3 (after '$world"') part.
Se also tests
service/next_through_catch_test
service/next_through_simple_async_test
service/next_through_simple_linear_2_test

[2017-03-07 12:06] MikeMitterer opened #28976 "Autocompletion window shows wrong type for final, implicitly typed object (dynamic instead of real type)"
First SS shows wrong type info:
![capturfiles-20170307_010311](https://cloud.githubusercontent.com/assets/116654/23655780/d718fb7e-0336-11e7-9aa4-94a74d477161.png)

Second SS shows the type info (now correct) if I STRG+hover over _records
![capturfiles-20170307_010407](https://cloud.githubusercontent.com/assets/116654/23655785/dce01862-0336-11e7-85e9-62883ebfb4ad.png)

[2017-03-07 12:24] MikeMitterer opened #28977 "Renaming a "library part file" breaks the library"
I renamed the file "StatsRecordPerPeriodType.dart" to "StatsType.dart" - this should also rename the part-directive in model.dart

![capturfiles-20170307_012130](https://cloud.githubusercontent.com/assets/116654/23656250/26465a82-0339-11e7-948b-010e654c4d1c.png)

[2017-03-07 13:22] alexander-doroshko commented on #28977
Works correctly to me. Is 'Search for references' enabled in your Rename dialog?
![image](https://cloud.githubusercontent.com/assets/4499789/23658061/1f150bdc-0352-11e7-984d-b7ae6cf09e47.png)

[2017-03-07 14:28] jensjoha opened #28978 "Observatory and checked mode"
We can run the service tests in checked mode (and some bots do).

There's an issue with uninitialized fields though:

Edit runtime/observatory/tests/service/service.status to not allow field_script_test to fail and run
[code]

I get
[code]

It seems that observatory injected into the vm does never run in checked mode though.

If I apply the following patch
[code]

I get "Field staticValue for test

[2017-03-07 14:50] pq opened #57468 "Update `invariant_booleans` docs to warn of perf issues."
Follow-up from dart-lang/sdk#57442.  As per @JPaulsen's suggestion, we should add some docs to warn of performance in general (though we should still strive to do a bit better).

Consider linking to dart-lang/sdk#57442 as well.

[2017-03-07 15:43] mit-mit opened #28979 "File names could be shortened a bit in casual stack traces when shown in IDEs"
File names take up a lot of space in casual stack traces:

[code]

Would be great if we could shorten them a bit.

[2017-03-07 16:07] zanderso commented on #28951
We already collect this information and expose it through the service protocol/Observatory, but I think we could/should add something to dart:io Platform for this. @floitschG @bkonyi

[2017-03-07 17:13] pq opened #57469 "0.1.30 Release Plan"
Punch list for a `0.1.30` release.

## Plan items

  * [x] update `invariant_booleans` docs (#476)
  * [x] fix false positive for `unnecessary_lambdas` (#473)
  * [x] land `use_initializing_formals_when_possible` (#475)
  * [x] do some rule renaming for consistency (#489)
  * [x] update changelist, pubspec
  * [x] update `AUTHORS` (#511)
  * [x] land `invariant_booleans` perf fixes (#501)

## Rele

[2017-03-07 17:31] #57399 closed

[2017-03-07 17:50] #28850 closed

[2017-03-07 18:05] stereotype441 commented on #28665
Two notes:
- To address this, we need to modify both the scanner and the parser--the scanner needs to generate the "[]" token, and everywhere in the grammer that "[]" is allowed, the parser needs to accept it as a synonym for "[" "]"
- Although it is less important for error recovery, we might as well also change Fasta's scanner so that it parses "[]=" as a single token regardless of where it appe

[2017-03-07 18:51] tvolkert opened #28980 "VM crash while attempting to step over line in debugger"
I set a breakpoint in flutter_tools/src/android/android_sdk.dart line 70 and ran the tool in IntelliJ.  The breakpoint hit, but when I tried to step over the code, the VM crashed:

https://gist.github.com/tvolkert/db4b40b30a98384e99386652c4e9ce47

@rmacnak-google

[2017-03-07 18:54] rmacnak-google commented on #28980
@mhausner - Includes a context mismatch in async code

[2017-03-07 21:09] mhausner commented on #28980
@tvolkert could you please copy the source lines around the breakpoint that caused the crash?

A fresh checkout has this in android_sdk.dart:70

[code]

[2017-03-07 21:11] tvolkert commented on #28980
Yep, that's correct - I had no local modifications.

I *was* running via --replay-from (unzipped the bug report attached to https://github.com/flutter/flutter/issues/8612, and ran `flutter/executable.dart` via the following args: `['doctor', '--replay-from=<path_to_unzipped_directory>']`

[2017-03-07 22:36] stereotype441 opened #28981 "Fasta's outline builder should not ignore type variable metadata"
I am currently implementing type variable metadata support in the Fasta parser.  This bug is a reminder that it needs to be supported in Fasta's outline builder as well.

See also #5841, which describes the need for type metadata support in dart2js.

[2017-03-07 23:33] #28658 closed

[2017-03-07 23:43] JPaulsen opened #57470 "Spelunk and parser breaks with this code"
I am trying to reproduce this bug https://github.com/dart-lang/sdk/issues/57466, and I noticed that the visitor breaks when trying to do it, With the debugger I noticed that it is not parsing well the AST in this part, and I created the minimal code that breaks the spelunk, and this is it:

[code]

The error message is this:

[code]

[2017-03-08 00:01] adrianlmm opened #28982 "Add factory constructor DateTime.today()..."
Often it is needed to have the current DateTime w/o the time part, just the date, it is possible to make a work around but it would more useful to have it in the core.

[2017-03-08 00:14] alan-knight opened #28983 "Failures in dart2js with Firefox 52"
@sigmundch @whesse

[2017-03-08 00:41] goderbauer opened #28984 "Detect function key press on Windows"
In Flutter's Hot Reload mode we give users the option to reload the app by pressing F5 (see [1]). On POSIX platforms, we use the ANSI code for F5 (see [2]) to detect the keypress. However, that doesn't seem to be available on Windows. In fact, as far as I can tell, there is no mechanism available in Dart on Windows to detect function key key-presses.

It would be cool if the Dart VM could provide

[2017-03-08 00:44] goderbauer commented on #28614
In addition to just detecting if ANSI support is enabled, it would also be cool if we could enable it from Dart (it's my understanding that it is supposed to be disabled by default on Windows).

[2017-03-08 00:47] Hixie opened #28985 "DateTime.now is untestable"
For testing purposes it would be useful if there was a way to drive the dart:core clock manually, so that `DateTime.now` returned predictable times. One solution would be to provide a hook in the `Zone` to drive it; this would let `FakeAsync` drive it in a manner consistent with the rest of the `FakeAsync` clocks.

Currently there is code in Flutter's framework that is untested and basically untes

[2017-03-08 00:53] alan-knight commented on #28983
https://codereview.chromium.org/2732963006/

[2017-03-08 00:53] alan-knight commented on #28983
Calling this high priority, because there are failures in basic things like number parsing.

[2017-03-08 01:05] leafpetersen commented on #25368
Yes, it's a bit of a change from the way the spec is currently defined, but we need a notion of typed context anyway for inference, and once you have it, it works extremely well for this and related constructs.  The expression `e1 ? e2 : e3` is valid in a context of type `T` and has static type `T`, if both `e2` and `e3` are valid in a context of type `T`.

Similarly, `e1 ?? e2` is valid in a cont

[2017-03-08 01:50] rakudrama commented on #28983
These seem to be related to reclassifying U+180E MONGOLIAN VOWEL SEPARATOR.
We should decide what is the correct behaviour, and split out tests with U+180E

[2017-03-08 03:23] matanlurey opened #28986 "IntelliJ: Some lints/warnings persist in the editor after clearing"
<img width="527" alt="screen shot 2017-03-07 at 7 21 21 pm" src="https://cloud.githubusercontent.com/assets/168174/23688792/5b6615cc-036b-11e7-8f2f-c7ba98233fbd.png">

I fixed a lint of `comment_references`, and it no longer shows up in the analyzer view, but the little yellow mark remains. Clicking "re-analyze" does not fix it. It was fixed by restarting the analysis server though.

/cc @jwren

[2017-03-08 04:37] zanderso commented on #28984
Looks like we need to set up:

https://msdn.microsoft.com/en-us/library/windows/desktop/mt638032(v=vs.85).aspx

This may help with colors as well.

[2017-03-08 04:48] matanlurey opened #28987 "Analyzer: "Create N missing overrides" imports naughty files"
I am implementing the [`Builder`][builder] class from `package:build`, so I wrote in lib/base.dart:

[code]

[builder]: https://www.dartdocs.org/documentation/build/0.7.2/build/Builder-class.html

When I was writing a test for this class, I wrote:

[code]

I then used the quick-fix 'create N missing overrides':

<img width="346" alt="screen shot 2017-03-07 at 8 46 05 pm" src="https://cloud.githubu

[2017-03-08 05:27] goderbauer commented on #28984
+1 to wiring this up.

It's my understanding that we'd also get color if dart would set `ENABLE_VIRTUAL_TERMINAL_PROCESSING` in addition to `ENABLE_VIRTUAL_TERMINAL_INPUT`.

[2017-03-08 06:15] trentgrover-wf commented on #27124
any chance of this happening?

[2017-03-08 07:29] zoechi commented on #28987
dup of #27819 ?

[2017-03-08 07:31] zoechi commented on #28774
Somewhat related #26050 (to customize some quck-fix behavior)

[2017-03-08 09:11] lrhn commented on #28985
Making every system integration point user configurable (using zones or similar in-program methods) isn't really viable. It's a never ending story, especially when the `dart:io` library is considered. The logical conclusion is to make every static method or constructor mockable - and I'm sure some people would like that, but it's not viable.
I'm also concerned about adding overhead to DateTime.now

[2017-03-08 10:16] floitschG opened #28988 "is-checks should not throw"
The following program leads to a runtime exception in DDC:

[code]

[code]

[2017-03-08 12:35] floitschG commented on #28985
Alternatively, we can investigate making mocking of static functionality easier in a test-setup.

For example, I find it more scalable if it was possible another isolate that uses the debug-protocol to intercept a constructor-call to `new DateTime.now()` and returns the mocked object. I'm not sure if this is already fully possible, but this approach would make it possible to intercept *every* stat

[2017-03-08 13:32] peter-ahe-google opened #28989 "Remove suppression of compile-time warning regarding _getMainClosure"
I've added this code to body_builder.dart:

[code]

This should be removed when `_getMainClosure` no longer refers to `main` via special scoping rules.

[2017-03-08 17:25] zoechi opened #28990 "WebStorm becomes entirely unresponsible if there are a lot of analyzer errors"
I just copied a few dozen smallish java files into my project and renamed them to *.dart, now WebStorm is entirely unresponsible since > 5 minutes.
I think the analyzer should analyzing files if there are too many errors and only try to analyze them again after they are modified.
After about 10min WebStorm died with an out-of-memory error.

[2017-03-08 17:39] zanderso commented on #28984
It looks like these console modes are Windows 10 only =( But wiring this up is probably the right thing to do, anyway. Just wanted to let you know.

[2017-03-08 17:44] zanderso opened #28991 "Free of non-malloc'd pointer on mac release x64"
On commit 09b5d6f619c415fcf885bffd868c1f09c1cd9989 but this looks like a flaky failure.

FAILED: none-vm-checked release_x64 standalone/io/raw_secure_server_socket_test
Expected: Pass
Actual: Crash
CommandOutput[vm]:

stdout:
asyncStart main
unittest-suite-wait-for-done
asyncStart testSimpleBind
asyncStart testInvalidBind
asyncStart testInvalidBind 2
asyncStart testInvalidBind 3
asyncStart testSim

[2017-03-08 17:58] goderbauer commented on #28984
I am aware of that. In fact, not all Windows 10 versions support it. Microsoft added it in "[Windows 10 Threshold 2 (v1511)](http://www.nivot.org/blog/post/2016/02/04/Windows-10-TH2-(v1511)-Console-Host-Enhancements)".

Ideally, there would be some way for Flutter to check from Dart if enabling Virtual Terminal Processing was successful or not because we should only then print ANSI escape sequence

[2017-03-08 18:41] leafpetersen commented on #28988
This is basically working as intended.  In order to preserve semantic coherence with non-strong mode platforms, we throw an exception at runtime if you ask an "is" check that we can't guarantee will produce the same result on all platforms.  It's based on a heuristic, so we could in principle do better, but I'm not sure it's a priority for us right now.

[2017-03-08 18:44] floitschG commented on #28988
Sounds like a good idea. However, the error message should be completely different then.

[2017-03-08 19:21] MichaelRFairhurst opened #28992 "analyzer crash "unsupported assignable" revealed by fuzz testing"
Having trouble fuzz testing my own code because it keeps tripping this failure case in DAS:

[code]

That seems to be a highly distilled version of the error. Though it seems to occur for any operator in place of `-` (I've tried `+` and `*`), whitespace doesn't matter, and either `""` or `{}` or `()` will trigger it, but both require some identifier `c` to follow for it to be triggered.

[code]

[2017-03-08 19:40] MichaelRFairhurst opened #28993 "Analyzer crash "Element mismatch" revealed by fuzz tester"
Another failure case my angular fuzzer is revealing which is occurring inside DAS

distilled repro:
[code]

`b` seems to be possibly any expression (have tried `[]`, `foo: []`, etc).

Doesn't seem to care whether the annotation is closed or in front of a class or neither.

[code]

[2017-03-08 20:01] alexander-doroshko commented on #28990
Hung WebStorm is more likely a WebStorm problem than the SDK's. Logs and auto-saved thread dumps may help (Help | Show Log).

[2017-03-08 20:03] floitschG commented on #28982
I'm not sure we want to encourage the use of `DateTime` as a date instance. If you use a *local* `DateTime` with the time set to 0:0:0 you will run into issues all over the place. As an example, it will not work in Brazil: https://github.com/dart-lang/sdk/issues/7079

[2017-03-08 20:18] mhausner commented on #28980
I can repro this outside of IntelliJ and with my own dart executable. I also found that it doesn't happen with an older dart build, so it's a recent regression.

[2017-03-08 20:52] adrianlmm commented on #28982
I'm talking about creating a date at 12:00 am, but if it is to much problem, then forget it, I hate to have to explain such simple things.

[2017-03-08 20:57] zanderso commented on #28614
I think we need to do something here, and I don't think it has to be perfect. I'm going to add `Platform.ansiSupported` to dart:io, and hard-code it to true when stdout and stdin are connected to a terminal except on Windows, where I'll use the logic from https://github.com/dart-lang/sdk/commit/92b746cd439d94a0ffea7f8bf45669c407acdc96 to decide whether support exists.

https://codereview.chromium.

[2017-03-08 21:13] goderbauer opened #28994 "Pointer to syntax error at wrong position on Windows"
Not a big deal, but the `^` pointing to the location of the syntax error is pointing to the wrong position on Windows:

![syntax-error](https://cloud.githubusercontent.com/assets/1227763/23724226/d2f11566-0400-11e7-9f98-9fcb31b380af.png)

[2017-03-08 21:15] #27878 closed

[2017-03-08 21:24] goderbauer opened #28995 "Ctrl+C'ing out of a Dart script breaks Windows console"
In the following screenshot I executed the script `test1.dart` twice: The first time I let the script finish. The second time, I terminated the script in the middle of execution with Ctrl+C. When doing the latter, the Windows console breaks for subsequent commands that (try to) print to the console (see strange rectangular boxes in the screenshot).

![syntax-error](https://cloud.githubusercontent.

[2017-03-08 21:48] kasperl commented on #28588
Turned the warning into a hint in fa2a3a1afa1a1e0eb748783472b25214d53aceec.

[2017-03-08 21:49] kasperl commented on #28801
Any progress on this?

[2017-03-08 22:09] vsmenon commented on #27971
Marking this as done on the DDC side - I don't anticipate any work beyond the analyzer issue and the bugs Jen referenced.

[2017-03-08 22:09] vsmenon commented on #28947
Marking as done.  DDC runtime checking should already handle.

[2017-03-08 22:09] #28947 closed

[2017-03-08 23:49] bwilkerson commented on #28809
I have updated my CL to only generate the error in strong mode. In so doing I had to update the 4 tests I had written to be run in strong mode. That turned up the interesting information that 3 of the 4 tests also produce an error with the StrongModeErrorCode.INVALID_FIELD_OVERRIDE error code. Maybe it's just the tests I came up with, but it seems like we shouldn't need two errors that are this li

[2017-03-09 00:44] leafpetersen commented on #28809
This change is to enable the elimination of the INVALID_FIELD_OVERRIDE error.  All fields will become virtual in strong mode, modulo the restriction from this issue.

[2017-03-09 00:44] mhausner commented on #28980
It's a regression introduced by https://codereview.chromium.org/2646093006.

[2017-03-09 08:11] MikeMitterer opened #28996 "static generic method throws Exception in Dartium / looks fine for Analyzer"
#This function: (Original: https://github.com/MikeMitterer/dart-material-design-lite/blob/mdl-1.x/lib/src/observable/ObservableList.dart#L287)

[code]
throws an Exception in Dartium. Analyzer is happy with it.

![capturfiles-20170309_090958](https://cloud.githubusercontent.com/assets/116654/23741330/3b088cb8-04a8-11e7-800c-8f27947273ab.png)

[2017-03-09 08:17] lrhn commented on #7689
Dart2js seems to do the right thing. As a dart2js bug, this seems fixed.
Whether we want to change the grammar is a different issue, but there is no current plan.

[2017-03-09 08:17] #7689 closed

[2017-03-09 08:18] MikeMitterer commented on #28996
I commented this part out on the mdl-1.x branch because I need a working version...

[2017-03-09 08:19] zoechi commented on #28990
Not sure if this contains all relevant files.
[idea_logs.zip](https://github.com/dart-lang/sdk/files/830166/idea_logs.zip)

[2017-03-09 08:36] zoechi commented on #28996
I tried to reproduce but I didn't get an error. Are you sure you have the latest Dartium?

(mine is from bleeding edge)
[code]

[2017-03-09 09:39] alexander-doroshko commented on #28990
Do you remember how many errors were generated by the Analysis Server? How many files with errors did you have? How many errors per file?

[2017-03-09 09:48] alexander-doroshko commented on #28986
@matanlurey

This probably means that the issue is at the IDE end. If you have a sample project and/or steps to reproduce (even if not 100% reproducible) it makes sense to file it in [JetBrains issue tracker](https://youtrack.jetbrains.com/issues/WEB) (Subsystem: Dart). Otherwise, it may be lost/forgotten/underestimated here.

[2017-03-09 10:11] alexander-doroshko commented on #28976
@floitschG Code completion is powered by the Analysis Server, IntelliJ IDEA just renders suggestions. In this case `'dynamic'` type is given by the server, so I'm changing `area-intellij` to `area-analyser`. Minimal case to reproduce is:
[code]
This may be by design, vars are declared as dynamic (cc @bwilkerson). Not sure why Static type on Cmd+hover is not dynamic on Mike's 2nd screenshot. For me

[2017-03-09 10:34] alexander-doroshko commented on #28990
Maybe you can share a project to reproduce?

[2017-03-09 10:36] alsemenov opened #28997 "Confusing description for Completer.isCompleted"
The description for [Completer ](https://api.dartlang.org/stable/1.21.1/dart-async/Completer/Completer.html)constructor reads:

The description for property [Completer.isCompleted](https://api.dartlang.org/stable/1.21.1/dart-async/Completer/isCompleted.html) reads:

I think the `isCompleted` description is ambiguous.
It is not clear, when `isCompleted` returns true: right after the call to `comple

[2017-03-09 10:53] lrhn commented on #28997
That does need improvement - in both places.

The `isComplete` actually says whether `complete` or `completerError` has been called.

Since you can call `complete` with a non-completed `Future`, that doesn't directly correspond to whether the completer's future is completed, and it's not just delayed until a later microtask - it might never complete if the provided future doesn't.

[2017-03-09 11:27] DmitryOlshansky-google opened #28998 "co19/LayoutTests/fast/css/max-device-aspect-ratio_t01 is flakky on Dartium"
I think I've seen it at least once before but here is the latest failure log. It seems like an issue could be in a too strict timeout expectation.
[code]

[2017-03-09 11:36] DmitryOlshansky-google commented on #28998
Another instance of that on Mac x64:
[code]

[2017-03-09 13:02] peter-ahe-google opened #28999 "Document BuilderAccessor heiarchy"
The file `pkg/front_end/lib/src/fasta/kernel/builder_accessors.dart` could use some documentation.

[2017-03-09 13:12] alexander-doroshko commented on #28920
Probably @johnmccutchan?

Is the stack trace from this issue description enough to understand the problem?

I see the same stack trace on Mac.
On Windows I see "dart.exe has stopped working" OS window.
100% reproducible with SDK 1.23_dev4.0. Occurs only when trying to start Dart VM tests for debugging from IntelliJ IDEA, but I believe IntelliJ IDEA is not doing anything wrong while communicating v

[2017-03-09 13:24] zoechi commented on #28976
@alexander-doroshko did you enable strong mode?

[2017-03-09 13:32] alexander-doroshko commented on #28976
No. Ok, with the strong mode I have the same as on your screenshots. For completion server still gives 'dynamic' type.

[2017-03-09 14:02] jensjoha opened #29000 "pkg/front_end/lib/src/fasta/README.md outdated"
Getting started: We build a 64-bit version, then set-up environment variables for 32-bit version

Create an Outline File: Asked to run a file that doesn't exist.
[code]
 => doesn't exist
if we instead try to run
[code]
I get warnings and nits though it seems to work.

Create a Platform Dill File: Asked to run a file that doesn't exist.
If we instead run
[code]
I'm being told I'm holding it wrong.

[2017-03-09 14:06] peter-ahe-google commented on #29000
Thank you. I've created a separate file that documents how to test Fasta, but this file still needs to be updated.

[2017-03-09 15:21] peter-ahe-google opened #29001 "Handling of compile-time errors in -cdartkp"
Not sure if the problem is in test.dart, or in fasta.

However, some programs that fail with a compile-time error in -cdartk but not in -cdartkp. I can see that fasta prints error messages, and the generated program should throw a compile-time error at runtime.

We need to investigate this.

[2017-03-09 15:21] peter-ahe-google commented on #29001
@mraleph @mkustermann

[2017-03-09 15:56] mraleph commented on #29001
I think the problem is that the wrong stage is throwing compile time error. In `dartk` it's the same process that compiles and runs the code - so if you emit compile time error lazily (e.g. you inject a throw statement that throws a compile time error into the code) that still gets recognized as a compile time error because we catch this exception and look inside and recognize that this is compile

[2017-03-09 15:59] bwilkerson commented on #28631
I believe that we decided that we have a work-around for this, so it is no longer blocking 1.23. Let me know if I've misunderstood.

[2017-03-09 16:15] floitschG commented on #26407
Somehow forgot to commit this CL...
https://codereview.chromium.org/1980663002

I think I will wait until after 1.50 now. (It is a breaking change, after all).

[2017-03-09 16:59] fsc8000 commented on #28980
Could be the same issue as the one I tried to fix: Mapping source positions to context levels.

[2017-03-09 17:25] floitschG commented on #28996
Looks like your Dartium doesn't recognize generic functions.

What Dartium version are you using?

[2017-03-09 17:40] devoncarew commented on #25697
This is still on track for 1.23; it's about a day of work. I can get to it; @danrubel has also said that an upcoming refactoring he's considering may also cover this issue.

[2017-03-09 18:31] manuelF opened #29002 "dart:html request onReadyStateChange stream receives type Event instead of ProgressEvent"
# Describe your issue compiling with DDC
dart:html request onReadyStateChange stream receives type Event instead of ProgressEvent

# Does this error show up at build time or at run time?
Run time

# Include repro instructions. How can we try to build (or run) this code?
[code]

At runtime this code produces a type error, Listener for ProgressEvent receives type Event.
Workaround is to change onRea

[2017-03-09 18:45] manuelF opened #29003 "Cannot reference internal mixin when multiple nested mixins"
# Describe your issue compiling with DDC
A double mixin is not correctly exporting the internal one, making it impossible to use with sourcegen'd mixin like package built_value or enum class.

# Does this error show up at build time or at run time?

Run time

# Include repro instructions. How can we try to build (or run) this code?

Following DDC test:
[code]

[2017-03-09 19:08] vsmenon commented on #29003
@jmesserly I'm guessing that the `dart.mixin` helper is only looking at mixin methods on the class (`TestMixin`) and not the base class (`TestMixin2`) as the latter is almost always `Object`.  This appears to be rare (only?) case where that's not true.

[2017-03-09 20:04] peter-ahe-google commented on #29001
What's the Dart interface that invokes Fasta for dartkp?

[2017-03-09 20:05] peter-ahe-google commented on #29001
Or rather: how can Fasta tell the difference between dartk and dartkp mode?

[2017-03-09 20:07] jmesserly opened #29004 "ClassTypeAlias is broken in various ways"
_From @jmesserly on May 18, 2016 23:7_

visitClassTypeAlias is missing _most_ of the logic in visitClassDeclaration. Some of this might be okay (e.g. it can skip emitting members and signatures), but it leaves me rather concerned.

I suspect we can unify these two methods, and get rid of a lot of bugs. The actual ClassDeclaration node is almost unused in visitClassDeclaration -- we tend to let the

[2017-03-09 20:07] jmesserly commented on #29003
I don't understand what's going on here; mixins are/were only supposed to apply a single level. Perhaps ClassTypeAlias is some sort of special case.
(we have a bunch of bugs about ClassTypeAlias: https://github.com/dart-lang/sdk/issues/29004)

[2017-03-09 20:10] mraleph commented on #29001
There is currently no API for telling the difference between AOT and JIT, fasta is invoked the same way in both dartk and dartkp modes. We just do:

[code]

We can add something (e.g. we can make something like `const bool.fromEnvironment('PRECOMPILER')`.

[2017-03-09 20:23] kasperl commented on #28588
Finally landed turning this into a lint in 2fe848502c6d6b95b2e77a408645faf058c6fb60.

[2017-03-09 20:25] jmesserly commented on #29003
In particular here, you can see ClasstypeAlias is the culprit:
[code]
That said, the spec section ([12.1 Mixin Application](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-408.pdf)) is pretty unclear. TestMixin is rejected if it extends anything other than Object. This example doesn't work:
[code]
I guess there's a special case for one and only one mixin, allowing you to (essenti

[2017-03-09 20:33] johnmccutchan commented on #28920
@alexander-doroshko this isn't related to IntelliJ at all- I've tracked this down to a bug in how we serialize code objects in the new app-jit snapshots.

[2017-03-09 20:35] pq opened #29005 "Flutter Analyzer: error and hint reporting can obscure simple syntax errors"
_From @HansMuller on March 9, 2017 19:31_

If you remove the trailing comma from line 53 in examples/flutter_gallery/lib/demo/shrine/shrine_data.dart, 360 errors and 146 hints are generated. No error is reported on line 53.

[code]
Ideally there'd just be one error report, for line 53.

_Copied from original issue: flutter/flutter#8682_

[2017-03-09 20:35] pq commented on #29005
_From @Hixie on March 9, 2017 20:6_

This should be filed in the https://github.com/dart-lang/sdk/issues/new repo.

[2017-03-09 20:37] pq commented on #29005
@bwilkerson : is this an easy opportunity for improved parser recovery?

[2017-03-09 20:43] #28920 closed

[2017-03-09 20:49] eseidelGoogle opened #29006 "Leak in http code on Android?"
https://github.com/gregsimon/network_stress

Is the repro.  Crashes OOM pretty quickly on Android.

We can turn it into a single test.dart file to run in the Android `dart` cli if necessary too.

@zanderso probably knows what might be going on?

[2017-03-09 20:50] eseidelGoogle commented on #29006
I'm told this repros on fuschia as well, so I guess this isn't Android-specific.

[2017-03-09 20:51] gregsimon commented on #29006
Correct this is **not** android-specific.

[2017-03-09 21:09] zanderso commented on #29006
Thanks for the report. I have a local reproduction, and I will investigate.

[2017-03-09 21:13] gregsimon commented on #29006
Great! It happens with both http and HttpClient so issue is lower, FWIW

[2017-03-09 21:21] nex3 commented on #28974
Looks like the status line here is wrong. It's currently

[code]

but the `||` between the two parenthesized sections should be `&&`.

[2017-03-09 21:31] hermanbergwerf opened #29009 "Analyzer @override weird behavior"
When adding a member field to a class named `override`, the analyzer gives the _Annotate overridden members_ warning. E.g.
[code]
(in fact this particular example gives a different error, that is even weirder, _Annotation can be only constant variable or constant constructor invocation_)

Does this mean I cannot use the names used for annotations as class fields? I thought annotations could only r

[2017-03-09 21:32] nex3 opened #29010 "co19/LayoutTests/fast/canvas/webgl/WebGLContextEvent_t01 is slow"
This has timed out a couple times today ([example](https://build.chromium.org/p/client.dart/builders/dart2js-mac10.11-safari-1-3-be/builds/4114/steps/dart2js%20safari%20co19%20tests/logs/stdio), [example](https://build.chromium.org/p/client.dart/builders/dart2js-mac10.11-safari-1-3-be/builds/4119/steps/dart2js%20safari%20co19%20fast-startup%20tests/logs/stdio)). Normally I'd just mark it slow, but

[2017-03-09 21:42] bwilkerson commented on #29009
An annotation can either reference a const class constructor (if they include an argument list) such as
[code]
or they can reference a constant variable (top-level variable or static field), which is what `override` is defined as (a top-level variable).

In either case, the names in an annotation are resolved just like any other identifiers, by looking at the surrounding scope. In this case, the f

[2017-03-09 21:42] #29009 closed

[2017-03-09 21:42] lrhn commented on #28974
Good catch, that's probably why it made things worse, not better.

[2017-03-09 22:09] JPaulsen opened #57471 "Redundant Variable Lint"
If a local variable is assigned to an instance field and this is not reassigned should be linted

[2017-03-09 22:10] nex3 commented on #28014
As of 7df5930aba7f, it looks like [corelib/list_test/none is partially passing](https://build.chromium.org/p/client.dart/builders/dart2js-linux-jsshell-1-4-be/builds/4903/steps/dart2js%20jsshell%20fast-startup%20tests/logs/stdio) on jsshell. I say "partially" because when I run the reproduction command

[code]

I get

[code]

Note the final line, which indicates that one test passed and one failed

[2017-03-09 22:11] JPaulsen opened #57472 "Use StringBuffer lint"
If a variable declared out of a loop and then used with the operator += inside the loop, it should be linted and replaced for a StringBuffer instance

[2017-03-09 22:17] nex3 commented on #28014
Looks like this is also an issue on [Firefox proper](https://build.chromium.org/p/client.dart/builders/dart2js-linux-chromeff-1-4-be/builds/4107/steps/dart2js%20ff%20fast-startup%20tests/logs/stdio).

[2017-03-09 22:17] sigmundch commented on #29010
I wonder if this is really a flaky test - maybe something for co19 folks to investigate?

When the test passes, the test takes maybe 6 seconds:
[code]

so this timeout could be that something is failing but it is being reported as a Timeout by the test infrastructure for some reason?

Maybe we can mark it 'Pass, Timeout' for now?

/cc @alan-knight

[2017-03-09 22:20] nex3 opened #29012 "standalone/io/http_server_response_test is flakily crashing"
From [this vm-linux-debug-simmips-be log](https://build.chromium.org/p/client.dart/builders/vm-linux-debug-simmips-be/builds/3301/steps/checked%20vm%20tests/logs/stdio):

[code]

[2017-03-09 22:26] leafpetersen opened #29014 "Bounds on generic methods should be treated invariantly in subtyping"
Currently, the analyzer treats generic method bounds contra-variantly for sub-typing purposes.  For example, the following is allowed:

[code]

Per language team decision, this should be changed to require that bounds be equal.

[2017-03-09 22:28] alexeieleusis opened #57473 "Add lints that hurt dart2js"
Described here https://webdev.dartlang.org/tools/dart2js#helping-dart2js-generate-efficient-code

Do we have them?

[2017-03-09 22:36] nex3 opened #29015 "Confusing log for pub-mac-be"
I can't make sense of [this log](https://build.chromium.org/p/client.dart/builders/pub-mac-be/builds/22167/steps/annotated_steps/logs/stdio) for the `pub-mac-be` bot. It looks like the tests are running successfully until all of a sudden there's `@@@STEP_FAILURE@@@` with no further explanation.

[2017-03-09 22:45] alan-knight commented on #29010
Yes, it might be something to file a co19 bug against, although it consistently passes locally for me, and quickly, so it's not clear how much they can do about something that's only happening on our bots. It's an event test, so I assume that when it times out the event just isn't getting received. Or maybe it's crashing in a way that doesn't get reported. Sigh.

[2017-03-09 23:21] filiph commented on #24088
FWIW, I'm fine with this. Since this is blocking people from using some major JS APIs (like Firebase, https://github.com/firebase/firebase-dart/pull/90) right now, I think it's worth it. `_JSUndefined` seems like a good name to me.

[2017-03-09 23:21] zanderso commented on #29006
I ran with ASAN and did some printf debugging. The requests go through Dart's secure sockets implementation, which uses BoringSSL on Android and Fuchsia. For each connection, we allocate an SSL filter and a fresh SSL_CTX object, and load the SSL_CTX up with the trusted root certs. These objects are properly deallocated when the corresponding objects in the Dart heap are GC'd. These native objects

[2017-03-09 23:47] nex3 opened #29018 "co19/LayoutTests/fast/dom/shadow/shadowroot-keyframes_t01 flakily failing on Dartium"
See [this log](https://build.chromium.org/p/client.dart/builders/dartium-win-ia32-inc-be/builds/2238/steps/annotated%20steps/logs/stdio) for an example. The failure is:

[code]

[2017-03-09 23:51] mhausner commented on #28980
Fix for review: https://codereview.chromium.org/2740783007/

[2017-03-10 00:00] nex3 commented on #28239
Reassigning to John so he can assign it appropriately.

[2017-03-10 00:01] nex3 commented on #28335
@kmillikin I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 00:04] nex3 commented on #28349
@rmacnak-google I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 00:20] #28980 closed

[2017-03-10 00:28] mhausner commented on #28980
Fixed in d8ddd7766b2520e8cda889ec01930181068aad40.

[2017-03-10 01:04] nex3 opened #29021 "dart2js_batch2_test failing flakily on Linux"
This looks like an OS error, but it's happened twice ([first](https://build.chromium.org/p/client.dart/builders/dart2js-linux-jsshell-3-4-be/builds/5077/steps/dart2js%20unit%20tests/logs/stdio), [second](https://build.chromium.org/p/client.dart/builders/dart2js-linux-jsshell-3-4-be/builds/5079/steps/dart2js%20unit%20tests/logs/stdio)) for the same test so it seems like something about that test is

[2017-03-10 01:19] nex3 commented on #28379
@kmillikin I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:19] nex3 commented on #28426
@rmacnak-google I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:20] nex3 commented on #28639
@alan-knight I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:21] nex3 commented on #28662
@sigmundch I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:21] nex3 commented on #28663
@alan-knight I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:22] nex3 commented on #28680
@peter-ahe-google Is dartk still a going concern?

[2017-03-10 01:24] nex3 commented on #28680
@peter-ahe-google I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:25] nex3 commented on #28687
@johnmccutchan I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:26] nex3 commented on #28733
@rmacnak-google I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:27] nex3 commented on #28778
@johnmccutchan I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:30] nex3 commented on #28788
@fsc8000 I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:31] nex3 commented on #28790
@kmillikin I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:31] nex3 commented on #28792
@alan-knight I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:32] nex3 commented on #29015
See also #28875.

[2017-03-10 01:33] nex3 commented on #28902
@kmillikin I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:34] nex3 commented on #28906
@johnmccutchan I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:35] nex3 commented on #28991
@rmacnak-google I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 01:36] nex3 commented on #28998
@alan-knight I'm working on getting more gardening issues assigned. If you're not the right person to assign this to, please reassign to that person.

[2017-03-10 02:01] goderbauer commented on #28972
I just gave this a shot. It partially works (https://github.com/flutter/flutter/pull/8701), but in the following places it still expects file paths instead of URIs:
* https://github.com/flutter/flutter/blob/17057bb44b7c10b2b4603cd09b266d9379f65ba2/packages/flutter_tools/lib/src/vmservice.dart#L850
* https://github.com/flutter/flutter/blob/17057bb44b7c10b2b4603cd09b266d9379f65ba2/packages/flutter_t

[2017-03-10 02:27] nex3 commented on #24174
Just saw a timeout:

[code]

[2017-03-10 03:49] jmesserly commented on #27725
I think this will be fixed in https://codereview.chromium.org/2456803004/

[2017-03-10 04:51] kevmoo commented on #28631
I talked to Andrew today – he's thinking the workaround will be too
painful. I'll start a thread to discuss...

On Thu, Mar 9, 2017 at 7:59 AM, Brian Wilkerson <notifications@github.com>
wrote:

[2017-03-10 05:42] peter-ahe-google commented on #28680
Thank you @nex3, I'll take a look.

[2017-03-10 08:32] eernstg opened #29025 "VM crash with native stack dump"
The following snippet crashes the vm with a native stack dump:
[code]

`dart --version`: Dart VM version: 1.23.0-dev.0.0 (Tue Feb 14 14:23:50 2017) on "linux_x64".

[2017-03-10 08:33] Aetet opened #29026 "Improve Future API"
It will be useful if Future will has API for retrieve current status of Future and sync value if it is resolved or rejected.

It may be need for UI frameworks like angular for example, where we need avoid async code for templates and treated like sync:

[code]

Proposal for promise API:
https://github.com/thejameskyle/proposal-promise-access-internal-fields

[2017-03-10 08:36] peter-ahe-google opened #29027 "Consider moving dart:io BytesBuilder to dart:typed_data"
We should consider moving `BytesBuilder` to `dart:typed_data` and have it implement `Sink<List<int>>`.

`dart:io` can export the class from this new location for compatibility.

@lrhn @johnmccutchan

[2017-03-10 08:52] eernstg commented on #29025
This one, too:
[code]

[2017-03-10 09:38] sgrekhov commented on #28931
gclient sync helped. Thank you

[2017-03-10 09:38] #28931 closed

[2017-03-10 09:50] mraleph commented on #29027
This is a duplicate of #28316.

[2017-03-10 09:55] peter-ahe-google commented on #28316
What about moving it to `dart:typed_data`?

[2017-03-10 10:23] lrhn commented on #29027
This is two requests.

Moving the class to `dart:typed_data` to make the class more generally available is worthy of consideration.
I think the `BytesBuilder` class is actually fairly well designed, and it might be worth reusing and even extending it for more general use. I've had requests for something like `addDouble`, which can be supported by the underlying buffer.

On the other hand, I'm alwa

[2017-03-10 10:24] lrhn commented on #29027
The "moving to `dart:typed_data`" part wasn't a duplicate, so keeping this open for that.

[2017-03-10 10:52] lrhn commented on #29026
The `Future` class is intended for asynchronous use, and adding a way to *also* use it asynchronously isn't something we want to do - it's just complicating the API without giving you more power than you already have. It's also something that every implementation of `Future` will have to implement as well.

It's preferable to put that burden only on the cases where the behavior is actually useful,

[2017-03-10 10:52] #29026 closed

[2017-03-10 10:53] peter-ahe-google commented on #29027
I don't find your arguments against having BytesBuilder implement `Sink<List<int>>` convincing:

* Having a no-op `close` method adds little cost.

* Arguing that one can write a new class clashes with the philosophy of "batteries included" in Dart. It is true that one should be careful about adding random interfaces, but in this case, I'd argue that it's simply a design-oversight from when this c

[2017-03-10 11:49] asgerf opened #29028 "DDC crash involving type parameters in promotion"
This input causes DDC to crash at compile-time:
[code]

Error from DDC:
[code]

I tested this against dartdevc that shipped in 1.22-dev.10.6 as well as newest commit as of now (b955d390a10da74f27e26dfb3b4b54e4dccde2bd).

My understanding is that the analyzer emulates the intersection type `T&B` by generating a fresh type parameter `T' extends T&B`, though I don't understand exactly how it does thi

[2017-03-10 11:53] dave26199 opened #29029 "False positive for "field could be final" lint"
It appears to miss use of inline update in a return statement. In this code snippit it tells me _x could be final.

[code]

[2017-03-10 11:59] asgerf commented on #29028
Another view on the same problem. This input compiles but fails at runtime:
[code]

The following "top-level" declaration shows up in the JS output:
[code]
This fails since T is not in scope at the top-level.

[2017-03-10 12:44] peter-ahe-google commented on #28680
Proposed "fix": https://codereview.chromium.org/2743943002

[2017-03-10 13:12] davidmorgan commented on #27842
Is there a guide somewhere to working on the analyzer code please? I tried downloading the SDK from github, and running "dart test/integration/analysis/highlights_test2.dart"; but I get errors about missing import "analyzer-0.28.1/lib/dart/ast/standard_resolution_map.dart" -- no idea what's going on here.

If I can get it running I guess the code change isn't too hard. How does adding a new highli

[2017-03-10 13:22] lrhn commented on #29027
That's why I'd suggest adding an `asSink()` method that returns a sink backed by the `BytesBuilder`.

That does not put a useless `close` method on the `BytesBuilder` interface that all `BytesBuilder` users need to recognize as not being necessary (that is a comprehensibility and usability cost - hey, maybe it'll do something in the future, maybe in a subclass, maybe I should all it just to be saf

[2017-03-10 13:30] peter-ahe-google commented on #29027
`asSink()` would add another class to the platform. That's much more expensive than an empty `close()` method.

[2017-03-10 14:56] scheglov commented on #27842
I think you ran `pub get` in one of the packages. You should not do this. SDK already comes with the `.packages` file, which is used to keep packages compatible with each other and `third_party`.

Yes, you need to [change](https://github.com/JetBrains/intellij-plugins/blob/master/Dart/src/com/jetbrains/lang/dart/analyzer/DartAnalysisServerService.java#L1413) the Dart plugin for IDEA. You need to a

[2017-03-10 15:04] davidmorgan commented on #27842
That was it, thanks. Removing the wrong .packages allowed me to run the test.

[2017-03-10 15:07] manuelF commented on #29002
Repro test:

import 'dart:html';
import 'package:test/test.dart';

void main() {
  test('http works', () {
    final request = new HttpRequest();
    request.onReadyStateChange.listen((_) {});
    request.open('post', 'nowhere');
    request.send('');
  });
}

[2017-03-10 15:25] johnmccutchan commented on #28687
Nothing to do here. The windows bot ran out of memory and the test failed because it couldn't allocate.

[2017-03-10 15:25] #28687 closed

[2017-03-10 15:27] johnmccutchan commented on #28972
@goderbauer [_flutter.runInView](https://github.com/goderbauer/flutter/blob/b8a53749c1bd542e4c5588c332e01e2a8790f852/packages/flutter_tools/lib/src/vmservice.dart#L717) is actually implemented inside Flutter engine.

I will fix the other two.

[2017-03-10 15:28] johnmccutchan commented on #28906
Nothing to do here.

[2017-03-10 15:28] #28906 closed

[2017-03-10 15:34] bwilkerson commented on #27842
If we're going to add a `useAnalysisHighlight3` option, then I want us to spend some time thinking about whether there are other highlighting changes we would like to add. I don't want to add a new flag every time we add a single highlighting kind.

@jwren @devoncarew @alexander-doroshko Can you think of any additional highlighting information we'd like to have server report (even if we don't have

[2017-03-10 15:41] peter-ahe-google commented on #29000
Proposed fix: https://codereview.chromium.org/2740323002

[2017-03-10 15:53] zanderso commented on #28778
BTW, I think our usual convention is to assign issues only if work on the issue is actually planned, so I'm not sure that assigning gardening issues is the right thing to do.

[2017-03-10 15:58] alexander-doroshko commented on #27842
I've found 2 more requests submitted by @zoechi:
- #26727 (static field reference)
- #28314 (about constructors, class references, and annotations)

[2017-03-10 16:19] #29000 closed

[2017-03-10 17:03] vsmenon opened #29030 "Analyzer crash on new language_strong tests"
I'm seeing `dartanalyzer` crashes on recently added tests:

[code]

[2017-03-10 17:06] vsmenon commented on #29030
FYI, tests were introduced here:

https://codereview.chromium.org/2737933002

@bwilkerson @leafpetersen @stefantsov

[2017-03-10 17:20] leafpetersen commented on #29030
I think the analyzer is crashing on the new function type syntax.  This snippet seems to cause the same crash:

[code]

what's the status of this syntax?  Is it still behind a flag?

[2017-03-10 17:31] johnmccutchan commented on #28972
@goderbauer I debugged this and the other two work with Uris without issue. It's likely an issue in Flutter's file loader if Uris don't work.

I've updated our existing unit test to pass Uris in this [CL](https://codereview.chromium.org/2738133005)

[2017-03-10 17:38] bwilkerson commented on #29030
It is not complete yet, but it is being worked on (https://github.com/dart-lang/sdk/issues/27969).

[2017-03-10 17:55] alexeieleusis commented on #29029
What version of the analyzer are you using? That bug was fixed earlier this week, probably need to wait for the next release.

Thanks for the report!

I'll check it anyway.

[2017-03-10 18:13] goderbauer commented on #28972
Okay, thanks for looking into it. I'll see where this breaks in Flutter then.

[2017-03-10 18:26] #28972 closed

[2017-03-10 18:52] Sir-Ignis opened #29031 "Build error when running gclient runhooks"
OS: **Leap 42.2**
command: ``` gclient runhooks```
output:

[code]

[2017-03-10 18:58] #27861 closed

[2017-03-10 19:18] sigmundch opened #29032 "workaround for patch support"
workaround for lack of `@patch` support in fasta by creating a patched_dart2js_sdk (see [patched_sdk][1])

[1]: https://github.com/dart-lang/sdk/blob/master/runtime/vm/BUILD.gn#L431

[2017-03-10 19:20] sigmundch opened #29033 "load kernel from disk"
Likely involves:
* [x] split loader from rest of compiler (no onLibraryScanned and onLibrariesCompleter callbacks)
* [x] add support for binary files on input provider (no UTF8 by default)
* [x] create an api that simply returns a `Future<Program>`
* [ ] adapt `runInternal` to skip portions of the pipeline that wont be in use.

[2017-03-10 19:23] sigmundch opened #29034 "complete kernel world builder"

[2017-03-10 19:23] sigmundch opened #29035 "port global infererer to kernel"

[2017-03-10 19:27] sigmundch opened #29036 "split closure conversion"
Computation of how are locals used should be done as a separate step, then the creation of the element model for closure classes.

The idea would be to be able to write the analysis from kernel alone.

[2017-03-10 19:30] sigmundch opened #29037 "migrate to use JElements"
[ ] store Jelements in HInstruction in SSA
[ ] switch emitter to start from JElements

[2017-03-10 19:31] sigmundch opened #29038 "adapt dump-info to be based on kernel"

[2017-03-10 19:34] sigmundch opened #29039 "adapt defer-loading analysis to use kernel"

[2017-03-10 19:35] sigmundch opened #29040 "support @Native and @JS w/kernel"
The processing of annotations needs to move out of the patch-parser and adapted to use kernel. This is needed for dart:html and for js-interop

[2017-03-10 20:58] jmesserly opened #29041 "dynamicIsBottom not handled correctly by strong mode generic inference"
In particular, this affects cases like:
[code]
Note the two cases are different: in the first one, we have a definite function, vs the second one we don't. If we infer `o.fold<dynamic>` ... I don't think `fold` will end up doing the correct checks on invoking the callback (it would need to be a dcall), so this leads to a soundness problem at runtime.

I can't fix the soundness problem however, wit

[2017-03-10 20:58] jmesserly commented on #29041
CC @leafpetersen ... hit this working on https://codereview.chromium.org/2456803004/ but the problem already exists in current code.

[2017-03-10 21:35] nex3 commented on #28778
The gardening guide says that one of the tasks of a gardener is to "make sure the tracking bugs are up-to-date *and assigned*" (emphasis in the original).

[2017-03-10 21:44] danrubel opened #29042 "Re-enable default flutter analysis options in bazel workspace"
As a stop-gap measure for our internal customers, I'm updating `dartanalyzer` and the analysis server so that they do not use the default flutter analysis options file, `package:flutter/analysis_options_user.yaml`, when analyzing in a bazel workspace.

This is less than ideal and I hope to work toward a better solution in the long term.

[2017-03-10 21:56] stereotype441 opened #29043 "Fasta's scanner and parser should support generic comment syntax"

[2017-03-10 22:30] natebosch commented on #28631
I've started a repo that demonstrates the usage we're hoping to achieve. We still need to flesh out all the edge cases, but this should get us started.

https://github.com/natebosch/recreate-const-test/blob/master/test/annotation_recreation_test.dart

I've implemented a trivial version that works for annotations without arguments, and shown how it fails once we introduce arguments.

[2017-03-10 22:46] sigmundch commented on #28651
I think what made this surprising is that there are two paths to do get from `List` to `Iterable<int>`: an upcast followed by a downcast (`List -> Iterable -> Iterable<int>`), or an implicit generic downcast followed by an upcast (`List -> List<int> -> Iterable<int>`).

As a user the former one has the feel of a side-cast, but the latter doesn't. In fact, my first reaction was that the system didn

[2017-03-10 22:46] pq commented on #29005
Relevant fix in flight: https://codereview.chromium.org/2744043002/ 👍

[2017-03-10 22:57] zanderso commented on #29006
It turned out that we were already re-using/sharing the SSL_CTX context, but in the referenced CL above, I switched to eagerly deallocating our SSLFilter objects, which leads to a reduction in memory footprint as the objects no longer pile up waiting for GC.

It appears that this program blowing up on Fuchsia is due to an issue with the devhost process: See MG-613 and MG-506.

@fsc8000 and I have

[2017-03-10 22:59] sigmundch commented on #28749
Mmm - good question, not sure, is the error above something you see in your pub-serve terminal or in your pub-run-test terminal?

If it is in the pub-serve terminal, then here is what you can do:

* update pubspec to skip dart2js like this:

[code]

Instead of calling pub-serve, you can call pub-build in debug mode on the `test` folder:
[code]

You should be able to see the file in `build/test/`.

[2017-03-10 22:59] bwilkerson commented on #28992
https://codereview.chromium.org/2736373004/

[2017-03-10 22:59] #28992 closed

[2017-03-10 23:05] leafpetersen commented on #29041
I don't think this has anything to do with inference per se, unless I'm missing something.  This came up in a language meeting a while back - @floitschG or someone pointed it out.

Basically, we have a soundness bug at the interaction of dynamic as bottom and covariant generics.  If you have something like:

[code]
there is no implied covariance check on the first parameter to `oops`, and there is

[2017-03-10 23:06] fsc8000 commented on #27780
I did some initial performance testing back in November, and the benefit was not significant (and negative on some benchmarks) due to the cost of the guard bytecode instructions.

[2017-03-10 23:06] #27780 closed

[2017-03-10 23:29] jmesserly commented on #29041
The reason I mention inference, is given an argument type A: `(dynamic) ~> dynamic` where `~>` is fuzzy arrow, passed to some parameter type P, strong mode will check that `A <: P` and will interpret A as `(⊥) -> ⊤` ... however inference understands the type of A as `(⊤) -> ⊤` because it does not implement fuzzy arrows. That seems like it could be problematic?

[2017-03-10 23:39] sigmundch commented on #28749
Ok - turns out we can reproduce this even if we compile the test without running any transformers. It might be somethign that only comes up because of the use of `dart:mirrors` though (I noticed that the transformed program still contains calls to mirrors too).

Here is a repro with your current project - I yet have to reduce this further to a simple test case:

[code]

[2017-03-10 23:42] leafpetersen commented on #29041
Maybe?  Is it clear that inferring `dynamic` is the wrong thing there?  And I'm not sure that I understand why inferring anything else (e.g. presumably `Null`) would solve the soundness issue?  I guess what you're saying is that in this case, inferring `Null` would turn this code into an error, so we would avoid generating the unsound code.  The user can still explicitly instantiate with `dynamic`

[2017-03-10 23:54] sigmundch commented on #28749
@rakudrama - here is a simpler repro, it still pulls the `greencat` dependency, but it's much smaller:

**pubspec.yaml**:
[code]

**a.dart**:
[code]

repro:
[code]

[2017-03-11 00:24] sigmundch commented on #28749
And here is a standalone repro, with no dependencies:

[code]

[2017-03-11 00:29] #57467 closed

[2017-03-11 00:32] crelier commented on #29025
This is a tough one.
When finalizing an generic type, we check its upper bounds.
In order to very the upper bound F of the type parameter T (i.e. D) of the super type of D (i.e. C<D>), we need a type test checking if class D is a subtype of F, i.e. we need to check the signature of its call method, which is only available after class D has been compiled. However, in order to compile D, its super t

[2017-03-11 00:35] alexeieleusis opened #57475 "Dual rule for initialize formals"
If a private field is initialized in the body of a constructor and could be replaced by a formal, a lint should be produce to move it to an initializer.

[code]

[2017-03-11 00:46] sigmundch commented on #28646
Thanks @lrhn for clarifying - that's exactly the underlying issue. My claim here is that even if we had the downcast-composite warning, we shouldn't show it in cases where the type argument is a bound.

So if something is added in the linter regarding downcast-composite, this is one case that I believe should be excluded or treated differently.

[2017-03-11 01:14] alan-knight commented on #26349
It looks like the reason it doesn't have a constructor is that the IDL is marked as CustomConstructor, even though there doesn't seem to be anything special about it. And we don't provide a custom constructor implementation. So I think providing one would fix that.

[2017-03-11 01:14] alan-knight commented on #26351
That doesn't like the "as" for me, and gives a cast failure. But fixing the constructor would be the right thing anyway.

[2017-03-11 08:49] leafpetersen commented on #28646
No, this is the point of the downcast composite warning.  Downcast composite was added to try to point out casts that might pass on the VM/dart2js and fail on DDC.  There are no types such that the cast from `Object` to `List<dynamic>` would pass on non-strong platforms but fail on strong platforms.  Ignoring the bound, there are types such that the cast from `Object` to `B<A>` will pass on the VM

[2017-03-11 09:50] ErikCorryGoogle commented on #28974
Had to adjust the line again: see https://codereview.chromium.org/2738353004/

[2017-03-11 14:35] valotas opened #29044 "Wrong coverage info"
Tried manually with Observatory but coveralls shows that too. At [line 9 of my tmpl.dart](https://coveralls.io/builds/10518995/source?filename=lib%2Fsrc%2Ftmpl.dart#L9) I have a miss while I do have a [test for it](https://github.com/valotas/mustache4dart/blob/issue55/coverage/test/mustache_test.dart#L88).

If I run only [`mustache_test.dart`](https://github.com/valotas/mustache4dart/blob/issue55/

[2017-03-11 20:54] danrubel commented on #29042
Nope. That didn't work.

Instead, I added an option to explicitly enable/disable using the default flutter analysis options file.
https://codereview.chromium.org/2745653012/

[2017-03-11 22:36] danrubel commented on #28574
Fixed. https://codereview.chromium.org/2714373002/

[2017-03-11 22:36] #28574 closed

[2017-03-11 22:56] bwilkerson commented on #29005
https://codereview.chromium.org/2744043002/

[2017-03-11 22:56] #29005 closed

[2017-03-12 18:06] bwilkerson commented on #28854
I just ran into a problem that appears to be the same, but I don't believe that I'm trying to send types across the port at the time of the crash.

I was able to work around the problem, and have included the work-around at the end (for those who don't want to read the details of how I arrived at the work-around.

I have two isolates: the main isolate (the 'server' isolate) and one spawned using `

[2017-03-12 18:19] #28665 closed

[2017-03-12 20:30] bwilkerson opened #29045 "Stale documentation about the event loop"
On the page https://webdev.dartlang.org/articles/performance/event-loop, in the section titled "Microtask queue: scheduleMicrotask()", there is a reference to two issues to explain the "current" behavior. Both of these issues are now closed, so it seems likely that this section should be updated.

[2017-03-12 23:50] llamadonica opened #29046 "Case where dart2js doesn't produce setter (possibly due to Function yielded from sync*)"
I have an example where dart2js does not produce a setter for a field where the setter is used, causing an error. I've attached an almost-minimal example [here](https://gist.github.com/anonymous/a5a00f3bd17767c78c0393e78ddcb4af).

When running the compiled javascript it will cause: `TypeError: test.set$foo is not a function`. If I use something other than a sync* (for example a List<_ConditionerFu

[2017-03-12 23:58] llamadonica commented on #29046
Even more reduced case [here](https://gist.github.com/llamadonica/b3354cff87574915860ef5a54a48b27e)

[2017-03-13 05:34] devoncarew commented on #28993
@MichaelRFairhurst, I'm curious, how automated is your fuzz tester? Is this something you're running manually currently? It seems like you've found a few issues in the analyzer codebase with it, and I'm wondering if it's something we can adapt and create one or more analyzer integration tests from.

[2017-03-13 06:39] lrhn commented on #29043
It would be really great if we could avoid reimplementing that hack.
Sadly, there are currently a few hacks where it's still being used, even if we have the real syntax available:
- At least one class (`StringSplitter`) where the actual `implements` clause is different between Dart 1 and strong-mode because the original typing isn't valid in strong-mode.
- Some cases where an `as` cast is required

[2017-03-13 09:37] lrhn opened #29047 "Fasta should accept URIs in part-of declarations."
A part-of declaration can be `part of "library-file.dart";`.
Change has now landed in VM, dart2js and (partly) analyzer.

The Fasta parser also needs to handle the grammar.

[2017-03-13 09:44] lrhn opened #29048 "Analyzer should improve error messages around part-of messages."
I have landed (and hope to see it stick) the CL that enables URIs in part-of declarations.

Previously, the only allowed syntax was: `part of library.name;` which required the library to have a library declaration. Now it's also possible to do `part of "library.dart";`, which means that you can have parts of libraries that have no library declaration.

To enable this, I flipped a flag in the analy

[2017-03-13 09:55] davidmorgan opened #29049 "IntelliJ Generate->Implement Methods incorrect for function params"
Repro:

[code]

Right click in the class and choose Generate->Implement Methods, choose all of them, press okay. Output is wrong for methods that take a function, e.g.:

[code]

should be

[code]

interestingly, if you trigger the same generation by a different path, Ctrl+Enter and choose suggestion "generate 38 missing overrides", the generated code is correct.

[2017-03-13 09:58] davidmorgan opened #29050 "IntelliJ override generation does not add generics"
Repro

[code]
trigger generation of overrides by pressing Ctrl+Enter and choosing 'create 38 missing overrides'. Output is incorrect as it misses generics, e.g.:

[code]

should be

[code]

[2017-03-13 10:14] davidmorgan opened #29051 "IntelliJ Rename Field gets confused about multiple projects"
Rename of a field that @overrides a base getter (the `types` field here: https://github.com/google/built_value.dart/blob/master/built_value/lib/src/num_serializer.dart#L12 ) works if I have only one project open, but fails if I have another project open with that same files.

1. Close all IntelliJ projects
2. Open project with that file, do rename --> works; revert
3. Open another project with tha

[2017-03-13 10:17] peter-ahe-google opened #29052 "If fasta crashes, compiling twice appears to fix the problem"
If fasta crashes when building the SDK, and you run build.py again, no error is reported.

When you run tests afterwards, the tests appear to be running, but they're probably not using the kernel-isolate.

[2017-03-13 10:19] davidmorgan opened #29053 "IntelliJ Rename Field doesn't allow "shadowing" abstract getter"
If I need to implement a field "foo", I'm not allowed to do that by renaming an existing field; IntelliJ complains that this will shadow the field. Repro:

[code]

Right click on "bar", choose "refactor->rename", rename to "foo".

Expected behaviour: it should always be allowed to "shadow" (implement) an abstract field.

The same bug applies to methods. It should always be allowed to "shadow" an a

[2017-03-13 10:24] tomyeh opened #29054 "Please declare EventListener as generic method for easy listening in strong mode"
**Problem**: in strong mode, the following is not valid:

[code]

That is, we have to cast it in every listener that requires a subclass of `Event`. It is a bit cumbersome.

**Suggestion:**

[code]

Then, we can down-cast it easily.

[2017-03-13 10:27] alexander-doroshko commented on #29051
@davidmorgan Since version 2017.1 ([Release Candidate available](https://www.jetbrains.com/idea/nextversion/)) IntelliJ IDEA starts a separate Dart Analysis Server per project, so this problem is not actual anymore.

I guess you use 2016.3 where there's a single Analysis Server that serves all open projects. With it the IDE fails to do cross-project refactorings. Would be great if you could check

[2017-03-13 10:42] davidmorgan commented on #29051
Yes, I am on 2016.3.1. Thanks.

[2017-03-13 11:56] alexander-doroshko commented on #27961
@bwilkerson There are no known issues at IntelliJ end that could cause this problem. Setting area-analyzer.

I can confirm @matanlurey's scenario. Adding excluded path to `analysis_options.yaml` and saving the file doesn't cause `AnalysisServerListener#flushedResults` or `AnalysisServerListener#computedErrors` calls. Neither does removing excluded path and saving `analysis_options.yaml`.

[2017-03-13 12:45] #28680 closed

[2017-03-13 12:59] whesse opened #29055 "html/.../supported_keygen test fails on Chrome 57"
The test  html/element_types_test/supported_keygen has started failing after updating Chrome to version 57.  It is now marked as failing in tests/html/html.status.

Some of the error output is:
                           <td class="unittest-fail">
                              FAIL
                            </td>
                            <td>
                              <p>Expectation:

[2017-03-13 13:31] jensjoha opened #29056 "Kernel and --pause-isolates-on-unhandled-exceptions in async"
It seems that since https://codereview.chromium.org/2692803006/ and https://codereview.chromium.org/2725623003 we - when doing the async transformation - need to
a) name the completer :async_completer
b) mark the catching as generated somehow

The first part is probably just
[code]

The second part might require us to change the kernel format slightly...

Test-code (extracted from the service test

[2017-03-13 14:31] bwilkerson commented on #28993
I'll note, for the record, that Luke has had a fuzz tester for a very long time that has also uncovered lots of issues in analyzer. We have not, unfortunately, always had the resources to address those issues.

[2017-03-13 14:34] bwilkerson commented on #29053
@scheglov I believe that this is being done by server. Is that correct? If so, is there a reason for this behavior?

[2017-03-13 14:35] bwilkerson commented on #29051
Please re-open if you still see the problem after upgrading.

[2017-03-13 14:35] #29051 closed

[2017-03-13 15:03] davidmorgan commented on #27842
Implementation question -- I'm sure this is obvious to anyone used to working on AST visitors :)

Highlighting reassigned locals is going to need some kind of lookahead -- because we need to highlight it where it's declared/used based on what happens later.

Is there a standard pattern for doing this? I guess something like:

- Visitor that builds a list of reassigned identifiers
- Whenever we ent

[2017-03-13 15:54] bwilkerson commented on #27842
I wish that were true :-)

I don't know that it's best, but I would probably extend `_DartUnitHighlightsComputerVisitor3` to keep track of the current local variable scope, allowing scopes to nest. (There isn't a class that will do exactly what you need, so you'd have to write this yourself.) Each scope would remember the variables defined in that scope, and for each variable the information you n

[2017-03-13 16:00] scheglov commented on #27842
We might already have information you need.
See [potentiallyMutatedInScope](https://github.com/dart-lang/sdk/blob/25989faf8390bd5e0147c3277c65285b0980fa15/pkg/analyzer/lib/src/dart/ast/ast.dart#L7187).

[2017-03-13 17:29] #57468 closed

[2017-03-13 17:48] alan-knight commented on #28983
Given the root cause, this no longer seems high priority.

[2017-03-13 18:51] #57464 closed

[2017-03-13 19:11] scheglov commented on #29053
Yes, Analysis Server reports a problem when the new name of a class member shadows a superclass member or will be shadowed by a subclass. I think this is useful to know in order to avoid accidental overrides. Why this is not the case of shadowing abstract class members?

For Analysis Server this is not a fatal error, it just says that there is a class member that will be shadowed and provides loca

[2017-03-13 19:12] srawlins opened #29057 "No analyzer warning for duplicate type parameters in scope"
Take this code:

[code]

https://dartpad.dartlang.org/3cbff059ad7b36d650761793b07c79d8

Is this allowed by the language? It's a new question, right? Since only recently could one entity with type annotations be declared in the scope of another (a paramterized function inside a parameterized class).

I hope it's not allowed, since you cannot access the outer T from inside the function. If it is all

[2017-03-13 19:13] srawlins opened #29058 "Confusing error with identically named type parameters"
Take the following code:

[code]

https://dartpad.dartlang.org/3cbff059ad7b36d650761793b07c79d8

Either the inner T is a static type warning/error (#29057) or it isn't. In either case, the strong mode warning is not clear:

What I _really_ want here (and in several other errors) is to know where `T` (and also `T`) came from. Might be hard to do without making the error message too long 😦 .

[2017-03-13 20:37] jwren commented on #29053
FYI @alexander-doroshko

[2017-03-13 22:05] kzhdev opened #29059 "SVG transform does not working on latest chrome"
After upgrading to latest chrome, SVG transform in element attribute stopped working, all element are stacked in position 0,0.

screenshot, in 56.0.29.24.87 all blocks are in correct location:
![56 0 2924 87](https://cloud.githubusercontent.com/assets/1855243/23877163/fa2fda74-080e-11e7-9042-2e7b564c7a94.png)

 57.0.2987.98, all blocks are stacked in 0,0.
![57 0 2987 98](https://cloud.githubuserco

[2017-03-13 23:10] devoncarew commented on #26561
fixed in https://codereview.chromium.org/2747743003

[2017-03-13 23:10] #26561 closed

[2017-03-13 23:14] vsmenon commented on #28983
fyi - these tests are starting to fail on chrome 59 now as well.

[2017-03-13 23:28] rakudrama opened #29060 "Stop trimming U+180E"
From: http://www.unicode.org/versions/Unicode6.3.0/#Database_Changes

 * The General_Category property value of U+180E MONGOLIAN VOWEL SEPARATOR has been changed from Zs to Cf. The values of other related properties such as Bidi_Class, White_Space, and Other_Default_Ignorable_Code_Point have been updated accordingly

The future is catching up with us.

dart2js gets its behaviour with respect to tr

[2017-03-14 00:08] #57466 closed

[2017-03-14 00:43] jmesserly opened #29062 "DDC does not fully implement subtyping for FutureOr<T>"
FutureOr was partially implemented in https://github.com/dart-lang/sdk/issues/28009, and it works as a top type, but there are bugs, for example `bool <: FutureOr<bool>` should be true, and it's not as far as I can tell.

[2017-03-14 00:45] jmesserly commented on #29062
Hit this in my big type inference change. We infer FutureOr in some cases but then fail a runtime check (my guess because `FutureOr<T>` was reified as a generic argument).

[2017-03-14 01:27] tomyeh opened #29063 "Dart VM rejects a generic method named "get" (but analyzer accepts it)"
Example,

[code]

I'm using 1.22.1

[2017-03-14 04:13] tomyeh opened #29064 "Unable to pass a method with a down-cast parameter"
For example, the following code doesn't work:
*The function 'foo1' has type '(B) → void' that isn't of expected type '(A) → void'.*

[code]

Dart version: 1.22.1

On the other hand, the following code is ok:

[code]

[2017-03-14 05:21] rakudrama commented on #28404
Some random notes:

What does it look like to use the API?
 - How do I access the grapheme at a StringPosition?
 - How do I iterate over all the graphemes?
 - How do I scan a string, e.g. how might I implement s1.indexOf(s2, pos) using the rest of the API? How do I write a custom sorting comparator for a table column?
- How would I manually (i.e. no regex) validate a phone number is in the format

[2017-03-14 06:48] lrhn commented on #29064
I'm guessing you are using strong mode.

The expression `const<Foo>[foo1]` tries to figure out what you mean by `Foo`. Since `Foo` is a generic typedef, it has to instantiate it to get an actual type.
It chooses to instantiate that to the bound, so the expression has type `List<Foo<A>>`. In strong mode, the `foo1` function has type `Foo<B>` (aka `(B)->void`), which is not assignable to `Foo<A>` (a

[2017-03-14 07:49] tomyeh commented on #29064
Yes, I'm using strong mode. Thanks for your quick response and clear explanation.

The real problem is that I'd like to implement a pluggable mechanism that the handler can take a subclass of the declared one (after all, it is common that we know, say, it must be MouseEvent for the click type).

Here is sample code,

[code]

The only way to get it around seems to ignore STRONG_MODE_DOWN_CAST_COMPO

[2017-03-14 08:01] davidmorgan commented on #29053
Yes, allowing a choice sounds better, for both abstract and concrete. Thanks!

[2017-03-14 08:18] lrhn commented on #28983
We should probably track ECMAScript here because the reasoning is to allow use of ECMAScript functions directly when compiling to ECMAScript, at least as long as they do mostly the same thing as what we want.
ECMAScript 2017 says to use the latest version of Unicode (https://tc39.github.io/ecma262/#sec-conformance).

In the future, we will probably need some kind of strategy here - do we want to t

[2017-03-14 08:41] davidmorgan commented on #27842
@scheglov Thanks! That does indeed make it very easy to implement.

I realized that to try it I can use one of the other highlights that I don't need -- dynamic locals -- to avoid having to change the protocol. So, currently giving this highlight a try to confirm that it's useful enough to be worth all the hassle... will also see if others are interested.

[2017-03-14 09:09] alexander-doroshko commented on #29053
Please file an issue in [JetBrains issue tracker](https://youtrack.jetbrains.com/issues/WEB) (Subsystem: Dart). Thanks!

P.S. #27497 looks like the same, also filed in a wrong issue tracker, so not noticed :)

[2017-03-14 09:13] johnniwinther opened #29065 "Many co19/LayoutTests/fast/ tests fails"
Many `co19/LayoutTests/fast/` fails.

`LayoutTests/fast/canvas/webgl/gl-object-get-calls_t01` was added to the already large set during gardening

[2017-03-14 09:15] alexander-doroshko commented on #29050
@floitschG Quick fixes are powered by the Analysis Server, I'm changing the area to analyzer.

[2017-03-14 09:27] davidmorgan commented on #29053
@alexander-doroshko I don't see a project named Dart -- or any reference to subsystems -- could you point me in the right direction please?

[2017-03-14 09:31] lrhn commented on #28404
On Tue, Mar 7, 2017 at 2:21 AM, Ian Hickson <notifications@github.com>
wrote:

Not sure what the syntax errors have to do with anything?

Can a string literal be malformed?
"\uDC00"
or
"\uD800"
?
Can it become non-malformed due to interpolations?
var x = "\uDC00";  // Invalid?
var y = "\uD800$x";  // Valid?

That's not a string, it's a Uint8List literal. I want those, but let's be
honest and do it

[2017-03-14 09:41] lrhn commented on #29064
What if you change the assignment to:
[code]
?
It *can* fail at runtime, but that's what you are asking for by passing a `B` handler to something that doesn't have solely `B` events. There must be some runtime logic to prevent the incorrect use since you are disabling the static checks.

Try not to ignore any strong mode errors. That's a stop-gap solution during transition, but one day, when stron

[2017-03-14 09:49] tomyeh commented on #29064
Yes, but it is a bit tedious since, in many cases, we do know the class shall be. For example, it is more convenient if we can do:

[code]

Sure, we can cast it explicitly but really redundant if we know the type at compile time.

[2017-03-14 09:50] lrhn commented on #29063
Grammar allows it, so it's a VM parser bug.

[2017-03-14 09:58] alexander-doroshko commented on #29053
Click Create Issue first :)

[2017-03-14 10:16] davidmorgan commented on #29053
Found it under "Project -- WebStorm _ IntelliJ Web", then subsystem appears as one of many fields on the right. Filed here:

https://youtrack.jetbrains.com/issue/WEB-25913

Thanks!

[2017-03-14 10:59] jensjoha opened #29066 "Debug stepping inconsistencies for functions"
E.g.

[code]

(i.e. top-level) will stop (when stepping into the function) first at column 8 (in fooXYZ3, i.e. on the open-paren) and 20 (in fooXYZ4, i.e. on the last parameter name).

[code]

(i.e. class functions) will instead stop (when stepping into the function) at column 3 (in barXYZ3, i.e.  on the function name) and 20 (in barXYZ4, i.e. on the last parameter name).

I.e. on functions withou

[2017-03-14 11:14] jensjoha opened #29067 "Debug stepping inconsistencies for getters"
E.g.

[code]

(i.e. top-level) will stop (when stepping into the getter) first at column 12 (in fooXYZ, i.e. on '=>') and 15 (in fooXYZ2, i.e. on '{').

[code]

(i.e. getter in a class) will instead stop (when stepping into the getter) at column 3 (i.e. on 'get') in both cases.

I.e. for getters the debugger stops either on 'get' or on whatever is after the name depending on whether it's in a clas

[2017-03-14 12:07] SadovovAlex opened #29068 "XMLHttpRequest error"
if response this format or other json:
{"listFias":[],"status":"NotFound"}

i recieved error:
XMLHttpRequest cannot load http://0001qwerty02:8888

[code]

[2017-03-14 12:49] lrhn commented on #29064
True, but then you need runtime checks, and the system can't help you because it does not know that "keypress" and `KeyboardEvent` are related, so you need to add the checks, e.g., like a wrote above with the wrapper.

[2017-03-14 12:59] stereotype441 opened #29069 "Fasta scanner should treat "deferred" as a built-in"
According to the language spec, `deferred` is a "built-in identifier", meaning that it cannot be used as the name of a class or an import prefix.  However, Fasta's scanner defines it as:

    const Keyword("deferred", isPseudo: true)

meaning that it behaves as an ordinary identifier which occasionally has special meanings.

The above definition should be changed to:

    const Keyword("deferred",

[2017-03-14 13:49] peter-ahe-google commented on #28614
Here's one way to detect if colors are available on Unix: https://github.com/dart-lang/sdk/commit/4d302b0adbebb6ee9cdfc99a5e9ecf96c686befe

I'm using the program tput to figure it out, but there should be some equivalent API in C based on termcap.

[2017-03-14 14:13] lrhn commented on #29063
I think I'll leave the fix of this to someone who actually knows the VM parser.

[2017-03-14 14:19] tomyeh commented on #29064
Understand, but possible to have some sugar syntax, like `covariant` does, to avoid the wrapping?

`e.on('keypress', (covariant KeyboardEvent e) {...`

[2017-03-14 14:34] lrhn commented on #29064
We considered something like this when we introduced the `covariant` keyword, but decided against it.
Also "covariant" doesn't really match the intent when there is no variance :)

In practice, I hope our type promotion will get to the point where you can write:
[code]
and actually have `e` be promoted to KeyboardEvent in the rest of the body.

[2017-03-14 14:40] johnniwinther opened #29070 "Crashes and errors from analyzer on generic methods tests"
The tests added in https://codereview.chromium.org/2737933002 cause a lot of crashes and errors in strong mode.

@stefantsov

[2017-03-14 14:44] MikeMitterer commented on #28977
@alexander-doroshko ???? Hmmm - I think this is selected by default but I'm not sure if it was when I renamed that particular file. If I rename something in Java - *it just works* as expected - I don't have to check if a checkbox is ticked or not. Maybe this was the problem.

[2017-03-14 14:53] tomyeh commented on #29064
Yes, it will be very helpful (and more *accurate*). Looking forward to it:)

Thanks again for your kindly explanation.

[2017-03-14 15:04] alexander-doroshko commented on #28977
Yes, it is selected by default, but once you unselect it - next time it is unselected as well. The same for Java.
If you can't reproduce with the option checked I think the issue can be closed.

[2017-03-14 15:22] ajrcarey commented on #14729
Any updates on this problem? Dart2JS will not compile code that passes strong-mode analysis at present.

[2017-03-14 15:22] vsmenon opened #29071 "MessageEventInit error on FF"
A couple tests started failing recently on FF with the following error:

Firefox 52.0.0 (Mac OS X 10.12.0)  lib/html/messageevent_test FAILED
	'ports' member of MessageEventInit can't be converted to a sequence.
	new@lib/js/amd/dart_sdk.js:77536:16
	messageevent_test.main/<@gen/codegen_output/lib/html/messageevent_test.js:13:19
	minitest.test@gen/codegen_output/pkg/expect.js:442:7
	messageevent_te

[2017-03-14 15:38] ajrcarey opened #29072 "dart2js incorrectly identifies class name as Modifier"
dart2js will not generate javascript for the following code fragment:

[code]

Instead, it returns the error:

`[Error from Dart2JS on duet|hello-world/index.dart]:
<path>/state.dart:12:3:
Can't have modifier 'Optional' here.
Try removing 'Optional'.
  Optional<T> get<T extends Object>(final String key);
  ^^^^^^^^`

I have no idea what a "Modifier" is, but apparently it thinks Optional is one :)

[2017-03-14 15:46] peter-ahe-google opened #29073 "Weird line endings in many co19 tests"
I've noticed a number of co19 tests with weird line endings.

For example, `Language/Expressions/Identifier_Reference/built_in_not_dynamic_t01.dart`.

This is very confusing. When I `cat` this file, I see this:

[code]

However, the content of the file is really:

[code]

[2017-03-14 16:01] stefantsov commented on #29030
Originally I put the names of the new tests into `tests/language_strong/language_strong.status` file and marked them with `Skip`, but then moved the lines to `tests/language_strong/language_strong_kernel.status` and marked them with whatever status they run into currently. Perhaps, that's why that issue wasn't caught by the reviewers. Sorry for that!

This is fixed recently by @johnniwinther in [t

[2017-03-14 16:01] #29030 closed

[2017-03-14 16:05] stefantsov commented on #29070
Thank you for the fix! This was already discussed in #29030, so I'm closing it as a duplicate.

The issue was due to the new typedef syntax, see #27969.

[2017-03-14 16:05] #29070 closed

[2017-03-14 16:07] DmitryOlshansky-google opened #29074 "[VM][Kernel] Differences in benchmarks of dart-dfe vs dart due to different new heap sizing"
It actually occurs in multiple benchmarks, for example, in  StringBuffer and RegExp. The apparent difference in performance is due to dart-dfe having new space size of 8Mb vs dart having 32Mb.

It may very well be that 8Mb is more sensible size than 32Mb but in any case some investigation is required to understand what causes different heap growth pattern.

[2017-03-14 16:16] DmitryOlshansky-google commented on #29074
Actually there are also examples to the contrary on StreamSingleSubTest  dart has new space of 2Mb and dart-dfe grows up to 8Mb. Manually adjusting the heap sizes nullifies the difference.

[2017-03-14 19:15] jmesserly commented on #28801
Nope. I was pulled into strong mode work and haven't gotten to look at this yet. I'll try and start it today.

[2017-03-14 19:17] bwilkerson commented on #29049
I don't believe that implementation is coming from the analysis server.

[2017-03-14 19:21] sigmundch commented on #14729
Thanks for the ping - there hasn't been any changes so far regarding this in dart2js. This is unfortunately a very hard thing to change: dart2js tracks runtime types in a way that associates one type instantiation per value, adding more (e.g. to track both `X<A>` and `X<B>`) will require changing the entire mechanism used today to reify runtime types.

It's quite possible that the resolution will

[2017-03-14 19:42] sigmundch commented on #29072
Thanks for filing the bug! and Thank you for reducing this to this small repro, it is super helpful and saves us a lot of time when the repros are this small!

The issue seems to be a combination of the generic argument and the fact that the name of the function is `get` (which is a built-in keyword):

For example: `a.dart` fails, but `b.dart` and `c.dart` are OK:
**a.dart**:
[code]

**b.dart**:
[

[2017-03-14 19:45] sigmundch commented on #29072
Seems like the issue is in the FE parser (see https://github.com/dart-lang/sdk/blob/c78b4d66bb3e0440fdd3020b45f3d00d78082525/pkg/front_end/lib/src/fasta/parser/parser.dart#L1804)

[2017-03-14 19:46] mit-mit commented on #28588
@kasperl are you still working on this?

[2017-03-14 20:33] kasperl commented on #28588
@mit-mit The work is done, but it hasn't been rolled into Flutter yet. We could turn this into a Flutter issue blocked on rolling the Dart SDK dependency past the next dev channel release -- and close this one. That's probably the best approach.

[2017-03-14 20:34] lrhn commented on #29072
@peter-ahe-google
I notified Peter about a similar issue today, he might be working on it already.

[2017-03-14 20:53] goderbauer commented on #28995
This is interesting: My default code page is 437. After Ctrl+C'ing out of a Dart script  to break my console, `chcp` claims that I am still on code page 437. However, explicitly running `chcp 437` again seems to fix the console.

[2017-03-14 21:01] zanderso commented on #28995
At least according to this:

https://sourceforge.net/projects/chcp-advanced/

chcp changes both input and output codepage, but only displays the input code page. So if the Dart VM was changing the output codepage and not touching the input codepage, then that could explain what we're seeing.

[2017-03-14 21:03] terrylucas opened #29075 "Dartium 50 Roll: Fix merge problems in InspectorRuntimeAgent.cpp"
This is a tracking bug for JacobR to review the file third_party/WebKit/Source/core/inspector/InspectorRuntimeAgent.cpp there was a major re-factoring of dev console in Chromium 50 - hence alot issues with debugging in Dartium 50

[2017-03-14 21:07] goderbauer commented on #28995
Yeah, looks like that's what going on:

Code pages *before* Ctrl+C'ing out of a Dart script:
[code]

Code pages *after* Ctrl+C'ing out of a Dart script:
[code]

As you suspected, the output code page does not get resetted. Fixing that will probably fix this output problem.

[2017-03-14 21:12] alexander-doroshko commented on #29049
Yep, Generate menu is not backed by the Analysis Server. YouTrack issue is welcome.

[2017-03-14 21:28] hterkelsen opened #29076 "dart:js_util getProperty result is assumed to be non-null"
`dart:js_util` contains the function `getProperty` which is defined as

[code]

This means that `getProperty(x, 'y') == null` is always `false` even if `x.y` is `null`.

[2017-03-14 21:33] goderbauer commented on #28995
Registering a signal handler for Ctrl+C and calling exit from there seems to be a work around for this problem:

[code]

[2017-03-14 21:44] pq opened #57476 "Update `DEPS` to pull in linter `0.1.30`."
A few items (not ordered):

* [x] tag a `0.1.30` branch
* [x] migrate `DEPS` _back_ to using tags rather than versions
* [ ] verify that name changes (#489) won't break internal users (FYI @srawlins, @matanlurey)

[2017-03-14 21:58] zanderso commented on #28995
I think we should handle this in the VM. It's weird to make you register a handler that just exits. I'll take a look at this after landing my other change.

[2017-03-14 22:03] #57413 closed

[2017-03-14 22:08] #57235 closed

[2017-03-14 22:09] rmacnak-google opened #29077 "VM: No longer need to use a fixed size offset when loading from the constant pool"
The debugger used to patch the instructions that load from the pool to make them use a different offset into the pool. Now, we always patch the object pool entries, so the load offsets are fixed and it is safe to use the short form when the offset is small enough.

Involves changing Assembler::LoadWordFromPoolOffset and making CodePatcher recognize the short form.

[2017-03-14 22:10] #57178 closed

[2017-03-14 22:39] #57439 closed

[2017-03-14 22:54] #29076 closed

[2017-03-15 05:29] rakudrama commented on #2965
Closing as obsolete - we don't do interceptors that way anymore.

[2017-03-15 05:29] #2965 closed

[2017-03-15 05:39] rakudrama commented on #16286
Closing, since the current code generated is:

      update$2: function(a, b) {
        if (a != null && a !== this._a)
          this._a = a;
        if (b != null)
          if (b !== this._b)
            this._b = b;
      }

There is a related issue discussed at https://github.com/dart-lang/sdk/issues/28330: `if (`*A*` && `*B*`)` is generated as the test `if ( phi(false, `*B*`))`, so we don't

[2017-03-15 05:39] #16286 closed

[2017-03-15 05:45] rakudrama commented on #25231
Constants are also top-level strings (e.g. const x = "huge string").

These get copied into the functions referring to them. This could be solved by treating constants similar to function calls and determining if the constant is 'called' once. If there are multiple uses and the constant is 'large', it should be named, otherwise it can be copied to the function.

Within a function, a constant can b

[2017-03-15 05:52] rakudrama commented on #26835
https://github.com/dart-lang/sdk/issues/28330 is one way of solving this for types_propagation.
Something similar should be incorporated into global type analysis, which should be easier since the graph has no structural constraints (i.e. need not be reducible).

[2017-03-15 06:00] a14n opened #57477 "False positive for prefer_initializing_formals"
In Flutter there's 4 lints (every elements in the initialization list) for [the following code](https://github.com/flutter/flutter/blob/master/examples/layers/rendering/src/sector_layout.dart#L20-L24):

[code]

[2017-03-15 08:33] kasperl commented on #28588
@mit-mit This change will be in 1.23.0-dev.6.0. Will go ahead and close this issue.

[2017-03-15 08:39] kasperl commented on #28588
Filed https://github.com/flutter/flutter/issues/8783. Closing this one.

[2017-03-15 08:39] #28588 closed

[2017-03-15 08:40] kasperl commented on #28809
Brian, thanks so much for working on this. How far are you with landing this?

[2017-03-15 09:01] mit-mit commented on #28943
Punting to 1.24 per dart-leads discussion.

[2017-03-15 09:01] mit-mit commented on #28935
Punting to 1.24 per dart-leads discussion.

[2017-03-15 09:01] mit-mit commented on #28939
Punting to 1.24 per dart-leads discussion.

[2017-03-15 09:02] mit-mit commented on #28936
Punting to 1.24 per dart-leads discussion.

[2017-03-15 09:02] mit-mit commented on #28937
Punting to 1.24 per dart-leads discussion.

[2017-03-15 09:02] mit-mit commented on #28938
Punting to 1.24 per dart-leads discussion.

[2017-03-15 09:03] mit-mit commented on #28941
Punting to 1.24 per dart-leads discussion.

[2017-03-15 09:03] mit-mit commented on #28940
Punting to 1.24 per dart-leads discussion.

[2017-03-15 09:03] mit-mit commented on #28942
Punting to 1.24 per dart-leads discussion.

[2017-03-15 09:04] mit-mit commented on #28945
Punting to 1.24 per dart-leads discussion.

[2017-03-15 09:04] mit-mit commented on #28946
Punting to 1.24 per dart-leads discussion.

[2017-03-15 09:06] davidmorgan commented on #29049
Thanks. Filed https://youtrack.jetbrains.com/issue/WEB-25934

[2017-03-15 09:07] mit-mit commented on #28117
@kasperl @leafpetersen can we update the 'specification' section in the top comment, please? I believe we have that finalized now?

[2017-03-15 09:09] mit-mit commented on #27969
@bwilkerson was this landed?

[2017-03-15 09:11] mit-mit commented on #27970
@floitschG did we ever complete the spec for this?

[2017-03-15 09:12] mit-mit commented on #27639
@eernstg is this done?

[2017-03-15 09:16] mit-mit commented on #28280
@kevmoo did we complete this roll?

[2017-03-15 09:18] mit-mit commented on #27260
@vsmenon this is starting to look a bit stale, is this still an issue?

[2017-03-15 09:26] lrhn commented on #27970
Not landed, CL is https://codereview.chromium.org/2690553002/

[2017-03-15 09:27] lrhn commented on #27639
CL is https://codereview.chromium.org/2690553002/
Not landed yet.

[2017-03-15 09:35] tomyeh opened #29078 "Suggestion: InputElement and TextAreaElement implements a common interface"
InputElement and TextAreaElement share a lot of common methods, such as `value` and `setSelectionRage`. If there is a common interface, it is easier to write a type-safe polymorphic code. Otherwise, we have to either cast to dynamic or to use a dirty if-then-else to solve the issue.

[2017-03-15 10:44] alsemenov commented on #28873
Along with @sgrekhov we managed to run and analyse the double reporting tests.

There is at least two group of tests, that are double reporting due to two different reasons:

1. `asyncStart()` is called from async function, which is executed after main() finishes. Already fixed in 	33ec795 and in 490beda

2. compiled javascript test code contains errors. For example (I formatted the output for eas

[2017-03-15 12:55] ajrcarey commented on #14729
Thanks for updating this. I am about as far away from being a language designer as it's possible to be - I'm just a lowly programmer. So I will not pretend to understand the ins and outs of the design constraints. But as a user of the tools, the thing that is most noticeable to me is that the tools are not in agreement about what the language can do. The analyzer accepts code like that which @greg

[2017-03-15 13:07] ajrcarey commented on #29072
Ah! I see what you mean. I'm perfectly happy to change my method name. Interesting that dart analyzer doesn't flag it as a problem - does that mean it would work in Dartium? It would be good for all the tools to be in agreement.

[2017-03-15 13:35] bwilkerson commented on #28809
The CL has been approved and is ready to land, but is held up by other work.

[2017-03-15 13:36] terrylucas commented on #28280
Dartium 50 is rolled, building and running tests on the Dartium integration bots.  Both Mac, Linux and Windows versions build.  There are ~180 failing tests failing out of ~18K tests and ~195 failing checked mode tests.

Jacob is hoping to get the Dev Console to start working again (there was a major refactoring of the dev console code in Chromium 50) next week.  I'm working on fixing the failing

[2017-03-15 13:38] peter-ahe-google commented on #29072
@ajrcarey you're absolutely right, all tools should be in agreement. They haven't been historically, but we're beginning to share a lot of code moving towards the goal of having a single front end shared by all of our tools.

[2017-03-15 13:40] bwilkerson commented on #29049
@alexander-doroshko This would be a good candidate for which to add support to the analysis server. As Dart moves forward, this is exactly the kind of thing it would be nice to have supported internally.

[2017-03-15 13:40] bwilkerson commented on #28809
Undo the accidental close.

[2017-03-15 13:41] bwilkerson commented on #27969
Unfortunately, no. It is requiring more effort than I had originally anticipated.

[2017-03-15 13:45] alexander-doroshko commented on #29049
@bwilkerson Cool! So, this is what we are having in the Generate menu, not backed by the server:
![image](https://cloud.githubusercontent.com/assets/4499789/23951259/ae598622-099e-11e7-8db1-a5d2719ac48e.png)

[2017-03-15 13:58] bwilkerson commented on #29049
I assume that these are context sensitive. That is, that if the cursor is with a class the generated code applies to the enclosing class (except for the last item, which I assume is the copyright at the top of the file).

If so, I think we'll want a request to get code generation suggestions that takes the file and offset and returns a list of source file edits. Or maybe a list of lists so that we

[2017-03-15 14:12] bwilkerson commented on #29064
I believe that analyzer is currently working as intended, so I'm closing this. Please re-open if you think it's worth having as a reminder of possible future enhancements to inference.

[2017-03-15 14:12] #29064 closed

[2017-03-15 14:29] alexander-doroshko commented on #29049
Copyright is an IntelliJ's multilingual feature, this is not something Analysis Server should care about :).
Others are context-sensitive, that's true.

I'm afraid the task is more complex. Probably we'll have to handle each action separately, as we do with refactorings. All of them are expected to show a specific dialog to get more user input. For example, constructor generator allows to select w

[2017-03-15 14:39] bwilkerson commented on #29049
Ah, I didn't realize how much this functionality is doing. Yes, an API similar to that for refactoring would be needed, which makes this a bigger task than I'd originally anticipated. I still think we should do it; I'll see how soon I can start putting together a proposal that we can iterate on.

[2017-03-15 15:15] bwilkerson commented on #26212
@pq I'm guessing that @danrubel isn't going to be able to look at this anytime soon.

@devoncarew This is now blocking us from running `dartanalyzer` over the `analyzer_cli` package on the bots.

[2017-03-15 15:21] floitschG commented on #29068
This issue was moved to dart-lang/http#67

[2017-03-15 15:21] #29068 closed

[2017-03-15 15:38] kzhdev commented on #29059
This is a bug in chrome.
https://bugs.chromium.org/p/chromium/issues/detail?id=701075

[2017-03-15 15:38] #29059 closed

[2017-03-15 16:16] #57470 closed

[2017-03-15 16:23] sigmundch commented on #14729
@ajrcarey - I couldn't agree more. You might have seen in the other bug that we are currently working on sharing more code between these tools so that they are all using a common front-end. It is in part an effort to bring more alignment between the tools.

[2017-03-15 16:25] whesse commented on #28955
Looking at just one builder, the ie11 shard 2 of 4, and getting all of the timeouts in the 10 failing ie11tests in the last 100 runs, we found two tests that were repeatedly timing out, and  more that only timed out once.

dart2js-ie11 release_x64 html/custom/constructor_calls_created_synchronously_test failed 3 times
FAILED: dart2js-ie11 release_x64 pkg/testing/test/hello_test failed 4 times

The

[2017-03-15 16:25] whesse commented on #28955
@peter-ahe-google @sigmundch @sortie

[2017-03-15 16:26] pq opened #57478 "0.1.31 Release Plan"
Plan for `0.1.31`.

## Theme

_Fixes and new lints._

## Plan items

### Fixes

* Many lint fixes (notably `prefer_final_fields`, `unnecessary_lambdas`, `await_only_futures`, `cascade_invocations`, `avoid_types_on_closure_parameters`, and `overridden_fields`).
* Significant performance improvements for `prefer_interpolation_to_compose_strings`.

### Features

See: https://github.com/dart-lang/lint

[2017-03-15 16:41] sigmundch commented on #28955
/cc @stereotype441
I'd skip for now the pkg/front_end/* tests - I don't think there is much value in running these tests in ie11 at the moment. We do want to test that we can run the frontend in chrome (the main use case is to one day run ddc as part of the chrome-debugger),  but I'm OK skipping all other browsers for now.

[2017-03-15 16:53] vsmenon commented on #27260
@munificent - can you triage & reassign this to the actual libraries with errors?  Some may be in DDC patch files, but I believe most are in shared SDK code:

https://github.com/dart-lang/sdk/blob/master/pkg/dev_compiler/tool/sdk_expected_errors.txt

[2017-03-15 17:10] rakudrama commented on #28809
I have committed one of the CLs that makes dart2js 'clean' with respect to this warning.

[2017-03-15 17:15] kevmoo opened #29079 "Document [dart:io] Adds Platform.ansiSupported in changelog"
See https://codereview.chromium.org/2739683005
See https://github.com/dart-lang/sdk/commit/a8bf498e5698c67676da3ab942ed3b51e88181a7

[2017-03-15 17:17] #28995 closed

[2017-03-15 17:19] mhausner commented on #29067
If the getter in class Bar is made static, it behaves the same way as the top-level getter. So, the difference is due to static vs instance getter.

[2017-03-15 17:33] #29079 closed

[2017-03-15 17:55] scheglov opened #29080 "Crashes in CollectAwaiterReturnStackTrace"
This started a couple of days before and still happens.
Dart VM version: 1.23.0-edge.f748465867a41cf5660ce1d80588cf6edeee3349 (Wed Mar 15 10:07:17 2017) on "macos_ia32"

[2017-03-15-VM-crash.txt](https://github.com/dart-lang/sdk/files/845555/2017-03-15-VM-crash.txt)

[2017-03-15 18:07] a-siva commented on #29080
_File.openSync seems to be throwing.
Do you have instructions on how to reproduce the problem?

[2017-03-15 18:08] scheglov commented on #29080
No, I don't :-(
The exceptions I see almost always happen in Analysis Server, and it is not easily runnable.

[2017-03-15 18:17] a-siva commented on #29080
Is it possible that these are unhandled exceptions being thrown by the analysis server and not crashes in the VM?

[2017-03-15 18:19] fsc8000 commented on #29080
Looks like a context mismatch - could be related to #28980 or #28443. This happens in the debugger.

[2017-03-15 18:26] scheglov commented on #29080
The analysis server was dead and restarted by the IDE after this exception. Search for `debugStream: 1489600208576 started analysis server:` in the log.

We catch exceptions in [FileByteStore:152](https://github.com/dart-lang/sdk/blob/master/pkg/analyzer/lib/src/dart/analysis/file_byte_store.dart#L152).

[2017-03-15 18:32] crelier opened #29081 "Analyzer gives erroneous warning for regress_29025_test"
The analyzer should not give a StaticWarning for the test language/regress_29025_test.dart:

FAILED: dart2analyzer-none release_x64 language/regress_29025_test
Expected: Pass
Actual: StaticWarning
CommandOutput[dart2analyzer]:

stderr:
WARNING|STATIC_WARNING|ARGUMENT_TYPE_NOT_ASSIGNABLE|/usr/local/google/home/regis/dart3/sdk/tests/language/regress_29025_test.dart|24|13|2|The argument type 'F(D) →

[2017-03-15 18:34] fsc8000 commented on #29080
I have sanitized the log file by removing the debugStream lines that clutter up the VM's messages.
[crash.txt](https://github.com/dart-lang/sdk/files/845626/crash.txt)

At the bottom:
[code]

[2017-03-15 19:13] a-siva commented on #29080
@johnmccutchan

[2017-03-15 19:49] fsc8000 commented on #29080
@scheglov We need a bit more info on what you were doing to be able to reproduce. It seems that even if the crash does not happen often, there are still a lot of "Encountered context mismatch" errors happening in the VM. A reliable reproduction for just one of these would be very helpful and probably enough to fix the issue.

1. What sources are analyzed?
2. What steps did you do in the IDE to get

[2017-03-15 20:00] scheglov commented on #29080
I have many open modules.
Just starting IDE is enough, it will fail eventually.

FYI, I run analysis server from sources, not the SDKs snapshot.

[2017-03-15 20:06] fsc8000 commented on #29080
Please be more specific on:
* How to run the analysis server from sources
* Which modules to open
* Which IDE (version) running
* What does eventually mean? Just leave it open? Did you perform any action in the IDE?

The more details, the more likely we can get a reliable reproduction.

[2017-03-15 20:54] Hixie opened #29082 ""Invalid override" analyzer error obscures real error"
[code]

[code]

Analyzer output for main.dart:
[code]

There's only one error, the error is that because `main.dart` doesn't import `dart:async`, `Future` is not a known type on line 6. However, this gets obscured in the analyzer output because once the type is unknown, the analyzer finds that it doesn't match the thing it's trying to override (where the type _is_ known).

I would like the analyze

[2017-03-15 22:00] a14n opened #57479 "false positive for unnecessary_lambdas"
In Flutter a lint is displayed for https://github.com/flutter/flutter/blob/f9ad230f151408af5eb85229997d426662315609/packages/flutter/test/services/system_chrome_test.dart#L26-L28

[code]

Even if `log.add` had type `(String) -> String` it is not compatible with the second parameter type `(String) -> Future<String>`.

BTW I don't understand why the analyzer doesn't warn on the current code because

[2017-03-15 22:09] goderbauer opened #29083 "stdin should have a hasTerminal property"
`stdout` does have `hasTerminal`, but `stdin` doesn't. Seems like an oversight since it is possible that one is connected to a terminal and the other one isn't.

Checking if `stdin` is connected to a terminal is particularly important for setting `echoMode` or `lineMode`, which (at least on Windows) throw an exception if `stdin` is not connected to a terminal.

/cc @zanderso

[2017-03-15 22:55] dgrove commented on #25697
@devoncarew any update on this?

[2017-03-15 22:57] dgrove commented on #28219
Any updates on this?

[2017-03-15 22:57] dgrove commented on #28580
Any updates here?

[2017-03-15 22:57] dgrove commented on #28668
Any updates here?

[2017-03-15 23:09] BlackHC opened #29084 "Document additional fields in VMReloadReport"
In particular, details/message would be nice.

[code]

Thanks,
 Andreas

[2017-03-15 23:12] BlackHC opened #29085 "ReloadSources: import 'asd'; crashes Dart VM"
When I reload sources after adding `import 'asd';`, the VM crashes with
"Process finished with exit code 132 (interrupted by signal 4: SIGILL)"

It would be nice to catch this and not die.

(`import 'dart:asd'` fails gracefully with 'The built-in library 'dart:asd' is not available on the stand-alone VM.')

Thanks,
 Andreas

[2017-03-15 23:16] devoncarew commented on #25697
Still planned. I see that the milestone for 1.23 is targeted to March 29th; is that accurate?

[2017-03-15 23:23] scheglov commented on #28580
I'm working on moving DDC to the new analysis driver, so that we could use resynthesized types.
Once this is done, we will be unblocked to implement this feature only in one place.

[2017-03-15 23:29] scheglov commented on #28219
It's not done yet.

I'm working toward new inference - we now can test types directly / without comparing with AnalysisContext results (which are not available), added the sets of tests for inference for initializer and instance methods according to the new rules.

But this is again hinges on being able to use inferencer from linker, so the last biggest client - DDC should be migrated to using the

[2017-03-15 23:44] #29025 closed

[2017-03-15 23:51] johnmccutchan commented on #29085
https://codereview.chromium.org/2748353004

[2017-03-16 00:09] a-siva opened #29086 "modified lib/mirrors/invocation_fuzz_test fails with Unimplemented error on dart2js"
out/ReleaseX64/dart-sdk/lib/_internal/js_runtime/lib/preambles/d8.js:263: UnimplementedError
          throw e;
          ^
UnimplementedError
    at dart.d (/b/build/slave/dart2js-linux-d8-minified-2-5-be/build/sdk/out/ReleaseX64/generated_compilations/dart2js-minified-sdk/multitest_lib_mirrors_invocation_fuzz_test_emptyarray/out.js:2683:3)
    at dart.D (/b/build/slave/dart2js-linux-d8-minified-

[2017-03-16 00:19] kevmoo commented on #28925
@whesse ping?

[2017-03-16 03:58] Hixie commented on #29082
I just saw this in a similar case:
[code]

This was because I had a `yield` statement that yielded a TabToken, which I hadn't implemented yet. The error message is confusing: the constructor returns type dynamic? The constructor doesn't exist! How do you know what it does?

If it was silenced as I suggest above, it would make more sense, since you'd only have the one message about TabToken being u

[2017-03-16 04:25] dgrove commented on #25697
Thanks! That's the correct day.

On Wed, Mar 15, 2017 at 4:16 PM, Devon Carew <notifications@github.com>
wrote:

[2017-03-16 07:50] a14n opened #57480 "Make unnecessary_lambdas configurable to exclude some cases"
On the Flutter codebase [there are some cases](https://github.com/flutter/flutter/pull/8810#issue-214534304) we'd like to exclude [for readability reason](https://github.com/flutter/flutter/pull/8595#discussion_r104559527). It'd be great to make `unnecessary_lambdas` configurable to be able to exclude those methods/functions.

[2017-03-16 09:01] lrhn commented on #29086
In a non-minified run, the error is:
[code]
so it's the `BrokenClassMirror` that throws.

Since it throws an `UnimplementedError`, this is probably deliberate. Dart2js doesn't implement the full mirror library.

[2017-03-16 09:57] peter-ahe-google commented on #28955
I want to be sure that there's no confusion here: running `pkg/front_end/*` tests on the Dart VM is absolutely critical, but yes, we can skip them on browsers if that's helpful. However, it might also be valuable to check these tests for asynchronous pitfalls.

[2017-03-16 10:00] MikeMitterer commented on #26953
Just tried to install it on Raspi - `apt-cache search` can't find the dart packages.
And yes - dart is in my sources.list.d but the problem is it's contents
    deb [arch=amd64] https://storage.googleapis.com/download.dartlang.org/linux/debian stable main

Tried to change the architecture to arm, armhf - nothing worked.

    wget https://storage.googleapis.com/dart-archive/channels/stable/release/

[2017-03-16 10:07] peter-ahe-google commented on #28614
When running a program in Emacs, colors aren't available, yet it is a terminal, so I don't think hard-coding Platform.ansiSupported is a good solution. As this feature is implemented now, dart2js and Fasta won't be able to use to detect if colors are supported on Mac and Linux.

[2017-03-16 10:13] BlackHC commented on #29085
Thank you!

[2017-03-16 11:14] aelayeb opened #29087 "Adding an argument packing/unpacking synthax"
It would be nice to be able to pack/unpack arguments in Dart.

For **packing** example, being able to declare a function like this :
[code]
And then doing this :
`packArguments("I", "Put", "whatever", "I", "want, arg1: "A", arg2: 1);`
Would display :
[code]
As for **unpacking**, being able to do something like that :

[code]

This feature would be especially useful in flutter when methods can have

[2017-03-16 11:39] peter-ahe-google commented on #28614
We can't get this to work on Windows 10. We've tried both in Command Prompt and Windows PowerShell.

Are there any other settings we need to enable?

@karlklose

[2017-03-16 11:54] lukechurch opened #29088 "In memory only analysis has regressed, need to migrate Dart-Services to new API"
This is a counterpart bug for https://github.com/dart-lang/dart-services/issues/286. @mit-mit requested a bug to be filed here so progress can be tracked as part for the release. This is currently blocking upgrading DartPad.

Summary:

- DartPad uses analyzer to analyze source that are in memory only, they should not materialised to disk
- The API for doing this appears to have regressed, @danrube

[2017-03-16 12:45] DmitryOlshansky-google opened #29089 "Fasta compiler explicitly passes default arguments at the call site"
This turned out to be a problem at least in one of benchmarks - RegExp.
A critical function didn't get inlined because it grew larger due to extra parameter passing.

[2017-03-16 13:02] whesse commented on #28925
I don't see many bots on the main waterfall that are running pub. Only the pub and pkg bots.  What do you mean about the sdk bots?  Which sdk bots are running pub?

I'll put the environment variable in the recipes for those bots.  Environment variables are kind of tricky, because we can't just set them on the builders - they get cleared.  Every step that runs a command needs to have that extra env

[2017-03-16 13:48] whesse commented on #28955
The current work that needs to be done first, I think, is:
Using a script or a shell script, get the logs with the flaky timeouts from the dart2js-windows columns in the buildbot.  Each column can be done separately, since every test only runs on one of the shards, and which shard it is is deterministic.  Each step can also be done separately, since most steps don't have any failures they can be s

[2017-03-16 14:00] bwilkerson commented on #29088
@scheglov I'm guessing that we (also?) need to make it possible for the byte store to be kept in memory rather than on disk.

[2017-03-16 14:41] whesse commented on #28925
To be clear: you want this environment variable set on all the buildbot steps that run pub.
If someone manually runs "tools/test.py pkgbuild" on their local machine, this variable won't be set.

[2017-03-16 15:35] devoncarew commented on #29088
@lukechurch, can we instead change the dartpad back-end to write a file to disk? This would not then be blocked by analysis server changes, and would be a fairly small task IIRC.

[2017-03-16 15:39] stereotype441 opened #29090 "Eliminate front_end / analyzer circularity"

[2017-03-16 15:51] kevmoo commented on #28925
Is there a common entry point that runs pub in these cases? Could we wrap those and set the environment?

...I don't consider these cases to be a big deal, though. Just want to be able to sample out the big cases...

[2017-03-16 16:42] yjbanov opened #29091 "Navigate from `var` to the declaration of inferred type"
If I have an unannotated variable whose type is inferred by the analyzer, I'd like to be able to navigate (e.g. via Ctrl + Left Click in IntelliJ) to the declaration of said type.

Example:

[code]

[2017-03-16 17:10] bwilkerson commented on #29091
I like that suggestion! Thanks!

[2017-03-16 17:15] alexeieleusis opened #57481 "False positive in overridden_fields"
The rule is not verifying that the base class field has the `@virtual` annotation which allows the field to be overridden in strong mode.

[2017-03-16 17:35] scheglov commented on #29088
Do we have problems with memory-only files in Analysis Server?
The idea was that if you send `analysis.updateContent` with `AddContentOverlay`, you can "create" files in memory without writing anything to the file system.

[2017-03-16 17:36] #28924 closed

[2017-03-16 17:45] johnmccutchan opened #29092 "Service::HandleIsolateMessage needs to return a status to the message handler"
If a service RPC handler results in an UnwindError we need a way to signal that back to the message handler so it can exit.

FYI @rmacnak-google @turnidge @zanderso @a-siva

[2017-03-16 17:51] #29085 closed

[2017-03-16 18:09] #57477 closed

[2017-03-16 18:33] floitschG commented on #28736
Unfortunately the coredumps aren't recorded, because the crash happens in a nested process.

Today we had a similar crash. https://build.chromium.org/p/client.dart/builders/vm-linux-release-simmips-be/builds/4724/steps/checked%20vm%20tests/logs/stdio

[code]

[2017-03-16 18:53] isoos opened #29093 "Make Dartium ServiceWorker-friendly"
Currently it is not possible to develop ServiceWorkers with Dartium (45.0.2454.104). A few items I've found blocker (so far):

- While Chrome has a special tab (Application / Service Workers) for checking their status and unregistering them, Dartium has no similar screen.

- Neither the `dart:html` version, nor the `package:service_worker` (using `package:js`) seems to work for various different r

[2017-03-16 18:53] floitschG commented on #28955
I just committed a small library that allows us to download logs via logdog:
https://github.com/dart-lang/sdk/blob/master/tools/gardening/lib/src/logdog.dart

This should allow us to fetch logs from a longer period, thus showing us which tests fail the most often.

[2017-03-16 19:03] floitschG opened #29094 "issue21159_test crashed on VM."
Issue21159_test just crashed on the buildbot.
See attached core file and the tar.gz.

https://build.chromium.org/p/client.dart/builders/vm-linux-release-x64-reload-rollback-be/builds/3438/steps/checked%20vm%20tests/logs/stdio

[code]
[core.13993.tar.gz](https://github.com/dart-lang/sdk/files/848731/core.13993.tar.gz)
[release_x64_dart.tar.gz](https://github.com/dart-lang/sdk/files/848732/release_x

[2017-03-16 19:24] jmesserly commented on #29062
it's fixed in https://codereview.chromium.org/2456803004/, @vsmenon has pulled it out into a CL

[2017-03-16 19:54] #29062 closed

[2017-03-16 20:12] srawlins opened #29095 "analyzer machine format does not escape newlines"
`STRONG_MODE_COULD_NOT_INFER` might be the first analyzer error [with newlines in the message](https://github.com/dart-lang/sdk/blob/strong_mode_inference/pkg/analyzer/lib/src/generated/type_system.dart#L2040..L2066). These do not get escaped in the `--format=machine` output of analyzer:

[code]

I'm hoping that processors of the machine format are not expected to handle these. Newlines are suppos

[2017-03-16 20:12] srawlins commented on #29095
CC @jmesserly @skybrian @bwilkerson

[2017-03-16 20:20] zanderso opened #29096 "file.dart test suite failures"
On https://github.com/google/file.dart/issues/56, @tvolkert has noted inconsistencies in test outcomes between Windows and other platforms. I'm mirroring this in the Dart issue tracker so that we don't lose track of it, and to keep more fine-grained notes:

These tests from https://github.com/google/file.dart/blob/master/test/local_test.dart either fail when they should succeed or succeed when the

[2017-03-16 20:24] bwilkerson commented on #29095
Is this is creating problems for you? (Does it need to be a P1 issue?)

[2017-03-16 20:24] tvolkert commented on #29096
... or return an unexpected value (e.g. when we expect `true` from `exists()`, but the result is `false`)

[2017-03-16 20:31] skybrian commented on #29095
Sounds like it. It will break our analyzer tests whenever this error appears, since the parser will give up.

(Longer term, this is a good reason to switch to JSON.)

[2017-03-16 20:33] bwilkerson commented on #29095
(We won't switch, for backward compatibility reasons, but we could add a new 'json' format.)

[2017-03-16 20:36] filiph commented on #29093
The simplest possible 'fix' for Dartium is to just ignore ServiceWorker altogether.

Right now Dartium crashes the app (outside userspace, so un-catch-ably). That means that once the user starts playing around with ServiceWorker, Dartium stops to be an option, and they suddenly have to deal with looong dart2js refreshes, even when not working on SW stuff.

Since ServiceWorker is a _progressive_ en

[2017-03-16 20:41] jmesserly commented on #29095
Thanks! I can take a look at this since it's related to my CL.

[2017-03-16 20:46] jmesserly commented on #29095
@skybrian I can escape these pretty easily, but is there any way to verify that my fix works? Where does the code that consumes machine format live?

[2017-03-16 20:48] #57462 closed

[2017-03-16 20:48] bwilkerson commented on #29095
You could get a first approximation by running analyzer with `--format=machine` on a file that will produce a multi-line error message and see whether it outputs `\n` in place of line feeds.

[2017-03-16 21:07] mhausner commented on #29066
https://codereview.chromium.org/2751523009/

[2017-03-16 21:07] mhausner commented on #29067
https://codereview.chromium.org/2751523009/

[2017-03-16 21:14] srawlins commented on #29095
This issue is high priority for me, but I can also do the fix, if called upon. I also just wanted to make sure of the answer on whether the machine format _should_ escape those newlines (looks like no one is objecting to that).

If `\n` is replaced with `\\n`, then we can unescape it when parsing the machine output (same as if the message has `\\|` in it).

[2017-03-16 21:15] jmesserly commented on #29095
yeah, that sounds right @srawlins

[2017-03-16 21:23] lrhn commented on #29087
This is effectively varargs/rest parameters (so a duplicate of #16253).

The most likely approach in Dart would be rest parameters for "packing" and perhaps a spread operator for "unpacking".

[2017-03-16 21:23] #29087 closed

[2017-03-16 21:42] mhausner commented on #29067
Fixed in e78b828d101c24f7e2f0c005a38a2b0555d879a7.

[2017-03-16 21:42] #29067 closed

[2017-03-16 21:42] mhausner commented on #29066
Fixed in e78b828d101c24f7e2f0c005a38a2b0555d879a7.

[2017-03-16 21:42] #29066 closed

[2017-03-16 22:28] johnmccutchan commented on #27898
@zanderso what is the life cycle of sockets?

The full reload (R) kills the old isolate and spawns a new one. How long are the sockets from the old isolate  going to stay around for?

[2017-03-16 22:34] sigmundch opened #29097 "evaluate optimization for instanceof-interface"
It might be possible to optimize `is`checks if we know that the target is an interface and that all implementations of that interface are also derived from a common base class that implements such interface. For example in this code:

[code]

We should be able to compile `x is I`as `x is A`. That would allow us to tree-shake the interface entirely and possibly make the check more efficient.

/cc @

[2017-03-16 22:48] a14n opened #57482 "unnecessary_this doesn't apply for inherited member"
The following code should provide a lint (but it doesn't)

[code]

[2017-03-16 22:54] goderbauer commented on #28984
On my Windows 10 system that reports `Platform.ansiSupport` as `true` I still cannot seem to read function key presses.

[2017-03-16 23:04] goderbauer commented on #28995
I can confirm that this is fixed now! Thanks! \o/

[2017-03-16 23:55] goderbauer commented on #28984
My mistake. I was accidentally running with an old Dart version. I can confirm that this works now! Thanks for the fix!

[2017-03-17 00:27] Hixie opened #29098 "Can't initialize constants from other constants"
[code]

[2017-03-17 01:16] crelier commented on #29094
The test language/issue_22780_test/01 is apparently causing the same issue.

[2017-03-17 06:45] zanderso commented on #28614
Only very recent Windows 10 builds support both ANSI input and output. Less recent builds support output, but not input. Still earlier Windows 10 builds support neither.

Because of this, I'm moving `ansiSupported` off of `Platform` and adding it as an instance getter on both `Stdin` and `Stdout`.

As for Mac, Linux, etc. I don't think we're going to get a perfect solution here. I don't think we s

[2017-03-17 06:54] zoechi commented on #28601
Is this still valid? #28117

[2017-03-17 07:08] goderbauer commented on #28614
Here's what my research on the subject turned up:
* Windows 10 Version 1511 (OS build 10586) is the first one to support ANSI output. It was released on November 12, 2015.
* Windows 10 Version 1607 (OS build 14393) is the first one to support ANSI input. It was released on August 2, 2016.

`Platform.ansiSupported` currently only returns `true` on Windows 10 Version 1607 or newer. Once @zanderso's

[2017-03-17 10:36] alsemenov opened #29099 "Please, clarify EventSink description"
The interface [EventSink ](https://api.dartlang.org/stable/1.21.1/dart-async/EventSink-class.html)declares the following methods:

It is not clear what will happen if `add` or `addError` is called after the event sink is closed.
Whether supplied events will be silently ignored or some exception will be thrown?
Or may be implementors of the interface are free to select the behavior?

Also descripti

[2017-03-17 11:16] peter-ahe-google opened #29100 "Type parameters missing from typed_data.dart."
[code]

[2017-03-17 12:46] peter-ahe-google commented on #29100
To reproduce these warnings:

1. patch in [CL 2755983002](https://codereview.chromium.org/2755983002).
2. Remove the TODO in pkg/front_end/lib/src/fasta/kernel/kernel_class_builder.dart marked with this bug.
3. Build the target runtime_kernel.

[2017-03-17 15:07] bwilkerson commented on #29080
I also see this. I don't know any specific set of steps that will reliably reproduce the problem, but my impression is that the only requirement is that I open some files in the analyzer package and start editing them. (I believe that I have even seen this behavior while editing comments.) I will spend some time today trying to get reproduction steps for you. Hopefully Konstantin can do the same.

[2017-03-17 15:45] #28854 closed

[2017-03-17 15:46] leafpetersen commented on #28601
Closing since fields are becoming virtual by default.

[2017-03-17 15:46] #28601 closed

[2017-03-17 16:00] dgrove commented on #28919
any updates on this?

[2017-03-17 16:50] kevmoo commented on #28925
Commit - https://github.com/dart-lang/package-bots/commit/6147541a417c631564fd36eeba7ee5d9f5ec1e38

@whesse would we call this "done"?

[2017-03-17 17:05] goderbauer opened #29101 "Crash when printing non-ASCII to PowerShell in Chinese Windows"
A user of Flutter (@goodev) is reporting that the Dart VM crashes when executing `flutter doctor` in PowerShell on his Chinese version of Windows 7:

[code]

It crashes when the first non-ASCII character (√) is supposed to be printed. This is happening on the most recent version of PowerShell (version 5). The customer reports that everything works fine in cmd:

[code]

The full discussion of this

[2017-03-17 17:18] fsc8000 commented on #29080
Thanks. More detailed instructions would be very helpful! Ideally, starting from a fresh IDEA installation. Also, is this only on MacOS , or also on Linux?

Also, you can run with ```--print-ast --print-scopes --trace_debugger_stacktrace``` until the ```Encountered context mismatch``` shows up. That may help in tracking down the issue.

[2017-03-17 17:25] scheglov commented on #29080
Is it possible to redirect output generated by these flags to a file? Analysis Server uses stdout to communicate with its client, and additional output causes the client to restart the server.

[2017-03-17 17:26] bwilkerson commented on #29080
I was about to ask the same question. :-)

I have only run this on my Mac.

[2017-03-17 17:26] fsc8000 commented on #29080
No, they are printed to stdout or stderr.

[2017-03-17 17:45] bwilkerson commented on #29080
Unfortunately, I don't think we can use flags that cause output to stdout, nor do I know how we would capture data written to stderr.

The good news is I am able to reproduce the behavior, though it appears to be somewhat non-deterministic. I have reliably produces the behavior 3 times in a row, but the exact timing and sequence of steps varies slightly.

1. I configured IntelliJ to have the follo

[2017-03-17 17:47] fsc8000 commented on #29080
The following patch makes the --print-ast and --print-scopes output print to stderr:
[code]

[2017-03-17 18:06] Hixie commented on #29098
For what it's worth, this causes problems in Flutter at the moment. We want as many of our widgets to be instantiated `const` as possible, because it results in dramatic performance improvements (10x in some cases, because it allows us to recognise that an entire subtree hasn't changed and we can therefore shortcircuit huge tree walks). Some of these widgets are configured from the fields of other

[2017-03-17 18:30] fsc8000 commented on #29080
@bwilkerson I followed your steps, now on MacOS, but still no success. I don't see a crash/restart happening. There seems to be a bit of state missing in my workspace.

[2017-03-17 18:30] zanderso commented on #29101
I think there are two problems here. From the flutter issue, it looks like the message in the OSError is "操作成功完成" which Google translate tells me is "Operation completed successfully." This means that we (or the CRT) are swallowing the error somewhere. That is, _write() is returning < 0, but GetLastError() indicates success. It looks like _write() is more consistent about setting errno on an error

[2017-03-17 18:41] goderbauer opened #29102 "Odd output of pub in Git Bash and Cygwin on Windows"
[code]

The output `find: ‘>     bin [’: No such file or directory` seems odd. Other than that, it seems to work as expected.

[2017-03-17 18:43] #57481 closed

[2017-03-17 18:44] goderbauer commented on #29102
Related: https://github.com/flutter/flutter/issues/8860.

[2017-03-17 19:25] bwilkerson commented on #29080
That's possible. Unfortunately, I don't know off-hand what it would be.

[2017-03-17 19:33] kevmoo commented on #29102
Has this changed w/ the new windows stdout/err work?

[2017-03-17 19:34] kevmoo commented on #29093
We're not going to get this working in Dartium. DDC will be our dev path here.

CC @jacob314 @terrylucas @dgrove for commentary, if any

[2017-03-17 19:34] #29093 closed

[2017-03-17 19:35] kevmoo commented on #29084
@BlackHC context? What are you running here? Which library?

[2017-03-17 19:36] goderbauer commented on #29102
Nope. Previous Dart versions also had the same problem.

[2017-03-17 20:06] fsc8000 commented on #29080
Can you try running with a debug build SDK?

[2017-03-17 20:09] bwilkerson commented on #29080
Sure. Kicking off a debug build now.

[2017-03-17 20:22] peter-ahe-google commented on #28614
@zanderso I agree, the only option for Linux and Mac appears to link with `ncurses`, and that's not attractive. I hadn't checked the details of how `tput` was implemented. Thank you for fixing this so quickly, I look forward to trying out the colors on Windows next week.

[2017-03-17 20:35] niccolox opened #29103 "PATENTS and LICENSE and competition with core Google products?"
hi there

don't want to come across as a troll here but I'd like a plain English language interpretation of the PATENTS and LICENSE documents included in Dart Lang SDK

hypothetically, could I use Dart Lang SDK and Angular Dart to make a competing product to Adwords / Adsense ?

do I then risk losing my license by "inducing infringement" ?

I know quite a few companies chose not to use React JS be

[2017-03-17 20:36] zanderso commented on #27898
If neither side explicitly closes the connection, the open socket appears to languish in the eventhandler, whether or not the Dart object wrapping the socket disappears. The person who designed the socket lifetime probably didn't anticipate any sort of reload. I think it should be straightforward to attach a finalizer to the Dart object at the point where we write the native field, but I'll have t

[2017-03-17 20:47] bwilkerson commented on #29080
Successfully reproduced the crash. Is there any way to get debugging data that isn't printed to stdout or stderr?

[2017-03-17 20:48] lrhn commented on #29098
There are breaking changes and *breaking changes*. Not everything is a breaking change, or even potentially a breaking change. Refactoring is exactly about doing semantics preserving restructuring. It's based on some changes being *safe* and non-breaking.

There are things that clients of your code can reasonably depend on, and things that are not reasonable (unless you go out of your way to promi

[2017-03-17 21:01] leafpetersen commented on #28668
https://codereview.chromium.org/2752423003/

[2017-03-17 21:02] fsc8000 commented on #29080
Thanks! The debug build won't not print more than the release build, but it has assertions enabled would help us if an assertion failure occurs before the crash. If there is no assertion failure it won't help much :(

Could you send us a core-file of the crash that we could inspect using gdb?

[2017-03-17 21:10] Hixie commented on #29098
I'm not convinced that there's a difference between a breaking change that breaks something documented as unstable and a breaking change that breaks something implied to be stable due to some language policy. In either case, your client is broken. In either case, you risk losing them.

[2017-03-17 21:13] goderbauer opened #29104 "In 1.23.0-dev.9.0 Ctrl+C doesn't work on Windows"
It's all in the title. I am running the following script on Windows Version 10.0.14393 and I am unable to exit out of it with Ctrl+C:

[code]
In addition to that, when I register a ProcessSignal handler for SIGINT it is never called when pressing Ctrl+C.

/cc @zanderso

[2017-03-17 21:23] zanderso commented on #29104
This does not repro on Windows 7. I'll give it a shot on Windows 10 later today.

[2017-03-17 21:25] bwilkerson commented on #29080
How do I cause a core-file to be created (or where would I look for one if it's created automatically)?

[2017-03-17 21:30] #28668 closed

[2017-03-17 21:34] fsc8000 commented on #29080
They should be in ```/cores/``` on MacOS. You can check if coredumps are enabled: ```sysctl kern.coredump``` which should display 1 if enabled.

[2017-03-17 21:41] goderbauer commented on #29104
I just tried it on my other Windows 10 machine: same problem.

[2017-03-17 21:48] bwilkerson commented on #29080
[code]
It looks like dumps are enabled, but there aren't any in that directory.

[2017-03-17 21:50] lrhn commented on #29098
You do have a point. That is why it is so important to know which changes are *not* breaking changes in any way. Switching between a getter and field (with the same visible semantics, obviously) is always a non-breaking change. That's a good thing.

[2017-03-17 22:03] Hixie commented on #29098
It's not, actually.

Take this code:

[code]

...which compiles cleanly, executes cleanly, and has no analyzer warnings.

Now remove the getter and replace it with a field. The analyzer fails with a STRONG_MODE_INVALID_FIELD_OVERRIDE error.

[code]

[2017-03-17 22:17] jsiedentop commented on #28023
I've got the same error. I could solve it by commenting an import out (once 'dart:io' and the other time 'dart:async'). I believe, it was not necessary wich one I've choose. I think by changing the an import, the analyzer refreshed the whole file. My SDK Version was 1.22.1 (actual sdk in stable channel).

[2017-03-17 22:36] kevmoo opened #29105 "dartanalyzer crashing against pkg/angular2 @ 2.2.0 w/ --strong"
Dart VM version: 1.23.0-dev.9.0 (Thu Mar 16 09:51:27 2017) on "macos_x64"

1. Sync down https://github.com/dart-lang/angular2
1. cd angular2
1. `git checkout -b old_ver 655d2b49000fee008d834cdb0ff2dfed8bbca2b4` – the 2.2.0 release
1. `dartanalyzer --strong .`

Expected: it works!

Actual:

Many things...
[code]

[2017-03-17 23:10] Hixie opened #29106 ""Missing concrete implementation" should also imply an implementation"
Consider this file:

[code]

It has one error, B doesn't implement `test()`. Even if B1-B4 all implemented `test()`, B would still have to implement it (since it's not abstract). If B implemented it, then B1-B4 would not need to implement it.

The analyzer, however, complains 5 times:

[code]

IMHO the warning on B should imply an implementation of `test`, thus silencing the other warnings (since

[2017-03-17 23:15] #28881 closed

[2017-03-17 23:19] sillsm commented on #29103
Hi, open source attorney for Dart here.

* You may use our stuff.
* Give us credit by replicating our license files in any distributions.
* Don't sue us over patents related to this, or we'll terminate any patent licenses that may or may not attach to this product.
* Feel free to make competing products. But don't claim you are Google, or are endorsed by Google.

[2017-03-17 23:31] jmesserly opened #29107 "inference could report errors when argument assignability fails"
If we succeed at downward inference, arguments are not checked by the inference system (implemented in this CL https://codereview.chromium.org/2757813002) ... however, assignability constraints (rather than subtype) might be a better way to handle argument types.

credit to @leafpetersen for this idea

[2017-03-17 23:34] jmesserly opened #29108 "improve strong mode inference error messages"
from @leafpetersen

[code]

[code]

[code]

[2017-03-17 23:40] niccolox commented on #29103
hi Max

thanks for hosing me down so quickly, dont want to be a FUD merchant

2 follow ups;

1. can I use Dart in an AGPL licensed product ?  (I see EdX is AGPL for instance )  is the current Dart license and patents addition compatible?

2. also, why are different Dart projects including the PATENTS file and some not? I am not encouraging you do add them by the way, I'd actually find it less emot

[2017-03-17 23:43] scheglov commented on #29080
I also cannot make it dump core even with debug build.

[code]

[code]

[2017-03-18 00:00] #27586 closed

[2017-03-18 00:00] #27625 closed

[2017-03-18 00:00] #27933 closed

[2017-03-18 02:02] rakudrama commented on #28919
This is what I think is going on:

During type propagation, summary edges are added from the inputs at a call site to the parameters of the target, bypassing the call. There is no node representing an argument at the call - the ssa value is used, in the case of the methods.add call, the closure.

During tracing, isAddedToContainer and isParameterOfListAddingMethod work together to decide if (1) a

[2017-03-18 03:38] JPaulsen opened #57483 "traverseNodesInDFS does not propagate excludeCriteria"
It is:
[code]
Should be:
[code]

[2017-03-18 03:41] JPaulsen opened #57484 "traverseNodesInDFS is O(N^2) and should be O(N)"
[code]

I implemented a different version that is O(N) and get a nice improvement of performance in rules like invariant_booleans that makes many calls to this function (by now)

[2017-03-18 05:46] zanderso commented on #29104
The documentation does not mention this, but it appears as though `ENABLE_PROCESSED_INPUT` is ignored when `ENABLE_VIRTUAL_TERMINAL_INPUT` is set. We will probably have to disable `ENABLE_VIRTUAL_TERMINAL_INPUT` to restore the correct Ctrl+C behavior.

[2017-03-18 11:14] lrhn commented on #29098
Yes, that is a problem with strong mode (https://github.com/dart-lang/sdk/issues/28117). It'll be fixed.

[2017-03-18 16:59] lexaknyazev opened #29109 "Strong mode gives odd const-related errors when using aliased imports"
Bug is reproducible on all versions from `1.23.0-dev.0.0` to `1.23.0-dev.9.0`.

**.analysis_options**
[code]

**lib1.dart**
[code]

**lib2.dart**
[code]

**lib3.dart**
[code]

---

The sources above give the following analyzer output (line number is always 1):
[code]

There're no errors when importing `lib3.dart` without alias.

[2017-03-18 19:07] Hixie commented on #29098
Another way this could be solved, rather than the const field issue, is by allowing compile-time-evaluatable functions to be considered const. So for example if a getter just returned a field, it could be const. That would solve many other problems too, for example it would allow const asserts to do much more elaborate tests, and would allow const Widgets to be created from lists via List.generate

[2017-03-18 22:59] rakudrama commented on #28919
Fix available: https://codereview.chromium.org/2762493002/

[2017-03-18 23:43] lrhn commented on #29098
I'm sure we can extend `const` more, but not without cost. We could make some functions markable as `const`, basically those where the body is just returning a potentially constant expression. Again, it's not something that should happen automatically, you need to opt into being const-usable, otherwise changing the function implementation will be a breaking change.

I don't think `List.generate` w

[2017-03-19 06:12] broislove commented on #29101
Hi! I have the same issue both in Cmd and PowerShell.

[code]

[code]

[2017-03-19 17:32] rakudrama commented on #29097
In the above example we tell from the type hierarchy that testing an interface type is equivalent to testing an extended-only type. We can change all `x is I` to `x is A` and remove `I` from the program. The optimization works regardless of what is in the list.

I'd rather implement _type test strength reduction_ on a per-check basis. The type hierarchy might not support the cheaper test, but we m

[2017-03-19 18:55] scheglov commented on #28821
https://codereview.chromium.org/2757143002

[2017-03-20 00:40] AndrewLugg commented on #28280
Would it be possible to build in ffmpeg into the build that is put on the website? It can be built by a googler with out licencing issues. It would just need to be left off the open source version.

[2017-03-20 09:35] peter-ahe-google opened #29110 "Constant string interpolation of symbol literals"
The specification says:

[code]

It seems odd that this doesn't include symbol literals.

[2017-03-20 09:42] peter-ahe-google commented on #29110
Similarly, it seems odd to not include enum constants.

[2017-03-20 10:01] alexander-doroshko commented on #27964
duplicate of #28538

[2017-03-20 10:01] #27964 closed

[2017-03-20 10:28] floitschG opened #29111 "dev_fs_uri_test failed"
The `service/dev_fs_uri_test` just failed on the buildbot.
It looks like a crash, but since it was in a nested process no core was dumped.

Link (which will go stale soon): https://build.chromium.org/p/client.dart/builders/vm-win-debug-x64-be/builds/3485/steps/checked%20vm%20tests/logs/stdio

Relevant output:
[code]

[2017-03-20 10:37] alexander-doroshko opened #29112 "Find Usages doesn't work for classes/methods/etc. defined in the SDK"
SDK 1.23-dev.9.0, Find Usages gives no results until you open `bool.dart` in editor.
![image](https://cloud.githubusercontent.com/assets/4499789/24096246/ec10fb04-0d71-11e7-8798-e9f1c4529a75.png)

[2017-03-20 10:45] alexander-doroshko opened #29113 "Line markers 'Has implementations', 'Is overridden' do not work since SDK 1.23"
Analysis Server never sends [analysis.implemented](https://htmlpreview.github.io/?https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/doc/api.html#notification_analysis.implemented) notification (SDK 1.23-dev.9.0).

[2017-03-20 11:56] mraleph commented on #29080
Here a simple repro to reproduce similar crashes:

[code]

Run the test with this modification and you will get crashes with similar stack traces:

[code]

[2017-03-20 12:01] mraleph commented on #29080
[Note: it might not be the same issue - but it does show that there are some problems with this code. We need a much better - potentially *stress* - coverage for stack walking]

[2017-03-20 12:37] terrylucas commented on #28280
Andrew,

I would be hesitant to try in put this in roll 50 (Chromium version 50).  Chrome/Chromium has no intention to support ffmpeg its a convience.  In addition, I'm not sure it would even work with 50 - it quite a bit of work with Chromium 58, etc.

https://cs.chromium.org/chromium/src/third_party/ffmpeg/README.chromium

In addition, the rolling instructions for Chromium with ffmpeg is quite i

[2017-03-20 12:45] whesse commented on #28925
There is also the commit https://chromium-review.googlesource.com/c/456296/, which affects the pkg bots on the main waterfall.  The pub bots on the main waterfall are only running all the pub unit tests, using the test package.  These may run some parts of pub, also in subprocesses, but we don't have control over that.  We could add the environment variable to the commands that run the tests, if i

[2017-03-20 14:25] johnmccutchan commented on #29094
@fsc8000 can you take a look at this?

[2017-03-20 14:31] johnmccutchan commented on #27898
@zanderso Thanks for the clarification. We will need to the sockets closed as soon as the isolate dies. I don't think it matters whether or not we call "close" because the isolate is *dead*.

[2017-03-20 15:12] whesse opened #29114 "Kernel unittest expectations need rebase after dartformatting"
After CL https://codereview.chromium.org/2747113004, the kernel unit tests fail because they have
some expectation files specifying line numbers in the kernel source.  Please run the scripts to
create new baselines for these tests.

The first error of this type, from the builder pkg-linux-release-be, is:

FAILED: none-vm-checked release_x64 pkg/kernel/test/baseline_strong_mode_test
Expected: Pass

[2017-03-20 15:20] patkujawa-wf commented on #28023
I rely on the analyzer as it's used in PyCharm (likely the same for all JetBrains IDEs), and I've found that cutting and pasting the line that the error points too causes the analyzer to re-evaluate and fix itself (maybe not every time, but I think quite often). However, it's often easier to just kill and restart the analyzer or restart pycharm.

[2017-03-20 15:47] #29092 closed

[2017-03-20 16:35] manuelF commented on #29003
Ping on this. Any progress?

[2017-03-20 16:38] mhausner commented on #27681
I suspect this will be obsolete with the new front-end, but it needs to be verified.

[2017-03-20 16:39] mhausner commented on #25748
Still reproduces on the VM.

[2017-03-20 18:17] goderbauer commented on #29096
We have the first report from a Flutter user who was experiencing a crash on Windows, which was most likely caused by `resolveSymbolicLinks` not working properly on Windows (see https://github.com/flutter/flutter/issues/8882).

[2017-03-20 18:41] gabrc opened #29115 "Inconsistencies of Dart grammar in the Specification"
I found the following inconsistencies regarding some grammar productions between the Dart Language Specification (4th ed, Dec 2016) and the Dart compiler implementation. They should simply require a fix to the spec.

* In **topLevelDefinition**, the spec does not allow **staticFinalDeclarationList** to contain **metadata**, but the compiler allows it.

* In **topLevelDefinition**, the spec require

[2017-03-20 18:44] gabrc opened #29116 "Why allow multiple combinators in importSpecification?"
According to the *Dart Language Specification*, **importSpecification** allows multiple **combinator**s. This is also allowed by the compiler.

However, there does not seem to be any good reason to use multiple combinators. Should the use of multiple combinators be deprecated?

[2017-03-20 19:15] jmesserly commented on #29003
Unfortunately no! @vsmenon is out sick and I'm working on some other things to unblock the roll into our internal codebase. We'll post updates once we get to this one.

I think it should be possible to workaround this easily: just use the other mixin, not the renamed one. So `class UsesMixin extends Object with TestMixin2 { }` in your example. Alternatively you can extend it: `class UsesMixin exte

[2017-03-20 19:17] jmesserly commented on #29108
I think we'd like to get this in 1.23 as it will improve usability of the error messages. (So, a really good tradeoff in terms of effort to user happiness.)

[2017-03-20 19:44] AndrewLugg commented on #28280
Ffmpeg is in Chrome, just not chromium. The problem comes from that; Dartium is suppose to be as close to Chrome as it can be, with Dart VM.

Our company runs into problems without the codecs, as we develop using the WebAudioAPI, and the only codec that works on all browsers is AAC (and WAV, but filesizes), which is fine once we get it into Chrome or Safari, but all our development occurs in Darti

[2017-03-20 19:55] bwilkerson commented on #29108
That would be great, but at this point the question might be: is it essential that this happen for 1.23 (that is, should we hold up the release because of this). From that perspective, I'd remove the milestone.

[2017-03-20 19:56] jmesserly commented on #29108
yes. I will do it today, so hopefully this point becomes moot.

[2017-03-20 20:08] kevmoo commented on #28280
@AndrewLugg we're quite limited here. The only folks that can deploy capital-C "Chrome" is the Chrome team. There are limitations with codec licensing, etc that limit us to only building on the completely open-source Chromium project.

We're working hard on a fast JS dev model that doesn't require Dartium at all: `dev_compiler` (also called DDC).

Source: https://github.com/dart-lang/sdk/tree/mast

[2017-03-20 20:14] zanderso commented on #28984
Need to reopen this as there is a conflict between ENABLE_VIRTUAL_TERMINAL_INPUT and ENABLE_PROCESSED_INPUT, which causes ctrl-c to be ignored when function key presses are detected.

https://codereview.chromium.org/2763543003/

[2017-03-20 20:32] scheglov commented on #29080
BTW, I see the same crash on internal Linux too.

[2017-03-20 20:35] goderbauer commented on #28984
An update from the Flutter-side: After some discussion, we completely removed all functionality related to detecting function key presses because it doesn't work great on any of the platforms we support. So, this particular issue is no longer relevant for Flutter. Having Ctrl+C work and being able to print ANSI colors is much more important for us.

[2017-03-20 20:35] #29104 closed

[2017-03-20 20:38] zanderso commented on #28984
In that case, I'll close the issue again.

[2017-03-20 20:38] #28984 closed

[2017-03-20 20:55] fsc8000 commented on #29080
@mraleph This is definitely an issue. I'm working on a fix for your repro.

@scheglov  I'm just puzzled how the analyzer would trigger this. The reason is that we can only go there if flag  ```--pause_isolates_on_unhandled_exceptions``` is set.

[2017-03-20 20:58] scheglov commented on #29080
Here is the list of options that I pass to Dart VM.
[code]

[2017-03-20 20:59] fsc8000 commented on #29080
Ok, the --observe explains it. Thanks.

[2017-03-20 21:01] fsc8000 commented on #29080
You may not want to pass those options by default  for users actually (--observe, --code-comments consume extra memory)

[2017-03-20 21:03] goderbauer opened #29117 "resolveSymbolicLinksSync always throws on Windows"
`resolveSymbolicLinksSync ` seems to always throw an exception on Windows. As an example I have the following program in `test.dart`:

[code]

When executed on Windows 10.0.14393 it throws the following exception:
[code]

Flutter users are running into this issue, see https://github.com/flutter/flutter/issues/8882.
Possibly related to https://github.com/dart-lang/sdk/issues/29096.

[2017-03-20 21:04] scheglov commented on #29080
Thank you for the warning.
No, we don't do this for users.
But I like to have these on my machines, to be able to see performance and memory statistics.

[2017-03-20 21:06] fsc8000 commented on #29080
Thanks for the info! Also, that may explain why I could not reproduce it in the first place.

[2017-03-20 21:19] Hixie commented on #28466
I just ran into this again. This change: https://github.com/flutter/flutter/pull/8853
...didn't get understood as a semantic change. I had to delete my `.dartServer` directory to get it to work.

[2017-03-20 21:23] yyoon opened #57485 "prefer_final_fields false positives"
[code]

The prefer_final_fields rule reports that `_value` can be final, which is a false positive.
If I change
[code]
to
[code]
then the warning goes away.

[2017-03-20 21:23] Hixie commented on #28966
Similar problem with `double.clamp()`. I had accidentally given it double.INFINITY for the first argument (instead of -double.INFINITY) and it just told me that wasn't a valid value, not that the lower bound was greater than the upper bound, which would have been much more helpful.

[2017-03-20 21:26] scheglov commented on #28466
The full version of SDK?

[2017-03-20 21:29] devoncarew commented on #28466
It looks like it's `1.23.0-dev.9.0` (from https://github.com/flutter/flutter/blob/master/bin/internal/dart-sdk.version).

[2017-03-20 21:31] devoncarew commented on #28466
@Hixie, are you switching between branches that use different versions of the dart sdk for analysis? `flutter analyze --watch` doesn't restart itself if the dart-sdk.version files changes - I'm wondering if that's the issue.

[2017-03-20 21:44] leafpetersen commented on #29091
+1!

[2017-03-20 21:51] dgrove commented on #28944
This should be targeted for 1.24, right?

/cc @munificent

[2017-03-20 21:51] MichaelRFairhurst commented on #28993
Also ran into this one:

[code]

notice the pesky `part` keyword there.

[code]

[2017-03-20 21:52] dgrove commented on #28809
@bwilkerson what's remaining here?

[2017-03-20 21:53] dgrove commented on #28580
Is this likely to make it for 1.23?

[2017-03-20 21:54] dgrove commented on #28514
@sigmundch what needs to happen for 1.23?

[2017-03-20 21:55] dgrove commented on #28219
@scheglov Is there any issue tracking moving DDC to the analysis driver? That is starting to sound scary for 1.23.

[2017-03-20 21:56] dgrove commented on #28164
Can this be closed?

[2017-03-20 21:56] dgrove commented on #28122
Any updates here?

[2017-03-20 21:57] goderbauer commented on #29117
Giving an absolute path doesn't throw. The following works as expected:

[code]

This also works as expected:

[code]

Looks like just relative paths don't work on Windows? They seem to work on my Linux machine, though.

[2017-03-20 21:57] scheglov opened #29118 "Move DDC to using the new analysis driver"
The current status for running DDC presubmit checks:
[code]

[2017-03-20 21:58] dgrove commented on #28101
@floitschG can this be assigned to the right person?

[2017-03-20 22:00] dgrove commented on #27255
This is waiting for the new AngularDart code generator, so should be moved to 1.24. Do you agree, @vsmenon ?

[2017-03-20 22:02] vsmenon commented on #27255
Yes, moved it.

[2017-03-20 22:03] jmesserly commented on #29108
https://codereview.chromium.org/2757233004/

[2017-03-20 22:05] scheglov commented on #28580
Yes, I think so.

[2017-03-20 22:05] jmesserly commented on #29118
what are the 3 tests, out of curiosity? could it be expected failures because the inference behavior changed (per the new spec)?

[2017-03-20 22:05] Hixie commented on #28466
I definitely sometimes switch branches across versions, but I always restart the analyzer to see if that fixes it, if there are unexpected errors like this.

[2017-03-20 22:08] scheglov commented on #29118
Analysis Server crashes (I think with stack overflow) in:
[code]

For example on this:

[code]
What is expected to happen here at all?
I find it hard to track all the informal specification changes floating around.

[2017-03-20 22:17] jmesserly commented on #29118
it's supposed to be a compile time error, right?

[2017-03-20 22:18] scheglov commented on #29118
Yes, I think so.

[2017-03-20 22:57] leafpetersen commented on #14729
Why do you say that?  I haven't tested it, but on quick read through, I don't really see a reason why either would fail.

[2017-03-20 23:26] lrhn commented on #29116
There is never a need for more than one combinator, as long as we only have the current combinators.

It's not a problem, though, so we have no plan to change it.
If we ever add more combinators, say a "rename" combinator, then it might become useful to have more than one.

[2017-03-20 23:26] #29116 closed

[2017-03-20 23:28] lrhn commented on #29110
Since we haven't specified the behavior of `Symbol.toString`, allowing it as a constant is a little iffy.
Enums doesn't have that problem (their `toString` is just annoyingly useless in most cases, so the damage is minimal).,

[2017-03-20 23:33] leafpetersen commented on #28651
This isn't new to strong mode, by the way.  Dart 1.0 has the same issue (not for dynamic, since dynamic is magic, but use Object instead and you get the same behavior).

What is the rule that you think you would like?

[2017-03-20 23:48] #57483 closed

[2017-03-20 23:54] dgrove commented on #27260
@munificent any updates here? Do we need this for 1.23?

[2017-03-21 00:01] goderbauer commented on #29101
Looks like this is not limited to Windows 7. Just got a report with the same problem on Windows 8.1 (French): https://github.com/flutter/flutter/issues/8860#issuecomment-287934153

[2017-03-21 00:13] #57485 closed

[2017-03-21 00:19] scheglov commented on #28821
https://github.com/dart-lang/sdk/commit/a94f43334a900905292d8f31123db2a97dcdf490

[2017-03-21 00:19] #28821 closed

[2017-03-21 01:10] scheglov commented on #28580
https://codereview.chromium.org/2762863002

[2017-03-21 01:13] #29108 closed

[2017-03-21 02:00] vsmenon opened #29119 "Use trained snapshot to build DDC in SDK"
DDC is currently not trained (actually trained on help).

I tried training it on itself, but had to revert due to a DDC windows bug:

https://github.com/dart-lang/sdk/commit/1bd92d4f04f44aa00ce63345cd161d5fa773fab0

[2017-03-21 02:00] vsmenon commented on #29119
This was the win break:
[code]

Invalid library root. E:/b/build/slave/dart-sdk-windows-be/build/sdk/pkg/dev_compiler/\ does not contain E:\b\build\slave\dart-sdk-windows-be\build\sdk\pkg\dev_compiler\bin\dartdevc.dart

#0      jsLibraryName (package:dev_compiler/src/compiler/code_generator.dart:5950:5)

#1      CodeGenerator._emitModule (package:dev_compiler/src/compiler/code_generator.dart:271:3

[2017-03-21 02:01] vsmenon commented on #29119
@jakemac53 - fyi

[2017-03-21 07:26] jimmyshiau opened #29120 "js-interop: accessing objects from allowInteropCaptureThis"
### index.html
[code]

### main.dart
[code]

### chartjs.dart
[code]

`self` from `allowInteropCaptureThis` is a `JSObject`(Internal Use Only object) not `JsObject`
so I cannot access object property with operator `[]`
https://api.dartlang.org/stable/1.22.1/dart-js/JsObject/operator_get.html

the only way I can access object property is an Internal API `JsNative.getProperty(self, 'prefix')`
is any

[2017-03-21 08:58] eernstg commented on #28164
The [abovementioned CL](https://codereview.chromium.org/2678003002/) has been landed, and that addresses this issue for 1.50 (first bullet).

We do not have a language specification for 2.0, but we do have informal specs for covariant parameters: [induced by keyword](https://github.com/dart-lang/sdk/blob/master/docs/language/informal/covariant-overrides.md), [induced by class covariance](https://g

[2017-03-21 09:29] kmillikin opened #29121 "Incorrect type arguments when compiling from Kernel"
Many of the type argument tests fail on the VM when compiling from Kernel.  It looks like we are not passing the correct type arguments to the constructor call, which need to be based on the superclasses.  One of the language tests reduces to:

[code]

The correct unoptimized flow graph has:

[code]

bet when copiled from Kernel:

[code]

@mraleph @mkustermann

[2017-03-21 09:32] eernstg commented on #29115
Thanks for reporting these issues, Gabriel! I'm currently working my way through the grammar and I have noticed them; you'll get a consistent grammar soon.

In my (half-done) grammar, I've changed `libraryDefinition` to contain `(metadata topLevelDefinition)*` rather than a plain `topLevelDefinition*`, but that entails some other adjustments in order to avoid duplication of `metadata`.

With respe

[2017-03-21 09:35] eernstg commented on #29115
You can check out the grammar I'm working on [here](https://codereview.chromium.org/2688903004/).

[2017-03-21 09:42] alexander-doroshko commented on #28905
@scheglov I see this bug in SDK 1.23-dev.9.0 that was released much later than this fix landed. But no problems with today's SDK 1.23-edge build. Just wanted to make sure the fix will appear in the next SDK dev release.

[2017-03-21 10:55] alsemenov opened #29122 "Inconsistencies in descriptions of classes and interfaces in dart:async package"
The following interfaces are defined in the [dart:async](https://api.dartlang.org/stable/1.21.1/dart-async/dart-async-library.html) package (only essential information is cited):

- Interface `Sink` is described as "A generic destination for data." So it would be logical to expect `EventSink` to be destination for events (data and errors) as well instead of "abstraction for creation and handling S

[2017-03-21 12:09] floitschG commented on #29115
Reopening until the spec is actually updated.

[2017-03-21 12:58] anders-sandholm commented on #28796
At least the "Add a deprecation notice when the old syntax is detected" part should be 1.23.
No?

[2017-03-21 13:35] jensjoha commented on #28932
This test is currently failing on vm-kernel-linux-debug-x64-be

The kernel expectation was previously "Crash, Timeout", though that was deleted in 628be2b36a760291c4cbfc57e5801bd47dca5f0f

Locally I can reproduce a "timeout" via

while [ 1 ]; do echo -n .; out/DebugX64/dart --dfe=out/DebugX64/gen/kernel-service.dart.snapshot --old_gen_heap_size=50 --no-enable-malloc-hooks --ignore-unrecognized-f
l

[2017-03-21 14:28] jensjoha opened #29123 "Class finalization issues in kernel"
Running the service tests in debug mode gets lots of errors like this:

[code]

Will skip all in debug mode for now.

[2017-03-21 14:40] peter-ahe-google commented on #28932
Can we temporarily skip this test? I sometimes fix a lot of crashes and I forget issues like this.

[2017-03-21 14:57] stefantsov commented on #28932
It is currently skipped for `dartkp`. I created a CL to skip it for both `dartk` and `dartkp`.

[2017-03-21 15:43] davidmorgan commented on #27842
User interface question: it looks like we're doing to have to double up the existing set of "local variable" highlights, leading to 8 highlights for them:

(reassigned/not) x (dynamic/not) x (declaration/reference) local variable

One alternative that comes to mind is we put the highlight on the symbol _before_ the variable name, i.e. on the "var" or the type annotation. Then we'd have one new hig

[2017-03-21 15:44] peter-ahe-google commented on #28932
Thank you @stefantsov.

[2017-03-21 15:52] bwilkerson commented on #27842
Personally, I don't think I'd like having type annotations highlighted differently based on whether the variable being defined is reassigned, but I'd have to see it to know for sure.

I will point out that Dart allows you to declare multiple variables in any given declaration
[code]
and therefore the keyword / type annotation isn't always associated with a single variable, which could lead to conf

[2017-03-21 15:57] scheglov commented on #28580
https://github.com/dart-lang/sdk/commit/ef527a9bdef02534817fcb2cada5b3d4cef34c97

[2017-03-21 15:59] dgrove commented on #28796
Is this actually happening for 1.23? I don't think there are open tasks for, say, the analyzer for 1.23.

[2017-03-21 16:12] pq opened #57486 "Update AUTHORS."
@a14n , @JPaulsen : I'd like to put you in Authors...  What emails are most appropriate to list?

Thanks in advance!

[2017-03-21 16:14] alexander-doroshko commented on #27842
For Java support in IntelliJ this is solved by using a composition of 2 or more highlighting types for the same region. For example, the fact that this is a variable causes certain foreground color and the fact that it is reassigned adds underscore.
To avoid N*M*K matrix of colors analysis server could probably provide several highlighting types for the same region and clients should be ready for

[2017-03-21 16:16] #57479 closed

[2017-03-21 16:19] bwilkerson commented on #27842
The spec says

but doesn't specify what clients should do when this happens. I suspect that server isn't currently returning such data and that it's untested on all clients, but it is a viable alternative.

[2017-03-21 16:20] sambbaron opened #29124 "Analyzer Exception - failed to resolve declarations"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA WS-171.3780.79`
- `1.22.1`
- `WS-171.3780.79, JRE 1.8.0_112-release-736-b13x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.11.6 unknown, screens 2560x1440`

## Exception

Please append the contents of:
file:///private/var/folders/9t/6gh49wjd6q78w4m09z07cz9c0000gn/T/report.txt

[code]