[2020-09-11 07:52] Peng-Qian opened #43390 "Generic Type Inheritance Checking"
#### Problem
It seems generic type inheritance checking is not easy in Dart.
Solution one will have a long checking code when subtypes amount increased.
Solution two had more creation cost at the runtime.

Is it possible to provide a handy way of checking generic type inheritance?
Such as new keyword(maybe?):
[code]
#### Functions and Type Inheritance
[code]
#### [==] check
[code]
#### [is] check

[2020-09-11 07:52] lrhn commented on #39652
The null safety rules now say that the static type of clamp is double if any argument is `double` (or if the receiver is `double`, but `double.clamp` already said that), and it is `int` if all arguments and the receiver are `int`s.

[2020-09-11 07:52] #39652 closed

[2020-09-11 08:29] rubiktubik opened #43391 "No TimeZone information in toIso8601String of DateTime"
Is there a reason why the toIso8601 [Code](https://github.com/dart-lang/sdk/blob/091c8559e30b764118e6cae612da4fdf0f6d7b81/sdk/lib/core/date_time.dart#L605) not contains the ISO8601 Timezone information?

### Code

[code]

I wondering why not `2020-09-10T09:03:00.000+02:00` ?
The difference between UTC is stored in `timeZoneOffset` and it would be ISO8601 standard.

[2020-09-11 09:29] #43392 closed

[2020-09-11 09:29] passsy opened #43392 "Lean Iterable<E> - allow iterating without support for 30 methods"
[`Iterable<E>`](https://api.dartlang.org/stable/2.1.1/dart-core/Iterable-class.html) defines 30 methods. That's too much because all an `Iterable` should do is to provide an `Iterator`. All other functions are only using the `Iterator` and are therefore not required to define an `Iterable`.

Additionally, `Iterable` can't be extended with new convenience methods. Every additional method [breaks](h

[2020-09-11 09:52] lrhn commented on #43390
If you have a type variable `<T extends Parent>` and want to check whether the type bound to `T` is a subtype of `Child`, then you can't do it directly. There are not affordances for comparing type variables directly to other types, only for checking instances against the type.

There is a simple workaround, though, using a helper class or function.

The simplest approach is:
[code]
Then you can a

[2020-09-11 11:06] mit-mit commented on #42887
@mohammadne can you clarify what issue you are having? What does your `pubspec.yaml` look like, what error are you seeing, and with which exact version of the Flutter SDK?

[2020-09-11 11:10] lrhn commented on #43375
If you have `dart:mirrors` available, then you can get the name of a symbol using `MirrorSystem.getName(symbol)`.
You can even introduce an extension for that:
[code]

[2020-09-11 11:13] Silentdoer commented on #43375
Oh, thank you, this is what i want

[2020-09-11 11:32] mraleph commented on #43025
I think this is a serious regression in functionality caused by the refactoring we did to static fields, seeing something like:

<img width="319" alt="Screenshot 2020-09-11 at 13 31 12" src="https://user-images.githubusercontent.com/131846/92920767-1f11ef80-f433-11ea-8993-0fef67ed33ef.png">

is not very helpful (especially when trying to understand issues with code base you are less familiar with)

[2020-09-11 12:05] mkustermann commented on #43025
Tentatively assigning to @aam who moved field state out of `RawField` into an array. We could change the VM to, instead of tracing through the global fields array, trace from each static `RawField` to it's value in the fields array (make an artificial edge from `RawField`)

[2020-09-11 12:07] mkustermann commented on #43387
The lightweight isolates are not supported yet in JIT mode, so I would put this on the back burner.

[2020-09-11 12:15] mkustermann commented on #43388
I think we should do the following:

* [ ] Add a `dart symbolize` command (analogous to `flutter symbolize`) - should be quite simple using `package:native_stacktraces`
* [ ] Possibly finish `dart compile aot-snapshot` / `dart compile exe` with support for dwarf stack traces
* [ ] Possibly update dart.dev with a page similar to [flutter.dev/docs/deployment/obfuscate](https://flutter.dev/docs/deplo

[2020-09-11 12:37] mkustermann commented on #43357
/cc @cskau-g

[2020-09-11 12:53] #43374 closed

[2020-09-11 13:46] eernstg commented on #42232
Indeed, it should not be a compile-time error to read `i` after the loop, and it is live code. The treatment of unreachable locations in code isn't particularly intuitive, and I must have jumped to the conclusion that `after(S)` had `i: definitely unassigned`. Anyway, thanks for the detailed analysis again! Do you have a way to get this from the analyzer or do you do it manually? ;)

[2020-09-11 14:23] stereotype441 commented on #42232
I'm doing it manually.  Hopefully soon I will be able to get the analyzer (and the CFE) to produce the correct results by fixing the implementation :)

[2020-09-11 14:41] shankarThiyagaraajan opened #43396 "Why the Type Declaration String is starts with Capital when double is with small?"
For the variable declaration, Why dart having different case types between declarations.
Ex.
**S**tring name;
**d**ouble price;

Why this difference ?
Any reason behind this?

[2020-09-11 15:10] DanTup opened #43393 "LSP server generates diagnostics for pub package files after opening with Go-to-Definition"
047c0f860a51eb54edf074b41b9aa1141abece82 introduced a bug that means if (when using the LSP server) you follow a definition into a Pub package (or end up stepping into it while debugging), an analysis root is created for the package code in the pub cache, which generates a lot of errors (because it does not resolve packages - presumably because the pub cache folders don't have `.packages` files):

[2020-09-11 15:11] DanTup commented on #43393
I have a fix at https://dart-review.googlesource.com/c/sdk/+/162508.

[2020-09-11 15:44] DanTup commented on #43393
Fixed by afc2778802422204f48b7918962dbd74bc1a348e.

[2020-09-11 15:49] lohanbodevan commented on #33920
Hey @kenzieschmoll, thanks for sharing the docs.
Is it already available on Flutter 1.20.3? I'm trying to use it but I'm getting `Could not find an option named "analyze-size"`.
I couldn't find anything about it on `flutter build apk --help`. Am I doing something wrong?

[2020-09-11 15:58] devoncarew commented on #43393
@DanTup - do you know approx how many vs code users have LSP support enabled (or will have in the next ~5 months - the growth of LSP usage)?

[2020-09-11 16:44] DanTup commented on #43393
Right now the number for VS Code is low (approx 200 users in the last month). After the next stable release I was hoping to ramp this up over time some reasonable portion (~10-20%?) to gain some confidence before changing the default. Whether the default could change prior to a subsequent stable release would depend a little on the severity of any issues found.

I don't have any numbers for non-VS

[2020-09-11 16:50] devoncarew opened #43394 "[CP][stable channel] Spurious spurious analysis errors when using analysis server's LSP mode"
**commit(s) to merge**: https://github.com/dart-lang/sdk/commit/afc2778802422204f48b7918962dbd74bc1a348e

**merge instructions**: clean merge

**What is the issue**: Navigating source code from VS Code, when using the LSP mode, will create new, unintentional analysis roots; users will see hundreds of spurious analysis errors. There's no user workaround for this.

**What is the fix**: Avoid creatin

[2020-09-11 16:51] kenzieschmoll commented on #33920
You need to be on 1.22.0-9.0.pre or greater, which should currently be on the dev branch

[2020-09-11 17:27] dnfield opened #43395 "Document when, if ever, is it better to use a bool to check late initialization"
I'm writing code where I will lazily initialize a cache field on my class.

I could make the variable `Foo? _cachedFoo;` or `late Foo _cachedFoo;` with a bool to track whether I've set it at least once.

Reading https://dart.dev/null-safety#creating-variables, it's not entirely clear to me whether either of these is preferable, but it seems like one should be. It'd be helpful if that documentation

[2020-09-11 17:37] leafpetersen commented on #41685
Is this still an issue?

[2020-09-11 17:42] dnfield commented on #43395
Here are a couple examples of what I was debating between:

[code]

Which seems like it might have the advantage of avoiding a null-check in a relatively common case of calling this method again, but seems like it also might be wrong.

[2020-09-11 18:17] leafpetersen commented on #43395
cc @kwalrath @munificent @filiph @lrhn @natebosch @jakemac53

[2020-09-11 18:30] natebosch commented on #43395
Since `late` does not give you a way to check if it's been set and you need an additional `bool` anyway I'd go for the nullable version as the most readable.

[2020-09-11 18:44] rakudrama commented on #43389
This is not just a dart2js optimization issue. The front-end makes the same assumption by not emitting a check on the initialization of `y`.

[2020-09-11 19:14] matanlurey opened #58227 "always_require_non_null_named_parameters is obsolete in null-safety"
[code]

I believe the lint should probably just turn itself off in null-safety mode?

[2020-09-11 20:05] lrhn commented on #43395
Any time you need to check whether the variable has been initialized, I won't use `late`.
Using `late` is like using `dynamic`. There are cases where it's the best solution, but it should be used judiciously and well insulated from other code. It means that you know, for some reason, more than the compiler about whether something has definitely been initialized. If you need to *check*, then it's n

[2020-09-11 20:29] rakudrama commented on #43366
@franklinyow The fix has landed in the Dart sdk main branch.
@ferhatb which branches does this need to be back-ported into?

[2020-09-11 20:44] lrhn commented on #43396
Familiarity.

Dart was intended to be familiar to users of Java, where `int` and `double` were lower-case, but `String` was upper-case.

[2020-09-11 20:44] #43396 closed

[2020-09-11 21:55] munificent opened #43397 "Analyzer treats required named parameters in superclasses as non-optional from legacy libraries"
Given this legacy library:

[code]

// And this null-safe one:

[code]

I would expect this code to be OK. The implicit `super()` call in Legacy to call `NullSafe()` should be allowed because NullSafe's required named parameter [should be treated as optional from the context of a legacy library](https://github.com/dart-lang/language/blob/master/accepted/future-releases/nnbd/feature-specification.m

[2020-09-11 22:00] nshahan commented on #43397
And a reference to required parameters being optional in the definition of `LEGACY_SUBTYPE(S, T)` https://github.com/dart-lang/language/blob/master/accepted/future-releases/nnbd/feature-specification.md#subtyping.

[2020-09-11 22:53] leafpetersen commented on #43397
@munificent we evidently don't have a test for this, any chance you could add one?

[2020-09-11 23:05] nshahan opened #43398 "Missing mixin inheritance information in kernel?"
This is either an issue or just me asking for clarification.

While investigating some failing mixin tests in DDC I ran into an issue that is confusing me. I've extracted a single case out of `tests/language/mixin/super_2_test.dart`.

[code]

According to the test the `super.toString()` call in class `B` should point to the implementation in `R`. All of the other backends are passing this test but

[2020-09-12 00:16] munificent commented on #43397
How did I know you were going to say that? :) @scheglov, would you like me to write a test for this or will you in the process of fixing it? I won't get to it until Monday, but I'm happy to then.

[2020-09-12 00:25] devoncarew opened #43399 "improve the error message when the file to run is not found"
When we try to run a file that doesn't exist (`dart foo.dart`), the new dartdev tool emits two separate error message; `Error when reading 'foo.dart': No such file or directory.` and `Could not find a command named "foo.dart".`. We don't need both, and the second one is generally misleading (based on the string pattern - xxx.dart - the user meant to type in a file to run, and not a command).

We s

[2020-09-12 01:12] fzyzcjy commented on #33920
A related question: I write some *native code (c++)* and use `dart:ffi` to bind to Flutter. However, with only several functions it is 1.8MB size. Thus, I wonder some tools which *is similar to `vm_snapshot_analysis` and can help me dig out which class/method/... takes space*?

Thanks very much!

[2020-09-12 01:21] scheglov commented on #43397
This should fix the issue in the analyzer.

https://dart-review.googlesource.com/c/sdk/+/162584

[2020-09-12 02:16] a-siva commented on #43095
https://dart-review.googlesource.com/c/sdk/+/159590

[2020-09-12 02:16] #43095 closed

[2020-09-12 05:20] shankarThiyagaraajan commented on #43396
Interesting, thanks for the info.

[2020-09-12 07:18] mraleph commented on #33920
@fzyzcjy you can use https://github.com/google/bloaty for C++ code, alternatively there is also a tool in Dart SDK sources (https://github.com/dart-lang/sdk/blob/master/runtime/third_party/binary_size/src/run_binary_size_analysis.py) which you could try to use.

[2020-09-12 08:06] johnniwinther commented on #43389
Is there something we should do differently in the front end?

[2020-09-12 08:29] johnniwinther commented on #43398
The method that is mixed in (`B.toString` into `_D&R&B`) has a `Member.containsSuperCalls` flag set to `true`. dart2js uses this to clone the method into the mixin application such that the `super.toString()` call can have a different target (`R.toString` instead of `Object.toString`). The VM clones all mixed in methods (using the `MixinFullResolution` transformation which uses the `SuperCallResol

[2020-09-12 08:46] fzyzcjy commented on #33920
@mraleph Thanks very much! However, I have tried using bloaty, but it says most of the size is for TEXT region though I give it debug symbols... The issue: https://github.com/google/bloaty/issues/213

[2020-09-12 16:31] #43397 closed

[2020-09-12 18:19] shrouxm opened #43400 "bug: analyzer fails to catch type parameter in static member for locally declared class"
* Happens in both of the following environments:
  * Dart SDK version: 2.9.2 (stable) (Wed Aug 26 12:44:28 2020 +0200) on "linux_x64"
  * Dart SDK version: 2.10.0-45.0.dev (dev) (Wed Aug 19 06:32:03 2020 -0700) on "linux_x64"

Steps to reproduce:

The following code:

[code]

causes a kernel crash due to:

[code]

On the other hand, the following code:

[code]

raises the error:

[code]

It seems

[2020-09-12 19:11] stereotype441 commented on #42045
As of 337dd5d35592d5a94454f705a910b60c832b8212, the conservative join now happens before the control flow split, making "for each" loops handled more similarly to their desugared equivalents.

[2020-09-12 22:11] zanderso opened #43401 "Crasher in parser"
The analyzer gives errors on:

[code]

but the front end crashes with:
<details>
<summary>type 'ParserRecovery' is not a subtype of type 'Identifier'</summary>

[code]

</details>

@johnniwinther @jensjoha

[2020-09-12 22:27] george-b-526 opened #43402 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-193.6911.18.40.6626763`
- `2.9.1`
- `AI-193.6911.18.40.6626763, JRE 1.8.0_242-release-1644-b3-6222593x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.15.6, screens 1440x900, 1366x768  Retina`

[2020-09-12 22:31] stereotype441 commented on #42653
Looking into this more deeply, the problem is in the way type inference interacts with flow analysis.  When type inference visits the loop `for (x in [0])`, it uses the *declared* type of `x` to figure out the context type it should use for inferring the type of `[0]`; the declared type of `x` is `Object`, so the context is `List<Object>`, and hence `[0]` is inferred as `<Object>[0]`.  So the iter

[2020-09-13 00:21] rrousselGit commented on #43185
I disagree with the conclusion drawn.

The fact that in the current state of the ecosystem people don't put comments on parameters doesn't mean that people are happy with it.

Comments on parameters is useful primarily for users of a package ; but comments on parameters are currently ignored by the IDE. Which means there is now no value in writing some, since the chance that users will open the so

[2020-09-13 17:36] ganeshrvel opened #43403 "How to pass String list from Dart to C using FFI"
I am looking way to pass a list of array from Dart to C using FFI.

For passing strings I do something like this. How

[code]

How to I pass a list of Strings from Dart to native library using FFI?

cc @dcharkes

[2020-09-13 19:13] #43402 closed

[2020-09-13 22:02] stereotype441 commented on #42957
I can no longer reproduce this, even if I go back to code as of Aug 5.  I'm not sure what happend, but as the bug is not reproducible, I'm closing the issue.

[2020-09-13 22:02] #42957 closed

[2020-09-14 04:05] helin24 opened #43404 "Order mismatch of methods after extending an abstract class and creating missing overrides"
Reported in https://github.com/flutter/flutter-intellij/issues/4824

e.g.:
[code]

It seems the methods are arranged in alphabetical order rather than the order of methods in the abstract class, and there may be cases where a different order is desired.

[2020-09-14 05:57] #43382 closed

[2020-09-14 08:08] dcharkes commented on #43403
Hey @ganeshrvel,

Did you not already ask that question before?

_Originally posted by @dcharkes in https://github.com/dart-lang/sdk/issues/43011#issuecomment-671852985_

Is there anything besides the `Pointer<Pointer<...>>` part that you would need?

[2020-09-14 08:13] ganeshrvel commented on #43403
@dcharkes that question was about passing a list of strings from C to Dart, which I was able to do it.

This time I am trying to figure out a way to send a list of strings from Dart to C.

Something like this:

Dart side
[code]

[2020-09-14 08:23] ganeshrvel commented on #43403
Right now, I am attempting something like this:

Dart side:
[code]

[code]

Is this the right way?

[2020-09-14 08:26] dcharkes commented on #43403
I would do something like this.

[code]

[2020-09-14 08:38] jensjoha opened #43405 "VM coverage is unreliable"
I have the following test program:
[code]

If I run this like `out/ReleaseX64/dart --observe=0 t.dart` and go to observatory I can see which lines have executed. Most often it claims that the line `print("Hello $count!");` has not executed (but it has --- I am looking at the line it printed in the terminal!).

If I run it through this helper program so I can try more times faster:
[code]

(and hav

[2020-09-14 08:40] ganeshrvel commented on #43403
And in the C side should the parameter be **char to accept the pointer?

C:
[code]

Interestingly FFIGEN generates `ffi.Pointer<ffi.Pointer<ffi.Int8>>` and it isn't compatible with `Pointer<Pointer<Utf8>> pointerPointer`

FFIGEN:
[code]

Any suggestion?

[2020-09-14 08:56] #22553 closed

[2020-09-14 09:28] lrhn commented on #43390
I'll take the emojis as a sign we've answered the question. 🎉

[2020-09-14 09:28] #43390 closed

[2020-09-14 09:30] lrhn commented on #23819
You can use the `Isolate.spawn` parameter `onExit` to set an exit message port when creating the isolate.

[2020-09-14 09:30] #23819 closed

[2020-09-14 09:32] #24261 closed

[2020-09-14 09:33] #24527 closed

[2020-09-14 09:34] #25402 closed

[2020-09-14 09:34] #12449 closed

[2020-09-14 09:35] #16758 closed

[2020-09-14 09:37] #15961 closed

[2020-09-14 09:38] #22484 closed

[2020-09-14 09:39] #17135 closed

[2020-09-14 09:40] #24374 closed

[2020-09-14 09:42] DanTup commented on #43207
Great, thanks!

[2020-09-14 10:01] lrhn commented on #24072
The way we currently do things, we would probably *test* that the list was sorted, and throw if it wasn't.
That requires a linear number of element comparisons, but that's also what the current constructor does since each `_splay` operation will find a tree already splayed on the largest element and skip out after one comparison.

As such, a `fromSorted` constructor won't actually be a significant

[2020-09-14 10:01] #24072 closed

[2020-09-14 10:02] lrhn commented on #23643
We should deprecate the `ArgumentError(_)` constructor.

[2020-09-14 10:08] lrhn commented on #23493
This is not an analyzer issue. With null safety, flow analysis and reachability is part of the language.
The expression `throw Future.error(...)` is a normal expression with a static type of `dynamic`, because `Future.error(...)` is a constructor invocation on (inferred) `Future<dynamic>`.

The workaround for code like this is to do `await Future<Never>.error(...)`. That will now have type `Never`

[2020-09-14 10:08] #23493 closed

[2020-09-14 10:08] #22494 closed

[2020-09-14 10:09] #21725 closed

[2020-09-14 10:11] lrhn commented on #21481
Refer to https://github.com/dart-lang/language/issues/171 in the language-repo instead.

[2020-09-14 10:11] #21481 closed

[2020-09-14 10:11] eernstg commented on #42653
I think it's already nearly a code smell to use an existing variable as the "counting" variable of a `for` statement, and we should probably expect some corners of the semantics in that case to be somewhat quirky.

In particular, I think that a local declaration like `for (num i in [0])` makes it reasonable to say that `num` may influence the typing and semantics of `[0]`. But the remote case `for

[2020-09-14 10:15] lrhn commented on #20739
With null-safety you can now use `late` for instance variables which cannot be initialized immediately, or late assignment of final local variables.

The is not general way to create an instance of a *type*. The type can (like here) be an abstract class. There might not *be* any instances of that class, and no easy way to choose a concrete subclass, call a constructor taking arbitrary arguments.

[2020-09-14 10:15] #20739 closed

[2020-09-14 10:16] #17690 closed

[2020-09-14 10:17] #15519 closed

[2020-09-14 10:22] lrhn commented on #12078
Dart is now (more) strongly typed, so hitting the "wrong" identifier is very likely to be immediately visible.

The analyzer could still recognize when a lexical name gives the wrong type, and an instance member with the same name could (perhaps) have been correct, and suggest using `this.foo` instead of `foo`.

[2020-09-14 10:28] lrhn commented on #24331
Fixed

[2020-09-14 10:28] #24331 closed

[2020-09-14 10:28] #24157 closed

[2020-09-14 10:29] #23284 closed

[2020-09-14 10:31] #22008 closed

[2020-09-14 10:32] lrhn commented on #21951
The current plan is to only allow `main` functions.

[2020-09-14 10:32] #21951 closed

[2020-09-14 10:32] #21941 closed

[2020-09-14 10:35] #16067 closed

[2020-09-14 10:36] #15499 closed

[2020-09-14 10:40] #14471 closed

[2020-09-14 10:41] #14021 closed

[2020-09-14 10:52] #13730 closed

[2020-09-14 10:53] #13624 closed

[2020-09-14 11:20] eernstg commented on #43398
It could be claimed that `Member.containsSuperCalls` is missing from the textual representation of the kernel code, but otherwise I think this issue looks like it should be labeled as a bug with `area-web`, `web-dev-compiler`.

[2020-09-14 13:24] a14n opened #43407 "Analyzer const evaluation issue in mixed mode"
On Dart-2.10.0-121.0.dev the following code report an analyzer error:

[code]

Removing the opted-out line in a1 make the error disappear.

/cc @scheglov

[2020-09-14 13:39] ganeshrvel commented on #43403
I got it working by passing struct instead of UTF pointer.

Dart side
[code]

[code]

C side
[code]

[2020-09-14 13:48] mit-mit opened #43408 "Consider suppressing cascading analysis errors"
Consider this minimal Flutter program:

[code]

For this, the analyzer (in current Flutter master) produces two errors:
[code]

The second is the one I expected: Text takes a positional argument with the string to display, and I didn't pass one.

I think the first one is really a ripple effect of the second one? Could we suppress the first one?

[2020-09-14 14:17] CheatBoss commented on #43283
After a huge number of attempts, unfortunately, nothing worked for me...
Therefore, I would still like to see an example :/

[2020-09-14 14:21] stereotype441 commented on #42653
@eernstg

Agreed.  I kinda wish the language didn't allow this at all.

My preference (and what I've implemented in https://dart-review.googlesource.com/c/sdk/+/162625) is that the type of `[0]` is inferred based on the promoted type of `x` on entry to the loop, so it would still be inferred as `<int>[0]`; it isn't demoted back to `num` until `x = 0.5;` is reached.  I think that behavior makes sen

[2020-09-14 14:39] sstrickl commented on #43274
Just a note, I have started on this, but it's requiring a bit of rework on how we do an end-run around the embedder API for extra information that only exists for precompiled snapshots, and I still need to check into how to handle the build ID generation for assembly snapshots. Will update here if I run into any blockers (none expected at the moment though).

[2020-09-14 14:56] dotdoom opened #43410 "strong-mode implicit-casts demotes template classes to Object"
**Summary**:

With `implicit-casts: true`, `Klass<A>` and `KlassB extends Klass<B>` are demoted to `Object` when used in the same elvis operator expression.  Discovered when using `CircleAvatar` in Flutter:

[code]

* Dart SDK Version (`dart --version`)
* Whether you are using Windows, MacOSX, or Linux (if applicable)

[code]

**Code sample**:

[code]

`analysis_options.yaml`:

[code]

**Observed*

[2020-09-14 15:46] eernstg commented on #42653
[code]

Right; the language specification doesn't say anything about the inference step on the iterable, but I don't think it will be hard to come up with a handful of context types (with cases `T x in e`, `var x in e`, `x in e`). So we would perform inference on `e` with that context type, yielding a new `e1` of static type `T`, and then that's the `T` that we are using in the desugaring. So we s

[2020-09-14 15:57] ferhatb commented on #43366
The related NNBD code change in framework that surfaced this is box_border.dart which was updated Aug11.

[2020-09-14 15:58] a14n opened #43411 "Lint to annotate parameter with non-nullable if assert !=null"
[code]
the code should be:
[code]

[2020-09-14 15:58] a14n opened #58228 "Lint to annotate parameter with non-nullable if assert !=null"
[code]
the code should be:
[code]

[2020-09-14 16:00] nshahan commented on #43303
I'm adding this to our tracking list since this is hitting a throw I added as part of the null safety support.

[2020-09-14 16:01] pcsosinski commented on #43366
the next branch is being coordinated today, we are going to probably cut it a day earlier than this landed.  adding the merge-to-beta tag and will coordinate with @athomas

[2020-09-14 16:01] bwilkerson commented on #43411
Actually, after the parameter has been annotated, can't we remove the assert?
[code]

[2020-09-14 16:05] a14n commented on #43411
Yes if all call sites are migrated to nullsafety.

[2020-09-14 16:08] a14n commented on #43411
Oops I should have created this in the linter repo. Sorry! @bwilkerson could you move it to linter?

[2020-09-14 16:19] eernstg commented on #43410
This is working as intended, but it is a quirky corner of the language.

The point is that `?:` relies on the computation of a least upper bound (LUB) of two types, and that computation has several tricky properties. First, it isn't a least upper bound, because that doesn't exist (we can have two classes `C1` and `C2`, both implementing `B1` as well as `B2`, and then the least upper bound cannot b

[2020-09-14 16:47] #43410 closed

[2020-09-14 16:48] dotdoom commented on #43410
Got it, thanks Erik for the explanation and reference to the doc.  I've nothing to add here; unless you'd prefer me to rephrase it as an FR, we can close this issue.

To close on the thread, I appended `as ImageProvider<dynamic>` to the `AssetImage()` in my use case (that would be equivalent to `StringValue('test') as Value<dynamic>` in the example code).  Indeed, that required `ignore: avoid_as`,

[2020-09-14 16:51] kpratihast commented on #32129
Try deleting the "cache" folder in Flutter "bin" folder and then run flutter pub get again

[2020-09-14 16:53] mkustermann opened #43412 "Unstable builds due to changing names of type testing stubs"
Distilled to a small example:
[code]
This will AOT compile to a ELF file with a symbol like this:
[code]
Notice that the second last section of this name is a number - though it should not be a number.

[2020-09-14 16:58] eernstg commented on #43410
Thanks, Artem! We have the need to think hard about least upper bound firmly on the agenda, so there is no need to create a feature request on that.

[2020-09-14 17:01] franklinyow commented on #42772
Related bug:
https://github.com/flutter/flutter/issues/65133
https://github.com/flutter/flutter/issues/65132
https://github.com/flutter/flutter/issues/65131

[2020-09-14 17:09] mehmetf commented on #37771
@sjindel-google Is https://github.com/flutter/flutter/issues/59834 a good motivator for this?

[2020-09-14 17:10] jonahwilliams commented on #42785
Another use case is in https://github.com/flutter/engine/pull/21153: we currently have to copy the memory mapped bytes of all assets (potentially quite large!) in order to pass them back through the engine. If we could directly convert them to read only buffers, we'd be able to avoid tons of work

[2020-09-14 17:12] devoncarew commented on #43394
Note that this cherry pick is intended for the 2.10 stable branch.

[2020-09-14 17:20] devoncarew commented on #43394
From checking, this did not make the stable branch point.

[2020-09-14 17:45] franklinyow commented on #43366
@rakudrama Please fill out cherrypick request form [link](https://github.com/dart-lang/sdk/issues/new?title=%5BCP%5D%5Bstable+channel%5D%20Please%20add%20descriptive%20title%20for%20the%20pick%20here%20&labels=merge-to-stable,cherry-pick-review&body=%2A%2Acommit%28s%29+to+merge%2A%2A%3A+COMMIT-HASH%0A%0A%2A%2Amerge+instructions%2A%2A%3A+clean+merge+or+patch+CL%0A%0A%2A%2AWhat%20is%20the%20issue%2A

[2020-09-14 18:00] robbecker-wf commented on #42977
So, there seems like there's still some disagreement and unresolved issues on this thread.
- Looking at some of the tickets, it looks like some of the `external` work has landed. Is it ready to use to work around this issue? @jakemac53
- Maybe I missed it but it seems like @kwalrath has an unresolved use case here as well.
- If `external` isn't a viable workaround I think we'll need to revisit and

[2020-09-14 18:25] nshahan commented on #43398
@johnniwinther Thanks, that's the kind of tip I was hoping for!

@eernstg I agree, I'll update this issue.

[2020-09-14 18:32] alexmarkov commented on #43229
@mraleph @cskau-g We can also do this kind of early constant folding as a kernel AST transformation, maybe during https://github.com/dart-lang/sdk/blob/master/pkg/vm/lib/transformations/lowering.dart pass. This would be much more simple than matching patterns during kernel->flow graph translation.

[2020-09-14 18:32] franklinyow commented on #43366
@sigmundch for cherrypick request because Stephen maybe on vacation

[2020-09-14 18:55] sigmundch opened #43413 "[CP][stable channel] fix dart2js unsoundness for `is Foo?`"
**commit(s) to merge**: 8d68480746dbb7878bdc6e3926d0324760af6c5f

**merge instructions**: clean merge on current origin/beta, it is already included in origin/dev.

_Note: this is a request to merge for the 2.10 stable release, which is about to be created._

**What is the issue**: dart2js generated invalid code on programs using `is Foo?`. This regression was visible to flutter users.

**What is

[2020-09-14 18:55] sigmundch commented on #43366
Thanks, filed under https://github.com/dart-lang/sdk/issues/43413

[2020-09-14 19:14] dcharkes commented on #37771
Yes, that's why I mentioned it.

(P.S. @sjindel-google no longer works on Dart.)

[2020-09-14 19:25] rmacnak-google commented on #33747
I started an implementation long ago (https://dart-review.googlesource.com/c/sdk/+/63645). I think I got stuck trying to find a way to test it.

[2020-09-14 20:51] stereotype441 opened #43414 "Migration tool could do a better job of supporting out-of-order migration"
Although we don't consider out-of-order migration to be a first-class use case of the migration tool, it would be nice if it handled it a bit more gracefully.  Consider this example (adapted from https://github.com/dart-lang/angular_components/blob/master/angular_components/lib/model/formatters/formatter.dart):

File being migrated:
[code]

Opted out file (which is not currently being migrated):
[

[2020-09-14 21:45] franklinyow commented on #43366
Seems like it landed.  Anything else before we can close this?

[2020-09-14 23:04] rmacnak-google commented on #33118
https://github.com/dart-lang/sdk/commit/62893f9b00a6c8ccc3c0394406eff9e37dd1ec36

[2020-09-14 23:04] #33118 closed

[2020-09-14 23:35] #43366 closed

[2020-09-15 01:18] franklinyow commented on #43413
Marked approved

[2020-09-15 01:20] franklinyow commented on #43394
approved

[2020-09-15 01:47] rydmike commented on #43366
Seems like the fix also landed in Flutter channel master.

I just upgraded to latest Flutter master (Channel master, 1.22.0-10.0.pre.172) and rebuilt my two example cases in issues https://github.com/flutter/flutter/issues/63740 and https://github.com/flutter/flutter/issues/64960 where the first broken visual behavior impact in the Flutter framework due to this issue were detected.

I could no lon

[2020-09-15 03:10] stereotype441 commented on #43136
Whoops, fix has not landed yet.

[2020-09-15 03:58] Peng-Qian commented on #43390
Yes! Many thx!@lrhn

[2020-09-15 04:11] leafpetersen commented on #42653
I don't see a very good motivation for ignoring the promoted type here.  In all other cases that I can think of where we use a variable, we use the promoted type of a variable to generate the context, it feels very inconsistent to ignore it here.  Given that this is trivial to implement (in fact, already implemented) I'm in favor.

[2020-09-15 04:46] KlausJokinen commented on #43166
Is there any news on this? The development is quite painful because you don't know what error is "real" and what is not.

[2020-09-15 07:24] v7lin opened #43415 "utf8.decode - FormatException: Unexpected extension byte (at offset 2)"
* Dart SDK Version (`dart --version`)
Flutter 1.20.3 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 216dee60c0 (2 周前) • 2020-09-01 12:24:47 -0700
Engine • revision d1bc06f032
Tools • Dart 2.9.2

* Whether you are using Windows, MacOSX, or Linux (if applicable)
MacOSX

[code]

[code]

[2020-09-15 07:32] #43415 closed

[2020-09-15 08:15] eernstg opened #43416 "Variance testing: language/variance/variance_in_inference_error_test"
This test expects error messages that are correct in topic, but wrong in wording. Looks like the analyzer and the CFE changed the wording, and the test was not updated accordingly.

[2020-09-15 08:22] eernstg opened #43417 "CFE crash: language/variance/variance_upper_lower_bounds_error_test, variance_upper_lower_bounds_test"
Said tests cause the CFE to crash with a null error, as of 4948c31b7a6dd68e4d8bda8194f4aeb73a3d86b2, for instance:

[code]

[2020-09-15 08:26] johnniwinther opened #43418 "CFE variance experiment implement"
This is a bucket for CFE issues related to implement of the variance experiment.

[2020-09-15 08:49] zenkog commented on #39707
Any update on this? Temp files probably a good idea for some cases like mine where I wanna keep files only during the session of the app. I hope not to keep track of files for each app start.

[2020-09-15 08:50] eernstg opened #43419 "Variance implementation: Inference fails on tests"
### variance_in_inference_test

The test `language/variance/variance_in_inference_test` fails with the CFE and the analyzer, in several locations.

Inference does not produce the right outcome in at least some of these failure locations:

[code]

[code]

The inferred expression is `inferContraContra(Contravariant<Upper>(), Contravariant<Middle>())`, which allows for `T == Middle`, but the inferenc

[2020-09-15 08:52] eernstg opened #43420 "Variance implementation in analyzer: Inference fails on test"
This is the analyzer specific issue for https://github.com/dart-lang/sdk/issues/43419 which has the details.

[2020-09-15 08:53] eernstg opened #43421 "Variance implementation in CFE: Inference fails on test"
This is the analyzer specific issue for #43419 which has the details.

[2020-09-15 09:32] zenkog commented on #39707
If this is a temp directory, what happen when:
- User closes the app
- User put the app in the background

Does it get deleted?
Then what happen with all the files inside this directory ?

Thanks

[2020-09-15 10:09] eernstg opened #43422 "Variance testing: language/variance/variance_downwards_inference_test needs updates"
Said test needs to have some null-safety migration changes applied: Line 13 and line 25, parameter type `Object` should be changed to `Object?`.

Also, the following declarations give rise to inference failures:

[code]

This seems legitimate, because the preference given to the context type makes the instance creation `new B<int>(...)`, where an argument of type `List<num>` is not accepted. Simil

[2020-09-15 12:02] jensjoha opened #43423 "Analyzer error on constant expression"
Running this on the VM is fine:

[code]

but Analyzer complains "Evaluation of this constant expression throws an exception." in two places:
* `const bool.fromEnvironment("foo", defaultValue: barFromEnv)`
* `const Foo()`

Is this legal or not? (and if it's not, why not?)

[2020-09-15 12:33] mnordine opened #43424 "DedicatedWorkerGlobalScope missing sendBeacon()"
`window.navigator.sendBeacon()` works, but not:

[code]

[2020-09-15 12:40] mnordine opened #43425 "Cannot do network calls in a web worker"
The following results in a runtime error:

[code]

`Uncaught ReferenceError: document is not defined`

Run with `dart2js` of course, since you can't even use workers with `dartdevc`.

This greatly limits the utility of web workers in Dart.

[2020-09-15 12:44] mnordine opened #43426 "Missing Response return type from fetch()"
`window.fetch()` and `DedicatedWorkerGlobalScope.instance.fetch()` return `Future<dynamic>`, but it should return a `Response` type, which seems to be missing from `html_dart2js.dart':

https://developer.mozilla.org/en-US/docs/Web/API/Response

[2020-09-15 12:58] athomas commented on #43413
Merged to beta in 52130c19ca593b185ea9cf72b26b1d02455551ef (2.10.0-110.3.beta).

[2020-09-15 12:58] #43413 closed

[2020-09-15 12:58] athomas commented on #43394
Merged to beta in 52130c19ca593b185ea9cf72b26b1d02455551ef (2.10.0-110.3.beta).

[2020-09-15 12:58] #43394 closed

[2020-09-15 13:02] mkustermann commented on #42785
To speed up the discussion on this, I've written a proposal (see [go/performant-typeddata-in-dart](https://goto.google.com/performant-typeddata-in-dart)). If we follow this path we would ensure to have always fast access to bytes while safely allowing immutable bytes as well as sharing of such across isolates.

[2020-09-15 13:28] DanTup commented on #43394
Thanks (and sorry for the added hassle)! 🙂

[2020-09-15 13:29] mnordine opened #43427 "Missing PerformanceObserver.supportedEntryTypes"
https://w3c.github.io/performance-timeline/#supportedentrytypes-attribute

[2020-09-15 13:41] jakemac53 commented on #42977
`external` is still not usable for code generators - it is still something that only the core implementations (compilers, runtimes) can fill in. We did recently extend I think where the `external` keyword can appear to support some `ffi` use cases or something like that, but it was unrelated to this.

[2020-09-15 13:42] mnordine opened #43428 "PerformanceEntry missing attribution field"
Example:

[code]

[2020-09-15 13:59] stereotype441 opened #43429 "Migration tool should have the ability to leave some input files unmigrated (and add version comments instead)"
For internal migrations it is desirable to be able to migrate a portion of a package now and a portion of a package later.  It would be nice if the tool had an ability to add `// @dart = 2.9` comments (or whatever version number winds up being the correct number to opt a file out 😃) to certain files rather than attempt to migrate them.  Exactly how this would be controlled is TBD.

Note that in or

[2020-09-15 14:01] eernstg commented on #43423
The constructor `bool.fromEnvironment` is documented as returning `defaultValue` (which is an optional named parameter with default value `false`) in the case where the first argument is not declared in the environment.

If `bool.fromEnvironment("bar")` is replaced by `bool.fromEnvironment("bar", defaultValue: false)` then the error goes away, which seems to imply that the error occurs during the

[2020-09-15 14:15] stereotype441 opened #43430 "Exception when attempting to migrate https://github.com/ReactiveX/rxdart"
@frankpepermans reports that trying run the migration tool on https://github.com/ReactiveX/rxdart produced the following exception:

[code]

I haven't had a chance to try to reproduce this yet, but I'm guessing that the starting point for migration was probably https://github.com/ReactiveX/rxdart/commit/ab85ab0e31c9ecd4644d5cd60985a056232d3633.

[2020-09-15 14:31] eernstg opened #43431 "CFE loops during constant evaluation"
The following library causes the CFE to enter an infinite loop:

[code]

The response is as follows with a `dart` from 809febe06a357dd6225b5620342d86b8304fbb89:

[code]

Confirming that this is concerned with constant evaluation and not mismatched braces, the following program also causes the infinite loop:

[code]

[2020-09-15 14:42] bkonyi commented on #33747
That looks simple enough, but you're right, it's probably extremely difficult to test. I don't think it's high risk to land it without tests though. What do you think?

[2020-09-15 15:56] sigmundch commented on #42253
@jakemac53 - just curious if you have any updates or if you need anything from us

[2020-09-15 16:18] devoncarew opened #43432 "type 'SimpleIdentifierImpl' is not a subtype of type 'BinaryExpression' in type cast from ConvertToIfNull.compute(convert_to_if_null.dart:23)"
Seen by 1 internal user 10 times:

[code]

[2020-09-15 16:34] franklinyow commented on #40510
Any update on this?

[2020-09-15 16:43] goderbauer opened #58229 "public_member_api_docs doesn't require docs on typedefs"
**Describe the issue**
The `public_member_api_docs` does not warn about missing doc comments on public typedefs even though they should have a doc comment.

**To Reproduce**
Enable the `public_member_api_docs` lint, and analyze the following code:

[code]

No warning is produced.

**Expected behavior**
Warning to "Document all public members.".

[2020-09-15 16:53] jakemac53 commented on #42253
I have started back on this, hit another blocker on our end which I have a PR out for and then I can resume.

[2020-09-15 16:59] a-siva commented on #40510
the` dart:mirrors` library is in maintenance mode and I would prefer if we did not add any new functionality or APIs to it.

[2020-09-15 17:06] zichangg commented on #39707
@zenkog
I'm not sure I understand your question. As long as `dir.deleteSync(recursive: true)` is executed, it will start cleaning things up. If app is closed or power off in the middle of `deleteSync()`, all untouched files will be kept.

[2020-09-15 17:12] aam opened #43433 "debug msan gen_snapshot build failure"
[code]

os_thread.cc:
[code]

cc @rmacnak-google

[2020-09-15 17:24] timsneath opened #43434 "'pub' is not recognized as an internal or external command"
After running flutter upgrade on Windows:

[code]

[code]

[2020-09-15 17:27] timsneath commented on #43434
@mit-mit Is this by design?

[2020-09-15 17:35] JagjiwanChimkar opened #43435 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-193.6911.18.40.6626763`
- `2.9.2`
- `AI-193.6911.18.40.6626763, JRE 1.8.0_242-release-1644-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1280x720`

[2020-09-15 18:14] munificent commented on #43422
When I first migrated the test, I assumed that the intent was specifically to test how inference behaved in that downwards context, given the name of the test.

I feel like I'm flying blind here. Is [this](https://github.com/dart-lang/language/blob/6327da0b230efb9901c302ffb2e3506139948316/accepted/future-releases/variance/feature-specification.md) the spec I should be using as a reference? Is ther

[2020-09-15 18:33] #43025 closed

[2020-09-15 20:12] scheglov commented on #43100
We have one test that fails: `tests/language/nnbd/definite_assignment/definite_assignment_error_test.dart`
AFAIK this is https://github.com/dart-lang/sdk/issues/42990

[2020-09-15 20:56] bwilkerson commented on #43432
https://dart-review.googlesource.com/c/sdk/+/162922

[2020-09-15 20:56] #43432 closed

[2020-09-15 21:12] a-siva commented on #43018
This is fixed in the newer versions of flutter so closing it.
If you are still encountering the problem please reopen the issue.

[2020-09-15 21:12] #43018 closed

[2020-09-15 21:26] matanlurey opened #43436 "Using `!identical(foo, null)` does not promote"
This was more surprising than anything while migrating existing code.

(I was able to change it to `foo != null` to unblock myself, but more an FYI for the team to review)

[2020-09-15 21:35] matanlurey opened #43437 "Using `if (foo?.bar == somethingNotNull)` does not promote `foo`"
Another surprise (to me):

[code]

[2020-09-15 21:53] lrhn commented on #43437
The only value comparisons which promote are `!= null` and `== null`, and only on the variable itself.
So `foo != null` promotes `foo`, but `foo == 'bar'` deos not, and `foo?.something != null` doesn't either.

Here you are deriving that because `foo?.toUpperCase()` is equal to a non-`null` value, then it must be a non-`null` value, and therefore `foo` must be non-`null` too. That's not expected t

[2020-09-15 21:56] lrhn commented on #43436
Working as intended.

The only checks which promote are `is`/`as` and `== null`/`!= null` checks.
There is no promotion using `identical(foo, null)`. There is no need for it since `== null` does exactly the same thing, and that's the preferred way to write it.

[2020-09-15 22:48] stereotype441 opened #43438 "Migration preview should have a favicon"
This would make it easier for users to find the tool in a sea of tabs.

Probably it should be a dart logo, or some variation of it.

[2020-09-15 22:59] nshahan commented on #43196
@sgrekhov Given that you updated the tests, is this still an issue? Was the original issue tied to the same tests?

[2020-09-15 23:27] Silentdoer commented on #40510
Oh, why? TypeMirror.isNullable is very useful.

[2020-09-15 23:29] matanlurey commented on #43436
Should there be a hint that `identical(foo, null)` is never what you want to write?

[2020-09-15 23:31] matanlurey commented on #43437
Why isn't that expected to happen? The above is a contrived case, but patterns like this are common enough:

[code]

[2020-09-16 00:57] devoncarew opened #43439 "Cannot analyze file from ChangeBuilderImpl.createDartFileEditBuilder(change_builder_core.dart:147)"
Seen by 2 users internally 5 times:

[code]

For a crash like this (where there's an error reading the file), we may want to change to not treating it as a crash, and instead report the failure to the user.

[2020-09-16 00:59] devoncarew commented on #43439
For this report, the source file was referencing a file in an import that did not (yet?) exist.

[2020-09-16 01:17] #58229 closed

[2020-09-16 01:59] leafpetersen commented on #43422
@munificent we don't have a good declaration site variance only spec, I should split one out.

@eernstg The variance feature as implemented intentionally does not prefer the context type when doing inference for soundly variant classes (just as we do not prefer the context type when doing inference for function types).

[2020-09-16 02:00] leafpetersen commented on #43422
@munificent, @eernstg  feel free to send any of these over to me to update if it's not clear what the intent of the test is.

[2020-09-16 02:04] scheglov opened #43440 "language/async/await_test are failing"
[code]
With https://dart-review.googlesource.com/c/sdk/+/162621

[2020-09-16 02:23] rakudrama opened #43441 "dart2js_2/type_constant_switch_test/01 Pass (expected CompileTimeError)"
There are new test failures on [Use assertNoErrorsInCode() instead of the empty list of errors where possible.](https://github.com/dart-lang/sdk/commit/ec65869de73d91f1a5c037ebccbc8371c5e55f15).

The tests
[code]
are failing on configurations
[code]

This should not be a compile time error since dart2js no longer uses an implementation of `Type` that defines `==`.
The test should be fixed to refle

[2020-09-16 02:47] Silentdoer opened #43442 "NNBD bug in method parameter?"
I have enable null safety in config, but following code is ok by analyzer and run is ok:
class Mock {
  // not int? bb
  // and i use mirror bb's default value is null
  void test(int bb) {}
}

environment: dart sdk 2.9.3

[2020-09-16 02:54] #43442 closed

[2020-09-16 03:06] Silentdoer opened #43443 "dart mirror bug"
code 1:
[code]

code 2:
[code]

@rmacnak-google

[2020-09-16 03:11] Silentdoer commented on #43443
and following code:
[code]

[2020-09-16 03:22] Silentdoer commented on #43443
[code]

[2020-09-16 03:30] Silentdoer commented on #43443
[code]

[2020-09-16 03:45] rakudrama commented on #43437
I find it slightly surprising that this does not work. Promotion of a local would happen if you manually desugared
[code]
to
[code]
so why should you have to do that yourself?

Not promoting `foo == 'bar'` makes some sense since without looking at the definition, you don't know what `operator==` does. We perform constant-folding on strings, so why not incorporate more properties of the primitive t

[2020-09-16 04:31] sgrekhov commented on #43196
@nshahan it is still an issue. Only
[code]
were updated in https://github.com/dart-lang/co19/commit/28c6cdf1ca543d07662ac4dec227f2881302db40 to expect `ArgumentError` instead of `RangeError` according to [Float32List.view](https://api.dart.dev/stable/2.9.3/dart-typed_data/Float32List/Float32List.view.html) and [Int32List.view](https://api.dart.dev/stable/2.9.3/dart-typed_data/Int32List/Int32List.v

[2020-09-16 04:48] leafpetersen commented on #43332
But you are better off than if you just accepted a `List` and did try to modify it.  `List` is claiming capabilities that it doesn't have.  By accepting `Sequence` I'm agreeing to a narrower (and statically enforced) contract.

[2020-09-16 04:54] feinstein opened #43444 "Analyzer doens't warn about not implemented interfaces."
Consider this code:

[code]

`Base` declares it implements `MyInterface`, but it doesn't and there are no warnings whatsoever about it. I get an error if I try to use it as `MyInterface` though, but I expected the compiler to say "hey, you declared you are implementing MyInterface, but you didn't".

This probably also blocks my IDE from having the ability to generate a nice "implement missing impl

[2020-09-16 05:39] KoheiKanagu opened #43445 "The result of Future.wait is an ImmutableList."
Dart SDK 2.9.3
macOS 10.15

For example, if "futures" is an empty list, then "waited" becomes an ImmutableList and an error will occur with singleWhere.
https://dartpad.dev/bec06f4ba0a586b002cc40e597f8b079

[code]

[code]

However, if "futures" is not an empty list, there is no problem.
https://dartpad.dev/6b96d2200234c6de2f37e51fb9a4849d

[code]

The easiest way around this problem is to do a `Li

[2020-09-16 06:54] johnniwinther opened #43446 "Extra CFE error on non-void setter return type"
CFE reports an error on non-void setter return types and additionally on returns within the setter that matches the invalid return type:
[code]

Failing tests:
[code]

[2020-09-16 07:51] mit-mit commented on #43434
Can you run `where dartdoc` to determine which `dartdoc` that is (I'm curious if it's the one in bin, or one you pub globally activated).

My theory is that it's the latter. @jonasfj did we resolve the issues where older activated apps couldn't run anymore?

[2020-09-16 08:43] lrhn commented on #43445
That should probably be fixed. The optimization of returning the same `const <Null>[]` every time is based on the assumption that an immutable `List<Null>` can be a stand-in for any other list, because when you are not writing to the list, you are not using the element type contravariantly.
That's not true for `singleWhere`, so we should probably just return a new empty list, and not try to be cle

[2020-09-16 08:46] lrhn commented on #43443
The `dart:mirrors` library has no notion of nullable types, so it's not able to distinguish between `List<int?>` and `List<int>`. It's all the legacy `List<int>` type to it, as if `dart:mirrors` was not opted in to null safety.

[2020-09-16 08:49] lrhn commented on #43444
This is working as intended.

Static members are not part of interfaces in Dart, same as other similar languages like Java and C#.
Unlike Java, Dart also doesn't allow access to superclass static members through subclass types.

You only inherit instance members, and since `MyInterface` declares no instance members, `Base` is perfectly implementing `MyInterface`.

[2020-09-16 08:49] #43444 closed

[2020-09-16 08:51] #43443 closed

[2020-09-16 08:57] jonasfj commented on #43434
Yes, they still print an ugly message the first time they are recompiled..

But, I don't think globally activated things have worked with flutter. I think the `flutter pub global run ...` might work, but the part where you add them to `PATH` is unlikely to work. Notably, because `pub` isn't in `PATH` either.

Now that flutter is starting to ship `dart` in `PATH` and we have `dart pub` we probably

[2020-09-16 09:13] eernstg commented on #43422
@leafpetersen wrote:

Right, I remember that we discussed that as an option, didn't know that the implementation actually did it.

I could create a proposal based on removing the use-site mechanisms from https://github.com/dart-lang/language/pull/557,  file `accepted/future-releases/variance/feature-specification.md`.

[2020-09-16 09:19] DanTup opened #43447 "RangeError in analyzer ElementWalker.getVariable"
I hit this error while working on the analyzer codebase (using the latest nightly SDK).

The context file: [exception_20200916_101231_689.zip](https://github.com/dart-lang/sdk/files/5231146/exception_20200916_101231_689.zip)

The file I was editing: [typescript_parser.dart.zip](https://github.com/dart-lang/sdk/files/5231150/typescript_parser.dart.zip)

Note: The code on line 72 is not valid - I'd

[2020-09-16 09:21] dcharkes opened #43448 "[vm] Add support for kUnboxedFloat to LoadIndexed and StoreIndexed"
`LoadIndexedInstr` and `StoreIndexedInstr` work with `kUnboxedDouble` for `kTypedDataFloat32ArrayCid`.

https://github.com/dart-lang/sdk/blob/02f5faa288928f0691777d59f2c155634b8df209/runtime/vm/compiler/backend/il_x64.cc#L1571-L1608

This is unpractical in the FFI implementation when we either pass or receive unboxed floats from FPU registers. We have to bitcast to int32 to work around this.

[2020-09-16 09:25] DanTup commented on #43447
Oh, it turns out I had two in-progress implementations of `LiteralType` in the file. Removing one of them seems to have stopped the crash so it's probably related to that.

[2020-09-16 09:27] lrhn commented on #43437
I'm not surprised we don't promote because I have memorized which operations can promote, and this isn't one of them.
There are lots of operations that imply something being non-null, and we don't recognize all of them, only the most direct ones.

If we consider `foo?.bar ...` equivalent to `foo != null ? foo.bar ... : null` for local variables (and equivalent to `let x = foo in x != null ? x.bar

[2020-09-16 09:31] mit-mit opened #43449 "dartdoc throws when run in a directory with no package"
[code]

We should catch this exception, and print a friend error message like:

[code]

[2020-09-16 09:35] mit-mit opened #43450 "dartdoc help output is hard to read"
`dartdoc --help` prints it's output in a very very narrow column, which is unaffected by the console width:

<img width="1207" alt="Screenshot 2020-09-16 at 11 33 33" src="https://user-images.githubusercontent.com/13644170/93319719-7ee01000-f810-11ea-812b-8ad2df783416.png">

I'd expect the output to be wrapped to fit in the width of the terminal, not a preset (very small) hardcoded width.

We have

[2020-09-16 09:36] jumperchen opened #43451 ""ignore_for_file: argument_type_not_assignable" is not working anymore in Dart 2.9"
With the declaration of `ignore_for_file: argument_type_not_assignable` in Dart 2.9 version, the dart analyzer still hints the error about `The argument type 'dynamic' can't be assigned to the parameter type X`.
But the same code works well in Dart 2.8 version.

[2020-09-16 10:12] mrtian commented on #36551
Is there any update? or have some methods to ？

[2020-09-16 12:40] Silentdoer commented on #43443
if dart:mirrors will not support null safety,
[code]
list.runtimeType should be List<int> not List<int?> ?
and
reflect(list).invoke(#add, [null]) should not throw error, otherwise it's not consistent with nonnull int parameter and field

[2020-09-16 13:44] kevmoo commented on #43450
Going to move this to the dartdoc repo...

[2020-09-16 13:47] kevmoo commented on #43436
CC @bwilkerson @scheglov @pq  RE a hint. Agree it's a good idea!

[2020-09-16 14:11] bwilkerson commented on #43447
@scheglov

[2020-09-16 14:16] zenkog commented on #39707
Thanks @zichangg
So the understanding is we still need to keep track of the directory and delete it when we don’t need it. I thought it was automatically deleted somehow.

[2020-09-16 14:16] bwilkerson commented on #43451
@srawlins @devoncarew

[2020-09-16 14:25] kevmoo commented on #43435
Closing out – no details

[2020-09-16 14:40] #43440 closed

[2020-09-16 14:41] #43435 closed

[2020-09-16 14:44] matanlurey commented on #43437
Respectfully whether you personally want to reason about it isn't really the point of this issue - at least me and Stephen (likely more) consider this valid.

I suspect this pattern is very common across both external and Google packages and unless we intentionally want users to hand desugar to the longer-form code we should consider improving this.

I'm happy to wait for other responses, thanks!

[2020-09-16 14:47] bwilkerson commented on #43439
Yes, and the `CreateFile` fix expects that to be the case because its purpose is to create the non-existent file.

The exception is being thrown because `AnalysisSession.getResolvedUnit` is returning a result whose `state` is either `null` or `ResultState.INVALID_FILE_TYPE`. We have previously confirmed that the file's name ends in `.dart`, so I'm not sure what would cause this to occur.

@scheglo

[2020-09-16 15:08] eernstg commented on #42653
Using the promoted type is more consistent, and we can lint the use of an existing variable in the first place.

[2020-09-16 15:17] srawlins commented on #43451
Sorry, I've meant to put this in the release notes. Since `argument_type_not_assignable` is an error, it is no longer supported to ignore.

[2020-09-16 15:17] #43451 closed

[2020-09-16 16:40] stereotype441 opened #43452 "Analyzer should issue a "mixed mode unsoundness" warning (or hint) in certain scenarios"
Due to https://github.com/dart-lang/language/issues/1143, we are changing the front end so that inserts a synthetic `throw` if certain "impossible" situations arise due to the inherent unsoundness of mixed mode.  For most of these scenarios, there should be a corresponding analyzer warning (or hint) to alert users to the situation and point them to documentation of what to do about it.

(Note that

[2020-09-16 16:47] nshahan commented on #43196
@sgrekhov Thanks for the list of failing tests. I'll take a look and see if there is a simple fix that would bring DDC closer to the other implementations.

@lrhn Do you feel the same way about the entire typed_data API? Should we be updating the comments throughout the library so that they don't mention a specific error/exception class?

[2020-09-16 18:02] natebosch commented on #43438
In case it helps, here is an easy to use Dart icon if you are OK with the default.

https://github.com/dart-lang/webdev/blob/bea35d067bff5444b9156f2a192e9ee5d09e23a4/webdev/lib/src/serve/handlers/favicon_handler.dart#L24-L41

[2020-09-16 18:21] #42653 closed

[2020-09-16 18:33] natebosch commented on #43437
My intuition is that this feature would make users less confused than they would be without it. I'd be inclined to push on it, especially if we think we can do it relatively quickly. If we think it will take too long we should consider whether it will be breaking to release it later. @leafpetersen

[2020-09-16 18:46] sigmundch opened #43453 "[CP][beta channel] Fix crash when developing with DDC"
**commit(s) to merge**: 53895b22707d986776db19d4c953d9d3b0178401

**merge instructions**: clean merge

**What is the issue**: DDC had an old undiscovered bug. A certain rare code pattern triggers the issue and in that case the app cannot be loaded for development (the code crashes while loading). The pattern involves an inheritance chain that forms a cycle between classes and type parameters.

Rec

[2020-09-16 18:57] #43027 closed

[2020-09-16 19:52] srawlins commented on #41037
Possibly solved during https://github.com/dart-lang/sdk/issues/42263.

[2020-09-16 20:03] liamappelbe opened #43454 "Isolate/spawn_A04_t04 is failing"
co19/LibTest/isolate/Isolate/spawn_A04_t04 went from flaky to consistently failing on [vm-dartkb-linux-release-x64](https://dart-ci.appspot.com/log/vm-dartkb-linux-release-x64/dartkb-mixed-linux-release-x64/8732/co19_2/LibTest/isolate/Isolate/spawn_A04_t04). It's also failing on [other configurations](https://dart-ci.appspot.com/log/vm-kernel-nnbd-linux-debug-x64/dartk-weak-asserts-linux-debug-x64

[2020-09-16 20:05] feinstein commented on #43444
I see... maybe you could help me with an idea then?

I am using `built_value`'s serializers, so my class looks like this:

[code]

I wanted to create an interface `Serializable`, so classes that implement `Serializable` are known to have a `serializer` getter, like `Trip` does.

This way I could abstract a bunch of value objects into a list of `Serializable` and serialize them all, create a Reposi

[2020-09-16 20:25] matanlurey commented on #43437
Totally! I could also see at minimum adding some information to our migration guides (/cc @munificent) that highlight "these are cases you'd think would promote, but don't, here are some tracking issues for future versions of Dart". Otherwise I think users are going to think they did something _wrong_.

[2020-09-16 21:00] nshahan opened #43455 "Missing nullability on some inferred type arguments for collection literals"
When the type parameter of the collection literal is inferred as the least upper bound of a type argument and another value, the nullability is undetermined.

This is true for list, set, and map literals.

Here is an example based on the test `co19/LanguageFeatures/Set-literals/type_inference_A20_t01`.

[code]

You can see the undetermined nullability of the inferred type: `core::Object%`
[code]

[2020-09-16 21:02] #58228 closed

[2020-09-16 21:02] nshahan commented on #43303
This test uses a set literal but the same problem exists with set, list, and map literals.

[2020-09-16 21:29] rakudrama opened #43456 "dart2js: Better dead code elimination - delete code that becomes unreachable due to optimizations"
dart2js avoids creating SSA nodes in the CFG builder after a _statement_ that throws.
A method call is considered to always throw is if the global analysis inferred return type is `Never`.

In the following, no call to `bigMethod()` is ever generated.
[code]
If, however, we find that `methodThatAlwaysThrows` returns `Never` later, during SSA type propagation, we don't delete the following code.

-

[2020-09-16 21:38] lrhn commented on #43437
Maybe I'm just not sure what the point of this issue *is*.

The described behavior is correct according to the specification, so all tools are working as intended and required. That makes it neither a bug, nor a tool enhancement issue, except perhaps to give better messages when encountering the pattern.

If we want to change the specified behavior, we should move the issue to the language reposit

[2020-09-16 21:48] nshahan opened #43457 "Strange errors with inferred type arguments on collection literals"
Based off the pattern that I noticed in `co19/LanguageFeatures/Set-literals/type_inference_A20_t01`, the VM has various errors related to collection literals when the type parameter is inferred from a type argument and other values.

You can experiment with these examples, each of them crash in some way.

[code]

I have already investigated some similar problems in DDC and I think the CFE isn't pr

[2020-09-16 21:53] jakemac53 commented on #43436
I changed the title to make it clear this is a feature request not a bug. The existing spec is thus irrelevant.

[2020-09-16 22:05] stereotype441 commented on #43456
If I'm understanding correctly, I believe https://dart-review.googlesource.com/c/sdk/+/162004 will fix this problem, because it inserts synthetic `throw`s after any expression having static type `Never`.

[2020-09-16 22:31] kevmoo commented on #43136
@stereotype441 – I don't think you meant to have this closed by https://github.com/dart-lang/sdk/commit/27fc6871e8ac1b0a98178ef856d64503a3fb8627 – right?

I think GitHubs auto-close logic caught you by mistake

[2020-09-16 23:21] stereotype441 commented on #43136
@kevmoo thanks.  This was fixed, but the SHA that fixed it should have been 53e707f26d9786ef05225678e434349400d5826c.

[2020-09-16 23:21] #43136 closed

[2020-09-16 23:38] munificent commented on #43422
The CL I have out is: https://dart-review.googlesource.com/c/sdk/+/162961. I do find it pretty hard to tell whether these tests are correct or not because the specification of variance, inference, and context types are kind of spread around. Maybe I'm not the best person to fix these tests?

[2020-09-16 23:56] alexmarkov commented on #43457
CFE produces _undetermined_ nullability (`core::Object%`) for list/set/map literals:

[code]

This is not correct - _undetermined_ nullability should be only used for type parameters.
VM treats _undetermined_ nullability as non-nullable, which causes various exceptions when `null` is queried from collections of non-nullable types.

This is duplicate to https://github.com/dart-lang/sdk/issues/43455

[2020-09-16 23:56] #43457 closed

[2020-09-17 00:16] #43422 closed

[2020-09-17 00:48] annagrin opened #43458 "[dev_compiler] Remove fileUri from LibraryMetadata"
Remove fileUri from LibraryMetadata as it is not used and also introduces local paths into metadata.

**Note**

 This is a breaking change, so the clients need to be prepared before this change is made:

- dwds: add support for reading two metadata versions
- webdev: update to the dwds version above
- flutter: update to the dwds version above.
- finally, update metadata in the SDK:

https://dart-r

[2020-09-17 01:25] timsneath opened #43459 "Analyzer fails on VSCode Extract Method"
On attempting to refactor (extract method) from VSCode, I got this error from the analyzer:

[code]

# Dart version
[code]

[2020-09-17 01:26] timsneath commented on #43459
Code left me with a `newMethod` but no popup to rename the method, @DanTup

[2020-09-17 02:14] scheglov commented on #43439
The URI is the key.
I see: `import 'package:foo/bar//baz.dart';` (note the double `//`).
Or `import 'package:foo.bar..baz/baq.dart';` (note the double `.`).

[2020-09-17 02:23] scheglov commented on #43439
https://dart-review.googlesource.com/c/sdk/+/163134

[2020-09-17 04:25] leafpetersen commented on #43422
@munificent if you want to hand this off to me, that's fine, just let me know where things are and I'll pick up.

[2020-09-17 05:00] rakudrama commented on #43456
I don't think it [(162004)](https://dart-review.googlesource.com/c/sdk/+/162004) will help - it is the global type analysis that is finding _Never_, through interprocedural flow, and is nothing to do with regular Dart promotion.

[2020-09-17 06:16] DanTup commented on #43459
For LSP, this is currently expected - there's not currently a way for us to trigger a rename from a code action (I have an open issue at https://github.com/microsoft/language-server-protocol/issues/764). Ofc, the error is not expected - I'll take a look.

It may be worth enabling the [analysis server log](https://dartcode.org/docs/logging/#analyzer) so if you see this again (or other issues) you c

[2020-09-17 06:29] johnniwinther commented on #43455
@stefantsov can you take a look at this?

[2020-09-17 08:15] jensjoha opened #43460 "VSCode/Analyzer creates wrong code with "Create X missing override(s)""
Say I have this code:

[code]

I'm told that `Missing concrete implementation of 'Foo.hello'.`. An available quick fix is `Create 1 missing override(s)`, and selecting that yields

[code]

Considering this test in analyzer works:
[code]

I assume it's a bug in VSCode or the interplay between VSCode and analyzer.

(Things become really weird when trying it on `class CustomMap implements Map<String,

[2020-09-17 08:22] sgrekhov opened #43461 "[NNBD] No warning in CFE when null-aware operator ?. used for this"
The following code produces a warning in analyzer and no issues in VM
[code]
There must be a warning in CFE as well
`Dart SDK version: 2.10.0-110.0.dev (dev) (Wed Sep 9 17:51:43 2020 -0700) on "windows_x64"`

[2020-09-17 08:37] denniskaselow opened #43462 "dartanalyzer: 'Evaluation of this constant expression throws an exception' when creating a simple rectangle"
Not really a bug but a change in behavior, and the fix is easy in a project running into this but finding the reason takes some time as it's not obvious, so this is more of a FYI for people running into the same bug. I am on `Dart SDK version: 2.10.0-110.0.dev (dev) (Wed Sep 9 17:51:43 2020 -0700) on "windows_x64"` and I'm not sure when it started appearing.

The dartanalyzer will error on this co

[2020-09-17 09:37] huang12zheng opened #58230 "[enhance] close_sinks rule false positive"
[code]

It mightn‘t have something to do with dart-lang/sdk#57882

[2020-09-17 10:15] lrhn commented on #43196
@nshahan I feel that way about the entire SDK. We shouldn't specify which `Error` is thrown. It's something I often fix when I touch code for other reasons, but I haven't made it a priority to fix everything once and for all. It's not a *big* issue, just a slight annoyance.
Errors shouldn't happen. When they do, it doesn't matter which class we use to report the error, that's just a convenience to

[2020-09-17 10:18] eernstg commented on #43455
Note that this could very well be caused by the issue that is targeted in the spec update https://github.com/dart-lang/language/pull/1195 (which is about least upper bounds).

[2020-09-17 10:26] lrhn commented on #43462
Interesting. Sounds like an analyzer error..
Using SDK >= 2.4.0 will set your language version to 2.4 for your own code, which should be equivalent to 2.7 because language versioning does not go further back than its own introduction. That should not affect the SDK code.

[2020-09-17 10:55] zoechi commented on #25551
I still get `avoid_equals_and_hash_code_on_mutable_classes` violations from `built_value` generated files with
[code]
and `dartanalyzer.bat --options .\analysis_options.yaml .`

[2020-09-17 12:13] athomas opened #43463 "Expand test coverage for null-safety to all configurations"
- [ ] CFE
- [ ] Analyzer
- [ ] VM (this will need to be broken down further)
- [ ] DDC
- [ ] dart2js
- [ ] Check that the remaining configurations are either out-of-scope or add coverage for them as well.

[2020-09-17 12:13] athomas commented on #43463
@franklinyow FYI

[2020-09-17 12:17] DanTup commented on #43459
@timsneath I haven't been able to reproduce this - are you working in a plain Dart app, or Flutter? Is it possible the refactor was initially slow and you may have typed (or tried it a second time) as a result?

I've seen some reports of refactoring initially being slow (perhaps due to the server building an index), and wonder whether other actions while it is being processed might result in this

[2020-09-17 12:22] athomas commented on #43463
In the scope of this issue, builders will start to be added as nightly builders. Once it has been determined which have the greatest discrepancies, some builders will be moved over to be commit triggered.

[2020-09-17 12:57] jensjoha opened #43464 "VM crash with type mis-match"
I have the following script:
[code]

Notice how `I` and `O` is the input and output type of each step and how it doesn't match:
* Step 1 takes String and returns String
* Step 2 takes String and returns int
* Step 3 takes String and returns String

So when step 2 returns and int and tries to give it to step 3 wanting a string things will go wrong somehow.
This is what happens:

[code]

It's not su

[2020-09-17 13:04] azulli commented on #42494
I'm having the same issue as above but using the latest Dart SDK stable release on Ubuntu 18.04.5 LTS fully updated.
I would also add that this error doesn't occur using VSCode alongside Android Studio on the same machine.

Here's the generated report.

## Dart analysis issue

Stack Overflow

## Version information

- Dart SDK 2.9.2
- Dart IntelliJ 193.7547
- Android Studio 4.0.1
- Linux 5.4.0-47-

[2020-09-17 13:18] stereotype441 commented on #43456
Makes sense.  Thanks for clarifying.

[2020-09-17 13:34] DanTup commented on #42079
@bwilkerson this came up again recently at https://github.com/Dart-Code/Dart-Code/issues/2624. In this case it was `cnpm` (a JavaScript package manager) that was creating the circular links.

Pre-LSP, we could try to filter the analysis roots to only Dart projects on the client (we didn't, but it was an option). With LSP this won't be possible at all - the client will just give us the paths of ope

[2020-09-17 14:07] bwilkerson commented on #43460
@DanTup

[2020-09-17 14:09] bwilkerson commented on #43462
@scheglov

[2020-09-17 14:37] DanTup commented on #43460
@jensjoha what version of the SDK are you using and on what platform? I don't seem to be able to repro using the latest nightly build, though:

- there was an issue that was fixed recently (https://github.com/dart-lang/sdk/issues/42468)
- if you're on Windows - by coincidence I was just looking at https://github.com/Dart-Code/Dart-Code/issues/2766 - which is Dart-Code doing bad things if newlines

[2020-09-17 14:40] jensjoha commented on #43460
Linux, VSCode 1.48.2, Dart Code 3.14.1, some sdk version as of today.

[2020-09-17 15:06] nikitadol opened #43465 "Dart analysis issue Stack Overflow"
Dart SDK version: 2.9.2 (stable) (Wed Aug 26 12:44:28 2020 +0200) on "macos_x64"

## Dart analysis issue

Stack Overflow

## Version information

- Dart SDK 2.9.2
- Dart IntelliJ 202.7319.5
- IntelliJ IDEA 2020.2.2
- Mac OS X 10.15.6

## Details

Stack Overflow

[code]

## Debug log

[code]

[2020-09-17 15:08] DanTup commented on #43460
@jensjoha I presume the newlines in your files are just \n (and VS Code shows just "LF" in the status bar)?

If so, if you get chance, could you try following the instructions here:

https://github.com/Dart-Code/Dart-Code/issues/2766#issuecomment-688845135

There's a dev build of the extension that has additional logging while building the snippet that should help understand where it's becoming me

[2020-09-17 15:20] DrRuhe opened #43467 "Redeclaring function parameters gives error on usage not on redeclaration"
**Describe the issue**
When a function parameter is redeclared, an error is displayed on every instance where the variable is used before the redeclaration instead of an error message on the redeclaration.

Relevant linting rules: referenced_before_declaration
**To Reproduce**
[code]

**Expected behavior**
I would expect the linter to also highlight the redeclaration stating that the variable is a

[2020-09-17 15:24] nikitadol commented on #43465
I created an empty project on flutter, but the error is the same

## Dart analysis issue

Stack Overflow

## Version information

- Dart SDK 2.9.2
- Dart IntelliJ 202.7319.5
- IntelliJ IDEA 2020.2.2
- Mac OS X 10.15.6

## Details

Stack Overflow

[code]

## Debug log

[code]

[2020-09-17 15:47] bwilkerson commented on #43465
@scheglov

[2020-09-17 16:06] scheglov commented on #43462
It seems to me that there are two issues.

1. Features that were introduced before `2.5` should be considered to be declared in `2.0`. As stated in https://github.com/dart-lang/language/issues/286#issuecomment-503614115.

2. @lrhn said that the language version "should not affect the SDK code", which probably means that in general case constant expressions should evaluated with the feature sets of

[2020-09-17 16:34] scheglov commented on #43465
There is probably a recursion in the file system, and one of the imports trips over it.
Maybe something like this:
[code]

In `bar.dart`
[code]
This way all paths (and URIs) are different, so we cannot use the same `bar.dart` file model, and create a new one, then repeat.

We could either (1) try to record enough data to find such cases and throw an exception with more information for you; or (2)

[2020-09-17 16:45] a-siva commented on #41451
The CL that fixes this issue has caused a regression and is being reverted.

[2020-09-17 16:51] mehmetf opened #43466 "Whole world compilation of large apps take really long"
We are hitting internal limits on AOT compilation with several large apps reporting > 15 minute compilation times. This is despite splitting the compilation to two steps.

See: b/154155290 for internal details.

[2020-09-17 17:03] eernstg commented on #43462
I would expect every term `t` that occurs in a library with language version _V_ to be treated as having language version _V_, and it does not matter that (some number of steps earlier during analysis/compilation/execution) the reason for processing `t` involves some other library with a different language version.

[2020-09-17 17:15] eernstg commented on #43467
As implied above, the error message from the analyzer does not mention the location of the declaration of the local variable in the following example, and it might be helpful to include that information:

[code]

The analyzer does not mention the declaration of `args` as a local variable, but the common front end reports the error with that information (and in the other "direction"):

[code]

[2020-09-17 18:18] DrRuhe commented on #43467
Would it be possible to make a linting rule out of this?

[2020-09-17 18:41] bwilkerson commented on #43467
Actually, the analyzer already produces this information, but as a "context message". Unfortunately it isn't displayed unless you include the `--verbose` flag on the command line. Sounds like we might want to rethink not displaying that information. (The advantage of this approach is that in an IDE the context message is clickable, so users can navigate to the location.)

Yes, but as I said above,

[2020-09-17 18:44] franklinyow commented on #43452
@leafpetersen Please triage

[2020-09-17 18:45] franklinyow commented on #43455
@leafpetersen Please triage

[2020-09-17 18:49] DrRuhe commented on #43467
Does this still apply though? The only time this lint/error message should be displayed is when declaring a variable already used in this scope, which causes an error anyway. I don't see where there could be any false positives then.

[2020-09-17 18:54] bwilkerson commented on #43467
That's valid. I was thinking earlier about a less constrained lint.

[2020-09-17 18:59] mraleph commented on #43466
Duplicate of #43299

[2020-09-17 18:59] #43466 closed

[2020-09-17 19:19] #43343 closed

[2020-09-17 19:43] sstrickl commented on #43274
[CL 163207](https://dart-review.googlesource.com/c/sdk/+/163207), which adds build IDs to non-symbolic stack traces for ELF-compiled snapshots is now under review.

Having build IDs be consistent between assembly snapshots and their separate ELF debugging information (by generating them ourselves for assembly output) remains to be done.

[2020-09-17 19:50] azulli opened #43468 "analysis_server crashes due to overgrown cache"
I have experienced continous crashes of the analysis server on Android Studio, as reported earlier.
Also on VSCode I've had errors of type ERR_STREAM_DESTROYED.
Removing the .dartServer directory (around 1.3GB of data) in my case resolved the issue.

Here's the generated report from Android Studio.

## Dart analysis issue

Stack Overflow

## Version information

- Dart SDK 2.9.2
- Dart IntelliJ 19

[2020-09-17 20:04] #43300 closed

[2020-09-17 20:11] nshahan commented on #43455
I believe this issue is the cause of these new test failures https://github.com/dart-lang/co19/issues/938.

[2020-09-17 21:03] munificent commented on #43422
I landed this one and I'm working with Erik on the other one that needs test changes. I believe the remaining ones have actual implementation bugs but if they need some test work I'll let you know if I get stuck.

[2020-09-17 21:07] PetaSoft opened #43512 "Shrink size of dart2native EXE files"
I used dart2native to figure out the size of the created EXE file. I used a simple hello world dart source file and applied the command `dart2native helloworld.dart -k exe -o .\helloworld.exe`. I ran the command on Windows 10 x64 (2004) Professional. Unfortunately, the created EXE file was 4842 KB in size. That is far more than I expected. I suppose that the complete dart runtime is copied into th

[2020-09-17 21:12] annagrin opened #43469 "[dev_compiler] ExpressionCompiler generates incorrect JavaScript for types from other libraries"
Evaluating expression containing a type from another library currently results in error due to incorrect JavaScript generated by the expression compiler. Library where the breakpoint is set is used instead of the library containing the type.

**Example**

main.dart:

[code]

test_library.dart

[code]

**Expression:**

`instance._field`

**JavaScript:**

[code]

**Expected JavaScript:**

[code]

[2020-09-17 21:46] fishythefish opened #43470 "html/js_typed_interop_side_cast_exp_test/01 fails with sound null safety"
`tools/test.py -n dart2js-hostasserts-strong-linux-x64-chrome lib/html/js_typed_interop_side_cast_exp_test/01` fails.

[2020-09-17 21:49] fishythefish opened #43471 "tests/dart2js/boolean_conversion_test fails with sound null safety"
`tools/test.py -n dart2js-hostasserts-strong-linux-x64-d8 dart2js/boolean_conversion_test` fails.

/cc @rakudrama - we never quite wrapped our discussion about this one.

[2020-09-17 22:26] sigmundch commented on #40211
Related to these, we are also looking at how to improve dart2js tracing of nested arrays in the global analysis. Some benchmarks show that `List.generate` makes it harder to trace what's the type of the values in the list (especially whether those are arrays as well), as a result accesses to elements on the array are more imprecise than we would like.

[2020-09-17 22:40] #43439 closed

[2020-09-18 00:11] nshahan opened #43472 "Default type behind a nullable `?`"
@johnniwinther @eernstg

There are two failing tests from the recent co19 roll on all backends.
[code]
I'm not sure if the test or the CFE is correct. Extracting out the main cause of the failures give something like:

[code]

What should the type of `T` (without `?`) be in `checkme1()` when it's called without providing a type argument? The test expects `dynamic` but the CFE says it is `Object`.

[2020-09-18 00:20] a-siva opened #43473 "[CP][Beta Channel] Can't recover from being offline [iOS only]"
**commit(s) to merge**: https://dart.googlesource.com/sdk/+/433fcd09d91677ec9a747506e2095f7c708a0672

**merge instructions**: clean merge

**What is the issue**:  A new Flutter roll looks to be causing an uncaught socket exception when offline, which prevents resuming when wifi reconnects. This doesn't occur in the immediate preceding Flutter version.

**What is the fix**: Investigation by change

[2020-09-18 00:27] leafpetersen opened #58231 "Consider a lint warning on uses of the null check operator on variables of type `T?`"
Given a generic type parameter `T` which has a nullable bound (e.g. the default bound of `Object?`), it is very easy to introduce erroneous null checks when working with a variable of type `T?`.  Specifically, it is not uncommon to have `T? x;` and want to assert that `x` has been set to a valid value of type `T`.  A common mistake is to do so using `x!`.  This is almost always incorrect, since if

[2020-09-18 00:34] fishythefish commented on #43472
I believe the discussion I'm thinking of was about constraint solving, but I can't remember where it is. Essentially, given `T? == Object?` (or maybe it was a subtype constraint), when can we conclude `T == Object`?

I suspect that the type argument is being inferred based on `[T? t]` and we're running into a similar issue.

[2020-09-18 00:35] leafpetersen commented on #43462
@scheglov That seems like a nice behavior if we can achieve it.

[2020-09-18 01:04] #43465 closed

[2020-09-18 02:02] a-siva commented on #43376
/cc @aam

[2020-09-18 02:23] Silentdoer opened #43474 "please rename nativewrappers.dart to native_wrappers.dart"
otherwise it's not consistent with other files naming style.
such as:
native_typed_data.dart

[2020-09-18 02:35] Silentdoer commented on #43474
and it will tips by IDE: Typo: In word 'nativewrappers'

[2020-09-18 02:52] liudonghua123 opened #43475 "HttpException: Invalid proxy configuration HTTPS"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.) dart:io
* Dart VM
* dart2js
* dartfix
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/lan

[2020-09-18 02:54] alexmarkley opened #43476 "dart2native produces a Mach-O x86_64 binary even on Apple Silicon / DTK"
This is probably a feature request, but I'm going to open it here anyway because I didn't see mention of it elsewhere.

**Observed Result**
When running `dart2native` on apple silicon, the produced binary is an x86_64 binary:

[code]

**Expected Result**
I would like to be able to generate native binaries for my machine. (Universal binaries would be even better.)

**Environment**
[code]

[code]

I

[2020-09-18 02:58] alexmarkley opened #43477 "dart2native produces non-functional (crashing) binaries on Apple Silicon / DTK"
This may be related to my feature request for dart2native to generate (actually) native binaries on this machine: https://github.com/dart-lang/sdk/issues/43476

**Observed Result**
Generated dart2native binaries crash instead of running successfully.

[code]

**Expected Result**
Generated binaries should run successfully, even if they require Rosetta2.

**Environment**
[code]

[code]

I installed

[2020-09-18 06:05] johnniwinther commented on #43472
@stefantsov can you take a look at this?

[2020-09-18 06:56] mit-mit commented on #43477
cc @a-siva

[2020-09-18 06:56] mit-mit commented on #43476
cc @a-siva

[2020-09-18 07:18] mraleph commented on #43474
There is not much value in such rename and too much breakage.

[2020-09-18 07:18] #43474 closed

[2020-09-18 07:42] Silentdoer commented on #43474
ahh, i wish dart is a perfect, more consistent language ..

[2020-09-18 07:52] lrhn commented on #43472
I really can't read the inference spec, so I'll only try to guess the result.
My guess is that it depends on what we do when inferencing an unconstrained type argument, and I'd expect us to instantiate to bounds. That would mean `dynamic`. I see no reason to try *solving* for `T` without any constraints, and passing no second argument should mean that there are no constraints on `T` at all.

The m

[2020-09-18 07:55] mraleph commented on #43464
/cc @mkustermann

[2020-09-18 08:32] eernstg commented on #43472
@fishythefish wrote:

That could be the inference spec change in https://github.com/dart-lang/language/pull/1200; it's been reopened because of some unexpected failures, and this could be the same situation.

[2020-09-18 09:19] dovecheng commented on #23115
I wrote this test code using dart2.7 version, which can be implemented in two ways.

[code]

[2020-09-18 09:22] eernstg opened #43478 "Analyzer: Implement update to least upper bound"
Cf. the spec update in https://github.com/dart-lang/language/pull/1195, which changes the **UP** function in six cases.

[2020-09-18 09:25] eernstg opened #43479 "CFE: Implement update to least upper bound"
Cf. the spec update in https://github.com/dart-lang/language/pull/1195, which changes the **UP** function in six cases.

NB: It is possible that the implementation of this change will also fix https://github.com/dart-lang/sdk/issues/43455.

[2020-09-18 09:27] eernstg commented on #43455
The spec change has been landed, and there is an implementation issue: https://github.com/dart-lang/sdk/issues/43479.

[2020-09-18 11:30] mkustermann commented on #43464
This happens due to an optimized write-barrier when saving the original argument into the newly allocated context. It thinks the value it stores into the context cannot be a Smi (write barrier is based on `LoadLocalInstr::ComputeType()`, which would return nullable `String` as type).

The creation and population of context happens before a possible `AssertAssignable` and it can therefore not make

[2020-09-18 11:36] Silentdoer commented on #40146
please support  really null safety types, currently int? or double? or ... is fake null safety type like java's generic type.

[2020-09-18 12:04] #43412 closed

[2020-09-18 12:12] eernstg commented on #43416
Expectations corrected in https://dart-review.googlesource.com/c/sdk/+/162944.

[2020-09-18 12:12] #43416 closed

[2020-09-18 14:02] yulingtianxia opened #43482 "[vm/ffi] `lookupFunction` not working when using Xcode archive."
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Dart core libraries ("dart:ffi")
* Dart VM

Env:
* Dart SDK Version 2.9.1
* macOS 10.15.6
* Xcode 11.4 ~ Xcode 12 (Xcode 11.3.1 works well. )

Steps:

0. Create a new Flutter app. Then add some code using dart:ffi.
1. Run `flutter build ios`
2. Select Xcode Product > Archive to produce a build archive.
3. Op

[2020-09-18 15:19] athomas commented on #35806
Closing, unlikely we will work on this in the near future.

[2020-09-18 15:19] #35806 closed

[2020-09-18 16:44] jakemac53 commented on #43091
This was resolved in https://github.com/dart-lang/sdk/commit/1522a867ca7e4e6a5804c4333b09b325a2450c4b

[2020-09-18 16:44] #43091 closed

[2020-09-18 17:06] bkonyi commented on #41455
This will be resolved by [this CL](https://dart-review.googlesource.com/c/sdk/+/157160).

[2020-09-18 17:06] #41455 closed

[2020-09-18 17:07] bkonyi commented on #41456
These extensions will be available in `package:vm_service` `v5.1.0` once [this CL](https://dart-review.googlesource.com/c/sdk/+/157160) lands.

[2020-09-18 17:07] #41456 closed

[2020-09-18 17:10] timsneath commented on #43459
Yes -- I think that's what happened (executed the command twice). But as you say, we shouldn't bail with an exception when that occurs :)

[2020-09-18 17:26] bkonyi commented on #43028
Friendly bump. Are you still able to reproduce this @tvolkert?

[2020-09-18 17:53] #42950 closed

[2020-09-18 20:29] timsneath commented on #43434
Yeah, I think this needs fixing.

I also missed that there was one in the bin/ folder still. Is that coming
to the dart command any time soon? That is, dart doc?

On Wed, Sep 16, 2020 at 1:58 AM Jonas Finnemann Jensen <
notifications@github.com> wrote:

[2020-09-18 20:29] gbaldeck commented on #38894
Guys, it's been almost a year now and this is still not working in IDE's. Autocomplete is what makes extension functions useful. Without that you might as well use a Util class since you will at least get some autocomplete.

Not having tooling support around a major feature like this cripples the feature. Might as well have not added it as a language feature.

[2020-09-18 21:16] jakemac53 opened #43484 "package:vm_service 5.1.0 breaks package:test"
If you run `pub run test` with the latest package:test (you will need to depend on `test: ^1.16.0-nullsafety.4` to get the latest vm_service), it will crash with the following error:

[code]

[2020-09-18 21:16] jakemac53 commented on #43484
It looks like this was missing a `dart:collection` import when published, although it does exist at HEAD. So it needs to be republished.

[2020-09-18 21:19] bkonyi commented on #43484
Ah shoot, I published the wrong version locally. Republished from HEAD as 5.1.0+1

[2020-09-18 21:22] jakemac53 commented on #43484
Confirmed this fixes things, thanks!

[2020-09-18 21:22] #43484 closed

[2020-09-18 21:26] natebosch commented on #43484
As an FYI future changes like this we should use `5.1.1` over `5.1.0`

[2020-09-18 21:29] marchacio commented on #41802
I fixed this problem by deleting the "flutter" folder and reinstalling it completely from the [official site](https://flutter.dev/docs/get-started/install).

I hope it can help you

[2020-09-18 21:42] johnpryan commented on #43438
Submitted a quick fix here: https://dart-review.googlesource.com/c/sdk/+/163500/

[2020-09-18 21:58] fishythefish commented on #42926
Friendly bump. :)

[2020-09-18 22:41] gaaclarke opened #43486 "HttpClientRequest.close() throws unhelpful HttpException"
Relevant flutter issue: https://github.com/flutter/flutter/issues/63869

We are experiencing throws happening when a `HttpClientRequest.close()` is being awaited.  The exception just describes itself as `HttpException: , uri = http://localhost:50999` and seems to finally happen 4 minutes after the close is requested.

The error message isn't descriptive and the documentation doesn't talk about deb

[2020-09-18 23:01] rakudrama commented on #40211
## Tracing
We get a lot of precision from per-list element tracking. The Havlak benchmark creates a list of lists. The dart2 version allocates an list and assigns each element in a loop with a second list. The outer list is inferred as a collection with an element also being a collection with concrete implementation type.

The inferrer models each `[]`/`List()`/`List(n)` list constructor with a ne

[2020-09-18 23:31] jcollins-g opened #43487 "implicit dart `run` subcommand eats script parameters when VM flags are passed"
Reproduced on 2.10.0-145.0.dev and 2.10.0-110.0.dev, Linux and Mac.

Trying to pass a flag to the VM while executing a script doesn't work, explicitly or otherwise, if a parameter is passed that `dart run` happens to recognize.

For example:
[code]

Expected behavior is that I would see dartdoc's `--help` output rather than `dart run`s.  This breaks cases where parameters need to be passed to the

[2020-09-19 00:19] alexmarkley opened #43488 "Building Dart SDK fails at `fetch dart` on Apple Silicon / DTK / macOS 11"
This is almost certainly not an issue in the Dart SDK proper, but an upstream tooling issue. That said I don't have a better place to report this, so here we go...

**Steps to Reproduce**
Follow these instruction on building the Dart SDK: https://github.com/dart-lang/sdk/wiki/Building
- Install `depot_tools`
- do `fetch dart`

**Observed Behavior**
`fetch dart` cannot download the Dart SDK source

[2020-09-19 03:16] jamesderlin commented on #41357
I don't see how that's related.

Regarding this issue: one reason to prefer the existing behavior is to allow early exits from a derived method:

[code]
I suppose that arguably such a situation might warrant adding `// ignore: must_call_super`, although it appears that that must be applied to the entire function and not on individual return paths.

[2020-09-19 05:42] rakudrama commented on #43471
The test relies on making a specific decision when faced with an inconsistency.
I think we could parlay the inconsistency into any failure, for example  `a ? b : c` and `!a ? c : b` might simplify differently if we know `a` is ⊥.

In one part of the test we have `bool b = null as dynamic;` with an elided (trusted) always-failing check.
The HTypeKnown for the elided implicit `as bool` narrows to ⊥.

[2020-09-19 08:02] DanTup commented on #43459
Great, thanks for confirming - I think I should be able to reproduce that with some forced delays in the server then. I think there are a few things we should do:

1. Use LSP's new progress events to show progress when we're doing slow actions (this will give some visual indication if the index is still building) - I have some of this in progress (to replace custom messages for "Analyzing..." stat

[2020-09-19 16:06] nu8 opened #43489 "dart --version prints the version to stderr instead of stdout"
I saw in another issue, that someone said:

but the person didnt name a single tool. In my opinion, the correct thing to do
when invoking `dart --version`, would be to output the version to Standard
Output. Standard Error should be reserved for errors, which in this case none
exist.

I just think a little more justification should be provided before refusing
this issue forever. Here are some langu

[2020-09-19 16:10] nu8 commented on #43349
One thing I started doing as a workaround is this:

[code]

This wont work for all use cases, but it can be a workaround.

[2020-09-19 16:12] nu8 commented on #43349
I think Rust and other languages work around this by using a Macro:

https://doc.rust-lang.org/std/macro.println.html

not sure if Dart has a similar capability. One thing I started doing as a
workaround is this:

[code]

This wont work for all use cases.

[2020-09-19 18:06] alexmarkley commented on #42775
I'm happy to help with testing or development on this, so any portions of this work that could be carved out for the community to tackle would be great.

[2020-09-19 18:36] xpat commented on #41659
@DaljitKhalsa Nice website!  I inspected it for errors and don't see any.  Did you resolve this problem?  I'm getting it in my main.dart file.  When I uncheck "enable javascript source maps", refresh -- the error goes away.  But on your website, even though that remains checked, I don't see an error.  Mine is visible at https://amientx.dev.  Again, the error I'm getting is with main.dart.

@Gaurav

[2020-09-19 18:56] alexmarkley commented on #42774
@a-siva I would like to propose that there are two separate issues here:

1. Future versions of dart2native should produce native code on Apple Silicon (and preferably "Universal" binaries) https://github.com/dart-lang/sdk/issues/43476

2. Current versions of dart2native should produce x86_64 binaries that work correctly under the Rosetta translation environment: https://github.com/dart-lang/sdk/i

[2020-09-19 21:55] slightfoot commented on #41356
Just got caught out by this one. Thanks @mnordine for the workaround.

[2020-09-20 06:57] vr19860507 opened #43490 "Disposable"
Add an abstract class Disposable that contains a disposable method. To standardize work with classes that need to be released.

[2020-09-20 07:14] lrhn commented on #43490
Dart currently uses either `close` (for sinks) or `cancel` (for sources) to make the end of operation.
We can probably add a `Disposable`/`Closable`/`Cancelable` interface with *one* of those methods, and make the corresponding classes implement that interface, but it's unlikely that we can add methods to the existing interfaces.

[2020-09-20 12:31] vr19860507 commented on #43490
The idea is in the standard interface that would serve as a marker that the object that implements it needs to be released.
Just like in C# https://docs.microsoft.com/en-us/dotnet/api/system.idisposable?view=netcore-3.1

This will provide a convenient check for other code that will work with these classes.

[code]

[2020-09-20 13:25] liudonghua123 commented on #43475
I read the code implementation (https://github.com/dart-lang/sdk/blob/master/sdk/lib/_http/http_impl.dart#L2632-L2652), it seems the proxy pac support in dart:io is not complete. It only support simple `PROXY`/`DIRECT`, other return values like `SOCKS`/`HTTP`/`HTTPS`/`SOCKS4`/`SOCKS5` (https://developer.mozilla.org/en-US/docs/Web/HTTP/Proxy_servers_and_tunneling/Proxy_Auto-Configuration_(PAC)_file

[2020-09-20 14:22] fuadnassar90 opened #43492 "Future not working on mac ("dart:async" library)"
IDE: IntelliJ
OS: Mac 10.15.15

hi,
i have test the bellow code on my windows and it's work as fine and print event1 in output, but when i tried to run the same **this code on mac output be empty**.

Dart Console Application:
`main() {
  Future(() => print('event1'));
}`

[2020-09-21 00:17] Hixie opened #43493 "SecurityContext documentation errors"
Some issues I noticed while reading the docs for SecurityContext:

* SecurityContext constructor refers to "as explained below" which doesn't work in the dartdoc-generated output, it should instead link to the relevant member.

* SecurityContext.defaultContext says "On Linux and Windows, this list is taken from Mozilla, who maintains it as part of Firefox" which was true in the Dart1 days but now

[2020-09-21 01:52] coupestartup opened #43494 "Analyzer: Allow cut & paste of widgets through Quick Assist: "Wrap with removed widget""
Dart Analyzer already proposes quick actions that speed up Flutter development, e.g. "Swap with Child"
![image](https://user-images.githubusercontent.com/71616473/93727167-74e15700-fbec-11ea-984e-4f9fd1181bc9.png)

Often, a more generic version of this swap would be useful: cut & pasting.

For example, a complex widget may be fully configured somewhere in a tree
[code]

And we may want to move it

[2020-09-21 03:12] yulingtianxia commented on #43482
@mit-mit Hi, I think this problem is very serious. It will affect the release of iOS Apps.

[2020-09-21 04:45] sgrekhov opened #43495 "[NNBD] No compile error in CFE to read non-initialized nullable variable in spread operator"
The following code produces a compile error in analyzer and only runtime error in VM
[code]
There must be compile error in CFE as well
`Dart SDK version: 2.10.0-110.0.dev (dev) (Wed Sep 9 17:51:43 2020 -0700) on "windows_x64"`

[2020-09-21 05:58] datta07 opened #43496 "Dart analysis exception"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-192.7142.36.36.6308749`
- `2.5.0-edge.1ef83b86ae637ffe7359173804cbc6d3fa25e6db`
- `AI-192.7142.36.36.6308749, JRE 1.8.0_212-release-1586-b04x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1536x864`

## Exception
[code]

For additional log information, please append the contents of
file://C:\Users\akula\AppData\Local\Temp

[2020-09-21 06:50] mit-mit commented on #43482
cc @dcharkes

[2020-09-21 07:28] #43496 closed

[2020-09-21 08:20] dcharkes commented on #43482
Duplicate of https://github.com/dart-lang/ffi/issues/41#issuecomment-645550964, with the same workaround documented.

Xcode aggressively strips all code it thinks is dead, which includes the function you're trying to call through `dart:ffi` without the work around. So, it is expected that code size would be different. However, it might be worthwhile to investigate whether Xcode can be instructed t

[2020-09-21 08:34] #42926 closed

[2020-09-21 08:53] yulingtianxia commented on #43482
@dcharkes I quite agree with you. Should I close this issue?

[2020-09-21 09:01] mit-mit commented on #43482
Yes, closing

[2020-09-21 09:01] #43482 closed

[2020-09-21 09:35] alidhkh commented on #37173
You are a hero.

[2020-09-21 10:47] DanTup opened #43497 "Analysis server terminates with "Cannot resolve symbolic links" when analyzing Flutter project with standard Dart SDK"
I accidentally found this crash. It's not a typical setup, but I don't think it should crash.

- Create a Flutter project with `flutter create` (including allowing it to fetch packages)
- Open it in an IDE using a standard Dart SDK (the latest nightly) without Flutter

During analysis, it throws this error and terminates:

[code]

As far as I can tell, there are no symbolic links at all in the pat

[2020-09-21 11:29] DanTup commented on #43497
Here's the original stack:

[code]

Turns out, the file in the path actually does not exist - I had misread the filenames.

The file *does* exist in the real Dart SDK at `/Users/danny/Dev/Google/flutter/bin/cache/dart-sdk/lib/io/network_policy.dart` but it's not in the "sky_engine" package where it's being looked for.§

[2020-09-21 12:21] jensjoha opened #43498 "CFE/kernel assert crash caused by duplicate typedef and variance = -1"
[code]

(equivalently, trying to print it will crash as
[code]
won't go well).

/cc @johnniwinther @stefantsov

[2020-09-21 12:40] johnniwinther opened #43499 "CFE fails on co19/LanguageFeatures/nnbd/overriding/override_checking_A06_t157"
CFE fails to report an error on `co19/LanguageFeatures/nnbd/overriding/override_checking_A06_t157`

[2020-09-21 12:51] johnniwinther opened #43500 "CFE fails on triple-shift tests"
CFE fails on these co19 triple shift tests:

[code]

[2020-09-21 13:59] lrhn commented on #43490
For `dispose` to actually work, it would have to return a `Future` because *some* disposable objects need asynchronous clean-up when you dispose them.
That means that the interface must have `dispose` return a `Future`, which again means that *all* operations which work with disposable objects must be asynchronous to handle that future.

That suggests that Dart object disposal is *not* homogeneous

[2020-09-21 14:02] #43278 closed

[2020-09-21 14:07] michalt opened #43501 "Unnecessary cast inserted by the Null Safety migration tool"
Consider the following code with Null Safety hints:

[code]

The output of the migration tool:

[code]

AFACS the inserted function cast is unnecessary.

CC @stereotype441

[2020-09-21 14:28] aam opened #43502 "[gardening] frontend_server_test broken on pkg-win-release-bot"
https://github.com/dart-lang/sdk/commit/d0e095507cfb0a08053a669d86f6ffc387517fce broke unittest-asserts-release-win bot https://dart-ci.appspot.com/log/pkg-win-release/unittest-asserts-release-win/12997/pkg/frontend_server/test/frontend_server_test

cc @jonahwilliams

[2020-09-21 14:36] vr19860507 commented on #43490
We can use generic Disposable.

[code]

[2020-09-21 15:17] bwilkerson commented on #43497
@scheglov

[2020-09-21 15:27] aam opened #43503 "service/rewind_optimized_out_test/dds turned from flaky to timeout on dartk-linux-release-ia32"
The test service/rewind_optimized_out_test/dds turned from flaky to timeout on dartk-linux-release-ia32

https://dart-ci.appspot.com/log/vm-kernel-linux-release-ia32/dartk-linux-release-ia32/8065/service/rewind_optimized_out_test/dds

[2020-09-21 15:28] aam opened #43504 "The test service/get_vm_timeline_rpc_test/service turned from flaky to Timeout on dartk-linux-release-ia32"
The test service/get_vm_timeline_rpc_test/service turned from flaky to Timeout on dartk-linux-release-ia32

https://dart-ci.appspot.com/log/vm-kernel-linux-release-ia32/dartk-linux-release-ia32/8073/service/get_vm_timeline_rpc_test/service

[2020-09-21 15:29] #43502 closed

[2020-09-21 16:08] vr19860507 opened #43505 "Error: The getter 'prop' isn't defined for the type 'Object'."
Is it a bug or a feature?

[code]

[2020-09-21 16:19] tvolkert commented on #43028
Haven't had time to look (#seasonofperf).  I'll update this this week.

[2020-09-21 16:26] MahdiPishguy opened #43506 "Dart using * for making some methods instead definition itself"
you suppose i have this extension:

    extension MyWidget on Widget {
      Widget p(double padding) => Padding(padding: EdgeInsets.all(padding), child: this);
      Widget p0(double padding) => Padding(padding: EdgeInsets.zero, child: this);
      Widget p1(double padding) => Padding(padding: EdgeInsets.all(1), child: this);
      Widget p2(double padding) => Padding(padding: EdgeInsets.all(2),

[2020-09-21 16:29] aam opened #43507 "standalone_2/io/raw_datagram_socket_test broke on reload boats"
https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-reload-linux-debug-x64/8739
https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-reload-linux-release-x64/9942
https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-reload-rollback-linux-release-x64/10022

[Logs](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8868776634552488144/+/steps/test_res

[2020-09-21 16:30] franklinyow commented on #43473
@a-siva Do we have a link to the original flutter issue?
FYI @pcsosinski

[2020-09-21 16:43] eernstg commented on #43505
Instance variables cannot soundly be promoted (so `obj` doesn't get the type `A` in the `if`), because they can be overridden by a getter that could return a different object each time it is invoked. It is being debated whether we should allow an unsound mechanism (so each access would be checked dynamically), or maybe support easy introduction of a fresh variable whose initial value is the value

[2020-09-21 16:46] #43505 closed

[2020-09-21 17:18] scheglov commented on #43497
https://dart-review.googlesource.com/c/sdk/+/163720

[2020-09-21 17:52] #43438 closed

[2020-09-21 17:56] franklinyow commented on #41519
@a-siva Who's working on this now?

[2020-09-21 18:04] #43507 closed

[2020-09-21 18:27] #43112 closed

[2020-09-21 18:38] #43497 closed

[2020-09-21 18:40] munificent commented on #40360
This is all done now.

[2020-09-21 18:40] #40360 closed

[2020-09-21 18:57] vr19860507 commented on #43505
Thank you.

[2020-09-21 19:02] lrhn commented on #43506
There is nothing in the Dart language giving you this ability. You cannot abstract over source names.
That would require some kind of meta-programming functionality, which Dart currently doesn't have.

You can obviously use off-line code generation to generate the file (a `for` loop with a print statement can give you the text), but that's not a feature of Dart.

[2020-09-21 19:30] a-siva commented on #43473
The original issue is in the CL that was reverted but here it is again https://github.com/flutter/flutter/issues/15838

[2020-09-21 19:35] srawlins opened #43508 "Analyzer fails to report illegal use of @visibleForTesting top-level variables"
Also @visibleForTemplate

[2020-09-21 19:48] #43433 closed

[2020-09-21 20:29] jwren opened #43509 "Offset issue appearing in an analysis_options.yaml file"
Offset issue appearing in `2020.2 EAP` version of IJ:

![Screen Shot 2020-09-21 at 1 24 10 PM](https://user-images.githubusercontent.com/1533520/93817846-61df7e80-fc0e-11ea-8e34-87073224061a.png)

[2020-09-21 20:45] feinstein opened #43510 "Create alias to the current file"
I describe my problem [here](https://stackoverflow.com/questions/63999112/dart-name-collision-resolution/63999533), basically, I have a file in Dart that looks like this:

[code]

Where I want to add extensions to previous existing functions, with the same name.

The Dart compiler complains about this, as it can't see the outer `myFunction()` name, just the getter, inside `StringExtensions`.

I wo

[2020-09-21 20:58] bwilkerson opened #43511 "Dead code diagnostic has wrong highlight range"
The dead code analysis in the analyzer produces diagnostics with the wrong highlight range in at least two cases. Create a file in a package that will be analyzed with null safety enabled that has the following content (after removing the `[[` and `]]` markers:
[code]
The markers indicate where the highlight ranges are. The offsets are correct, but the lengths are wrong. The first length should be

[2020-09-21 21:00] alexmarkov commented on #42146
vm/* tests which are still failing in strong mode due to dependencies on legacy packages:

[code]

[2020-09-21 21:04] gaaclarke commented on #43486
I was able to get a pcap capture of the issue, the problem PUT is 1547:
[no-response-put-devfs.pcapng.gz](https://github.com/dart-lang/sdk/files/5258115/no-response-put-devfs.pcapng.gz)

The request sends a HTTP PUT but the server never sends a status code which causes `close` to hang.  It would be nice if the exception can contain that information.

[2020-09-21 21:37] bwilkerson commented on #43509
My guess is that the offset of the span for `include` ignores the fact that there are comments before it.

[2020-09-21 21:38] #42799 closed

[2020-09-21 22:18] jwren commented on #43509
The integer offset seems to be coming out of https://github.com/dart-lang/yaml

@kevmoo do you know who owns `yaml`?

[2020-09-21 22:20] a-siva commented on #41519
@aam has picked this up.

[2020-09-21 22:33] alexmarkley commented on #43488
Bumping this because I'm still unable to download the Dart SDK source code. I'd love to contribute to testing/patching for Apple Silicon as a host, but I'm currently blocked on this issue.

[2020-09-21 22:34] kevmoo commented on #43509
Currently undefined, sadly.

[2020-09-21 22:39] jmagman commented on #43488
\cc @a-siva @zanderso where's the best place to track this?  If here, who can we poke to take a look?

[2020-09-21 22:41] jmagman commented on #43488
https://bugs.chromium.org/p/chromium/issues/list ?

[2020-09-21 22:46] alexmarkley commented on #43488
@jmagman Thank you, I'll take a look at that issue tracker and see what I can find. A cursory glance seems to show issues being tracked related to macOS 11 on both Intel and ARM, so hopefully there will be traction soon.

I'm also a little concerned because the Dart project explicitly calls out Python 2 as a requirement, and Python 2 is super EOL at this point.

[2020-09-21 22:47] alexmarkley commented on #43488
Seems like this might be the most immediately applicable upstream issue: https://bugs.chromium.org/p/chromium/issues/detail?id=1103275&q=component%3AInfra%3ESDK%20macos&can=2

[2020-09-21 22:54] aam commented on #43503
so did service/rewind_optimized_out_test/service

[2020-09-21 22:57] annagrin opened #43513 "[dev_compiler] Expression compiler worker does not terminate"
Expression compiler worker is used in an isolate from another process (for example, webdev) that need the isolate to terminate before it can exit. There is no way currently to cause the expression compiler worker to stop listening. Add handling a 'Shutdown' message to fix.

[2020-09-21 23:12] bsutton opened #58232 "Lint for undocumented exceptions."
The dart language supports exceptions but not checked exceptions.

The lack of check exceptions means that developer must rely on documentation to determine what exceptions a method will throw.

If you look at a significant portions of code published on pub.dev, developers are simply not documenting the exceptions that are thrown.
Documenting exceptions is particularly error prone as it requires t

[2020-09-21 23:49] aam commented on #43219
Thanks @sgrekhov . The fix to the test made it to dart tests/co19, but not to tests/co19_2, which results in previously observed failures: https://dart-ci.appspot.com/log/vm-dartkb-linux-release-x64/dartkb-mixed-linux-release-x64/8770/co19_2/LibTest/isolate/Isolate/spawnUri_A05_t04.

What is the process to get tests/co19_2 updated?

[2020-09-22 00:19] Silentdoer commented on #40510
May be T? equals Nullable<T> is a good choice?
AClass? equals Nullable<AClass>;
AClass? obj = AClass();
obj?.prop will auto unboxing to obj.getValue().prop

[2020-09-22 02:05] aam opened #43514 "service/bad_reload_test/dds, service/bad_reload_test/service fail on app_jitk-linux-release-x64"
service/bad_reload_test/dds, service/bad_reload_test/service fail on app_jitk-linux-release-x64

https://dart-ci.appspot.com/log/app-kernel-linux-release-x64/app_jitk-linux-release-x64/9617/service/bad_reload_test/dds

[code]

[2020-09-22 04:42] aam opened #43515 "standalone_2/io/socket_connect_consume_write_close_test/2 fails on dartk-reload-linux-release-x64"
On https://dart-review.googlesource.com/c/sdk/+/157160 standalone_2/io/socket_connect_consume_write_close_test/2 and standalone_2/io/socket_connect_consume_write_close_test/3 on dartk-reload-linux-release-x64 started to fail

[log](https://dart-ci.appspot.com/log/vm-kernel-reload-linux-release-x64/dartk-reload-linux-release-x64/9942/standalone_2/io/socket_connect_consume_write_close_test/3)

[code

[2020-09-22 05:28] chiradipmukherjee commented on #33698
Being able to assign a value against an Enumerated variable is not syntactical sugar at all.

[2020-09-22 07:07] eernstg commented on #43219
That's handled by creating an issue on the co19 repo; I just created https://github.com/dart-lang/co19/issues/940 for this.

[2020-09-22 07:54] sstrickl opened #43516 "Handle build ID for snapshots with multiple loading units"
Work on #43274 is done (modulo review) for non-split snapshots, but that work does not try and provide build IDs for snapshots split into multiple loading units. We'll need to think about what the build ID there even means... is it baked into the initially loaded snapshot? Should it be a combination of build IDs from each snapshot, so that you can determine which parts were loaded using it? The fo

[2020-09-22 08:15] devxpy opened #43517 "Map operator [] is not type-safe"
The following code compiles successfully, but in my mind, it should have not -

[code]
Output -
[code]

At compile time, Is there any way to make dart ensure that the type of key that I'm passing is the correct type for that Map?

As one can imagine, this kind of mistake is very easy to make, and also easily preventable at compile time. (We just encountered a hard to track bug in our app because o

[2020-09-22 08:18] johnniwinther opened #43518 "CFE failures on nnbd bots"
The following tests are failing on nnbd bots. The corresponding tests are also failing on the legacy bots.

[code]

[2020-09-22 08:33] cubuspl42 opened #43519 "'Foo<dynamic>' can't be assigned to the parameter type 'Foo<Foo<dynamic>>'."
In the following hierarchy...

[code]

..invocation 3 generates static analysis error, although `TFoo` is known to extend `Foo`. On the other hand, in the context of `Foo` class definition `TFoo` _can_ be casted to `Foo` (see `fooBase` getter and invocation 4). While it probably can be explained quoting Dart language specification and compiler implementation details, it's unintuitive from user's p

[2020-09-22 08:49] creativecreatorormaybenot opened #43520 "[DDC] Crash on Safari: "Duplicate parameter 'char' not allowed in function with default parameter values.""
# Bug

When running a Flutter Web app that uses [`petitparser`](https://pub.dev/packages/petitparser) (a _Dart only_ package), the app crashes immediately when starting **on Safari**.

The app does not need to call any `petitparser` code - it just needs to reference the dependency in order to include it in the app.

## Reproducible steps

The reproducible steps on the Flutter side can be [found he

[2020-09-22 08:56] lrhn commented on #43519
The issue her is that the type of `justFoo` is `Foo<Foo<dynamic>>`, as is the type of the parameter of `g`.
You only wrote the raw `Foo` as the type, so a type argument is inferred. Since the type bound is recursive, the instantiate-to-bounds algorithm stops after one iteration and falls back on `dynamic`, rather than try an infinite unfolding. So, `Foo` is equivalent to `Foo<Foo<dynamic>>`
That t

[2020-09-22 08:58] sgrekhov commented on #43219
@aam missed co19_2, sorry. Fixed by https://github.com/dart-lang/co19/commit/7a8ae3ee87bbb1163fbf6deadb98185abd7e7d63

[2020-09-22 09:01] lrhn commented on #43517
There is no way to avoid an incompatible type being allowed, while also allowing a `Map<String, String>` to be used as a `Map<Object, Object>`. Dart has covariant generics, so the string map is assignable to the object map type. By allowing any value to be used as key in lookup (and a few other methods), you *can* use the map at the supertype, as long as you only use it for *reading*. Writing will

[2020-09-22 09:06] lrhn commented on #43510
You can just use import the file by name:
[code]

This only works for public (exported) names. For private names, you can rename them without that breaking anyone, so it's not a big issue. For imported names, you are already importing, so importing also with a prefix is not a big change.

All in all, I think the *functionality* is already available, so all we can add is more convenience. I'm not c

[2020-09-22 10:07] mraleph commented on #43512
Thanks for taking time to report the issue. We are aware that the size of compiled "Hello, World!" is not as small as it could be, but we don't really think that "Hello, World!" is that much of an important metric. While it is true that resulting binary might contain some unused stuff due to the way things are currently set up (e.g. most of the `dart:io` native parts are linked in even though Hell

[2020-09-22 10:07] #43512 closed

[2020-09-22 10:53] jensjoha commented on #43460
Sorry about the long response time.

Yes, it says "LF" in the status bar. I've just upgraded to VSCode 1.49.1 and still get the same.
Newly compiled df161acabdbd79d31035f1132dc0a46c4af712f0.

The log for the small example is this:
[code]

The log for implementing map is this:
[code]

[2020-09-22 11:04] DanTup commented on #43460
Thanks - I see the issue:

[code]

This snippet syntax is `index|choice1,choice2,choice3|` but the choice contains a comma (`Foo<String, String>`). There some be some escaping here somewhere. I can reproduce it by turning off LSP (we don't currently insert these choices in LSP). I think this may be a bug in VS Code, but if not it's certainly in the VS Code extension and not the analyzer/SDK, so I'

[2020-09-22 11:05] #43460 closed

[2020-09-22 11:20] DanTup commented on #43497
Works now, thanks!

[2020-09-22 11:28] eernstg commented on #34699
[CL 80140](https://dart-review.googlesource.com/c/sdk/+/80140) was landed in 2018. `G` should be expanded by instantiation to bound to `G<A<Null>>` without null safety, and `G<A<Never>>` with null safety.

Note that the CFE currently (ecc87a177fad538728998b4c49f043b4bf9212bd) performs instantiation to bound as described above, so the change should not be breaking. Also note that the current behavi

[2020-09-22 12:36] 1996SEJR commented on #39966
I have similar problems, I share this link:
[https://stackoverflow.com/questions/64009822/socketexception-in-flutter](url)

[2020-09-22 13:12] DanTup opened #43521 "Error requesting code fixes for file outside of analysis roots: NoSuchMethodError: The method 'packagesAvailableTo' was called on null"
This exception occurs in both LSP and the original protocol, though using the original protocol it seems like I never get a response from the server (I got the error/stack by attaching the debugger).

I don't know whether it's valid to try and get fixes for a file outside the analysis roots, but in the case of LSP we can't control the editor.

@bwilkerson do you think it would be better to skip th

[2020-09-22 13:12] mraleph commented on #43492
You would need to provide more detailed instructions on how to reproduce this issue because basic testing does not reproduce it.

[2020-09-22 14:31] kevmoo commented on #43517
I agree this is weird. We should do something like https://github.com/dart-lang/linter/issues/1307

@lrhn – there's no action for us here, right?

[2020-09-22 14:42] bwilkerson commented on #43521
Given that we only analyze files inside analysis roots, I think it's reasonable to not support functionality that depends on analysis in files outside any root.

In the original protocol, the consistent way to handle this is to introduce a new error (`GET_FIXES_INVALID_FILE`) to return when `edit.getFixes` is invoked on a non-analyzed file.

Do you want to update the handlers, or would you like me

[2020-09-22 14:51] enyo opened #43522 "Non Nullable doesn't work with 2.10 beta version"
I installed with `homebrew install dart-beta` and setting the sdk version constraint to `>=2.10.0-110.3.beta <3.0.0` doesn't work.

I then installed the `--dev` version, and set the version constraint to `sdk: ">=2.10.0-0.0.dev` and it worked fine.

[2020-09-22 15:07] devxpy commented on #43517
Thanks, the linter issue seems like a nice to have :)

[2020-09-22 15:07] #43517 closed

[2020-09-22 15:40] cooolinx commented on #43475
Same issue here.

And depends on the official document [HttpClient.findProxyFromEnvironment](https://api.dart.dev/stable/2.9.3/dart-io/HttpClient/findProxyFromEnvironment.html), `https_proxy` should work but it's not.

I also read the source code [L2211 in sdk/lib/_http/http_impl.dart](https://github.com/dart-lang/sdk/blob/a7ae2dbce9806e633bf60286f7a7a9149b24b8e3/sdk/lib/_http/http_impl.dart#L2211

[2020-09-22 15:47] athomas commented on #43473
Approved in scrum.

[2020-09-22 15:54] khpiyak opened #43523 "toStringAsPrecision not working as expected"
Hello dart team,

Dart SDK version: 2.9.2

I need to format double in significant figures.  I am expecting the toStringAsPrecision will perform round up.
e.g. 0.145 with precision 2 formats to 0.15.
but it formats to 0.14.

When I adding one more digi to value, e.g. 0.1451....to 0.1459, it can roundup correctly.  But not 0.1450.
Why rounding up the 2nd digi will depends on the 4th digi?

<img widt

[2020-09-22 16:21] eernstg opened #43524 "Analyzer: Implementation of super-bounded types with null safety"
With null safety, the spec update in dart-lang/language#1133 calls for the use of `Never` rather than `Null` during instantiation to bound, and during the checks for being a correctly super-bounded type.

Some work was done on this in https://github.com/dart-lang/sdk/commit/744e34aec07a2bbe982deb32ca6307b54003c1db, but the following example illustrates that the analyzer still uses `Null`:

[code]

[2020-09-22 16:28] munificent commented on #43397
Language test: https://dart-review.googlesource.com/c/sdk/+/163740

[2020-09-22 16:30] scheglov commented on #43462
Both (1) and (2) from https://github.com/dart-lang/sdk/issues/43462#issuecomment-694335401 were done.

[2020-09-22 16:30] #43462 closed

[2020-09-22 16:37] #43515 closed

[2020-09-22 16:59] gaaclarke opened #43525 "[vmservice_server] Dropping PUT requests"
I'm experiencing a problem where issuing a PUT request to the devfs server is sending the bytes for the PUT but the server is not returning the status code.

I put the following print statements in vmservice_server:
[code]

It will print out something like the following:
[code]

But for the asset `build/flutter_assets/assets/icons/.DS_Store` the client will have sent the asset twice, once to compl

[2020-09-22 17:01] #58231 closed

[2020-09-22 17:25] sstrickl commented on #43274
The CL mentioned above has just landed (and I believe I've tested with enough trybots that don't expect a revert, but of course we'll see if anything surprising shows up).

[CL 163585](https://dart-review.googlesource.com/c/sdk/+/163585) is a followup that does the same for assembly, including generating our own build ID section in assembly for ELF-native platforms. I plan to put it up for review

[2020-09-22 17:42] zanderso commented on #43525
/cc @bkonyi

[2020-09-22 18:15] sigmundch commented on #43520
Thanks for filing the issue.

I should point out that support for the development compiler (DDC) in Safari is not complete and we have several known issues there. We usually recommend running apps in development mode in Chrome or FF, and only run the release/deploy version (dart2js) of the program in Safari.

Sounds from your other bug that you also run into issues in Safari with the release versi

[2020-09-22 18:19] gaaclarke commented on #43525
I was able to verify that the `_HttpParser.listen` callback is not receiving the call for the missing PUT also:

patch:
[code]

log:
[code]

`build/flutter_assets/assets/icons/DS_Store` was the asset that that got sent twice by the client.

[2020-09-22 19:11] zanderso commented on #43525
A dump of the bytes from https://github.com/dart-lang/sdk/blob/master/sdk/lib/_http/http_parser.dart#L848 (if any are arriving for the dropped PUT) might give a hint if the http parser is going wrong. It would also be interesting to learn whether the bytes the parser is seeing for the dropped put are truncated.

[2020-09-22 19:11] kawin-aur opened #43526 "[dart.async] Calling Future.wait with empty List return unexpected Null type"
### Problem
Let's say if we have some empty List of Future, then apply Future.wait() to it.

**eg.**

[code]

When trying to call Future.wait with empty value, Future.wait() return type is `Future<List<Null>>` instead of `Future<List<T>>` which is `List<CustomClass>` in this case.

I've looked into the Future.wait() implementation and found that if an empty List is used as input, the result will b

[2020-09-22 19:14] evanweible-wf opened #43527 "DDC NoSuchMethodError when using non-external factory on a @JS()-annotated class"
* Dart SDK Version: 2.7.2 (I tried to test on 2.9.3 but hit https://github.com/dart-lang/build/issues/2832)
* MacOSX
* Chrome

---

**pubspec.yaml**

[code]

**web/main.dart**

[code]

When built with DDC, running the above throws this error:

[code]

This works as expected when building with dart2js.

[2020-09-22 19:27] sigmundch commented on #43527
Thanks for the report @evanweible-wf

@srujzs has been working through a lot of inconsistencies of js-interop in the two compilers recently. So we may want to close this issue as a duplicate of the many checks listed in https://github.com/dart-lang/sdk/issues/32929

We had other similar cases for which we wanted to report a static error, but this specific case seems like one that would be nice to

[2020-09-22 19:38] lrhn commented on #43490
A generic disposable means that generic future handling code cannot assume that the return value is a `Future`, nor that it isn't a `Future`. All dispose abstractions need to code for both, and at that point, we might as well define it as `FutureOr<void> dispose()`.
(Which is generally discouraged as API design because it puts a burden on the receiver).

[2020-09-22 20:17] vr19860507 commented on #43490
I'm understood, thank you.

[2020-09-22 20:19] evanweible-wf commented on #43527
That seems reasonable to me. To avoid cluttering up the other issue, I'll ask here – would this fall under "declaring Dart members on a @JS class (Dart code is silently ignored)", as in this just isn't a supported use case? Could it be?

I also tried a static method, which fails similarly and probably for the same reason.

[2020-09-22 20:22] evanweible-wf commented on #43527
Oh, sorry, I missed the last part of your comment, which answers my question:

Folding this into #32929 sounds good to me 👍

[2020-09-22 20:34] dkwingsmt opened #43528 "[ddc] Constructors fail to assign default arguments in certain cases (possibly related to mixins)"
## Issue

In some cases, constructors do not assign the correct default arguments to properties. As a result, the property has a `null` value despite being non-nullable.

For example (psuedo-example for demonstration; for a full reproduction, see next section)
[code]

This only occurs on Web. This issue is probably related to mixins, since it emerged in a change where a class is split into multipl

[2020-09-22 20:49] gaaclarke commented on #43525
@zanderso I put the print statements in the parser, i can see it's getting called bit it's hard to tie those back to a potentially dropped PUT.  I also added print statements to the error handlers in the HttpParser but nothing showed up:
[code]

[2020-09-22 21:00] jason-simmons commented on #43528
This can be reproduced by applying https://github.com/flutter/flutter/pull/63813 and running this Flutter test:

[code]

`delta` will print as null even though the `PointerEvent.delta` field is non-nullable and the `PointerEvent` superclass constructor should initialize that field.

`delta` will be initialized correctly if you remove the mixins that were added to the `PointerAddedEvent` class in h

[2020-09-22 21:40] pq opened #43529 "dartanalyzer not generating diagnostics for pubspec.yaml files"
To reproduce,

0. enable `sort_pub_dependencies`
1. unsort pub dependecies
2. run analyzer

[code]
(No issues are reported in IntelliJ either.)

The linter binary does pick these up (and explains why our tests haven't noticed the regression):

[code]

/fyi @jonasfj

[2020-09-22 21:44] creativecreatorormaybenot commented on #43520
@sigmundch Yes, that is correct. The release bug has to be something different and that is high priority while the debug one was only relevant because I am trying to debug the release one.

I am having a really hard time debugging it because I either get nothing from the console or logs that I do not know exactly how to work with (not human readable or not verbose).

[2020-09-22 21:56] bwilkerson commented on #43529
That's working as expected (though not necessarily as intended :-) ). The command-line analyzer only analyzes `.dart` files unless you explicitly specify a non-`.dart` file on the command line. I believe that the analysis server (and hence the future `dart analyze` command) analyzes all of the files in the directory that we know how to analyze.

[2020-09-22 22:22] pq commented on #43529
Aha.  That's helpful and yeah, a little surprising.   I'm not sure it's entirely work there either though?

[code]

More importantly, IntelliJ isn't reporting the diagnostic either.  I'm not sure if that's an IntelliJ issue or server yet.

[2020-09-22 22:56] nshahan commented on #43528
@jonahwilliams The test `flutter/test/gestures/events_test.dart` has the language comment `// @dart = 2.8` so I believe this is running in weak mode. While I agree it looks like we should have a default value, a null value appearing in a non-nullable field is technically allowed in weak mode. Has anyone reproduced this issue outside of the flutter test environment? I have not been able to yet.

[2020-09-22 22:59] nshahan commented on #43528
cc @dkwingsmt

[2020-09-22 23:12] aam commented on #41519
Per discussion with @rmacnak-google the plan is to leave existing synchronous openssl/boringssl API in place, but have SSLFilter::Handshake() run on dart worker thread using IOService infrastructure that is used for similar synchronous os api calls(file, socket, etc)

[2020-09-22 23:36] jason-simmons commented on #43528
I still see the `delta` field initialized to `null` if I remove the `// @dart = 2.8` comment from the simplified test in https://github.com/dart-lang/sdk/issues/43528#issuecomment-696977880

Running `flutter test` generates a `.dart_tool/build/flutter_web/my_app/test/my_test.ddc.js` build output.

With the mixins, the JavaScript `PointerAddedEvent` constructor sets `delta` to `null`:

[code]

If I

[2020-09-22 23:43] nshahan commented on #43528
@jason-simmons Thanks for the pointer on where the js files get generated, that gives me a little more to go on.

Which mixins specifically did you remove and from which class?

[2020-09-22 23:45] srujzs opened #43530 "Disallow JS-interop annotation on a non-external member"
Currently, dart2js allows the following:

[code]

The second `@JS()` here has no effect -- `bar` is treated as a Dart member. To avoid confusion and better clarify the intent of what `@JS()` means, members annotated with it should always be external, and there should exist a static error if not. Currently, this would be a breaking change, requiring users to migrate off of using the above syntax.

[2020-09-22 23:46] bkonyi commented on #43525
If this appeared after mid-late last week, this is probably a DDS issue. I'll take a look tomorrow.

[2020-09-22 23:52] jason-simmons commented on #43528
I removed the `_PointerEventDescription` and `_CopyPointerAddedEvent` mixins that were added to `PointerAddedEvent` in https://github.com/flutter/flutter/pull/63813

See https://github.com/flutter/flutter/pull/63813/files#diff-7b2ea4ecc4ea948de2b09c933dcc35d7R804

[2020-09-22 23:56] jmagman commented on #43525
I think it's longer ago than a week, it's being reported on the Flutter stable channel.
https://github.com/flutter/flutter/issues/63800#issuecomment-684555137

[2020-09-22 23:56] jmagman commented on #43525
See also https://github.com/flutter/flutter/issues/63869.

[2020-09-23 00:10] aam commented on #41519
One problem with running SSLFilter::Handshake on separate worker thread is its inability to invoke dart's [`onBadCertificate` ](https://github.com/dart-lang/sdk/blob/master/sdk/lib/io/secure_socket.dart#L26) synchronously during handshake.

[2020-09-23 00:15] leafpetersen commented on #43100
New tests for the inference and initialization portion landed [here](https://dart.googlesource.com/sdk/+/041261f92f588e8c410058a0a22a325e7d5e4962)

Failing: language/nnbd/inference/variable_initialization_promotion_test
Passing: language/nnbd/inference/variables_initialized_to_null_test

[2020-09-23 00:15] leafpetersen commented on #43099
New tests for the inference and initialization portion landed [here](https://dart.googlesource.com/sdk/+/041261f92f588e8c410058a0a22a325e7d5e4962)

Failing: language/nnbd/inference/variable_initialization_promotion_test
Passing: language/nnbd/inference/variables_initialized_to_null_test

[2020-09-23 00:50] gagoman commented on #36901
I have written a patch (https://dart-review.googlesource.com/c/sdk/+/164103/2) but I am not sure what is a best way to proceed with tests: there are located in different folders and repositories. I'd be glad to update the patch if you'll guide me through process (e.g. how I submit changes to both sdk and c019 at the same time). Thank you.

[2020-09-23 06:41] maks commented on #42910
Its not just on macOS, I'm seeing exactly the same thing on Linux as reported by @passsy , including the warning being shown twice! Likewise in VSCode, just editing and saving the `analysis_options.yaml` causes the warning to go away only in VSC until you use the palette `Dart: Restart Analysis Server` command,

But for me that made me suspicious as I happened to have 2 sub directories with dart p

[2020-09-23 07:37] zlssy opened #43531 "Dart Analyzer Error 。Encountered a Dart Analysis Server error."
Analyzer Feedback from IntelliJ

## Version information

- `IDEA AI-191.8026.42.35.6010548`
- `2.8.4`
- `AI-191.8026.42.35.6010548, JRE 1.8.0_202-release-1483-b49-5587405x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.15.6, screens 1440x900  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/9f/9bnj44dx22d5z95j591x7z2r0000gn/T/repor

[2020-09-23 07:54] lrhn commented on #36901
You won't need to add tests to co19, there is a different, independent team doing those tests.

Test for the SDK repository would go into tests/corelib and tests/corelib_2 (for non-null-safety tests).

The approach seems sound, with only some style nitpicks :)

[2020-09-23 08:10] eernstg commented on #41963
With the spec update in dart-lang/language#1133, in code with null safety, the compile-time errors described [above](https://github.com/dart-lang/sdk/issues/41963#issue-620860008) are no longer errors, because invariant and unused type variables are treated the same as covariant type parameters.

At this point we do not introduce breaking changes for code without null safety.

So I'll close this i

[2020-09-23 08:10] #41963 closed

[2020-09-23 08:10] eernstg commented on #41964
With the spec update in dart-lang/language#1133, in code with null safety, the compile-time errors described [above](https://github.com/dart-lang/sdk/issues/41963#issue-620860008) are no longer errors, because invariant and unused type variables are treated the same as covariant type parameters.

At this point we do not introduce breaking changes for code without null safety.

So I'll close this i

[2020-09-23 08:10] #41964 closed

[2020-09-23 09:15] athomas commented on #43453
Merged to beta in 4215dca724fb80de592f51a6cdba51e7638d1723 (2.10.0-110.5.beta).

[2020-09-23 09:15] #43453 closed

[2020-09-23 09:15] athomas commented on #43473
Merged to beta in 4215dca724fb80de592f51a6cdba51e7638d1723 (2.10.0-110.5.beta).

[2020-09-23 09:15] #43473 closed

[2020-09-23 09:57] dcharkes commented on #36780
We should also fix the error message on disallowing invocations with generics on `lookupFunction`, `asFunction`, and `fromFunction`.

`Error: Expected type 'NativeFunction<Function>' to be a valid and instantiated subtype of 'NativeType'. - 'NativeFunction' is from 'dart:ffi'. - 'Function' is from 'dart:core'. dylib.lookupFunction(symbolName);` does not mention that generic invocations are disallo

[2020-09-23 09:57] DanTup opened #43532 "Analyzer reports errors calling functions with "required" keyword in packages fetched after context was created"
Moving from https://github.com/Dart-Code/Dart-Code/issues/2793#issuecomment-696668218. If you open a Flutter project that you haven't fetched packages for (eg. a fresh clone of a project, or deleting `.packages`/`.dart_tool`/`.pubspec.lock`) and then run `pub get` while the analyzer is open, it will not handle the `required` keyword correctly inside the Flutter packages and report spurious errors

[2020-09-23 10:50] #42967 closed

[2020-09-23 10:56] bsutton commented on #36780
The generated error is also without a source file or line no.

On Wed, 23 Sep 2020, 7:57 pm Daco Harkes, <notifications@github.com> wrote:

[2020-09-23 11:04] walnutdust commented on #43529
hi! I'm still pretty new to this codebase so my conclusions may be incorrect, but I had taken a look at this issue a while back, and I think for the command-line analyzer, the reason why it's not analyzing `pubspec.yaml` properly is because of [these lines](https://github.com/dart-lang/sdk/blob/master/pkg/analyzer_cli/lib/src/driver.dart#L286-L308), which causes the `pubspec.yaml` file to only be

[2020-09-23 11:11] jonasfj commented on #43434
Filed https://github.com/dart-lang/pub/issues/2663 to track fixes needed for `flutter pub global run ...`

[2020-09-23 11:20] stefantsov commented on #42844
Resolved by https://github.com/dart-lang/sdk/commit/734da2ca2cd0119140a00340ee2ffe47372fc956.

[2020-09-23 11:20] #42844 closed

[2020-09-23 11:20] stefantsov commented on #40951
Resolved by https://github.com/dart-lang/sdk/commit/734da2ca2cd0119140a00340ee2ffe47372fc956.

[2020-09-23 11:20] #40951 closed

[2020-09-23 11:46] imampri102 commented on #32443
I think you can use like this:

[code]

[2020-09-23 12:13] alexander-doroshko commented on #25114
Update as of Dart SDK 2.10.0-110.3.beta on Windows:
- Server is reporting warnings like 'invalid option' or 'invalid value' in `analysis_options.yaml`
![image](https://user-images.githubusercontent.com/4499789/94010246-5925ae80-fdae-11ea-8c5d-550797242d5e.png)
- Note: warnings are reported only for *saved* state of the file, they are not updated on typing until the file is saved again. Is this a k

[2020-09-23 12:21] mit-mit commented on #43434
I wonder if we should consider not supporting `global` commands at all with `flutter pub` now that we have `dart pub` in path? wdyt @csells?

[2020-09-23 12:33] eernstg commented on #32443
With recent updates to the rules about returning (esp. https://github.com/dart-lang/language/pull/941), there are no errors in the following:

[code]

[2020-09-23 12:33] jonasfj commented on #43434
I'll correct the problem statement, if you are using `flutter pub global activate <package>` or `dart pub global activate <package>` where `dart` is from a Flutter SDK, AND you have added `$PUB_CACHE/bin` to `$PATH`, then when upgrading the bin-stubs placed in your PATH will stop working.

The problem isn't specific to `flutter pub global activate`, it's specific to `global activate` in a context

[2020-09-23 12:50] DanTup commented on #43521
I've got changes for both servers here:

https://dart-review.googlesource.com/c/sdk/+/164088/

https://dart-review.googlesource.com/c/sdk/+/164089/

[2020-09-23 13:23] #58226 closed

[2020-09-23 13:51] bwilkerson commented on #43532
@scheglov This sounds like another symptom of the issue in which server isn't listening for changes to the package spec file.

[2020-09-23 13:58] bwilkerson commented on #25114
Yes.

I believe that Jaime has been looking into this. @jwren

[2020-09-23 14:07] mkustermann commented on #43523
/cc @lrhn

[2020-09-23 14:09] mkustermann commented on #43488
Making Dart SDK buildable on Apple Sililcon is in-progress. @a-siva is working on this afaik.

[2020-09-23 14:10] pq commented on #42497
![image](https://user-images.githubusercontent.com/67586/94024073-d2e87880-fd6b-11ea-908d-dfd294d93c0f.png)

FYI @jefflim-google, basic analysis  is implemented and landed in the internal SDK.  It'd be great to  get some feedback.

Thanks!

[2020-09-23 14:11] mkustermann commented on #43476
I think we can merge this into https://github.com/dart-lang/sdk/issues/42774

[2020-09-23 14:11] #43476 closed

[2020-09-23 14:12] mkustermann commented on #43477
Let's merge this into https://github.com/dart-lang/sdk/issues/42774.

[2020-09-23 14:12] #43477 closed

[2020-09-23 14:22] mkustermann commented on #43506
@MahdiPishguy I guess @lrhn has answered your original question.

If you have a specific request to how the Dart language can be extended, I would encourage you to file an issue under the https://github.com/dart-lang/language repository, which tracks evolution of the Dart language.

Hope it's all right if I close this issue.

[2020-09-23 14:22] #43506 closed

[2020-09-23 14:25] askeksa-google commented on #43464
https://dart-review.googlesource.com/c/sdk/+/149063 is the first crashing commit.

[2020-09-23 14:27] mkustermann commented on #43526
The `Never` type is our new bottom type, which means a `List<Never>` can be assigned to a `List<CustomClass>`. So if the only guarantee of `Future.wait` is to return a unmodifiable list, returning a `const <Never>[]` for an empty `List<Future>` seems ok.

/cc @lrhn

[2020-09-23 14:30] mkustermann commented on #43522
@enyo To clarify: Do you mean `--enable-experiment=non-nullable` does not work for you? Or do you expect the experiment to be enabled by-default in 2.10 beta?

/cc @mit-mit Can you clarify from which point on the experiment is available and from which point on it will be on by-default?

[2020-09-23 14:30] mit-mit commented on #42774
@mkustermann you duped both of #43476 and #43477 into this, but as it seems reasonable to have a different timeline for Rosetta compatibility (most urgent) and full support for universal binaries? Or were you thinking we'd just got to universal binaries directly?

[2020-09-23 14:32] enyo commented on #43522
No I wasn't talking about `--enable-experiment=non-nullable`. I was expecting it to work by setting the constraint to `>=2.10` and the appropriate settings in `analysis_options.yaml`.

With the `dev` version it did work.

[2020-09-23 14:34] mit-mit commented on #43522
I believe you need to change your SDK constraint slightly to `sdk: ">=2.10.0-0.0`

[2020-09-23 14:42] stefantsov commented on #43472
I think I have an explanation about why we see what we see here.  It's an interplay between instantiate-to-bound, type inference, and the new spec update.

1. It starts with `Test1 t1` part in the first line in main (`Test1 t1 = checkme1;`).  Instantiate-to-bound provides `dynamic` as the type argument to `Test1` there.
2. `Test1<dynamic>` is used as a type context in type inference for the initia

[2020-09-23 14:42] #43472 closed

[2020-09-23 14:42] dcharkes opened #43533 "[cfe] Give parameters always a name"
I ran into this with external field setters and the VM trying to make a stack trace and trying to read non-empty parameter names. https://dart-review.googlesource.com/c/sdk/+/164093

cc @johnniwinther @stefantsov

[2020-09-23 14:43] mraleph commented on #43464
@askeksa-google I don't think so, that CL just improved the precision. Try something like (note `String` replaced with a "sealed" class `A`):

[code]

The actual issue is somewhere else.

[2020-09-23 14:44] mkustermann commented on #42774
@mit-mit I'm going through unlabeled issues and was aware that @a-siva has open bug for dart2native regarding Apple Silicon already (which I assume covers both aspects), which is why I merged it into here.

Apologies if I misunderstood the intend here. @a-siva If you want to track those issues separately, please re-open #43476 and #43477

[2020-09-23 14:56] mkustermann commented on #43464
The bug is that `LoadLocalInstr(<parameter-var>)::ComputeType()` cannot rely on the static type of `<parameter-var>` (`String` in this case) if the parameter is generic-covariant-impl **before** we actually check it's type (we use it in the prologue when storing it's value into the context, because it's captured -- this happens before any `AssertAssignable`)

[2020-09-23 14:59] MahdiPishguy commented on #43506
Yes, thanks a lot. i think this is good ability for dart, but i'm not sure is this right or not

[2020-09-23 15:00] mit-mit commented on #43522
Closing as I don't think there is an issue here. @enyo if you still see an issue, please reopen and provide concrete repro steps.

[2020-09-23 15:00] #43522 closed

[2020-09-23 15:16] athomas commented on #33989
The tool no longer exists.

[2020-09-23 15:16] #33989 closed

[2020-09-23 15:21] enyo commented on #43522
Just tested it and it works. Thanks @mit-mit

[2020-09-23 15:53] csells commented on #43434
Since we have both 'dart pub' and 'flutter pub', I don't see us needing to add 'pub' to the PATH by default. There is a significant number of docs and samples that would need to be updated, however, many of which we don't control.

[2020-09-23 15:56] tvolkert commented on #43028
Nope - can't reproduce it anymore.  I'll re-open if I see it happen again.

[2020-09-23 15:56] #43028 closed

[2020-09-23 16:01] bkonyi commented on #43028
Thanks for confirming @tvolkert!

[2020-09-23 16:03] zanderso commented on #41519
[`SSLCertContext::CertificateCallback()`](https://github.com/dart-lang/sdk/blob/master/runtime/bin/security_context.cc#L38) running on an IOService thread can send a message to the isolate telling it to run the `onBadCertificate`, then block to wait for the result.

[2020-09-23 16:14] sigmundch commented on #42895
It appears this issue relates to how we [emit the name of the equality operator][1]

Note that if the type `f1` is changed to `Object` instead of `Function`, then it works as expected.

For context, DDC may generate names for methods using a simple member name like `._equals` or a symbolized reference like `[$_equals]`. Because symbols are private and not visible outside our code, we use them to e

[2020-09-23 16:20] sigmundch commented on #42894
Note: this works in dart2js, so I'm guessing we fixed this in the dart2js patch files ([1][1], [2][2])  but not on the ddc patch files ([3][3], [4][4])

[1]: https://github.com/dart-lang/sdk/blob/master/sdk/lib/_internal/js_runtime/lib/core_patch.dart
[2]: https://github.com/dart-lang/sdk/blob/master/sdk/lib/_internal/js_runtime/lib/js_helper.dart
[3]: https://github.com/dart-lang/sdk/blob/master/

[2020-09-23 16:21] #58133 closed

[2020-09-23 16:28] franklinyow commented on #40348
@a-siva reopened, but seems like it can be closed, please take a look

[2020-09-23 17:05] DanTup commented on #40348
I believe there's still an issue here. There was a fix made (that was accidentally lost, then re-applied), but the original comment here referred to a crash I could still repro with the fix.

I tested again using my same scripts using the current nightly and it happened for 2 out of 11 attempts:

[code]

Here's a crash dump:

https://drive.google.com/file/d/1wFVekU_2jn16IEmiaiNN-9nwSgz0xZSe/view?u

[2020-09-23 17:44] boukeversteegh opened #43534 "dart2native performance - inefficient object allocation in async code"
I found a surprising case where `dart2native` produced **async code** that was **50% slower** than VM code, in [fairly trivial code](https://gist.github.com/boukeversteegh/c2caf353640a280084afed9d27f5fbb1).

In general I was not expecting `dart2native` to be slower for a simple file-reading operation than `dart`. That's a bummer and I don't understand it fully, but I can live with a 10-20% drop.

[2020-09-23 18:49] nshahan commented on #43528
@jason-simmons I able to repro the issue with the small test you posted when running `flutter test`.

[code]

When I run the exact same code with `flutter run` I can see that the delta is not null.

[code]

Would you expect this? Is there a known difference between the test environment and just running as an app? Have you been able to reproduce this issue outside of the test environment?

[2020-09-23 18:55] jason-simmons commented on #43528
No, this is not expected behavior.  In particular, the presence of the mixins should not affect how the constructor initializes `delta`.  So it looks like something is going wrong during compilation of the test.

I have only been able to reproduce this using `flutter test` with a web/JavaScript target.  `flutter run` for web and `flutter test` with native compilation work as expected.

[2020-09-23 18:56] jonahwilliams commented on #43528
flutter test with a web target is using build_web_compilers, while run uses the frontend_server

[2020-09-23 20:43] natebosch opened #43535 "Analysis Server fix for adding missing overrides sometimes generates invalide code"
For example, starting with the file:

[code]

If my cursor is on `B` and I run the action "Create 1 missing override(s)" the end result is:

[code]

There are two problems:

- The `dynamic` disappeared.
- The `?` moved from after the `>` to after the `Map`.

[2020-09-23 21:04] hellyhansen opened #58233 "Check for calls to `test` in `setUp` and `tearDown` callbacks"
**Describe the rule you'd like to see implemented**

Warn when a test is defined inside a setUp or tearDown callback.

**Examples**

[code]

In this example, the `whoops` test doesn't run because it's been accidentally defined inside the setUp callback. The setup doesn't fail because there are no tests in the group to trigger it. In a larger test it's easy to miss the indentation and assume the te

[2020-09-23 21:27] scheglov commented on #43162
Landed again as https://dart-review.googlesource.com/c/sdk/+/164240.

[2020-09-23 22:01] munificent opened #43536 "Incorrect downwards type inference in CFE"
OK, I *believe* CFE is doing the wrong thing here, but it's in a corner of type inference I don't understand well, so I could be wrong. For what it's worth, analyzer does *not* report an error on the same code, so one of our tools is wrong:

[code]

In CFE, this produces:

[code]

It looks like CFE is inferring `List<Never>` from the downwards inference (I'm guessing by taking the greatest/least c

[2020-09-23 22:13] srujzs commented on #43527
I think forwarding factories is something we want to support in ddc and dart2js, no? In that case, it would make more sense to file a separate bug to fix this in ddc rather than combine this with the static error work.

[2020-09-23 23:03] sigmundch commented on #43527
good point - let's keep it then :)

[2020-09-23 23:10] rmacnak-google opened #43537 "Canonicalization verifier failing on AppJIT test"
[code]

[2020-09-23 23:19] pq commented on #43529
Thanks for taking a look @walnutdust!

My attention has been on server, with a proof of concept up for discussion here: https://dart-review.googlesource.com/c/sdk/+/164249

![image](https://user-images.githubusercontent.com/67586/94083464-0cdf6c00-fdb8-11ea-9e10-01a4144e1a3c.png)

The CLI would need some updating as well.

[2020-09-23 23:26] nshahan opened #43538 "Cross module issue - const class fields missing default values"
I have observed missing default values for fields of const constructors under a very specific conditions.

* The const class must extend another class with a mixin application.
* The const constructor must explicitly call super and not pass all of the arguments.
* The const value must be created in a different module
* This is only observed in DDC so I believe it is specific to the modular kernel

[2020-09-23 23:27] nshahan commented on #43528
I believe this is an issue with modular kernel compilation. I've created a minimal repro outside of flutter and filed another issue for the CFE team https://github.com/dart-lang/sdk/issues/43538.

[2020-09-23 23:30] srawlins commented on #43178
I've got a Windows setup now and the steps all work for me:

* `dart.exe --version`: Dart SDK version: 2.10.0-edge.e89279c85f80d57889a8a15757699c951200b391 (be) (Tue Sep 22 21:59:31 2020 +0000) on "windows_x64"
* Sample project is at `E:\dart-repro-migrate`
* `C:\Users\srawlins\dart-sdk\sdk\out\ReleaseX64\dart-sdk\bin\dart migrate --skip-pub-outdated`

1. Click lib/my_migrate_project.dart in the p

[2020-09-23 23:33] nshahan commented on #43538
I'm going to mark this as a null safety issue since it allows null values to appear in fields marked as non-nullable and breaks soundness when running with `--sound-null-safety`

[2020-09-23 23:38] a-siva commented on #43492
I tried your example above with the bleeding edge version of Dart on OS:Mac 10.15.6 and it worked fine.
We need more information to act on it.

[2020-09-23 23:38] a-siva commented on #40348
/cc @aam

[2020-09-23 23:40] nshahan commented on #43538
Here is a test in the modular test framework that shows the issue https://dart-review.googlesource.com/c/sdk/+/164251.

To run it locally:
`$dart pkg/dev_compiler/test/modular_suite.dart --verbose --filter=constant_with_mixin`

[2020-09-24 00:01] hoylen opened #58234 "unawaited_futures and returning Future results in exceptions not caught by expected function code"
**Describe the issue**

Normally, if a function returns a Future and the last statement calls a second function to obtain that Future, the `await` can be omitted. That is, there is nothing wrong with this:

[code]

But when an exception can be thrown asynchronously by that second function _and_ the first function expects to catch it, the `await` is mandatory, otherwise it will not be caught within

[2020-09-24 00:11] aam commented on #41519
Thanks @zanderso . Yeah, that is a possibility, concern would be clean up of blocked IOService thread in case `onBadCertificate` isolate exits.

As a temporary solution I thought of having async handshake only in case when there is no `onBadCertificate` provided.

Yet another possibility is to use `ssl_verify_retry` return code Slava mentioned above with only [`SecTrustEvaluate`](https://github.co

[2020-09-24 00:13] matanlurey commented on #43536
Worth mentioning: This did not occur prior to null-safety opt-in.

[2020-09-24 00:26] #28066 closed

[2020-09-24 02:02] aam commented on #40348
@DanTup wrote

What are the scripts Danny?
The ones where first one watches a large directory(several gbs) with large number of files(tens of thousands), second one deletes that whole directory?

[2020-09-24 02:31] maks opened #43539 "Analyzer gives inconsistent results"
I ran `flutter analyze` locally and got no issues. I then committed this code which triggered it to run on our CI which showed analyzer issues:

[code]
(filenames changed due to proprietary info)

the code for the issues looks something like this:
[code]

calls:

[code]

Going back to my local work dir, even restarting the VSCode or restarting the Dart analysis server via a palette command did not

[2020-09-24 04:22] leafpetersen commented on #43536
Yeah, this looks like a bug to me.  We're inferring the call `method(list)` in context `List<E>`.  That implies a downwards inference constraint solve of `List<F> <# List<E>` solving for `F`.  That reduces to `F <# E` solving for `F`, which produces the constraint `_ <: F <: E`.  With no further constraints, we should fix `F` to be `E`.    That's a valid solution, so there should be no further iss

[2020-09-24 06:32] johnniwinther commented on #43536
@stefantsov Can you take a look?

[2020-09-24 06:47] DanTup commented on #40348
@amm yep! If you don't still have them, you can get them at https://github.com/flutter/flutter/issues/46616#issuecomment-576799743 (I copied them from there yesterday, so that's exactly the code I ran).

[2020-09-24 07:41] lrhn commented on #43539
The warning here comes from a [lint](https://dart-lang.github.io/linter/lints/prefer_const_declarations.html).

Is it possible that the lint is not enabled locally, but it is where you commit the code to? Perhaps your `analysis_options.yaml` file is not up-to-date, or something else causes the rules to differ.

[2020-09-24 07:58] maks commented on #43539
@lrhn thanks for the quick reply. No I checked and it was exactly the same git commit locally and on our CI.

Also even if they were different, I don't think that explains the behaviour I see locally where the the analyser on the command line and in VSCode initially show no warning, opening the file and then ctrl-clicking to follow the reference in the file caused the warning to then show immediat

[2020-09-24 08:07] maks commented on #43539
Perhaps this is another variation of this [previous issue](https://github.com/dart-lang/sdk/issues/36064) where my opening the file in VSC causes it to be sent to the analysis server which then picksup there error that it previously missed, though that doesn't quite explain why I running `flutter analyze` doesn't initially cause the analysis server to initially pickup the warning but it always doe

[2020-09-24 08:22] lrhn commented on #43539
Does sound weird, let's get the analyzer people on it.

[2020-09-24 08:45] DanTup commented on #40348
@aam using the VM you sent me I didn't see the crash in 20 runs. It was fairly intermittent so no guarantees, but it does seem like it may have fixed/improve it :-)

[2020-09-24 09:00] #42370 closed

[2020-09-24 09:34] mraleph commented on #43229
@cskau-g has landed the change. closing.

[2020-09-24 09:34] #43229 closed

[2020-09-24 10:27] lrhn commented on #43526
It's type-wise valid to return an empty `List<Never>`, but it can cause issues with operations on lists which are contravariant.
There are a few of those which are even allowed on an unmodifiable list, for example `firstWhere(bool test(T value), {T orElse()})`.
 (That was a [bad idea](https://github.com/dart-lang/sdk/issues?q=is%3Aissue+is%3Aopen+firstWhere) to begin with, and I do feel bad about

[2020-09-24 10:27] #43526 closed

[2020-09-24 10:44] lrhn commented on #43523
My initial hunch is that it is *most likely* working as intended, because doubles just don't work like you expect them to!
Let's look at the numbers in question.

The real number 0.145 is indeed not precisely representable as a double. The closest double to 0.145 has the value

and that is the actual value your double literal `0.145` represents.
As you can see, that number is strictly below 0.145,

[2020-09-24 10:44] #43523 closed

[2020-09-24 11:21] mit-mit commented on #22265
Related issue for exposing this in `package:http`: https://github.com/dart-lang/sdk/issues/22265

[2020-09-24 11:55] #43455 closed

[2020-09-24 12:06] stefantsov commented on #43479
Addressed by https://github.com/dart-lang/sdk/commit/d3114bac63b8ec22e8dfee4bb91b3f4c8c1fab59.

[2020-09-24 14:49] aam commented on #40348
Thanks @DanTup ! I have put together https://dart-review.googlesource.com/c/sdk/+/164340 with the fix.

[2020-09-24 14:52] devoncarew opened #43540 "remove the --dartpad command line option for the analysis server"
This was only ever used by dartpad, and it's since moved off using the flag (https://github.com/dart-lang/dart-services/pull/604).

When we remove it, we should consider changing the `UriContributor` code completion contributor to not suggest file paths outside of analysis context roots; the `--dartpad` cli option was intended to prevent arbitrary exploration of the files on a filesystem.

https:/

[2020-09-24 15:00] jakemac53 commented on #43327
ping @mit-mit to prioritize please

[2020-09-24 15:36] leafpetersen commented on #34699
@scheglov can you estimate how much work it would be to fix this in the analyzer?

[2020-09-24 15:51] DanTup commented on #40348
Great! I had another report of what may be this still occurring on Flutter master (which has the original fix), so I wonder if it could be this (https://github.com/Dart-Code/Dart-Code/issues/2814).

[2020-09-24 16:28] nshahan commented on #43303
Fixed by a CFE change d3114bac63b8ec22e8dfee4bb91b3f4c8c1fab59.

[2020-09-24 16:28] #43303 closed

[2020-09-24 16:30] #40348 closed

[2020-09-24 16:57] a-siva commented on #43537
/cc @crelier

[2020-09-24 17:29] crelier commented on #43537
Interestingly, my pending change decoupling signatures from functions has no issue with this test. The question is what did I inadvertently fixed in this change?

[2020-09-24 18:36] eernstg commented on #34689
Closing: CL 80140 was landed in 2018, and the common front end has been using the specified rule for about a year at this point, so there is no work to do with the front end. The corresponding issue in the analyzer is handled via https://github.com/dart-lang/sdk/issues/34699.

[2020-09-24 18:36] #34689 closed

[2020-09-24 18:53] #43319 closed

[2020-09-24 19:14] goderbauer opened #43541 "Crash while running dart migrate on flutter_test"
When running `dart migrate` on the `flutter_test` package I encountered the following error:

[code]

[2020-09-24 19:15] goderbauer commented on #43541
In order to run `dart migrate` I had to modify the package slightly since some files were already migrated and the tool refused to run: https://github.com/flutter/flutter/commit/36f5b3db588e66f50c916974a3d9dfd00f5366a0

[2020-09-24 19:20] leafpetersen commented on #43541
cc @stereotype441

[2020-09-24 20:23] srawlins commented on #31458
Duplicate of https://github.com/dart-lang/sdk/issues/29861

[2020-09-24 20:23] #31458 closed

[2020-09-24 20:27] bwilkerson commented on #43535
https://dart-review.googlesource.com/c/sdk/+/164260

[2020-09-24 20:27] #43535 closed

[2020-09-24 20:32] srawlins commented on #29861
dartanalyzer 2.9.1 reports on B.foo.

[2020-09-24 20:32] #29861 closed

[2020-09-24 20:35] #58189 closed

[2020-09-24 20:37] #58178 closed

[2020-09-24 20:50] fishythefish opened #43542 "[dart2js] html/js_typed_interop_side_cast_exp_test/01 fails on strong NNBD"
```tools/test.py -mrelease -cdart2js -rchrome --nnbd=weak tests/lib/html/js_typed_interop_side_cast_exp_test/01```
passes, but
```tools/test.py -mrelease -cdart2js -rchrome --nnbd=strong tests/lib/html/js_typed_interop_side_cast_exp_test/01```
fails.

[2020-09-24 20:53] scheglov commented on #34699
Probably 2 days.

[2020-09-24 21:23] rmacnak-google opened #43543 "Exception throwing machinery must not allocate on the Dart heap"
Allocation during exception throwing can lead to divergence when out of memory:

[code]

[2020-09-24 21:25] #27896 closed

[2020-09-24 21:27] fishythefish commented on #43542
Duplicate of #43470

[2020-09-24 21:27] #43542 closed

[2020-09-24 21:42] psygo opened #43544 "Unable to Dispatch `KeyEvent`s"
Dispatching `KeyboardEvent`s seems fine, but, ideally, I would rather use the richer [`KeyEvent`][key_event_docs], in order to make testing much easier.

Whenever I try to dispatch an event with, for example:

[code]

I get

[code]

I don't get why this happens, because a `KeyEvent` implements a `KeyboardEvent`, which is an `Event`.

---

Also, I don't get why the [docs][key_event_docs] tell us to

[2020-09-24 22:08] srawlins commented on #43541
CC @scheglov this seems to be deep in analyzer, resolving elements...

[2020-09-24 22:55] scheglov commented on #43541
I can reproduce the issue running `dart migrate packages/flutter_test` in the Flutter repository.
Now I will try to reproduce it by running something under debugger.

[2020-09-24 23:03] scheglov commented on #43541
I can reproduce it in IntelliJ under debugger.

[2020-09-25 00:02] leafpetersen opened #43545 "Customer-reported issue with NNBD migration tool: Could not add/remove hint"
Could not add/remove hint

Error: Error reaching migration preview server.

Please fill in the following:

**Name of package being migrated (if public)**: Contact @leafpetersen for details
**What I was doing when this issue occurred**: Trying to add a `/*!*/` hint
**Is it possible to work around this issue**: Yes
**Has this issue happened before, and if so, how often**: It's 100% repeatable, see b

[2020-09-25 00:10] scheglov commented on #43541
https://dart-review.googlesource.com/c/sdk/+/164462

[2020-09-25 00:17] #43470 closed

[2020-09-25 00:25] alexmarkley commented on #42774
@mkustermann I agree with the general principle of keeping the issue queue clean and organized.

FWIW I think Rosetta support for existing binaries is pretty different from Universal binary support. They probably have very different priorities and work efforts associated with them. But that's just my guess. 😄

[2020-09-25 01:16] leafpetersen opened #43546 "Migration tool loses focus when adding a hint"
When working in the migration tool UI, the central pane shows a view of the source, and the bottom right hand pane shows information about nullability choices along with buttons for adding nullability hints.  The common work flow is to work through the list of nullable types added, using hints to override choices that aren't the desired outcome.  However, when a hint is added, the central source p

[2020-09-25 02:10] mrliuwen opened #43547 "Stack overflow in analysis server"
Analyzer Feedback from IntelliJ

## Version information

- `IDEA IU-192.7142.36`
- `2.9.2`
- `IU-192.7142.36, JRE 11.0.4+10-b304.77x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.15.6, screens 2048x1152  Retina`

## Exception
[code]

For additional log information, please append the contents of
file:///private/var/folders/9n/pt694dn15c1_d268ck0hm1280000gp/T/report1.txt.

[2020-09-25 03:39] filiph opened #43548 "HttpClient does not redirect when it sees a HTTP 308 response"
The [`HTTP 308 Permanent Redirect`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/308) status code "indicates that the resource requested has been definitively moved to the URL given by the Location headers". It's basically another version of HTTP 301, [proposed](https://tools.ietf.org/html/rfc7538#section-3) in 2015 and currently [supported by all browsers](https://developer.mozilla.or

[2020-09-25 03:53] sgrekhov opened #43549 "No error if library exports declaration 'main' which is not a function"
According to the recent [update](https://github.com/dart-lang/language/pull/1146) of the NNBD [specification](https://github.com/dart-lang/language/blob/master/accepted/future-releases/nnbd/feature-specification.md#the-main-function)

But, in fact, there are no errors nor in analyzer nor in CFE in all of the cases below
[code]
[code]
[code]
[code]
[code]
`Dart SDK version: 2.10.0-110.0.dev (dev) (

[2020-09-25 04:02] jakemac53 opened #43550 "Need an analyzer version published for 2.11 dev releases"
Now that we have a 2.11 dev sdk we need an analyzer that supports that language version.

See https://travis-ci.org/github/dart-lang/build/jobs/730147024#L413 - nothing is broken other than our tests, but users will start seeing this warning on the 2.11 dev sdk.

[2020-09-25 04:04] jakemac53 commented on #43550
This also does seem like something which will happen on each sdk version bump, so open to suggestions for how/if we should change our validation etc.

[2020-09-25 04:28] sgrekhov opened #43551 "[NNBD] No compile error if function 'main()' has more than two required positional parameters"
Accordint to the recent [change](https://github.com/dart-lang/language/pull/1146) in NNBD [specification](https://github.com/dart-lang/language/blob/master/accepted/future-releases/nnbd/feature-specification.md#the-main-function)

In fact, there are no issues in analyzer and runtime `NoSuchMethodError` in VM in both cases below
[code]
[code]
There must be a compile error in both analyzer and CFE
`

[2020-09-25 04:35] bwilkerson commented on #43550
@devoncarew

[2020-09-25 04:55] sgrekhov opened #43552 "No error if the first argument of 'main' is not supertype of 'List<String>'"
With the recent [change](https://github.com/dart-lang/language/pull/1146) in NNBD [specification](https://github.com/dart-lang/language/blob/master/accepted/future-releases/nnbd/feature-specification.md#the-main-function)

In fact, there is no error in analyzer and runtime error in VM
[code]
There must be a compile error in both analyzer and CFE
`Dart SDK version: 2.10.0-110.0.dev (dev) (Wed Sep 9

[2020-09-25 05:06] jld3103 commented on #37271
Any updates on this?

[2020-09-25 06:07] mit-mit commented on #43407
@scheglov any news? This is currently tagged as blocking TP2, to please treat with priority

[2020-09-25 06:49] vrajtul opened #43553 "Analyzer Feedback from IntelliJgood one"
## Version information

- `IDEA AI-193.6911.18.40.6626763`
- `2.9.2`
- `AI-193.6911.18.40.6626763, JRE 1.8.0_242-release-1644-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1920x1080`

[2020-09-25 06:49] #43553 closed

[2020-09-25 07:18] Sunbreak commented on #32311
We are customizing Flutter for our project, which needs some Dart-C-interop

Is it safe to use `import 'dart:nativewrappers'` as below?
- https://github.com/dart-lang/sdk/blob/master/sdk/lib/html/html_common/html_common.dart#L11
- https://github.com/flutter/engine/blob/62b5a53b10a12413845f6574559b4d836c57b2cb/lib/ui/ui.dart#L23

[2020-09-25 07:58] eernstg opened #43554 "CFE: No error if the first argument of 'main' is not a supertype of 'List<String>'"
This is the CFE specific issue for #43552, which has the details.

[2020-09-25 07:59] eernstg opened #43555 "Analyzer: No error if the first argument of 'main' is not a supertype of 'List<String>'"
This is the analyzer specific issue for #43552, which has the details.

[2020-09-25 08:00] eernstg commented on #43552
Thanks! I've created tool specific issues #43554, #43555 and made this one an epic containing those.

[2020-09-25 08:05] eernstg commented on #43552
@johnniwinther, I created a CFE specific issue for this, #43554, and made it part of the epic 'CFE Null Safety Beta 2', then removed this one from that epic to avoid the duplication.

[2020-09-25 08:07] sgrekhov commented on #43552
@eernstg, thank you. Please see also https://github.com/dart-lang/sdk/issues/43551 and
https://github.com/dart-lang/sdk/issues/43549

[2020-09-25 08:25] dcharkes commented on #37271
We're currently working on https://github.com/dart-lang/sdk/issues/36730, which is a prerequisite for this.

[2020-09-25 08:25] mkustermann commented on #43543
Something I wanted to change for a long time (I modified that code last time to fix a bug).

[2020-09-25 08:38] mraleph commented on #32311
I am not sure I understand the question. Can you clarify?

If you need Dart-C interop you should use `dart:ffi`.

[2020-09-25 08:40] eernstg opened #43556 "CFE: No error if library exports declaration 'main' which is not a function"
This is the CFE specific issue for #43549, which has the details.

[2020-09-25 08:40] eernstg opened #43557 "Analyzer: No error if library exports declaration 'main' which is not a function"
This is the analyzer specific issue for #43549, which has the details.

[2020-09-25 08:44] eernstg commented on #43549
Created #43556/#43557 specific to CFE/analyzer, moved CFE epic link to #43556.

[2020-09-25 08:48] eernstg opened #43558 "CFE: No compile error if function 'main()' has more than two required positional parameters"
This is the CFE specific issue for #43551, which has the details.

[2020-09-25 08:48] eernstg opened #43559 "Analyzer: No compile error if function 'main()' has more than two required positional parameters"
This is the analyzer specific issue for #43551, which has the details.

[2020-09-25 08:51] eernstg commented on #43551
Created #43558/#43559 specific to CFE/analyzer, moved CFE epic link to #43558.

[2020-09-25 08:54] eernstg commented on #43552
Transformed #43551 and #43549 similarly: If one issue has `area-analyzer` and `area-front-end` at the same time then the status (open/closed) is ambiguous. So it's better to have one issue for each, and the common text can be an epic, `area-meta`.

[2020-09-25 10:04] jensjoha opened #43560 "CFE, location and patches"
For classes that are patched (e.g. in the test `outline/general/platform_invalid_uris/main` or in the platform) we don't update the uri, meaning we can point to positions from the patch which is outside the range (or doesn't fit with) the original file. This means that doing .location on such a node throws.

We should probably either
* Update the URI
* Wrap stuff in FileUriExpression or something

[2020-09-25 10:27] mkustermann commented on #30632
After 1c7731db6084fbdbb879ba7a602718af24d3bdee we use type testing stubs always - in JIT as well as AOT.

[2020-09-25 10:27] #30632 closed

[2020-09-25 10:31] mkustermann commented on #39570
Many months ago I've made https://github.com/flutter/flutter/pull/46078 for flutter which would run a copy of our ffi test suite as a flutter app on flutter's device lab. Though there's disagreements about whether we can have a copy of the tests in flutter, the licensing, etc.

I don't have the cycles to continue down a more complicated path for that.

[2020-09-25 10:37] #43445 closed

[2020-09-25 11:07] dcharkes commented on #39570
@athomas any progress on getting iOS devices on our own CQ? (Which would remove the requirement for us to test through Flutter.)

[2020-09-25 12:17] nohli opened #43561 "[NNBD] Analyzer says 'The left operand can't be null' to map keys that can be invalid (and return null)"
[code]

edit:
Changing to this does the trick:
[code]

[2020-09-25 14:18] hildebro commented on #41560
Any update on the priority of this issue?

[2020-09-25 14:27] ssivagnanam opened #43562 "Comparing 04/10/2020 with 05/10/2020 is failing"
Hi Team,

When i compare two DateTime objects (04/10/2020 with 05/10/2020) using difference() method.  I am getting Duration result as 23:30:0:00.00000.
Note : This issue occurs only in Australian Eastern Time Zone. Only for above two dates.

Flutter : 1.17.5
Dart SDK : 2.8.4
Environment : VS Code (Mac OS).

[2020-09-25 14:53] stefantsov commented on #43495
Proposed fix: https://dart-review.googlesource.com/c/sdk/+/164561.

[2020-09-25 15:09] #43561 closed

[2020-09-25 15:17] jakemac53 commented on #43550
Skipping the test in `build_resolvers` for now, and will restore it once we have something published.

We also don't currently allow enabling of experiments if the `ExperimentStatus.currentVersion` doesn't exactly match the current sdk version, I am updating that to only require that the sdk version is not greater than that version.

See https://github.com/dart-lang/build/pull/2840.

[2020-09-25 16:16] scheglov commented on #43550
https://dart-review.googlesource.com/c/sdk/+/164600

[2020-09-25 16:21] #43541 closed

[2020-09-25 16:46] #39609 closed

[2020-09-25 17:14] arcticfox1919 opened #43563 "The RawSocket.write method exception could not be caught."
I wrote the following code:

[code]
But I'll get something wrong.

[code]

`try-catch` didn't work.

I think the problem may be that the client connection is closed, but we can't handle the exception, which causes the server-side program to crash.

[code]

Perhaps the client connection was closed accidentally, so `onDone`, `onError` is not executed, there is no other way to determine if the socket

[2020-09-25 18:12] pq opened #43564 "Exception computing bulk fixes for parts (running `dart fix`)"
Exception:

[code]

To reproduce.

Enable the following lints in `analyzer/analysis_options.yaml`:

[code]

then run `dart fix`:

[code]

/cc @bwilkerson

[2020-09-25 18:14] #43550 closed

[2020-09-25 19:04] devoncarew commented on #43029
Hi, thanks again for the report. We've talked this over a bit; I don't think we want to show `?` / nullable types in the code completion list:

- code completion is often used for discovery (what types exist? what methods exist on an object?); showing `?` doesn't help there as every type could be nullable
- code completion is also used to save on the number of chars you have to type; being able to

[2020-09-25 19:04] #43029 closed

[2020-09-25 19:19] sigmundch commented on #43293
There happen to be two issues at hand:
 - custom elements has evolved. This the old (v0.5) API that was removed from browsers so it wont work anymore. We need to do some clean up to remove it, though. This code fails in weak mode for this reason.
- In addition, a local variable in this code is inferred as `String`, but should be `String?` (see https://dart-review.googlesource.com/c/sdk/+/164641/1)

[2020-09-25 19:30] YazeedAlKhalaf commented on #39945
@stuartmorgan I am wondering what is the problem that is making the fix take so long?

[2020-09-25 19:58] scheglov commented on #43407
I cannot reproduce with the recent Dart SDK.
[code]

[2020-09-25 19:58] fliptableio opened #43565 "timeout on a stream `firstWhere` call doesn't work"
I'm trying to listen to a stream until I find a certain value or timeout after 1 second.
Here's a simple example:
[code]

**Expected behavior**
Listens to the stream for 1 second and times out with a null value (because the timeout is set to 1 second and it takes 5 seconds to get to 5).
Expected output: `found null`

**Actual Behavior**
Waits for 5 seconds for the stream to emit 5, despite the `ti

[2020-09-25 20:07] #43565 closed

[2020-09-25 20:09] VKBobyr opened #43566 "timeout on a stream `firstWhere` call doesn't work"
I'm trying to listen to a stream until I find a certain value or timeout after 1 second.
Here's a simple example:
[code]

**Expected behavior**
Listens to the stream for 1 second and times out with a null value (because the timeout is set to 1 second and it takes 5 seconds to get to 5).
Expected output: `found null`

**Actual Behavior**
Waits for 5 seconds for the stream to emit 5, despite the `ti

[2020-09-25 20:22] a14n commented on #43407
I can't reproduce either. It should have been fixed at some point.

[2020-09-25 20:22] #43407 closed

[2020-09-25 20:53] bwilkerson opened #43567 "Poor error reporting when a synthetic identifier isn't valid"
Create a file containing
[code]
and analyze it. Analyzer will produce two diagnostics:

- ParserErrorCode.EXPECTED_TYPE_NAME [10, 2, Expected a type name.]
- CompileTimeErrorCode.NON_TYPE_AS_TYPE_ARGUMENT [10, 0, The name '' isn't a type so it can't be used as a type argument.]

The second one is pointless and looks bad. Analyzer should not produce it.

[2020-09-25 21:00] devoncarew commented on #41133
@bwilkerson - did we address one of these items recently?

[2020-09-25 21:16] bwilkerson commented on #41133
I remember doing some work in this area, but I don't remember what functionality I implemented. Jump to definition sounds plausible, but I'd have to test it.

[2020-09-25 21:20] devoncarew commented on #41133
I think that's it - I verified locally that it works now.

[2020-09-25 21:21] pq opened #43568 "Exception after applying bulk-fixes"
Once parts are properly handled, (#43564), a new exception occurs after fixes are applied.

[code]

To reproduce.

Enable the following lints in `analyzer/analysis_options.yaml`:

[code]

then run `dart fix`:

[code]

/cc @bwilkerson

[2020-09-25 21:31] pq opened #43569 "Report summary info after applying bulk fixes."
Currently when running `dart fix` we only report a list of files changed.

Things to consider:

1. a count of files
2. a count of fixes applied

/cc @bwilkerson

[2020-09-25 21:32] lrhn commented on #41133
The first checkmark requires the analyzer to know of all `dart:*` libraries in existence, which means knowing all embeddings of Dart.
A package author can write `if (dart.library.foobar) "lib_foobar.dart"` to support the next great Dart platform, FooBar, even though they are not currently using the FooBar sdk. We should be careful to not reject that too hard, just because we haven't heard of FooBa

[2020-09-25 21:58] bwilkerson opened #43570 "Poor parser recovery in invalid type annotation"
Given a file containing the following:
[code]
The parser reports that it was expecting a `>` and the AST that `AstBuilder` produces is empty, suggesting that the expected listener methods were not called.

Ideally the parser would recover by adding a couple of synthetic identifiers (`_s1_` and `_s2_`) and a synthetic semicolon such that the AST would be the equivalent of
[code]
That would allow se

[2020-09-25 22:17] HerrNiklasRaab opened #43571 "Add option for completeFunctionCalls (Autocomplete for functions)"
Copied from https://github.com/Dart-Code/Dart-Code/issues/2399:

For Typescript and Javascript, there exists the setting `typescript.suggest.completeFunctionCalls` and `javascript.suggest.completeFunctionCalls`.

It seems there is already partial support for optional parameters, but not for required once (And they don't let you tap through).

It's difficult for me to estimate what's possible right

[2020-09-25 22:26] julemand101 commented on #43566
Your problem is that your `data()` method is really not async but instead operates as a normal `sync` method which sleeps the whole isolate for each iteration. Since all your code are running inside a single thread, which you are sleeping, then Dart cannot execute other logic in the same isolate like e.g. inner logic behind `timeout`.

This behavior was introduced with Dart 2.0.0 and mentioned in

[2020-09-25 22:50] move[bot] opened #43572 "unfinished statement `Future<List<>>` breaks the IDE"
*@gsouf commented on Sep 19, 2020, 3:26 PM UTC:*

## Steps to Reproduce

*   Open android studio
*   Open an existing project
*   Create a new dart file
*   add the following statement `Future<List<>>` (yes it's unfinished on the purpose, that's how it breaks android studio)
*   go to another dart file, try autocompletion (example type `fin` and hit `ctrl`+`space` in order to autocomplete the word

[2020-09-25 23:53] #43564 closed

[2020-09-26 01:12] #42894 closed

[2020-09-26 02:09] srujzs opened #43573 "Add tests to test that JS interop members are treated as JS interop members in static checker"
As part of pkg:_js_interop_checks, there exists checks that only apply to JS interop members (e.g. type of parameters in a JS interop method). In order to determine whether or not a member is a JS interop member, we use the following logic:

https://github.com/dart-lang/sdk/blob/febb1929cd4dccd08232657890f935bd752866d4/pkg/_js_interop_checks/lib/js_interop_checks.dart#L148

Note that most of the l

[2020-09-26 02:47] gagoman commented on #36901
Ok, got it. What will you suggest? I can port rest of unmodifiable set view tests from https://github.com/dart-lang/collection. Could you also post nitpicks (in CL?) so that I can fix them? Thanks.

[2020-09-26 05:06] luulong83 commented on #37380
Have you solved the above problem? I also like your being. Thanks for your instructions.

[2020-09-26 06:39] hygehyge opened #43574 "HttpClient always add 'content-length:0' to GET request"
- Dart 2.9.2(stable)
- Windows 10 x64

When I create an HTTP GET request as below, HttpClient always adds `content-length:0`.
I check my request by Fiddler.
The server I want to request returns `Status Code:400 Bad Request` if request's header contains content-length.
How can I remove this header ?

[code]

[2020-09-26 09:25] frmrgr opened #43575 "Type isn't inferred for extension members on a generic parameter"
Problem is observed for both generic functions and classes.
Dart SDK Version 2.9.3

Repro:

    extension Ext<T> on T {
      T get foo => null;
    }
    class Cls<T> {
      T t;
      T get tFoo => t.foo; // does not compile in strong mode
    }
    void f<T>(T t) {
      t = t.foo; // does not compile in strong mode
    }

Each `t.foo` call is inferred to `Object` instead of `T`. This is mostl

[2020-09-26 09:57] sorokinDev commented on #43465
I have the same issue. I had it on macOS 10.15.6. Today I updated it to 10.15.7, but the same issue. But I don't have it on my MBP15 with 10.15.5. Also, I tried to reinstall flutter and checkout project again, I tried new project, but no effect.

## Dart analysis issue

Stack Overflow

## Version information

- Dart SDK 2.11.0-161.0.dev
- Dart IntelliJ 202.7319.5
- IntelliJ IDEA 2020.2.2
- Mac OS

[2020-09-26 11:46] Mudit199 opened #43576 "MNK"
## Version information

- `IDEA AI-193.6911.18.40.6626763`
- `2.9.2`
- `AI-193.6911.18.40.6626763, JRE 1.8.0_242-release-1644-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1536x864`

[2020-09-26 11:48] lrhn commented on #43566
Working as intended.

The `Future` returned by `firstWhere` has no way to cancel the underlying operation. When you do a `timeout` on that future, you create a new future which completes with either the timeout or the value of the original future, but even with the timeout, you won't cancel the underlying computation, and the original future will eventually complete.

[2020-09-26 11:48] #43566 closed

[2020-09-26 13:09] #43576 closed

[2020-09-26 14:26] Dolaned commented on #39993
@CLARKYJ what do you mean by global? im trying to compile code with xcode into a flutter app and having the same issue

[2020-09-26 21:57] StEvUgnIn commented on #32894
The problem is that Wasm isn't targetable as it does not integrate a solution for garbage collection... Thus which limits Webassembly to low level languages being C / C++ / C# / Go / Rust and some others.

With Wasm 2.0 next generation languages like Python / Dart / D / Java could be used.

[2020-09-27 00:42] Hixie opened #43577 "RandomAccessFile documentation leaves many questions unanswered"
For example:

* RandomAccessFile constructor has no documentation
* The class docs (and the constructor) don't say how to actually get an instance of this class
* Nothing seems to document what happens if there's an I/O error. For example, what happens if the file system is unmounted while readInto is pending?
* Nothing seems to document whether methods will fail if called after "close" has been c

[2020-09-27 02:08] Sunbreak commented on #32311
There is a blocker issue on `dart:ffi` for Xcode Archive: https://github.com/dart-lang/sdk/issues/43482

`Non-Global Symbols` is not accepted for a hybrid project with both native & flutter module

[2020-09-27 06:04] maks commented on #32894
I don't think that's actually correct. Rather it means the full DartVM along with it's GC needs to be included in the WASM which of course significantly increases the size.

[2020-09-27 07:51] Hixie opened #43578 "ByteData.getUint64 docs out of date"
The documentation for ByteData.getUint64 says "Returns the positive integer represented by the eight bytes starting at the specified byteOffset in this object, in unsigned binary form. The return value will be between 0 and 264 - 1, inclusive."

This is (now) inaccurate, at least on the VM. The return value is a signed 64bit int, like all `int`s:

[code]

In fact it may be that getInt64 and getUin

[2020-09-27 08:13] SchoolGuy commented on #28793
So just a ping from my side as I am packaging in openSUSE if I have time. If we get this Py3 I could try to build an openSUSE/Fedora/CentOS/... Specfile to make Dart available on these distributions if legal is fine with it. But since no Py2 packages are accepted to openSUSE Leap and Tumbleweed Dart will not be available there...

[2020-09-27 09:27] aminya commented on #32894
That's true. GC is just an algorithm that can be implemented in the wasm binary. The GC will take some space, but for example, AssemblyScript does that and it has one the smallest generated wasm binaries among the others.

[2020-09-27 10:28] Fox32 commented on #31017
Just stumbled across my workaround and noticed that my previous message is over a year old. I wonder if somebody can help me to fix this? Maybe @terrylucas

[2020-09-27 10:51] liufeihe commented on #42250
dart is 2.9.3

error is below:

2020-09-27 18:21:00.870410+0800 Runner[852:721510] flutter: InternetAddress('224.0.0.251', IPv4)
2020-09-27 18:21:00.877627+0800 Runner[852:721510] [VERBOSE-2:ui_dart_state.cc(166)] Unhandled Exception: OS Error: Can't assign requested address, errno = 49
#0      _NativeSocket.nativeJoinMulticast (dart:io-patch/socket_patch.dart:1420:56)
#1      _NativeSocket.joinMu

[2020-09-27 10:52] liufeihe commented on #42250
dart is 2.9.3
my device is ipad, 13.7

error is below:

2020-09-27 18:21:00.870410+0800 Runner[852:721510] flutter: InternetAddress('224.0.0.251', IPv4)
2020-09-27 18:21:00.877627+0800 Runner[852:721510] [VERBOSE-2:ui_dart_state.cc(166)] Unhandled Exception: OS Error: Can't assign requested address, errno = 49
#0 _NativeSocket.nativeJoinMulticast (dart:io-patch/socket_patch.dart:1420:56)
#1 _Nativ

[2020-09-27 10:53] liufeihe commented on #42250
@aam

dart is 2.9.3
my device is ipad, 13.7

error is below:

2020-09-27 18:21:00.870410+0800 Runner[852:721510] flutter: InternetAddress('224.0.0.251', IPv4)
2020-09-27 18:21:00.877627+0800 Runner[852:721510] [VERBOSE-2:ui_dart_state.cc(166)] Unhandled Exception: OS Error: Can't assign requested address, errno = 49
#0 _NativeSocket.nativeJoinMulticast (dart:io-patch/socket_patch.dart:1420:56)
#1

[2020-09-27 22:12] denniskaselow opened #43579 "[dart2js] assigning a null value in one variable to a different variable breaks the assigned null value, so that null != null"
When assigning a static or global variable that hasn't been initialized (or is set to `null`) to a local variable the local variable will have a different kind/value of `null` when compiled with dart2js. This started happening with the current dev release: `Dart SDK version: 2.11.0-161.0.dev (dev) (Thu Sep 24 17:00:45 2020 -0700) on "windows_x64"`

[code]

Output with dart2js:
[code]

Output with

[2020-09-27 22:23] StEvUgnIn commented on #32894
You may start a Dart-to-AssemblyScript compiler project if you want, but remember that AssemblyScript is not a standard as Dart, WebAssembly, JavaScript, TypeScript and EcmaScript are!

I am calling the official AssemblyScript documentation here:

[2020-09-28 02:37] Raythan commented on #31532
@ShadowDeveloper Thanks for this reply man, that worked for me!

@BuddhaNag12 The code have to be inside the manifest tag exclusively.

[2020-09-28 06:54] iapicca commented on #32894
@StEvUgnIn

Since the scope of your request is clearly different
I think your feature request should be in a separate issue,
rather than trying to hijack this one

[2020-09-28 07:01] liufeihe commented on #42250
i find in ios, we need request <com.apple.developer.networking.multicast> entitlement to send or receive IP multicast or broadcast; so may be this is the reason failed to mdns in ios? is there anyone failed to mdns in ios ,but already get this entitlement? the doc url is: https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_developer_networking_multicast

[2020-09-28 07:06] brice-fromentin opened #43580 "HttpClient download too slow 12 Mbits on a 1 Gbs LAN."
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Dart core libraries : "dart:io"

* Dart SDK Version (`dart --version`)
Dart SDK version: 2.9.2 (stable) (Wed Aug 26 12:44:28 2020 +0200) on "windows_x64"

I wrote the following code to download a file in my 1 Gb LAN :

[code]

[2020-09-28 07:56] lrhn commented on #43575
Reproduces in nullsafety.dartpad.dev, but not in plan dartpad.dev, so seems like an issue with the null safe type system.

[2020-09-28 08:02] mraleph commented on #32311
What do you mean by "non-accepted"? You can't use it for some reason? Is it for code size or other reasons? Then we should figure a way to make FFI work for you.

/cc @dcharkes

[2020-09-28 08:08] mathatan opened #43581 "Parameter mismatch issue with Isolate.spawn on dart2js and dart 2"
I'm trying to compile a flutter app to web-app but I keep running into following compile errors:

[code]

I've narrowed the issue to be `sdk/lib/_internal/js_runtime/lib/isolate_patch.dart:40-45` in the spawn method definition, which doesn't specify debugName parameter. While I know dart2js don't support isolates it's something I can work around, but bc of this I cannot currently compile the code

[2020-09-28 08:29] frmrgr commented on #43575
Sorry for not being clear. For this to turn into an error,

    analyzer:
      strong-mode:
        implicit-casts: false

needs to be added. But I don't think it has anything to do with null safe thing. I think that outside strong mode the same happens, but automatic downcast fixes it.

[2020-09-28 08:34] Sunbreak commented on #32311
Code size is the main concern

[2020-09-28 08:40] johnniwinther commented on #43575
This is related to #43177

[2020-09-28 08:49] dcharkes opened #43582 "[flutter/ffi] Investigate code size with disabling stripping in Xcode"
Symbols" to "Non-Global Symbols"

Xcode aggressively strips all code it thinks is dead, which includes the function you're trying to call through `dart:ffi` without the work around. So, it is expected that code size would be different. However, it might be worthwhile to investigate whether Xcode can be instructed to only keep the symbols one wants to call through `dart:ffi` and still remove the re

[2020-09-28 09:01] mraleph commented on #32311
@Sunbreak how much larger does you IPA become if you change the option to Non-Global Symbols?

[2020-09-28 09:16] jaydeep-aipl commented on #41659
@DaljitKhalsa Nice website! I inspected it for errors and don't see any. Did you resolve this problem? I'm getting it in my main.dart file. When I uncheck "enable javascript source maps", refresh -- the error goes away. But on your website, even though that remains checked, I don't see an error. Mine is visible at https://amientx.dev. Again, the error I'm getting is with main.dart.

[2020-09-28 10:07] Sunbreak commented on #32311
The flutter module adds about **21MB** to the archive of our hybrid project.
`Non-Global Symbols` will add another **7MB**, which is too large for our benchmark of APP size

[2020-09-28 10:13] lrhn commented on #43575
Good point, the reason it works in legacy DartPad is that it allows implicit casts. The error is still there, `T` is bound to `Object`.
It's all the same problem, probably the one @johnniwinther linked to.

[2020-09-28 10:17] mraleph commented on #32311
@Sunbreak Thanks! That's a valuable thing to know, helps to put this into perspective and prioritise.

Just to confirm: 7MB is the change in size of the [exported IPA](https://help.apple.com/xcode/mac/current/#/dev23ea8b877), with thinning applied? If that's the case this is indeed quite a lot and we should certainly look for solutions.

[2020-09-28 10:34] Sunbreak commented on #32311
The build(with provision file) on CI is quite slow. I archive locally and get `unix executable` files with 234.5MB(All Symbols)，241.1MB(Non-Global Symbols)，396.7MB(Debug Symbols)

Exported IPAs may be thinner. **5MB** gap is a reasonable guess

We've made a lot effort to strip flutter module and another **2MB** will hit the upper limit of module size

[2020-09-28 10:41] zsytssk commented on #27100
maybe something like this:
[code]

[2020-09-28 10:51] athomas opened #43583 "isolate/nnbd_spawnuri_autodetect tests are timing out on windows shards"
These tests leak processes running e.g. strong_strong.dart or strong_weak.dart scripts and cause builders to go purple on windows.

[code]

[2020-09-28 10:56] #43495 closed

[2020-09-28 11:22] TobiasHeidingsfeld commented on #31992
Is this actually working for now or just a proposal?
I would need to remove code based on debug/release mode (coulde use assert hack for it) but also based on an environment variable (code is running in server or client environment)