[2022-02-16 14:24] stereotype441 commented on #48410
I'm going to take this bug since it blocks other work I have in progress.

[2022-02-16 16:29] bwilkerson opened #48411 "Poor recovery in constructor initializer lists"
Given the following:

[code]

The parser produces 3 diagnostics:

[code]

(And as a result of the parser's recovery, the analyzer produces two more.)

However, there is arguably only one error, which is that there is a comma missing between the assert and the super invocation.

The same behavior can be seen if the assert is replaced by a field assignment.

I'd like to propose that if we're parsing

[2022-02-16 16:40] eernstg commented on #48299
The language team just decided that it _is_ an error for an enum declaration to have an implementation of operator `==` or `hashCode` that overrides the one which is inherited from `Object`. The spec will be updated accordingly.

[2022-02-16 16:53] #48403 closed

[2022-02-16 16:53] #47734 closed

[2022-02-16 16:53] #48340 closed

[2022-02-16 17:30] jwren commented on #46756
Change out for review for the Dart Plugin for IntelliJ - https://github.com/JetBrains/intellij-plugins/pull/855.  As soon as the change lands I'll do some manual testing to ensure that it works as expected.

It looks like the Flutter Plugin for IJ doesn't have any references to `"Observatory listening ` so we shouldn't need any changes there.

[2022-02-16 17:52] liamappelbe commented on #47950
I think Flutter and Fuchsia both have try jobs, so you can manually add them. I don't know any other way.

[2022-02-16 19:08] dcharkes opened #48412 "[vm/tests] co19 tests Finalizer tests"
Various co19 tests for finalizers are not correct.

* tests/co19/src/LanguageFeatures/FinalizationRegistry/no_ffi/Finalizer/attach_A04_t11.dart
  * https://github.com/dart-lang/sdk/issues/48390
* tests/co19/src/LanguageFeatures/FinalizationRegistry/ffi/Finalizer/attach_A01_t01.dart
* tests/co19/src/LanguageFeatures/FinalizationRegistry/ffi/Finalizer/attach_A01_t03.dart
* tests/co19/src/LanguageFea

[2022-02-16 19:48] woody77 opened #48413 "`dart analyze` process does not exit after reporting a "crash""
`dart analyze` appears to have entered a hung/deadlocked state after it reported a crash:

stderr from `dart`:
[code]

However, the process did not exit, and remained in "interruptible sleep" state, apparently indefinitely (20+ minutes were waited).

While the circumstances behind reproducing the crash report itself are not known at this time, the situation of the crash causing the process to not

[2022-02-16 19:58] srawlins commented on #48413
Were you able to ascertain whether the crash happens only when the process is interacted with, with `fstrace`? Can it be reproduced outside the Fuchsia build system, by using `fstrace`?

[2022-02-16 19:58] srawlins commented on #48413
CC @bwilkerson @scheglov

[2022-02-16 20:04] woody77 commented on #48413
Yes, I only saw the crash when running with `fsatrace`.  I wanted to open this one specifically because this looks like a situation where an event-loop has experienced a crash while servicing an event, and then puts itself into a state where the process then doesn't shut down.

(I left the interaction with `fsatrace` in the bug at: https://bugs.fuchsia.dev/p/fuchsia/issues/detail?id=93969)

[2022-02-16 20:58] #48399 closed

[2022-02-16 21:09] a-siva commented on #48406
//cc @brianquinlan

[2022-02-16 22:02] rakudrama opened #48414 "[vm] Not enough happens during canonicalization"
The JIT reduces some calls to **dart2js**'s `CallStructure` factory constructor to a constant. AOT fails to do this.

It appears that the reason is that not enough good things happen during canonicalization to make the inlinee look appealing:

1. `_ImmutableList.length` is not replaced with `LoadField` early enough to allow constant-folding to simplify the inlinee . Curiously, `[]` is replaced wit

[2022-02-16 22:31] #48397 closed

[2022-02-16 23:28] #48076 closed

[2022-02-16 23:39] dJani97 commented on #39442
I just had  a similar crash. The output of the `swagger_dart_code_generator` package crashes my analyzer in a reproducible way.

Changing the generated code even the slightest bit, e.g. deleting a random method instantly fixes the issue.

I've tried copying the generated files to another project so I can share them separately, but it doesn't crash anymore.

Managed to capture the following logs:

[2022-02-16 23:39] nshahan opened #48416 "KeyboardEventStream "on" methods cause memory leaks"
There are three event streams exposed from `KeyboardEventStream`:

[code]

Calling `.listen()` on any one of these adds three event listeners to the Javascript `window` and returns a `StreamSubscription`. Calling `.cancel()` on the stream subscriptions stops the provided callback from being run on new events but it does not remove the three event listeners from the Javascript window. The callbacks

[2022-02-16 23:43] DanTup commented on #39442
@dJani97 there's another open issue about that specific error here:

https://github.com/dart-lang/sdk/issues/48082

If you're able to get a repro you can share, please do post it on that issue. Thanks!

[2022-02-17 00:16] goderbauer opened #58660 "lint for unnecessary closures"
**Describe the rule you'd like to see implemented**
Lint if somebody instantiates a closure that just contains one method call and forwards all its parameters to that method call.

**Examples**
Bad:
[code]

Good:
[code]

**Additional context**
See example in https://github.com/flutter/flutter/pull/98409/files.

[2022-02-17 02:42] jacob314 opened #48417 "Analyzer crash when opening Flutter with this patch in IntelliJ"
This issue was reported on discord by chunhtai.

To reproduce, open
https://github.com/flutter/flutter/pull/95226

in Flutter IntelliJ
You will see the following error.
RangeError (index): Invalid value: Only valid value is 0: 1

[code]

[2022-02-17 03:46] cnmade commented on #43190
+1 really need this calc.
https://docs.oracle.com/javase/8/docs/api/java/math/BigDecimal.html
And i think another solution can be ported GMP math library?
https://gmplib.org/

[2022-02-17 03:48] cnmade commented on #43190
Or even golang bigFloat
https://pkg.go.dev/math/big#Float
[code]

[2022-02-17 05:21] #48412 closed

[2022-02-17 05:36] cthurston commented on #47618
I'm getting this same error when trying to docker buildx linux/amd64 on a Mac M1.

pubspec.yaml
[code]

Dockerfile
[code]

Run command (tried from terminal and terminal running with rosetta):
docker buildx build --platform linux/amd64 -t dart_server:v1 .

Error:
[code]

Note: It does successfully build as arm using docker build.

[2022-02-17 08:36] mraleph commented on #47618
@cthurston it's not the same error, it's a different one in a different place. please file a separate issue.

[2022-02-17 09:01] #48402 closed

[2022-02-17 09:10] #48370 closed

[2022-02-17 09:22] chloestefantsova opened #48418 "CFE crashes if initializing formals have 'const' modifier"
The following program makes the CFE crash.

[code]

Here's the stack trace.

[code]

[2022-02-17 09:41] eernstg commented on #48299
The language team decided yesterday that it is an error for an enum declaration to have an implementation of `hashCode` or operator `==` which overrides the one in `Object` (so the error occurs when the declaration is in the enum declaration itself, and when it occurs in a mixin application of the enum).

[2022-02-17 09:59] chloestefantsova commented on #48418
Closing as a duplicate of https://github.com/dart-lang/sdk/issues/47922.

[2022-02-17 09:59] #48418 closed

[2022-02-17 10:29] #48388 closed

[2022-02-17 11:00] mraleph commented on #33860
@Miedziaq you are free to remove new space characters from your string before passing them to `Base64Decoder`. Dart implements Base64 decoder per RFC 4648 which is rather strict and _requires_ rejecting incorrectly formatted strings. What you get from Outlook is MIME Base64 encoding which is slightly different (RFC 2045), it splits base64 data into lines (max 76 characters in a line) and thus intr

[2022-02-17 11:10] lrhn commented on #33860
Base64 is really annoying to decode because you *want* to know the size of the decoded output first, so you can allocate a correctly sized `Uint8List`.
That's possible by counting the number of input characters and parsing the trailing padding. (But not if streaming the input, then you just need to grow your buffer occasionally. It would really have been a *much* better format if it started with t

[2022-02-17 13:34] eernstg opened #48419 "Dynamic `unawaited_futures`?"
The lint [`unawaited_futures`](https://dart-lang.github.io/linter/lints/unawaited_futures.html) is intended to flag situations where a future is the result of a computation in a function body marked `async`, and it is then discarded rather than being awaited. That situation is likely to be a bug, because it allows computations associated with that future to occur much later (rather than during the

[2022-02-17 13:44] eernstg commented on #48419
/cc @pq, @natebosch, @parren-google, based on some recent comments on the related issues.

[2022-02-17 13:47] Miedziaq commented on #33860
basically yes I can, but if I want to use some html viewer library and pass html to it, (like outlook email or some other) the base64 is only inside img tag, so this is not that easy to read the html file from internet and then remove spaces/newlines only from the img instances. since probably every technology has no problem with it, why this is that problem in flutter/dart...

this technology asp

[2022-02-17 13:57] Miedziaq commented on #33860
so, maybe it will be a good idea to provide overloaded methods for sync and async calls / or some switch to be more strict or less?

in basic use its not a really problem to remove this spaces/new lines, but in complicated cases, removing this spaces from the whole html file and generally editing it can be problematic time consuming and slower than just ignore this chars by decoder.

maybe I shoul

[2022-02-17 14:00] mraleph commented on #33860
It does sound like it is a bug in those packages. If they implement some specification like HTML which is support a different form of Base64 which is more lenient than RFC 4648 then they should *not* directly pass the data to the `Base64Decoder` that Dart has.

[2022-02-17 14:11] stereotype441 commented on #48409
I think I've found the cause of this bug in the CFE, so I'm going to work on a fix.

[2022-02-17 14:38] cthurston opened #48420 "Building linux/amd64 Docker Image on Mac M1"
I'm getting this same error with dart 2.16.0 when trying to docker buildx linux/amd64 on a Mac M1.

pubspec.yaml
[code]

Dockerfile
[code]

Run command (tried from terminal and terminal running with rosetta):
docker buildx build --platform linux/amd64 -t dart_server:v1 .

Error:
[code]

Note: It does successfully build as arm using docker build.

[2022-02-17 14:39] cthurston commented on #47618
#48420 opened

[2022-02-17 17:12] bkonyi commented on #46723
Thinking about this some more, would it be feasible to just use `evaluate` to just evaluate the getter against an instance?

[2022-02-17 17:18] DanTup commented on #46723
That's basically what we're doing today, and as long as the VM doesn't mind is sending lots of parallel requests for them, that's probably fine.

The real issue is getting the list of getters to do that. We have to walk up the class hierarchy to get the getter from each level (and use `f.json?['_kind'] == 'GetterFunction'` to know which are getters).

So I guess the important part of the request i

[2022-02-17 18:16] nshahan opened #48422 "try, catch, finally confuses dart2js type narrowing for a variable assigned in the blocks"
This is a reduced reproduction from an issue in the flutter repo: https://github.com/flutter/flutter/issues/95380

[code]

It might also be worth investigating the original reproduction because this version does produce a more straightforward error message:
[code]

cc @rakudrama @fishythefish

[2022-02-17 21:45] brianquinlan commented on #47838
Fixed in https://github.com/dart-lang/sdk/commit/917ae52f70a8bf75616011ef26ffa59737e1ec3a

[2022-02-17 21:45] #47838 closed

[2022-02-17 21:46] brianquinlan commented on #48093
Fixed in https://github.com/dart-lang/sdk/commit/917ae52f70a8bf75616011ef26ffa59737e1ec3a

[2022-02-17 21:46] #48093 closed

[2022-02-17 22:43] a-eniou-pvotal commented on #28617
I used this GitHub action workflow to get cross-platform builds

[code]
and here is the result

<img width="1067" alt="Screen Shot 2022-02-18 at 12 37 14 AM" src="https://user-images.githubusercontent.com/91328245/154583440-856482d0-a93c-4770-9cab-a22448a49b73.png">

[2022-02-17 23:07] sigmundch commented on #37430
Just going through and cleaning up old bugs. I verified this doesn't reproduce anymore at the latest version of Dart. I am not sure where exactly this was addressed, but I can see this was first working properly starting with Dart stable release 2.9.0

[2022-02-17 23:07] #37430 closed

[2022-02-17 23:16] sigmundch commented on #42544
tested on DDC at tip-of-tree, and the result is now correct.

[2022-02-17 23:16] #42544 closed

[2022-02-17 23:17] dvc94ch commented on #28617
I think people are more concerned with cross compiling debug builds on a development machine and testing it on a target machine than creating cross compiled releases. There are a few reasons why it's hard even if dart could cross compile or why it's not a great idea.

- dmg used for macos packaging and squashfs used in appimages or snaps use file systems not commonly found on other platforms, I ex

[2022-02-17 23:35] whesse opened #48423 "Failures on [repo] improve the analysis of the tools/ directory"
There are new test failures on [[repo] improve the analysis of the tools/ directory](https://github.com/dart-lang/sdk/commit/c4dc032f6cce966baa07cc44b10a6821c14c4622).

The test
[code]
is failing on configurations
[code]

Log in strong mode is stderr:
tools/addlatexhash.dart:25:1: Error: A library can't opt out of null safety by default, when using sound null safety.
// @dart = 2.9
^^^^^^^^^^^^^^

[2022-02-17 23:45] #47520 closed

[2022-02-17 23:45] Markzipan opened #48424 "[Enhanced Enums] Enums lose visibility of 'toString' after mixing in a mixin"
The following prints:
[code]
But I'd expect:
[code]

Snippet:
[code]

Is this intended?
This reproduces on both the VM and DDC, leading me to believe it's on the CFE-side of things.

[2022-02-17 23:47] srujzs commented on #47520
Ah, I didn't realize you can't test with recompilation. I toyed around with the code logic to see if the callback-based syntax would give us the expected behavior, and I think it does. I just submitted a CL fixing this API, it should flow into a dev release soon. If it's possible for you to try a dev release, let me know if this resolves the issue. If not, feel free to reopen. Thank you!

[2022-02-18 00:14] scheglov commented on #48396
https://dart-review.googlesource.com/c/sdk/+/233529

[2022-02-18 00:24] lrhn commented on #48424
Definitely not intended.

[2022-02-18 00:24] devoncarew commented on #48423
Thanks, I'll take a look.

[2022-02-18 00:47] devoncarew commented on #48423
This CL might address it: https://dart-review.googlesource.com/c/sdk/+/233530.

It looks like `tools/addlatexhash.dart` is being imported by `tests/standalone/io/addlatexhash_test.dart` (though I'm not sure why).

https://github.com/dart-lang/sdk/blob/main/tests/standalone/io/addlatexhash_test.dart#L10

[2022-02-18 00:59] #48317 closed

[2022-02-18 01:07] lrhn commented on #48419
That sound undecidable. Probably undesirable. And definitely expensive!

I'd be vary about building a run-time check into the language.
As described here, it introduces a *runtime error* in some cases that currently are not errors, which feels more like a trip-wire than a helpful feature. We have generally been moving towards features that turn runtime errors into static errors, so introducing new

[2022-02-18 02:29] tomyeh opened #48425 "Dart compile: StackOverflow when running RegExp.matchAsPrefix"
This tracker is for issues related to:

* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart compile exe

Dart Version: 2.16.1

After compiling the following code into executable (`dart compile exe test.dart`), executing the executable will cause StackOverflow:

[code]

On the other hand, it works fine with Dart VM (i.e., `dart test.dart`).

[code]

[2022-02-18 02:43] #48396 closed

[2022-02-18 08:13] leisim opened #48426 "TypeChecker.isAssignableFromType does not consider nullability"
This tracker is for issues related to: Analyzer

I would expect `TypeChecker.isAssignableFromType(staticType)` to take the nullability of the types into account. It returns `true` incorrectly if the TypeChecker type is not nullable but `staticType` is nullable.

Dart SDK version: 2.16.1

[2022-02-18 09:38] lrhn commented on #48426
Is this the `TypeChecker` from `package:source_gen`? (If so, the issue would fit better in https://github.com/dart-lang/source_gen/issues).

[2022-02-18 09:41] leisim commented on #48426
@lrhn yes, sorry! Should I close here and reopen or can you move the issue?

[2022-02-18 09:48] lrhn commented on #48425
Likely reason is that the RegExp implementation remembers *each* capture (meaning each character since the RegExp her captures each individual matched character) in case it needs to backtrack from the `*`. It doesn't recognize that it actually never needs to backtrack the `*`, since the continuation is irrefutable.

That makes the backtracking *stack* linear in the input, and for AoT, that stack a

[2022-02-18 09:56] tomyeh commented on #48425
Well, it is only a simplified pattern to illustrate the issue, and we did manage to work around this limitation. However, it implies using parenthesis to capture a substring from user's input is unsafe. That said, as long as parsing the input provided by user, we can not use parenthesis at all!? After all, it is easy to run out of stack with even only tens thousands of characters.

[2022-02-18 10:09] chloestefantsova commented on #48424
This is fixed in https://github.com/dart-lang/sdk/commit/ab84be0a888480ff4d05833fbbcfc3d99709968a.

[2022-02-18 10:09] #48424 closed

[2022-02-18 10:24] cskau-g commented on #43118
I just had a similar flaky failure locally at 2435848b13ae71788e8b3be3109130e614abbb71:

[code]

[2022-02-18 10:31] lrhn commented on #48425
I can't give absolute rules (the RegExp implementation may change at any time, and this is an implementation dependent issue).

In general, you need to be aware that the JavaScript RegExp specification is inherently backtracking.
Any time a RegExp can make a choice (`|`, quantifiers like `*`, `+`, or `?`), it remembers the state before continuing, so if the first option fails, it can backtrack and

[2022-02-18 10:51] parren-google commented on #48419
Given the challenges - and assuming something like "make `Future` not be a subtype of `Object`" is not an option - I would be pragmatic here and focus on static analysis flagging the pitfalls that have been shown to strike again and again, especially where the language makes the pitfall very hard to spot to both the author and the code reviewer. The key problem to me is that calling a method retur

[2022-02-18 11:08] tomyeh commented on #48425
Understand and thanks for your detailed explanation. However, running out of stack with a simple regex (`([AB])*` and tens thousands of input is, IMO, too limited.

BTW, I don't think ending with a negative look-ahead will help, since it'll run out of stack before reaching it. For this example, `r'([ A-Za-z0-9])*(?!=[ A-Za-z0-9])'` still not able to run.

[2022-02-18 11:20] knopp opened #48427 "Platform.executable is null"
`resolvedExecutable` works as expected, but calling `Platform.executable` fails with exception

[code]

If `null` is indeed expected value perhaps the API should be changed to `String?`.

[2022-02-18 11:38] ookami-kb opened #58661 "False positive for `use_decorated_box`"
**Describe the issue**

`Container` has nullable `decoration` parameter, so construction like this is totally valid:

[code]

But with `use_decorated_box` lint rule enable, it suggests using `DecoratedBox` instead. But it's not possible since `DecoratedBox` doesn't accept nullable `Decoration?`.

**To Reproduce**

[code]

**Expected behavior**

`use_decorated_box` shouldn't trigger if nullable `De

[2022-02-18 12:26] mkustermann opened #48428 "Failures on [vm] Add @pragma('vm:invisible') to mark functions as invisible for stacktraces"
There are new test failures on [[vm] Add @pragma('vm:invisible') to mark functions as invisible for stacktraces](https://github.com/dart-lang/sdk/commit/0a275f6e97c429d57acc8789c2bb0250dcdc8b6d).

The tests
[code]
are failing on configurations
[code]

[2022-02-18 13:07] eernstg commented on #48419
@parren-google wrote:

I certainly think we should use static analysis, too: It flags locations where the code is likely (or guaranteed) to discard an object which is known to be a future, so we get an early heads up, near the source of the problem.

The dynamic approach which is the topic of this issue complements the static analysis: It detects likely bugs at a very late point in time (which is

[2022-02-18 13:25] lukaszciastko commented on #47503
I did that, but it didn't help. I'm currently on an 8 GB M1 Mac (this was the only model available in the country where I was at the time), and my experience with Dart is really bad. Dart processes are using around 6-7 GB of RAM, which makes my laptop completely unusable at times.

[2022-02-18 13:32] lrhn commented on #48427
That does look like a bad error message. It should either have a useful value, or probably throw if there is none.

Having a resolved executable, but no un-resolved one, sounds like a bug (if nothing else, it could provide the resolved executable as `executable` too).

How do you run the program?

[2022-02-18 13:58] #48428 closed

[2022-02-18 16:07] #48255 closed

[2022-02-18 17:23] bwilkerson commented on #42710
@DanTup Is this something you could look at?

[2022-02-18 17:30] lrhn commented on #48419
@eernstg That makes some sense. After `main` returns (and assuming `main` is async, that means after the future returned by `main` completes), the program *should be done*. Anything asynchronous that happens *after* that is considered an "async leak".
We could probably do that today by introducing a zone s.t. any `zone.run` or execution of any `zone.scheduleMicrotask` or `zone.createTimer` callbac

[2022-02-18 17:51] scheglov opened #48429 "language/enum/enhanced_enums_basic_test has multiple typos"
@lrhn
[code]

[2022-02-18 18:10] shuhei opened #48430 "[dart2js] Options for performance.mark and performance.measure"
Currently [html_dart2js.dart](https://raw.githubusercontent.com/dart-lang/sdk/main/sdk/lib/html/dart2js/html_dart2js.dart) contains the following signatures for `Performance` and `WorkerPerformance`.

[code]

It would be great if they also support their overloads with option objects ([mark](https://developer.mozilla.org/en-US/docs/Web/API/Performance/mark), [measure](https://developer.mozilla.org/

[2022-02-18 18:28] devoncarew opened #48431 "Failures on [analysis_server] Improve LSP server error messages for invalid paths/parse failures"
There are new test failures on [[analysis_server] Improve LSP server error messages for invalid paths/parse failures](https://github.com/dart-lang/sdk/commit/4bd312d1e6b101e6aa61149b9af2d9b062bdc251).

The tests
[code]
are failing on configurations
[code]

I believe you'll be able to see the failure log here: https://dart-ci.appspot.com/log/any/analyzer-unittest-asserts-release-win/17982/pkg/analy

[2022-02-18 18:54] DanTup commented on #48431
Ugh, thanks - fix at https://dart-review.googlesource.com/c/sdk/+/233567/.

I feel like I probably break this bot a lot. If it's not just me, would it be reasonable/possible to include Windows in the default trybot set for the analysis server?

[2022-02-18 18:55] a-siva commented on #48427
`resolvedExecutable` is implemented by finally calling the function below and this works the same both in command line VM and flutter engine
[code]
Whereas `Platform.executable ` is implemented as follows
[code]
the static variable ` executable_name_` is setup in the standalone command line VM by calling  `Platform::SetExecutableName(argv[0]);`, the flutter engine does not do this, as a result `ex

[2022-02-18 18:56] devoncarew commented on #48431
Hmm, good questions; cc @leafpetersen @srawlins

[2022-02-18 18:57] devoncarew commented on #48423
@whesse - I'm having trouble determining if this did in fact address the failure. Do you mind checking?

[2022-02-18 19:01] a-siva commented on #48427
@jason-simmons @chinmaygarde can we pass in the executable name to `BootstrapDartIo` and have it set up the executable name ?

[2022-02-18 19:50] whesse commented on #48423
It looks like it has, from the result feed:
https://dart-ci.firebaseapp.com/#showLatestFailures=false&test=standalone/io/addlatexhash_test

I think it only shows up as fixed on three configurations, because the others run on daily builders and haven't run yet.

[2022-02-18 19:50] #48423 closed

[2022-02-18 19:56] chinmaygarde commented on #48427
Sure, the engine should be able to set this up on most platforms. On some platforms like Android however, the engine never resolves the executable name. Presumably, a placeholder will be fine there?

[2022-02-18 19:57] jason-simmons commented on #48427
See https://github.com/flutter/flutter/issues/83921

What is `Platform.executable` used for, and what value should it have on the various platforms that Flutter supports?

Should Flutter call `dart::bin::Platform::ResolveExecutablePath()` and then pass that to `SetExecutableName`?  Or would it make sense to always set the executable name to a generic string like "Flutter"?

[2022-02-18 19:57] #48431 closed

[2022-02-18 21:29] aam opened #48432 "vm crash "runtime/vm/timer.h: 39: error: expected: start_ != 0" in CompileFunction"
from [logs](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket/8821857972696689601/+/u/build_dart/stdout)

[code]

[2022-02-18 23:01] leafpetersen commented on #48431
@athomas how do we decide what things to include in the default trybot set?

[2022-02-18 23:02] a-siva commented on #48427
On the command line Dart VM this is what the following program outputs
[code]

[2022-02-18 23:02] rakudrama opened #48433 "AOT produces poor code for a `for-in` loops over a `_GrowableList`"
JIT produces much better code than AOT for a `for-in` loop over a `_GrowableList`. I see no reason in principle that AOT should be worse as all calls in this scenario have a monomorphic receiver and the targets are either very small or force-inlined.

The discrepancy can be seen in the code for `Iterators.mono.List.int.growable.100`, specifically the method containing the loop,  [`BenchmarkListInt

[2022-02-19 00:53] Sunbreak commented on #7775
FYI: Google has a [`quiver` utility library](https://github.com/google/quiver-dart)

[2022-02-19 10:33] #43686 closed

[2022-02-19 15:34] lrhn commented on #48429
I think I've fixed those typos in https://dart-review.googlesource.com/c/sdk/+/231950
(I'll have to check if all of them are really fixed, and not just rewritten badly.)

[2022-02-19 16:52] #48355 closed

[2022-02-19 17:20] LennartKleinwort opened #48436 "AOT compiler on Windows 64 generates buggy code when using Int32List"
I have created a simple wrapper class with one final Int32List attribute and implemented the two array operators:

[code]
This class is used in my machine generated codebase (created by a transpiler) to emulate arrays. The codebase itself is very large and everything runs fine except when using the AOT compiler for Windows 64:

[code]
When running the AOT generated binary there are random crashes

[2022-02-19 17:28] bwilkerson opened #48437 "Update CompileTimeErrorCode.IMPLEMENTS_DISALLOWED_CLASS for enhanced_enums"
The error code `CompileTimeErrorCode.IMPLEMENTS_DISALLOWED_CLASS` is misleading when the class being implemented is `Enum` and the 'enhanced_enums' feature is enabled. For example, this code:

[code]

produces a diagnostic that reads "Classes and mixins can't implement 'Enum'.". It would be more accurate to say that "Concrete classes and mixins can't implement 'Enum'." because under 'enhanced_enum

[2022-02-19 17:28] bwilkerson commented on #48437
@scheglov @srawlins

[2022-02-19 17:40] bwilkerson opened #48438 "Update CompileTimeErrorCode.NON_ABSTRACT_CLASS_INHERITS_ABSTRACT_MEMBER under enhanced_enums"
Given the following code:

[code]

The analyzer produces two diagnostics at the name of `E`:

[code]

The second is valid, but the first should not be reported because it would be wrong for the user to add a concrete implementation of `values`. The code should special case `values` when it's being inherited from a class that implements `Enum`.

Interestingly enough, there are no diagnostics report

[2022-02-19 17:40] bwilkerson commented on #48438
@scheglov @srawlins

[2022-02-19 19:47] lukaszciastko commented on #47503
I'm not. Why?

[2022-02-19 20:49] scheglov commented on #48437
https://dart-review.googlesource.com/c/sdk/+/233701

[2022-02-19 21:01] scheglov commented on #48438
We treat `index` as a concrete field of `class Enum`, which is extended by every enum declaration, so it is implemented.

[2022-02-19 23:02] #48437 closed

[2022-02-19 23:04] cedvdb opened #48439 "Process.start does not close process on ctrl + c"
I'm having an issue with some commands I try to run with `Process.start`, where the started process does not close on CTRL + C.

So far I've had the issue with `firebase` cli, `flutter test` and `flutter drive`. It works fine with simple commands like `sleep`. So I'm not sure if the issue comes from those other program, `dart:io` or how I use `Process.start`.

I've opened an issue https://github.c

[2022-02-20 03:04] rakudrama commented on #48414
I have been looking into this.

We can compensate for the too-late inlining of `_ImmutableList.length` in constant propagation:
[code]
It is slightly unsatisfactory to have another place that knows how to reduce a load of the length of a fixed-length list.

The `GenericCheckBound` is blocking further constant-folding because of this:
[code]
I think we can have our cake and eat it too. We don't hav

[2022-02-20 05:13] gmpassos commented on #48436
Dart version?

[2022-02-20 09:01] cubesdev commented on #48436
Dart-Version is 2.16.1 (stable)

[2022-02-20 18:12] esDotDev opened #48441 "Why is over-riding field always considered "bad practice"?"
The [lints](https://dart-lang.github.io/linter/lints/overridden_fields.html) claim:
_Overriding fields is almost always done unintentionally. **Regardless, it is a bad practice to do so.**_

I have a data structure like:
[code]

I don't see any bad practice here. I don't want to use methods as these are final fields so it would be a waste of cpu cycles. I just want to sub-class and change one defa

[2022-02-20 19:00] dvc94ch commented on #28617
Is there any way to build the aot assembly for iOS from Linux/windows? kernel_blob.bin won't work on iOS right? Got other platforms working, still figuring out iOS.

[2022-02-20 19:13] jorgenpt opened #48442 "`Object.hash` on type used in static map constructor causes JS error in dart2js builds"
Trying to construct a `static final` map with a type that uses `Object.hash` in its `hashCode` implementation will throw a .js error when running in release mode.

Repro:
1. `dart create -t web-simple object_hashcode_repro`
2. Enter the below snippet into `object_hashcode_repro/web/main.dart`
3. Run with `webdev serve --launch-in-chrome  --release` (or switch the debug configuration in `build.yaml

[2022-02-20 20:00] athomas commented on #48431
@leafpetersen we add them on demand from users and remove them if they are disruptive to productivity (e.g. very flaky or very slow builders). In general, we only have minimal coverage on Windows on the presubmit because our Windows capacity is lower. Ideally, we'd identify some set of paths that if modified are likely to affect analysis server on Windows and conditionally add an additional tryjob

[2022-02-20 20:30] lrhn commented on #48441
This all depends on how clever the compiler is.

The reason this particular approach is frowned upon is that it is potentially wasteful.

The class `GreenColorTheme` has all the fields of `DefaultColorTheme`, and one more.
That means that an instance of `GreenColorTheme` has memory allocated to hold the `final Color accent = Color.orange;` value, and another memory slot to hold the `green` accent,

[2022-02-20 20:50] esDotDev commented on #48441
Interesting, I didn't realize the compiler worked like that and the workarounds seem fine. Thx!

[2022-02-20 20:50] #48441 closed

[2022-02-20 21:47] kevmoo commented on #36933
@brianquinlan ?

[2022-02-20 22:23] bshlomo opened #48443 "error while building web application"
Microsoft Windows [Version 6.1.7601]

Dart SDK 2.16.1

Chrome Version 98.0.4758.102 (Official Build) (64-bit)

IntelliJ IDEA 2021.3.2 (Community Edition)
Build #IC-213.6777.52, built on January 28, 2022
Runtime version: 11.0.13+7-b1751.25 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Windows 7 6.1
GC: G1 Young Generation, G1 Old Generation
Memory: 986M
Cores: 4
Non-Bundled Plugins:
    Da

[2022-02-20 23:37] elemen3 commented on #8297
100% agreed!

[2022-02-21 04:08] james-poulose commented on #30074
I ended up creating a factory like this. Full usage [here](https://stackoverflow.com/a/71201123/249097).
[code]

[2022-02-21 09:32] nielsenko commented on #48321
Can you share a bit about the status of this?

[2022-02-21 10:41] #47922 closed

[2022-02-21 11:17] mraleph commented on #47503
@lukaszciastko some plugins cause really bad memory usage.

[2022-02-21 11:18] mraleph commented on #47503
@lukaszciastko could you look at which dart process in particular is consuming a lot of memory? There might be multiple dart processes - and we need to know which one (e.g. is it one spawned by the IDE?)

[2022-02-21 11:33] mraleph commented on #48436
Unfortunately we would need considerably more information or a runnable reproduction  to figure this out.

You could dump disassembly of `main.aot` (with and without `@pragma`) with `objdump` and then diff them in attempt to locate the place which was actually affected.

[2022-02-21 12:56] eernstg commented on #48441
Another comment on the initial example, I'd prefer this:

[code]

The point is that you don't use any affordances offered by instance variables, so you might as well just write the getter directly, and then you avoid storing any data that doesn't need to be stored per object anyway. Of course, you also avoid wasting storage by overriding an instance variable such that it is never used, because you

[2022-02-21 13:03] #47739 closed

[2022-02-21 13:32] eernstg commented on #48429
Note that https://dart-review.googlesource.com/c/sdk/+/233384 contains a handful of fixes that aren't in https://dart-review.googlesource.com/c/sdk/+/231950 as well.

[2022-02-21 13:45] eernstg commented on #48419
It is true that some programs will initiate some asynchronous computations and rely on post-main execution. However, developers of those programs would then simply never enable this feature.

So the question is: How large is the set of programs for which all post-main computation is actually considered to be a bug (an async leak)? If that's a reasonably large set of programs then it may be worthwh

[2022-02-21 14:01] chloestefantsova opened #48444 "Parser emits compile-time errors on a correct program"
The following program is the repro.

[code]

The emitted errors are the following:

[code]

[2022-02-21 14:02] chloestefantsova commented on #47741
Blocked on https://github.com/dart-lang/sdk/issues/48444.

[2022-02-21 14:29] lrhn commented on #48419
It should be fairly simple to make such a `Zone` which prevents callbacks after some flag has been set.
Something like:
[code]

[2022-02-21 16:38] eernstg commented on #30074
C++ templates are basically macros. Each application of a C++ template to a list of actual template arguments (inferred or passed explicitly) gives rise to a separate piece of code, which is compiled. This means that any two different template instantiations could give rise to completely different generated code, and also that you can have compile-time errors in the body of a template during compi

[2022-02-21 16:39] #48409 closed

[2022-02-21 16:39] #48410 closed

[2022-02-21 16:54] bwilkerson opened #48445 "Question about deprecated"
Should the analyzer produce a hint for the following code:

[code]

It doesn't seem to make sense to say that an instance member is deprecated if it overrides a member that isn't deprecated. For example, consider:

[code]

[2022-02-21 16:55] bwilkerson commented on #48445
@lrhn @srawlins

[2022-02-21 16:59] michpolicht commented on #30074
C++ templates are not macros. It's a turing-complete meta-programming language and of course it generates code at compile-time, because that turns out to be useful feature and its true purpose. C++ templates enable techniques such as static polymorphism, while mechanisms such as virtual methods allow you to obtain runtime polymorphism. These are two complementary mechanisms. If you say that this i

[2022-02-21 17:59] eernstg commented on #30074
Macro expansion can certainly be Turing complete. The untyped lambda calculus is Turing complete, and it is directly based on substitution. The point here is that C++ template expansion is not type checked, type checking only occurs after expansion. (Yes, C++ concepts allow you to specify certain constraints, but it is very different from an actual, sound type checking mechanism.)

Generics in Dar

[2022-02-21 18:09] eernstg commented on #48419
Cool, thank you!

[2022-02-21 18:31] esDotDev commented on #48441
Interesting, thanks for the info. I did think of that, but since ColorTheme would be accessed extremely frequently I thought there would be some extra cost to using a method vs a field, also it would prevent these instances from being final or const.

[2022-02-21 18:46] DanTup commented on #48431
If it's not a common bot to break(/it's mostly just me!), it might be more trouble than it's worth (@bwilkerson may have an opinion/a better idea of how often it's broken).

I'll try to keep a better eye on these after changes are merged (and perhaps request the windows trybot is included when running if it's a change that involves paths, like the one that caused this). Thanks!

[2022-02-21 19:06] michpolicht commented on #30074
Don't pick my sentences out of a context.

That's what I'm pointing out, do not turn things upside down. It is you who made a claim that C++ is somewhat problematic and there is something wrong about it, while in fact it utilizes the concept of generic programming to the very end.

I'm also not saying that Dart generics are completely useless, but the whole point of using generics is to operate on

[2022-02-21 19:25] ahmadSaeedGoda commented on #39901
coming from 2022 Feb. using Dart SDK version: 2.12.0 (stable) (Thu Feb 25 19:50:53 2021 +0100) on "linux_x64"
to ask for any updates on this!

Can you please advise?

[2022-02-21 19:26] michpolicht commented on #30074
So does it happen or not? Is the type checked after the expansion? If so, then why do you claim that template expansion is not type checked? This looks to me like self-contradicting statements, so I have troubles with understanding you.

[2022-02-21 19:39] eernstg commented on #30074
Certainly C++ templates are somewhat problematic, because they are not type checked, it is only each instantiation which is type checked (as usual, I should mention that concepts are capable of performing specific checks, but only the ones that you have remembered to ask about, so that's nowhere near the same thing as a static type check of the template).

C++ templates do indeed allow for maximal

[2022-02-21 19:51] eernstg commented on #48441
Thanks! It is perfectly fine to have a getter in a class with a `const` constructor, and that getter can perform arbitrary computations. But it does matter whether you will call a getter or perform a raw memory read, if you want to obtain the value frequently.

[2022-02-21 20:16] michpolicht commented on #30074
(...)
This makes template instantiation similar to other code generation mechanisms: If the generated code passes the compiler then you're lucky. If the generated code is rejected by the compiler then it's because you are starting from an unchecked entity: The template itself.

And what's exactly problematic with this approach? You get compile time error in both cases, right? And C++ templates are

[2022-02-21 20:17] bwilkerson commented on #48431
It's not uncommon for tests to have paths in them that end up breaking the windows bot. But I think it's fine to have the bot broken for short periods rather than to have it always run as a try bot. The problem is that we no longer have the console on the wall like we used to, so it often takes us a while to notice that it's been broken. That should be fixed once we're back in the office.

[2022-02-21 22:09] lrhn commented on #48445
The annotation doesn't appear to make a lot of sense by itself.
Although one *possible* interpretation is that `B` will stop implementing `A` in the future. The documentation should probably say that.

If someone added the annotation, they either meant it, or it's a mistake.
If there is any way it can be deliberate, we shouldn't disallow it.
So, I'd say this is working as intended.

Don't know if

[2022-02-22 01:42] bwilkerson commented on #48445
Given that there's a plausible use case, any check should be opt-in. But until a user actually requests it, I think we can close this.

[2022-02-22 01:42] #48445 closed

[2022-02-22 05:59] sadaqatdev opened #48446 "Fractional value Error some time give rounded value and some time give double value Dart SDK version: 2.16.0 (stable) (Mon Jan 31 15:28:59 2022 +0100) on "macos_x64""
the following code give rounded value and some time give double value.

    var id1=45;
    var id2=47;

    var k1 = int.parse(id1.toString()).toDouble();

    var k2 = int.parse(id2.toString()).toDouble();

    var roomId = ((k1 + k2) * (k1 + k2 + 1) + (k1 * k2))/2;

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.10.0, on Mac OS X 10.15.7 19H1715 darwi

[2022-02-22 08:46] yashyoshida commented on #47807
Any updates on this issue?

I am currently writing software using dart socket library.
On Android platform, when I turns off WiFi connection, socket library immediately called onError and onDone handlers. So I can detect socket closing.
However, on iOS, even after I turns off WiFi connection,  I can call socket.write and socket.flush. OnError and onDone handlers will be called around 60 seconds la

[2022-02-22 09:50] lrhn commented on #30074
@michpolicht

The goal of static checking is to guarantee that you won't get runtime errors.
Dart has moved quite some way towards doing static checking, vs. allowing runtime errors.
The Dart 2 type system and the Null Safety change were both aimed solidly at using static checking to prevent runtime errors.
By all counts, our current target demographic wants us to go even further (up to and includ

[2022-02-22 10:09] eernstg commented on #30074
@michpolicht wrote:

C++ templates are a time-proven language design element in C++, it allows for the maximal flexibility that I mentioned, and it allows for C++ code to remain as low-level and highly performant as we'd expect from C++. So the template design is a fact of life in C++, and C++ software is written to use the properties offered by this design, and it's all good.

But C++ templates a

[2022-02-22 10:48] #28592 closed

[2022-02-22 11:23] julemand101 opened #48447 "No way to use "define" when using "dart compile jit-snapshot""
Dart SDK Version (`dart --version`):
[code]

Example program (`test.dart`):
[code]

There seems to be no way to specify a `--define` argument when using `dart compile jit-snapshot`. Besides no information in either `--help` or `--help --verbose` for `compile jit-snapshot` I have tried the following without any luck:
[code]

It is possible if we do it the old way:
[code]

I have checked the source

[2022-02-22 12:51] AlexanderFarkas opened #48448 "Type inference stops working, if type gets inferred by extension."
Example:
[code]

Dart: 2.16.1

[2022-02-22 13:41] lrhn commented on #48448
I think this is working as intended.

A receiver never gets a context type. This means that for
[code]
the `ValidationPipeline(value)` expression has *no* clues from the outside that can be used to determine the `TError` type.

You might think that the type inference can work backwards, seeing that `.isEmail(error: "Error")` requires an object with `TError` being `String`, but that's not how type

[2022-02-22 13:50] AlexanderFarkas commented on #48448
I don't get why `ValidationPipeline(value)` works in that case, if it "has no clues".
If `ValidationPipeline(value)` could be inferred as `<String, String>`, why extension doesn't get this inference result and force `isEmail()` to have `error` parameter of type String?

[2022-02-22 13:53] malamine19 opened #48449 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-211.7628.21.2111.8139111`
- `2.16.1`
- `AI-211.7628.21.2111.8139111, JRE 11.0.11+0-b60-7590822x64 JetBrains s.r.o., OS Mac OS X(x86_64) v12.2.1, screens 2880.0x1800.0  Retina`

[2022-02-22 13:56] chengqing97 opened #48450 "Connection closed before full header was received"
## Issue:
I am getting this error when sending requests to some URLs:
[code]
## My environment:
Dart: Dart SDK version: 2.16.1 (stable) on "linux_x64"
OS: Debian 11 bullseye
Kernel: x86_64 Linux 5.10.0-11-amd64

## Steps to reproduce:
1. Create a `main.dart`
2. Inside `main.dart`:
[code]

3. Run the code `dart run main.dart`

I can make request to `url2` just fine. I'm only getting error when maki

[2022-02-22 14:34] Sleen opened #48451 "403 error when installing dart-sdk with `brew`"
I got this error when installing dart-sdk with `brew`:
[code]

And I have tried all the resource links in `https://dart.dev/get-dart/archive`. I just got this:
[code]

[2022-02-22 14:49] michpolicht commented on #30074
Sorry, I don't have much time right now, so I will try to make a full reply later. For now I just want to address following point

In both cases: C++ type substitution and "real type checking" you get compile-time error, so I don't understand what is the real problem here. Moreover you can enforce type checks for particular types with explicit template instantiation:

[code]

Yes, there is a probl

[2022-02-22 15:10] athomas commented on #48451
A configuration mistake on the dart-archive bucket was fixed, please confirm that you're no longer seeing this error.

[2022-02-22 15:12] DanTup commented on #48451
I can't speak for OP/`brew`, but my GitHub bots and manually downloading from the archive page are working now, thanks! :-)

[2022-02-22 15:13] athomas commented on #48451
Ok, I will close this then.

[2022-02-22 15:54] bwilkerson commented on #42710
Yes. Open "Help > Find Action...". Search for "Registry..." and run the action. Search for "dart.server.additional.arguments" and edit it to add command-line arguments that will be sent to the server. Finally, restart the server.

[2022-02-22 17:06] sigmundch commented on #47881
I have not seen this failure come up in the last 200 runs of the flutter-analyze bot. https://github.com/dart-lang/pub/pull/3285 from @sigurdm[](https://teams.googleplex.com/sigurdm@google.com) landed in the main Dart branch in https://github.com/dart-lang/sdk/commit/bc7554107bf733687231981da6f7f1bc892999bd on Jan 27 and the last failure of this kind was two days prior to that on Jan 25! I'm cauti

[2022-02-22 17:06] #47881 closed

[2022-02-22 17:07] DanTup commented on #42710
Thanks!

I still can't repro the original error message, but I see that report is quite old now. @aliyazdi75 can you confirm if you're seeing the same error noted in the title ("request was cancelled") or something else (perhaps the same issue I'm seeing?).

@bwilkerson for the error I'm seeing (log below), the issue seems to be that when computing edits for a rename, the references to that file a

[2022-02-22 17:21] bwilkerson commented on #42710
I think your analysis is correct. I can think of two possible solutions.

The first is to re-order the events on the client side. If we were to make all of the changes to each file before asking to move the next then we'd simulate a series of individual file moves, which is what server currently supports.

The second is to support multi-file moves in server directly. This is probably more work, bu

[2022-02-22 18:18] aliyazdi75 commented on #42710
@DanTup
Yes, I can still reproduce this on only Windows. It is so strange. It only happens on specific files with specific imports. I still couldn't reproduce this on some simple projects, but it happened on one of my big projects for specific files. If I can find a simple way I will inform you. This is the error message:
![image](https://user-images.githubusercontent.com/20153831/155191833-061999

[2022-02-22 18:46] stereotype441 opened #48452 "lib_2/html/audiocontext_test is potentially flaky"
There are new test failures on [Breaking analyzer change: always insert ImplicitCallReference nodes.](https://github.com/dart-lang/sdk/commit/f654af1fea114e3bd5bb80371953611fe1805618).

This commit doesn't touch dart2js or any code it uses, so I believe the failure was caused by something else (or possibly the test is flaky).

The tests
[code]
are failing on configurations
[code]

[2022-02-22 18:58] brianquinlan commented on #43277
Hi @hacker1024  - if you change the code to *not* use `connectionFactory` does this work? ie

[code]

If so, could you file another bug to track this issue?

[2022-02-22 18:58] #43277 closed

[2022-02-22 19:14] sigmundch commented on #48452
/cc @srujzs

[2022-02-22 19:15] sigmundch commented on #48452
Ah, it appears to be FF specific. I see that it's also tracked by https://github.com/dart-lang/sdk/issues/48434, so I'm closing this as a duplicate.

[2022-02-22 19:15] #48452 closed

[2022-02-22 19:35] SuporteSysrs01 commented on #48450
Probably a duplicate of flutter/flutter/#41573

[2022-02-22 20:04] abdullahsalahali123 opened #48453 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-211.7628.21.2111.8139111`
- `2.16.0`
- `AI-211.7628.21.2111.8139111, JRE 11.0.11+9-b60-7590822x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 2400.0x1350.0`

[2022-02-22 20:19] hacker1024 commented on #43277
@brianquinlan It does not. See: #43876.

[2022-02-22 20:25] #48453 closed

[2022-02-22 20:30] lrhn commented on #48448
For
[code]
the `ValidationPipeline(value)` has context type of `ValidationPipeline<String, String>` (because it's a returned expression it has the function's return type as context type), which is used to infer the type arguments.

In
[code]
the expression `ValidationPipeline(value).isEmail(error: "Error")` has that as context type too, but `ValidationPipeline(value)` itself is not the value of th

[2022-02-22 20:39] SinoMiles opened #48454 "Obfuscating dart source code"
I mean change source code, like change class name, function name .what should I do?
Is there any way to get the class name and all function names and all String?
is not flutter build apk --obfuscate --split-debug-info=/<project-name>/<directory>
like the image below
![image](https://user-images.githubusercontent.com/9588025/155213965-1a3aa52f-e6d2-4f23-988f-99acd9cc9927.png)

[2022-02-22 21:20] srawlins commented on #47963
Hmm I don't see the commit in 2.16.1. https://github.com/dart-lang/sdk/commits/2.16.1 But I could be wrong.

[2022-02-22 21:29] alexmarkov commented on #48063
Currently there are no failing tests for super parameters on the VM configurations.

[2022-02-22 21:29] #48063 closed

[2022-02-22 21:36] alexmarkov commented on #47861
Currently there are only 2 failing tests for enhanced enums on the VM configurations:
- 1 `CompileTimeError` due to front-end bug https://github.com/dart-lang/sdk/issues/48297.
- 1 `CompileTimeError` due to incorrect test https://github.com/dart-lang/sdk/issues/48421.

The implementation in the VM is complete and there are no outstanding failures related to the VM.

[2022-02-22 21:36] #47861 closed

[2022-02-22 22:09] rakudrama commented on #45681
See #48442 for an example where we can't evaluate map and set literals eagerly.

It might be useful to decouple the lazy/eager analysis from the scope visitor. In looking at #48442, it is clear that the scope visitor is too early to make a good decision. Probably the best point is in SSA just before generating JavaScript for the initializer, and the execution cost will then be most apparent.
This

[2022-02-22 22:10] gaaclarke opened #48455 "Timeline sync events generates garbage"
This tracker is for issues related to:

* Dart core libraries ("dart:async", "dart:io", etc.)

`Timeline.startSync` is generating garbage each time it is called: https://github.com/dart-lang/sdk/blob/dfa08d1c1ef7a86c7b87c226bd3c01c9fc035731/sdk/lib/developer/timeline.dart#L112

This needlessly generates garbage and adversely affects performance when Timeline events are used.  It's probably easiest

[2022-02-22 22:11] marcusmonteirodesouza commented on #47899
I think I might be experiencing the same problem. When I deploy [this app](https://github.com/marcusmonteirodesouza/dart-shelf-realworld-example-app) to Cloud Run (via [terraform](https://github.com/marcusmonteirodesouza/dart-shelf-realworld-example-app/blob/master/deploy/gcp/terraform/main.tf)) and then make a HTTP request to it, in the majority of times the request hangs on indefinitely until it

[2022-02-22 22:52] ahmadSaeedGoda opened #48456 "_nativeGetRemotePeer() throws or returns an exception whenever remoteAddress Socket's property getter is called!"
* Dart SDK Version (`dart --version`): Dart SDK version: 2.16.1 (stable) (Tue Feb 8 12:02:33 2022 +0100) on "linux_x64"
* Operating System is Linux UBUNTU.

_nativeGetRemotePeer() throws or returns an exception whenever `remoteAddress` Socket's property getter is called!

This _nativeGetRemotePeer() function appears to be a C native function called by Dart code. I have no access to debug the nativ

[2022-02-22 23:18] rakudrama commented on #48442
Fix ready for review: https://dart-review.googlesource.com/c/sdk/+/233942

[2022-02-23 03:05] AlexanderFarkas commented on #48448
Thank you for such a detailed explanation.
Closing.

[2022-02-23 03:05] #48448 closed

[2022-02-23 05:28] rileyporter commented on #47776
DDC implementation landed in https://github.com/dart-lang/sdk/commit/278a040e1dcbd01b838103c00aa1effa7943ce04

[2022-02-23 05:28] #47776 closed

[2022-02-23 05:28] rileyporter commented on #47775
dart2js implementation landed in https://github.com/dart-lang/sdk/commit/278a040e1dcbd01b838103c00aa1effa7943ce04

[2022-02-23 05:28] #47775 closed

[2022-02-23 07:17] scheglov commented on #48438
https://dart-review.googlesource.com/c/sdk/+/233968

[2022-02-23 08:47] mit-mit opened #48457 "Discontinue `dartanalyzer`"
As part of the transition to the new [unified `dart` developer tool](https://github.com/dart-lang/sdk/issues/46100), we're discontinuing `dartanalyzer` in favor of `dart analyze`. This issue tracks remaining clean-up items needed to fully discontinue `dartanalyzer`:

* [x]  add support for analyzing the Dart SDK libs (currently `--dart-sdk=/Users/foo/src/dart-repo/sdk/sdk`)
   https://github.com/d

[2022-02-23 09:34] eernstg commented on #48457
Could we make it a action item to support `dart analyze --enable-experiment=...` as well, or do we have a plan for how to do that in some other way?

[2022-02-23 09:39] mit-mit commented on #48457
I think `dart --enable-experiment=... analyze` works already?

[2022-02-23 09:45] larssn opened #48458 "An error occurred while handling textDocument/didOpen notification"
Was sent here from https://github.com/Dart-Code/Dart-Code/issues/3774

I'm seeing the crash below periodically. It usually happens when I'm typing a variable/method name on an object instance. Sorry I don't have much more to report than that.

#### Versions:
[code]

#### Maybe relevant info
- Only seeing this in a low memory environment (4GB). I have yet to see it on my 32GB PC.
- We have yet to c

[2022-02-23 09:49] eernstg commented on #48457
That would be great! I currently seem to get the following:

[code]

where `dart` is from commit 19c7f85bfe1758d39570feeee3e6aa3ebdc56d90.

[2022-02-23 09:53] lrhn commented on #41454
It's not guaranteed to generate different values for different objects.

It can't. There are more different possible objects of `class A { final int a, b; A(this.a, this.b); }` than there are integers that `identityHashCode` can return. (Well, in practice I guess there won't be that many instance in a single program, but `identityHashCode` does not promise to provide unique values. I don't know if

[2022-02-23 09:57] mit-mit commented on #48457
Yes; you need to be on the right language version also, which requires a package config being generated by `pub get`

[2022-02-23 09:58] #48449 closed

[2022-02-23 10:06] eernstg commented on #48457
OK, did that. But we're not at 2.17.0 yet (and this `dart` is from a commit late yesterday afternoon), so following the advice in the emitted message does not seem to work at this point:

[code]

[2022-02-23 10:10] lrhn commented on #48446
The `int.parse(id1.toString()).toDouble()` is completely equivalent to `id1.toDouble()`.

Not sure what you mean by showing a rounded value or a double value.

Since both `k1` and `k2` are double values, and the `/ 2` always creates a double value anyway, the result is *always* a double.
If you want an integer, you need to use `~/ 2` instead of `/ 2`.

In some cases the result is an integer value

[2022-02-23 10:28] mit-mit commented on #48457
Try:

[code]

[2022-02-23 10:59] eernstg commented on #48457
Still `Try updating your pubspec.yaml to set the minimum SDK constraint to 2.17.0 or higher`.

[2022-02-23 11:25] eernstg commented on #30074
You get a compile-time error for an actual instantiation where the type arguments fail to satisfy some constraints that are derived directly from every little implementation detail in the body of the template. You can't conclude _anything_ about the correctness of an instantiation of the same template with different type arguments, so you can't promise your customers that your template is correct.

[2022-02-23 11:41] esenmx commented on #38595
Since http3 support for gRPC(https://github.com/grpc/grpc/issues/19126) and nodeJs(https://github.com/nodejs/node/issues/38478) on the way, I think it's time to increase priority for this feature.
Also, probably very few people in community has network programming experience since Flutter itself is an UI framework, some internal wiggling from Google would be very nice, otherwise chances are high w

[2022-02-23 12:07] sstrickl commented on #41545
service_2/vm_timeline_events_test/dds (flaky -> Timeout) on dartk-linux-release-simarm64 ([log](https://dart-ci.appspot.com/log/vm-kernel-linux-release-simarm64/dartk-linux-release-simarm64/13472/service_2/vm_timeline_events_test/dds))

[2022-02-23 12:16] sstrickl commented on #43613
It looks like vm/dart/type_casts_with_null_safety_autodetection_test has still been at least flakily timing out since Oct 28 in release mode, and finally went red today ([log](https://dart-ci.appspot.com/log/vm-kernel-nnbd-win-release-ia32/dartk-weak-asserts-win-release-ia32/473/vm/dart/type_casts_with_null_safety_autodetection_test)). Will also mark it Slow in release mode.

[2022-02-23 12:22] #46869 closed

[2022-02-23 12:40] jensjoha commented on #48380
I don't think I understand what the bad thing about the current parsing is.

E.g.

[code]

is parsed as

[code]

which seems fine? (and doesn't appear to throw any semicolon away?)

[2022-02-23 13:11] #47741 closed

[2022-02-23 13:11] #47951 closed

[2022-02-23 13:11] #48444 closed

[2022-02-23 13:37] johnniwinther opened #48459 "Debugger stopped working"
With commit [[ Service ] Update VM service message to not reference Observatory](https://dart-review.googlesource.com/c/sdk/+/233504) debug stopped working on my machine. I use `IntelliJ IDEA 2021.3.2 (Community Edition) IntelliJ IDEA 2021.3.2 (Community Edition) Build #IC-213.6777.52, built on January 28, 2022` on Windows.

The console prints something like
[code]
and then just hangs.

[2022-02-23 13:48] IndieRobert opened #48460 "Grammar error for Paul"
Paul?
clientTable?["seat${seat}Pot"] += clientTable?["seat${seat}Front"] + (clientTable?["bettingRound"] == 1 ? (clientTable?["seat${seat}Dead"]) : 0);

compiles

clientTable?["seat${seat}Pot"] += clientTable?["seat${seat}Front"] + (clientTable?["bettingRound"] == 1 ? clientTable?["seat${seat}Dead"] : 0);

doesnt

From quadcore

[2022-02-23 15:47] michpolicht commented on #30074
With Dart you tell your customer "sorry construction of generic type won't work, because Dart devs think it's not useful/unsafe", so every stick has two ends. And TBH I still don't understand your point, because there's really no value in providing a generic class that works for all types, when only certain type properties are required (and concepts are a formal mechanism to establish it). Failed

[2022-02-23 16:04] Sunbreak commented on #36989
Though not planned, but it is possible actually.

Dart could take advantage of JavaScript prototype chain as Kotlin/JS in https://rosettacode.org/wiki/Reflection/Get_source#Kotlin

It is possible even in Dart/VM in JIT mode: https://rosettacode.org/wiki/Reflection/Get_source#Kotlin

[2022-02-23 16:29] AbhishekDoshi26 opened #58663 "Dart imports are not case sensitive"
## Summary of Issue:
Recently encountered an issue which depicts that flutter's imports are not case sensitive. So for Flutter Engine:
`import 'package:test_project/screens/home.dart';` and `'package:test_project/Screens/home.dart';` are same which is totally incorrect. Now if the user imports as 2nd option, other services like firebase Hosting, Docker, GitHub actions, fail as they all are case se

[2022-02-23 16:41] scheglov commented on #48380
You are right, the semicolon is not discarded, I was confused.

The main issue is that when an enum constant has type arguments, according to the grammar it also must have value arguments. Looking into the spec now, I don't see it saying this explicitly, although it used to do so. Maybe it was too obvious. But examples in `Enum values:` still show it.

So, could parser insert not only a synthetic

[2022-02-23 16:59] johnniwinther commented on #48460
Rewritten example:
[code]
results in
[code]
meaning that the first line doesn't parser but the second does.

@IndieRobert Do that reflect you problem?

[2022-02-23 17:45] a-eniou-pvotal opened #48462 "get dart app version number"
I made a dart app for server application but I want to print the app version number on app execute, so I search for getting app version number for dart command-line apps but I couldn’t find any answers, all answers related to flutter apps.

So how to get app version for dart command-line apps?

[2022-02-23 17:54] jci-cfoxr commented on #40159
Just curious if there is still motivation to address this issue as there hasn't  been any activity.   We have a use case where this might be useful.  Thanks.

[2022-02-23 18:03] eernstg commented on #48419
So here's a concrete approach which will do what I had in mind:

The basic assumption is that some asynchronous programs are designed to await all their futures during the execution of `main`. If a future is discarded without being awaited then it is a bug (by definition, because that's how the program was designed), and we want to make it a run-time error, such that we know that there was an "asy

[2022-02-23 18:13] #48411 closed

[2022-02-23 18:16] eernstg commented on #30074
(I'll stop here, I won't repeat the explanations given previously.)

[2022-02-23 18:20] lrhn commented on #48462
I'm not sure what the "app version number" is.
Is it the version number of the `pubspec.yaml` file of the project used to build the app?
If so, I do not believe it's automatically included in the resulting program in any automatic way.

[2022-02-23 19:18] #48442 closed

[2022-02-23 19:21] arbazadam13 opened #48466 "URI should not percent encode `:` or `,` in query components"
When parsing the queryParams map which looks like.
{
page:10,
size:10,
q:{
"activeOnly": true,
        "filterByIdentifier": null,
        "orderTypes": null,
        "loadPort": null,
        "dischargePort": null,
        "customerReferenceNumber": null,
        "fromDate": "",
        "toDate": "",
        "submittedSI": false,
        "draftSI": false
}
}

The : and the , are also getting enco

[2022-02-23 20:26] #40015 closed

[2022-02-23 20:56] jwren commented on #48459
This is a duplicate of https://youtrack.jetbrains.com/issue/WEB-54727 which was closed with https://github.com/JetBrains/intellij-plugins/pull/855

The new version of the Dart plugin will be pushed out soon.  Note that users won't hit this issue as they don't build the latest Dart SDK by source.

Apologies for the breakage, I didn't know the change had landed until this issue.

[2022-02-23 20:56] #48459 closed

[2022-02-23 21:24] #47848 closed

[2022-02-23 21:48] a-siva opened #48464 "Failures on [parser] Better recovery for missing comma in initializer list."
There are new test failures on [[parser] Better recovery for missing comma in initializer list.](https://github.com/dart-lang/sdk/commit/468f939428eaafc58af5f3e011cb29c64580b90a).

The tests
[code]
are failing on configurations
[code]

@jensjoha It looks like some expectations need to be updated.

[2022-02-23 21:59] georglu opened #48465 "[dart2js] possible bug: if condition gets ignored in for loop"
I think I found a bug in dart2js 2.16.1. It looks like the dart2js compiler ignores an if condition with a counter in a for loop when it should not. The dart code:
[code]
And here the generated JS code, the if condition is missing:
[code]
Output of dart function as expected:
[code]
Output of generated JavaScript:
[code]
When the variable `counter` is initialized with a value smaller than 3, the bu

[2022-02-23 22:18] IndieRobert commented on #48460
Yup this is it

[2022-02-23 22:43] munificent commented on #47451
I have this implemented in dart_style now, but not yet released and rolled into the Dart SDK. I'll roll it in once I get enhanced enums done too.

[2022-02-23 23:38] #58460 closed

[2022-02-24 00:26] natebosch commented on #48466
If I understand correctly you expect that neither `:` or `,` is percent encoded for query parameters.

That is, you expect `Uri.encodeQueryComponent(':,') == ':,'`, while today in practice `Uri.encodeQueryComponent(':,') == '%3A%2C'`

Can you clarify what you mean by "bad" request? Both URLs you pasted are valid. It is not illegal to percent encode characters which don't have a reserved purpose in

[2022-02-24 00:52] natebosch commented on #48466
I'm having a hard time finding an implementation of URI component encoding which _doesn't_ percent-encode `:` and `,`.

The implementation we have is definitely not incorrect - these values are allowed to be percent encoded (and should be correctly decoded by a spec-compliant server).

I think it _could_ also be correct to not encode `:` and `,` based on a sentence on wikipedia: "The character doe

[2022-02-24 00:54] natebosch commented on #48466
Our docs mention RFC 1738 which does specifically call out both `:` and `,` as reserved in the query component.

https://www.ietf.org/rfc/rfc2396.txt#:~:text=The%20query%20component%20is%20a,be%20interpreted%20by%20the%20resource.&text=Within%20a%20query%20component%2C%20the,and%20%22%24%22%20are%20reserved.&text=The%20term%20%22URI%2Dreference%22,usage%20of%20a%20resource%20identifier.

It doesn'

[2022-02-24 00:54] #48466 closed

[2022-02-24 01:00] jmagman commented on #48459
I'm seeing this in the Flutter master channel as of https://github.com/flutter/flutter/pull/98940.

[2022-02-24 02:48] #58637 closed

[2022-02-24 02:51] #58635 closed

[2022-02-24 03:41] Pr47h4m commented on #47503
I'm facing similar issues
when I uncommented prefer_single_quotes option and then dart analyser was taking very very long
then i need to quit vs code and then also dart did not get terminated from activity monitor and was taking 1gb physical memory

[2022-02-24 03:46] hongfeiyang commented on #47503
I eventually solved this issue with a maxed out M1 Max, haven't seen dart memory usage exceeding 64G, yet xD

[2022-02-24 03:50] rakudrama commented on #48465
Thanks for the concise report.
The bug appears to be in value range analysis.
After this phase, the condition `counter > 3` has become constant.
This appears to be a long-standing bug. I will investigate further.

[2022-02-24 04:42] #58084 closed

[2022-02-24 05:32] a-siva commented on #38595
/cc @brianquinlan

[2022-02-24 07:53] scheglov commented on #48281
I believe that it already works in DAS, but I will add a test.
https://dart-review.googlesource.com/c/sdk/+/234223

I think it does not work because IntelliJ plugin does not support super-formal parameters yet.
I'm actually not sure if IntelliJ uses `AnalysisService.OCCURRENCES`.

@jwren

[2022-02-24 07:55] scheglov commented on #48296
I believe this is implemented now, with the exception that the error is reported on the enum constants, as we do for classes - we report on fields and getters.

[2022-02-24 07:55] #48296 closed

[2022-02-24 07:56] mit-mit commented on #48457
Sure, but 1) if you had created your project with `dart create` the pubspec would have had the right constraint, and 2) the message I believe optimizes for the 99%+ fraction of users that use stable releases. In either case, probably better to discuss in a separate issue as that seems entirely orthogonal to the present issue.

[2022-02-24 07:58] scheglov commented on #48295
The analyzer reports an error for each enum above now.

[2022-02-24 07:58] #48295 closed

[2022-02-24 07:59] scheglov commented on #48292
The analyzer now reports errors for these cases.

[2022-02-24 07:59] #48292 closed

[2022-02-24 08:00] scheglov commented on #48291
The analyzer now reports errors for these cases.

[2022-02-24 08:00] #48291 closed

[2022-02-24 08:01] tzsh1007 opened #48467 "Where is the implementation of this JS<T extends Object?>(String typeDescription, String codeTemlate, [arg0, .....])"
This function
external T JS<T extends Object?>(String typeDescription, String codeTemplate,
    [arg0,
    arg1,
    arg2,
    arg3,
    arg4,
    arg5,
    arg6,
    arg7,
    arg8,
    arg9,
    arg10,
    arg11,
    arg12,
    arg13,
    arg14,
    arg15,
    arg16,
    arg17,
    arg18,
    arg19]);

is in the ../dart-sdk/lib/_internal/js_dev_runtimes/private/foreign_helper.dart, but I can't f

[2022-02-24 08:03] scheglov commented on #48290
The analyzer reports errors for these cases now.

[2022-02-24 08:03] #48290 closed

[2022-02-24 08:03] scheglov commented on #48289
The analyzer now reports an error for this case.

[2022-02-24 08:03] #48289 closed

[2022-02-24 08:17] esDotDev opened #48468 "Confusing "isn't a valid override" error"
With code like this:
[code]
Gives this error:
[code]
Not sure what the problem is?

[2022-02-24 08:49] johnniwinther commented on #48304
The problem is with the rti optimization. The generated AST _does_ include the type argument and when I run with ` --disable-rti-optimization` it works.

[2022-02-24 09:52] lrhn commented on #48468
That is a weird error. Appears to be analyzer only.

Reproduces in DartPad if you add:
[code]

[2022-02-24 09:59] lrhn commented on #48467
The implementation of this function is provided directly by the web compiler, there is no Dart source code for it.

[2022-02-24 09:59] #48467 closed

[2022-02-24 10:11] denniskaselow opened #48469 "CanvasElement for WebGL2 RenderingContext2.canvas.canvas is null but should be the same as the CanvasElement it was created from"
The CanvasElement associated with a RenderingContext2 when using webgl2 is missing:

[code]

The `CanvasElement` is missing with ddc and dart2js.

Dart SDK version: 2.17.0-132.0.dev (dev) (Sun Feb 20 15:40:08 2022 -0800) on "windows_x64"

[2022-02-24 10:44] #48464 closed

[2022-02-24 11:09] mahmoudatef955 commented on #48278
I have just upgraded to Flutter 2.10.2, and so far it seems to be solved, didn't happen yet.

[2022-02-24 11:26] eernstg commented on #48468
Funny, the CFE had a similar issue a while ago, https://github.com/dart-lang/sdk/issues/47510 (also a case where we have 'S1 is not a correct override of S2' where the signatures S1 and S2 are identical). But the CFE doesn't fail on this one, and the analyzer doesn't fail on that old example. So, fun! :grin:

[2022-02-24 11:43] clebemachado commented on #47736
Is there any chance this problem is in vsCode? In android studio and intelij the same error did not occur.

[2022-02-24 14:52] mit-mit opened #48470 "`DateTime.toIso8601String()` includes microseconds even when 0"
The API docs for `toIso8601String()` say:

*  The format is `yyyy-MM-ddTHH:mm:ss.mmmuuuZ` for UTC time
* `uuu` are microseconds in the range 001 to 999. If [microsecond] equals 0, then this part is omitted.

However, microseconds seem to be always included when using UTC time:

[code]

[2022-02-24 15:14] esDotDev commented on #48468
Ya really weird, I have actually 6 methods in this class, 5 are fine, `watch` is the simplest one, and throws the error

![image](https://user-images.githubusercontent.com/736973/155551950-01f59a3b-f629-41a5-a386-9803557d8934.png)

[2022-02-24 15:37] jacob314 commented on #5144
Fyi @polina-c who may be interested in helping implement this.

[2022-02-24 16:45] martin-braun commented on #39233
@omidraha WTF, you even have to disable it for `dart`? I almost consider this to be shady practices, please disable this already Google.

[2022-02-24 17:07] sigmundch commented on #48304
@johnniwinther - yes, however we noticed is that the RTI optimization bug is only triggered because we can't enable the CFE lowering of explicit getter calls. If we did, the problem also goes away. @fishythefish was wondering if there is a way to selectively enable the lowering, so we only have it disabled in parts of the program where JS-interop is involved. Do you think that could be possible?

[2022-02-24 17:07] fishythefish commented on #48304
@lucaspal That's a flag that can be passed to dart2js and is included in `-O0`. If you're invoking dart2js via Flutter, that flag might not be exposed.

@johnniwinther We know this works with `--disable-rti-optimization` since the trivial RTI need will just put type arguments on everything. Enabling `supportsExplicitGetterCalls` also fixes the issue since it changes the CFE lowering of `call` to s

[2022-02-24 17:15] srawlins commented on #48413
I have a repro on my linux box in the Fuchsia tree; I have not been able to minimize the repro outside of the Fuchsia tree.

[2022-02-24 17:34] liamappelbe commented on #48333
[New failures](https://dart-ci.firebaseapp.com/#showLatestFailures=true&configurations=dartkp-linux-debug-simriscv64):
vm/dart_2/analyze_snapshot_binary_test
vm/dart_2/v8_snapshot_profile_writer_test

[2022-02-24 18:09] Markzipan commented on #48470
Do you have a repro for this? Seems to be working as intended on the VM (as well as the highlighted logic).

[2022-02-24 18:33] lrhn commented on #48470
In the VM, I also see no zero microseconds, whether UTC or not.
The line
[code]
precisely makes the `us` string empty if microseconds is zero, otherwise it's a three digit string.

On the web, there are no microseconds in a JavaScript `Date` object, so it's always zero, and also never included.

[2022-02-24 18:53] bkonyi commented on #48263
Looks like there's at least a couple of issues here. There's a race between the server startup and the tests running, and the tests are trying to connect to the server before it has a chance to startup. Adding a slight delay in the `setUp` method fixes the connection issues, but then we seem to hang on some open connections causing the test to timeout. I'll take a look.

[2022-02-24 19:24] bkonyi commented on #48263
The secondary issue is the use of `package:test_process`, which doesn't seem to be designed for use with long-running processes that don't terminate themselves. Filed https://github.com/dart-lang/test_process/issues/31 to track this behavior, but using `dart:io`'s `Process` is a simple workaround.

[2022-02-24 20:01] #58589 closed

[2022-02-24 20:01] #58586 closed

[2022-02-24 20:01] #58632 closed

[2022-02-24 20:01] #58585 closed

[2022-02-24 20:14] #58634 closed

[2022-02-24 21:20] #46282 closed

[2022-02-24 21:26] a-siva commented on #48413
Can you post the reproduction instructions in this issue

[2022-02-24 21:48] a-siva commented on #48456
@ahmadSaeedGoda the code for _nativeGetRemotePeer lives in `sdk/bin/sync_socket.cc` under SynchronousSocket_GetRemotePeer
If you want to debug the C native code yourself you would have to build a version of the Dart VM using instructions here https://github.com/dart-lang/sdk/wiki/Building and then run the build under a debugger, set a breakpoint at SynchronousSocket_GetRemotePeer and step through

[2022-02-24 21:57] srawlins commented on #48413
Here is what @woody77 and I walked through yesterday. A machine with a fast connection will speed up the Fuchsia fetch :)

The first few steps are from https://fuchsia.dev/fuchsia-src/get-started/get_fuchsia_source, for Linux, and for bash:

1. If you don't have these tools: `sudo apt-get install curl git unzip`
2. `cd ~` or a dir of your choosing.
3. `curl -s "https://fuchsia.googlesource.com/fuc

[2022-02-24 22:01] johnniwinther commented on #48304
Looking a bit further into this, I found that it is not the rti need data that is wrong but the way we query it in the ssa builder. The `InstanceGetterInvocation` is (implicitly) a `.call` invocation, but the selector used to query whether the target needed rti used the target (getter/field) name instead.

I have a fix in progress here: https://dart-review.googlesource.com/c/sdk/+/234288

[2022-02-24 22:12] #48263 closed

[2022-02-24 22:44] Markzipan commented on #48469
The current behavior is correct according to [MDN](https://developer.mozilla.org/en-US/docs/Web/API/WebGLRenderingContext/canvas), so it's possible the Dart side needs to be updated. Adding @srujzs for more info here.

[2022-02-24 22:57] #58641 closed

[2022-02-24 23:02] #58587 closed

[2022-02-25 00:08] #58642 closed

[2022-02-25 00:08] #58633 closed

[2022-02-25 00:10] a-siva commented on #48323
@nightscape any possibilities of getting a reproduction

[2022-02-25 00:13] a-siva commented on #44472
@jensjoha  Can this be closed ?

[2022-02-25 00:13] a-siva commented on #44801
@jensjoha can this be closed ?

[2022-02-25 00:15] a-siva commented on #47873
@dnfield Can this issue be closed ?

[2022-02-25 00:28] dnfield commented on #47873
It is closed and can stay closed :). Did you mean to post this on a different issue?

[2022-02-25 00:39] a-siva commented on #47873
You had a comment that it hadn't rolled into the framework and I was wondering if some issues were found when rolling into the framework. I guess it can remain closed.

[2022-02-25 01:03] brianquinlan commented on #48450
It looks like "dictionary.cambridge.org" is doing some sort of user agent sniffing.

If I change the user agent with:
[code]

Then the server produces a valid HTTP response.

[2022-02-25 01:03] #48450 closed

[2022-02-25 01:12] dnfield commented on #47873
Ahhh haha I tested it manually before it rolled in is all. Sorry for confusion

[2022-02-25 06:40] denniskaselow commented on #48469
Yes you are right that it should be nullable, in case the rendering context was created by an `OffscreenCanvas`, but I created the `RenderingContext2` from an existing `CanvasElement` and as I understand the MDN article, if the `RenderingContext2` was created from an existing `CanvasElement` then that one should be returned.

[2022-02-25 08:01] jensjoha commented on #44801
I believe it can.

[2022-02-25 08:01] #44801 closed

[2022-02-25 08:02] jensjoha commented on #44472
I believe it can.

[2022-02-25 08:02] #44472 closed

[2022-02-25 09:06] mit-mit commented on #48470
On macOS 12.2.1:

[code]

[code]

[2022-02-25 09:36] #48371 closed

[2022-02-25 10:06] lrhn commented on #48470
That looks correct. The milliseconds are included (three "0" digits), but the microseconds are omitted. Otherwise there would be six "0" digits.

[2022-02-25 10:45] jensjoha commented on #48460
I haven't actually stepped through yet, but my guess is this:

When the `h?[0]` syntax was introduced instead of the `h.?[0]` we found that we had to disambiguate between a null-aware index operation and a conditional expression by trying if it _can_ parse as a conditional expression, and if it can that's what we do (https://github.com/dart-lang/sdk/issues/40267#issuecomment-588112082).

I think t

[2022-02-25 10:48] jensjoha commented on #48460
Meaning that
[code]
is parsed as
[code]

and

[code]

is parsed as

[code]

[2022-02-25 11:21] mit-mit commented on #48470
Yes, my bad, I got microseconds and milliseconds confused.

[2022-02-25 11:21] #48470 closed

[2022-02-25 11:38] jensjoha commented on #48439
Funny --- I reported https://github.com/dart-lang/sdk/issues/42918 a while back where I found that a launched process was killed if I ctrl-C'd but not if the launching process throws...

[2022-02-25 14:32] jensjoha commented on #48460
Stepping through the parser confirms this:

For `true ? h?[0] : 0;` when it sees the first `?` it concludes it's a conditional expression. It continues to parse the expression before the colon. In doing that it sees `?` `[` and it checks if it can be parsed as a conditional expression. It can, so it does. Then we get back from the parsing of the (first) conditional expression (before the colon) an

[2022-02-25 15:14] lrhn commented on #48460
I concur, that's what I expect to happen too.
Yes, it's annoying that something that *can* be parsed correctly is instead disambiguated into something that doesn't parse, but that's the cost of doing local disambiguation. (The cost of doing non-local disambiguation is much higher parsing cost at less predictability.)

Wrap the entire thing in `{ ... : 0}`, and then both parsings become valid - `{t

[2022-02-25 15:38] eernstg commented on #48460
Of course, so it is actually working as intended.

[2022-02-25 15:38] #48460 closed

[2022-02-25 15:51] navaronbracke commented on #46817
@bwilkerson Just noticed that it started to work today? We recently upgraded to Flutter 2.10.2 so that might have solved it. Imports are suggested for a file that is under the
[code]
section

Dart SDK version: 2.16.1 (stable) (Tue Feb 8 12:02:33 2022 +0100) on "macos_x64"

[2022-02-25 16:36] bwilkerson commented on #46817
Yes, it's likely that the upgrade included the fix. Glad it's working for you!

[2022-02-25 16:36] #46817 closed

[2022-02-25 16:59] #58588 closed

[2022-02-25 17:11] alexmarkov opened #48472 "[vm] Make sure we don't have mismatched representations in the IL after the last SelectRepresentations pass"
https://dart-review.googlesource.com/c/sdk/+/234324 fixes one mismatch in representations and adds a predicate `FlowGraph::unmatched_representations_allowed()`.

We should fix other mismatches and add more assertions to lock this down.

Assertions to add:

[code]

[2022-02-25 18:18] a-siva commented on #47503
@Pr47h4m @lukaszciastko and @hongfeiyang can you all post the output from your activity monitor which shows all the dart processes running on the system when this happens.

[2022-02-25 20:36] mkustermann opened #48473 "Incorrect update of field guard state when running concurrent isolates in JIT mode."
The following crash happens flakily on the `iso-stress` builder (see e.g. [this log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket/8821320646904777857/+/u/collect_shards/Run_Isolate_Stress_Tests_shard_6/task_stdout_stderr:_Run_Isolate_Stress_Tests_shard_6)):
[code]

[2022-02-25 20:40] bkonyi commented on #47458
Resolved in [this CL](https://dart-review.googlesource.com/c/sdk/+/227560).

[2022-02-25 20:40] #47458 closed

[2022-02-25 20:46] aam commented on #48473
curious - what are the clues in the stack trace that point to incorrect update of field guard state?
(assuming that https://github.com/dart-lang/sdk/blob/main/runtime/vm/runtime_entry.cc#L2437 CheckedHandle is what triggered signal handler)
[code]

[2022-02-25 21:14] rmacnak-google commented on #48413
So dart:io has properly noticed the child process exited, but the Dart program that spawning the child process hasn't reacted to this exit. A much smaller reproduction doesn't need fuchsia or fsatrace:

[code]

[2022-02-25 21:34] bkonyi commented on #48413
cc @devoncarew @bwilkerson

[2022-02-25 21:35] srawlins commented on #48413
That's perfect, thanks @rmacnak-google !

I think it would be good to figure out the crash as well. This is part of fuchsia's build chain; I can land a fix to not hang when the child process dies, but I think we still need to figure out the crash.

[2022-02-25 21:36] srawlins commented on #48413
BTW I'm happy to get a core dump if someone can help me do that; I've got a shell open that can repro in 5 seconds. But I'm not sure how to attach gdb to the child process. Might need some tricks.

[2022-02-25 21:39] mkustermann commented on #48473
It will reproduce with some probability by running `tests/language_2/vm/lazy_deopt_with_exception_test.dart` in multiple isolates in parallel  (run with`out/ReleaseX64/dart --deterministic`)

The 2-arg IC miss handler is called due to the `==` in
[code]
The ICData contains the following entries
[code]
and it is attempted to add `kDoubleCid` (of which the `receiver` is), but the `other` is garbage.

[2022-02-25 21:39] woody77 commented on #48413
We can (and probably should) open a separate issue for the crash in the analysis server itself, but I opened this issue specifically for the case that @rmacnak-google was able to isolate.  Thanks so much for making a small reproduction case for that!

[2022-02-25 21:41] mkustermann commented on #48473
/cc @aam Since you were working on the field guards, could you take a look at this?

[2022-02-25 21:50] Markzipan commented on #47863
Update: tests added in https://github.com/dart-lang/sdk/commit/e68c3e8bc86bd07ebd39886544444125f9de1e5c

[2022-02-25 21:56] aam commented on #48473
Wow, great analysis, @mkustermann !
Sure I will take a look.

[2022-02-25 22:07] a-siva commented on #48413
Regarding the crash it looks like the crash has something to do with the use of the fsatrace tool, the stack traces of the crashed process is different everytime and almost always in a file or directory operation and this trace tool is meant for tracing file system operations.

[2022-02-25 22:47] rmacnak-google commented on #48413
The underlying crash in the child process is stuff like

[code]
Basically fsatrace is crashing as it intercepts some syscalls. I've seen `openat`, `renameat` and `open` in various coredumps. But that's a bug in fsatrace, not the analyzer or dart:io.

[2022-02-26 00:49] natebosch opened #48474 "Rename refactor incorrectly renames private symbols in other libraries"
[code]

[code]

If I do a rename with the analysis server (I'm using LSP but I'd assume it happens either way) in `bar.dart` of `_private`, then the field which happens to have the same name in the class that is implemented is renamed as well. This would make sense if the classes were in the same library, but not across libraries.

[2022-02-26 00:56] natebosch commented on #48474
The real world situation was a rename of `HtmlWebSocketChannel._webSocket`. It also renamed the field with the same name in `IoWebSocketChannel`

[2022-02-26 01:59] GeanTalaver opened #48475 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-211.7628.21.2111.8139111`
- `2.15.1`
- `AI-211.7628.21.2111.8139111, JRE 11.0.11+9-b60-7590822x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366.0x768.0`

[2022-02-26 01:59] #48475 closed

[2022-02-26 05:21] bwilkerson opened #48476 "Tests failed when mock version of meta was updated"
The following tests started failing when the analyzer's mock version of `package:meta` was updated to include a `@Target` annotation on `_DoNotStore` and `_OptionalTypeArgs`:

[code]

Either the tests need to be updated or the `Target` annotations need to be updated.

[2022-02-26 12:45] drpond1 opened #48477 "null is not legal from Map<String, Object> from analyzer"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
* Dart websi

[2022-02-26 12:56] drpond1 commented on #48477
Using IntelliJ with Dart 2.16

I do not understand the behavior of the following:

This is not reported as an error.   However,  I thought the return value was null if the Map did not  contain the key ???

Not a problem for me,  as I just changed the code to

[2022-02-26 13:06] lrhn commented on #48477
I do get a warning about `Object?` not being assignable to `Object` when I try the code in DartPad.

Is your project using language version Dart 2.12 or later, by setting the SDK version to `>=2.12.0` in `pubspec.yaml`?
(That is, can you write `Object? s = ...` instead and have the compiler accept it?)

If not, then your code is still being compiled as pre-Null Safety code.

[2022-02-26 13:07] drpond1 commented on #48477
I am using the null safe version of the compiler.

[2022-02-26 13:21] drpond1 commented on #48477
Mad a transcription mistake.  I used
   ``` if (s Map)  ```

[2022-02-26 14:44] lrhn commented on #48477
That explains it. Doing `t is Map` promotes `t` to `Map<dynamic, dynamic>`.
That makes the assignment `t = t["fluff"];` be an assignment from `dynamic` to `Object`, which is allowed as an implicit downcast from `dynamic`.

So, it's all because of an implicit `dynamic`.

[2022-02-26 16:56] bwilkerson opened #48478 "Add a fix for CompileTimeErrorCode.ENUM_WITH_ABSTRACT_MEMBER"
The `CompileTimeErrorCode.ENUM_WITH_ABSTRACT_MEMBER` diagnostic could have a quick fix that would make the member concrete by adding an empty body.

[2022-02-26 17:03] drpond1 commented on #48477
I would expect that t=null would not be allowed because t is of type Object and not
    Object?.    Yet this is possible with
     t=t["fluff"]  for any Map.

   if  you try to add extra protection with
'''
   if (t==null) {
      ... dosomething   ...
}
[code]

[2022-02-26 17:06] bwilkerson opened #48479 "Add a fix for CompileTimeErrorCode.NON_CONST_GENERATIVE_ENUM_CONSTRUCTOR"
The diagnostic `CompileTimeErrorCode.NON_CONST_GENERATIVE_ENUM_CONSTRUCTOR ` should have a fix that would add the `const` keyword. The fix should probably only be applied if all of the fields are `final`.

[2022-02-26 17:08] bwilkerson opened #48480 "Add a fix for CompileTimeErrorCode.SUPER_FORMAL_PARAMETER_WITHOUT_ASSOCIATED_NAMED"
The diagnostic `CompileTimeErrorCode.SUPER_FORMAL_PARAMETER_WITHOUT_ASSOCIATED_NAMED` should have a fix that would replace the name with a similar name from the super constructor. This would be conditional on there being one or more similar enough names.

[2022-02-26 17:17] bwilkerson opened #48481 "Add a fix for CompileTimeErrorCode.UNDEFINED_ENUM_CONSTRUCTOR"
The diagnostics `CompileTimeErrorCode.UNDEFINED_ENUM_CONSTRUCTOR_NAMED` and `CompileTimeErrorCode.UNDEFINED_ENUM_CONSTRUCTOR_UNNAMED` should have the `CreateConstructor` fix associated with them (after verifying that it works correctly in those cases).

[2022-02-26 19:56] drpond1 commented on #48477
I found this issue mentioned earlier as part of open issue  #1324

[code]
"If null safety is about the compiler catching possible null assignments, then dynamic spoils this."

So this "new" issue should be closed.

Thank you again for your help.

[2022-02-26 20:12] minhqdao opened #58665 "proposal: `use_colored_box`"
## `use_colored_box`

It's also been asked for [here](https://github.com/flutter/flutter/issues/90722).

## Description

Use `ColoredBox` over `Container` when only a `Color` is specified.

## Details

A `Container` is a heavier Widget compared a `ColoredBox`, and as bonus, `ColoredBox` has a `const` constructor.

## Kind

Style advice.

## Good Example

[code]

## Bad Example

[code]

## Discussi

[2022-02-26 21:58] ahmadSaeedGoda commented on #48456
couldn't find the code for `_nativeGetRemotePeer` under that path `sdk/bin/sync_socket.cc` though!

[2022-02-27 02:38] a-siva commented on #48456
see `sdk/sdk/lib/_internal/vm/bin)/sync_socket_patch.dart`

It will have this code which links the Dart method to the corresponding native implementation

[code]
You should look for the method `SynchronousSocket_GetRemotePeer` in `sdk/bin/sync_socket.cc`

[2022-02-27 06:21] srawlins opened #58666 "Questions on null_check_on_nullable_type_parameter"
I was looking at test cases in order to implement a quick fix for `null_check_on_nullable_type_parameter` but came across some test cases that surprised me.

`Future<T>` / `await p!`:

[code]

This case does not generate a lint report, but I expected it would.

`List<T>` / `[p!]`:

[code]

This case also does not generate a lint report, but I expected it would.

`Stream<T>` / `yield p!`:

[code]

[2022-02-27 16:05] bwilkerson commented on #48476
@pq

[2022-02-27 18:44] ahmadSaeedGoda commented on #48456
Simply there is no `C` files at all inside the SDK folders. @a-siva

[2022-02-28 06:03] nathantew14 commented on #42054
@preetshah21699 did you find a solution for this? I'm having the same problem.

[2022-02-28 06:35] AldrinMathew opened #48483 "`Number Theoretic Transform` yielding different results compared to Javascript"
- Dart SDK version: 2.16.1 (stable) (Tue Feb 8 12:02:33 2022 +0100) on "linux_x64"
- Linux

The same implementation of `Number Theoretic Transform` is yielding different results in Dart compared to Javascript for the same input.
I have created a repository containing implementations in both languages [here](https://github.com/AldrinMathew/dart-js-ntt)

All functions in the scripts have been tested

[2022-02-28 07:12] rakudrama commented on #48483
Have you identified where the intermediate values diverge? What is the first intermediate result that is different?

One thing that stands out to me is that both programs use `%`.
[`a % b` in JavaScript](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Remainder) is 'remainder' and corresponds to [`a.remainder(b)` in Dart](https://api.dart.dev/stable/2.14.3/dart-core/num

[2022-02-28 07:52] AldrinMathew commented on #48483
@rakudrama
That's it!! The `%` operator is only used in integer bitwidth conversion functions like `int16` and `int32`, and those were all tested independently with inputs from `0` to `1000000`, so that was the problem.
Thanks a lot. I spend 3 days writing tests around 2K loc to test all functions and classes in the package. The entire package was complete days ago, but couldn't publish it without

[2022-02-28 07:52] #48483 closed

[2022-02-28 13:03] askeksa-google commented on #46740
Turned Timeout again in https://dart-ci.appspot.com/log/vm-kernel-linux-release-simarm64/dartk-linux-release-simarm64/13497/vm/dart_2/isolates/fast_object_copy_test/4

[2022-02-28 13:32] nt4f04uNd opened #58667 "invariant_booleans false positive - decrement"
[code]

Changing `i--;` to `i -= 1;` removes false positive

[2022-02-28 15:24] #48472 closed

[2022-02-28 17:02] srawlins commented on #48376
Looks like a duplicate of https://github.com/dart-lang/sdk/issues/23067.

[2022-02-28 17:04] srawlins commented on #48393
CC @scheglov who has fixed some kIsWeb bugs recently.

[2022-02-28 17:05] srawlins commented on #48395
I'll close this in favor of https://github.com/dart-lang/language/issues/1536.

[2022-02-28 17:05] #48395 closed

[2022-02-28 17:31] srawlins commented on #45302
Sorry, it looks like you were having issues running the migration tool multiple times, which changes the language version as part of its changes. `required` cannot be added before null safety, and was, as you saw, necessary, when using null safety. I think everything here was working as intended.

[2022-02-28 17:31] #45302 closed

[2022-02-28 17:32] srawlins commented on #48398
CC @stereotype441

[2022-02-28 19:47] mkustermann commented on #48473
Maybe to clarify, here's the test diff I used
[code]

[2022-02-28 20:55] woody77 commented on #48413
I've opened https://github.com/jacereda/fsatrace/issues/42

[2022-02-28 21:12] #48393 closed

[2022-02-28 21:48] a-siva commented on #39106
Any progress updates on this ?

[2022-02-28 22:01] jakemac53 opened #48485 "Macros can't create unnamed constructors"
I am working on integrating the data class example in the language repo with the actual CFE, and I ran into an issue when it tries to generate a constructor, I get the following:

[code]

It looks like the patch mechanism being used to apply the augmentations doesn't allow patching of synthetic constructors.

Can we delay creation of the synthetic constructors until after macros are applied?

[2022-02-28 22:53] sigmundch opened #48486 "HHH bots failure: No module named 'httplib2'"
We are noticing that the HHH bots are failing with an error of a missing python module. Not sure what the root cause is, but it appears like possibly an infrastructure issue?

Sample run https://ci.chromium.org/ui/p/dart/builders/ci.sandbox/flutter-engine-linux-web_tests/4974/overview
and logs: https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket/8820961975918964577/+/u/3xHEAD_Flutter_Ho

[2022-02-28 22:53] sigmundch commented on #48486
/cc @athomas @whesse

[2022-03-01 01:41] srawlins commented on #48413
I have a fix out for review, https://dart-review.googlesource.com/c/sdk/+/234660.

[2022-03-01 02:05] srawlins commented on #48359
Yes thats what I was thinking. That is also used for `CompileTimeErrorCode.EXTRA_POSITIONAL_ARGUMENTS`.

[2022-03-01 03:05] Merrit opened #58668 "Reasoning for: prefer_for_elements_to_map_fromIterable"
[prefer_for_elements_to_map_fromIterable](https://github.com/dart-lang/linter/blob/658f497eef358e989e3c41d60bfcc30bfaea217b/lib/src/rules/prefer_for_elements_to_map_fromIterable.dart) says not to use Map.fromIterable:

No reasoning is provided.

It seems this lint would prefer me to do something like:

[code]

Instead of something like this:

[code]

The `fromIterable` option seems to me easier to

[2022-03-01 05:47] leafpetersen opened #48487 "CFE crash on enhanced enums when flag is not enabled"
The following example causes a crash in the CFE if the enhanced-enums flag is not set (the code should be rejected, but preferably not with a crash).

[code]

[2022-03-01 06:48] a-siva commented on #48456
This CL [https://dart-review.googlesource.com/c/sdk/+/234662](https://dart-review.googlesource.com/c/sdk/+/234662) should fix the type error mismatch that is currently showing up.
It looks like an error is happening and the native method is throwing an exception. It should be possible to figure out the actual error with the above change.

Do you have a mechanism for building the VM and trying your

[2022-03-01 07:32] mraleph opened #48488 "Dart_NewWeakPersistentHandle and similar can unexpectedly trigger GC"
(Reported by @linzj)

Flutter engine contains the following code:

[code]

On the surface this code looks safe, but is actually broken in a subtle way (/cc @dnfield @chinmaygarde).

The problem is the following: `tonic::Float64List&` eagerly acquires an internal pointer to the typed data. This implies that nothing inside `transform` should cause GC. However the following path exists: `CanvasPath::

[2022-03-01 07:38] mraleph commented on #48488
We should also probably enable no-safepoint-depth asserts in release mode to catch this sort of bugs in the future.

[2022-03-01 08:08] johnniwinther commented on #48485
I'll look into it.

Is it correct that we don't support constructor augmentation? From the proposed grammar changes it doesn't look like you can use the `augment` modifier on constructor declarations.

[2022-03-01 08:23] athomas commented on #48486
https://dart-review.googlesource.com/c/sdk/+/234721 should fix this.

[2022-03-01 08:56] #48304 closed

[2022-03-01 09:01] athomas commented on #48486
Needs another fix: https://dart-review.googlesource.com/c/recipes/+/234643

[2022-03-01 09:40] #48486 closed

[2022-03-01 10:05] fzyzcjy opened #58669 "`invariant_booleans` does not consider field that changes over time"
Simplified example:

[code]

[2022-03-01 10:26] whesse opened #48489 "Flaky failures on dartdev/test/commands/create_integration_test"
The tests
[code]
are failing on configurations
[code]

[2022-03-01 10:54] eggfly opened #48490 "Is it possible to use signal handler to detect stack overflow and remove aot compiler's "CheckStackOverflow" instructions, just like Android ART VM?"
As title, Android ART VM's aot compiler use a signal handler chain to detect Java's StackOverflowException and NullPointerException:

NullPointerException is this commit:
* https://android.googlesource.com/platform/art/+/b373e09

I think with this, we can reduce the instructions binary size after `gen_snapshot` and also may speed up the runtime performance.

@mraleph How do you think?

Recently I

[2022-03-01 11:26] mraleph commented on #48490
It's is possible, though you can't completely remove all them because they are used for more than just overflow checking - they also serve as a safepointing mechanism, so 1.5% saving is an overestimation.

@mkustermann has previously (long ago) done this experiment - see https://codereview.chromium.org/2334243002/, we did not go forward with this implementation because we were worried about embedd

[2022-03-01 11:26] #48490 closed

[2022-03-01 11:44] eggfly commented on #48490
I see, thank you! @mraleph  😄

[2022-03-01 12:22] Pr47h4m commented on #47503
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/56750378/156168294-6d72daba-7522-4c97-96aa-a978e7f8532c.png">

[2022-03-01 12:39] rshillington commented on #33698
Thank you!

[2022-03-01 12:55] mkustermann commented on #48488
As an additional note, the automatic tonic binding layer has a structural problem.

Tonic will auto-convert all arguments from `Dart_NativeArguments` from the native call into the corresponding `C++` methods arguments (in this particular case e.g. via a `tonic::Float64List` wrapper which uses `Dart_TypedDataAcquireData`).

In addition to the assumption that no GC can happen (as pointed out by @mra

[2022-03-01 15:03] dnfield commented on #48488
Does this issue still exist with @cskau-g 's patch for use ff

[2022-03-01 15:37] Miiite opened #48491 "flutter build web crashed"
Hello,

I am working on a pretty large mobile app project that might need migration to the web.
So as a starting point I just added the web platform to my flutter project, and then tried to build it using `flutter build web`.

This is what I got as the output:

[code]

My environment is the following:

MacOS Monterey 12.1 (21C52)
MacBook M1 pro (2021)

[code]

[2022-03-01 15:43] #48485 closed

[2022-03-01 15:57] jakemac53 commented on #48485
We do support augmenting constructors, https://github.com/dart-lang/language/blob/master/working/augmentation-libraries/feature-specification.md#augmenting-constructors.

Please file issues if we need to update the grammar etc :).

[2022-03-01 16:21] sigmundch commented on #48491
@Miiite thank you so much for your report.

It is very likely that this is the same issue as https://github.com/dart-lang/sdk/issues/47916, so I'll tentatively close this issue as a duplicate of the other.

Some details worth highlighting from the other bug:
* @rakudrama added some extra diagnostics to help include in the error message which method was being compiled when this invariant was broken

[2022-03-01 16:21] #48491 closed

[2022-03-01 16:25] itsjustkevin commented on #48272
Could you take a look at this breaking change request @grouma and @Hixie?

[2022-03-01 16:32] IndieRobert commented on #48460
@eernstg wait, this is a mistake. You need to call on some other opinions eernstg imo you don't know what you are doing here. This is way too ugly. The intent of the case that doesn't parse is the one that will statistically always pop up, 1.000.000x more than a true actual mistake from the dev who is writing h ? [0] : 0

You can parse it, so parse it; as right now this is 3rd zone quality. You go

[2022-03-01 17:02] aam commented on #48489
cc @bkonyi

[2022-03-01 17:17] grouma commented on #48272
I believe this will impact a number of packages. cc @natebosch

Off the top of my head, we rely on this file in `package:dwds` (cc @annagrin) and `package:coverage` (cc @liamappelbe).

[2022-03-01 17:29] Miiite commented on #48491
Thank you @sigmundch for the lightning fast reponse.
Unfortunately the issue does not seem related, as I'm still facing it even after upgrading my flutter installation to the beta channel, and therefore using dart 2.16.1.

[code]

[2022-03-01 17:48] a-siva commented on #48488
We should also add CHECK_CALLBACK_STATE to all the Dart API functions that adjust the external size

[2022-03-01 17:51] sigmundch commented on #48491
Thank you so much for checking. Sorry for the confusion on my part. I saw that our change (https://github.com/dart-lang/sdk/commit/b053f2c355cb0a186aabf09e8cf603557e99f535) made it to the Dart beta channel and I didn't double check whether it was in the Flutter beta channel. It appears that it is not there yet (at least based on the version printed by `flutter doctor` above). So the extra diagnost

[2022-03-01 21:44] brianquinlan commented on #42771
OK, I just discovered this issue independently. It looks like `renegotiate` [never did anything](https://github.com/dart-lang/sdk/blame/main/runtime/bin/secure_socket_filter.cc#L665)

I will deprecate it and update the docs.

[2022-03-01 21:49] ballyFalilou13 opened #48492 "Customer-reported issue with NNBD migration tool"
#### Steps to reproduce

#### What did you expect to happen?

#### What actually happened?

_Screenshots are appreciated_

**Dart SDK version**: 2.15.0-208.0.dev

Thanks for filing!

[2022-03-01 21:54] #48492 closed

[2022-03-01 21:55] lrhn commented on #48376
Indeed.

[2022-03-01 21:55] #48376 closed

[2022-03-01 23:34] kascote commented on #42790
@lrhn I agree with your comment, but I have another use case,

`print` write directly to fd's `stdout` which sounds ok (1) but automatically add a new line later and do not give an option to disable it.
`stdout.write` wrap fd's `stdout` in a stream, with an encoder and open the fd as a file. (2)

On my particular use case, the problem that `stdout` generates (with all the wrapping), is that it don

[2022-03-02 01:34] bkonyi commented on #43192
Since the VM service polling logic was only added due to a bug in Fuchsia that is assumed to be fixed at this point, I'm just going to remove the polling logic in the VM service server.

[2022-03-02 01:34] #43192 closed

[2022-03-02 06:39] johnchen902 opened #48493 "Callbacks of future.then is called immediately without using unsafe API"
As far as I know, it is promised that the callbacks of completed futures are always called in later microtasks, as long as _unsafe_ APIs (such as Completer.sync or SynchronousStreamController) are not involved.

Consider the following snippet using `Future.sync`, which is _not_ documented to be unsafe:

[code]

* Expected behavior: `true 2` should appear before `true 1` and `false 2` should appear

[2022-03-02 07:37] cnmade opened #48494 "dart lang math not right , 7*1.15 = 8.049999999999999?"
I confirm this on MacOS and even on DartPad

and i also tried the calc under cli

[code]

[2022-03-02 07:41] cnmade commented on #48494
I tried golang, look good

[code]

[2022-03-02 08:17] mraleph commented on #48494
That's how floating point numbers work. Please read something like: https://floating-point-gui.de/

The difference between Go and Dart is just the choice of how to format the same number.

If you want precise decimal computations don't use floating point numbers.

[2022-03-02 08:17] #48494 closed

[2022-03-02 08:24] mraleph opened #48495 "Compile size warnings are misleading"
We should revisit both compile size warnings and the heuristics that rely on "token size" limits - in reality they rely on the source size including the comments and other constructs (like nested functions) which don't directly contribute to the size of the IL.

These warnings are starting to pop up in the wild and [are confusing Flutter developers](https://twitter.com/gaetschwartz/status/14989312

[2022-03-02 08:24] mraleph commented on #48495
@alexmarkov could you drive this, given that you added the initial warning?

[2022-03-02 08:24] mraleph commented on #48495
/cc @mit for visibility

[2022-03-02 08:36] a14n commented on #48494
Shameless plug : you can use the [decimal](https://pub.dev/packages/decimal) package.

[2022-03-02 08:41] cnmade commented on #48494
problem, how to parse a math expression to decimal ,   my input was
[code]

I search for a while, but does not find a library really can handle this expression parse well.

that's a big problem.

[2022-03-02 08:57] cnmade commented on #48494
The real world problem is : we often got a input math expression string.

How can we easy deal with it. and calc the right result (as double)

for example :
[code]

we need parse it. and convert right calc and got result.

what's a real and good practice to deal with it .

[2022-03-02 09:06] cnmade commented on #48494
@mraleph thanks, i already use it

[2022-03-02 09:11] Miiite commented on #48491
Oh you're right, I should have tested the `master` channel also.
I do get rid of the compilator error, and get more analysis hints, when on the `master` channel. Thank you for the feedback !

[2022-03-02 09:26] Sominemo commented on #36551
This functionally would be really useful for transparent HTTP proxies. Right now to accomplish this kind of trick, you need to work with dart:Io on low level to be able to intercept the Host header, so it makes developers reimplementing built in methods like HttpClient.post.

[2022-03-02 09:45] lrhn commented on #48496
Giving a warning sounds like a job for the analyzer.

If it doesn't already give a warning for `a! is int`, which it would if `a` is already non-nullable, it might want to consider the pattern as something that can be warned against in general.

(I don't see any good reason to do `!` before `is`. Usually the `is` promotes, and then you don't need the `!`. Even if not, it seems spurious to have a `

[2022-03-02 10:17] Miiite commented on #48491
While I do get more precise errors, it does not seem very usable atm.

Here is what I end up with:

Here are my logs:

[code]

So the compiler does not like the `Failure` class declaration which is this:

[code]

This is some code automatically generated by the `freezed` package.
Would you have any idea why this particular piece of code is crashing the compiler ?

[2022-03-02 10:34] Dampfwalze commented on #47356
I guess you have already found the include directory inside the dart sdk. There you can find `dart_api_dl.h` and `dart_api_dl.c`.
Simply add that include directory to your application and copy the `dart_api_dl.c` file into your projects, so that it gets build into it.

Then you have to call `Dart_InitializeApiDL`. Because you need data supplied in dart, you have to call it from a native function t

[2022-03-02 10:40] Dampfwalze commented on #47356
And while we are at it, why does it only load such a small subset of functions? I would like to be able, to directly build dart objects from C, which should be possible, with the whole set of functions! I think I will open a new Issue for this.

[2022-03-02 10:57] Dampfwalze opened #48497 "Load every api function from c library"
Currently you are able to load a subset of api function with `dart_api_dl.h` and `dart_api_dl.c`, as I described here: https://github.com/dart-lang/sdk/issues/47356
This is already quite useful. I am using it for async calls to a native library. But I find it quite hard, to convert all these complex data structures to dart code, especially, because with `Dart_PostCObject_DL` you can only send quit

[2022-03-02 11:30] #48487 closed

[2022-03-02 11:39] rrousselGit opened #48498 "Allow Isolates to perform actions before they are killed"
I am in a situation where I have an Isolate A that spawns an Isolate B. And I want that when A is killed, B is killed too.

The difficulty is that I have no control over Isolate A. I have its main function, but I am not in charge of spawning or killing A.
As such, the only solution I have in mind is for A to listen to its own exit to gracefully kill B.

My naïve thinking was to do:

[code]

But th

[2022-03-02 12:21] lrhn commented on #48493
When the  `Completer.complete` function is given a `_Future` that has already completed, then it can go through a path that completes its future *synchronously* (ends up calliing `_Future.completeWithValue(....)` which works synchronously).
That's a bug.

I'll make a test, fix it, add maybe some documentation to `_Future` methods, so it's clearer which functions to use in which situation.

[2022-03-02 12:35] mraleph commented on #48498
I think one of the possible approaches here (drawing inspiration from Erlang): we could provide a way to setup a [_link_](https://www.erlang.org/doc/reference_manual/processes.html#links) between isolates. When isolates are linked they listen to each other exit: when one isolate is killed all linked isolates will be similarly killed (by default).

Another option (which does not require any changes

[2022-03-02 12:48] mraleph commented on #48498
Just to illustrate the second idea:

[code]

[2022-03-02 12:57] jellynoone commented on #48498
I also wanted to add, it is already possible to also perform a sort of handshake and send a SendPort from Isolate B to A. Thereby making B own the ReceivePort to A's events.

Example:
[code]

[2022-03-02 14:10] rrousselGit opened #48499 "package:analyzer version >=3.3.0 seems to have issues with version-specific language features"
Related to an issue that was raised in one of my projects: https://github.com/rrousselGit/freezed/issues/611

It seems that with analyzer 3.3.0, it fails to analyze code that is using generic annotations in a codebase that is using Dart >=2.14

This causes the following error:

[code]

when an experimental flag shouldn't be necessary as the pubspec contains

[code]

which has the feature enabled b

[2022-03-02 14:22] mraleph commented on #48497
We don't want to allow this because this implies reflective access to Dart objects - exactly what FFI is designed to avoid.

The appropriate design for the bindings layer is to send C objects to Dart and create Dart objects on the Dart side, not on the C side.

Another approach is to create helper functions in Dart for constructing the objects you need and call these helpers from C.

But the first

[2022-03-02 14:22] #48497 closed

[2022-03-02 14:23] rrousselGit commented on #48499
Actually this may be caused by dart_style – which depends on the analyzer

Although I'm not sure why a new version of the analyzer broke dart_style in such a way

[2022-03-02 15:01] lrhn commented on #48498
I'd listen from isolate B, or from a third isolate.
[code]

If you spawn isolate B, you can probably just wrap the entry-point in something which sets up the listening:
[code]
then you can spawn as:
[code]
and the spawned isolate will be killed when the spawning isolate dies.
Same example as above:
[code]

[2022-03-02 15:19] SunlightBro commented on #48499
Some additional Info
dart_style 2.2.1 uses this [feature set](https://github.com/dart-lang/dart_style/blob/610ef5797764deb269e24653454886047fe6dc56/lib/src/dart_formatter.dart#L90)
[code]
This is probably why source_gen fails.

[2022-03-02 15:54] alexmarkov commented on #48495
The warning message I added in 76167c002d9503bea0e436058bc4fa60424dec8a doesn't change the compiler's behavior. It just shows it to users, as requested in https://github.com/flutter/flutter/issues/94461#issuecomment-1022384484. The actual heuristic for reducing optimizations was there for a long time, probably since Dart 1. The deficiencies of that heuristic were unnoticed until I started printing

[2022-03-02 16:03] Pr47h4m commented on #47503
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/56750378/156399488-fcac491b-42a8-456c-a127-9083c0875165.png">

Please check there are 5-6 dart processes taking approximately 2.5-3GB RAM

[2022-03-02 16:42] alexmarkov commented on #48495
Does it make sense to revert the warning message for now (until we have a better documentation to point and a better heuristic) in order to avoid the confusion?

[2022-03-02 17:24] rrousselGit commented on #48499
Latest/2.2.1.

[2022-03-02 17:40] sigmundch commented on #48491
Thanks for the details! - The issues in the other bug were also caused by code generated by the freezed package, so this confirms my suspicion that it's the same problem.

They initially thought it was related to the use of optional parameters, but your example shows that it is unrelated to that and only related to the indirection from factory constructors. I'll add more details in the other bug.

[2022-03-02 17:43] sigmundch commented on #47916
@rakudrama - looking at the report from @Miiite in https://github.com/dart-lang/sdk/issues/48491, I noticed that the use of optional parameters was not relevant, then I noticed that the use of `super` wasn't either. Here is a smaller repro:

[code]

Any insights so far from the broken assertion?

[2022-03-02 17:46] scheglov commented on #48499
I recommend you to request publishing the new `dart_style` in their repository.

[2022-03-02 18:02] pq opened #58670 "create a template for style discussions"
Following up on a chat w/ @bwilkerson and @srawlins, it'd be nice to have a template (and tags) to host open-ended style discussions.

[2022-03-02 19:22] a-siva commented on #48495
It sounds like you would be fine making it an option if somebody wanted to check their app.

[2022-03-02 19:36] a-siva commented on #47503
@DanTup when somebody is using VS code and developing a Flutter app, what are all the Dart processes that get started in the background. I am assuming one 'analysis server' process, one 'pub' process and one 'flutter tools' process, is any other Dart process started besides these.

[2022-03-02 19:52] DanTup commented on #47503
There are three processes that will be spawned by VS Code at project load that are longed-lived:

- `dart language_server` - the analysis server
- `flutter deamon` - the Flutter device daemon used to detect connected devices
- `dart devtools` - the backend server for serving DevTools

There are other processes that will be spawned, but none that are _expected_ to be long-lived (`pub get`, `dart`/`

[2022-03-02 19:54] DanTup commented on #47503
It may also be worth noting that you'll get the processes noted above for _each VS Code window_. Each VS Code window is an isolated application and they cannot share those processes. Therefore if you open two different VS Code windows with two different Flutter projects, you will get 6 processes (and if those projects reference each other, there will be a lot of duplicated data in memory between t

[2022-03-02 20:12] alexmarkov commented on #48489
This test started failing once again:

[code]

https://dart-ci.appspot.com/log/pkg-mac-release-arm64/unittest-asserts-release-mac-arm64/2463/pkg/dartdev/test/commands/create_integration_test
https://dart-ci.appspot.com/log/pkg-mac-release-arm64/unittest-asserts-release-mac-arm64/2464/pkg/dartdev/test/commands/create_integration_test

[2022-03-02 20:35] Hixie commented on #48272
I have no objection in principle but I would not be surprised if this broke things unexpectedly (e.g. we probably have tests that depend on `.packages` in some way). Hard to determine exactly what will break without trying it though.

[2022-03-02 20:39] Hixie commented on #48495
We could just make it a lint, that's how we usually do these things.

In general I'm in favour of the compiler not warning about anything ever, and only having diagnostics in the analyzer.

[2022-03-02 20:42] dnfield commented on #48495
If it's to be a lint, it would have to somehow also apply to generated code, which people usually make the analyzer ignore.

[2022-03-02 20:42] dnfield commented on #48495
The idea being that generated code is the most common offender here.

[2022-03-02 20:58] Hixie commented on #48495
This would not be the only lint that was valuable for generated code.

[2022-03-02 22:38] fishythefish commented on #48118
`named-captures_test` is also flaky on dartdevk-checked-mac-release-chrome.

[2022-03-02 23:04] Hixie commented on #48495
you can already put analysis_options.yaml files in subdirectories, i believe

[2022-03-02 23:07] pq commented on #48495
@dnfield: we've talked a lot about improving the configurablity of lints (to, for example, disable lints for tests or generated code but enabling would work the same way).   A few lints have test-awareness specifically baked in which is not ideal 😬.  I think some diagnostics get skipped for generated files but I can't recall off-hand.

But anyway, @Hixie is right:

nested options files are a thing

[2022-03-02 23:29] #48489 closed

[2022-03-02 23:44] scheglov commented on #48468
A smaller example for the analyzer is
[code]

[2022-03-03 00:08] stereotype441 opened #48500 "Expression.staticParameterElement sometimes points to a synthetic element"
In the following situations, `Expression.staticParameterElement` points to a synthetic element that's not in the element tree (i.e. it has an `enclosingElement` that is `null`), whereas I believe it would be possible for it to point to a `ParameterMember` that in turn points to a parameter element in the element tree:
- In an instance creation expression, when the class being constructed is generi

[2022-03-03 00:10] stereotype441 commented on #48500
I'm hopeful that this issue will be fixed by a refactor I'm currently in the middle of, so I'm going to assign it to myself for now.  If I can't manage to fix it as part of the refactor I'll unassign myself.

[2022-03-03 01:43] Hixie opened #48501 "IOSink.add throws exceptions that cannot be caught"
How do I catch the exception thrown in the code below?

[code]

For the record the exception I'm talking about is:

[code]

[2022-03-03 08:39] jellynoone opened #48502 "Analyzer doesn't warn when `rethrow` is used in a closure in a catch clause"
Consider the below (contrived) example.

If a closure is used in the catch clause and uses `rethrow`, no analyzer error is presented while the program fails.

What adds to the confusion is that if you use `throw e` instead the linter presents a message to change it to `rethrow`. _(Should this be reported somewhere else?)_

[code]

`Dart SDK version: 2.16.1 (stable) (Tue Feb 8 12:02:33 2022 +0100)

[2022-03-03 09:11] whesse opened #48503 "Flaky timeouts on DataDirectAccess after landing "When there are outstanding typed data pointers, delay external GC.""
The tests
[code]
are timing out (sometimes flakily) on configurations
[code]
after
https://dart-review.googlesource.com/c/sdk/+/234822
was landed.

Results search:
https://dart-ci.firebaseapp.com/#showLatestFailures=false&test=vm/cc/DartAPI_ByteDataDirectAccessVerified
https://dart-ci.firebaseapp.com/#showLatestFailures=false&test=vm/cc/DartAPI_TypedDataViewDirectAccessVerified

[2022-03-03 09:21] SardorbekR commented on #44413
<img width="948" alt="Screen Shot 2022-02-24 at 4 21 14 PM" src="https://user-images.githubusercontent.com/30071369/156534872-1a11480b-b83d-4959-abda-425d499a3a72.png">

[2022-03-03 09:26] rrousselGit commented on #48498
Quite interesting. Thanks for the tips, I didn't think about those solutions.

On that note, the doc of `addOnExitListener` mentions that only one listener can be alive at a time. Does that mean "there can be only one listener across all isolates", or is that "one isolate can listen to the exit of another's isolate only once"?

Because if that's the former, while I don't think the code that spawns

[2022-03-03 09:37] #48498 closed

[2022-03-03 10:01] mtc-jed commented on #46754
@mkustermann, you mention sharing String objects between Isolates of a same group ("allow sharing of objects (program structure, JITed code, constants as well as any String objects - in the future possibly also user-defined data structures)").
How is this done ? Is this only internal to the engine ?

[2022-03-03 10:07] dopecoder commented on #47916
Experiencing the same issue.

[code]

Unable to find a fix for this.

[2022-03-03 10:19] julemand101 opened #48504 "Variable not promoted to Null after null-check"
Tested against the following Dart versions:
[code]

The following program shows some "interesting" behavior when it comes to promote a variable to `Null` when doing a null-check:
[code]
This fails by the analyzer with:
[code]
And when running the program:
[code]

If I uncomment `(string as Null).someMethod();` as:
[code]
The program does no longer have any warning or error from the analyzer and ru

[2022-03-03 10:26] cedvdb commented on #27613
Maybe I misunderstand the non termination bit but why can't there be the compile time equivalent of a stack overflow error ?

[2022-03-03 10:48] eernstg commented on #48504
We do have the following in the [null safety spec](https://github.com/dart-lang/language/blob/master/accepted/2.12/nnbd/feature-specification.md#null-promotion):

I think we've discussed not performing this particular promotion (because of the rather low value of having an expression of type `Null`), but I can't find any evidence that we shouldn't promote.

@scheglov, @johnniwinther, WDYT?

[2022-03-03 10:50] lrhn commented on #27613
Now, coming back to this *issue*, we may actually want to reconsider having a `const` constructor on `RegExp`.

It would be a different one from the eager constructor which checks the RegExp syntax up-front, say `const RegExp.lazy`, and it would just forward to a helper class like https://dartpad.dartlang.org/3135557b3d3f6d000e6f9163709f6817.

The reason to want that is that a `const` invocation o

[2022-03-03 11:19] johnniwinther commented on #48504
I can recall some late changes to how we handle `null` in the promotion (something to do with unsound mode) but can't recall the details. @stereotype441 might remember more since he did most of the implementation.

[2022-03-03 11:24] mkustermann commented on #46754
When sending messages (e.g. via `SendPort.send(<message>)`) to other isolates that were spawned using `Isolate.spawn()` (or higher-level wrappers, e.g. flutter's `compute()` function) the `<message>` graph is transitively copied, but certain objects in there are not copied but shared, that includes `String` objects.

That means if you e.g. spawn an isolate, which loads data from the internet and d

[2022-03-03 12:12] mtc-jed commented on #46754
Ah ok, here I thought there was a way to access shared memory freely, I misunderstood.
Is there any plans of adding a way for pointers to any object to be transmissible ? This would be highly useful when downloading big json payloads (thousands of objects).

[2022-03-03 13:31] lrhn commented on #48502
The specification is actually not very precise here. It says:
[code]

We have so far interpreted that to mean *inside the same function*. That's not a given.
We could allow the code above to work (it'd capture the caught error and stack in the closure, and rethrow them when called, even if the closure escapes the `catch` clause.)

The spec also says about the `rethrow`:
[code]
and then goes on to

[2022-03-03 13:34] mraleph commented on #48321
@dcharkes @mkustermann I think we need to fix this API, because it makes it somewhat complicated to use. As a temporary work-around we could expose Dart_CurrentIsolateGroup through the DL API - but maybe we should change shutdown process in a way that deleting handles becomes safe - so that users would not need to include checks in their own code. WDYT?

[2022-03-03 13:35] lrhn commented on #48501
The `add` goes through a `StreamController` which sends the data as an event. The error is triggered at the point where that data event is received, which is in another event, so it can't throw the error back.

I don't know how much of this is intentional, and what is just an accident of implementation.
Leaving it for a `dart:io` developer to look at.

[2022-03-03 13:45] dharanidharandharmasivam opened #48505 "String concatenation issue with Arabic culture"
Facing the string concatenation issue with Arabic words and so facing issue while rendering the text in my application. I have the below values,

[code]

While concatenating these like `'$x : $arab'`, facing the issue i.e this symbol `م ` needs to be nearer to 79.7 before the colon, but it after the colon.

Expected output:

![image](https://user-images.githubusercontent.com/19346074/156512279-790

[2022-03-03 14:05] jonasfj opened #48506 "Support env vars SSL_CERT_FILE and SSL_CERT_DIR on linux"
As of https://github.com/dart-lang/sdk/commit/139db22be5f515b49270f6eae80ff7ecbfab1620 the Dart SDK certificate store being specified by `--root-certs-file=` and `--root-certs-cache=`. But this is not very convenient, perhaps we should consider supporting:
 * `$SSL_CERT_FILE`
 * `$SSL_CERT_DIR` (may contain multiple directories separated `:`)

Like [golang/src/crypto/x509/root_unix.go](https://git

[2022-03-03 14:20] stereotype441 commented on #48504
I don't recall whether there was a deliberate decision at the time we implemented it, but sometime later, we did consider adding this functionality, in response to https://github.com/dart-lang/language/issues/1505.  I did some analysis back in November, and IMHO, enough code would be broken by the change that it's not worth it (you can see my analysis here: https://github.com/dart-lang/language/is

[2022-03-03 14:20] #48504 closed

[2022-03-03 14:38] nielsenko commented on #48321
We would really appreciate that, even if it is just exposing `Dart_CurrentIsolateGroup` in the DL API.

Right now we are using an ugly hack that is based on the fact that `Dart_WeakPersistentHandle` is equivalent to `Dart_FinalizableHandle`, since they are both `FinalizablePersistentHandle` internally, and hence we can get a way with:
[code]
Obviously we would like to avoid that.

[2022-03-03 14:39] mkustermann commented on #48321
The concept of an isolate group doesn't exist on its own. It is created internally with the first isolate and deleted internally when the last isolate dies. So I don't think exposing it through the API is a very good idea.

My suggestion would be to perform finalization of persistent/weak-persistent handles with a valid isolate group, before triggering the isolate group shutdown itself. e.g. right

[2022-03-03 14:54] kascote opened #48507 "stdout do not honor termcap settings when print characters to the console"
I'm working with a library that setup the terminal colors using termcap definitions, but this setup is not honored when `stdout` print characters to the console.

example code:
[code]
if I change `stdout.write` with `print` all works ok, but `print` add always a new line :( .

I was looking around and `print` is printing directly to the FD (1), but `stdout` is wrapped with an stream, encoder (2) a

[2022-03-03 15:08] mkustermann commented on #46754
We do have some limited support using `Isolate.exit()` it avoids a transitive copy by exiting the current isolate and giving the message to the receiver isolate by-pointer. Though it still performs a possibly O(n) verification pass on the sender side.

There have been some talks about allowing general shared (mutable) memory (as e.g. Java) - though we have no concrete plans atm to introduce that.

[2022-03-03 15:27] mit-mit commented on #46754
@mtc-jed I'd love if you could try the `Isolate.exit()` approach Martin mentions, and then give us your feedback on whether that worked or not. As Martin details, the verification pass is on the sender side, so that should not cause any slowdown of your UI on the main isolate.

[2022-03-03 15:57] jorgecoca opened #58671 "proposal: `avoid_visible_for_testing_annotation` as a new lint rule"
## avoid_visible_for_testing_annotation

As a developer, I'd like to have the option of flagging the usage of the annotation [visibleForTesting](https://api.flutter.dev/flutter/meta/visibleForTesting-constant.html) in projects in which I think its presence is not recommended.

## Description

Dart uses the annotation [visibleForTesting](https://api.flutter.dev/flutter/meta/visibleForTesting-consta

[2022-03-03 16:59] pq opened #58672 "move logic shared between assist computation and linting into analyzer for shared use"
Tracking for work to move duplication in server and linter into shared utilities in analyzer.

[2022-03-03 17:34] scheglov opened #58673 "_TypeError: type 'Null' is not a subtype of type 'Expression' of 'value'"
[code]

[2022-03-03 17:53] alexmarkov commented on #44215
This bug has been causing multiple problems, so we should probably bump its priority. Tentatively assigning P1.

/cc @a-siva @mraleph

[2022-03-03 17:59] lrhn commented on #48505
The string concatenation is defined in terms of concatenation of sequences of UTF-16 code units, it's completely oblivious to what those code units mean.
The resulting string is always going to be `"79.7\u0645 : \u0646\u062d\u0646"`

The Dart compiler and runtime are not doing the rendering. In DartPad, that string is being rendered by the browser, so it works exactly as if you had written the sam

[2022-03-03 18:07] jellynoone commented on #48501
Greetings, @Hixie. If you call `process.stdin.flush()` and await the future, you can catch the expected error.

[code]

[2022-03-03 18:10] a-siva commented on #48506
//cc @brianquinlan

[2022-03-03 18:23] polina-c commented on #48314
CC @leafpetersen

[2022-03-03 19:23] #48447 closed

[2022-03-03 19:38] sym233 opened #48508 "dart debugger hang in launching on vscode"
Reproduce:
- create new dart project by `dart create projectname`
- open it on vscode and hit F5 to start debugger

Then the debugger is launching forever.

![launching](https://user-images.githubusercontent.com/10321547/156638714-561659b4-7990-43a3-b7ab-c2ba073b2196.png)

If stop debugger, it prompt timeout.
![timeout](https://user-images.githubusercontent.com/10321547/156638866-8631dca1-f29e-439

[2022-03-03 19:52] scheglov commented on #48468
https://dart-review.googlesource.com/c/sdk/+/235167

[2022-03-03 20:12] scheglov commented on #48502
https://dart-review.googlesource.com/c/sdk/+/235170

[2022-03-03 20:18] mkustermann commented on #48321
/cc @aam Interested in looking at this?

[2022-03-03 20:19] gmpassos commented on #46754
Not an `Isolate` solution, but still a shared pointer solution for the Dart VM:

I needed to implement something similar and one way was through `dart:ffi`.

Take a look at:
https://github.com/eneural-net/async_task/blob/master/lib/src/async_task_shared_pointer.dart#L266

Note that the shared pointer (and related memory segment) won't have any concurrency control (no MUTEX). So it only works for s

[2022-03-03 20:34] stereotype441 commented on #48314
Unfortunately I think that feature only exists in the google3 version of the tool ☹️

[2022-03-03 20:35] #48438 closed

[2022-03-03 20:37] #48468 closed

[2022-03-03 21:13] stereotype441 opened #48509 "Analyzer is too strict in type checking extension override bounds"
Consider the following code:

file `a.dart` (null safe):
[code]

file `b.dart` (legacy):
[code]

The VM runs this program without complaint.  The analyzer complains:
[code]

I believe the VM's behavior is correct.  Even though the bound on `X` is non-nullable `int`, the nullability should be erased when viewed from the context of legacy library `b.dart`, so the invocation `E<Null>.m()` should be v

[2022-03-03 21:51] #48502 closed

[2022-03-03 22:33] #45193 closed

[2022-03-03 23:10] a-siva opened #48510 "Failures on [cfe] Handle enum super initializer with super-parameters enabled"
There are new test failures on [[cfe] Handle enum super initializer with super-parameters enabled](https://github.com/dart-lang/sdk/commit/005ebcc761702223b6189ce1aa872564d1b6aa24).

The tests
[code]
are failing on configurations
[code]

[2022-03-03 23:12] polina-c opened #58674 "New lint to make parameters/variables/fields non-nullable if ! is used unconditionally for them."
For example, for the code

[code]

the lint would suggest:

[code]

[2022-03-03 23:21] polina-c opened #58675 "Convert nullable state fields to late or late final, if the fields are initialized in initState."
For example, for the code
[code]

The lint would suggest:
[code]

(we should not do it for fields that are assigned to null in `dispose`)

[2022-03-03 23:56] munificent commented on #48499
I've published 2.2.2 which should have the fixes in.

[2022-03-04 00:56] natebosch commented on #48272
I would have thought we'd migrated to `.dart_tool/package_config.json`, but surprisingly we haven't...

https://github.com/dart-lang/webdev/blob/9cfdbdd7c44363cf20ebb75ec3bb2ae331a7049f/dwds/lib/src/utilities/dart_uri.dart#L160

[2022-03-04 01:58] srujzs commented on #48430
I'm not sure the class `WorkerPerformance` exists anymore - I can't seem to find any reference to it in the MDN docs or w3, and the types don't exist in the global scopes of Chrome and Firefox.

The rest should be easy to do, however. Note that with outdated/incorrect APIs, there's a workaround doc using interop we encourage people to use (especially if the bug is complicated to fix): https://gith

[2022-03-04 03:29] #48321 closed

[2022-03-04 07:44] mtc-jed commented on #46754
@gmpassos Very cool, however this only works with a list of bytes. I am not aware of any way in Dart of casting any random user-defined object to its bytes.

[2022-03-04 07:48] mtc-jed commented on #46754
@mit-mit Running tests in 2.16.1, I get a linearly growning delay between the call to `Isolate.exit()` and the running of a `print()` in the calling Isolate. This seems in line with the behaviour described by @mkustermann.
I will probably use the `Isolate.exit()` method for my particular use case (one-time download of a bunch of data, in order for the app to be able function without an internet co

[2022-03-04 07:49] gmpassos commented on #46754
You can use:

https://pub.dev/packages/data_serializer

And make your object implement:

https://pub.dev/documentation/data_serializer/latest/data_serializer/Writable-class.html

[2022-03-04 07:54] snitxmhm commented on #41560
Hello, is there any progress? `.dart` is still in my $HOME. I have defined `$XDG_CONFIG_HOME` before. And it's a fresh install for dart. When i execute `dart pub`, `.dart`  appears in my home.
[code]

[2022-03-04 07:58] mtc-jed commented on #46754
@gmpassos This would mean I still have to deserialize my data in the main Isolate, which is exactly the cost I'm trying to avoid.

[2022-03-04 08:02] gmpassos commented on #46754
Yes I agree. To have the original allocated memory delegated from one Isolate to another the only way now is with 'Isolate.exit'

[2022-03-04 09:12] mraleph commented on #46754
It's a language level design decision - allowing to pass arbitrary objects around creates shared memory with all associated issues and pitfalls. So a simpler programming model is gained by outlawing shared memory.

That being said I suggest to move discussions about shared memory into other channels - it is offtopic here.

If you want to outline specific issues you are facing, there is https://git

[2022-03-04 09:14] mkustermann commented on #46754
Maybe this issue isn't the right place for this discussion. Could I ask you to open new issues for feature requests / bug reports?

**Regarding `dart:ffi`**

Yes it's the escape from the sound and safe world. It allows unsafe access to shared writable C memory from multiple isolates.

Using `dart:ffi` it is also possible to call into `C` for auxiliary things (e.g. acquire/release locks, release/ac

[2022-03-04 10:29] dharanidharandharmasivam commented on #48505
@lrhn , Thanks for your suggestion, but I have tried your suggestions, yet facing the same issue. I have ensured in the several machines but facing the same.

![image](https://user-images.githubusercontent.com/19346074/156745684-38bcd02a-3763-4f94-ab0c-80419681279f.png)

And as per your suggestion, this is a rendering issue in the browser, but while running this with Flutter mobile devices, window

[2022-03-04 10:31] gmpassos commented on #46754
Can be a little bit out of topic. Bu actually we are talking about shared memory as an alternative of the issues of how to send large amount of data or complex objects between Isolates. Actually we don't want to use shared memory, we prefer an elegant and native approach. The idea here is just to show how we are bypassing the performance issue, so the awesome job done with Isolate groups achieve i

[2022-03-04 10:38] eernstg commented on #48502
Agreed, that spec section should be clarified; it's one of those sections that we haven't updated for a long, long time. Cf. https://github.com/dart-lang/language/pull/2139.

[2022-03-04 10:43] jellynoone commented on #48501
From the looks of it the error is reported to the `Completer.future` in [io_sink.dart](https://github.com/dart-lang/sdk/blob/c97736d594d9038d2f590ff2a71b26f14c54024e/sdk/lib/io/io_sink.dart#L207) in `_StreamSinkImpl._completeDoneError`.

So, to improve the error message we'd have to decorate the method in the actual `_IOSinkImpl` and wrap the error. But is it really worth it? The initial stacktrac

[2022-03-04 12:37] lrhn commented on #48505
Ak, my bad. It's `\u200E`, not `\u2005`, which is the LTR marker. I fixed the original too.

(Because, obviously, `E` is the fifth letter, so my mind transcribed that for me automatically when I copied my test example from JavaScript to Dart. Thanks mind!)

[2022-03-04 17:49] modulovalue opened #58676 "[type_annotate_public_apis] false positive"
Consider the following example:

[code]

`Bar.i` violates `type_annotate_public_apis`.

It seems to me that this is a false positive because the type of `Bar.i` is `int?` i.e. it doesn't violate `type_annotate_public_apis ` so the linter should emit no warning for it.

_(Either that, or `final i = 1;` should also emit a warning?)._

[2022-03-04 18:17] natebosch opened #48511 "Spurious void_checks diagnostic when throwing from a function with FutureOr<void> return type"
There is a void_checks diagnostic when passing a lambda that throws to an argument with a `FutureOr<void>` return type.

[code]

This doesn't doesn't surface if in other similar situations, such as a `void` return, `Future<void>` return, or defining the method directly instead of a lambda.

[code]

[code]

[code]

[2022-03-04 18:17] natebosch opened #58677 "Spurious void_checks diagnostic when throwing from a function with FutureOr<void> return type"
There is a void_checks diagnostic when passing a lambda that throws to an argument with a `FutureOr<void>` return type.

[code]

This doesn't doesn't surface if in other similar situations, such as a `void` return, `Future<void>` return, or defining the method directly instead of a lambda.

[code]

[code]

[code]

[2022-03-04 18:24] scheglov commented on #48509
https://dart-review.googlesource.com/c/sdk/+/235420

[2022-03-04 18:26] scheglov commented on #48511
This is a lint, probably better to open an issue in https://github.com/dart-lang/linter instead.

[2022-03-04 18:26] #48499 closed

[2022-03-04 18:33] bwilkerson commented on #48511
I'll transfer it.

[2022-03-04 18:37] jamesderlin commented on #39947
At a minimum, can we at least *document* the APIs declared to return `List<int>` but that actually return `Uint8List` objects so that there's an implicit guarantee of behavior?

[2022-03-04 19:43] #48509 closed

[2022-03-04 19:49] srujzs commented on #48469
It's unclear what can be done on the `dart:html` side here. These methods route to their native definitions (`querySelector`, `getContext`, and both definitions of `canvas`), so if there's unexpected behavior, it's likely coming from the browser afaict. Do you have a complete repro we can try out?

If `canvas` is returning `null` in a legitimate usage, though, I think this warrants a breaking chan

[2022-03-04 20:12] #58677 closed

[2022-03-04 22:37] denniskaselow commented on #48469
Okay, I tried to narrow down whats happening and it's a bit more weird than I thought.

*index.html*
[code]

*main.dart*
[code]

The only strange result is `webgl2ctx.canvas`. The method signature in Dart does not return a `CanvasElement` but a `Canvas?`: https://github.com/dart-lang/sdk/blob/6f4f2f5f129500a3671a4af78463b5b34df3c478/sdk/lib/web_gl/dart2js/web_gl_dart2js.dart#L1367

This is the `Ca

[2022-03-05 01:40] bsutton opened #48512 "dart cli tool return 0 exit code on failure"
I'm using dart 2.16.1 to generate dart documenation via a script.

My problem is that dart doc doesn't appear to reliably return exit codes making it hard to determine if a script ran to completion.

for instance running:

[code]
returns an exit code of 0.

If I pass an invalid package input path it also returns zero.

[code]
I should note that the above error is also sperious as 'dartdev' is not

[2022-03-05 02:01] brianquinlan opened #48513 "Add a new `allowLegacyUnsafeRenegotiation` property to `SecurityContext`"
# Change

I propose that we add a new boolean `allowLegacyUnsafeRenegotiation` property to `SecurityContext`.

If set, it would allow client sockets to renegotiate TLS connections if requested to by the server (see https://github.com/dart-lang/sdk/issues/47841).

#  Rationale

The `SecurityContext` API  is already property based and implementing this as a constructor argument would be inconsistent

[2022-03-05 02:05] kefasjw opened #48514 "Closure autocompletion does not work on non-first named parameters"
## Steps to reproduce

1. Copy this code
[code]
2. Trigger auto completion

## Actual Result

No closure suggestion

![image](https://user-images.githubusercontent.com/11681703/156863306-1d93bbeb-b6b6-48f7-9f4b-67eac93b4d44.png)

## Expected Result

Suggest closure autocompletion like on the first parameter

![image](https://user-images.githubusercontent.com/11681703/156863340-d23b36c1-15a0-4d1d-9

[2022-03-05 10:06] simolus3 opened #48515 "Compiler crash for operators on `@JS` external methods"
My Dart version is `Dart SDK version: 2.16.1 (stable) (Tue Feb 8 12:02:33 2022 +0100) on "linux_x64"`, which crashes when compiling the following program.

[code]

I know this is a bit hacky and probably not supposed to work, but still there could be a better error message than a crash. The crash when compiling it with `dart compile js` is:

[code]

[2022-03-05 14:37] wonderkidshihab commented on #42530
any solution to this problem yet? I am getting this error while installing serverpod.

Unhandled exception:
ProcessException: The system cannot find the file specified.

  Command: which dart
#0      _ProcessImpl._start (dart:io-patch/process_patch.dart:401:33)
#1      Process.start (dart:io-patch/process_patch.dart:38:20)
#2      _runNonInteractiveProcess (dart:io-patch/process_patch.dart:578:18)

[2022-03-05 19:20] longtimedeveloper commented on #42530
@wonderkidshihab see my solution above. Hope this helps!

[2022-03-05 22:36] #58563 closed

[2022-03-05 23:05] alexrintt opened #58678 "`invariant_booleans` rule showing a false positive on indirect variable change"
**Describe the issue**

This is a false positive where the lint warn about a invalid boolean expression that is not invalid.

[code]

**To Reproduce**

1. [Clone this repository](https://github.com/lakscastro/invariant-booleans-dart-issue) (Reproducible Sample).
2. [Install VS Code](https://code.visualstudio.com/) and [Dart VSCode extension](https://marketplace.visualstudio.com/items?itemName=Dart

[2022-03-05 23:44] #58665 closed

[2022-03-06 09:57] #48462 closed

[2022-03-06 09:57] #48446 closed

[2022-03-06 22:24] jellynoone opened #48516 "New Dart 2.17 `Isolate.run` doesn't close ports properly in an edge case"
`Dart SDK version: 2.17.0-180.0.dev (dev) (Sun Mar 6 02:42:47 2022 -0800) on "macos_x64"`

Consider the following contrived example using the newly added `Isolate.run`:

[code]

Running it by calling `dart run filename.dart` doesn't stop the executable. Which I believe means some ReceivePort isn't closed properly.

Looking at the implementation I think the culprit is the way Isolate is spawned.
ht

[2022-03-06 22:25] horo99 commented on #48516
您发给我的信件已经收到。谢谢！

[2022-03-06 23:27] dnfield commented on #48516
@lrhn fyi

[2022-03-06 23:57] lrhn commented on #48516
Good catch.

If the spawn call sending the function fails, because the function closes over a sendport, then the raw receive port of the `run` method is not closed.
The `onError:` should also close the receive port.

[2022-03-07 11:51] DanTup commented on #48458
This looks like a dupe of #48051. If you have any additional info that might help reproduce this, please post it there. Thanks!

[2022-03-07 11:51] #48458 closed

[2022-03-07 11:51] dopecoder opened #48517 "The compiler crashed: NoSuchMethodError: The getter 'boxedVariables' was called on null."
This tracker is for issues related to:

* dart2js

* Dart SDK Version (`dart --version`)

`Dart SDK build number (2.17.0-165.0.dev)`

* Whether you are using Windows, MacOSX, or Linux (if applicable)

`Mac OS Montery 12.2.1 (21D62)`

* Whether you are using Chrome, Safari, Firefox, Edge (if applicable)

[code]

I upgraded my packages to work with Flutter 2.10 and unable to go back to previous vers

[2022-03-07 11:51] DanTup commented on #48051
This came up at https://github.com/dart-lang/sdk/issues/48458. Some info that may or may not be relevant from that thread:

[2022-03-07 11:54] mit-mit commented on #48272
Filed https://github.com/dart-lang/webdev/issues/1526; @annagrin are you the right assignee for that?

Filed; @liamappelbe are you the right assignee for that?

[2022-03-07 11:58] mit-mit commented on #34218
Updating title: Analysis of both internal and external code shows very little use of these long discontinued SCREAMING CASE APIs, so we're going ahead with the removal.

[2022-03-07 12:02] DanTup commented on #48082
This came up at https://github.com/Dart-Code/Dart-Code/issues/2764#issuecomment-1059200243 too.

@leedstyh can you reliably reproduce this? Can you provide steps that might help trigger it?

[2022-03-07 12:24] juniorkibirige commented on #47020
Any solutions to this

[2022-03-07 12:25] mit-mit commented on #48275
@natebosch any chance we could assign this issue to you to get the rest removed the SDK repo?

[2022-03-07 12:57] askeksa-google commented on #43059
`standalone_2/io/web_socket_pipe_test/1` [failed](https://dart-ci.appspot.com/log/vm-kernel-precomp-ubsan-linux-release-x64/dartkp-ubsan-linux-release-x64/1267/standalone_2/io/web_socket_pipe_test/1).

[2022-03-07 15:30] alexmarkov opened #48518 "Consider adding documentation about huge methods"
In order to compile extremely huge methods compiler may spend a lot of time and memory, and may eventually run out of memory.
Also, compiler may compile such methods with certain optimizations disabled or reduced (such as inlining). Huge methods are also harder to reason about and maintain.

So we should suggest users to avoid writing (or generating) too large methods, maybe in "Effective Dart". W

[2022-03-07 15:33] alexmarkov opened #48519 "Consider adding a lint for huge methods"
In order to compile extremely huge methods compiler may spend a lot of time and memory, and may eventually run out of memory. Also, compiler may compile such methods with certain optimizations disabled or reduced (such as inlining). Huge methods are also harder to reason about and maintain.

We can add a lint to detect huge methods and warn users about that. Unlike other lints, this lint should be

[2022-03-07 15:33] alexmarkov opened #58679 "Consider adding a lint for huge methods"
In order to compile extremely huge methods compiler may spend a lot of time and memory, and may eventually run out of memory. Also, compiler may compile such methods with certain optimizations disabled or reduced (such as inlining). Huge methods are also harder to reason about and maintain.

We can add a lint to detect huge methods and warn users about that. Unlike other lints, this lint should be

[2022-03-07 15:36] alexmarkov commented on #48495
Filed https://github.com/dart-lang/sdk/issues/48518 for documentation and https://github.com/dart-lang/sdk/issues/48519 for the analyzer lint.

[2022-03-07 15:36] #48495 closed

[2022-03-07 15:40] alexmarkov commented on #48284
`gen_snapshot` no longer issues those warnings by default (only upon explicit request). Also, heuristic for lower optimizations was changed to look at number of kernel AST nodes rather than the source size.

[2022-03-07 15:40] #48284 closed

[2022-03-07 16:07] bwilkerson commented on #48519
Do we have a definition of what "huge" means in this context? Are we talking about lines of code? Are there other factors that should be considered, or that mitigate the damage?

One of the arguments against enabling lints for auto-generated code is that users can't control the code generator and hence can't fix the problem. I think that applies here as well. So I have to ask: what value would it

[2022-03-07 16:30] sigmundch commented on #46316
Confirmed - the change that fully removed support for it (https://github.com/dart-lang/sdk/commit/38b5a841dedcb144c863c0f9dac579ee7a90e2e3)  was released in 2.15.0.  The only thing that remains is cleanup on our end, but that's not visible to external developers.

[2022-03-07 16:55] bwilkerson commented on #48519
We don't currently have any mechanism to allow users to configure lints. Even if we did, I'd question whether users have the knowledge required to choose a good value.

That sounds like a promising definition. I'm guessing, based on your use of plurals, that different compilers have different thresholds. We could presumably choose a reasonable threshold that is smaller than any used by existing co

[2022-03-07 17:10] brianquinlan commented on #42771
Fixed in cdcc221d6020f545b8a99dc3a8a8c14e3eb61949

[2022-03-07 17:10] #42771 closed

[2022-03-07 17:18] sigmundch commented on #48517
Thanks so much for the bug report! I'm closing this issue to mark it as a duplicate of #47916 (which I saw you noticed as well).

[2022-03-07 17:18] #48517 closed

[2022-03-07 17:23] 18601673727 opened #48520 "generated_plugin_registrant.dart does not respect prefer_double_quotes: true"
Every time run debug for the flutter app, the `generated_plugin_registrant.dart` file got generated with content like this:
[code]
but I have set `prefer_double_quotes: true` in `analysis_options.yaml` so the linter keeps complain about `Prefer double quotes where they won't require escape sequences.`

[2022-03-07 17:39] natebosch commented on #48275
Sure, I am planning to keep pushing on this as I have time.

[2022-03-07 18:41] bwilkerson commented on #48519
This sounds like functionality that could be useful for users, but given our current support levels I'm concerned about the number of false positives. There has recently been some discussion around defining "suggestion level lints" that would be displayed to users in a less intrusive manner. This might be a good candidate for such support. @jacob314

[2022-03-07 18:58] #58625 closed

[2022-03-07 19:01] #48503 closed

[2022-03-08 00:30] nshahan commented on #48510
I think remember @Markzipan "sharded" them by the module type and null safety mode but maybe the growing number of tests is triggering timeouts again? WDYT?

[2022-03-08 00:31] nshahan commented on #48349
Fix already landed: 4c1143a048efaffcf0d1e7760f11f3b53715b0b3

[2022-03-08 00:31] #48349 closed

[2022-03-08 01:02] annagrin opened #48521 "[vm_service] VmServerConnection fails to convert response from dwds to json"
See original issue https://github.com/dart-lang/webdev/issues/1527

`ChromeProxyService. lookupPackageUris` returns a `UriList` that we try to convert to json in `VmServiceConnection`. This seems to fail.

[2022-03-08 01:03] Markzipan commented on #48510
That looks like a likely culprit. Further dividing them by agnostic/null-safe tests would be a reasonable patch, but I'll have to split them more intelligently down the line.

[2022-03-08 01:06] nshahan commented on #48510
Maybe we should just start landing new suites for every new language version to test its new features?

[2022-03-08 01:11] parlough commented on #48518
This seems like a great thing to document even just in terms of maintenance and understanding like you mentioned.

Seems like it may be a good inclusion in [Effective Dart: Usage - Functions section](https://dart.dev/guides/language/effective-dart/usage#functions).

\cc @munificent What are your thoughts on including something along these lines or do you think this documentation belongs elsewhere?

[2022-03-08 02:01] rakudrama commented on #47916
In the Kernel IR, uses of a redirecting constructor are replaced by uses of the target.
This appears to happen for just one step of redirection.

For the [small example above](https://github.com/dart-lang/sdk/issues/47916#issuecomment-1057202290), the IR is as follows.
(I added `B.new;` to `main`)
`B._#new#tearOff` calls `C()`, a generative constructor.
`A._#new#tearOff` calls `B()`, a redirecting

[2022-03-08 05:43] Moncader opened #48522 "Future Then callback that returns null and a when-resolved not null Future generates an exception"
This only affects native dart (Flutter or the Dart CLI). dartpad does not generate this issue and executes correctly.

[code]

The above code when run generates this exception:
[code]

As I see it this should execute correctly, and indeed on the web (dartpad) it does.
Technically this _is_ a `FutureOr<String?>?` I believe as this callback is not `async` and therefore is actually returning a `null`

[2022-03-08 06:06] johnniwinther commented on #47916
It is an error in the lowering. `A` should have invoked its effective target, `C`, and not it's immediate target `B`.

I'll work on a fix.

[2022-03-08 08:07] dcharkes opened #48523 "service_2/break_on_function_many_child_isolates_test/dds flaky timeout"
This test flakes between passing, being flaky, and timing out consistently.

[log](https://dart-ci.appspot.com/log/vm-kernel-win-debug-x64/dartk-win-debug-x64/16374/service_2/break_on_function_many_child_isolates_test/dds)

[history](https://dart-ci.firebaseapp.com/#showLatestFailures=false&test=service_2/break_on_function_many_child_isolates_test/dds&configurations=dartk-win-debug-x64)

cc @bkony

[2022-03-08 08:15] dcharkes opened #48524 "Failures on [vm] Avoid confusing foreign stack walkers at the Dart entry frame."
There are new test failures on [[vm] Avoid confusing foreign stack walkers at the Dart entry frame.](https://github.com/dart-lang/sdk/commit/fb2466898917470b8ae44ab198e3b24ea8093b95).

The tests
[code]
are failing on configurations
[code]

[log](https://dart-ci.appspot.com/log/vm-kernel-precomp-nnbd-mac-release-arm64/dartkp-weak-asserts-mac-release-arm64/1096/ffi/function_structs_by_value_generate

[2022-03-08 08:21] dcharkes commented on #48339
The tests
[code]
are failing on configurations
[code]

This time on linux.

This test is failing, and flaking between timeout and failure.

[test history](https://dart-ci.firebaseapp.com/#showLatestFailures=false&test=pkg/vm_snapshot_analysis/test/instruction_sizes_test&configurations=unittest-asserts-release-linux).

[log](https://dart-ci.appspot.com/log/pkg-linux-release/unittest-asserts-release

[2022-03-08 08:34] dcharkes commented on #28737
This has resurfaced again today.

[test history](https://dart-ci.firebaseapp.com/#showLatestFailures=false&test=standalone/io/named_pipe_script_test).

[most recent log](https://dart-ci.appspot.com/log/vm-kernel-nnbd-mac-release-arm64/dartk-weak-asserts-mac-release-arm64/1641/standalone/io/named_pipe_script_test).

[2022-03-08 09:00] dcharkes opened #48525 "co19_2/LibTest/io/WebSocket tests flaking on Windows"
Multiple windows WebSocket tests started flaking since yesterday.

The tests
[code]
are failing on configurations
[code]

[close test history](https://dart-ci.firebaseapp.com/#showLatestFailures=false&test=co19_2/LibTest/io/WebSocket/close_A01_t02&configurations=dartk-win-release-x64)
[closeReason test history](https://dart-ci.firebaseapp.com/#showLatestFailures=false&test=co19_2/LibTest/io/WebSoc

[2022-03-08 11:07] eernstg opened #58680 "`parameter_assignments` needs a few updates, certainly to the documentation, and possibly in the semantics"
The lint `parameter_assignments` as documented on https://dart-lang.github.io/linter/lints/parameter_assignments.html needs a few updates for null safety. Here are some adjusted example snippets:

[code]

Apart from the fact that the declarations need to be adjusted in order to be compilable with Dart at 2.12 or later, it is also worth considering whether the lint is actually flagging the right po

[2022-03-08 13:00] jonasfj opened #48526 "[breaking change] removing `dart pub uploader`"
Starting Dart 2.17 the `dart pub uploader add|remove` commands will be removed from the Dart SDK.

[code]

## Motivation

Package administrative functionality is exposed as part of the web-interface on pub.dev:
`https://pub.dev/packages/<package>/admin`

The package admin page on pub.dev has long supported adding/remove uploaders, keeping the functionality in the client duplicates functionality. P

[2022-03-08 13:12] #47916 closed

[2022-03-08 15:10] dcharkes opened #48527 "[vm] Add NoGC scopes to flow graph builder"
We have at least two places ([soon to be three](https://dart-review.googlesource.com/c/sdk/+/229544/28/runtime/vm/object.h#3186)) where we rely in IL that the GC doesn't run between certain IL instructions.

https://github.com/dart-lang/sdk/blob/7d115ed0ad6369723b13837357350a14f7afa9f8/runtime%2Fvm%2Fcompiler%2Ffrontend%2Fkernel_to_il.cc#L1303-L1308

https://github.com/dart-lang/sdk/blob/7d115ed0a

[2022-03-08 16:19] bkonyi commented on #48523
cc @aam

[2022-03-08 16:49] stuartmorgan opened #58681 "Apparent regression in `always_specify_types` with `typedef`"
**Describe the issue**
https://github.com/dart-lang/sdk/issues/58423 seems to have (partially?) regressed recently on Flutter master. We have an auto-roller that rolls flutter/flutter into flutter/packages, and it started failing sometime in the last week or so (I still need to pinpoint the exact regression point) due to new issues with the `analyze` step we run in CI ([example failure](https://gi

[2022-03-08 16:59] sortie commented on #40690
Yep. I believe you added it only recently per this task, so it shouldn't be used for anything, as the internal account is meant to be used for trusted actions like this. :)

[2022-03-08 18:38] srujzs commented on #48515
I think this is because we only check for indexing, and not all operators. We could probably do a simple fix for this by just using `procedure.kind == ProcedureKind.Operator`.

[2022-03-08 18:38] kenzieschmoll opened #48528 "Unskip devtools_server_test on windows"
This test is failing due to a "no such file or directory" error. The test passes on other platforms, so we suspect something may be wrong with reading this file on the Windows file system. @bkonyi will investigate further.

[code]

Example test [failure](https://ci.chromium.org/ui/p/dart/builders/try/pkg-win-release-try/751/overview) and [logs](https://logs.chromium.org/logs/dart/buildbucket/cr-bu

[2022-03-08 19:50] rileyporter commented on #48515
With the external extension members lowering, there was an open question of which operators we wanted to allow in extensions. That feels related to which operators we want to allow in JS interop classes in general, although I'm not sure if there are specific operators we want to disallow.

It might be worth considering an allowlist of operators instead of checking for any `ProcedureKind.Operator`?

[2022-03-08 20:13] srujzs commented on #48515
I think we should still disallow all operators being used in the class, but leave it as an open question for now on what to do for extensions. Operators in the `package:js` classes need to be implemented in both compilers in order to handle them correctly, whereas we might be able to do the lowering for specific operators in external extension members. I don't see us realistically extending suppor

[2022-03-08 21:07] rileyporter commented on #48515
Got it, you're planning on expanding the `package:js` class static check to disallow all operators? That sounds good to me. I'll keep thinking about operators for extension members, right now we don't lower them, but I could see adding support for a set of them.

[2022-03-08 21:20] srujzs commented on #48515
Yeah, just for the instance members.

I assume using external extension operators will lead to a crash currently, but we can handle that separately.

[2022-03-08 21:37] Keithcat1 commented on #36707
Is there any planned support for allowing to pass pointers to typed data to C functions when doing a leaf call?
Might also be nice to allow passing pointers to Dart integers at least when the expected native type is Pointer<Uint64>, instead of implementing [https://github.com/dart-lang/sdk/issues/42509](https://github.com/dart-lang/sdk/issues/42509)

[2022-03-08 21:50] JaysonBH commented on #48526
Wouldn't this break automation?
Would it now be recommended to use a manual flow instead?
Is there more info on the reason for this decision?
Is it solving an existing problem?

[2022-03-08 21:58] nshahan commented on #48061
All test failures on DDC configurations have been fixed. I think it is safe to close this issue but we can reopen if something appears.

[2022-03-08 21:58] #48061 closed

[2022-03-08 22:01] #58681 closed

[2022-03-08 22:19] raphaelvigee opened #48529 "Extension + getter missing method"
[code]

The combination of an extension and a getter without type triggers an error.
The first 3 will print no problem, the last one will complain about the `contrast()` method missing

[2022-03-08 23:07] mraleph commented on #48529
Extensions use static types to resolve methods. So this behaviour is entirely expected.

[2022-03-08 23:07] #48529 closed

[2022-03-08 23:44] leafpetersen commented on #47866
FYI, the flag has been flipped so these can be used without a flag internally now.

[2022-03-08 23:44] leafpetersen commented on #47867
FYI, the flag has been flipped so these can be used without a flag internally now.

[2022-03-08 23:44] leafpetersen commented on #47868
FYI, the flag has been flipped so these can be used without a flag internally now.

[2022-03-08 23:45] leafpetersen commented on #48070
FYI, the flag has been flipped so these can be used without a flag internally now.

[2022-03-08 23:45] leafpetersen commented on #48071
FYI, the flag has been flipped so these can be used without a flag internally now.

[2022-03-08 23:45] leafpetersen commented on #48073
FYI, the flag has been flipped so these can be used without a flag internally now.

[2022-03-08 23:45] leafpetersen commented on #47580
FYI, the flag has been flipped so these can be used without a flag internally now.

[2022-03-08 23:45] leafpetersen commented on #47579
FYI, the flag has been flipped so these can be used without a flag internally now.

[2022-03-08 23:45] leafpetersen commented on #47591
FYI, the flag has been flipped so these can be used without a flag internally now.

[2022-03-08 23:51] rmacnak-google commented on #48524
Strange. The change was only to the regular entry stub, so the layout of FFI exit and entry should be unchanged. I'll take a look once I get my ARM64 board up again.

[2022-03-09 00:20] bernaferrari commented on #48518
How do you define a "huge method"?

[2022-03-09 01:49] #48515 closed

[2022-03-09 08:28] simolus3 commented on #48515
Is there an issue to follow for support of operator methods in static interop extensions?

[2022-03-09 08:36] sstrickl opened #48530 "Batch of unrelated tests started flaking starting on March 7"
There are new test failures on [[pkg:js] Disallow all operators in JS classes](https://github.com/dart-lang/sdk/commit/f8933dda8d925c1ee38440388dd574598e73dd36).

The tests
[code]
are failing on configurations
[code]

The main thing all three tests here have in common is that they've been flipping back and forth between passing, being flaky, and turning red (either with a RuntimeError or, in the c

[2022-03-09 08:49] sstrickl commented on #48530
Note that the fuzz tester has also been consistently red since then, though the first two failures in the sequence are due to RISCV build failures and thus it's unclear if either would have been red without it. Since the build failure was fixed, almost all fuzz testing shards are reporting at least one divergence, instead of it being a single shard now and then, which is concerning.

[2022-03-09 08:54] sstrickl commented on #48530
After a quick skim, it looks like all the divergences seen on the fuzzer are also RISCV related, so probably unrelated to the flakiness above on non-RISCV bots.

[2022-03-09 09:56] #48288 closed

[2022-03-09 10:52] lrhn commented on #48522
The problem does not reproduce for me in the tip-of-tree stand-alone VM either.
I can see that it does in the checked-in SDK we use for boot-strapping, so most likely the bug has already been fixed.

[2022-03-09 11:49] mraleph commented on #48522
I would think that closure type actually comes from CFE, so it is probably a CFE issue which infers incorrect type for the closure.

@chloestefantsova @johnniwinther does this look like anything you have recently fixed in CFE?

[2022-03-09 11:54] #48516 closed

[2022-03-09 12:41] #48380 closed

[2022-03-09 13:32] doodlezucc opened #48531 "stdin.readLineSync() limited to 255 characters"
Dart SDK version: `2.15.0 (stable) (Fri Dec 3 14:23:23 2021 +0100) on "windows_x64"`

When running my Dart program from a terminal and calling `stdin.readLineSync()`, it's not possible to write more than 255 characters into the console. When the limit is reached, you can still press keys to move back and forth and delete characters, you're just not allowed to enter more characters after a certain

[2022-03-09 14:40] jensjoha commented on #44215
So the suggested fix works when plugged in to flutter.

But for my own curiosity I couldn't figure out where the obfuscation was happening in the VM (without the proposed fix), considering the uri isn't obfuscated in kernel_loader.cc. So for future reference it happens here:

https://github.com/dart-lang/sdk/blob/33c38e914bff88bf39d488ee9c1a3c0613a3a30c/runtime/vm/compiler/aot/precompiler.cc#L2968

[2022-03-09 14:49] xuchaoqian opened #48532 "dart:ffi not working with Isolate.spawn"
We implemented a flutter plugin which uses dart:ffi package to call c++ code.
It works well without Isolate.spawn. But it crashed after moving the code to spawned Isolate.

### So, does Isolate.spawn not support dart:ffi?

The error message as following:
[code]

My developer tools as following:
[code]

[2022-03-09 15:01] mraleph commented on #48532
You need to provide more information. Right now the only thing we can see is that there is some null pointer dereference. There can be many different reasons why your code is crashing. `dart:ffi` should work fine with isolates - though you should keep in mind that isolates involve threads, which means that certain things might work differently (e.g. if your C++ library uses TLS storage, etc).

[2022-03-09 16:51] whesse commented on #48530
This is a bug in the builder recipes on the CI - all previously detected flakiness was dropped, so all flakiness is being reported as if it was new.

The fix has landed, and I will restore all the previous flakiness records next.
Thanks for noticing!  This is what our CI console would look like if we only had deflaking on each run, with no tracking of known flaky tests.  It is surprisingly not tha

[2022-03-09 16:57] dius00 opened #48533 "`dart:html` mediaCapabilities.decodingInfo(config) Expected a value of type 'FutureOr<MediaCapabilitiesInfo>?', but got one of type 'LegacyJavaScriptObject'"
## Environment
* Dart SDK Version `Dart SDK version: 2.16.1 (stable) (Tue Feb 8 12:02:33 2022 +0100) on "macos_arm64"`
* Whether you are using Windows, MacOSX, or Linux (if applicable) `macOSX 12.2.1`
* Whether you are using Chrome, Safari, Firefox, Edge (if applicable) `chrome`, `edge`

## Reproduction steps
1. Create a new dart application using the web-simple template using the dart cli.
2. Add

[2022-03-09 17:22] Markzipan commented on #48533
@srujzs can you add any context here?

[2022-03-09 17:31] #48065 closed

[2022-03-09 17:35] xuchaoqian commented on #48532
@mraleph thanks a lot for your quick response.

### Basically, the data flow is as follows:
user code   **<---dart object--->**  lib (as a flutter plugin) which calls Isolate.spawn()   **<---dart object--->**  spawned isolate which uses dart:ffi to call c++ code **<---json--->** c++ code which runs heavy task, and also invokes callbacks from spawned isolate.

### The code which calls Isolate.spawn

[2022-03-09 17:39] alexmarkov commented on #48518
I don't think we need to have a strict definition of huge methods in the documentation. It could be just a recommendation to avoid _unreasonably large_ methods and avoid repeated code.

In my opinion, in order to improve source code readability and maintainability, developers should avoid methods larger than 300-500 of lines of reasonably formatted code (not counting comments and blank lines), bec

[2022-03-09 18:15] bkonyi opened #48534 "[ Timeline ] Possibility for segfault when attempting to write a timeline event at shutdown"
Access to `Timeline::recorder_` isn't guarded by any locks, which makes it possible for one thread to try and allocate a new event from the recorder after it's been deleted. We should add a lock or some atomic counters to make sure we don't delete the recorder while timeline events are being written.

See [logs](https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket/8820428833784457201/

[2022-03-09 18:23] scheglov commented on #48380
Thank you, this works great!

[2022-03-09 19:19] rileyporter opened #48535 "Support external operators in extensions on JS interop classes"
Currently we disallow all operators in JS interop classes. If we wanted to add support for them as instance members, the compilers would each need to implement each operator we wanted to allow.

However, we could support external operators in extensions, by lowering to js_util methods for some specific operators. For example, indexing could be lowered to `js_util.getProperty(foo, index)` and `js_u

[2022-03-09 19:20] jwren commented on #48272
IJ YouTrack issue is now marked as Fixed, with the PR https://github.com/JetBrains/intellij-plugins/pull/862, landed on the `master` branch.

[2022-03-09 19:25] rileyporter commented on #48515
Great question, I just filed #48535 to track that work. If you have specific operators besides indexing that you want supported, feel free to comment there.

[2022-03-09 20:57] simolus3 commented on #48535
In #48515, I was trying to bind to the `BigInt` wrapper object to deal with JavaScript APIs only supporting big ints.

For that, it would be great to have support for (all?) overridable Dart operators except for `~/` which doesn't exist in JS. There's also a question about `**` which doesn't exist as an operator in Dart.

At the moment I'm implementing operators like this:

[code]

This works but

[2022-03-09 21:01] anaisbetts commented on #39945
This is actually worse than just seeing an annoying popup, it also prevents the console output from being captured via `Process/ProcessResult.stdout` and friends

[2022-03-09 21:12] a-siva commented on #48516
Potential candidate for cherry pick into Dart 2.17 Beta 2 branch.

[2022-03-09 21:24] #48521 closed

[2022-03-09 21:27] annagrin opened #48536 "[vm_service] Add tests for VmServerConnection"
Looks like only dwds uses VmServerConnection, so sometimes we detect bugs too late (when wiring things to UI) and fixing cycle is too long. Adding tests for all VmServerConnection API would solve this problem.

See: https://github.com/dart-lang/sdk/issues/48521

[2022-03-09 21:44] a-siva commented on #48534
marking as P1 based on the priority assigned to the Flutter issue.

[2022-03-09 21:54] srawlins commented on #48520
Please file this issue against the flutter/flutter repo. They can take the steps mentioned above.

[2022-03-09 21:54] #48520 closed

[2022-03-09 21:59] a-siva commented on #48532
//cc @aam

[2022-03-09 22:12] aam commented on #48532
`Isolate.spawn` and `ffi` should work without any issues.
There are tests in dart sdk that ensure that, for example https://github.com/dart-lang/sdk/blob/main/tests/ffi/vmspecific_function_callbacks_exit_test.dart

[2022-03-09 22:54] srujzs commented on #48533
It seems like this is an issue with a consistent typing for the return type of `decodingInfo` and `encodingInfo`. Presumably, at some point, this was consistently a `MediaCapabilitiesInfo` object for both methods. This seems to have changed, however, with Chrome returning object literals representing this information and Firefox returning `MediaCapabiltiesInfo`. This then presents a conflict in ou

[2022-03-10 00:51] munificent commented on #48518
I'm always somewhat hesitant to add more to "Effective Dart" because it's already quite large and the bigger it is, the greater the chance users simply won't read it.

I try to focus on guidelines that are *useful* in that it's (1) a problem and (2) users do seem to do it in the wild fairly frequently. Huge methods are (1) but I can't say I often see them in the wild, so I'm disinclined to add a r

[2022-03-10 05:11] deepak-pawaar opened #48537 "lib/main.dart warning interpreting this as package uri"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
* Dart websi

[2022-03-10 05:17] joshualitt commented on #48381
Closing this for now because we may have found an alternative.

[2022-03-10 05:17] #48381 closed

[2022-03-10 08:26] gmpassos commented on #36933
How can I help to push this issue?

[2022-03-10 09:12] mraleph commented on #48532
One thing I could think about is that reusing something like a FFI trampoline between two isolates might result in a strange issues due to how this is implemented right now. e.g. the following will break in strange ways:

[code]

e.g. if you spawn `isolateMain` multiple times but only initialize c library with a `callbackPtr` from the first isolate - things will go south later if library tries to

[2022-03-10 09:22] whesse commented on #47950
The test has been relanded in https://dart-review.googlesource.com/c/sdk/+/234500,
and it is flaky timeout on many configurations, and flaky runtime error on mac and arm.

Flakiness: https://screenshot.googleplex.com/6GwHT45T8PdS7Vu
Current status: https://dart-ci.firebaseapp.com/current_results/#/filter=vm/dart_2/analyze_snapshot_binary_test&showAll

[2022-03-10 09:54] #48537 closed

[2022-03-10 11:17] lrhn opened #58682 "Documentation for `library_names` is confusing."
The [library_names](https://dart-lang.github.io/linter/lints/library_names.html) documentation is somewhat confusing.

It says to use `snake_case` names, which is fine.

It makes no mention of `.` separators, so it's not clear which *part* of a dotted sequence it applies to.
(Which is extra confusing when [package_prefixed_library_names](https://dart-lang.github.io/linter/lints/package_prefixed_li

[2022-03-10 11:43] dcharkes commented on #48532
Callbacks into an isolate can only be invoked when being the mutator thread from that isolate (either by doing an ffi call from that isolate, or by using the Dart API to enter the isolate). This is a known limitation.

Asynchronous callbacks would not have this limitation, when we get around to implementing those:

* https://github.com/dart-lang/sdk/issues/37022

The known workaround is to use por

[2022-03-10 12:44] anaisbetts commented on #39945
A better workaround based on https://github.com/dart-lang/sdk/issues/39945#issuecomment-870428151 that preserves the ability to capture stdout is:

[code]

[2022-03-10 13:51] dmuhia136 opened #48538 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-211.7628.21.2111.8193401`
- `2.16.1`
- `AI-211.7628.21.2111.8193401, JRE 11.0.11+9-b60-7590822x64 JetBrains s.r.o, OS Windows 8.1(amd64) v6.3 , screens 3840.0x2160.0`

[2022-03-10 14:11] juliansteenbakker commented on #48533
I've got a similar error when calling `await imageCapture.getPhotoCapabilities()` with the following code:
[code]

[2022-03-10 14:23] perks commented on #47950
https://github.com/dart-lang/sdk/blob/main/runtime/tests/vm/vm.status#L331 Should be skippin on mac by design. The other flakiness I am not sure about.

https://dart-review.googlesource.com/c/sdk/+/234500/13 Under patchset 13 checks I ran every tryjob available to me and it passed -- the only changes since then was some code cleanup removal and rebasing but I will double check.

[2022-03-10 14:35] johnniwinther commented on #48522
This has been fixed by https://dart-review.googlesource.com/c/sdk/+/230240

[2022-03-10 14:55] mraleph commented on #48522
@johnniwinther that CL just removed the cast. I think there indeed a VM issue. A simpler repro:

[code]

Seems like subtyping algorithm in the VM does not take into account that `FutureOr<T?>` is the same as `FutureOr<T?>?`

[2022-03-10 14:58] mkustermann commented on #48522
@sstrickl Could you look into this one?

[2022-03-10 15:35] xuchaoqian commented on #48532
Maybe this is the key to this problem. I'm going to try [long running isolate](https://github.com/dart-lang/samples/blob/master/isolates/bin/long_running_isolate.dart)  solution, and will give feedback here soon.

Thank you. @mraleph @dcharkes

[2022-03-10 16:26] r-mzy47 opened #48539 "dart syntax suggestion"
In dart language, this pattern is very familiar to all of us. for example in flutter:
[code]
It appears mostly on every file and adds boilerplate to codes and reduces readability.
Is it possible to add some notation like `!!` to produce the same behaviour? something like:

[code]

Thanks in advance

[2022-03-10 16:36] #48539 closed

[2022-03-10 17:17] #48473 closed

[2022-03-10 18:44] #47020 closed

[2022-03-10 18:48] bkonyi opened #48540 "Use `package:package_config` to pass `--packages` to all `dart compile` subcommands"
Each of the various tools invoked by `dart compile` are currently responsible for discovering the correct `package-config.json` if one isn't explicitly provided. We should instead move discovery into the `dart compile` subcommands in the CLI and always pass `--packages` to the tooling.

[2022-03-10 19:41] flbaue commented on #45744
I just noticed this issue because dio has a CVE entry about this: https://nvd.nist.gov/vuln/detail/CVE-2021-31402 which is scored as high.
How do you do you estimate the risk of this?

[2022-03-10 20:21] scheglov commented on #48059
This feature was implemented.

[2022-03-10 20:21] #48059 closed

[2022-03-10 20:22] #48045 closed

[2022-03-10 20:23] scheglov opened #48541 "'augment class A {}' cannot be parsed"
[code]

But `macro class A {}` can.

[2022-03-10 21:15] aam commented on #45744
Unless I am missing something it's dart code itself that sends a request that also controls the method name. There is nowhere for attacker to insert itself so they update method name maliciously. Because of that I think the risk is non-existent/low.

Still though, validating that `method` argument(https://github.com/dart-lang/sdk/blob/main/sdk/lib/_http/http.dart#L1380 and https://github.com/dart-

[2022-03-10 21:25] windrunner414 opened #48542 "strange behavior when a unicode escape has more than 6 hex digits"
![screenshot](https://user-images.githubusercontent.com/31621968/157757083-a8f344de-a889-4202-a952-c876acf3a82a.png)

I think this should be a compile-time error.

[2022-03-10 21:29] windrunner414 commented on #48542
try `print("\u{0000410BC");`, and will print `АBC`.

[2022-03-10 22:16] #48538 closed

[2022-03-11 00:13] a-siva commented on #39945
//cc @aam

[2022-03-11 00:51] AndrewLugg commented on #47520
I was able to test this on the current dev branch (2.17.0-169.0.dev) and there is a new error that is now showing.

![image](https://user-images.githubusercontent.com/19848590/157780224-3b57bc78-3f14-4410-9dd0-b582432aaac7.png)

Also this error is not fixed by turning off "sound_null_saftey" so it now breaks all older versions of safari.

Versions tested with:
Safari 15.3  - Works
Safari 14.1  - W

[2022-03-11 01:10] srujzs commented on #47520
That's unfortunate, can you share the compiler output as well? Judging from the error (where the call to `decodeAudioData` doesn't have enough arguments), I'm assuming this is because a `successCallback` is not passed? In that case, the code assumes it can be called with only 1 argument (the buffer). In your case, if you want to support older Safari versions, I think you'd need to always pass call

[2022-03-11 01:33] AndrewLugg commented on #47520
Is this what you are after?
![image](https://user-images.githubusercontent.com/19848590/157784414-6aa76d40-818b-410f-b711-30619153af33.png)

I can zip up the project I am using for testing with compiled code if that would help. Its just a barebones test project.

[2022-03-11 01:37] srujzs commented on #47520
Yup, and sure, from that I'm assuming the Dart API is being called as `decodeAudioData(<buffer>)`. Can you change the calling code to include non-null `successCallback` and `errorCallback`s?

[2022-03-11 04:18] 18601673727 commented on #48520
Thank you @srawlins @Levi-Lesches!

[2022-03-11 08:04] xuchaoqian commented on #48532
It still does NOT work stably, even if initialize the native code once in the spawned isolate and remove all callbacks.  @mraleph @dcharkes

I have created a minimal repo([isolate-spawn-demo](https://github.com/xuchaoqian/isolate-spawn-demo))  to reproduce this:
[code]

Meanwhile, It works stably if call ffi in the main isolate. Just show the button in example/lib/main.dart and run again(Don't hot

[2022-03-11 08:19] dcharkes opened #48543 "[vm] Implement Thread as special variable in the VM"
`LoadThread` should be implemented with `LoadLocal` and `SpecialParameterInstr` instead of `LoadThreadInstr`.

The implementation would be similar to the argument descriptor. Some pointers:

runtime/vm/symbols.h
`V(ArgDescVar, ":arg_desc")`
runtime/vm/parser.h
`LocalVariable* arg_desc_var_;`
runtime/vm/compiler/frontend/base_flow_graph_builder.cc
[code]
runtime/vm/compiler/backend/il.h
`SpecialPar

[2022-03-11 09:41] mraleph commented on #48532
@xuchaoqian My guess would be the following (without looking at this in the debugger). It's the same thing I warned about in my very first comment: V8 uses TLS (thread local storage) to associate `v8::Isolate` with native threads. However Dart does not guarantee that a particular isolate always runs on a particular thread: isolates run on top of a thread pool, so if Dart isolate suspends and resum

[2022-03-11 11:47] dcharkes opened #48544 "[vm] Support for MSVC builds on Windows?"
On Windows, we can build the sdk with `--no-clang` which will try to build with MSVC.

However, after 228c52ed4a8f8ea9e70bddb3ce8d29227edeaa77, this results in build errors.

[code]

Do we want to keep the build working on MSVC? In that case we should probably add a nightly bot building on windows with `--no-clang` (similar to the GCC bot).

If not, we should maybe error out on that flag on Window

[2022-03-11 15:38] xuchaoqian commented on #48532
@mraleph Still does NOT work correctly. BUT you inspired me just now!

**I should NOT use Isolate.spawn in my case, I should use thread in native code directly.**

I will have a try in this way, and give feedback here soon.

[2022-03-11 17:49] jodinathan commented on #47868
is there any public repo of Angular to test this feature?

[2022-03-11 22:31] eseidel commented on #47736
OK, open this file: https://github.com/RubberDuckEng/html6/blob/2f1027fc2091311f8ddcef3a24a853209ef238b8/bin/run_html5_lib_tests.dart

I'm on:
Version: 1.65.2 (user setup)
Commit: c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1
Date: 2022-03-10T14:33:55.248Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

amodio.tsl-problem-matcher@0.5.0

[2022-03-12 05:35] aam commented on #48544
I think we do, and I think we should

[2022-03-12 06:18] aam commented on #48544
Quick glance at what else MSVC highlighted: use of c++20 [designated initializers](https://github.com/dart-lang/sdk/blob/main/runtime/vm/message_snapshot.cc#L29), use of "gcc" [__attribute__(unused)](https://github.com/dart-lang/sdk/blob/main/runtime/bin/snapshot_utils.cc#L29) instead of `DART_UNUSED`

[2022-03-12 13:09] TheOneWithTheBraid opened #48545 "Build on RISC-V host"
I am looking for a way to build Dart on a RISC-V machine. As far as I see, the depot_tools support pretty much every CPU architecture except of RISC-V.

Did anyone figure out a way to either build the Dart SDK without the depot_tools or to make the depot_tools run on RISC-V?

[2022-03-12 13:26] shuhei commented on #48430
@srujzs Thanks for looking into this! Looks like `WorkerPerformance.idl` was merged into `Performance.idl` in Blink ([cl](https://chromium-review.googlesource.com/c/chromium/src/+/1026451)). So, it should be alright to assume that they are identical. What do you think of doing this issue's change to both and creating another issue for deprecating `WorkerPerformance` if necessary?

Aside from that,

[2022-03-12 15:05] shuhei commented on #48430
Ah, is the WORKAROUNDS.md for workarounds in user code instead of SDK?

Now I understand that the IDL (and interfaces generated from IDL) won't be updated for a while. Please ignore my question about WorkerPerformance above.

[2022-03-12 15:40] simolus3 opened #48546 "Analyzer creates invalid metadata for variable declaration list"
I'm using version `3.3.1` of the analyzer package. When it analyzes a variable declaration list with an annotation, it will only copy the annotation to the last variable in the metadata list of the element. For instance, considering:

[code]

I would expect both element to have the `@Property` annotation.

Full repro as a standalone script:

[code]

[2022-03-12 16:39] maganap commented on #48278
Same issue here, also on Mac M1. By following [this issue in Dart Code repo](https://github.com/Dart-Code/Dart-Code/issues/2219) I ended up here.

I can tell it's still happening with Flutter 2.10.3 and Dart 2.16.1.

I've noticed some dart processes keep running even after I close VS:

![Screenshot 2022-03-12 at 17 16 43](https://user-images.githubusercontent.com/6942131/158025834-3f318456-9ac5-47

[2022-03-13 02:10] Sunbreak opened #48547 "[proposal] Enable `default` outside switch case"
[code]

'default' can't be used as an identifier because it's a keyword.
Try renaming this to be an identifier that isn't a keyword.dart(expected_identifier_but_got_keyword)

[2022-03-13 06:25] fzyzcjy commented on #36865
Hi, is there any updates? I hope to implement a simple profiler, which samples the stack trace at (say) 1000Hz and draw a framegraph, in production builds.

[2022-03-13 06:25] fzyzcjy commented on #37664
Hi, is there any updates? I hope to implement a simple profiler, which samples the stack trace at (say) 1000Hz and draw a framegraph, in production builds.

[2022-03-13 06:46] dnfield commented on #36865
Dart already has a cpu profiler.

I strongly doubt you'd be able to meaningfully get the stack trace without destroying performance at that sampling rate though.

[2022-03-13 06:55] fzyzcjy commented on #36865
@dnfield Thanks! But I hope I can profile my app in production (release) mode. The specific use case: Sometimes the users will feel the app being slow and jank, but I cannot reproduce easily by myself. Thus, it is hard to utilize the dart CPU profiler, since profiler only works when *in profile mode* and *device connected to computer* :(

[2022-03-13 06:56] fzyzcjy commented on #36865
@dnfield Could you please suggest what I should do for that case? Thanks!

[2022-03-13 07:06] dnfield commented on #36865
Calling `getStackTrace` over and over again (even in release mode, assuming such an API would even be supported in release mode), will cause jank by itself.

For reproducing jank, you'll want to reproduce that jank part of your app as close to the application state your users have as possible and on the same device as your users are using. Then you'll want to use existing profiling tools to invest

[2022-03-13 08:07] fzyzcjy commented on #36865
@dnfield Thanks for your insights! I agree with you.

The problem is that jank is hard to reproduce :( Anyway I will try.

Good question!

[2022-03-13 08:08] fzyzcjy commented on #36865
@dnfield

In my case, I suspect the jank is because there are some of *my* dart code that is running more frequently/heavily than expected. In other words, the jank is (guessed) unrelated to Flutter framework. So hopefully the stack trace will be all about my own Dart code, then I can spot the problem very quickly.

In addition, I see `simpleperf` can sample 1000Hz (and even 4000Hz using call grap

[2022-03-13 11:26] jellynoone opened #48548 "Invalid optional parameter passing with factory constructor tearoffs"
`Dart SDK version: 2.16.1 (stable) (Tue Feb 8 12:02:33 2022 +0100) on "macos_x64"`
and
`Dart SDK version: 2.17.0-182.0.dev (dev) (Sun Mar 6 19:03:46 2022 -0800) on "macos_x64"`

Consider the following example:
[code]

the expected output would be:
[code]

but the actual result is:
[code]

similarly if we replace the optional positional parameters with named ones the same invalid behavior can be ob

[2022-03-13 11:32] jellynoone commented on #48548
Using the `_AImpl` directly yields the expected results:
[code]

[2022-03-13 16:46] speaking-in-code commented on #32874
I just hit this. It would be nice if the buffering happened by default.

[2022-03-13 19:15] MbIXjkee opened #48549 "[analysis] Tried to format an error using NamedTypeImpl"
## Dart analysis issue

Invalid argument(s): Tried to format an error using NamedTypeImpl

## Version information

- Dart SDK 2.16.1
- Dart IntelliJ 213.5744.122
- IntelliJ IDEA 2021.3.1
- Mac OS X 11.5.2

## Details

Invalid argument(s): Tried to format an error using NamedTypeImpl

[code]

## Debug log

[code]

[2022-03-13 23:41] lrhn commented on #48547
This would likely mean making `default` a "built-in identifier", which is one step down the restriction list from "reserved word".

You can use built-in identifiers as variable names, but not as type names. That should be sufficient since that prevents `default foo` from being the start of a valid variable declaration.

[2022-03-13 23:58] AndrewLugg commented on #47520
So swapping to the callbacks does fix the issue with the decodeAudioData, and my original code works now, but if try to play the audio it fails on that instead.

![image](https://user-images.githubusercontent.com/19848590/158084406-bf1e65e1-52b8-426d-9770-b975938fdbb2.png)

Here is my simple testing script, with the callback changes, you will see it works with null-safety false, but it fails with

[2022-03-14 04:55] hanskokx commented on #40303
This has been a problem for me for months.

https://github.com/hanskokx/dexa/blob/bfa403304347e645dd58d63995e166a2d67fdbba/bin/dexa.dart#L43

[2022-03-14 05:28] ArunPrakashG opened #48550 "Constructor tear off and function literal of same class has different runtime type."
The runtime types returned by these two:

- `() => HomePage()`
- `HomePage.new`

is completely different.
Outputs:

`Function Literal: () => HomePage`
`Constructor Tear-Off: ({Key? key, _Location? $creationLocationd_0dea112b090073317d4}) => HomePage`

The runtime type string generated by the tear off doesn't seem to be the right one. Please let me know if this is intended.

**Dart SDK Version:**
D

[2022-03-14 06:58] adnanjpg opened #48551 "The analyzer does not understand `unmodifiable list`"
This tracker is for issues related to:

* Analyzer

In your issue, please include:

* Dart SDK Version:
   * `Dart SDK version: 2.16.1 (stable) (Tue Feb 8 12:02:33 2022 +0100) on "macos_x64"`
* MacOSX Intel

let's go over an example:

[code]

here, as clearly it is that `foo` cannot be modified as it is constant, the analyzer does not understand that and does not warn, so this bug is only catchabl

[2022-03-14 07:26] dopecoder commented on #47916
Will this be included as hotfix? As I checked the latest version of dart in flutter master channel is 2.17.0-182.0.dev. But this commit is included in versions starting from 2.17.0-188.0.dev.

Is there a way to change dart version in flutter sdk?

[2022-03-14 07:42] MbIXjkee commented on #48549
Some info about this case.
This happened when:
class A<B,C>
mixin M on A (without generic)
class D<B,C> extend A<B,C> with M.

This will not be compiled. But instead of show error, analyzer fall and repeat it again and again.

[2022-03-14 08:29] ArunPrakashG commented on #48550
It only has the key parameter.
This is in flutter.

`HomePage({Key? key}) : super(key: key);`

[2022-03-14 08:44] lrhn commented on #48550
I'm guessing the extra parameter was somehow injected by Flutter for use with the [widget inspector](https://github.com/flutter/flutter/blob/f0524d542b2a5b3faae21b6cf7a354c4a2545758/packages/flutter/lib/src/widgets/widget_inspector.dart#L2861), and that's now visible since the constructor can be inspected as an object.

[2022-03-14 09:17] mraleph commented on #48548
/cc @alexmarkov

[2022-03-14 09:44] ArunPrakashG commented on #48550
That might be the cause in it.
But my original question highlight a different case.

Aren't these two the same ?
- () => HomePage()
- HomePage.new

If they are the same, why is the runtimeType different ?
different as in, We get different strings when printing them. Shouldn't they both print the same ?

Please correct me if I am mistaken,

[2022-03-14 09:47] eernstg commented on #48551
It could be useful to track the type of a list literal in such a way that the constant variable in this example is known to be an unmodifiable list. However, we [do specify](https://github.com/dart-lang/language/blob/d16704ae6c9a5fd8f30b7ba9d33a5ab650c7447d/specification/dartLangSpec.tex#L10067) in the section 'List Literal Inference' that every list literal has a type of the form `List<T>` for so