[2021-03-19 12:04] #41845 closed

[2021-03-19 12:11] mkustermann opened #45385 "Failures on [vm] Avoid populating page table entries for the compressed heap up front....bump to linter 1.1.0"
There are new test failures on [[vm] Avoid populating page table entries for the compressed heap up front....bump to linter 1.1.0](https://github.com/dart-lang/sdk/compare/5b5ed5793f1e0b37fc5ffd8b661ea9a7bef0ad20~...da5fa770428cacddf71ec18ad12d26925c98eb2f).

The tests
[code]
are failing on configurations
[code]

[2021-03-19 12:30] #45270 closed

[2021-03-19 13:05] vsmenon commented on #45363
I'm assigning this to `area-analyzer` based on the upstream ( https://github.com/Dart-Code/Dart-Code/issues/3005 ), but it's not clear they are related.

[2021-03-19 13:06] mraleph commented on #45382
Indeed. The simplest fix is just to acquire the same mutex before notifying this would ensure the proper ordering.

/cc @dcharkes

[2021-03-19 13:16] #45385 closed

[2021-03-19 13:19] eernstg commented on #45372
Note that `Foo` means `Foo<num>`, so there is no connection between that particular raw type and `dynamic`, it's exactly as statically safe as `Foo<num>` is when written explicitly.

However, it could be claimed that a raw type is error prone, even in the case where it has nothing to do with `dynamic`.

@srawlins, the document [Strict raw types static analysis option](https://github.com/dart-lang/

[2021-03-19 13:22] dcharkes commented on #45071
After some internal discussion, we've added this to the breaking change request.

After some internal discussion,  we'll keep these as they are for now. (See https://dart-review.googlesource.com/c/sdk/+/186280/11..16/CHANGELOG.md#b11 on telling yourself apart from identical twins. 😄 )

Thanks for your suggestions @simolus3!

[2021-03-19 13:23] dcharkes commented on #45072
We've added rejecting `Pointer`s and `Struct`s in `Expando`s to this breaking change request.

Ping @mit-mit, @vsmenon, and @kevmoo for approval.

[2021-03-19 13:25] jonasfj commented on #45235
hmm, if we're not cancelling the TCP connections, and we're not doing a force `exit(0)` from `dart:io`, then I suppose it could hang,

[2021-03-19 13:38] dcharkes commented on #45381
[code]

The tests are wrong, the boundary should not be at +-2^15, but at +-2^31 for 4 byte/32 bit platforms.

[2021-03-19 14:04] #58354 closed

[2021-03-19 14:19] keertip commented on #44958
As long as the analyzer has support for this, Cider will have support. It takes about a week after the analyzer support rolls into g3 to get it into Cider.

[2021-03-19 15:24] mkustermann commented on #40919
We'll solve this issue as part of https://github.com/dart-lang/sdk/issues/36097.

[2021-03-19 15:26] mkustermann commented on #41629
@aam Interested in looking into this after debugger?

[2021-03-19 15:35] vishnuagbly commented on #38894
really looking forward to this update, will be most helpful

[2021-03-19 15:39] devoncarew commented on #45374
cc @srawlins

[2021-03-19 15:41] #38158 closed

[2021-03-19 15:46] aam commented on #41629
Seems to be obsolete now:
[code]

[2021-03-19 15:47] aam commented on #41629
It doesn't crash, which is good, but the regexp in spawned isolate is not as expected.

[2021-03-19 15:52] vaibhav135 commented on #45379
@mraleph  is there any way to contact the mentors because the mailing list https://groups.google.com/g/dart-gsoc is not helping much. Because someone just replied this:

which really didn't help me much and by the looks of it, It seems like the mentors are not active in the group.
Please tell me if there is any way to ask the mentors for the directions.
Thank you

[2021-03-19 15:57] #44958 closed

[2021-03-19 15:58] srawlins commented on #45380
Analyzer 0.41.2 understands 2.12.0 to be the "current version":

[code]

[2021-03-19 15:58] #45380 closed

[2021-03-19 15:59] srawlins commented on #45130
Analyzer 1.0.0 understands the current language version to be 2.13.0:

[code]

[2021-03-19 15:59] #45130 closed

[2021-03-19 16:04] srawlins commented on #33767
Done?

[code]

[2021-03-19 16:05] jcollins-g commented on #45090
I do not know how one is supposed to do this, given the many restrictions on the SDK repository.   Perhaps @athomas can assist?

[2021-03-19 16:30] #57708 closed

[2021-03-19 16:49] annagrin opened #45387 "[dev_compiler] Support showing inherited fields in the debugger"
**Issue**

Superclass fields do not show in `Local variables` window in the debugger.

Evaluation works fine, but local variables returned from dwds do not contain inherited fields - note that watch window and expression evaluation box evaluate `b.t` but it does not appear in local variables view.

We currently use ddc runtime function `sdk_utils.getFields` to get the fields of the object (`this`

[2021-03-19 17:00] srawlins commented on #45374
@nshahan I'm working on a fix. But to clarify, the CL you linked to is an effort to delete or reduce status files? And in this case, the result was new test failures? I'm all for that; I didn't know we still had status files :P Just wanted to clarify.

[2021-03-19 17:18] nshahan commented on #45374
The status files do still exist but only as a mechanism to skip running tests (and maybe to mark tests as slow and needed more time, I think). Since some of these tests for the triple shift operator have been around for a few years at some point we started skipping them.

Now that the feature is becoming a reality I wanted to start running these tests by deleting the lines in the status files that

[2021-03-19 17:27] alexmarkov commented on #45384
Small repro:

[code]

This crash is not related to triple-shift operator.

[2021-03-19 17:31] mkustermann commented on #45384
Maybe enabling those tests (which were skipped due to triple shift) unveiled an existing issue then.

[2021-03-19 17:55] #45330 closed

[2021-03-19 17:58] gspencergoog commented on #45342
Could we also wrap `IAsyncOperationWithProgress<TResult,TProgress>` in a similar way?  Then we could cover the majority of all async Windows operations.

I'm not too psyched about polling the status with sleeps, but if it were wrapped well enough and could be upgraded later to use tasks or something without changing the wrapped API, that would be fine as a start.

(@timsneath would this fit your r

[2021-03-19 18:07] bkonyi opened #45388 "standalone_2/io/large_file_read_small_file_test flaky -> Timeout on dartk-win-release-x64"
CQ results: https://ci.chromium.org/ui/p/dart/builders/ci.sandbox/vm-kernel-win-release-x64/15889/overview

[2021-03-19 18:13] richardheap commented on #44768
@dcharkes I found a similar example to @TimWhiting 's use case. This one comes from the AWS C core library that, for me, is used by the AWS encryption SDK (partial, but sufficient and workable, implementation coming to pub.dev shortly).

From its hash table implementation: https://github.com/awslabs/aws-c-common/blob/main/include/aws/common/hash_table.h

The function to `begin` iteration of a map

[2021-03-19 18:20] mkustermann commented on #45384
We should verify whether this happens also on the stable channel and if so possibly file a cherry-pick request.

Thanks for looking into it, @alexmarkov

[2021-03-19 18:33] alexmarkov commented on #45384
The following happens with `!=` comparison:

1) `ApplyClassIds` pass converts it into `CheckedSmiComparison` and then it is inlined into `main`.
2) It uses results of LoadField instructions which yield nullable ints, so CheckedSmiComparison is not converted into EqualityCompare yet:

[code]

3) `AllocationSinking_Sink` pass forwards and removes loads:

[code]

4) After that, next `TypePropagation`

[2021-03-19 18:39] athomas commented on #45090
I can create them, could I get a list of tag-names/hashes?

How is the analyzer published? Ideally we'd automate that. I'm sceptical about opening up tags on the SDK to everyone, I'd much rather we find a way to automate/semi-automate publishing the analyzer package.

[2021-03-19 18:46] a-siva opened #45389 "co19/LanguageFeatures/Generic-functions-as-type-args/typedef2_A01* tests fail with RuntimeError"
co19/LanguageFeatures/Generic-functions-as-type-args/typedef2_A01* tests fail with RuntimeError on the following configurations

[code]

[2021-03-19 18:57] stefantsov commented on #45334
I filed a co19 issue for the three tests that we agree should be updated: https://github.com/dart-lang/co19/issues/1029.

[2021-03-19 19:04] stefantsov commented on #45334
Some of the remaining test failures are being worked on here: https://dart-review.googlesource.com/c/sdk/+/192146.

[2021-03-19 19:08] alexmarkov commented on #45384
This problem doesn't appear on stable. It seems like previously code generation of EqualityCompare handled boxed inputs even if instruction requested unboxed representation in `RequiredInputRepresentation`. That code was replaced with UNREACHABLE in the recent change https://dart-review.googlesource.com/c/sdk/+/185660.

[2021-03-19 19:11] timsneath commented on #45342
Yes, I think so! This is stretching to the edge of my knowledge / expertise
(there's a reason I'm not a Google SWE!), but I'd be more than happy to
pair up with someone to try and get this working.

On Fri, Mar 19, 2021 at 10:58 AM Greg Spencer ***@***.***>
wrote:

[2021-03-19 19:24] mrcsilva opened #48887 "[IOClient] HTTPS request to server with invalid Root CA takes too long"

[2021-03-19 19:40] eernstg commented on #45389
Note that at least some of these tests need to be adjusted, cf. https://github.com/dart-lang/co19/issues/1030.

[2021-03-19 20:50] srawlins commented on #42971
This now works (for me) using `dartanalyzer`, but I have bad news: `dartanalyzer` is being removed in favor of `dart analyze`, which does not have an `--options` flag. Follow https://github.com/dart-lang/sdk/issues/45286.

[2021-03-19 20:50] #42971 closed

[2021-03-19 20:50] srawlins commented on #42634
cc @matanlurey who had to navigate this API in deciding if a String is potentially constant for a security API.

[2021-03-19 20:54] srawlins commented on #36119
The analyzer now produces sane messages here, without any reference to "bottom-type."

[2021-03-19 20:54] #36119 closed

[2021-03-19 20:57] srawlins commented on #35186
FYI, generic metadata is landing soon. I think the annotation is cleaner, but Leaf's clever solution is like, zero work.

[2021-03-19 20:57] Hixie opened #45390 ""flutter analyze --watch --flutter-repo" doesn't trigger on all changes any more"
A few months ago I noticed that if I ran `flutter analyze --watch --flutter-repo` in one window and `flutter analyze --watch` in another (for another project), the second one would sometimes not trigger when changes happened.

More recently, I've noticed that even just `flutter analyze --watch --flutter-repo` doesn't always trigger when a file is changed.

I've changed the max open files limit wit

[2021-03-19 20:58] jcollins-g commented on #45090
The analyzer package (and packages it is released concurrently with) is currently published by hand out of a SDK checkout after landing a CL to update changelogs and pubspec.yaml.    I too think it would be good to automate this somehow.

[2021-03-19 21:09] srawlins commented on #32285
CC @stereotype441 who is working on "not promoted because ..." messaging.

[2021-03-19 21:13] #30596 closed

[2021-03-19 21:14] #27404 closed

[2021-03-19 21:54] a-siva commented on #28793
//cc @a-siva

[2021-03-19 22:00] aam opened #45391 "Failures on [vm/concurrency/debugger] Fix pool patching synchronization for lightweight isolates breakpoints."
The tests
[code]
is failing on configurations
[code]

[code]

[2021-03-19 22:04] MichaelTamm opened #45392 "Analyzer: `prefer_initializing_formals` warning not correct?"
I have the following class:

[code]
With this two constructors it is ensured, that either `url` or `filePath` is not `null`.
Unfortunately the Dart analyzer `prefer_initializing_formals` issues the warning:
"Use initializing formals when possible." for each constructor.

I think this is *wrong*, because the proposed constructor

`const Photo.fromUrl(this.url): filePath = null;`

would be indeed mo

[2021-03-19 22:11] bwilkerson commented on #45392
It is allowed to include a type with an initializing formal parameter, as in
[code]
Whether this lint should be suggesting this pattern is another question.

[2021-03-19 22:15] aam commented on #45391
thread 1 IsolateGroup::ForEachIsolate attempts to grab isolates_lock inside of RunningWithStoppedMutators and gets deadlocked as another thread is stuck on exiting the safepoint after acquiring that lock.

thread 1
[code]

thread 2:
[code]

[2021-03-19 22:21] #45391 closed

[2021-03-19 22:43] PlugFox commented on #40919
We are waiting for the addition of this feature, it will make possible to use isolates more often!
Thank you so much!

[2021-03-19 22:45] scheglov commented on #45090
I use consistent commit message (OK, I just copy/paste it), so it is easy to find my publishes.

[code]

6b575c72ec864d5d47392ba7dd64d0e6896b819f Prepare to publish analyzer 1.2.0 and _fe_analyzer_shared 18.0.0.
49642ffaa98a6867973c1e03f6465a01a1701123 Prepare to publish analyzer 1.1.0 and _fe_analyzer_shared 17.0.0.
1faa9f0f8c931d1ead0eb6827f60ef63cedf9679 Prepare to publish analyzer 1.0.0 and _f

[2021-03-19 23:16] Piinks opened #45393 "Add dart fix support for `moved` classes"
We would like to supply fixes that can change a class name based on the method being called.

For example:
[code]

should be migrated to
[code]

The is not specific to the *same* method being moved across classes, as we would want to be able to identify and compose fixes that can feasibly migrate `classA.methodA` to `classB.methodB`, or constructors too.

Another example of this would be going fro

[2021-03-19 23:39] mraleph commented on #45379
@vaibhav135 mentors email is listed in the ideas page you have linked to.

fwiw, I also linked you to the code of the `pub` tool which is the code base you would have to work on if you were to work on the idea you have linked to, as an exercise try looking around in that code. Where is `pubspec.yaml` parsed? Where is support for `git` dependencies implemented? How `pubspec.yaml` version constraint

[2021-03-20 00:01] leafpetersen commented on #45389
I have marked all of these tests as bad in the spreadsheet pending a fix.  @eernstg can you update here when a fix has landed for the tests?

[2021-03-20 00:10] goderbauer commented on #35234
The check is complaining that this ignore is not needed, but if I remove it, the analyzer is not happy: https://github.com/flutter/flutter/blob/c0bcb4fc16381ea0d9e2ff8b22843ab961167308/packages/flutter/test/widgets/shortcuts_test.dart#L71

Same for the other two `// ignore: prefer_const_literals_to_create_immutables` in that file.

[2021-03-20 01:49] leafpetersen opened #45394 "Analyzer doesn't check bounds correctly for generic function types as type arguments"
The instantiation of `CB` in the test method in the following example should be an error, since `FB<F>` is not subtype related to `F`.  The analyzer when run with the `--enable-experiment=generic-metadata` flag emits no error.

[code]

cc @scheglov

[2021-03-20 01:50] leafpetersen commented on #44926
I think we seriously need some more test coverage here.  There are no static error tests at all that I see in the language directory for this.  c.f. https://github.com/dart-lang/sdk/issues/45394 for an issue found accidentally.

[2021-03-20 01:53] leafpetersen commented on #44926
It would also be good to get more runtime type test coverage for this, e.g. tests that  casts to generic type parameters work correctly (both pass when appropriate, and throw when appropriate) when the parameter is instantiated with a generic function.

[2021-03-20 01:55] leafpetersen commented on #44916
https://dart-review.googlesource.com/c/sdk/+/192261

[2021-03-20 02:00] scheglov commented on #45390
We might either not get corresponding notifications from `package:watcher`, or DAS does not handle these notifications correctly. To see file notifications we can use `--protocol-traffic-log` of DAS, but currently `flutter analyze` does not support it. So, I have [a PR](https://github.com/flutter/flutter/pull/78674) to add this option to `flutter analyze`.

[2021-03-20 02:59] scheglov commented on #45394
https://dart-review.googlesource.com/c/sdk/+/192280

[2021-03-20 03:07] Yczar opened #45395 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-201.8743.12.41.7042882`
- `2.10.2`
- `AI-201.8743.12.41.7042882, JRE 1.8.0_242-release-1644-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

[2021-03-20 06:42] rakudrama commented on #45376
This looks like an analyzer bug:

[code]

What might be happening is that `(-2 >>> 1)` is incorrectly evaluated.
The results of `int.>>>` should always be non-negative, but if it was negative, that would make line 26 an error.
[code]

[2021-03-20 09:34] oligazar opened #45396 "Migration tool crashes on reference to `loadLibrary` for a deferred library"
When running `dart migrate` got following exception report:

[code]

`flutter doctor`
[code]

[2021-03-20 10:01] marcelgarus commented on #44495
Maybe interesting: Elixir also uses an actor approach for concurrency. The equivalent to `Isolate`s are `Process`es and you can register their ids/ports in a global registry: https://hexdocs.pm/elixir/master/Process.html#register/2

[2021-03-20 11:41] eernstg opened #45397 "Missing bounds check on metadata, using generic-metadata"
Consider the following program (using `--enable-experiment=generic-metadata`):

[code]

This program is rejected by the CFE with the following error message:

[code]

This looks correct, the required subtype relationship is actually absent. However, the analyzer (from commit f5432d7164ca0deb1747faf910080551fd3fe280) does not emit an error message for the bounds violation.

[2021-03-20 12:17] eernstg opened #45398 "Implicitly induced setter of late-with-init does not create name clash"
Consider the following program:

[code]

The CFE reports an error on `set j`, because there is a name clash between that declaration and the implicitly induced setter caused by `late final int j;`.

[code]

However, the analyzer (from commit f5432d7164ca0deb1747faf910080551fd3fe280) fails to report this error.

[2021-03-20 14:30] SteveAlexander opened #45399 "Why is `Never` allowed by the analyzer pretty much anywhere?"
Dartpad in null safe mode, and the Analyzer in Dart 2.13.0-137.0.dev, both allow code like `var x = 1 + 2 + Never;`.

When it runs, there's an error like "Error: A value of type 'Type' can't be assigned to a variable of type 'num'."

Consider this code:

[code]

The analyzer catches each of these, except `Never`.

![image](https://user-images.githubusercontent.com/4321921/111873263-c433f480-898f-1

[2021-03-20 15:03] albertodev01 commented on #38934
I am having the same issue. I have updated my `analysis_options.yaml` file to include the `prefer_const` lint and my CI pipeline breaks `const` constructors aren't recognized.

![sd](https://user-images.githubusercontent.com/2848696/111874411-6efae180-8995-11eb-88b2-eec4a87a0065.png)

This is a screen from codecov. I haven't found a solution for this yet so I have changed the minimum coverage from

[2021-03-20 15:11] izznfkhrlislm commented on #43943
I am also having this issue both in Android Studio and VSCode. Temporarily solved the issue by increasing the Android Studio's custom VM options to `-Xmx4096m` in `Help -> Edit Custom VM Options`

[2021-03-20 19:40] #45394 closed

[2021-03-20 21:28] Abion47 opened #45400 "Bug: Type inference of List parameter in method with restricted type parameter resulting in analysis error"
I'm creating this issue in response to a [question that was asked today on StackOverflow](https://stackoverflow.com/q/66725731/1255873).

As of Dart 2.12.0, the following code results in a static type error:

[code]

[code]

The same code when run in Dart 2.10.5 compiles successfully and prints the following:

[code]

When the `sums` method is altered to include the suggested fix, the error goes a

[2021-03-21 02:50] vsmenon commented on #45395
Was there any crash or other info here?

[2021-03-21 02:55] vsmenon commented on #45399
This appears to be a bug in the analyzer.  The CFE (compiler front end) statically fails:

[code]

[2021-03-21 13:12] dolpheen opened #45401 "Crashes in DartVM on iOS. dart::SimpleHashMap::Lookup"
Crashlytics reports crashes on hashmap.cc in Dart SDK, reported on different devices models with iOS 12,13,14

The crash stack is different but ends always on hashmap.cc SimpleHashMap::Lookup, please see several reports attached
Flutter doctor
`
[✓] Flutter (Channel stable, 2.0.1, on macOS 11.2.3 20D91 darwin-x64, locale ru-RU)
    • Flutter version 2.0.1 at /Users/vadimlukicev/development/flutter

[2021-03-21 19:50] FabioPaganoAPSystem commented on #37695
In my case (sometimes appeared error "HttpException: Connection closed before full header was received" instead of blank) the call was to an https address using Microsoft Internet Information Services as backend, in the SSL settings of the website in IIS i had mistakenly set "Client certificates: Accept" instead of "Client certificates: Ignore", setting "Ignore" solved the problem.

[2021-03-21 19:52] FabioPagano commented on #37695
In my case (sometimes appeared error "HttpException: Connection closed before full header was received" instead of blank) the call was to an https address using Microsoft Internet Information Services as backend, in the SSL settings of the website in IIS i had mistakenly set "Client certificates: Accept" instead of "Client certificates: Ignore", setting "Ignore" solved the problem.

[2021-03-21 22:05] lrhn commented on #45400
The difference is that `res = res + list[i] as T;` means `res = (res + list[i]) as T;`, whereas `res += list[i] as T;` means `res = res + (list[i] as T);`. The latter cast is unnecessary since `list[i]` already has type `T`.

The error comes from `res` having type `T extends num`, so all we know about `res + something` is that it returns `num` (that's what `num.operator+` does, and all we know abo

[2021-03-21 22:13] #45400 closed

[2021-03-21 23:00] modulovalue opened #45402 "[List.from patch] wouldn't it make sense to handle lists differently here?"
Hello,

https://github.com/dart-lang/sdk/blob/64a8d2a8b8b85a6e3221ebbc80f36a7746045b4e/sdk/lib/_internal/vm/lib/array_patch.dart#L32-L45

It is common to use List.from to clone lists.
Wouldn't it make sense to also check if the incoming `elements` Iterable is a List, to then switch to something like what can be found in the List.filled body i.e.

[code]

[2021-03-22 00:21] eernstg commented on #45397
Duplicate of #45394

[2021-03-22 00:21] #45397 closed

[2021-03-22 00:24] modulovalue opened #45403 "[dart:typed_data] Typed lists could safely call unsafe versions of [] and []=."
Hello,

https://github.com/dart-lang/sdk/blob/9d1a307954e3e8d5c0b0444829dfb59251f9ed82/sdk/lib/_internal/vm/lib/typed_data_patch.dart#L2730-L2746

All typed data lists perform a bounds check in their [] and []= operators. (e.g. L2734 & L2742)
Many iterable methods are either known to never test positive (e.g. forEach) or already perform the check themselves (e.g. fillRange)

Would the following ma

[2021-03-22 02:21] srawlins opened #45404 "Add an analysis option to allow specifying errors which cannot be ignored with comments."
As a solution to https://github.com/dart-lang/sdk/issues/44237 and issues cropping up about unsafe_html, pedantic, and Flutter's web-compiled dart:ui, @bwilkerson and I are proposing an analysis option which allows for a centralized declaration of what analysis codes cannot be ignored with comments (`// ignore:` and `// ignore_for_file:`). Such codes are "un-ignorable." The proposal is a new optio

[2021-03-22 02:25] srawlins commented on #45404
CC @davidmorgan @matanlurey  the "un-ignorable" concept is for security-based lints internally so I'd like a thumbs up that this is a sound change. CC @bwilkerson @devoncarew

[2021-03-22 03:31] srawlins commented on #45399
This is .... a bizarre bug. Good catch!

[2021-03-22 04:19] MichalDanielDobrzanski opened #45405 "Wrong calculation for subtracting days for April 1st of 2021 for en_US"
**Describe the bug**
The straightforward calculation yields wrong data.
The same case is for Flutter's DateTime class.
The culprit is **subract days** method.

**To Reproduce**
Steps to reproduce the behavior:

1. Run the app on **en_US** locale.
2. Use the code with DateTime:
[code]
3. Call it with: `DateTime(2021,4,1).subtract(Duration(days: 4))`
4. Observe **March 27th**, not **March 28th**.

*

[2021-03-22 04:43] sgrekhov commented on #45381
Fixed by https://github.com/dart-lang/co19/commit/11238c2757d7f513c6445880402698cfbdc8aa5c

[2021-03-22 04:43] #45381 closed

[2021-03-22 07:28] davidmorgan commented on #45404
For google3 we're good, we fully control the analysis options yaml in the context where enforcement matters (the build).

Thanks.

[2021-03-22 07:54] #58352 closed

[2021-03-22 08:32] ameshkov commented on #45116
Please note that the bug actually caused not just by Sophos, but any NETransparentProxyProvider network extension.

The bug is initially Apple's, but it seems they have no intention to fix it and recommend reporting it here.

Discussion on Apple dev forum: https://developer.apple.com/forums/thread/670163

Some relevant quotes from the thread:

In the end, Apple representative suggested to open a b

[2021-03-22 08:59] shinyford commented on #45116
Brilliant insight - thanks for adding that @ameshkov. That all fits with the fact that this problem has been observed with other AV solutions too.

Are you able to post the patch you made to the Dart SDK as a short-term fix? Would be very grateful.

[2021-03-22 09:03] mraleph commented on #45401
These are all out of memory crashes. Crashalytics is just symbolising them in a strange way (possibly because of how code is shared in the binary). I have resymbolized all except one using @flutter-symbolizer-bot infrastructure and got the following stacks:

<details>
[code]

[code]

[code]

[code]
</details>

(for `dartworker_14.4.1_iPhone6s.log.txt` our tooling can't heuristically detect the loa

[2021-03-22 09:03] #45401 closed

[2021-03-22 09:05] ameshkov commented on #45116
@shinyford unfortunately, I don't have access to it. I'll ask the author to take a look at this issue and supply the patch if possible.

[2021-03-22 09:25] lrhn commented on #45405
This is working as intended. You should never do *calendar* arithmetic using local time.

You are not subtracting calendar days here, you are subtracting multiples of 24 hours, 96 hours in this case.
If you subtract 96 hours from local time 2021-04-01T00:00:00, you get 2021-03-27T23:00:00 if *daylight saving* started at 2021-03-28T02:00:00. Using local time means that you can change time zones, wh

[2021-03-22 09:35] lrhn commented on #45403
@mkustermann Is this worth doing, or are we optimizing the methods internally already?

[2021-03-22 09:36] dmitrymozheyko opened #45406 "dart migrate exception"
SDK version (2.12.2)

`NoSuchMethodError: The getter 'node' was called on null.
Receiver: null
Tried calling: node at offset 3064 in /Users/dm/work/sit-co.ru/shattecustomermobile/sources/shatte_customer/lib/bloc_gallery/gallery.dart (ShatteApp?.logoImage)

#0      Object.noSuchMethod (dart:core-patch/object_patch.dart:54:5)
#1      EdgeBuilder._handlePropertyAccess (package:nnbd_migration/src/edge

[2021-03-22 09:47] lrhn commented on #45402
Sadly, yes. These days I'd recommend `list.toList()` or `[... list]`, or even `List.of` when the types match.

We *could* detect an incoming list as well, and add more code to handle that special case.
It would be one extra type check, which would sometimes be unnecessary, and in other cases might give a more efficient operation.
The tradeoff consideration is then whether the extra check is worth

[2021-03-22 09:59] mkustermann commented on #45403
For maintainability reasons our typed data classes are using mixing to get most of the methods. So we would want to avoid maintaining manual almost-identical copies in the concrete classes if possible.

Normally our optimizing compiler should inline calls to `[]` and `[]=` and either eliminate the bounds check (if it knows the index is within bounds, e.g. for caller that use `for (int i = 0; i < t

[2021-03-22 10:06] mraleph commented on #38934
@albertodev01 as https://github.com/dart-lang/sdk/commit/6c19a8fc81f6196abb181500e6e58f312aa43e0a explains we only record enough information to mark constructor itself as executed, but not enough to mark individual initializers, so what you are seeing is expected.

@jensjoha can comment further on how realistic it is to record enough information to also mark initializers.

[2021-03-22 10:33] mraleph commented on #45384
I feel that adding a pass like this is a wrong approach - because you can't guarantee that this sort of replacement does not happen later.

I think the right approach here is to track on the graph whether representations can be mismatched (i.e. whether we are expected to legalize the graph by running select represenations) and if they can't be mismatched (after the second SelectRepresentations) th

[2021-03-22 11:04] stereotype441 commented on #45281
Duplicate of #45202

[2021-03-22 11:04] #45281 closed

[2021-03-22 11:09] stereotype441 commented on #45406
@dmitrymozheyko thanks for the report!  Are you able to make progress by running the tool with the command-line argument `--ignore-exceptions`?

[2021-03-22 11:11] dmitrymozheyko commented on #45406
I removed ? sign after class names in static members calls and migration completes succcesfully

[2021-03-22 11:13] stereotype441 commented on #45396
@oligazar thanks for the bug report!  Are you able to make progress by running the tool with the command-line argument `--ignore-exceptions`?

[2021-03-22 11:13] thinhhoangnguyen opened #45407 "The default value of an optional parameter must be constant."
There's a problem going on in Dart 2.12. I have read the documentation very carefully and Dart said: "You can have required named parameters of nullable types, and optional named parameters of non-nullable types (if they have a default value)." And Dart doesn't mention that the default value of an optional parameter must be constant. And here's what I got:
![image](https://user-images.githubuserco

[2021-03-22 11:15] eernstg commented on #45407
Any default value for a formal parameter must be constant.

[2021-03-22 11:19] thinhhoangnguyen commented on #45407
How about this one
![image](https://user-images.githubusercontent.com/35698467/111982035-0cdbe100-8b3b-11eb-85cd-47eb47d67477.png)

[2021-03-22 11:21] eernstg commented on #45407
Are you referring to `this.id`? The default value for that parameter is the empty string literal, and that's a constant expression, so that's fine.

[2021-03-22 11:21] thinhhoangnguyen commented on #45407
Tks you

[2021-03-22 11:22] stereotype441 commented on #45406
Thanks!  That's a valuable clue.

[2021-03-22 11:51] #45407 closed

[2021-03-22 12:10] jonasfj commented on #45355
try: `dart pub outdated --mode=null-safety --transitive` that should show the transitive dependencies too.

[2021-03-22 12:18] stereotype441 commented on #45355
@johngithubby which version of Flutter are you using?  It's possible that could have an impact.

[2021-03-22 12:44] jensjoha opened #45408 "test.py returns 5 and turns our builders purple"
Create `pkg/front_end/test/foo_gitx_test.dart` with content like

[code]

Running `tools/test.py --progress=status --report --time --silent-failures --clean-exit -ncfe-unittest-asserts-release-linux "pkg/pkg/front_end/(*?)(_gitx)_test" ; echo $?` gives
[code]

Notice how it failed, but the process still had exit-code 0.

If I add `--write-results --output-directory tmpdir` (so run `tools/test.py -

[2021-03-22 13:01] whesse commented on #45408
OK, this all seems to be working as intended.
When tests fail, the test.py step should still return an exit code of 0, and just write the test failures in the results.json that it produces.  Test.py should only exit with non-zero if there is a failure that prevents it from running tests and producing a valid results.json with the results of those tests.

Test.py cannot handle the Dart VM running a

[2021-03-22 13:11] jensjoha commented on #45408
The fact alone that it isn't consistent with itself implies - at least to me - that this is not working as intended.

[2021-03-22 13:21] hashweather opened #45409 "What is the Rationale behind Null Safety Since Dart already has Optionals"
Dart already has this thing called Optionals. For example

[code]
From the above function, extraData is an Optional Argument.

Why then is the need of including nulls into the language?

[2021-03-22 13:33] fdietze opened #45410 "http: on redirect, headers are copied to new request"
On a HTTP 302 redirect, the headers of the original request are copied over to the new request.
AFAIK, copying headers in this case is wrong.

https://github.com/dart-lang/sdk/blob/master/sdk/lib/_http/http_impl.dart#L2493-L2498

This is causing problems in my application. My url works well with `curl -L` but does not with `dart http`.

[2021-03-22 13:39] lrhn commented on #44656
This appears to be a Windows-only issue, and likely caused by Windows simply not providing the correct time zone information.
If you run the following program:
[code]
it goes:
[code]
on Linux and
[code]
on Windows. Local times before epoch appears to have no time zone information, *even with an explicit time zone set*.

I can't say whether we're doing something wrong, or it's Windows doing it wron

[2021-03-22 13:40] lrhn commented on #39619
Let's not do anything here, except document that the value can overflow.

[2021-03-22 13:45] DanTup opened #45411 "Analyzer fails to analyze/resolve mixin that implements class"
Moved from https://github.com/Dart-Code/Dart-Code/issues/3222.

The following (invalid) code:

[code]

Fails to be properly parsed/resolved with the following exception occurring on a `!`:

<img width="1255" alt="Screenshot 2021-03-22 at 13 42 11" src="https://user-images.githubusercontent.com/1078012/111998993-74326a80-8b14-11eb-9981-481282baec6f.png">

The exception doesn't make it back to the u

[2021-03-22 13:49] lrhn commented on #45296
Fixed.

[2021-03-22 13:49] #45296 closed

[2021-03-22 13:58] eernstg commented on #45409
Big question. Here's a tiny answer: Null safety is the ability of the static analysis to make a distinction between null and other objects. Pre-null-safety code would allow a variable with type `String` to have the value null as well as any string; with null safety a variable of type `String` can refer to any string, but it can't be null. All the changes related to null safety were included becaus

[2021-03-22 14:08] eernstg commented on #45409
I think I can close this, because it doesn't give rise to any actionable issues. Also, questions like this are probably better positioned on StackOverflow or similar systems tailored for questions and discussions.

[2021-03-22 14:08] #45409 closed

[2021-03-22 14:23] jensjoha commented on #38934
Unfortunately I don't think it's very realistic to add real tracing of initializers (that also works across edits).
We would have to be able to symbolically reference expressions --- the best we came up with back then was a counting scheme where we could say that the ath, bth and cth expressions (for instance) were evaluated --- but it seems rather complicated to do that and make it work consisten

[2021-03-22 14:29] askeksa-google opened #45412 "Failures on [ VM ] Ensure shared timeline objects are protected by locks"
There are new test failures on [[ VM ] Ensure shared timeline objects are protected by locks](https://github.com/dart-lang/sdk/commit/a62e14488215128776db34a65e565df0b6559cac).

The tests
[code]
are failing on configurations
[code]

[2021-03-22 14:34] whesse commented on #45408
I think that removing the --silent-failures flag could make the local run of test.py have a non-zero exit code, instead of passing.
But the failure when run with the output directory indicates that running on the buildbots would cause them to turn purple.

Handling an unexpected exit code as something other than a failure to run tests would require a decision on what type of error to report this a

[2021-03-22 14:56] bwilkerson commented on #45411
@scheglov

[2021-03-22 14:57] whesse commented on #45408
Sorry, it is in fact the --clean-exit flag that is causing test.py to return with exit code 0 even if there are test failures.  So that flag should be used if you want local runs of test.py to indicate whether tests fail or not.

We should make sure that the check in realResults() that causes the exit code -5 on an unexpected VM exit is also ported to the results() function that is run when we don

[2021-03-22 15:10] vsmenon commented on #45405
Lasse - do you want to keep this open?

[2021-03-22 15:12] bwilkerson commented on #45404
It might be worth pointing out that the relatively new diagnostics related to ignore comments are, and will remain to be, un-ignorable. This is a consequence of the timing of when we process ignore comments and run those validation checks, not a preference, so if it becomes an issue we might be able to fix it.

We might want to support other groups at some point. One that comes to mind if `all` as

[2021-03-22 15:23] devoncarew commented on #45404
Thanks for driving this Sam! The overall design lgtm.

Will we ever need a parameter for the `cannot-ignore` code? In your first example above, the `unused_import` item has a parameter while the two cannot ignore codes are just listed in a list.

[2021-03-22 15:32] aam commented on #45410
Thanks for the report.
What kind of request is being redirected (GET/HEAD/...)?
My understanding is that new request should point to new URL but otherwise be identical to the original one.
Can you provide a little more details as to why you think copying headers is wrong?

[2021-03-22 15:51] fdietze commented on #45410
In my case, it's a GET request.

The first http server checks my `Authorization` header and generates a pre-signed url to download a file from another host. When the `Authorization` header is also attached to the second request, the second request fails, because two auth mechanisms are provided at the same time.

It works fine with `curl` and `http`, but not with the dart http client. I tested it

[2021-03-22 16:09] #45331 closed

[2021-03-22 16:20] nshahan commented on #45376
cc @srawlins

[2021-03-22 16:23] bwilkerson commented on #45404
Not to speak for Sam, but I think the answer is "no". As Sam mentioned (shortcoming 4), there's an unfortunate inconsistency in the way we're specifying some of our options (`code:severity` to set the severity vs `cannot-ignore: [code, ...]` to make codes un-ignorable). While it would be nice to clean it up (I really like Sam's proposal in shortcoming 4), there is a migration cost to users if we d

[2021-03-22 16:28] jakemac53 opened #45413 "Dart2js compiler crashes on null values in `while` conditions"
Repro, must be in an opted out library:

[code]

This stack overflows the compiler:

[code]

cc @rakudrama

[2021-03-22 16:28] maxim-saplin opened #45414 "dart:math, log() function is slow"
Dart SDK version: 2.13.0-116.0.dev (dev) (Sun Mar 7 18:57:20 2021 -0800) on "windows_x64"

Came across an article regarding `FFI`, there was a comparison of **Dart** performance to **gcc**. The sample code was trivial and used `log()` in a loop and the difference in performance was 10x. Got curious and did my own micro-benchmarks using Dart, gcc and .NET 5.

Empty loop (not included in code below)

[2021-03-22 16:32] aam commented on #45410
Aha, thanks for the details. It looks like "Authorization" header is a special case that is handled differently by different runtimes/languages(for example see https://developers.nest.com/guides/api/how-to-handle-redirects).
Perhaps we should consider doing the same in Dart.

Meanwhile, Dart developers have a control over whether redirect are automatically followed via https://api.flutter.dev/flut

[2021-03-22 16:34] #45374 closed

[2021-03-22 16:40] johngithubby commented on #45355
Here you are @stereotype441

Flutter 2.0.2 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 8962f6dc68 (11 days ago) • 2021-03-11 13:22:20 -0800
Engine • revision 5d8bf811b3
Tools • Dart 2.12.1

[2021-03-22 16:43] iarkh opened #45415 "Dart2js crashes with RangeError on two co19 Generic-functions-as-type-args tests"
Dart2js crashes with the following co19 tests in the recent roll:

- [LanguageFeatures/Generic-functions-as-type-args/class_A01_t01](https://github.com/dart-lang/co19/tree/master/LanguageFeatures/Generic-functions-as-type-args/class_A01_t01)
- [LanguageFeatures/Generic-functions-as-type-args/class_A01_t02](https://github.com/dart-lang/co19/tree/master/LanguageFeatures/Generic-functions-as-type-arg

[2021-03-22 16:43] johngithubby commented on #45355
This is the result @jonasfj :

dart pub outdated --mode=null-safety --transitive
Showing dependencies that are currently not opted in to null-safety.
[✗] indicates versions without null safety support.
[✓] indicates versions opting in to null safety.

Package Name                   Current    Upgradable  Resolvable  Latest

direct dependencies: all support null safety.

dev_dependencies: all suppo

[2021-03-22 17:01] daninnunez27 opened #45416 "Customer-reported issue with NNBD migration tool: Could not apply migration"
Could not apply migration

Error: Bad state: Cannot apply migration. Files on disk do not match the expected pre-migration state. Press the "rerun from sources" button and then try again. (Changed file path is E:\Progranacion Proyect\Flutter_Proyects\Api-Citas\Api-Citas-Comb-Edu - copia - copia\lib\src\providers\cita_provider.dart)

Please fill in the following:

**Name of package being migrated (

[2021-03-22 17:07] stereotype441 commented on #45369
I'm able to reproduce this.  Investigating now...

[2021-03-22 17:10] pq opened #58356 "`avoid_multiple_declarations_per_line` should skip declarations in for statements"
For example:

[code]

shouldn't trigger?

/cc @lukepighetti

[2021-03-22 17:14] lrhn commented on #45405
Let's close it. If there is some aggravating information we're missing, we can reopen.

[2021-03-22 17:14] #45405 closed

[2021-03-22 17:20] srawlins commented on #45376
I just landed a change for >> in const evaluation. https://github.com/dart-lang/sdk/commit/e267fb2f19fbc2511d708bb4f37bf38d435c7bff

[2021-03-22 17:26] stereotype441 commented on #45355
@johngithubby

Hmm, it's curious that `flutter_driver` is the package being complained about, but it doesn't appear in the list of transitive dev dependencies.  Is it possible that you're depending on the `flutter_driver` but didn't list it in your `pubspec.yaml` file?

[2021-03-22 17:34] jimmyff opened #45417 "Null safety errors despite not using null saftey yet"
- Dart SDK version: 2.12.1 (stable) on "linux_x64"

I've just started a new project using package: `firebase-functions-interop`

I try and run `pub run build_runner build --output=build` and I get _so_ many null safety errors. I understood null soundness was an opt in feature? I haven't opted in yet.

I've attempted to run `pub run --no-sound-null-safety build_runner build --output=build` instead

[2021-03-22 17:50] stereotype441 commented on #45369
Aha, I see the problem!  The migration tool gets confused when it sees an unreferenced part file.  The file in question, `packages/dart/lib/src/data/app_info.dart` claims to be a part of `flutter_parse_sdk`, but the definition of that library (in `packages/dart/lib/parse_server_sdk.dart`) doesn't list it as a part file.

Downgrading priority since this is a pretty rare corner case, but I'll still

[2021-03-22 17:50] rakudrama commented on #45402
Do you have a scenario where you have measured poor performance for the `for`-loop you suggest improving?

`List.of` is preferred over `List.from` _if you can use it_ because it is nicer to use and is more efficient. It is nicer to use because the static types are more constrained so work better with type inference, and it is more efficient because the types ensure that the elements can be assigne

[2021-03-22 17:54] srawlins opened #45418 "Analyzer does not report element from deferred import used as annotation argument"
Take these two files, `a.dart`:

[code]

and `b.dart`

[code]

Analyzer reports nothing wrong, but CFE/VM complain:

[code]

[2021-03-22 18:13] nstrelow commented on #45369
Uhh interesting. Will fix that then.

Pretty frustrating case though.

Since `dart migrate --apply-changes` was working , maybe it makes sense to add a disclaimer: "Please try it in cli as well"
Just for less frustration, if somebody has a similar issue.

[2021-03-22 18:21] scheglov commented on #45411
https://dart-review.googlesource.com/c/sdk/+/192501

[2021-03-22 18:25] modulovalue commented on #45402
I have not, I was just curious if my intuition is correct here.

Thank you to both of you. You have mentioned some implicit parts that I haven't considered before. An I see now why this suggestion is not worth the effort.

[2021-03-22 18:25] #45402 closed

[2021-03-22 18:27] johngithubby commented on #45355
@stereotype441 yeah, I thought that was weird, I was looking for it in the list. It is listed in my pubspec:

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test: ^1.16.5
  effective_dart: ^1.3.1
  mockito: ^5.0.0-nullsafety.7

[2021-03-22 18:31] bkonyi commented on #45412
Reverted relevant changes (a62e14488215128776db34a65e565df0b6559cac and f06348108a9b2151001a830315b3ea98720f0c92).

[2021-03-22 18:31] #45412 closed

[2021-03-22 18:51] stereotype441 commented on #45369
Yeah, if fixing the bug were difficult I would definitely consider this.  Fortunately the fix isn't too difficult.  I'm already most of the way through it :)

[2021-03-22 18:55] modulovalue commented on #45403
[code]

The microbenchmark can be found here: https://github.com/modulovalue/list_benchmark/blob/master/lib/src/typed_list/iteration/all.dart to run it run: https://github.com/modulovalue/list_benchmark/blob/master/bin/all_typed_data.dart

What about an abstract method in the mixin that provides unsafe versions of [] and []= for the mixin?

[2021-03-22 18:58] stereotype441 commented on #45355
Weird.  Are you referencing `flutter_driver` from inside the `lib` directory of your project?  If so, it should probably be listed as an ordinary dependency rather than a dev dependency.  (@jonasfj can you confirm this?)

[2021-03-22 19:20] jakemac53 commented on #45413
@vsmenon pointed out this also repros if you substitute `false` for `null` in the condition, so this isn't specifically related to `null` and that probably does also repro in an opted in library.

[2021-03-22 19:28] a-siva commented on #44914
The language features are all implemented, we will be tracking test failures in these new features in individual issues for each failure.

[2021-03-22 19:28] #44914 closed

[2021-03-22 19:30] a-siva commented on #38721
Per discussion in the VM sync meeting this morning this last piece is not critical for the March milestone and hence removing the milestone tag.

[2021-03-22 19:33] a-siva commented on #44954
Closing this as no work is necessary in the VM, we will track all individual test failures by opening fresh issues for each failure.

[2021-03-22 19:33] #44954 closed

[2021-03-22 19:40] johngithubby commented on #45355
@stereotype441 no, I'm not using flutter_driver from inside lib, just from outside of it. But I'm told that "dev_dependencies: all support null safety." anyway.
Here's the full list of packages dart migrate is complaining about:

Before migrating your package, we recommend ensuring that every library it
imports (either directly or indirectly) has been migrated to null safety, so
that you will be a

[2021-03-22 19:47] johngithubby commented on #45355
BTW, I ran `dart pub outdated --mode=null-safety --transitive` above after running `dart migrate --skip-import-check`, I'm in the middle of migrating now.

[2021-03-22 19:50] a-siva commented on #44962
There is no work in VM so closing this, we will track individual test failures by creating new issues for each failure.

[2021-03-22 19:50] #44962 closed

[2021-03-22 20:04] vsmenon commented on #45417
Do you have a lower constraint set in your `pubspec.yaml` file for the Dart SDK?  E.g., if you have `2.11.0` or lower set here:

https://dart.dev/null-safety/migration-guide#sdk-constraints

then null safety should be disabled for your entire project.

[2021-03-22 20:18] rmacnak-google commented on #45414
The VM does special leaf calls for `sin` et al but not `log` or `exp`.

[2021-03-22 20:34] maxim-saplin commented on #45414
Are those functions pending the optimizations?

This issue seems related to https://github.com/dart-lang/sdk/issues/36707

[2021-03-22 21:34] #45411 closed

[2021-03-22 21:40] rakudrama commented on #45415
/cc @johnniwinther

[2021-03-22 22:09] nshahan commented on #45376
Actually I think this might be a CFE error because there is a missing compile time error.

The code in question is:
[code]

The VM gets a compile time error because the constant double 1.0 does not have the triple shift operator. Both of the web backends are not getting that compile time error.

@johnniwinther Is there some check for constants that should be applied to the `Target`s for the web co

[2021-03-22 22:10] nshahan commented on #45377
Related discussion for dart2js https://github.com/dart-lang/sdk/issues/45376

[2021-03-22 22:57] #45369 closed

[2021-03-22 23:44] nshahan opened #45419 "Invalid expectations with web number semantics in tests/corelib/unsigned_shift_test.dart"
The following expectations in this test need to be rewritten. Currently we are losing coverage on the expectations because of the web number semantics. They should probably be rewritten without the loop and possibly in separate tests for VM and web platforms because the number semantics differ.

https://github.com/dart-lang/sdk/blob/5eceb354e2b278915f3d2d1d4e84a0d53e8ec4bd/tests/corelib/unsigned_s

[2021-03-22 23:45] talamaska commented on #28614
Yes there are colors and symbols in Cmd. In Power Shell there is no coloring, and on both the pub outdated command prints checkmark for null-safe packages as question mark, despite that flutter doctor prints everything fine.

[2021-03-22 23:54] a-siva commented on #44924
@bkonyi tested that this feature works in expression evaluation inside the debugger so yes we can close this item, it any issues are uncovered we can create specific issues for each failure.

[2021-03-22 23:54] #44924 closed

[2021-03-23 00:36] bkonyi commented on #45279
Should we just standardize on 'project' for the CLI then? All packages are projects, are they not?

[2021-03-23 00:42] leafpetersen commented on #45419
cc @lrhn

[2021-03-23 01:02] kwalrath commented on #45279
_Project_ is a very vague term, but if it's what people expect, I guess we can be vague. It just seems weird to basically have it be a synonym for a term that already exists (_package_).

[2021-03-23 03:57] scvzerng commented on #37022
My Windows dynamic library is a third party that cannot be modified. Is there a better way to support it？ thanks

[2021-03-23 04:35] rakudrama commented on #45413
Fix ready for review: https://dart-review.googlesource.com/c/sdk/+/192606

[2021-03-23 08:19] buehren commented on #45139
Exactly, Dart is used in the client in this scenario. Thank you very much for looking into this.

[2021-03-23 08:24] modulovalue opened #45420 "[convert_patch.dart] _ChunkedJsonParser could use a typed list to keep track of its internal state?"
This issue is about making the following list a typed list.

https://github.com/dart-lang/sdk/blob/64a8d2a8b8b85a6e3221ebbc80f36a7746045b4e/sdk/lib/_internal/vm/lib/convert_patch.dart#L423

There are just 2 methods that use it in the same file, and I assume that are the only ones using it:

https://github.com/dart-lang/sdk/blob/64a8d2a8b8b85a6e3221ebbc80f36a7746045b4e/sdk/lib/_internal/vm/lib/conv

[2021-03-23 08:45] johnniwinther commented on #45376
The numbers in constants are treated wrt. runtime semantics so I would assume that `1.0` is treated as `1` and therefore _does_ have a `>>>` operator.

@fishythefish Do you agree?

[2021-03-23 09:17] dcharkes commented on #37022
Not yet.

[2021-03-23 09:35] stereotype441 commented on #45416
Hi @daninnunez27, thanks for the bug report!

You are not the first person to run into this problem (see also https://github.com/dart-lang/sdk/issues/45196).  So far we haven't figured out the cause.  To help us diagnose the problem, it would be really helpful if you could you answer a few questions for us:
- Is there anything in particular that is special about the file `E:\Progranacion Proyect\F

[2021-03-23 09:37] mraleph commented on #45414
@rmacnak-google has fixed it in 5bfb36d by adding these functions to the existing `MathCFunctionInstr`.

[2021-03-23 09:37] #45414 closed

[2021-03-23 09:46] dcharkes opened #45421 "Inconsistent flow graph construction with and without incremental kernel compiler"
VM service test started failing on CL touching the VM service. cc @bkonyi

There are new test failures on [[ VM / Service ] Add identityHashCode to @Instance and Instance](https://github.com/dart-lang/sdk/commit/3b49fd862ba243e3c9008734e64c2ec66239f75a).

The tests
[code]
are failing on configurations
[code]

[2021-03-23 09:58] dcharkes opened #45422 "Failures on [vm] Avoid populating page table entries for the compressed heap up front....bump to linter 1.1.0"
Previous issue (https://github.com/dart-lang/sdk/issues/45385) only covered service_2/allocations_test, we have more failures.

Various failures all related to symbol mangling.

https://dart-ci.appspot.com/log/vm-kernel-precomp-obfuscate-linux-release-x64/dartkp-obfuscate-linux-release-x64/9537/service_2/get_retaining_path_rpc_test/dds
https://dart-ci.appspot.com/log/vm-kernel-precomp-obfuscate-li

[2021-03-23 10:43] fdietze commented on #45410
Alright, the special case for 'Authorization' explains it.
Yes, following the redirect manually works if you have control over the http requests. But with libraries that use http internally, like [flutter_cache_manager](https://pub.dev/packages/flutter_cache_manager), it becomes a bit more tricky.

[2021-03-23 11:05] eernstg opened #45423 "[cfe] Some checks on superinterfaces defined using type aliases do not occur"
The test `co19/LanguageFeatures/nnbd/weak/type-aliases/static_errors_A15_t04` fails with the following outcome:

[code]

This seems to occur because a type alias is allowed as a superinterface even in the case where it denotes an explicitly nullable type:

[code]

This program runs with no errors on `dart --enable-experiment=nonfunction-type-aliases` (from commit 92e237c8352ce4ad2f79b83dd7d739cb4c

[2021-03-23 11:58] DanTup commented on #45363
I'm not sure this is analyzer related now either. From the screenshots above, it seems like the simulator is consuming a lot of the CPU. If it occurs in a newly created Flutter sample, it's probably nothing specific to the app so it maybe it's a Simulator/Xcode issue, or a Flutter issue.

@maheshkumar2150 does the same occur if you use an Android Emulator instead of the iOS Simulator?

[2021-03-23 12:24] mraleph commented on #45420
They are not really boxed, they are just tagged. Dart VM uses tagged pointers which can represent `kPointerSizeBits - 1`-bit integers (e.g. 31-bit on 32-bit platforms, 63-bit on 64-bit platforms) without boxing. I think only 5 bits are actually used in the state.

Going to typed list _might_ be beneficial because it could potentially remove an indirection on accessing the backing store and also re

[2021-03-23 12:57] gustavogamino commented on #45127
Hey @kevmoo, I am getting the same error intermittently.

I've opened an issue [google/json_serializable.dart#847](https://github.com/google/json_serializable.dart/issues/847#issue-838355535) with all the information you've asked. There is also an example that usually fails after a few tries. Let me know if that works on your side too.

[2021-03-23 13:25] davidmorgan opened #58357 "omit_local_variable_types false positive"
It looks like the lint considers `Foo<dynamic>` and `Foo<Object>` to be the same, so it doesn't allow a left hand side type to 'cast' between the two:

[code]

[2021-03-23 13:29] #45422 closed

[2021-03-23 13:37] junade47 opened #45424 "Customer-reported issue with NNBD migration tool: Could not load dart file /I:/street_crisis/lib/profile_tabs/account/components/account_menu.dart"
Could not load dart file /I:/street_crisis/lib/profile_tabs/account/components/account_menu.dart

Error: Error reaching migration preview server.

Please fill in the following:

**Name of package being migrated (if public)**:
**What I was doing when this issue occurred**:
**Is it possible to work around this issue**:
**Has this issue happened before, and if so, how often**:
**Dart SDK version**: 2

[2021-03-23 14:07] mkustermann opened #45425 "NNBD-strong: Remove redundent `AssertBoolean` instruction"
It seems that the CFE will add explicit `as bool` checks in AST nodes where boolean expressions are expected. In NNBD-strong mode that guarantees it's a `true` or `false` (and not `null`).

Though the VM will emit `AssertBoolean`s checks in unoptimized code anyway - despite having translated the `as bool` from CFE to
 `AssertAssignable(bool)` beforehand.

So in strong-NNBD mode we could avoid the

[2021-03-23 14:11] jonasfj commented on #45355
quick note: Please use [code fences](https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks) when posting logs, for large log files please use a [gist](https://gist.github.com/).

[2021-03-23 14:28] jonasfj commented on #45355
By default `dart pub outdated --mode=null-safety` doesn't show null-safety compatible dependencies, hence, you won't see `flutter_driver`.

I'm guessing `flutter_driver` was migrated before its dependencies.
Indeed if you look at `package:flutter_driver/flutter_driver.dart` as shipped with Flutter 2.0.3, you'll see:

`// @dart = 2.8` meaning the file `flutter_driver.dart` is opting out of null-saf

[2021-03-23 14:35] jimmyff commented on #45417
@vsmenon on my ubuntu WSL2 machine `apt` has installed Dart SDK `2.12.1` and specifying anything lower than that in my pubspec just results in `version solving failed.`. Dart is installed via `apt get` and I don't believe there is a way to specify a particular version.

[2021-03-23 14:45] vsmenon commented on #45417
Just sanity checking - what do you see if you run:
[code]
or
[code]

The `pub` command is now integrated into the `dart` one - do you see anything different if you run:
[code]

FYI - @mit-mit @leafpetersen - I think the build logs look like an old version of Dart is somehow being used.

[2021-03-23 14:56] jakemac53 opened #45426 "Mirror https://github.com/dart-lang/webdev to dart.googlesource.com"
The test package will soon require the `frontend_server_client` dependency which is a part of this repo.

[2021-03-23 14:59] mit-mit commented on #45417
Can you please check your path and make sure you don't have an older SDK in there somewhere?

Dart 2.12 has moved `pub` to be a subcommand `dart pub`, so if you can just run `pub` that seems to suggest you have an older SDK in path.

[2021-03-23 15:18] lrhn commented on #45419
The test is a multi-test. That should be changed. No file should both contain compile-time errors *and* code intended to be executed. That only accounts for the `//# 01` since the other ones are run-time errors, and the `//# 07: ok`  doesn't affect testing, it just means that it's possible to fail on *just that* part of test without losing coverage for the rest of the test.
It's still a *failure*,

[2021-03-23 15:24] kevmoo commented on #45127
@gustavogamino – I'm escalating w/ the analyzer folks. Thanks!

[2021-03-23 15:27] devoncarew commented on #44920
I'm going to un-assign Keerti w/ there being no assumed work for Cider. @davidmorgan, we probably still need to investigate this for Kythe.

In the future we might want to have separate issues for Cider and Kythe - they have different owners and will likely need different types of changes depending in the specific language feature.

[2021-03-23 15:40] vsmenon commented on #42773
@a-siva @mit-mit - are we comfortable punting this to the next milestone?  I think we discussed that since we're blocked.

[2021-03-23 16:06] DanTup opened #45427 "Support automatically inserting missing semicolons during save/formatting"
This came up at https://github.com/Dart-Code/Dart-Code/issues/3220 (and also [in dart_style](https://github.com/dart-lang/dart_style/issues/948)). The server seems the correct place for it (given the editor doesn't have enough info, and it's not strictly formatting), so I'm moving it here as a central place for people to find/express interest/add 👍 s.

It would likely rely on the parser recovering

[2021-03-23 16:07] sigurdm commented on #45235
This should be fixed in the sdk master as of: https://dart-review.googlesource.com/c/sdk/+/192686

[2021-03-23 16:07] #45235 closed

[2021-03-23 16:16] eyalkutz commented on #28466
I don't understand how to clear the dart analyzer cache. please help it keeps crashing

[2021-03-23 16:24] bwilkerson commented on #28466
As per #44566, you can simply delete the directory `~/.dartServer` (preferably while the analysis server isn't running).

[2021-03-23 16:34] askeksa-google commented on #38934
Would it perhaps make sense to consider all initializers also executed if the constructor is const executed? While this is less precise than the ideal solution, it seems like the most useful interpretation given that many users are aiming for 100% coverage.

[2021-03-23 16:38] fishythefish commented on #45376
No, I think the CFE should be producing consistent compile-time behavior across the backends here, as we do for other operations.

Consider:
[code]

[2021-03-23 16:50] fishythefish commented on #45376
FWIW, perhaps this should be part of a larger discussion on web number semantics. My understanding is that, historically, we attempted to conform to the spec/VM wherever possible, and any deviations at runtime were seen as unavoidable compromises in the name of performance. Thus we have situations like the one above, where the compile-time error we see reflects what the spec says, but disagrees wi

[2021-03-23 16:51] nshahan commented on #45376
For me, it would be confusing to see a compile time error (red squiggles) in your IDE but no error when you actually compile. I think that is what would happen because the analyzer would treat this as an error but if it happens to be in a web project then it would be allowed at compile time.

Can the analyzer know what type of project is being viewed and give different errors?

[2021-03-23 17:08] mkustermann commented on #45212
Merging this into https://github.com/dart-lang/sdk/issues/45133

[2021-03-23 17:08] #45212 closed

[2021-03-23 17:12] modulovalue commented on #45420
Update: I will provide a benchmark once I can see any improvements.

[2021-03-23 17:12] franklinyow commented on #44908
Any update here?

[2021-03-23 17:25] jamesderlin commented on #41454
I'm still curious whether `identityHashCode` is guaranteed to generate different values for different objects of the same type.

[2021-03-23 17:26] natebosch opened #45428 "VM Soundness issue - casting to `Function` can skip argument type checks"
I can get an `int` into a variable with the static type `String` on the VM with the following:

[code]

The analyzer tells me that the `(f as Function)` is an unnecessary cast (at the info level), but without it there is a static error. If I use `(f as dynamic)` gives the expected runtime error, and no static analysis diagnostics at any level.

[2021-03-23 17:33] rakudrama commented on #45413
Fixed via 93313bf12d88a43ac6afcc51f99c729ed7cfa36f

[2021-03-23 17:33] #45413 closed

[2021-03-23 17:45] eernstg commented on #42435
Cf. our discussions earlier today: Reading the [error specification](https://github.com/dart-lang/language/blob/1ed6bab4cc5a826f1ed6a81fb70a4f23815e1a82/specification/dartLangSpec.tex#L5768) again, it does actually apply for formal type parameters declared by any kind of entity (in particular, it applies for formal type parameters of a function declaration and of a function type). So there is no n

[2021-03-23 17:50] scheglov opened #45429 "Remote debug code after reproduction and fix"
We are looking for reproduction of:
[code]

[2021-03-23 17:54] scheglov commented on #45429
https://dart-review.googlesource.com/c/sdk/+/192760

[2021-03-23 18:04] scheglov opened #45430 "Remove debug code in ResolvedLibraryResultImpl after reproduction and fix"
We are looking for reproduction of:
[code]

[2021-03-23 18:05] bkonyi commented on #45421
I'll take a look. Would you mind posting a direct link to the logs next time though? It'll make my life easier :-)

[2021-03-23 18:08] eernstg commented on #42435
Re-checking: This issue should remain open at this point, `dart` still does not report the error (that the raw type `A` cannot be a bound, because it does not have simple bounds).

[2021-03-23 18:08] #58350 closed

[2021-03-23 18:11] eernstg commented on #45334
About `co19/Language/Generics/typedef_A06_t04`: The front end does not report the error about the raw bound, but this is covered by https://github.com/dart-lang/sdk/issues/42435.

[2021-03-23 18:24] bkonyi commented on #45421
Looks like it was just a flaky test starting to fail, so it's unrelated to the CL that happened to turn it red.

[2021-03-23 18:33] mit-mit commented on #45279
I'm personally in favor of "project"

[2021-03-23 18:33] mit-mit commented on #42773
I don't think we have much choice currently, and I'm not aware of any hard deadlines, so yes

[2021-03-23 18:41] eyalkutz commented on #28466
@bwilkerson excuse me for being a noob but what does "~ " mean in a file path?
(I don't know if this is relevant but I am on windows)

[2021-03-23 18:48] bwilkerson commented on #28466
On Unix based OS's, the `~` is an abbreviation for the users home directory.

[2021-03-23 18:51] #45395 closed

[2021-03-23 19:02] eyalkutz commented on #28466
@bwilkerson  I cannot find a file or folder named `.dartServer` at my home directory. Can you tell me where it is on windows?

[2021-03-23 19:03] nshahan commented on #45419
I see what you mean about the multitest. I didn't say it very clearly but what I was trying to say in my original post is that putting an expectation in a loop that iterates over different test values can cause a loss of coverage if one of the first elements in the iteration fails. My understanding is that the multitest environment wont change that. A better unit test structure would be to test in

[2021-03-23 19:11] nshahan opened #45431 "Update scripts to generate web libraries to python 3"
We need to update the scripts so they continue to run on environments that only have access to python 3. There are still plans to run the script again in the future.

@athomas If your simple migration attempt works, please feel free to close this issue.

[2021-03-23 19:14] modulovalue opened #45432 "[convert_patch.dart] minCapacity < minCapacity never evaluates to true."
Hello,

https://github.com/dart-lang/sdk/blob/9d1a307954e3e8d5c0b0444829dfb59251f9ed82/sdk/lib/_internal/vm/lib/convert_patch.dart#L254

I believe this will always evaluate to false.

[2021-03-23 19:27] scheglov commented on #45127
I can reproduce it.

[2021-03-23 19:27] bwilkerson commented on #28466
I didn't realize there was a difference. On Windows it should be a subdirectory of the directory that's the value of `LOCALAPPDATA`.

[2021-03-23 19:29] leafpetersen commented on #45419
Yeah, I think this is true of any test which has more than one runtime expectation, and I'm not in favor of splitting out every expect into its own test.

I'm not entirely clear on the status here.  Is it that we believe that `>>>` and `>>` **should** throw on the web, but propose to have a known errata now?  Or that we believe that both should not throw on the web?  Or that one should and the oth

[2021-03-23 19:42] jamesderlin opened #58358 "Lint when `member` might need to be `this.member` in constructor bodies"
The other day I modified some non-null-safe code from:

[code]
to:
[code]
It turns out that this was wrong because that "Other work" portion in the constructor body referenced `x`, and because the local `x` parameter understandably shadows the `x` member, it therefore was not using the expected default value.  Oops.  I didn't realize this mistake until I later attempted to migrate the code for nul

[2021-03-23 19:47] rakudrama opened #45433 "Hint and/or lint for changing `List.from` to `List.of`"
Many uses of `List.from` can be changed to `List.of`.
The reasons to do so:

- `List.of` is nicer to use because the extra constraint helps type inference and editor suggestions
- `List.of` is more efficient
- There is an education problem that since `List.of` is newer, there are lots of poor examples of `List.from` that could have been migrated to `List.of`.

Examples that could be hints (i.e. no

[2021-03-23 19:47] rakudrama opened #58359 "Hint and/or lint for changing `List.from` to `List.of`"
Many uses of `List.from` can be changed to `List.of`.
The reasons to do so:

- `List.of` is nicer to use because the extra constraint helps type inference and editor suggestions
- `List.of` is more efficient
- There is an education problem that since `List.of` is newer, there are lots of poor examples of `List.from` that could have been migrated to `List.of`.

Examples that could be hints (i.e. no

[2021-03-23 19:55] #45165 closed

[2021-03-23 19:59] mraleph commented on #45432
Good catch. It got broken during code review, original code said `if (minCapacity < kMinCapacity) return kMinCapacity;` but then `kMinCapacity` was renamed to match the code style.

[2021-03-23 19:59] mraleph commented on #45432
/cc @lrhn

[2021-03-23 20:00] caseycrogers opened #45434 "StreamIterator Throws Confusing Error On End Of Stream"
Before null safety, if you iterate to the end of the stream and then call `current`, you'll get null. After the null safety update, the library attempts to return null even though the return type is non-nullable causing a `TypeErrror`. This is undesirable because it obfuscates the error from the user. See [stream_impl.dart#L988](https://github.com/dart-lang/sdk/blob/0b70cec33d439d1ac358496239cb49e

[2021-03-23 20:03] nshahan commented on #45419
This one.

Our rationale being that having the edge cases now that don't throw when they should is wrong but has the up sides of performance and consistency with all the other operators.

[2021-03-23 20:03] rakudrama commented on #45419
`>>>`, `>>`, `&`, `~` etc should all throw on the receiver `2.4`. Fixing that is a bigger job (on the performance diligence side) than adding `>>>` with matching defects (where we are now).

We have this ugly strange defect but I don' think this is very serious as it does not prevent anyone from using `>>>` and getting efficient code when they do. In most cases the static type system makes it diff

[2021-03-23 20:08] scheglov commented on #45127
https://dart-review.googlesource.com/c/sdk/+/192763

[2021-03-23 20:21] srawlins commented on #45376
I don't think we have any mechanism for doing that. And most (perhaps?) code is agnostic; could be compiled with VM or dart2js or DDC.

[2021-03-23 20:25] srawlins commented on #44908
I'll call this done. I don't think there is any analysis_server work to be done.

[2021-03-23 20:25] #44908 closed

[2021-03-23 20:35] vsmenon commented on #45424
Can you please provide the requested info?

[2021-03-23 20:37] vsmenon commented on #45427
Also, potential a dartfmt request - @munificent

[2021-03-23 20:50] srawlins commented on #43593
Landed a Hint in https://github.com/dart-lang/sdk/commit/d693078bbfef7bd2f5ad9735b17058271d9b28e2

[2021-03-23 20:50] #43593 closed

[2021-03-23 20:54] srawlins commented on #35709
The analyzer no longer confuses shadowed elements like this.

[2021-03-23 20:54] #35709 closed

[2021-03-23 21:07] srawlins commented on #45371
I think the first issue mentioned is an issue with the impl. Most of the missing Hints in the doc you mention I think are issues with the doc, as these are lines where inference does not take place.

[2021-03-23 21:09] bkonyi commented on #45279
Made the initial changes in [this CL](https://dart-review.googlesource.com/c/sdk/+/192727). It looks like we've got some more usages of `package` in the `pub run test` help output that can be changed, but we'll need to update `PubCommand` to do that properly (cc @jonasfj).

[2021-03-23 21:18] bkonyi opened #45435 "`dart test --help` references `pub run test`"
Running `dart test --help` in a Dart project outputs the following help message:

[code]

[2021-03-23 21:22] bkonyi opened #45436 "`dart test` does not support options listed by `pub run test`"
[code]

vs

[code]

cc/ @natebosch @grouma

[2021-03-23 21:26] bkonyi commented on #44022
Related: https://github.com/dart-lang/sdk/issues/45436

[2021-03-23 21:26] #45276 closed

[2021-03-23 21:30] leafpetersen commented on #45419
Ok, this is fine by me.  So as I understand it, the status is that:
  - The test is not wrong
  -  @lrhn is fixing some things about how the test is structured
  - The web compilers will be failing this test for the forseeable future.

Is there any followup I need to do other than removing this from the bad test list?

[2021-03-23 21:49] franklinyow commented on #45377
@nshahan Who should own this?

[2021-03-23 22:07] DarkHeros09 commented on #45345
i still have the same issue.

[2021-03-23 22:30] srujzs commented on #44778
This change was language-versioned to 2.13. Depending on what your code is like, `@anonymous` classes be the best alternative here going forward if you can't use the native classes in `dart:html` directly.

[2021-03-23 22:30] #44778 closed

[2021-03-23 22:50] lrhn commented on #45434
If the type of `current` *is* nullable, then it actually returns `null`. That way you can preserve the pre-null-safety behavior.

We have deliberately tried to avoid adding an unnecessary overhead to reading `current`. The *correct use* is to never read `current` unless `moveNext` returned true. That means that the error should only be seen while debugging. I admit that it is not easily deciphered

[2021-03-23 23:05] lrhn commented on #45427
It's non-trivial to determine where semicolons are missing, as opposed to some other error.
For example:
[code]
reports that a `;` is expected at the `y` after `x`. The real mistake was probably not removing the `y`.

[2021-03-23 23:05] srawlins opened #45437 "`default` is redundant when switch is exhaustive"
analyzer Hint implementation issue for https://github.com/dart-lang/language/issues/1539

Given:

[code]

Show a warning that default is dead code. I suspect this would use our current dead_code mechanisms and/or flow analysis.

[2021-03-23 23:17] eernstg commented on #45351
Cf. https://dart-review.googlesource.com/192743.

[2021-03-23 23:29] rakudrama opened #45438 "web runtimes should enforce `int` types on bit operations"
The DDC and dart2js runtimes implement the bit operations like `&` and `<<` on (JavaScript) Number rather than on Dart `int`.
They should be upgraded to enforce `int` receiver and argument types. The lack of enforcement is a hold-over from Dart 1, where the extra cost of `int `checks would be too expensive. The enforcement is now mostly static.

The lack of enforcement does not affect statically t

[2021-03-23 23:39] rakudrama commented on #45419
That status summary makes sense.
I created an issue to track the potential improvement for DDC and dart2js, so this issue can be closed if desired.

[2021-03-23 23:53] Piinks opened #45439 "dart fix only applying partial fixes"
Reference:
https://github.com/flutter/flutter/pull/78897

There is a large conditional rule written in that PR, and it does not fully work as expected.
If I take away the `removeParameter` of `useTextSelectionTheme`, then the rule performs a bit better, which is.. perplexing.
That PR has the before and after code snippets that the rule is not transforming correctly, the failing tests should show w

[2021-03-24 00:24] franklinyow commented on #44912
Any other work still needed?

[2021-03-24 00:39] rakudrama opened #45440 "dart2js assertion failure in StaticTypeVisitor"
Any very large program I compile with assertions (i.e. dart2js_developer) crashes as follows.
It appears to be related to this code, which uses `fieldInfo` after it has been downcast to `MapFieldInfo`.
[code]

`_ensureMapField` requires a `MapFieldInfo`, so I'm not sure how this did not generate a compile-time error. (/cc @sigurdm).

[code]

[code]

[2021-03-24 00:53] #36085 closed

[2021-03-24 01:07] jodinathan commented on #36085
why was this closed?

[2021-03-24 01:07] jodinathan commented on #36085
why was this closed?
maybe new stuff incoming? :D :D

[2021-03-24 01:27] scvzerng commented on #37022
I know I could do that, but it just feels a little weird. Haha, thank you very much for your reply

[2021-03-24 01:35] passsy commented on #35518
Does still exist with dart 2.12.2. Here the nullsafe example

[code]

Error

[code]

[2021-03-24 04:25] rakudrama commented on #36085
@jodinathan The new reified type representation has been designed and implemented. Perhaps I should have said that :-)

[2021-03-24 04:36] scheglov commented on #45127
CL to publish `analyzer 1.3.0`, probably will land tomorrow.
https://dart-review.googlesource.com/c/sdk/+/192862

[2021-03-24 04:41] fayduan commented on #45083
Hi @mit-mit @bkonyi,
I debugged this problem, the value of `Context`'s parent as below:
[code]
So the reason of this problem is that the field `parent` of `Context` is `ContextRef` instead of `Context`.
I fixed this problem, please review.
https://dart-review.googlesource.com/c/sdk/+/192880

[2021-03-24 04:54] huylethanh commented on #33383
Dart should has the access modifier. a thing is uncomfortable is when I have a class, the variable is private "String _abc" and it is being called many places in the class, then i want to public that variable, i change it to String abc. i have to change that name in entier class. If we have the public and private keywork, we just change only one place. Please add access modifier.

[2021-03-24 06:13] scheglov commented on #45127
Published.

[2021-03-24 06:13] #45127 closed

[2021-03-24 07:06] jensjoha commented on #38934
It was discussed briefly back in December, but I personally don't like it. I'd rather have coverage being conservative so that if something is claimed to be covered it actually is, rather than something being marked as covered meaning that it _might_ be covered.

Ultimately I guess it's a VM decision though.

[2021-03-24 08:00] a14n opened #45441 "Analyzer should trigger an error if enum comparison is used as const expression"
With Dart 2.13.0 (build 2.13.0-150.0.dev) the analyzer accepts enum comparison in const expression though [enum comparisons are not yet allowed in asserts](https://github.com/dart-lang/language/issues/312).

[code]

/cc @scheglov @bwilkerson

[2021-03-24 08:01] a14n opened #58360 "False positive prefer_const_constructors_in_immutables with enum comparison in assert"
The following code triggers `prefer_const_constructors_in_immutables` on `A` constructor but it shouldn't as [enum comparisons are not yet allowed in asserts](https://github.com/dart-lang/language/issues/312).

[code]

It looks related to const evaluation as there's no analyzer error on the constructor if we make the constructor const though there's an error on the constructor invocation.

[code]

[2021-03-24 11:11] jimmyff commented on #45417
@vsmenon  I've tried running dart `dart run build_runner build --output=build/` but I get the same result (errors or version solving failed based on SDK in pubspec)
[code]

@mit-mit I've can't find any older SDKs, this is a relatively new install (around 2 months) :
[code]

[2021-03-24 11:48] #45133 closed

[2021-03-24 12:13] johnniwinther commented on #45376
@fishythefish Do note that the choice of using runtime number semantics in constant evaluation is not for producing (or not producing) compile-time error but to ensure that constant expressions evaluate to the same value as their runtime equivalent. In this case the omitted compile-time error is just a side effect of that.

One could rewrite the program so it doesn't have a compile-time error (in

[2021-03-24 12:35] vsmenon commented on #45417
It looks like you also have a version of dart bundled with flutter.  What version is that?  E.g.,

[code]

Can you also share your `pubspec.yaml` and `pubspec.lock` files?

[2021-03-24 13:01] isoos opened #45442 "async* infinite loop may result in unbounded memory increase and eventual VM crash"
Dart SDK Version: 2.12.0

The following (accidental) stream with `async*` resulted in an unbounded memory increase, and a VM crash without any trace or indication what the issue was.

[code]

In contrast, inline recursive calls will get a `Stack Overflow` soon, while the following seem to be optimized by something to return without issues:

[code]

[2021-03-24 13:27] jimmyff commented on #45417
@vsmenon I can't run those, they're on the Windows side of things, this is ubuntu running in WSL2. When I try to run them I get `/usr/bin/env: ‘bash\r’: No such file or directory`

This is the current pubspec but I've tried every combination of values for the sdk constraint. It's a brand new project setup for `package:firebase_functions_interop`

<details>
<summary>pubspec.yaml</summary>

[code]

[2021-03-24 13:29] iarkh opened #45443 "Dart silently crashes with exit code -1073741571"
Dart SDK version: 2.13.0-161.0.dev (dev) (Mon Mar 22 19:57:50 2021 -0700) on "windows_x64"

Dart silently crashes with exit code -1073741571 when runs the following source code example:

**test.dart:**
[code]
If I comment line #1 or #line #2, it prints "OK" and finishes with the exit code `0`.

To reproduce on Windows please run the following script:
[code]
Sample output is:
`error is -1073741571`

[2021-03-24 13:38] eyalkutz commented on #28466
thank you @bwilkerson. unfortunately, that did not fix the problem as the analysis server keeps crushing regardless of this. I will post an issue with the logs

[2021-03-24 13:42] #44237 closed

[2021-03-24 13:42] #45404 closed

[2021-03-24 13:42] #42977 closed

[2021-03-24 13:42] #45230 closed

[2021-03-24 13:44] eyalkutz opened #45444 "The analyser keeps crushing"
I have no idea why this is happening but the dart analyzer won't stop crushing. I tried deleting the `.dartServer` folder but it did not help. I will include the logs with this issue so maybe you can understand what is going on.
I am using the latest VSCode on windows 10 with flutter 2.0.3 stable (dart 2.12.2)
<details>
<summary>logs</summary>

[code]
</details>

[2021-03-24 14:20] vsmenon commented on #45417
Ah, `build_node_compilers` isn't directly supported by the Dart SDK - it's a different way of invoking Dart compilers and needs its own plumbing to correctly enable/disable null safety.

You can follow their work here:

https://github.com/pulyaevskiy/node-interop/issues/92

In the meantime, you may need to downgrade to 2.11 or lower.

[2021-03-24 14:36] johnniwinther commented on #45415
This is a CFE issue. We don't handle (de)serialization of type literals of generic typedefs with generic function type parameter bounds.

This only shows up on the dart2js bot because the other bots don't serialize and deserialize the AST which the dart2js bot does in `--test-mode`.

[2021-03-24 14:37] stereotype441 commented on #45355
Ok, given that this is resolved in newer flutter versions, I'm going to close this issue.

[2021-03-24 14:37] #45355 closed

[2021-03-24 14:39] sstrickl opened #45445 "Failures on [vm/compiler] Explicitly use near jumps in InstantiateTypeArgumentsInstr...[cfe] Compute variance for type parameters on duplicate typedefs"
There are new test failures on [[vm/compiler] Explicitly use near jumps in InstantiateTypeArgumentsInstr...[cfe] Compute variance for type parameters on duplicate typedefs](https://github.com/dart-lang/sdk/compare/0de315c14649fbe15eb2576fa2040dd5fe3fb234~...2fa31c9dbdef5f70756e4e620ef430e78218eb1a).

The tests
[code]
are failing on configurations
[code]

Link to the [logs](https://dart-ci.appspot.

[2021-03-24 14:42] sstrickl opened #45446 "Failures on [vm/compiler] Assign deopt id to all allocation instructions...[vm/compiler] Always allow CSE of LoadStaticField & loosen assertion in AllowsCSE"
There are new test failures on [[vm/compiler] Assign deopt id to all allocation instructions...[vm/compiler] Always allow CSE of LoadStaticField & loosen assertion in AllowsCSE](https://github.com/dart-lang/sdk/compare/ff1c9c9916faf476a3e0f901cfb40cd09da95199~...6a585a20899ffa6e1598281730fc61b20348bd81).

The tests
[code]
are failing on configurations
[code]

Example excerpt from [logs](https://da

[2021-03-24 14:45] mkustermann commented on #45446
Have reverted the CSE change in [cl/192922](https://dart-review.googlesource.com/c/sdk/+/192922)

[2021-03-24 14:49] jakemac53 commented on #45426
cc @whesse

[2021-03-24 14:49] sstrickl opened #45447 "Failures on Remove tar_rev from DEPS...[vm/service] Fix tests in obfuscation"
There are new test failures on [Remove tar_rev from DEPS...[vm/service] Fix tests in obfuscation](https://github.com/dart-lang/sdk/compare/043ea3b4f4e6f8a058fc83a2680dc8b5cd96dd79~...ccb8643e0ce68bcd70fbac83f67c47ced79edd39).

The tests
[code]
are failing on configurations
[code]

Excerpt from [logs](https://dart-ci.appspot.com/log/app-kernel-linux-release-x64/app_jitk-linux-release-x64/10887/serv

[2021-03-24 14:52] whesse commented on #45426
This is completed, forgot to close issue.

[2021-03-24 14:53] #45426 closed

[2021-03-24 15:27] fishythefish commented on #45376
@johnniwinther I agree that we want to get the same result from compile-time constant evaluation as we do from runtime evaluation, *provided that the code compiles*. (Side note: we still have some holes in this. For example, `double.infinity is int` currently evaluates to `false` with constant evaluation, but to `true` at runtime.)

Per #45438, which summarizes a discussion from the web team meeti

[2021-03-24 15:33] #45358 closed

[2021-03-24 16:05] jimmyff commented on #45417
ah, apologies for wasting your time with this then @vsmenon I'll try to figure out how to downgrade my SDK while the node interop package catches up

[2021-03-24 16:05] #45417 closed

[2021-03-24 16:10] jimmyff commented on #45417
crikey that was simple, Thanks @vsmenon

[code]

and suddenly it's working, thanks again for your help

[2021-03-24 16:35] austinjgkj opened #45448 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-201.8743.12.41.7042882`
- `2.10.4`
- `AI-201.8743.12.41.7042882, JRE 1.8.0_242-release-1644-b3-6915495x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.16, screens 1680x1050  Retina`

[2021-03-24 17:10] #45202 closed

[2021-03-24 17:17] eernstg opened #45449 "[meta] Update handling of type aliases expanding to a type variable"
The current implementation of the CFE and analyzer in some cases allow for using a type alias that expands to a type variable as a class:

[code]

The language specification as updated in https://github.com/dart-lang/language/pull/1468 clarifies what it means for a type alias to expand to a type variable, and specifies that it is a compile-time error to use such a type alias as a class, and specif

[2021-03-24 17:30] crelier commented on #45428
This looks like an issue with code generation. The closure call is made to the unchecked entry point.
Reassigning to @sstrickl who made recent changes to closure calls.

[2021-03-24 17:40] eernstg opened #45450 "[analyzer] Update handling of type aliases expanding to a type variable"
This is the analyzer specific issue for #45449, which has the details.

[2021-03-24 17:41] stereotype441 commented on #45424
Duplicate of #45202

[2021-03-24 17:41] #45424 closed

[2021-03-24 17:41] bwilkerson commented on #45068
Status update.

The analysis server now sends back all of the information required in order to produce this format.

The `dart analyze` command now has a `json` format option that produces this format.

The `dartanalyzer` command does not yet have this support, but it should be relatively easy to add that support. I'm hoping to get that implemented by early next week.

[2021-03-24 17:42] eernstg commented on #45449
Test updates in https://dart-review.googlesource.com/c/sdk/+/192743.

[2021-03-24 17:51] mraleph opened #45451 "[Breaking Change Request] [vm] Deprecate and remove dart native extensions"
# Summary

Dart Native Extensions is a mechanism for loading native code into a running Dart program and binding Dart methods to native implementatations.

It consists of the following parts:

* `dart-ext:...` import scheme which instructs VM to load a native library;
* `native` keyword which specifies that a function has a native implementation;
* Dart VM C API (as defined in `runtime/include/dar

[2021-03-24 17:52] mraleph commented on #45451
/cc @a-siva @mkustermann

[2021-03-24 17:55] a-siva commented on #45447
/cc @bkonyi

[2021-03-24 18:13] caseycrogers commented on #45434
@lrhn Ah that makes sense. What about adding end-of-stream logic to check if `T` is nullable and throw an error with a helpful message if it's not (idk how straightforward this is, a sloppy solution would be trying to cast null as T in a try catch block)? This won't add any overhead to valid code (when users are properly only calling `current` after calling and checking `moveNext`) but will save u

[2021-03-24 18:13] lodmfjord commented on #39918
Any news on this? What way did you go @manhluong ?

[2021-03-24 18:14] a-siva commented on #45445
the timeline unit tests do not seem to have a way of setting the recorder (recorder_) in the Timeline class as a result of which the Timeline::Clear() method becomes a nop (recorder_ is null).

[2021-03-24 18:25] bwilkerson commented on #45439
Status update: The good news is that I have been able to reproduce the failure by applying the PR to the latest version of the flutter repo. I have not yet reproduced it in an environment where I can debug it, but I am actively working on doing so.

I have to say that the output from running the tests leaves something to be desired. :-(

[2021-03-24 18:26] a-siva opened #45452 "Conditionally drop process.spawn from dart:io on iOS as fork is not supported, would reduce AOT code size"
Please see https://github.com/dart-lang/sdk/issues/39918#issuecomment-570621211 for more details.

[2021-03-24 18:27] a-siva commented on #39918
created https://github.com/dart-lang/sdk/issues/45452 to track this.

[2021-03-24 18:34] bkonyi commented on #45445
Yeah, this is related to my CL. I've done some refactoring of the tests so we properly actually override `Timeline::recorder()` consistently and perform the proper cleanup ([CL here](https://dart-review.googlesource.com/c/sdk/+/192960)).

[2021-03-24 18:40] Piinks commented on #45439
Thank you! 🎉

Yeah, I don't mind it terribly, I know a lot of folks have different style preferences. Is it possible the run dartfmt at the end of applying a fix? Would that improve the output?

[2021-03-24 18:46] bwilkerson commented on #45439
I was referring to the dump of expected vs actual (without a diff) and the dump of the edits passed back from server. They aren't very helpful in terms of figuring out why the edits weren't generated in the first place (the bug we're currently looking at).

The resulting code is also not always as well formatted as it should be, but that's a harder problem for the reason you pointed out: everyone

[2021-03-24 18:52] a-siva commented on #45370
/cc @aam

[2021-03-24 19:01] yjbanov opened #45453 "IncrementalCompiler crashes with RangeError when fed incompatible kernel"
`IncrementalCompiler` crashes with RangeError when fed incompatible kernel (not 100% sure it's the kernel; perhaps it's something else, but that's our hypothesis). We discovered this in Flutter when we accidentally fed the wrong engine build to the Dart compiler.

A better behavior would be if the compiler threw an error with a more actionable message.

Example:

[code]

[Full log](https://logs.ch

[2021-03-24 19:03] jacob314 commented on #35717
@DanTup I believe you are working on this. Now that we have DDS, it is practical to implement this as part of the Dart SDK.
Fyi @bkonyi

[2021-03-24 19:47] #45445 closed

[2021-03-24 20:52] natebosch commented on #44668
Closing since I don't think this is actionable.

[2021-03-24 20:52] #44668 closed

[2021-03-24 20:57] bkonyi commented on #45282
cc @devoncarew since [this CL](https://dart-review.googlesource.com/c/sdk/+/192944) updates the default language version to be 2.12.

[2021-03-24 20:59] bkonyi commented on #45279
Reassigning to @jonasfj to handle the required changes to pub's help messages.

[2021-03-24 20:59] bkonyi commented on #45083
Thanks for the submission @fayduan! I'll take a look.

[2021-03-24 21:14] devoncarew commented on #45282
I _believe_ I've captured the latest from this PR into that CL into dart-lang/sdk.

[2021-03-24 21:24] stereotype441 commented on #44900
@munificent @kwalrath It's probably time to start working on this.  At a minimum we need to figure out what the link URL should be explaining about the lack of field promotion, so that I can commit it prior to the stable branch cut (which I believe is scheduled for Apr 6).  We don't necessarily have to have the content ready until the release happens.

In the long term we'll want other pages (or o

[2021-03-24 21:25] bkonyi commented on #44611
I'm not sure I'm clear on how we can issue service requests before the application starts up and starts advertising its VM service URI. DDS won't be started in any context until a VM service is available. Am I missing something here?

[2021-03-24 21:30] #45448 closed

[2021-03-24 21:38] devoncarew commented on #45444
From the tail end of your log:

[code]

Unfortunately I think that gives us the location where the exception was caught and not where it was thrown.

For reference, it looks like you're on the current stable Dart SDK.

@scheglov - is there any info we can ask @eyalkutz to gather to help diagnose the crash?

[2021-03-24 21:58] annagrin opened #45454 "[frontend] Expression evaluation fails for `await` statements with a compilation error"
Currently expression compilation does not support `await` expressions  - looks like the synthetic debug function is just always created as a sync function. Are there any known limitations to supporting `await`? The question comes up in conversations with customers, we will know more about priority soon after user feedback collection.

Repro:

- debug flutter hello_world example (for any platform,

[2021-03-24 22:12] kwalrath commented on #44900
I'd prefer to have one page rather than many, to enable in-page search and keep the website URLs manageable. If this doc lives on dart.dev, the URL would probably be something like `dart.dev/tools/<filename>`, where `<filename>` might be `non-promotion-reasons`. (This is parallel to https://dart.dev/tools/diagnostic-messages.)

If you expect people to type in these URLs, then we could provide one

[2021-03-24 22:18] bwilkerson commented on #44900
Could you also get a list of the analyzer diagnostics with which these context messages are associated? After we've settled on a URL for this documentation I'd like to add a link to it from the documentation for each of those diagnostics.

[2021-03-24 22:22] a-siva commented on #45443
Seems to get into an infinite recursion
[code]

[2021-03-24 22:22] mraleph commented on #45454
Async machinery (including propagation of `Future` completions) is handled by the event loop so you can't really `await` something while stopped on a breakpoint.

This is simply going to "dead lock". You need to run the event loop: this either means running a nested event loop or actually continuing from the breakpoint. Nested event loop is a can of worms (and probably impossible in the browser an

[2021-03-24 22:27] a-siva commented on #45451
Adding the March milestone for the deprecation warning in 2.13 from analyzer and CFE when dart-ext import is seen.

In 2.14 we should also remove `samples/sample_extension`

[2021-03-24 22:28] a-siva commented on #45451
Also added area-analyzer and area-front-end labels for the warning work in 2.13

[2021-03-24 22:30] devoncarew commented on #45451
A deprecation warning wouldn't be much work, but we probably want to discuss adding new work to a release a few working days before a branch cut.

[2021-03-24 22:36] mraleph commented on #45451
@devoncarew I have updated versions to 2.14 and 2.15 and moved the milestone. No intention to fall over ourselves with this.

[2021-03-24 22:38] bwilkerson commented on #45439
I have figured out the cause of at least one failure, and I expect the others are similar in nature. The code is attempting to insert the new argument into the argument list, then attempting to delete everything between the parentheses (because we're deleting all of the existing arguments and don't want to leave unnecessary whitespace around). Because these two ranges overlap it then throws away b

[2021-03-24 22:39] manhluong commented on #39918
@lodmfjord I switched to another project so didn't have time to try this yet.

@a-siva thank you!

[2021-03-24 22:50] lrhn commented on #45442
It's what I would expect to happen for something which recursively spawns asynchronous operations.
I guess the out-of-memory could be reported better.

I expect something similar from:
[code]

[2021-03-24 23:06] #44950 closed

[2021-03-24 23:12] leafpetersen commented on #44965
@kwalrath @mit-mit we should add the 2.13 features to [this](https://dart.dev/guides/language/evolution) as well.

[2021-03-24 23:16] annagrin commented on #45454
@mraleph I suspected something along those lines, good to have a confirmation!

[2021-03-24 23:27] jacob314 opened #45455 "Expose WeakRef and finalization tracking APIs in Dart"
The C API for Dart has always exposed this functionality but it was not exposed in the Dart core libraries because it could not be implemented in JavaScript.
The WeakRef proposal has now landed in JavaScript so WeakRef and finalization tracking could now supported in debug Dart builds on all platforms.
Support is available in all major browsers but Safari so the feature would need to be prohibited

[2021-03-24 23:35] natebosch commented on #45456
I think decoding a `Map` is one of the most common use cases for `jsonDecode`. Adding a flag to the method for behavior that can be handled by the caller would add more complexity that it is worth, especially when the vast majority of users expect the current behavior.

`jsonDecode` will return whichever type is represented by the string you passed. `jsonDecode('{}')` will return a `Map`, `jsonDec

[2021-03-24 23:35] #45456 closed

[2021-03-24 23:35] crelier commented on #45443
Fix was sent for review: https://dart-review.googlesource.com/c/sdk/+/192947
Thanks for the report!

[2021-03-24 23:36] modulovalue opened #45457 "json.decode can't parse integers over 64 bit"
I'm trying to do the following

[code]

prints
[code]

A json number [is not limited](https://stackoverflow.com/questions/13502398/json-integers-limit-on-size) to only 64 bits.

Is there currently a workaround for that?

[2021-03-24 23:36] #45457 closed

[2021-03-24 23:40] leafpetersen commented on #45455
cc @lrhn @natebosch @srujzs @sigmundch @nshahan

[2021-03-24 23:54] #43839 closed

[2021-03-24 23:54] jacob314 opened #45458 "Expose a `gc` method in dart:developer"
Add a `dart:developer` method that forces a GC.
The method is only allowed (fine for it to even throw an exception) if the Dart VM is launched with a specific flag which is consistent with how Chrome only exposes `window.gc` if
`--js-flags=--expose-gc`
is passed.
Providing this option will make it easier to write tests that verify that objects do not leak.

[2021-03-24 23:55] jacob314 commented on #45458
CC @lrhn @natebosch @srujzs @sigmundch @nshahan @bkonyi

[2021-03-24 23:58] natebosch commented on #45458
I'd give it a longer method name, but I think it would be fine to have this API as long as the implementations can support.

[2021-03-25 00:01] jacob314 commented on #45458
maybe`debugForceGc()` to clarify that the method is only available in debug builds and users should not count on it being available in release builds?

[2021-03-25 00:04] #45283 closed

[2021-03-25 00:12] natebosch commented on #45458
Maybe `forceGarbageCollection()`?

[2021-03-25 00:13] sigmundch commented on #45458
should anything in `dart:developer` be considered available for production/release use? Maybe we can address that concern more coarsely with the entire library?

[2021-03-25 00:18] jacob314 commented on #45458
Good point. Almost everything in `dart:developer` is at minimum useless in production/release. There are a few utility classes that work equally well in production but all the core functionality like dispatching timeline events won't do anything.

[2021-03-25 00:23] #45419 closed

[2021-03-25 01:00] leafpetersen opened #45459 "Analyzer: poor error message when using nonfunction type aliases without upgrading language version"
The following code is erroneous, since it attempts to use both the null safety and the nonfunction type alias features without moving to the 2.13 language version:

[code]

The analyzer currently prints the following error messages for this code:

[code]

I can see that in general it may be difficult to tell when a user has merely mistyped a typedef instead of attempted to use a nonfunction type a

[2021-03-25 01:02] leafpetersen opened #45460 "CFE: No error message when using nonfunction type aliases with previous language versions"
The following code is erroneous, since it attempts to use the nonfunction type alias feature with a previous language version.  The CFE reports no error for this code currently.

[code]

cc @johnniwinther @stefantsov @eernstg

[2021-03-25 01:21] leafpetersen opened #45461 "CFE unit test failures when enabling nonfunction type aliases"
I have a CL turning on nonfunction type aliases by default: [Enable non-function type aliases by default in 2.13.](https://dart-review.googlesource.com/c/sdk/+/192948).

This causes some unit test failures in the CFE that I'm not sure what the right way to proceed is.  Should I simply rebase the expectations, or should these tests be set to a previous language version to preserve coverage?

cc @jo

[2021-03-25 01:32] #44602 closed

[2021-03-25 02:29] munificent commented on #44872
I made some progress today. I'm trying to figure out:

1. Whether we should track context for *all* static error tests or just some that opt in. I think if we want to add context for all tests, there are about 100 that would need updating. I don't mind updating them, but I don't know if it makes the tests noisier than we want.
2. How we want context expectations to look in tests. The simplest solu

[2021-03-25 03:11] fayduan commented on #45083
Hi @bkonyi,
Since I have updated `service.md` before, nothing changed after I run `dart tool/generate.dart`.
[code]
In addition, `CHANGELOD.md` and `pubspec.yaml` have been updated to `7.0.0-dev`

[2021-03-25 05:49] fzyzcjy opened #45462 "[ffi] Allow C++ code to throw Exception and let Dart/Flutter catch it"
Hi thanks for Flutter and Dart! I hope I can write c++ code that throws, say, `throw std::runtime_error("ouch")`. Then I hope the flutter code calling the c++ code (via ffi) can see the exception and catch it.

How can I do this? Thanks!

[2021-03-25 05:58] mannprerak2 commented on #45462
Duplicate of https://github.com/dart-lang/sdk/issues/39140

[2021-03-25 06:29] a-siva commented on #45458
In most cases such a method would be a no op in the VM because of the way garbage collection is implemented in the VM. At best it would be equivalent to the idle notification mechanism that flutter engine uses.

[2021-03-25 07:34] fzyzcjy commented on #45462
@mannprerak2 So... there is no way to do it? :(

[2021-03-25 07:45] mannprerak2 commented on #45462
Nope, you need to make error code part of the return value somehow, maybe wrap the return code in some struct which has the error code and the return value.

[2021-03-25 08:02] sstrickl commented on #45428
Thanks for the heads up, looking into this now.

[2021-03-25 08:35] sstrickl commented on #45428
So the problem is that we _only_ add dynamic closure call dispatchers if the type of the called object is dynamic, but this is case where we're downcasting and, because of the removal of closure checks when not dynamically called (that is, closures only _have_ one entry point now), things go through unchecked.

Same holds for non-tearoffs:

[code]

has the same issues.

For this case, what we want

[2021-03-25 08:50] mkustermann commented on #45428
We should only call the closure directly if we have an actual function type at the call site - then we know it's either `kClosureCid` or `kNullCid`.

If the call site is `dynamic` or `Function` the actual receiver can be also a user-defined class with a `call()` method. We should therefore use a normal instance call. It might make sense in this case to modify the selector to use `.dyn:call()` inst

[2021-03-25 08:51] mraleph commented on #45428
@sstrickl maybe I am missing soimething, but would not it be simplest to simply treat calls through `Function` type as if it was a `dynamic` call? I know it is going to be slower, but we can address that later if it becomes a problem.

[2021-03-25 08:53] sstrickl commented on #45428
That'll be a quick patch for this particular issue, but I think with more complicated downcasting you can still end up in a situation where you might need a more general solution.

I'll go ahead and do the quick patch for now, though, so this particular version of the problem is fixed, and see if I can come up with a more complicated program that shows it's still not a complete one.

[2021-03-25 08:54] mraleph commented on #45428
@mkustermann note though that you can no longer have user defined types which implement `Function`. This has been prohibited by Dart 2. So `Function` does give us a bit more information than `dynamic` (e.g. that it is a closure call for sure), but you still need to do all the argument checks anyway.

[2021-03-25 08:57] mkustermann commented on #45428
@mraleph Ah, yes, the CFE will auto-tearoff the `.call()` method now.

[2021-03-25 09:00] sstrickl commented on #45428
Also, note this is an interesting interplay between type refinement and downcasting:

[code]

The first `Expect.throwsTypeError` fails appropriately, but the second does not.

[2021-03-25 09:15] sstrickl commented on #45428
So yes, we do appropriately insert dyn:calls on the first two calls to `f` (where `f`'s type is `Function`), but not in the latter case (where `f`'s type is `Function(List<Never>)`).

The `(f as Function)` cast does get thrown away as expected, since a `Function(List<Never>)` is always a `Function`, but the promotion keeps the function from being called through a dynamic closure call dispatcher.

[2021-03-25 09:17] a6a18 opened #45463 "Error when subtracting with double number"
issue when two double number are subtracted

<img width="1438" alt="截圖 2021-03-25 下午5 15 21" src="https://user-images.githubusercontent.com/39345520/112448928-d9dd5b80-8d8d-11eb-818a-f4cd3f15156f.png">

[2021-03-25 09:20] johnniwinther commented on #43261
Only `co19/LanguageFeatures/nnbd/type-aliases/static_errors_A15_t02` is still failing.

[2021-03-25 09:21] johnniwinther commented on #43261
A check is missing for nullable supertypes from nonfunction type aliases.

[2021-03-25 09:28] johnniwinther opened #45464 "CFE failure in `co19/LanguageFeatures/nnbd/Least-greatest-closure/nonfunction_typedef/nonfunction_static_t05`"
CFE fails to report an error in `co19/LanguageFeatures/nnbd/Least-greatest-closure/nonfunction_typedef/nonfunction_static_t05`

[2021-03-25 09:29] mraleph commented on #45454
I think it is safe to close this as working as intended. We could consider doing a better error message though.

[2021-03-25 09:31] johnniwinther commented on #43261
`co19/LanguageFeatures/nnbd/weak/type-aliases/static_errors_A15_t04` is also failing for the same reason.

[2021-03-25 09:33] mraleph commented on #45454
Actually I thought about this a bit more and there _might_ be a way around this, though it is going to be a pretty gnarly thing to implement. I am going to add my thinking to #44999

[2021-03-25 09:33] mraleph commented on #45454
Duplicate of #44999

[2021-03-25 10:01] mraleph commented on #44999
I thought about this a bit in context of @annagrin's duplicate request (https://github.com/dart-lang/sdk/issues/45454).

This made me realize that we could theoretically support this specifically if top stack frame is a resumption of an `async/async*` function, because these functions are expecting to be suspended.

So user attempts to evaluate `await foo` we can simply suspend top stack frame and

[2021-03-25 10:05] mraleph commented on #45463
That's just how floating point arithmetic works (and that's why you should never use floating point for storing something like amount of money). See https://floating-point-gui.de/ for more detailed explanations.

[2021-03-25 10:05] #45463 closed

[2021-03-25 10:05] johnniwinther opened #45465 "VM failures on co19/LanguageFeatures/Generic-functions-as-type-args/class_A03_t01"
The VM fails `co19/LanguageFeatures/Generic-functions-as-type-args/class_A03_t01` in various configurations:
[code]

The failure logs are odd since they only report an unexpected exit code, for instance `-1073741571` in https://dart-ci.appspot.com/log/any/dartk-weak-asserts-win-release-x64/166/co19/LanguageFeatures/Generic-functions-as-type-args/class_A03_t01 and `-11` in https://dart-ci.appspot.c

[2021-03-25 10:12] lrhn commented on #44999
If you are inside an `async` or `async*` function, then the stack is probably limited to the current function &mdash; unless you are prior to the first `await` of an `async` function, in which case you're running synchronously on top of the caller.
I think it would be reasonable to disallow `await` at a breakpoint before the first real `await` of an `async` function.

(You could also use `dart:cli

[2021-03-25 10:13] johnniwinther commented on #45460
I don't think this is exclusive to the nonfunction type aliases experiment, i.e. we currently don't enforce that unreleased experiments are only supported in the current sdk version.

[2021-03-25 10:15] johnniwinther commented on #45461
We probably need to add explicit language versions to these tests _and_ fix https://github.com/dart-lang/sdk/issues/45460

[2021-03-25 10:32] lrhn commented on #45434
A  `try`/`catch` block is actually an overhead. What we currently do is the most efficient way we could find to return `null` if the type is nullable and throw if it's not, while adding minimal overhead on all the valid calls *and* not adding extra fields to check.

We could have added a boolean `hasValue` instead, and used that for extra logic when there is no value, but then the internal `_curre

[2021-03-25 10:38] mraleph commented on #45462
I don't think it is duplicate of #39140 - that one is about throwing C++ exceptions over Dart frames (i.e. if you have a sandwich stack Dart -> C++ (a) -> Dart -> C++ (b) and inner C++ (b) throws exception then #39140 suggests it could be caught in C++ (b) and ignored by Dart altogether).

This one is about converting C++ exception into a Dart exception automatically on the boundary between Dart a

[2021-03-25 12:38] eernstg opened #45466 "Documentation of unaliasDeclaration"
In pkg/front_end/lib/src/fasta/builder/type_alias_builder.dart, consider using the following DartDoc:

[code]

Check that all parameters are documented. Note that the current DartDoc is ambiguous about the expansion (should use 'transitive alias expansion', thus relying on the spec).

[2021-03-25 13:07] sstrickl commented on #45428
So I'd say the problem here is in the front end. Looking at the kernel, the call is being annotated with the type `Function(List<Never>)` despite the cast to `Function` first. So the cast, guaranteed to succeed, is thrown away, but the more specific type information is then used at the call site without further static checking (which would show that it would fail, like how the non-casted call fail

[2021-03-25 13:09] eernstg commented on #45464
I took a look at the following, which is the contents of `co19/LanguageFeatures/nnbd/Least-greatest-closure/nonfunction_typedef/nonfunction_static_t05`

[code]

This program runs (and throws, as expected, because it reaches the `throw` expression) on `dart`, which matches the behavior reported for the test, according to https://dart-ci.firebaseapp.com/current_results/#/filter=co19/LanguageFeatures

[2021-03-25 13:17] stereotype441 commented on #45396
I was able to reproduce this bug by trying to migrate the following code snippet:
[code]
I'll get to work on a fix.

[2021-03-25 13:42] eernstg opened #45467 "[analyzer] A getter/setter conflict is not detected"
Consider the following program:

[code]

This program is accepted by the analyzer (commit 5be4e20b16c15fcb6213fada575139e91f5efa11) with no errors (but the CFE reports `Getter not found: m`).

However, the error should be reported: The lookup for `m` should search enclosing lexical scopes (the syntax that actually encloses that occurrence of `m`), searching for the basename `m` (so it searches for

[2021-03-25 13:48] sstrickl commented on #45428
Or maybe this is more appropriately asked of @alexmarkov, since this is VM-specific metadata in the front end.

[2021-03-25 14:12] a6a18 commented on #45463
oh... i got it, because decimal decimals cannot be perfectly converted into binary

[2021-03-25 14:21] eernstg commented on #45459
At the place where the `invalid_generic_function_type` is emitted, perhaps the analyzer already parses a `<type>` rather than a `<functionType>`? In that case it might be useful (when the language version is below 2.13) to emit the message that `nonfunction-type-aliases` needs to be enabled, unless there is a syntax error.

[2021-03-25 14:44] #45326 closed

[2021-03-25 15:11] #45446 closed

[2021-03-25 16:00] SergeyShustikov commented on #34567
If you need to extend the mixin, which contains only abstract methods, you can use `implements` instead of `extends`

[code]

[2021-03-25 16:23] mkustermann opened #45468 "Avoid register spilling around FfiCallInstr for leaf calls"
After [cl/179768](https://dart-review.googlesource.com/c/sdk/+/179768) we should consider a follow-up to remove possibly spilling around the `FfiCallInstr` by making not using `LocationSummary::kCall`.

/cc @cskau-g

[2021-03-25 17:11] stereotype441 commented on #44900
Ok, here's all the reasons I'm aware of why type promotion might fail.  This is kind of a brain dump so sorry for the length.  Note that these examples are all pretty contrived; hopefully someone can dig around some successfully migrated for more realistic examples :)

Probably not all of these are worth writing about.  But I think it would be good to reserve a "go" link for each of them, so that

[2021-03-25 17:12] stereotype441 commented on #44900
@bwilkerson Ok, I can do that, but it will be an ever-expanding list as I work on the "why not promoted" logic.  Is it ok if I wait until after the branch cut so that I can give you a definitive list?

[2021-03-25 17:17] bwilkerson commented on #44900
The documentation can be updated after the branch point, so yes.

The other option is to tell me where to start looking for uses and I can do the searching myself.

[2021-03-25 17:20] bkonyi opened #45469 "HttpClient profiling code isn't removed in product mode"
We've seen some regressions in code size benchmarks for product mode (Flutter release mode) which are likely caused by HTTP profiling code not being tree shaken out even though it's effectively useless without a VM service. We should wrap code referencing the profiler with product mode checks to allow for this code to be tree shaken.

[2021-03-25 17:21] kluverua opened #45470 "dart migrate exception: A decorated type for the bound of T should have been stored by the NodeBuilder"
Dart SDK version: 2.12.2 (stable) (Wed Mar 17 10:30:20 2021 +0100) on "windows_x64"

Got this error while migrating my project using the dart migrate utility:
My class: [approvals_bloc.dart](https://github.com/dart-lang/sdk/files/6206624/approvals_bloc.dart.txt)
[code]

I think the error is in this method:

[code]

A long time ago there was another error in this method:
`The argument type 'List<Ap

[2021-03-25 17:39] goderbauer commented on #35234
@bwilkerson Can you kick the bot one more time?

[2021-03-25 17:39] franklinyow commented on #44960
Any updates?

[2021-03-25 17:41] bwilkerson commented on #35234
Done

[2021-03-25 17:42] jcollins-g commented on #44960
i am working on getting this published through the ecosystem as I write this.

[2021-03-25 17:49] eernstg opened #45471 "[analyzer] Crash on co19/LanguageFeatures/Generic-functions-as-type-args/class_A03_t02"
Cf. https://dart-ci.appspot.com/log/any/analyzer-asserts-strong-linux/6739/co19/LanguageFeatures/Generic-functions-as-type-args/class_A03_t02, the analyzer is crashes on

[code]

[2021-03-25 17:49] aam commented on #45116
Still working on repro without installing antivirus software.
Got https://developer.apple.com/documentation/networkextension/filtering_network_traffic sample SimpleFirewall app running listening for traffic on port 8888, then running simple server/http client test(https://github.com/dart-lang/sdk/blob/master/tests/standalone_2/io/http_basic_test.dart) with port hardcoded to 8888 still works as exp

[2021-03-25 17:58] eernstg commented on #45389
All of them should be fixed by https://github.com/dart-lang/co19/commit/fddb1dce948cec277bf3dc23b45ee95e761b89fe, which is also the current version in co19/src here.

There are still some failures:
co19/LanguageFeatures/Generic-functions-as-type-args/typedef2_A02_t03,
co19/LanguageFeatures/Generic-functions-as-type-args/typedef2_A02_t04:
Fixed in https://github.com/dart-lang/co19/commit/a1a1f4a423

[2021-03-25 18:09] stereotype441 commented on #44900
Sure, just look for any uses of `ResolverVisitor.computeWhyNotPromotedMessages`-- the return value should always be passed fairly promptly to an `ErrorReporter` method, so it should be fairly easy to see which error codes might be affected.

[2021-03-25 18:11] a-siva commented on #45389
Based on the comment above can I assume that all the RuntimeError failures noted in this bug were all bad tests.

[2021-03-25 18:14] a-siva commented on #45465
This is a duplicate of https://github.com/dart-lang/sdk/issues/45443

[2021-03-25 18:14] #45465 closed

[2021-03-25 18:15] franklinyow commented on #45460
Assigning to @johnniwinther, please reassign as you see fit

[2021-03-25 18:16] franklinyow commented on #45461
Assigning to @eernstg , please reassign as you see fit

[2021-03-25 18:25] scheglov commented on #45459
Yes, we have similar hints for other experiments.
I will update the parse to report such nudge for non-function typedefs as well.

[2021-03-25 18:32] stereotype441 commented on #44872
I prefer the format that doesn't have embedded line/column numbers for maintainability reasons, but I'm a little worried that it will get us into trouble by making the test ambiguous if there's multiple errors.  How about an approach where we have numbered identifiers to point to the locations?  Something like this:
[code]
That way the `@1` serves to tie together the two locations.  It wouldn't in

[2021-03-25 18:34] munificent commented on #44872
I like that. I was idly considering something similar, so our convergent evolution here is a signal that it's a good idea. Let me see how hard that is to implement and I'll go from there.

[2021-03-25 18:35] stuartmorgan opened #45472 "Migrator incorrectly adds `as Future<T>` to `Future<T?>`"
**STR:**

- Write the following:
[code]
- Run `dart migrate`

**Expected results:**
[code]
(Or something equivalent, but that's the way we've been manually fixing this case.)

**Actual results:**
[code]

That code will crash at runtime with "type 'Future<T?>' is not a subtype of type 'Future<T>' in type cast" (regardless of the value of `foo` at the time), so the migration tool should not suggest

[2021-03-25 18:59] goderbauer commented on #35234
Looks like the engine is completely clean now. There are a handful of ignores I missed in the framework, those are getting cleaned up here: https://github.com/flutter/flutter/pull/79071.

In previous runs of the bot it would complain about explanations we had added to an ignore, like:

[code]

Newer runs don't complain about that anymore even though its still in our codebase:

https://github.com/f

[2021-03-25 19:03] stuartmorgan opened #45473 "CastMap does an invalid cast on 'remove'"
**STR:**
[code]

https://github.com/dart-lang/sdk/blob/d44457f79d087b52a0468609d44013e5fd9f09f0/sdk/lib/internal/cast.dart#L280 is incorrect, since `remove` returns a nullable value even if the value type is non-null.

[2021-03-25 19:13] stuartmorgan commented on #45473
This is causing issues for the very popular `shared_preferences` plugin on Linux and Windows, so ideally we would cherry-pick a fix for this to stable. (If that's not feasible, we can work around it in the plugin, but I don't think that plugin is going to be the only thing to hit this.)

[2021-03-25 19:19] scheglov commented on #45459
https://dart-review.googlesource.com/c/sdk/+/193100

[2021-03-25 19:23] stuartmorgan opened #45474 "Provide a safer-for-nullability version of `as`"
https://github.com/dart-lang/sdk/issues/45473 is an example of a general foot-gun of `as` in an NNBD world: `as` doesn't care at compile time if you are casting away nullability even if doing so is invalid. Ideally, `as` should simply not allow removing nullability, requiring `!` for that, in much the same way that most C++ cast operators won't let you remove `const`, so you have to use `const_cas

[2021-03-25 19:29] jakemac53 commented on #45474
Just as a note here this was the root cause of a bug in the sound null safety release of the test package, https://github.com/dart-lang/test/pull/1455/files#diff-dd263a0546610e8df9a78ad7fe70f8afb0c0784b15b0039c6c87da503308fe7eR66.

[2021-03-25 19:31] devoncarew commented on #45473
cc @lrhn

[2021-03-25 19:31] jacob314 commented on #44999
I agree that using `await` is very difficult when you are paused at a breakpoint. Eval can also be used when not paused at a breakpoint which is actually the case where @rrousselGit was hitting the limitation. It would be nice to support await in that context even it isn't supported when paused.

[2021-03-25 19:42] stereotype441 commented on #44900
@kwalrath Distilling down my colossal comment above, how about we reserve these go links for now:
- http://dart.dev/go/non-promo-property (The thing the user is trying to promote isn't a local variable)
- http://dart.dev/go/non-promo-this (The thing the user is trying to promote is `this`)
- http://dart.dev/go/non-promo-write (The variable the user is trying to promote might have been written to s

[2021-03-25 19:58] scheglov commented on #45444
Unfortunately I don't have much to advice here.
Try to look into `<User>AppData\Local\.dartServer\.analysis-driver`, if there is `ex` directory, and any crash logs in it.

[2021-03-25 19:58] annagrin commented on #44999
@jacob314 good point!  @lrhn @mraleph would that be possible?

[2021-03-25 19:59] #44797 closed

[2021-03-25 20:02] goderbauer commented on #35234
Looks like what I pointed out in my previous comment is due to improvements made in https://dart-review.googlesource.com/c/sdk/+/192725. All good then!

[2021-03-25 20:12] #45450 closed

[2021-03-25 20:19] Sesughter01 commented on #41659
Awesome this worked for me too. Thanks @Gauravmokashi

[2021-03-25 20:21] mraleph commented on #44999
Yeah, that should be possible. I don't see why it would not work. (Though in VM `_evaluateCompiledExpression` might need to be rewritten. Currently it expects synchronous completion, I think).

[2021-03-25 20:30] #45396 closed

[2021-03-25 20:37] mraleph commented on #45455
This feature is also beneficial for `dart:ffi` use cases - it would allow us to have finalization mechanism without designing a custom one /cc @dcharkes @mkustermann

[2021-03-25 20:39] Majdi-Alkhusha commented on #38765
use this command
sudo xattr -d com.apple.quarantine "Your_Flutter_path/bin/cache/dart-sdk/bin/dart"

[2021-03-25 20:50] Piinks opened #45475 "dart fix - addParameter - required_named - not working"
Found in https://github.com/flutter/flutter/pull/79057
That PR is the first `addParameter` that is `required_named` that we've done in flutter/flutter. No transform is applied at all.

Here is the rule (it's a short one):
[code]

[2021-03-25 21:22] athomas commented on #28793
There's a CL in review now. I don't expect it to land before April.

https://dart-review.googlesource.com/c/sdk/+/192182

[2021-03-25 21:26] annagrin commented on #44999
We would still need the frontend part of this bug I presume?  Currently `await` expression do not compile. We also would need to see what happens on web side.

[frontend] Expression evaluation fails for await statements with a compilation error #45454

[2021-03-25 21:31] shuoch-g opened #45476 "FieldFormalParameter.type is null for initializing formals"
**Detail**

Here is code to reproduce this issue:
[code]

The output is

[code]

As you can see, for initializing formals the type annotation is null. Given the comment on `FieldFormalParameter` syntax

[code]

This seems intended, but I wonder if there is any way I can get the type information **without resolving its element** ?

Thanks !

[2021-03-25 21:32] goderbauer commented on #35234
Some `// ignore`s in generated code are still problematic, details in https://github.com/flutter/flutter/issues/79091.

[2021-03-25 21:42] annagrin opened #45477 "[dartdevc] Communicate implicitly imported libraries to the debugger"
Dartdevc adds the following libraries as implicit imports to components before generating JavaScript. Since they might not be mentioned as imports, metadata does not contain this information, and the debugger struggles to evaluate expressions referring to symbols and types from those libraries.

See: https://github.com/dart-lang/webdev/issues/1226

Suggestion:
- Add these to metadata as imported l

[2021-03-25 21:51] letsar opened #45478 "NNBD Migration tool detect unmigrated libraries within my package"
I'm trying to migrate the feature/revival branch of flutter_slidable (available [here](https://github.com/letsar/flutter_slidable/tree/feature/revival)).

When I run `dart migrate`, I have this error, but I don't understand why:

[code]

All these libraries are the ones I'm trying to migrate, so I'm very confused.

[2021-03-25 22:06] leafpetersen commented on #45460
Note that at least in this case I don't think this has to do with it being an unreleased experiment.  With [this cl](https://dart-review.googlesource.com/c/sdk/+/192948) which enables the experiment by default, if I run the following program (without specifying any experiment flags):

[code]

I get the following output:

[code]

The CFE is correctly rejecting the use of nullability features in a D

[2021-03-25 22:35] bit-burger commented on #3792
In swift a empty dictionary (map) literal is written as `[:]` to distinguish from an empty array `[]`, in dart we could say that a empty map literal is `{:}` and an empty set is simply `{}`.

[2021-03-25 22:44] #45459 closed

[2021-03-25 23:37] Levi-Lesches commented on #42947
I also have the issue with Streams.

It feels counter-intuitive to me that null-safety is enabled by switching types (`T?` to `T`), but with functions like `firstWhere`, we have to use an entirely different method to get the behavior we want.

While we're on the topic of unintuitive, I'd say that the fact that `firstWhere` _throws_ is surprising, especially when compared to `Map.[]` which returns

[2021-03-25 23:55] leafpetersen commented on #45459
[code]

👍

[2021-03-26 00:19] annagrin opened #45479 "[dartdevc] Mark root library in ddc debug metadata"
Currently debugger is trying to take a guess (and sometimes fails) at the root library of the app:

https://github.com/dart-lang/sdk/issues/44760

Can DDC infer what library contains the main and mark that library as the rootlib in the metadata?

[2021-03-26 00:19] leafpetersen opened #45480 "VM seg faulting on co19/LanguageFeatures/Generic-functions-as-type-args/class_A03_t01"
The VM is currently exiting with exit code 11 and a segmentation fault on this test.

cc @a-siva

[2021-03-26 00:20] leafpetersen commented on #45389
@a-siva I've opened [this](https://github.com/dart-lang/sdk/issues/45480) issue with a VM crash on a test that is not known to be bad.  All other tests are either passing or currently marked bad, I'll close this out for now.

[2021-03-26 00:20] #45389 closed

[2021-03-26 00:21] shinyford commented on #45116
@aam I think this is the relevant section from the other thread:

`I've changed the dart SDK code to get local port only after the connection is established, and it seems all works fine. I'm not sure about the right solution: should dart developers fix their code or NE API should be changed to be able to set localEndpoint before [NEAppProxyFlow openWithLocalEndpoint:completionHandler:] call.
`
It'

[2021-03-26 00:27] stereotype441 commented on #45470
@kluverua thanks for the bug report!  Were you able to make progress by rerunning migration with `--ignore-exceptions`?

[2021-03-26 00:34] nshahan commented on #45479
DDC could probably track if a library contains a top level method named main but no way to know for sure if that is the actual entry point for the application being loaded.

[2021-03-26 00:55] shinyford commented on #45116
@aam Again, this goes over my head, but may mean something to you. The sequence of events, taken from the Apple thread:

1. Dart calls connect() on a non-blocking socket.
2. Network extension intercepts dart's flow and calls my [NETransparentProxyProvider handleNewFlow:] handler.
3. My network extension starts nw_coneection_t and returns from [NETransparentProxyProvider handleNewFlow:] handler. As

[2021-03-26 00:58] leafpetersen opened #45481 "Tests for upcoming features are being skipped on the analyzer"
There are a huge quantity of co19 nonfunction type alias tests that appear to be being skipped, with a reference to `github.com/dart-lang/language/issues/115`

Examples:

[code]

@eernstg @athomas Is this intentional?  Unless there's something I'm missing here, we should be unskipping this ASAP.  Do we need to audit the status files for other skips here?

[2021-03-26 00:58] leafpetersen commented on #45481
cc @scheglov

[2021-03-26 01:15] leafpetersen commented on #45351
Can this be closed?

[2021-03-26 01:15] leafpetersen commented on #45449
Can this be closed?

[2021-03-26 01:16] leafpetersen commented on #45029
@stefantsov Shall we go ahead and slip this to the next release?

[2021-03-26 01:16] leafpetersen commented on #44912
I think we can close this.

[2021-03-26 01:16] #44912 closed

[2021-03-26 01:17] leafpetersen commented on #44967
I think nothing is planned here.

[2021-03-26 01:18] leafpetersen commented on #44965
@kwalrath Any concerns about this being ready for when we hit stable?

[2021-03-26 01:19] leafpetersen commented on #44963
@grouma this will be released in 2.13 are you waiting on a dev build or can you go ahead and validate?  [This](https://dart-review.googlesource.com/c/sdk/+/192948) CL can be patched in to build a version with the feature on by default.

[2021-03-26 01:20] leafpetersen commented on #44957
This is tracked internally and my understanding is that we will not block on this - indexing will land after we turn this on internally.

[2021-03-26 01:20] #44957 closed

[2021-03-26 01:23] leafpetersen commented on #43790
This seems to be fixed.

[2021-03-26 01:23] #43790 closed

[2021-03-26 01:24] leafpetersen commented on #42449
This now works.

[2021-03-26 01:24] #42449 closed

[2021-03-26 01:25] leafpetersen commented on #44927
@kwalrath Any concerns about this being ready for stable?

[2021-03-26 01:26] johngithubby opened #45482 "[dart-migration] un-migrate files from null-safety?"
How do I un-migrate files from null-safety? When I was migrating my flutter project, I unchecked the test directory where I kept my tests (test), but the migration web page must have been reloaded and the checkmark was back on when I applied the migration.

Flutter_driver is not migrated yet, so I'm getting messages like this one:

{

Dart SDK version: 2.12.2 (stable) (Wed Mar 17 10:30:20 2021 +01

[2021-03-26 01:26] leafpetersen commented on #44920
@davidmorgan do we have an internal bug for this?

[2021-03-26 01:27] #44923 closed

[2021-03-26 02:13] kwalrath commented on #44927
No, no concerns.

[2021-03-26 02:14] kwalrath commented on #44965
Nope

[2021-03-26 02:27] aam opened #45483 "Failures on [vm/compiler] Change when parents of local functions are retained."
There are new test failures on [[vm/compiler] Change when parents of local functions are retained.](https://github.com/dart-lang/sdk/commit/bf74cad4775af085b7cfba829a0a1c23208c5586).

The tests
[code]
are failing on configurations

[unittest-asserts-release-mac](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8851781495415641936/+/steps/test_results/0/logs/new_test_failu

[2021-03-26 02:31] aam opened #45484 "Failures on [co19] skip test that uses dart:mirrors on precompiled and web platforms"
There are new test failures on [[co19] skip test that uses dart:mirrors on precompiled and web platforms](https://github.com/dart-lang/sdk/commit/dac02ba37ac5a9278d7520cfae78ac4e3f7b4ad9).

The tests
[code]
are failing on configurations
[code]

[2021-03-26 04:24] a-siva commented on #45480
This is a duplicate of https://github.com/dart-lang/sdk/issues/45443

[2021-03-26 04:24] #45480 closed

[2021-03-26 04:25] a-siva commented on #45483
/cc @sstrickl

[2021-03-26 04:52] rakudrama commented on #40777
This looks worthwhile: Pretending that super-getters work with aliases shrinks a Flutter app (minified) by 0.57%.
It would be necessary to install some aliases after the tear-offs, which will reduce the win, but not by much as the distribution is skewed, requiring <20 aliases needed to support > 500 calls.

It might be best to set the alias at the same time as installing the tearoff, e.g.
[code]
b

[2021-03-26 05:45] aam commented on #45116
@shinyford what is the dart version you are using? Can you try version 2.13.0-71.0.dev or later since it has a fix for https://github.com/dart-lang/sdk/issues/45047.

[2021-03-26 06:25] kluverua commented on #45470
Doh, forgot to mention that. Yes, it is over.
It converts my method to this:
[code]
And i get error:
`The argument type 'List<ApprovalModel>' can't be assigned to the parameter type 'List<ApprovalModel>'.`
And now I can't find a workaround for this in any way :(

Btw, here is UpdateApprovalsFromCache class in its entirety:
[approval_event.dart](https://github.com/dart-lang/sdk/files/6209715/approv

[2021-03-26 07:47] kluverua commented on #45470
Now I think the error is not related to dart migration.
Should i write this error in this issue https://github.com/dart-lang/sdk/issues/32042 ?
Or create new issue?

[2021-03-26 08:47] shinyford commented on #45116
@aam It looks like I'm already on dart-sdk-2.13.0-116.0.dev as part of the Flutter install. But I've downloaded and installed dart-sdk-2.13.0-116.1.beta (which I believe is the latest), and made sure that's the dart binary that's running now: no improvement, I'm afraid.

[2021-03-26 08:58] adrianflutur opened #45485 "mistyped "method" inside object.dart"
There's a "memthod" at line 110 in object.dart.
Dart SDK version: 2.12.0 (stable)

![dart-mistype](https://user-images.githubusercontent.com/58974561/112375469-02147e00-8cec-11eb-8239-c7f22632bf6b.png)

[2021-03-26 08:58] #45485 closed

[2021-03-26 09:04] lrhn commented on #45482
The easiest approach would normally be to check the old version of the files out from source control.
For `git` that would be something like `git checkout pre-migration-branch test/`.

You'll then have to go through the reverted files and manually add a `//@dart=2.9` marker to each Dart file that is not migrated.

[2021-03-26 09:51] davidB commented on #45257
I got the same error, due to an old "dart" version (from nix profile in my case) used instead of the one provided by flutter.
Try to check if the `dart` executable is from flutter distribution `command -v dart` & `command -v flutter`, and then maybe fix your `$PATH`.

[2021-03-26 09:53] yan-zaitsev opened #45486 "Feature request: extend Match class to access group's start/end index"
dart --version: Dart SDK version: 2.10.5 (stable) (Tue Jan 19 13:05:37 2021 +0100) on "macos_x64"

My feature request is to extend
Match class: https://github.com/dart-lang/sdk/blob/master/sdk/lib/core/pattern.dart
so it will be possible to get start/end position of founded groups.

### My case:
I want to find some substring in text and bold it in UI for user so he will see entered search text in

[2021-03-26 10:11] ngorskikh commented on #45116
Greetings! Here's minimal self-contained reproducer: https://github.com/ngorskikh/expert-octo-chainsaw
This is a "transparent proxy" which doesn't proxy anything, unconditionally returning `NO` from `handleNewFlow`.
Run it, allow it to "add a proxy configuration" and observe the issue:
[code]

Here's also a link to an Apple developer forum thread where a certain gentleman claims to have identified

[2021-03-26 11:19] shinyford commented on #45116
Just for clarity: this is the Apple thread also referenced above, from which various paragraphs have been copied.

[2021-03-26 11:45] iarkh opened #45487 "i-2-b: Dart and analyzer behaves in the different way for non-function typedef variable."
Dart SDK version: 2.13.0-161.0.dev (dev) (Mon Mar 22 19:57:50 2021 -0700) on "windows_x64"

Here is a source code example which passes with dart and throws a compile time error with analyzer:
[code]
Both tools should behave in the similar way.

Sample output is:
[code]

[2021-03-26 11:47] axel-op opened #45488 "[dartanalyzer] cannot find files if multiple directories are provided"
The `dartanalyzer` command cannot work if multiple directories are provided in arguments.

* Dart SDK Version: 2.13.0-116.0.dev
* OS: Windows, Linux (haven't tested on MacOS)

[code]

[2021-03-26 12:09] eernstg opened #45489 "[analyzer] Repeated superinterface not detected via type alias"
The `implements` clause of a class cannot have [the same type twice](https://github.com/dart-lang/language/blob/3500b68861bca9200339921dac35d8d8f55d1873/specification/dartLangSpec.tex#L4465).

However, the analyzer does not report that error for the following program:

[code]

[2021-03-26 12:41] eernstg opened #45490 "[cfe] Crash on co19/Language/Generics/syntax_t29"
Cf. https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8851738599320124576/+/steps/test_results/0/logs/new_test_failures__logs_/0:

dartk-strong-linux-debug-x64, dartk-weak-asserts-linux-debug-x64, dart2js-hostasserts-{strong,weak}-linux-x64-chrome, dartdevk-{strong,weak}-linux-release-chrome crash on said test, e.g.:

[code]

[2021-03-26 12:48] eernstg commented on #45490
The test `co19/Language/Generics/syntax_t30` gives rise to a very similar behavior, on the same configurations.

[code]

[2021-03-26 13:04] eernstg opened #45491 "[meta] Type alias regular-boundedness not checked"
Consider the following program:

[code]

This program has an error at the declaration of `AAlias`, because it is not true that the body of the type alias is a regular-bounded type when the type arguments satisfy their bounds (cf. [this rule](https://github.com/dart-lang/language/blob/3500b68861bca9200339921dac35d8d8f55d1873/specification/dartLangSpec.tex#L19582)).

Both the analyzer and the cfe ac

[2021-03-26 13:06] eernstg opened #45492 "[analyzer] Type alias regular-boundedness not checked"
This is the analyzer specific issue for #45491, which has the details.

[2021-03-26 13:07] eernstg opened #45493 "[cfe] Type alias regular-boundedness not checked"
This is the CFE specific issue for #45491, which has the details.

[2021-03-26 13:39] eernstg commented on #45489
Here is another instance of the same issue:

[code]

This is an error because `CM` has a repeated occurrence of a term denoting the type `C` in its `on` type list, and [that's an error](https://github.com/dart-lang/language/blob/3500b68861bca9200339921dac35d8d8f55d1873/specification/dartLangSpec.tex#L5322).

[2021-03-26 14:41] aam commented on #45116
Thank you @ngorskikh !
I gave your transparent proxy a try, the proxy seems to be installed and running(per output in Console for 'TheExtension') but `pub` seems to be working fine still.
What version of flutter are you running on?

[2021-03-26 14:52] redcartel commented on #37863
I am not sure if this is related or if it is a bug, but this code:

[code]

The analyzer and compiler correctly identify the type of the `controller` argument in `v`, but the code in `build()` produces an error identifying `controller` as `Object?`.

Dart SDK version: 2.13.0-150.0.dev (dev)

[2021-03-26 14:53] #58295 closed

[2021-03-26 14:54] #58032 closed

[2021-03-26 14:54] #58026 closed

[2021-03-26 14:55] eernstg commented on #45487
`A<C<dynamic>?>` is not well-bounded and an error should be emitted.

[2021-03-26 15:07] kluverua commented on #45470
I found workaround!
[code]
this strings change to this:
[code]

[2021-03-26 15:25] incendial commented on #45236
Could you please help with the next step after getting `LGTM` for the CL?

[2021-03-26 15:31] redcartel commented on #37863
Not sure if this is a different bug or is covered by this issue

[code]

The declaration of the field `v` does not produce any error, but the function build() contains the same error discussed above.

Even though the analyzer infers the type of the View constructor in build() as
[code]
Making the <MyController> generic explicit resolves the issue>
[code]

[2021-03-26 15:32] aam commented on #45116
Thanks, @shinyford . Can you please paste the error/stack trace that you are getting on dart-sdk-2.13.0-116.0.dev

[2021-03-26 16:01] eernstg commented on #45351
Closing with https://goto.google.com/dart-cbuild/find/6db2f7a2f6a54c2820cb6902beba53f6140e8ac8.

[2021-03-26 16:01] #45351 closed

[2021-03-26 16:05] #45449 closed

[2021-03-26 16:26] eernstg commented on #45481
The issue/115 skips are removed in https://dart-review.googlesource.com/c/sdk/+/192930.

[2021-03-26 16:31] shinyford commented on #45116
This is the output from running `flutter pub get --verbose` with a vanilla install of Flutter:

[code]

[2021-03-26 16:52] shinyford commented on #45116
Same happens with Flutter 2.1.0-12.2.pre

[output.txt](https://github.com/dart-lang/sdk/files/6213252/output.txt)

[2021-03-26 17:21] ngorskikh commented on #45116
You're welcome! Here's what I'm running:
[code]

[2021-03-26 18:10] aam commented on #45116
@ngorskikh wrote

Aha, I am able to reproduce the "Bad state: Future already completed" on that version with your TransparentProxy running. [That](https://github.com/dart-lang/sdk/issues/45047) should have been fixed already though. Would you be able to try recent dev channel version?

[2021-03-26 18:44] kapace commented on #35462
Just wanted to mention, I had ran into to problems with `setTrustedCertificates()` and then it occurred to me that it is only happening on MacOS platform (probably because it's using different code for certificate verification?). The same code that I'm using to trust a self-signed certificate fails for MacOS, but works on Linux/Android. If you are having trouble with this, perhaps try your code on

[2021-03-26 18:46] aam commented on #45116
Thank you folks. With your help I was able to reproduce the problem locally too. So will start working on a fix now.

[2021-03-26 19:57] aam commented on #45116
https://dart-review.googlesource.com/c/sdk/+/193221  seems to fix the problem for me.

[2021-03-26 20:22] caseycrogers commented on #45434
The `try..catch` is overhead, but as long as it's included after the line `if (_hasValue) return _stateData as dynamic;` it'll only be incurred in the invalid code path (calling current when (_hasVluae is false) right?

So the following implementation should be the best of both worlds in that it is performant in the valid case and informative in the invalid case:
[code]

[2021-03-26 21:10] dogdumpling commented on #45116
Greetings!

I hope I'm not putting a spanner in the works, but as I'm experiencing the same error message under Termux on android, it might not just be an Apple specific prob. Just to let you know in trying to hunt this down...

Roughly it happens with me about ⅓ of the time I do a 'dart run' compile - but not every time.

Hope this helps...

[2021-03-26 21:11] jacob314 commented on #45455
Fyi @ferhatb who may have an idea when Safari will support this functionality.

[2021-03-26 21:14] aam commented on #45116
Right @dogdumpling, thanks - the problem is not platform/iOS specific.

[2021-03-26 21:18] dogdumpling commented on #45116
Thanks for the quick come back - so how does that account for the same error message I get on android (Termux)?

[2021-03-27 00:31] shinyford commented on #45116
Sorry to say, that patch doesn't seem to solve the problem for me. Apologies for my ignorance: is there anything I need to do other than just apply the changes to the socket_patch.dart file in situ? Do I need to rebuild dart or something? Thanks!

[2021-03-27 01:05] annagrin commented on #45479
Closing this one as impossible for ddc - we probably should store it in some app-level metadata that can be generated by the builds.

[2021-03-27 01:05] #45479 closed

[2021-03-27 01:52] annagrin commented on #44760
Update: to solve this properly for all scenarios, we need to communicate the entrypoint from the build to the debugger (see mentioned issue above).

To unblock detective.dev, I am working on a better heuristic that works for this usage scenario and works well with other fixes (such as missing dart_sdk libraries: https://github.com/dart-lang/webdev/issues/1226

Note: the main isolate for web is act

[2021-03-27 01:54] searchy2 commented on #44760
@Norbert515 is developing detective.dev

I would love to use detective for speeding up development when building in Flutter Web.

[2021-03-27 02:30] aam commented on #45116
Yeah, you do need to rebuild dart(runtime code that handles network connectivity).

[2021-03-27 02:31] aam commented on #45116
Basically if there are issues with initial connection(which could happen on any platform) those are not handled gracefully due to unexpected type mismatch exception.

[2021-03-27 09:02] shinyford commented on #45116
Hi - tried again with a rebuilt SDK and that solves the problem. Thanks for all the hard work, and getting a solution @aam. I look forward to this getting into official dart.

Cheers

Nic

[2021-03-27 09:04] Avengong opened #45494 "Class"
**Describe the issue you're seeing**

**Does it happen in Dartium or when compiled to JavaScript?**

* Dart SDK version: *use `dart --version`*
* pkg/js version: *look at `pubspec.lock`*

Failing code:
[code]

[2021-03-27 09:15] mraleph opened #45495 "Proposal: prohibit implicit down casts from dynamic when building platform?"
You might change something accidentally to dynamic  and you will not get any compilation errors - because we allow implicit down casts.

Seems dangerous for core libraries.

Another question here is: could we maybe invest in ability to run analyzer on core libraries, so that we could lint them?

/cc @leafpetersen @devoncarew @a-siva @lrhn

[2021-03-27 11:30] #45494 closed

[2021-03-27 12:37] eernstg commented on #3792
An empty set is `{}` and an empty map is `{}`. When there is no information from the context about which of the two is intended, it is a map (because that's needed to ensure that existing code runs). But if you have `Set<int> s = {};` the `{}` will be a `Set<int>` because of the context type for that initializing expression. This seems to work fine in practice, and we're not likely to change the s

[2021-03-27 13:43] bit-burger commented on #3792
Okay, that makes sense, but will there also be a `const Set()` or `const Set<int>()` constructor for added clarity, in the cases where you need it?

[2021-03-27 16:16] tjx666 commented on #37978
any update? Why not provide an option to ignore this?

[2021-03-27 17:02] sambulelo opened #45496 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-201.8743.12.41.7199119`
- `2.12.2`
- `AI-201.8743.12.41.7199119, JRE 1.8.0_242-release-1644-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

[2021-03-27 17:16] kluverua commented on #45470
Here is right solution:
[code]

[2021-03-27 17:29] escamoteur opened #45497 "feedback on experience with the Dart migration tool"
After having done several migration of packages now, I started with migrating my main app some days ago. As it is a quite big app, I couldn't do the whole migration in one step, which is supported by the tool what is really a great future. Though it has some unexpected behaviour.

If use code generation in your project and your press "apply migration", the tool will insert a language constraint in

[2021-03-27 17:54] DarkHeros09 commented on #45345
will this issue ever be fixed?

[2021-03-27 18:39] bwilkerson commented on #45345
@stevemessick

[2021-03-27 23:07] timsneath opened #45498 "FFI Packed Alignment: An error occurred while handling `completionItem/resolve` request: Null check operator used on a null value"
See detailed error log below.

## Dart Version

[code]

## Error Log

[code]

[2021-03-27 23:07] timsneath commented on #45498
/cc @dcharkes

[2021-03-27 23:30] timsneath opened #45499 "Packing of nested structs is unduly restrictive"
Take this pair of structs from the Win32 SDK:
[code]

In C, `sizeOf(PROPERTYKEY)` is 20 bytes, and it doesn't appear as if any packing is enabled. Without any annotations, the Dart equivalent is 24 bytes, because of padding after `pid`. (I don't understand why this behavior is different, but whatever.)

I auto-generate these structs, so it's difficult for me to predict what the packing alignment s

[2021-03-27 23:42] gisborne commented on #45444
Content of my crash log.
[exception_20210327_163805_299.txt](https://github.com/dart-lang/sdk/files/6216602/exception_20210327_163805_299.txt)

[2021-03-27 23:45] gisborne commented on #45444
Android Studio reports different information to the log:

`## Dart analysis issue

NoSuchMethodError: The getter 'parts' was called on null.

## Version information

- Dart SDK 2.12.2
- Dart IntelliJ 201.9335
- Android Studio 4.1.3
- Mac OS X 10.16

## Details

NoSuchMethodError: The getter 'parts' was called on null.
Receiver: null
Tried calling: parts

[code]

[2021-03-27 23:50] gisborne commented on #34786
I tried the rm -rf ~/.dartServer/.analysis-driver/ advice above and it has made no difference.

[2021-03-27 23:52] gisborne commented on #45444
I tried the `rm -rf ~/.dartServer/.analysis-driver/` advice above and it has made no difference.

Big Sur 11.2.3 on M1

[2021-03-27 23:58] gisborne commented on #45444
Error reported by Android Studio is different to the log I posted above:
`## Dart analysis issue

NoSuchMethodError: The getter 'parts' was called on null.

## Version information

- Dart SDK 2.12.2
- Dart IntelliJ 201.9335
- Android Studio 4.1.3
- Mac OS X 10.16

## Details

NoSuchMethodError: The getter 'parts' was called on null.
Receiver: null
Tried calling: parts

[code]

## Debug log

[code]

[2021-03-28 04:20] scheglov opened #45500 "Migrate analysis_server_client to null safety"
`pkg/analyzer_plugin/tool/spec/generate_all.dart` generates into it, but we cannot update it yet.

[2021-03-28 10:29] renggli opened #45601 "Uncaught TypeError: this.function._equals is not a function"
Function equality throws a TypeError in `webdev serve --debug` mode: `Uncaught TypeError: this.function._equals is not a function`. The field is declared as `final Function function` and initialized with a tear-off function from an object.

The same code works as expected when run with `webdev serve --release`, `webdev build` or when exercising the JS code using `dart run test --platform=vm,nodejs

[2021-03-28 10:29] PiN73 commented on #32916
Is there any way to make auto-imports relative by default in Android Studio? E.g. when I type MyHomeP and press Tab

[2021-03-28 11:04] PritamSangani commented on #45116
Hi @aam.

Is there a binary available for the dart SDK that contains this fix or do I need to manually make this change in the dart sdk for now and rebuild? I uninstalled and reinstalled the dart SDK thinking it was a problem with the installation. Now I am stuck with this issue and I can not work on my Flutter app as I cannot install any packages from pub.dev.

[2021-03-28 17:33] drpond1 opened #45501 "?"

[2021-03-28 17:58] #45501 closed

[2021-03-28 20:12] drpond1 commented on #44816
Remark: Updated to 2.12 and the result is the same.

[2021-03-28 23:53] devoncarew commented on #45475
cc @bwilkerson

[2021-03-28 23:55] devoncarew commented on #45478
cc @stereotype441

[2021-03-28 23:56] #45496 closed

[2021-03-28 23:57] #45482 closed

[2021-03-29 02:57] diosney commented on #45427
@lrhn You're right, but at least it should recover from trivial cases, like line endings like:

[code]

It is so QoL, that I'm very accustomed in other languages to reduce typing to let the IDE autocompletes them for me (lazy, I know, sorry for that), and sometimes even I write several lines and in one Reformat sweep the IDE do that and feels so nice that now with Dart I miss it a lot.

[2021-03-29 08:03] eernstg opened #45502 "[cfe] No error reported for mixing in deferred class"
Consider the following program:

[code]

For this program a compile-time error should be reported, because of [this rule](https://github.com/dart-lang/language/blob/3500b68861bca9200339921dac35d8d8f55d1873/specification/dartLangSpec.tex#L5181).

[2021-03-29 08:11] emembrives opened #45503 "Null safety: null checks on class fields not taken into accounts at compilation/analysis time"
Hello,
With Dart 2.13.0 (Linux, through Flutter), as well as the online editor on the https://dart.dev/#try-dart website, my code produces a null safety related error that I think should not be here:
[code]
`return fieldStr;` triggers the following error: `A value of type 'String?' can't be returned from the method 'strOr' because it has a return type of 'String'.`. However, the `if` should have t

[2021-03-29 08:19] bialas1993 commented on #38315
@danrubel @chinmaygarde @mit-mit any updates on this issue?

[2021-03-29 08:20] sstrickl commented on #45483
Ah, yep, I'll need to look into how artificial nodes are added for WSRed owners and do the same for parent functions in ClosureData. Looking into that now.

[2021-03-29 08:24] eernstg commented on #45503
This is working as specified, but note that there is a lot of discussion about this topic [here](https://github.com/dart-lang/language/issues?q=is%3Aopen+is%3Aissue+label%3Afield-promotion).

[2021-03-29 08:49] #45503 closed

[2021-03-29 09:10] dcharkes commented on #45342
@gspencergoog if you're able to load an extra DLL, you can use the native ports mechanism for callbacks ([sample](https://github.com/dart-lang/sdk/blob/master/samples/ffi/async/sample_native_port_call.dart)). You'd write a C function that send a message, pass that function pointer to the win32 API, and receive the message in Dart and expose that as a Future again.

Of course, that involves writing

[2021-03-29 09:10] eernstg commented on #3792
I don't think they will be particularly useful. If you want to document that a specific empty constant set has element type `int` you can use `<int>{}` (this can't be a `Map`, because they take two type arguments).

[2021-03-29 09:31] dcharkes commented on #45499
[code]

Taken from [guiddef.h](https://github.com/tpn/winsdk-10/blob/master/Include/10.0.10240.0/shared/guiddef.h) and [wtypes.h](https://github.com/tpn/winsdk-10/blob/master/Include/10.0.16299.0/shared/wtypes.h#L892).

The MSVC compiler says 16 bytes for GUID and 20 bytes for both [64 bit](https://godbolt.org/z/EY9on5Wof) and [32 bit](https://godbolt.org/z/3qxhKrqb9).

However, the way you specif

[2021-03-29 10:33] DanTup opened #45504 ""The setter 'type=' was called on null" in ApplyResolutionVisitor.visitVariableDeclaration"
This came up at https://github.com/Dart-Code/Dart-Code/issues/3226. I can reproduce with the following code (perhaps triggered by a mix of public/private fields in the same declaration?):

### decorations.dart
[code]

### colours.dart
[code]

This triggers the following error when trying to interact with `decorations.dart` in the editor (the error isn't surfaced, but I changed the local analyzer c

[2021-03-29 11:06] sgrekhov opened #45505 "No error in analyzer for the mixin declaration on two same classes"
The following code produces an error in CFE and no issues in analyzer

[code]
CFE output is
[code]
Analyzer output is `No issues found!`
`Dart SDK version: 2.13.0-165.0.dev (dev) (Thu Mar 25 02:53:52 2021 -0700) on "windows_x64"`

[2021-03-29 11:25] sstrickl commented on #45483
Will be fixed once https://dart-review.googlesource.com/c/sdk/+/193303 lands.

[2021-03-29 11:29] bit-burger commented on #3792
Okay, thanks for clarifying, that definitly makes sense and is also more readable than something like `const Set<int>.empty()`, don't know why I didn't think of that.

[2021-03-29 12:00] johnniwinther commented on #45502
The CFE currently enforces no checks on deferred types.

[2021-03-29 12:02] johnniwinther commented on #45029
I think we can make this slip.

[2021-03-29 12:05] eernstg commented on #45502
Ah, how's that usually handled in language tests?

[2021-03-29 12:06] eernstg commented on #3792
Takes a while to think about everything. Surely we didn't. :smile:

[2021-03-29 12:07] johnniwinther commented on #45502
It isn't. But it should be.

I wasn't aware of this until half a year ago, and it hasn't been the priority to fix it since then.

[2021-03-29 12:46] eernstg commented on #45489
Note that the case where the conflict arises because of an `on` type list in a mixin is also reported as https://github.com/dart-lang/sdk/issues/45505.

[2021-03-29 12:47] eernstg commented on #45505
This is actually already mentioned in https://github.com/dart-lang/sdk/issues/45489#issuecomment-808227822. I added a reference to this issue there, to make sure that this issue is processed even in the case where the fault is resolved as part of #45489.

[2021-03-29 13:34] stefantsov commented on #45487
This issue was addressed by https://dart-review.googlesource.com/c/sdk/+/192146, but the fix was reverted. The re-landing of the fix should resolve this issue.

[2021-03-29 14:00] stefantsov commented on #45487
I'm working on the reland at https://dart-review.googlesource.com/c/sdk/+/193401.

[2021-03-29 14:10] johngithubby commented on #45482
thank you @lrhn

[2021-03-29 14:36] a-siva commented on #35462
/cc @aam

[2021-03-29 14:38] bwilkerson commented on #45504
@scheglov

[2021-03-29 14:58] dcharkes commented on #45498
@timsneath Can you provide the specific instructions to reproduce this?

I have a fix (changing some `!` into `?`), but I don't know how to reproduce the actual problem. 😃

[2021-03-29 15:01] timsneath commented on #45498
This seemed to trigger when I was adding the `Packed` attribute to an existing class in VSCode. Somewhere around opening paren and typing a number triggered it on my machine. I can try and get a more consistent repro if that's not sufficient?

[2021-03-29 15:05] sgrekhov commented on #45481
@eernstg please see https://dart-review.googlesource.com/c/sdk/+/193402

[2021-03-29 15:11] aliyazdi75 opened #45506 "How to access elements in `dart2js` Lists"
How to access elements in `dart2js` Lists like `VideoTrackList`:
[code]

[2021-03-29 15:16] dcharkes commented on #45498
I can repro it now:

[code]

The analyzer in the IDE does not update, and seems to swallow the ffi_verifier crash here locally.

[2021-03-29 15:33] dcharkes opened #45507 "[analyzer/ffi] Inline array const lengths"
The following code is accepted by the dart runtime, but rejected by the analyzer.

[code]

The ffi_verifier expects an int or int list expression here. Instead, we should evaluate the annotation to a const, so that referenced consts are inlined.

@timsneath thanks for reporting.

[2021-03-29 15:35] devoncarew commented on #45506
I believe this is a js interop question.

[2021-03-29 15:36] dcharkes opened #45508 "[ffi] Array should expose an iterable"
`Pointers` expose `asTypedList` which yields a `TypedData` which can be iterated over. `Array`s do not.

We should either create an `Array.asTypedList` set of extensions, or provide another way to iterate over an `Array`'s content.

@timsneath thanks for reporting!

[2021-03-29 15:43] aliyazdi75 commented on #45506
@devoncarew
As mentioned [here](https://developer.mozilla.org/en-US/docs/Web/API/TextTrackList) they can access by `foreach()` method, but on the dart side, they not behaved as lists.

[2021-03-29 15:46] 89z commented on #35364
https://github.com/dart-lang/pub/issues/1847
https://github.com/dart-lang/pub/issues/2938

https://github.com/dart-lang/sdk/issues/35364
https://github.com/dart-lang/stagehand/issues/610

[2021-03-29 15:57] #45498 closed

[2021-03-29 16:14] timsneath commented on #45499
Oh, that makes perfect sense. Sorry -- that was stupid of me. I was using the `Uint64` as a workaround during the lack of arrays, and I had become so blind to it that I wasn't factoring it into the differing alignment. My own code does some bit-twiddling here with properties that retrieve the GUID in a single block, but this should work when I've unwound that. Thank you!

[2021-03-29 16:14] #45499 closed

[2021-03-29 16:33] dcharkes commented on #45507
[code]

@bwilkerson Contrary to the implementation of `@Packed(1)` in `_validatePackedAnnotation`, the annotations found in `_validateSizeOfAnnotation` do not have a known value. Is this due to using redirecting const factory constructors (from `Array` to `_ArraySize`)?

[2021-03-29 16:43] grouma commented on #44963
Ping me when a dev build is available. It's much easier to validate that way.

[2021-03-29 16:44] timsneath commented on #45342
My current progress is here, for anyone interested in experimenting. I put this down a while back to focus on other areas of the package, but this is starting to become the next big hill to climb!
  https://github.com/timsneath/win32/issues/97

[2021-03-29 16:55] alexmarkov opened #45509 "Verify input representations in flow graph checker"
All subsequent passes after the 2nd `SelectRepresentations` pass should not introduce any disagreement in the input/output representations. We can add such a check into flow graph checker, and it would allow us to catch bugs like https://github.com/dart-lang/sdk/issues/45384 more easily.

@mraleph @mkustermann @rmacnak-google

[2021-03-29 16:56] stefantsov commented on #42449
The fix for this issue was reverted due to a crash in google3, but will be re-landed soon. The re-landing CL is here: https://dart-review.googlesource.com/c/sdk/+/193401.

[2021-03-29 16:56] #45443 closed

[2021-03-29 16:58] alexmarkov commented on #45384
The 2nd `SelectRepresentations` pass is performed very late in the compilation pipeline. All transformations after that are supposed to maintain legal IL wrt representations. This is very fragile and easy to break.

`Canonicalize` performs peephole (local) transformations of IL instructions, so running the pass before `SelectRepresentations` would guarantee that there are no further opportunities

[2021-03-29 17:09] bwilkerson commented on #45507
Based on off-thread discussions, it sounds like analyzer can't compute an actual value because some of the values it needs are in patch files, and it doesn't know how to read patch files. (There might also be a bug around `external` declarations, but that has yet to be confirmed.)

[2021-03-29 17:12] eernstg commented on #45502
But that sounds like this issue will work as intended, it just gets a rather low priority.

[2021-03-29 17:58] a-siva opened #45510 "ffi_2/function_callbacks_test failures"
Following tests fail after https://github.com/dart-lang/sdk/commit/05ff52692fc2e77862f9a4f034070dfadcf5a04e

ffi_2/function_callbacks_test/0
ffi_2/function_callbacks_test/1
ffi_2/function_callbacks_test/2
ffi_2/function_callbacks_test/3
ffi_2/function_callbacks_test/4
ffi_2/function_callbacks_test/5
ffi_2/function_callbacks_test/6
ffi_2/function_callbacks_test/7
ffi_2/function_callbacks_test/8

[c

[2021-03-29 18:01] chinmaygarde commented on #44814
Another case where fixing this bug would help https://github.com/flutter/flutter/issues/78936.

[2021-03-29 18:10] a-siva opened #45511 "New test failures after Reapply "[vm, compiler] Convert binary Smi ops to graph intrinsics.""
There are new test failures on https://dart-review.googlesource.com/c/sdk/+/192044

The tests
[code]
are failing on configurations
[code]

[2021-03-29 18:12] tarobins commented on #24872
It seems the syntax for the null aware map accessor landed on

[code]

(i.e. no `.` after the ?)  Just noting cause I found the above example when searching for the syntax.

[2021-03-29 18:13] a-siva commented on #45511
[code]

[2021-03-29 18:32] dagba commented on #38894
omg, still no steps to resolve this problem...

[2021-03-29 18:54] dcharkes commented on #45510
Discussion last week:

I'll investigate the CFE sauce.

[2021-03-29 19:13] chinmaygarde commented on #38315
As I mentioned towards the end of my last comment, it is up to the native code to schedule the task on the appropriate thread. This is working as intended. In the case of `osdialog_file`, `libdispatch` may be used to schedule the task on the main thread.

[2021-03-29 19:28] devoncarew commented on #45505
Thanks - I'm going to close this issue as a dup of https://github.com/dart-lang/sdk/issues/45489.

[2021-03-29 19:28] #45505 closed

[2021-03-29 19:42] dcharkes commented on #45200
This is working as intended. `Pointer` is defaulted to `Pointer<NativeType>` and is an underspecified `Pointer` allowing for generic programming.

It doesn't matter whether it's nested in an `Array` or not.

[code]

Thanks for reporting @sgrekhov!

[2021-03-29 19:42] #45200 closed

[2021-03-29 20:54] devoncarew commented on #45476
cc @scheglov @bwilkerson for the API question

[2021-03-29 20:55] franklinyow commented on #45072
Ping @mit-mit, @vsmenon, and @kevmoo for approval.

[2021-03-29 21:01] bwilkerson commented on #45476
No. The getter `FieldFormalParameter.type` returns the AST node for the type annotation. This corresponds to the syntactic structure of the code. If no type annotation appears in the code, then it returns `null`.

To get type information you need to get a resolved AST and use the element/type model. You can access the element model via `FormalParameter.declaredElement`.

[2021-03-29 21:40] scheglov commented on #45476
Note also that `FieldFormalParameter.type` is AST, not a `DartType` instance, e.g. not `InterfaceType` instance that corresponds to `String` in `String a;`. If just such low-level information is enough for you, you might get similar level by looking yourself into the enclosing class for a field named `c`, and taking its enclosing `VariableDeclarationList.type`. It will work in most cases, except w

[2021-03-29 21:53] sigmundch commented on #45506
/cc @srujzs

You are correct, I believe the API was not properly exposed in Dart.

Until this is fixed, the recommendation is to use js-interop to workaround the limitation. For example, you can do:
[code]

According to the MDN notes, `[]` syntax works in JavaScript too, so using a getProperty may do the trick to read an individual entry:
[code]

[2021-03-29 21:55] sigmundch commented on #45484
sounds like these tests are timing out flakily but not reaching the threshold of the bot infrastructure to be considered flaky.

@annagrin @Markzipan - it may be necessary to extend the default limit, or to split the test in several sub tests to stay within the timeout limit.

[2021-03-29 22:00] Markzipan commented on #45484
I'm currently porting the vast majority of of those tests to the e2e test suite. I can delete these tests from the regular suite, then split the ported tests if those grow too large.

[2021-03-29 22:05] bialas1993 commented on #38315
A good idea!
Everything is clear now. Thank you very much!

[2021-03-29 22:07] sigmundch opened #45512 "Adjust ddc to consider that private classes can escape via typedefs"
Since all fields in Dart can be overriden, DDC conservatively generates fields as virtual properties unless it can prove that the field will not be overriden.

Currently it tries to determine if a class is private and will not be overriden. The logic for this takes into consideration local subclasses. See `_extensiblePrivateClasses`, for example: https://github.com/dart-lang/sdk/blob/master/pkg/de

[2021-03-29 22:10] sigmundch commented on #45512
/cc @leafpetersen - FYI

[2021-03-29 22:16] #45476 closed

[2021-03-29 22:18] sigmundch commented on #45512
@johnniwinther - I figure that non-function type aliases are lowered and eliminated by the CFE in most kernel code. However, in order to support modular compilation, I assume you need to represent in kernel somehow the presence of these aliases. Are those represneted in `Library.typedefs`? What is the recommended way for a backend to detect whether a class was exposed? Do we need to walk through a

[2021-03-30 00:10] aam opened #45513 "data race around Debugger::resume_action_ with lightweight isolates in break_on_function_many_child_isolates_test"
[code]

[2021-03-30 00:13] #45189 closed

[2021-03-30 00:24] #45100 closed

[2021-03-30 00:26] scheglov opened #45514 "Inconsistency in handling instantiate to bounds in analyzer and CFE"
For code like
[code]
Analyzer infers
[code]

(with a pending CL) it also reports errors for both `A()` and `D()` instantiation.
[code]
[code]

CFE seems to produce the same inference:
[code]
But I see the error only in one place:
[code]
And the corresponding test `co19/src/LanguageFeatures/Instantiate-to-bound/nonfunction_typedef/static/nonfunction_FutureOr_l1_t04.dart` does not have an error expe

[2021-03-30 00:35] aam opened #45515 "data race around GroupDebugger::needs_breakpoint_cleanup_ in lightweight isolates"
[code]

[2021-03-30 00:35] #45507 closed

[2021-03-30 00:44] aam opened #45516 "data race around CodeBreakpoint::breakpoint_locations with lightweight isolates and --verbose_debug"
[code]

[2021-03-30 00:52] franklinyow commented on #45376
Have we decided who own this?

[2021-03-30 01:05] aam opened #45517 "data race around Debugger::breakpoint_locations_ with lightweight isolates"
Data race between Debugger::Shutdown that deletes BreakpointLocation and Debugger::HasBreakpoint that looks it
[code]

[2021-03-30 01:29] shuoch-g commented on #45476
Thanks! This issue can be closed, just want to say thank you to all.

I ended up getting a resolved AST, and I believe Konstantin's comment is also feasible, I might give it a try if I cannot resolve the unit.

Thank you all !

[2021-03-30 01:34] aam opened #45518 "data race around Isolate::message_notify_callback_ when debugging with lightweight isolates"
[code]

[2021-03-30 02:06] scheglov commented on #45489
https://dart-review.googlesource.com/c/sdk/+/193451

[2021-03-30 03:09] scheglov commented on #45492
https://dart-review.googlesource.com/c/sdk/+/193452

[2021-03-30 04:10] leafpetersen commented on #45514
@scheglov That looks like a bad test to me.  To be well-bounded, it requires that `FutureOr<C<Object?>> <: FutureOr<C<FutureOr<C<Object?>>>` be true.  This in turn requires that both:
  - `Future<C<Object?>> <: FutureOr<C<FutureOr<C<Object?>>> and
  -  `C<Object?> <: FutureOr<C<FutureOr<C<Object?>>>`

Neither of those look to be provable to me.  I'll mark this as a bad test.

cc @eernstg

[2021-03-30 04:11] iarkh opened #45519 "Dart does not throw a compile error for variable of the type which is not well bounded."
Dart SDK version: 2.13.0-165.0.dev (dev) (Thu Mar 25 02:53:52 2021 -0700) on "windows_x64"

Here is a code source example which throws a runtime error with dart and a compile time error with analyzer:
[code]
This case is described in [1050](https://github.com/dart-lang/co19/issues/1050) and seems like dart should throw a compile error here too.

Sample output is:
[code]
It's interesting that the f

[2021-03-30 04:17] aam opened #45520 "data race around dart::PrologueSource()::prologue_source"
[code]

[2021-03-30 04:17] bwilkerson commented on #45439
I believe that this should now be fixed by https://dart-review.googlesource.com/c/sdk/+/193444.

[2021-03-30 04:17] #45439 closed

[2021-03-30 04:21] aam opened #45521 "data race around SemiSpace dart::page_cache_size"
[code]

cc @rmacnak-google

[2021-03-30 04:30] leafpetersen commented on #45495
cc @natebosch @munificent @mit-mit @lrhn who have a background project to get a set of lints in place to run on Dart owned code.  A lint to disable implicit downcasts from dynamic seems like a good candidate to me.  And I hope that running these on the core libraries is something we are planning for?

[2021-03-30 05:09] bannzai commented on #45285
Oh, I missed the notification.

Yes, I did it shortly after I created the issue. And it works as expected.

[2021-03-30 06:01] johnniwinther commented on #45512
You'll need to walk the typedefs declarations of the library.

[2021-03-30 06:27] dcharkes commented on #44849
I tried changing it to a static method, but that invaidates `new DynamicLibrary.open(...)` of course `DynamicLibrary.open(...)` works fine. @lrhn preference for making a breaking change here? I'm not aware of anyone actually using 'new', except for co19 tests.

[2021-03-30 07:31] eernstg commented on #45519
Yes, please report the missing errors for both tools!

[2021-03-30 07:57] eernstg commented on #45514
Yes, I'd say that neither `A` nor `D` can be used raw, and that's because i2b yields `A<FutureOr<C<dynamic>>>` respectively `D<FutureOr<C<dynamic>>>`, and those types are not well-bounded. I believe there are other tests covering the use of such types as type annotations (cf. https://github.com/dart-lang/co19/issues/1050).

However, the `main` functions mentioned [here](https://github.com/dart-lan

[2021-03-30 08:02] johnniwinther commented on #45438
To enforce this, the CFE constant evaluator needs to be augmented with knowledge of the "static type" of a constant value. Currently all integer and double literals are encoded as `DoubleConstant` values and these values are allowed as integers where the value is not infinite and truncates to itself (i.e. has no fractional part).

To enforce this new behavior we would need to retain integer as `In

[2021-03-30 08:30] johnniwinther commented on #45376
I've added https://dart-review.googlesource.com/c/sdk/+/193406 to document the current behavior.

[2021-03-30 08:35] #45294 closed

[2021-03-30 09:39] giorgiofran commented on #45039
I'm sorry, I forgot to report that from release 2.8 everything is working again. I close this issue

[2021-03-30 09:39] #45039 closed

[2021-03-30 10:03] iarkh opened #45522 "Analyzer does not throw a compile error for a constructor of the raw type which is not well-bounded."
Dart SDK version: 2.13.0-165.0.dev (dev) (Thu Mar 25 02:53:52 2021 -0700) on "windows_x64"

Here is a code source example which calls a constructor of the raw type which is not well bounded:
[code]
Seems like a compile error should be thrown here, however this does not happen, both analyzer passes without error here.

Similar dart issue which throws a compile error with analyzer and passes with da

[2021-03-30 10:51] eyalkutz commented on #45444
@scheglov
in my `C:\Users\<User>\AppData\Local\.dartServer\.analysis-driver` directory I have found many folders numbered in hexadecimal. Is that what you were referring to?
folder: https://drive.google.com/drive/folders/1BeQAqD0VAzvwhNanpDoA7AwoRxwhWdnn?usp=sharing

[2021-03-30 10:59] stefantsov commented on #45490
I'm working on the fix here: https://dart-review.googlesource.com/c/sdk/+/193408.

[2021-03-30 12:57] cuikangyuan opened #45523 "'Flutter run' in terminal cannot connect to VM Service, OS Error: Connection refused, errno = 111, address = 127.0.0.1"
## Steps to Reproduce

1. Create a new flutter module
2. Add new method ‘startConnect ’ in main.dart

[code]
3. Modify method '_incrementCounter' , add call to 'startConnect ' inside '_incrementCounter'
4. In terminal , 'flutter run --debug' then click right bottom button

**Expected results:**
[code]
**Actual results:**
[code]
pubspec.yaml
[code]
**flutter run --verbose output:**

[code]

**flutt

[2021-03-30 13:14] mit-mit commented on #44967
@leafpetersen not even `typedef JsonMap = Map<String, Object?>; typedef JsonList = List<Object?>;` in `dart:convert` ?

That one seemed obvious. But I could be missing something?

[2021-03-30 13:20] stereotype441 commented on #45478
Hi @letsar, thanks for the bug report!  I cloned flutter_slidable, checked out https://github.com/letsar/flutter_slidable/commit/c7ea39bf7fb2ded416f05b79472da7eb35d489b9, and tried running the following commands from the root directory of the project using Flutter 2.0.0:
[code]
I wasn't able to reproduce the errors you were seeing.  I can think of a few things that might be helpful in figuring out

[2021-03-30 13:50] #45487 closed

[2021-03-30 14:28] nikoyal commented on #34103
Any update on this ?

[2021-03-30 14:57] #45490 closed

[2021-03-30 15:29] devoncarew commented on #45523
Thanks for the report! Bugs in Flutter are best filed at https://github.com/flutter/flutter. This looks like a networking / connection issue however; you might try some of the community resources to see if other people have similar setup issues (https://flutter.dev/community).

[2021-03-30 15:29] #45523 closed

[2021-03-30 15:38] parren-google commented on #38102
I can repro this by updating back and forth between revisions. I could send more info @google if you're interested. Using Angular.

[2021-03-30 15:52] jcollins-g commented on #44960
This is now published and propagated through Dart and Flutter.

[2021-03-30 15:52] #44960 closed

[2021-03-30 15:58] jcollins-g commented on #44922
This is unlikely to be complete within one week; at most, code will be landed for 1 or 2 out of three by this point.

[2021-03-30 16:04] stefantsov commented on #45519
I'm working on the fix here: https://dart-review.googlesource.com/c/sdk/+/193500.

[2021-03-30 16:06] stereotype441 commented on #45472
@stuartmorgan unfortunately changing a sync method to async is probably not something the migration tool can feasibly do (it's trivial to see in your example that it's safe, but in general it could affect execution timing in some pretty unsafe ways).

I could see the migration tool generating something like this though:
[code]
How would you feel about that approach?

[2021-03-30 16:13] rakudrama commented on #45438
@johnniwinther I don't think the CFE has to do anything. It already ready shows an error for this:
[code]
The issue is about preventing the current sketchy behaviour _in the runtime_ of returning `4` (aka `4.0`) for the above with non-`const` variables.

[2021-03-30 16:28] bkonyi opened #45524 "[dartfuzz] AOT-SLOWPATH-DebugX64C divergence"
[Logs for failed run here](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8851369564202422848/+/steps/make_a_fuzz_shard_34/0/logs/task_stdout_stderr:_make_a_fuzz_shard_34/0).

[code]

[2021-03-30 16:29] bkonyi opened #45525 "[dartfuzz] JIT-DebugX64C Assertion failure: FlowGraph::IsConstantRepresentable( result, representation, true)"
[Logs with failure here](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8851369564202422848/+/steps/make_a_fuzz_shard_42/0/logs/task_stdout_stderr:_make_a_fuzz_shard_42/0).

[code]

[2021-03-30 16:37] devoncarew commented on #44922
@leafpetersen - do you have a sense for in which order we should tackle these in?

[2021-03-30 16:43] iarkh opened #45526 "Analyzer does not throw a error when a class implements some class and its alias"
Dart SDK version: 2.13.0-165.0.dev (dev) (Thu Mar 25 02:53:52 2021 -0700) on "windows_x64"

Here is a source code example which demonstrates the problem:

[code]
Dart throws a compile error whereas analyzer silently passes here.

It is a compile-time error if the `implements` clause of a class `C` specifies a type `T` as a superinterface more than once, so seems like analyzer should throw an excep

[2021-03-30 16:48] annagrin commented on #44760
@Norbert515 the PR above makes `vmService.rootLib` return `org-dartlang-app:/web_entrypoint.dart`, which is the actual entry point of the app from the vm perspective on web platform. Will this work for your purposes?

After we add more metadata from the builds we will be able to change it to the user's main library, if it is still needed.

[2021-03-30 16:50] #45489 closed

[2021-03-30 16:51] #45492 closed

[2021-03-30 17:22] scheglov commented on #45526
This was fixed as https://github.com/dart-lang/sdk/issues/45489
I will add a tweak to better report the interface in https://dart-review.googlesource.com/c/sdk/+/193522

[2021-03-30 17:22] #45526 closed

[2021-03-30 17:22] stuartmorgan commented on #45472
Seems reasonable; I'm not attached to the specific output I gave. I should probably just have put "Something that doesn't fail at runtime 100% of the time" as the expected results 🙂

[2021-03-30 17:43] stereotype441 commented on #45472
Sounds good.  I'll see what I can do

[2021-03-30 17:47] stereotype441 commented on #45470
@kluverua awesome, thank you!  That reproduces the bug for me :)

[2021-03-30 17:48] leafpetersen commented on #44922
What's the existing status for each of them?  That is, does dartdoc crash, or just generate sub-optimal docs or something else? It looks like unsigned shift is documented on [int](https://api.dart.dev/dev/2.13.0-178.0.dev/dart-core/int-class.html) now, but the link doesn't work?  How about the rest?

[2021-03-30 17:51] aam opened #45527 "Dead lock between GroupDebugger::NotifyCompilation and Debugger::Shutdown around breakpoint_locations_lock"
Thread 5 owns safepoint and is attempting to grab breakpoint_locations_lock during NotfiyCompilation, but thread 13 that holds breakpoint_locations_lock is stuck at exiting the safepoint that thread 5 owns.

[code]

[2021-03-30 18:08] scheglov commented on #45444
@eyalkutz unfortunately there is no `ex`, so apparently DAS did not write any additional data in this case.

[2021-03-30 18:30] lrhn commented on #44967
I personally don't care about `JsonX` types. I'd like the `Any` type, but that's the only one I'd use myself.
There has been absolutely no visible interest about any of these types, so I'm fine with doing nothing.

[2021-03-30 18:45] munificent commented on #44872
Fixed by: https://dart-review.googlesource.com/c/sdk/+/193281

[2021-03-30 18:45] #44872 closed

[2021-03-30 18:46] scheglov commented on #45514
@eernstg There are more `co19/` tests like this that started failing with [this CL](https://dart-review.googlesource.com/c/sdk/+/193450).
Is this something to cover in https://github.com/dart-lang/co19/issues/1050?

[code]

[2021-03-30 18:49] scheglov commented on #45522
[This CL](https://dart-review.googlesource.com/c/sdk/+/193450) will fix it, but it seems that there are more cases of this in `co19/`, see https://github.com/dart-lang/sdk/issues/45514.

[2021-03-30 19:54] #45511 closed

[2021-03-30 20:05] letsar commented on #45478
Hi @stereotype441, thank you for taking a look at this.

You'll find here the information you asked for:

<details>
  <summary>Which operating system are you using?</summary>

[code]

</details>

<details>
  <summary>What's the output when you run flutter --version?</summary>

[code]

</details>

<details>
  <summary>What are the contents of your .dart_tool/package_config.json file?</summary>

[co

[2021-03-30 20:30] alexmarkov opened #45528 "dart2js doesn't perform argument type checks in production mode"
dart2js in production mode fails on the regression test from https://github.com/dart-lang/sdk/issues/45428:

https://dart-review.googlesource.com/c/sdk/+/193524/2/tests/language_2/regress/regress45428_test.dart
[code]

[code]

@sigmundch @rakudrama Is this expected behavior?

[2021-03-30 20:32] nshahan commented on #45458
@jacob314 Would this API addition to dart:developer carry its weight if it is a no op in the VM? Still worth the addition only for development on the web platform?

[2021-03-30 20:35] rakudrama commented on #45528
'production mode' removes type checking of arguments, so this is expected.

[2021-03-30 20:43] goderbauer opened #45529 "unexpected null safety crash"
_(Sorry for the non-descriptive title, didn't know how to better describe this.)_

While debugging https://github.com/flutter/flutter/issues/74389 in Flutter I ran into the following unexpected crash that reproduces when running the program listed below in the Dart VM:

[code]

[code]

This is surprising. I expected `transitionCompleter` to have the type `_AsyncCompleter<Bar<String?>?>`, which mea

[2021-03-30 21:03] jacob314 commented on #45458
It is only useful if it works on both. @a-siva, the button to force GC in the Observatory and DevTools seems like it does something useful when I used it with my prototype leak detection tool. I'd see disposed objects that were GCed as soon as I clicked the GC button but maybe I was just confusing myself.

[2021-03-30 21:03] bkonyi commented on #37553
SDK change [up for review](https://dart-review.googlesource.com/c/sdk/+/193520). We'll need to add `--include_script_urls` to the `gen_snapshot` invocation in `flutter_tools` for the profile mode build for this to be considered closed.

[2021-03-30 21:17] jacob314 opened #45530 "Expose APIs in DDS to convert back and forth between file paths and dart URIs"
Currently we have many different tools all making educated guesses about how to convert between the paths. Worse, the heuristics about how to convert a file path to a dart uri differ for external and external workflows so this is a constant source of bugs.
DWDS can provide a custom implementation of this API for google3 web apps.

Suggested APIs to add to DDS. The APIs should take a list of paths

[2021-03-30 21:17] jacob314 commented on #45530
cc: @bkonyi @grouma

[2021-03-30 21:19] alexmarkov commented on #45528
What are we supposed to do with the failures which are related to the missing argument type checks in dart2js/production?
1. Approve the failures.
2. Skip the test in status file in order to leave bread-crumbs. In such case, what is the correct condition/section? Could you point me to the tests that are failing for the same reason?

[2021-03-30 21:32] alexmarkov commented on #45428
Fix: https://dart-review.googlesource.com/c/sdk/+/193524.

[2021-03-30 22:22] leafpetersen opened #45531 "Test co19/Language/Functions/syntax_t03 crashes the precompiler"
Failing on a number of [configurations](https://dart-ci.firebaseapp.com/current_results/#/filter=co19/Language/Functions/syntax_t03).  See [here](https://dart-ci.appspot.com/log/any/dartkp-strong-linux-debug-x64/172/co19/Language/Functions/syntax_t03) for an example log.  Reproduces locally on my machine at head.

cc @a-siva

[2021-03-30 22:46] alexmarkov commented on #45531
Duplicate to https://github.com/dart-lang/sdk/issues/45384.

[2021-03-30 22:46] #45531 closed

[2021-03-30 22:49] johnpryan opened #45532 "Can't create a Dart Web run configuration with a path or query parameters"
If you create a new Flutter or Dart Web run configuration in IntelliJ, there's no option to add query parameters or a path on the end of the URL. This would make it easier to quickly run or attach a debugger to a specific screen in a Flutter or Dart web app.

<details>
  <summary>Screenshots</summary>
  Flutter Run / Debug configuration screen:
<img width="1071" alt="Screen Shot 2021-03-30 at 3 46

[2021-03-30 22:51] nshahan commented on #45455
This sounds like it could be a useful addition to dart:developer. Adding to dart:core or dart:collection makes it harder for dart2js if the support from safari is still not there.

Are you proposing the same API as the JavaScript version or some other API that we need to adapt to what is now available in JavaScript?

[2021-03-30 22:52] johnpryan opened #45533 "Debugger shows Symbol objects when using the "JavaScript Debug" run configuration"
Expression evaluation displays objects as Symbol objects when a Dart web app is debugged from IntelliJ using the "JavaScript Debug" configuration.

Using the JavaScript Debug configuration is  the only way to attach IntelliJ's debugger to an app with additional URL components like query parameters (https://github.com/dart-lang/sdk/issues/45532), so if we added support for that this issue would be

[2021-03-30 23:31] sigmundch commented on #45377
@nshahan since the root cause is the same as the dart2js, I'll close this issue as a duplicate.

[2021-03-30 23:31] #45377 closed

[2021-03-30 23:35] sigmundch opened #45534 "web: add runtime checks for input types of >> and >>> operators"
Currently `>>` and `>>>` do not check that the input is not a double. This check was elided back in the days of Dart-1 and we can now fix it given the stronger typing guarantees we have today.

Dart2js would need to add some specializations to ensure the checks are optimized away when the types are properly provided.

Example test failure in: `corelib/unsigned_shift_test/07` (code such as `2.4 as

[2021-03-30 23:41] #45522 closed

[2021-03-30 23:48] nshahan commented on #45534
Duplicate of https://github.com/dart-lang/sdk/issues/45438?

[2021-03-30 23:49] sigmundch commented on #45534
yes, thanks!

[2021-03-30 23:49] #45534 closed

[2021-03-31 00:04] sigmundch commented on #45528
So far we've done (1), but in the future my preference is to use (2) with "SkipByDesign", less for the breadcrumbs, and more to avoid wasting resources.

Because of that, we don't have examples today were we skip in this mode, but there is one crash that illustrates what the condition/section would look like:

https://github.com/dart-lang/sdk/blob/3ce196935ee16081cf4710436ad50aaae2b4adb8/tests/lan

[2021-03-31 00:04] #45528 closed

[2021-03-31 00:25] rodrigomacamargoma9 opened #45535 "Not generating part files"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
* Dart websi

[2021-03-31 02:28] scheglov commented on #45504
I can reproduce the issue.

[2021-03-31 04:18] morrica commented on #32559
@irhn, call me Linus, but here's a rant. I agree with @marcglasberg. Testing is not the only use case for this or probably even the most common one. It's just the one you run into first when you are writing your tests. I'm implementing a `SortedMap` that operates using a `Comparator<MapEntry>` and a `SplayTreeSet<MapEntry>`. I need the set to be able to tell when it's dealing with functionally equ

[2021-03-31 04:50] user23754 opened #45536 "dart:io HttpClient: Make request headers orderable"
I'm sorry but my English is not good, so I express what I would like in code.

Code:
[code]

Expected result (request header):
[code]

Actual result (request header):
[code]

[2021-03-31 07:44] sgrekhov opened #45537 "[vm/ffi] Error in analyzer when argument of Array.multi() is not a literal"
The following code works in CFE but produces an error in analyzer

[code]

`Dart SDK version: 2.13.0-165.0.dev (dev) (Thu Mar 25 02:53:52 2021 -0700) on "windows_x64" `

What tool behaves in a right way here?

cc @dcharkes

[2021-03-31 08:12] eernstg commented on #45514
Created https://github.com/dart-lang/co19/issues/1057 for this.

[2021-03-31 08:15] davidmorgan opened #58363 "prefer_final_in_for_each false positives"
Where there are multiple declarations and one or more is reassigned, the lint should allow var

[code]

[2021-03-31 08:19] dcharkes commented on #45537
Duplicate of https://github.com/dart-lang/sdk/issues/45507.

The analyzer did not evaluate the constants and expected literals.

This was fixed in https://github.com/dart-lang/sdk/commit/4ba4fd3f1d2448cb8e3ef8788d5c079d2c5fea93 yesterday.

Thanks for reporting!

[2021-03-31 08:19] #45537 closed

[2021-03-31 08:31] sgrekhov opened #45538 "[vm/ffi] No error in CFE for Array with a negative dimension"
The following code produces an error in analyzer but no error in CFE
[code]

`Dart SDK version: 2.13.0-165.0.dev (dev) (Thu Mar 25 02:53:52 2021 -0700) on "windows_x64"`

cc @dcharkes

[2021-03-31 08:49] sgrekhov opened #45539 "[vm/ffi] missing functionality of Array class"
It is possible to create instance of `Array` class with zero dimension. But we are unable to check the dimension. For example

[code]

I think we should either forbid zero sized arrays or add `isEmpty`/`isNotEmpty` and `size` properties

cc @dcharkes

[2021-03-31 09:06] sgrekhov opened #45540 "No error in CFE and Analyzer for Array.multi() with negative dimensions"
The following code produces no compile errors in both analyzer and CFE
[code]
`Dart SDK version: 2.13.0-165.0.dev (dev) (Thu Mar 25 02:53:52 2021 -0700) on "windows_x64" `

cc @dcharkes

[2021-03-31 09:19] Silentdoer commented on #39965
please support repl..

[2021-03-31 09:32] Cyp commented on #45529
Slightly reduced testcase without dart:async. Crashes on the `baz.v = baz.v;` line (also crashes with `baz.v = null;`), but works if compiling to js or exe.

[code]

Expected:
[code]

Actual:
[code]

[2021-03-31 10:00] iapicca commented on #44951
this link seems dead

[2021-03-31 10:39] eernstg commented on #44951
Links fixed.

[2021-03-31 10:44] mraleph commented on #45455
Safari Technology Preview 14.1 Release 118 has the support for both WeakRef and FinalizationRegistry. So we are almost there.

[2021-03-31 10:48] KristianBalaj opened #45541 "[BUG] null safety List issue"
Dart SDK version: 2.12.1 (stable)
Platform: MacOS

Code:
[code]

Addition of the null to the list throws an Exception - `type 'Null' is not a subtype of type 'int' of 'value'`

There is no null safety error in this assignment (there should be one on the second line), so I think this is an issue.

[2021-03-31 11:27] tomyeh commented on #35525
Agree with @nex3 It is really painful to upgrade this kind statements for NNBD (with a local variable or other approaches). It can be error-prone if the code is complicated.

[code]

Worse of all, almost of zero of code will return null in the 2nd invocation (if setter is never called). It is kind of treating every citizen as criminal while the crime rate is almost negligible.

Is it possible to i

[2021-03-31 12:01] lesnitsky commented on #39231
for future readers on apple silicon:

* you need to install x86_64 version of homebrew https://stackoverflow.com/a/65398385/3891825 and use it to install llvm
* add llvm to path `export PATH="/usr/local/homebrew/opt/llvm/bin:$PATH"` (`/usr/local/homebrew` location means x86_65, `/opt/homebrew/opt` – arm)

I was able to build [leveldb](https://github.com/google/leveldb) as a shared lib and use it v

[2021-03-31 12:32] #45415 closed

[2021-03-31 13:00] mraleph commented on #45541
Dart generics are covariant, e.g. `List<Button>` is assignable to `List<Widget>` if `Button` is a subtype of `Widget`, you will however get a dynamic error if you try to add something that is not a `Button` to such list.

`int` is a subtype of `int?`. So in the same way `List<int>` is assignable to `List<int?>` and you get a dynamic error when you try to put `null` into it.

[2021-03-31 13:00] #45541 closed

[2021-03-31 13:01] mraleph commented on #45541
You migth be interested in this language feature: https://github.com/dart-lang/language/issues/524 which proposes to extend Dart with an ability to enforce variance per variable declaration

[2021-03-31 13:05] mraleph commented on #45536
The order of headers should not matter for compliant server implementation, why would you like to send them in a specified order?

[2021-03-31 13:07] mraleph commented on #45535
The issue is missing the body. Please fill all the information if you would like us to fix it.

[2021-03-31 13:07] #45535 closed

[2021-03-31 13:14] mraleph commented on #45529
It seems instantiation of `T?` with `T=Bar<Null>` somehow yields `Bar<Null>` instead of `Bar<Null>?`. Assigning to @crelier

[2021-03-31 14:06] ManoyloK opened #45542 "InternetAddress.lookup throws an error when runs with `timeout` which returns empty list in onTimeout callback"
If we try lookup for a host like this
[code]
We get an error:
`type '() => List<InternetAddress>' is not a subtype of type '(() => FutureOr<List<_InternetAddress>>)?' of 'onTimeout'`

Dart version 2.12.2, macOS 11.2.1

[2021-03-31 14:13] mrdemqn opened #45543 "Errors when run a command dart migrate."
I run the command dart migrate or dart migrate --skip-import-check (Regardless of the command - the result is the same)
Migrating ///***/package_name

<details>

[code]

</details>

I cannot use this function for migration. Do I have to manually migrate a project?

[2021-03-31 14:19] mraleph commented on #45543
Did you already bump your SDK version constraint in pubspec to 2.12? If so try reducing the constraint before running the migrate command.

/cc @stereotype441

[2021-03-31 14:23] DanTup opened #45544 "ddc source maps produce incorrect locations when a method contains multiple "debugger()" calls"
This came up at https://github.com/Dart-Code/Dart-Code/issues/3233 though can be reproduced without VS Code. Here, clicking "Continue" keeps breaking on the last `debugger()` call of the method, even though it's hitting the ones above (the console output shows where execution really is):

![Mar-31-2021 15-13-51](https://user-images.githubusercontent.com/1078012/113159571-9d4dac00-9234-11eb-825d-56

[2021-03-31 14:35] johnniwinther commented on #45460
Created https://dart-review.googlesource.com/c/sdk/+/193480