[2018-05-02 22:01] nex3 opened #33028 "Isolate.spawnUri() with a data: URL doesn't work in Dart 2"
When running the following code with `--preview-dart-2`:

[code]

it fails with

[code]

Tested on Dart 2.0.0-dev.52.0.

[2018-05-02 22:10] crelier commented on #33025
out/DebugX64/dart --preview-dart-2 ~/bug.dart
String
dynamic

out/DebugX64/dart --reify-generic-functions ~/bug.dart
String
String

So this is an issue when using fasta/kernel, and not an issue in the VM runtime.
I suspect that the local variable holding the type arguments in the async closure of function doStuff is not captured as it should.
I am reassigning this issue to area-kernel.

[2018-05-02 23:30] manuelF commented on #32345
Also running into issues with preview Dart 2. Package unscripted [0] requires dart mirrors fetching method parameters and it fails with a runtime type issue:

  type 'List<dynamic>' is not a subtype of type 'List<ParameterMirror>' of 'function result' where
    List is from dart:core
    List is from dart:core
    ParameterMirror is from dart:mirrors

  dart:mirrors

[2018-05-03 00:16] jmesserly commented on #32964
Tagging this so we remember it's fixed once we complete kernel migration.

(could be fixed in dartdevc+Analyzer with https://dart-review.googlesource.com/c/sdk/+/52528, but as discussed there, it doesn't seem worth a possible performance hit, so I'm going to abandon that issue.)

[2018-05-03 00:43] a-siva opened #33029 "kernel_binary_flowgraph.cc: 4485: error: expected: procedure_helper.forwarding_stub_super_target_ != -1"
The precompiler is failing on two tests
corelib_2/growable_list_test
language_2/extract_type_arguments_test

The backtrace from these tests

[code]

[2018-05-03 02:08] LousyLynx commented on #32930
To anyone who has this issue in the future: I fixed this by adding the `-L` and `-l` parameters to the **END** of my `gcc` command. For some reason the `gcc` command will only allow for this type of thing to work if those parameters are at the end of the command.

Hope this helped someone!

[2018-05-03 02:45] jmesserly commented on #32294
Sent out test CL https://dart-review.googlesource.com/c/sdk/+/49624

[2018-05-03 03:32] kevmoo opened #33030 "Roll latest pub w/ 500 retry, fix for flutter version, better errors, etc"
Soon would be great!

[2018-05-03 03:41] dgrove commented on #32911
CL https://dart-review.googlesource.com/c/sdk/+/52740 has landed. Can this be closed?

[2018-05-03 04:00] dgrove commented on #32478
This is https://github.com/flutter/flutter/pull/16979 ?

[2018-05-03 04:44] dgrove commented on #33027
This blocks getting some third-party packages to be Dart 2 compliant.

[2018-05-03 04:47] dgrove commented on #33026
This is likely a dup of #33027

[2018-05-03 04:50] srawlins opened #33031 "new NSM forwarding logic breaks Mockito"
Open items to move forward:

- [x] Landing Mockito fix [@srawlins]
- [x] Rolling Mockito in Flutter [@srawlins] (https://github.com/flutter/flutter/pull/17442)
- [ ] Fixing ~10 internal tests [@srawlins]
- [x] Landing CFE implementation [@sjindel-google]
- [x] Landing DDC implementation. [@jmesserly]
- [ ] Communicating / updating the spec [@lrhn @leafpetersen]

@sjindel-google 's 7d5025e814fa4716

[2018-05-03 04:51] keertip commented on #33031
cc @kmillikin @mraleph

[2018-05-03 04:53] dgrove commented on #33028
This will block some needed packages from moving to Dart 2.

[2018-05-03 05:04] aam commented on #33031
Samir actually reverted 7d5025e on https://github.com/dart-lang/sdk/commit/24dd9b4176ec9d8694ba89cfa07e503f9c53a35d, but that broke the buildbots blocking further commits and there was no clear reason for the revert,  so to unblock the buildbots I re-reverted it on https://github.com/dart-lang/sdk/commit/9a7e1f64a2e1f51464dbb5c1ee1dab2f375aa23c.

[2018-05-03 05:44] devoncarew commented on #32478
Yup, that's the one.

[2018-05-03 06:19] aam commented on #33031
Closed via 2765fcf

[2018-05-03 06:38] aam opened #33032 "frontend-server doesn't produce correct target in depfile on Windows."
Newly introduced frontend_server test for `--depfile` option is failing on Windows because depfile that frontend-server produces on Windows doesn't have correct target filename.

This is how test is failing:
[code]
Full log: https://logs.chromium.org/v/?s=dart%2Fbuildbucket%2Fcr-buildbucket.appspot.com%2F8947575833198790880%2F%2B%2Fsteps%2Fpackage_unit_tests%2F0%2Fstdout

[2018-05-03 08:04] mkustermann commented on #33029
I think this crash started happening after 7d5025e814fa4716fb8c6a4c104ea1c28d578911 landed. I recommended to Samir to revert the change until the cause has been identified. The revert landed in 24dd9b4176ec9d8694ba89cfa07e503f9c53a35d . Though during US time this got re-landed (for some reason) via 2765fcf2aecd3841d082fedaeafc00a73a965f8c .

Maybe @sjindel-google is a better owner for this?

[2018-05-03 09:30] DanTup opened #33033 "No notifications for FOLDING subscription in analysis server"
I've added `FOLDING` to my subscriptions, but I don't seem to get any notifications with the folding data:

[code]

[2018-05-03 09:32] DanTup commented on #33033
Removing/re-adding the file to priority files doesn't help, nor does making edits the file.

[2018-05-03 09:33] DanTup commented on #33033
(cc @bwilkerson @scheglov)

[2018-05-03 09:38] peter-ahe-google commented on #33012
Perhaps we can remove the use of patch_sdk? Fasta should be able to read patch files directly now. This generally improves the source locations we embed in the platform dill file. Please reach out to me on GVC if you need more info.

[2018-05-03 09:40] #32711 closed

[2018-05-03 10:05] askeksa-google commented on #31188
Probably a duplicate of https://github.com/dart-lang/sdk/issues/31155

[2018-05-03 10:10] askeksa-google commented on #31195
No longer crashes.

[2018-05-03 10:51] kmillikin commented on #33025
It feels to me that there's something wrong in the VM.  The compiled Kernel for `doStuff` looks as I expected:

[code]
Note two occurrences of `self::doStuff::T`.  However, the VM's compiler is generating code like this for the second call to `print`:

[code]
You can see that `:function_type_arguments_var` was stack-allocated.  I suspect that it just needs to be added to the list of variables that

[2018-05-03 11:07] peter-ahe-google commented on #33006
I can't find the code that produces this error, but I suspect that this is from the Dart VM's runtime.

[2018-05-03 11:14] peter-ahe-google commented on #33006
It may be `Exceptions::CreateAndThrowTypeError` in `runtime/vm/exceptions.cc` that generates this error.

/cc @crelier

[2018-05-03 12:32] srawlins commented on #33031
Thanks, @aam

[2018-05-03 12:35] lrhn commented on #33031
The behavior of the `noSuchMethod` forwarder forwarding all declared parameters is correct and what we want.

I'm not sure what causes Mockito's issue here - it should get equivalent `Invocation`s both when configuring and when using the mock, so it should still be able to match them up and return the expected value.

It is correct that you can no longer make a mock act differently depending on wh

[2018-05-03 12:37] DanTup opened #33034 "Fatal analysis server error requesting statement completion"
- Dart SDK 2.0.0-edge.0d5cf900b021bf5c9fa593ffa12b15bcd1cc5fe0
- Flutter SDK 0.3.6-pre.70
- Visual Studio Code - Insiders 1.23.0-insider
- Dart Code 2.13.0-dev

I sent an edit that replaced the document with 34 characters that look like this:

[code]

I sent a `getStatementCompletion` request after the `true` and got a fatal server error:

[code]

### Versions

- Dart SDK 2.0.0-edge.0d5cf900b021bf

[2018-05-03 12:38] DanTup commented on #33034
Probably not; inserting a 5 second delay after sending the edit doesn't seem to stop the issue.

[2018-05-03 12:39] kmillikin commented on #33031
This is complicated to follow.  I think this is what happened in order:

1. https://github.com/dart-lang/sdk/commit/7d5025e814fa4716fb8c6a4c104ea1c28d578911 landed giving us the intended behavior but breaking Mockito
1. https://github.com/dart-lang/sdk/commit/24dd9b4176ec9d8694ba89cfa07e503f9c53a35d reverted that for `<INSERT REASONING HERE>`, giving us the incorrect behavior that Mockito relies o

[2018-05-03 12:48] peter-ahe-google commented on #31799
No. This isn't really on our radar.

[2018-05-03 12:54] peter-ahe-google commented on #32985
@lrhn isn't there some special case for inferring these types as well?

[2018-05-03 13:08] srawlins commented on #33031
I'll look into how Mockito can handle this fix. I expect that the code of Mockito _users_ will have to change, which means we'll need a few weeks [or months](https://en.wikipedia.org/wiki/Hofstadter%27s_law) runway. I'll comment here when I know more.

[2018-05-03 13:27] devoncarew commented on #33006
Thanks for triaging! I'd assumed this was CFE generated.

[2018-05-03 13:55] dgrove commented on #33031
Also note that such a breaking change would block rolls of the SDK into google3 (and hence Flutter) until those changes in user code could be made (ie, I'm not sure at all that this change can be made for Dart 2).

[2018-05-03 16:03] a-siva commented on #32911
Yes the CL has landed and stuck, closing issue.

[2018-05-03 16:03] #32911 closed

[2018-05-03 16:07] kevmoo commented on #32911
https://github.com/dart-lang/sdk/commit/4b1180a39d5e4d0d46f2395508dae1b304daf104 – landed in -dev.53

[2018-05-03 16:11] a-siva commented on #29989
@bkonyi is it safe to say that we now support all of the Dart API surface in Dart 2?

[2018-05-03 16:36] scheglov commented on #33034
I can reproduce the problem in a unit test.

[2018-05-03 16:39] srawlins commented on #33031
Honest question, was 7d5025e written because like, some package that uses `noSuchMethod` benefits from the change, or did we just notice that nSM was being handled wrong, and we don't want to be wrong?

I think we have a workable solution for Mockito, but it definitely makes Mockito less usable. Is there a net benefit? Does some other package become more usable, or possible?

[2018-05-03 16:42] kevmoo commented on #32188
So trying to run `pub` directly fails – guessing it's because of the `pub snapshot`.

Tried this:

[code]

[2018-05-03 17:13] keertip opened #33035 "VM should have option to produce a full kernel file"
We have clients that want to run their program in dart 2 mode on a stripped down VM. Need a kernel file that contains both program + libraries to support this use case.

[2018-05-03 17:14] scheglov commented on #33034
https://dart-review.googlesource.com/c/sdk/+/53680

[2018-05-03 17:15] a-siva commented on #33028
The front end seems to come back with this error when we call it to compile the script before spawning the isolate.

[2018-05-03 17:15] tvolkert commented on #33031
My 2c: this change seems an obviously correct one that makes things noticeably more correct.  The only question is how to feasibly roll it out.

[2018-05-03 17:17] scheglov commented on #33033
There are no `FoldingContributor` implementations for Dart in analysis server.

[2018-05-03 17:33] jmesserly opened #33036 "dartdevk should not use patch_sdk in its build"
The front end supports patch files directly, so we can avoid this step in `dartdevk`'s build.

[2018-05-03 17:34] jmesserly commented on #33012
oh that's an great idea! I tried it at first in the DDC to Kernel port but it wasn't implemented at that time. Filed: https://github.com/dart-lang/sdk/issues/33036

[2018-05-03 18:08] mkustermann commented on #33035
You can get a binary Kernel IR file (.dill file) containing the entire application, dart:* libraries, vmservice_io, etc using:

[code]

You can look at the contents of the dill file via:
[code]

That being said, I'm not sure if there's a `dart` binary without the core library snapshot /  platform file inside you can use this way.

[2018-05-03 18:09] jmesserly commented on #33036
https://dart-review.googlesource.com/c/sdk/+/53682 will fix. Unfortunately I suspect as-is it will break dartdevc's patching (duplicate imports). Will see if there's a way around that.

[2018-05-03 18:16] a-siva commented on #33035
These pkgs that you mention are not part of the Dart sdk that we build and I believe the bug has been filed to raise this point.

Currently the dart executable is used for everything (building snapshots, app jit snapshots ...) and maybe for consistency it might make sense to have the same executable produce this whole app also. The requirement comes from the Yeti project who want to install the 'p

[2018-05-03 18:27] nex3 commented on #33030
Do we want to do this before Dart 2 support for pub run lands?

[2018-05-03 18:27] rakudrama opened #33037 "dart2js type bounds tasks"
Generic types should to display type parameters, even when dynamic or missing.
Types are displayed via `o.runtimeType` and in TypeError (CastError) messages.

When displayed in a TypeError message, the type parameters may have been erased:

[code]
When Foo.T has been erased, should the message display without the types, or with the defaulted (incorrect) bounds, or some indicator?
[code]
I think we

[2018-05-03 18:32] kevmoo commented on #33030
I think there are enough fixes here to warrant a roll. Unless we think Dart2 support will land in the next day or two

[2018-05-03 18:35] Hixie opened #33038 "Analyzer incremental performance"
As you work on a project, the analyzer often takes multiple seconds to update when a change has been made. This is bad enough that often I will not actually see analyzer results before I run the code and see compiler errors. Common ways to run into this are switching branches, rebasing to master, or changing files that have not been modified in the recent past.

To reproduce this, check out the Fl

[2018-05-03 18:35] Hixie opened #33039 "Analyzer cold performance"
When you first start working on a project, the analyzer takes a long time to get started. This manifests as slow bots, long wait times when teaching someone something new, and generally results in a poor first impression of analyzer performance.

A representative benchmark for this is the `analyzer_benchmark flutter_repo_watch` number on Flutter's performance dashboard. Currently, it takes over 70

[2018-05-03 18:36] DanTup commented on #33034
Is it reasonable to bump the server version so I can tell when we have the fix for this? Otherwise if users hit it we'll be prompting them to send error reports.

[2018-05-03 18:39] nex3 commented on #33030
There's a PR out for it now: https://github.com/dart-lang/pub/pull/1893

[2018-05-03 18:41] kevmoo commented on #33030
Cool! Worth waiting for...

On Thu, May 3, 2018 at 11:39 AM Natalie Weizenbaum <notifications@github.com>
wrote:

[2018-05-03 18:42] DanTup commented on #33033
Well that explains that! =)

Am I right in thinking this would be very similar to the Closing Labels implementation I did? If so I might have a stab at it. People have complained about VS Code's poor folding many times, and also asked for the ability to collapse directives. I'd been telling people once VS Code supports custom folding (which it does in vNext) it'll be easy. Whoops!

[2018-05-03 19:03] crelier commented on #33025
By not being an issue in the VM runtime, I meant that everything works if you do not use kernel.
But since flow graph building from kernel is now part of the VM (not runtime per se), yes, it is a VM bug.

However, I am not familiar at all with how kernel scopes are being processed and how variables referred to by local functions get marked as captured. Note that the reference to function_type_argu

[2018-05-03 19:10] mraleph commented on #33025
@crelier sorry, I should have mentioned explicitly that I have reassigned the bug to myself and I have a fix.

https://dart-review.googlesource.com/c/sdk/+/53664

[2018-05-03 19:17] crelier commented on #33025
Ah, I see. It is not that visiting the graph failed to capture the variable, but the graph was just wrong.
Thanks for fixing.

[2018-05-03 19:25] mraleph commented on #33025
@crelier there are two ways to fix it - I actually first implemented a different approach with capturing it, but it seems wasteful because the only case when it can be captured is the case where it can be simply reloaded from the closure field.

[2018-05-03 19:36] mraleph commented on #33031
This should be classified as a language change and the decision is then a language team decision.

If migration is unlikely - then we should amend Dart 2 specification making the current behavior "the specified" behavior.

/cc @leafpetersen @lrhn

[2018-05-03 20:10] stereotype441 commented on #32305
Fix out for review: https://dart-review.googlesource.com/c/sdk/+/53685

[2018-05-03 20:28] sigmundch commented on #32829
closing as a likely duplicate of #32830

[2018-05-03 20:28] #32829 closed

[2018-05-03 20:43] leafpetersen opened #33040 "VM error with generic instantiations"
The code below with bleeding edge dart fails with a cast error in the body of `asyncValue`.

[code]

[2018-05-03 20:49] bkonyi opened #33041 "Dart_New cannot allocate using redirecting factory constructors in abstract classes"
[code]

[2018-05-03 20:51] bkonyi opened #33042 "DartAPI_TypeGetParameterized fails due to inability to lookup core types"
[code]

[2018-05-03 20:53] bkonyi opened #33043 "Rewrite DartAPI_LazyLoadDeoptimizes for Dart 2"
The current implementation is using Dart_LoadSource, which is not supported in Dart 2 in its current form.

[2018-05-03 20:54] bkonyi commented on #29989
For the most part all of the tests for the Dart API are passing or marked as SkipByDesign (for features not supported in Dart 2). However, there's still a few tests which need updating but aren't high priority:

- [ ] DartAPI_TypeGetParameterized: #33042
- [ ] DartAPI_New: #33041
- [ ] DartAPI_LazyLoadDeoptimizes: #33043

[2018-05-03 20:59] mraleph commented on #33040
Note that the bug is introduced by 4f18af12c7c6d53f02cf32cb9b5ea848b86e1d77 which we are going to revert (/cc @sjindel-google @crelier).

The bug seems to be caused by how `TypeArguments::Prepend` is implemented and used in the `object.cc`: https://dart-review.googlesource.com/c/sdk/+/50980/16/runtime/vm/object.cc

The function is invoked like this:

[code]

Note that it uses sum of number of type

[2018-05-03 21:25] #30701 closed

[2018-05-03 21:36] crelier commented on #33040
Reverting [4f18af1](https://github.com/dart-lang/sdk/commit/4f18af12c7c6d53f02cf32cb9b5ea848b86e1d77) indeed fixed this issue. I am not sure why this cl ends up applying this type argument optimization to generic functions. @sjindel-google  may know.

In any case, I will add the split point as an additional argument to `Internal_prependTypeArguments` to protect against this optimization, and the r

[2018-05-03 22:11] crelier commented on #33040
https://dart-review.googlesource.com/c/sdk/+/53692 adds the split point.

[2018-05-03 22:25] jmesserly commented on #31507
I believe this is the same issue as https://github.com/dart-lang/sdk/issues/32551

[2018-05-03 22:25] #31507 closed

[2018-05-03 22:32] jacob314 commented on #32370
yes JS tearoffs intentionally follow  JS function tearoff semantics not Dart function tearoff semantics and in Dart 1.0 there was definitely no way we could make them follow Dart semantics as Dart 1.0 is too dynamic so this is ambiguous at compilation time.

For example, there might be another JS interop class where
postMessage is a getter that returns a Function in which case binding "this" is de

[2018-05-03 22:32] jmesserly commented on #31248
I don't think we're planning to take any action here for DDC? Support will come as soon as the browser has enough ES6 support. Closing because I think this bug is stale.

[2018-05-03 22:32] #31248 closed

[2018-05-03 22:38] stereotype441 opened #33044 "Front end infers dynamic for ".then" invocations"
Consider the following code:

[code]

The analyzer infers `t5`, `t6`, `t11`, and `t12` to have type `Future<String>`, and the others to have type `Future<Null>`.  The front end infers the type of `t1` through `t12` to be `dynamic`.

This has user-visible consequences.  For example, the analyzer considers this to be an error, and the front end doesn't:

[code]

I believe the analyzer behavior is co

[2018-05-03 22:44] jmesserly commented on #30939
anonymous functions are still auto-detected by Chrome as `dart.fn` It's because we must tag their types:

[code]

We can't avoid tagging the type.

We could have a longer name for `dart.fn` like `dart.anonymous`. We could give the function a name like `anonymous`. We could see that the anonymous function is an argument to the Dart function named `test`, and use that name ... we won't have names li

[2018-05-03 22:48] jmesserly commented on #30947
This might be by design. It's trying to assign an anonymous JS object to a non-anonymous JS object. I don't think that's allowed. The bug is on this line in the test `Expect.equals(testA(d), 4);` because `d` is a `D` which is not an `A`.

[2018-05-03 22:51] leafpetersen commented on #33044
I suspect that all of the `.toString` examples are instances of this bug: https://github.com/dart-lang/sdk/issues/32414 .

For the remainder: `Future<dynamic>` is always wrong.  For t1, t2, t7, and t8 the analyzer is still implementing legacy behavior: we should infer `Future<void>` there, and I will be working on that change as soon as a fix for return warnings has rolled internally (unblocking t

[2018-05-03 22:52] rakudrama commented on #25608
cps specific issue.

[2018-05-03 22:52] #25608 closed

[2018-05-03 22:52] leafpetersen commented on #33044
https://github.com/dart-lang/sdk/issues/32843 is the issue for void inference.

[2018-05-03 22:58] stereotype441 opened #33045 "Type inference infers no constraint for Null <: Future<T>"
The local inference informal specification (https://github.com/dart-lang/sdk/pull/29371) says:

- `P` is a subtype match for `FutureOr<Q>` with respect to `L` under constraints
  `C`:
  - If `P` is a subtype match for `Future<Q>` with respect to `L` under
    constraints `C`.
  - Or `P` is not a subtype match for `Future<Q>` with respect to `L` under
    constraints `C`
    - And `P` is a subtype

[2018-05-03 23:04] jmesserly commented on #30947
https://github.com/dart-lang/sdk/issues/30947

[2018-05-03 23:04] stereotype441 commented on #33044
@leafpetersen in that case I would have expected the front end to infer a type of `Future<dynamic>`.  But it's inferring a type of `dynamic`.

[2018-05-03 23:04] jmesserly commented on #30947
oops, I meant to link to the CL with the propsed test fix: https://dart-review.googlesource.com/c/sdk/+/53697

[2018-05-03 23:07] jmesserly commented on #31030
this doesn't run because it's a custom HTML test. See https://github.com/dart-lang/sdk/issues/31577

[2018-05-03 23:07] #31030 closed

[2018-05-03 23:10] jmesserly commented on #29919
same issue as https://github.com/dart-lang/sdk/issues/31577

[2018-05-03 23:10] #29919 closed

[2018-05-03 23:10] jmesserly commented on #31144
specifically these are HTML tests. triaging to HTML.

html/messageevent_test
html/serialized_script_value_test

[2018-05-03 23:12] leafpetersen commented on #33044
sorry, I didn't read closely enough.  I can't reproduce this though: the code below, run with dart --preview-dart-2 from fairly recent bleeding edge, has the expected errors (I think it stops reporting errors after some limit, but if you delete the first 5, you get the next 5 as expected).  Am I still missing something?

[code]

[2018-05-03 23:15] jmesserly commented on #33031
FYI -- I've had to be careful in DDC to keep mockito working for SDK rolls. DDC always preserves the provided arguments for that reason, rather than filling in unnecessary default values (contrary to what #33019 asks DDC to do).

[2018-05-03 23:16] jmesserly commented on #33019
this is blocked because it would break Mockito: https://github.com/dart-lang/sdk/issues/33031 ... we can't fix this in DDC without breaking SDK rolls.

[2018-05-03 23:17] jmesserly commented on #33036
if this is fixed we can close out https://github.com/dart-lang/sdk/issues/33012

[2018-05-03 23:25] jmesserly commented on #30319
pub serve has been deprecated/removed. we can reopen if this happens with the new build system

[2018-05-03 23:25] #30319 closed

[2018-05-03 23:27] jmesserly commented on #29486
this appears to be fixed:
[code]
prints the correct symbols in DDC

[2018-05-03 23:27] #29486 closed

[2018-05-03 23:28] stereotype441 commented on #33044
@leafpetersen Oops, you are right.  I forgot to include `import 'dart:async';` in my test script (and failed to notice the error message the front end issued).

When I include the correct import, I get the same results as you.  Since the remaining problems are already covered by open bugs, I'm closing this bug.

[2018-05-03 23:28] #33044 closed

[2018-05-03 23:29] jmesserly commented on #27794
this is no longer skipped

[2018-05-03 23:29] #27794 closed

[2018-05-03 23:30] #32305 closed

[2018-05-03 23:31] jmesserly commented on #29323
@vsmenon -- it should be pretty easy to fix this with your recent change to make JS TypeError print better right?

[2018-05-03 23:33] rakudrama commented on #7474
I think the current code is good enough to close this issue

[code]

[2018-05-03 23:33] #7474 closed

[2018-05-03 23:36] sigmundch opened #33046 "dart2js strong: incorrect split of base and subclass in deferred units"
Consider this repro:
**main.dart**:
[code]

**b.dart:**
[code]

**c.dart:**
[code]

When running in strong-mode and omit-implicit-checks, this code generates "A" in a deferred unit, but "B" in the main output unit.

As a result the initialization of B is invalid and causes a load-time crash with the full-emitter.

[2018-05-03 23:41] yjbanov commented on #33031
@lrhn, @leafpetersen I'm curious, why is there desire to have `noSuchMethod` behave like a "real Dart method"? `noSuchMethod` already has some crazy extra-linguistic capabilities that almost feel like runtime reflection or monkey patching. I think most of its usefulness comes precisely from being able to do crazy things that "real Dart" can't do. To me `noSuchMethod` is a way to _reflect_ on a fun

[2018-05-03 23:45] a-siva commented on #33027
The CL https://dart-review.googlesource.com/c/sdk/+/53696 which is under review should address this issue. Will close the issue once the CL lands and cycles through the bots.

[2018-05-04 00:05] crelier commented on #33040
This issue is not active anymore, but instead of closing it, I reassign it to @sjindel-google so it can be verified (and maybe added as a regression test) when relanding the faulty cl.

[2018-05-04 00:08] jmesserly commented on #28059
this has been fixed :)

[2018-05-04 00:08] #28059 closed

[2018-05-04 00:10] jmesserly commented on #33016
yeah, we definitely need to support this.

I believe it's covered by https://github.com/dart-lang/sdk/issues/32272 ... I'll add info to the description to make sure we cover this

[2018-05-04 00:10] #33016 closed

[2018-05-04 00:12] jmesserly commented on #32442
I don't think we need to do anything else in DDC (now that we have --enable-asserts). Feel free to re-tag area-dev-compiler if that assumption is incorrect.

[2018-05-04 00:17] jmesserly commented on #31763
I don't see a failure anymore (with either dartdevc or dartdevk). Assuming stale.

[2018-05-04 00:17] #31763 closed

[2018-05-04 00:30] rakudrama commented on #22369
This has been implemented.

[2018-05-04 00:30] #22369 closed

[2018-05-04 00:34] jmesserly commented on #32980
fyi -- I'm making progress on option 3 (ported some of the type inference code into DDC's runtime so far, need to test it out)

[2018-05-04 00:39] jmesserly commented on #33045
I like this idea. Analyzer behavior seems useful here (catches the bug on the next line).

[2018-05-04 00:47] leafpetersen commented on #30908
I think it's reasonable to have a contractiveness restriction.

[2018-05-04 00:59] srawlins opened #57702 "await_only_futures conflicts with Dart 2 runtime semantics"
Let's take a simple script:

[code]

In any recent version of Dart, I imagine, this runs fine, and prints `14`. `j` makes simple sense: `fn<Future<int>>` will return a `Future<Future<int>>`, so we await it, and we get the int out; the Futures are flattened, right? `i` also makes sense, but it looks like there is an extra `await`. We get a `await_only_futures` lint on this line.

Enter Dart 2: `dar

[2018-05-04 01:00] BSFishy opened #33047 "Ability to pass closures through isolates in server"
I am working on a CLI program and could really use the ability to pass closures through isolates. I can see it is implemented in JS, and was wondering if there are any plans to implement it in CLI as well.

[2018-05-04 01:54] bkonyi opened #33048 "Dart_LoadLibrary crashes when given source in Dart 2"
Dart_LoadLibrary assumes that if we are running with the common frontend that the source Dart_Handle is really a pointer to in-memory kernel. If this is not the case, this assumption causes a crash.

[2018-05-04 02:50] devoncarew commented on #32726
Here are some examples of recent deprecations (and, ~toolable deprecation transformations we'd like to support):

https://gist.github.com/zanderso/d554e6159f486e8f96759a4f9774a01a

[2018-05-04 08:28] mraleph commented on #33040
Thanks, Regis!

[2018-05-04 09:08] askeksa-google opened #33049 "service/pause_on_exceptions_test and service/pause_on_start_and_exit_with_child_test are flaky"
Frequently give RuntimeError, causing red spots on the bots.

[2018-05-04 09:12] askeksa-google commented on #33049
Marked as flaky by https://dart-review.googlesource.com/c/sdk/+/53603

[2018-05-04 11:14] #33025 closed

[2018-05-04 11:26] sjindel-google commented on #32794
It turns out this breaks Mockito severely: #33031

[2018-05-04 11:37] sjindel-google commented on #33029
I don't believe this is caused by my code, because these tests are still crashing after my revision which appeared to cause it was reverted.

[2018-05-04 11:49] whesse commented on #33029
I don't see this.  I see them failing after the original commit, stopping after it is reverted, the crashes resuming after the revert is reverted, the crashes continuing but being green after the status file is modified, the crashes stopping (and the builder turning red) after the revert of the revert is reverted.

Which build has the code reverted, but still has the crashes?

[2018-05-04 11:51] sjindel-google commented on #33029
The crashes are still reproducing on the tip of master.

[2018-05-04 11:55] whesse commented on #33029
The crashes aren't happening on the builder at tip-of-tree.  It is red because it is expecting a crash and not seeing it.  Which configuration reproduces the crashes? The builder is at https://ci.chromium.org/buildbot/client.dart/vm-kernel-precomp-linux-debug-x64-5-8-be/

[2018-05-04 12:16] BSFishy commented on #33047
I'll get a little more in depth with what I am trying to do(my apologies). I am trying to make a library ontop of the existing `HttpServer`(or whatever it's called) which allows the developer to register their routes and pages to the server, but also allows the server to refresh the files which are being used to register the routes and pages. That way the server allows for easy development as well

[2018-05-04 12:25] sjindel-google commented on #33029
This is not a priority right now because we can't re-land the broken code which implements behavior that breaks Mockito. However, the crash suggests that there may be a deeper issue which could be reproduced without that change. We should investigate this further at some point.

[2018-05-04 12:30] johnniwinther opened #33050 "codegen/side_effect_tdiv_regression_test only worked with the mock compiler"
The regression unittest codegen/side_effect_tdiv_regression_test.dart only worked with mock compiler.

It is unclear if intended optimization doesn't work at all or just doesn't trigger with the actual sdk.

[2018-05-04 12:38] sjindel-google commented on #33040
Thanks as well :1st_place_medal:

[2018-05-04 12:56] sjindel-google commented on #32682
This is solved by https://dart-review.googlesource.com/c/sdk/+/53801, which moves handling of partial instantiation into the shared prologue builder.

[2018-05-04 13:28] johnniwinther opened #33051 "codegen/list_tracer_length_test only worked with the mock compiler"
The unittest codegen/list_tracer_length_test only worked with the mock compiler.

It is unclear if intended optimization doesn't work at all or just doesn't trigger with the actual sdk.

[2018-05-04 14:11] poioit commented on #32702
DanTup, thanks for this thread and it helps me a lot. I changed ~ in my PATH. it can be resolved.

[2018-05-04 16:13] dgrove commented on #32345
@vsmenon do you have any needs here?

[2018-05-04 16:33] #32889 closed

[2018-05-04 17:07] rmacnak-google commented on #33048
I expect this will go away once I can land https://dart-review.googlesource.com/c/sdk/+/47102

[2018-05-04 17:30] vsmenon commented on #32345
@jmesserly

Not that we're aware of at this point.  The CFE recently added support for parameter annotations (which we needed for temporary pageloader support).

[2018-05-04 17:33] jmesserly commented on #32345
As far as I know, mirrors has enough support for DDC+Kernel. We have limited test coverage though, outside of the internal use of pageloader. (When I've regressed something in DDC+Analyzer mirrors, I don't find out until we roll the SDK.)

[2018-05-04 18:18] aam opened #33052 "debug build fails on Windows 10 with VS2015 SP3"
[code]

Release builds fine:
[code]

[2018-05-04 20:13] timsneath commented on #32977
Curious, why was the P1 label removed here? This seems like an important bug to get resolved quickly...

[2018-05-04 20:31] scheglov commented on #32935
https://dart-review.googlesource.com/c/sdk/+/53840

[2018-05-04 20:43] scheglov commented on #32934
I suspect that this happens when there are two conflicting declarations with the same name.
Given that we will replace analysis with CFE, this is not something we probably will fix.

[2018-05-04 20:43] #32934 closed

[2018-05-04 21:02] leafpetersen commented on #421
Re-opening this for consideration.

[2018-05-04 21:02] scheglov commented on #32914
Have you had a chance to test this?

[2018-05-04 21:27] #32935 closed

[2018-05-04 21:29] scheglov commented on #32854
We are going to integrate CFE and Analyzer differently.

[2018-05-04 21:29] #32854 closed

[2018-05-04 22:54] sigmundch opened #33053 "dart2js strong: implement extractTypeArguments"
More history in #31371

[2018-05-04 22:57] sigmundch commented on #33053
The idea is to implement it as an extension method based on the calls we observe to extractTypeArguments. For example, if we see:

[code]

we generate:
[code]

[2018-05-05 01:06] #7728 closed

[2018-05-05 11:09] patrykpoborca commented on #25820
This is a very big minus so far in terms of development. I feel like I'm back in the olden days of IDE's where i have to find the imports i need while writing my code. Please let us not have to scroll all the way up or try to remember the casing of a class and then _hoping_ cmd + enter / alt + enter has the import ready to you, but wait was it "SomeClass" or "Someclass".. hope you remembered other

[2018-05-05 14:13] zoechi commented on #31099
See also https://stackoverflow.com/questions/50147257/dart-intersectionobserver?noredirect=1#comment87397450_50147257

[2018-05-05 16:57] bwilkerson commented on #33026
I believe that's the case, yes.

[2018-05-05 16:57] #33026 closed

[2018-05-06 09:16] lrhn commented on #33028
The error message suggests that the front-end doesn't recognize a `data` URI as non-hierarchical, then tries to resolve `".packages"` against it and load that file. The loader recognizes the protocol and decodes the bungled data URI. The result is as random as can be expected.

We should probably just recognize `data` URIs in the `Uri` class and block you from resolving against them, at least it w

[2018-05-06 18:57] rakudrama opened #33054 "dart2js: sync* methods check parameters at wrong time"
See https://dart-review.googlesource.com/c/sdk/+/53862

A possible fix would be to generate two JavaScript methods for each sync* method.
One contains only the entry dynamic or covariance checks and a direct call to the 'body'.
The 'body' is generated as we do currently, but omitting the entry checks. The transformed code is called in the Iterator's moveNext() method.
With `--omit-implicit-checks`

[2018-05-06 19:16] manhluong opened #33055 "Build sdk for ARMv6: is still supported?"
Hi, I can build dart sdk to ARMv6 using the release `1.24.3` and running the commands:

[code]

However if I try to run everything to the latest version that I can find on github which is `2.0.0-dev.53.0`, I get the following error:

[code]

What I am doing wrong?

Thanks!

[2018-05-06 20:39] rakudrama commented on #33053
Each class that implements `Iterable` does so in a slightly different way.
Consider `"hi".codeUnits`, `CodeUnits` implements `Iterable<int>` by extending `UnmodifiableListBase<int>`.

We already have mechanisms in place to handle `o is Iterable<T>`. This has a specialized call for when the interface raw type is known and the parameterization is present and (possibly) unknown.
This specialized func

[2018-05-06 22:53] dnfield commented on #32994
I am no longer able to reproduce this - I'm not 100% sure I was right about it being a bug to begin with at this point.  There was definitely an issue in a flutter method that my other PR should fix, but I think some of this might be due to logging truncation that was going on.  At this point, the data seems correct.  Closing.

[2018-05-06 22:53] #32994 closed

[2018-05-07 03:42] scheglov commented on #32849
https://dart-review.googlesource.com/c/sdk/+/53863

[2018-05-07 04:18] dgrove commented on #32870
@floitschG Can you help out now that you're back?

[2018-05-07 05:43] kevmoo opened #33056 "Trying to spawn an isolate w/ seemingly okay Data URIs fails"
Dart VM version: 2.0.0-dev.53.0 (Thu May 3 12:35:47 2018 +0200) on "macos_x64"

[code]

`data:;charset=utf-8,import%20'dart:isolate';%0A%0Avoid%20main(List%3CString%3E%20args,%20%5BSendPort%20sendPort%5D)%20async%20%7B%0A%20%20sendPort.send('../../../../../../../../../../../etc/passwd%2500');%20%20%0A%7D%0A`

yields

[code]

Also

[code]

`data:;charset=utf-8,import%20'dart:isolate';%0A%0Avoid%20m

[2018-05-07 05:44] kevmoo commented on #33056
@lrhn – something you can ponder?

[2018-05-07 05:44] kevmoo commented on #33056
...in both cases, using `new Uri.dataFromString(script, encoding: utf8);`

[2018-05-07 06:34] DanTup commented on #32914
Oops sorry, I was waiting for it to roll into `master` to test. If I remove my workaround it still seems to occur:

[code]

I'm using this version:

[code]

Based on the hash at the end, this includes the SDK from about 3 days ago.

Note: in the log above, my edit.getRefactoring was sent before the response to updateContent came through. I assume that should be ok (I shouldn't need to block reques

[2018-05-07 07:40] kmillikin commented on #32977
It was fixed on April 27.  @danrubel is there any work left on this, or can we close it?

The code in the issue compiles, and runs without error in the VM and dart2js.

[2018-05-07 08:27] whesse opened #33057 "Change to VM mirrors implementation makes test twice as slow"
Then change made in
https://dart-review.googlesource.com/c/sdk/+/53693
landed May 4, 2017 makes the tests

/lib_2/mirrors/immutable_collections_test
/lib/mirrors/immutable_collections_test

run twice as slow.  They take 31 and 25 seconds before the change lands, and 1:07 (timing out) and 56 seconds after the change, on arm64 hardware.  I don't know if the timing also changes on x64 or arm32.

This

[2018-05-07 08:44] DanTup commented on #29056
I think this may fixed now (see https://github.com/flutter/flutter/issues/16741#issuecomment-386689529) in b2c98f9. Certainly the Flutter issue is working fine for me.

[2018-05-07 09:17] radzish commented on #33025
it looks like in more complicated case error is still happening, at least in dev 53 version:
[code]

[2018-05-07 10:08] peter-ahe-google commented on #31156
[code]

[2018-05-07 10:10] peter-ahe-google commented on #31156
The following code produces a related (yet different) crash:

[code]

[2018-05-07 10:28] DanTup opened #33058 "Fatal analysis server exception: "The getter 'keyword' was called on null" (make variable final quickfix?)"
Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

I had the below file and I backspaced over the colon for the initialiser list of `CancellationSource`. Note: This is recent flutter master; I'm not sure why the hash in the Dart SDK version below is from Feb (though interestingly it was a changeset about changing version numbers) - I'll raise a Dart Code issue

[2018-05-07 10:28] DanTup commented on #33058
(cc @bwilkerson )

[2018-05-07 10:37] lrhn commented on #33056
Krutz! Seems like URI path normalization is applied to a data URI, so the `..`'s remove preceding content up to the `data:` . That's just wrong.

[2018-05-07 12:09] eernstg commented on #32794
@lrhn and I discussed this, and @lrhn later wrote up some arguments [here](https://github.com/dart-lang/mockito/issues/122#issuecomment-386608641) supporting the claims that (1) Mockito should just keep working in a number of situations (in particular, when actual argument values are passed rather than the more "abstract" matchers), (2) it should be possible (and presumably not terribly difficult)

[2018-05-07 12:29] EluThingol7 opened #33059 "Error loading dart"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA AI-173.4670197`
- `2.0.0-edge.3c4dccbd46f152be9e1b6ca95c57357e8e48057c`
- `AI-173.4670197, JRE 1.8.0_152-release-1024-b02x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1600x900`

# Exception

Please append the contents of:
file://C:\Users\SERYAZ~1\AppData\Local\Temp\report.txt

[code]

[2018-05-07 12:40] johnniwinther opened #33060 "codegen/string_escapes_test doesn't work with CFE"
The dart2js unittest codegen/string_escapes_test doesn't work with CFE.

[2018-05-07 13:31] anders-sandholm commented on #33052
not sure if I got the right area-* label.

[2018-05-07 13:34] anders-sandholm commented on #33055
@a-siva, area-vm?

[2018-05-07 13:35] manhluong commented on #33055
Thank you @anders-sandholm for the label! Missed that... :/

[2018-05-07 13:35] anders-sandholm commented on #33060
Not sure if dart2js or front-end issue. Why not both?

[2018-05-07 13:37] johnniwinther commented on #33060
Good call - we need to coordinate the solution.

[2018-05-07 13:45] stefantsov commented on #31581
[CL 51600](https://dart-review.googlesource.com/c/sdk/+/51600) has landed.  [CL 50941](https://dart-review.googlesource.com/c/sdk/+/50941) got a +1, but it needs to be landed only together with [CL 51620](https://dart-review.googlesource.com/c/sdk/+/51620) that updates the expectation files.

[2018-05-07 16:18] #32849 closed

[2018-05-07 16:45] aam commented on #29056
There is still remaining issue outstanding, which can be seen on currently failing test https://github.com/dart-lang/sdk/blob/master/runtime/observatory/tests/service/pause_on_unhandled_async_exceptions_test.dart

[2018-05-07 16:59] DanTup commented on #29056
Ah ok, sounds like you're on top of it! :-)

(#29156 next? ;-))

[2018-05-07 17:07] kevmoo commented on #32507
At a minimum, we should mark `MirrorsUsed` as deprecated ASAP IMHO

[2018-05-07 17:19] aam commented on #32942
I am not able to reproduce this right away - hot reload seems to be working fine as I am making changes to 'Flutter Redux Demo' and 'Flutter Demo Home Page' string literals in the code sample above.
[code]
@affinnen can you share more details what you change when the hot reload fails for you?

[2018-05-07 18:11] sigmundch opened #33061 "dart2js deferred loading: pass along the parent script .nonce attribute"
To support "Strict CSP" with deferred loading, we need to pass along the `nonce` attribute in the script tags we use internally to load each deferred chunk.

[2018-05-07 18:16] Rockvole opened #33062 "Correct way to update local dependencies ?"
I have a local dependency. If I make changes to the local dependency - how do I tell flutter to get a new version ?

    keyboard:
      path: ../../dart/kbml_parser

My flutter project is in Android Studio, my dart project is in Intellij.

I tried :
1. "Packages get" in the pubspec.yaml
2. "Packages upgrade" in the pubspec.yaml
3. (Pubspec has been edited) "Get dependencies" from the flutter file

[2018-05-07 18:18] jagdishjadeja opened #33063 "Developing cross platform desktop application"
we know that dart can develop awesome mobile application using flutter framework where it compiles code to c/c++ low level code.
so is it possible to develop fast and rich GUI desktop app with dart ?
windows / linux / mac all supports c/c++ at low level ,
so is it possible to add desktop application development support with dart ?
can this feature come in near future ?

[2018-05-07 18:23] vsmenon opened #33064 "Remove sync-async opt out in DDC"
The new behavior is now on by default.  The old behavior isn't really tested, but we have a small internally whitelist.

We should remove the opt-out when we can get rid of it.  See #32868

[2018-05-07 18:37] DanTup commented on #32914
Hmm, I think maybe that was just a bad job of me trimming the log (the same log may have included multiple tests).

The test project is really simple and available here:

https://github.com/Dart-Code/Dart-Code/tree/master/test/test_projects/flutter_hello_world

However I'm not sure if anything in there is affecting this; the tests all just write their own content into an empty file. I'm just tryin

[2018-05-07 18:51] DanTup commented on #32914
This is weird; I changed the logging to use a hard-coded filename (normally in the test setup, we overwrite the log file to get per-test logs) and I cannot reproduce it (I've run it many times over and over).

This doesn't make much sense to me right now; but I'll need to dig in more. Feel free to ignore this for now and I'll try and get more concrete info (and hopefully a simple repro script) tom

[2018-05-07 18:55] mraleph commented on #32626
Sorry @ds84182 - this issue seems to have completely fallen through the sieve. I have confirmed that old and new bigints produce different results, which should not happen.

[code]

[2018-05-07 18:55] Meronat commented on #27431
This has been fixed by https://github.com/dart-lang/sdk/commit/7998f590b1764b4849784d7a9dc33825c0dd3e1f

[2018-05-07 19:11] sigmundch opened #33065 "dart2js js interop with mixins"
Using mixins in anonymous classes doesn't is not working:

[code]

[2018-05-07 19:12] mraleph commented on #27431
Thanks @Meronat

[2018-05-07 19:12] #27431 closed

[2018-05-07 19:17] devoncarew commented on #33038
Note that this number is for flutter repo sized projects when changing a library that's highly depended on. Users will generally see much smaller deltas here.

[2018-05-07 19:26] bkonyi commented on #32808
I've been able to reproduce this. I'll investigate.

[2018-05-07 20:13] a-siva commented on #33027
CL has landed.

[2018-05-07 20:13] #33027 closed

[2018-05-07 20:37] a-siva commented on #33055
It appears that we are using the clang toolchain instead of the custom toolchain specified with the '-t' option.

[2018-05-07 21:00] crelier commented on #32626
Thanks for the report. How embarrassing! This was a typo introduced while migrating Bigints from Dart1 to Dart2. CL on its way: https://dart-review.googlesource.com/c/sdk/+/54070

[2018-05-07 21:08] jmesserly opened #33066 "covariance checks too late for `sync*` `async*`"
Right now, covariance checks won't happen until we get inside the generator body. So you have to start iterating over the iterator, or listening to the stream.

@leafpetersen does it sound right that we should do these checks synchronously? See tests in https://dart-review.googlesource.com/c/sdk/+/53862

In DDC we can fix this in _emitGeneratorFunction. Right now covariance checks are emitted (alo

[2018-05-07 21:10] lrhn commented on #33024
It's definitely possible to do something in the direction, but it feels like sub-optimal API-design to have a way to "subscribe synchronously" (meaning that the subscription becomes active before the `onListen` call instead of after) because it gives two subtly different ways to do the same thing, and no guidance to users about which one to choose. And it is defined in terms of `onListen`, which i

[2018-05-07 21:11] jmesserly commented on #33066
I'm not totally sure how precise we want to specify these. It may be nice to leave implementations free to do checks later--as long as the checks happen before use, it prevents unsound access. That said, DDC is a development compiler, so it may make sense for us to check as eagerly as possible.

[2018-05-07 21:14] lrhn commented on #33066
We want to specify it exactly. It's part of the language semantics, and there shouldn't be any slack.

I agree that parameter type checks should happen synchronously, and that includes covariant type checks. Type checks are part of function *invocation*, when actual arguments are bound to formal parameters. There cannot be a time where the formal is bound to an invalid value. Effectively it's invi

[2018-05-07 21:26] bwilkerson commented on #33058
This should have been fixed by https://dart-review.googlesource.com/53840. Let me know if that's not the case.

[2018-05-07 21:26] #33058 closed

[2018-05-07 21:38] natebosch commented on #33031
Can someone from the language team please clarify what the benefits of these semantics are? They are not obviously correct to me.

Why is a default argument value a property of a method invocation? It seems to me a property of a method implementation.

If a class extends another it doesn't see the super-class default values for arguments. Why is `noSuchMethod` different from other ways a method ca

[2018-05-07 21:40] #32626 closed

[2018-05-07 21:41] ds84182 commented on #32626
Thanks!

[2018-05-07 21:42] affinnen commented on #32942
My test was done in IOS 6 emulator.

Sent from my iPhone

On May 7, 2018, at 4:24 PM, Alexander Aprelev <notifications@github.com<mailto:notifications@github.com>> wrote:

Hot reloading while changing primarySwatch: Colors.red to primarySwatch: Colors.blue also works.
What device did you run this on? I'm running on Android Nexus4, with flutter dev running on Linux host.

—
You are receiving this b

[2018-05-07 21:45] affinnen commented on #32942
Let me try to reproduce it again when I get home in like an hour to give you more details.

Sent from my iPhone

On May 7, 2018, at 4:24 PM, Alexander Aprelev <notifications@github.com<mailto:notifications@github.com>> wrote:

Hot reloading while changing primarySwatch: Colors.red to primarySwatch: Colors.blue also works.
What device did you run this on? I'm running on Android Nexus4, with flutter

[2018-05-07 21:47] #33030 closed

[2018-05-07 21:53] jmesserly commented on #33066
Sounds good to me :)

[2018-05-07 21:56] MichaelRFairhurst commented on #32161
Closing, we can have a new ticket made once the change is specced, and that may be after the front end/analyzer integration anyways. Sound good @eernstg ?

[2018-05-07 21:56] #32161 closed

[2018-05-07 22:00] bkonyi commented on #32808
It appears that this is consistent behavior with all streams which do not have error handlers registered, so I think this is working as intended.

[code]

Which results in the following exception:

[code]
Is there any reason why you want to call `addError` on `stderr`? If you're just trying to print to `stderr` you can use `stderr.write` to accomplish that.

[2018-05-07 22:05] #33036 closed

[2018-05-07 22:16] dgrove commented on #32188
#33030 is closed. Is there any more work to do here, @natebosch ?

[2018-05-07 22:34] kevmoo commented on #32188
@dgrove – need to update `pub_semver` package – just told @natebosch

[2018-05-07 22:39] kevmoo commented on #32188
Darn. Still not fixed. I patched locally. Still getting

[code]

[2018-05-07 22:42] natebosch commented on #32188
@dgrove - there is much more to do.

- [ ] At a minimum we need to have special handling for this flag in the shell script in the SDK.
- [ ] To shave off ~10 seconds of the slowdown from fasta we need to generate a Dart 2 or kernel snapshot in the SDK.
- [ ] Ideally we need to completely overhaul the way snapshots are generated in pub so that we can generate app-jit snapshots on first run rather t

[2018-05-07 22:43] leafpetersen commented on #33066
Agreed, do the checks eagerly.

[2018-05-07 23:11] leafpetersen commented on #33031
I don't think this really has anything to do with whether or not default arguments are properties of method invocation signatures.  The primary concern (in so far as it is a concern) is that it is otherwise un-observable whether or not an optional parameter is passed or not passed, and this is a bit of a bad smell.  Example:

[code]

As intended with this feature, there is no implementation of `m`

[2018-05-07 23:25] natebosch commented on #33031
I'm not sure I follow. Are we saying that we believe it's impossible to know whether a parameter was passed explicitly and we want it to remain impossible even with NSM because we're afraid too many people will use NSM to gain this capability and we don't want the capability to exist at all?

If we allow the implementation in extending classes there is a workaround which I've seen in the wild.

[c

[2018-05-07 23:29] natebosch commented on #32188
As you discovered, the reason is that we only ship the snapshot with the SDK. It looks like my 2nd bullet point from the message above is a requirement, not a nice-to-have.

[2018-05-07 23:40] alanrussian commented on #33024
Thanks for the explanation, Lasse. If it makes more sense to create a separate `Stream` to serve this purpose, that's fine. Are there any chances that such a Stream type could be added to the standard libraries?

cc @lestathc

[2018-05-07 23:52] sigmundch opened #33067 "Remove test framework dependence on dart:isolate"
Context:
* we are removing support for `dart:isolate` on web compilers (ddc, dart2js)
* `ReceivePort` is used heavily on our tests to ensure the VM doesn't exist on before all async callbacks have been executed. This is mainly done by `async_helper` [here](https://github.com/dart-lang/sdk/blob/master/pkg/async_helper/lib/async_helper.dart#L26)

Can we add an explicit API to address our testing nee

[2018-05-07 23:53] jmesserly commented on #32294
https://dart.googlesource.com/sdk/+/3002e47e36e7072831c2e0ff061f56522480f493 landed, and sent out https://dart-review.googlesource.com/c/sdk/+/53163 for review, which will fix this bug.

[2018-05-07 23:59] keertip commented on #33025
The fix is not in dev 53.

[2018-05-08 00:00] kevmoo commented on #33025
Nope. You can open the commit (
https://github.com/dart-lang/sdk/commit/f35bb0379d249e197c45b94fbbf52c5d5e8bf019)
and look at the top – you'll see the tags the commit is in...

On Mon, May 7, 2018 at 4:59 PM Keerti Parthasarathy <
notifications@github.com> wrote:

[2018-05-08 00:01] leafpetersen commented on #32999
@lrhn Any thoughts?

I'm somewhat disinclined to make it an error for two libraries with the same name to *exist* in a program, since it feels like causing breakage for no really good reason, and in ways that users can't necessarily control (e.g. they use two packages, both of which have an internal library named "internal_lib").

I would prefer to not allow the same files to be included in differ

[2018-05-08 00:01] leafpetersen commented on #32661
We need to keep supporting these in the analyzer.  For the CFE, we can worry about adding support for them post Dart 2 if needed.

[2018-05-08 00:08] leafpetersen commented on #33031
@natebosch Fair point that you can do this with markers if you weaken the signature.  You are, of course, implementing a different (weaker) signature.

In any case, I don't think anyone feels that this is a feature that makes or breaks Dart 2.  Our intention with the NSM forwarders was that they simply fill in boilerplate that you could have written yourself, and optional argument presence forward

[2018-05-08 00:53] affinnen commented on #32942
@aam, here are the exact repro steps.
1. Start Simulator iPhone 6 - 11.2
2. Create a new app from Visual Studio Code - hello_world
3. Start Debugging (you may have to set your debug configuration)
4. Finally, paste the code example I provided above and Save.
5. Hot reload should trigger and you will get the exception.

Visual Studio Code: Version 1.22.2
Mac OS: 10.13.4
Flutter 0.3.5 • channel dev

[2018-05-08 00:56] natebosch commented on #32188
@a-siva you might need to sync past https://github.com/dart-lang/sdk/commit/4da831fd3ad72e4590cf007814d7b52c11d2a6d6

[2018-05-08 01:06] a-siva commented on #32942
/cc @crelier

[2018-05-08 02:02] leafpetersen commented on #32457
Closing this, the change has landed and been rolled.

[2018-05-08 02:02] #32457 closed

[2018-05-08 03:45] tristan957 commented on #30451
This would be amazing. I don't use a Debian-based OS, so an easy way to install the SDK would be amazing

[2018-05-08 04:33] kevmoo commented on #30451
Never heard of it until now – https://snapcraft.io/ – looks interesting!

[2018-05-08 04:34] kevmoo commented on #30451
FYI: homebrew started as community supported (by me) until it was taken over by the Dart team.

Same for chocolatey. I'd suggest bootstrapping the project (if anyone is interested) as a community effort and see if it sticks!

[2018-05-08 05:51] radzish commented on #33025
if the fix is in dev 53, then what I have is different issue, right?

[2018-05-08 06:04] kevmoo commented on #33025
@radzish – the fix is not in -dev.53. Likely in -dev.54

[2018-05-08 06:06] mraleph commented on #33025
@radzish could you also describe what you think is a bug? I run your code and I get `Instance of 'ServerResponse<SigninResult>` in both cases. Is this what you expect or not?

[2018-05-08 06:35] mraleph commented on #33025
@radzish perfect. that means that the issue is fixed on master. the fix should reach Flutter next time we roll Dart into it, which usually happens pretty regularly. the schedule is not tied to Dart SDK dev releases at the moment.

[2018-05-08 06:42] DanTup commented on #33058
Can't repro on latest code, so seems like it 👍

[2018-05-08 07:46] mkustermann commented on #32904
@mraleph Was this issue fixed?

[2018-05-08 07:51] #32992 closed

[2018-05-08 07:51] mraleph commented on #32904
I worked around the slow down I was seeing. I think the real issue is still there.

[2018-05-08 09:28] lrhn commented on #32999
My suggestion is to do what DDC does: Ignore library names.
Then allow `library;` with no name and even `part;` with no `of name`, and forget that library names ever existed.

I don't care if someone wants to include the same part in multiple libraries. It's textual inclusion, so you get what you ask for (separate statics, potentially completely different declarations because type names mean diffe

[2018-05-08 09:33] eernstg commented on #32161
Sounds good @MichaelRFairhurst, thanks!

[2018-05-08 09:41] karlklose opened #33068 "CFE: Missing compile time errors for async, async*, and sync* methods with incompatible return type"
For example:
`int badReturnTypeAsync() async {} // //# 01: compile-time error`

Tests:
`language_2/async_or_generator_return_type_stacktrace_test_0{1,2,3}`
`language_2/async_return_types_test/{wrongReturnType,nestedFuture}`

[2018-05-08 10:12] eernstg opened #33069 "Redefine meaning of "void arrow functions""
The language team discussed, but did not yet commit to, the following change:

[code]

The motivation for the first rule is that it eliminates an inconsistency in the rules: `return 42;` is an error in a `{}` function with return type `void`, based on the consideration that it is too error-prone: It looks like that value is being passed on and used, but that value is actually marked as invalid ("t

[2018-05-08 10:12] eernstg opened #33070 "Feature specification: Redefine meaning of void arrow functions"
This is the feature specification specific subissue for #33069, which has the details.

[2018-05-08 10:29] eernstg commented on #32999
Sounds like you'd prefer to declare that there is no conflict, even when `part of foo.bar;` in a part _P_ is resolved to multiple distinct libraries _L<sub>1</sub> .. L<sub>k</sub>_ named `foo.bar` in the same program (just like `part;` would be happily matched up with multiple nameless libraries, as long as they all specify `part _P_;`).

I can see that it should be a non-problem for compilers to

[2018-05-08 10:45] sjindel-google commented on #32682
This is actually still a problem:

[code]

[2018-05-08 10:48] sjindel-google commented on #18122
This seems to be causing frequent flakiness on `vm-kernel-linux-x64-try`, e.g. https://ci.chromium.org/p/dart/builders/luci.dart.try/vm-kernel-linux-release-x64-try/287, which is becoming a serious issue for passing the CQ.

[2018-05-08 11:03] DanTup commented on #32914
Ok, I fixed some race conditions in my tests and think I have a reliable repro, but it requires running a couple of tests.

Here's a full instrumentation log including the issue (there are two instances of the cancellation).. I'm just working through it trying to figure out if there's an obvious cause (there are some file modifications just before it, for ex; so I'll try to eliminate what I can).

[2018-05-08 11:08] DanTup commented on #32914
Ok, I'm fairly sure now that this is caused by the settings file modifications on disk:

I'm not sure why they're happening when they are (they're supposed to happen before the test starts), maybe it's because VS Code is writing them to disk slowly/asynchronously. Probably if they are the cause, they shouldn't affect this though; since they're not analyzable files?

[2018-05-08 11:09] DanTup commented on #32914
Indeed, adding a big fake delay after updating the settings seems to fix this.

[2018-05-08 11:11] whesse commented on #18122
This is an issue about context_shell, which we have stopped using.  Is the problem that the same test is flaky on the vm? language/disassemble_test?

I would file a new issue, and close this one as obsolete.

[2018-05-08 11:15] sjindel-google commented on #18122
SGTM

[2018-05-08 11:15] #18122 closed

[2018-05-08 11:50] karlklose opened #33071 "CFE missing compile time errors on invalid bounds in mixins"
Tests:
`language_2/mixin_invalid_bound_test` and `language_2/mixin_invalid_bound2_test`

[2018-05-08 12:31] johnniwinther opened #33072 "sourcemaps/*_validity_test only works with the old frontend"
The unittests sourcemaps/*_validity_test only works with the old frontend.

It's only unclear whether we should port these to CFE or deleted them.

[2018-05-08 12:32] stevenroose commented on #32803
Any update on this??

[2018-05-08 12:59] DanTup commented on #33033
I've made a start on this:

https://dart-review.googlesource.com/c/sdk/+/54232

[2018-05-08 13:39] DanTup commented on #32678
https://dart-review.googlesource.com/c/sdk/+/54244

[2018-05-08 13:40] lrhn commented on #32803
We are very busy doing the already planned Dart 2 features, so I don't think it's likely that a feature like this will make it into Dart 2.0. (It's kind-of trivial once the design is nailed down, but so are most of the other things we are currently doing).

For now, I'll recommend just using helper functions like:
[code]
(There are lots of opportunities for optimizations, obviously).

[2018-05-08 13:42] stefantsov commented on #31581
[CL 50941](https://dart-review.googlesource.com/c/sdk/+/50941) and [CL 51620](https://dart-review.googlesource.com/c/sdk/+/51620) have landed.

[2018-05-08 13:58] sjindel-google opened #33073 "_allocateInvocationMirror mistreats all-dynamic type arguments"
[code]

The correct output should be "1". This is caused by code in `InvocationMirror.get:typeArguments`:

[code]

The flaw in this code is that `_unpackTypeArguments` will return an empty list when passed `null`, even though `null` is the representation of all-dynamic type arguments vectors of all lengths.

[2018-05-08 14:14] sjindel-google commented on #33073
This actually affects all uses of `_unpackTypeArguments`, which is used in a few places that generate throws of `NoSuchMethodError`.

[2018-05-08 14:37] #32807 closed

[2018-05-08 15:12] danrubel commented on #32977
Apparently @peter-ahe-google and crew have fixed they other part of this issue, so yes, we can close. Please reopen if you find this is not the case.

[2018-05-08 15:12] #32977 closed

[2018-05-08 15:14] stevenroose commented on #32803
(You made a typo on that long line.)

Yeah that was my alternative, but I was kinda trying to avoid that. But yeah since it won't land 2.0, I'll probably do this instead.

[2018-05-08 15:15] dgrove commented on #32850
@floitschG will make this happen.

[2018-05-08 15:27] eernstg commented on #31460
FYI: The required specification update is [currently under construction](https://dart-review.googlesource.com/c/sdk/+/54242).

[2018-05-08 16:26] aam commented on #32942
Can't repro this on iOS simulator on mac neither.
Can you try flutter master channel?
Can you try running your app from command line(`flutter run -v`, then 'r' to hot reload)?

[2018-05-08 16:46] aam commented on #32942
@affinnen wrote:

Can you please clarify whether it crashes for you only when you replace complete hello_world app with your sample and do hot reload, while hot reload works fine if you start from your sample and hot reload incremental change(like changing `primarySwatch` color)

[2018-05-08 16:53] bwilkerson commented on #32914
I agree: writing a VS Code settings file shouldn't have any impact on the analysis server. The one possibility is if server's watcher code is cancelling operations even when the files being modified can't impact the operation.

If that is the case, then I'm not sure we can safely change it. If a plugin were written to depend on the VS Code settings file, and wanted to participate in the refactorin

[2018-05-08 17:01] DanTup commented on #32914
I have put in a workaround that seems to work which is to add a 500ms delay after I modify settings at the start of a test (though due to many issues with file locking and wanting a combined log, this log file code may be rewritten soon anyway).

So, if it's deemed that this shouldn't/won't be fixed, it doesn't impact me much (at the time of raising, it wasn't clear it was only because of this). I

[2018-05-08 17:14] vsmenon commented on #33031
I don't see the cycles to do this migration right now.  Unless @srawlins has discovered otherwise, this looks to be substantial work.

I suggest spec'ing the working behavior for Dart 2 and revisiting this (if desired) afterward in conjunction with needed Mockito redesign.

@leafpetersen @lrhn - are you okay with that?

[2018-05-08 17:34] scheglov commented on #32765
https://dart-review.googlesource.com/c/sdk/+/54303

[2018-05-08 17:39] scheglov commented on #30693
Assume fixed.

[2018-05-08 17:39] #30693 closed

[2018-05-08 17:50] leafpetersen commented on #33031
If we don't have the cycles we don't have the cycles.

[2018-05-08 17:53] aam commented on #32942
Here is the stacktrace with line numbers
[code]

[code]

[2018-05-08 17:59] crelier commented on #32942
Since we are having trouble reproducing this, I could add some defensive code to prevent this from happening. Hot reload is brittle anyway, so more robust coding cannot hurt. I cannot guarantee it would not crash later, though.

From the stack trace above, I see that a type argument vector is being canonicalized, and a type argument in the vector is null. This can happen for recursive types, when

[2018-05-08 18:10] aam commented on #32942
Starting from the app below, then changing three lines marked with `//HR` will crash VM with the same error.

[code]

[2018-05-08 18:33] cbracken opened #33074 "Sporadic VM crashes in pub get"
Saw this segfault on the Mac Flutter chromebot.
[Log with trace](https://build.chromium.org/p/client.flutter/builders/Mac/builds/5898/steps/run%20test.dart%20for%20tests%20shard/logs/stdio)

Relevant Dart/Native backtrace:
[code]
Flutter engine revision: flutter/engine@20b286dd428a0d8dd0f87b7a03ab67fbf0da2836
Includes Dart VM revision: dart-lang/sdk@e6d7d67f4b35556805dd083fed15bf3ed41f7e33

[2018-05-08 18:34] cbracken commented on #33074
/cc @a-siva

[2018-05-08 18:39] crelier commented on #32942
Changing the super type of class `_MyHomePageState` should invalidate all code from this class, including the code for `_MyHomePageState.build` and its call to `super.init()`.

[2018-05-08 18:59] #32765 closed

[2018-05-08 19:18] lrhn opened #33075 "Rename `retype` to `cast`, overriding old `cast`. Deprecate and remove `retype` functions."
The `cast` and `retype` methods on numerous types are confusing and removing `cast` will make the API better for users. We will reuse the `cast` name for the current `retype` behavior.

Steps:
* [x] Change `cast`  to work as `retype` (fails no tests in the SDK, five tests in google3) and deprecate `retype`. ([CL](https://dart-review.googlesource.com/c/sdk/+/53802))
* [x] Roll into google3.
* [x] C

[2018-05-08 19:31] aam commented on #32942
Current theory is that hot-reload request should have been rejected because _MyHomePageState class got different number of type parameters(used to be 1, now it is 2). Since it was not rejected, that leads to the crash further down the pipeline.

cc @rmacnak-google

[2018-05-08 19:38] lrhn opened #33076 "Recognize file entry-points that should be accessed as package URIs"
Users provide entry points to our tools as command line arguments. In some cases those entry points are inside a the `lib` directory of the package the user is working on, but are specified as file paths.
This can cause the same library file to be imported both using a file URI and a package URI, causing it to be interpreted as two different libraries.

To help users, we should vet the entry point

[2018-05-08 19:40] a14n commented on #32808
I used `addError` because it was its signature was close to the `catch (e,s)`. This behaviour is really unintuitive.

[2018-05-08 19:41] lrhn commented on #33069
Also document how this applies to instance methods with a type variable as return type, when the type variable is instantiated with `void`. (It doesn't, the static type is not `void`, and the runtime type is `Object` anyway).

[2018-05-08 19:46] scheglov commented on #30577
https://dart-review.googlesource.com/c/sdk/+/54307

[2018-05-08 19:48] vsmenon commented on #33031
Quick update: @srawlins and @jmesserly are trying a presubmit with the new semantics.  This should tell us the migration cost.  It appears that implementation cost is low (as most of it is already done).

[2018-05-08 19:50] leafpetersen opened #33077 "Inconsistent override errors on setters and methods"
The analyzer in preview-dart-2 mode issues errors on the overrides of `n` and `o` in the code below, but not on `m`.

This seems inconsistent, but possibly consistent with the spec:

"It is a static warning if a class C declares an instance method named n and has a setter named n=."

@lrhn @eernstg I presume this is not intentional?  Do we need a spec fix?

Assuming this is not intentional, I will

[2018-05-08 19:52] sigmundch opened #33078 "infra: logs cleanup"
This may be already on your radar, but I've noticed a few frictions when it comes to accessing logs:
  * logs are long and take a while to load (and failures tent to be summarized at the end)
  * not all bots use the same log format (different flags for test.py)
  * logs from browser tests are noisy

Overall, it would be nice if we could make changes to make it easier to extract errors from the bu

[2018-05-08 19:52] ZakTaccardi opened #33079 "Algebraic Data Types (ADTs, Sealed Classes, Enum with associated values)"
ADTs are a very important part of any modern programming language.
 - Kotlin has [sealed classes](https://kotlinlang.org/docs/reference/sealed-classes.html#sealed-classes)
 - Swift has [enums with associated values](https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/Enumerations.html)

Imagine you have a network call that submits login credentials

[2018-05-08 19:56] scheglov commented on #28186
I'm unable to reproduce this with the latest analyzer and analysis server.

[2018-05-08 19:56] #28186 closed

[2018-05-08 20:34] zoechi commented on #32601
Looks like a dup of #33076

[2018-05-08 21:01] ujwalynit opened #33080 "Error"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IC-181.4892.42`
- `2.0.0-edge.3c4dccbd46f152be9e1b6ca95c57357e8e48057c`
- `IC-181.4892.42, JRE 1.8.0_152-release-1136-b38x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1536x864`

# Exception

Please append the contents of:
file://C:\Users\ujwal.joseph\AppData\Local\Temp\report.txt

[code]

[2018-05-08 23:40] sigmundch opened #33081 "dart2js: investigate possibly dead code in emitter"
`existingIsolateProperties` seems to not be defined anywhere. delete?

https://github.com/dart-lang/sdk/blob/74d03e7a75b3d0a8947a1b71a2ebe73f1b34f97a/pkg/compiler/lib/src/js_emitter/full_emitter/setup_program_builder.dart#L416

[2018-05-08 23:50] dgrove commented on #32656
Any further updates on this?

[2018-05-09 01:16] natebosch commented on #33076
What does "entry point" mean in this context? Is it "Dart library with a `main()` method?"

[2018-05-09 01:17] dgrove commented on #33031
@srawlins and @jmesserly can you provide an update today on this?

[2018-05-09 01:20] dgrove commented on #32606
(this will be close, but isn't a requirement for Dart2Beta4)

[2018-05-09 01:30] scheglov commented on #21965
https://dart-review.googlesource.com/c/sdk/+/54360

[2018-05-09 01:31] srawlins commented on #33031
I'm going to presubmit the new semantics in DDC tonight. Basically what @vsmemnon [said](https://github.com/dart-lang/sdk/issues/33031#issuecomment-387520908).

[2018-05-09 02:28] jmesserly commented on #33019
https://dart-review.googlesource.com/c/sdk/+/54340 ... we can land that if we're good on the Mockito side. CC @srawlins

[2018-05-09 04:39] dgrove commented on #32661
Removed from the Dart2 set of milestones.

[2018-05-09 05:00] srawlins commented on #33031
OK, update for the night: things mostly look good. 😅

Jenny wrote a prototype that seemed very very functional for DDC. That was necessary to get a true sense of the scale of any cleanup that might be needed internally. It looks like very few tests actually start failing. Of the ones that do, it looks like they might be failing just because of a small bug in Jenny's implementation (given a functio

[2018-05-09 05:04] dgrove commented on #33031
Good news! sounds like @sjindel-google should reland this change, right @srawlins ?

[2018-05-09 05:09] srawlins commented on #33031
I'd prefer to land a fix for https://github.com/dart-lang/mockito/issues/122 first, to prevent another flutter breakage during their role. I have a fix mostly ready. I can mail and land it tomorrow.

[2018-05-09 05:35] leafpetersen commented on #33031
I made some small tweaks to @jmesserly's cl and got 2 previously failing tests running, I'll try to run a global overnight with my tweaks.

[2018-05-09 06:01] #30577 closed

[2018-05-09 06:08] lrhn commented on #33077
I agree that we should disallow it.
I'm not sure what the spec currently says, but I see no good reason to not have the symmetric warning if the class declares an instance setter and has a method with the corresponding getter-name, and make that a Dart 2 error.

That would mean that in Dart 2, you either have a *property* (getter and/or setter) or a method, but never a combination.

[2018-05-09 06:17] jmesserly commented on #33031
I also figured out what was wrong with my CL (forgot to pass `isConst: true` after much refactoring to DDC) and am testing the cleaned up version.

[2018-05-09 06:27] tvolkert commented on #33031
Just to make sure I understand the current state of things: it sounds like we're going to be able to re-land 7d5025e _unmodified_ because we found viable workarounds in mockito (that comes with a workable migration path) and DDC?

[2018-05-09 06:36] lrhn commented on #33076
Yes, any user supplied file name, as long as there is also a way to resolve package URIs.

For application entry points (library containing the `main` method), we search for a `.packages` file relative to that library.

Purely single-file or source based tools, like the formatter, usually don't care what URI the library is identified by, so there is no reason to exempt them.

[2018-05-09 06:40] jmesserly commented on #33031
I think it will be reverting https://dart-review.googlesource.com/c/sdk/+/53540 ... it looks like there maybe have been some small tweaks to the CL to keep buildbots happy, but otherwise I presume it's almost the same code as https://github.com/dart-lang/sdk/commit/7d5025e814fa4716fb8c6a4c104ea1c28d578911, yes. mockito has a workaround and DDC has an implementation (we're still testing, but it see

[2018-05-09 07:10] peter-ahe-google commented on #33076
Actually, we would search for a .packages file for any entry point.

[2018-05-09 08:28] kmillikin commented on #31850
As of 8f6c6c2a8edd514cdb6533541189a6572318facd we signal this error:

[code]

An error (legacy Dart warning) is signaled when you declare a method and inherit a getter or setter, or declare a getter or setter and inherit a method, or inherit both a method and a getter or setter.

[2018-05-09 08:28] #31850 closed

[2018-05-09 08:34] kmillikin commented on #14736
This was a weird part of the spec.  It explicitly warns if you declare a member and have a setter with the same name.  However, it's OK to declare a setter and have a member with the same name.  And it's OK to have both a member and a setter with the same name.

In any case, all of these are currently Dart 2 errors and Dart 1 warnings in the front end as of 8f6c6c2a8edd514cdb6533541189a6572318facd

[2018-05-09 08:34] #14736 closed

[2018-05-09 08:35] eernstg commented on #31460
The specification update has been accepted by the language team (as of 2f781e46b01e22541cd74ab82e57e72bdea3793e).

[2018-05-09 08:42] kmillikin commented on #32613
As of 8f6c6c2a8edd514cdb6533541189a6572318facd it is now an error to declare an instance method and inherit an instance getter or setter with the same name, or to declare an instance getter or setter and inherit an instance method with the same name, or to inherit both an instance method and an instance getter or setter with the same name.

We don't catch the cases of static members conflicting wi

[2018-05-09 08:45] kmillikin commented on #31415
Duplicate of issue #31850.  Fixed in 8f6c6c2a8edd514cdb6533541189a6572318facd.

[2018-05-09 08:45] #31415 closed

[2018-05-09 08:51] eernstg opened #33082 "Support metadata on enum values"
As of 2f781e46b01e22541cd74ab82e57e72bdea3793e, the language specification includes support for metadata on each of the values of an `enum` declaration:
[code]
This issue is concerned with getting that feature implemented.

---

### Tasks

Any tool that includes the common front end would get this feature for free because `enum` declarations are expanded to regular classes by the CFE.

- [x] Commo

[2018-05-09 08:52] eernstg opened #33083 "Common front end: Support metadata on enum values"
This is the common front end specific issue for #33082, which has the details.

[2018-05-09 09:12] kmillikin commented on #33077
The spec says it's a warning to have a setter and declare an instance method with the same name.  (Why only instance methods?)

It doesn't seem to be a warning to have a method and declare a setter with the same name, or to have both a method and setter with the same name.  So this seems like a weirdly specific warning, but I ignore those anyway.  Since it becomes a Dart 2 error, then there's a re

[2018-05-09 09:42] kmillikin commented on #33083
I don't think we'll hit this for the Beta 4 milestone so I'm adding it to Dart 2 stable.

[2018-05-09 10:03] DanTup opened #33084 "Override completions appear inconsistently within a class"
While working on the Folding visitor in the analysis server I noticed something weird. Depending on where I start typing `visit` I may or may not get completion items for the visit methods.

The class currently has a bunch of visitor methods implemented (directives). If I type `visit` after the last one (but before the last method in the class) I do not get the completions; yet if I type it betwee

[2018-05-09 10:48] whesse commented on #33057
The status file should be updated to mark this test slow, at least on arm.  Putting the issue number in the status message.

[2018-05-09 10:56] sjindel-google commented on #33031
Unfortunately we can't land 7d5025e just yet due to a few failures on precompiled bots. Please let me know when I can re-land it with fixes.

[2018-05-09 11:00] #31982 closed

[2018-05-09 11:02] sjindel-google commented on #31981
https://dart-review.googlesource.com/c/sdk/+/42562 provides support for most scenarios where there is already an incremental compiler ready in the Kernel isolate, but there are still a few cases, like running from `.dill`, which need to be addressed by bootstrapping the incremental compiler.

Integration with Flutter tools also needs to happen.

[2018-05-09 11:03] askeksa-google commented on #33028
The given test case does not fail after https://github.com/dart-lang/sdk/issues/32950 was fixed. Can this be closed as a duplicate?

[2018-05-09 11:52] eernstg commented on #33069
Yep, we would specify rule 1 for a literal `void` return type, and there is no change to the semantics of a function whose declared return type is a type variable. Similarly, rule 2 only applies in the cases where the static type of the returned expression is `void`, and the new semantics does not apply when `e` has type `X` which is a type variable, even in cases where the corresponding actual ty

[2018-05-09 11:55] askeksa-google commented on #32985
Closing as duplicate of https://github.com/dart-lang/sdk/issues/33068

[2018-05-09 11:55] #32985 closed

[2018-05-09 12:42] DanTup commented on #33033
A more complete implementation: https://dart-review.googlesource.com/c/sdk/+/54402

[2018-05-09 12:54] mkustermann opened #33085 "We should not run _2 test suites in Dart 1.0 mode"
For those test suites where we have explicit _2 variants (e.g. lib_2) we should not run Dart 1.0 mode VM on them.

For example we do that on `target-arm64-vm-linux-release-be`:

[code]

@whesse Maybe you could take a look at this?

[2018-05-09 13:03] whesse commented on #33085
Should this be a skip in the status file, for the non-dart-2 modes?  What characterizes those modes?

[2018-05-09 13:05] mkustermann commented on #33085
I thought this is already configured somewhere (e.g. where 2.0 is not running the v1 test suites). Maybe @athomas knows.

`test.dart` shouldn't enqueue those suites, then there is no need for marking the status files with skips.

[2018-05-09 13:09] stefantsov opened #33086 "metadata_test crashes on precomp bots while being transformed"
The type flow analysis (TFA) transformation rewrites const constructors to have bodies, which confuses other transformations.

This caused metadata_test to crash after the support for annotations on variable declarations has been enabled.

Running the test gives the following output:

[code]

[2018-05-09 13:12] stefantsov commented on #33086
@alexmarkov Could you please take a look?

[2018-05-09 13:59] eernstg commented on #33077
We have a bunch of rules about name conflicts, so let's get an overview (looking at dartLangSpec.tex from fe3f87f192fbec44ba77c6f01334b8bcb849a63d):
[code]

I'll take it for granted that `warning` means `error` now (or that we don't care in this context). The rules
would apply as follows:

[code]

As far as I can see we have the unintended missing case that @leafpetersen and @kmillikin mentioned,

[2018-05-09 14:09] sjindel-google commented on #31424
There are a few remaining bugs, but overall the feature is complete.

[2018-05-09 14:09] #31424 closed

[2018-05-09 14:12] athomas commented on #32656
Status update:

- Discussed prototype with @whesse: I have a few issues to fix before I can land it.

[2018-05-09 14:28] sjindel-google opened #33087 "Need to bootstrap incremental compiler if it doesn't already exist for expression compilation"

[2018-05-09 14:29] jakemac53 opened #33088 "stackTrace property not visible for some error types in chrome dev console"
You can repro this with a basic web project, throwing an `UnsupportedError` will give you the stack trace property in the chrome dev console, but throwing an `ArgumentError` will not.

[code]

You can use build_runner to build/serve the app above, put it in `web/main.dart`, make a pubspec.yaml like this:

[code]

And a `web/index.html` like this:

[code]

And then run `pub run build_runner serve`

[2018-05-09 14:32] lrhn commented on #33077
It's not enough to have "declare methods, have setter" and "declare setter, have method" as cases, we also need to disallow "have setter and method" where both are inherited from different interfaces.
That goes for the other rules as well.

I would go for:

The *base name* of a Dart declaration name is the name itself for getter and method names, the name without the trailing `=` for setter names,

[2018-05-09 14:37] eernstg commented on #33077
I've uploaded a spec update as described in https://dart-review.googlesource.com/c/sdk/+/54410.

[2018-05-09 15:08] eernstg commented on #33077
[Said [CL](https://dart-review.googlesource.com/c/sdk/+/54410) does not take [this comment](https://github.com/dart-lang/sdk/issues/33077#issuecomment-387759128) into account.]

I'll try to use these ideas (but I'll soon leave for one of the numerous Danish spring time holidays, so I won't be able to update the CL today ;-). I'm sure we can fiddle around with these rules a lot in order to find an

[2018-05-09 15:16] devoncarew commented on #33006
@creisman, are you the right person to take a look at this? We would like to improve the clarity of the error messages here. /cc @a-siva @ mraleph

[2018-05-09 15:29] bwilkerson commented on #33084
My first guess is that analyzer's parser is producing different AST structures in those two cases. The completion support uses the AST structure to decide which suggestions to offer. It would return different suggestions if the structures are different. If that's true, then it should be easy to support the other structure as well.

[2018-05-09 15:42] sjindel-google commented on #33031
Yes, the fix is ready and the revision is approved. I'm just wait for the go-ahead.

[2018-05-09 15:45] vsmenon commented on #33031
The internally tested CL (195908155) includes @srawlins's Mockito fix and @jmesserly's DDC implementation.  So, rolling forwarding means:

[ ] Landing @sjindel-google 's CFE implementation.
[ ] Landing @jmesserly 's DDC implementation.
[ ] Landing @srawlins 's Mockito fix.
[ ] Fixing ~10 internal tests (@srawlins )
[ ] Communicating / updating the spec (@lrhn @leafpetersen )

Are we missing anythi

[2018-05-09 16:00] vsmenon commented on #33031
Yes, I think we'll need the Mockito fix landed and rolled into Flutter and internal.

[2018-05-09 16:04] srawlins commented on #33031
Agree with everything above. @tvolkert or @yjbanov might correct the Flutter bit; it could be that all of Flutter was cleaned up in that fun roll last week. Otherwise, we should land and release mockito fix, and bump mockito in flutter. I can do these things today.

[2018-05-09 16:05] vsmenon commented on #33031
Thanks!  I added check boxes to the initial comment at top so we can track.

[2018-05-09 16:34] DanTup commented on #33033
Some outstanding things:

- [ ] Tweaks to FoldingKind (eg. we don't currently have a good category for nested functions); pending comments on https://dart-review.googlesource.com/c/sdk/+/54402
- [ ] Update version number for AS (especially if we're changing FoldingKind)
- [ ] Annotations (look for Angular example)

@bwilkerson @scheglov gonna land that other review so probably easiest to discuss F

[2018-05-09 16:37] aam commented on #32942
Fixed via 2ad715e

[2018-05-09 16:37] #32942 closed

[2018-05-09 16:45] sigmundch opened #33089 "vm: dissasembler test seems flaky"
My CL failed on the CQ 3 times in a row because of language_2/dissasemble_test, is it flaky?

My CL in question: https://dart-review.googlesource.com/c/sdk/+/54160

Failure logs:
https://logs.chromium.org/v/?s=dart%2Fbuildbucket%2Fcr-buildbucket.appspot.com%2F8947051184298338464%2F%2B%2Fsteps%2Fstrong_vm_tests_shard_5%2F0%2Fstdout
https://logs.chromium.org/v/?s=dart%2Fbuildbucket%2Fcr-buildbucket.

[2018-05-09 16:46] crelier commented on #33006
Yes, I can have a look, probably not today, though.

[2018-05-09 16:55] rakudrama commented on #29532
One thing to note is that the `*` variants, e.g. `sync*` can enter the state machine after it is finished.
`moveNext()` continues to return `false`.
This means that the transformed program should have a state that is 'stuck' at 'finished'.
In the case of `sync*`, we could swizzle out the `_body` in `_SyncStarIterator` to a special 'stuck at finished' body to remove this constraint.

[2018-05-09 16:56] kmillikin commented on #33089
I've observed this recently too.

[2018-05-09 17:08] rakudrama commented on #33054
WIP: https://dart-review.googlesource.com/c/sdk/+/54308

Remaining issues

- [ ] entries and bodies sort nodeterministically
- [ ] should not generate types for sync* if rtiNeed says type is not needed
- [ ] test members of an interceptor class
- [ ] all closures can use the same body name
- [ ] naming can be more like for constructor bodies - compact unless a mixin or static
- [ ] ensure the body

[2018-05-09 17:10] dgrove commented on #33028
@natebosch @grouma can you take a look to see if this can be closed?

[2018-05-09 17:47] grouma commented on #33028
This still is an issue with: Dart VM version: 2.0.0-dev.54.0 (Unknown timestamp) on "linux_x64"

Getting the following:

[code]

[2018-05-09 18:02] leafpetersen commented on #33077
I'm a little unsure about the desired behavior on the various combinations of static/instance conflicts.

Are you referring to static + instance here, or just instance?  If the former, why?

More generally:

- We want to allow a superclass static member to coexist with a subclass instance member
  - Certainly of the same kind (i.e. method/method)
  - Any reason not to allow it of a different kind

[2018-05-09 19:37] rakudrama commented on #24365
This bug relates to the deprecated Ast nodes.

[2018-05-09 19:37] #24365 closed

[2018-05-09 21:03] rakudrama commented on #21694
I believe this has been fixed, in the following program `foo` and `bar` show evidence of correct type inference

[code]

[2018-05-09 21:03] #21694 closed

[2018-05-09 21:08] rakudrama commented on #16407
This is fixed.

[2018-05-09 21:08] #16407 closed

[2018-05-09 21:41] leafpetersen commented on #32960
Ok, here's my proposal.

TLDR: let's do what @sigmundch suggests above and commit to supporting what the new front end currently implements, without a flag.

Rationale:
  - I am highly skeptical that we will ever be able to share compilation artifacts between VM and JS platforms
  - Within JS platforms, the compilation artifacts should be as sharable with this feature as without
  - For analysis,

[2018-05-09 21:54] csga5000 commented on #25685
Is there someplace that documents all the valid ignore keys?

I can't figure out for the life of me how to ignore an unused function

EX:
[code]

[2018-05-09 21:57] csga5000 commented on #25685
Oh, I see that if I use flutter analyze it shows the key. (I don't think vscode does anywhere, I'm going to open an issue there)

[2018-05-09 22:01] bwilkerson commented on #25685
IntelliJ provides a quick-fix to add the comment for you. VS Code might, but I don't have it running on my machine so I can't check.

[2018-05-09 22:02] lrhn commented on #32960
On Wed, May 9, 2018 at 11:41 PM Leaf Petersen <notifications@github.com>
wrote:

Since we already have the feature, I guess this is a good trade-off.
I wouldn't add a feature with that design from scratch, though - it's too
limited in scope to deserve having such a complicated syntax.

 So, LGTM.

@munificent <https://github.com/munificent> @sigmundch

--
Lasse R.H. Nielsen - lrn@google.com
'Faith

[2018-05-09 22:04] csga5000 commented on #25685
I don't think it does, the "show fixes" menu doesn't include any sort of "suppress warning" option.

Tracking here: https://github.com/Dart-Code/Dart-Code/issues/890

[2018-05-09 22:30] matanlurey commented on #32960
I'm admittedly not _excited_, but this seems OK, with caveats that we still won't be able to support this syntax in Build Runner or Bazel as-is, at least not as specified. If that is OK, then LGTM. Otherwise we might want to reconsider the flag approach.

[2018-05-09 22:38] natebosch commented on #32960
Sort of... dart2js and the VM support it when you use them directly. The way most of our users (will) build with dart2js is build_runner and that doesn't support it. The way our internal users build for either dart2js or VM is bazel and that doesn't support it.

Given that running VM tests is going to become painfully slow in Dart 2 the build system is likely going to end up in the dev cycle for p

[2018-05-09 22:47] cpovirk opened #33090 "Dart spec forbids escapes in triple-quoted ("multiline") strings"
I'm looking [in the first edition ECMA spec](https://www.ecma-international.org/publications/files/ECMA-ST-ARCH/ECMA-408%201st%20edition%20June%202014.pdf#page=56) and [in the Dart 2 `.tex` spec](https://github.com/dart-lang/sdk/blob/779dc6eb85c1f2249803d017ffa785c85681ad1b/docs/language/dartLangSpec.tex#L3563).

Both define `stringContentTDQ` as:

[code]

That's in contrast to `stringContentDQ`,

[2018-05-09 22:48] leafpetersen commented on #32960
I don't really understand this.  Are you claiming that I can, with build_runner or bazel, do the following workflow:
  - build massive_app
  - run_vm massive_app // Doesn't rebuild
  - run_dart2js massive_app // Still doesn't rebuild

?

My understanding is not.  My understanding of the workflow is more like:
  - build_for_vm massive_app
  - build_for_dart2js massive_app

If the former is in fact

[2018-05-09 23:05] jmesserly commented on #31393
https://dart-review.googlesource.com/#/c/sdk/+/54529

[2018-05-09 23:17] rakudrama commented on #31408
Closing since DDC has its own metalanguage in the first position

[2018-05-09 23:17] #31408 closed

[2018-05-09 23:18] leafpetersen commented on #32960
I am *highly* skeptical that you can get what you want here, and am very concerned if we are trying to build our ecosystem around the assumption that we can.  A few implications of this:
  - kernel can do *essentially no constant evaluation* (numeric results depend on platform)
  - the SDK libraries must be written to guarantee that implementation types *never* leak, even through inference (since

[2018-05-09 23:33] dgrove commented on #28513
Any updates here @eernstg ?

[2018-05-09 23:35] dgrove commented on #32953
#32950 is fixed now, @grouma . Are you able to take another look?

[2018-05-09 23:36] dgrove commented on #32886
@a-siva I believe this should be pushed to Dart2Stable (we should be able to do it end of May, but not in time for the Beta4 milestone).

[2018-05-09 23:45] grouma commented on #33028
I had to reimage my machine today for unrelated reasons. I ran the test again and now it is passing. I still have the same SDK version:
Dart VM version: 2.0.0-dev.54.0 (Unknown timestamp) on "linux_x64"

@natebosch can you update your SDK and run the tests as well. I want to verify that it is truly fixed before closing the issue.

[2018-05-09 23:52] dgrove commented on #33028
Strange - I just tried this at tip of bleeding edge (Dart VM version: 2.0.0-edge.779dc6eb85c1f2249803d017ffa785c85681ad1b (Wed May 9 21:33:09 2018 +0000) on "linux_x64"
), and it's failing for me.

[2018-05-10 00:02] sigmundch commented on #32960
I share @leafpetersen concerns. Things may have changed, but I believe long ago we were planning to create a modular tool chain in bazel by keeping assets for each platform separate. In essence, we would:
* build modular kernel files per platform (web, vm)
* feed these modular inputs to the appropriate target (vm/dart2js)

More often than not, users have a code-flow mostly in one platform, so it's

[2018-05-10 00:06] matanlurey commented on #31410
Oh by the way, if we get invariant generics, I might not care about this anymore :)

[2018-05-10 00:07] natebosch commented on #32960
For performance reasons we'd like to share as much of the work as possible but it isn't strictly required. We'd be fine duplicating work _n_ times where _n_ is a fixed number of platforms that the build system knows about. I think what's important in that case from a build system perspective is:

- What is _n_
- Will we be able to hardcode knowledge of the variants in the build systems
- **Are we

[2018-05-10 00:09] #31393 closed

[2018-05-10 00:16] #32980 closed

[2018-05-10 01:37] leafpetersen commented on #32960
@natebosch Understood.

To jump up a level and give some context, there's a question of whether Dart should try to be a platform-independent language, or a cross-platform language.  I am fairly strongly of the opinion that it should be the latter.  We've tried very hard to pretend that we're the former, at the cost of trying desperately to pretend that dart2js is just "implementing Dart wrong" rat

[2018-05-10 03:07] dgrove commented on #31367
I am under the impression that this is unlikely. @terrylucas ?

[2018-05-10 03:09] dgrove commented on #30038
Any updates on this, @sigmundch ?

[2018-05-10 03:10] dgrove commented on #30384
Any updates on this, @kevmoo ?

[2018-05-10 03:11] dgrove commented on #30326
Is any work actually remaining here for Dart 2?

[2018-05-10 03:14] dgrove commented on #26841
I take it that this isn't happening, @lrhn and @leafpetersen ?

[2018-05-10 03:16] dgrove commented on #26732
@leafpetersen I presume this can be closed?

[2018-05-10 03:17] dgrove commented on #21368
Any updates, @lrhn?

[2018-05-10 03:34] #21965 closed

[2018-05-10 03:59] srawlins commented on #30326
I guess that's just a question for dart2js, according to the checkboxes.

[2018-05-10 04:33] zanderso commented on #33012
@jmesserly can you verify that https://github.com/dart-lang/sdk/commit/d87642df9cd3b74815105e0579d89e1cb877e434 fixes this as well?

[2018-05-10 06:49] DanTup commented on #25685
@bwilkerson Is IntelliJ doing this itself? I was just about to comment on the other issue asking if it makes sense in the server or should I try to do it in the editor?

[2018-05-10 08:01] zoechi commented on #25685
There are several errors/warnings where no suppression quick-fixes are offered. That's quite cumbersome because the error message also doesn't include the code.

https://stackoverflow.com/a/35969635/217408 contains links to Dart source with the codes

[2018-05-10 08:11] DanTup commented on #33033
Annotations are done at https://dart-review.googlesource.com/c/sdk/+/54580

I need some opinions on FoldingKinds to tidy them up though. My suggestion would maybe be to change the TOP_LEVEL_DECLARATION to CLASS and METHOD (though I'm not sure about METHOD vs FUNCTION?). Since things can be nested, I think grouping based on being top-level or nested might be a bit weird.

[2018-05-10 08:13] DanTup commented on #25685
In Dart Code we have an option (`dart.showLintNames`) that prefixes the names onto lints/hints (presumably you can't ignore warnings/errors?), but not sure if IntelliJ has the same.

[2018-05-10 08:14] zoechi commented on #25685
I'm not aware of such an option in IntelliJ, but it would be quite helpful.

[2018-05-10 09:12] devoncarew opened #33091 "strong mode issues with LibraryDependencyMirror.combinators getter"
A follow up to https://github.com/dart-lang/sdk/issues/32889, in:

[code]

At runtime I see this returning a `List<dynamic>`, not a `List<CombinatorMirror>`, which causes issues for client code when running in `--preview-dart-2`.

Clients are able to work around this issue since the call site itself doesn't fail, just the first use of the list.

@rmacnak-google

[2018-05-10 13:50] bwilkerson commented on #33033
If it's an opinion you want ... :-)

The first question is: what do clients want to use FoldingKind for?

Based on the image, I'm guessing that at least one use case is to enable or disable the use of certain kinds of regions. If that's the only use case, then we only need to consider what users are likely to want to fold. Again, based on the list from IntelliJ, it seems reasonable to assume that

[2018-05-10 14:00] bwilkerson commented on #25685
I'm not sure, but I'm not seeing anywhere where server is doing this, so it might be.

@scheglov @jwren

If so, is there a reason why this isn't being done in server? It certainly seems like it ought to be done there.

[2018-05-10 14:01] DanTup commented on #33033
The list you gave seems good to me. We do currently have a kind for (non-doc) Comments, do you think we should remove it?

I presume we're putting class methods in with functions?

Do you mean for us to collapse them all into one region? Currently I'm just collapsing the bit inside the parens:

[code]

How should we decide what's a "file header comment"? Should it be any comment that starts at off

[2018-05-10 14:02] DanTup commented on #25685
That was my thinking too. It's be great functionality for all clients to get for free :)

Ofc, if it is added, we need to ensure IntelliJ wouldn't show its own at the same time.

[2018-05-10 14:17] bwilkerson commented on #33033
Unless we're going to support folding of non-documentation comments, yes. I'd remove anything we're not currently using.

I would. I can't think why users would want to differentiate between different kinds of functions, but if you can think of a reason then we can split them out.

I can think of two possible reasons for wanting to fold annotations. The first is long annotations, which covers the

[2018-05-10 14:30] DanTup commented on #33033
We do currently have code for non-doc comments, but I don't know if it triggers (if each line of the comments if considered its own comment, probably not). I'll remove for now and we can revisit if required.

I think functions+methods together makes sense, I was just confirming in case some think it weird to put a method inside a category called functions.

Collapsing multiple annotations makes se

[2018-05-10 14:49] bwilkerson commented on #33033
Every end of line comment is a separate token, and there are only AST nodes created for documentation comments.

Yeah, I tend to think in terms of the language grammar, in which case methods, constructors, top-level and local functions all have a function body. (And I'm assuming we're folding the body and not the whole method / function declaration.)

[2018-05-10 14:57] DanTup commented on #33033
Aha, then it fits perfectly :-)

Yep! In the first cut I incorrectly included more than I should. The later pushes only included the bit you'd want to disappear when you collapse (eg. inside of the braces for a block).

[2018-05-10 15:17] jakemac53 commented on #32960
There is another which I have here concern here, which is that summary files today (and kernel files later) are already being used to generate _cross platform dart code_ (internally at least, but externally eventually).

Some existing examples include json serialization (package:json_serializable, package:dson, etc) and dependency injection (package:inject). In practice, I doubt either of these wo

[2018-05-10 15:25] dgrove commented on #32606
We should wait for dart2js to have strong mode fully working - that should
happen very soon.

On Thu, May 10, 2018 at 8:21 AM vsmenon <notifications@github.com> wrote:

[2018-05-10 15:30] vsmenon commented on #32606
Right.  Is there any work here beyond a green light from Dart2JS?  Do we get this for free once Dart2JS defaults to Dart 2?

[2018-05-10 15:36] jakemac53 commented on #32960
Actually, let me clarify - we cannot generate different dart files with the same URI.

After talking out loud about this a bit I did realize one potentially workable solution, which is that any Builder that knows it needs to generate platform specific dart code would opt specifically into doing that, and produce dart files with different file paths (`.<platform>.dart`?).

We could create a separat

[2018-05-10 15:51] dgrove commented on #32606
It will need to be pushed to the backend at that point.

On Thu, May 10, 2018 at 8:30 AM vsmenon <notifications@github.com> wrote:

[2018-05-10 15:52] vsmenon commented on #32630
Is this still an open issue?

[2018-05-10 15:53] leafpetersen commented on #32960
Really?  I thought essentially all tests were on DDC now?

In any case, is it really common that you want to run both interactively?  My question is not whether we ever need to run tests on VM and on DDC, it's why we need to *share a build*.

Let me go back to the root cause of my confusion.  There exist 32 bit and 64 bit builds of C++ code (and ARM builds, etc).  There surely exist tests for that

[2018-05-10 15:57] vsmenon commented on #23441
Is this really a Dart 2 blocker?  (@kevmoo - is it still an S1?)

[2018-05-10 15:58] vsmenon commented on #25397
@lrhn @leafpetersen - was this fixed with the recent lib changes?

[2018-05-10 15:59] pq commented on #25685
I know I implemented this in server a while back but maybe never landed it.  I think it was politics.  Anyway, I'm 100% in favor of adding it (back) in.

[2018-05-10 16:14] leafpetersen commented on #32960
There are essentially no Dart 1 tests internally, and other than flutter, no way to run Dart 2 tests with the VM, right?  Externally, there's essentially no way to run Dart 2 tests at all, I think.

Do C++ developers really have to do a different invocation for every platform they want to test on?  That seems unlikely to me.

[2018-05-10 16:20] jakemac53 commented on #32960
I don't know how c++ handles it specifically - but again I am not saying its not possible to support this with bazel. What I am saying is its not possible with the current Dart support for bazel because we can't generate two files at the same path.

There are multiple options for how it _could_ be supported in the future, but this isn't something that was on the radar previously so somebody would

[2018-05-10 16:36] leafpetersen commented on #32960
Fair enough.  I think I'm of the opinion we need to do this.

[2018-05-10 16:37] sigmundch commented on #32960
@jakemac53 - good point about generated source files. I wanted to note that C++ vs Dart may have different tools at hand: bazel has global configurations (flags passed to bazel itself) that can be used to choose the target architecture in C++ builds (e.g. cpu=k8). Those global configurations create a parallel build-tree in bazel itself and essentially let you generate sources and artifacts that co

[2018-05-10 16:45] leafpetersen commented on #32960
I really don't think that's compatible with this feature, and I'm not convinced it's even compatible with the our SDK.  As soon as a platform specific type leaks out of the SDK, all of your inferred types from then are potentially bogus.  If we're very very careful about where we allow patch files, maybe we can avoid this, I don't know.

[2018-05-10 16:46] leafpetersen commented on #32960
I again have to ask though, what's the motivation for wanting this?

[2018-05-10 16:49] devoncarew commented on #32478
landed

[2018-05-10 16:49] #32478 closed

[2018-05-10 16:53] bwilkerson commented on #32395
@leafpetersen Is this list complete? Is it up to date? Is everything on it still needed for stable? What priority should it have?

[2018-05-10 16:56] bwilkerson commented on #32913
@leafpetersen Is this still an issue that we need to address for Dart 2 Stable?

[2018-05-10 16:57] sigmundch commented on #32606
dart2js update: the last blocking feature has landed in master, woohoo! As soon as a new dev release is cut, we should be able to use it in dartpad. Dart 2.0 is still not on by default, so you'd need to pass `--preview-dart-2` to the compiler

[2018-05-10 16:59] sigmundch commented on #30038
This is already implemented.

[2018-05-10 16:59] #30038 closed

[2018-05-10 17:02] sigmundch commented on #32155
This was implemented in d3c3ac48a3e249ecef1fa01ff49b3356b95e5541

[2018-05-10 17:02] #32155 closed

[2018-05-10 17:04] leafpetersen commented on #32630
Seems to be fixed in the VM now.

[2018-05-10 17:04] #32630 closed

[2018-05-10 17:04] dgrove commented on #30968
@munificent @kwalrath is there any more to do on the docs/announce front? If not, let's close this.

[2018-05-10 17:06] leafpetersen commented on #33083
I went ahead and took the Dart2Stable milestone off, since I don't think this is a release blocker.

[2018-05-10 17:07] leafpetersen commented on #33082
I think we should have an analyzer task for this (and probably dartfmt, just to be sure).

[2018-05-10 17:07] sigmundch commented on #30326
dart2js is derived from the CFE in this case, so no action needed on our end. I just marked the checkbox.

[2018-05-10 17:08] leafpetersen commented on #23441
This has been specified, and implementation is tracking here:  https://github.com/dart-lang/sdk/issues/33082 .  Closing this out in favor of that bug.

[2018-05-10 17:08] #23441 closed

[2018-05-10 17:09] leafpetersen commented on #26732
No planned.

[2018-05-10 17:09] #26732 closed

[2018-05-10 17:10] #33073 closed

[2018-05-10 17:11] kwalrath commented on #30968
The language tour should cover asserts in initializers (and probably have more initializer coverage, in general). I've added this to dart-lang/site-www#507.

[2018-05-10 17:11] leafpetersen commented on #30326
I think that covers it.

[2018-05-10 17:11] #30326 closed

[2018-05-10 17:12] srawlins opened #33092 "Better error message for runtime cast failures."
Take the following code and error:

[code]

Users are sometimes confused by this error. @matanlurey suggested something like

[code]

[2018-05-10 17:13] leafpetersen commented on #30921
The formal spec bug is the only remaining issue, so closing this out.

[2018-05-10 17:15] bwilkerson commented on #33082
The analyzer work is ready to commit (https://dart-review.googlesource.com/c/sdk/+/54621) when someone tells me that it's appropriate to do so.

[2018-05-10 17:28] natebosch commented on #32960
One issue with this is that we _use_ the Dart vm during builds for the web. Bazel level platform selection applies to the entire build - we'd be unable to build a tool and then us it with the VM during the build (for the web) if we rely on full-tree level platform selection. @jakemac53 - do you know whether there is support for build tools using a different build tree than the project? I would thi

[2018-05-10 17:51] leafpetersen commented on #32960
But this *would* slow down builds, right?  As opposed to parallel builds where any other platforms are off the critical path, this puts generating `n` platforms on the critical path, even though you probably almost never care about `n-1` of them.

[2018-05-10 17:59] devoncarew commented on #32606
This will require some work on the backend; that can happen even before the latest dart2js version is available in the dev channel.

[2018-05-10 18:04] natebosch commented on #32960
Insofar as having more actions makes builds slower yes this would be an issue. I don't think that all platforms would run serially in the critical path, and we might be able to use aspects to only build the platforms that we need.

[2018-05-10 18:32] sigmundch opened #33093 "dart2js crash: omit bound checks when omitting implicit checks"
[code]

[2018-05-10 18:32] sigmundch commented on #33093
Oops - forgot to write text: the random piece of code above reproduces the problem.

@johnniwinther - can you take a look?

[2018-05-10 18:33] sigmundch commented on #33093
The crash happens only with --strong and --omit-implicit-checks

[2018-05-10 18:38] sigmundch commented on #33093
OK - seems that what's wrong here is that we are generating a check even with omit-implicit-checks.

Should we actually skip the check in that case?

In particular, if you tweak the code to force us to believe that the runtime type is needed, you can see that the generated code includes the assertion:
[code]

I've updated the title to match what I expect.

[2018-05-10 19:04] sigmundch commented on #33093
I took a stab at omitting the check when we pass `--omit-implict-checks` here: https://dart-review.googlesource.com/c/sdk/+/54627

However, that is not enough to prevent the crash.

[2018-05-10 19:38] leafpetersen commented on #31367
Terry and I discussed it a while back and I think the conclusion was that this one is staying (and probably should in the name of consistency with the JS names).    @terrylucas if I'm remembering wrong feel free to re-open.

[2018-05-10 19:38] #31367 closed

[2018-05-10 19:39] leafpetersen commented on #25397
This is fixed.

[2018-05-10 19:39] #25397 closed

[2018-05-10 20:19] leafpetersen commented on #26841
Certainly not for Dart 2.  @lrhn do you want to leave this open for a future release or close?

[2018-05-10 20:25] kevmoo commented on #30384
There was discussion in email about Fuscia needing/wanting packages directories still.

@zanderso @a-siva ??

[2018-05-10 20:26] leafpetersen commented on #29257
Has this been fixed?  @lrhn did you land the CL you mention above?

[2018-05-10 21:30] jwren commented on #25685
My understanding: politics prevented us from having error and warning suppression in the server.  Users wanted it so Alex put in the functionality into the Dart Plugin.

[2018-05-10 21:35] bwilkerson commented on #25685
We ought to be past that point, so we should be able to move the functionality into server.

[2018-05-10 21:55] #33006 closed

[2018-05-10 23:06] a-siva commented on #33074
This is not easily reproducible.

[2018-05-10 23:25] sigmundch commented on #32684
This should now be complete. We landed a change in dart2js that deletes support for dart:isolate. Together with that we did several fixes that make it possible to use the output of dart2js in a web worker.

I validated that this works locally and with @matanlurey `web_worker_channel` example.

[2018-05-10 23:25] #32684 closed

[2018-05-10 23:43] matanlurey opened #33094 "Confusing inference of `func<T>(Obj<T> a, T b)`"
Internal customer was confused, because the following:

[code]

... did not trigger an analysis/compiler error/warning.

When running this with `dart --preview-dart-2` (Dart VM version: 2.0.0-dev.52.0), I get:

[code]

The program fails (expectedly) if you write:

[code]

... but if you omit `<int>` at the function call, `T` seems to be filled in as `Object` instead :-/

[2018-05-10 23:44] matanlurey commented on #33094
(I did not try `--no-implicit-casts` or `--no-implicit-dynamic` in the analyzer)

[2018-05-10 23:45] tvolkert opened #33095 "CFE crash while trying to compile"
[code]

[2018-05-10 23:45] tvolkert commented on #33095
/cc @aam @dgrove for routing

[2018-05-10 23:46] tvolkert commented on #33095
This was against 779dc6eb85c1f2249803d017ffa785c85681ad1b

[2018-05-10 23:46] matanlurey commented on #33094
BTW, if I change `new Obj<int>` to `new Obj<void>`, we do get _2_ errors:

[code]

[2018-05-10 23:55] matanlurey commented on #33094
@hterkelsen brought up a particularly scary one:

[code]

In Dart 1, this prints: `[1, 2, 3, hello]`.

In Dart 2 (`dart --preview-dart-2`), this fails at runtime, but not compile-time:

[code]

(Though the error makes it _very_ tough for me to understand what happened)

[2018-05-10 23:58] matanlurey opened #33096 "VM: Flags after the filename are silently ignored"
Both @hterkelsen and I accidentally wrote this:

[code]

... this runs your code in Dart 1, but doesn't produce any errors/warnings about the skipped flag.

[2018-05-10 23:59] matanlurey commented on #33096
And I just realized that defeats the point of having a `main(List<String> args)`. Disregard :)

[2018-05-10 23:59] #33096 closed

[2018-05-11 00:09] matanlurey commented on #33094
As we discovered, we can (correctly) get a static error if we write, instead:

[code]

I imagine if we got invariant generics as an option, one could also write:

[code]

... right?

[2018-05-11 02:44] sigmundch commented on #33053
@rakudrama landed a fix in ef6e19a83a77135033b464d65a0f08075bc7bcee

[2018-05-11 02:44] #33053 closed

[2018-05-11 04:40] jumperchen opened #33097 "Finally clause won't be executed if throwing a future error inside a runZoned with onError handler"
* Dart SDK Version 1.24.3

For example,
[code]

If you run this code, you will see "start" and "onError", the message of "end" won't be shown.
Another issue is that, if we comment out `throw e;` inside the `onError` handler, the future error won't be completed forever, is that a bug?

[2018-05-11 06:07] jumperchen commented on #33097
dart version `2.0.0-dev.49.0` has the same issue.

[2018-05-11 14:52] aam commented on #33095
Are there steps to reproduce this?
I have run flutter gallery against that roll and it was compiling and working fine.

[2018-05-11 14:54] tvolkert commented on #33095
@aam try to build `//mobile/flutter/samples/production/app` inside Google.

[2018-05-11 15:30] Murtuzakabul commented on #25120
Is there a way in dart to override this default behavior. It is possible to pass the headers but they too are getting converted to lowercase.

[2018-05-11 15:38] vsmenon commented on #33031
@srawlins - are we still waiting on the flutter roll?

[2018-05-11 15:43] srawlins commented on #33031
Yeah https://github.com/flutter/flutter/pull/17487

[2018-05-11 15:50] vsmenon commented on #33092
DDC now gives the error (as of @jmesserly 's recent change):

[code]

Is that clearer?  Filing this on VM as that's used in the example, but we should aim for some consistency.

[2018-05-11 15:53] srawlins commented on #33092
Ooh wow. I like that.

[2018-05-11 15:55] vsmenon commented on #33097
@lrhn

[2018-05-11 16:08] alexmarkov commented on #33095
This looks related to constant evaluation.

/cc @mkustermann

[2018-05-11 16:12] bwilkerson commented on #32607
@scheglov We might want to set a priority on this issue (assuming it hasn't yet been fixed)

[2018-05-11 16:12] bwilkerson commented on #32607
@scheglov We might want to set a priority on this issue (assuming it hasn't yet been fixed)

[2018-05-11 16:13] aam commented on #33095
039e8a1755080c2cbf9ae96fca0063561e3ed72a seems to be the culprit.

[2018-05-11 16:32] aam commented on #33095
The culprit cl reverts cleanly and with it the test builds fine.

[2018-05-11 16:51] dgrove commented on #33028
This is working fine at tip for me. Closing.

I'm using Dart VM version: 2.0.0-edge.57dee60d4d1ef66de7494636d9c93418eb7201f0 (Fri May 11 00:03:35 2018 +0000) on "linux_x64"

[2018-05-11 16:51] #33028 closed

[2018-05-11 17:28] dgrove commented on #33095
@aam can you go ahead and revert this now?

[2018-05-11 17:29] aam commented on #33095
The revert is being landed here: https://dart-review.googlesource.com/c/sdk/+/54720

[2018-05-11 17:29] rmacnak-google opened #33098 "Kernel does not provide correct library dependencies (import, export, show, hide)"
mirrors/library_exports_hidden_test: RuntimeError
mirrors/library_exports_shown_test: RuntimeError
mirrors/library_import_deferred_loading_test: RuntimeError
mirrors/library_imports_deferred_test: RuntimeError
mirrors/library_imports_hidden_test: RuntimeError
mirrors/library_imports_metadata_test: RuntimeError
mirrors/library_imports_prefixed_show_hide_test: RuntimeError
mirrors/library_imports_pr

[2018-05-11 17:35] #32879 closed

[2018-05-11 17:40] matanlurey commented on #33097
This is a feature, not a bug. I believe @natebosch and @jakemac53 know it well.

Here is an [example of the code necessary](https://github.com/dart-lang/build/blob/d8bbfbbd48cd5f626725ddfb1352f066811fde3d/build/lib/src/builder/logging.dart#L20-L37) to always complete a `runZoned`:

[code]

[2018-05-11 17:45] #33061 closed

[2018-05-11 17:47] leafpetersen commented on #33094
Yeah, this is WAI.  I don't think the Dart 2 migration would have been possible if we had been much stricter, but I certainly agree that inference is currently more forgiving than I like.  I would like to provide a way to opt into stricter inference, but I think it requires some careful design.  The property of inference that allows the examples above to infer `Object` is the same property that al

[2018-05-11 17:50] scheglov opened #33099 "Annotations are not inherited from mixins with --preview-dart-2"
This code prints `true` without `--preview-dart-2` and prints `false` with it.
@bwilkerson

[code]

[2018-05-11 17:52] kostaa commented on #32922
Well `import` with or without the `package` keyword - it doesn't work either way for me.

[2018-05-11 19:17] dgrove commented on #33095
Dropping the P0 and milestone now that this has reverted cleanly.

[2018-05-11 19:54] leafpetersen commented on #30897
This popped up again fixing internal code with a slightly different repro:

[code]

I suspect that the unnecessary cast code might be using Dart 1 subtyping.

cc @vsmenon @bwilkerson

[2018-05-11 20:57] srawlins opened #33100 "Self-referential type annotation crashes Dart 2 when run through the test runner"
### The error

The following code:

[code]

when run in Dart 2 mode on the VM, _only through the test runner_, results in this error:

[code]

### Reproduction steps

This was very tricky to reproduce, which... maybe will help in identifying the issue? OK steps to reproduce:

1. Use Dart 2.0.0-dev.52.0, maybe latest too.
2. Make a package that depends on the **test** package, and the latest **anal

[2018-05-11 21:02] natebosch commented on #33100
The most likely reason for package:test playing a role is the way it uses Isolates.

[2018-05-11 21:10] lrhn commented on #33090
Definitely a spec issue, not an implementation issue.
A non-raw multiline string should accept escapes (otherwise you wouldn't need raw multiline strings).

[2018-05-11 21:30] jmesserly commented on #33092
DDC's implementation basically uses (part of) generic type inference at runtime. Inference code was ported from CFE, a slimmed down version. CL was https://dart-review.googlesource.com/c/sdk/+/54101, errors.dart (_castErrorMessage) and types.dart (_TypeInferrer) are the most interesting bits in that CL.

[2018-05-11 21:43] leafpetersen opened #33101 "Missing CFE error: super calls must be last"
In Dart 2, super calls must appear last in the initializer list.  The CFE is missing this error (see repro below).

@lrhn @eernstg Do we need to update the spec for this?

cc @munificent

[code]

[2018-05-11 21:51] leafpetersen opened #33102 "Specify toplevel inference"
From discussion in another bug, here is a sketch of how top level inference should work.  We need to turn this into an informal, and then formal, specification.

- Mark every top level, static or instance declaration(fields, setters, getters, constructors, methods) with an explicit type as *available*.
- For each declaration `D` which is not *available*
  - If `D` is a method, setter, or getter de

[2018-05-11 21:54] keertip commented on #33100
CC @a-siva

[2018-05-11 22:01] jmesserly commented on #33012
yes this is fixed

[2018-05-11 22:01] #33012 closed

[2018-05-11 22:07] sigmundch commented on #32866
Just wanted to raise attention to this again - I've seen this come up in a couple more scenarios in customer apps.

[2018-05-11 22:08] zanderso commented on #33012
Thanks!

[2018-05-11 22:26] munificent commented on #30968
Yeah, aside from what Kathy said, I don't see any need to trumpet this feature from the heavens. It's pretty minor.

[2018-05-11 22:26] #30968 closed

[2018-05-11 22:33] srawlins commented on #33031
Landed in flutter. nSM Forwarding is cool to land in the SDK.

[2018-05-11 22:35] vsmenon commented on #33031
Thanks, Sam!

@sjindel-google and @jmesserly - can you please land your impl CLs?

[2018-05-11 22:52] aam commented on #33087
@sjindel-google can you confirm if there is a way to bootstrap expression-evaluation-friendly incremental compiler from the dill file in absence of dart sources used to build that dill file?

`IncrementalCompiler` has an option to bootstrap from dill file: https://github.com/dart-lang/sdk/blob/master/pkg/front_end/lib/src/fasta/incremental_compiler.dart#L81, but such compiler seems to be unusable

[2018-05-11 23:19] jmesserly commented on #33031
yeah I tried it failed for a status issue (it needs test fixes from @sjindel-google 's CL). Trying CQ again w/ that test temporarily marked failing in DDC (we can mark passing once CFE CL lands).

[2018-05-11 23:41] #33091 closed

[2018-05-11 23:52] vsmenon commented on #32114
It looks like we're still hitting this.  I'm seeing it internally in the presence of summaries and exports.  If I compile the below file by file (i.e., 3 build steps), I get:

[code]

Since's `Func`'s bound is `O`, `B.func` should not be `() → (dynamic) → dynamic`.

override3.dart:
[code]

override2.dart:
[code]

override.dart:
[code]

[2018-05-11 23:54] vsmenon commented on #32114
@bwilkerson @scheglov - i'm hitting this internally while fixing runtime type errors in user code.

[2018-05-12 00:33] leafpetersen commented on #32913
@bwilkerson  It would be good to fix this.

[2018-05-12 00:39] leafpetersen commented on #32395
@bwilkerson @devoncarew I just did a quick triage pass on open issues looking for 2.0 type system issues and added bullets above in approximate priority order.  I'll do some more triage next week.  I wouldn't say any of these are strictly blockers, but the top few at least would be good to fix before 2.0.

[2018-05-12 02:09] jmesserly opened #33103 "dartdevk should use Kernel noSuchMethod mock stubs"
After https://dart-review.googlesource.com/c/sdk/+/54340, dartdevc and dartdevk are no longer in sync. We need to remove the stub code from DDK and just emit the Kernel stubs. This will bring dartdevk in line with other CFE back ends.

[2018-05-12 03:03] Ing-Brayan-Martinez opened #33104 "Please consider for a version 3.0"
Greetings to the development team of the language dart, I am someone from Latin America, I do not speak English, but I apollo in Google translator and been helping in the promotion of this language to Latin America through this group of Facebook https: / /www.facebook.com/groups/289161104784956/?ref=bookmarks, the reason for this is to find a way to contribute to the improvement of the language th

[2018-05-12 05:31] Murtuzakabul commented on #25120
I am having the same issue with kestrel web server. Discussed the same with kestrel team but not sure what does not adhere to standard. However, I would really appreciate if dart does not try to convert the headers passed by the user. Let the developer decide if she wants to have the headers in lowercase or uppercase.

Also, I suggest, if any header is explicitly provided, it should override the s

[2018-05-12 06:55] guediagael opened #33105 "Can't call a non inherited method or variable"
I'm trying but it seems like it is not possible to call a variable from a descendant class if it is not declared in the parent.
Example;
`abstract class A {
  int a;
  int b;
  }
class B implement A{
 int a;
 int b;
 int c}`
If I do
`A a = new A();
 B b = a;`  if won't be able to call the varable c

[2018-05-12 09:43] zoechi commented on #25120
@Murtuzakabul don't expect this to be changed in Dart.
If the kestrel server depends on casing of headers it's a bug. The HTTP specs explicitly state that headers need to be treated case-insensitive.

[2018-05-12 11:04] Murtuzakabul commented on #25120
@zoechi I did some research and it turned out that the lower casing is not the problem. The problem is content-length header.  If I remove the content-length header, kestrel would happily accept the request.

This comes to a general question, is there any way to suppress a header (as there is already a way to add additional headers) in Dart ?

It is quite clear that content-length header is not re

[2018-05-12 11:07] zoechi commented on #25120
@Murtuzakabul I think you should create a new issue for that. This one is long closed.

[2018-05-12 11:57] Murtuzakabul commented on #25120
@zoechi Okay, going to create a new one

[2018-05-12 14:54] bwilkerson commented on #30897
https://dart-review.googlesource.com/c/sdk/+/54715

[2018-05-12 14:54] #30897 closed

[2018-05-12 15:46] #33019 closed

[2018-05-12 16:26] stevenroose commented on #30921
Should this also work for factory constructors? I'm getting
[code]
when calling `BigInt.from(5)`, f.e.

`BigInt.from` is an `external factory` constructor.

[2018-05-13 00:34] jmesserly commented on #33019
Note this did not fix `dartdevk` ... that's covered by https://github.com/dart-lang/sdk/issues/33103

[2018-05-13 04:51] malkia opened #33107 "Automatically created issue by Android Studio"
[report.txt](https://github.com/dart-lang/sdk/files/1998108/report.txt)
Analyzer Feedback from IntelliJ

# Version information

- `IDEA AI-173.4720617`
- `2.0.0-edge.c080951d45e79cd25df98036c4be835b284a269c`
- `AI-173.4720617, JRE 1.8.0_152-release-1024-b02x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 2160x1440`

# Exception

Please append the contents of:
file://C:\Users\malki\AppData

[2018-05-13 06:13] nilsdoehring commented on #31367
@lrhn Please excuse a more general remark here, as I wasn't able to find another place where this is being discussed.

Even when considering the remarks in the [docs](https://www.dartlang.org/guides/language/effective-dart/style#prefer-using-lowercamelcase-for-constant-names), I still think moving from SCREAMING_CAPS to lowerCamelCase is a bad design decision. The former allows for easy identifica

[2018-05-13 09:54] lrhn commented on #33104
I'll try summarizing the requests here:

* Add public/private/protected access controls. Dart currently only has library privacy (selected by starting the name with an underscore), not class based privacy. In most situations this is sufficient, and some would say preferable, to class based privacy (that's obviously a matter of both taste and habit), but there is nothing in Dart that corresponds to

[2018-05-13 11:09] zoechi commented on #31367
Isn't Dart about dropping such stuff that doesn't really carry its weight anymore?

I'd say `var json` is the actual problem here. That's a poor name for the variable.
It's similar with `pi`. `pi` for the constant looks only bad if the rest of the code is poor quality like in code from

[2018-05-13 17:27] nilsdoehring commented on #31367
Didn't mean to start an argument, sorry if I sounded like that. As with most things in life, it depends on the point of view. I fully understand where you're coming from.

Where I'm coming from (digital advertising), we had a lot of freelancers coming in to create rich media experiences in no-time, and with frontend code to be thrown away after some weeks of airtime. We couldn't care less about po

[2018-05-13 17:50] zoechi commented on #31367
As mentioned there was quite some discussions about this and many argued for screaming caps but the Dart team decided long ago after consideration of all arguments against using screaming caps.
The recent changes were only to make older code follow the established style guides.

[2018-05-13 18:44] eernstg commented on #28513
Leaf tried out two models: One which is as described in [the CL](https://dart-review.googlesource.com/c/sdk/+/53211), and another one which came up as a less breaking alternative (because the first one was frowning at a rather large number of locations). The latter one may be summarized as `Object < dynamic < void`, and it seems to be only very slightly breaking, so I'd expect that one to be the p

[2018-05-13 18:45] danrubel commented on #31155
It appears that the DietListener uses `skipExpression` to skip field initializers but is calling `parseFields` and indirectly `parseExpression` which is causing the problem. I recommend refactoring  the DietListener to call `parseFieldInitializerOpt` for each field initializer rather than calling `parseFields` to parse the fields. Doing so should alleviate the problem.

[2018-05-13 19:04] lrhn commented on #28513
It's fine with me. We can use that ordering in other cases where we have to distinguish `Object` and `dynamic` (like override rules).
I think it will even extend cleanly to `FutureOr<Object> < FutureOr<dynamic> < FutureOr<void> < Object`, etc.

[2018-05-13 19:04] trK54Ylmz opened #33108 "Support unicode property in RegExp"
Is there any plans to add unicode properties support on `RegExp`,

For instance,
[code]

Reference;
https://github.com/tc39/proposal-regexp-unicode-property-escapes

## Version

`Dart 2.0.0-dev.54.0.flutter-46ab040e58`

[2018-05-13 20:11] lrhn commented on #33108
The functionality is in the JS Irregexp engine, so it should be trivial to support it when compiling to JavaScript.
Not sure how much it will cost to migrate that functionality to the VM.

It's not on the immediate horizon, but it's something that would be nice to do, if possible.

[2018-05-13 21:31] Ing-Brayan-Martinez commented on #33104
If you approach what I am requesting, as it has helped me to better understand how the language works internally I can define the requests in the following way:

1. The idea of ​​including modifiers at the class level is able to make a better encasulacion of class properties, and avoid madificacion internal data with external agents, if I want to write a class that follow the pattern DTO or Comman

[2018-05-13 22:56] trK54Ylmz commented on #33108
Probably this is not the right way but, I use https://gist.github.com/trK54Ylmz/f1ba9026412dc90e5f8bc1d4f541f1a5

seen from,
https://difnet.com.br/opensource/unicode_hack.js

[2018-05-14 03:31] keertip commented on #33031
@jmesserly , see quite a few test failures in DDC internally after your [commit](https://github.com/dart-lang/sdk/commit/7359d4ee10302827ebcab1ca390563b110d74427), testing at commit `4b239de`, previous tested at `4a323f8`.

`
Invalid argument(s): A typed argument was passed in as a named argument named "Symbol("cancelOnError")", but did not pass a value for `named`. Each typed argument that is pas

[2018-05-14 03:51] jumperchen commented on #33097
ok, if that's a feature, is there any document to mention such case that we should handle the complete code by ourself even if use the syntax sugar of `async`?

So the original issue of "Finally clause won't be executed" is a feature as well?

[2018-05-14 05:06] srawlins commented on #33031
@keertip Yes we need to update mockito to fix those.

[2018-05-14 08:28] jensjoha opened #33109 "pkg/vm TFA can cause crash when serializing dill"
Test that currently fails uploaded at https://dart-review.googlesource.com/c/sdk/+/54821.

Basically, it decides that the type parameters aren't needed, but then they're still used meaning that when we try to serialize it, we get a null reference.

[2018-05-14 09:31] lrhn commented on #33104
For the examples here, Dart is a different language than, say Java, and it has chosen different designs for some things.

Dart *does* have privacy, and it has getter and setter members as well, so there is never any reason to write code like:

In Dart, you should just write:
[code]
There is no *functional* difference between this and the code you wrote, you can still change the first name. Whether

[2018-05-14 09:40] askeksa-google opened #33110 "Fasta accepts type parameters on constructors"
[code]
Tested by `language_2/constructor_type_parameter_test`.

[2018-05-14 09:42] askeksa-google commented on #33110
In debug mode, the example hits an assert in the serializer:
[code]

[2018-05-14 10:06] tomyeh commented on #33097
@matanlurey If it is spec, are you telling us the `finally` clause won't be guaranteed to run? Then, does it mean we shall never use try/finally with await?

[code]

I know it is caused by a new error zone, but how do we know it? Dig in every library we ever use? Or, it is the library's job if it starts an error zone? If so, can compiler help to pick up the problem?

[2018-05-14 10:32] lrhn commented on #33097
Yes, the finally block is not guaranteed to run.
The finally block will run *when* the future returned by `foo()` completes. That may never happen, and the program can end before it does.

It's an implementation detail whether your program hangs or it terminates at that point, when it knows that no further progress will ever be made. The VM terminates when no code is running, all event loops, time

[2018-05-14 12:02] lrhn commented on #30921
It should work for all constructors. How are you running the code?

[2018-05-14 12:19] sjindel-google commented on #33087
The test script creates two separate `IncrementalCompiler`s for each test. The second one is only given the `.dill` file and is able to compile the expression from that. So I don't see how it relies on the presence of the sources? Perhaps they are available through the memory filesystem shared by both compilers, but that is often the case for `kernel-service` as well.

Can you provide a way to rep

[2018-05-14 12:27] stevenroose commented on #30921
@lrhn I have Dart v2 installed at `/opt/dart-v2` and I run `/opt/dart-v2/bin/pub run test`.

I could be that `pub test` runs the `dart` executable in `PATH` instead of the one in the same directory.. Can I pass to pub which Dart executable to use?

[2018-05-14 12:41] vsmenon commented on #33031
@sjindel-google - yes, please.  :-)

[2018-05-14 12:48] zoechi commented on #30921
@stevenroose perhaps https://github.com/dart-lang/pub/issues/1807

[2018-05-14 12:52] vsmenon commented on #33104
@Ing-Brayan-Martinez - closing this as it's difficult to manage / triage such a broad request.  Please feel free to file more specific requests (along the lines of the 2nd / 3rd comment breakdown) and reference the discussion here.  You may also find existing bugs on some of those.  Thanks!

[2018-05-14 12:52] #33104 closed

[2018-05-14 12:54] vsmenon commented on #33107
Dup of #33106 (@devoncarew - looks like a couple folks hit this very recently).

[2018-05-14 12:54] #33107 closed

[2018-05-14 12:56] manhluong commented on #33055
Hi @anders-sandholm and @a-siva , I have created a PR for this issue: https://dart-review.googlesource.com/c/sdk/+/54904

Thanks!

[2018-05-14 14:29] jonahwilliams opened #33111 "Segfault in ScavengePointer"
occurred on flutter mac chromebot - [Logs](https://build.chromium.org/p/client.flutter/builders/Mac/builds/5937/steps/steps/logs/stdio).  The test in question is [here](https://github.com/flutter/flutter/blob/master/packages/flutter_tools/test/commands/packages_test.dart#L171)

[code]
Flutter engine revision: https://github.com/flutter/engine/commit/06afdfe54ebef9168a90ca00a6721c2d36e6aafa
Dart VM

[2018-05-14 14:35] DanTup commented on #33033
Any opinions on the range we should return for collapsing multiple annontations? Normally we collapse the bit between braces/parents, for example:

[code]

This means if the editor was to replace the region with `...` it'd look good (sadly that's not how Code works, but I think it's logical to return the data that way).

I'm not sure where we should start/end the region for multiple lines of annot

[2018-05-14 15:01] bwilkerson commented on #33033
What do we do for directives? This seems fairly analogous.

I'm not sure. That might depend on how we answer the question above.

I don't think it would be good if we have both kinds and the visual presentation is the same under some circumstances. My initial guess is that we only want one kind of fold, so folding multiple annotations would replace the existing folds.

If we _do_ keep both, then I

[2018-05-14 15:02] chalin opened #33112 "By default, dartanalyzer should ignore files under .dart_tool"
AFAIR, I used to be able to run the dartanalyzer over all of a project's folder by running:

    dartanalyzer .

and the analyzer would ignore the files under `.pub`.

Ever since we've moved to `.dart_tool`, I can't use `.` as a directory specifier anymore since the analyzer seems to go through the files in `.dart_tool` too.

cc @kevmoo @kwalrath

[2018-05-14 15:06] chalin commented on #33112
Maybe ignoring the content of `build` would be a good idea too.

[2018-05-14 15:07] DanTup commented on #33033
Currently we collapse after the first `import` keyword, so for:

[code]

You'd get:

[code]

I think this feels most sensible to me. Although we nest inside methods it seems like that's more useful (you might want to collapse a nested method while looking at the containing method) it doesn't seem so useful for annotations (collapse one while looking at others).

So for now, I'll replace the old be

[2018-05-14 15:09] chalin commented on #33112
Hmm, I'm unsure if it is `.dart_tool` or `build` that is the problem. My point is that I can't seem to run `dartanalyzer .` from project roots anymore. I'd like to be able to run this command again, since I'm using the same command over all Angular example apps, and not all of the them have the same `lib`, `web` and `test` folders present.

[2018-05-14 15:16] bwilkerson commented on #33033
Not as helpful as I'd hoped :-). If we followed that pattern we'd get `@...`, but I think that would be hard to read. Probably after the name of the first annotation, as you suggested, is best.

[2018-05-14 15:16] a-siva commented on #33111
We have seen this a couple of times, let me see if we can set up a loop of packages_test.dart and see if it is possible to get a crash with a coredump.

[2018-05-14 15:18] a-siva commented on #33055
Thanks for the PR @manhluong, will have @zanderso review it and merge.

[2018-05-14 15:30] DanTup commented on #33033
Yeah, it's unfortunate that for imports showing the first keyword is less specific than annotations. We could always tweak the directives code to come before the first semi-colon if you want it to feel a bit more consistent; that way it'd look like:

[code]

I'm not sure if it's any more correct, but maybe feels a little more consistent. LMK if you'd like me to change.

[2018-05-14 15:37] leafpetersen opened #33113 "Make `mixin` and `interface` a builtin identifier or reserved word"
We should reserve these now for future compatibility (i.e. with the upcoming mixin feature).

Is builtin identifier enough, or do we need this to be a reserve word?

cc @lrhn @eernstg

Update: Make them builtin identifiers.
- [ ] Analyzer issue: https://github.com/dart-lang/sdk/issues/33131
- [ ] Front end issue: https://github.com/dart-lang/sdk/issues/33132
- [x] Spec issue: https://github.com/da

[2018-05-14 15:38] bwilkerson commented on #33033
I don't think we want to change the directives behavior. There's a much bigger chance of a URI being long enough to require a line break between the `import` and the URI than there is for there being a line break between the `@` and the annotation name. And I think we want a fold to start on the same line as the construct being folded.

[2018-05-14 15:48] zanderso opened #33114 "Memory allocated for i2d_x509 is leaked on Mac OS"
Here: https://github.com/dart-lang/sdk/blob/master/runtime/bin/security_context_macos.cc#L62

The result of `i2d_x509` returned in the out parameter `deb_cert` must be deallocated with `OPENSSL_free`.

[2018-05-14 15:53] zanderso opened #33115 "Add a `data` getter to X509Certificate"
Add a `data` getter to X509Certificate that returns the DER encoded bytes of the certificate from `i2d_X509()` as an UnmodifiableUint8List.

This is to enable SSL pinning.

/cc @mit-mit @a-siva

[2018-05-14 16:02] mit-mit commented on #33115
Related Flutter bug: https://github.com/flutter/flutter/issues/16066

[2018-05-14 16:48] bwilkerson opened #33116 "The CQ analyzer bot should test for hint violations"
It appears that the analyzer bot used in the commit queue does not catch issues related to hint and lint violations (see https://ci.chromium.org/p/dart/builders/luci.dart.ci.sandbox/analyzer-analysis-server-linux/156 as an example). This can allow a CL to be committed that will then cause some of the other bots to fail. While the CQ bot can't reasonably test everything, this seems like a reasonabl

[2018-05-14 17:05] a-siva commented on #32870
This is on by default now.

[2018-05-14 17:05] #32870 closed

[2018-05-14 18:13] avilladsen commented on #33079
I also was initially put off by the lack of ADTs in Dart. But while there isn't language-level support, ADTs can be decently represented in Dart. For example, here's how I would translate your Kotlin example into Dart:
[code]
And for the `when` statement:
[code]

Does this satisfy your request for ADTs? I've been using this pattern myself for a while, and at this point I don't think that Dart need

[2018-05-14 18:25] matanlurey commented on #32960
@natebosch @jakemac53 Can we update this thread with the current status? I see we have some (lofty) bugs/features assigned, does that mean we are taking this up? What's the plan here?

[2018-05-14 19:08] natebosch commented on #32960
Current status from the build system side:

We're assuming we will need to be able to handle specialized kernel per-platform and we're starting work on those designs and scoping out the work. This assumption is looking likely.

We're tentatively assuming we will need to support config specific imports and we're also scoping out the work for that.

We are worried that our current strategy for alway

[2018-05-14 19:13] aam commented on #33087
Following patch adds a test on top of the https://dart-review.googlesource.com/c/sdk/+/54407 that you can run with `python tools/test.py -mrelease -cnone -rvm --checked pkg/vm/test/incremental_compiler_test `:

[code]

It passes with `sourceFile.deleteSync();` commented out. Once I uncomment it, I was not able to
make it pass. The closest I got was with following second compilation:
[code]
but thi

[2018-05-14 20:07] #33048 closed

[2018-05-14 20:19] ZakTaccardi commented on #33079
I'm looking for language level support, unfortunately. A modern programming language should make it easy to represent ADTs.

[2018-05-14 20:28] jcollins-g commented on #32901
The returning null on Windows is still a blocking bug for Dartdoc under Dart 2.0.

[2018-05-14 20:35] avilladsen commented on #33079
Can you be specific about what you're looking for in language-level support that is not currently possible in Dart? Is it the more concise syntax for declaring ADTs? The static checking of `when`-style statements?

[2018-05-14 20:36] leafpetersen commented on #31367
Note that we added the [jsonDecode](https://api.dartlang.org/dev/2.0.0-dev.55.0/dart-convert/jsonDecode.html) helper to help with this scenario.

[2018-05-14 20:58] keertip commented on #32607
@a-siva, we are seeing this internally too.

[2018-05-14 21:26] Rodsevich opened #33117 "Wrong diagnostic of infos (missing_return)"
![image](https://user-images.githubusercontent.com/1907844/40024159-caba2e94-57a3-11e8-920a-09d051c94a62.png)
[code]

Seems the analyzer doesn't handle well that infos (those return statements ends up with true or false values)

[2018-05-14 21:37] vsmenon commented on #33112
@bwilkerson - fyi.  Does analyzer have a list of directories that it ignores?

[2018-05-14 21:40] bwilkerson commented on #33112
Yes, it should. I thought we had made it ignore hidden files and directories, though, so I'm not sure what's going on here. It's quite likely, at this point, that the behavior is inconsistent depending on which too is being used and how it's being used.

[2018-05-14 21:42] matanlurey opened #33118 "VM does not support deferred libraries in Dart2"
I ran into this while debugging test failures internally that expect this functionality.

Here is a simple reproduction case:

[code]

[code]

-----

I realize there might not be a convincing reason to "really" support deferred loading in the command-line VM in Dart 2 (since it isn't really supportable in Flutter, and I don't think anyone else downloads Dart over the network i.e. Dartium-style).

[2018-05-14 21:46] matanlurey commented on #33118
... it turns out this code (and test) is unused, so I can safely delete it. **This is NOT a P1**.

We should clarify whether or not deferred loading is supported though, and hopefully fail better.

[2018-05-14 21:48] chalin commented on #33112
Does it include `build`? (Where is this list?)

[2018-05-14 21:49] matanlurey commented on #33112
The folder `build` means nothing in PBR, you can call it whatever you want with `-o chalin`.

[2018-05-14 21:55] chalin commented on #33112
Right, I understand that; as I mentioned earlier, my point was that we previously didn't have to do anything special to have hidden directories or `build` ignored. If there is a break in behavior, maybe it should at least be mentioned in the SDK changelog -- along with a suggestion on how to get equivalent behavior.

In the meantime, I've added the following line to all example app `analysis_optio

[2018-05-14 21:57] keertip commented on #33118
/cc @a-siva , could you clarify?

[2018-05-14 22:03] bwilkerson commented on #33112
Unfortunately, it's procedurally encoded and not all in one place. One of the places is sdk/pkg/analyzer_cli/lib/src/driver.dart:590.

[2018-05-14 22:08] kevmoo commented on #32188
Pending CL - https://dart-review.googlesource.com/c/sdk/+/54743

[2018-05-14 22:11] matanlurey opened #33119 "Would like a way to avoid raw generic types"
_Tangentially related to https://github.com/dart-lang/sdk/issues/31410._

While migrating swaths of internal code (probably in the tens-of-thousands-of-lines, _myself_), one of the most common errors users are running into when migrating to Dart2 are so-called ~~"naked"~~ raw types ~~(is there a better name?)~~. For example:

[code]

[code]

Here is a more extreme example:

[code]

-----

My 🔥 tak

[2018-05-14 22:15] dgrove commented on #33074
Does this still rate as a P1?

[2018-05-14 22:33] munificent commented on #33119
Java calls them "raw types", which I hear on the Dart team sometimes.

I agree, it should be a compile error. We need to be clear about the several different places a raw type (or a thing that looks like a raw type) can appear. Here's the behavior I'd like:

[code]

[2018-05-14 22:34] vsmenon commented on #33100
@a-siva - tentatively assigning to VM per suggestion this is an isolate issue.

[2018-05-14 22:56] MichaelRFairhurst commented on #32978
Hmm, looking at this ticket again, I think it could use a better explanation of the fallout from picking Null.

For instance, if we take:

[code]

then having a "no-implicit-null" is a matter of getting better error localization. Currently you'll get an error on line 3 about some type not being assignable to null, and that gets to @jonahwilliams's point about Null being a fairly unintuitive type.

[2018-05-14 22:57] matanlurey commented on #32978
@MichaelRFairhurst I think https://github.com/dart-lang/sdk/issues/33119 is the actual problem here

[2018-05-14 22:59] matanlurey commented on #33119
@munificent Thanks. I updated my post/title to use the nomenclature "raw".

I also like `--strict-raw-types` more, so 👍

[2018-05-14 23:08] #33109 closed

[2018-05-14 23:11] #29451 closed

[2018-05-14 23:18] jmesserly commented on #33119
RE:
[code]
If someone writes that, they can only use `x` as a `List<dynamic>`, so why would you need a more precise list type to be reified? If it's because of an implicit cast later on, that suggests the problem is really with implicit casts.

The rationale for preferring downwards inference type was cases like this:
[code]
At the time most people wanted that to pick `<Object>` rather than `<int>

[2018-05-14 23:38] nilsdoehring commented on #31367
@leafpetersen Thanks! Maybe the [dart2_fix](https://github.com/dart-lang/dart2_fix) tool should use it when replacing references to `JSON.decode`. Will file an enhancement request.

@zoechi look what I found in dart2_fix's [code](https://github.com/dart-lang/dart2_fix/blob/50fffaecb86348e48d9bb727300f91db63f17977/lib/src/dart_fix.dart#L211):
`Map json = jsonDecode(jsonData);` ;-)

[2018-05-14 23:45] matanlurey commented on #33119
@jmesserly:

That might "fix" the problem, in that, the user will know they are likely making a mistake, but I don't see _any_ reason to treat `List` (raw) as `List<dynamic>`. It's just doesn't work in Dart2 almost at all, so it seems like a bug not a feature.

I think `--strict-raw-types` should either change the semantics or raw types, or ban them.

An explicit `List<dynamic>` or `List<Object>`

[2018-05-14 23:56] jmesserly commented on #33119
yeah that's a good question ... IDK either. Hopefully it's on their radar. :)

At least technically speaking, it's not hard to add a flag to Analyzer/CFE for this sort of thing, if we want to experiment.

[2018-05-15 00:04] matanlurey opened #33120 "Dart2+VM+Const+Generics = Confusing crash"
While helping teams internally migrate VM tests to Dart2, I hit the following:

`"Error evaluating constant constructor"`

These really hurt, because they are actually missing parts of the stack trace, making it extra hard to figure out offending lines. It took me over an hour to debug this, and I've been doing Dart2 migrations for over a year. Unfortunately I'm _not_ able to reproduce externally.

[2018-05-15 00:08] a-siva commented on #33118
Currently the front end loads all libraries eagerly and hence the first check does not throw. It is not clear if there are plans for the front end to support deferred libraries, maybe @kmillikin could comment on that.
I agree that the front end should produce a better error message and fail without executing any of the code if we choose to not support deferred libraries.

[2018-05-15 00:09] matanlurey commented on #33118
Another option is what DDC does, which is eagerly load everything, but prevent access to the deferred library until `.loadLibrary()` is called. This gives you the option of implementing it in the future without changing the semantics.

/cc @vsmenon

[2018-05-15 00:16] a-siva commented on #33118
This is how the Dart1 VM worked, does DDK support this behavior because it would require support from the FE for that too.

[2018-05-15 00:20] matanlurey opened #57703 "I wish we had `--no-dynamic-calls` as a lint"
_Filing under "please lets fix this in Dart 2.1+"._

Migrating internal code to Dart2, I hit the following fun error case:

[code]

... throws ...

`type 'List<dynamic>' is not a subtype of type 'List<int>'`

Huh? Shouldn't this work:

[code]

It turns out, no! `.map` is a dcall, because `linkData['userIds']` is `dynamic`. DOH!

Would `--no-implicit-dynamic` fix this? It seems like its an "explici

[2018-05-15 00:46] munificent commented on #33119
It's still being sorted out. Right now, basically everyone is just trying to get Dart 2 out the door. Once that's settled down, @leafpetersen and @lrhn will start figuring out what the evolution process looks like.

[2018-05-15 00:54] matanlurey opened #33122 "Dart2+VM+Mixins = Hard to debug type failures"
This is from trying to fix a set of internal test cases using mixins + protocol buffers.

Here is a reproduction case on the latest VM + `--preview-dart-2`:

[code]

... this fails, at runtime, with the following exception:

[code]

Unfortunately, missing from that stack trace is:

* What actual function was called that failed
* Why it failed (it "looks like" it type checks just fine in an IDE)

T

[2018-05-15 01:27] matanlurey opened #57704 "Request: Flag unnecessary "new Future""
I see code like this a lot:

[code]

The `new Future<int>` is basically a no-op, and unnecessary wrapping.

[2018-05-15 02:11] michaelspiss opened #33123 "Parts do not resolve the imports from the library file"
It seems like #17268 occurs again with version 2.0.0, but this time it can't be fixed by restarting the editor or reanalyzing sources.

Additionally, imported classes in the main library file (e.g. from dart:io) also show up as undefined names in part files.

Tested versions:
* 2.0.0-dev.54.0 (Dart VM)
* 2.0.0-edge (Flutter dart-sdk)

both on windows x64

[2018-05-15 07:12] lrhn opened #33124 "VM does not accept any `Invocation` as argument to `NoSuchMethodError.withInvocation`."
To reproduce, evaluate `new NoSuchMethodError.withInvocation(null, new Invocation.getter(#foo))`.
This fails a dynamic cast of `as _InvocationMirror`. It should work for all objects implementing `Invocation`.

[2018-05-15 07:13] #32656 closed

[2018-05-15 08:13] zoechi commented on #33117
It's not guaranteed that one of these returns will ever be hit.

I think you should add `return false;` before the end of the method.

[2018-05-15 08:52] jensjoha commented on #33087
a) The test is wrong. It doesn't actually initialize from the dill. Correct to
[code]

b) It now crashes because `userCode` is null. In this case it's set to null here:
[code]

correcting to
[code]
fixes that.

c) It then crashes with
[code]
because `typeInferenceEngine` wasn't created  because `buildOutlines` bailed out because it wasn't asked to compile anything. As a hack I tried removing the b

[2018-05-15 09:10] athomas commented on #33021
https://ci.chromium.org/p/dart/builders/luci.dart.try/vm-kernel-linux-release-simdbc64-try is running on the CQ as an experiment. If it is stable (it should be given that it does the same as the CI builder), I will enable it properly.

[2018-05-15 09:44] askeksa-google commented on #31155
@danrubel I am not sure I understand what you are suggesting. Isn't calling `parseFieldInitializerOpt` for each field initializer exactly what `parseFields` does in the first place? What would you do differently?

Would you do this with the current `skipExpression` implementation? As I see it, the problem is that when `skipExpression` sees a `<` token, it always skips ahead to the matching `>` tok

[2018-05-15 09:47] vettukal opened #33125 "Error in compiler"
Please include the information below in your report, along with
any other information that may help us track it down. Thanks!
    dartdevc arguments: --dart-sdk=C:\tools\dart-sdk --dart-sdk-summary=C:\tools\dart-sdk/lib/_internal/ddc_sdk.sum --modules=amd -o mapping=file:///test/app_test.dart.browser_test.dart,test/app_test.dart.browser_test.dart file:///test/app_test.dart.browser_test.dart
    da

[2018-05-15 09:54] mraleph commented on #33120
@jensjoha can you look at producing better error messages from constant evaluator?

@mkustermann

[2018-05-15 09:58] mkustermann commented on #33120
@mraleph These are bugs either in the constant evaluator or in transformations (e.g. TFA) which violate Kernel IR assumptions.

These are not compile-time error messages.

[2018-05-15 10:05] mkustermann commented on #33120
It seems these error messages are coming from the c++ constant evaluator we have in the flow graph builder.

To be more consistent across our tools as well as to provide better error messages, I think it makes sense to move these errors out of the VM into the CFE.

We will very soon switch to using a kernel2kernel constant evaluator in AOT mode (after that re-lands), which I believe produces in mo

[2018-05-15 10:09] mkustermann commented on #33021
Thanks a lot!

[2018-05-15 10:39] lrhn commented on #32749
I have pull requests out for all the packages in the above list that need it.
Some are entirely third-party, and I don't know how soon those will be handled. We do not control publishing of those (e.g., mustache4dart, which has a dart2 branch, but no releases of it).
Some packages are internal, and some of those are blocked on review (due to review vacation).
Some have already landed.

It's unclea

[2018-05-15 10:54] lrhn commented on #32806
Blocked on #32749
(After that, and removing constants from Google code and Flutter themselves) removal will be instantaneous).

[2018-05-15 10:55] peter-ahe-google commented on #33120
@mkustermann yes, we should incorporate the kernel2kernel constant evaluator in the CFE. We just need to make sure that we only do the evaluation without rewriting constants to preserve most flexibility for modular compilation.

It's not just about consistency across tools, the CFE would need to evaluate constants before the Analyzer can completely switch to the CFE as well.

[2018-05-15 11:10] lrhn commented on #33122
The actual function called was `addAll` of `ListBase`'s superclass.
That superclass is `Object with ListMixin<E>`, which is represented by `Object&ListMixin`, which is admittedly confusing.
I thin it would be more useful to just say that it's the method `ListMixin.addAll`, and give its position, then the user knows where to look. Mentioning the mixin application class is technically correct, but n

[2018-05-15 11:14] askeksa-google commented on #31155
Never mind. I will pursue a different solution.

[2018-05-15 11:38] lrhn commented on #33113
I believe being a built-in identifier is enough. The words are only expected at the beginning of a top-level declaration (likely not even preceded by `abstract`), so preventing them from being types or prefixes will allow us to recognize their meaning immediately.

Making them reserved words is a much more breaking change, since it would break existing code that uses the names as variables or clas

[2018-05-15 12:09] mkustermann opened #33126 "Enable hot-reload bot testing on mac in Dart 2.0 mode"
Currently the [tools/bots/test_matrix.json](https://github.com/dart-lang/sdk/blob/master/tools/bots/test_matrix.json#L396) contains only one entry for app_jit, which seems to be running it in `tools/test.py --mode=debug,release,product --compiler=app_jit` mode.

We should start testing app_jit training in Dart 2.0 mode, i.e. `--compiler=app_jitk --strong`.

@athomas Could you take a look at this?

[2018-05-15 13:00] jensjoha commented on #33120
Reproduction:

pubspec.yaml:
[code]

runner.dart:
[code]
test.dart:
[code]

Run like this:
[code]

Result:
[code]

[2018-05-15 13:18] terrylucas commented on #31367
Oops, didn't notice this issue.  Leaf your recollection is correct.  I've discussed this with a number of folks and the conclusion was that all JS documentation and general browser knowledge is SCREAMING_CONSTANTS.  We changed some properties (along time ago) like innerHTML to innerHtml and it confused people.  I guess with IDEs it easier but we want to be agnostics with frameworks we don't contro

[2018-05-15 13:26] Rodsevich commented on #33117
@zoechi's suggestion solves the info but it means adding dead code for solving an info issue. Shouldn't it be better to have analyzer satisfied by reading a return statement in loops, delegating the responsibility of writing terminating loops to the programmer that writes them?

[2018-05-15 13:40] #33021 closed

[2018-05-15 14:05] askeksa-google opened #33127 "Fasta assert on unterminated assert initializer"
[code]
gives
[code]
The assert should probably be changed into error some recovery which inserts a `)`.

[2018-05-15 14:33] scheglov commented on #32607
Hm... Yes, I see it too.
Apparently I missed `PhysicalResourceProvider` tests while running test of Analyzer.

[2018-05-15 15:49] mkustermann opened #33128 "Isolate communication seems to loose the "canonicalized" property of types"
The `lib_2/isolate/isolate_complex_messages_test` test is crashing / hits an assertion in simdbc64-debug:

[code]

I've looked a bit into it and **it seems** like the main isolate is sending a constant list (namely `const [null, 1, 2, 3, 4]`) to another isolate. The receiving isolate seems to perform a typecheck in the runtime on this instance. The type arguments vector is no longer canonical, whi

[2018-05-15 15:58] #33095 closed

[2018-05-15 16:02] vsmenon commented on #33031
@sjindel-google and @jmesserly - are we done on the implementation side?

[2018-05-15 16:03] sjindel-google commented on #33031
Yes.

[2018-05-15 16:32] scheglov commented on #32607
1. We stopped using `package:isolate`.
2. I don't see a failure in `test_watchFile_delete`.
3. There are failures related to the `watcher` package, on Mac and Windows, I will fix them and upload PR.

[2018-05-15 17:07] scheglov commented on #32607
2. I saw `type '_BroadcastStream' is not a subtype of type 'Stream<FileSystemEvent>' where` on older Dart SDK on Windows. It went away after SDK update.

[2018-05-15 17:12] keertip commented on #32607
@scheglov,  see [watcher/issue 53](https://github.com/dart-lang/watcher/issues/53)

[2018-05-15 17:15] scheglov commented on #32607
https://github.com/dart-lang/watcher/pull/54 will fix Dart2 type problems, if landed.

[2018-05-15 18:26] leafpetersen commented on #33119
We'll be looking at stricter lint flags for things like this.  A question for @matanlurey :  how do you feel about raw types with bounds?  That is, if you have:

[code]

then we currently treat `A` as if it was `A<num>`.  Would you want to forbid this as well, or only when it produces `dynamic`?

[2018-05-15 18:44] jmesserly commented on #33103
https://dart-review.googlesource.com/c/sdk/+/55266

[2018-05-15 19:01] vsmenon commented on #32188
@a-siva - @natebosch 's cl is breaking on the bots with:

[code]

I'm seeing similar with my DDC CL:
[code]

Any ideas?

[2018-05-15 19:30] keertip commented on #32188
@vsmenon, are you running from `xcodebuild/ReleaseX64/` directory?

[2018-05-15 19:32] vsmenon commented on #32188
Yes.

[2018-05-15 19:43] scheglov commented on #32607
The PR has been landed, we need to publish `watcher` (I cannot do this @kevmoo ) and pull into the repo.

[2018-05-15 19:49] munificent opened #33130 "Please roll the submitted SDK to include the latest dart_style changes"
I published a new version of dart_style that supports metadata annotations on enum cases. I'm going to go ahead and roll the DEPS myself (https://dart-review.googlesource.com/c/sdk/+/55269) since it does not affect any previously-formatted code in the repo, but at some point it would be good to sync up the pre-built SDK.

Thanks!

[2018-05-15 19:51] kevmoo commented on #32607
I think we need to patch the 0.9.7+x branch – 0.9.8 is not ready yet...

On Tue, May 15, 2018 at 12:43 PM Konstantin Scheglov <
notifications@github.com> wrote:

[2018-05-15 20:02] matanlurey commented on #33122
I agree @lrhn thanks!

[2018-05-15 20:06] matanlurey commented on #33120
Thanks @jensjoha!

[2018-05-15 20:07] leafpetersen opened #33131 "Analyzer: `mixin` and `interface` should be builtin identifiers in Dart 2"
Meta bug here: https://github.com/dart-lang/sdk/issues/33113 .

@bwilkerson @devoncarew

[2018-05-15 20:09] matanlurey commented on #33119
@munificent:

Oh sure. Just wanted to make it clear to others reading this post that this isn't any sort of formal language proposal, just a bug :)

@leafpetersen:

I don't use them as much as others internally. I guess as long as the bounds is not `Object/dynamic/void/Null` then it might be OK.

At the same time I've been debugging issues like the following:

[code]

... I don't know if its possi

[2018-05-15 20:11] leafpetersen opened #33132 "Front end: `mixin` and `interface` should be builtin identifiers in Dart 2"
See https://github.com/dart-lang/sdk/issues/33113 for context.

cc @peter-ahe-google

[2018-05-15 20:12] leafpetersen opened #33133 "Spec: `mixin` and `interface` should be builtin identifiers in Dart 2"
See #33113 for context.

[2018-05-15 21:01] Rodsevich commented on #33117
Tried adapting the code to @zoechi comment :arrow_up:
![image](https://user-images.githubusercontent.com/1907844/40083211-d12201aa-5869-11e8-84fc-97d71efec72b.png)
But seems that it still have the issue when trying with `continue`

![image](https://user-images.githubusercontent.com/1907844/40083044-64b3fa1e-5869-11e8-937c-792b2266dca2.png)
I remembered this code and don't get why here it doesn't c

[2018-05-15 21:05] bwilkerson commented on #33131
The definition of what is and is not a built-in identifier is now in the front_end package, so I believe that there is no work to do on the analyzer side. Let me know if that turns out to not be true.

[2018-05-15 21:05] #33131 closed

[2018-05-15 21:12] leafpetersen commented on #32749
@grouma what's the story on barback?

[2018-05-15 21:42] dgrove commented on #32850
There's no more work for Dart. @a-siva is planning to open a Flutter issue.

[2018-05-15 21:42] #32850 closed

[2018-05-15 21:56] srawlins commented on #33100
I've tried reproducing this without the test package runner, to no avail. I've tried `Isolate.spawn` and `Isolate.spawnUri`, but I'm guessing something like... `packageRoot` or... `automaticPackageResolution` comes into play...

[2018-05-15 22:35] parnham opened #33134 "Difference in JS interop callback behaviour between DDC and dart2js"
Dart v2.0.0-dev.55.0 (linux & chrome)

If a callback function defined in Dart has a signature that does not match that being invoked in a JS library via interop then the behaviour at runtime differs between DDC and dart2js. The following is a minimal example to highlight the issue.

**web/index.html**
[code]
**web/index.dart**
[code]
**lib/interop.js**
[code]
**lib/interop.dart**
[code]

When serv

[2018-05-15 22:39] grouma commented on #32749
It's been removed entirely from pub and is no longer supported: https://github.com/dart-lang/sdk/commit/94f45c8876b2c4626462e7327f800fd33c842070

[2018-05-15 22:48] rakudrama commented on #33134
This looks similar to https://github.com/dart-lang/sdk/issues/32883

[2018-05-15 23:04] leafpetersen commented on #32864
Moving this to an analyzer issue.  The original example in the bug should be inferred correctly, as it is in the CFE.

[2018-05-15 23:07] leafpetersen commented on #32749
So can we stop pulling barback into the SDK now?

[2018-05-15 23:07] leafpetersen commented on #33075
This is in process.  The initial change has landed, waiting on a roll.

[2018-05-15 23:08] kevmoo commented on #32749
I think if we update pkg:test, yes...I think...

On Tue, May 15, 2018 at 4:07 PM Leaf Petersen <notifications@github.com>
wrote:

[2018-05-15 23:10] leafpetersen commented on #28513
The proposed change above, while overall very positive in terms of catching inadvertent dynamic code, is too breaking to land now.  The small fix described above (moving `dynamic` below `void` so that `void` doesn't get lost when combined with `dynamic`) is de facto non-breaking.  I will file issues to make the fix.

[2018-05-15 23:31] leafpetersen commented on #32749
https://dart-review.googlesource.com/c/sdk/+/55321

[2018-05-15 23:33] vsmenon commented on #33134
In general, we need to decide the right semantics here first.  Options:
1. Methods should fail if invoked with the wrong number (or type?) arguments.
2. Methods should "just truck on" JS style.  I.e., truncate extra arguments and fill in null / undefined for too few.
3. Something else.

@rakudrama @jmesserly @jacob314 - thoughts?

[2018-05-15 23:34] vsmenon commented on #32883
Merging this one with:  #33134

[2018-05-15 23:34] #32883 closed

[2018-05-15 23:36] vsmenon commented on #33125
@jakemac53 @jmesserly - this looks like an invalid summary file?

[2018-05-15 23:37] vsmenon commented on #33123
fyi - @bwilkerson

[2018-05-15 23:47] jmesserly commented on #33134
I prefer JS semantics. The call does originate from JS, after all, and we don't have any safety at the boundary between JS and Dart.

We could certainly have DDC allowInterop do checking, but it'd be quite a bit slower.

The dart2js version appears to use Function.apply, as well as some other performance costs (allocates 2 JS functions, uses `arguments`, has 2 expando properties so the Dart and JS

[2018-05-15 23:50] jmesserly commented on #33125
yes, it's blowing up reading the summary file. How was the build invoked?

We could catch the exception from `new SummaryDataStore` in DDC but I'm not sure we'd have any useful information to print. We need at least the Analyzer exception to tell us what file it was reading at the time.

[2018-05-15 23:54] jmesserly commented on #33125
Hmmm, even more strange: I don't see a `-s` option passed in on the command line, so there shouldn't even be any summary paths? (the SDK doesn't count; that's processed at an earlier point). The stack trace implies there's a `-s` or `--summary` option, but the command line arguments don't show that.

[2018-05-16 00:22] rakudrama opened #33135 "dart2js: sync*/async/async* body merging"
The entry and body methods should be merged where possible.

- There are no checks in the entry.
- The element type is simple enough for the code to be spliced into the transformed javascript.

[2018-05-16 00:37] rakudrama commented on #31718
The feature is implemented.

[2018-05-16 00:37] #31718 closed

[2018-05-16 00:42] a-siva commented on #33118
@kmillikin will update the issue with details on the kind of support provided in kernel for recognizing libraries that are deferred loaded, the VM can then flag these libraries appropriately and mark the libraries as loaded only after LoadLibrary succeeds.

[2018-05-16 01:09] a-siva commented on #32345
It appears that there are a number of VM mirrors tests that are marked as failing in the status files which indicates we still have a number of issues with dart:mirrors functionality in --preview-dart-2 mode.

[2018-05-16 01:40] crelier commented on #32607
@scheglov, I am unclear about the steps to reproduce.
With a [week old build](https://dart.googlesource.com/sdk/+/e62dd0157e2b0725cb464c34b4622a02aaa954fd), I do not see any test failure:

[code]

With [today's build](https://dart.googlesource.com/sdk/+/b51f4b7956145edef8e22818e3e3f0f4958993f2), I see a different error than the one reported:

[code]
Is the failure above the one you are currently s

[2018-05-16 03:07] zoechi commented on #33117
My guess: `while(true)` can never be passed. So the only possible return has to be inside the loop.

[2018-05-16 08:13] LingfengSun opened #33136 "some probl"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.4892.42`
- `1.24.3`
- `IU-181.4892.42, JRE 1.8.0_152-release-1136-b38x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.4 unknown, screens 1440x900  Retina`

# Exception

Please append the contents of:
file:///private/var/folders/pp/69w8gh8d3d1fvj0nt2n809k80000gn/T/report1.txt

[code]

[2018-05-16 08:56] zoechi commented on #33136
That doesn't look related to Flutter, or you have the wrong SDK path configured in the Flutter plugin

[2018-05-16 09:00] DanTup commented on #25685
Should we re-open this then? :)

[2018-05-16 09:54] pd4d10 opened #33137 "Type inference of function return value"
* Dart SDK Version: 2.0.0-dev.43.0
* macOS

Considering a simple function like this:

[code]

VSCode(with Dart extension) tells me the return type of `add` function is `dynamic`:

[code]

But if we add a wrong type, like

[code]

Then it shows an error:

[code]

Obviously the compiler knows the return value is a `int`, but if we don't declare it explicitly, it will be a `dynamic`. Is it by design?

[2018-05-16 11:28] jensjoha commented on #33120
So what happens is this:

If you from the command line try to run with both `--preview-dart-2` and `--checked` you are told that `Flags --checked and --preview-dart-2 are not compatible.`.

If you do it from code though it's perfectly happy to comply. As such, an example without package:test that basically does the same thing:

[code]

notice the `checked: true`.

In total it basically boils down

[2018-05-16 11:43] mraleph commented on #32834
@sjindel-google is taking over this

My prototype CL that added support for `@pragma('vm.extern', ...)` is here: https://dart-review.googlesource.com/c/sdk/+/55400

[2018-05-16 11:58] mraleph commented on #33100
@jensjoha discovered the reason: it is because `checked: true` enables "legacy" checked mode inside a spawned isolate, which conflicts with strong mode.

Reproduction

[code]

[2018-05-16 11:58] mraleph commented on #33100
Duplicate of #33120

[2018-05-16 11:58] #33100 closed

[2018-05-16 11:59] mraleph commented on #33120
Regis, would you have a moment to look at this? It seems that we need to change `Isolate.spawnUri(..., checked: true)` to only enable asserts if we are spawning an isolate in Dart 2 mode.

[2018-05-16 12:03] johnniwinther commented on #23873
Fix was reverted.

[2018-05-16 12:07] eernstg commented on #28513
Sounds good! I'll cancel the above-mentioned [CL](https://dart-review.googlesource.com/c/sdk/+/53211) because we won't do what it says at this point, and I'll see if I can find a good way to ensure that we can find it again if we decide to do it after a while (maybe we could add it to the SDK and immediately delete it again, such that we can find it in the git history).

[2018-05-16 12:43] stereotype441 commented on #33116
The root cause of the problem is that due to #28649, we currently disable analysis tests for all packages in strong mode: https://github.com/dart-lang/sdk/blob/137942aca55ac34bf08286f70f9199e137cef054/pkg/pkg.status#L172-L174

However, currently the analyzer try bot *only* attempts to do analysis in strong mode.  As a result, all analysis of the `pkg` subdirectory is skipped.

I'm looking into whe

[2018-05-16 12:54] vsmenon commented on #33031
@srawlins - are you unblocked from fixing those ~10 tests?

@leafpetersen @lrhn - how should this change be communicated?

[2018-05-16 13:14] srawlins commented on #33031
Yes, I can fix them when we roll >=dev.56 internally.

[2018-05-16 13:16] srawlins commented on #33100
Excellent, thanks @mraleph and @jensjoha !

[2018-05-16 13:58] stereotype441 commented on #33116
It is safe to remove the `Skip`.  Fix out for review: https://dart-review.googlesource.com/c/sdk/+/55302

[2018-05-16 14:02] lrhn commented on #33067
Do we actually *need* to block the isolate?

If there is still work to be done, the isolate should not exit. If there is no work to be done, exiting without printing the "async test done" message would be is a perfectly good way to fail the test, instead of hanging.

I tried removing the port from `async_helper.dart`, and testing the `lib_2` tests on dartk/vm still succeeds without hitch.

[2018-05-16 16:03] scheglov commented on #32607
There are two problems.

1. When I run `FileTest::test_delete()` from `physical_resource_provider_test.dart` on Mac, I see the exception `type 'List<int>' is not a subtype of type 'Uint8List'`. This seems a `dart:io` issue.

2. When I run a subset of `package:watcher` tests on Windows I see
[code]

[2018-05-16 16:22] jakemac53 opened #33138 "`new Path2D()` from dart:html doesn't work in dev_compiler"
With the latest sdk on chrome, the following will break:

[code]

The relevant parts of the stack trace are:

[code]

This looks to be caused by the `_create_1`, `_create_2`, and `_create_3` static methods in the [html_dart2js.dart](https://github.com/dart-lang/sdk/blob/master/sdk/lib/html/dart2js/html_dart2js.dart) file starting on line 31236:

[code]

If you pause on a breakpoint in the compiled

[2018-05-16 16:30] jmesserly commented on #33138
yeah, Path2D should be qualified by `window`. Normally we (well, the folks that work on area-html) fix this in the JS code.

That said I do wonder if we could do something in the compiler. The class name should really be a JS.TemporaryId so it can't conflict with anything. It will still have correct name when stored on the library object, so this shouldn't change anything semantically, nor should

[2018-05-16 16:32] sigmundch commented on #33067
precisely, that's basically what I am going after.

I'm not 100% sure, but my understanding is that we do need it. I'm not sure what scenarios trigger this but my understanding is that without blocking the VM might exit too early. That might be due to external callbacks that the VM doesn't have a way to know if they have pending work, or some other reason I don't know of.

Adding some people that

[2018-05-16 16:35] #33116 closed

[2018-05-16 16:35] #28649 closed

[2018-05-16 16:42] sigmundch opened #33139 "async library: check return type of onerror handlers lazily"
[simply filing a bug for reference and coordination purposes]

The async library has several APIs taking error callbacks which could be a binary or unary function. When we test for the arity, we are currently checking for an exact type, it so happens that some users register a callback with a dynamic return type, which doesn't match any of the expectations.

Because return-types cannot be declared

[2018-05-16 17:03] vsmenon commented on #33138
@terrylucas

I feel like we've hit this before.

[2018-05-16 17:08] jmesserly commented on #33138
fyi -- testing a fix now

[2018-05-16 17:13] vsmenon commented on #33031
@srawlins - thanks!

@leafpetersen is working on how to communicate this as part of overall NSM changes.  I'll go ahead and close this bug.

[2018-05-16 17:13] #33031 closed

[2018-05-16 17:28] matanlurey commented on #33136
Also this is a *very* old version of the SDK @vsmenon (`1.24.3`). Nobody will be fixing this :-/

[2018-05-16 17:28] #33136 closed

[2018-05-16 17:29] robertmuth commented on #33138
Since I brought this up originally:
I did not realize that window.Path2D was the proper way to qualify this
and do not mind the breakage at all.
It would be nice, though, if the error message would point me in the right direction rather than
at something that does not work.

[2018-05-16 17:34] alexmarkov commented on #33086
I believe this is fixed in https://github.com/dart-lang/sdk/commit/aafc2a6d434829f19d277f9aa17098a8bea2eae0

[2018-05-16 17:34] #33086 closed

[2018-05-16 17:35] jakemac53 commented on #33138
To be clear you should not need to do `window.Path2D` in  your code, this is a bug on the dart:html/dev_compiler side of things.

[2018-05-16 17:43] mkustermann commented on #33067
One of the reason the functionality is: It provides an ability to test low level implementation details. For example to test the implementation of `Future.then`, await/async, ... The VM will ensure it only shuts down an isolate once the last port is closed. So a faulty implementation will cause a timeout (instead of e.g. silently exiting early on -- we actually had some of those bugs in the VM imp

[2018-05-16 17:49] leafpetersen commented on #33137
This is by design.  We do infer return types of non-recursive *local* functions (functions declared inside of the scope of another function or method), but for top level functions and methods, we do not infer return types (except via override inference).  The reasons are as follows:
  - Methods and top level functions are usually part of the API of a program, and it's valuable to be able to quickl

[2018-05-16 17:56] a-siva commented on #33100
Good catch, I will change spawnURI to not turn on checked mode when running in dart2 mode.

[2018-05-16 18:03] a-siva commented on #33120
I can do that Regis, let me take this issue over.

[2018-05-16 18:04] jmesserly commented on #33138
so... I fixed this by changing how DDC does class naming. Then I found this code in the compiler and realized it's just the regexp doesn't detect numbers:
[code]
Not really sure which approach is cleaner.

[2018-05-16 18:06] jakemac53 commented on #33138
hah! I don't have a strong opinion here (or enough information to know really) but the regex seems more brittle (as evidenced by this bug haha). I think a good general rule of thumb is if you can fix it without a regex you probably should do so :D.

[2018-05-16 18:10] vsmenon commented on #33138
doh!

[2018-05-16 18:17] #33120 closed

[2018-05-16 18:19] crelier commented on #32607
I do not see problem 1) on Linux anymore this morning, which I could reproduce yesterday. So something must have been fixed overnight. Do you still see this issue?
Also, I do not have either a Mac nor a Windows machine to investigate problem 2).

[2018-05-16 18:20] jmesserly commented on #33138
https://dart-review.googlesource.com/c/sdk/+/55504

[2018-05-16 18:32] srawlins opened #57705 "Lint for any line greater than 80 characters."
This can happen, AFAIK, under just two conditions: comments, whose contents are not wrapped by the dart formatter, and strings, whose contents are not split by the dart formatter.

The linter wouldn't even have to really worry about _why_ a line is too long. It could just report on it.

Some exceptions could be:

* import, export, and library statements that are > 80 chars because a URI is long. S

[2018-05-16 18:54] kevmoo opened #33140 "Analysis server error - 2.0.0-dev.55.0"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.4892.42`
- `2.0.0-dev.55.0`
- `IU-181.4892.42, JRE 1.8.0_152-release-1136-b38x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.4 unknown, screens 3840x2160`

# Exception
[code]

[code]

[2018-05-16 19:06] bwilkerson commented on #33140
Do you have steps that will reproduce the problem?

[2018-05-16 19:13] kevmoo commented on #33140
I'll let you know. It was out of no where...

On Wed, May 16, 2018 at 12:06 PM Brian Wilkerson <notifications@github.com>
wrote:

[2018-05-16 20:35] pq opened #33141 "Remove analyzer sources from the shipped SDK"
https://github.com/flutter/flutter/pull/17479 removes Flutter's dependency on shipped analyzer sources.  Assuming there are no others, we should stop shipping sources for:

* analysis_server
* analyzer
* front_end
* kernel

@DanTup: are you currently running server from a snapshot for vscode?

@devoncarew : any idea about Atom?

What about vim support, etc?

[2018-05-16 20:38] DanTup commented on #33141
Yeah, we run `bin/snapshots/analysis_server.dart.snapshot` from the Dart SDK, which in the case of a flutter project is the one inside the `cache/dart-sdk` folder. Is it just the `.dart` sources being removed; the snapshot will still be there?

[2018-05-16 20:39] DanTup commented on #33141
And FWIW, Atom seems to be doing the same:

https://github.com/dart-atom/dart/search?utf8=%E2%9C%93&q=snapshot&type=

[2018-05-16 21:01] xster commented on #32947
@scheglov can you elaborate a bit on what you meant? It's a big inconvenient that moving forward, all factories will not be auto-completable.

[2018-05-16 21:03] scheglov commented on #32947
I got a confirmation that optional new/const is ready in VM, and people actually want to stop writing them. So, I landed https://dart-review.googlesource.com/c/sdk/+/55506 that restores completion for constructors without `new`.

[2018-05-16 21:05] xster commented on #32947
\o/!!!

It looks like the revert^3 was from today. I assume it means when the next dart version rolls, this will be on in all IDEs?

[2018-05-16 21:08] scheglov commented on #32947
Yes, all IDEs get completion from Analysis Server, so all of them will get constructors.

![image](https://user-images.githubusercontent.com/384794/40144192-9be088a0-5912-11e8-9180-8f9a600ee813.png)

[2018-05-16 21:10] #32947 closed

[2018-05-16 22:06] #33138 closed

[2018-05-16 22:21] rakudrama opened #33143 "dart2js: o as FutureOr<int Function(String)> fails"
This incorrectly reports a cast error:
[code]

Some care is required here.
In Dart 1, with 'call' methods, an object has two types - in interface type and a function type.
The choice of type to fetch is determined by the type being tested.
With `FutureOr<int Function()>` we may need to fetch both types so we need to defer fetching the type until we are in one side of the expansion:
[code]

In Dart

[2018-05-16 22:28] rmacnak-google opened #33144 "NoSuchMethodError deprecation resolution doesn't work in Flutter"
https://github.com/flutter/flutter/pull/17669

[2018-05-16 22:37] sigmundch opened #33145 "dart2js: inlining difference in dart2"
This example shows `_checkLength` gets inlined in Dart1 but not in Dart2. The `_checkLength` function simply returns the parameter and has no checks, even in compliance mode.

[code]

[2018-05-17 00:09] apwilson opened #57706 "prefer_const_constructors false positive"
The following code triggers the prefer_const_constructors linter rule on the initial assignment of foo:

[code]

As I thought new/const was optional and inferred, this appears to be a false positive.

[2018-05-17 00:12] alanrussian commented on #33024
I suppose this is a duplicate of #30532?

[2018-05-17 01:22] robertmuth opened #33147 "missing dart bindings for html canvas functions in dev"
Dart VM version: 2.0.0-dev.55.0 (Unknown timestamp) on "linux_x64"

it looks like the new SDK is cracking down on functions whose JS
equivalent use crazy overloading, e.g.:
https://api.dartlang.org/stable/1.24.3/dart-html/CanvasRenderingContext2D/fill.html

But what are the equivalent new functions?
The dev documentation does not seem to offer a full replacement:

https://api.dartlang.org/dev/2.0.

[2018-05-17 01:29] robertmuth opened #33148 "html gamepad bindings are not working properly"
Dart VM version: 2.0.0-dev.55.0 (Unknown timestamp) on "linux_x64"

When one creates a gamepad object, joystick positions and button state appear to be frozen.

The workaround is to re-instantiate the gamepad object every frame.

Below is some code demonstrating this:

https://github.com/ChronosTeam/ChronosGL/blob/aa00d2049e294b770cca025e925f380913f4b72d/example/game/game.dart#L209

[2018-05-17 01:31] vsmenon commented on #33147
@terrylucas

[2018-05-17 01:32] vsmenon commented on #33148
@terrylucas

[2018-05-17 01:35] vsmenon commented on #32752
Is this still a P0?

[2018-05-17 01:53] a-siva commented on #32188
This CL https://dart-review.googlesource.com/c/sdk/+/55589 fixes the .package not found error but now an assertion in the optimizing compiler is being triggered which I am investigating.

[2018-05-17 06:03] peter-ahe-google commented on #33067
@sigmundch suggests a feature would could call "keep-live" (it generalizes what we doing with `new ReceivePort()`). Unfortunately, this doesn't work to test at least one feature, the keep-alive feature itself.

@vsmenon suggests that we don't need this feature because the VM should just not exit if it has more work to do. Unfortunately, that's the behavior we're trying to verify is working. So we

[2018-05-17 07:06] tensor-programming opened #33149 "Import Method causing types to mismatch"
* Dart 2.0.0-dev.54.0.flutter-46ab040e58 (the current version with the master flutter build)
* Windows

----

Steps to recreate issue:

1. Create three files, each with a custom class inside of it.  I.E. `a.dart` with `class A`, `b.dart` with `class B` and `c.dart` with `class C`
2. Have one of these classes constructors (class B for instance) take in one of the other classes.   `B(A())` for examp

[2018-05-17 08:10] zoechi commented on #33149
What is the location of the file that contains the `main(){}` and how do you run it?

[2018-05-17 08:29] athomas opened #33150 "co19/Language/Statements/Continue/async_loops_t10 is very slow"
!@@@STEP_TEXT@ 99% +1356 -0 @@@
The debug timer of test.dart expired. Please report this issue to whesse@ and provide the following information:
Graph is sealed: true
Count[Initialized] = 0
Count[Enqueuing] = 0
Count[Waiting] = 0
Count[Running] = 1
Count[Successful] = 1934
Count[Failed] = 458
Count[UnableToRun] = 2
Commands in state 'Running':
=================================
  Command: DART_CONF

[2018-05-17 08:59] tensor-programming commented on #33149
This is a flutter application so the main function sits in the main.dart file in the lib folder.

[2018-05-17 09:04] zoechi commented on #33149
Currently you must not use relative imports in `lib/main.dart`.
#33076 is about what to change in language and tools for that to not cause issues.

[2018-05-17 09:06] tensor-programming commented on #33149
The problem is not in `main.dart` however. As mentioned in the original post, I was able to recreate the problem in a `c.dart` file which does not contain a main function. (I did originally come across this bug in main.dart but was later able to recreate it using independent files).

[2018-05-17 09:26] lrhn commented on #33067
The tests using `async_helper` don't all have asynchronous `main` methods (most don't, since that has until recently been a problem due to the delayed start of async functions), so I'm not sure the wrapping will work.

Apart from that, it seems to be exactly what `async_helper` does (except that it also keeps the isolate alive, for no apparent reason) - it ensures that we print the "unittest-suite

[2018-05-17 09:29] askeksa-google commented on #31416
Works now.

[2018-05-17 09:53] frankpepermans opened #33151 "Unable to find modules for some sources"
* SDK version: 2.0.0-dev.54
* Windows 10

I'm trying to build a large Angular app, with many dependencies.
While building, no errors are reported, but near the end, it complains that certain modules cannot be found.
I'm out of ideas on how to proceed next (also not sure if this an Angular or DDC issue)

Below is the full build log:

C:\dev\dart-sdk\bin\pub.bat global run webdev serve web:59522
[IN

[2018-05-17 09:57] whesse commented on #33150
It looks like the code is compiling, and then when d8 tries to run the resulting js code, it is hanging, and times out after 16 minutes.

[2018-05-17 10:25] AlexeySemigradsky commented on #33115
@zanderso Can I help implement this? I really need this feature.

[2018-05-17 10:26] iarkh opened #33152 "[class C<X extends C> {}] causes dart crash instead of compiler error."
Dart SDK Version: 2.0.0-dev.55.0
OS: Windows 10

Dart 2.0 [Instantiate To Bound](https://github.com/dart-lang/sdk/blob/master/docs/language/informal/instantiate-to-bound.md) Spec reads:

Here is a sample example from the Spec excerpt above:
[code]
When running with this example, dartanalyzer causes strong_mode_not_instantiated_bound error:
[code]
But when I run it with dart, crash in compiling tim

[2018-05-17 10:32] tensor-programming commented on #33149
Right [here](https://gist.github.com/tensor-programming/ecb2030a914a71eca979816661a8d932) is a gist of the file structure and the code that was used in the pure dart example which yielded this bug.

As you can see, there are no imports in main as mention multiple times before.  I never mentioned anything about the names of these files (these names were made just to test the error).  I personally a

[2018-05-17 10:40] michaelolof opened #33153 "Proposal for Callable Extension Function Like the JavaScript :: bind operator"
Extension functions provide a very powerful feature for OO program giving us the ability to extend functionality of classes we own and the ones we don't in a safe manner.

You can checkout: https://github.com/tc39/proposal-bind-operator

**Features**
- This is a bit different from how extension functions are implemented in languages like C#, Swift, Kotlin
- Introduces a new :: operator used for ac

[2018-05-17 10:41] RSd108 opened #33154 "Exception: Server error; cause: Type 'NativeJavaScriptObject' is not a subtype of expected type 'HttpRequest'."
Dart VM version: 2.0.0-dev.55.0 (Mon May 14 09:23:07 2018 +0200) on "windows_x64"
Chrome Version 66.0.3359.139 (Official Build) (64-bit)

I'm playing with heros tutorial from https://github.com/angular-examples/toh-6/tree/master

hero_service.dart

[code]
I inject browserclient in main.dart

[code]
When calling _http.get(_heroesUrl) on the injected BrowserClient instance, I get the below exception

[2018-05-17 11:13] zoechi commented on #33149
`c.dart` doesn't contain `main()`, please show the content of the file that contains `main()` and how you run it.

[2018-05-17 11:14] kmillikin opened #33155 "Missing source position in Kernel"
I think I stumbled upon a missing source position.  You can't reproduce this directly without patching in some of my changes, but this should be enough:

[code]

`DeclarationBuilder.addType` looks like:

[code]

and compiled to:

[code]

[2018-05-17 11:26] sjindel-google commented on #31416
Why isn't it closed?

[2018-05-17 11:45] stefantsov commented on #31581
[CL 50945](https://dart-review.googlesource.com/c/sdk/+/50945) is out for review, and it's the last piece of the puzzle.  I hope to get it landed soon.  I'll update the thread when it's done.

[2018-05-17 11:55] vsmenon commented on #33067
Just clarifying the title for this bug - i.e., the dart stable blocker.

Is @lrhn 's CL sufficient to fix that?

Do we need a separate bug to discuss blocking the VM and / or printing?

[2018-05-17 12:03] mkustermann commented on #33067
@vsmenon @lrhn When looking at the test.dart code, it [seems like](https://github.com/dart-lang/sdk/blob/master/tools/testing/dart/command_output.dart#L765) like `test.dart` checks for `unittest-suite-done` already, so Lasses's CL might be enough.

[2018-05-17 12:12] mkustermann opened #33156 "language/enum_duplicate_test/01 started hitting an assertion after hashing of canonical objects"
The [cl/54662](https://dart-review.googlesource.com/c/sdk/+/54662) seems to have caused a crash in debug mode for the `language/enum_duplicate_test/01` test on hot-reload bots.

Example failure:
[code]

@rmacnak-google Could you look into it (I think it started happening after your cl)?

[2018-05-17 12:15] askeksa-google commented on #31416
I was thinking it lacked a regression test. But we have one in the fix: https://dart-review.googlesource.com/c/sdk/+/42744

[2018-05-17 12:15] #31416 closed

[2018-05-17 13:33] askeksa-google opened #33157 "Crash in dart2js on illegal initializer"
After https://dart-review.googlesource.com/c/sdk/+/55660 dart2js crashes on `co19/Language/Classes/Constructors/Generative_Constructors/initializers_t12`:

[code]
This could be some invalid kernel generated by Fasta or a bug in dart2js.

[2018-05-17 13:40] lrhn commented on #23773
No longer planned in the proposed form.

[2018-05-17 13:40] #23773 closed

[2018-05-17 13:43] lrhn commented on #33153
This is, as I read it, the same operator proposed in #16900, just with a different syntax (`::` instead of `|`, `|>` or `->`).

[2018-05-17 13:48] lrhn commented on #33149
According to the gist, the `main` file is in the `bin` folder and doesn't import anything.
The code in `lib` is not imported by `main`, so the analyzer seems to be giving warnings as if it doesn't recognize that `c` is a package file.

[2018-05-17 14:04] #32376 closed

[2018-05-17 14:16] zanderso commented on #33115
https://dart-review.googlesource.com/c/sdk/+/55505

I'll land after adding a getter for the sha1, which is what I think you mean by fingerprint.

[2018-05-17 14:33] stefantsov commented on #31581
I believe the front-end part of this issue is resolved as of https://github.com/dart-lang/sdk/commit/6fc4854e986cb489108f58b476d39f9a0d5c29a7.

[2018-05-17 14:53] vsmenon commented on #33151
This issue was moved to dart-lang/build#1458

[2018-05-17 14:53] #33151 closed

[2018-05-17 14:55] vsmenon commented on #33152
@kmillikin - is this a dup?

[2018-05-17 15:04] danbrotherston opened #33158 "Exhaustive switch case statements consisting of return statements do not satisfy function return requirements"
Seeing this using dartpad:  https://dartpad.dartlang.org/ (Based on Dart SDK 1.25.0.)
Also seeing in Flutter:

Flutter 0.3.1 • channel beta • https://github.com/flutter/flutter.git
Framework • revision 12bbaba9ae (4 weeks ago) • 2018-04-19 23:36:15 -0700
Engine • revision 09d05a3891
Tools • Dart 2.0.0-dev.48.0.flutter-fe606f890b

I am developing on a Mac.

-----------------------------------------

[2018-05-17 15:07] vsmenon commented on #33154
@terrylucas - are there any open issues around `HttpRequest`?

[2018-05-17 15:11] vsmenon commented on #32752
Dropping the P0 as it appears @rmacnak-google unblocked Fuchsia.  Please bump if I misunderstood.

Is the only open here to communicate the change?

[2018-05-17 15:14] vsmenon commented on #33144
Any update / resolution here?  Is this still blocking the Flutter roll?