[2016-10-28 21:43] devoncarew commented on #27687
_From @lukechurch on October 27, 2016 11:13_

+1!

@danrubel I think this is the issue I was trying to show you before of code completion not behaving well on named params.

[2016-10-28 21:46] devoncarew opened #27688 "Code complete named param should be a String, but is offered a Typography"
_From @sethladd on October 27, 2016 14:27_

![screen shot 2016-10-27 at 4 23 04 pm](https://cloud.githubusercontent.com/assets/5479/19771047/d6d6478e-9c61-11e6-978f-f36936218c45.png)

`fontFamily` is what I'm trying to complete. It can take a String. Notice how the first option is a Typography. If I hit enter, Typography is inserted.

_Copied from original issue: flutter/flutter-intellij#387_

[2016-10-28 21:47] devoncarew commented on #27688
/cc @danrubel

[2016-10-28 21:57] kevmoo opened #27689 "Switching an async function to `async *` doesn't update analysis"
Start with some Dart code in IntelliJ.

[code]

Start by updating the return type to `Stream`

[code]

Dart analyzer: `WARNING: Functions marked 'async' must have a return type assignable to 'Future'.`

Cool.

Now, update method to be `async*`

[code]

Expected: no errors/warnings
Actual: `WARNING: Functions marked 'async' must have a return type assignable to 'Future'.`

Work-around: reanalyze al

[2016-10-29 00:54] greglittlefield-wf commented on #25079
Agreed, this error can be quite misleading; I see it trip up our developers quite frequently.

[2016-10-29 14:00] hermanbergwerf commented on #27682
I looked around through the sources a bit. For anyone reading this who is not familiar with the VM source, the libraries that have changed seem to be resolved here: https://github.com/dart-lang/sdk/blob/89560c68a0660c752025339154271cccc3bc12dc/runtime/vm/isolate_reload.cc#L452.

[2016-10-30 01:10] nex3 opened #27692 "DDC interop: allow me to control which names are exported from a module"
When I'm using DDC to compile a module for use as a JavaScript module, I want to be able to control exactly what API is exposed, just as I would be able to if I were writing JavaScript natively. I *don't* want to expose all Dart types and fields that are transitively used by my module.

I propose that a flag, `--entrypoint-only` be added to DDC. This flag causes the generated module to export only

[2016-10-30 01:22] nex3 opened #27693 "Interop: Allow me to choose different JS names for exports"
Sometimes my needs for a JS API don't match up perfectly with my needs for a Dart API, and I'd like to make them both work with a minimum of redirection. One way to make this easier would be to provide a way of renaming top-level APIs.

I propose that we add an annotation, perhaps `@ExportAs()`, that declares the name of a top-level type. For example:

[code]

might compile to:

[code]

[2016-10-30 01:31] alexeieleusis opened #57390 "AVOID mixing in a class that isn’t intended to be a mixin."
From https://www.dartlang.org/guides/language/effective-dart/design#avoid-mixing-in-a-class-that-isnt-intended-to-be-a-mixin

I have seen some inconsistencies around how mixins are used in dart. I would like to implement one (or more) rules to help with this, things to verify are:
- Mixin class should be abstract, extend object, have no explicit constructors and have the Mixin as a suffix in the n

[2016-10-30 01:33] nex3 opened #27694 "Interop: Allow me to mark a member as JS-only"
Sometimes my needs for a JS API don't match up perfectly with my needs for a Dart API, and I'd like a way to control the shape of my JS API without negatively affecting the Dart API. A way to indicate that a member is only intended for use in JS would go a long way towards making this possible.

I propose that we add an annotation to `package:js`, perhaps `@jsOnly`, to indicate this. The analyzer

[2016-10-30 01:38] nex3 commented on #27692
Eventually, this could also be used to seed tree-shaking for the module in question.

[2016-10-30 01:47] nex3 commented on #27001
What's the intended process for users to find and use these sources?

[2016-10-30 02:09] nex3 commented on #25059
I'm renaming this, since a number of broader issues have been merged into it and the old name was pretty narrowly-scoped.

[2016-10-30 11:20] tejainece opened #27695 "Negative endIndex support for `String.substring()`"
Would be nice if `String.substring()` supported negative endIndex. Then one can do:

[code]

Rather than:

[code]

or

[code]

[2016-10-30 11:36] tejainece opened #27696 "`add` method for `Map`"
`Map` doesn't have `add(key, value)` method. It has `addAll(Map)` though. I can understand that generally `add(key, value)` is redundant because one can use `[]=` operator.

But i hit this use case very often:

[code]

With `add(key, value)`, this can be concisely written as:

[code]

Right now, this can be written as:

[code]

But creates an unnecessary Map object and also is more verbose.

[2016-10-30 11:40] tejainece opened #27697 "`..` operator shall support `[]=` operator"
Would be nice if `..` operator supports `[]=` operator. Then once can write some expressions concisely.

[code]

instead of

[code]

The use case is similar to the one mentioned in the issue https://github.com/dart-lang/sdk/issues/27696.

[2016-10-30 15:56] zoechi commented on #27696
`..[x]=y` works fine https://dartpad.dartlang.org/08c842de8fae2831a6a13050f82e3707

[2016-10-30 16:22] lrhn commented on #27697
Cascades do support indexed assignments. I use it like `new List(3)..[0] = v1..[1] = v2..[2] = v3`.

Hmm. There does seem to be a problem with dart2js, though. It currently doesn't work in Dartpad.
See: https://dartpad.dartlang.org/f25d40b81b7ab0d4e6bdb5d6ba19ba73

[2016-10-30 17:58] kevmoo opened #27698 "De-dupe 4+ copies of _JenkinsSmiHash"
Currently 6 copies. Even when we cleanup dev_compiler, there will be 4.

We could add this to `dart:math` or `dart:collection` – per https://github.com/dart-lang/sdk/issues/11617

Otherwise, `dart:_internal` would be nice at least to cleanup the SDK versions.

[code]

[2016-10-31 05:28] Hixie opened #27699 "Docs for Stream.handleError confusingly refer to a "handle" function"
In the docs for Stream.handleError:
https://api.dartlang.org/stable/1.20.1/dart-async/Stream/handleError.html
...there are many references to a "handle" function, but it's not clear to what this refers.

[2016-10-31 07:24] lrhn commented on #27699
Good catch. Apparently the `onError` function was once called `handle`.

[2016-10-31 07:43] lrhn commented on #27697
Seems the problem isn't the cascades, it's only *printing* `new List()` that fails (calling `toString` works, so it's a problem with the print of dartPad, so lowering priority).

[2016-10-31 07:45] #27697 closed

[2016-10-31 07:51] lrhn opened #27700 "Interpolation of fixed-sized list fails in dart2js"
[code]

Stack trace is something like:
[code]

Seems the interceptor for `toString` doesn't get included unless you directly call `toString`?

[2016-10-31 11:51] vsmenon commented on #27001
See related in #27607

[2016-10-31 12:00] jensjoha commented on #27684
That sounds to be my fault.
I did not consider dart2js when creating an _InvocationMirror.
Do we have other ways to create "Invocation" objects (for noSuchMethod)?

[2016-10-31 15:03] #27699 closed

[2016-10-31 15:47] johnmccutchan commented on #27682
@hermanbergwerf I suspect we have a small bug in how we handle native extensions in reload. I will look at this soon.

[2016-10-31 15:58] bwilkerson commented on #27665
@danrubel @scheglov

[2016-10-31 16:06] Hixie opened #27702 "Socket documentation should make error handling behaviour clearer"
When a Socket has an error, it fires an error on the Stream interface and then resolves the done Future from the IOSink interface, and the socket is subsequently unusable. This is not clear.

I would expect this to be mentioned in the documentation for Socket.done, Socket.handleError, and Socket.listen, at least.

[2016-10-31 16:06] bwilkerson commented on #27694
@jacob314

[2016-10-31 16:06] eernstg commented on #27639
Let's use 'syntax-only generic methods' to refer to the semantics specified in [Feature: Generic Method Syntax](https://docs.google.com/document/d/1nccOSkdSyB9ls7TD8gUqIu6Wl2J_9bTSOoMCEIoAiQI).

Then we have two topics here: (1) Should we update the language specification to cover syntax-only generic methods?, and (2) what's the status of `super` bounds?

For (1), I didn't expect to change the lan

[2016-10-31 16:08] bwilkerson commented on #27688
@scheglov

[2016-10-31 16:11] bwilkerson commented on #27656
This turned out to be user error. Server correctly detects changes to the analysis options file and re-analyzes as appropriate.

[2016-10-31 16:11] #27656 closed

[2016-10-31 16:12] bwilkerson commented on #27629
@jwren ping

[2016-10-31 16:15] bwilkerson opened #27703 "Server should watch for changes in generated code"
Now that we are starting to support Bazel projects, we should be able to set up a watcher that will tell server when generated code has changed (including coming into existence) so that users don't have to re-analyze everything after doing a build.

[2016-10-31 16:23] bwilkerson opened #27704 "Create a lint for infinitely recursive getters"
It is easy to accidentally write code like the following:
[code]
(The getter ought to return the value of the field, but actually invokes itself.) It would be good to have a lint to catch such cases.

[2016-10-31 17:08] bwilkerson commented on #27704
@alexeieleusis (In case you're interested in working on this one.)

[2016-10-31 17:26] martin88l opened #27705 "Analyzer incorrectly issues "unused" warning on variables being used by ??="
The following has an unused warning on the variable _a:
import 'dart:async';
class A {
  var _a;

  void doSomething() {
    _a ??= new Future(() => _a = null);
  }
}

However, _a is used with ??= so that we don't create multiple futures doing the same work.

[2016-10-31 18:14] sigmundch commented on #27700
@johnniwinther - seems like we need to track in our world impacts that interpolations implicitly use .toString. Do you agree?

[2016-10-31 18:26] sethladd commented on #27688
That sounds reasonable. In the absence of other info, let's offer types that match what the arguments expect. Thanks!

[2016-10-31 18:44] danrubel commented on #27688
In order to do this, we need IJ to display completion results in the order specified by Analysis Server `relevance` field.

[2016-10-31 18:59] bwilkerson commented on #27688
@jwren @alexander-doroshko Any thoughts?

[2016-10-31 19:00] alexeieleusis commented on #27704
Can you please assign this issue to me? I can't.

[2016-10-31 19:07] bwilkerson commented on #27704
Nope. I can't either.

@kevmoo Can we get Alexei whatever permissions are needed to be able to have issues assigned to him?

[2016-10-31 19:32] #23320 closed

[2016-10-31 19:42] nex3 commented on #27607
`lib/` seems confusing to me, since that directory mostly contains Dart source files which are used in a very different way than this JS. Maybe `dart-sdk/asset`?

[2016-10-31 19:44] #27682 closed

[2016-10-31 19:49] #27640 closed

[2016-10-31 20:04] nex3 commented on #23320
Where are the tests? I only see [one file](https://github.com/dart-lang/sdk/commit/63e4f69e5e363e13b193572acb74edc4de99c0e6#diff-12) with maybe 20 lines of actual code. Where are the tests that requests with invalid auth codes don't go through? What happens if `enable` is `false`? What happens if `enable` is `true` and there's already a server? Where are the tests for actually accessing members of

[2016-10-31 20:26] vsmenon commented on #27676
Everything is actually clean upstream (at least error-wise).  Rolling deps:

https://codereview.chromium.org/2466033002/

[2016-10-31 20:32] #27365 closed

[2016-10-31 20:46] jacob314 opened #27706 "Links to within the same page on a dartdoc are busted"
For example:
https://www.dartdocs.org/documentation/test/0.12.15%2B11/#asynchronous-tests

should navigate to the asynchronous-tests section of the doc but doesn't.

[2016-10-31 20:47] #27706 closed

[2016-10-31 20:55] zoechi opened #27707 "Weird build error with a simple Angular2 application"
[code]

`pub build` output

[code]

The `The class 'Color' overrides 'operator==', but not 'get hashCode'.` error is already fixed in `angular2_components` in master AFAIK.

Dart VM version: 1.21.0-edge.d62e41fcea8fee5aa69f0875eb4f151abfdcc74e (Mon Oct 31 09:15:30 2016) on "linux_x64"

[2016-10-31 21:31] leafpetersen commented on #27639
I think that for now we should treat the syntax-only generic methods as an experiment and focus on specifying the strong mode behavior.

I think that 'super' bounds would be a useful extension, but I'd rather not tackle them now.  I think there are some non-trivial implications to work through for inference and for subtyping.

[2016-10-31 21:37] #27427 closed

[2016-10-31 21:42] jmesserly commented on #27692
this is a great idea. We absolutely need a way to expose APIs directly on the module (instead of prefixed via library). I think in ES6 it will end up as the "default export" (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/export)

[2016-10-31 21:46] stereotype441 opened #27708 "Analyzer API signature affected by addition of local variable."
If a local variable is added to the body of a function/method, and that local variable makes reference (e.g. via its type) to something that hasn't been referred to previously, a new reference will be added to the references table, which will in turn affect the API signature of the file.

This isn't good--we don't want API signatures to be affected by local variables, because this causes unnecessa

[2016-10-31 21:48] skybrian commented on #27689
Happened to me as well. Another workaround is to delete the 'S' in Stream and add it back again.

[2016-10-31 21:50] bwilkerson commented on #27689
@scheglov Is this related to incremental analysis?

[2016-10-31 22:03] johnmccutchan commented on #26214
`Profiler_GetSourceReport` fails because it is very sensitive to the shape of the compiled code. Different optimization counter thresholds change it too much.

I have a fix for `Profiler_FunctionTicks` https://codereview.chromium.org/2465763004

`Profiler_CodeTicks` fails with different optimization counter thresholds (in different ways) because it is sensitive to inlining decisions.

[2016-10-31 22:04] #26214 closed

[2016-10-31 22:09] Hackzzila opened #27709 "Dart Dev Compiler fails to run"
We're sorry, you've found a bug in our compiler.
You can report this bug at:
    https://github.com/dart-lang/sdk/issues/labels/area-dev-compiler
Please include the information below in your report, along with
any other information that may help us track it down. Thanks!
    dartdevc arguments: --dart-sdk=C:\tools\dart-sdk --modules node -o discord.js lib/discord.dart
    dart --version: 1.20.1 (W

[2016-10-31 23:13] alexeieleusis commented on #27704
Thank you!

[2016-10-31 23:39] leafpetersen commented on #26420
Following up here based on some discussion off of the issue tracker.

It looks to me like that there is not broad support for the kind of language changes that could address this in the short term, but rather a preference for one of several more general options that won't be available soon.  I see this as leaving us as two options for the short term:

1) Make `expectAsync` generic over the return

[2016-10-31 23:58] sigmundch commented on #27684
In dart2js we have an internal type that implements Invocation (JsInvocationMirror under sdk/_internal/js_runtime/lib/js_helper.dart), but it is not publicly exposed. One option here would be to add an external factory constructor to `Invocation` (like we do for List) and add code for it on dart2js and the vm patch files. If we so, it would be nice if we can make such constructor private.

I'm cur

[2016-11-01 00:00] jmesserly commented on #27607
@vsmenon are you looking at this? If not I'll grab it tomorrow. In addition to the JS files, we also need to include the corresponding SDK summaries.

[2016-11-01 00:05] vsmenon commented on #27607
@jmesserly it's all yours.  :-)

[2016-11-01 01:34] frank-rollpin opened #27710 "Compiler crash"
Win 10, Dart SDK 1.20.1

@anonymous
@JS()
class GuiEvent {
  external set edges(List v);
  external set event(Event v);
  external set nodes(List v);
  external set pointer(Object v);

  external List get edges;
  external Event get event;
  external List get nodes;
  external Object get pointer;

  String type;
}

The compiler crashed when compiling this element.
class GuiEvent {

Stack trace:

B

[2016-11-01 06:31] Hixie opened #27711 "HttpClient.close dartdocs refer to the method as being called "shutdown""
Last sentence, I'm assuming "shutdown" should be "close".

[2016-11-01 07:24] lrhn commented on #27698
Moving the class to `dart:_internal` works for everything except `observatory/lib/object_graph.dart` which is not considered an internal library so it can't see `dart:_internal`.

[2016-11-01 07:56] jensjoha commented on #27684
For super property get, super property set and super method invocation:

If the target (lets say 'foo') cannot be found, noSuchMethod is called instead: (as dictated by the specs) either a proper noSuchMethod from the super (or supers super etc) saying cannot find 'foo', or if a non-proper noSuchMethod is found (e.g. one taking 0 arguments) Objects noSuchMethod saying cannot find 'noSuchMethod'.

[2016-11-01 08:35] johnniwinther commented on #27700
It already is!

[2016-11-01 08:51] lrhn commented on #26420
On Tue, Nov 1, 2016 at 12:40 AM, Leaf Petersen <notifications@github.com>
wrote:

I concur.

I can't find anything smarter than that.

Even by using configured imports to have a DDC specific version, I can't
see what to put in that version.
/L
--
Lasse R.H. Nielsen - lrn@google.com
'Faith without judgement merely degrades the spirit divine'
Google Denmark ApS - Frederiksborggade 20B, 1 sal - 1360

[2016-11-01 08:56] sgrekhov opened #27712 "One hour error in DateTime substraction for specific date"
co19 tests
co19/LibTest/core/DateTime/add_A01_t02
co19/LibTest/core/DateTime/subtract_A01_t02
fail because of this issue.

[code]
This code produces the following output:

The same result is also observed for the following code:

[code]
Date is correct, but time is shifted by one hour. There is no DST in my timezone, falling on subtracted time.

Tested on Dart VM version: 1.20.1 (Wed Oct 12 15:07:

[2016-11-01 11:36] zoechi opened #27713 "Weird file being generated"
I tried DDC with `bazelify`

[code]

Before I run `bazelify serve` I purged the `~/.pub-cache/hosted/pub.dartlang.org` directory and the `.pub` directory and then run
[code]

(I had to change the `BUILD` file a bit because I didn't have an `web/index.html` but instead a `web/dashboard_layout_demo.html` which was not properly recognized everywhere.)

I don't know where this file comes from. It's no

[2016-11-01 11:44] kmillikin commented on #27684
We will add an external factory constructor (or a top-level function, whichever makes most sense) as @sigmundch suggests, and provide separate VM and dart2js implementations in the patch files.

It will be easier to do that once we've moved everything into the SDK, so we'll wait for that.  We expect that to be a matter of weeks and hopefully only one.

[2016-11-01 12:20] jensjoha commented on #27684
A few notes so we don't forget:

- noSuchMethod shouldn't be called on these tests so this particular bug shouldn't be triggered here.
(For some reason it cannot find "setRange" on a class "NativeTypedArray+ListMixin+FixedLengthListMixin#1").

- Once we get this fixed, we should create baseline tests that actually *should* trigger this.

[2016-11-01 12:56] terrylucas opened #27714 "bot failure vm_connect/element_test"
Skip failing test in Dartium

### ```
value: ERROR: invokes add on click
                      Caught NoSuchMethodError: Class 'TargetRepositoryMock' has no instance method 'find'.
                      Receiver: Instance of 'TargetRepositoryMock'
                      Tried calling: find("ws://host:1234/wsws")
                      dart:core-patch/object_patch.dart 44

[2016-11-01 13:15] alexander-doroshko commented on #27683
'Reanalyze' button is still there. 'Restart Dart Analysis Server' button is removed from the WebStorm's 2016.3 Dart Analysis tool window (cc @devoncarew). Note that the action is still available via 'Find Action'.

[2016-11-01 13:17] bwilkerson commented on #27698
There is also an implementation in the analyzer package.

[2016-11-01 13:31] alexander-doroshko commented on #27688
IntelliJ IDEA does use `relevance` field. Additionally it may bubble up the most frequently (or recently) used items.

[2016-11-01 13:45] alexander-doroshko commented on #27629
WebStorm preserves the order of the quick fixes, as returned by the Analysis Server.

'Suppress error with comment' and 'Suppress error with EOL comment' quick fixes are added by WebStorm itself. I think WS shouldn't add 'Suppress...' actions to the first-level quick fix popup if there are other quick fixes available, but it's a separate questions.

I guess there's some mess in the quick fix order

[2016-11-01 13:57] eernstg opened #27715 "dart2js --minify fails with 'nsm_dispatcher_test.dart'"
Starting from sdk commit 40611dd6111d5cecbd01bec2cf3bb9e2e5fb1e17 and until now (at commit a850b4c977a5b177abe17864006657111d835840), the test `nsm_dispatcher_test.dart` fails as follows (`dart2js` from commits a850b4.. and 406111d.. work the same as 1.21.0-dev.1.0 in this respect).
[code]
Presumably, this test should be marked in the status file to never run with `dart2js`, to run with `dart2js`

[2016-11-01 14:06] frank-rollpin commented on #27710
I have figured out that one of the packages the app was using imported dart:io. Removing that dependency solved the issue.

[2016-11-01 14:24] bwilkerson commented on #27629
Good point; perhaps we need to fix that by adding a 'relevance' measure to quick fixes. It's also possible, though, that it would work well to order them based on the lengths of the ranges. We should also look at the errors and see whether some of them are follow-on errors that should simply be suppressed.

[2016-11-01 15:03] dgrove commented on #27520
After reviewing all of the data, we will make this change for 1.50 .

[2016-11-01 16:00] mehmetf opened #27716 "More null-aware operators"
It would be nice to have a shorthand for this:

[code]

This is the opposite of ```val ?? method(val)``` which only returns method(val) when val is null.

We love the null friendly operators so it bugs me a lot that I can't do this. Normally you would not need it if method can do ?. everywhere but sometimes the shorthand helps. For instance, some operators are not null friendly:

[code]

```value?

[2016-11-01 16:21] DanTup opened #27717 "Negative offset (/0 startColumn) in result from getNavigation in analysis server"
SDK 1.20. Given the following Dart files:

[code]

If I invoke `Go to Definition` on the import line (`main.dart, line 1`) I get the following response:

[code]

The `offset` is `-1` (I believe it should be 0-based) and the `startColumn` is `0` (I believe it should be 1-based).

Is this expected? I think `offset:0` and `startColumn:1` would be the expected response?

[2016-11-01 16:24] lrhn commented on #27681
There actually does seem to be a bug in the VM:
[code]
This prints `false`, and it must print `true`. The expression `"a" + "b"` is a compile-time constant expression and the spec says:

This example shows the value of  the constant expression `"a" + "b"` changing.

Arguably, the spec saying:

does require that the `identical` function cannot distinguish constant strings (the problem is that "cons

[2016-11-01 16:33] natebosch opened #27718 "We should consider a hint/lint for unnecessary type annotations"
As we clean up libraries for strong mode I'm seeing some cargo-cult type annotations getting added because the code matches some pattern where it looked like a type annotation was necessary. The result is a littering of type annotations that would get inferred anyway which makes the code noisier and gives a bad impression of how much manual work needs to be done to satisfy strong mode.

If we have

[2016-11-01 16:49] bwilkerson commented on #27717
No, this isn't expected. Your expectations are correct.

[2016-11-01 16:56] greglittlefield-wf opened #27719 "Closured constants as default argument values don't work on functions with modifiers in the VM"
Default values for optional arguments that come from closured `const` variables don't work on functions with modifiers (`async`, `async*`, `sync*`).

This bug seems to be new in Dart `1.20`, as it was working in `1.19.1`.

This is not an issue for normal functions without modifiers, and not an issue for `const` variables that are top-level or within a class.

It also only occurs on the VM, and not

[2016-11-01 17:02] lrhn commented on #27698
Unless we make the implementation public (e.g., in `dart:collection`) then we can't share the implementation with packages (or the observatory code for that matter).

[2016-11-01 17:10] leafpetersen commented on #27718
Yes, this would be nice.  I've also thought that it might be nice to have a tool (maybe part of an intern project) that would eliminate these.  Kind of a dart format for the types.

[2016-11-01 17:10] bwilkerson commented on #27698
True. That's why I think we should make the implementation public. It's useful for code outside the SDK and it's inefficient to require everyone to have a separate copy.

[2016-11-01 17:28] jacob314 opened #27720 "@JS annotations on top level methods work fine within a library/module but sometimes break across library boudaries"
Repro steps
[code]
always works fine but

[code]

blows up.

I believe the issue is when dependent dart libraries are loaded from summaries vs compiled together so I am assigning it to +jmesserly who might have an idea about the summary issue. If the issue is something else I'm happy to take a look.
Based on conversations at the summit, suspect the general issue occurs other times when summaries a

[2016-11-01 18:00] jacob314 commented on #27720
Already fixed by https://github.com/dart-lang/sdk/issues/27672
:+1:

[2016-11-01 18:00] #27720 closed

[2016-11-01 18:10] a-siva commented on #27527
@crelier

[2016-11-01 19:27] tomas-rokos opened #27721 "SDK 1.20.1 has a regression in Code Completion in WebStorm"
for more details please see https://intellij-support.jetbrains.com/hc/requests/797430

If you are unable to view mentioned request, feel free to contact me. This is serious usability issue with the SDK.

Thank you,
Tomáš

[2016-11-01 19:29] bwilkerson commented on #27717
I wasn't actually able to reproduce the behavior you're seeing, but I'm fairly confident that it should be fixed by https://codereview.chromium.org/2465393003/. Please re-open if the problem persists.

[2016-11-01 19:29] #27717 closed

[2016-11-01 19:29] har79 opened #27722 "Codec.fuse missing some generic parameters."
[code]

The `dynamic` prevents this from taking, e.g., `Codec<T, String>`, when using DDC.
As a comparison, Converter.fuse has generic parameters:

[code]

[2016-11-01 19:35] dustyholmes-wf opened #27723 "Analyzer incorrectly identifying 'always abstract' methods"
When analyzing a class that uses both extends and with, a method defined in both will incorrectly identify if the super implementation is abstract.

The hint received:
[code]

The code:
[code]

The output of executing test.dart:
[code]

[2016-11-01 19:51] travissanderson-wf commented on #27723
+1

[2016-11-01 20:10] lrhn commented on #27698
But then I might want to design the API a little better. Not having a class with static functions is a good start (that's against the style guide).

Maybe make a `Hash` *class* so `jenkinsSmiHash` is an instance of that, and you can easily replace your hash implementation by using another object, instead of just relying on static functions. Something that generalizes to other hash algorithms.

Def

[2016-11-01 20:34] fsc8000 commented on #16500
Polymorphic inlining of native operators and methods that are recognized by the optimizer is now working since a while.

[2016-11-01 20:34] #16500 closed

[2016-11-01 22:16] rmacnak-google commented on #27678
s/strongly/statically/

[2016-11-01 22:32] leafpetersen commented on #27680
This was discussed by the language team earlier this year, and the sentiment seemed broadly favorable.  I don't think we will be able to get to it this quarter though.

[2016-11-01 23:24] eukreign commented on #27599
In the meantime is there a workaround? Is changing which version the analyzer uses a simple config change?

[2016-11-02 00:24] jmesserly commented on #27607
https://codereview.chromium.org/2474523003/

[2016-11-02 00:53] jmesserly opened #27725 "type promotion of upper bound does not work inside closures"
Consider this example:
[code]
The substitution does not happen correctly here. Note the lazy substitution is also unnecessary when it's just `{T/T}`.

[2016-11-02 00:54] jmesserly commented on #27725
this is a loose end from the fix to #27040

[2016-11-02 01:15] #27040 closed

[2016-11-02 01:15] #27210 closed

[2016-11-02 01:17] #27607 closed

[2016-11-02 02:25] #10338 closed

[2016-11-02 02:25] srawlins commented on #25196
This is fixed.

[2016-11-02 06:20] sethladd commented on #23711
Might want to check with @keertip on this one. It's been a while since I've been in the SDK. :)

[2016-11-02 06:59] lrhn commented on #27678
Indeed. I was trying to refer to "strong mode" colloquially, but that sentence actually means something else and it is indeed wrong.

Dart is strongly typed, and always has been. With "strong mode", it's also statically typed (except when the program is dynamic).

[2016-11-02 09:12] fsc8000 commented on #24761
Not reproducible anymore. Likely fixed in the mean time.

[2016-11-02 09:12] #24761 closed

[2016-11-02 09:17] fsc8000 commented on #27459
Forgot to mention this issue. Fixed with https://github.com/dart-lang/sdk/commit/0294f8650d5dab0b786f10fb180e32008a131aae and https://github.com/dart-lang/sdk/commit/0e9d63d034038833413cd32988019258cfa3a0b7.

[2016-11-02 09:17] #27459 closed

[2016-11-02 09:21] fsc8000 commented on #27496
The links above have expired, but this is fixed, right? @rmacnak-google

[2016-11-02 09:26] fsc8000 commented on #27496
Re-labeling this as a language issue. There is nothing VM-specific we can do,  except reducing the overhead of try-catch to as close to zero as possible. The case of empty try-finally is already fixed.

[2016-11-02 09:28] fsc8000 commented on #27496
Undo: Edited wrong issue...

[2016-11-02 09:29] fsc8000 commented on #27274
Re-labeling this as a language issue. There is nothing VM-specific we can do, except reducing the overhead of try-catch to as close to zero as possible (which is a separate issue). The case of empty try-finally is already fixed with the CL above.

[2016-11-02 09:50] eernstg commented on #27681
I think this confirms that the vm ought to consistently detect constant expressions of type `String` and generate code to return the canonicalized result for every such expression every time, in stead of, say, returning a fresh string each time for `"a" + "b"` in that `for` loop. It does require a bottom-up propagated bit in the abstract syntax: for instance, `myRuntimeString + "a" + "b"` associat

[2016-11-02 10:04] lrhn commented on #27274
If you rewrite as:
[code]
it should make the finally code only run when asserts are enabled.

I don't think it's practical to make control flow operations dependent on whether asserts are enabled or not. Asserts should exactly not change anything outside of the assert. Having two different control flows is too big a change between assert/non-assert mode.

(In Dart 2, there won't be a checked mode,

[2016-11-02 10:13] fsc8000 commented on #27274
Note that in the original code, the flag would still be reset even in unchecked mode as long as there is no exception. You'd need to add the opposite of ```assert``` to express this - reset the flag outside the finally, but only in unchecked mode.

[2016-11-02 10:33] lrhn commented on #27274
True, it wasn't clear to me what the intent was, but if you want to clear the flag and you assume that the function call won't throw when not developing, then you need something like.
[code]

[2016-11-02 10:37] floitschG commented on #27274
Alternatively, you could try to use `withX` functions:

[code]

I think that this currently wouldn't be inlined (because of the try/catch), but that's something we could work on.
Obviously, this wouldn't work nicely, if you have lots of different flags, or if the try-body wants to do `return`, `break` or `continue`.

Otherwise, I agree with Lasse: having `assert` influence the control flow is some

[2016-11-02 10:37] #27274 closed

[2016-11-02 12:52] lrhn commented on #27716
It is a pattern that occurs reasonably often. It's worth considering.
It's a "null guard" rather than a "null replacement", similar to the use of the JavaScript `&&` operator in `x && x.foo()` (which is what `x.?foo()` does in Dart) and `x && foo(x)` (which is the case that Dart doesn't have a shorthand for).

"All the good operators are taken!" :)

[2016-11-02 13:07] floitschG commented on #27716
Fwiw, we are considering shortcutting all following member calls, when the first `?.` fails.

That is `o?.foo.bar` would be correct (and not require a `?.` for the second `.` anymore). In that case we should just continue doing this for operators too, and your example could be simplified:
[code]

It wouldn't work for the direct operator case, though: `value / 499`.

[2016-11-02 13:42] lrhn commented on #27716
I personally don't think that extending the reach of the `?.` operation to surrounding operators is viable.

It's *possible*, defining it so that any member called on the result is also ignored (which ends at the point where you use the value itself for assignment or as a function parameter), but I think it will be too confusing.
I can't decide, of the top of my head, what all of the following wou

[2016-11-02 14:28] fsc8000 commented on #24875
We implemented a number of optimizations to improve performance of the layout. Closing this as I see usually less than 5% time spent in the layout method when running layout_bench AOT compiled.

[2016-11-02 14:28] #24875 closed

[2016-11-02 14:32] mehmetf commented on #27716
I would also vote against handling this via extending the reach of ?. operator. I believe it would create readability issues and might lead to more problems than it solves. I like the current explicit way of null guarding.

For instance, people might get comfortable and start writing formulas like ```((val?.toDouble() / 42) * 170).toFloor()```. It isn't clear to me at all how far ?. reaches. I wou

[2016-11-02 15:03] eernstg commented on #27639
The informal specification has been adjusted, and the resulting document is available here: [Feature: Generic Method Syntax](https://gist.github.com/eernstg/4353d7b4f669745bed3a5423e04a453c).

[2016-11-02 15:19] fsc8000 commented on #26149
I think this is fixed now @rmacnak-google . We have a safepoint-scope around the heap verification in VerifyOnTransition() now.

[2016-11-02 15:19] #26149 closed

[2016-11-02 15:24] #24307 closed

[2016-11-02 15:43] abarth commented on #24875
Awesome.  Thanks!

[2016-11-02 15:49] eernstg commented on #25868
Closing this one as a duplicate of #27641 even though that one is newer: It contains additional elements.

[2016-11-02 15:49] #25868 closed

[2016-11-02 15:57] fsc8000 opened #27726 "SIMDBC64: Compiling dart2js with itself crashes with --trace-bailout"
@zanderso @mraleph
Output:
[code]

[2016-11-02 15:59] fsc8000 commented on #27726
Also crashes with 32-bit SIMDBC:
[code]

[2016-11-02 16:07] floitschG commented on #27527
Status update:

I have updated the issue description for more context.
We are still mainly exploring the "how does it look and feel" parts of the syntax (while still paying attention to how the parser should work).

The following CLs show explorations:

https://codereview.chromium.org/2439573003/
https://codereview.chromium.org/2466393002/

[2016-11-02 16:11] floitschG commented on #27502
Status update:
DDC needs to implement support for it.
Strong mode should removed the check.
Assuming that the implementation for DDC works as expected (with no overhead for normal fields), the language team doesn't take any action for 1.50.

[2016-11-02 16:12] zanderso commented on #27726
I remember having problems with `--trace-bailout` without `--no-background-compilation`. Does that make any difference?

[2016-11-02 16:15] floitschG commented on #27529
Status update:
I updated the bug with the open questions.
Not all questions need to be answered for 1.50, but some are necessary.

[2016-11-02 16:19] floitschG commented on #27526
Status update:
I updated the description with a bit more context.

@leafpetersen is assigned to propose rules. Once they are in, we will possibly reassign this bug to make the changes (and/or update the spec).

[2016-11-02 16:30] floitschG commented on #27525
Status update:
This issue is mainly about speccing. We do have a solution, but there is room for improvement. Future changes could result in breakage, and it would be good if we were confident in the solution for 1.50.
This issue might slip for 1.50. Either, we would be stuck with the current (working but not perfect) solution, or we would need to do a breaking change for strong-mode users.

Plan:

[2016-11-02 16:48] floitschG opened #27727 "(...)->void must be a subtype of (...)->dynamic."
Strong mode needs to allow functions that return `void` when a function that returns `dynamic` is expected.

Example use case:

[code]

Ideally, we would like to write `void` in the generic type (or infer it): #27504

While this issue should stand on its own, it decreases the priority of #27504.

[2016-11-02 16:49] floitschG commented on #27504
Status update: we need to do #27727 for 1.50, but can implement this issue at a later point.

[2016-11-02 16:50] floitschG commented on #27500
Status update:
Ideally we would like to spec the rules for 1.50, but no other team should be affected, if this issue slips.

[2016-11-02 16:51] floitschG commented on #20792
Status update:
This is still an accepted feature, but we won't implement it for 1.50.

[2016-11-02 17:10] srawlins commented on #26678
This is fixed, yes? It works for me on bleeding edge.

[2016-11-02 17:29] bwilkerson commented on #26678
It is still marked as failing in the status file, so I assume that it isn't fixed.

[2016-11-02 17:39] eernstg opened #27728 "generic_methods_generic_function_parameter_test.dart contains type errors."
The test `generic_methods_generic_function_parameter_test.dart` in b05f160352cf451a15fd408ded1a9a4c0c6e657a (and in many other commits) uses syntax-only support for generic methods in the vm based on the `--generic-method-syntax` option.

This feature is now being supported more widely, and this causes an issue to surface that may not have affected the vm: That test contains constructs which cause

[2016-11-02 17:59] Hixie commented on #27274
In release mode, will these two code snippets compile down to the same thing?:
[code]
[code]

In practice, sometimes the "flag = false" part is really several lines of code with side-effects, so duplicating them isn't really practical, but if the above snippets do compile down to the same then that certainly makes it less of an issue.

[2016-11-02 18:29] leafpetersen commented on #27727
@bwilkerson @jmesserly There's an analyzer and a DDC component to this, could you each take the respective parts?

[2016-11-02 18:37] fsc8000 commented on #27726
Indeed. This seems to be an issue with --trace-bailout and background compilation.

[2016-11-02 18:39] srawlins opened #27729 "no analyzer warning for passing null to Iterable's firstWhere's orElse"
Not sure how this might be generalized, but take a look at this snippet:

[code]

The first `firstWhere` is a correct implementation, but the second is an easy accident, which results in an exception.

https://dartpad.dartlang.org/a0b43b96664ac071ce84599ed767c4c1

Without great edge-case testing, users may implement an `orElse` as muscle memory for safety, but write `orElse: null` instead of `orEl

[2016-11-02 18:42] bwilkerson commented on #27729
It would probably be better to start with a lint, at least until we know whether there are any false positives.

[2016-11-02 18:46] srawlins opened #57391 "new lint rule for passing null to Iterable's firstWhere's orElse"
(original issue is https://github.com/dart-lang/sdk/issues/27729)

Not sure how this might be generalized, but take a look at this snippet:

[code]

The first `firstWhere` is a correct implementation, but the second is an easy accident, which results in an exception.

https://dartpad.dartlang.org/a0b43b96664ac071ce84599ed767c4c1

Without great edge-case testing, users may implement an `orElse` as

[2016-11-02 19:37] sigmundch commented on #26579
I fixed this a few weeks ago, closing.

[2016-11-02 19:37] #26579 closed

[2016-11-02 19:53] zoechi commented on #27729
AFAIR this is also an issue with `int`, `num`, `double`, `DateTime` `.parse()`

[2016-11-02 20:05] srawlins commented on #26678
oh, i see, the repro command will always succeed if its in the status file 😛  ok fair.

[2016-11-02 20:10] efortuna commented on #27553
Fixed with https://codereview.chromium.org/2471543004

[2016-11-02 20:10] #27553 closed

[2016-11-02 20:11] bwilkerson commented on #27723
https://codereview.chromium.org/2469643003/

[2016-11-02 20:11] #27723 closed

[2016-11-02 20:27] munificent commented on #27650
This is fixed *in the spec*, but have the implementations implemented it? Have we documented it? Written tests?

[2016-11-02 20:28] munificent commented on #23774
Yes, we're going to remove them: https://github.com/dart-lang/sdk/issues/27518

[2016-11-02 20:28] #23774 closed

[2016-11-02 20:29] munificent commented on #23777
Since they were never finished and didn't seem to work out that well, we're removing generalized tear-offs: https://github.com/dart-lang/sdk/issues/27518

[2016-11-02 20:29] #23777 closed

[2016-11-02 20:29] munificent commented on #23776
Since they were never finished and didn't seem to work out that well, we're removing generalized tear-offs: https://github.com/dart-lang/sdk/issues/27518

[2016-11-02 20:29] #23776 closed

[2016-11-02 22:11] rmacnak-google opened #27731 "Several testson DBC failing a IsRegister() assertion"
FAILED: none-vm debug_simdbc64 language/null_test/none
Expected: Pass
Actual: Crash
CommandOutput[vm]:

stderr:
runtime/vm/locations.h: 241: error: expected: IsRegister()

FAILED: none-vm release_simdbc64 corelib/list_unmodifiable_test
FAILED: none-vm release_simdbc64 lib/mirrors/hierarchy_invariants_test
FAILED: none-vm release_simdbc64 lib/mirrors/mirrors_reader_test

[2016-11-02 22:18] rmacnak-google opened #27732 "DBC failing vm/dart/optimized_stacktrace_test in checked mode"

[2016-11-02 22:19] rmacnak-google opened #27733 "DBC failing many_generic_instanceof_test in checked mode"

[2016-11-02 23:27] munificent commented on #27654
@nex3

[2016-11-02 23:28] nex3 commented on #27654
Can you use `dependency_overrides`?

[2016-11-03 01:35] srawlins commented on #10037
I can't find any examples of such one-line JSON files in the SDK any more.

[2016-11-03 05:27] Hixie opened #27734 "Flesh out Converter<S,T> dart docs"
- [ ] The class dartdocs should say what you need to override to implement this class.
- [ ] `Convert.convert` should describe the contract that subclasses are to implement.
- [ ] `Convert.convert` should give an example of how to implement it.
- [ ] `Convert.startChunkedConversion` should describe the contract that subclasses are to implement to have chunked conversion.
- [ ] `Convert.startChunke

[2016-11-03 05:57] Hixie opened #27735 "Dartdocs for StreamController<T> mention non-existent callbacks"
The dartdocs for `StreamController<T>` mention `onSubscriptionStateChange` (paragraph 4), and `onPauseStateChange` (paragraph 5), neither of which seem to exist.

Also the last sentence of the last paragraph is grammatically bogus.

[2016-11-03 06:01] Hixie opened #27736 "StreamController<T> callback docs could be fleshed out a bit more"
In particular:
- [ ] the callbacks should describe their contracts.
- [ ] onCancel should describe what the return value is to be and how it'll be used

[2016-11-03 06:07] Hixie opened #27737 "Mention of DOM streams in Flutter docs for StreamSubscription.pause is confusing"
The docs for `StreamSubscription.pause` say:

I'm not sure what this means, but I presume it doesn't apply to Flutter. We should probably find a way to exclude this comment from dartdocs that are for environments where it doesn't apply.

[2016-11-03 06:11] Hixie opened #27738 "StreamSubscription.cancel docs are unclear about the contract"
The docs for `StreamSubscription.cancel` say:

- That you can return null.
- That you should not return null.

- That the returned Future's value must be null.
- That the returned Future's type is dynamic.

- That the returned Future may complete with an error.
- That the returned Future should not complete with an error.

This makes dealing with this API difficult. Should a consumer expect to han

[2016-11-03 06:13] Hixie opened #27739 "StreamTransformer.bind dartdocs should be fleshed out"
The documentation for `StreamTransformer.bind` says that the pause state should be propagated, but it doesn't say how to handle error events from the incoming stream. Should error events be propagated? Should they be ignored? Should they cancel the output? Are they a valid subject for transformation? What are the best practices for writing transformers?

[2016-11-03 06:20] Hixie opened #27740 "Making a stream transformer involves a lot of boilerplate"
Edit: this comment is wrong, see below.

~~As far as I can tell, the simplest way to write a StreamTransformer is something like this (untested):~~
[code]

~~It seems like the above could be simplified to:~~

[code]

~~...where `FooStreamTransformer` is a subclass of `StreamTransformer` that does all the boilerplate logic.~~

(Alternatively, if the code above is wrong, then the dartdocs for Stream

[2016-11-03 06:40] lrhn commented on #27740
You can use [StreamTransformer.fromHandlers](https://api.dartlang.org/stable/1.20.1/dart-async/StreamTransformer/StreamTransformer.fromHandlers.html) to easily create transformers like this.

Example:
[code]

[2016-11-03 06:48] lrhn commented on #27650
It's also fixed in the analyzer. Since this is entirely a warning issue, that's the extend of the implementation.
There is a test.
It seems dart2js doesn't check anyway, so I ignored it.

[2016-11-03 06:53] Hixie commented on #22382
I guess the message should really be "Class Bar extends abstract class Foo which does not declare a generative constructor and therefore cannot be extended", or something?

[2016-11-03 06:55] Hixie commented on #25874
Turns out this is a duplicate of https://github.com/dart-lang/sdk/issues/22382 which I filed a year earlier.

I discovered this when I ran into this same exception again and Googled the message and found both bugs I'd filed before.

So I've now been completely confused by this same analyzer warning three times in 18 months.

[2016-11-03 06:59] Hixie commented on #27740
Turns out the code I have in the original comment won't work at all because you just can't extend StreamTransformer at all.

The documentation for StreamTransformer:
- [ ] Should explain that you can't extend it.
- [ ] Should explain why you can't extend it.
- [ ] Should explain how to implement a StreamTransformer, e.g. pointing to its fromHandlers constructor.

[2016-11-03 07:07] lrhn commented on #27740
That is reasonable. It's clearly under-documented.
The "why" you can't extend it is simple - it's an interface, it has no implementation to inherit, so there is no reason to extend it.

(The `StreamTransformer` class is really a mistake - it's a single-method-interface so it should just have been a function type, but too late to fix that now).

[2016-11-03 07:09] Hixie commented on #27740
Ah, yes, I was confused by the other classes around here and thought this one had some implementation logic you would want to inherit.

[2016-11-03 07:39] uberolerass opened #27741 "Dartium: array reduce does not respect `initialValue` argument in JS interop"
This problem only seems to manifest itself in a dev context where:

1) Dartium is running in Dart mode
2) The `reduce` function is called in JS on an array which was passed down through JS interop (the `js` package)

In this case the function prototype does not have [the `initialValue` parameter ](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/Reduce) and an

[2016-11-03 08:05] lrhn commented on #27739
It doesn't say anything, because there is nothing special to say - any function from `Stream` to `Stream` can be used. Even the comment about propagating pause is general stream behavior - if you are listening on a stream and don't want new events for a while, pause the subscription until you do.
All events are valid targets for transformation because you can do anything at all. What you do with t

[2016-11-03 08:13] lrhn commented on #27738
Agree.
The problem comes from the original API being a void function, and then later realizing that it makes sense in some cases to have an asynchronous cancel (when you want to wait for the cancel to complete, e.g., before removing the file being read or similar).

It is annoying to have to wait for a future if the cancel is actually synchronous, but that's a problem with async in general.

(The

[2016-11-03 08:59] lrhn commented on #27737
Agree. If anything, it should be a comment on DOM streams, not here.
Unless it has been fixed, the it should just go away.

[2016-11-03 09:45] mit-mit opened #27742 "VM: Mark generalized tear-offs as deprecated"
This is the deprecation step needed prior to committing the desupport tracked in #27518.

We need to warn whenever generalized tear-offs are used saying that the feature has been deprecated and will be removed in a following release.

[2016-11-03 09:45] mit-mit commented on #27742
Assigning to 1.21, the removal will happen in 1.22.

[2016-11-03 09:46] mit-mit commented on #27518
Moving to 1.22 per release discussion, deprecation warning will happen in 1.21 (see #27742).

[2016-11-03 09:47] mit-mit commented on #27519
Moving to 1.22 per release discussion, deprecation warning will happen in 1.21 (see #27742).

[2016-11-03 09:47] mit-mit commented on #27520
Moving to 1.22 per release discussion, deprecation warning will happen in 1.21 (see #27742).

[2016-11-03 09:54] lrhn commented on #27519
We can change the spec before removing the implementation, so I see no problem changing the the spec in 1.21. If anything, removing it from the spec makes it clear that it's on its way out, and only code written before 1.21 can reasonably expect it to be in the language.

[2016-11-03 09:57] mit-mit commented on #27519
Good point, let's do this in 1.21 in conjunction with #27742.

[2016-11-03 10:12] crelier commented on #27527
lgtm with a slight preference for the <- variant.

[2016-11-03 10:13] whesse commented on #27654
I tried using dependency_overrides (for test, in analyzer's pubspec), but it didn't seem to work.  It should be the correct solution - could you try and make it work?  Maybe I just didn't know how.

[2016-11-03 10:17] fsc8000 commented on #27731
I'm looking at this failure: It seems that constants introduced by inlining get:runtimeType cause the crash.

[2016-11-03 10:19] whesse opened #27743 "Add kernel linux builder to waterfall, remove kernel-rasta builders from internal waterfall"
The repository of the kernel recipe dart-kernel will need to change.

@mkustermann

[2016-11-03 11:24] #27731 closed

[2016-11-03 12:24] mkustermann commented on #27743
@whesse  Maybe we could make a new 'kernel' category to make the existing vm category not bigger than it is already.

[2016-11-03 12:28] anders-sandholm commented on #27741
@uberolerass just wondering if this work fine with dart2js?

Not clear if this is a Dartium or dart:js issue - feel free to re-assign.

[2016-11-03 12:43] anders-sandholm commented on #27713
@kevmoo

[2016-11-03 12:52] johnniwinther opened #27744 "dummy_compiler_test is erroneous"
Due to import of 'package:kernel' in dart2js, utils/dummy_compiler_test and utils/recursive_import_test are trying to compile a program with compile-time errors.

This might be the underlying reason for why Dartium now fails on these.

[2016-11-03 12:53] johnniwinther commented on #27744
This might be related to #27441

[2016-11-03 12:54] anders-sandholm commented on #27711
@Hixie good catch. Thanks for filing the issue.
PR for fixing is there.

[2016-11-03 12:57] mkustermann commented on #27743
/cc @kmillikin @mraleph

[2016-11-03 12:58] anders-sandholm commented on #27710
While dart:io admittedly does not make much sense in the context of dart2js, I don't think dart2js should be crashing though.

[2016-11-03 13:02] anders-sandholm commented on #27696
@zoechi thanks for checking and for the dartpad link.

[2016-11-03 13:02] #27696 closed

[2016-11-03 13:52] #27733 closed

[2016-11-03 14:00] fsc8000 opened #27746 "Tests failing with DBC"
FAILED: none-vm-checked release_simdbc64 service/debugger_location_test
FAILED: none-vm-checked debug_simdbc64 corelib/collection_length_test
FAILED: none-vm debug_simdbc64 service/debugger_location_second_test

[2016-11-03 14:53] kevmoo commented on #27711
Fixed in 4682ea995334659c38f435f171e99210b8b4022a

[2016-11-03 14:53] #27711 closed

[2016-11-03 14:54] DanTup opened #27747 "Inconsistent presence of "parameters" property for SETTERs in analysis server completion results"
I had [a bug raised](https://github.com/Dart-Code/Dart-Code/issues/202) with completion not working correctly in Dart Code. I tracked it back to an assumption that a `SETTER` in completion results would always contain a `parameters` property. While trying to trim down the repro, I pasted the offending function into a clean file and invoked completion and the `parameters` property was there, yet in

[2016-11-03 16:06] lrhn commented on #27695
Yes and no.
The problem with accepting more things is that it can also more easily hide mistakes.

[2016-11-03 16:07] alexander-doroshko commented on #27721
@anders-sandholm Code completion is powered by the Dart Analysis Server, I'm changing area to analyzer.

@tomas-rokos Your private conversation with JetBrains support is definitely not visible to others. Please write issue details / steps to reproduce right here.

[2016-11-03 16:39] #25196 closed

[2016-11-03 17:02] bwilkerson commented on #27747
That sounds like a bug to me.

[2016-11-03 17:03] munificent commented on #27650
Groovy, thanks!

[2016-11-03 17:05] bwilkerson commented on #27629
Also, the 'Suppress error with comment' and 'Suppress error with EOL comment' quick fixes should specify which error is being suppressed when there are multiple errors in the same location.

[2016-11-03 17:10] rmacnak-google opened #27748 "standalone/io/file_test failing on Windows"
The test is having trouble finding `runtime\bin\file_test.cc` in a way that also works for app snapshots.

[2016-11-03 17:34] lrhn opened #27749 "Windows Dart.exe causes warning popup about dart file not being executable."
When I run a freshly compiled dart.exe (Win7 x64, VS 2015), on a freshly created dart file, I get a warning popup:
<img width="342" alt="unexe" src="https://cloud.githubusercontent.com/assets/4865287/19977268/5259b4cc-a1f3-11e6-9a61-1deda0c483c1.png">
It's caused by the `LoadLibraryW` call in `Extensions::LoadExtensionLibrary` which is called during startup to attempt to load a compiled snapshot.

[2016-11-03 17:34] johnmccutchan commented on #27749
@rmacnak-google FYI

[2016-11-03 17:49] sethladd opened #27750 "Not seemingly possible to tell the system/analyzer "subclasses must be immutable""
Flutter widgets should be immutable, for both Stateless and Stateful widgets. We don't seem to have a way to tell the system/analyzer that "all subclasses of StatelessWidget and StatefulWidget should be immutable. Please complain if they aren't."

Strawman:

* `@immutable` annotation for class hierarchies that must be immutable
* lint/hint to warn/complain if a non-final field was added to a subcl

[2016-11-03 17:50] alexander-doroshko commented on #27629
Sure, thanks!

[2016-11-03 17:53] Hixie commented on #27739
Just pasting that comment verbatim into the docs would already be a huge improvement. :-)

[2016-11-03 17:59] johnmccutchan commented on #27667
@Hixie Can you provide me a concrete example that you'd like to work?

[2016-11-03 18:11] jmesserly commented on #27707
Hi, I'm not sure if this is DDC related? The message says "Warning from Dart2JS" and the bazel build also seems to be using dart2js "WARNING: dart:mirrors support in dart2js is experimental"? Where is DDC being invoked?

[2016-11-03 18:13] Hixie commented on #27667
Sure. Start from the template Flutter app.
There's a line that says `title: 'Flutter Demo Home Page'`.
Replace that with `title: appTitle` and add a `const appTitle = 'Flutter Demo Home Page'`. Hot reload.
Change the value of the constant. Hot reload.

[2016-11-03 18:13] bwilkerson commented on #27750
This came up in a different context earlier. Here's what I had spec'd out:
[code]

If I recall correctly, the reason it hasn't already made it into the meta package is because I hadn't gotten any confirmation that the definition of 'immutable' that I included above was what was being asked for. If you can confirm that this is the correct definition, then I'll put together the CL to add the annotat

[2016-11-03 18:16] jmesserly commented on #27713
is there a way of triaging bazelify/build issues? this does not look related to DDC itself.

[2016-11-03 18:16] sethladd commented on #27750
That's an excellent place to start. :)

Thank you!

cc @hixie

[2016-11-03 18:25] Hixie commented on #27750
Yeah, just not allowing non-final fields would be a vast improvement over today's status and would prevent most problems.

Ideally, @immutable would take a string argument that was displayed as part of the error message, so that we could annotate `Widget` with a pointer to documentation about how to build widgets specifically.

(Long term we'd love to get deep immutability, but that would be gated

[2016-11-03 18:34] kevmoo commented on #27713
This issue was moved to dart-lang/bazel#68

[2016-11-03 18:34] #27713 closed

[2016-11-03 19:20] nex3 commented on #27654
When I add

[code]

to `pkg/analyzer/pubspec.yaml` and run `pub get`, it completes successfully. If it's not working on the package bots, I think that's probably an infrastructure issue.

[2016-11-03 19:22] jmesserly commented on #27707
I think this is probably a build/bazelify issue so moving to that repo

[2016-11-03 19:22] jmesserly commented on #27707
This issue was moved to dart-lang/bazel#69

[2016-11-03 19:22] #27707 closed

[2016-11-03 19:37] leafpetersen commented on #27639
Are we planning to incorporate this into the formal spec?

[2016-11-03 19:45] leafpetersen commented on #27495
Strong mode currently tries to give warnings on assignments that may cause cast failures on the checked mode VM but not on DDC.  All of the standard Dart subtypes of `() -> dynamic` are also strong mode subtypes, but standard Dart subtypes of `(int) -> dynamic` include `(dynamic) -> dynamic` which is not a strong mode subtype, and so code that ran correctly in checked mode might hit an error on DD

[2016-11-03 19:52] johnmccutchan commented on #27667
https://codereview.chromium.org/2474193002

[2016-11-03 20:01] #27667 closed

[2016-11-03 20:12] johnmccutchan commented on #27667
@turnidge FYI the change in semantics

[2016-11-03 20:59] leafpetersen commented on #27482
Just a quick thought that occurred to me.  Could we just add an extra boolean input to all of the strong mode related tasks that indicates whether we're computing a full result (and hence want to mutate the AST) vs re-computing a flushed entry (and hence don't want to mutate the AST)?

I don't know if there's enough state around to know which case we're in, but if so this might fix this for the sh

[2016-11-03 21:04] jmesserly opened #27751 "allow DDC to compile modules with broken libraries"
from @natebosch

This shouldn't be too hard, but we need to figure out a way to implement the broken library object. Ideas:

* library could be an empty object. That would lead to null values however.
* library could be a proxy that throws when accessed. Requires proxies.
* library getter could throw. Can't export a getter with ES6 modules.
* library could be generated with all top-level APIs it c

[2016-11-03 21:29] stereotype441 commented on #27482
@leafpetersen unfortunately I don't think there's enough state around for us to do that.

Konstantin discussed two other approaches this morning: (a) store a boolean in the CompilationUnitElement to indicate whether type inference has already been done for that unit; if it has, then the next time ResolveUnitTypeNames task runs, it will avoid modifying the element model.  (b) Change the cache flush

[2016-11-03 21:47] jwren commented on #27688
Earlier in the year I was doing exactly this- having the type information be used to either remove suggestions, or to have the relevance changed.  There is a lot of opportunity, especially as no one owns completions as a full time role right now.

[2016-11-03 21:59] zanderso opened #27752 "DDC should never fail when invoked with --help as the only command line argument"
In https://github.com/dart-lang/sdk/blob/master/utils/dartdevc/BUILD.gn at the moment we have to pass:

[code]

to create a snapshot with training data during the SDK build. The default values for the arguments seem to assume that the SDK is already there, but while building the SDK it won't be.

In any case, whether DDC is running in the intended environment or not, `--help` should just work.

/c

[2016-11-03 22:03] skybrian opened #27753 "no type error when one side of a conditional expression is the wrong type"
In DartPad, there is no type error for this code, even in strong mode:

[code]

It seems like it should be an error to assign a boolean to a string.

[2016-11-03 23:10] eukreign opened #27754 "Confusing error with constructors and optional parameters"
I have the following code:

[code]
https://dartpad.dartlang.org/d03416b40588306be9722f72b55fae2a

It produces a strange analyzer error related to optional parameters in constructor:

`This mixin application is invalid because all of the constructors in the base class 'TestRow' have optional parameters.`

Is this expected behavior? Is it not possible to forward to a constructor with optional parame

[2016-11-03 23:15] Scorpiion commented on #27754
Here is an even simpler code example based on @eukreign code, I tried to figure it out on a Dartpad after being posted on slack:

[code]

MyChildClass1 works as expected, MyChildClass2 gets the error.

[2016-11-03 23:16] eukreign commented on #27754
Related:
https://github.com/dart-lang/sdk/issues/17610
https://github.com/dart-lang/sdk/issues/15101

[2016-11-03 23:18] #27748 closed

[2016-11-03 23:40] kevmoo commented on #27752
DDC folks: `pkg/args command_runner` makes this trivially easy.

See https://www.dartdocs.org/documentation/args/0.13.6/command_runner/command_runner-library.html

[2016-11-03 23:41] Hixie opened #27755 "Sealing or watching List objects, or copy-on-write list objects"
In Flutter, we pass lists around but it is a convention that once you have passed a list to an object, you no longer "own" the list and are not allowed to modify it.

Unfortunately, nothing in the language, API, or tooling actually support this, and so it's very easy for our customers to think they are keeping ownership of the list and for them to then run into trouble when either the changes have

[2016-11-03 23:50] vsmenon commented on #27752
Simple fix here:

https://codereview.chromium.org/2473143003/

[2016-11-03 23:53] rmacnak-google commented on #27602
Somewhat related as another source of dialogs: 9dfbd3d2fa4dd9c53f60740fac732b26c16ba00b

[2016-11-04 01:00] jmesserly commented on #27752
@kevmoo -- DDC used to use command runner, but had to move away from it because we don't have any commands. I really liked it, though.

[2016-11-04 01:01] #27752 closed

[2016-11-04 06:20] Hixie opened #27756 "StreamSubscription.pause resumption docs unclear"
It's not clear what should happen if you pass a Future to StreamSubscription.pause and _also_ call StreamSubscription.resume. Does doing one mean you shouldn't do the other?

[2016-11-04 06:51] zoechi commented on #27755
Can't this be solved with https://api.dartlang.org/stable/1.20.1/dart-collection/UnmodifiableListView-class.html ?

[2016-11-04 07:02] Hixie commented on #27756
It seems that _StreamIterator.moveNext assumes that you can call resume() without first calling pause(), so presumably that means the StreamSubscription protocol is that you ignore resume() calls when they would bring the count negative.

[2016-11-04 07:30] Hixie opened #27757 "ProcessSignal.SIGINT documentation"
The dartdocs for ProcessSignal.SIGINT would be a great place to put documentation for how to handle ^C in Dart command-line applications.

[2016-11-04 07:30] uberolerass commented on #27741
@anders-sandholm sorry, my description was not clear enough. It works perfectly when the code is compiled to JS in all browsers I tested (Dartium, Firefox, Chrome, Safari). The issue only appears when running the _Dart_ version in Dartium. But since this is what we do most of the time when developing it's a big issue since it basically means that any JS library that we interop with that relies on

[2016-11-04 08:37] lrhn commented on #27756
That is correct. Calling `pause` increments a pause counter and pauses if the counter was zero, `resume` decrements it if the pause count is positive and resumes when it hits zero. The future is just used as `future.whenComplete(this.resume)`, nothing fancy.

I think the `pause(future)` feature was too speculative. I have never needed it, or seen it used.

[2016-11-04 08:41] anders-sandholm commented on #27741
OK. Thanks for the clarification.

I see that @jacob314 self-assigned this. He is our resident js-interop expert, so @uberolerass you should be in good hands now.

[2016-11-04 08:49] floitschG commented on #27695
There is also a question of consistency: if `substring` allows `-1` why not `[]`. If it works for strings, why not for lists (`sublist`) ...

[2016-11-04 09:10] lrhn commented on #27755
I'm not sure I entirely understand the problem setting.

If you have a list that you can modify, and you pass it to someone else, and then they can modify it, but you can't, then it can't be the same object. You need some kind of protocol to ensure that, and it can't just be using plain modifiable lists that you store and pass around.
That is, you can't talk about an "owner" of an object as anythi

[2016-11-04 09:19] #27722 closed

[2016-11-04 09:22] a14n commented on #27753
I think it's because of implicit casts. `"x" == 3 ? true : "hello"` has type `Object` that can be cast to `String`.

It's reported as error with :

[code]

[code]

[2016-11-04 09:26] uberolerass commented on #27741
Awesome! Thanks guys. FYI we're using Dart 1.20.1 together with Chromium (Dartium) 45.0.2454.104 (64-bit).

[2016-11-04 10:00] whesse commented on #27712
Daylight savings time was observed in 2002 in Russia, and the Windows time routines (and Dart) give exact date-time calculations for dates close to the present year (I think from 1970 onward).  Only for distant dates do they rely on extrapolating the current DST and time zone rules.  According to Wikipedia, the history for Russia is:
Observed DST in 1917-1919 and 1921 (some areas), 1981-2010. 2011

[2016-11-04 10:01] whesse commented on #27712
I would suggest changing the test to one that uses a range only in the summer, or only in winter, to avoid hitting this issue.

[2016-11-04 10:24] mkustermann commented on #23953
@sortie Not sure if the slow down you experience is related to this, but sometimes the kernel traps unaligned access and emulates them which is significantly slower.

[2016-11-04 11:13] floitschG opened #27758 "Runtime error on buildbot"
Fyi: https://build.chromium.org/p/client.dart/builders/vm-mac-debug-simdbc64-be/builds/28/steps/checked%20vm%20tests/logs/stdio

Copying the relevant parts (in case the link goes stale):
[code]

[2016-11-04 11:16] #27474 closed

[2016-11-04 11:25] stevenroose opened #27759 "Add --disable-mirrors flag to dart2js"
With [configurable imports](https://github.com/lrhn/dep-configured-imports/blob/master/DEP-configured-imports.md), it is possible for libraries to test for `dart:mirrors` support. Since [Flutter does not support `dart:mirrors`](https://github.com/flutter/flutter/issues/1150), I think a lot of libraries that rely on mirrors should offer an alternative non-mirrors version with reduced functionality

[2016-11-04 11:28] floitschG commented on #27759
DBC: `--fast-startup` does not support `dart:mirrors`. If you want to experiment with dart2js code that doesn't support `dart:mirrors` you can try that. Since that also comes with some code-size increase it's obviously not a complete solution to your problem.

[2016-11-04 11:41] fsc8000 commented on #27758
Duplicate of #27746. I tried skipping some, but the crashes are flaky. @rmacnak-google has a fix for this.

[2016-11-04 11:41] #27758 closed

[2016-11-04 13:01] lrhn commented on #27753
This is indeed an unfavorable interaction between finding the least upper bound of the conditional expression branches to be `Object` and implicit down-casts allowing `Object` to be assigned to anything.
It is working as the specification says it should.
I hope we'll eventually be able to do better.

[2016-11-04 13:51] evanweible-wf opened #27760 "Dart 1.20.1: malformed type cannot resolve class 'Future'"
I discovered this issue via the [w_transport package](https://pub.dartlang.org/packages/w_transport) when upgrading from Dart 1.19.1 to 1.20.1. All tests pass on 1.19.1, and then without any changes other than upgrading, there are a few tests that fail with the following error:

[code]

---

To start, it helps to understand the structure of the w_transport code involved in this failure.

The main

[2016-11-04 14:06] stevenroose commented on #27759
Is `--fast-startup` a flag for dart2js? I can't seem to find it:
[code]

[2016-11-04 14:31] sigmundch commented on #27759
Ah, good point, it is not a documented flag yet because we were waiting until we had it covered by our test bots, which we do now. We should add the documentation for it. Meanwhile, it is understood by the compiler though, so you should be able to pass it in.

You should be able to see the difference in the output: the flag changes the way code is emitted to use more straightforward JS idioms. It

[2016-11-04 16:50] #26957 closed

[2016-11-04 16:51] #27746 closed

[2016-11-04 16:56] rmacnak-google commented on #27759
FWIW, such a flag should be `--enable-mirrors=false` for compatibility with the VM.

[2016-11-04 17:17] arcas0803 opened #27761 "Pub serve"
When i stop pub serve from terminal it doesn't close the socket, so when i start again it gives me this error:

[2016-11-04 18:15] donny-dont opened #57392 "Lint prefer_final_fields fails for private field modified outside of containing class"
I have a false positive from `prefer_final_fields` when a private field is modified outside of the containing class. This can happen in tightly coupled classes.

[code]

[Real life example](https://github.com/dogma-dart/dogma-source-analyzer/blob/master/lib/src/metadata/enclosing_metadata.dart)

[2016-11-04 19:05] gavinmulligan-wf commented on #15101
Is there any active work being done to address this issue?

[2016-11-04 19:21] scheglov opened #27762 "Linking exception in ExprTypeComputer.compute"
[code]

I was typing `<` in `final Set<` in the code below.
[code]

[2016-11-04 19:31] skybrian commented on #27753
That's unfortunate. I wonder if we should handle this as a special case in strong mode?

[2016-11-04 19:38] scheglov opened #27763 "Attempt to use import prefix as a type argument causes exception"
The code like this:
[code]

Causes the following exception.

[code]

[2016-11-04 19:47] Hixie commented on #27755
Flutter's framework wants you to write code like this:

[code]

The `Row` object uses the list passed into its `children` argument directly. We can't afford to copy it.

This means people can instead do things like this:

[code]

...which will cause all kinds of problems.

We'd like to either make it so it doesn't cause these problems (e.g. copy-on-write lists), or make it so we can catch these ca

[2016-11-04 19:48] Hixie commented on #27755
(Our requirements are that it not make using the framework any more awkward syntactically or any slower in release builds.)

[2016-11-04 20:18] Hixie commented on #26494
For the record, we (Flutter) don't think we need this any more, at least not for now.

[2016-11-04 20:31] stereotype441 commented on #27482
Candidate fix out for review: https://codereview.chromium.org/2480783003/

[2016-11-04 20:37] tomas-rokos commented on #27721
[das_log.txt](https://github.com/dart-lang/sdk/files/572590/das_log.txt)

[2016-11-04 20:39] kevmoo commented on #27760
Does it work when you compile to js?

[2016-11-04 20:40] jmesserly opened #27764 "fix "type check failed" message"
This error message is really bad right now. It includes the entire subexpression which gets crazy if you have a nested function. Furthermore it is not easy to visually parse which type is which.

[2016-11-04 20:45] zoechi commented on #27761
What OS? What Dart version?

[2016-11-04 20:48] evanweible-wf commented on #27760
@kevmoo Yes, looks like it does. Tests pass in Chrome, Firefox, and Safari. So I guess that might narrow it down to a Dartium issue.

[2016-11-04 20:49] kevmoo commented on #27760
@evanweible-wf If we checkout your repository, is there a minimal repo we can run to validate?

[2016-11-04 20:50] jmesserly commented on #27753
@skybrian Indeed! That's covered by https://github.com/dart-lang/sdk/issues/25368

[2016-11-04 21:08] skybrian commented on #27753
Okay, I guess this one is a dup then.

[2016-11-04 21:08] #27753 closed

[2016-11-04 21:12] evanweible-wf commented on #27760
@kevmoo here you go:

https://github.com/ekweible/dart_1.20.1_w_transport_future_bug_repro

If you clone that, you can see the failure by running the test in either content-shell or dartium:

[code]

Running in any other browser, the test will pass:
[code]

[2016-11-04 21:19] a14n opened #27765 "StringSource issue with resolver"
With _Dart-1.20.1_ and _analyzer-0.29.0_.

I have a source_gen generator I want to test. To do that I use StringSource to add content to the analysis context.

With the following code I get errors (with the print at the last line) :

[code]

After trying many things, it looks like the issue come from StringSource. If I replace them with :

[code]

The initial error get away.

See also [the thread

[2016-11-04 21:33] kevmoo commented on #27760
@lrhn @floitschG Would you guys take a look? – also confirmed on `1.21.0-dev.4.0`

[2016-11-04 22:10] lrhn commented on #15101
I'll see what I can do.

[2016-11-04 22:34] lrhn commented on #27755
I see the problem. It's not a problem that can be solved easily. Adding features that allow you to seal an existing object that someone else has created isn't really feasible - list or otherwise (and a feature that only works for `List` seems like a kludge).

In general, if someone passes you an object, you don't get to decide anything about that object. Either you make your own copy of it, or you

[2016-11-04 22:39] Hixie commented on #27755
This doesn't have to be solved with something that affects release-mode runtime semantics. For example, we could have an API that is only enabled in checked mode, like "debugSeal()", which sets a flag which add/remove/etc assert is false. (One could imagine even that you would pass a string to debugSeal and the assertion would use that string if it throws, to make debugging this viable.)

Well, ye

[2016-11-04 22:40] Hixie commented on #27755
To give an example of how this can just be a debug-mode or analyzer-level feature:

We plan on addressing that particular issue with an analyzer lint.

[2016-11-04 23:29] jmesserly commented on #27764
https://codereview.chromium.org/2482573002/

[2016-11-04 23:34] jmesserly opened #27766 "don't issue DOWN_CAST_COMPOSITE when casting from `dynamic`"
This was a useful FYI but we're feeling these ones are often okay, and it creates a lot of annoyance in dynamic code

[2016-11-04 23:34] jmesserly commented on #27766
cc @leafpetersen but I'm gonna take a look because it should be pretty simple

[2016-11-04 23:44] #27482 closed

[2016-11-04 23:52] jmesserly commented on #27766
https://codereview.chromium.org/2477093002/

[2016-11-05 00:00] jmesserly opened #27767 "deprecate library-root flag"
See proposal here:
https://github.com/dart-lang/sdk/issues/27262

[2016-11-05 00:00] jmesserly commented on #27262
I'm tackling library-root in https://github.com/dart-lang/sdk/issues/27767

[2016-11-05 00:04] #27764 closed

[2016-11-05 00:37] #27766 closed

[2016-11-05 04:46] mehmetf opened #27768 "Analyzer FR: Detect when futures are not properly chained"
Consider the following innocent looking code:

[code]

The intent here is to attach multiple callbacks to the same future, not to chain the futures. The correct code is one dot away:

[code]

I was hoping Analyzer can catch cases like this because it knows the method is expected to return a Future<String> and the ```then``` block has no return statement.

[2016-11-05 07:49] Hixie opened #27769 "Stream methods assume that Stream.listen won't call onListen reentrantly"
According to https://www.dartlang.org/articles/libraries/creating-streams:

It's not entirely clear to me what this means (in particular, there's no `StreamController` or `onListen` in the code snippet?), but it seems to imply that it is valid for a `Stream` to call its `onData` handler synchronously from its `listen` method.

However, if one does so, then many of the other methods of `Stream` fai

[2016-11-05 10:16] zoechi commented on #27768
This might help http://dart-lang.github.io/linter/lints/unawaited_futures.html

[2016-11-05 15:33] #10037 closed

[2016-11-05 18:06] b-strauss commented on #27721
I use IntelliJ IDEA and I have the same problem. Dart analysis is horribly slow, barely unusable.

[2016-11-05 19:17] lrhn commented on #27769
It's not as clear as it could be.
This is just a warning about a common mistake - which actually isn't as common any more since people have gotten used to using streams and stream controllers.

Basically, it's saying that the `onListen` callback can be called synchronously, so if you create a stream controller and pass its stream to some other code, your `onListen` can be called at that point. Tha

[2016-11-05 21:31] mehmetf commented on #27768
It seems I need to get used to async/await then, thanks!

[2016-11-05 21:31] #27768 closed

[2016-11-05 21:50] zoechi commented on #27768
it's not hard to get used to async/await :D

[2016-11-06 00:28] lrhn commented on #27768
The problem here is compounded by your function-without-a-return-statement because that still effectively returns `null` and `null` is assignable to `String`. That means that the program isn't doing anything visibly wrong.

[2016-11-06 03:26] #27021 closed

[2016-11-06 03:29] #26723 closed

[2016-11-06 03:32] #26574 closed

[2016-11-06 03:37] #26405 closed

[2016-11-06 03:39] #26338 closed

[2016-11-06 05:19] #25894 closed

[2016-11-06 05:24] #25582 closed

[2016-11-06 06:02] Hixie commented on #27740
It's cleaner to use a class when you have long-lived state (the alternative is jumping through hoops to get the closure to capture the state you want to keep, which can be somewhat ugly). In fact in doing the work I'm doing now, I rather wish there was a class that implemented the fromHandlers stuff so I could inherit from that rather than using fromHandlers...

[2016-11-06 06:11] Hixie commented on #27740
...though I guess since StreamTransformer wants to be re-usable, that doesn't really work here anyway.

[2016-11-06 17:47] DanTup opened #27770 "Analysis server consumes large amounts of RAM and causes machine to become unresponsive"
Original report in [analyzer-discuss](https://groups.google.com/a/dartlang.org/d/msg/analyzer-discuss/bEwWgjkveGo/hpV_50jVCgAJ).

I was converting [a Python repo from GitHub](https://github.com/PyAndy/FootballGame) to Dart as an exercise in testing [Dart Code](https://marketplace.visualstudio.com/items?itemName=DanTup.dart-code) and my machine became really unresponsive. I opened Task Manager (it

[2016-11-06 17:57] bwilkerson commented on #27770
@scheglov It would be interesting to see how this case works under the analysis driver.

[2016-11-06 20:00] kevmoo opened #27771 "If the target directory doesn't exist, give a better error"
dartdevc arguments: --dart-sdk=/Users/kevmoo/homebrew/Cellar/dart/1.21.0-dev.4.0/libexec --modules common -o out/foo.js bin/main.dart
    dart --version: 1.21.0-dev.4.0 (Thu Nov  3 17:24:26 2016) on "macos_x64"
[code]

[2016-11-06 20:06] scheglov commented on #27770
At the moment it fails with the following exception.
[code]
The reason is that we create `ParameterElementImpl` insetad of `DefaultParameterElementImpl`.
I'm looking why this happens.

[2016-11-06 20:30] Aetet commented on #20705
How this issue can be solved with existing tools at dart? Is it possible?

[2016-11-06 20:32] scheglov commented on #27770
Hm... The AST is inconsistent.
This `sorted` is parsed as `ConstructorDeclarationImpl`.
We create `DefaultFormalParameterImpl` with a default value, but with `kind == REQUIRED`.

[code]

[code]

Then, later, when we resynthesize in `factory ParameterElementImpl.forSerializedFactory`, we create `ParameterElementImpl` instead of `DefaultParameterElementImpl`.
[code]

I guess we should use `kind == P

[2016-11-06 21:38] scheglov commented on #27770
OK, I patched parameters parsing. And worked around another bug with `from helpers import select_from_menu` which in Dart we parse as an import directive without a URI, and later have problem to resolve it, so in `SummaryResynthesized.getLibraryElement()` the `librarySource` is `null`.

After this with the new driver everything works smoothly, using `97 MB` of heap.

[2016-11-06 21:57] scheglov commented on #27770
[CL](https://codereview.chromium.org/2477183002) for parameters parsing.

[2016-11-07 07:08] lrhn commented on #27749
Seems fixed to me. Thanks!

[2016-11-07 09:03] sgrekhov commented on #27712
co19 issue created and fixed
https://github.com/dart-lang/co19/issues/82

[2016-11-07 09:03] #27712 closed

[2016-11-07 09:18] anders-sandholm commented on #27721
@mit-mit
@bwilkerson

[2016-11-07 10:03] jensjoha opened #27772 "Observatory crashes when printing."
Using the following program:

[code]

setting a breakpoint on the print line, stepping into the print method (getting into _StringBase._interpolate) printing values ("print values" at the bottom), and clicking on the resulting "= List(2)" gives the following error when running observatory via pub serve:

[code]

whereas clicking on the "values _List (2)" at the top right works fine.

I also get an

[2016-11-07 10:46] lrhn opened #27773 "VM with hot reload crashes on co19 test"
The test co19/LibTest/isolate/ReceivePort/take_A01_t02 crashes often on the reload bot and always on the reload-rollback bot.
See https://build.chromium.org/p/client.dart/builders/vm-linux-release-x64-reload-be/builds/1133/steps/checked%20vm%20tests/logs/stdio

[2016-11-07 11:45] mit-mit commented on #27478
Still repros. @bwilkerson did someone take a peek at this?

[2016-11-07 14:55] johnmccutchan commented on #27773
@lrhn The crash only began after you landed https://github.com/dart-lang/sdk/commit/9ebef9af7c7086a4e0f935b3ebd29aa4e990da91

Please revert your CL and fix the issue.

[2016-11-07 14:56] johnmccutchan commented on #27772
@turnidge

[2016-11-07 14:58] #27749 closed

[2016-11-07 15:02] bwilkerson commented on #27721
@scheglov Can you take a look at this?

[2016-11-07 15:06] bwilkerson commented on #27478
As far as I know, no. Nobody has had a chance to look at it yet.

@scheglov Do you have any ideas?

[2016-11-07 15:12] lrhn commented on #27773
The CL works (it's a 3-line change to library code) and it didn't change internal VM code. The VM doesn't crash when running normally, so this looks more like a bug in the reload code that just happens to now be triggered by this test.
Or, in other words, it's not something I can fix.

[2016-11-07 15:53] ktullavik opened #27774 "Custom NodeValidator refuses mathml elements."
I can not get the validator to accept mathml tags.
Example:

[code]
gives console output:
Removing disallowed element <math> from [object DocumentFragment]
Removing disallowed element <mtext> from math.

The allowElement method just calls allowCustomElement internally so that's not the issue.

[2016-11-07 16:03] lrhn commented on #27519
Landed in 4cb61407a8bbd6050.

[2016-11-07 16:03] #27519 closed

[2016-11-07 16:27] vsmenon opened #27775 "DDC breaks enums with 'name'"
This code:

[code]

triggers this error:

[code]

[2016-11-07 16:35] scheglov commented on #27721
I was not able to reproduce the problem.
When I import `part of myslenkar;` into the corresponding library with the code
[code]
...and I continue typing `Eleme`, I get completion with `Element` suggestion.

[2016-11-07 17:50] johnmccutchan commented on #27773
@lrhn Actually you can address this failure:

[code]

[2016-11-07 17:52] bwilkerson commented on #27750
The annotation is now available in meta (https://codereview.chromium.org/2476673004/). Hints to follow.

[2016-11-07 18:02] sethladd commented on #27750
Thanks!!

[2016-11-07 18:20] jmesserly commented on #27775
taking a look

[2016-11-07 18:22] jmesserly commented on #27771
Should probably just create the directory?

[2016-11-07 18:54] kevmoo commented on #27771
Either one is better than the current story. 😄

I'm fine if we make the user create it – ensures they know where it's going, etc.

[2016-11-07 18:59] fsc8000 commented on #27773
The assertion is too strict here, because it's perfectly fine to have an isolate that does not perform any work. I'd just remove the assert.

[2016-11-07 19:09] munificent opened #27776 "Enforce laziness of deferred libraries in dev_compiler"
As of 8daf4cfb73aa92c035f360832ccc7218e41d79a1, dev_compiler now supports the `loadLibrary()` function on deferred libraries. However, it does not validate that you *call* that before the library is used. This currently runs:

[code]

It would be great if dev_compiler threw an error here. Otherwise, users can iterate on programs that work fine in dev_compiler but fail when a production build is ru

[2016-11-07 19:10] munificent opened #27777 "Actually defer loading deferred libraries in dev_compiler"
dev_compiler supports deferred imports, but the library itself is still eagerly loaded.

It would be groovy if it could hook into some of the module loading APIs and support actually deferring deferred libraries.

[2016-11-07 19:11] munificent commented on #27343
The P1 is done. Filed separate tracking bugs for the other two parts of this, #27776 and #27777.

[2016-11-07 19:11] #27343 closed

[2016-11-07 19:21] scheglov commented on #27478
Actually the highlighting for `columnSpacing` is not missing, it is just different.
All other names of named parameters `appBar`, `body`, `delegate` and `columnCount` are field initializing parameters, so by some reason they are highlighted as **fields**. But `columnSpacing` is highlighted just as a name of a parameter, which it seems is not highlighted much in your IDEA settings. But for me it is

[2016-11-07 19:28] kevmoo opened #27778 "Move logic in ./tool/build_sdk.sh to the SDK build process"
It's a bit brittle to require such a step before committing.

[2016-11-07 19:39] scheglov commented on #27478
https://codereview.chromium.org/2484883002

[2016-11-07 20:00] scheglov commented on #27708
Just as an example how this could harm completion speed.
I typed a single key in a method body.
But we had to spend `284 ms` to reloading `385` linked bundles and relinking `57` bundles.

[code]

[2016-11-07 20:03] scheglov commented on #27478
https://github.com/dart-lang/sdk/commit/f05952303785fc9d130bd1ad92c0ae2d4eedb867

[2016-11-07 20:03] #27478 closed

[2016-11-07 20:13] jmesserly commented on #27778
another benefit is we can delete the checked in ".sum" binary file and the JS files too.

[2016-11-07 20:40] johnmccutchan commented on #27773
@fsc8000 The purpose of the assert is to make sure that the reload bots are actually reloading code. If we removed the assertion the bots might not actually do a reload and still pass.

[2016-11-07 21:04] lrhn commented on #27773
So the problem is that the test is fine, but it's not compatible with the reload-bot testing, so it should just be skipped for those bots?

[2016-11-07 21:13] bwilkerson opened #27779 "No indication of excluded files"
Analyzer provides a way, via the analysis options file, to exclude files from analysis, but there is no indication in the UI that these files have been excluded, leading to confusion (see https://github.com/flutter/flutter-intellij/issues/373 for one example).

There will likely need to be an enhancement to the analysis server protocol in order to communicate with clients the list of files that ha

[2016-11-07 21:15] johnmccutchan commented on #27773
@lrhn Skipped or invoke a bit more code before exiting an isolate.

[2016-11-07 21:20] fsc8000 commented on #27773
Agree, skip it for the reload bots for now.

[2016-11-07 21:21] johnmccutchan commented on #27773
@fsc8000 just reminded me that this is a co19 test. I missed that part. Skipping is the best approach.

[2016-11-07 21:40] a-siva commented on #27496
Is this fixed and can be closed?

[2016-11-07 21:41] fsc8000 opened #27780 "VM SIMDBC: Implement fields guards"

[2016-11-07 21:42] sethladd commented on #27142
Hi @bwilkerson thanks for starting this feature.

Could we add support for checking if the constructs inside of initializer asserts are valid?

See https://github.com/flutter/flutter/issues/5865#issuecomment-255211114 which I read as "surprised that a call to `any` was allowed in an initializer const assert".

We're not confident that we're using this feature correctly until the analyzer warns/hin

[2016-11-07 21:48] fsc8000 commented on #27496
Yes, I think this was failing after enabling the new lazy deopt mechanism, but is fixed now.

[2016-11-07 21:48] #27496 closed

[2016-11-07 21:59] johnmccutchan opened #27781 "GN build rebuilds Observatory excessively"
[code]

Results in Observatory being rebuilt. The gyp build had some hacks which avoided this.

[2016-11-07 22:09] jmesserly commented on #27727
Yeah I can take a shot at this. Shouldn't be too hard.

[2016-11-07 22:11] mhausner commented on #27681
See also issue #25024.

Back when Dart was still Dash, I remember discussions that the language shall not require all expressions that can be compile-time constants to be canonicalized, due to the runt-time cost. You don't want to spend the time to canonicalize every "a"+"b" (xyz+"b", "a"+X.c, ...) for the rare case where it's needed.

[2016-11-07 23:34] abarth opened #27782 "pub makes bogus suggestion about how to depend on package:flutter"
[code]

[2016-11-07 23:34] abarth commented on #27782
The proper way to depend on `package:flutter` is from an SDK source.

[2016-11-07 23:35] abarth commented on #27782
@nex3 @munificent

[2016-11-07 23:42] nex3 commented on #27782
This issue was moved to dart-lang/pub#1467

[2016-11-07 23:42] #27782 closed

[2016-11-08 00:17] #21180 closed

[2016-11-08 00:17] #27574 closed

[2016-11-08 01:04] yjbanov opened #27783 "2.5x frame build performance difference between iPhone 6 and Nexus 5"
Not sure if this gap is expected, but we see that iPhone 6 is 2.5x _faster_ than Nexus 5 at building frame data (should be mostly Dart code), with the iPhone 6 averaging at ~3.3ms/frame and the Nexus 5 averaging at ~8.0ms. This is visible in the `flutter_gallery__transition_perf` and `flutter_gallery_ios__transition_perf` benchmarks.

To reproduce in flutter/flutter:

[code]

The numbers will be s

[2016-11-08 01:54] jmesserly commented on #27775
https://codereview.chromium.org/2488543002

[2016-11-08 02:17] jmesserly commented on #27771
https://codereview.chromium.org/2483753004

[2016-11-08 07:35] lrhn commented on #27681
If we don't canonicalize all compile-time constant string expressions, then we need to make it predictable for users when they are canonicalized and when they are not. Is the VM following a rule or is it more ad-hoc which compile-time string expressions are canonicalized and which are not?
I'm guessing that string literals are always canonicalized, and likely also string interpolations and juxtapo

[2016-11-08 09:54] b-strauss commented on #27721
My issue is related to #25109, I use a forked version of flutter. If I exclude all flutter code and use a simple dummy dart file it works.

[2016-11-08 12:18] anders-sandholm commented on #27761
This issue was moved to dart-lang/pub#1468

[2016-11-08 12:18] #27761 closed

[2016-11-08 14:08] vishnumohan89 commented on #20197
I had this same issue with an element (my-login), this was used inside my-menu element. This my-menu element was used twice. So this in turn, initializes my-login element twice also. I fixed the issue, by using conditional binding.

Hope this helps someone.

[2016-11-08 15:22] vsmenon opened #27784 "ddc loses constness of fromEnvironment constructors"
The following analyzes fine in strong mode:

[code]

In DDC, it fails at compile time with:
[code]

If I run with the `strong.sum` in the SDK (as opposed to DDC's own), DDC is able to compile.  It appears that when we patch and build the sdk and summary, we're losing the `const` for `fromEnvironment`.

[2016-11-08 15:26] vsmenon opened #27785 "ddc should handle fromEnvironment constructors at compile time"
If we compile the example in #27784, we get a runtime error:

[code]

(Note, we normally compute and canonicalize constants at runtime.)

[2016-11-08 15:50] tomas-rokos commented on #27721
I also cannot easily reproduce it in small sample. It probably requires some larger project, also as I mentioned in my JetBrains support chat it works fine in declaring variable in the class context, but doesn't work in method context.

[2016-11-08 17:03] rmacnak-google opened #27786 "sample_extension_app_snapshot_test failing on IA32 Windows"
[code]

[2016-11-08 17:46] kevmoo commented on #25033
@jacob314 😃

[2016-11-08 18:18] #27775 closed

[2016-11-08 18:21] #27771 closed

[2016-11-08 18:24] jmesserly commented on #27784
it ends up busted in gen/patched_sdk `factory bool.fromEnvironment(String name, {bool defaultValue: false}) {` ... I think you just found the first ever bug in the patch_sdk script! :D

bumping because this affects all "external const" declarations in SDK

[2016-11-08 18:28] fsc8000 opened #27787 "Two tests crashing with DBC"
Occurs on the buildbot, but not reliably reproducible.

[code]

[2016-11-08 18:32] jmesserly commented on #27784
it could be something with the `external const factory` as those aren't actually valid in normal Dart code.

[2016-11-08 18:44] fsc8000 commented on #27787
One repro with --optimization-counter-threshold:

[code]

[2016-11-08 18:52] jmesserly commented on #27785
thanks for filing! I am already looking at this as part of 27784.

[2016-11-08 18:57] jmesserly commented on #27785
related https://github.com/dart-lang/sdk/issues/16846

[2016-11-08 19:00] vsmenon commented on #27785
Thanks!  I looked a little into this, but had to move to something else.

I was thinking we'd want to initialize `ConstantEvaluationEngine` with `context.declaredVariables` and use that to compute.

We'd need #27511 as well (everything would just be false/default until then)

[2016-11-08 19:06] jmesserly commented on #27785
Oh lovely, the behavior is undocumented and unspecified: https://github.com/dart-lang/site-www/issues/37

Think I've tracked it down by hunting old bugs and issues. Incidentally this is yet another thing where analyzer-cli has support and DDC doesn't (oh, just saw you noticed this as well) ... even better, it can't be parsed with the standard arg parser(!!) ... brilliant. I may be able to string t

[2016-11-08 19:07] jmesserly commented on #27785
oh and thanks for the note about ConstantEvaluationEngine, hadn't gotten there yet 👍

[2016-11-08 19:16] bwilkerson commented on #27641
I believe that https://codereview.chromium.org/2487583002/ correctly converts errors to hints in the non-strong-mode case.

As far as I know the only remaining step is to remove the flag, so please let me know when doing so is appropriate.

[2016-11-08 19:21] #27787 closed

[2016-11-08 20:27] a14n commented on #27418
https://blog.travis-ci.com/2016-11-08-trusty-container-public-beta/

sudo: false
dist: trusty
[code]

[2016-11-08 20:29] a14n commented on #27418
See also https://github.com/travis-ci/travis-ci/issues/5695#issuecomment-259221773

[2016-11-08 20:50] kevmoo commented on #27418
Just tried this w/ the AngularDart repo

https://travis-ci.org/dart-lang/angular2/builds/174294337

It seems we don't get backward compat – so we need to decide if we're going to jump all the way in.

[2016-11-08 21:08] jmesserly commented on #27785
On AnalysisContext it's context.declaredVariables.define ... I think that should end up being used for constant evaluation if we set up the context correctly

[2016-11-08 21:13] sigmundch commented on #27744
it seems that we are importing 'package:kernel/kernel.dart' in one place, but we might be able to import directly 'package:kernel/ast.dart' instead and get rid of the transitive link to dart:io.

I have a fix out for review here: https://codereview.chromium.org/2485093003/

[2016-11-08 21:13] #27744 closed

[2016-11-08 21:28] leafpetersen commented on #27641
At some point there should be a non-strong mode error when a generic method parameter is used directly in an `is` check (e.g. `x is T`).  Note though that `x is List<T>` is not an error.

This error is just transitional, to ensure that users do not rely on instance check behavior that will differ between strong mode and non-strong mode.

[2016-11-08 21:30] leafpetersen commented on #27501
I believe that support is now at a point where we can start the process of moving this out from under a flag in all implementations and testing it out, probably starting with the SDK.

[2016-11-08 21:34] bwilkerson commented on #27641
Error, warning, or hint?

[2016-11-08 21:36] leafpetersen commented on #27641
It is an error.

[2016-11-08 21:37] leafpetersen commented on #27641
Also note, the error is only in an 'is' check, not in a cast expression ('x as T').

[2016-11-08 21:43] bwilkerson commented on #27501
Is there an order in which the flags should be removed, or should I go ahead and remove the flag from analyzer?

[2016-11-08 21:59] leafpetersen commented on #27501
@eernstg is managing the flag removal, but I believe the plan is to do this as soon as possible.  From my perspective, the only constraint is that all of the flags should be removed atomically with respect to the next roll into google3 (that is, I don't think we should do a roll in which the analyzer supports them without a flag but the VM or dart2js doesn't).

I'd also like to see us do this soon

[2016-11-08 22:10] leafpetersen opened #27788 "Analyzer error for annotations that aren't in scope is confusing"
This code:

[code]

Produces the following error messages:
[code]

Note that the last two make it very clear that something is not defined.

The first error message though is confusing, since it suggests that the problem is that the name used in the annotation might just not be `const`.  The second error message illustrates this: in that case, the name is in scope but is not `const`, but the error

[2016-11-08 23:06] alan-knight commented on #27774
The underlying problem is that the validator has the tag name in upper case and is checking it against the lower case version it's getting from the element. For built-in elements the tag-name does come back in uppercase. This might be as simple as adding a toUpperCase, but validation is tricky, so I'd want to investigate this more carefully.

[2016-11-09 12:03] Jop-V opened #27789 "Dart2JS breaks the HTML5 `Selection.toString()` method"
In both Dart and Javascript, you can get the selected/highlighted text in the browser by calling `window.getSelection().toString()`. However, Dart2JS breaks this. Instead of the selected text, it gives the literal string `Instance of 'Selection'`.

Example Dart code (works in Dartium):

    String selectedText;

    Selection selection = window.getSelection();
    selectedText = selection.toString

[2016-11-09 13:21] anders-sandholm commented on #27789
May be a dart2js thing. If so, please re-assign labels accordingly.

[2016-11-09 13:54] Jop-V commented on #27789
I can't assign labels here..

[2016-11-09 13:58] jensjoha opened #27790 "Core dumped when stepping into new Map on debug build"
Given the following program:

[code]

in observatory: setting a breakpoint on line 2 and continuing to it, stepping into the map creation (getting into Map.Map._fromLiteral), stepping again a few times (getting into LinkedHashMap.LinkedHashMap), next'ing a few times so one is now at the "_InternalLinkedHashMap" part of the link "return new _InternalLinkedHashMap < K, V >();", and finally stepping

[2016-11-09 16:41] bwilkerson commented on #27641
I believe that https://codereview.chromium.org/2479293004/ adds the required error. As far as I know, that's everything except for removing the flag. Please let me know if you know differently.

[2016-11-09 17:00] dgrove commented on #26420
@leafpetersen - any updates?

[2016-11-09 17:01] eernstg commented on #27641
Sounds good! I'll return with more info when we have a robust plan for how to remove the flag in a way that doesn't disrupt google3.

[2016-11-09 17:34] eernstg commented on #27501
We will now get ready to enable this feature in all tools: Every tool team can go ahead and **create a CL** to enable syntax-only generic methods by default, but **keep that CL un-landed** for now. We will land this feature at the same time, and put a bullet into `CHANGELOG.md` about it.

Here's some information about the considerations behind this approach:

It is in fact a breaking change to ena

[2016-11-09 18:12] leafpetersen commented on #26420
We do not plan to add `Function<T>`.  The API will be split into N different calls by arity.

Details here:  https://github.com/dart-lang/test/issues/436

@floitschG is driving this.

[2016-11-09 18:17] crelier commented on #27501
VM changelist: https://codereview.chromium.org/2486943003

[2016-11-09 19:10] rakudrama commented on #27789
@alan-knight Selection.toString() needs to be defined like Location.toString()

[2016-11-09 19:10] crelier commented on #27719
This issue is a duplicate of #27659, which was fixed on Oct 25.

[2016-11-09 19:10] #27719 closed

[2016-11-09 19:18] greglittlefield-wf commented on #27719
@crelier Is this a duplicate? The names don't have to be the same for this issue to occur.

[2016-11-09 19:26] crelier commented on #27719
@greglittlefield-wf If I run your test case, I get "Success!". The error was due to a side effect of parsing the signature twice.

[2016-11-09 19:26] greglittlefield-wf commented on #27719
Awesome, just wanted to make sure. Thanks for double-checking!

[2016-11-09 20:30] bwilkerson commented on #27501
Analyzer CL: https://codereview.chromium.org/2488043002/

[2016-11-09 22:47] crelier commented on #27606
I am not able to reproduce this issue. I will re-enable the assert for signature functions and reopen this if it triggers.

[2016-11-09 23:40] johnmccutchan commented on #27666
https://codereview.chromium.org/2489723003/

[2016-11-10 05:23] abarth opened #27791 "Add typedef void VoidCallback(); to dart:core"
Would it be possible to add the follow declaration to `dart:core`

[code]

I keep needing this typedef and it seems ugly to redeclare it in every package.

Thanks!

/cc @floitschG

[2016-11-10 08:39] Hixie commented on #27425
I've tried changing it to this, we'll see in a few days if it is still broken:

[code]

[2016-11-10 09:07] a14n commented on #27791
The [func package](https://pub.dartlang.org/packages/func) already contains some predefined typedef. [VoidFunc0](https://github.com/dart-lang/func/blob/master/lib/func.dart#L20) in this case.

[2016-11-10 09:16] abarth commented on #27791
I guess I'm a weird duck in that I'm writing code that can't depend on packages.

[2016-11-10 11:57] eernstg commented on #27641
We've got the CLs now, for enabling this feature by default (see #27501).

[2016-11-10 12:04] alexander-doroshko opened #27793 "Regression: code completion sometimes doesn't work in 1.20 and 1.21-dev.5.0"
_Originally reported in [WebStorm's issue tracker](https://youtrack.jetbrains.com/issue/WEB-24120)._

Might be the same as #27721, but here we have reproducible case. Reproducible with SDK 1.20.1 and 1.21-dev.5.0. Works fine with SDK 1.19.

Steps:
- Clone https://github.com/dikmax/md_proc, enable dart support, run pub get
- Open `lib/src/parsers/blockquote_list.dart:37`, wait for analysis to compl

[2016-11-10 12:12] alexander-doroshko commented on #27793
Interesting fact is that code completion works fine while analysis is in progress, but as soon as analysis is complete - no luck any more.

[2016-11-10 13:05] vsmenon opened #27794 "html query_all test is flaky on DDC / chrome canary"
This test occasionally flakes and only on chrome canary:

https://travis-ci.org/dart-lang/sdk/builds/174739421

[2016-11-10 13:06] vsmenon commented on #27794
Oddly, it's got a static error too (at least against the regular SDK):

[code]

This doesn't appear strong mode specific.  @alan-knight do you know if the DDC API is different?

[2016-11-10 13:09] vsmenon commented on #27794
I should note there are also several deprecation hints on the test:
[code]

[2016-11-10 13:40] ajrcarey opened #27795 "Dart analyzer crashes while performing GenerateLintsTask"
Output from dartanalyzer:

[code]

The source file in question:

[code]

If the problem is in the imported annotations package or optional.dart, I am happy to submit those as well.

This is on Ubuntu 16.10 with dartanalyzer 1.20.1. The problem did not occur in 1.19.

[2016-11-10 13:46] ajrcarey opened #27796 "Dartanalyzer hangs processing file"
Dartanalyzer appears trapped in an infinite loop while analyzing the following file:

[code]

(The file is generated automatically, not typed by hand.)

This is on Ubuntu 16.10 with dartanalyzer 1.20.1. The problem did not occur in 1.19.

If it is helpful to provide the imported annotations and enum package, I am happy to do so. (The code predates the inclusion of native Dart enums, so uses an old

[2016-11-10 14:22] daniel-v opened #27797 "DDC - SDK path resolution failure on Windows"
## Try No 1:

I could not execute dartdevc against a single file. This is what I tried (on Win 10):

    dartdevc arguments: --dart-sdk=C:\tools\dart-sdk -o out\ddc_apt.js lib\ddc_apt.dart
    dart --version: 1.20.1 (Wed Oct 12 15:07:45 2016) on "windows_x64"
[code]

The Dart SDK is found properly, it is located at `C:\tools\dart-sdk`.

## Try No 2:

My command was:
`dartdevc -o out\ddc_apt.js --d

[2016-11-10 14:23] bwilkerson commented on #27641
Does that mean that I should commit the CL now, or are we still waiting?

[2016-11-10 14:27] daniel-v commented on #27797
My report could be a duplicate of #27709 .

[2016-11-10 15:47] bwilkerson commented on #27795
Thanks for the report! This issue has been fixed in bleeding edge, but apparently that fix hasn't made it into the latest dev release.

You should probably disable the lint for now, then re-enable it when you update to the next release.

[2016-11-10 15:47] #27795 closed

[2016-11-10 16:39] bwilkerson commented on #27796
Some initial experimentation suggests that this is running into a limit related to the fact that we are using a recursive descent parser. Essentially, each 'if' statement is pushing a new context on the stack and we are probably exceeding the stack depth.

As a work-around, which will also produce more performant code, I would suggest changing your generator so that it generates code that looks mo

[2016-11-10 16:46] ajrcarey commented on #27796
Yes, I can certainly adjust the code generator that produces this file. That's no problem.

However, I wouldn't be so delighted if, every time a version change to the dart analyzer introduced a regression, I had to rewrite my code...

[2016-11-10 16:56] bwilkerson commented on #27796
Sorry, I missed the implication that this is a regression. As far as I can remember, the parser did not appreciably change between 1.19 and 1.20, so it's possible that my initial hypothesis is wrong.

You're absolutely right: you shouldn't need to re-write your code because of bugs in analyzer. I was merely trying to help you make progress without having to wait for the next release.

What I do kn

[2016-11-10 17:02] bwilkerson commented on #27142
I believe that https://codereview.chromium.org/2492633002/ implements the rest of the analysis for this feature. Note that the formatter doesn't yet understand the new syntax.

[2016-11-10 17:03] ajrcarey commented on #27796
I understand. There's definitely no problem in 1.19 as that is what I am using right now (I had to revert from 1.20 because of this problem; I will switch back once I have adjusted the code generator).

If there's a way I can generate logs for you so you can compare the differences between 1.19 and 1.20, I'm happy to do that; I just need some directions.

[2016-11-10 17:07] bwilkerson commented on #27796
Thanks! I appreciate the offer. We do have logging, but nothing quite that fine grained.

[2016-11-10 18:43] rmacnak-google opened #27798 "Checked in sdk is broken on MIPS"
/home/rmacnak/dart1/sdk/tools/sdks/linux/dart-sdk/bin/dart-mips: relocation error: /home/rmacnak/dart1/sdk/tools/sdks/linux/dart-sdk/bin/dart-mips: symbol __gnu_compact_pr2, version CXXABI_1.3 not defined in file libstdc++.so.6 with link time reference

[2016-11-10 18:44] rmacnak-google commented on #27798
This prevents running the test suite. Copying a locally build VM on top of the checked in one works around the problem.

[2016-11-10 18:46] whesse commented on #27798
This looks like a dynamic library version mismatch problem.  What version of glibc and libstdc do you have?  What system are you running on?  We haven't rebuilt mips for a long time, so you are welcome to check in your built version, or send it to me.  Is it mipsle?

[2016-11-10 18:48] eernstg commented on #27641
Keep it back a little bit: We had a lot of things going on today and I haven't yet done the global pre-submit test run. I'll give a heads up when it's done, which should be tomorrow.

[2016-11-10 19:07] rmacnak-google commented on #27798
Debian 8.6, mipsel

gcc --version
gcc (Debian 4.9.2-10) 4.9.2

/sbin/ldconfig -p | grep stdc++
	libstdc++.so.6 (libc6) => /usr/lib/mipsel-linux-gnu/libstdc++.so.6

/sbin/ldconfig -p | grep libc.so
	libc.so.6 (libc6, OS ABI: Linux 2.6.32) => /lib/mipsel-linux-gnu/libc.so.6

I didn't make note of the Debian version I had the last time this worked, but it's possible it stopped working for me due to a

[2016-11-10 19:16] #27781 closed

[2016-11-10 19:43] bwilkerson opened #27799 "Search match has no element"
[code]

[2016-11-10 19:46] bwilkerson opened #27800 "Incremental updater missing end offset"
[code]

[2016-11-10 19:48] bwilkerson opened #27801 "CompilationUnit has no library"
[code]

[2016-11-10 20:46] alan-knight commented on #27794
queryAll is marked deprecated, but "because it's semantics will be changing in the future". I'm not sure what that means, especially because it just forwards to querySelectorAll, which isn't deprecated.

The static error isn't different in the SDK version. I'm not sure what is and isn't allowed. It seems that
`List<Sub> foo = new List<Super>();`
is statically valid but a runtime error. However
`Li

[2016-11-10 20:50] vsmenon commented on #27794
Ahh, I was looking at the wrong version.  It looks like this test has strong mode errors fixed in the DDC copy:

[code]

[2016-11-10 20:53] vsmenon commented on #27794
So, it seems to just timeout, and only occasionally.

See the log here: https://api.travis-ci.org/jobs/174739424/log.txt?deansi=true

It's not terribly informative though.  I think this covers all the recent errors I see here:

https://travis-ci.org/dart-lang/sdk/builds

[2016-11-10 21:00] alan-knight commented on #27794
The test is simple enough that this seems like it might just be a canary bug.

[2016-11-10 21:15] vsmenon commented on #27794
Shall we skip for now?:

https://codereview.chromium.org/2492903002

[2016-11-10 21:44] bwilkerson commented on #24213
Are we leaving the support behind a flag for 1.50, or are we removing the flag?

[2016-11-10 22:16] a-siva opened #27802 "Deleted enum value instances need to become a per enum class deleted sentinel after a hot reload"
Deleted enum value instances could sometimes be retained in the heap as canonical objects after a hot reload but these instances are not in the canonical constants list of the class leading to assertions if we do a strict check of all canonical objects. These enum instances are also in a weird state as their indexes are not valid. It would be more consistent to have all these instances become a pe

[2016-11-10 22:27] a-siva opened #27803 "When top level const variables are reset to the uninitialized sentinel value after a hot reload the old objects needs to become an invalid sentinel"
Currently top level const variables are reset to the uninitialized sentinel value after a hot reload but the old const initial value object could be retained in the heap due to a reference. Closure fields in these objects become new closure objects resulting in the hash value used in the canonical constants table becoming different leading to inconsistencies. It might be more stable to have these

[2016-11-10 22:59] nex3 commented on #27503
I'd love `Async<T>` in the short term and full-fledged union types in the long term.

[2016-11-10 23:05] leafpetersen commented on #27526
We have two proposals, which I'm going to summarize here and solicit feedback on.

[2016-11-10 23:09] sethladd commented on #27142
Thanks for the patch. Cc @munificent to check if there is a formatter issue
to track

On Thu, Nov 10, 2016, 12:02 PM Brian Wilkerson <notifications@github.com>
wrote:

[2016-11-10 23:10] bwilkerson commented on #27142
There is, and we're in the middle of getting the formatter updated.

[2016-11-10 23:11] bwilkerson commented on #27142
(https://github.com/dart-lang/dart_style/issues/522)

[2016-11-10 23:22] johnmccutchan commented on #26883
Related:

https://github.com/dart-lang/sdk/issues/27802
https://github.com/dart-lang/sdk/issues/27803

[2016-11-10 23:36] a-siva commented on #26883
https://chromiumcodereview.appspot.com/2490233004/

[2016-11-10 23:43] rmacnak-google commented on #27802
Another possibility is to clear the canonical bit on deleted enum values.

[2016-11-11 00:13] #26868 closed

[2016-11-11 00:14] johnmccutchan commented on #27802
@rmacnak-google Yes, Siva and I discussed that option too. Our current thinking is that by making it obvious when we are dealing with a deleted enum value it will save us debugging hassle in the future.

[2016-11-11 00:18] whesse commented on #27798
The ldd -v command will show you which versions of the libraries are needed by the dart executable, and which ones you have.  You can check both the checked-in executable and the one you built yourself.  You can also search the missing function name, to see when it was introduced (or discontinued).  The mips bots haven't run for a long time - I'll be building new ones from the toolkits used by our

[2016-11-11 00:29] #26883 closed

[2016-11-11 01:30] Hixie opened #27804 "Moving an enum from one file to another breaks hot reload"
I hugely refactored an application I'm writing, moving a number of classes and enums from one monolithic file to a half-dozen other files. One in particular was an enum "HouseOfRoovesPage" which moved from main.dart to common.dart. When I had no more analyzer warnings, I hot reloaded, and got:
[code]

[2016-11-11 08:34] mit-mit commented on #27518
Marking spec update complete in the checklist up top.

[2016-11-11 09:16] lassedamgaard opened #27805 "Analyzer no longer infers type of final class fields"
In SDK 1.19.1 and several previous minor versions the type of final class fields was inferred. Here's an example from Webstorm, issue is the same in Dartpad:

![screen shot 2016-11-11 at 09 59 42](https://cloud.githubusercontent.com/assets/6475621/20209950/63cc2d5c-a7f7-11e6-859d-7f27a03c0fba.png)

This is no longer the case in SDK 1.20.1 or 1.21.0-dev.5.0:

![screen shot 2016-11-11 at 10 01 10](h

[2016-11-11 11:21] mit-mit commented on #27804
CC @johnmccutchan

[2016-11-11 14:31] johnmccutchan commented on #27804
This is working as intended. We cover the matching semantics in our talk. In Dart it is perfectly legal to have class X in libA and a different class X in libB. So during reload, we have no way of pairing the class X from libA with class X moved to libB. We would need some way for the programmer to specify their intention here.

[2016-11-11 15:10] bwilkerson commented on #27805
@jmesserly Was this intentional, or is this a bug we need to look into?

[2016-11-11 15:12] bwilkerson commented on #27142
The formatter now correctly handles the new syntax as well.

[2016-11-11 15:12] #27142 closed

[2016-11-11 15:20] lrhn commented on #27142
Does it check for the condition being a potentially constant expression in a const constructor?

[2016-11-11 15:23] bwilkerson commented on #27142
I'll double check.

[2016-11-11 17:05] alexeieleusis commented on #27805
This makes me so sad, I even wrote a linter rule...
As a user of the SDK I think this is a bug.

[2016-11-11 17:10] alexeieleusis commented on #27805
The workaround is to add the type annotation?

[2016-11-11 17:16] leafpetersen commented on #27805
This is definitely a bug, though I'm not sure where.  The command line analyzer is definitely inferring a type for that field as of 1.21.0-dev.1.0  - I just tested it.

I also just tried this code in Intellij 2016.2.5 with the same Dart version, and I get completions for all of the expected methods (substring, etc).

I also just tried this code in DartPad, and I also see the completions.

Are you

[2016-11-11 17:19] sethladd commented on #27142
@lrhn : when you said "it" did you mean analyzer or formatter?

[2016-11-11 17:20] a-siva commented on #27803
Another test failure which is a more simple test language/methods_as_constants_test

[2016-11-11 17:21] bwilkerson commented on #27142
Analyzer. The formatter only cares about syntactic errors.

[2016-11-11 17:30] leafpetersen commented on #27805
I updated to 1.21.0-dev.5.0, and I still see no issue.  Here's a screenshot from Intelij 2016.2.5 EAP on MacOS running the 1.21.0-dev.5.0 64 bit showing both the correct completions and an error where I assigned `hest` to a variable of type `String`, which would not show up if inference was not happening:

<img width="882" alt="screen shot 2016-11-11 at 9 27 51 am" src="https://cloud.githubusercon

[2016-11-11 17:32] bwilkerson commented on #27142
I had missed that case. Taken care of by https://codereview.chromium.org/2483213010/.

[2016-11-11 17:51] a-siva commented on #22350
changing owner to terry

[2016-11-11 17:52] a-siva commented on #21194
changing owner to terry

[2016-11-11 18:16] leafpetersen commented on #27526
Proposal 1 (preferred).

Terms: a named type `F` is a "raw type" if `F` is the name of a parameterized type, and no arguments are passed for its parameters.  Example:

[code]

Given a parameterized type `F` with type parameters `T0 extends B0, ..., Tk extends Bk`, a use of `F` with no type arguments is treated as if it were called with a set of explicit type arguments `D0, ..., Dk` which are compu

[2016-11-11 18:21] leafpetersen commented on #27526
Proposal 2 (less preferred)

1) All types used in an `extends` clause must be explicitly instantiated, otherwise it is an error.
[code]

2) Outside of an extends clause, missing type arguments are implicitly filled in with defaults that are computed from the bounds in the following manner:
 - Given a list of type parameters <T0 extends B0, ..., Tn extends Bn>
 - We say that a bound `B` is ground i

[2016-11-11 18:25] leafpetersen commented on #27526
@jmesserly @sigmundch @bwilkerson  @stereotype441 @scheglov @floitschG @eernstg @lrhn @munificent

Feedback on usability and implementation concerns welcome.

Given that proposal 2 is just an extension of proposal 1, it might be worth implementing proposal 2 and testing it against a large corpus to see how many cases are rejected that could be potentially handled by proposal 2.

[2016-11-11 18:25] rmacnak-google opened #27806 "Triage service test failure on app snapshots"
address_mapper_test: CompileTimeError
capture_stdio_test: CompileTimeError
debugger_location_second_test: RuntimeError
dev_fs_spawn_test: RuntimeError
developer_extension_test: RuntimeError
evaluate_activation_test/instance: RuntimeError
evaluate_activation_test/scope: RuntimeError
get_object_rpc_test: RuntimeError
get_source_report_test: RuntimeError
set_name_rpc_test: RuntimeError
vm_restart_tes

[2016-11-11 19:09] devoncarew commented on #25109
Phil did a lot of work here in Q1/Q1; I'm going to close this as the time is much better:

[code]

[2016-11-11 19:09] #25109 closed

[2016-11-11 19:10] Hixie commented on #27804
That's fine, but there's still a bug. The old type was entirely gone, as were all references to it. So it shouldn't have survived the hot reload in any way.

[2016-11-11 19:19] lassedamgaard commented on #27805
@leafpetersen No I definitely do not have strong mode turned on. Is that required for this to work? If so that requirement was introduced in 1.20

[2016-11-11 19:40] bwilkerson commented on #27805
Ah, right. I do vaguely remember now that we changed that behavior. We effectively had two implementations and they were not being kept consistent, so we decided to remove the non-strong-mode implementation. We strongly recommend that folks switch over to using strong mode; it brings a lot of benefits.

[2016-11-11 19:43] Hixie commented on #25109
I agree that it is much better, but it is still very slow.

[2016-11-11 19:44] Hixie commented on #25109
For example. In the 80s, I could compile a ten line Pascal program in milliseconds.  Today, on a raspberry pi, a ten line dart program takes many seconds to analyze.

[2016-11-11 20:10] stereotype441 commented on #27526
I'd be fine with proposal 2 without any further investigation.  If we want to consider proposal 1, then I would want us to first do a trial implementation inside the summary linker to make sure the effect on summaries isn't too onerous.

[2016-11-11 20:16] bwilkerson commented on #27526
I do have a concern with the non-locality of the first proposal, both from an implementation standpoint (I expect you're aware of many of the implementation issues) and from a usability standpoint. It tends to be confusing to users if a change they're making in one library causes errors to appear in other libraries. While I haven't constructed an example to prove that this could occur, it looks li

[2016-11-11 20:46] #27742 closed

[2016-11-11 21:15] johnmccutchan commented on #27804
The old type is probably retained by instances of the old enum class

[2016-11-11 21:22] Hixie commented on #27804
The old type shouldn't have been able to be retained, since there was no way for the code to even refer to it. Is the problem maybe that if I change the type of a field, it doesn't consider that a removal/addition?

[2016-11-11 22:34] dgrove commented on #27727
I'll split this up into analyzer and DDC pieces.

[2016-11-11 22:35] jmesserly commented on #27727
thanks. I don't mind doing both BTW, it's probably pretty simple.

[2016-11-11 22:35] dgrove opened #27807 "Implement (...)->void must be a subtype of (...)->dynamic in DDC"
DDC implementation of #27727 .

[2016-11-11 22:36] dgrove opened #27808 "Implement (...)->void must be a subtype of (...)->dynamic in Analyzer"
Analyzer implementation of #27727 .

[2016-11-11 22:41] dgrove commented on #24215
@a-siva any updates on this?

[2016-11-11 22:47] dgrove commented on #27141
@lrhn can you provide an update?

[2016-11-11 22:54] dgrove commented on #27488
@munificent Can you give an update on this?

[2016-11-11 23:06] jmesserly opened #27809 "support assert in initializer list"
Main issue: https://github.com/dart-lang/sdk/issues/27141
Analyzer change was here: https://codereview.chromium.org/2492633002/

it looks like we need to support the AssertInitializer node.

[2016-11-11 23:06] jmesserly commented on #27141
FYI DDC issue https://github.com/dart-lang/sdk/issues/27809

[2016-11-11 23:55] munificent commented on #27488
I have [a full proposal](https://github.com/dart-lang/dart-lang-evolution/pull/117) that I'm discussing with the language team. I've responded to all of the feedback I've gotten so far.

I'll bring it up at next week's meeting to see if we can move it forward.

[2016-11-12 00:19] #26417 closed

[2016-11-12 05:39] #27732 closed

[2016-11-12 11:28] DisDis opened #27810 "String.substring - very low performance"
I created a mini performance test for String.substring
https://github.com/DisDis/dart_vs_nodejs_substring

Dart VM version: 1.20.1 (Wed Oct 12 22:00:54 2016) on "linux_x64"

NodeJs slice string test

Dart slice (substring) string test

dart ~**450** times slower nodejs.
Observatory [says](https://github.com/DisDis/dart_vs_nodejs_substring/blob/master/cpu_profile.png)

[2016-11-12 16:14] lrhn commented on #27810
V8, used by node.js, has a cheap substring operation for short-lived substrings.  It creates a small object that points into the original string. I believe the substring "slice" is converted to a real string when it's garbage collected, so keeping a lot of substrings alive for a long time will eventually cost anyway, but if it's thrown away immediately, then it's cheap.

The cost of this optimizat

[2016-11-12 18:54] DisDis commented on #27810
@lrhn, I understand it. People porting libraries from nodejs negative talk about performance dart vm. We need a class that supports this behavior or some kind of solution to the problem.

[2016-11-12 23:36] mraleph commented on #27810
We need to see something more complete than microbenchmark - then we can give some solution.

Which library are people trying to port and where is the bottleneck?

@lrhn I don't think slice is ever flattened - so you just have essentially a memory leak.

[2016-11-13 15:00] kingkazuma commented on #25594
I have the same problem with 1.20.1

[2016-11-13 17:30] DanTup commented on #27513
Might this be the same as #27770?

[2016-11-13 18:26] lassedamgaard commented on #27805
OK, I hadn't planned on enabling strong mode yet but it probably makes sense. Regardless of whether this one is fixed or not, it would be awesome if the differences in analyzer capabilities in strong mode vs "weak" (?) mode were documented somewhere, at least for the stuff that doesn't obviously depend on strong mode such as this.

[2016-11-13 18:34] johnmccutchan commented on #27804
@Hixie do you have a small reproduction of this? I'd like to spend some time seeing what is going on inside the VM.

[2016-11-13 19:07] Hixie opened #27811 "'flutter create' lets me create an all-numeric app name, but 'flutter run' fails with such a name"

[2016-11-13 19:15] Hixie commented on #27811
Wow, numeric app names are an issue. pub fails because of the number in pubspec.yaml, flutter fails because of the number if flutter.yaml, adb fails because of the number in AndroidManifest.xml...

[2016-11-13 19:18] Hixie commented on #27804
Sure. Create an app with the following `main.dart` and an empty `test.dart`:

[code]

Now, move the line marked `LINE A` to `test.dart` and hot reload.

I would expect the `_value` field to be considered removed and readded with a new type, and for everything to keep working. Instead I get:

[code]

[2016-11-13 19:47] matanlurey opened #57394 "Too strict: non_constant_identifier_names"
When code (such as but not limited to tests - it's also true for static final fields on a class and real-top level final variables), it's common to define constant-like identifiers as such:

[code]

`non_constant_identifier_names` triggers saying:

[code]

Conceptually however, a `final` is used similar to `const` - things like `Int64`, `RegExp`, etc, do not have `const` constructors - but they ar

[2016-11-13 23:35] pexatus opened #27812 "feature request: support blocking until Future completes"
The class `Future<T>` should have a non-async method `T get()` that waits for the Future to complete and returns its value, similar to the method `get()` in Python's `multiprocessing.pool.AsyncResult` class: https://docs.python.org/2/library/multiprocessing.html#multiprocessing.pool.AsyncResult

The method should be non-async so that it can be called from a non-async function in a way that will bl

[2016-11-14 09:59] lassedamgaard opened #27813 "Analyzer does not infer type of dynamic class fields after typecheck"
For  function scoped dynamic variables the type is inferred inside a block that checks the type. For example
[code]
However this doesn't work for class fields as in the following example:

[code]

[2016-11-14 10:11] Aetet commented on #27810
+1. I have the same type of issue as @DisDis
When porting node.js less to [dart](https://github.com/AdalbertoLacruz/less_dart/blob/master/lib/src/parser/parser_input.dart#L325) instead of using node.js slice - substring function was used.

This function executes too often and has huge impact to performance.

[2016-11-14 10:12] eernstg commented on #27813
This works as designed.

The feature is called _type promotion_ in the language specification, and it is specified to apply to local variables and function/method parameters, but not instance variables, static variables, nor library variables (aka global variables).

The reason why this feature does not generalize to those "more global" kinds of variables is that it is based on an analysis which e

[2016-11-14 10:12] #27813 closed

[2016-11-14 10:15] lrhn commented on #27812
That's not really generally possible with the current execution model of Dart.
Blocking execution waiting for a future to complete will prevent the future from completing since it's being completed by Dart code. Some operations can be performed blocking. That is mostly I/O which is why many functions in `dart:io` has a `Sync` version like [readSync](https://api.dartlang.org/stable/1.20.1/dart-io/R

[2016-11-14 10:15] #27812 closed

[2016-11-14 10:37] mit-mit commented on #27811
@Hixie this sounds like a Flutter, not Dart issue?

[2016-11-14 10:42] MikeMitterer opened #27814 "strong_mode / onPageShow - PageTransitionEvent is not of type (Event)"
[code]
gives me:
[code]

[2016-11-14 10:42] mraleph commented on #27810
@Aetet Is there some canonical benchmark I can run against your code to see huge impact on performance? e.g. if you gives us some less file that compiles 10x slower then we can nail it down.

[2016-11-14 11:26] MikeMitterer opened #27815 "name == ((ActionName) actionname).name; shows expected to find ";""
This simple class:
[code]
Gives me the following error messages:
[code]
It works with `return name == (actionname as ActionName).name;`
(which is also prettier) but in my opinion the above code should also be valid

[2016-11-14 11:27] leafpetersen commented on #27526
This could certainly happen, but I would expect it to be fairly rare.  It can only arise if you have types which refer to each cyclically in their bounds.  This isn't unheard of, but I would expect it to only happen in fairly tightly coupled code.

Given that the 1st is an extension of the 2nd, perhaps it would be worth implementing it and testing it out.  I think that there will be quite a bit of

[2016-11-14 12:50] leafpetersen commented on #26420
Closing as not planned in favor of proposed changes to the expectAsync API.

[2016-11-14 12:51] #26420 closed

[2016-11-14 13:48] MikeMitterer opened #27816 "Don't force the developer to put the "super call" as last function in initializer list (strong_mode)"
Please!!! this looks so ugly!!! super must be first in Java, BaseClass-call must be first in C++ - in Dart it should be the last function - not what we want...

[2016-11-14 14:48] eernstg commented on #27815
It looks like you are trying to use Java-style syntax for a cast. However, the Dart grammar uses `as` for that construct (section 'Type Cast' in the spec) and the Java-style syntax is simply a syntax error, as reported.

[2016-11-14 14:48] #27815 closed

[2016-11-14 14:57] lrhn commented on #27816
If it's only the way it looks that is a problem, I think it is something we can learn to live with.
The reason for wanting to move it last is that it will be executed after the initializer list. Putting it where it is actually executed makes reading and understanding the code easier.

It doesn't have to be that way, we could easily change it to execute before the initializer list, but the current

[2016-11-14 15:20] MikeMitterer commented on #27816
The main reason IS readability!!! I really don't care what the current style is if the current style is bad. As said above - Dart is the only language I know where the super-call is the last function in the initializer-list.

'**Dart should follow the conventions** and not doing it's own business if it's not necessary.

[2016-11-14 15:35] pexatus commented on #27812
Ah, I was unaware of the sync versions of these I/O methods. Thank you for pointing that out.

[2016-11-14 15:51] bwilkerson commented on #27513
Yes, I believe it is. Thanks!

[2016-11-14 15:51] #27513 closed

[2016-11-14 16:12] DisDis commented on #27810
@mraleph.
https://github.com/DisDis/less_dart/blob/opt1/test/benchmark/run.sh
https://github.com/DisDis/less_dart/blob/opt1/test/benchmark/benchmark.less
https://github.com/DisDis/less_dart/blob/opt1/test/benchmark/big1.less

Output:
Benchmark.less
[code]

big1.less
[code]

[2016-11-14 17:21] scheglov commented on #27689
https://codereview.chromium.org/2498873004

[2016-11-14 17:48] vsmenon commented on #27709
Merging with #27797

[2016-11-14 17:48] #27709 closed

[2016-11-14 18:03] johnmccutchan commented on #27804
@Hixie Should LINE A actually be moved up to the enum definition?

[2016-11-14 18:04] Hixie commented on #27804
Uh, yeah, sorry, I'm an idiot. Fixed the snippet.

[2016-11-14 18:07] johnmccutchan commented on #27804
Thanks. This does seem like something we should handle better. @turnidge thoughts?

[2016-11-14 18:15] #57392 closed

[2016-11-14 18:19] Hixie commented on #27811
Wow yes, no idea why I put this in the wrong repo. My bad. I think I've been filing too many SDK bugs at home recently...

[2016-11-14 18:19] #27811 closed

[2016-11-14 18:45] sethladd commented on #27142
Thanks @bwilkerson !

@pq @keertip did this get into the latest roll of Dart SDK for Flutter? Or, will it be in the next roll?

[2016-11-14 18:48] pq commented on #27142
That would be the next roll.

FWIW that's stalled pending #6840 but hope to get that squared away with a little help from the upstream package maintainer.

[2016-11-14 18:51] sethladd commented on #27142
Cool, no worries. Thanks for the update!

[2016-11-14 18:56] leafpetersen commented on #27526
I did a little bit of code search spelunking, and actually didn't find many uses of the obvious culprits.   I think it's worth either implementing proposal 2 and testing it out, or possibly just implementing the "make a raw type in a bound an error" part and testing it out.

[2016-11-14 19:07] scheglov commented on #27689
https://github.com/dart-lang/sdk/commit/b2c94a8a8987f70254232f8b6c837799d0cc3368

[2016-11-14 19:07] #27689 closed

[2016-11-14 20:37] danrubel opened #27817 "analysis options "include" directive"
Enhance the analyzer to support a new `include:` declaration in `.analysis_options` and `analysis_options.yaml` files. The `include:` declaration references another options file using a relative file path or a package:// uri.
[code]
and
[code]
Each option file can have at most one include: declaration referencing a single analysis options file. Circularity between analysis options files is express

[2016-11-14 21:33] #27666 closed

[2016-11-14 23:06] Hixie opened #27818 "BytesBuilder.takeBytes should explicitly provide a Uint8List"
...so that it can be statically proved that you can obtain a ByteBuffer from the result. Flutter is going to be relying on this all over the place. For example, we're going to rely on File.readAsBytes providing a Uint8List. We already rely on the UTF8 decoder actually returning a Uint8List.

[2016-11-14 23:24] sigmundch commented on #25594
I just made a change to make this work with dart2js: as suggested earlier by default you get `packages/` from the initial base url (location.href), but there is a hook to override this by setting the property `defaultPackagesBase` in JS. That should hopefully provide enough flexibility in production.

Note however that this is only implemented in dart2js and it is not yet available in Dartium. So

[2016-11-15 04:19] rakudrama commented on #22640
The JS calls can specify  **throws:null(1)** to indicate that the only way the JS fragment can throw is if the first **#** placeholder is passed `null`.

[2016-11-15 04:19] #22640 closed

[2016-11-15 07:49] zoechi opened #27819 "Create x missing override(s) should not add imports to private files if they are available from public files"
[code]

adds

[code]

instead of

[code]

[2016-11-15 07:51] zoechi opened #27820 "No import quick fix where I expect one"
I would expext an "add import" quickfix like below but here I don't get one

![image](https://cloud.githubusercontent.com/assets/405837/20297353/6e394c7c-ab10-11e6-8949-b02f3e6f5920.png)

![image](https://cloud.githubusercontent.com/assets/405837/20297379/8a47a422-ab10-11e6-8469-27144c15c2e6.png)

I don't know what context causes this. (Annotation, array literal, `const`, ...)

[2016-11-15 09:45] lrhn commented on #27760
The class being mentioned is  `CommonPlainTextRequest&BrowserRequestMixin.abortRequest` which is a class created using a mixin in `w_transport/lib/src/http/browser/requests.dart` as `CommonPlainTextRequest with BrowserRequestMixin`. That library doesn't import `dart:async`.
It *seems* like the VM is messing up the type lookup because it can't find the `Future` class there. The error is reported at

[2016-11-15 11:39] lassedamgaard opened #27822 "Strong mode analyzer complains of handler method with dynamic optional arg but not identical free function"
In the below example the last line produces an error in strongmode but the free function with identical signature does not. It seems to me that that both are valid args to `listen`.
[code]

![screen shot 2016-11-15 at 12 32 49](https://cloud.githubusercontent.com/assets/6475621/20304383/2c7f4122-ab30-11e6-9e7d-f33da253c44f.png)

[2016-11-15 14:33] leafpetersen commented on #27822
This is, unfortunately, working as intended.  Strong mode currently treats concrete functions with `dynamic` parameters (`receive` above) differently from general expressions with a function type for which the parameter is `dynamic` (`listener.receive` above).  This is in order to be able to handle certain coding patterns that were otherwise hard to express, but unfortunately it disallows the `lis

[2016-11-15 14:57] floitschG commented on #27818
This is extremely dangerous. None of these functions promise a `Uint8List`. It could easily be that they return a `const <int>[]` for some empty list here or there.

[2016-11-15 15:12] whesse commented on #27818
It is unclear from your reply whether you mean the proposed change is dangerous, or that the status quo is dangerous, and should be changed so the proposed change is safe.  Could you clarify, and suggest a resolution?

@lrnh

[2016-11-15 15:22] mraleph commented on #27810
I looked into this briefly. It seems that `less_dart` is using `String.substring` to workaround `RegExp` API deficiency: there is no API that allows you to efficiently match regexp anchored at the given position in the input string - you can only anchor at the start of the string. A common (though arguably not the most efficient way) to write lexer in JavaScript is to match tokens using anchored r

[2016-11-15 15:22] bwilkerson commented on #27820
@scheglov

[2016-11-15 15:57] lrhn commented on #27810
Just for the record: [Pattern.matchAsPrefix](https://api.dartlang.org/stable/1.20.1/dart-core/Pattern/matchAsPrefix.html) allows you to pass a start position and tests if the pattern has a matched anchored/starting at that position.
It doesn't have a way to limit the match, though, so if you want a match not ending after a specific position, there is no API for that and you might want to do a subs

[2016-11-15 16:25] jacob314 opened #27823 "Add annotation to configure how libraries generated by DDC are exported to JavaScript."
In DCC, exports are currently resolved and substituted at compile time just like imports. The only re-export exposed to JS is the main() method.

We should add library level annotations specifying that a library should be fully re-exported to JavaScript to give authors the option of fully exporting certain libraries to JS. In the future, this annotation could impact dart2js codegen as well, exposi

[2016-11-15 16:42] jacob314 opened #27824 "Require that main is a method that optionally takes List<String> arguments"
The DartVM supports cases such as

[code]
but there is no advantage of writing that code instead of the simpler
[code]
Worse, defining main as a variable instead of a method is broken in Dart2JS.
We should statically require that
main()
be a function that returns void and that only accepts an optional List<String> parameter as arguments.

[2016-11-15 16:51] daniel-v opened #27825 "Support for long paths on Windows"
I ran into an issue where I could not create/read `FileSystemEntity` on Win, while it worked just fine on other systems. I received 206 Errors. I tracked the issue down to the path being too long, it was more than the default 260 chars.

**System**
Windows 10 x64

[code]
Source: https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx#maxpath

By prefexing the path with `\\?

[2016-11-15 17:10] ClintFarmer opened #27826 "The latest version of Dartium is no longer supported by Webstorm 2016.3"
Webstorm 2016.3 has been released and it has adapted the latest version of Chrome's debugging protocol. Stated [here](https://youtrack.jetbrains.com/issue/WEB-24182), any Chromium version less than 54 will not work for console logging.

[2016-11-15 17:13] leafpetersen commented on #27727
Status: out for implementation.

[2016-11-15 17:15] leafpetersen commented on #27530
Status: in progress.  See subcomponents on generic methods, least upper bound, instantiate to bounds.

[2016-11-15 17:16] leafpetersen commented on #27529
status: not started.

[2016-11-15 17:17] leafpetersen commented on #27527
status: Prototyping several options, @floitschG is driving.

[2016-11-15 17:18] leafpetersen commented on #27526
status: ready for implementation.  I will work with implementers to get proposal 2 implemented, run a pre-submit, and make go/no-go on the extension to proposal 1 based on data.

[2016-11-15 17:19] leafpetersen commented on #27525
status: we should have a final decision this week, then will be ready for implementers.  We are planning a pre-submit run to see if we can successfully eliminate the use of LUB from inference.

[2016-11-15 17:20] leafpetersen commented on #27503
status: language team is ok with the `Async<T>` proposal (possibly with a different name).  @lrhn is writing up the informal spec to be shared for wider feedback and then implementation.

[2016-11-15 17:21] leafpetersen commented on #27501
status: Implementation is almost done, I believe there were some issues with the presubmit.  @eernstg can you update?

[2016-11-15 17:22] leafpetersen commented on #27500
started:  I am working on this in the background, but as noted above, this is purely a spec issue with no implementation dependencies, so lower priority.

[2016-11-15 17:23] leafpetersen commented on #27488
status: We are discussing whether to add a new type or re-target `Null`.  This has some small implications for future migrations, but is otherwise fairly equivalent.  Hopefully decision this week, and then will be ready for implementation.

[2016-11-15 17:23] leafpetersen commented on #27487
status: under discussion.

[2016-11-15 17:25] leafpetersen commented on #27486
status: Deciding between two proposals for syntax.  We aim to have a decision soon, but possibly not this week. @munificent needs to review the latest proposal from @floitschG .

[2016-11-15 17:26] eernstg commented on #27501
Analyzer being debugged (some issues arose in the global pre-submit in google3).

[2016-11-15 17:47] Hixie commented on #27818
We agree that our current code is dangerous, but we don't really have a choice. This is performance-critical code. That's why we'd like the APIs changed to be explicitly always returning raw buffers. It should be a backwards-compatible change.

[2016-11-15 17:50] Hixie commented on #27487
I think if we had true generic methods (i.e. generic methods were at runtime we could inspect the type argument) then we could rewrite this code to not require covariant callbacks.

[2016-11-15 17:59] Hixie opened #27827 "Iterable.where() should be generic and return an iterable with the given type"
The following code is sound but the analyzer can't tell:

[code]

If `where` was defined as `Iterable<T> where<T extends E>(...)` then the above could work (might even work automatically given type inference?).

[2016-11-15 18:01] pq commented on #27827
cc @bwilkerson

[2016-11-15 18:13] alexeieleusis commented on #27827
I have had to deal with this issue too, but `where` is about predicates, not types, how should it behave when the predicate is not a test for a type?

[2016-11-15 18:15] Hixie commented on #27827
presumably if you don't give the type explicitly, it would just return an `Iterable<E>`. (Maybe it would have to be annotated with `@optionalTypeArgs`?)

[2016-11-15 18:35] devoncarew commented on #27826
This is also tracked as https://youtrack.jetbrains.com/issue/WEB-24182.

[2016-11-15 18:56] zoechi commented on #27824
That means `async` can't be used on `main()` anymore because it returns `Future`?

[2016-11-15 18:59] ajrcarey opened #27828 "Dart analyzer interprets type hierarchy differently depending file structure"
Not sure if you folks like to receive issues submitted against dev sdk builds, but here we go...

SDK 1.21.0-dev.6.0 running on Ubuntu 16.10

Strong mode on

Consider the following type hierarchy:

[code]

Dart analyzer interprets this correctly and marks no errors, which is good.

If I then move the definition of, e.g., class D out of this file and into another file that is then imported using an

[2016-11-15 19:15] ajrcarey commented on #27828
(Here's another example of the same thing. Consider this type hierarchy:

[code]
As you can see, this one comes from a real-world example. Again, if everything is in the same file, Dart analyzer 1.21.0-dev.6.0 reports no problems.

Moving out class Ss into another file that is then imported back in raises problems with classes Rr and Vv, where the "implements Ss<M, C>" is marked in both cases with

[2016-11-15 19:50] jwren opened #27829 "Bogus const warnings, when variables are const"
False positive on B_STR below: Const variables must be initialized with a constant value.

const A_STR = 'str';
const B_STR = A_STR + 'b';

These then propagate through to create additional warnings such a "Const maps must only have const values.", etc

[2016-11-15 19:59] jwren commented on #27829
This is with version: 1.21.0-dev.3.0

[2016-11-15 20:23] lrhn commented on #27827
I'd rather add a new method to do type-filtering, like `Iterable<T> Iterable.of<T>()`.
The `where` is used for many other things, and doesn't generally need the type parameter, even if it's declares as `<T extends E>` so we have a good default if it's omitted.

(I don't know what `@optionalTypeArgs` is, but I can assure you that it won't be in the platform libraries) :)

[2016-11-15 20:30] Hixie commented on #27827
I'd be totally on board with `.of<T>` too. :-)

(`@optionalTypeArgs` lets you enable the `require all type annotations` lint but still have some type annotations be optional. The platform libraries will presumably have to add it anywhere they declare a generic type where sometimes it makes no sense to give a type. For example, the Flutter framework uses it for GlobalKey, since the type argument on

[2016-11-15 20:51] devoncarew commented on #27829
@bwilkerson, can you take a look (or triage appropriately)? Thanks!

[2016-11-15 21:01] bwilkerson commented on #27828
Yes, we're happy to get reports based on dev builds. We're even happy to get reports about behavior on bleeding edge.

[2016-11-15 21:18] kevmoo commented on #23320
Tests have been updated by @a-siva https://github.com/dart-lang/sdk/commit/b2f3bb6711208346245cd334f54d4472dd443ad0

It'd be great if we could get some improved documentation here.

[2016-11-15 21:39] dam0vm3nt commented on #27673
@jacob314 , @jmesserly any news on this one ?

[2016-11-15 21:41] jwren commented on #27829
Update from Paul and myself- this is an elusive bug.  Paul had an idea of what CL (post the current SDK version number) I tried it and out and issue was gone, but when we switched my IJ back to the current stable SDK where I had seen it, the issue had also gone away.

[2016-11-15 21:51] fsc8000 commented on #27651
https://codereview.chromium.org/2507493003/ improves the error message: e.g.

[code]

[2016-11-15 22:15] #27802 closed

[2016-11-15 22:30] sigmundch opened #27830 "global inference regression on super setter call"
commit 37afcd5197bb408a4fbfc76bb8fb521ddbb1ca25 added a regression in how we do inference of super-setter calls. We seem to be treating them as calls rather than assignments.

Here is a small repro with a couple examples:
[code]

_z is inferred correctly because we assign it's value directly without using the result of the super-setter invocation. `_x` and `_y` have a similar issue, `_y` illustrat

[2016-11-15 22:46] sigmundch commented on #27830
fix available here: https://codereview.chromium.org/2508513003/

[2016-11-15 23:05] rmacnak-google commented on #26376
I think these failures are only Android-specific, not Android+AOT-specific.

[2016-11-15 23:07] jmesserly commented on #27673
wish I could help, but this is @jacob314 's area.

[2016-11-15 23:20] #27651 closed

[2016-11-15 23:41] kevmoo commented on #21504
CC @kasperl

[2016-11-16 00:09] rmacnak-google opened #27831 "Enable pause command for AOT"
It's often useful to pause the program when using the CPU or heap profilers.

[2016-11-16 00:21] #27830 closed

[2016-11-16 00:21] kevmoo opened #27832 "delete pkg/dart_messages"
Unified frontend FWT!

[2016-11-16 01:11] jacob314 commented on #24874
I've tried it with BabylonJS. The output looked pretty good and the small example I tried worked.

[2016-11-16 07:13] xvrh opened #57395 "invariant_booleans false positive"
[code]

The lint seems to think that the `innerFunction` is part of the flow.

Dart 1.20.1

[2016-11-16 09:00] pinnisi opened #27833 "Dart analyzer always performs full project rescan"
I have a very large dart project (about 1600 .dart files growing), every time I make a little change in a file analyzer seems to perform a full project scan, slowing my work a lot.

I have Dart 1.20.1 with latest webstorm

[2016-11-16 09:36] unicomp21 commented on #24874
Thanks Jacob!

[2016-11-16 14:09] whesse commented on #27825
There are disadvantages to automatically prepending \\?\ to paths.  I think it disables support for symbolic links and/or ".." to move up a directory, so this would be unexpected.  I think new versions of windows are removing the path length restriction on normal paths, so this may be the better fix for the issue.

[2016-11-16 15:33] daniel-v commented on #27825
@whesse I am using 10 and the 260 path length restriction still applies on this machine (was a clean install, not an upgrade).

[code]

Opting in happens through regedit or
`The registry key can also be controlled via Group Policy at Computer Configuration > Administrative Templates > System > Filesystem > Enable NTFS long paths.`

In either case, I have to do something about it manually.

I'll ma

[2016-11-16 15:45] whesse commented on #27825
It says in the documentation that it does disable .. and . and also the use of '/' instead of '\'.  Especially the last is a problem, and it also says that it only applies to absolute paths, not relative paths.  So it seems clear we cannot add //?/ by default, because it would cause unexpected behavior for users.

MSDN says:
"These prefixes are not used as part of the path itself. They indicate th

[2016-11-16 16:37] floitschG commented on #27527
Latest proposal:

[code]

- works nicely with the current `Function` type.
- very similar to the existing parameter types. Hopefully this also means that the parser can reuse parts of the parameter code.
- longer than `<-` or `->`.

Here is a CL that experiments with it: https://codereview.chromium.org/2482923002/

Note: we would still allow `Function(int x)`. However, `Function(int)` should be a

[2016-11-16 16:38] Adamovskiy opened #27834 "GraphicsElement#offsetWidth causes exception when compilled to js"
Example:
[code]
in Dartium works fine, but in Chrome (54.0.2840.98) and Firefox (49.0.2) throws

    at Object.wrapException (http://localhost:8080/main.dart.js:2780:17)
    at Interceptor.round$0 (http://localhost:8080/main.dart.js:998:17)
    at GraphicsElement.get$offsetWidth (http://localhost:8080/main.dart.js:10107:35)
    at Object.J.get$offsetWidth$x (http://localhost:8080/main.dart.js:1813

[2016-11-16 16:58] mraleph opened #27835 "Stress reload mode causes flaky crashes on the negative tests with compile errors"
The following tests are now crashing on the vm-linux-release-x64-reload-be:

language/override_field_method5_negative_test
language/override_field_method2_negative_test
language/override_field_method1_negative_test
language/override_field_method4_negative_test

This tests contain compile errors - but when runtime wants to throw `CompileError` we hit stack check in the constructor and attempt to re

[2016-11-16 17:27] floitschG commented on #27816
Java has the super call first, but they also run into issues because of this:

[code]

This program prints "0". This means that the *final* field `fin` has two values: `0` and `499`. Dart fixes this, by ensuring that all (final) fields are initialized before they can be accessed. This implies that all fields  must be set before the super-constructor body can be invoked.

The current semantics allo

[2016-11-16 17:27] #27816 closed

[2016-11-16 17:47] matanlurey opened #27836 "Js-Interop: Not possible to get raw error event from window"
I'm prototyping a Zone-free alternative to a global exception handler for Angular Dart.

(https://github.com/matanlurey/error_handler)

In the VM and Dartium, I'd use `runZoned(startAppFn, onError: (e, s) { ... }` in `main`.

However, in DDC and dart2js, I'd like to use `window.addEventListener('error')`:

https://blog.sentry.io/2016/01/04/client-javascript-reporting-window-onerror.html:

- Doesn'

[2016-11-16 18:00] alan-knight commented on #27836
For option 1, the error property is typed "any" in the IDL, so it isn't clear to me that it would always be an Error object. But I also don't find an Error interface. It's possible that you could define an Error class via JS interop and cast to that, but I'm not sure about that.  @jacob314 for JS interop options.

[2016-11-16 18:11] dgrove commented on #27836
/cc @floitschG

[2016-11-16 18:19] sethladd commented on #27750
Once the analyzer can provide hints for this annotation, please ping https://github.com/flutter/flutter/issues/6892 and we'll give it a whirl. Thanks!

[2016-11-16 18:19] mraleph commented on #27810
Review for faster `RegExp.matchAsPrefix` is [in flight](https://codereview.chromium.org/2510783002/). After that I will gradually upstream my patches for `less_dart`.

@DisDis / @Aetet I suggest we rename this issue to "`less_dart` is 10x slower than `less.js`" if this is the case you _actually_ care about.

[2016-11-16 18:37] crelier commented on #27527
I do not like this latest proposal. The name Function is promoted to some kind of keyword used for parsing. Also, Function is not declared to be generic, therefore, using it to declare a non-generic typedef for a generic function will look like an error.

[2016-11-16 18:39] kwalrath commented on #26770
cc @jacob314, @Sfshaza

Mentioned in Nathan's article [Creating a Dart-to-Javascript interop library](https://medium.com/@thebosz/creating-a-dart-to-javascript-interop-library-c97da204c34a#.3e08zphv5).

[2016-11-16 18:58] jmesserly commented on #27785
https://codereview.chromium.org/2503803004/

[2016-11-16 18:58] jmesserly commented on #27784
https://codereview.chromium.org/2503803004/

[2016-11-16 19:13] daniel-v opened #27837 "dart:core Uri breaking on Windows"
Quickly reproducible:

[code]

**Error:**
[code]

While one would not want to create a Uri from `some_package_name|test/some_file.dart` it is often passed by transformers. One affected package that passes such uri string to the constuctor is analyzer via `intl_translation` package.

Stack trace for that:

[code]

I consider this *critical* as I keep running into this.

[2016-11-16 19:42] zoechi commented on #27837
I assumed that this form (`'some_package_name|test/some_file.dart'`)  is just how it's printed in some error messages or similar.

I'd expect it to be new
[code]

[2016-11-16 20:20] #27784 closed

[2016-11-16 20:20] #27785 closed

[2016-11-16 20:30] daniel-v commented on #27837
Unfortunately, the situation is not that simple.

What I got so far debugging is that the `fullName` parameter in this line of the analyzer package looks just like what I wrote.
https://github.com/dart-lang/sdk/blob/master/pkg/analyzer/lib/src/string_source.dart#L30

So the Uri constructor in fact receives a String that follows the format of: `some_package_name|test/some_file.dart`

I tested this

[2016-11-16 20:37] crelier commented on #27606
Ryan provided steps to reproduce:
./out/DebugIA32/dart --snapshot=out/DebugIA32/gen/dartanalyzer.dart.snapshot --snapshot-kind=app-jit ./pkg/analyzer_cli/bin/analyzer.dart --dart-sdk=/usr/local/google/home/regis/dart1/sdk/sdk ./pkg/analyzer_cli/bin/analyzer.dart

Fix on its way.

[2016-11-16 20:40] zoechi commented on #27837
Have you tried the format I posted?
I may miss something but `'some_package_name|test/some_file.dart'` is not a known URI format, at least not to me.

[2016-11-16 20:41] srawlins opened #27838 "analyzer won't promote type arguments in "is"?"
[code]

([dartpad](https://dartpad.dartlang.org/8fbdfb4c33a10f53155e0efa8c54a4af))

yields: _"The argument type 'T' cannot be assigned to the parameter type 'B'."_ (INFO on normal mode; WARNING on strong mode) on line 5.

But shouldn't `item` have been promoted from a T to a B at this point?

[2016-11-16 20:58] bwilkerson commented on #27838
Not according to the current version of the specification. Type promotion only occurs if the right operand of the is-expression (in this case `B`) is more specific than the static type of the left operand (in this case `T`). But `B` is not more specific than `T`, so type promotion doesn't occur here.

[2016-11-16 21:01] srawlins commented on #27838
Ah, interesting. You say "current version", like maybe this concept will change for Strong Mode? Or no?

[2016-11-16 21:37] mkustermann opened #27839 "Assertion on debug-ia32-linux in pkg test"
When running the pkg tests at commit e2a08259e9056a393300c018ddbc72c0a28e6239 I hit the following crash:

[code]

/cc @fsc8000

[2016-11-16 21:42] leafpetersen commented on #27838
I believe that @jmesserly landed an improvement to strong mode promotion that makes this work, but this hasn't rolled to dartpad yet.

[2016-11-16 23:25] daniel-v commented on #27837
No, I have not. The reason why I did not do that is because the Uri constructor receives the path in such a format. It works fine on linux and fails on windows (which is why I feel it painful).

I spent some more time trying to figure things out. Here is some code that can help with the reproduction. Please try it on Linux and Win to see the difference.

https://github.com/daniel-v/transformer_rep

[2016-11-17 00:48] jmesserly commented on #27838
indeed, this example appears to work when I try it out in a local build.

[2016-11-17 00:49] bwilkerson commented on #27838
I only mean that the language is still evolving and I don't know what the future will hold.

Is promotion different in strong mode, or is it just the notion of "more specific than" that's changed?

[2016-11-17 00:54] jmesserly commented on #27838
promotion is different in strong mode. See tryPromoteToType in type_system.dart. In this example, we can promote "item" from "T" to "T extends B". We also removed the exclusion about promoting from dynamic. I don't remember if there were other improvements.

[2016-11-17 00:57] bwilkerson commented on #27838
@leafpetersen I assume you'll work with the language team to get those differences into the strong mode spec.

[2016-11-17 00:58] jmesserly commented on #27838
that's the plan, yes :)

[2016-11-17 01:22] johnpryan opened #27840 "DDC dart-jsinterop-quill example can't watch for files"
**SDK version:** 1.21.0-dev.6.0
**Platform:** MacOS 10.12.1
**Bazel release:** 0.4.0-homebrew
**Node version:** 7.1.0

Running https://github.com/vsmenon/dart-jsinterop-quill with the provided instructions did not perform the incremental compilation as expected.  `tool/watch.dart` did not seem to pick up the changes to the filesystem in order to trigger a bazel recompilation.

Running Webpack seem

[2016-11-17 01:28] #57385 closed

[2016-11-17 03:22] a-siva opened #27841 "vmservice server needs to bind and listen on systems where only IPv6 is supported (IPv4 disabled)"
By default the vmservice server binds and listens on 127.0.0.1 which is localhost for IPv4
we need to bind to both 127.0.0.1 and ::1 on the same port number in order to serve
on systems setup either for IPv6 or IPv4.

[2016-11-17 06:51] parren-google commented on #27153
I have since a while now. Just tried with strong mode, and cannot repro the problem.

[2016-11-17 07:24] kasperl commented on #27840
/cc @vsmenon

[2016-11-17 08:43] davidmorgan opened #27842 "Support highlighting reassigned local variables in IntelliJ"
For Java, IntelliJ offers color/font/highlighting for local variables based on whether they are ever reassigned.

(Settings->Editor->Colors & Fonts->Java, Variables->Local variable, Variables->Reassigned local variable).

Please add equivalent support for Dart.

Reasoning: some (me included!) currently write "final" instead of "var" where possible to highlight what can be reassigned. The IDE shoul

[2016-11-17 09:18] dikmax opened #57396 "parameter_assignments crashes"
Dart 1.20.1
Linter 0.1.29

Stack track:

[code]

[2016-11-17 09:24] MikeMitterer commented on #27816
:+1: :ok_hand: + Thanks!

[2016-11-17 09:30] leafpetersen commented on #27838
Yes, I am working on getting all of the details of strong mode specified.  Priority so far this quarter has been resolving all of the issues that still require implementation work, but I'm hoping to be able to spend more time on this soon.

[2016-11-17 09:56] Adamovskiy opened #27843 "Incorrect behavior when setter and static method has the same name"
In specification 10.7:

a setter named n =.

But this code
[code]
causes no warnings, even in strict mode, and prints `static`. But dart2js fails with error `Duplicate definition of 'bar'`.

[2016-11-17 10:14] lrhn commented on #27837
The problem is that the string `some_package_name|test/some_file.dart` is not a valid *file name* on Windows. The `Uri.file` constructor with Windows semantics rejects paths with segments that contain any of the characters `"*/:<>?\|`, so this gets rejected for both `/` and `|`.

On non-Windows, only the character `/` is rejected in segments, and since the input path is split on `/`, that can't ha

[2016-11-17 10:14] #27837 closed

[2016-11-17 11:01] eernstg commented on #27501
One update in google3 requested, and then we should have a clean global pre-submit run with the analyzer .

[2016-11-17 11:07] jensjoha commented on #27590
The following test fails now:
[code]

[2016-11-17 11:28] johnniwinther commented on #27600
Thanks for the thorough tests! We're working on a new source map engine that, in it's current state, handles the first problem (synchronous code) but not the latter (asynchronous code), yet.

[2016-11-17 11:47] kulshekhar opened #27844 "Cannot load an external JS script when running tests with content shell"
When a test tries to load an external JS script using `<script src="url_to_cdn">`, the test hangs (it doesn't fail or timeout). This also occurs if the test tries to use `HttpRequest.getString()` to fetch an external resource (the appropriate CORS headers were set at the source)

The same test works well with chrome  and with dartium.

The test succeeds when using content shell directly from the c

[2016-11-17 13:16] daniel-v opened #27845 "Analyzer test failures on Windows - discrepency between 2 platforms"
I ran the tests for analyzer package on both Linux and Windows 10 with SDK version 1.20.1.
I expected to see the same results on both platforms or minor deviations.

Windows:
[code]

Linux:
[code]

Since I have little insight into what is and what should be, all I can do it let you guys know that 195 more tests failing seems significant enough to warrant a "I noticed this, is this OK?" issue.

[2016-11-17 13:21] daniel-v commented on #27837
@lrhn Thank you for the lengthy explanation, I appreciate you putting effort into giving details why it is labelled as "works as intended". I feel this is a good practice.

Even though I still can't use the package mentioned, it seems clearer that it is not a failure on the dart:core's part.

[2016-11-17 14:04] floitschG commented on #27527
It's not a perfect choice, but it has its advantages.

Dart already uses `Function` as general type for functions. It is true that `Function` was a real type, and the proposed function-type syntax shifts it into a keyword-like position, but there is a strong connection between the two. It's easy to see and understand that `Function` (without return and parameter types) is just like a reduced funct

[2016-11-17 14:11] bwilkerson commented on #27153
Thanks for letting us know. I'm going to assume that this has been fixed.

[2016-11-17 14:11] #27153 closed

[2016-11-17 15:10] jensjoha commented on #27590
Just as a note I have the put the "Merge source position information change" in review.

Another note, and whether this is useful or not I'm not sure --- if not feel free to ignore it. When running the kernel tests in debug mode (I know I was told not to) I more or less get these 5 types of errors:

[code]

Happens < 10 times. E.g. via

[code]

------------------

[code]

Happens lots of times. E.

[2016-11-17 15:19] travissanderson-wf commented on #27600
Is there anything we can watch regarding progress on the new engine or any ETA you could give?  This is a daily problem for us right now.

[2016-11-17 15:31] vsmenon commented on #27840
Hmm, I just tried with 1.21.0-dev.6.0 on the Mac, and `dart ./tool/watch.dart` does seem to still work for me.  Is it silent for you or crashing?  Which file are you editing?

[2016-11-17 15:36] mkustermann commented on #27743
I'll take care of this now!

[2016-11-17 15:37] whesse commented on #27743
Thanks

[2016-11-17 15:41] #27803 closed

[2016-11-17 16:37] vsmenon commented on #27252
This should be fixed by #27511

[2016-11-17 16:39] johnmccutchan commented on #27835
In the future please do not leave the reload bots broken. Update the status file.

[2016-11-17 16:41] johnmccutchan commented on #27835
https://codereview.chromium.org/2514463002

[2016-11-17 16:57] TheTechNick commented on #27600
So the new engine does not generate correct maps if there is something `async` in the call stack?
Does your "yet" mean that supporting source maps in a async context is a feature on your roadmap?
Can we support you somehow?

[2016-11-17 18:27] jmesserly commented on #27252
yeah, I think they're duplicates.

[2016-11-17 18:27] #27252 closed

[2016-11-17 18:27] jmesserly commented on #27511
this was also filed as https://github.com/dart-lang/sdk/issues/27252

[2016-11-17 18:42] ashishgupta02 commented on #27574
Thanks .. looks like it is working !

[2016-11-17 19:20] matanlurey commented on #27124
Bump:

I'd like to see `@experimental` in `package:meta`. Rationale:

- For projects using strict semver, removing any public API is a XX.##.## bump
- `@experimental` could be used to loosen that restriction, i.e. only a ##.XX.## bump

We are considering automated tools similar to Elm that actually check your pubspec.yaml version is updated if your public interface has changed, and if we have thes

[2016-11-17 19:44] mraleph commented on #27590
I have started working on fixing this issues. To track the progress.

- [ ] `Unsupported operation: Generative constructors not supported on native types.`
- [ ] `../../runtime/vm/object.cc: 8859: error: expected: Dart::snapshot_kind() == Snapshot::kAppNoJIT`
- [ ] `../../runtime/vm/intermediate_language.cc: 51: error: expected: !Compiler::IsBackgroundCompilation() || !field.IsOriginal()`
- [ ] `.

[2016-11-17 19:46] mraleph commented on #27810
`RegExp.matchAsPrefix` optimization has landed.

[2016-11-17 19:51] scheglov opened #27846 "Exception in resynthesizer when an incomplete setter is typed."
The following code causes an exception.
I was trying to type `void setUp() {}`, but after typing `void set` the server crashed.

[code]

[code]

[2016-11-17 20:11] #27839 closed

[2016-11-17 20:52] johnpryan commented on #27840
I'm editing the `captains_log.dart` file, changing the quill theme.

If I change line 43 of `watch.dart` to:

[code]

I don't see any logs in the console when I modify `captains_log.dart`

[2016-11-17 20:55] johnpryan commented on #27840
After debugging some more, the issue is with WebStorm.  If I edit the file with a different editor, the app is reloaded.

Feel free to close this issue.

[2016-11-17 20:56] vsmenon commented on #27840
Thanks for the update!

[2016-11-17 20:56] #27840 closed

[2016-11-17 20:56] turnidge commented on #27790
I think Ryan just fixed this.

[2016-11-17 21:00] johnpryan commented on #27840
For future reference: WebStorm has a "safe write" feature that needs to be turned off.

[2016-11-17 21:03] crelier commented on #27527
I agree that having a special marker for function types has advantages and is easier to read. I only find the already defined "Function" a questionable choice for this marker, especially since the formal argument syntax is modified and not what you would expect after an identifier (i.e. regular function signature syntax). That's the reason I'd prefer a symbol rather than an identifier (or keyword)

[2016-11-17 21:38] kevmoo commented on #23924
@a-siva @johnmccutchan We think this would save a LOT of time implementing the debugging story in pkg/test – and also make it more reliable.

Possible to look into for this milestone?

[2016-11-17 22:44] rmacnak-google commented on #27790
618331635503aa258c1f78ff318488b914202e85

[2016-11-17 22:44] #27790 closed

[2016-11-17 22:56] jmesserly commented on #27336
https://codereview.chromium.org/2516483002/

[2016-11-17 23:13] fsc8000 opened #27847 "Segfault in runtime/bin/socket.cc"
Running the following test sometimes triggers a segfault:
[code]

[code]

@mkustermann

[2016-11-17 23:38] #27336 closed

[2016-11-17 23:53] nex3 opened #27848 "VM Service: Document VM extension APIs"
The [VM service docs](https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md) currently don't describe how to invoke VM service APIs at all. In fact, they misleadingly say:

_id_ property to pair it with the corresponding request. If the RPC
was successful, the _result_ property provides the result.

This is definitely not the case for service extensions, which are allowed to r

[2016-11-17 23:53] nex3 commented on #27848
See dart-lang/vm_service_client#11, which was caused by this confusion.

[2016-11-18 00:21] fsc8000 opened #27849 "VM crash with DBC"
Revision 3b4854ac7d54e8dcbe48ac7b1698d4ec5cc703cd

Repro (not very reliable)
[code]

Backtrace:
[code]
@zanderso @mraleph

[2016-11-18 00:44] rmacnak-google opened #27850 "Observatory: Consider trapping new Future.error() when pausing on exception"
@lukechurch @johnmccutchan

With pause on exceptions or print stacktrace on throw, programs like the following exit without pausing or printing.

[code]

[2016-11-18 02:43] Hixie opened #27851 ""info • This method overrides a method annotated as @mustCall super in 'State', but does invoke the overriden method" has typos"

[2016-11-18 02:44] Hixie commented on #27851
specifically, the annotation is `@mustCallSuper` not `@mustCall super` and the word `overridden` is spelled with two `d`s.

cc @pq

[2016-11-18 04:25] tomaszkubacki opened #27852 "Argument value is null in JS callback function in dart2js while working fine in Dart/Dartium"
Lets assume we are using chart.js package from pub and got registered JS click callback like this:

 onClick: js.allowInteropCaptureThis(([t,a,b]){
      JsObject obj = new JsObject.fromBrowserObject(b[0]);
      int index = obj["_index"];
      print(index); //prints null only in dart2js version!!
 }
We would expect that print(index) prints actual index of clicked pie chart item.
And this code wo

[2016-11-18 08:18] johnniwinther commented on #27600
You can try out the new engine when running dart2js from the command line using the option --use-new-source-info . The option and the fix for synchronous code is in 1.21.0-dev.7.0 . Any feedback on the quality of the new engine will be helpful in making it ready as the default engine.

I've looked into the asynchronous code and found that it contained no source mapping neither in the old nor the n

[2016-11-18 08:53] joeblew99 opened #27854 "feature request: analysis server to support the language-server-protocol"
Raising this as a suggestion to support:
https://github.com/Microsoft/language-server-protocol

A standard for language servers has been announced and is being used already and supports about 10 already.

This means that you can use VsCode,  intelli, etc or a cloud based IDE and they all use the same mechanism for integrating your language into the IDE.

In terms of LOE, this really makes things m

[2016-11-18 09:45] mit-mit commented on #27842
Adding a screenshot (poor color choice mine):

![screenshot from 2016-11-18 10 44 59](https://cloud.githubusercontent.com/assets/13644170/20425737/27f62578-ad7c-11e6-9642-46d00ecae364.png)

[2016-11-18 14:23] mkustermann commented on #27743
This should be done now. We've added debug/release for JIT and precompilation.

[2016-11-18 14:23] #27743 closed

[2016-11-18 14:26] DanTup commented on #27214
@scheglov @bwilkerson Not sure if you saw the comment above, but this still happens in 120.1. According to GitHub, the linked changesets were included in that version.

[2016-11-18 15:30] zoechi opened #27855 "'UnmodifiableListView<AlertMessage>' isn't a 'List<AlertMessage>'"
[code]

I might miss something but I think this should not produce a warning.

In a Flutter application.

[2016-11-18 15:41] bwilkerson commented on #27214
No, sorry, I missed the e-mail.

[2016-11-18 15:52] bwilkerson commented on #27854
Jow,

Thanks for the suggestion.

The analysis server uses a similar protocol that was developed before the
Microsoft protocol was published. It's currently being used by several
IDEs, including IntelliJ, VS Code, and vim.

A couple of people have written adapter layers that convert between the
two. In fact, that's how the Dart VS Code plugin (
https://marketplace.visualstudio.com/items?itemName=D

[2016-11-18 16:49] floitschG commented on #27824
I believe the request is to disallow `main` to be a variable containing a closure. For multiple reasons we want to support different signatures of `main` but we can enforce that it must be a top-level *function* (and not just a variable).

If that's the request, then I agree.

[2016-11-18 17:06] alexander-doroshko opened #27856 "AnalysisServer.execution_createContext() doesn't work in 1.21.0-dev.7.0"
Works fine with SDK 1.20.1,
but with 1.21.0-dev.7.0 (Windows, x64) Analysis Server doesn't respond anything to [AnalysisServer.execution_createContext()](https://htmlpreview.github.io/?https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/doc/api.html#request_execution.createContext) request.

[2016-11-18 17:07] floitschG commented on #27527
`#` is still used for symbols (which was one of the reasons we didn't like it for tear-offs. For example, it wasn't possible to tear off globals).

Yes. We will have to specify the syntax for the optional arguments. (This is the reason that `Function<R, P1, P2>` isn't even a real option). Your proposal looks right (and I don't think there are any corner-cases that are hiding).

I/We will think abo

[2016-11-18 17:20] devoncarew commented on #27856
@scheglov @bwilkerson

[2016-11-18 17:37] mraleph commented on #27810
@DisDis I started pushing out optimization commits [into my fork](https://github.com/mraleph/less_dart/commits/opt1) of your fork of `less_dart`

[code]

I think this issue can be closed. Though I do have few other cleanups to push out into `less_dart`.

[2016-11-18 17:47] pq opened #27857 "Add `front_end` package source to the SDK."
Flutter vends in the `analyzer` package from the source in the SDK.  Now that the `analyzer` depends on `front_end` we need to do the same with it which means we need it's source handy.

/cc @bwilkerson @whesse

[2016-11-18 18:24] vsmenon commented on #13902
Just hit this in pageloader, which used this API for testing.

Should KeyEvent be deprecated in favor of KeyboardEvent?  That appears to be the new standard, but it's not quite there on all browsers though:

https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/KeyboardEvent

[2016-11-18 18:26] vsmenon opened #27858 "KeyEvent broken in DDC"
Constructing a `KeyEvent` fails at runtime in DDC.  This is a wrapper class that is typed to wrap a `KeyboardEvent`.  At runtime, it's actually wrapping an `Event`.

Not sure we should even keep this class though - see: #13902

@alan-knight

[2016-11-18 18:41] DisDis commented on #27810
@mraleph. It is very cool.
Many thanks

[2016-11-18 18:41] #27810 closed

[2016-11-18 18:48] DisDis commented on #27810
@mraleph 'RegExp.matchAsPrefix' will be in Dart 1.21?

[2016-11-18 19:28] mraleph commented on #27810
@DisDis `RegExp.matchAsPrefix` is already in Dart, but optimization which makes it usable I think will only be in 1.21 indeed.

Running `opt1` branch with older Dart actually shows that `RegExp.matchAsPrefix` had very poor performance before (benchmark is 17x slower), which is unsurprising - it was searching for a match through the whole string and then discarding that match if it did not occur at

[2016-11-18 19:49] mkustermann commented on #27847
If I've some time next week I can take a look.

[2016-11-18 20:45] kevmoo commented on #13902
http://caniuse.com/#search=KeyboardEvent

Worth looking at the specific bits that are and aren't supported.

[2016-11-18 21:01] turnidge commented on #27848
You say that the doc doesn't "describe how to invoke service APIs at all".  But the doc specifies that the protocol "uses JSON-RPC 2.0", which specifies how to invoke rpcs.  So I don't understand that part, sorry, not trying to be obtuse here.  Maybe you meant something else?

You are quoting part of service.md that describes the "id" property.  The "id" property is required by the JSON-RPC spec o

[2016-11-18 21:26] alan-knight commented on #13902
The important thing is probably KeyboardEvent.key, which would be an actual portable and standard way of identifying the key. If we're lucky, you'll even be able to set it when constructing the event. But it's only just gone into the bleeding edge of Safari. We may be able to hack around it by delegating that to keyIdentifier on Safari in the meantime.

[2016-11-18 21:29] nex3 commented on #27848
Sorry, I meant to write "service extension APIs."

You're right. A better quote would be:

Extension APIs are an exception to this, since their responses have no restrictions.

[code]

[code]

[2016-11-18 21:37] eseidelGoogle commented on #24581
@kevmoo or @mit-mit : who's the right person to drive the rest of this forward (I see it's unassigned)?  My understanding is this is blocking https://github.com/dart-lang/http/issues/1 which has come up several times for Flutter customers attempting to depend on http-using packages in pub.

[2016-11-18 21:52] jacob314 commented on #27836
@matanlurey  what you are looking for is:
import 'package:js/js_util.dart' as js_util;

js_util.getProperty(someEvent, 'stack')

[2016-11-18 21:52] #27836 closed

[2016-11-18 23:31] joeblew99 commented on #27854
i use the Dart VS code plugin every day. Yep its solid.

But i have to use intelliJ to get Flutter debugging. intelliJ is very heavy

Anyway, closing...

[2016-11-18 23:31] #27854 closed

[2016-11-18 23:45] fsc8000 opened #27859 "Remove CPS IR-related entries from status files and testing scripts"
@whesse @sigmundch

[code]

[code]

[2016-11-19 00:02] jacob314 commented on #27852
The problem is you cannot merge package:js code and dart:js as package:js does not use wrapping.
Dartium you can often get away with it, but in Dart2js you will get inconsistent behavior.
Here is a fixed version of your code that uses
package:js/js_util.dart instead dart:js

[code]

[2016-11-19 00:02] #27852 closed

[2016-11-19 00:13] jason-simmons opened #27860 "Provide a way to keep gen_snapshot from reading its source code paths"
On Flutter we saw a failure when running gen_snapshot on our build servers:

    Error: 'dart:_internal-patch/class_id.dart': error: line 8 pos 3: native function 'ClassID_byName' (1 arguments) cannot be found
         static int _lookup(String name) native "ClassID_byName";

This occurred because the gen_snapshot binary incorporates the fully-qualified paths to some of the Dart library source cod

[2016-11-19 00:35] a-siva opened #27861 "complex_reload_test is failing on some targets"
complex_reload_test is failing on windows

win x64 , win ia32,

[2016-11-19 01:48] Hixie opened #27862 "Build error for unoptimised profile and release builds for android"
Building flutter's `android_profile_unopt` build target fails with:
[code]

This presumably is a problem in the Dart SDK.

This was building Flutter as follows:
[code]

[2016-11-19 02:12] Hixie commented on #27862
looks like android_release_unopt also has a bunch of failures:
[code]

[2016-11-19 02:55] fsc8000 commented on #27862
@mraleph
For the first failure mentioned, likely culprit is https://codereview.chromium.org/2485993002
This fix for the Flutter build (https://codereview.chromium.org/2515663002) did not completely fix it.

[2016-11-19 03:46] fsc8000 commented on #27862
The release_unopt seems broken since longer ago. https://codereview.chromium.org/2516033002/ should fix both builds.

[2016-11-19 04:49] pq commented on #27857
https://codereview.chromium.org/2506253008/

[2016-11-19 09:38] DanTup commented on #27854
FWIW, this isn't actually the case. I did investigate this but they APIs didn't fit together perfectly and there was a lot missing (like no syntax highlighting!). I figured there wasn't a lot of advantage to the protocol (I'm still having to map A to B) unless it was used by more than one integration.

If the protocol grows to include the missing things and is adopted by more editors, I might re-v

[2016-11-19 10:03] tomaszkubacki commented on #27852
Thanks @jacob314 !

[2016-11-19 12:30] zoechi commented on #10536
Can this be closed?

[2016-11-19 13:29] DanTup commented on #27770
@scheglov It's not clear what the status of this is - is there still work to do? If not, should this show up in the dev builds yet? I tested with `Dart-1.21.0-dev.7.0` but there's still an error as soon as I replace the `:` with `{}` (details below). Apologies if this is expected/unfinished, I was just testing something related so it was convenient to re-test.

NoSuchMethodError: The method '_subF

[2016-11-19 18:19] mhausner commented on #10536
Yes, this functionality has been added in the dart:developer library (https://api.dartlang.org/stable/1.20.1/dart-developer/dart-developer-library.html)

[2016-11-19 18:19] #10536 closed

[2016-11-19 20:55] devoncarew commented on #25401
Closing this as I don't see idle usage now; we had done some work in atom to batch up key event changes ==> 10x less analysis.

[2016-11-19 20:55] #25401 closed

[2016-11-19 21:18] devoncarew opened #27863 "Exception from analysis server (running from VSCode/dart-code)"
### What I was doing

Typing in the editor, either during a completion or immediately after.

### Versions

- Dart SDK 1.21.0-dev.3.0
- Visual Studio Code 1.7.1
- Dart Code 0.14.3

### Exception

Exception from fix contributor: DefaultFixContributor

[code]

[2016-11-19 21:27] eukreign commented on #13902
I'm trying to unit test some keyboard handling in my app. Is there any work around for this at all? I'm willing to re-architect my app just so I can generate keyboard events artificially. I see a bunch of unit tests in Dart SDK but they are failing... :-1:

https://github.com/dart-lang/sdk/blob/master/tests/html/keyboard_event_test.dart

Is there something that does work?

[2016-11-19 21:28] alexeieleusis opened #57397 "LeakDetectorVisitor resolves with names instead of elements."
When working on https://github.com/dart-lang/sdk/issues/57387 I found some problems when testing and found a few issues with names, look at the renamed variable in https://github.com/dart-lang/linter/pull/335.

[2016-11-19 21:52] pulyaevskiy opened #27864 "Exception from analysis server (running from Atom)"
### what happened

Tried to use comment-based generic method syntax. I had a function like this:

[code]

The exception appeared when (or after) I changed it to:

[code]

Not sure the exact timing though. The way I typed it is I started from `/**/`
and then added `<T>` inside.

### version information

- Dart SDK 1.20.1
- Atom 1.12.4
- dartlang 0.6.45

### the exception

Task failed: VerifyUnitTas

[2016-11-20 00:11] joeblew99 commented on #27854
makes sense. It too new and i noticed the Dart API provides allot more.

Oh Flutter support !!! You made my day dude. I really hate intelliJ - its
so heavy!

On Sat, Nov 19, 2016 at 10:38 AM Danny Tuppeny <notifications@github.com>
wrote:

[2016-11-20 02:35] devoncarew commented on #27863
there may have been other issues with the sdk on disk; closing

[2016-11-20 02:35] #27863 closed

[2016-11-20 04:14] devoncarew opened #27865 "Exception from analysis server (running from VSCode)"
### What I was doing

Opened a file to edit

### Versions

- Dart SDK 1.21.0-dev.6.0
- Visual Studio Code 1.7.1
- Dart Code 0.14.3

### Exception (Fatal)

Failed to handle request: {params: {file: /Users/devoncarew/projects/dart-lang/dart-sdk/sdk/pkg/analysis_server/test/context_manager_test.dart, offset: 344}, method: analysis.getHover, id: 234}

[code]

[2016-11-20 10:49] MikeMitterer opened #27866 "Give more love to native extensions / dart -> JS (interop) -> native is easier than dart -> native"
1 - outdated documentation
2 - old style code
3 - no cmake (GH sample seems to use gyp - no word about this in documentation)
4 - only one sample!

The way nodejs handles this: https://nodejs.org/docs/latest/api/addons.html
Two functions, one macro - thats it.

Hello-World in node-js: https://github.com/nodejs/node/tree/master/test/addons/hello-world

[2016-11-20 12:45] MikeMitterer commented on #27866
I someone else looking for Dart-Native-Extensions - here are some of my experiments: https://github.com/MikeMitterer/cmake-dart-extension-master

[2016-11-20 13:04] dikmax opened #57399 "invariant_booleans false positive with unary operations."
Consider this code:

[code]

With `+=` works fine.

Linter 0.1.29

[2016-11-20 15:48] pq commented on #27851
d'oh!  It looks like @mohamedhayibor has a patch in. 👍

[2016-11-20 20:17] #27862 closed

[2016-11-20 21:45] Hixie commented on #27425
The code above seems to have stopped the bleeding. I have a new problem now, in that I'm somehow pegging the CPU, but I'll close this bug. :-)

[2016-11-20 21:45] #27425 closed

[2016-11-21 10:00] mkustermann commented on #27590
Status file update for debug mode after bootstrapping (see 8cb83ecde0749dc4623eddb5fe1e3c1078813672):

- [ ] Invalid class id during isolate shutdown Heap::VerifyGC
- [ ] Class finalization issues
- [ ] Some out of memory flakiness
- [ ] Stack mismatch during translation of yield statement
- [ ] Assertion !main_obj.IsNull()

[2016-11-21 10:45] MikeMitterer commented on #27866
I think it would be a very cool strategy to reuse native bindings from JS/Java/Python...
A swig-module could be another option: http://www.swig.org/index.php

[2016-11-21 12:32] whesse opened #27867 "vm/dart/hello_fuchsia_test fails on dartium"
The new test runtime/tests/vm/dart/hello_fuchsia_test.dart fails on dartium

Marking as fail in runtime/tests/vm/vm.status

@terrylucas @zanderso

[2016-11-21 14:14] turnidge commented on #27848
Ok, I get it.  I will consider whether we'd rather restrict extensions or document the unexpected exception to the rule.

[2016-11-21 15:35] a-siva commented on #27867
Why is this test running on dartium? I will update the status file to skip this test.

[2016-11-21 15:47] whesse commented on #27867
Also skip it on dart2js - it is failing on the browsers.  The vm tests should not be specific to a specific runtime.  I don't think this is the place for this test - it should be in the tests/standalone directory, or if there are tests specific to the fuchsia embedding rather than the standalone embedding, then there should be a tests/standalone/fuchsia or tests/fuchsia directory.

[2016-11-21 16:18] stevenroose commented on #24581
I'd really want to see this land too. [package:websockets](https://github.com/stevenroose/dart-websockets/) would benefit equally from this as package:http does.

[2016-11-21 16:41] dgrove commented on #27808
@jmesserly can you give an update here?

[2016-11-21 16:43] dgrove commented on #27641
@eernstg can you provide an update?

[2016-11-21 16:43] dgrove commented on #27342
@lrhn Can you provide an update?

[2016-11-21 16:57] #27857 closed

[2016-11-21 17:45] pq commented on #27857
Fixed w/ https://github.com/dart-lang/sdk/commit/dbb3cd590a844cc4b97f7e657c2043146b8dbf98.

[2016-11-21 17:57] scheglov commented on #27856
https://codereview.chromium.org/2524453002

[2016-11-21 18:07] scheglov commented on #27856
https://github.com/dart-lang/sdk/commit/e769868325202095eccd7beb1546f0dd77d99fef

[2016-11-21 18:07] #27856 closed

[2016-11-21 18:12] eernstg commented on #27501
Current status:

The VM and dart2js CLs went through the global pre-submit with 14 new errors, all of which were unlikely to be caused by this change (for instance, almost all of them had a "recently flaky" flag, and the remaining ones were network errors like 'recycling port still in use', and similar things). Consequently, last week I asked to get these CLs (2486943003 and 2476423005) landed, an

[2016-11-21 18:13] eernstg commented on #27641
Please check #27501 for the current status.

[2016-11-21 18:30] eukreign commented on #13902
@georgelesica-wf Thanks for the tips. What I ended up doing is abstracting even further:

[code]

When I want to listen for KeyEvents I can do it like so (added bonus is that `handleKeyboard` will get a `KeyEvent` object):
[code]

When I want to test:
[code]

So far this has worked pretty well.

[2016-11-21 18:36] bwilkerson commented on #27501
It appears that I haven't been very clear in our conversations, for which I apologize.

That's not accurate. If we know of an error that is being produced when it shouldn't be it's fairly trivial to find where that's happening and either stop reporting it or report a hint instead of an error. Hence my question about tests, because the tests will tell us when we're incorrectly generating an error s

[2016-11-21 18:39] jmesserly commented on #27808
yeah I started a CL for this, but have gotten a few P1 interrupts. Chatted w/ @dgrove sounds like we want this in say, the next month. Totally doable IMO.

[2016-11-21 19:05] jmesserly commented on #27808
tagging as strong mode per the original bug

[2016-11-21 19:19] jmesserly commented on #27727
Huh. I might be missing something but this seems to be implemented already in Analyzer strong mode.

[2016-11-21 19:38] #57396 closed

[2016-11-21 19:45] jmesserly commented on #27808
well, it seems to work already: https://codereview.chromium.org/2520043002/

we check top (and bottom) before void in the subtype relation, so this is the behavior I'd expect.

[2016-11-21 20:22] stereotype441 opened #27868 "New analysis driver doesn't respect "exclude" declaration in .analysis_options"
Repro:
- In IntelliJ, add `enable-new-analysis-driver` to the registry option `dart.server.additional.arguments`.
- Open the folder `pkg/analyzer_cli` in IntelliJ.

Expected result: no errors or warnings, due to the fact that `pkg/analyzer_cli/.analysis_options` contains the option:

    exclude:
      - 'test/data'

Observed result: many errors and warnings produced for source files located insid

[2016-11-21 20:34] crelier commented on #27501
I just landed the flag change in the VM.

[2016-11-21 21:27] #27808 closed

[2016-11-21 21:38] nex3 commented on #27848
Restriction extensions at this point would be a breaking change, both in theory and in practice. I know Flutter in particular would be broken.

cc @yjbanov

[2016-11-21 22:54] yjbanov commented on #27848
I'm not sure I understand the following statement:

There's a very specific definition of JSON _object_. However, there are other kinds of _value_ that JSON supports. See http://www.json.org.

A JSON-encodable _Dart_ object is defined by the library used to serialize to JSON, the most popular being `dart:convert`. I would therefore expect `String`, `num`, `bool`, `Map`, `List` all be JSON-encodabl

[2016-11-21 23:50] turnidge commented on #27848
Yegor,

All other service protocol RPC results are maps with a Type property.  The
only exceptions are the extension rpcs.

Natalie,

I realize it would break compatibility.

On Mon, Nov 21, 2016 at 2:54 PM, Yegor <notifications@github.com> wrote:

[2016-11-22 00:03] dougreese commented on #26726
I am seeing this with SDK version 1.20.1 and Dartium 45.0.2454.104 (64-bit) on OS X.  No issues with the code generated with `pub build`.

[2016-11-22 00:15] yjbanov commented on #27848
I just re-read @nex3's original description and realized that I misunderstood it. It makes perfect sense. Please disregard https://github.com/dart-lang/sdk/issues/27848#issuecomment-262093810.

JSON-RPC 2.0 [requires](http://www.jsonrpc.org/specification#response_object) that all responses are JSON Object. The method-specific value is supposed to be packed in the `result` property. So I wouldn't o

[2016-11-22 00:17] jmesserly commented on #27807
this one may be already working as well. If so I'll add a test.

[2016-11-22 00:44] #27807 closed

[2016-11-22 00:46] jmesserly commented on #27727
DDC also appears to work already. I added an Analyzer and DDC test using the code example provided. Tentatively closing, let me know if there was something else we'd like to fix here.

[2016-11-22 00:46] #27727 closed

[2016-11-22 05:13] devoncarew opened #27869 "Exception from analysis server (running from VSCode / Dart Code)"
### What I was doing

I deleted a directory while analysis was running.

It does raise an interesting question, of whether issues fs errors should be reported as expected return values from client requests, or exceptions back over the server.error stream.

### Versions

- Dart SDK 1.21.0-edge.da9fcf385484f2af3289487e94c451eb7e2576e7 (built from the sdk repo 11/21/2016)
- Visual Studio Code 1.7.1
-

[2016-11-22 06:28] lrhn commented on #27342
As far as I can see, it's implemented in dart2js and the analyzer behind flags.
I have an old CL for the VM, but it hasn't aged gracefully, so I'm working on a rewrite.

[2016-11-22 07:05] Hixie opened #57400 "unawaited_futures lint is too aggressive - reports Future.whenComplete"
Consider the following code:
[code]

This causes:
[code]

...but doing what the lint suggests would change the semantics of the code and not be correct.

[2016-11-22 09:45] whesse opened #27870 "Test import_short_absolute fails on Windows"
The commit

https://github.com/dart-lang/sdk/commit/227b74cb55e441dbf39b43815187c166cb2570de

introduces a test in pkg/analyzer/test/src/summary/resynthesize_common.dart that fails on Windows.

[2016-11-22 12:01] eernstg commented on #27501
The language group discussed the situation and agreed that it is OK to proceed to land the [analyzer CL](https://codereview.chromium.org/2494873004) and then handle the error-to-hint adjustments afterwards.

[2016-11-22 12:04] eernstg commented on #27641
The language group discussed the situation and agreed that it is OK to proceed to land the [analyzer CL](https://codereview.chromium.org/2494873004) and then handle the error-to-hint adjustments afterwards.

[2016-11-22 12:32] dikmax commented on #27793
It looks like that issue appears only in partial files (with `part of` on the top). And it's quite annoying not to have suggestions.

[2016-11-22 12:41] dikmax commented on #26634
Could be related to #27793.

[2016-11-22 12:49] zoechi commented on #26634
I didn't see this since a while.

[2016-11-22 13:07] dikmax commented on #27793
Stacktrace from log above

[code]

[2016-11-22 13:45] stereotype441 commented on #27870
Working on it.

[2016-11-22 13:45] whesse commented on #27867
I have a CL to skip it on dart2js, so I will close the issue when it is landed.

[2016-11-22 14:00] whesse opened #27871 "corelib/list_test fails on dart2js Firefox 50"
There is a new failure in corelib/lib_test when the dart2js output is run on the new Firefox version, 50.  This is on both linux and windows.  This will be noted in the status file tests/corelib/corelib.status.
This seems like a big error - if list operations are broken on Firefox, that is important.

Failures are:
dart2js-ff release_x64 corelib/list_test/01 RuntimeError
dart2js-ff release_x64 cor