[2017-05-01 09:50] eernstg commented on #29395
In this case the factory constructor actually does make a difference, because the existence of _any_ constructor (including `factory Mixin(..)`) prevents `Mixin() : super() {}` from being  implicitly specified. In this particular case we couldn't ignore the factory constructor because it would be a name clash to go ahead and implicitly declare `Mixin() : super() {}`, but it won't help to give the

[2017-05-01 12:57] mkustermann opened #29514 "Issues with dartium layout test expectation files"
Some change seemed to cause the dartium layout tests result in different output (at least when running locally), namely the VM prints now:

    CONSOLE INFO: Observatory listening at http://127.0.0.1:52753/
    ...

Unfortunately the port number is random, so it changes every time, making the layout tests fail.

Currently there are 2 tests affected:

        LayoutTests/dart/inspector/debugger-eva

[2017-05-01 13:48] eernstg commented on #29484
I'm not sure where this constraint comes from, is it simply a matter of avoiding to support a potentially complex corner of the language?

What I wrote in the [informal specification of generic function type aliases](https://gist.github.com/eernstg/ffc7bd281974e9018f10f0cb6cfee4aa) already in the introduction was that this feature is intended to allow actual type arguments and bounds (among other

[2017-05-01 13:48] eernstg commented on #29483
I'm not sure where that came from. I've commented in more detail on #29484.

[2017-05-01 14:06] floitschG commented on #17515
Had to revert the CL because of an issue with compiling the VM. (There was a fingerprint on the function which was taking the name of the argument into account).

We will try again tomorrow.

[2017-05-01 14:20] mkustermann commented on #29514
I don't seem to have permission to land [cl/2855573003](https://codereview.chromium.org/2855573003/) on our blink `release/2454_1`.

@terrylucas Maybe you could take a look at this.

[2017-05-01 14:31] floitschG commented on #29377
There are two feature requests here:
- support multiple arguments
- forward the object(s) to the embedder without calling `toString` first.

I talked to @lrhn and he seemed to be ok with forwarding the object to the embedder.

There are a few remaining questions:
- do we need to change the Zone API for `print`? (or "should" we?)
- should we wait for multiple arguments for rest arguments?

So far I

[2017-05-01 14:37] terrylucas commented on #29514
Thanks Martin I'll get it checked in today.

On May 1, 2017 7:20 AM, "Martin Kustermann" <notifications@github.com>
wrote:

[2017-05-01 15:26] #29511 closed

[2017-05-01 15:43] dgrove commented on #29139
Any updates here?

[2017-05-01 15:43] dgrove commented on #29118
Any updates here? Happening for 1.23?

[2017-05-01 15:44] dgrove commented on #28514
Any updates here?

[2017-05-01 15:45] dgrove commented on #28280
@terrylucas - ETA for this is this week, right?

[2017-05-01 15:45] dgrove commented on #27260
Any updates here?

[2017-05-01 15:46] dgrove commented on #24288
What is the plan here?

[2017-05-01 15:47] dgrove commented on #27255
This seems unlike for 1.24, given that AngularDart hasn't yet switched to the new code generator. Thoughts?

[2017-05-01 15:48] dgrove commented on #28219
How's this looking for 1.24?

[2017-05-01 15:49] matanlurey commented on #27255
We should experiment with how far off we are internally, but yes, won't be in time for 1.24.

[2017-05-01 15:50] terrylucas commented on #28280
This week or early next week Bill has a problem with the integration bots.
Preventing exhaustive testing.

On May 1, 2017 8:45 AM, "Dan Grove" <notifications@github.com> wrote:

[2017-05-01 15:50] floitschG commented on #28748
Removed the milestone. There is no reason to force this change. It will naturally happen once we discontinue support for comment syntax.

[2017-05-01 15:51] scheglov commented on #29118
[The CL](https://codereview.chromium.org/2757753002/) is out for review.
But there is one issue where I need help from DDC people..

[2017-05-01 16:01] devoncarew commented on #29423
I'll take a look at this and see if I'm able to track down the issue.

[2017-05-01 16:01] #28415 closed

[2017-05-01 16:02] kevmoo commented on #24288
Agreed this wasn't urgent for 1.23. Removing milestone.

[2017-05-01 16:28] Hixie commented on #27099
In this case the Mixin was under my control, and I added a method:

[code]

...and in the subclass I called `super.superToString()`.

But (a) I don't always control the mixin and (b) it seems pretty obvious to me that this is in no way better than just calling "super.super.toString".

[2017-05-01 16:30] devoncarew opened #29516 "publish 0.30.0 of package:analyzer"
We want to publish a `0.30.0` of package:analyzer. This will unblock clients like dartdoc and give people access to the 1.23.0 version of the analyzer APIs (including changes to the element model for the new generic function syntax).

- [x] introduce token API changes for better compatibility with fasta @danrubel
  - [x] backport changes to 0.29.0; publish that version @danrubel
  - [ ] test chang

[2017-05-01 17:07] stevemessick commented on #28576
The implementation is still in progress, but it is now available for preview. You need the latest IntelliJ 2017.1+ release and the current dev-channel Dart SDK to use it. Please file new issues for problems with the implementation.

[2017-05-01 17:07] #28576 closed

[2017-05-01 17:31] kevmoo commented on #29423
FYI: we can separate out the `--fatal-warnings` flag here, too.

Just upgrading a hint to an error – you see the CLI print out X errors – but still with an exit code of `0`.

[2017-05-01 17:57] #29504 closed

[2017-05-01 19:33] jmesserly commented on #29118
Oh gosh, my bad! I've replied there @scheglov ... and I just want to say here, the change looks lovely, thanks for putting so much work into making it such an elegant patch.

[2017-05-01 20:07] daniel-v opened #29517 "Static errors in analysis_server after cloning"
Mostly, they come from a dependency not being specified or pointing to a version that does not yet have the specified functionality/modifications. I am not sure what the "protocol" is to handle such things.

I'll submit a PR just to show what error fixed I did.

[2017-05-01 20:09] terrylucas commented on #28280
Bill should have the bots working tonight or tomorrow again (that's the
integration bots for me).  I can't move to latest Dart without them running.

On Mon, May 1, 2017 at 8:50 AM, Terry Lucas <terry@google.com> wrote:

[2017-05-01 20:26] bwilkerson commented on #29517
When you cloned the SDK, did you then run `pub` in `pkg/analysis_server`? Because if you did that would explain the issue you're seeing. The correct way to fix the problem is to remove the `.packages` file that was created. There is a hard-coded `.packages` file in the root of the SDK repository, and that's the file that should be used for all development of packages within the SDK repo.

Note tha

[2017-05-01 20:40] daniel-v commented on #29517
Yes, I did run pub.

No, I have not run the mentioned commands. I was following https://github.com/dart-lang/sdk/wiki/Building

Might I be missing a link to a "how to get started with core SDK package development" page?

[2017-05-01 20:47] bwilkerson commented on #29517
That page should have what you need. If you haven't already, "Install Chromium's depot tools" as per your platform (that's where `gclient` is defined). The "Getting the source" section mentions running `gclient sync` (which probably runs `runhooks` for you, although I once thought it didn't and might still be laboring under that delusion :-).

[2017-05-01 20:48] leafpetersen commented on #29484
My original generic method proposal was for prenex, predicative polymorphism.  We relaxed that to be just predicative, but my intention was that we would stay in the predicative fragment.  Since we have agreed to make type bounds behave invariantly (that is, `<T extends B>(S0) -> R0` is a subtype of `<T extends A>(S0) -> R0` requires that `A == B` rather than just `A <: B`) it is possible that we

[2017-05-01 21:18] daniel-v commented on #29517
Thanks for speedy replies. I guess the related PR and this issue can be closed as my "fix" assumptions' were based on the wrong yet crucial pieces of information.

Can it be stated in general, the `pkg` folder contents are not packages per se? Or is `pkg/analysis_server` a special in that regard?

Should I want to build on top of dev version of `analysis_server`, how can I include it in my project

[2017-05-01 21:44] bwilkerson commented on #29517
The PR can. The issue can stay open until you don't have any more questions.

No, some (most?) of the packages in that directory are published to `pub.dartlang.org`, but not all of them are. The `analyzer` package, for example, is published.

I would be interested to know why you are interested in building on top of the analysis_server package. As I said before, we aren't currently planning on pub

[2017-05-01 22:12] whesse commented on #28280
The integration bots are working again.

[2017-05-01 22:14] terrylucas commented on #28280
Thanks, yep forced a bunch of builds once the first Linux built earlier
today.  The rest are still running - looks good.

On Mon, May 1, 2017 at 3:12 PM, William Hesse <notifications@github.com>
wrote:

[2017-05-01 22:36] daniel-v commented on #29517
I went ahead and close the PR.

I enjoy your willingness to answer related questions. This is really good form.

I am lookin at [dart-lang/angular_analyzer_plugin](/dart-lang/angular_analyzer_plugin) . It depends on it. Other than that, I can't - at this point - offer other use cases. The promise of that plugin is more than enough for me to go through these hoops.

How would one go about working o

[2017-05-01 22:36] #27258 closed

[2017-05-01 22:54] MichaelRFairhurst commented on #29517
Mostly we currently depend on it for temporary reasons.

However, it did occur to me that we will depend on it even after the new plugin architecture. Because we call the dart CompletionContributors on dart snippets within HTML. Maybe that code should be moved to its own package?

[2017-05-01 23:11] bwilkerson commented on #29517
To expand a bit on @MichaelRFairhurst's response: The plan is to provide first-class support for writing plugins to the analysis server. That support will require plugins to depend on the (not yet ready for use) analyzer_plugin package, which we will be publishing as soon as it's ready for beta testers. The portions of the analysis_server package that the angular plugin (and others) depend on will

[2017-05-02 04:14] jkriesel opened #29520 "Periods in queryParameter names"
Because period is valid in HTML field names this can create a problem when trying to interface to get requests that could contain a field a name like "hub.challenge".  PHP converts that period to an "_" to allow for normal field operations.

I propose Dart leverage the same convention. I've encountered a problem with RPC where I cannot retrieve a field value from a query parameter because a dart v

[2017-05-02 05:42] sgrekhov commented on #29388
Retested on dartanalyzer version 1.24.0-dev.1.0. The third issue is fixed but the first two are stil present. Tests from Example 1 and Example 2 above are crashed in a strong mode (no issue in a nostrong mode)

[2017-05-02 05:45] lrhn commented on #28748
On Mon, May 1, 2017 at 5:51 PM, Florian Loitsch <notifications@github.com>
wrote:

Keeping that hack working is the primary reason for not discontinuing
comment syntax support, so what do we *want*?
(The other reasons are avoiding some unnecessary casts like `as dynamix
/*=SomethingMore*/`, apart from that, I think we are comment-syntax free).

/L

--
Lasse R.H. Nielsen - lrn@google.com
'Faith wit

[2017-05-02 06:54] MikeMitterer opened #29521 "Importing! service_worker crashes my app with CastError- 'Casting form DartObjection to MdlComponent' is not possible"
I already filed a bug report here: https://github.com/isoos/service_worker/issues/3 because first I thought it's a service_worker-bug...

However - if I include!!! service_worker-lib, not function is used, only service_workers default objects are generated, it crashes my app. I'm using core:js for adding properties to browserObjects (I upgrade standard HTML Elements).

It crashes only in Chrome wi

[2017-05-02 07:45] lrhn commented on #29520
What are you using to convert a query parameter name to a Dart variable? Is this Angular or something similar?

[2017-05-02 07:49] lrhn commented on #28794
From what I'm gathering, the problem is mixing in the same (private?) field more than once.
Would it be sufficient to not allow a mixin to override a private field with another? (Or public too, if necessary)

I see no reason to restrict mixins that doesn't have fields.
Also, the restriction written in this issue doesn't preclude:
[code]

So, are we sure the requirements here are both precise and s

[2017-05-02 08:09] lrhn opened #29522 "Analyzer doesn't distinguish different mixin applications of the same classes."
Example:
[code]
There are two classes defined as `Object with M` here, `D` and the superclas of `C`. Those are different classes and neither is a subtype of the other.

Spec says:

Therefore these declarations should cause a static warning because the superclass of the mixin application `E` is `D` which is not a subtype of the supertype of class `C`.

[2017-05-02 08:24] peter-ahe-google commented on #29522
This may be a language issue, and @lrhn will mull it over.

[2017-05-02 10:39] alsemenov opened #29523 "Please, clarify description of StreamTransformer"
The [description](https://api.dartlang.org/stable/1.23.0/dart-async/StreamTransformer-class.html) of class dart:async:StreamTransformer reads:

The highlighted sentence is confusing. It is not clear what is passed: `Stream` instance, `Stream.transform` method or `Stream.transform` call. Destination is also not clear: `StreamTransformer` can not be a destination, I believe destination should be som

[2017-05-02 12:51] #26407 closed

[2017-05-02 13:42] floitschG opened #29524 "raw_secure_server_socket_test crashed"
https://build.chromium.org/p/client.dart/builders/vm-mac-release-x64-be/builds/18808/steps/checked%20vm%20tests/logs/stdio

The core file and the binary was preserved:
[code]

Relevant output:
[code]

[2017-05-02 13:44] floitschG commented on #29524
Possibly related: https://github.com/dart-lang/sdk/issues/28046

[2017-05-02 13:55] mraleph commented on #29480
benchmark from @ilyaklyaus

[code]

[2017-05-02 14:39] jkriesel commented on #29520
The classes in dart rpc.  However, doesn't this need to be standard approach for dart lang?

[2017-05-02 14:53] #29513 closed

[2017-05-02 16:21] danrubel commented on #29516
https://github.com/dart-lang/sdk/pull/29519

[2017-05-02 16:28] devoncarew commented on #29516
🎆

[2017-05-02 16:44] DmitryOlshansky-google opened #29527 "VM [Kernel] High use of old space in DFE mode"
This is connected to https://github.com/dart-lang/sdk/issues/29206 as it is likely a result of eager class finalization as well.

In short a typical benchmark in DFE mode would allocate: 4MB of strings, 1.7Mb of functions and 1.3Mb of Fields. All of this would pile up in the old space. In normal mode it would amount to measly 100's of Kbs.

This affects benchmarks StarryStrings and SunspiderGolemR

[2017-05-02 17:13] DmitryOlshansky-google opened #29528 "VM Performance fluctuations"
For lack of better title. The problem at hand is a specific pattern of VM slowing down and then getting back to initial speed of execution.

To reproduce - take CssLib benchmark from Golem and run CssLib.prettyPrint in a loop.
Here is the typical output on 64bit:
[code]

A bit dense but the pattern here is first 2 runs OKish, 3rd is slow, then it slowly gets better until it's slow again. The  thin

[2017-05-02 18:51] pylaligand commented on #29498
Any progress on this? It's getting in the way of integrating Dart analysis into our build which would be a big productivity boost.

[2017-05-02 18:59] bwilkerson commented on #29498
@devoncarew Sounds like it might be related to #29423. Let me know if it isn't.

[2017-05-02 19:32] devoncarew commented on #29498
Likely the same issue - I'll investigate.

[2017-05-02 19:49] stereotype441 opened #29529 "Kernel needs a way to represent a type variable with a promoted bound"
In strong mode type inference (see https://github.com/dart-lang/sdk/pull/29371/files), we need to be able to handle type promotions like this:

    class A {}
    class B extends A {
      void foo() { ... }
    }
    class C<T extends A> {
      f(T t) { ... }
      h(T t) {
        if (t is B) {
          f(t); // ok because t has type T
          t.foo(); // ok because t extends B
        }

[2017-05-02 20:46] vsmenon opened #29530 "Bad interaction between metadata and helper call"
If I run the following with `--emit-metadata`:

[code]

I get the following compiler crash:

[code]

[2017-05-02 20:47] vsmenon commented on #29530
@keertip

[2017-05-02 21:41] jmesserly commented on #29530
https://codereview.chromium.org/2861503002

[2017-05-02 21:45] #29530 closed

[2017-05-02 21:52] rakudrama opened #29532 "dart2js: AsyncRewriter improvements"
The general purpose rewritten code has several shortcomings

- [ ] Some expressions are needlessly assigned to temporaries. This is usually when `await` is a subexpression.

        $async$temp1 = $async$self;
        $async$temp2 = J;
        ...
        $async$temp2.$eq$($async$result, $async$self._field)

   We should never put $async$self (aka captured 'this') in a temporary. The JavaScript co

[2017-05-02 22:56] pylaligand commented on #29394
I'm having the exact same issue in the Fuchsia codebase.

[2017-05-02 23:00] pylaligand commented on #29394
Btw in my case @Hixie AnimatedWidget (or one of its ancestors) is the culprit.

[2017-05-02 23:36] filiph opened #29533 "dartanalyzer crash on parsing AngularDart 2.0 codebase"
Steps to reproduce:

1. `git clone https://github.com/dart-lang/angular2.git`
2. `cd angular2`
3. `git checkout 2.0.0`
4. `dartanalyzer --strong lib/`

I get this error:

[code]

Dart VM version: 1.23.0 (Fri Apr 21 03:07:31 2017) on "macos_x64".

[2017-05-02 23:48] kmillikin commented on #29439
The crash seems to be fixed and the test is now timing out, possibly hanging.

[2017-05-03 00:19] wstrange commented on #22655
Any updates on grpc support?

[2017-05-03 00:23] Hixie opened #29534 "Various errors in the dartdocs for the core libraries"
Errors in the dartdocs (from https://github.com/flutter/flutter/issues/9726):

[code]

[2017-05-03 00:39] rakudrama commented on #28196
From @sigmundch :

Here is an isolated repro:

@MirrorsUsed(targets: const ["M"])
library m;

import 'dart:mirrors';
import 'dart:html';

class Base extends DivElement {
  Base.created() : super.created() {
    return;
    return;
  }
}

class M extends Base with Mix1 {
  M.created() : super.created() {}
}

class Mix1 {
}

main() {
  reflectClass(M);
}

[2017-05-03 00:54] rmacnak-google opened #29535 "vm service: Allow injecting objects into scope during eval"
It's often useful to do some operation that combines several objects retrieved from the service protocol. The eval rpc should accept a set of names and corresponding object ids to be in scope for the expression.

[2017-05-03 00:59] jacob314 commented on #29535
This feature will be extremely helpful for flutter debugger tools that visually display widget, element, and render trees.

[2017-05-03 02:37] rakudrama commented on #28196
Fixed: https://github.com/dart-lang/sdk/commit/9338844b10f89ed68b606a33c4cde788cfc72bfb

[2017-05-03 02:37] #28196 closed

[2017-05-03 06:30] lrhn commented on #29529
Is this actually allowed by the current type promotion specification?

The static type of the variable `t` is `T`. The type `B` is not more specific than either `T` or `A`, so there is no promotion from an `t is B` test.

[2017-05-03 06:43] rxlabz commented on #29507
I don't know if it's after upgrading Flutter yesterday, but my "invalid constant value" error seems to be fixed 🤔

[2017-05-03 07:43] lrhn commented on #29520
The language isn't deciding how to interpret URLs,  and the URI class does not enforce an interpretation of the names. Matching a string to a parameter name isn't something Dart supports in general (symbols, yes, but not strings). So, if you have a string and want to match against a parameter name, you need pick a strategy for those strings that can't directly be converted to an identifier symbol.

[2017-05-03 07:47] lrhn commented on #29534
Good stuff. Thanks.

[2017-05-03 07:49] #17515 closed

[2017-05-03 08:43] asgerf commented on #29169
CL out of imports/exports https://codereview.chromium.org/2852373002

[2017-05-03 09:04] whesse opened #29536 "Windows dartium buildbots failing on integration branch"
The integration buildbots on Windows are failing to run the dartium tests.  Dartium is crashing when loading the driver page, that is supposed to run tests in an iframe.

I will try downloading the Dartium created by the integration-full builder, and testing it locally, to see if this reproduces.

We have some spare Windows slaves, so I can give the -inc builder and the -full builder dedicated mac

[2017-05-03 09:17] peter-ahe-google opened #29537 "Supertype arguments lost when generic class is instantiated raw or with dynamic"
This program below prints:

[code]

However, it should print:

[code]

[code]

I've zipped up the dill file: [example.zip](https://github.com/dart-lang/sdk/files/972887/example.zip)

[2017-05-03 09:17] sgrekhov opened #29538 "Strange value returned by Window.getMatchedCssRules()"
Compile the code below to JavaScript and run it in a browser
[code]
How can it be? Tested on Dart-to-JavaScript compiler (dart2js) version: 1.24.0-dev.2.0, Chrome 58

[2017-05-03 09:22] mkustermann opened #29539 "VM Crash while running 'pub-get' on MacOS"
Flutter noticed sporadic crashes of `pub get` -- see https://github.com/flutter/flutter/issues/9727. The `pub get` process seems to exit with exitcode `-4` which translates to illegal instruction.

@jakobr-google Has reproduced it on his machine by running it in a loop and we have the dart-sdk and a corresponding coredump at (release mode):

    gs://dart-temp-crash-archive/jakob-pub-get-crash-cor

[2017-05-03 10:11] alsemenov opened #29540 "Please, clarify description of Stream.any()"
The [description](https://api.dartlang.org/stable/1.23.0/dart-async/Stream/any.html) of method dart:async:Stream.any() reads:

Please, clarify:
1. The value used to complete the returned Future instance. (Is it true if element is found and false otherwise?)
2. If `test` throws error  (Is the error used to complete the returned future with error?
3. If stream is done and no value was found. (Is the

[2017-05-03 10:45] #29425 closed

[2017-05-03 11:00] alsemenov opened #29541 "Please, clarify description of Stream.asyncExpand()"
The [description](https://api.dartlang.org/stable/1.23.0/dart-async/Stream/asyncExpand.html) of method dart:async:Stream.asyncExpand() reads:

Please, clarify the following cases:
1. How errors in source (i.e. original) stream are handled?
  - Are they supplied to `convert`?
  - Are they just copied to resulting stream?
  - Is it fail-fast handling? (i.e. first error terminates the resulting strea

[2017-05-03 11:30] sgrekhov opened #29542 "Wrong default value of InputElement.setRangeText()"
Compile the following program to dart2js and run it in a browser
[code]
The result is:
`Uncaught TypeError: Failed to execute 'setRangeText' on 'HTMLInputElement': The provided value '1' is not a valid enum value of type SelectionMode.`

Default value for SelectionMode should be 'preserve', but dart2js sets 1 in this case

Tested on Dart-to-JavaScript compiler (dart2js) version: 1.24.0-dev.2.0, Ch

[2017-05-03 11:32] zoechi opened #29543 "cannot resolve class 'ChunkedConverter' from 'HexEncoder'"
`pub global activate den` causes
[code]
[code]
`den` doesn't seem to use `ChunkedConverter` or `HexEncoder`, at least not directly.
`pub cache repair` didn't fix it either.

[2017-05-03 11:34] lrhn commented on #29541
Errors in the original stream are forwarded to the returned stream, just in `expand` (which should be covered by "acts like `expand`", but we might want to be explicit).
The error doesn't terminate anything, it's just forwarded (like `expand`).
They are not supplied to `convert` (and they can't be, the `convert` function expects `T` values).

It's perfectly fine to return an infinite stream or (in

[2017-05-03 11:44] lrhn commented on #29543
The `ChunkedEncoder` class has been removed (it was deprecated in 1.17, after being added in 1.16), but it means that you need to depend on `package:convert` version 2.0 for Dart v 1.24, since `convert` v1.1.1 uses `ChunkedEncoder`.

This is complicating versioning because the removal of the deprecated `ChunkedEncoder` class was technically a breaking change, so to be consistent with semantic vers

[2017-05-03 12:15] whesse commented on #29536
The most recent build on win-full-integration reproduces the failure when we download the dartium that was built, and run tests locally.  I will see if earlier uploads of dartium have the same problem.

[2017-05-03 12:29] terrylucas commented on #29536
The April 28th (11AM-2PM) build was a good Windows build of Dartium 50.

[2017-05-03 12:31] kasperl commented on #29520
Did you intend to close this one, @lrhn?

[2017-05-03 12:58] stereotype441 commented on #29529
@lrhn whoops, there were two errors in my example:
- I meant to say `class B extends A` instead of simply `class B`
- I meant for the "if" test inside of `h` to be `if (t is B)`, not `if (t is int)`

Sorry about that--I've fixed my example above.

Since the spec for strong mode is still being written, and is based on the de facto implementation of strong mode in analyzer, there are several ways to

[2017-05-03 13:24] vsmenon opened #29544 "DDC not initialing mixin fields properly from named constructor"
This was hit internally.  This is the simplified repro:

[code]

[2017-05-03 13:24] vsmenon commented on #29544
@jmesserly - can you take a look?

[2017-05-03 13:29] alsemenov commented on #29541
Also I forgot item 5. `convert` throws error.

[2017-05-03 13:36] mraleph commented on #29539
I think the problem is that Mac's library called `libnotify` is not fork safe.

This library has a lazily initialized global state, which is created whenever `_notify_globals` function is called. Lazy initialization is guarded by a lock: initialization and guarding is done using `os_alloc_once` with key `OS_ALLOC_ONCE_KEY_LIBSYSTEM_NOTIFY`.

There is no special handling of this state in the prefor

[2017-05-03 13:37] mraleph commented on #29539
I filed a bug to Apple: 31962059

[2017-05-03 14:17] jkriesel commented on #29520
Understood that the RPC library is deciding, but shouldn't the approach be a standard just like it is in PHP similar to Dart's standard naming convetions?

[2017-05-03 14:34] eernstg commented on #29529
It might be useful to restate explicitly what we are doing here. Of course, there is no way we can actually promote `T` as such (other expressions could have type `T`, too, but the type test was only applied to `t`), but we are somehow coming up with an entity that looks like a "promoted version of `T`". So here's a way to describe the situation which doesn't create that illusion:

When the given

[2017-05-03 14:53] zoechi commented on #29543
sounds like you are mixing "old-style" versioning with semantic versioning.
Seems like a path into a lot of troubles to me.

[2017-05-03 16:07] a-siva commented on #29539
Your suggested workaround is to call OS::LocalTIme in the mac version of OS::InitOnce ?

[2017-05-03 16:32] sigmundch commented on #29538
Thanks for filing the bug.

The issue here appears to be a bug in some annotations in the `dart:html` library. We use annotations to specify the native behavior of DOM APIs, one of those annotations indicates what we expect the return value of this function to be. I don't believe "Null" was included as a possible result, so dart2js believes `window.getMatchedCssRules` cannot return a null value an

[2017-05-03 16:40] sigmundch commented on #29538
actually, I'm not as familiar as I thought on how to properly fix this @alan-knight @rakudrama - there is no .template containing this definition, so I'm guessing this is generated directly from the IDL, do you know how to add the extra annotation we need?

[2017-05-03 16:49] floitschG opened #29545 "language/regress_22936_test/01 timed out on buildbot"
language/regress_22936_test/01 just timed out on the buildbot

https://build.chromium.org/p/client.dart/builders/vm-precomp-win-simarm64-1-4-be/builds/1005/steps/test%20vm/logs/stdio

In previous runs, it's not even in the list of slow tests.

[code]

[2017-05-03 16:53] whesse commented on #29536
Here is a stack trace from the crash in the driver window:
We are in a method "addClient" with this == null.

The weird thing is that this is called from the lines:
    if (scriptResource) {
        scriptResource->addClient(new ScriptLoadedCallback(m_loadCallback->completeURL(url), this, scriptResource));

so it is hard to see how this (scriptResource) could be null.  Unless the ScriptLoadedCallb

[2017-05-03 18:24] floitschG commented on #28937
Had to revert.

[2017-05-03 18:24] floitschG commented on #28938
Had to revert.

[2017-05-03 18:25] jmesserly commented on #29544
https://codereview.chromium.org/2859703003/

[2017-05-03 18:35] mraleph commented on #29539
@a-siva either that or call it right before forking.

We tried this sort of workaround with @jakobr-google and it seems that it fixed the problem.

[2017-05-03 19:01] devoncarew commented on #29423
@kevmoo, I believe this is addressed now. Closing this issue, but can you verify you see the fix?

[2017-05-03 19:01] #29423 closed

[2017-05-03 19:14] kevmoo commented on #29423
Verified in 5d0056df884632451c58ba6f9aac47e891405444

(was still broken in 1.24.0-dev.2.0)

Did we add tests?

[2017-05-03 19:17] devoncarew commented on #29423
see  5d0056d

[2017-05-03 19:18] devoncarew commented on #29498
@pylaligand, #29423 is fixed, closing this out as I suspect it's the same issue

[2017-05-03 19:18] #29498 closed

[2017-05-03 19:34] munificent commented on #29139
Nothing huge. My in-progress CL has a lot of the right stuff in there, but is missing pieces too (chiefly, it doesn't get the tests using the built SDK).

I have a local CL that gets a stub GN step in place that only copies the checked in SDK to the location where it *will* be built to, and then has create_sdk pulling from that. I want to get a few more pieces working before I send that out.

Flor

[2017-05-03 19:40] munificent commented on #27260
Yes! Florian fixed most of the SDK errors, and I fixed a couple more. He didn't rebuild the DDC SDK, so you don't see him in [the history](https://github.com/dart-lang/sdk/commits/master/pkg/dev_compiler/tool/sdk_expected_errors.txt), but you can see most of the errors going away.

We're down to 12 errors and a pile of warnings. All of the warnings are the same root cause in dart:html. The errors

[2017-05-03 19:53] munificent commented on #29543
You could, but it may not fix the problem. Users of Dart SDK 1.24 or greater would see pub simply skip past that version (correctly, because it doesn't support their SDK) and land them back on the version that claims to work with 1.24 but doesn't actually.

There may not be a very easy solution. 😞 Semantic versioning is a game that only really works when everyone agrees to play by the rules. When

[2017-05-03 21:18] rakudrama commented on #29538
Fix available https://codereview.chromium.org/2857143003/

[2017-05-03 21:18] jmesserly commented on #27260
FYI @munificent -- I previously split out min/max into issue https://github.com/dart-lang/sdk/issues/28909, it has a link to your old CL and some backstory.

[2017-05-03 21:49] munificent commented on #27260
Ah, cool. Thanks. I'll claim that and try to get it fixed.

[2017-05-03 22:14] leafpetersen opened #29546 "Experimental flag for allowing/disallowing assignment casts"
The experimental analyzer `--no-implicit-casts` flag disallows all implicit casts.  We should have a `--[no-]assignment-casts` flag that affects only assignment casts (`A x = e`).  Specifying `--assignment-casts` should allow assignment casts, but no others.

cc @Hixie

[2017-05-03 22:31] Hixie commented on #29546
Flutter would use this to see if we have any implicit casts we aren't expecting. (We currently use assignment implicit casts as a work-around for "as" introducing new checks in release builds; we plan to move those to "as" once the VM has strong mode.)

[2017-05-03 22:32] leafpetersen opened #29547 "Extend strong mode "impossible cast" warnings to explicit casts"
Strong mode issues an error if a literal or an instance creation expression is implicitly cast to an incompatible type, since such a cast cannot possibly succeed in strong mode.  We should consider issuing the same error on explicit casts .

[code]

cc @Hixie @lrhn @floitschG @eernstg @munificent

[2017-05-03 22:37] leafpetersen opened #29548 "Consider taking final classes into account for "impossible cast" warnings"
https://github.com/dart-lang/sdk/issues/29547 proposes extending strong mode impossible cast warnings to explicit casts as well as implicit casts.  For implicit casts, we are at least guaranteed that the types are subtype related, but for explicit casts we allow casts between non-subtype related classes, since there may be a type somewhere which implements both.  However, if either class is final

[2017-05-03 22:47] leafpetersen commented on #29529
Yes, I have been thinking about these as an intersection type.  Supporting these in the general case might be great, but concretely this limited use of them addresses a big class of problems.

[2017-05-04 00:05] devoncarew commented on #29516
(see related PRs in https://github.com/dart-lang/dart_style/pull/625 and https://github.com/dart-lang/dartdoc/pull/1395)

[2017-05-04 00:05] devoncarew commented on #29516
Published! Closing...

[2017-05-04 00:05] #29516 closed

[2017-05-04 00:29] leafpetersen opened #29549 "pkg/analyzer_cli/test/driver_test crashes if there is not a dart installation in the PATH"
I'm not sure if having a dart installation in PATH is intended to be a prerequisite for running the tests or not, but either way something other than a crash would be good.

Running
  python tools/test.py -mrelease --checked -t60 pkg/analyzer_cli/test/driver_test

without a dart sdk in my path, I see the crash below.

First adding a dart sdk to my path fixes it.

cc @scheglov

FAILED: none-vm-chec

[2017-05-04 01:24] #29539 closed

[2017-05-04 02:26] devoncarew commented on #29508
As another data-point, my folder is 1.33 GB.

[2017-05-04 02:28] devoncarew commented on #29508
And 121,425 files!

[2017-05-04 02:31] filiph opened #29550 "No break on exception when it is in try / finally"
When there's an unhandled exception in code, and that code is wrapped in try / finally, VM will not break on the exception and will crash instead.

Repro:

[code]

Note that this is the case even when the try / catch block is several frames removed from the exception, and even if there are async gaps between them. This means that working on larger codebases, developer will often encounter places w

[2017-05-04 02:35] devoncarew commented on #29351
I formatted and cleaned up the last exception listed:

Failed to handle request: {params: {included: [/home/mfairhurst/dart/ng-analyzer-with-sdk-at-HEAD/analyzer_plugin], excluded: [], packageRoots: {}}, method: analysis.setAnalysisRoots, id: 1}",

[code]

[2017-05-04 02:38] #29088 closed

[2017-05-04 02:42] filiph commented on #29550
Oh, I should probably add this is tested in IntelliJ WebStorm 2017.1, Dart v1.23.0. But I think I've seen this in Observatory as well, and in previous versions of Dart.

[2017-05-04 05:46] eseidel opened #29551 "Failed to handle completion domain reques"
I'm not sure if it's still useful to report these by hand or not, but in case it is:

Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

Editing some Dart code.

### Versions

- Dart SDK 1.24.0-dev.0.0
- Visual Studio Code 1.11.2
- Dart Code 0.14.9

### Analyzer Info

The analyzer was launched with the arguments:

[code]

### Exception

Failed to handle complet

[2017-05-04 07:12] devoncarew commented on #29551
It is for recent SDKs! The stack traces are definitely useful when we can match them up to the current source.

[2017-05-04 07:26] zoechi commented on #28748
Comment syntax was clearly communicated as experimental and
breaking changes in experimental features are expected and should be allowed?
It's always a great idea to try to avoid breakage of course, but what's the point of marking something experimental?
Just my 2c.

[2017-05-04 07:46] zoechi opened #29552 "After restarting IDEA, the Dart Analysis view briefly shows some errors/warnings and then this error is reported"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA 171.4424.14`
- `1.24.0-edge.6a575117630f40859b4fc034696e9a14486501d6`
- `IU-171.4424.14, JRE 1.8.0_112-release-736-b21x64 JetBrains s.r.o, OS Linux(amd64) v4.9.0-2-amd64 unknown, screens 3840x2160`

# Exception

Please append the contents of:
file:///tmp/report.txt

[code]

[2017-05-04 07:46] lrhn commented on #28748
The problem here is that we don't just want to remove the comments, which would only be affecting the experimental version, but actually change the existing declaration to be the one that is currently in comments.
That breaks the existing, non-experimental version of the class, and any library that depends on it. It'll be a necessary change form Dart 2/Strong mode, but a breaking change for Dart 1

[2017-05-04 07:52] zoechi commented on #29552
seems to work fine without the angular plugin

[2017-05-04 07:53] zoechi commented on #29552
[report.txt](https://github.com/dart-lang/sdk/files/975475/report.txt)

[2017-05-04 07:57] zoechi commented on #28748
I see. Thanks for clarification.

[2017-05-04 07:57] lrhn commented on #29548
The final classes in Dart are `int`, `double`, `bool`, `Null` and `String`, so those are the only ones that benefit from this - and `Null` is special, so it's really just the other four.
And just for the record:
[code]
would "succeed".
That doesn't mean that it's not stupid code and we should warn about it, or make it an error, just stating that it's not a guaranteed runtime error. (The solution w

[2017-05-04 08:01] lrhn commented on #29541
If convert throws, then, like `expand`, the error is put into the returned stream.

[2017-05-04 08:03] eernstg commented on #29548
I know that they've discussed this topic in the Scala community in terms of intersections: If S&T is the empty type then cast-from-S-to-T will fail, and if S&T is a non-empty type then we generally can't know for sure that it will fail. So the intersection criterion is a pretty accurate way to see it.

I believe we cannot hope to determine type emptiness in the general case (and certainly not duri

[2017-05-04 08:15] lrhn commented on #29520
Dart is not generally making a connection between a string and a variable name. PHP allows direct usage of a string as a variable (like `"${$a}"` being equivalent to `"$foo"` if the `a` variable holds the string `"foo"`). It allows you to go directly from a string to a variable, so the language has to concern itself with that - string/variable conversion is embedded deeply into the language itself

[2017-05-04 08:15] #29520 closed

[2017-05-04 08:57] johnniwinther commented on #28383
The analyzer is still painfully slow and it seem to worsen with every update.

Besides the slowness it now also misses in-project uses when refactoring and failing to see new files: continuing to show 'Target of URI doesn't exist' even when it is open in an editor. This seem to happen when a new file is checked out through git.

[2017-05-04 09:01] johnniwinther commented on #28383
And it can no longer jump to a declaration outside the project (i.e. from a package). This is very unfortunate since having the source file open was sort of last resort when it when the content assistant doesn't work (or is just too slow).

[2017-05-04 09:14] karlklose commented on #28383
I can observe extreme pauses with the analyzer during typing (tens of
secons) too, but only on Windows (10).

On Thu, May 4, 2017 at 11:01 AM, johnniwinther <notifications@github.com>
wrote:

[2017-05-04 09:22] johnniwinther commented on #28383
I'm Windows 7

[2017-05-04 09:37] whesse commented on #29536
I have found the problem, and fixed it.  Windows Dartium 50 is passing tests, with my fix.
There was a PassRefPtr being used after it was copied to another pointer, and so it was null.
I changed it to a RefPtr, so it doesn't get set to null.
I'll attach the CL to this issue when it is ready.

[2017-05-04 09:51] peter-ahe-google opened #29553 "[Kernel] Catch on type variable doesn't work"
The test [tests/language/generic_field_mixin4_test.dart](https://github.com/dart-lang/sdk/blob/8e19729b8913c4225ef84e863193e36879947727/tests/language/generic_field_mixin4_test.dart#L13) seems to treat the type variable in catch as dynamic.

I've attached the compiled file: [generic_field_mixin4_test.dart.dill.zip](https://github.com/dart-lang/sdk/files/975736/generic_field_mixin4_test.dart.dill.z

[2017-05-04 11:29] floitschG commented on #29122
Had to revert.

[2017-05-04 11:59] floitschG opened #29554 "IOSink should throw a StateError when adding after a close"
Currently `IOSink` does not throw when data (or errors) are added after the sink was closed.

Since the original documentation of IOSink explicitly allowed adding data, we provide a grace period before this operation becomes throwing. This bug tracks the switch to the throwing behavior.

[2017-05-04 12:21] peter-ahe-google opened #29555 "Can a function type alias have a type variable with the same name as itself?"
Is this legal:

[code]

I can't even find a specification of what it means to have type parameters on a function type alias.

The specification says:

Likewise, if a type annotation is omitted on a formal parameter, it is taken to be `dynamic`.

Notice the absence of type parameters from the above text.

[2017-05-04 12:35] whesse opened #29556 "Crash in Dartium 50 on Windows"
A new (rare) crash in Dartium 50 on Windows showed up when reporting an error.  This may be another problem with a smart pointer being set to zero when it is used somewhere else.  The code is

void ConsoleMessage::setCallStack(PassRefPtr<ScriptCallStack> callStack)
{
    m_callStack = callStack;
    if (m_callStack && !m_callStack->isEmpty() && !m_scriptId) {
        m_url = m_callStack->topSource

[2017-05-04 13:14] mit-mit opened #29557 "Dart SDKs contain a empty `util` folder"
The downloadable Dart SDK .zip files (e.g. [this one](https://storage.googleapis.com/dart-archive/channels/stable/release/1.23.0/sdk/dartsdk-macos-x64-release.zip)) appear to contain an `util` folder that seems to have no contents inside it? Why is this included?

[2017-05-04 13:24] mit-mit opened #29558 "Product a 'Dart Platform SDK' on the Dart bots"
## Motivation

Currently the Dart SDK contains several libraries and tools that are web specific. For products that embed the Dart SDK but which are not web oriented -- e.g. http://flutter.io -- these take up space, yet provide no value. It would be good to produce a more focused Platform SDK for these use cases.

## Contents

The contents of the platform SDK should be the contents of the current

[2017-05-04 13:24] mit-mit commented on #29558
@kevmoo can you sanity check exclude lists above, please?

[2017-05-04 14:19] floitschG commented on #29554
https://codereview.chromium.org/2857393003

[2017-05-04 14:27] #28937 closed

[2017-05-04 14:27] #28938 closed

[2017-05-04 14:36] lrhn commented on #29555
Immediate thought: Sure, no problem.
The type parameter is a "local" variable scoped inside the typedef, the typedef's own name is declared in the scope outside it, so the local variable should shadow the outer one, and everything is honky dory.

As the opposing view, we don't allow type parameter of a class to have the same name as the class, or as any member. The members make sense, they can be

[2017-05-04 14:50] bwilkerson commented on #29555
It seems inconsistent to me to allow it for typedefs but not for classes. My belief is that inconsistencies like this make it harder for people to understand a language, so I would disallow it, if it were up to me.

@lukechurch What do you think the impact on usability would be?

[2017-05-04 14:59] lrhn commented on #29555
The consistency I'm looking at is that nothing inside a class can have the same name, including constructors, which is the reason the class's own name is prohibited for members and type parameters.
It's not that there is a problem with the type parameter conflicting with the class, it's the conflict with the constructor that is the reason. That problem isn't there for the typedef (no internal decl

[2017-05-04 15:25] dgrove commented on #28383
Bumping to P1, given the number of Windows users we have.

[2017-05-04 15:41] peter-ahe-google opened #29559 "Crashes during ClassFinalizer::CheckTypeArgumentBounds"
The attached file, [example.zip](https://github.com/dart-lang/sdk/files/976685/example.zip), contains three dill files and a Dart file. The file `good.dill` doesn't cause a crash, and `bad1.dill` causes the first crash below, and `bad2.dill` causes the second.

The core difference between `good.dill` and `bad1.dill` is this mixin application:

[code]

The core difference between `good.dill` and `b

[2017-05-04 16:25] devoncarew commented on #29551
fixed in https://github.com/dart-lang/sdk/commit/f6f845c879d7f65113e4f1ce5b4e862a76c7b4c8

[2017-05-04 16:25] #29551 closed

[2017-05-04 17:30] leafpetersen commented on #29555
My inclination would be to say that unlike classes where the class name is in scope in the body (and hence forbidding the shadowing is helpful), the typedef name is not in scope in the body and hence there is no reason to forbid it.

[2017-05-04 17:42] jmesserly commented on #28513
Related issue here. Should `Null <: bottom`? that feels kinda wrong. Just chatted with @leafpetersen and we think it may be possible to fix that one

[2017-05-04 17:43] leafpetersen commented on #29548
Unless we add user defined final (sealed) classes, which I'd still like us to do.

Yes, we could do this as a lint, but I don't want to specify it as a language error since I want us to be able to do modular analysis.

I don't think so.  Not without whole program analysis, or maybe unless we forbid implementing the same class twice.  If you have a generic class `A` which only uses the type variabl

[2017-05-04 18:27] mk13 commented on #29552
Taking a look at it.

[2017-05-04 19:33] #29544 closed

[2017-05-04 20:52] MikeMitterer opened #29560 "feature request: Search function in Obseratory Class Hierarchy"
I have 3319 Classes, Browser search function does not work in Observatory and in my special case I was looking for MdlComponent. You can't find it under "M"
![capturfiles-20170504_104613](https://cloud.githubusercontent.com/assets/116654/25724279/af9ae072-311b-11e7-910f-25c179b05967.png)

For whichever reason it is between "N" and "O" - weird:

![capturfiles-20170504_104858](https://cloud.githubus

[2017-05-04 20:57] stereotype441 opened #29561 "Decide how "instantiate to bounds" should handle implicit type parameter bounds"
If I'm not mistaken, the analyzer implementation of strong mode currently treats a missing type parameter bound as different from a bound of `Object`:

    class C<T> {}
    C c; // equivalent to: C<dynamic> c;

    class D<T extends Object> {}
    D d; // equivalent to: D<Object> d;

This is problematic for two reasons:

- Kernel doesn't record enough information to distinguish a missing type par

[2017-05-04 21:09] MikeMitterer opened #29562 "feature request: Tool in Observatory that helps to find the root object that holds back an instance from GC"
The following SS shows a class that has two instances but should have only one. I cant figure out why the first instance gets not garbage collected. I fiddled around now for several hours, questions on Gitter but no chance...
It's nearly impossible that all those "from" entries are holding a reference to this particular object.

![capturfiles-20170504_061623](https://cloud.githubusercontent.com/as

[2017-05-04 21:17] devoncarew opened #29563 "enable using the analysis options file to configure the severity of lints"
Users should be able to configure the severity of lints using the analysis options file, the same as they can do for other analysis issues:

https://www.dartlang.org/guides/language/analysis-options#configuring-specific-rules-for-analysis

[code]

We should investigate why this isn't working.

/cc @pq @bwilkerson

[2017-05-04 21:55] MichaelRFairhurst opened #29564 "observatory retaining path seems to include the instance itself"
https://files.gitter.im/dart-lang/sdk/6sct/image.png

notice the fields are an exact match, and don't contain a reference to no AnalysisError.

Related: https://github.com/dart-lang/sdk/issues/29562, user who experienced the issue and rightly got confused, though this itself still doesn't fully clear that issue up

[2017-05-04 22:08] MichaelRFairhurst commented on #29562
In addition to the issue I filed before, looks like two things are confusing:

* the confusing bit is `word [ 3 ] of Context (2)`. Not a very intuitive description.
* the list format that makes it look like a set of inbound references rather than a reference of a reference of a reference.

regarding the latter, even I'm not entirely sure if I understand the misunderstanding right. maybe it would b

[2017-05-04 22:10] sigmundch opened #29565 "void semantics: double check that these co19 tests pass for the right reasons"
Some co19 tests started passing after the CL landed with the new `void` semantics.

See:
https://build.chromium.org/p/client.dart/builders/dart2js-linux-drt-2-2-be/builds/3162/steps/dart2js%20drt%20co19%20fast-startup%20checked%20tests/logs/stdio

For example:
`tests/co19/src/WebPlatformTest/html/dom/elements/global-attributes/dataset-enumeration_t01.dart` has this code:
[code]

[2017-05-04 22:25] devoncarew commented on #29563
(looking at this now - this may be a quick fix)

[2017-05-04 22:53] devoncarew commented on #29563
https://codereview.chromium.org/2863013002/

[2017-05-04 23:03] kmillikin commented on #29559
The binary files seem to be invalid or else they were corrupted somewhere.  If I try to read them with the VM or Fasta I get a failure due to a Procedure in a library's list of Fields.

The procedure is testIntIterable from iterable_return_type_test_none.dart.

[2017-05-05 05:24] peter-ahe-google commented on #29559
Try at revision 842094726528e26892111d1626bbf04d2d62017a. There's been changes to the binary format since then, that I haven't synced with.

[2017-05-05 05:28] skybrian opened #29566 "latent breakpoints cannot be listed or removed"
When Observatory receives an addBreakpointWithScriptUri() and the script isn't ready yet, it creates a "latent breakpoint" to be added later. These breakpoints don't show up in the breakpoint list and removing them fails.

This causes confusion in debuggers when a breakpoint is added and removed before the script has finished loading. The latent breakpoint can appear at an arbitrary time in the fu

[2017-05-05 07:08] jensjoha commented on #29176
Happened again on vm-win-debug-ia32-russian-be
 (https://uberchromegw.corp.google.com/i/client.dart/builders/vm-win-debug-ia32-russian-be/builds/2783/)

[code]

[2017-05-05 07:09] jensjoha commented on #28842
(apparently I didn't search well enough back in March: https://github.com/dart-lang/sdk/issues/29176)

[2017-05-05 07:46] lrhn commented on #29565
The test has a `void` function returning an `int` value. That used to be a checked-mode error and static warning, it's now only a static warning - and that matches that it now passes in checked mode. With the new check, `void` doesn't check anything at runtime, where it used to test that the value was `null`.

Using the `void` function's result wasn't detected because `assert_equals` takes `dynami

[2017-05-05 07:50] jensjoha commented on #29537
I suppose you want it to print
[code]
(you accidentally pasted the same as actual and expected).

[2017-05-05 08:01] lrhn commented on #29555
Technically, the name of the typedef *is* in scope inside itself, it's just not *allowed* to refer to itself (directly or indirectly, to avoid a structurally infinite type).

You couldn't *have* a direct self reference if it wasn't in scope.

Still, that's not a reason to prohibit nested uses of the name. We do allow functions to have variables, or even parameters, that have the same name as the f

[2017-05-05 08:20] MikeMitterer opened #29567 "Dart plugin / Analyzer in IDE uses old/wrong/cached??? file for analysis and marks everything in red"
If I open a file (test) in IJ it marks almost all classes as "not defined" but if I modify the file by adding a new line it recognized the change and removes the error messages.

Analyzer cmdline works (as always in such cases)
Made a video to demonstrate the problem

IntelliJ IDEA 2017.1.1
Build #IU-171.4073.35, built on April 6, 2017
Licensed to Mike Mitterer
Subscription is active until Decembe

[2017-05-05 08:33] mraleph commented on #29539
I wrote and submitted the following reproduction to Apple:

https://gist.github.com/mraleph/e45db4d7a56bf65c3fe33e666bc31928

[2017-05-05 10:04] zoechi commented on #29552
This seems to work now after updating to the latest Dart and plugin build.

[2017-05-05 10:24] jensjoha commented on #28624
Just as a note this happens quite often (at least to me) (even when not running from kernel) when run in a loop (for instance running a number of terminals with this loop). E.g. something like
[code]

I then at least gets something like this quite often:
[code]

[2017-05-05 12:07] peter-ahe-google commented on #29559
It was a problem with too many type parameters on built in types. I've fixed this in Fasta.

[2017-05-05 12:10] peter-ahe-google commented on #29537
Yes. I'll update my original comment.

[2017-05-05 13:05] bwilkerson commented on #29552
Excellent! Please let us know if you see this again.

[2017-05-05 13:05] #29552 closed

[2017-05-05 13:08] bwilkerson commented on #29567
@scheglov In case you have any thoughts.

[2017-05-05 13:53] #29559 closed

[2017-05-05 15:42] dgrove commented on #28943
@floitschG - all of the void changes look unlikely to land for 1.24, from what I see. Can these move to 1.25?

[2017-05-05 16:28] scheglov commented on #29567
I don't know why this might happen.
One possibility is a bug with updating errors in the Dart plugin for IDEA.
Another - is a bug in Analysis Server or analyzer.

Was the file `events.dart` recently added?
Was `pubspec.yaml` recently changed?

[2017-05-05 16:41] devoncarew opened #29569 "take a look at the current analysis options file format with an eye towards any desired improvements"
From a discussion with @pq @bwilkerson:

We've been using the analysis options file format for a file. We should take a look at the current format, see where things are hard to configure, unclear to configure, or require duplication to configure, and make some decisions about what we should change and if those changes are worth it taking into account any impact to end users.

[2017-05-05 16:42] devoncarew opened #57562 "linter docs (on the readme) should be updated to explain how to change a lint's severity"
We should tell people how to change the severity of lints; I'm not up to speed on where all lints are documented, but the https://github.com/dart-lang/linter/blob/master/README.md may be a good place to do this.

[2017-05-05 17:11] #29428 closed

[2017-05-05 17:31] scheglov commented on #27108
Done in https://github.com/dart-lang/sdk/commit/e24b9c218dd8033c23add3117f760cc904fbfc79.

[2017-05-05 17:31] #27108 closed

[2017-05-05 17:32] a-siva commented on #29566
Thanks for tracking this down.

We maintain breakpoints in two lists in the debugger object
- breakpoint_locations_
- latent_locations_

When listing breakpoints in the isolate or when removing breakpoints we don't seem to account for the latent_locations_ list.

[2017-05-05 17:54] jmesserly commented on #27256
https://codereview.chromium.org/2867493002/

[2017-05-05 18:14] Hixie commented on #29534
@jcollins-g see @lrhn's comment above

[2017-05-05 18:50] scheglov commented on #29388
I'm not able to reproduce this on Mac or Windows x86 with `1.24.0-dev.1.0`.
![image](https://cloud.githubusercontent.com/assets/384794/25759795/d5e1dd90-3188-11e7-91f2-2fbf9d0b9217.png)
![image](https://cloud.githubusercontent.com/assets/384794/25759833/024ffe66-3189-11e7-8812-548568973941.png)

[2017-05-05 19:08] scheglov commented on #29388
Works on x64 version as well.
![image](https://cloud.githubusercontent.com/assets/384794/25760395/70fc1294-318b-11e7-80f2-262c5958f778.png)

[2017-05-05 19:11] scheglov commented on #27763
This was fixed.

[2017-05-05 19:11] #27763 closed

[2017-05-05 19:12] scheglov commented on #28729
Please reopen if this is still a problem.

[2017-05-05 19:12] #28729 closed

[2017-05-05 19:20] scheglov commented on #28705
I believe this was fixed by flushing files on write.
https://github.com/dart-lang/sdk/commit/2d0d00061190d1df824628e7ec045ece27af7fd1

[2017-05-05 19:20] #28705 closed

[2017-05-05 19:23] #29507 closed

[2017-05-05 19:37] alan-knight commented on #26349
https://codereview.chromium.org/2864053002

[2017-05-05 20:13] Hixie commented on #29534
@lrhn Oh, the problem is that you can't use `[f]` to link to parameters. There's nothing to link to. When referring to parameters, just use backticks.

[2017-05-05 20:17] #29563 closed

[2017-05-05 20:32] jmesserly commented on #25698
Just verified this is fixed:
[code]
[code]

[2017-05-05 20:32] #25698 closed

[2017-05-05 20:37] scheglov commented on #29533
OK, I can reproduce the problem.

[2017-05-05 21:32] devoncarew opened #29570 "ensure that we're analyzing non-dart files (analysis_options.yaml, for example)"
Specifically, we have several issues we can report for `.analysis_options` and `analysis_options.yaml` files; we should ensure that we're analyzing at least these file types, so we can get warnings (like this one: https://codereview.chromium.org/2655073005/).

[2017-05-05 21:33] #29529 closed

[2017-05-05 22:16] munificent commented on #28909
Fixed in: https://codereview.chromium.org/2858353003/

[2017-05-05 22:16] #28909 closed

[2017-05-06 01:43] rakudrama opened #29572 "dart2js: Emit fewer deferred parts by merging unrelated small parts."
Analysis of a large app (minified).

Of the 370 parts, most are quite small:
146 of size 0-1999
67 of size 2000-9999
89 of size 10000-99999
60 of size 100000-999999

Many parts are small and could be merged with unrelated parts and still stay quite small.

- [ ] It appears that 53 of the parts are completely empty. This should be investigated.
- [ ] Since the overhead of an empty part is currently

[2017-05-06 01:54] rakudrama opened #29573 "dart2js: Reduce deferred part boilerplate"
Minified deferred parts currently have 1080 bytes of boilerplate.
Much of this could be be reduced.

- [ ] There appears to be an unused `holders` variable that is used only in the main part. Its value is redundant with another list, so perhaps the variable should be used.
- [x] Many parts have empty actions for one of the stages (e.g. installTearOffs). This could be removed if empty.
- [ ] Many p

[2017-05-06 03:10] sgrekhov commented on #29388
@scheglov I'm sorry, I copied wrong code. I've updated issue description. Now there are two examples above that fails in a strong mode on dartanalyzer version 1.24.0-dev.3.0.

[2017-05-06 15:47] floitschG commented on #29523
CL in progress: https://codereview.chromium.org/2864863002/

(Feel free to comment there as well)

[2017-05-06 17:41] floitschG commented on #29565
Agree with Lasse. I went through all the affected tests and they are mistakes in the tests.

I filed https://github.com/dart-lang/co19/issues/111

[2017-05-06 17:41] #29565 closed

[2017-05-06 18:08] floitschG opened #29574 "Use profile information to delay initialization of classes"
Using profile information, dart2js could defer the initialization of classes. Contrary to "deferred" libraries, the Dart code itself wouldn't need to opt into this deferred initializations. As such I call this "soft-deferred" code.

[2017-05-06 20:28] bergwerf opened #29575 "js-interop: @JS('window') is now suddenly needed?"
**Describe the issue you're seeing**
Putting @JS() at the beginning of the file should use the global namespace for getting references (e.g. `window`). I get errors now saying `self.*` is not defined. If I put `@JS('window')` before library instead it works.

**Does it happen in Dartium or when compiled to JavaScript?**
When compiled

* Dart SDK version: *use `dart --version`*
Dart VM version: 1.2

[2017-05-07 01:27] JavaScriptDude commented on #10260
I know its very distant goal from having a native BSD port but has anyone tried running Dart Linux binaries in FreeBSD using Linux Binary Compatibility[1]? Maybe formal support for FreeBsd LBC would be a good start?

1) https://www.freebsd.org/doc/handbook/linuxemu.html

[2017-05-07 15:14] Zectbumo commented on #10260
OpenBSD dropped Linux compatibility a couple releases ago.

[2017-05-07 15:39] devoncarew opened #57563 "Exception while using a _Visitor to visit a FieldDeclarationImplin ClassDeclarationImplin CompilationUnitImpl"
Looks like this is in the `overridden_fields` lint. Here's a partial stack trace:

[code]

[2017-05-07 16:03] zoechi commented on #29569
perhaps also taking into account possible future requirements

For example to not apply specific linter rules for files matching globs (for example generated code) or specifying severity for linter hints

[2017-05-07 16:25] devoncarew commented on #29569
This has been fixed recently - you can now specify severity the same way as w/ regular analysis items. But you do need to both opt-into the lint, and set the severity in a separate section, so definitely something to look w/ any tweaks to the file format.

[2017-05-07 16:26] devoncarew commented on #29569
(file format currently documented here: https://www.dartlang.org/guides/language/analysis-options)

[2017-05-07 17:10] zoechi opened #29576 "The getter 'fullName' was called on null."
Analyzer Feedback from IntelliJ

# Version information

- `IDEA 171.4424.14`
- `1.24.0-edge.6b8a56cd7f1458e4d0cd5915a892982dd0f0d599`
- `IU-171.4424.14, JRE 1.8.0_112-release-736-b21x64 JetBrains s.r.o, OS Linux(amd64) v4.9.0-2-amd64 unknown, screens 3840x2160`

# Exception

Please append the contents of:
file:///tmp/report301.txt
[report301.txt](https://github.com/dart-lang/sdk/files/981769/repor

[2017-05-07 17:11] zoechi commented on #29576
Looks like #29552

[2017-05-07 20:06] filiph opened #29577 "Observatory UI doesn't run in browser, shows "loading" next to Isolate, and clicks go to blank white pages"
When opening observatory in Chrome, I only see the static (pre-load) content, and the JS console says:

    Refused to execute script from 'http://127.0.0.1:52266/packages/web_components/dart_support.js' because its MIME type ('application/json') is not executable, and strict MIME type checking is enabled.

![screen shot 2017-05-07 at 13 04 15](https://cloud.githubusercontent.com/assets/919717/257

[2017-05-08 07:24] lrhn commented on #29534
You most certainly *can* link to parameters in a function's documentation, and we do it for every documented function that has parameters.
The HTML doc-generator might have a problem creating an HTML link to the parameter because it doesn't have a target, but in an editor, clicking on the doc link should move your cursor to the parameter declaration. It's both useful and meaningful to use `[f]` to

[2017-05-08 08:18] jakobr-google commented on #22655
Nothing concrete yet, but I'm working on it.

[2017-05-08 08:50] kasperl commented on #29577
Are you "monitoring" the Observatory issues, @a-siva?

[2017-05-08 09:29] #29523 closed

[2017-05-08 09:36] whesse opened #29578 "process_test executable link errors after clank roll"
The process_test C++ executable, used to test dart:io subprocess calls, has a linker error after the clank change in 726732dd6b02aa4f8117707071c54004a7c6e815 that shows up as warning messages on stdout at runtime.

This causes a test which checks its stdout to fail:
standalone/io/process_exit_test

Added a RuntimeError expectation in standalone.status.

[2017-05-08 09:37] whesse commented on #29578
The actual failure message is:
Executing adb -s 07139497005a0052 shell /data/local/tmp/precompilation-testing/dart_precompiled_runtime --ignore-unrecognized-flags --packages=/b/build/slave/vm-precomp-android-release-1-3-be/build/sdk/.packages /data/local/tmp/precompilation-testing/test/out.aotsnapshot ; echo AdbShellExitCode:  $?
Stdout:
WARNING: linker: /data/local/tmp/precompilation-testing/dart

[2017-05-08 12:27] #29122 closed

[2017-05-08 12:58] jackd opened #29579 "analyzer: generic type inheritance not checked"
After a recent upgrade to 1.23 I'm getting errors from the analyzer in what I believe is typesafe code. Example:

[code]
`dartanalyzer .`
[code]

[2017-05-08 13:36] bwilkerson commented on #29576
@MichaelRFairhurst Can you confirm that this is fixed?

[2017-05-08 13:38] pq opened #57565 "Review `0.1.31` changes."
I fat-fingered and pushed a commit (https://github.com/dart-lang/linter/commit/609ff7686c9d942b69922e36a4373fe5b2ef7643) that was meant to be a PR.

Please take a quick look.  Happy to revert if needed.

Note there is some rule name normalization.

@bwilkerson

FYI @a14n @alexeieleusis

[2017-05-08 13:52] floitschG commented on #28843
These tests now reported a StaticWarning, that some classes in the dart:io library can't see `stderr` (which is defined in the `dart:io` library.
Updated the status file.

[2017-05-08 14:20] whesse opened #29580 "ARM snapshots are not created"
Cross-compiling ARM and ARM64 builds with tools/build.py create_sdk creates Intel X64 snapshots, and copies them into the dart-sdk/bin/snapshots directory of the build directory out/ReleaseXARM or out/RELEASEXARM64.

This is a mistake in the build process, since the shapshot generation tool should have support for generating cross-platform snapshots.

The dart executable on ARM and ARM64 can run d

[2017-05-08 14:46] jcollins-g commented on #29534
@lrhn is correct, linking to parameters shouldn't create a warning.  It should, on the other hand, link to the types for those parameters or do something else useful, which it doesn't currently do, but it shouldn't warn.

[2017-05-08 14:56] zanderso commented on #29578
/cc @rmacnak-google

[2017-05-08 14:56] Hixie commented on #29534
Interesting. We've not had any luck linking to parameters in Flutter's codebase and assumed it was not a supported feature. We moved to using backticks for them a while back.

[2017-05-08 15:01] jcollins-g commented on #29534
It doesn't actually _do_ anything to link to a parameter, but @lrhn is right in that it shouldn't warn.

[2017-05-08 15:58] aam commented on #29566
I'm working on a fix for this.
Meanwhile, Brian, I was curious if there is a way to configure passing of additional parameters (f.e. --local-engine) to flutter script invoked by IntelliJ Flutter plugin?

[2017-05-08 16:46] skybrian commented on #29566
In the run configuration, there is an Additional arguments field. Maybe that will work?

(I'm not sure if it puts the flag in the right place for `--local-engine`, though. I'm unfamiliar with this flag and it seems not to be documented?)

[2017-05-08 16:52] pq opened #57566 "0.1.33 Release Plan"
# Plan for `0.1.33`

## Theme

Fixes and contributions.

## Plan items

### Features

* new `prefer_const_constructors_in_immutables` lint
* new `always_put_required_named_parameters_first` lint
* new `prefer_asserts_in_initializer_lists` lint
* support for running in `--benchmark` mode
* new `prefer_single_quote_strings` lint

### Fixes

* docs for `avoid_setters_without_getters`
* fix to `direct

[2017-05-08 16:53] #57565 closed

[2017-05-08 16:56] leafpetersen commented on #29579
Yeah, that looks like a bug.

[2017-05-08 17:05] #29517 closed

[2017-05-08 17:15] aam commented on #29566
Yes, it does seem to work. Thanks!

The flag is used when you want flutter to use the updated engine code: https://github.com/flutter/flutter/blob/master/CONTRIBUTING.md#working-on-the-engine-and-the-framework-at-the-same-time

[2017-05-08 18:36] filiph commented on #29577
Talked to @rmacnak-google about this.

This happens because the code is at `stdin.readLineSync()` when I open the Observatory UI. So Observatory cannot obtain any data from the VM, as the VM is busy synchronously waiting for input. The MIME type error is unrelated.

Here's a screenshot of what the UI looks like, in case others have this issue:

![screen shot 2017-05-08 at 11 32 06](https://cloud.g

[2017-05-08 18:36] #29577 closed

[2017-05-08 18:56] MichaelRFairhurst commented on #29576
This is not fixed. Its an issue with running our angular plugin on a codebase without angular

Ping @mk13 still plan to take this on?

[2017-05-08 18:59] filiph opened #29581 "Cannot add breakpoint inside a function"
Setting breakpoint on line 6 of this script won't stop execution:

[code]

The script works fine and runs to completion. But any breakpoint inside a function defined like that one will be ignored. IntelliJ marks it as an "Invalid" breakpoint (with an 'x') during execution:

![screen shot 2017-05-08 at 11 56 08](https://cloud.githubusercontent.com/assets/919717/25820236/72cc9e02-33e5-11e7-9e5d-01bc

[2017-05-08 19:35] matanlurey opened #29582 "Travis: Cover bug for things that annoy me"
I don't know what repository to file issues under, so please move (or direct me).

- [ ] Checking for `dartfmt` breaks across SDK versions.

For example, your `package:silly_monkey` is formatted with the `1.23.0` version of `dartfmt`, but you are testing your package with `1.24.0-dev` as well. There should be an easy way to only check `dartfmt` with stable.

- [ ] No way to reproduce build locally

[2017-05-08 19:40] matanlurey commented on #29582
@grouma showed me this, which helps solve `dartfmt`:

This sort of brings a third issue though: I don't even know where our travis configuration is documented. We need some sort of knowledge base (on site-www, or in a wiki, or somewhere) to be able to refer to this.

[2017-05-08 19:43] grouma commented on #29582
Travis support is documented on the official website here: https://docs.travis-ci.com/user/languages/dart/

Corresponding code resides here: https://github.com/travis-ci/travis-build/blob/master/lib/travis/build/script/dart.rb

[2017-05-08 19:58] rmacnak-google commented on #29577
More specifically, only the isolate running `stdin.readLineSync()` is blocked, not the whole VM. If there were other isolates not at blocking calls, they would load properly.

In the future, we might be clever and timeout if the response from an isolate takes too long, either presume it is blocked or try to check the isolate's tag to see it is in the middle of a native call, and display a message

[2017-05-08 19:58] goderbauer opened #57567 "Make isValidPackageName public"
For Flutter (and anybody else, who is programmatically creating packages (e.g. to give the user a template to start with)), it would be great if `isValidPackageName` from `package:linter/src/rules/pub/package_names.dart` would be public.

[2017-05-08 19:59] #57478 closed

[2017-05-08 20:05] natebosch commented on #28892
cc @leafpetersen

This came up as an area where using strong mode analyzer and testing on the VM does not catch a compile-time error in Dart2Js.

We might want to make this more strict in strong mode.

[2017-05-08 20:06] #29580 closed

[2017-05-08 20:41] rakudrama opened #29583 "Please merge revision 73f45d6230a370273234e5d147a86dfc4c869caf into dev channel"
@whesse @mit-mit @kasperl

This fixes a bug where an async function was started in the root zone instead of the current zone.

[2017-05-08 21:01] rakudrama opened #29584 "Check uses of _nullFuture for zone safety, add tests"
Check uses of `_nullFuture` to see if they preserve zones properly.

An optimization to use `_Future._nullFuture` had to be reverted (https://github.com/dart-lang/sdk/commit/73f45d6230a370273234e5d147a86dfc4c869caf)
Apparently starting an async function has to use a Future in the current zone, even though the called 'then' function is wrapped in the zone.
Trying to optimize this to _nullFuture (in

[2017-05-08 21:36] jmesserly opened #29585 "equality not implemented for tear offs"
_From @jmesserly on July 22, 2015 23:45_

there's a test for this for async methods, but we don't pass it for normal methods yet either. For now skipping that test

_Copied from original issue: dart-archive/dev_compiler#265_

[2017-05-08 21:37] jmesserly commented on #29585
Members are supposed to be == (though not necessarily identical) after closurization. This is addressed in 16.18.7 Ordinary Member Closurization of the Dart spec:

== o2.m and o1.m == o2#m.

required to canonicalize these or any other closures

property functions in APIs where callbacks such as event listeners must often be
registered and later unregistered. A common example is the DOM API in web

[2017-05-08 21:43] jmesserly commented on #29585
I think dart.bind/gbind should set up to create an `==` operator method (via `dartx['==']`) ... or it can safe the "self" so we can compare in our fallback code, or we should cache the tear off on the instance. But probably an `==` method on the tear off is best.

[2017-05-08 22:07] rakudrama opened #29586 "(Range)Error problems: difficult to understand: messages"
RangeError messages are difficult to understand.

Examples:

[code]

One can eventually learn to interpret the messages, but the difficult in understanding the messages has caused users to try to create their own messages via interpolation in calls to methods like `RangeError.checkValueInInterval`. This comes at a high cost since in all programs (except those that intentionally throw these errors)

[2017-05-08 22:12] keertip commented on #29583
@whesse, can you put out a dev.3.1? we need this fix for google3. Thanks!

[2017-05-08 23:30] rakudrama commented on #11501
RangeError e now contains e.invalidValue, e.start, e.end.

[2017-05-08 23:30] #11501 closed

[2017-05-08 23:58] rakudrama commented on #26617
I just spent half an hour writing some special-case code because we do not have a toStringXXX method that avoids the exponent.

x.toStringAsPrecision(3) did what I wanted on the range 0.1 to 999.49... but below 0.1 there are too many digits after the point and from 999.5 and above it uses exponential format.

What I needed was something that is almost like double.toString(), i.e. no unnecessary fr

[2017-05-09 00:26] rmacnak-google commented on #29578
readelf --dynamic out/ReleaseAndroidARM/dart_precompiled_runtime

[code]

readelf --sections out/ReleaseAndroidARM/dart_precompiled_runtime
[code]

Sounds like the Android loader is unhappy about gcc including version information? Maybe we need a newer NDK?

[2017-05-09 00:58] #29538 closed

[2017-05-09 07:43] MikeMitterer commented on #29567
Had the same thing today in the morning. Nothing changed from yesterday evening to today in the morning. After pressing enter (editing the file) the error disappears.

[2017-05-09 08:40] johnniwinther opened #29587 "Wrong mixin type arguments in dart2js"
Dart2js fail the test `language/mixin_mixin_type_arguments_test`. It doesn't provide the right type arguments add runtime.

[2017-05-09 09:11] lrhn commented on #29586
Since I wrote the messages, I (unsurprisingly) don't have any problem reading them, so input is appreciated. If we have a better wording, I'm all for changing the messages.

The messages are created by the `RangeError` and `IndexError` classes based on parameter name (`index`), value (3) and either the required range (0..2) or the length of the thing being indexed (2).

The language does indeed ha

[2017-05-09 11:44] ErikCorryGoogle opened #29588 "Freelist search can be very slow when there is heap fragmentation"
Test program spends most of its time searching the freelist for large enough blocks:

main() {
  List<int> tribonnacci = [];
  tribonnacci.add(1);
  tribonnacci.add(1);
  tribonnacci.add(1);
  for (int i = 3; i < 500000; i++) {
    if ((i & 65535) == 0) print(i);
    int n = tribonnacci[i - 3] + tribonnacci[i - 2] + tribonnacci[i - 1];
    tribonnacci.add(n);
  }
  print(tribonnacci.last % 1000000

[2017-05-09 12:17] whesse commented on #29580
Generation of the dart2js snapshot for XARM or XARM64 is working now, but it takes 2000 seconds.  Is this something that could be optimized? It is one of the longest operations in all our building and testing.

[2017-05-09 13:06] #57563 closed

[2017-05-09 13:12] pq opened #57568 "Consider a linter library API"
See for example dart-lang/sdk#57567.

cc @bwilkerson

[2017-05-09 13:37] whesse commented on #29583
Merged in 1.24.0-dev.4.0

[2017-05-09 13:37] #29583 closed

[2017-05-09 13:41] whesse commented on #29109
We are nearing the release of 1.24, without having made a 1.23 patch release and merged this.
Is it ok to wait an estimated 1-2 weeks for the release of 1.24 to get this in? It is already in for internal users.

[2017-05-09 14:37] ErikCorryGoogle commented on #29415
Sorry about that - fixed the formatting.

[2017-05-09 14:59] devoncarew commented on #29581
I can repro this. I get this error back from the setBreakpoint call:

[code]

and in the observatory UI, it doesn't appear as a line where we can set breakpoints:

<img width="541" alt="screen shot 2017-05-09 at 7 58 33 am" src="https://cloud.githubusercontent.com/assets/1269969/25857270/6595c490-348d-11e7-981c-d144ae2e441e.png">

[2017-05-09 14:59] devoncarew commented on #29581
/cc @a-siva

[2017-05-09 15:28] vsmenon commented on #29352
We're seeing this internally now.

[2017-05-09 15:40] mk13 commented on #29576
Sure I'll take this on.

[2017-05-09 16:10] #57540 closed

[2017-05-09 16:22] aam commented on #29566
This should be fixed in dart sdk repo now.
This fix will get into Flutter next time the engine is sync'ed with the dart vm repo.

[2017-05-09 16:30] rmacnak-google commented on #29580
Can you check out/ReleaseXARM/args.gn for that bot? I suspect it will be missing dart_snapshot_kind, which is a new GN argument I added in the change above. Running build.py alone won't cause it to pick up any new arguments we set in gn.py, so it's probably doing the default of generating a full app-jit snapshot, which for a cross build involves running the training set for dart2js under the simul

[2017-05-09 17:51] mk13 commented on #29576
Hi @zoechi , we're trying to repro this issue but cannot accurately do so. Were you able to repro this issue consistently by doing a certain action on your IDE?

[2017-05-09 18:42] #27256 closed

[2017-05-09 19:01] jmesserly commented on #29352
Hmmm. Mostly pretty straightfoward except for `continue;` with an outer loop. That (apparently) goes to the outer loop in Dart (even though switch is otherwise a target for break/continue labels). So if we introduce a loop to use for switch-continue, we'll have to introduce a label for the outer loop & adjust plain `continue`.

[2017-05-09 21:29] rmacnak-google commented on #29558
Note if you include the standalone VM (`bin/dart`) in this SDK variant, you should still keep `lib/mirrors`.

[2017-05-09 21:32] MichaelRFairhurst opened #57569 "incorrect "unconditional condition" using ??"
I have

[code]

and it thinks this is always true...or false?

[2017-05-09 22:44] jmesserly commented on #29585
https://codereview.chromium.org/2873073002/

[2017-05-09 22:51] natebosch commented on #26526
[code]

Is not considered spec compliant AFAIK. At least it can cause problems with some proxies which do not expect to get those 5 extra bytes. `\r\n\r\n0`

[2017-05-09 23:22] #29585 closed

[2017-05-10 00:27] xster opened #29590 "Supply an easy way to pipe shell processes or accept stdin in Process.runSync"
Create a shorthand for Process.start then process.stdin.writeln then re-sync'ing the process

[2017-05-10 00:47] munificent opened #29592 "Update Dart team-maintained code to use new part-of URI syntax"
We have new part of syntax that takes a URI instead of an identifier because it's better. We should take advantage of that by going through all of the code the Dart team maintains — core libraries, tools, tests, packages, etc. — and switching to the new syntax where appropriate. Reasons:

* The new syntax is better. (If it isn't, why did we add it?)
* It will help dogfood it and flush out bugs in

[2017-05-10 06:01] mit-mit commented on #29558
Ah, good catch, updated!

[2017-05-10 06:19] MikeMitterer commented on #29567
I just copied (internal file) ApiKeyService_test.dart to UploadServericeSecure_test.dart - the same situation. All the imports were red. After adding a newline they became valid again. The weird thing is that I've modified the ApiKeyService_test.dart secs before...

[2017-05-10 06:35] zoechi commented on #29576
Previously (#29552) I just restarted the analysis server from IntelliJ and while it reanalyzed the error occurred.
I could repeat this and it always behaved the same.
Currently (after some updates) I only got it once AFAIR (which led to creating this issue after I closed the other one recently).

[2017-05-10 08:39] eernstg commented on #28942
Punting to 1.25, in agreement with Kasper: The 1.24 release does not depend on the concrete spec change, and the issue is well-understood.

[2017-05-10 08:41] eernstg commented on #28939
Punting to 1.25, in agreement with Kasper: The 1.24 release does not depend on the concrete spec change, and the issue is well-understood.

[2017-05-10 08:43] eernstg commented on #28935
Punting to 1.25, in agreement with Kasper: The spec part was moved to 1.25 and this meta issue awaits that.

[2017-05-10 09:13] whesse commented on #29580
It wasn't a bot, it was building locally, and yes, I was missing that argument.

[2017-05-10 09:22] lrhn opened #29593 "Analyzer should analyze library when run on part file."
If the analyzer is asked to analyze a part file, and that part file uses the new `part of URI` syntax, the analyzer should include the library of the part file in the files to analyze, and thereby analyzing the part file too.

Currently it just bails out if a part file is requested analyzed, unless the library it belongs to is also requested.

[2017-05-10 11:40] lrhn commented on #29592
It's unlikely that we will fix all of it.
I'm going for the non-web platform libraries, but I won't try touching dart:html because it's generated files. I think the dart4web people should handle that. Also, internal VM libraries like the observatory should probably be handled by the VM team.

Luckily, most packages are part-free, so we do have that going for us.

[2017-05-10 12:34] eernstg commented on #28941
Addressed by [this CL](https://codereview.chromium.org/2866213004/).

[2017-05-10 12:35] eernstg commented on #28940
Addressed by [this CL](https://codereview.chromium.org/2870363003/).

[2017-05-10 13:28] thosakwe commented on #28599
Getting this error in Windows 10 on v1.23.0!!!! Not sure how to fix it.

[2017-05-10 15:36] vsmenon commented on #29118
What's the status of this?  Ready for 1.24?  If not, do we need it?

[2017-05-10 15:56] keertip commented on #29146
@vsmenon , @leafpetersen, could you folks decide what needs to be done here and make the changes? This is currently breaking bleeding edge in google3.

[2017-05-10 16:02] vsmenon commented on #29146
@keertip : I think @lrhn changed the name (`StreamGroup`) that's blocking the roll.

[2017-05-10 16:03] keertip commented on #29146
@vsmenon, yes I saw that, but this has the potential to break targets for the next similar change in the SDK.

[2017-05-10 16:16] vsmenon commented on #29146
I've moved this to a 1.25 analyzer task.

@floitschG can you please clarify if you guys want this to be a warning (current non-strong behavior I think) or nothing at all?

[2017-05-10 16:18] munificent commented on #29592
Would you mind filing sub-issues for these and assigning them to the relevant people. An email to the team saying, "Hey, there's this new syntax. Can you migrate your code to it?" wouldn't hurt either.

[2017-05-10 16:27] stereotype441 opened #29594 "lib_strong/html/svgelement_test is failing since Chrome 50 roll"
See for example https://build.chromium.org/p/client.dart/builders/analyzer-mac10.11-release-strong-be/builds/1159/steps/analyze%20strong%20tests/logs/stdio

I will make a change to the .status file to turn the bot green again.

[2017-05-10 16:32] bwilkerson commented on #29594
@terrylucas

[2017-05-10 16:47] #57562 closed

[2017-05-10 17:17] jacehensley-wf commented on #29592
I noticed that the changelog entry for the new URI syntax was removed. Does that mean it didn't make 1.23.0?

https://github.com/dart-lang/sdk/commit/9add06fe7f835ec2a95175184cdcaa3d72f7c18d

[2017-05-10 17:21] mk13 commented on #29576
Try patching with the recent plugin; we've implemented a quick fix for this issue: https://github.com/dart-lang/angular_analyzer_plugin/pull/311

Let me know if you see this same issue again or a similar issue.

[2017-05-10 17:42] zoechi opened #57570 "cascades false hint"
![image](https://cloud.githubusercontent.com/assets/405837/25912716/8bd92580-35b8-11e7-80c4-f391726d07e3.png)

Both highlighted lines hint to use cascades but I can't make any sense of any of these.

 `Dart VM version: 1.24.0-edge.5e5aa2ea9e372776db7e5b1803d488410eb0c8e8 (Wed May 10 01:06:50 2017) on "linux_x64"`

I'm pretty sure these hints appeared only very recently because I check them frequen

[2017-05-10 18:55] jmesserly commented on #29118
I sent a patch to @scheglov to fix the CL. I'm not sure however if it's correct in general. There seems to be a behavior change for custom URL mappings. However it does fix async_helper to compile despite that.

[2017-05-10 19:06] munificent commented on #29592
That's right. Technically, some of the tools in 1.23 will handle the syntax, but they don't all support it. (In particular, I know dartfmt doesn't.) It will be officially supported in 1.24.

[2017-05-10 19:31] scheglov commented on #29118
Thank you.
This improves the situation with tests.
But there are still 21 tests failing, and I don't know whether I qualify to perform initial triage of these tests.

[browser_tests_fail_20170510.txt](https://github.com/dart-lang/sdk/files/990990/browser_tests_fail_20170510.txt)

[2017-05-10 19:40] zoechi commented on #29576
I haven't seen it since. Closing again. I'll reopen if I get it again.

[2017-05-10 19:40] #29576 closed

[2017-05-10 20:36] xster commented on #29590
As an example, instead of doing
[code]
or some such, the shortest equivalent I can figure out is:
[code]

[2017-05-10 22:31] alan-knight commented on #26351
So I can give it a constructor, but as described here, it never gets delivered. This is consistent in DDC as well.

The difference seems to be that while setting onmessage on the port does work in JS, using addEventListener with type "message" does not, and the latter is what our event streams do. I don't know why this doesn't seem to work for me - it appears from examples that it ought to.
[code]

[2017-05-10 23:57] leafpetersen opened #29595 "Analyzer checked mode crash on pruned typedefs assertion"
Running the analyzer in checked mode (in strong mode) on the following code causes a crash:

[code]
[code]

Stack trace head:
[code]

[2017-05-11 00:51] xster commented on #29590
That was just the beginning T.T
Also have to mock everything process and streams related in mockito to test it as well

[2017-05-11 03:01] sgrekhov opened #29596 "Different order of initializers call on VM and dart2js"
[code]
The programm above running on VM produces the following output:
[code]
Now compile it by dart2ja and run generated JavaScript. The output is:
[code]
Which order of initializers call is correct?

Tested on Dart VM version: 1.24.0-dev.4.0 (Tue May 09 02:15:50 2017) on "windows_x64", Dart-to-JavaScript compiler (dart2js) version: 1.24.0-dev.4.0. Chrome 58.0.3029.96 (64-bit)

[2017-05-11 04:51] rakudrama commented on #29494
This looks like an issue with the browser rather than the Dart libraries.
It looks like you are doing everything correctly.
Does the initial html page response also have charset=utf-8 ?

[2017-05-11 05:04] rakudrama commented on #22145
I recently noticed that a large application that had been localized to 40+ languages contained many \uXXXX escapes. If the files were UTF-8 encoded, the app would be 20% smaller (and more readable).

[2017-05-11 06:51] karlklose opened #29597 "dart2js_api_test started failing after IDL roll"
Reproduction: `python tools/test.py -mrelease --checked -t60 --use-sdk --reset-browser-configuration dart2js/analyze_api_test`
Output:
[code]

[2017-05-11 07:41] #29588 closed

[2017-05-11 09:04] eernstg commented on #29146
I don't see anyone mentioning the distinction between a conflict with names from a system library and another library, and conflicts between two non-system libraries. The former were designed to go away implicitly ('the import of L_1 [which is where the system library name came from] is implicitly extended by a `hide N` clause', and there is a 'static warning'), such that we could add stuff to sys

[2017-05-11 09:08] lrhn commented on #29596
According to the last published spec, it's probably dart2js. According to the current spec in the repository, it's the VM.
The specification of object initialization wasn't entirely clear (field initializers weren't specified in a consistent way), and when rewriting that, we also decided to document the VM's behavior as the intended one.

So, the evaluation order of initialization for a class is:

[2017-05-11 09:44] lrhn opened #29598 "Dart-analyzer fails when platform libraries uses `part of "dart:core";` in its parts."
The commit https://github.com/dart-lang/sdk/commit/540bb7a0ec8d97ad76a67e722c154ef85540c187 caused a lot of spurious analyzer errors.
See, e.g.: https://build.chromium.org/p/client.dart/builders/analyze-linux-be/builds/890/steps/analyze%20analyzer_plugin/logs/stdio

[2017-05-11 10:47] whesse commented on #29558
@zanderso @rmacnak-google
The work to move the creation of the SDK to GN means that this will be created as a GN target, right?

[2017-05-11 11:17] whesse opened #29599 "Content-shell renderer process not exiting in Dartium"
On one of our two Dartium windows bots, there are content_shell.exe renderer processes that don't die when the parent does.  The thread that is exiting (calling kernel32dll ExitProcess) is getting stuck waiting for Lock@Mutex@dart in OnDartThreadExit.  This causes our taskkill step to fail, because it detects these stuck processes (about 30 of them) and kills them.  I would not call this a blocker

[2017-05-11 12:25] whesse commented on #29599
The task_kill.py command is changed not to report this as a failure in CL https://codereview.chromium.org/2875043002

Please revert this when the issue is fixed.

[2017-05-11 13:30] whesse commented on #28955
RIght now, IE11 is mainly timing out in the first run of IE on a build.  I have watched this with a window open, and the IE window is open, trying to load the driver page, and nothing is happening.
The option to open developer tools is grayed out in the system menu, so I can't see the network traffic.

This timing-out browser is killed, and a new one is opened, and it times out too, while loading

[2017-05-11 14:03] lexaknyazev opened #57571 "avoid_as with static cast"
From docs:

[code]

[code]
Since this code gives `avoid_as` warning, does it mean that such cast has performance impact?

[2017-05-11 14:12] whesse commented on #26714
This is fixed by the new dom dart2js implementation from Dartium 50, I think.
The tests are no longer failing.
Removing the status lines.

[2017-05-11 14:12] #26714 closed

[2017-05-11 14:58] zanderso commented on #29558
It's a bit simpler to choose the smaller SDK with GN argument rather than creating a new target for it, so that's what I'd like to do. I can wire up the GN argument to an environment variable in gn.py so that it's easier to set up on the bots.

Is it also possible to exclude the analyzer, analysis_server, front_end, and kernel sources in the small SDK?

https://codereview.chromium.org/2848943003/

[2017-05-11 16:14] bwilkerson opened #29600 "Member.baseElement is used inconsistently"
I don't know whether this is causing any bugs, but the method `Member.baseElement` is being used in a seemingly inconsistent way. It appears that some of the code expects that `baseElement` will always return a non-member and that other code is careful to invoke `baseElement` _until_ it returns a non-member. The getter, as things are currently implemented, is _not_ required to return a non-member.

[2017-05-11 16:17] jcollins-g commented on #29600
This showed up in dartdoc as difficulty resolving some comment references as we expected baseElement to always return a non-Member.

[2017-05-11 16:17] #57271 closed

[2017-05-11 16:41] MikeMitterer opened #29601 "dart2js feature request: --enable-assert"
As discussed here https://github.com/dart-lang/pub/issues/932 it would be cool to turn on asserts without having to enable checked mode.

At the moment assert is rather useless because turning on checked mode slows down the whole application.

**Please add a flag to dart2js to turn on asserts.**
`enableAssert: true` in pub would be the logical next step

[2017-05-11 17:22] tvolkert commented on #29590
Does the following not work?

[code]

[2017-05-11 18:17] eernstg commented on #28940
Landed in 6cb0966401f2a53196358945c0f78a32c575a8dc.

[2017-05-11 18:17] #28940 closed

[2017-05-11 18:21] eernstg commented on #28941
Addressed in 9928c5cb805dedf73b83ab051069e7a2e8cb0e06, 935aeb43ce8993bb8ec6e48bce378149120c6618.

[2017-05-11 18:21] #28941 closed

[2017-05-11 19:58] zoechi commented on #29601
asserts are development-only and checked-mode is development-only, therefore this makes sense.
Do you want to have asserts enabled in production?

[2017-05-11 20:03] mit-mit commented on #29558
I think Flutter needs those; @devoncarew?

[2017-05-11 20:06] matanlurey commented on #29601
You can create your own "do-only-when" flag using `bool.fromEnvironment`:

[code]

This is tree-shaken in dart2js when 'someMode' is false. You can set it to true using `-D`:

[code]

There are similar ways to enable flags in Dartium and the Dart VM.

[2017-05-11 20:55] #57571 closed

[2017-05-11 23:02] rakudrama opened #29602 "html + dart2js: annotate Element.getBoundingClientRect() with implementation type"
Annotating it with `@Returns("_ClientRect")` will avoid interceptor calls on the use of the rectangle.

[2017-05-11 23:02] Hixie commented on #28373
Private methods based on the above are getting copied and pasted in various places, FWIW.

[2017-05-11 23:34] Hixie commented on #29361
Another reason to want this is that there's currently no way to respond to a future ignoring whether it failed or not, _and eating any exception_. If you use `whenComplete`, errors are still considered unhandled.

You end up having to do:

[code]

[2017-05-12 00:08] matanlurey commented on #29361
/me wishes we had extension methods

[2017-05-12 00:20] leafpetersen opened #29603 "Out of date dartfmt snapshot in the repo"
The version of dartfmt checked into the repo:

[code]

is out of date (version 1.0.4), and hence is missing some bug fixes.

  https://github.com/dart-lang/dart_style/issues/627

Can this be rolled forward?

cc @munificent

[2017-05-12 00:21] leafpetersen commented on #29603
@whesse do you maintain these?

[2017-05-12 00:24] Hixie commented on #29361
We're now working around this in Flutter by providing our own version of this in our Future subclass:
https://github.com/flutter/flutter/pull/10016/files#diff-f9a90c555622b4ac16b6dd52ffc68b65R369

[2017-05-12 02:50] devoncarew commented on #29558
Yup, at this point those are specifically there for use by Flutter. They use the sources from the sdk in preference to hosted - pub.dartlang.org - versions (@pq to confirm).

[2017-05-12 08:31] zoechi opened #29605 "Some issues in Dartium 50"
[code]

I get
[code]

I don't get the error with

[2017-05-12 08:45] zoechi commented on #29605
Weirdly, the screenshots don't really show the difference but on my screen the tabs and content is like zoom level 75% is set.
For quite some time I had the same "zoom level" in Dartium (when set to 100%) like in Chrome.
A few months ago it was like zoome level 120% in Dartium compared to Chrome for several months.

[2017-05-12 14:44] stereotype441 opened #29606 "Inconsistent type inference behavior of block-type vs expression-type closures"
Consider the following code:

    typedef num FunctionReturningNum();

    main() {
      Object o = 1;
      FunctionReturningNum a = () => o;
      FunctionReturningNum b = () { return o; }
    }

Type inference currently infers a return type of `Object` for the closure in `a`, and a return type of `num` for the closure in `b`.

The behavior of expression-type closures should be changed to match

[2017-05-12 14:51] davidmorgan commented on #29352
Any ETA on this please -- so we can decide to work around or wait. Thanks!

[2017-05-12 14:56] vsmenon commented on #29352
It's probably a few weeks out (Jenny is out).  Can we work around?  It's usually pretty easy to do in source.

[2017-05-12 15:18] kelegorm opened #29607 "Null Aware ?? loose type check."
Next code doesn't show warning, it should be type error:

    int b;
    int a = b ?? '';
    a;

Dart 1.20.1

[2017-05-12 15:33] jacob314 commented on #15677
Right solution is to not do anything with this file.

[2017-05-12 15:33] #15677 closed

[2017-05-12 16:40] jcollins-g commented on #29600
Some more details:  The reason it created a bug for dartdoc was we have linkages to specific elements and are doing comparisons saying essentially "if(memberThingy.baseElement == this.element) { hurray() }".   It's a way to leverage analyzer's canonicalization and easily enough corrected by a loop to get baseElements until we have a non-Member.

If analyzer is doing anything like these comparisons

[2017-05-12 18:04] MichaelRFairhurst opened #29608 "Should annotated private classes, imports be marked unused?"
If i do

[code]

and then don't use `bar.dart`, is it fair to mark it unused? I would argue not, since the annotation means its important to something.

[2017-05-12 18:45] lrhn commented on #29608
If the annotation is `@deprecated`, then it's not important to anything.

Assigning meaning to an annotation only really makes sense if you know and
understand the annotation.
It's a tricky road to go down.

/L

On Fri, May 12, 2017 at 8:04 PM, Michael R Fairhurst <
notifications@github.com> wrote:

--
Lasse R.H. Nielsen - lrn@google.com
'Faith without judgement merely degrades the spirit divine'

[2017-05-12 18:57] MichaelRFairhurst commented on #29608
That's an interesting point/example.

I would say though, that for most things (like finding unused members, top levels, and locals), the assumption leans in the direction of flagging too few things as unused. Seems like it *could* be the right strategy here.

I filed this ticket because I suggested the possibility of annotating imports in angular here: https://github.com/dart-lang/angular2/issues

[2017-05-12 19:02] MichaelRFairhurst commented on #29608
Same issue with private classes:

[code]

[2017-05-12 19:23] bwilkerson commented on #29608
I'm guessing that this is an issue because some tool is going to use the annotated element; hence the annotation marks the element as being used from something external to the library being analyzed. Is that accurate?

I'm honestly not sure which is the better approach here. I can see the argument for not reporting annotated elements because we can't know that they won't be used somehow as a resul

[2017-05-12 19:29] MichaelRFairhurst commented on #29608
That is a very good solution. Definitely a meta-programming win!!

[2017-05-12 19:37] MichaelRFairhurst commented on #29608
And to answer your question: yes.

The proposal I had made (which may go nowhere, to be fully up front about it!!! :)) is that we could annotate imports which should be available to angular templates. The problem is that they may not be used by the hand written dart, only the generated dart.

[code]

Currently this will mark `foo.dart` as unused. But maybe it doesn't have to.

Alternatively the or

[2017-05-12 20:28] zanderso opened #29609 "Snapshot files are different across builds"
It would be ideal if building the same sources produced exactly the same bits (in the same order) in the snapshot.

[code]

@rmacnak-google What is the reason these are different? How difficult would it be to make the results the same every time.

[2017-05-12 21:13] zanderso commented on #29558
Alright. I've updated the CL to make sure the sources are in there. The CL is ready for review, but I'll be OOO next week. I'll be able to address comments and land when I get back.

[2017-05-12 21:48] vsmenon opened #29610 "ddc null-aware error on dynamic receiver"
The following:

[code]

prints `null`.  Should print `1`.

[2017-05-12 22:10] bwilkerson commented on #29146
@vsmenon What is the purpose for assigning this issue a milestone?

[2017-05-12 22:12] vsmenon commented on #29146
Recent SDK changes broke the internal roll.  Fixing this would ease future rolls.

[2017-05-12 22:12] leafpetersen opened #29611 "Language tests required for generic methods"
We need more language tests to cover generic method static and dynamic behavior.

[2017-05-12 22:12] vsmenon commented on #29146
@keertip @srawlins

[2017-05-12 22:14] leafpetersen commented on #29611
From https://github.com/dart-lang/sdk/issues/29360 , we should test this kind of behavior:

[code]

[2017-05-12 22:15] leafpetersen commented on #29360
Opened https://github.com/dart-lang/sdk/issues/29611 to cover the test issue.  Closing this one as the original analyzer issue is fixed.

[2017-05-12 22:15] #29360 closed

[2017-05-12 22:18] pq commented on #29558
👍 Spot on.

[2017-05-12 22:35] whesse commented on #29603
Yes, I plan to advance it to the next dev build as soon as it is built.  I don't think -dev.4.0 has the new version yet either, but it will be in -dev.5.0.  If I am mistaken. let me know.  Otherwise, it should be in early next week.

[2017-05-12 22:38] leafpetersen commented on #29603
Ok, thanks.  Is there a reason we don't run this from source, or build it from source the way we do the rest of the tools?

[2017-05-12 22:42] leafpetersen commented on #29349
cc @lrhn @eernstg @floitschG @munificent

Any language or spec issues here, or is this just an implementation bug?

[2017-05-12 22:47] leafpetersen commented on #29164
Closing this as currently working as intended.   We'd like to improve inference for things like fold.  I think that's sufficiently tracked elsewhere.

[2017-05-12 22:47] #29164 closed

[2017-05-12 22:49] leafpetersen commented on #29125
Where are we on this?

[2017-05-12 22:51] leafpetersen commented on #28963
The proposal to change the evaluation order seemed reasonable to me.  @floitschG @munificent @eernstg @lrhn

[2017-05-12 22:53] whesse commented on #29603
Yes, there was a discussion about this on another email thread.  It's not
the same type of thing.  This is run at presubmit time, not as a try run or
on the bots.

On Sat, May 13, 2017 at 12:38 AM, Leaf Petersen <notifications@github.com>
wrote:

--
William Hesse

[2017-05-12 22:54] leafpetersen commented on #28810
Where do folks stand on this?  cc @munificent @floitschG @lrhn @eernstg

[2017-05-12 22:56] leafpetersen commented on #28797
I think this can now be done at any point that is convenient.

[2017-05-12 22:59] leafpetersen commented on #28794
@rakudrama Any thoughts about Lasse's comments?

@kmillikin Do you expect that kernel will fix the implementation problems for dart2js?

[2017-05-12 23:04] leafpetersen commented on #28651
I'm going to close this - downcast composite is only available as an opt in warning now, so refining it really isn't a priority.

[2017-05-12 23:04] #28651 closed

[2017-05-12 23:08] leafpetersen commented on #28483
Improvements to type promotion are in the pipeline, but this is not currently planned.

[2017-05-12 23:08] #28483 closed

[2017-05-12 23:11] leafpetersen commented on #28425
@eernstg This is resolved right - I think you wrote up an informal spec for this?  Do we still need language tests and some follow up to get it implemented?

[2017-05-12 23:15] leafpetersen commented on #28396
Inferred types will be reified via kernel in the future, but there are no plans to back port this.  I would expect that once inferred types are reified in the VM, the mirrors library will pick them up.

[2017-05-12 23:15] #28396 closed

[2017-05-12 23:16] leafpetersen commented on #28389
This ranged fairly far afield.  Do we have anything actionable here on the original topic?  Do we (in the short to medium term) want to push on a null aware subscript?

[2017-05-12 23:18] dgrove commented on #27527
Any updates on this?

[2017-05-12 23:19] dgrove commented on #27260
Is this on target for 1.24?

[2017-05-12 23:19] dgrove commented on #28280
@terrylucas can you provide an update here?

[2017-05-12 23:20] dgrove commented on #28219
Any updates here?

[2017-05-12 23:20] dgrove commented on #28580
Is this happening for 1.24?

[2017-05-12 23:20] dgrove commented on #29118
@vsmenon is this happening for 1.24?

[2017-05-12 23:21] leafpetersen commented on #28327
As @vsmenon mentions, --no-implicit-casts will catch this.

More generally, I have specified inference for this construct for Dart 2.0 in a way that will make at least examples like this into errors, by using the context type (here `A`) as the type of the `??` expression rather than the LUB of `a` and `b`.  There is work to be done to implement this though.

[2017-05-12 23:21] dgrove commented on #29139
Is this still targeted for 1.24?

[2017-05-12 23:21] dgrove commented on #29536
@whesse can this be closed?

[2017-05-12 23:21] dgrove commented on #27223
@vsmenon is this targeted for 1.24?

[2017-05-12 23:22] leafpetersen commented on #28305
@lrhn is this captured by the category 1 or 3 errors that we have discussed?

[2017-05-12 23:23] leafpetersen commented on #27922
The implicit cast warning is no longer on by default, and the least upper bound issues are tracked separately.  Closing this one.

[2017-05-12 23:23] #27922 closed

[2017-05-12 23:27] leafpetersen commented on #27530
Local inference spec in progress here: dart-lang/sdk#28218

Toplevel inference spec here: dart-lang/sdk#28218

More TODO.

[2017-05-12 23:32] leafpetersen commented on #27488
Closing this.  The change in #28024 address the original intent of this request.

[2017-05-12 23:32] #27488 closed

[2017-05-12 23:37] leafpetersen commented on #27273
cc @lrhn @eernstg @munificent @floitschG

Should Null allow all methods, or should we forbid this?

[2017-05-12 23:39] leafpetersen commented on #26863
Closing this, as the issue is resolved.

[2017-05-12 23:39] #26863 closed

[2017-05-12 23:41] leafpetersen commented on #26732
cc @floitschG @lrhn @eernstg @munificent

Is this something we should consider?  There are definitely things out there which implement Future, so seems non-trivial.

[2017-05-12 23:42] leafpetersen commented on #26391
@eernstg @floitschG @lrhn @munificent

Is this something we can take on soon?  It seems useful.

[2017-05-12 23:42] lrhn commented on #27273
The `Null` class is a class, it has the same methods as `Object`.
If this is about the `null` expression, we have changed that, and it's type is now `Null`, not bottom.

That doesn't completely avoid the problem because `(throw 42).method()` tries to call `method` on the bottom type, but it's unlikely to happen much in practice.

[2017-05-12 23:45] leafpetersen commented on #26086
@munificent This is covered by the proposal that you and @bwilkerson are working, correct?

[2017-05-12 23:46] leafpetersen commented on #26229
Closing in favor of https://github.com/dart-lang/sdk/issues/28389 .

[2017-05-12 23:46] #26229 closed

[2017-05-12 23:54] leafpetersen commented on #27273
Currently both strong and non-strong mode allow this code with no errors:

[code]

Do we view this as an implementation bug?  WAI?  Or something we need to sort out?

[2017-05-13 00:01] leafpetersen commented on #29603
I'm not sure I follow. If I run my own presubmit (using ./test.py ....) it runs all of the tools (dart, dartanalyzer, etc) using the exact code that's in my repo, not a checked in version of any of the above.  Why is the formatter different?  Is it just that we want to be able to run the presubmits without doing a build?

[2017-05-13 00:16] vsmenon commented on #27260
No, good progress, but html ones will not be done in time.

[2017-05-13 00:19] vsmenon commented on #27223
No, good progress with angular this q.  Still issues in Zone code.

[2017-05-13 00:26] rakudrama commented on #28794
Lasse has a good point that the problem I characterized as two mixin applications of the same class also occurs with mixing a class on top of itself. **We should ban that too.**

Public fields are no different to private fields. The mess can occur in a library or across several libraries.

Multiple mixins with fields rarely do what the programmer expects. At best they introduce inaccessible fields

[2017-05-13 10:07] lrhn commented on #27273
Non-strong-mode is unsurprising, the static type of `(x) => x.length` is `dynamic->dynamic`, so it can't trigger any warnings.

Strong mode is wrong. Inference should make `x` have type `Null` and `Null` doesn't have a `length` getter. The behavior is not even matching original Dart 1 + inference, because in Dart 1, `Null` was not bottom. The `null` literal had static type bottom, but the `Null` t

[2017-05-13 10:18] lrhn commented on #28810
It's not an error, but I'm agnostic to lints since I never use them.
As long as they are completely optional, I don't care which lints people use for their own projects.

[2017-05-13 10:23] lrhn commented on #26732
There are definitely classes implementing `Future`. Most are wrappers of some sort, like [DelegatingFuture](https://github.com/dart-lang/async/blob/master/lib/src/delegate/future.dart), but I'm sure some are being more clever. I've generally tried to avoid classes that *extend* `Future`, but I'd be surprised if someone else haven't made one.

I think it's not going to be a viable change to disallo

[2017-05-13 10:31] lrhn commented on #28305
This would be a category 1 error - an expression of type `void` in a position where its value is being used.

That said, I think I was actually considering allowing `await (void expression)` for some reason that I can't currently remember. We definitely need to allow `await FutureOr<void>`, and maybe that is what I was thinking of, because `await (void expression)` seems unnecessary by itself.

[2017-05-13 10:46] lrhn commented on #29349
Seems like a bug to me. If the spec doesn't allow it, it's a spec bug, but I'm guessing it's just an implementation bug.

[2017-05-13 13:19] terrylucas commented on #28280
### Dartium
- DevConsole works well in Dartium (thanks jacobr)
- re-generated sdk/libs from Chrome 50 IDLs landed (dart:html, dart:indexed_db, dart:svg, dart:web_audio, dart:web_gl) landed [https://codereview.chromium.org/2871193002](https://codereview.chromium.org/2871193002)
- Dartium 50 landed in Dart's master branch [https://github.com/dart-lang/sdk/commit/f27144d7b5b7f8063eb3ac0d90c23c87a40e7

[2017-05-13 15:24] zoechi opened #57572 "linter rule for known type names used as generic type parameter names"
[code]

See also https://gitter.im/dart-lang/sdk/archives/2017/05/13 16:54

[2017-05-13 16:31] scheglov commented on #28219
I thought it was done even for `1.23`, but we decided do postpone it.
@bwilkerson

[2017-05-13 17:12] matanlurey commented on #27223
Vijay let's get a breakdown of known issues and we can work on it this/next
week.

On Fri, May 12, 2017, 5:19 PM vsmenon <notifications@github.com> wrote:

[2017-05-13 17:48] jfphilbin opened #29612 "MapMixin should check types"
Is there some reason that MapMixin._containsKey_ doesn't check the key's type?

Current definition:

    bool containsKey(Object key) => keys.contains(key);

Proposed definition:

    bool containsKey(Object key) => key is K && keys.contains(key);

Likewise for MapMixin._containsValue_:

Current definition:

    bool containsValue(Object value) {
      for (K key in keys) {
        if (this[key] =

[2017-05-13 18:38] rakudrama commented on #29612
You are suggesting adding tests (a cost) to avoid some problem. I'm not
clear what problem you are trying to avoid.

For keys: if a test `is K` is desirable, it would also be desriable in the
implementation of `keys.contains()`. Adding it here would be adding the
inefficiency of a redundant test.

For values: if a program is using containsValue with the 'wrong' type, that
points to an inconsistenc

[2017-05-13 23:12] jfphilbin commented on #29612
Stephen,

Thanks for your response. See my comments (JFP:) below.

Jim Philbin

Co-Chair, DICOM Standards Committee

Principal

Poplar Hill Informatics

jfphilbin@gmail.com

From: Stephen Adams [mailto:notifications@github.com]
Sent: Saturday, May 13, 2017 02:39 PM
To: dart-lang/sdk <sdk@noreply.github.com>
Cc: Jim Philbin <jfphilbin@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [dar

[2017-05-14 21:35] lrhn commented on #29612
On Sun, May 14, 2017 at 1:13 AM, Jim Philbin <notifications@github.com>
wrote:

The compiler might be smart, but if the test makes a difference, it can't
be compiled away. If it doesn't make a difference, why put it there?

I'm guessing that you think it's an optimization - if you pass a non-K
object to the containsKey method, it can bail out early.

However, it does add an extra operation, and an

[2017-05-14 21:58] jfphilbin commented on #29612
Lasse,

Thank you for your explanation.  Now I get it.

BTW, I'm a big fan of Dart, especially strong mode.

Jim

Jim Philbin

Co-Chair, DICOM Standards Committee

Principal

Poplar Hill Informatics

jfphilbin@gmail.com

From: Lasse R.H. Nielsen [mailto:notifications@github.com]
Sent: Sunday, May 14, 2017 05:35 PM
To: dart-lang/sdk <sdk@noreply.github.com>
Cc: Jim Philbin <jfphilbin@gmail.com>; Au

[2017-05-14 22:05] #57570 closed

[2017-05-14 22:06] #57569 closed

[2017-05-14 22:51] hterkelsen commented on #28080
Let's close this since @efortuna implemented complex switch

[2017-05-14 22:51] #28080 closed

[2017-05-15 06:27] MikeMitterer opened #29613 "Analysis Server error: Analyzer Feedback"
[report.txt](https://github.com/dart-lang/sdk/files/1000228/report.txt)
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-171.4073.35`
- `1.23.0`
- `IU-171.4073.35, JRE 1.8.0_112-release-736-b16x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.11.6 unknown, screens 1920x1080, 1920x1080, 2560x1440`

# Exception

Please append the contents of:
file:///private/var/folders/m4/9rg16xhd2rlbl

[2017-05-15 06:27] zoechi commented on #29605
related to #28280

[2017-05-15 06:42] #57453 closed

[2017-05-15 06:46] zoechi commented on #28797
dart2js doesn't seem to support `covariant` yet

[2017-05-15 07:50] kmillikin commented on #28794
Kernel doesn't have a ready solution to the code duplication problem for dart2js.

Currently for the VM, we have a mixin elimination transformation that introduces normal classes instead of mixin applications and copies the fields and methods from the mixin.  Then we can resolve super calls in mixins so that super calls are always direct calls.

Unfortunately this transformation is not modular ---

[2017-05-15 09:00] peter-ahe-google opened #29614 "dartLangSpec.tex says that static must precede metadata"
[code]

BUT:

[code]

So according to the grammar, this should be correct:

[code]

And this isn't correct:

[code]

[2017-05-15 09:13] eernstg commented on #29349
The declaration `List<T> get<T>(T item) => <T>[item];` should be allowed according to the current language specification, and the adjustments/corrections to the grammar that I've made in https://codereview.chromium.org/2688903004 preserve that property. So it's a problem with the implementation of the parsers in dart, dart2js, and dartanalyzer.

Note that the syntax for generic methods is included

[2017-05-15 09:21] eernstg commented on #28305
I think the consistent approach would be to allow `await voidExpression` as an expression statement (and in those few other cases where we decided to allow void expressions) based on the ability to use the same `voidExpression` on its own as an expression statement (etc.), and based on the fact that we allow things like `await 3`, even though it is statically known that `3` is an immediate (non-Fu

[2017-05-15 09:32] alsemenov opened #29615 "Stream.asyncMap() calls [convert] only once per event"
The [description](https://api.dartlang.org/stable/1.23.0/dart-async/Stream/asyncMap.html) of method dart:async:Stream.asyncMap() reads:

The description of Stream.map() reads:

The following sample code counts number of calls to `convert`:
[code]
Output

Expected output:

Dart VM version: 1.23.0 (Fri Apr 21 03:13:00 2017) on "windows_x64"

[2017-05-15 09:39] MikeMitterer commented on #29601
@zoechi The problem is that I have to enable checked-mode just for assert - this should not be necessary. If it's necessary to turn on asserts in production depends on the situation, hopefully not but sometimes??? you never know, depends on the bug ;-)

@matanlurey Thank for this hint, nice. I would prefer having an option for standard assert but in the meantime thats a nice approach.

[2017-05-15 10:15] eernstg commented on #28810
There's certainly an overlap, but those issues are about _allowing_ field overrides, e.g., setter-overrides-field (say, to perform some validation on the values assigned to that field), or getter-overrides-field (say, to log usages), etc. Even though field-overrides-field is a case which is difficult to justify (it's very likely to be a mistake which just creates some confusion and wastes some spa

[2017-05-15 10:35] eernstg commented on #29614
Right, that is a fault in the grammar. It is already covered in https://codereview.chromium.org/2688903004, and I'll rework the grammar in the spec to include corrections made there.

[2017-05-15 11:28] whesse commented on #28955
The debug log for IE11 bots shows that the 60 second timeout for fetching a test is being hit when starting ie11 for the first time in a build.  The browser is then killed, and a new instance is started, which again takes more than 60 seconds to start up.  This cycle continues until the max number of failures is reached, and then the test run is stopped.

Increasing the time allowed for a browser

[2017-05-15 11:50] whesse commented on #28280
The dart2js chrome bots are testing dart2js output on Chromium's content_shell, using the content_shell built in Dartium.  So this has just been updated from 45 to 50.  But because we are not using the built-in Dart VM in the Dartium content_shell at all, we could just as easily use Chromium's content_shell.  Then we would be testing up-to-date versions of the Chrome DOM, more like the dart2js-lin

[2017-05-15 12:14] eernstg commented on #29607
This is a real problem. The corresponding situation with the conditional operator `:?` is discussed in #25368, and that issue already mentions that `??` is similar.

The core problem is the drastic upcast in the `??` operator: the static type of `e1 ?? e2` is the least upper bound of the static type of `e1` and of `e2`. Whenever those two types are unrelated (like here) we get `Object`, and that a

[2017-05-15 12:14] #29607 closed

[2017-05-15 12:14] eernstg commented on #25368
Issue #29607 reports on the issue discussed here for the case `e1 ?? e2`. I've closed it as a duplicate of this one.

[2017-05-15 12:28] terrylucas commented on #28280
Bill's right we could use Chromium's content_shell but I'm tempted to wait until post Dartium 50 (good check that our content_shell is working especially with the font change needed for forge).  Moving forward, post Dartium 50, it seems that we won't be building any content_shells w/ VM so we should migrate to Chromium's 58 content_shell with a Dart's sdk/lib IDLs from Chromium 58 too.

The goal i

[2017-05-15 12:31] whesse commented on #28280
I can't find a download link for Chromium's or Chrome's content_shell, so we may need to upload it to cloud storage.  This would be a manual step, which we would need to do each time we wanted to test new versions.  I'm happy to leave this for a few months, while Dartium 50 is active.

[2017-05-15 12:36] terrylucas commented on #28280
I'm investigating if the font loading change, that forge needs in content_shell, can be built as an extension so we don't have to deal with building a new content_shell with each version of Chromium.

[2017-05-15 13:12] lrhn commented on #28305
It's a case of "allow only the useful" vs. "disallow only the problematic", and we haven't decided exactly on which approach we'll favor.
An `await (void expression)` is neither useful nor problematic. There is no good reason to allow it, nor is there a good reason to disallow it. If nobody ever writes such an expression, the world will be no poorer.

I'm leaning towards disallowing it, although n

[2017-05-15 13:16] bwilkerson commented on #29613
@scheglov

[2017-05-15 15:41] eernstg commented on #28305
OK, I'll try:

OK, it works! Then we should also ban `await 23`. And 24. ;-)

[2017-05-15 16:26] #57522 closed

[2017-05-15 16:26] lrhn commented on #28305
To be honest, I tend to agree.
In strong mode/Dart 2, I wouldn't mind if require the static type of `e` in `await e` to, at least potentially, be a `Future`. That means assignable to some `Future` or being `FutureOr` of something. Just being `int` is right out.

In Dart 1, we don't generally let types decide program validity, so it would at most be a warning.

[2017-05-15 16:30] eernstg commented on #28794
The reason why I prefer to ban multiple applications of the same mixin in the same class is conceptual and semantic, so it's just as bad when one copy is a superclass and another one is a mixin as it is when they are both mixins. So I agree with Stephen that they should be treated the same.

For the conceptual part, I don't think it is very helpful to be able to "be" something more than once witho

[2017-05-15 16:50] matanlurey commented on #28305
+1

[2017-05-15 17:09] mk13 opened #29617 "Add null-check on typeParameters"
Use case : just filling out Component. Potentially from mistyping 'selector' and 'seelector'.

Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-171.4249.39`
- `1.24.0-dev.4.0`
- `IU-171.4249.39, JRE 1.8.0_112-release-736-b16x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.12.4 unknown, screens 1440x900, 1200x1920  Retina`

# Exception

Please append the contents of:
file:///private/v

[2017-05-15 17:45] alexeieleusis opened #57573 "Lint if a local variable is hiding a function/method parameter"

[2017-05-15 17:45] eernstg commented on #29601
[Here's a CL](https://codereview.chromium.org/2879153005/) which adds an `--enable-assert` option to dart2js. It may be helpful during development in cases where full checked mode semantics is too much of a performance hit, but correctness checks expressed using `assert` would still be nice to have.

It is of course technically very similar to the approach using `bool.fromEnvironment`, but it may

[2017-05-15 19:26] rakudrama commented on #29597
These have all been fixed.

[2017-05-15 19:26] #29597 closed

[2017-05-15 19:29] rakudrama commented on #8001
This is no longer relevant - we don't generate boolified versions of methods.

[2017-05-15 19:29] #8001 closed

[2017-05-15 19:35] rakudrama commented on #20817
dart2js no longer generates getInterceptor functions for this example.

[2017-05-15 19:35] #20817 closed

[2017-05-15 19:44] rakudrama opened #29618 "dart2js: Better optimization of calls to `==`"
We do recognize when the operation is `Object.==` and lower that to `identical`.
We also generate special code in-line for handling `null` which is implemented as both _undefined_ and _null_ (`a == null ? b == null : a=== b`)

There are some cases where we could do better when there _is_ an overriding definition of `==`. Consider:

[code]

Type analysis tells us the type of `a` is Y or Null.

- Th

[2017-05-15 19:54] rakudrama commented on #25646
It might be useful for the bit to exclude `null` from the types that kill self-intercepting, i.e. the bit means self-intercepting-or-null. This could be helpful in identifying the example in https://github.com/dart-lang/sdk/issues/29618

[2017-05-15 20:30] keertip opened #29619 "Please merge revision #3f90b06836fca56e72cfadbc7d61590cec79e71c into dev channel"
@whesse @mit-mit @kasperl

The introduction of StreamGroup class to dart:asyn causes errors of the the type

error • Element 'StreamGroup' from SDK library 'async.dart' is implicitly hidden by 'stream_group.dart'
and breaks code in google3. This merge# fixes the problems.

The analyzer issue is being tracked at 3f90b06836fca56e72cfadbc7d61590cec79e71c

Merge rev 3f90b06836fca56e72cfadbc7d61590cec7

[2017-05-15 20:31] keertip commented on #29619
@whesse, merge to dev.4.0

[2017-05-15 20:31] keertip commented on #29619
@srawlins

[2017-05-15 20:58] jcollins-g opened #29620 "vm crash in 1.24-dev-0.0+ triggered by something in dartdoc"
Working on a change for dartdoc in this branch:  https://github.com/dart-lang/dartdoc/tree/warnings-update

I have encountered a crash in the dart VM, as demoed by Travis:  https://travis-ci.org/dart-lang/dartdoc/jobs/231722764

and locally (with some debug prints to show what dartdoc was writing at the time of the crash):
[code]

Running the same code with 1.23 works fine, and working without the

[2017-05-15 21:42] mk13 commented on #29617
Been able to consistently reproduce it.

Hard update and rebuild; cannot reproduce the issue afterwards. Will close the ticket for now until it happens again.

[2017-05-15 21:42] #29617 closed

[2017-05-15 22:17] MichaelRFairhurst opened #29621 "make ServerPlugin generic over AngularDriver"
Might be nice to have `ServerPlugin` be `ServerPlugin<T extends AnalysisDriver>`, so I can access `driverMap` as `Map<String, AngularAnalysisDriver>` (if the plugins default type is `Map<String, T>`).

First suggestion, I'll try to keep them coming!

[2017-05-15 22:19] MichaelRFairhurst opened #29622 "ServerPlugin hook for added files vs changed files, find drivers that care"
I'm filling in

[code]

Might be nice if I got the driver that cared, and a differentiation between add and change events.

Ultimately I'll be doing, like

[code]

maybe these could be made part of the `AnalysisDriverGeneric` interface, so I don't even have to write it?

[2017-05-15 22:53] lexaknyazev opened #29623 "Add ES6 Math Functions"
ECMAScript 6 has some new Math functions:
[code]

It would be great to have those exposed in `dart:math`, especially given that all modern browsers already support them (only IE11 needs polyfill).

[2017-05-15 23:09] leafpetersen commented on #29349
Ok.  @eernstg would you mind filing the relevant bugs with the relevant teams?

[2017-05-15 23:13] leafpetersen commented on #28797
@zoechi can you elaborate?  It was marked as implemented here: https://github.com/dart-lang/sdk/issues/28165 , so if there's something missing we should follow up on it.  Note though that dart2js just implements the Dart 1.0 semantics, which is just to ignore it (since Dart 1.0 functions are covariant already).

[2017-05-16 00:05] bwilkerson commented on #29622
Yeah, I debated about that part of the implementation. Currently, `contentChanged` is only invoked when there is a watch event of type `MODIFY` or when an overlay is added, changed or removed. I was thinking about having separate methods for when files are added or removed, but haven't implemented them yet. (There are to-do comments for them.)

Your idea of passing in a driver is an interesting on

[2017-05-16 00:25] nex3 commented on #20484
Marking this as "not planned" effectively means that deferred loading is invalid in any code that *might possibly* be used in a command-line context. Are we okay with that? @dgrove @kasperl

[2017-05-16 00:28] nex3 commented on #20470
@rmacnak-google Do app-aot snapshots have competitive runtime performance with code snapshots, or do they lose out because they don't get JITed? If we have to choose between slow startup and slow runtime, our problem isn't really solved.

[2017-05-16 01:07] matanlurey commented on #27346
+1 to this. I'd love to see a checkbox in DartPad that says "using DDC."

/cc @lukechurch and @devoncarew

[2017-05-16 03:47] #29610 closed

[2017-05-16 05:12] devoncarew opened #29625 "add a FileSystemEntity.name getter"
We have `FileSystemEntity.path`, but it would be nice to have a `FileSystemEntity.name` as well. I've often wanted to do a `File.name` or `Directory.name`, and have had to import and use `package:path` instead.

[2017-05-16 07:46] zoechi commented on #20470
According to https://github.com/dart-lang/sdk/wiki/Snapshots snapshots get a training run with `--snapshot-kind=app-jit`

[2017-05-16 08:01] johnniwinther opened #29626 "No dart2js specific platform.dill in sdk"
The published sdk doesn't contain a dart2js specific platform.dill files which is need to support kernel based compilation with dart2js.

[2017-05-16 09:44] alsemenov opened #29627 "Please, clarify how Stream.distinct() handles errors"
The [description](https://api.dartlang.org/stable/1.23.0/dart-async/Stream/distinct.html) for method dart:async:Stream.distinct() reads:

Please, clarify how errors are handled:
1. Errors in the original stream (are they just copied?)
2. Errors thrown by `equals` (are they added to returned stream? does first error stops further processing?)

[2017-05-16 10:05] tmst opened #29628 "String.split() on empty string results in array of length '1'"
''.split(' ').length
1

I believe this to be incorrect. The result of the analogous operation in Python yields '0'.

[2017-05-16 12:05] zoechi commented on #29628
Seems similar to https://github.com/dart-lang/sdk/issues/27123#issuecomment-241326601

[2017-05-16 12:22] floitschG commented on #29582
@whesse: do you have any input?

[2017-05-16 12:25] floitschG commented on #29628
Yes. This is the same issue. (Thanks again @zoechi )

Dart (for the better or worse) uses the same semantics as JavaScript here...

Closing.

[2017-05-16 12:25] #29628 closed

[2017-05-16 12:31] whesse commented on #29582
We don't use Travis to verify that our CLs work correctly, but the buildbots at https://build.chromium.org/p/client.dart/console

We intend to implement a commit queue and a system of trybots, as part of migrating our code review system.  Right now, testing locally with tools/test.py -mrelease will test the VM, and dart2js can be tested with tools/test.py -mrelease -cdart2js -rchrome -j4, for exam

[2017-05-16 13:40] whesse commented on #29619
Merged into 1.24.0-dev.4.1

[2017-05-16 13:40] #29619 closed

[2017-05-16 13:55] eernstg commented on #26391
One funny little thing is that a constructor may use a generic named constructor in a superinitializer, so we need support for `super.theName<Some, Type, Arguments>(some, value, arguments)` as well (there's no guarantee that the superinitializer takes the same type arguments, or even the same number of type arguments).

Given that there is no return value from a constructor we generally won't have

[2017-05-16 15:21] jcollins-g commented on #29620
I've narrowed it down to one bit that seems to cause the crash.  Sadly the crash is not reproducible using the dart debugger or I'd be able to get you more data:

https://github.com/dart-lang/dartdoc/blob/warnings-update/lib/src/model.dart#L223

Here, calling `accessor.name` will sometimes, indeterminately, cause a crash.  If I don't call `accessor.name`, say if I just return null, or if I call ot

[2017-05-16 15:38] mraleph commented on #29620
Thanks for looking into this yourself @jcollins-g! Just to give you a bit of background - based on the stack trace, it's a crash in the optimizing JIT compiler - which runs in the background concurrently with the main execution thread and optimizes hot functions. This probably explains why the crash is non-deterministic - because background compiler is inherently racing with the execution... This

[2017-05-16 15:40] jcollins-g commented on #29620
Some other things I've tried that all still result in a crash:  changing the declaration of accessor to an explicit type (`PropertyAccessorElement`), not calling `replaceFirst` on the name but just calling the name in a print statement, running without checked mode.

It is almost certainly a coincidence but it seems strangely linked to #29600.  The crash will only occur if the accessor is actually

[2017-05-16 15:41] stereotype441 opened #29629 "Not all type parameters are substituted when checking function type parameter bound compatibility"
The analyzer function `FunctionTypeImpl.relateTypeFormals` substitutes type bound inside the same loop that generates the substitution.  This means that if one type variable refers to a later type variable, the later type variable won't get substituted when checking the bound for the former.  E.g.:

    relateTypeFormals(<T extends U, U>() => dynamic, <V extends W, W>() => dynamic)

would return f

[2017-05-16 15:45] jcollins-g commented on #29620
Some basic instructions that should reproduce this quickly:

First, ensure that you have a 1.24+ Linux SDK installed.  Then:
[code]

[2017-05-16 15:51] jcollins-g commented on #29620
@mraleph thanks for looking at this, please let me know if I can be of further help.

[2017-05-16 17:00] rakudrama commented on #29586
Some limited form of runtime-interpolation has several advantages:

- Different parts could have different roles, requiring different printing. e.g. you would quote a variable name differently to a string irritant.
- Values from the program could be safe-printed to avoid errors. No constructed messages do this properly.

[2017-05-16 17:12] leafpetersen commented on #26391
On minimal thought, I would expect that if we have:

[code]

then you could use A<F<T>> as the contextual expectation for the super call?  I might be missing some details though - definitely needs to be worked through.

[2017-05-16 17:44] leafpetersen commented on #28810
Sorry, I wasn't clear enough.  Lints have nothing to do with the language team, other than as evidence of demand for features that we have chosen not to provide (e.g. `@override`).

The question is whether or not we want to make field/field overrides a language level error (as they are in swift, for example).  The argument for doing so is that it's a performance and correctness trap, and is essent

[2017-05-16 18:21] leafpetersen opened #29630 "Eliminate fuzzy arrows"
In Dart 1.0, dynamic is used as both top and bottom.  In strong mode, we made it top almost everywhere, except that for function typed variables (only) we made dynamic on parameter types mean bottom in order to enable certain code patterns:

[code]

Since we how have a name for bottom in the language (Null), we can support this pattern directly:

[code]

The original motivation for fuzzy arrows is

[2017-05-16 19:27] grouma opened #29631 "Analyzer error from Double slashes in import URL should be improved"
Double slashes within an import URL do not cause a warning or error as the files correctly load. However, the resulting types will cause issues as they are determined to be from an incompatible package.

For example:

import 'some/path//location/test.dart';

is valid but loaded types will likely be incompatible with those loaded from an existing API.

[2017-05-16 19:54] bwilkerson commented on #29631
In case you happen to know: does the VM normalize the URI, or do you end up with errors there as well?

[2017-05-16 19:55] grouma commented on #29631
I'm not sure. Is there an easy way to test this?

[2017-05-16 19:57] alan-knight opened #29632 "Roll 50 failures on Safari"
LayoutTests/fast/events/event-fire-order_t01
LayoutTests/fast/dom/icon-size-property_t01
LayoutTests/fast/dom/HTMLOutputElement/htmloutputelement_t01

All 3 of these fail on the Safari bot, but pass locally. The first two pass with the error that length is not a function, the last one with target is not defined.

[2017-05-16 20:07] bwilkerson commented on #29631
That depends on your definition of "easy" :-)

I wrote a small test, and the VM (in checked mode) prints:
[code]
It appears that analyzer is correct and that the VM considers these to be different libraries (and hence different classes).

[2017-05-16 20:10] grouma commented on #29631
I see. The warnings / errors provided by the analyzer is misleading. I stumbled into this scenario with a typo in the import URL. Took some head scratching and a second pair of eyes to see my silly mistake.

[2017-05-16 20:39] bwilkerson commented on #29631
We could definitely do better with the error message! Seems like we should be able to tell you if there's a small difference in the URI's that you might have a typo somewhere (and maybe even where).

[2017-05-16 20:47] leonsenft commented on #29605
This is a deprecated field, perhaps it's been dropped?

https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode

[2017-05-16 21:38] lrhn commented on #28810
Indeed.
There should be no difference between a getter and a final field. If there is a difference, then you can't refactor between them, and the entire idea of getters is to allow you to back and forth without worry.

[2017-05-16 22:07] rakudrama commented on #29623
Can you recommend a polyfill for IE11?

 - Dart VM would need to implement them.
 - Each function needs a complete set of tests.
 - What do we do if some browser has an implementation of Math.xxx that does not pass the tests?

If the implementation of the other 'intrinsics' on the VM is a guide, this is quite a lot of effort. To make these operations 'mesh' nicely with the surrounding arithmetic r

[2017-05-16 22:09] alan-knight opened #29634 "Roll 50 suppressions for dart2js-drt"
Unless they're suppressed elsewhere as well, these are passing on Dartium/dart and dart2js with other browsers, so this seems like an odd case.

About 45 of them seem to be WebGl tests that are passing when they expect to fail.  Others seem likely to be upgrades, e.g. a webkit- prefix that's no longer there, or slight variations in values. Suppressing everything for now.

[2017-05-16 22:44] rakudrama opened #29635 "dart2js: Better encoding of deferred part dependencies"
In a large app with many deferred parts, the metadata for loading the deferred parts is about 1% of the total main part size.

The problem would be reduced by merging parts (https://github.com/dart-lang/sdk/issues/29572) but there is also a problem that the representation has redundancies.

1. There are two parallel maps (JavaScript objects) from library key to list of parts, one for file names, t

[2017-05-16 23:09] keertip opened #29636 "Please merge revision #42ef3eb144a1e9f6c0f5944f516196574b52b88d into dev channel"
@whesse @mit-mit @kasperl

This adds support for the machine format flag to the analyzer which was not ported over to the workflow for building summaries.

This is needed in order to use summary generation for analyzer tests in google3.

merge commit #42ef3eb144a1e9f6c0f5944f516196574b52b88d

[2017-05-16 23:43] lexaknyazev commented on #29623
Right now, `dart:math` has full feature parity with JS Math of ECMAScript 5.1 (with few differences in semantics of Random and rounding).

Since ES6 version of JS Math is supported in all major browsers (except IE11), I think that support of these functions in Dart could be expected by developers. Of course, it doesn't have to precisely follow ECMA semantics: `Math.sign(x)` is clearly redundant in

[2017-05-16 23:59] devoncarew opened #57574 "consider benchmarking the lints"
We've had issues where individual lints can have outsized performance impact on the time for analysis. We should set up a benchmarking system, so we can get a rough sense of which lints are performant, slow, or have severe perf issues.

@pq

I have worked on some similar systems in the past - we may be able to share some code or concepts here.

[2017-05-17 04:04] nex3 commented on #20470
That's true for app-jit snapshots, but I'm not sure how you'd construct an effective training run for an application like pub that has many different commands that all execute different code paths. And a training run just isn't possible in general for some of our snapshot use-cases, such as generating snapshots of user executables for use by `pub run`.

[2017-05-17 04:44] rakudrama opened #29637 "dart2js: Smaller and more efficient deferred library guard"
Deferred library guards are converted early to library calls.
Each call contains the key for the test and a uri for the error message.

- It would be more efficient if the guard was understood by the optimizer to eliminate repeated guards
- The key (the same used for loading deferred libraries) could be reduced to an index for an array-based check, and the uri could be stored in an array to avoid

[2017-05-17 06:47] zoechi commented on #29605
@leonsenft thanks for the pointer and sorry for the noise.

[2017-05-17 08:45] zoechi commented on #29605
It's used in [angular2_components](https://github.com/dart-lang/angular_components/blob/4518e633682dcf985a23da0e96ed5e39c41abde3/lib/src/components/button_decorator/button_decorator.dart#L84) all over the place, therefore I'll reopen and let someone else decide.

[2017-05-17 09:30] eernstg commented on #26391
The starting point is that we are adding a new construct: `superCallOrFieldInitializer` in the grammar would need to be modified to allow for passing actual type arguments. We might need to answer new questions in relation to that, and I was just checking out whether we're likely to have new and interesting problems when we implement this feature.

It's about the type arguments of a named construc

[2017-05-17 09:42] SadovovAlex commented on #29494
only external json data incorrect char
![default](https://cloud.githubusercontent.com/assets/14030285/26148076/314f4b58-3afe-11e7-9732-b402c0cb31ec.png)

[2017-05-17 09:48] alsemenov opened #29638 "Unexpected behavior of Stream.distinct()"
The description of dart:async:Stream.distinct() reads:

The following sample code shows that `equals` is called with unexpected arguments and unexpected number of times.
[code]
Output

In case of single subscriber everything is correct.
If there are more subscribers, results are unexpected.

Expected output (order of lines can be different):

Dart VM version: 1.23.0 (Fri Apr 21 03:13:00 2017) on "

[2017-05-17 09:58] floitschG commented on #26391
I'm in favor of getting this done.

As Natalie mentioned: we have cases where we need those in the core library, and there shouldn't be any big show-stoppers.

[2017-05-17 12:18] stefantsov commented on #29494
I can't reproduce the issue right now, but a quick search shows some answers for similar issues. Namely, there are problems that some people are experiencing with string encodings in JSON responses in IE or Edge, but not with Firefox or Chrome. Here is an example: https://ru.stackoverflow.com/q/539875.

So, I guess it's not a Dart issue, but something with webserver / browser settings.

[2017-05-17 13:54] terrylucas commented on #29605
Please try this on a newer Dartium 50 roll (Tues May 16 or later).

[2017-05-17 14:51] whesse commented on #29636
Merged in 1.24.0-dev.4.2

[2017-05-17 15:17] zoechi commented on #29605
@terrylucas the `keyCode` issue seems fixed.

The size issue is the same.

Breakpoints don't work in Intellij-IDEA with Dartium 50.
Should I create an issue in the Jetbrains issue tracker or is it too early?

[2017-05-17 15:58] sigmundch commented on #29626
Since we'll embed the front-end as a library as well, I expect that this is not a requirement but an optimization we want for our users (to avoid parsing the sdk from sources on every compile), correct?

If so - I think we should move this to area-sdk

[2017-05-17 16:46] zoechi opened #29639 "Dartium 50 is displayed with different size than Dartium 45 or Chrome 5x"
I just pressed <kbd>ctrl</kbd>+<kbd>0</kbd>` to ensure the zoom level is 100% because since the update everything is displayed quite small (also the tabs and toobars of the browser itself).

![image](https://cloud.githubusercontent.com/assets/405837/25989824/e401cd02-36fd-11e7-8ce7-219c36f98bc1.png)

![image](https://cloud.githubusercontent.com/assets/405837/25989934/2f7e4012-36fe-11e7-9ab2-acda3c

[2017-05-17 16:48] zoechi opened #29640 "Breakpoints don't work in IntelliJ IDEA with Dartium 50"
Execution doesn't halt on breakpoints in web applications (works fine on console apps)

[code]

Tested with 2017.2 EAP and 2017.1.3 EAP

Related to #28280

[2017-05-17 16:49] zoechi commented on #29605
@terrylucas done, and yes, therefore closing

[2017-05-17 16:49] #29605 closed

[2017-05-17 16:56] rmacnak-google commented on #29609
One source of non-determinism is the hashing of const instances by address, which influences the order that the serializer encounters objects.  @a-siva might have some thoughts on the cost of using the weak tables instead.

The order that sources are loaded could also create non-determinism. I don't remember if the loader can give responses in a different order than the requests, but suspect it do

[2017-05-17 17:53] jcollins-g commented on #29620
I've closed the original PR motivating this but left the branch in place for you to reproduce the problem; dart-lang/dartdoc#1428 has the workaround so I can be unblocked while you investigate.

[2017-05-17 17:54] lrhn commented on #29638
Good catch. It's a bug in `_DistinctStream` - the "previous" store is on the stream, not the subscription, so when you do multiple subscriptions on the same stream, everything blow up.

[2017-05-17 17:56] lrhn commented on #29627
The errors are forwarded, that's part of "the same events" since we generally include errors in events.

Errors in `equals` is indeed added to the returned stream. It doesn't stop further processing, and it doesn't update what the most recently emitted data event is.

[2017-05-17 18:05] mraleph commented on #29620
@jcollins-g thanks!

I have already figured out what the problem is - my original guess was correct. I just need to think a little bit more about how to fix it best.

[2017-05-17 18:15] munificent commented on #28963
+1 for changing to strict left-to-right.

As far as `noSuchMethod()` goes, my personal preference would be to eventually move to something more akin to `noSuchProperty()`. Dart isn't a method-oriented language like Smalltalk, it's a property-oriented one like JS.

In particular, I think it's weird if the `noSuchMethod()` behavior of these two lines is different:

[code]

The language's semantics t

[2017-05-17 18:24] munificent commented on #28389
I don't personally feel it's a burning issue right now. I'd rather focus on most structural language changes (strong mode, etc.) and do small-scale syntax additions later.

[2017-05-17 18:26] munificent commented on #29139
Oh, dang. I didn't realize this was slated for 1.24. :(

I'm working on getting the DDC tests going through test.dart first, which in turn means I'm doing some refactoring on test.dart. I probably won't have this all done in time for 1.24 unless it's really important to.

[2017-05-17 18:26] munificent commented on #26086
Yes. Duplicate of #29624.

[2017-05-17 18:26] #26086 closed

[2017-05-17 18:29] munificent commented on #26732
👍  to what @lrhn said. It would be helpful, but the cat's already out of the bag.

[2017-05-17 18:35] vsmenon commented on #29139
This shouldn't block 1.24.

[2017-05-17 18:46] lrhn commented on #28963
What Bob said.

[2017-05-17 19:02] munificent commented on #26391
I would really like this feature too. `Map.fromIterable()` is pretty frequently used, and the user experience is decidedly subpar right now.

[2017-05-17 19:26] MichaelRFairhurst opened #29641 "Analysis Plugin arch: edit required to see errors"
Looks like I don't have an easy means to start analyzing files until they are edited.

Should `analysis_plugin` scan the directory on start, and report `fileAdd` events for the starting contents?

(put both bug and enhancement, because its a bug, that could be fixed via enhancing the plugin lib)

[2017-05-17 19:42] bwilkerson commented on #29641
Yes, the plugin needs to scan the directory when an `analysis.setContextRoots` request is received. I'm guessing that `ServerPlugin` can do that in `handleAnalysisSetContextRoots` so that subclasses don't need to worry about it.

[2017-05-17 20:00] jodinathan opened #29642 "Expose DartObjectImpl.ConstructorInvocation and TypeProvider in the analyzer package"
Hi,

Today I am importing "import 'package:analyzer/src/dart/constant/value.dart';" to use the construction info from DartObjectImpl and "import 'package:analyzer/src/generated/resolver.dart';" to use the TypeProvider.
It would be very helpful if you exported this kind of information for use to use.

[2017-05-17 21:25] matanlurey opened #29643 "pkg/meta: @visibleForCodegen"
## Example

[code]

[code]

## Rationale

Without using partial files (`part`/`part of `), it's impossible to use private (`_`) variables, which forces developers to write pseudo-public code so that it can be accessed by code generation. However, it serves no other use, and might not even be part of a fully tested public API suite.

`@visibleForCodegen` would mean:

* An annotated class, field, or

[2017-05-17 21:48] bwilkerson commented on #29643
Language team:

I think it's rather telling that we have several requests for annotations to effectively broaden the visibility control within the language, things such as `@protected`, `@visibleForOverriding`, `@visibleForTesting`, and now `@visibleForCodegen`. Should we extend the language to cover some or all of these questions, or continue to add annotation-based checking to the analyzer?

[2017-05-17 22:41] MichaelRFairhurst commented on #29643
The annotations story seems kinda just broken without mirrors.

When its possible to do

[code]

and the only non-deprecated way that that can be used in the browser is via codegen, which cannot access that value (`_foo`), and therefore will either produce broken code or have to (the author of each code generator must write this check) detect that '_foo' is private and raise a custom error, in eit

[2017-05-18 01:11] rakudrama commented on #29602
Fixed by 9c3d439b1e63012af6158db320e6a2874e48d44b

[2017-05-18 01:11] #29602 closed

[2017-05-18 01:45] matanlurey commented on #29643
@bwilkerson:

Thanks for bringing this up. BTW, this is no way a "we must have this annotation", but rather just trying to used established mechanisms (analysis with a common annotation) to get around a problem folks have been reporting.

I personally think Dart should invest in actual visibility control, but beyond this thread maybe?

/cc @leafpetersen @floitschG @munificent

---

@MichaelRFairhu

[2017-05-18 03:54] kzhdev commented on #28618
I have the same issue in WebStorm.

/usr/local/opt/dart/libexec/bin/dart --ignore-unrecognized-flags --checked --trace_service_pause_events file:///usr/local/opt/dart/libexec/bin/snapshots/pub.dart.snapshot run test:test -r json /Users/kzhao/repo/matcher_test/test/matcher_test_test.dart
Testing started at 10:52 PM ...
file:///usr/local/opt/dart/libexec/bin/snapshots/pub.dart.snapshot is not a vali

[2017-05-18 04:00] kevmoo commented on #28618
@kzhdev which version of IntellliJ And Dart are you sing?

[2017-05-18 05:12] devoncarew commented on #29640
/cc @jwren

[2017-05-18 05:34] sgrekhov opened #29644 "Remove Window.getMatchedCSSRules()"
Window.getMatchedCSSRules() is deprecated and going to be removed in Chrome (https://bugs.chromium.org/p/chromium/issues/detail?id=437569&desc=2). Therefore it makes sense to remove Window.getMatchedCSSRules() or, at least, mark it as deprecated

[2017-05-18 05:57] sgrekhov commented on #28935
What about analyzer, guys? Now, it doesn't support this feature
[code]
In a nostrong mode it produces:
`warning - The return type 'String' isn't a 'void', as defined by the method 'foo'`
In a strong mode:
`error - The return type 'String' isn't a 'void', as defined by the method 'foo'`

dartanalyzer version 1.24.0-dev.4.2

[2017-05-18 08:12] eernstg commented on #28935
That's issue #28940, part of #28939, and it was landed last week. Here's the 1.24.0-dev.2.0 versus most recent commit behavior:
[code]
So the only reason why you don't see it yet is that it is still in the release pipeline.

[2017-05-18 08:37] whesse opened #29645 "Commit "Use kernel frontend ..." causes compilation failure on MacOS"
The symbols need to be sorted somehow, on Mac.  Perhaps in the header file?

Reverted commit d91f228766a2c1708bec8f62bbe2756e4a529f5e
with https://codereview.chromium.org/2884383005/

Error is:[942/1007] PACKAGE FRAMEWORK 'Chromium Framework.framework', POSTBUILDS
FAILED: Chromium Framework.framework
./gyp-mac-tool package-framework 'Chromium Framework.framework' A &&
...
 && tools/build/mac/verif

[2017-05-18 09:14] alsemenov commented on #29638
If `equals` returns `p==n` instead of `false`, the result for second subscription will be completely wrong:

[2017-05-18 09:30] eernstg commented on #26732
If the right solution is to prevent `extend` but allow `implement` for this particular class, we could just postpone this issue until we have the right tool for dealing with it, i.e., some general feature that allows us to declare "you can/cannot extend/implement/mix-in/... this class". At that time it may still be too much of a disruption to change `class Future` to `interface Future` (or whateve

[2017-05-18 09:48] alsemenov commented on #29627
In case of `equals` throws, please, clarify whether error is considered as `equals` returns `true` or `equals` returns `false`? I.e. what data will be in returned stream in case of `equals` throws

[2017-05-18 09:59] eernstg opened #29646 "Changelog: `void` arrow functions should allow any rhs type"
This is the changelog issue for #28939.

[2017-05-18 10:05] lrhn commented on #29638
Exactly, because it shares the "last seen" between multiple listeners, so when the first listener sees "1", it means that the next listener drops it.

[2017-05-18 10:08] lrhn commented on #26732
We already prevent subclassing of `Future` because all constructors are factory constructors. That's not sufficient to allow the compiler to assume that all `Future` instances are JS `Promise` objects.

[2017-05-18 10:14] floitschG commented on #26732
Normally, all of `dart:async` is ok with user-supplied futures. We do have shortcuts, but never rely on them. (If we do, it's a bug).

Can't dart2js/DDC recognize, that a class implements `Future` and then subclass `Promise`?

[2017-05-18 11:25] eernstg opened #29647 "language/bool_check_test with --enable-asserts brings out a semantic ambiguity"
Boolean conversion may be considered to be associated with a typing issue, for example, "for `if (e)..`, is the value of `e` a boolean?". In production mode, `true` will select the 'then' branch and all other values will select the 'else' branch (so everything else than `true` is false, including `null`). In checked mode `true` will select 'then', `false` will select 'else', and every other value

[2017-05-18 11:51] lrhn commented on #29647
The `--enable-asserts` flag makes sense for strong mode, since there is no checked/production mode switch any more (well, there is, it's just only affecting actual asserts, not "type assertions").

For Dart 1 (because boolean conversion is not a thing in strong mode/Dart 2 anyway), dart2js should have an assertion in checked mode, so I see no reason to not have it in `--enable-asserts` mode.

On t

[2017-05-18 12:57] floitschG commented on #29404
We discussed this again in our language meeting, but decided that we won't change the function-type syntax.

Reasons:

1. it's extremely hard to find a syntax that checks every box and is readable in every circumstance.
2. the current problem also arises with normal methods: `Map<T, List<List<List<List<int>>>>> foo<T>()`. It's a bit weirder to construct, but then again: the examples you provide ar

[2017-05-18 12:57] #29404 closed

[2017-05-18 13:07] lrhn commented on #29404
I admit that ` T Function<T>() Function<T>() Function<T>()` is unreadable, but that's because of the naming conflict. If it was written ` R Function<R>() Function<S>() Function<T>()`, then I find it more readable - as higher-order generic function types go, they are never going to be *easy*.
An expression of that type would be:
[code]
I hope they will be rare.

[2017-05-18 13:12] zoechi commented on #29316
I haven't seen this in a while. I'll reopen when I run into it again.

[2017-05-18 13:12] #29316 closed

[2017-05-18 13:13] peter-ahe-google commented on #29404
Could you provide examples of other syntaxes you tried but rejected?

[2017-05-18 13:21] aam commented on #29645
Just wanted to confirm - I don't think I will be able to avoid temporary breakage because the fix for the above will require one submit to Dartium repo(https://codereview.chromium.org/2887183003 in review) and ore more submit to Dart repo to pull Dartium repo with the change(similar to https://github.com/dart-lang/sdk/commit/a96e92050836b642c0d0df362b0763c821e243a2).

@terrylucas

[2017-05-18 13:36] #13022 closed

[2017-05-18 13:37] peter-ahe-google commented on #6972
Proposed fix in [CL 2876813002](https://codereview.chromium.org/2876813002/).

[2017-05-18 13:40] peter-ahe-google commented on #26581
Proposed fix in [CL 2876813002](https://codereview.chromium.org/2876813002/).

[2017-05-18 13:41] peter-ahe-google commented on #21154
Duplicate of #6972.

[2017-05-18 13:41] #21154 closed

[2017-05-18 14:01] whesse commented on #29645
I think it could be done without breaking:  The submit to Dartium repo can be done before the breaking change to Dart, then the Dart change and the Dartium DEPS roll can be in the same CL.

If not, then yes, breaking temporarily is OK.

[2017-05-18 14:13] kzhdev commented on #28618
@kevmoo

CLion 2016.1.2
Build #CL-145.972, built on May 18, 2016
JRE: 1.8.0_76-release-b162 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2017-05-18 14:13] kzhdev commented on #28618
@kevmoo Sorry, wrong software. Here is the one:

WebStorm 2016.2.4
Build #WS-162.2228.20, built on October 18, 2016
Licensed to TRADING TECHNOLOGIES / Kun Zhao
You have perpetual fallback license for this version
Subscription expired on December 2, 2016
JRE: 1.8.0_112-release-287-b2 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2017-05-18 14:19] alexander-doroshko commented on #28618
@kzhdev, so as you can see from the previous comments, the issue if fixed long ago in 2016.3.x and more recent IDE updates.

[2017-05-18 14:28] kzhdev commented on #28618
@kevmoo

More color on this. It is pretty easy to reproduce. Just create an new Console Application through WebStorm and run the test.

Tests on Dart package Package project is working fine.

[2017-05-18 14:30] kzhdev commented on #28618
@alexander-doroshko Oh, I thought that just for IntelliJ. Too bad, I can't upgrade to 2016.3 that is not free. :(

[2017-05-18 14:38] alexander-doroshko commented on #28618
Dart SDK 1.22 was released on February 14, 2017, way later than WebStrom 2016.2 that you use. WebStrom 2016.3 was already available at that moment. You shouldn't expect the IDE to be future-compatible with all the upcoming SDKs.

[2017-05-18 14:44] bwilkerson commented on #29641
https://codereview.chromium.org/2886343002/

[2017-05-18 14:44] #29641 closed

[2017-05-18 14:54] #29638 closed

[2017-05-18 15:23] eernstg commented on #29647
It sounds reasonable that we will not have a notion of a boolean conversion in Dart 2 / strong mode. As long as we do not have non-null types, this means that expressions which are subject to boolean conversion in Dart 1.x will now be forced to have type `bool`, and hence they can have the values `true`, `false`, and `null`. Presumably there will be a new, custom rule saying that it is a dynamic e

[2017-05-18 16:42] rmacnak-google commented on #29609
Symbol compaction and collecting token streams for the VM isolate also depend on object iteration order, which is non-deterministic with concurrent sweep.

[2017-05-18 17:00] mraleph commented on #29620
CL with a fix is up for review: https://codereview.chromium.org/2891113002/

[2017-05-18 17:42] devoncarew opened #29648 "analysis driver cache is large"
The cache is large (1 GB), and the directory contains a lot of files. This has issues when deleting the directory, listing the contents of the directory, or code completing file names in the directory.

I think there was an issues related to this, but was unable to find.

We should consider segmenting the directory into subdirectories, so a file named `fff8f4960d612103b41bb2be96929e9f.linked` migh

[2017-05-18 17:46] aam commented on #29645
Ah, right. Or perhaps Dart Dartium DEPS can be rolled forward after the order is changed in Dartium, but before new method is introduced in Dart. This is to separate potential problems introduced by the roll itself.
Is there particular person who normally does the Dartium roll?

[2017-05-18 18:30] aam commented on #29645
adding @alan-knight while Terry is offline.

[2017-05-18 20:59] munificent opened #29649 "Crash in Dart IntelliJ plug-in"
Analyzer Feedback from IntelliJ

I got this while trying to find all uses of a variable. My workspace is `/tools/testing/dart/` in the Dart repo. (You may not be able to repro this locally since I had a bunch of uncommitted changes when this occurred.)

Overall, the analysis experience has been *really* weird in this directory. When errors appear in a file (red squigglies), they never seem to go a

[2017-05-18 21:16] bwilkerson commented on #29649
@scheglov

[2017-05-18 21:18] munificent commented on #29643
Yes, I personally think we should consider more fine-grained access control modifiers. Keeping things simple is good, but it's possible to be *too* simple. My five-minute sketch would be to add:

* **Protected**, which treats the identifier as public (i.e. not name mangled like private identifiers), but makes it a static error to invoke the member when the enclosing class is not a subclass of wher

[2017-05-18 21:27] matanlurey commented on #29643
@munificent:

I don't consider dynamic call sites important, so +1 from me.

It wouldn't really be private, right? It would be public except a static error to reference outside of certain libraries, and obviously tools like dartdoc could take advantage of this knowledge to avoid generating public APIs, etc.

[2017-05-18 21:28] alan-knight opened #29650 "JS_CONST not being compiled properly in DDC"
There's a problem with the html test element_dimensions_test.dart

The symptom is that it produces 18 rather than 10, but this is because it's directly getting the height field even though there's a getter that's supposed to modify the value.

We have a superclass getter for height in _ContentCssListRect, inherited from _ContentCssRect, and it seems that DDC is not using it, and is compiling direc

[2017-05-18 21:57] rakudrama opened #29651 "vm: Profiling options that are more usable."
The VM has a fixed size buffer for samples: 120000 elements.
As things currently stand I have to recompile the VM with a larger profile sample buffer to get the information I need. This is inconvenient in contexts where I need to use the deployed VM.

What is not explained in the source or options is that each of the 120000 elements is 8 frames (or so I believe).
This means that when I select `--m

[2017-05-19 01:02] #29535 closed

[2017-05-19 09:03] #6972 closed

[2017-05-19 09:03] #26581 closed

[2017-05-19 09:18] alsemenov opened #29652 "Please, clarify Stream.every() description"
The [description](https://api.dartlang.org/stable/1.23.0/dart-async/Stream/every.html) for dart:async:Stream.every() reads:

Please, clarify the case when `test` throws error. Will the returned future be completed with that error?

[2017-05-19 09:36] alsemenov opened #29653 "Please, clarify how Stream.expand() handles errors"
The [description](https://api.dartlang.org/stable/1.23.0/dart-async/Stream/expand.html) for dart:async:Stream.expand() reads:

Please, clarify how errors are handled:
1. Errors in the original stream. (are they just copied to resulting stream?)
2. Errors thrown by `convert' (are they just added to resulting stream? Do they stop further processing?)
3. Errors thrown by `Iterable` returned by `conve

[2017-05-19 10:11] zoechi opened #29654 "tons of errors from ddc"
[out.txt](https://github.com/dart-lang/sdk/files/1013795/out.txt)

Is this expected or am I doing something wrong?

I have a few (~20) lints from the angular_analyzer_plugin in templates, but otherwise no strong mode hints/warnings/errors

**analysis_options.yaml**

[code]

**angular transformer**
[code]
[code]
[pubspec.lock.txt](https://github.com/dart-lang/sdk/files/1013807/pubspec.lock.txt)

[2017-05-19 10:51] mkustermann opened #29655 "Make dart2js-drt builders use upstream content_shell instead of our legacy dartium-based content_shell"
Our `dart2js-drt-*` builders became flaky after chrome-50 roll into dartium. There is not really a reason (afaik) for us to use the dartium-based content_shell we build ourselves for running dart2js output.

We could consider removing runs of dart2js output on drt entirely if it provides little value in addition to the existing browser tests we have. The dart2js team should maybe decide this. Thou

[2017-05-19 11:15] eernstg opened #29656 "Support new compile-time errors for initialization clashes"
A recent [update to the language specification](https://codereview.chromium.org/2843733002/) includes two new compile-time errors for initialization conflicts: It is a compile-time error to have an initializer or an initializing formal initializing a final variable with an initializing expression. The rationale is that similar situations are already compile-time errors. For example:

[code]
Tool s

[2017-05-19 11:19] eernstg opened #29657 "Analyzer: Support new compile-time errors for initialization clashes"
This is the analyzer specific issue for #29656, which has the details. The analyzer needs to emit an error rather than a warning in these cases.

[2017-05-19 11:21] eernstg opened #29658 "Dart VM: Support new compile-time errors for initialization clashes"
This is the vm specific issue for #29656, which has the details. The vm needs to make it a compile-time error to have these initialization conflicts.

[2017-05-19 11:22] eernstg opened #29659 "dart2js: Support new compile-time errors for initialization clashes"
This is the dart2js specific issue for #29656, which has the details. This may be a no-op because dart2js seems to make these situations a compile-time error already.

[2017-05-19 11:38] lrhn commented on #29592
Dart core platform libraries blocked by #29598.

[2017-05-19 11:40] lrhn commented on #29598
Blocks #29592 which is scheduled for 1.24. Please consider upgrading priority.

[2017-05-19 12:01] peter-ahe-google opened #29660 "Missing const constructor for bool.fromEnvironment"
[code]

[2017-05-19 12:03] peter-ahe-google commented on #29660
I suggest this is resolved by making the factory constructor external so Fasta doesn't have to support special rules in dart2js.

[2017-05-19 12:04] peter-ahe-google opened #29661 "patched_dart2js_sdk has no _CompileTimeError class"
The class `_CompileTimeError` is missing from patched_dart2js_sdk and leads to a crash. See #29660.

[2017-05-19 16:39] alan-knight opened #29663 "Invalid sourcemaps for some files"
@leafpetersen reported, and I can repro, that

../pkg/dev_compiler/tool/ddw lib_strong/async/catch_errors22_test.dart

creates a sourcemap that Chrome is rejecting as either being not sorted or having duplicates. Unfortunately Chrome doesn't say where, and the error gets reported from C++ code.

[2017-05-19 16:40] alan-knight commented on #29663
Calling this high. It's not clear how often it occurs, but when it does it makes the entire sourcemap invalid.

[2017-05-19 16:49] rakudrama commented on #14523
We don't run swarm tests anymore.

[2017-05-19 16:49] #14523 closed

[2017-05-19 17:10] aam commented on #29645
Reassigning to @alan-knight to land prerequisite https://codereview.chromium.org/2888283003/. This cl rolls forward dependency on dartium.deps/DEPS  to include updated order file.

[2017-05-19 17:14] alan-knight commented on #29645
Yes, I wanted to wait on that until we'd pulled the dev version this morning, and then the bots seemed to be in a very unstable state at the moment, so I'm waiting a bit.

[2017-05-19 17:21] aam commented on #29645
Makes sense, Alan. No rush. Thanks for the update!

[2017-05-19 17:31] lukechurch opened #29664 "Analysis server crash: The getter 'beginToken' was called on null."
From DartPad, version 1.23.0

[code]

[2017-05-19 17:35] lukechurch opened #29665 "Analysis Server crash: UnimplementedError: GenericFunctionTypeImpl"
From DartPad v1.23.0

[code]

[2017-05-19 17:36] lukechurch opened #29666 "Analysis Server Crash: The getter 'uri' was called on null"
From DartPad v1.23.0
[code]

[2017-05-19 17:38] lukechurch opened #29667 "Analysis Server Crash, The getter 'type' was called on null."
Dartpad v1.23.0

[code]

[2017-05-19 17:42] bwilkerson commented on #29664
Do we have any way to reproduce this? Looking at the code I don't see how to produce a `SimpleFormalParameter` without an `identifier` (it should minimally be a synthetic identifier).

[2017-05-19 17:42] lukechurch opened #29668 "Analysis server crash: initializer= was called on null"
Dartpad v1.23.0

[code]

[2017-05-19 17:46] bwilkerson commented on #29665
The current location of the exception is (package:analyzer/src/generated/error_verifier.dart:5316), and I expect that it's being caused by code similar to
[code]

[2017-05-19 17:47] rakudrama opened #29669 "observatory: Profile list and string allocations by size"
The allocation profile tells me I have lots of Strings and lots of _Lists but I can't really tell much else.
I can calculate the average length but I expect that to be meaningless.
I can try and inspect instances, but I am unlikely to find the largest.

It would be great of the sizes were bucketed into pseudo-classes based on the most significant few bits (3-4) of the length.

This would also be h

[2017-05-19 17:59] bwilkerson commented on #29666
@scheglov The stack trace is out of date, but the bug might still be relevant.

[2017-05-19 18:02] sigmundch commented on #29660
It seems we have two issues here. I agree that anything that fasta assumes of the sdk is available in the unpatched sdk (in this case _CompileTimeError). I'll take a look at addressing this piece.

However, we shouldn't have any compile-time errors when building the sdk (and thus no need to generate code that mentions _CompileTimeError when building the patched sdk.) Is `const bool.fromEnvironment

[2017-05-19 18:09] scheglov commented on #29666
I have not seen this for a while, I think never since analysis driver.

[2017-05-19 18:10] sigmundch commented on #29660
Agr - sorry, ignore my last comment, I can see now that you filed 2 separate bugs for the two issues. Not sure why I only read the title of the other bug and the description of this one.

I agree with your two suggestions.

[2017-05-19 18:15] bwilkerson commented on #29666
Then we'll assume it's obsolete until we see it on a current build.

[2017-05-19 20:09] bwilkerson commented on #29667
I wasn't able to reproduce this issue, but did find another similar bug (fixed here https://codereview.chromium.org/2895743002/).

[2017-05-19 20:41] pq opened #29670 "Publish new `analyzer` package."
The currently published package constrains downstream deps to an old version of `cli_util`.  As of https://github.com/dart-lang/sdk/commit/ba1a6e39f3d0892052e0e8cb4cdcd364d683ed45 this got bumped to the latest (`^0.1.0`).  It would be awesome to push a new version so the linter can play with the new logging bits in 0.1.0. 👍

Thanks!

cc @bwilkerson

[2017-05-19 20:44] bwilkerson commented on #29670
Yep. I heard about this earlier today. We need to determine whether there have been any breaking changes since the last published version. If there are, I think we'll want to publish without publishing the breaking changes, given how recent the last set of breaking changes were.

[2017-05-19 22:07] alan-knight opened #29671 "Roll 50 - keyCode not working in DDC"
@terrylucas @vsmenon

The keyCode accessor is no longer working in DDC. It seems to work in Dart2js. The issue seems to be that keyCode (and charCode) were previously on UIEvent, and were removed in https://codereview.chromium.org/2888283003/

While dart2js doesn't seem to rely on this, DDC does. We get code like
[code]

I think the answer may be to just fix our templates to make these fields inst

[2017-05-19 22:10] pq commented on #29670
Fair enough.  It'd be awfully easy to push a version w/ just that change.  Maybe we should just go that route to be safe?

[2017-05-19 23:36] bwilkerson commented on #29670
That would be fine with me.

[2017-05-20 00:33] alan-knight commented on #29671
The fix to the template to make them be fields rather than getters seems to work. That template is actually only for dart2js, so the change doesn't affect Dartium.

https://codereview.chromium.org/2896653003

[2017-05-20 02:24] pq commented on #29670
My plan is to cherry-pick this change onto https://github.com/dart-lang/sdk/commit/ba1a6e39f3d0892052e0e8cb4cdcd364d683ed45.  I wasn't planning to create a branch (we haven't consistently), but could.  Either way, how does `0.30.1` sound for a version number?

@bwilkerson @devoncarew

[2017-05-20 03:10] mkhan-akhan opened #29672 "The compiler is broken"
Windows 10
dart sdk 1.23.0 revision f357c099d8d7287d8fb5d800645e995ccd79ee64

"C:\Program Files\Dart\dart-sdk\bin\pub.bat" build --mode=release --output=build
Loading source assets...
Loading angular2/transform/codegen and dart_to_js_script_rewriter transformers...
Loading angular2 transformers...
Building angular_components_example...
[Info from Dart2JS]:
Compiling angular_components_example|web/

[2017-05-20 03:50] zhongguo168a opened #29673 "Dart analysis error"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA WS-171.4424.63`
- `1.22.1`
- `WS-171.4424.63, JRE 1.8.0_121-b13x32 Oracle Corporation, OS Windows 10(x86) v10.0 , screens 1920x1080`

# Exception

Please append the contents of:
file://C:\Win10\User\Local\Temp\report1.txt

[code]

[2017-05-20 03:54] guogailee opened #29674 "DartPad did not work and the gitter is not active。"
![image](https://cloud.githubusercontent.com/assets/12292895/26272737/d9e4fece-3d52-11e7-9a2b-6bab8fde79b8.png)

[2017-05-20 15:06] bwilkerson commented on #29670
sgtm

[2017-05-20 16:29] Hixie commented on #28429
FWIW, this is a blocker for self-hosted development with Dart on a raspberry pi. Having to cross-compile a tool chain is a much higher barrier to entry than just downloading the code and running it. In every other respect, developing straight on a pi is fine.

[2017-05-20 18:24] Hixie opened #29675 "Instructions for cross-compiling to Pi are out of date"
The instructions on this page no longer work:
https://github.com/dart-lang/sdk/wiki/Building-Dart-SDK-for-Raspberry-Pi

It now says:
[code]

...but it doesn't say what that actually means so I'm not really sure where to go from here.

[2017-05-20 18:36] Hixie commented on #29675
In fact most of the wiki pages about how to build Dart are out of date.

[2017-05-20 21:04] Hixie opened #29676 "Enable GN ARMv6 Linux cross-build."
[code]
...
[code]

[2017-05-20 21:04] Hixie commented on #29676
This seems to be a fatal problem cross-compiling to the pi.

[2017-05-20 21:08] Hixie commented on #29675
The following steps seemed to work, after downloading the toolchain mentioned on the wiki page, except that I then ran into https://github.com/dart-lang/sdk/issues/29676:
[code]

[2017-05-20 21:20] natebosch opened #29677 "Missing api.html documentation for `edit.getStatementCompletion`"
Analysis Server API docs have a table of contents entry but the link doesn't go anywhere.

https://htmlpreview.github.io/?https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/doc/api.html

API was added here: https://github.com/dart-lang/sdk/commit/4a2cca3a52d03ddf10e0bc4651faba4b582738d8

Table of contents showed up with a broken link here: https://github.com/dart-lang/sdk/commit/eb18

[2017-05-21 03:05] pq commented on #29670
Published `0.30.0+1` based on ba1a6e3.

pubspec update to HEAD up for review: https://codereview.chromium.org/2895823002/

[2017-05-21 03:13] pq commented on #29670
Hmmmm.  Consuming this package from the linter is giving me fits now:

[code]

May push a quick +2 to get us back to sanity and try again on Monday...

[2017-05-21 03:34] pq commented on #29670
OK, so this'll learn me for doing things on a Saturday night.   I'm having a hard time figuring out what commit corresponds to 0.30.0...

I see https://github.com/dart-lang/sdk/issues/29516, but I'm not sure what the last commit was.

[2017-05-21 04:00] pq commented on #29670
Sorry for all the Saturday night noise.  FWIW I think things are properly sorted now.

For the curious, I resorted to downloading the archive for `0.30.0` from pub, modifying it publishing from there.  (I'm a little embarrassed about this so please, if there was a better way I'm all ears.)

I've got a new PR up to get the pubspec in HEAD up to date: https://codereview.chromium.org/2897783002/.

I

[2017-05-21 04:10] pq commented on #29670
Optimistically closing as `0.30.0+2` is up and I've confirmed the linter can consume it. 👍

[2017-05-21 04:10] #29670 closed

[2017-05-21 07:12] zanderso commented on #29558
After the above commit, when `DART_MAKE_PLATFORM_SDK` is in the environment on a `gclient sync`, or when `--platform-sdk` is passed to `tools/gn.py`, only the subset of the SDK described above will be built.

[2017-05-21 17:17] sigmundch commented on #29672
Unfortunately the stack trace above doesn't give us that many clues for where to look. Could you send us a simplified example for code that reproduces the problem?

If it's not a private project, the actual program that caused this failure would work too. From the messages above it appears it might be a standard angular example - do you have any modifications on it?

[2017-05-21 21:10] mraleph commented on #29620
Should be fixed now.

[2017-05-21 21:10] #29620 closed

[2017-05-22 03:26] zanderso commented on #29676
https://codereview.chromium.org/2892413002/ will enable this with the GN build. I'll update the instructions after it lands.

[2017-05-22 03:28] zanderso commented on #29675
I'll update the Raspberry Pi instructions after the fix for #29676 lands.

[2017-05-22 10:42] #29636 closed

[2017-05-22 10:43] whesse commented on #29536
Yes.

[2017-05-22 10:43] #29536 closed

[2017-05-22 10:45] whesse commented on #29646
Is this issue finished now?  Can it be closed?

[2017-05-22 10:54] anders-sandholm opened #29678 "Introduce warning when using MIPS build flag"
We are very likely to discontinue support for MIPS because it is not being used (at least to the best of our knowledge) and results in actual extra work for maintaining our VM implementation.

- [ ] We should display a warning when building with the flag for MIPS, e.g. "Warning: MIPS architecture is unlikely to be supported in upcoming releases. Please consider using another architecture and/or fi

[2017-05-22 11:01] eernstg commented on #29646
Yes, it landed in 9820535bc17ac92bbb80bdf98274efd1a38cdaf7 on 2017-05-18.

[2017-05-22 11:01] #29646 closed

[2017-05-22 11:57] zoechi commented on #29646
Does this mean that using `=>` is now fine for setters?

[2017-05-22 12:13] floitschG commented on #29646
Yes. It will be.
I believe we haven't yet changed the analyzer's check, though.

[2017-05-22 12:44] eernstg opened #29679 "`void` arrow setters should allow any rhs type"
As a followup to #28939, setters should be included: It is no longer a static type warning if an arrow setter (declared with `=>`) has a body which is an expression of a type that is not assignable to `void`.

- [x] dart2js #29680.
- [x] analyzer #29682.
- [x] changelog #29683.
- [x] spec #29681.

[2017-05-22 12:46] eernstg opened #29680 "dart2js: `void` arrow setters should allow any rhs type"
This is the dart2js specific issue for #29679. The feature is already supported, so this turned out to be an extension of the test suite only.

[2017-05-22 12:47] eernstg opened #29681 "Spec: `void` arrow setters should allow any rhs type"
This is the language specification specific issue for #29679.

[2017-05-22 12:47] eernstg opened #29682 "Analyzer: `void` arrow setters should allow any rhs type"
This is the analyzer specific issue for #29679. This appears to be a no-op because setters are already covered (based on looking at the implementation as well as running test cases).

[2017-05-22 12:48] eernstg opened #29683 "Changelog: `void` arrow setters should allow any rhs type"
This is the changelog specific issue for #29679. For 1.24 we just need to change 'functions' to 'functions and setters'.

[2017-05-22 13:10] #29682 closed

[2017-05-22 13:41] pq opened #57575 "Investigate opportunities to speed-up `invariant_booleans`."
Looking at the [benchmarking bot](https://travis-ci.org/dart-lang/linter/jobs/234457610), `invariant_booleans` is running considerably longer than other lints.

[code]

I wonder if there are any remaining opportunities for speed-up?

cc @alexeieleusis

FYI @bwilkerson

[2017-05-22 13:53] olostan commented on #22655
@jakobr-google please drop here a comment where you'll have anything to test

[2017-05-22 14:02] eernstg commented on #29683
Closed by ecd86d9bfcc0840e4a78831090c767cb75374890.

[2017-05-22 14:02] #29683 closed

[2017-05-22 14:09] eernstg commented on #29681
Being addressed by [this CL](https://codereview.chromium.org/2873313003/) (which also addresses #28942).

[2017-05-22 14:22] lrhn commented on #29681
Landed as 26d6e3596d034024605ecf9dcfa489b544fa6245.

[2017-05-22 14:22] #29681 closed

[2017-05-22 14:24] lrhn commented on #28942
Landed as 26d6e3596d034024605ecf9dcfa489b544fa6245.

[2017-05-22 14:24] #28942 closed

[2017-05-22 14:33] bwilkerson commented on #29677
That's a bug in the doc generator. That API is marked as experimental, and as such shouldn't show up in the table of contents.

[2017-05-22 14:40] eernstg commented on #29680
Given that this just adds some tests, we could live with a later milestone. But for now I'll try to get it into 1.24.

[2017-05-22 14:43] #28939 closed

[2017-05-22 14:44] pq opened #57576 "Add a big codebase to the benchmarks."
Follow-up from dart-lang/sdk#57574.

[2017-05-22 14:44] #57574 closed

[2017-05-22 16:46] eernstg commented on #29646
My conclusion was that the analyzer already covers setters with the same code that handles other functions. It's active from 6cb0966401f2a53196358945c0f78a32c575a8dc, 2017-05-11, and that seems to be included in 1.24.0-dev.5.0.

[2017-05-22 16:56] devoncarew opened #57577 "consider a lint to ensure that @required params are declared before non-required named params"
So

[code]

would be fine, but

[code]

would trigger.

[2017-05-22 17:33] alan-knight commented on #29671
https://codereview.chromium.org/2896653003

[2017-05-22 17:33] #29671 closed

[2017-05-22 18:06] sircco commented on #2643
+1 this would come handy for us too

[2017-05-22 19:12] rakudrama opened #29686 "dart2js: Deferred library loading improvements"
Observations on a timeline of an app.

The app loads ~50 parts that total 9.5MB to load a deferred library.
The timeline is 1370s from the `loadLibrary()` call to being able to execute code.
620ms is spend requesting the ~50 part.js files
Each part file puts a top-level JS anonymous function in a table (indexed by a hash to allow the table to be shared by many separately compiled applications.)
Th

[2017-05-22 19:37] jacob314 commented on #29558
Any objections to also setting
dart_platform_sdk=true for all arm and arm64 builds? I don't think we need to be building dart2js and web libraries arm and arm64?

[2017-05-22 20:12] jacob314 commented on #29558
https://codereview.chromium.org/2900833002

[2017-05-22 20:17] whesse commented on #29558
We release the arm and arm64 sdks on the Dartlang.org page.  I'm not sure
why people downloading the sdk wouldn't need dart2js.  I could be convinced
though.  So only VM and analyzer and formatter would be built and tested?

On May 22, 2017 21:37, "Jacob Richman" <notifications@github.com> wrote:

[2017-05-22 20:18] zanderso commented on #29558
I think that sounds reasonable. If we hear that someone wants to do self-hosted web development on a raspberry pi or similar, we can revisit.

[2017-05-22 20:20] BiffJutsu opened #29687 "Dart analysis server crashed when creating static const int as binary literals."
Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

Filling out const members of this class:
class TYPE {
  static const int ALTMETADATA = 0x88;
  static const int ALTROW = 0xD3;
  static const int COLMETADATA = 0x81;
  static const int COLINFO = 0xA5;
}
Happened right after typing 0x on each line.

### Versions

- Dart SDK 1.23.0
- Visual Studio Code 1.12.2
- D

[2017-05-22 20:35] #29678 closed

[2017-05-22 21:04] zanderso opened #29688 "Please merge revision 467dad857ea90183379b142803bb923c47d645a7 into dev channel"
@whesse @mit-mit @kasperl

Adds a deprecation warning when building for MIPS.

revision:
467dad857ea90183379b142803bb923c47d645a7

This merged cleanly

[2017-05-22 21:11] zanderso commented on #28429
@Hixie Yah, it's a blocker. I'm hoping that since we've switched to Fuchsia's buildtools, it'll be more likely that we'll eventually get good self-hosting support on ARM, though ARMv6 Raspberry Pi might still be difficult.

[2017-05-22 21:17] zanderso commented on #20470
Even very simple training runs manage to pick up a lot of start up code, which allows for fast startup when running from the app-jit snapshot.

When running from an app-jit snapshot, JIT compilation and optimization are still possible, which means we still get good peak performance.

[2017-05-22 21:19] mkhan-akhan commented on #29672
It is the angular components example master. Have not made any
modifications to it. pubspec.yaml contents below.

name: angular_components_example
description: An example app using the angular_components package.
environment:
  sdk: '>=1.23.0 <2.0.0'
dependencies:
  angular2: ^3.0.0
  angular_components: ^0.5.1
  browser: ^0.10.0
  dart_to_js_script_rewriter: ^1.0.1
dev_dependencies:
  webdriver:

[2017-05-22 21:20] nex3 commented on #20470
But what about situations (like `pub run`) where the executables are total black boxes, and we don't know *any* way to safely invoke them to do a training run?

[2017-05-22 21:26] stereotype441 opened #29689 "Returning a function expression from an async function causes type inference problems."
In the following code:

    typedef int IntToInt(int i);
    Future<IntToInt> b() async {
      return (x) => x;
    }

I would expect the type of `x` to be inferred as `int`.  However, it is not.  It is inferred as type `dynamic`.

Similar constructions using synchronous code or generators work fine, e.g.:

    IntToInt a() {
      return (x) => x; // x has type int
    }
    Iterable<IntToInt> c

[2017-05-22 21:44] zanderso commented on #20470
I think I might not be completely understanding your concern. However, you may be underestimating the amount of code that we have to compile and run just to get to `main()` and do e.g. command line argument parsing and printing some strings. Getting all of that code compiled in the app-jit snapshot has proved to be very beneficial.

Either way, it's certainly possible to come up with application-a

[2017-05-22 21:50] scheglov commented on #29648
Hm... I'm not sure whether to solve this or not.

Segmenting by first letters will work well only if there is uniform distribution of keys. It is now, because we use hashes, but this is contract above `ByteStore`. OTOH, even if this contract is ever violated, at worst we will have the same situation we are in now.

Segmenting will instead make a lot of smaller problems :-) . E.g. to delete the fol

[2017-05-22 23:02] munificent commented on #29643
I was thinking it would actually be private. That ensures you don't run into accidental name collisions when, say, inheriting from the class in a non-friend library. But, again, it's only a half-formed sketch. Making it more public-ish might be a better approach.

[2017-05-22 23:03] munificent commented on #28810
I agree with @lhrn, and for the stated reasons. That being said, I think we have clearly set a usability trap for our users since we see that they *do* seem to override fields with fields even though it virtually never does what they want.

I believe that's because the syntax for declaring an "abstract field" is painfully long and redundant. A better syntax for that, or properties in general, migh

[2017-05-22 23:04] matanlurey opened #29690 "🔥 Hot 🔁 "Refresh" Capability in DDC (DartDevCompiler)"
Tracking issue for what I'm now calling  _🔥 Hot 🔁  Refresh_ (not to confuse with _Hot Reload_).

One of the biggest requests from users is to have a faster edit-refresh cycle for Dart in a web (browser) environment. Until recently, this was almost impossible. With the `DartDevCompiler`, we incrementally compile `.dart` code to idiomatic ES6 `.js`. It should be _possible_ to reload modules that hav

[2017-05-22 23:06] alan-knight commented on #29650
This shows up in element_dimensions_test.dart, and I'm also seeing it cause issues in real user code.

[2017-05-22 23:55] tomaszkubacki commented on #29690
Ok as a total dreamer I would also love to see something similar to what I've seen on last Dart Dev conference for vm:  hot reloading where state was persistent between changes - I know it is not possible in ES world ...or is it?

[2017-05-22 23:58] skybrian commented on #29566
I'm seeing a future breakpoint listed, but not all breakpoints are listed.

For an example, see: https://github.com/flutter/flutter-intellij/issues/991#issuecomment-303207381

Looking at the VM code, breakpoint id's are numbered sequentially, so breakpoint #1 is being created and stored somewhere, but it doesn't show up until later.

I think I should have this patch? This is using:

$ ~/software/f

[2017-05-23 00:00] matanlurey commented on #29690
@tomaszkubacki:

Unfortunately we are limited to:

1. What is provided by the browser at the moment (no parity with the Dart VM).
2. How frameworks are implemented (i.e. how they store and manage state).

I think we can get _some_ of the same experience as [Flutter's hot reloading](https://flutter.io/getting-started/#quickly-viewing-source-code-changes-with-hot-reload) without waiting forever for

[2017-05-23 00:39] aam commented on #29566
I don't think dev.3.0 has this patch

===
$ git merge-base --is-ancestor 5f9ec0abe8e9d5d268d5a6710da00018e0ccb193 1.24.0-dev.3.0
$ echo $?
1
===

[2017-05-23 00:46] aam commented on #29566
It should be in dev.5.0:
[code]

[2017-05-23 00:48] skybrian commented on #29566
Okay, thanks!

[2017-05-23 01:57] tomaszkubacki commented on #29690
@matanlurey by "some" you mean something like redux single store with state saved in localstorage implemented as AngularDart mechanism ?

[2017-05-23 02:22] Hixie commented on #29676
https://codereview.chromium.org/2892413002/ did not seem to solve the actual problem listed above for me, unless the steps I followed above are wrong.

[2017-05-23 03:54] trinarytree commented on #10209
it's been 4 years.  any progress?  we've added expandoPutIfAbsent to some util library that benefits only us... and with the inconvenience of extra boilerplatey words and an extra import and build dependency.  it sure would make more sense for it to be part of Expando.

[2017-05-23 03:56] matanlurey commented on #29690
I don't know about that, this issue isn't about implementation details.

[2017-05-23 04:46] sgrekhov opened #29691 "Wrong value returned by Directory.isAbsolute on Windows"
Please see https://api.dartlang.org/stable/1.23.0/dart-io/FileSystemEntity/isAbsolute.html

If path starts with a drive letter on Windows this property returns `false `anyway

[code]
Tested on Dart VM version: 1.24.0-dev.5.0 (Fri May 19 01:47:01 2017) on "windows_x64"

[2017-05-23 05:02] sgrekhov commented on #29691
Sorry, path should end with :\ or :/, not just :. Closed

[2017-05-23 05:02] #29691 closed

[2017-05-23 05:31] sgrekhov opened #29692 "Directory.parent always returns "." for relative path"
[code]
Tested on Dart VM version: 1.24.0-dev.5.0 (Fri May 19 01:47:01 2017) on "windows_x64"

[2017-05-23 06:14] zanderso commented on #29676
I've updated the instructions on the wiki. This should work:

[code]

[2017-05-23 07:48] nex3 opened #29693 "dart2js produces unresolvable hints about as checks"
When compiling the following code, most of which is taken from the `collection` package:

[code]

dart2js 1.23.0 produces these hints:

[code]

However, if I remove the `as` checks, I get the following strong mode errors:

[code]

It seems to me that dart2js shouldn't complain about an issue if that issue can't be fixed. It also seems strange that dart2js is printing different hints than the analy

[2017-05-23 08:08] lrhn commented on #28810
Better syntax would be great.
If you could just write:
[code]
to extend your *abstract getter* `int get x;` with a same-typed abstract setter, then it would be almost as short as `int x;` and won't allocate storage.

Or we could move to a C#-like syntax like `int x { get; set; }`. That's longer, but you can write the non-abstract version with less repetition:
[code]

[2017-05-23 08:17] lrhn commented on #29693
Those messages are hints. Since dart2js isn't compiling in strong mode, it ignores method type parameters, so the `as K2` isn't actually doing anything (it's equivalent to `as dynamic`). It's emitting a hint about that because the user might not be aware that the cast does nothing. It's just a hint, not a warning or error, and you are free to ignore it. It's Dart 1, so it is *most likely* not a pr

[2017-05-23 08:25] lrhn commented on #29692
Can you tell us what you expected to happen? Should it resolve itself against the current working directory and traverse from there?
Or should it start adding `".."` prefixes instead, so you would print:
[code]
instead?

What it does is to treat the argument as a relative path, and not assume anything about what is above the beginning of that path.
As a *path*, there is no parent information in th

[2017-05-23 09:26] alsemenov opened #29694 "Please, describe method Stream.fold()"
The [description](https://api.dartlang.org/stable/1.23.0/dart-async/Stream/fold.html) of method dart:async:Stream.fold() reads:

Please, provide more information about the method.
Here are some helper questions:
1. When the returned future is completed?
2. `combine` returns `Future` instance. (Is it allowed?)
3. Is it like List.fold()?
4. Error handling
4.1 errors in original stream
4.2 `combine`

[2017-05-23 10:20] eernstg commented on #29693
I think it's worth adding one thing here: The main issue here is that you're performing static analysis according to one dynamic semantics (for strong mode) and then running the program with a different one (Dart 1.x).

This very nearly "just works", but you've encountered one case where the difference might introduce a bug, and hence you get a hint about it. Concretely, it might be a bug that `ma

[2017-05-23 11:53] DanTup commented on #29690
Have you though about shipping the Dart VM in the browser? :D

[2017-05-23 13:27] ErikCorryGoogle opened #29695 "VM miscompiles is-test with integers"
This is a bug with the way TestCidsInstr is codegenerated when it is in no-deopt mode.

Repro:

[code]

[2017-05-23 13:31] lrhn commented on #10209
I would recommend just considering `null` to mean absent, and then use:
[code]
instead of
[code]

An `Expando` is deliberately simple. It acts as a field that exists on all objects, and that field has a default value of `null`. Some implementations actually store the value on the object (e.g., in JavaScript).
If you look at the API, there is no way to *remove* an entry, all you can do is setting i

[2017-05-23 13:54] #57577 closed

[2017-05-23 14:41] devoncarew commented on #29598
Is #29592 really a requirement for 1.24? It seems like this could be moved to 1.25, given that we're late into the cherry-pick season for 1.24.

@bwilkerson, can you find an owner?

[2017-05-23 14:51] zanderso commented on #28954
This issue was fixed by various changes.

[2017-05-23 14:51] #28954 closed

[2017-05-23 16:05] JacobGood1 commented on #29690
Yes, I have been asking for such a feature as well.

[2017-05-23 18:22] rishirdua opened #29696 "Analyzer Feedback from IntelliJ"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-171.4073.35`
- `1.24.0-dev.3.0`
- `IU-171.4073.35, JRE 1.8.0_112-release-736-b16x64 JetBrains s.r.o, OS Linux(amd64) v4.4.0-75-generic unknown, screens 1920x1200, 1920x1200`

[2017-05-23 18:33] mit-mit commented on #29688
@whesse do we need this; I mean, we will still do another full push to dev, right?

[2017-05-23 19:08] franklinyu commented on #19926
Not familiar with Debian package system; does it allow packages to put things in `/etc/profile.d`?

[2017-05-23 19:10] devoncarew commented on #29696
@rishirdua, there should be a stack trace associated w/ this feedback report; can you append? Thanks for the report (and please re-open when you have the trace).

[2017-05-23 19:10] #29696 closed

[2017-05-23 19:42] sigmundch opened #29697 "improve error message on final-static"
Current error for:
[code]
says
[code]
Maybe the suggestion should be: try moving 'static' earlier?
Maybe we should recover from this and just provide a warning?

[2017-05-23 19:52] nex3 commented on #29693
Just because you're free to ignore it doesn't mean it doesn't cause problems. Unresolvable hints are at the very least useless noise after the first time the user sees them, and in dart2js that noise is even visible to downstream consumers of a package in the form of "X hints hidden in package:whatever" messages. In this case, that noise is concretely breaking tests that rely on parsing dart2js ou