[2018-04-16 02:54] jerrywell opened #32896 "Analyzer Exception - NoSuchMethodError: Class 'ParameterElementForLink_VariableSetter' has no instance getter 'isNotOptional'."
Hi, We are Quire. This exception shown after we upgraded to newest Flutter (master branch). All syntax highlights , warning/error tips and "jump to definition" are broken. Hope you can help us for this error, otherwise we can only stay on very old Flutter version (before beta 1) and the Dart version 2.0.0-dev-31.0 or earlier... Thank you very much.

Analyzer Feedback from IntelliJ.

# Version info

[2018-04-16 07:07] #32270 closed

[2018-04-16 07:47] lrhn commented on #3792
All non-empty set literals would be distinguishable from map literals, as would any set literal with a type argument. The only tricky case is the `{}` literal which has no elements/entries and no type argument.
It's probably possible to infer that it's an empty `Set` if the surrounding context wants it to be a `Set`, and default to `Map` otherwise.
We already plan to infer the type of integer lite

[2018-04-16 09:02] eernstg commented on #32878
Even if we introduce renaming it sounds like it would make sense to say "two `show` clauses is a compile-time error" rather than a construct that (surprisingly, I think) takes the intersection of the names which are shown.

[2018-04-16 12:19] ohir opened #32897 "`catch` does not catch in unchecked mode"
`Dart VM version: 2.0.0-dev.43.0.flutter-52afcba357 (Fri Mar 30 20:33:12 2018 +0000) on "linux_x64"`

Simple try-catch block does not work due to engine spawning closure in an Isolate.
Given `repro.dart` of
[code]

**catch** catches in dart1 (checked) mode:
[code]

But it fails to catch in unchecked mode:
[code]
I use (as seen at opening) flutter version of Dart engine. The official flutter wiki a

[2018-04-16 12:34] mraleph commented on #32897
`map` returns a lazy `Iterable` rather than a `List`, quoting [the documentation](https://api.dartlang.org/dev/2.0.0-dev.48.0/dart-core/Iterable/map.html):

So `catch` does not catch anything because nothing is thrown.

In Dart 2 or checked mode you instead get a type cast error - because you are assigning value of type `Iterable` to a variable of type `List`.

[2018-04-16 12:34] #32897 closed

[2018-04-16 13:18] dgrove commented on #32684
@vsmenon this is close - can you drive from here?

[2018-04-16 14:15] zoechi commented on #32604
This error is now gone with
[code]
Thanks!

[2018-04-16 14:24] fmatosqg commented on #32897
On my OS X I get a slightly different behavior

[✓] Flutter (Channel dev, v0.2.6, on Mac OS X 10.11.6 15G1510, locale en)
Dart VM version: 2.0.0-dev.43.0.flutter-e305117519 (Tue Mar 27 19:15:22 2018 +0000) on "macos_x64"

[code]

[2018-04-16 15:27] dgrove commented on #32882
After https://github.com/flutter/engine/commit/76cb311d9c33720dcd19274228b39ecdbad8d9af , this looks much closer. Is there more work that will happen for Beta 4?

[2018-04-16 16:07] scheglov commented on #32882
There are two more optimizations which are not part of this roll, which make Flutter analysis in watch mode 12% and 10% respectively.
https://dart-review.googlesource.com/c/sdk/+/51061
https://dart-review.googlesource.com/c/sdk/+/51160

[2018-04-16 16:17] dgrove commented on #32882
Very cool. It sounds like we'll be able to close this quite soon.

[2018-04-16 16:48] rakudrama commented on #32872
Fixed via https://github.com/dart-lang/sdk/commit/7383cd46e0f951bded3ccc721c54be2d9cdce25b

[2018-04-16 16:48] #32872 closed

[2018-04-16 16:57] kibantony opened #32898 "BigInt: RangeError thrown from % operator"
Dart VM version: 2.0.0-dev.43.0.flutter-52afcba357 (Fri Mar 30 20:33:12 2018 +0000) on "macos_x64"
(Running in a Flutter app on iOS)

The following code:
[code]
Generates the following exception:
[code]

[2018-04-16 17:03] nirav4273 opened #32899 "Syntax error showing & not suggest methods"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IC-181.4445.78`
- `2.0.0-edge.3c4dccbd46f152be9e1b6ca95c57357e8e48057c`
- `IC-181.4445.78, JRE 1.8.0_152-release-1136-b27x64 JetBrains s.r.o, OS Windows 8.1(amd64) v6.3 , screens 1366x768`

# Exception

Please append the contents of:
file://C:\Users\NIRAVP~1\AppData\Local\Temp\report.txt

[code]

[2018-04-16 17:39] natebosch opened #32900 "Move from `pub build` to `dart2js` for Observatory"
~~If there are any Transformers they will need to be rewritten as Builders, then build_runner and related packages will need to be pulled in to the SDK.~~

There are no Transformers so we should be able to call Dart2Js directly.

[2018-04-16 17:39] natebosch commented on #32593
Blocked by https://github.com/dart-lang/sdk/issues/32900

[2018-04-16 17:41] dgrove commented on #32900
@devoncarew @a-siva can you assign someone?

[2018-04-16 17:43] jcollins-g opened #32901 "Isolate.resolvePackageUri has inconsistent behavior when called from a script launched via relative path"
When running in the VM with preview-dart-2, resolvePackageUri sometimes doesn't resolve to a file URI correctly unless the script was launched with an absolute path.

demo:

[code]

I believe all four runs of the program should have the same output.
(edit: refined example for clarity)

[2018-04-16 17:47] scheglov commented on #32896
https://dart-review.googlesource.com/c/sdk/+/51243

[2018-04-16 17:48] kibantony commented on #32898
Possible duplicate of issue #32739

[2018-04-16 18:18] jmesserly commented on #32649
bumping priority (customer request)

[2018-04-16 18:26] rajeshzmoke commented on #32737
@timsneath but i could have widgets without 'new' in beta 1 with dart 2 enabled.. but i cant do the same in beta 2 with dart 2 enabled...why?

[2018-04-16 18:28] #32896 closed

[2018-04-16 18:56] kmillikin commented on #32737
Hi @rajeshzmoke.  That's due to churn as we (the Dart team) sorted out how this feature should work.

In beta 1, we would infer `new` almost everywhere, unless you were already inside an outer `const`.

We wanted to try to see if we could come up with a simple way to infer `const` in more places when there was a `const` constructor available.  While we worked on that, we made it an error to have c

[2018-04-16 19:06] jmesserly commented on #32649
https://dart-review.googlesource.com/c/sdk/+/51360

[2018-04-16 19:29] athomas commented on #32656
Breakdown after brief chat with @kevmoo:
- [ ] Migrate pkg builders to the test matrix
- [ ] Add step(s) to pub get/pub upgrade package:shelf or test

[2018-04-16 19:40] jodinathan commented on #31255
this would help me so much.

All my models are like:

[code]
would be amazing to do something like:

[code]

[2018-04-16 20:21] pq opened #57698 "Add @camsteffen to AUTHORS"
@camsteffen: what's a good email for attribution?  I'd like to update https://github.com/dart-lang/linter/blob/master/AUTHORS.

[2018-04-16 20:26] devoncarew commented on #31623
I just see two issues now:

[code]

I think we need to bump the priority of this, given that it's a blocker for users running their tests in --preview-dart-2, which is an important aspect of them upgrading their packages to work under Dart 2.

[2018-04-16 20:56] jcollins-g commented on #32901
This seems to be substantially worse on windows, with the resolution failing completely in all cases:

![screenshot from 2018-04-16 13-55-01](https://user-images.githubusercontent.com/14116827/38834626-db519864-417d-11e8-9a6e-c8c39044e839.png)

[2018-04-16 21:29] jcollins-g commented on #32901
This blocks dart-lang/dartdoc#1668.

[2018-04-16 22:10] devoncarew commented on #31623
Which, re-reading the error messages, those are now in dart2js, and not the front-end. I don't have enough familiarity with dart2js to risk a CL, but this patch does let `pkg/front_end/tool/fasta compile --strong-mode pkg/front_end/tool/_fasta/compile.dart` complete w/o errors:

[code]

@sigmundch @efortuna

[2018-04-17 00:59] ezrasandzerbell commented on #32640
Got this same error for an unrelated use case. I am trying to use methods from the camera.dart library that were previously working. I ran flutter update yesterday and the camera methods are no longer running.

**Relevant code:**

`import 'package:camera/camera.dart';

Future main() async{
  cameras = await availableCameras();
  runApp(new MyApp());
}

//camera code starts here

List<CameraDescrip

[2018-04-17 02:52] dgrove commented on #32188
@nex3 @grouma @natebosch Can you all figure out what's needed here?

[2018-04-17 04:26] iarkh opened #32903 "Dartanalyzer 2.0 incorrectly throws type_argument_not_matching_bounds error for super-bounded types in preview-dart-2 mode"
Dart SDK Version: `2.0.0-dev.48.0 `
OS: `Windows 10`

Dart 2.0 Super Bounded Types Spec  reads:

This means that constructions like `C<dynamic> c0 = ...` now should be allowed in strong mode for bounded types like `class C<X extends C<X>>`.

However, this is not so. For example, the following code sample:
[code]
produces `type_argument_not_matching_bounds` error:
[code]

[2018-04-17 04:42] dgrove commented on #32188
/cc @kmillikin - there are likely changes need to CFE to make it run on Dart 2.

[2018-04-17 07:28] lrhn commented on #32901
The behavior is correct, but it might not be useful.

The location of the `.packages` file is found relative to the entry point. There is no specification of what the result of that is, just that it finds the file, so choosing a relative path for the location of the `.packages` file is not wrong.
The `.packages` file contains a relative location that is interpreted as relative to the `.packages` f

[2018-04-17 08:53] #32776 closed

[2018-04-17 09:24] mraleph opened #32904 "on heap allocations done by the background compiler incur unpredictable pauses"
In https://github.com/dart-lang/sdk/commit/5909932d38e12c461f4e15cad0e6ea21031a0fc8 I have replaced on `Double::NewCanonical` with `Double::New(..., Heap::kOld)` in the compiler.

This caused completely unexpected timeouts on Flutter tests internally. I added some time measurement around `Double::New(..., Heap::kOld)` that I added and printed verbose timings for GC.

Here is what I got:

[code]

T

[2018-04-17 09:43] itsJoKr commented on #16768
Same thing as @gusterwoei-veltra. Flutter app, using IOClient, and sometimes (randomly) I would get handshake exception. With Postman everything works fine.

[2018-04-17 09:48] mraleph opened #32905 "stop representing intermediate results as heap objects in constant propagator"
We immediately materialize (and sometimes even canonicalize) objects produced by constant propagation. This is rather expensive, also due to limitations of our GC we are forced to allocate these results in the old space which is expensive and causes all kinds of pathological behavior (see #32904).

We should move away from immediately materializing constants in the heap to a model where we only ma

[2018-04-17 10:40] iarkh opened #32906 "Dart 2.0 throws unhandled exception when trying make super-bounded type assigning"
Dart SDK Version: `2.0.0-dev.48.0 `
OS: `Windows 10`

This bug is similar with #32903, but it's regarding dart (not dartanalyzer) incorrect behavior in preview-dart-2 mode.

Dart 2.0 Super Bounded Types Spec  reads:

This means that constructions like `C<dynamic> c0 = ...` now should be allowed in strong mode for bounded types like `class C<X extends C<X>>`.

If I run `dart -c` with the example fr

[2018-04-17 10:43] eernstg commented on #32864
There is no specification of the treatment of casts in dartLangSpec.tex (the "callable object" update only covered static and dynamic invocations), but I think we have had the following general approach on the table during discussions:

If an expression `e` of a type _T_ which has a method named `call` is used in a context where a function type _F_ is expected (and by 'function type' I mean a prop

[2018-04-17 11:10] kmillikin commented on #32906
This needs triage.  Is it a bug in Fasta or the VM?

[2018-04-17 12:02] afidosstar opened #32907 "Don't link correctly path when the path contain space in testing"
* Dart SDK Version 1.24.3
* MacOSX X64
 When i lunch  the test, it see this error.

Testing started at 12:52 ...
/usr/local/opt/dart/libexec/bin/dart --enable-vm-service:51882 /usr/local/opt/dart/libexec/bin/snapshots/pub.dart.snapshot run test -r json /Users/xxxx/Dev/Dete en entreprise/backend/test/question_controller_test.dart
Observatory listening on http://127.0.0.1:51882/

Failed to load "/Us

[2018-04-17 12:18] stefantsov commented on #32906
I can't reproduce the error.  Here's what I do:

[code]

I also tried to print some types out of the program and have rewritten it to the following:

[code]

Here's the output:

[code]

And the compile-time error is produced when the commented line is uncommented.

Maybe, the issue is that the program in the message above is run with `dart -c`, not with `dart2`?

[2018-04-17 13:09] lexaknyazev commented on #32679
Fixed in 3a5fcf5a87b11708d61366657c965f38a1470620.

[2018-04-17 13:09] #32679 closed

[2018-04-17 13:29] peter-ahe-google commented on #28434
Let me check.

[2018-04-17 13:38] DanTup commented on #32734
@kevmoo This is the debugger/VM/observatory, not analyzer. This is when I'm adding breakpoints and stepping through code, the debugger seems to return bogus info for the positions in the source code.

[2018-04-17 13:39] eernstg commented on #32864
Here's a fun one, too:

[code]

This works fine in Dart 1, of course, because the `A` is actually a working function object. But for Dart 2 we do not have a convenient placement of the `call` tear-off operation, because the data is passed around via a future. You could say that the data transfer has been "lifted".

In the update to dartLangSpec.tex that I'm currently working on it is _not_ support

[2018-04-17 14:00] stefantsov commented on #31581
[CL 51128](https://dart-review.googlesource.com/c/sdk/+/51128) is out for review.  Basically, without changes from this CL we can't tell if the number of supplied type arguments in the supertypes, the mixins, and the bounds is correct or not (yes, until the CL is landed, you may try and use `List<int, String>` as a supertype and observe very Dart 1-ish behavior of getting `List<dynamic>` for that)

[2018-04-17 14:29] peter-ahe-google commented on #28434
@danrubel @bwilkerson

[2018-04-17 14:30] peter-ahe-google commented on #28434
@vsmenon is it only annotations on parameters you're missing?

[2018-04-17 14:31] vsmenon commented on #28434
That's the only thing we're aware of at the moment.

@jmesserly - do you see anything else missing?

[2018-04-17 15:36] vsmenon commented on #32684
@sigmundch @kevmoo does matan's package (https://github.com/matanlurey/web_worker_channel) suffice for item 1 in the original comment?

[2018-04-17 15:55] kmillikin commented on #32847
Yes, I'll take a look.  `UnknownType` should not survive type inference.

[2018-04-17 16:05] jakemac53 commented on #32868
Is there a flag already in `dartdevc`? If so we could add the option ahead of time and release the default flip  as a breaking change in build_web_compilers which would be preferable.

[2018-04-17 16:05] jakemac53 commented on #32868
@vsmenon

[2018-04-17 16:08] DanTup commented on #32702
I edited the python script to output what it was trying to run and seems that it's dying on this:

[code]

Running that manually gives this:

[code]

So I got that to print what it's trying to run and I get:

[code]

Running that manually results in:

[code]

Make that print results in this:

[code]

Running that manually seems to run with no errors:

[code]

I'm not sure why that command seems to

[2018-04-17 16:15] vsmenon commented on #32415
@leafpetersen - have you had a chance to look at this?  Do we need for Beta4?

[2018-04-17 16:20] scheglov opened #32908 "Exception with bleeding edge SDK"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IC-173.4674.33`
- `<NO SDK>`
- `IC-173.4674.33, JRE 1.8.0_151-b12x64 Oracle Corporation, OS Mac OS X(x86_64) v10.13.3 unknown, screens 1680x1050  Retina`

# Exception

Please append the contents of:
file:///private/var/folders/cp/_32g44l548q8d0bfj4_l9s3m003ky_/T/report.txt

[code]

[2018-04-17 16:37] eernstg commented on #32864
Wrote [this CL](https://dart-review.googlesource.com/c/sdk/+/51323) which contains a proposal for specifying call method extraction (some kinds of actual arguments are not yet covered, but that will be fixed soon).

[2018-04-17 16:48] ezrasandzerbell commented on #32609
@athomas Several flutter devs I've spoken to are encountering an error where Flutter Update installs Dart 2 and their existing code breaks. We've solved this by adding --no-preview-dart-2 to flutter run. Is this is a sustainable solution? Can you forward any existing conversation / documentation about what to expect in the coming months? Do we need to re-write our code or is this a bug in the new

[2018-04-17 16:49] kevmoo commented on #32734
@DanTup – ack

[2018-04-17 16:50] kevmoo commented on #16768
Any hints on how to reproduce? Are you hitting an public API we could do a stress test against?

[2018-04-17 16:51] rmacnak-google commented on #32904
What command are you running?

[2018-04-17 17:08] bwilkerson commented on #32908
We can test for `null`, but that would only move the failure to somewhere else. I'd like to understand when we are unable to find the path to the script being run and how to reliably find the location of the SDK.

[2018-04-17 17:09] MichaelRFairhurst commented on #32826
We've settled on, and published the latest plugin to use

[code]

@bwilkerson so the documentation could say something like, "Add plugins to the analyzer: plugins section in yaml list format. If the plugin has additional configuration options available, they'll be documented for that plugin specifically, and usually be configured outside of the "analyzer" namespace. If you are interested in creati

[2018-04-17 17:13] bwilkerson commented on #32826
Yeah, that sounds good to me.

[2018-04-17 17:35] athomas commented on #32609
@ezrasandzerbell This change is unrelated to Flutter even if the flags have the same name. Please file an issue in the flutter repo instead. I'm not actually on the Flutter team, but I found this on the Flutter wiki: https://github.com/flutter/flutter/wiki/Dart-2-Migration

[2018-04-17 17:35] jcollins-g commented on #32901
@lrhn  Resolving to an absolute file URI would work for me.   Also I'll mention that I don't think returning null here is correct on Windows -- no matter what we decide, that should be fixed.

[2018-04-17 18:46] kevmoo commented on #32684
@matanlurey should update to the latest Dart SDK. @terrylucas has fixed a number of these...

[2018-04-17 19:07] jmesserly commented on #28434
Yeah, parameters are the only blocking thing that I'm aware of.

Local variable annotations would be nice to have, but they aren't required/urgent. (DDC uses some local variable annotations in its private SDK impl code, to indicate non-null locals. But that can be refactored to use something else.)

[2018-04-17 19:17] jmesserly commented on #32188
FYI, I was able to locally run DDC and DDK with `--preview-dart-2`. All tests were passing. Also DDC/DDK are now building themselves as part of their snapshot process (selfhost for training data), and that compile succeeds with no errors. Based on that I believe Analyzer/CFE are pretty Dart 2 clean at this point. (There might be some runtime cast failures on code paths that DDC/DDK does not exerci

[2018-04-17 20:30] bkonyi commented on #29451
Initial work for synchronous FileSystemEntity methods is [done](https://dart-review.googlesource.com/c/sdk/+/51580/1). Will hopefully get the async methods updated soon.

[2018-04-17 20:36] nex3 commented on #32188
Once https://github.com/dart-lang/pub/pull/1871 lands, we won't need dart2js or DDC to be Dart 2-compatible anymore. We do still use the analyzer, though—is that Dart 2-clean?

[2018-04-17 20:45] natebosch commented on #32188
I'll work on checking that `pub run` code paths work in Dart 2 runtime.

I'll likely need some help getting it set up in the `pub` wrapping script in the SDK.

[2018-04-17 20:49] nex3 commented on #32188
Is `test` Dart 2 clean? If so, we should be able to verify pub's cleanliness by running its tests.

If not, we can get part of the way by spawning the `pub` subprocesses the tests run with `--preview-dart-2`.

[2018-04-17 21:28] danrubel commented on #28434
The fasta parser has supported metadata on formal method parameters for a while and it is plumbed through the AstBuilder to Analyzer. The BodyBuilder appears to ignore metadata on formal parameters.

@jmesserly I'm not familiar with how DDC hooks into fasta. Is this what you need?

[2018-04-17 21:44] a-siva commented on #32900
/cc @rmacnak-google

[2018-04-17 21:51] a-siva commented on #32891
Can you post reproduction instructions, what app was being built etc.

[2018-04-17 21:51] natebosch commented on #32900
I've made some progress on this but I'm getting stuck.

I have been making changes to [observatory_tool.py](https://github.com/dart-lang/sdk/blob/8e812ddaa52110e919bea938735caaff9eb3e33e/tools/observatory_tool.py) to find the dart2js snapshot in the same way as it does for pub and then invoke that for the "build" action.

I'm able to get to the point where I run dart2js but I'm hitting an error th

[2018-04-17 21:53] crelier commented on #32898
Yes, this is indeed a duplicate. I verified that this does not fail with the current build.
Closing issue.

[2018-04-17 21:53] #32898 closed

[2018-04-17 22:24] natebosch opened #32910 "Analyzer - missing static error for assigning the stack trace argument within a catch clause"
According to the spec this variable should be final. When running with the dart vm `--preview-dart-2` it is caught at parse time, however the analyzer does not report it.

[code]

No warning with `dartanalyzer --strong` or `dartanalyzer --preview-dart-2`. Running with `dart --preview-dart-2` gives:

[code]

[2018-04-17 22:28] natebosch commented on #32910
Same thing happens for the error argument as well

[2018-04-17 22:31] rmacnak-google commented on #32900
Don't invoke dart2js' snapshot directly. Use the wrapper script at tools/sdks/<os>/dart-sdk/bin/dart2js, which sets extra arguments to tell dart2js where to find the core libraries etc.

[2018-04-17 22:43] natebosch commented on #32188
`pub run` seems to work when I fix the static errors.
https://github.com/dart-lang/pub/pull/1874

However it's _drastically_ slower.

Set up a package which has a single dependency:

[code]

Invoke pub with no arguments - just prints usage and exits.

- `pub run pub` - 1.36 s
- `dart ../pub/bin/pub.dart` - 0.87s
- `dart --preview-dart-2 ../pub/bin/pub.dart` - 11.46s
- `dart --preview-dart-2 ../pub

[2018-04-17 23:03] natebosch opened #32911 "Cannot run a snapshot with `--preview-dart-2`"
If I create a snapshot _without_ `--preview-dart-2` and try to run it with `--preview-dart-2` I get some long stack traces starting with:

[code]

If I create a snapshot _with_ `--preview-dart-2` and try to run it with `--preview-dart-2` I get a bunch of garbage output that make it look like it's trying to parser the binary file as dart text source then a stack trace.

If I create a snapshot with

[2018-04-17 23:03] natebosch commented on #32188
I can't get timing data with snapshots - https://github.com/dart-lang/sdk/issues/32911

[2018-04-17 23:36] leafpetersen opened #32912 "CFE does not reject non-const partial instantiations for default parameter values"
This is the CFE specific issue for the default parameter issue from https://github.com/dart-lang/sdk/issues/32415 .

Partial instantiations of generic methods are only `const` objects if their type arguments are `const` types.  The CFE should statically reject the following program, but currently doesn't.

[code]

[2018-04-17 23:44] leafpetersen opened #32913 "Analyzer does not reject non-const partial instantiations for default parameter values"
This is the analyzer specific issue for the default parameter issue from https://github.com/dart-lang/sdk/issues/32415 .

Partial instantiations of generic methods are only `const` objects if their type arguments are `const` types.  The analyzer should statically reject the following program, but currently doesn't.

[code]

-----

[2018-04-17 23:44] jmesserly commented on #28434
DDC consumes the Kernel API. I'm not seeing parameter annotations filled in for the Kernel tree. Maybe it's BodyBuilder that hasn't implemented them yet?

[2018-04-17 23:51] jmesserly commented on #28434
This patch appears to fix it, and the metadata shows up in the Kernel AST for DDC to use. But it may be incorrect because I haven't looked at this code before.

[code]

[2018-04-18 07:08] eernstg commented on #32913
The example program could be deemed erroneous because those generic function instantiations use `T` and are then not constant, but it also seems possible to allow for a certain kind of inference "slack" that we have discussed a few times: We could instantiate as `_defaultCallback<Object>`.

This differs from the canonical example of inferring `const <Null>[]` from `const []` where a `List<T>` is e

[2018-04-18 07:36] DanTup opened #32914 "REFACTORING_REQUEST_CANCELLED from EXTRACT_WIDGET"
When testing my code for `EXTRACT_WIDGET` I'm hitting an unexpected `REFACTORING_REQUEST_CANCELLED` response. The docs suggest this happens if I send two refactor requests, but I'm sending only one.

[analyzer.txt](https://github.com/dart-lang/sdk/files/1922857/analyzer.txt)

I think the interesting bits are here:

[code]

The first time I saw this, I'd sent the `getRefactoring` request before the

[2018-04-18 07:40] DanTup commented on #32914
Adding a much longer delay (500ms) seemed to stop this. So I think it is timing related. Maybe the `getRefactoring` should be waiting until the edits (that were sent before it) are complete before processing, rather than rejecting?

[2018-04-18 07:42] DanTup commented on #32914
FWIW, if I send the edit after the refactor, I get this:

This one seems logical, making the above seem more like a bug.

[2018-04-18 08:34] lrhn commented on #32866
I'll read it more closely, but I have an immediate concern with the specified algorithm:

I'm not sure it gives a satisfactory result to do override based "inference" first because it means you can't inherit an inferred field type. Example:
[code]
Here I would very much like the setter and getter to inherit the type `B`.

Would it be possible to include override "inference" in the inference loop,

[2018-04-18 09:10] DanTup opened #32915 "error from prefer_const_declarations in analysis server"
(not sure if this should go here or a repo for the linter? This is using v2 dev.43 SDK, not sure if it may already be fixed)

### What I was doing

Editing code in `flutter_tools` (specifically, editing a copy of the device listing code which currently has about 45 compile errors since I'm changing it to work for emulators images).

### Versions

- Dart SDK 2.0.0-dev.43.0
- Flutter SDK 0.3.1-pre.1

[2018-04-18 09:27] DanTup opened #32916 "Support relative imports in quick-fixes + auto-imports"
I'm working in `flutter_tools` and the imports inside `lib/src` are all relative paths. However, the quick-fixes keep wanting to add imports as `package:` (I believe this is unwanted, and `package:` imports are recommended only from outside the package).

<img width="801" alt="screen shot 2018-04-18 at 10 25 51" src="https://user-images.githubusercontent.com/1078012/38923622-f4a5e9ca-42f2-11e8-885

[2018-04-18 10:12] jakobr-google commented on #32227
Still an issue with dartanalyzer v 2.0.0-dev.48.0. When can we expect this to be fixed?

[2018-04-18 10:26] peter-ahe-google opened #32917 "Something is off with override checks in Kernel type checker"
Consider this program:

[code]

If I create this as a test case in pkg/front_end/testcases/issue.dart and run:

[code]

The program type checks. If I then add a bad mixin application:

[code]

I get this error:

[code]

Two problems with this error:

1. There's nothing wrong with the declaration of `M.f`. The error is actually on the mixin appliction.

2. The super method doesn't declare `v` to ha

[2018-04-18 10:39] xinoxapps commented on #32891
[✓] Flutter (Channel beta, v0.2.8, on Mac OS X 10.13.4 17E199, locale nl-NL)
    • Flutter version 0.2.8 at /Users/wendel/flutter
    • Framework revision b397406561 (2 weeks ago), 2018-04-02 13:53:20 -0700
    • Engine revision c903c217a1
    • Dart version 2.0.0-dev.43.0.flutter-52afcba357

[✓] Android toolchain - develop for Android devices (Android SDK 27.0.2)
    • Android SDK at /Users/wende

[2018-04-18 13:14] DanTup commented on #28895
@devoncarew @bwilkerson This seems to be cropping up much more recently. I'm happy to help out if I can - previously I tried to create some Windows tests that failed for the same reasons, but got stuck because the memory file system used in tests is effectively case-sensitive. If anyone has ideas about the best way to fix that, I don't mind having a go.

(though I'm still slightly blocked by https

[2018-04-18 13:35] bwilkerson commented on #32227
What is the impact of this bug on users and/or clients?

[2018-04-18 13:54] escamoteur commented on #28895
I'm too are now affected. You can try it with https://github.com/escamoteur/making_flutter_reactive-/tree/problem_with_analyzer

when running the App or running flutter analyze everything is ok but in VS code I shows two errors

In homepage.dart
![image](https://user-images.githubusercontent.com/16635729/38936241-a7bfd8e0-4320-11e8-85e0-4fb714be2d08.png)

![image](https://user-images.githubusercon

[2018-04-18 14:06] leafpetersen opened #32918 "Analyzer does not eliminate type variables from `const` values"
This is the analyzer specific issue for the least closure part of https://github.com/dart-lang/sdk/issues/32415 .

The following program prints `B<Null>` and passes the assertion when run with DDC + kernel, but prints `B<String>` and fails the assertion under DDC + analyzer.  The analyzer should be taking the least closure of the inferred type argument to `B` to eliminate the type variable (which

[2018-04-18 14:06] leafpetersen commented on #32415
Filed separate issues as below.

CFE specific issues:
  - default parameter:  https://github.com/dart-lang/sdk/issues/32912

Analyzer specific issues:
  - default parameter: https://github.com/dart-lang/sdk/issues/32913
  - least closure: https://github.com/dart-lang/sdk/issues/32918

[2018-04-18 14:11] devoncarew commented on #28895
@DanTup, it sounds like the fix was correct was correct, but we saw some test failures associated with it. Can you in-line the test failures, or reference them here? I think we should look at addressing them and re-applying the fix.

[2018-04-18 14:12] peter-ahe-google commented on #28434
Thank you, @jmesserly. @stefantsov will take this suggestion and add test cases.

[2018-04-18 14:36] bwilkerson commented on #32916
Using both relative and `package:` URIs to reference libraries in the defining package can lead to problems.

There are two valid approaches to prevent those problems, and analyzer has always taken the approach of always using `package:` URIs everywhere. So, in that sense at least, it's working as intended. I realize that some people prefer relative paths because they are often (though not always)

[2018-04-18 14:41] #32013 closed

[2018-04-18 14:48] leafpetersen commented on #32866
Yes, @lrhn is correct, you can't separate override out entirely.  Let's try that again, maybe something like this? @stereotype441 does this look reasonably close to what you implemented (semantically - I'm sure the actual algorithm is different)?

- Mark every top level, static or instance declaration(fields, setters, getters, constructors, methods) with an explicit type as *available*.
- For each

[2018-04-18 14:54] jakobr-google commented on #32227
That's more or less it, yeah. In this case, it was prompted by package:googleapis (and anything else generated by package:discoveryapis_generator). I seem to attract code generation...

When we generate code (for either protobuf or discovery APIs), the problem is that the source schema may have definitions that end up shadowing things in dart:core, which leads to analysis warnings. A good example

[2018-04-18 15:27] leafpetersen commented on #32866
cc @eernstg

[2018-04-18 15:30] DanTup commented on #32916
The weird thing is, sometimes the analyzer does suggest relative paths and sometimes it doesn't (I haven't paid enough attention to know if there's a pattern).

This isn't my codebase so I don't know why it's this way here (`flutter_tools`) but I do kinda dislike `package:` imports (not only because they're usually longer - seems you're more likely to import things that are "close" to you, but the

[2018-04-18 15:42] #57698 closed

[2018-04-18 15:51] bwilkerson commented on #32916
On the other hand, if you move individual files, then the `package:` imports in the file being moved don't break (the imports of the file being moved will break either way). I suppose it depends on the style of refactoring you're more likely to use.

[2018-04-18 16:16] sjindel-google commented on #32534
https://dart-review.googlesource.com/c/sdk/+/50980

[2018-04-18 16:16] #32534 closed

[2018-04-18 16:28] escamoteur commented on #32916
now having the problem again. it only offers me relative path and no package import

[2018-04-18 16:30] dgrove commented on #32882
We're all green https://flutter-dashboard.appspot.com/benchmarks.html with https://github.com/flutter/flutter/pull/16707 .

[2018-04-18 16:30] #32882 closed

[2018-04-18 16:32] escamoteur commented on #32916
it seems to be problem if the two dependent files are in parallel folders

like

/lib/service/service.dart
/lib/hompage/homepage.dart

in homepage.dart it only offers me the relative path to service.dart

[2018-04-18 16:39] DanTup commented on #28895
@devoncarew We don't have tests to cover this; when we made the original fix we shipped it because everything passed (we subsequently discovered that some Windows tests were being skipped, but even when running them, none of the failures relate to this).

I'd like to make some failing tests for this (and for the issues introduced by the "fix" we rolled back), but both of them rely on being able to

[2018-04-18 16:44] bwilkerson commented on #28895
I don't think there would be a problem with making `MemoryResourceProvider` (and it's associated classes) consistent with the platform (such as being case sensitive when the underlying platform is case sensitive). That seems to me like the easiest path forward.

[2018-04-18 16:45] DanTup commented on #32916
@bwilkerson

for some error, etc)?

I created the class `EmulatorManager` today and was adding it to `packages/flutter_tools/lib/src/context_runner.dart` in the flutter repo. I added the line you can see with the errors, and then used quick-fix to add the import for it.

[2018-04-18 17:02] DanTup commented on #28895
I thought that'd be an easy change to make, but I think it was full of `Map`s to look things up, so it may mean replacing all of those with something we can have a case-insensitive key for?

Also, to confuse things, new Macs seem to also be case-insensitive (though don't hit this issue generally because there isn't a random part of the path being exposed with differing casing in different places)

[2018-04-18 17:29] DanTup commented on #28895
I think it's just luck that on Mac all the paths that come from the system are consistent, but on Windows the drive letters are not. Does make me wonder whether we can repro the issue by faking the casing of the path in setAnalysisRoots to something different to what the underlying folders were cased though. I'll have a quick play tomorrow and see where I get.

[2018-04-18 18:53] lrhn commented on #32913
I agree that it's fuzzy. The default value position *must* (currently) be const, but does not introduce a const context, so you have to write `const []` to get a constant list.

That doesn't help you to write a const tear-off because we don't have a syntax like `const _defaultCallback`. Maybe we should (introducing a const context anywhere might be useful).
We also don't have syntax for `_defaultC

[2018-04-18 19:38] krypton-code opened #32920 "Hot data reload in AngilarDart (build_runner)"
I'm going through the tutorial in this place:
https://webdev-dartlang-org-dev.firebaseapp.com/angular/tutorial/toh-pt1#show-all-hero-properties
as soon as I make changes to the template and try to update the page, I don't get changes. I have to run the command `pub run build_runner serve` again, that to see the changes. I also noticed in other cases that I need to manually reboot the build_runner.

[2018-04-18 19:46] matanlurey commented on #32920
This issue was moved to dart-lang/angular#1259

[2018-04-18 19:46] #32920 closed

[2018-04-18 20:00] nex3 opened #32921 "Working with self signed certs"
_From @MderM on April 18, 2018 15:9_

Any chance that this package will work with self signed certificates? HttpClient has a configurable callback for this. Would help a lot in prototyping stage...

_Copied from original issue: dart-lang/web_socket_channel#15_

[2018-04-18 20:00] nex3 commented on #32921
`web_socket_channel` just forwards to `dart:io`'s `WebSocket` implementation, so I'm going to move this to the SDK repo.

[2018-04-18 20:06] scheglov commented on #32914
Do you just send `analysis.updateContent`, or files are also modified on disk (so processed asynchronously by the file system watcher)?

[2018-04-18 20:19] DanTup commented on #32914
In this instance, the files are only being modified in the editor and not saved to disk (though generally, we don't do anything special on save - we just send `updateContent` as the user is typing and do nothing when they hit save - however if they use formatOnSave we'll send a format command then apply those edits - sending another `updateContent` right as the file saves).

[2018-04-18 20:29] sigmundch commented on #31623
thanks @devoncarew. I went ahead and sent https://dart-review.googlesource.com/c/sdk/+/51700 to fix those two errors. Since the type was already available in the input list in the first case, I just changed sortMembers to preserve the type.

[2018-04-18 20:45] scheglov commented on #32914
https://dart-review.googlesource.com/c/sdk/+/51702 might fix the issue.

What I think is happening is that we handle request sequentially, and `analysis.updateContent` is processed before `edit.getRefactoring`. But when we put a change even into the changes stream, it is delivered with a delay, after `edit.getRefactoring` already started working.

[2018-04-18 20:57] natebosch commented on #32188
Here is the list of work that I think is blocking the end to end `pub run --preview-dart-2 test` scenario.

- [ ] Sync pub into the SDK. Blocked on https://github.com/dart-lang/sdk/issues/32900
- [ ] Set up the flags in the shell and bat script to get the `--preview-dart-2` flag passed to the `dart` vm and not pub itself. (could skip this if we're ok with `DART_VM_OPTIONS=--preview-dart-2` ux)
- [

[2018-04-18 21:01] nex3 commented on #32188
Given that the running from source is so slow with the CFE right now, how do we verify that a given chunk of code is in fact Dart 2-clean?

[2018-04-18 21:02] vsmenon commented on #32188
@a-siva - note Nate's Dart 1 vs Dart 2 perf comment above.

[2018-04-18 21:25] MarkOSullivan94 opened #32922 "Static Object variable values getting lost / reinitialized"
Dart SDK version: 2.0.0-dev.47.0.flutter-f76dad0adc
OS: Tested on both Linux (Elementary OS 0.4) and Mac OS High Sierra 10.13.3

Currently the static keyword doesn't seem to be working as it should whenever you have a List of objects. Whenever I check the length of the static list in another class which wasn't the same class where I added an item to the list, the length returns 0.

Example:

I hav

[2018-04-18 21:49] srawlins commented on #26242
Angular's been fixed. Can close this.

[2018-04-18 21:49] #26242 closed

[2018-04-18 22:03] jmesserly commented on #32428
A few things were going on here:

1. This fix needs to be made to dartdevk https://dart-review.googlesource.com/c/sdk/+/19024

2. dartdevk needs to ignore synthetic mixin classes rather than trying to compile them (it has its own unrolling shared with dartdevc. Eventually dartdevk may be able to migrate to CFE/Kernel's unrolling, but for now it needs to ignore it.)

[2018-04-18 22:04] jmesserly commented on #32427
merging into #32428

[2018-04-18 22:04] #32427 closed

[2018-04-18 22:05] jmesserly commented on #32429
merging into #32428

[2018-04-18 22:05] #32429 closed

[2018-04-18 22:07] jcollins-g opened #32923 "getMembersInheritedFromClasses provides incomplete data for reexported classes"
Per offline discussion with @bwilkerson

Dart 2.0.0-dev.48.0, analyzer 0.31.2-alpha.1.  (Unable to validate at head right now because something in head seems broken.)

If I build a inheritance manager from the reexporting library and pass in the reexported element, private inherited members are dropped from the result.  However, if I build the inheritance manager from the defining library (element

[2018-04-18 23:04] vsmenon commented on #32868
@jakemac53 once you have an SDK with the above commit, then you can add:

[code]

here:

https://github.com/dart-lang/build/blob/a8565263013d1215bd6ed16337d24edd98c6b479/build_web_compilers/lib/src/dev_compiler_bootstrap.dart#L126

to preserve the old behavior, and flip to true to enable.

[2018-04-19 00:06] sigmundch commented on #31623
FYI - dart2js changes have now landed

[2018-04-19 04:28] #57697 closed

[2018-04-19 04:35] zoechi commented on #32922
That's a known issue when you have relative imports in `lib/main.dart` (imports that don't start with `import 'package:...';`

[2018-04-19 08:17] DanTup commented on #32914
Sounds like a good possibility. My tests use Flutter so it might be a bit fiddly to test this before this rolls into Flutter, but I'll have a go this afternoon.

[2018-04-19 08:30] MikeMitterer opened #32924 "pub update - timeout if dependency is pointing to github on Mac since 4.13"
If I have this line in my pubspec.yaml
[code]
pub update fails with a timeout

If a GH-dependency is in dev_dependencies it works!!!
----
Dart VM version: 1.24.3 (Wed Dec 13 23:26:59 2017) on "macos_x64"

[2018-04-19 08:49] DanTup commented on #28895
Ok, I repro'd on a Mac really easily (not sure why I hadn't tried this sooner!).. Took the zip file from the very top of this post, and I made this in Dart Code where we send analysis roots:

[code]

This results in the path being used by the editor to not match the one that the analysis server is using for `package` URIs, and we get the original error:

[code]

So, if we have integration tests th

[2018-04-19 09:38] MarkOSullivan94 commented on #32922
@zoechi so it works fine if you have `import 'package:....';`?

[2018-04-19 11:24] zoechi commented on #32922
Ok, then this was the issue.

[2018-04-19 11:49] DanTup commented on #28895
![paths](https://user-images.githubusercontent.com/1078012/38982263-4d7144ac-43b9-11e8-8cd0-1e63c3c758c3.png)

I don't know how risky this is (for ex. if there are any people currently getting lowercase drive letters in the analysis server, this will break things for them) but I've put the changes on a branch behind a flag and given a custom build to @escamoteur. If all goes well, this may be a qu

[2018-04-19 12:40] MarkOSullivan94 commented on #32922
I wasn't seeing it was working fine, I'm asking you if it works fine when you do that import? It sounded like you were saying in your first post that this is why the static variables weren't working.

[2018-04-19 12:54] wendux opened #32925 "`fetch dart` error"
I build dart on centos,  when I run `fetch dart` on Centos:
[code]

[2018-04-19 12:59] zoechi commented on #32922
It was a guess. It's a common issue.
You should **only** have `import 'package:...';` kind of imports in `lib/main.dart`.

[2018-04-19 15:08] kyle-berry-perficient commented on #32425
From the example above, calling this code crashes the app in Android.

##Flutter version##
Flutter 0.3.0 • channel dev • https://github.com/flutter/flutter.git
Framework • revision c73b8a7cf6 (7 days ago) • 2018-04-12 16:17:26 -0700
Engine • revision 8a6e64a8ef
Tools • Dart 2.0.0-dev.47.0.flutter-4126459025

##Reproduce##
Type y = _typeOf<StoreProvider<S>>();

##Logs##
E/DartVM  (29011): ../../thi

[2018-04-19 15:10] DanTup opened #32926 ""The getter 'parent' was called on null" in analysis server edit.getFixes"
### What I was doing

Working in `flutter_tools` I got this after writing some code (`const emulatorPortRegex = new RegExp(r'emulator-(\d+)');`) and then using a fix to add a type annotation.

### Versions

- Dart SDK 2.0.0-edge.0d5cf900b021bf5c9fa593ffa12b15bcd1cc5fe0
- Flutter SDK 0.3.1-pre.46
- Visual Studio Code 1.22.2
- Dart Code 2.12.0-dev

### Analyzer Info

The analyzer was launched using

[2018-04-19 15:11] DanTup commented on #32926
Looking at the "remove this" note in the stack trace, maybe it was actually related to this code (I typed `this.` to see a list of the fields:

[code]

[2018-04-19 15:25] stefantsov commented on #28434
I believe the issue is about to be solved in [CL 51840](https://dart-review.googlesource.com/c/sdk/+/51840).  I added a test case and updated a couple of existing ones.  The most tricky part was to properly invoke the inference, so that it doesn't work on the same node twice.  I don't expect serious issues with the CL, and I think it's ready for the review.

In addition to variable declarations (t

[2018-04-19 15:32] stefantsov commented on #31581
Ok, so the number of related CLs is still growing :-)  There are 5 of them currently, and it should soon become 6.  Here are the links to the existing ones, in the order from least dependent to most dependent:

1. [[fasta] Report type argument number mismatch during outline building](https://dart-review.googlesource.com/c/sdk/+/51128)
1. [[fasta] Normalize type arguments as in Dart 1 when not in s

[2018-04-19 16:29] athomas commented on #32656
Status update:
* Moved the pkg builders to the test matrix, that makes it easier for me to proceed.
* Built a prototype for the pkg integration test: works but is a bit hackish.
* Running pub is required to run scripts to release the SDK, when I built 2.0.0.49-dev I used the pub from the SDK to publish it. I will keep doing that until their is a test for this.

[2018-04-19 16:56] vsmenon commented on #32911
Do we need this fixed to unblock #32188 ?

[2018-04-19 16:56] vsmenon commented on #32911
@a-siva @mraleph

[2018-04-19 17:10] bwilkerson commented on #32926
https://dart-review.googlesource.com/c/sdk/+/51940

[2018-04-19 17:27] natebosch commented on #32911
We can make some progress by running from source always for Dart 2 mode but we'll be paying a performance cost.

[2018-04-19 17:30] crelier commented on #32425
@brianegan, it would be great if you could provide a standalone reproduction, something like:
[code]
This example does not crash:
[code]

[2018-04-19 17:42] brianegan commented on #32425
@crelier Hey there -- sorry, I should have updated this thread. I think the problem was perhaps whether the reified generic functions feature was enabled or not for certain folks / setups. I haven't gotten more bug reports with the latest version of the Flutter beta.

[2018-04-19 17:49] mkustermann commented on #32228
Is there any updates on this? (@jakobr-google )

[2018-04-19 18:01] keertip commented on #32911
@natebosch, in Dart 2 appjit snapshots is what works, no script snapshots. Did you try an appjit?

[2018-04-19 18:04] natebosch commented on #32911
No we have not tried appjit snapshots. This will require some work in pub, I'm not sure how significant.

Is there reason we aren't supporting non-jit snapshots?

[2018-04-19 18:12] keertip commented on #32911
In dart 2, the kernel file is the equivalent of script snapshot. You can generate kernel files for the vm using the [gen_kernel](https://github.com/dart-lang/sdk/blob/master/pkg/vm/tool/gen_kernel) tool and then pass this to the VM instead of source.

[2018-04-19 19:44] keertip commented on #32911
@a-siva  @alexmarkov,  we are not shipping the `gen_kernel` tool in the sdk build. Could you add this?

[2018-04-19 19:52] rmacnak-google opened #32927 "Assertion failure in Type::CloneUninstantiated in Topaz build"
[code]

dart=f76dad0adcf6766d73351354da653d6a793b5abc
engine=37e5df053024c1158b436ff0cd843116c25bdf14
flutter=1c3f6a851fcf33e8ef1bbb52bdae5ed116e463f4
topaz=cad814090fb99231f754b6a117defcad2e3b37b6

@crelier

[2018-04-19 22:15] sigmundch commented on #32869
update: work started

[2018-04-19 22:55] jmesserly commented on #29847
this still reproduces

[2018-04-19 22:55] jmesserly commented on #30082
This is fixed now :)

[2018-04-19 22:55] #30082 closed

[2018-04-19 22:56] jmesserly commented on #27348
I think this is obsolete (or covered by other module-root bugs)

[2018-04-19 22:56] #27348 closed

[2018-04-19 22:57] jmesserly commented on #29917
this is obsolete (`call` methods are now done as implicit tearoffs in Dart 2)

[2018-04-19 22:57] #29917 closed

[2018-04-19 22:57] jmesserly commented on #29920
we now track these in the status file. I've gone through the list a few times, I think we generally understand the failures.

[2018-04-19 22:57] #29920 closed

[2018-04-19 22:58] jmesserly commented on #29921
we now track these in the status file. I've gone through the list a few times, I think we generally understand the failures.

[2018-04-19 22:58] #29921 closed

[2018-04-19 23:02] MichaelRFairhurst commented on #28580
a few hurdles overcome to get to: https://dart-review.googlesource.com/c/sdk/+/52062

[2018-04-19 23:11] jmesserly commented on #29922
I've gone through these a few times (as well as language_2, corelib_2) to get a general sense of what bugs may be present in DDC.

Most of the tests are not Dart 2 (strong mode) clean, and they have similar failures in other Dart 2 impls. We may need some kind of cross team effort to triage and fix tests to be Dart 2 clean for runtime behavior. (The Dart 2 test migration was good for static behavi

[2018-04-19 23:11] #29922 closed

[2018-04-19 23:12] sigmundch opened #32928 "dart2js: invalid super setter call in strong mode"
This error was found when testing strong mode on large test:

repro:
[code]

In legacy mode this generates js which calls super$A$f, as you'd expect:
[code]

In strong mode, we get this instead:
[code]

[2018-04-19 23:13] jmesserly commented on #32302
https://dart-review.googlesource.com/c/sdk/+/52081

[2018-04-19 23:14] jmesserly commented on #27677
This would still be a useful perf optimization for HTML

[2018-04-19 23:16] jmesserly commented on #27677
Actually, while it doesn't cover every case, I think the existing mechanism in `_isSymbolizedMember` covers most of what I was describing above. So we can close this one out.

[2018-04-19 23:16] #27677 closed

[2018-04-19 23:17] jmesserly commented on #27778
this was done :D

[2018-04-19 23:17] #27778 closed

[2018-04-19 23:28] jmesserly commented on #30592
this has been fixed :)

[2018-04-19 23:28] #30592 closed

[2018-04-19 23:33] jmesserly commented on #28307
We still generate these stubs (for dcalls), we don't generate calls to them anymore for typed member access (see _isSymbolizedMember).

We might be able to avoid the stub entirely. We'll need to track "native members" rather than "native types" so we know that some members are directly callable at runtime (the native type implements the member of that name, with a Dart compatible calling conventio

[2018-04-19 23:34] vsmenon commented on #32592
@terrylucas - we might be missing a `registerExtension` on the geolocation class.

[2018-04-19 23:35] jmesserly commented on #31971
do you recall how this was invoking DDC? It looks like it's from a build system.

[2018-04-19 23:39] vsmenon commented on #32470
With DDC tip, I'm now seeing:

[code]

If you're still seeing a problem, please re-open and let us how you're running (e.g., build_runner)?

[2018-04-19 23:39] #32470 closed

[2018-04-19 23:43] jmesserly opened #32929 "Need spec and compile-time errors of incorrect JS interop usage"
There are many invalid things that can be done with JS interop, but we don't have static errors for this.

Here are some examples of things that should be reported (or else, need to be specified and fixed in the DDC/dart2js):

- [x] an anonymous JS class with positional arguments in the constructor. This is invalid, because it's supposed to create an object literal, and causes a DDC crash (see #32

[2018-04-19 23:43] jmesserly commented on #32031
Yeah, JS interop doesn't have any static errors. I filed https://github.com/dart-lang/sdk/issues/32929 and referenced this bug.

[2018-04-19 23:43] #32031 closed

[2018-04-19 23:44] jmesserly commented on #27823
moving to area-js_interop for design work; presumably this needs to be done for DDC and dart2js

[2018-04-19 23:46] jmesserly commented on #27751
this is a good idea, but it's fairly large and there hasn't been much demand. Perhaps in the future we can allocate some resources to it.

[2018-04-19 23:46] #27751 closed

[2018-04-19 23:48] jmesserly commented on #27686
I'm inclined to say this should be an error at the Analyzer/CFE level, rather than DDC (as it's something any modular compiler could hit, such as summary build). We haven't needed this in a while so I'm going to close, I do think we could reopen for the front-ends though.

[2018-04-19 23:48] #27686 closed

[2018-04-19 23:55] natebosch commented on #27751
There has not been other requests for this only because @jakemac53 and I are the ones who deal with the pain of not having it, our end users are shielded from this other than the fact that everyones builds are slower for not having it.

We've put a lot of effort into writing code to automatically find a set of "modules" which allow us to build with DDC such that we only try to build the code which

[2018-04-19 23:56] jmesserly commented on #31927
DDC is building its SDK without any strong mode errors, so I guess this was fixed?

[2018-04-19 23:56] #31927 closed

[2018-04-19 23:57] jmesserly commented on #31568
I think this is covered by https://github.com/dart-lang/sdk/issues/27311

[2018-04-19 23:57] #31568 closed

[2018-04-19 23:59] jmesserly commented on #29071
I don't see any current failures in the status for this test. Going to assume stale

[2018-04-19 23:59] #29071 closed

[2018-04-20 00:01] dgrove commented on #27788
@tvolkert reports that this is being seen more and more - adding to Dart2Beta4 milestone.

[2018-04-20 00:03] jmesserly commented on #31854
going to close this out based on discussion above (resolution: not planned)

[2018-04-20 00:03] #31854 closed

[2018-04-20 00:04] jmesserly commented on #32144
this example works now

[2018-04-20 00:04] #32144 closed

[2018-04-20 00:06] jmesserly commented on #31089
this is working if you have source maps enabled. They should be there in Chrome. On nodejs they can be enabled with the source-map-support package. Using Dart's package:stack_trace will also format them in a Dart way.

if there's another scenario we're missing, let us know.

[2018-04-20 00:06] #31089 closed

[2018-04-20 00:09] jmesserly commented on #31087
moving this to Analyzer. Analyzer should resolve this to a `.call` tearoff. It seems to work in CFE.

[2018-04-20 00:43] LousyLynx opened #32930 "Native external libraries do not load"
I am attempting to make a binding for an external C library in Dart. For the most part, it is going fairly well with the setup, although I am running into a slight problem with the library. I am using mostly the same configuration as on the wiki page for natives(with the exception of the [build file](https://gist.github.com/LousyLynx/8c598e26a4c34cb9236b59ff55acb211), which I got off of another re

[2018-04-20 00:49] alexmarkov commented on #32834
As per our discussion, we should be able to exclude vmservice entry points once we support specifying mode-specific (`!product`) entry points with `@pragma` annotations.

[2018-04-20 00:56] natebosch commented on #27751
Any code that has static errors, can't be parsed, imports libraries that can't be found, or whatever else would normally make DDC refuse to give any output for the entire set of files we gave it.

In dart2js, dartium or the VM (running from source, not kernel) I can publish a package with garbage libraries in `lib/` and not break anybody depending on me as long as they only import the good librari

[2018-04-20 01:06] matanlurey opened #32931 "Analyzer: Functions that return Future accept void/null? #"
This is in VM `2.0.0-dev.46.0+google3`:

[code]

There are bugs in the code labeled `// OK? Why?`. I promised to return a `Future<void>` and `Future<Null>`, but I did not - I returned `null` explicitly in the first callback, and I guess `void` (or `null` - I am not sure how the language works right now) in the second callback.

My guess this is because `null` can be anything (and I guess `void` to

[2018-04-20 01:09] matanlurey commented on #32931
To be clear, I do understand nullable types mean `=> null` is legal.

I just don't understand why _no_ return type (i.e. `void`) is silently accepted too.

[2018-04-20 01:11] greglittlefield-wf opened #57699 "Unexpected hash_and_equals lint when hashCode is overridden but == is not"
Based on [the description of the lint and its rationale](http://dart-lang.github.io/linter/lints/hash_and_equals.html ),

I would expect overrides to `hashCode` without overrides to `==` to not trigger this lint, but they do:
[code]

It would be nice if the behavior of the lint was fully captured in its documentation (whether that means adjusting the behavior or adjusting the documentation). The l

[2018-04-20 01:24] matanlurey commented on #32328
Unfortunately we are no longer updating Dart SDK 1.24.3.

Quite a bit of work has been put in the 2.0.0-dev channel, so this might already be fixed.

[2018-04-20 01:24] #32328 closed

[2018-04-20 01:25] matanlurey commented on #32203
Unfortunately we are no longer updating Dart SDK 1.24.3.

Quite a bit of work has been put in the 2.0.0-dev channel, so this might already be fixed.

[2018-04-20 01:25] #32203 closed

[2018-04-20 01:34] jumperchen commented on #31971
run with `pub build --web-compiler=dartdevc` mentioned from this [dartdevc guide](https://webdev.dartlang.org/tools/dartdevc).

[2018-04-20 02:52] kevmoo opened #32933 "Cannot use new Function syntax in const Map declaration"
Dart VM version: 2.0.0-dev.49.0

Could expect this to be fine.
[code]

Instead
[code]

[2018-04-20 02:55] kevmoo commented on #32933
work-around

[code]

[2018-04-20 02:58] natebosch commented on #32931
`(() {}).runtimeType` is `() => Null` in Dart 2 and `() => dynamic` in Dart 1. Everything else makes sense given that.

It would be really nice if `(() {}).runtimeType` was `() => void` which would make at least some of these cases work as expected. For the other cases we'd need NNBD.

[2018-04-20 04:01] kevmoo commented on #32931
@matanlurey – to triage, can you be explicit. Is this about runtime behavior or static analysis?

[2018-04-20 04:56] dgrove commented on #32911
cc @mit-mit we should think about whether gen_kernel is the right name for this tool.

[2018-04-20 05:56] kevmoo opened #32934 "Analysis Server crash - -dev.49"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.4203.550`
- `2.0.0-dev.49.0`
- `IU-181.4203.550, JRE 1.8.0_152-release-1136-b20x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.3 unknown, screens 1920x1200  Retina`

# Exception

[code]

[code]

[2018-04-20 07:02] kevmoo opened #32935 "AnalysisServer crash - dev.49"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.4203.550`
- `2.0.0-dev.49.0`
- `IU-181.4203.550, JRE 1.8.0_152-release-1136-b20x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.3 unknown, screens 1920x1200  Retina`

# Exception

[code]

[code]

[2018-04-20 07:16] eernstg commented on #32931
I think it's safe to assume that the main issue is static analysis here (also, as written, the program has a compile-time error, so it would have to be edited before we can talk about its run-time properties at all).

For the static analysis, I think it matters that we do not yet have a notion of 'voidness preservation' in the language and tools, which means that we do not make any attempt to trac

[2018-04-20 07:38] jakobr-google commented on #32911
So, um, why do we need a different tool? Why doesn't `dart --preview-dart-2 --snapshot=<snapshot-file> <dart-file>` produce a snapshot in the right format?

[2018-04-20 09:39] eernstg commented on #32931
I just saw the [answer from @natebosch](https://github.com/dart-lang/sdk/issues/32931#issuecomment-382955192) which gets to the core very concisely:

We actually discussed this recently. Issue #32843 requests just that, and in [this comment](https://github.com/dart-lang/sdk/issues/32843#issuecomment-383039178) I just added a test which will directly test at least some basic cases for this behavior

[2018-04-20 10:27] jensjoha commented on #32911
Script snapshotting through kernel _used_to work...

Now though I get this:
[code]

[2018-04-20 10:27] eernstg commented on #32931
One more comment, to @matanlurey:

`void` is not "no return type", it is a top type (like `Object` and `dynamic`) which, statically, has the associated flag "This is not valid". So the returned object could be absolutely anything, and there's nothing wrong with it per se, but the developer who wrote `void` (somewhere, maybe it was carried around due to inference) has chosen to say that the returne

[2018-04-20 10:28] mit-mit commented on #32911
Big +1 for making it work again, and not introducing yet another tool.

[2018-04-20 10:30] mit-mit commented on #32188
This continues to cause friction when we work on making packages dart2 compatible. @a-siva is someone looking into the perf issues?

[2018-04-20 10:44] wendux opened #32936 "Https hijacking with HttpClient ."
When I use ` HttpClient` to request  "https://www.google.com" in china ， I  was surprised to find that the response  is not the  google home page and without any error tip !  some of response content is :
[code]
It seems to be Http hijacking!

Because the certificate of baidu.com is  trusted root certificate, so  the `badCertificateCallback` of `HttpClient` is not invoked。

I guess that the `HttpC

[2018-04-20 11:26] stefantsov commented on #28434
The support for annotations on formals, local variables, and local function declarations is added in https://github.com/dart-lang/sdk/commit/0289071afed95040676bd71d9e67e5d6ab688bbd.

[2018-04-20 13:05] kyle-berry-perficient commented on #32425
This code does not fail on startup, but during hot reload.

//-------------------------------------------------------------------
import 'package:flutter/material.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  final String title;

  MyApp({Key key, this.title}) : super(key: key);

  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      tit

[2018-04-20 13:36] stefantsov commented on #28434
https://github.com/dart-lang/sdk/commit/0289071afed95040676bd71d9e67e5d6ab688bbd had to be reverted :-(  For some reason, the precomp bots aren't happy.  The following test breaks:

[code]

Also, Flutter won't build :-(  I'll investigate the reason next week and hope to get the patch back soon.

[2018-04-20 13:40] zoechi commented on #32425
@kyle-berry-perficient you can make code and log output easier to read, by wrapping it in ```
You can edit the existing comment and add it.

[2018-04-20 13:41] jensjoha commented on #32911
Interestingly this still works:

[code]

[2018-04-20 14:05] vsmenon commented on #32931
Is there a bug here or is it working as intended?

[2018-04-20 14:08] jakemac53 commented on #27751
I am not really sure we would want to do this anyways? It would mean downloading more code in the browser that isn't a part of the actual app, increasing memory usage etc. This can actually potentially be a lot of code (for instance code related to builders themselves).

Also, I don't know how this would work with package cycles exactly, which it would have to. Maybe just create one module for bot

[2018-04-20 14:11] jakemac53 commented on #27686
I think we have build rule level checking for this now internally anyways.

[2018-04-20 14:15] vsmenon commented on #32911
@a-siva - assigning to you.  We need this to create and run Dart 2 snapshots for `pub`, `test`, etc.

[2018-04-20 14:27] dgrove commented on #32188
We'll need to patch to make the SDK run in Dart 2 by default first.

On Fri, Apr 20, 2018 at 7:21 AM vsmenon <notifications@github.com> wrote:

[2018-04-20 14:30] vsmenon commented on #32188
Is that blocking? My understanding from @natebosch 's comment is that we can run from source to make progress on the rest - we'll need the snapshot for reasonable perf though.

[2018-04-20 15:05] keertip commented on #32188
We should start testing by running from source with --preview-dart-2 and in parallel look at dart2 snapshot generation so that we can have a dart 2 sdk build.

[2018-04-20 15:08] eernstg commented on #32931
It is actually working as intended: #32843 deals with inference of `void` as a return type, and I don't think any other bugs came up here.

[2018-04-20 16:16] natebosch commented on #27751
I suspect that downloading an entire package to the browser wouldn't have a huge impact on our customers doing development, though it might be bad for those who want to deploy with DDC output.

The point about pulling in full other package (trees) is a good point though - we don't want to start having people compile package:build with DDC because they are using angular...

I think keeping this clo

[2018-04-20 16:17] mraleph commented on #32911
@natebosch do we need this to work only when building SDK or do we need this to work from SDK itself too?

[2018-04-20 16:24] natebosch commented on #32911
We need this to work externally to the SDK.

`pub` builds snapshots of binaries to run them, and if we're going to have to pay a ~10 second penalty for running from source we'll really want to keep doing that so we only pay the parse cost once.

Similarly in `build_runner` we currently rely on starting an Isolate on a dart source file we wrote. If there is a startup performance penalty we need to

[2018-04-20 16:32] crelier commented on #32425
@a-siva, can someone familiar with hot-reload on flutter have a look? Thanks.

[2018-04-20 16:54] natebosch commented on #32900
Latest update is it's harder than I thought because I need to generated a `packages/` directory in addition to building with dart2js, and I'm still working on the change - it's slow going since gn/ninja/build.py (not to mention depot_tools) are all new to me and all slowing me down.

Also giving more consideration to pulling `build_runner` in to the SDK instead of trying to do the work in python,

[2018-04-20 17:59] matanlurey commented on #32936
This is a version of the VM (`1.24.3`) that is no longer being actively worked on.

I'd try the latest Dart 2.0-dev SDK, and refile if you are still having an issue.

[2018-04-20 18:19] nex3 commented on #32188
@vsmenon According to https://github.com/dart-lang/sdk/issues/32188#issuecomment-382179856, it looks like pub itself is in an okay state here, modulo the snapshot problem pointed out https://github.com/dart-lang/sdk/issues/32188#issuecomment-382526880.

Is there a way to detect at runtime if the current VM is running in Dart 2 mode?

[2018-04-20 18:26] natebosch commented on #32188
There is work we need to do in pub around invoking the right thing based on the Dart mode. If we're in Dart 2 we can't use the Dart 1 snapshot so we'll need to run from source (for now).

`bool isDart2() => (<T>() => T)<String>() == String`

[2018-04-20 18:34] nex3 commented on #32188
I'll see if I can take a crack at the snapshot issue on Monday.

[2018-04-20 18:38] crelier commented on #32927
The upper bound RenderBox of type parameter T below is not canonicalized:
"TypeParameter: name T; index: 0; class: RenderProxyBoxMixin; bound: RenderBox"
This is encountered while applying mixins to this class:
"Library:'package:flutter/src/rendering/proxy_box.dart' Class: RenderBox@174392247&RenderObjectWithChildMixin@176266271&RenderProxyBoxMixin"

Requiring the upper bound to be canonical is to

[2018-04-20 18:44] #32827 closed

[2018-04-20 18:55] johnniwinther commented on #32750
This should be fixed through the CFE issue https://github.com/dart-lang/sdk/issues/32794 which will be resolved by adding the forwarding stubs needed for dart2js.

[2018-04-20 19:42] scheglov commented on #27098
https://dart-review.googlesource.com/c/sdk/+/52263

[2018-04-20 20:05] MichaelRFairhurst commented on #28580
This change has landed, and hopefully it sticks!

[2018-04-20 20:05] #28580 closed

[2018-04-20 20:06] sigmundch commented on #32750
great, thanks for looking into it. - I'll mark this as a duplicate.

[2018-04-20 20:07] #32511 closed

[2018-04-20 20:59] natebosch commented on #32900
I think I have something working. https://dart-review.googlesource.com/c/sdk/+/51740 is ready for another review.

[2018-04-20 21:08] sigmundch commented on #32869
CL https://dart-review.googlesource.com/c/sdk/+/52061 ready to land.

We'll land it next week: after flutter confirms this can be flipped, and in coordination with DDC so that both end up flipping the default on the same -dev release.

[2018-04-20 21:13] jmesserly commented on #31971
Gotcha, thanks! That sounds like a pub build issue, then. (DDC is getting invalid input: the summary info was missing for package:front_end/src/fasta/io.dart)

We do need a better error message. The error is coming from Analyzer summary deserialization, however, so I'm not totally sure what the right error message is. (I guess DDC could wrap `computeLibraryElement` and if we get an error from Anal

[2018-04-20 21:14] sigmundch commented on #20085
@rakudrama fixed this when adding `getRuntimeTypeArgumentIntercepted`

[2018-04-20 21:14] #20085 closed

[2018-04-20 21:14] sigmundch commented on #20113
@rakudrama fixed this when adding `getRuntimeTypeArgumentIntercepted`

[2018-04-20 21:14] #20113 closed

[2018-04-20 21:15] sigmundch commented on #26501
@rakudrama fixed this when adding getRuntimeTypeArgumentIntercepted

[2018-04-20 21:15] #26501 closed

[2018-04-20 21:15] bkonyi commented on #30756
Fixed in this [CL](https://dart-review.googlesource.com/c/sdk/+/50380/9).

[2018-04-20 21:15] #30756 closed

[2018-04-20 21:29] jmesserly commented on #28290
@vsmenon we still want something like this right? I think we wanted:

- input Dart size
- output JS size

I think we'd been considering saving that into the JS output, that way we can report the bytes actually loaded by the browser on app startup (as opposed to everything that was compiled).

Compile time seems like something to print to stdout. If this is total process runtime, that doesn't seem

[2018-04-20 21:31] jmesserly commented on #28286
Fixed! this now prints: `Type 'String' is not a subtype of type 'int'`

[2018-04-20 21:31] #28286 closed

[2018-04-20 21:32] jmesserly commented on #28322
This was tackled: we now use ES5 constructors for better performance. Default constructor is called `.new`

[2018-04-20 21:32] #28322 closed

[2018-04-20 21:32] jmesserly commented on #28111
this was fixed a while ago (also nowadays it tends to fall out of the Dart SDK contrib docs)

[2018-04-20 21:32] #28111 closed

[2018-04-20 21:33] escamoteur opened #32938 "Better compiler message or analyzer support if `const` is used on a generic type"
Hi,

you can find the project here
https://github.com/escamoteur/rx_command/tree/problem_with_const

After adding some new linter rules today I got the message that I should use `const` instead of `new` here

[code]

this is in `rx_command\lib\rx_command.dart` line 272

When running my tests I got the compiler errors:

[code]

In the meantime I have understood that the problem is that it's not cle

[2018-04-20 21:34] jmesserly commented on #29690
@vsmenon -- we have a prototype of this in use on several big internal apps. Is there more work to do here? Is the "hot restart" feature available for all users and do we have good documentation on how to set it up?

[2018-04-20 21:38] jmesserly commented on #28422
Current status:

Ideally we'd reconcile Future/Promise first (see #27315), as noted above. But we don't have to block on that. We're already using an adapter (from a JS generator to a Dart Future), so adapting from a Promise to a Future should be doable.

It would be easier to fix this after we switch to Kernel backend, so we don't have to implement it twice.

[2018-04-20 21:41] jmesserly commented on #28395
@leafpetersen thoughts on current priority of this?

Here's the current behavior:
[code]
dartdevk correctly prints: `(Object, Object) => dynamic`
dartdevc incorrectly prints: `(int, Object) => dynamic`

[2018-04-20 21:53] jmesserly commented on #28394
DDC actually crashes on this example now. It looks like Analyzer is not resolving this correctly.

[2018-04-20 21:57] jmesserly commented on #29663
Debugging this test seems to work now in latest Chrome

[2018-04-20 21:57] #29663 closed

[2018-04-20 21:57] jmesserly commented on #31101
this has been implemented (there are source map testing suites for DDC/DDK)

[2018-04-20 21:57] #31101 closed

[2018-04-20 22:00] #27098 closed

[2018-04-20 23:06] dgrove commented on #32850
@a-siva do you believe that we can close this now?

[2018-04-20 23:39] rakudrama commented on #26584
I'm closing this since strong mode will check the types once https://github.com/dart-lang/sdk/issues/32830 is implemented.

[2018-04-20 23:39] #26584 closed

[2018-04-20 23:52] dgrove commented on #32478
Any updates?

[2018-04-21 00:24] jmesserly commented on #29902
This has been fixed.

[2018-04-21 00:24] #29902 closed

[2018-04-21 00:25] jmesserly commented on #29118
Current theory is we won't need to do this, because DDC will migrate to Kernel. But if we see problems with the current DDC approach, we should revisit this.

[2018-04-21 00:25] #29118 closed

[2018-04-21 00:26] jmesserly commented on #28816
yeah, the analyzer fix (#28813) will take care of this. DDC relies on its front ends (Analyzer/CFE) to produce compile time errors

[2018-04-21 00:26] #28816 closed

[2018-04-21 00:28] jmesserly commented on #28892
This example actually works now (prints `IsTyped<String>` for both). However this is not correct behavior anymore in Dart 2. This is supposed to be rejected as `const IsAlsoTyped<T>()` is not a valid constant expression. There's another bug tracking that fix, so I'm going to close this one out.

[2018-04-21 00:28] #28892 closed

[2018-04-21 00:29] #29347 closed

[2018-04-21 00:35] jmesserly commented on #30184
https://dart-review.googlesource.com/c/sdk/+/52281

[2018-04-21 00:36] jmesserly commented on #30885
this will be fixed with https://github.com/dart-lang/sdk/issues/32211

[2018-04-21 00:36] #30885 closed

[2018-04-21 00:45] leafpetersen commented on #28395
Probably pretty low priority. Fairly unlikely anyone will run into it in web code, and once DDC moves to kernel it should be essentially irrelevant.

[2018-04-21 00:49] kevmoo opened #32939 "Analysis Server crash - -dev.49 - when checking out a branch where files disapear"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.4203.550`
- `2.0.0-dev.49.0`
- `IU-181.4203.550, JRE 1.8.0_152-release-1136-b20x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.3 unknown, screens 1920x1200  Retina`

# Exception

Please append the contents of:
file:///private/var/folders/53/wcg58s8n72b4thbmd7mhqjyc0071_k/T/report2.txt

[code]

[2018-04-21 00:59] jmesserly commented on #30852
https://dart-review.googlesource.com/c/sdk/+/52282

[2018-04-21 01:09] jmesserly commented on #29424
I think this is fixed (comment syntax is gone)

[2018-04-21 01:09] #29424 closed

[2018-04-21 01:10] jmesserly commented on #29825
I think this is area-documentation? Also these error codes come from Analyzer/CFE (DDC simply displays errors that were produced by the front end)

[2018-04-21 01:11] jmesserly commented on #30484
this should be handled by Analyzer (#30483) and/or CFE

[2018-04-21 01:11] #30484 closed

[2018-04-21 01:12] jmesserly commented on #30481
I've done a few passes of cleanups, but this would still be good to look into.

[2018-04-21 01:13] jmesserly commented on #30498
This should be a fair bit better now. We should reopen if we see it again though.

[2018-04-21 01:13] #30498 closed

[2018-04-21 01:13] jmesserly commented on #30497
@alan-knight is this fixed now?

[2018-04-21 01:14] jmesserly commented on #30387
this will be obsolete once we move to dartdevk/CFE (fortunately!)

[2018-04-21 03:12] dgrove commented on #32749
@lrhn any idea when the changes for these packages can land?

[2018-04-21 03:47] wendux opened #32940 "Bug when HttpClient verifying the server certificate ?"
When I use ` HttpClient` to request  "https://www.google.com" in china ， I  was surprised to find that the response  is not the  google home page(actually, is the  baidu's ) and without any error tip !  some of response content is :
[code]
It seems to be Http hijacking!

Because the certificate of baidu.com is  trusted root certificate, so  the `badCertificateCallback` of `HttpClient` is not invok

[2018-04-21 19:44] ga6559 opened #32941 "Why I cant create an object without the new keyword? - Dart 2"
Just starting with dart so forgive me if this is too dumb. :fearful:

Is the `new` keyword optional in all cases? I can't create an object without it.

Simple program to test:
[code]

Exception:
[code]

Dart Version:
[code]

[2018-04-22 01:46] latos commented on #29965
@kevmoo What are we supposed to use now?

[2018-04-22 04:13] wendux commented on #32936
Yes, I  have set the proxy as fellows:
[code]
Is this a problem with the proxy?

[2018-04-22 04:31] affinnen commented on #32425
@crelier / @a-siva it looks like this issue has been marked as Closed, should I create a separate issue for the "../../third_party/dart/runtime/vm/object.cc: 16408: error: unreachable code" issue?

[2018-04-22 04:50] dgrove commented on #32425
@affinnen can you please open a new issue?

[2018-04-22 10:45] zoechi commented on #29965
@latos `build` package with Chrome

[2018-04-22 13:39] affinnen opened #32942 "object.cc: 16408: error: unreachable code when calling _typeOf<Provider<S>>()"
This code does not fail on startup, but during hot reload.

**Flutter version**
Flutter 0.3.0 • channel dev • https://github.com/flutter/flutter.git
Framework • revision c73b8a7cf6 (7 days ago) • 2018-04-12 16:17:26 -0700
Engine • revision 8a6e64a8ef
Tools • Dart 2.0.0-dev.47.0.flutter-4126459025

**Repro code**
[code]

**Log Failure:**
Initializing hot reload...
E/DartVM  ( 3758): ../../third_par

[2018-04-22 13:40] affinnen commented on #32425
@dgrove / @crelier / @a-siva - a new issue has been opened #32942.

[2018-04-22 16:13] dgrove commented on #32942
Tentatively targeting beta4

[2018-04-22 17:42] rakudrama opened #32943 "dart2js: investigate: lazy-initialization of large constants"
It might be cheaper to initialize large constants more like a lazy static initializer instead of precomputing the value during startup. This would depend on the startup cost of evaluating the expression vs the cost of creating a function that evaluates the expression.

#25230 would be useful in aggregating the non-shared sub-constants of the constant into a larger expression which might be worth d

[2018-04-22 18:59] curtiscovington commented on #24205
I'm having this issue too. It is really annoying having to chop off some digits of the string I get from Go's time.Time in order for DateTime to parse it correctly.

[2018-04-22 19:54] a14n commented on #32941
You need to use the `--preview-dart-2` option of the `dart` executable to be able to use optional new/const.

[2018-04-22 20:46] ga6559 commented on #32941
@a14n It still doesn't work. Same error as before.

I can use the optional `new/const` keywords only when using flutter. Do you know if there is a way to use flutter's integrated dart? idk, I download mine from [http://www.gekorm.com/dart-windows/](http://www.gekorm.com/dart-windows/)

[2018-04-22 20:52] devoncarew commented on #32478
@scheglov has landed several performance improvements for the `flutter analyze --flutter-repo` use case - analyzing 29 separate, related packages with the main one making heavy use of exports.

We're in the process of setting up a golem test that will benchmark `flutter analyze --flutter-repo` (@sortie) using a combined view of commits from dart-lang/sdk and flutter/flutter.

We'll then look at re

[2018-04-22 21:52] stevenroose commented on #24205
I think I solved it by in Go, making a `newTime := time.Unix(oldTime.Unix())`, which truncate to seconds.

[2018-04-22 23:00] curtiscovington commented on #24205
@stevenroose I solved it in dart by just taking a substring. But I think the Dart SDK should address this specifically. A default server timestamp from Go should have no issues parsing through Dart. Even if we lose precision. Perhaps the parse could optionally chop off the extra digits?

[2018-04-23 03:48] dgrove commented on #32850
Moving this to Beta4.

[2018-04-23 07:12] monsterddq commented on #19926
You can see answer at here: https://stackoverflow.com/questions/28466798/how-to-install-pub-command-line-usage-for-dart-on-ubuntu-web-server

[2018-04-23 07:26] zoechi commented on #32941
@ga6559 ensure you have `--preview-dart-2` before the Dart script file name

[code]

[2018-04-23 08:28] wendux opened #32944 "HttpClient.open() hang up the application forever !"
When I am in china to  use `HttpClient.open()`  and ` HttpClient.openUrl() ` to open the "https://www.google.com" ,  and find they can hang up my  application always without timeout or exception. this lead my application **can't exit** !  my code as follows:
[code]

I think the `HttpClient`  class should add some "timeout" fields such as `connectTimeout`、`receiveTimeout`.

**My environment:**
[cod

[2018-04-23 08:32] #32928 closed

[2018-04-23 08:42] wendux opened #32945 "Is there a "BinarySink" like "StreamSink" in dart?"
When I want to write a text file with a `Stream` , I can do as follows:
[code]
It works only if the file is an text file, because the` IOSink` extends `StringSink`, it will encode the stream to a string, but I want to save the `List<int>` as binary bytes when the file is a binary file (e.g. an image).

[2018-04-23 08:48] jensjoha commented on #32911
Disclaimer: I'm not suggesting we do this exactly as such, but the following hack (or proof of concept or whatnot) at least works on a hello world script:

 0) Tried on top of 1f7fa3e1ada893fde892e0127917d302eee3ef5a
 1) Revert da14cbd1d7783c3b672f2e60dbe9188e3fec88d5.
 2) Apply the following patch:
[code]
3) Try this:
[code]

Again: I'm not saying we should do it like this, but maybe this can giv

[2018-04-23 08:56] stevenroose commented on #24205
@curtiscovington I had a substring thing first, but it broke when using different time zones etc. Yeah Dart should surely solve this.

[2018-04-23 09:31] jakobr-google opened #32946 "Parse error for generic method with dynamic and dart:core imported with prefix"
Dart VM version: 2.0.0-dev.49.0 (Wed Apr 18 20:41:36 2018 +0200) on "linux_x64"

This program throws a bunch of parse errors when run with `--preview-dart-2`:

[code]

The program works fine if I don't import dart:core with a prefix, or if I change `core.dynamic` to `core.String`.

Yes, this is a stripped-down example.

[2018-04-23 09:48] ga6559 commented on #32941
@zoechi Thank you! Exactly that. I was using it after the file name.

Hopefully it can save some time for someone else, since I've searched that error a lot and didn't find anything.

[2018-04-23 09:48] #32941 closed

[2018-04-23 10:10] bramvbilsen opened #32947 "Named constructors do not appear in completion list when not using new/const keyword"
When using the Dart 2 preview in VS Code / Intellij / Android Studio, there are no auto fill options named constructors.
For example trying to auto fill
[code]
presents me with all the named constructors for this class.
Using
[code]
does not present any auto fill options.

Dart version: Dart 2.0.0-dev.48.0.flutter-fe606f890b

[2018-04-23 10:13] eernstg commented on #32946
This may be a duplicate: The core issue of deciding that `dynamic` is exported by 'dart:core' was settled [this comment on #29125](https://github.com/dart-lang/sdk/issues/29125#issuecomment-348135234), and #32227 requests that it gets implemented in the analyzer. There may be a need to create an issue for the CFE, or position this one as being that issue?

[2018-04-23 10:15] eernstg commented on #32946
Oops, the CFE issue on this topic is actually here: #32228. I believe this means that we can consider this one to be a duplicate.

[2018-04-23 10:54] lrhn opened #32948 "Fused UTF-8 and JSON converters fail to detect end-of-input"
Example:
[code]
This should cause an error, but it just returns null on the VM.

The unfused converters do work, so
[code]
correctly throws.

[2018-04-23 11:46] harrisonturton opened #32949 "Better documenation for JS interop package"
Hi,

I think we'd really benefit from better documentation on JS interop. As someone new to Dart, I've looked at the [js package](https://pub.dartlang.org/packages/js), but the README and example project don't help too much.

Does it generate dart code, or does it just allow me to call JS methods from within Dart, without doing any extra work? A better explanation would be fantastic.

If someone c

[2018-04-23 12:42] sortie commented on #32614
The dart VM executable could look for its matching version in a standalone file rather than putting it in the executable / snapshots. Then an incremental build would just update that file in the appropriate out dart-sdk directory.

[2018-04-23 12:45] vsmenon commented on #32946
Closing in favor of #32228 per @eernstg 's suggestion.

[2018-04-23 12:46] vsmenon commented on #32947
fyi - @devoncarew

[2018-04-23 13:13] bwilkerson commented on #27788
As of https://dart-review.googlesource.com/c/sdk/+/52240, the first error now reads:
[code]
The rest are unchanged, but they seem fairly reasonable to me. Happy to iterate if this is still causing issues for people.

[2018-04-23 13:15] jakobr-google commented on #32946
Are you sure this is the same issue? The VM seems to handle `core.dynamic` just fine, *except* when it's used like this in a generic method call.

[2018-04-23 13:43] jakobr-google commented on #32946
As long as we can get the example above to either work, or explain why it's wrong and produce consistent errors across the tools, I don't really care which issue tracks it. :)

I was under the impression that #32228 tracked getting DDC to understand that `dynamic` is exported from `dart:core`, but I may be mistaken.

[2018-04-23 13:44] jakobr-google commented on #32946
(or was it dart2js? I forget, sorry.)

[2018-04-23 13:47] eernstg commented on #32946
There's #32227 for the analyzer (which presumably covers DDC as well) and #32228 for the CFE, and this one for the parse error (presumably in the CFE).

[2018-04-23 15:27] a-siva commented on #32944
/cc zra@

[2018-04-23 15:52] lrhn commented on #24205
See also #1878.
We should extend the formats recognized by `DateTime.parse`.
Accepting more formats does come with a cost, since all the necessary code will be included when you use the function, even if you only use a single simple format.

[2018-04-23 16:51] #32927 closed

[2018-04-23 17:39] kmillikin commented on #29883
I think doing better on this is on our radar for all kinds of reasons, and we don't need to have a specific issue to track it.

[2018-04-23 17:39] #29883 closed

[2018-04-23 17:52] stereotype441 commented on #25861
This was fixed sometime in the last two years.

[2018-04-23 17:52] #25861 closed

[2018-04-23 18:00] rakudrama commented on #27323
dart2js will implement this only for --strong mode.

@johnniwinther I think we are being too aggressive in optimizing out function type parameters.
Consider the following. It prints the type parameters via noSuchMethod, but only if we create an instance of class D. With the last line (HERE) commented out, it fails as described.

Could you take a look?

[code]

[2018-04-23 20:46] nex3 opened #32950 "Isolate.spawnUri() ignores packageConfig argument in Dart 2 mode"
`Isolate.spawnUri()` seems to completely ignore the `packageConfig` argument in Dart 2 mode, instead always using the automatic package resolution behavior of looking for a `.packages` file in the same directory as the entrypoint or in any of its parent directories. To reproduce:

[code]

[code]

In Dart 1 mode, this prints the current working directory as expected. In Dart 2 mode, it produces thi

[2018-04-23 20:47] nex3 commented on #32188
When I disable running from snapshots in Dart 2, it looks like `Isolate.spawnUri()` isn't working properly. I've filed https://github.com/dart-lang/sdk/issues/32950 to track the SDK issue.

[2018-04-23 21:02] dgrove commented on #32950
@a-siva can you find someone to look at this?

[2018-04-23 21:14] FlutterIssues opened #32951 "Flutter packages export dart:async entities"
_From @DaveShuckerow on March 27, 2017 17:8_

I noticed that package:flutter_test reexports Future from dart:async.  In client code, this can lead to the Dart analyzer importing package:flutter_test in non-test code because the code uses Futures.  It can also lead to client code importing Future redundantly if it imports package:flutter_test and then uses some other dart:async class and imports th

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @Hixie on March 28, 2017 0:36_

Can you elaborate on "lead to the Dart analyzer importing package:flutter_test in non-test code because the code uses Futures"?

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @Hixie on March 28, 2017 0:37_

I don't understand why this would affect non-test code. Unless you import flutter_test, what flutter_test exports shouldn't affect you.

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @DaveShuckerow on March 28, 2017 16:15_

Sure.  Suppose I have the following file in non-test code:

[code]

The Analyzer will detect that Future hasn't been imported yet and it will suggest a fix: `import 'package:flutter_test/flutter_test.dart';` as the default suggestion.  This import is not desirable for keeping test imports out of production code.

This is with the g3 build of the Dart

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @Hixie on March 28, 2017 23:22_

That seems like a bug in the analyzer. It should suggest dart:async, not flutter_test.

We want to reexport Future because otherwise every test will require at least three imports and requiring two is already pretty bad.

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @eseidelGoogle on March 29, 2017 16:18_

FYI @danrubel re: analyzer comment above.

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @danrubel on March 29, 2017 16:39_

@Hixie based upon your last comment, is it that we should be suggesting different fixes in different situations?
* tests --> `package:flutter_test/flutter_test.dart`
* non-tests --> `dart:async`

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @abarth on March 29, 2017 16:41_

I would expect Future to always cause `dart:async` to be imported.

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @danrubel on March 29, 2017 16:52_

/cc @scheglov

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @Hixie on March 30, 2017 5:0_

I would expect the analyzer to suggest dart:async always, for Future. In general I don't think reexports should be suggested. I mean, it's like if you use `@protected`. Even though in general I would recommend importing that through flutter/foundation if you're using flutter, I don't see how the analyzer could possibly know that, and it should suggest the origi

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @devoncarew on April 7, 2017 18:29_

Exports can be tricky. I see that `Card` is defined in `package:flutter/src/material/card.dart`, so the analysis server would likely suggest that as the import to use, even though a user might choose to write code like `package:flutter/material.dart`.

The `Future` import from `dart:async` seems like a common issue however - you do always want to import i

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @devoncarew on April 7, 2017 18:36_

Filed an sdk issue: https://github.com/dart-lang/sdk/issues/29303

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @abarth on April 7, 2017 18:37_

The analyzer already knows the convention that `src` is a private directory.  I would suggest importing it from the public library closest to the definition on the exports chain.

[2018-04-23 21:14] FlutterIssues commented on #32951
_From @DaveShuckerow on April 7, 2017 20:14_

I think there's another interesting case of this within the Flutter library.

Suppose we wanted to import LayoutBuilder and we haven't imported either package:flutter/material.dart or package:flutter/widgets.dart.  The builder is originally defined in widgets.dart, but in an app that uses material, we'd like to actually use the re-export.

This desired

[2018-04-23 21:18] MichaelRFairhurst opened #32952 "package:front_end imports unpublishable package:testing"
Probably the testing files inside front_end should be changed to another unpublishable package, like front_end_testing.

Causes analysis issues elsewhere that source files in package:front_end reference a nonexist package (outside of the sdk repo).

[2018-04-23 21:45] MichaelRFairhurst commented on #32952
Just to be clear, the problems are kinda twofold:

* package:testing is not listed in even the dev_dependencies of package:front_end even though its used
* package:testing is imported & used inside sources (not just tests) even though it should be considered at best a dev dependency

The analysis issues are in g3, though if anyone were to navigate in their IDE to package:front_end they may start s

[2018-04-23 22:42] devoncarew commented on #32947
/cc @scheglov

[2018-04-23 22:43] #32936 closed

[2018-04-23 23:03] natebosch opened #32953 "Make it cheaper to spawn isolates with overlapping code to the current isolate"
If we are spawning isolate which will include imports to the same libraries that are already loaded in the VM it would be nice to not pay the cost all over again to parse the Dart source.

This will be especially useful for `package:test` where we spawn an Isolate for each VM test we run.

cc @mraleph

[2018-04-23 23:11] StokeMasterJack commented on #24436
I think this syntax may be deprecated. It doesn't seem to work for me.

[2018-04-23 23:36] munificent commented on #29922
I think we did an OK job on runtime errors (you might be surprised how much substantive test changes were made), but we knew there would be a lot of mistakes slipping through the cracks.

Thank you for continuing to fix the tests!

[2018-04-23 23:52] mraleph commented on #32953
Currently when creating new isolates we transparently parse Dart source code into Kernel using DFE isolate - without sharing or preserving any state between compilation requests.

@jensjoha work on Flutter test setup shows that significant performance improvement can be achieved by preserving the state between compilation requests.

I wonder if we can make it work for `package:test` too - maybe we

[2018-04-23 23:54] mraleph commented on #24436
@StokeMasterJack yes, the generalized tear off syntax was deprecated and removed from the Dart language.

[2018-04-24 00:16] natebosch commented on #23067
Do the proposals in https://github.com/dart-lang/sdk/issues/32726 make this any easier?

Other than the phrasing, are there any other technical blockers to allowing deprecated on an `export`?

[2018-04-24 02:36] scheglov commented on #32947
We oscillated between enabling and disabling this feature and ended up with disabling it, because we are not sure what the state of runtime is/will-be.

https://dart-review.googlesource.com/c/sdk/+/49280

[2018-04-24 02:43] rakudrama opened #32954 "dart2js: Simple --strong optimization for static methods"
Static methods only need to check the arguments when called from a dynamic closure call site.
Checks are always inserted at direct call sites.
So if a static method has no tear-off, then it needs no argument checks.

This will apply to static methods and constructor factory functions.
Constructor body functions should be checked by the inlined factory constructor.

[2018-04-24 03:05] fuzzybinary opened #32955 "Support calling static members and constructors from generic methods when mixins are used"
It would be useful to be able to call static members and constructors within a generic method, given that method specifies the mixin as a constraint.

For example - having a simple generic factory:

[code]

This is the simplest example but it opens up a lot of possibilities.

[2018-04-24 03:08] fuzzybinary commented on #32955
Should have searched. Closing this a dup of #30074

[2018-04-24 03:08] #32955 closed

[2018-04-24 04:42] rakudrama opened #32956 "js_runtime: clean up _SyncStarIterator after removing legacy mode"

[2018-04-24 06:07] jeffrychristian93 opened #32957 "Error when open dart angular project"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-181.4445.78`
- `2.0.0-dev.49.0`
- `IU-181.4445.78, JRE 1.8.0_152-release-1136-b27x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1536x864`

# Exception

Please append the contents of:
file://C:\Users\JEFFRY~1\AppData\Local\Temp\report.txt

[code]

[2018-04-24 08:01] DanTup commented on #32702
So, I fixed it! It turned out to be fairly simple - I'd used tildes `~` in my `PATH`, and they resolved fine in the terminal but not inside Python, which is why it culdn't find `vpython`. Doh.

[2018-04-24 08:01] #32702 closed

[2018-04-24 10:54] sgrekhov opened #32958 "Dart VM subtyping issue"
Consider the following code
[code]
This code produces an error in dartanalyzer  --strong and --preview-dart-2 modes and no issue in VM

Expected: a compile error in Dart VM

Dart VM version: 2.0.0-dev.49.0 (Wed Apr 18 20:41:36 2018 +0200) on "windows_x64"

[2018-04-24 11:45] DanTup commented on #32678
@bwilkerson I've got `gclient sync` working properly now, happy to look at this if you can give some pointers for where the code/tests should be (or how I find it).

[2018-04-24 12:05] DanTup commented on #32677
I've opened https://dart-review.googlesource.com/c/sdk/+/52442 to get things started.

[2018-04-24 15:27] bwilkerson commented on #32678
The implementation of the refactoring is here: `sdk/pkg/analysis_server/lib/src/services/refactoring/extract_method.dart`.

There are two possible places for tests, but this one looks like the best: `sdk/pkg/analysis_server/test/services/refactoring/extract_method_test.dart`.

(I found them by searching for class names starting with `ExtractMethod`.)

[2018-04-24 15:37] vsmenon commented on #32946
Not clear that this is different from #32228 - fyi @kmillikin .

[2018-04-24 15:40] vsmenon commented on #32951
@devoncarew - is this still an open or a dup of #29303 (which you mention above and is closed now)?

[2018-04-24 15:45] lexaknyazev opened #32959 "Improve API docs for List.of, List.from"
_Forking this from https://github.com/dart-lang/site-www/issues/736._

Current API descriptions for `List.from` and `List.of` aren't sound enough to get the semantic difference between them and their expected use-cases. Please see the discussion starting from [this comment](https://github.com/dart-lang/site-www/issues/736#issuecomment-383255928).

/cc @munificent

[2018-04-24 15:47] agrosner commented on #30347
Semicolons are really just noise. If you need to write something like:
[code]
then there is something else wrong than just needing semicolons.

IDE can warn you in instances where you might get tripped up, but overall, removing semicolons is much cleaner. Coming from Kotlin, swift, JS, I keep forgetting to put in `;` which is annoying and requires a little bit more of thought.

I mean the examples

[2018-04-24 16:05] lrhn commented on #32953
The way `spawn` and `spawnUri` have so far been defined (but not necessarily implemented), the `spawn` function must run exactly the same code as the spawning isolate. It's an error to re-load/fetch any source if that allows it to change.

For `spawnUri`, there is no such requirement, and fetching the source again is allowed, but not required. You can do all the caching you would want. It's somewh

[2018-04-24 16:07] kmillikin commented on #32087
What does `dart:async/zone.dart` mean?

Right now only libraries have an import URI in Kernel.

Conceivably this should be fixed in the VM by recognizing `dart:` libraries from their import URI and maintaining whatever mapping from file URI to import URI you want.

[2018-04-24 16:12] lrhn commented on #23067
You *can* put `@deprecated` on an export, the language allows it. The only issue here is which message the analyzer will show, and when.

[2018-04-24 17:01] mraleph commented on #32953
@lrhn currently VM completely discards CFE state between URI loading requests because it has no way of knowing whether there will ever be another URI loading request that might benefit from the cached state - and discarding the state frees significant chunk of memory. So the change we could do to `spawnUri` is to add a way to hint to the VM that it should not discard the state - because another re

[2018-04-24 17:02] matanlurey commented on #32953
My understanding is we want to _remove_ having to understand compilation pipelines from `package:test`, not further complicate it :) ... I think @natebosch has considered supporting the CFE as part of the build system, WDUT?

[2018-04-24 17:09] devoncarew commented on #32951
I believe a dup of https://github.com/dart-lang/sdk/issues/29303.

[2018-04-24 17:09] #32951 closed

[2018-04-24 17:31] #17552 closed

[2018-04-24 17:31] mraleph commented on #17552
This is stale - the reproduction does not yield deoptimizations anymore.

[2018-04-24 17:36] mraleph commented on #22957
Class `UnixDomainAddress` does not exist in SDK. There are no reproduction instructions so I am closing this assuming it is stale.

[2018-04-24 17:36] #22957 closed

[2018-04-24 17:38] mraleph commented on #25630
I assume that this issue is stale and was already fixed.

[2018-04-24 17:38] #25630 closed

[2018-04-24 17:39] mraleph commented on #26869
@rmacnak-google do you expect to work on this? Maybe `Skip` affected tests and close this issue.

[2018-04-24 17:41] natebosch commented on #32953
we might not be able to get away from having an understanding of the CFE from within package:test

Running VM tests is explicitly depending on running from source. Paying the parsing costs for _every_ test file is going to be a terrible experience for our users. We'd either need to make everyone go through `build_runner` to run tests, or teach the test package about the CFE.

Based on my understan

[2018-04-24 17:41] mraleph commented on #26513
I am assuming that this issue is stale. This is not really a VM issue to begin with.

[2018-04-24 17:41] #26513 closed

[2018-04-24 17:43] mraleph commented on #26476
I assume that we are not seeing this anymore. If we still see them please reopen and we should investigate.

[2018-04-24 17:43] #26476 closed

[2018-04-24 17:44] mraleph commented on #27588
I think this was fixed by moving kernel binary data into the heap. Please reopen if it is still an issue.

[2018-04-24 17:44] #27588 closed

[2018-04-24 17:46] mraleph commented on #27581
This does not look like something we are going to implement any time soon. Closing as stale.

@rmacnak-google please reopen if we think this is needed.

[2018-04-24 17:46] #27581 closed

[2018-04-24 18:02] mraleph commented on #27571
Currently you get this compile time message for the snippet in the first comment:

[code]

Dynamic invocation would still produce the old message.

If you think that it is still confusing please reopen - but it seems this issue is stale because nothing has happened for two years.

[2018-04-24 18:02] #27571 closed

[2018-04-24 18:03] mraleph commented on #27505
@zanderso do you want to reland the change? If not - please close the issue.

[2018-04-24 18:08] mraleph commented on #27236
VM parser is deprecated. No need for this issue.

[2018-04-24 18:08] #27236 closed

[2018-04-24 18:09] mraleph commented on #27076
Assuming that this is stale because no work has been happening or slated to happen.

[2018-04-24 18:09] #27076 closed

[2018-04-24 18:10] mraleph commented on #27003
@rmacnak-google Is this fixed? Consider closing.

[2018-04-24 18:14] mraleph commented on #27441
I am assuming that this bug is stale - can't find any reference to it in the status files. Please reopen it if you think it should be kept open.

[2018-04-24 18:14] #27441 closed

[2018-04-24 18:15] kmillikin commented on #31545
Let's do this to get unblocked: add a header metadata field that tools can write anything they want into.  We can make it variable-sized eventually, but for now let's make it a fixed-size (1 byte).  It'll be easy to skip, and easy to sniff.

Since the Dart team currently controls all the tools and transformations, we can use it however we want.  I'll create a doc somewhere we we can record the way

[2018-04-24 18:15] mraleph commented on #28451
This has been open for 1 year with no progress. Assuming stale. Please reopen if the issue is still present.

[2018-04-24 18:15] #28451 closed

[2018-04-24 18:20] leafpetersen opened #32960 "Resolve config specific imports for Dart 2"
Config specific imports are only partially supported by Dart tools (notably the build tools).  There are some limited existing uses of config specific imports, mostly for testing purposes.  There are possibly planned uses in the future for Dart SASS.

This issue is for discussion of possible short term resolutions for Dart 2 to avoid shipping something that we will later regret.  Options on the ta

[2018-04-24 18:24] kmillikin commented on #31900
This test seems to pass in this configuration.  I'll re-enable it.

[2018-04-24 18:27] mraleph commented on #28182
This test is still skipped in the status files. Should somebody look at this @a-siva ?

[2018-04-24 18:29] mraleph commented on #28192
This test has been marked as `Pass, Crash` since 2016. We need to either skip it - or investigate the flakes.

[2018-04-24 18:30] mhausner commented on #27571
I would like the error message to also remind me to put on sunscreen if necessary. But now that Dart is compiled ahead of time, you'd have to predict the weather at runtime.

[2018-04-24 19:25] zanderso commented on #27505
Sure let's try it: https://dart-review.googlesource.com/c/sdk/+/52520

[2018-04-24 19:26] mraleph commented on #28215
@a-siva do you think we are going to do something in this area?

[2018-04-24 19:31] leafpetersen commented on #32960
Summarizing some discussion so far from elsewhere:

  - Dart currently assumes that platform defines may only be available at runtime
  - In order to do modular compilation with config specific imports, we need to know the platform defines
    - Unless we define an interface conformance check so that we can compile against default interfaces, which isn't happening any time soon

So questions I hav

[2018-04-24 19:38] mraleph commented on #28245
Moving this into Dart VM Health project.

[2018-04-24 19:39] mraleph commented on #28254
Should we delete the test and close this issue?

[2018-04-24 19:40] mraleph commented on #28257
Assuming stale. The test was not suppressed and does not seem to be currently failing. Please reopen if it occurs again.

[2018-04-24 19:40] #28257 closed

[2018-04-24 19:41] mraleph commented on #28263
I think this issue has lost it's original meaning. Closing as stale.

[2018-04-24 19:41] #28263 closed

[2018-04-24 19:41] mraleph commented on #28264
@aam I think vm tests are running. Please reopen if this is not the case.

[2018-04-24 19:41] #28264 closed

[2018-04-24 19:43] mraleph commented on #28496
Nothing is happening in this area, AFAIK. Assuming stale.

[2018-04-24 19:43] #28496 closed

[2018-04-24 19:46] mraleph commented on #28056
Request for clarification: I thought we are deprecating the core snapshots - and instead use Kernel as a replacement? or are we planning to still support the snapshotting but only use it for core libraries?

[2018-04-24 19:47] kmillikin commented on #32847
In the `if` case there are two returns, one of a `List<dynamic>` and one of an `Iterable<int>`.  The LUB of these is `Object` which is not a subtype of the return expectation `Iterable<T>` for any `T` so the inference algorithm tries to use the return type expectation.

That expectation is `Iterable<UnknownType>` so we should use the greatest closure of that (I guess?  @leafpetersen).

Proposed fi

[2018-04-24 19:48] mraleph commented on #28088
I am closing this issue as not actionable. We are in progress of switching irrespective of current performance characteristics - which means we deemed the performance acceptable.

[2018-04-24 19:48] #28088 closed

[2018-04-24 19:49] mraleph commented on #28089
Flutter has been switched to the Dart 2 pipeline.

[2018-04-24 19:49] #28089 closed

[2018-04-24 19:50] mraleph commented on #28090
Flutter has been switched to the Dart 2 pipeline, which means we deemed the performance acceptable. The work to improve hot reload and cold start times will continue but this issue is behind us now.

[2018-04-24 19:50] #28090 closed

[2018-04-24 19:54] mraleph commented on #28595
@floitschG @alexmarkov @crelier Is there anything left on the VM side regarding this issue?

If not - I am going to remove area-vm label.

[2018-04-24 20:36] mraleph commented on #28922
I don't think we need this functionality at the moment. Closing this assuming it is stale.

[2018-04-24 20:36] #28922 closed

[2018-04-24 20:37] mraleph commented on #28890
Assuming this is stale.

[2018-04-24 20:37] #28890 closed

[2018-04-24 20:39] mraleph commented on #28441
Assuming stale. Please reopen if still relevant.

[2018-04-24 20:39] #28441 closed

[2018-04-24 20:51] nex3 commented on #32960
I have an in-progress document that defines semantics for interface conformance that's more thorough than the sketch that's in the original proposal, and that I hope will be easier to implement as well. If there's interest, I could flesh that out and send it around.

Dart Sass needs to be able to target three platforms with the same codebase: the Dart VM, Node, and browsers. Right now, we look at

[2018-04-24 20:53] crelier commented on #28595
I cannot think of anything left. The corresponding flutter tracking bug is closed and I think we can close this one as well. I will let @floitschG and @alexmarkov comment.

[2018-04-24 21:15] munificent opened #32961 "Please roll dart_style 1.0.12 into the SDK"
It contains very few actual formatting changes, so it should be safe to drop in. The latest release:

* Fixes a runtime error when dart_style is itself run in Dart 2.
* Force splitting an empty block as the then body of an if with an else.
* Uses the new lowercase Dart 2 constant names.

(It would be good to mention those in the CHANGELOG when you bring it in.)

Thanks for rolling this in!

[2018-04-24 21:25] mraleph commented on #27414
I am assuming this issue is stale. Please reopen if more work need to happen in this area.

[2018-04-24 21:27] mraleph commented on #27106
Assuming this is stale.

[2018-04-24 21:27] #27106 closed

[2018-04-24 21:27] mraleph commented on #27000
VM parser is deprecated. Nothing to do here.

[2018-04-24 21:27] #27000 closed

[2018-04-24 21:29] sigmundch commented on #32960
It comes down to the modularity points you made earlier: without conformance, build systems don't have a clear design:
  * they could create build artifacts for different configurations, but that doesn't scale when combining configurations from dependencies (configuration explosion); or
  * they could otherwise store configuration-specific information on each build artifact and validate consistenc

[2018-04-24 21:30] #26180 closed

[2018-04-24 21:31] mraleph commented on #26057
@zanderso is there something still to be done here?

Closing this as stale, but please reopen if something still needs to happen.

[2018-04-24 21:32] mraleph commented on #25496
Closing as stale. VM parser is deprecated.

[2018-04-24 21:32] #25496 closed

[2018-04-24 21:37] rakudrama commented on #26998
dart2js's parser is deprecated.
When implemented, &&= will be implemented via the common front end.

[2018-04-24 21:37] #26998 closed

[2018-04-24 21:46] kmillikin commented on #32050
This is a consequence of how the Shadow nodes are designed.  Some of them have a complicated Kernel desugaring and they also have "false children" for convenience that appear as if they were direct children of the Shadow node but are really pointing somewhere in the middle of the desugaring.

It's not completely safe to use any of these false children after inferring their type, because type infer

[2018-04-24 22:01] kevmoo commented on #32900
Fixed in https://github.com/dart-lang/sdk/commit/6d5e8e8f8790881ed0009383ec34489304a4f9d8

[2018-04-24 22:01] #32900 closed

[2018-04-24 22:03] kevmoo commented on #32593
Now closed...

[2018-04-24 22:12] mraleph commented on #25532
Closing as stale. No work is currently happening on this issue and no work is scheduled.

[2018-04-24 22:12] #25532 closed

[2018-04-24 22:13] mraleph commented on #25370
Closing as stale. Please reopen if it still matters.

[2018-04-24 22:13] #25370 closed

[2018-04-24 22:14] leafpetersen commented on #32960
@zanderso @nex3 Presumably this covers both of your existing use cases?

@vsmenon Had one similar/alternative suggestion, which is that we could provide a way to redirect `dart:foo` libraries.  So `dart:html` points to the real `dart:html` on some platforms and to an either platform defined or possibly even user defined shim library on others.   Would this cover existing use cases?

[2018-04-24 22:15] mraleph commented on #25256
Assuming stale. Please reopen if it still matters.

[2018-04-24 22:15] #25256 closed

[2018-04-24 22:15] leafpetersen commented on #32960
cc @grouma for comment on how much work it would be for the build system to support:
  - locked down per platform configurations
  - threading arbitrary build configurations through

[2018-04-24 22:16] mraleph commented on #25079
This issue seems stale. No work has happened in this area for 2 years. Closing this - please reopen if it still matters to you.

[2018-04-24 22:16] #25079 closed

[2018-04-24 22:17] mraleph commented on #25224
The issue seems stale. Please reopen if it still matters to you.

[2018-04-24 22:17] #25224 closed

[2018-04-24 22:18] mraleph commented on #25075
The issue seems stale.

[2018-04-24 22:18] #25075 closed

[2018-04-24 22:18] leafpetersen commented on #32960
I'm personally quite interested in doing something around this at some point, but there's no way we can get it for Dart 2, and seems unlikely for the next release or two.  But I'd definitely be happy to see work done on this to work towards some future release.

[2018-04-24 22:19] mraleph commented on #24953
Does not seem to be actionable. Closing it as stale.

[2018-04-24 22:19] #24953 closed

[2018-04-24 22:23] rakudrama opened #32962 "dart2 prints error messages twice"
--- bug1a2c.dart ---
[code]

[code]

The messages are not very helpful - perhaps the parser should recognize and treat `&&=` like an assignment operator even if &&= is not implemented.
I find `Getter not found: ''` especially confusing.

[2018-04-24 22:29] stereotype441 opened #32963 "Need to decide which front end token classes should be exported from the analyzer."
Commit dc21d3ce9d30b3d767754f038b1428a9820eb283 exports the classes SyntheticBeginToken and SyntheticToken from `pkg/analyzer/lib/src/dart/ast/token.dart` so that they can be used by the angular analyzer plugin (see https://github.com/dart-lang/angular_analyzer_plugin/pull/559).  In the short term this is necessary to fix a bug in angular analyzer code completion.

In the long term, we should talk

[2018-04-24 22:33] alexmarkov commented on #28595
VM and Flutter switched to use limited 64-bit integers long ago, so I think we can close this issue.

[2018-04-24 22:39] mraleph commented on #28595
I think the missing chunk of work is migrating users like dart2js and DDC to use `BigInt` explicitly where necessary. Closing this one.

[2018-04-24 22:39] #28595 closed

[2018-04-24 22:39] #21118 closed

[2018-04-24 22:42] leafpetersen commented on #32847
Oy,  Dart "least" upper bound.  Here's a sketch of what I think should be happening:

There are two pieces of "state" associated with block body function inference:
  - The downwards context `K`
  - The (optional) inferred return type `M`

`K` is taken from the context of occurrence (empty if not present)
`M` is initially empty

For each return statement `return e1`, where inferring `e1` in contex

[2018-04-24 22:46] leafpetersen commented on #32960
This reminds me of the other question: @nex3 for Dart SASS do you need to ship a package that relies on this feature, or do you just need this for building Dart SASS itself?  That is, if we move this behind a flag, will we need to worry about end users having to set the flag in order to use important packages, or can we firewall this into code used to build tools?

[2018-04-24 22:47] vsmenon opened #32964 "DDC should do const evaluation with double arithmetic"
For the following:

[code]

DDC prints:
[code]

It should do double arithmetic in both cases.

[2018-04-24 22:48] vsmenon commented on #32964
@jmesserly (fyi @mraleph ) I thought we had a bug filed for this, but cannot seem to find it.

[2018-04-24 22:49] bwilkerson commented on #32963
@kmillikin @peter-ahe-google

[2018-04-24 22:52] sigmundch commented on #32810
@rakudrama I wonder if we can close this now (is https://github.com/dart-lang/sdk/commit/bcc5e6ed42dba676dad66c0182bea58e3b2ad7cb the entire fix, or is there more to follow up here?)

[2018-04-24 22:53] mraleph commented on #19304
This seems stale.

[2018-04-24 22:53] #19304 closed

[2018-04-24 22:54] mraleph commented on #18854
I am assuming that this is stale.

[2018-04-24 22:55] mraleph commented on #18854
There is still a comment in the code that references this issue.

[2018-04-24 22:59] jmesserly commented on #32964
On DDK they both print 18446744073709552000 (which is the result I get in a JS console).

Easy fix here, back out of the const evaluation optimization in DDC's Analyzer backend

[2018-04-24 23:02] mraleph commented on #28048
Given that we shipped Dart 2 CFE based pipeline to Flutter this issue should probably be closed. What do you think @a-siva?

[2018-04-24 23:02] alorenzen opened #32965 "Analyzer crashing externally on angular repo"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IC-173.4301.25`
- `2.0.0-dev.49.0`
- `IC-173.4301.25, JRE 1.8.0_152-release-1024-b11x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.3 unknown, screens 1440x900  Retina`

# Exception

Please append the contents of:
file:///private/var/folders/ls/1jj80hm96sb7j_wjh2tb2bnm005b3f/T/report1.txt

[code]

[code]

[2018-04-24 23:03] mraleph commented on #18850
Assuming this is stale.

[2018-04-24 23:03] #18850 closed

[2018-04-24 23:11] bwilkerson commented on #32965
@scheglov

[2018-04-24 23:15] nex3 commented on #32960
This is pretty similar to my original proposal years ago, which was to provide stub libraries that just throw (like we currently do for `dart:io`). I like the idea in general, but I'm worried that getting a good design in place and implemented by Dart 2 is infeasible.

The `sass` package on pub.dartlang.org does use configuration-specific imports; they aren't just build-time, because there's no bu

[2018-04-24 23:15] a-siva commented on #28048
There are 2 issues in this list that are still open and can be tracked over there

 #28655 Kernel-based VM snapshot size will increase by 4-5x
 #28088 Performance of command line dart running dart programs is acceptable

Closing this issue.

[2018-04-24 23:15] #28048 closed

[2018-04-24 23:18] grouma commented on #32960
Discussed offline with Leaf to provide some context of the current platform support which is related to config specific imports.

Some notes:
- In our build rules we have the concept of platforms: https://github.com/dart-lang/rules_dart/blob/master/dart/build_rules/common/context.bzl#L55
- Currently this is used only internally to ensure compatible platforms between dart libraries
- In the near fu

[2018-04-24 23:34] MichaelRFairhurst opened #32966 "More context in stack overflow exception traces"
Debugging stack overflows is really annoying.

Since it only gives you the last 10 frames and the first 10 frames, debugging them sucks if you
* have a larger than 10 frame infinite loop
* have a larger than 10 frame setup process into the infinite loop

Take for example:

[code]

I have a half decent idea how this could have caused a loop based on the 10 frames I see, but I'm still kinda scratchi

[2018-04-24 23:44] rakudrama opened #32967 "fasta: excessive errors with missing sync*"
[code]
If you leave out the `sync*` you get eleven errors

[code]

[2018-04-24 23:56] mraleph commented on #14350
I am assuming this is stale. Please reopen if it is not.

[2018-04-24 23:57] mraleph commented on #14202
The error will be coming from CFE now. Closing this.

[2018-04-24 23:57] #14202 closed

[2018-04-24 23:58] #14350 closed

[2018-04-25 00:01] mraleph commented on #17254
Seems stale.

[2018-04-25 00:01] #17254 closed

[2018-04-25 00:03] mraleph commented on #17869
@rmacnak-google do you think you will work on this? If not consider closing as stale. If it did not happen in 4 years it is unlikely to happen any time soon.

[2018-04-25 00:05] mraleph commented on #17697
This seems stale. Nothing has happened for many years.

[2018-04-25 00:05] #17697 closed

[2018-04-25 00:06] mraleph commented on #15728
This is stale.

[2018-04-25 00:06] #15728 closed

[2018-04-25 00:06] mraleph commented on #15482
Seems stale to me.

[2018-04-25 00:06] #15482 closed

[2018-04-25 00:09] mraleph commented on #14705
The test is still skipped in the status files. Do you think we should investigate?

[2018-04-25 00:10] Hixie commented on #27571
I can't reopen (I am not a member of the Dart organisation, I guess), but FWIW, I think it's very confusing for the message to mention "call".

The more useful we make the error messages the better the experience. I think it is perfectly reasonable for us to try to get the messages to be as useful as suggested in https://github.com/dart-lang/sdk/issues/27571#issuecomment-254963638 above.

[2018-04-25 00:10] mraleph commented on #18464
Assuming this is stale.

[2018-04-25 00:10] #18464 closed

[2018-04-25 00:11] mraleph commented on #20743
This seems stale.

[2018-04-25 00:11] #20743 closed

[2018-04-25 00:12] mraleph commented on #20423
This seems stale. Nothing has happened for many years.

[2018-04-25 00:12] #20423 closed

[2018-04-25 00:13] mraleph commented on #19482
Seems stale - nothing has happened and nothing is planned to happen.

[2018-04-25 00:13] #19482 closed

[2018-04-25 00:27] mraleph commented on #18781
@rmacnak-google Is this still an issue or was this resolved?

[2018-04-25 00:46] bkonyi commented on #31713
Closing this for now due to lack of activity. Feel free to reopen if this is something we want to look into.

[2018-04-25 00:46] #31713 closed

[2018-04-25 00:47] #32940 closed

[2018-04-25 00:52] bkonyi commented on #32781
Seems to be passing now.

[2018-04-25 00:52] #32781 closed

[2018-04-25 01:16] kmillikin commented on #32847
It's interesting that you say that the greatest closure is `Iterable<Object>`.  There's this comment here that indicates it is:

https://github.com/dart-lang/sdk/blob/master/pkg/front_end/lib/src/fasta/type_inference/type_schema_elimination.dart#L13

And there's this code here that implements `Iterable<dynamic>`:

https://github.com/dart-lang/sdk/blob/master/pkg/front_end/lib/src/fasta/type_infere

[2018-04-25 01:29] tomyeh commented on #27414
No, the problem is still there. We're forced to restart the server if exceeding a limit. Please look at it. Thanks.

[2018-04-25 02:45] zanderso commented on #27505
This causes a crash in the FreeVirtualMemory unit test on the bots that needs some investigation:
[code]

[2018-04-25 03:04] matanlurey opened #32968 "Confused about conflicting_instance_getter_and_superclass_member"
[Edit Apr 27 2018 eernstg: This issue is now a request for implementation of #31201 on the analyzer, i.e., it should no more issue a diagnostic message when a class _C_ declares a setter/getter named _n_ and an accessible static member named _n_ is declared in a superclass of _C_.]

---

Apologies if this is pre-logged somewhere or I am missing something very trivial.

/cc @eernstg and @leafpeters

[2018-04-25 03:29] natebosch commented on #32960
I'm in favor of keeping support hidden behind a flag so that we can delay the decision on what the final feature will look like. I think it's plausible we can support the "platform" specific import idea, but I'd really like to have at least a prototype working in build_runner, bazel, and flutter, before we decide to ship it as a fully supported feature.

[2018-04-25 03:42] matanlurey commented on #32968
Further complicating this for me, is that `factory` method seem fine:

[code]

... which, with optional new, means this works, but `static A fromJson` doesn't. For some reason.

[2018-04-25 03:50] matanlurey commented on #32968
**EDIT**: I made some mistakes in my examples. It is all updated now.

[2018-04-25 04:02] mraleph commented on #27414
@zanderso is this something you might have free cycles to look into?

@tomyeh is the program from the first comment representative of the memory leak you are seeing?

[2018-04-25 04:02] sigmundch opened #32969 "dart2js strong: issue with subtyping checks on js-interop types"
repro:

[code]

This program prints `true` in legacy mode, but `false` in strong mode.

(example extracted from testing strong mode in customer apps)

[2018-04-25 04:05] matanlurey commented on #27489
Can this be closed @leafpetersen or is there more work planned?

[2018-04-25 04:06] matanlurey commented on #32969
/sub: What _is_ the expectation here?

Last time I checked this doesn't work for DDC at all (it causes weird/bad behavior).

/cc @jmesserly

[2018-04-25 04:09] matanlurey opened #32970 "Analyzer: Needs to be more clear when a plugin causes a crash"
Right now, if say, the AngularDart analyzer plugin causes a crash, it looks like the analysis server/analyzer is unstable. We need a way to be able to pinpoint that a plugin is the root cause, and help users disable if that is the case.

(I consider this a blocking issue for AngularDart v5-final)

[2018-04-25 04:25] dgrove commented on #7974
With dartium gone, obsolete.

[2018-04-25 04:25] #7974 closed

[2018-04-25 04:29] tomyeh commented on #27414
The program in the first comment is what we tried to reproduce with a simple case. The real program is of course much more complicated. Here is what we have done. Hope it helps.

1. We found memory leak in the production environment
2. We reproduced it with a stress test locally
3. Once tracking down, we suspected it was caused by WebSocket, so we ran the stress test again by turning off WebSocket

[2018-04-25 04:29] dgrove commented on #8814
--force-strip was removed long ago.

[2018-04-25 04:29] #8814 closed

[2018-04-25 04:30] dgrove commented on #8395
Obsolete.

[2018-04-25 04:30] #8395 closed

[2018-04-25 04:32] dgrove commented on #9166
Obsolete - dart2js sizes much smaller now.

[2018-04-25 04:32] #9166 closed

[2018-04-25 04:32] zanderso commented on #32960
To clarify a bit, the uses in Fuchsia are limited, but the alternatives to using them involve writing one or more new embeddings of the VM or doing a large refactoring of FIDL bindings generation.

The current implementation in the CFE is working great for the Fuchsia use-case.

I would like to hear more details about how this feature would work when under a flag. What would accept the flag, and w

[2018-04-25 04:35] dgrove commented on #11399
obsolete.

[2018-04-25 04:35] #11399 closed

[2018-04-25 04:37] dgrove commented on #11875
ie9 is no longer supported.

[2018-04-25 04:37] #11875 closed

[2018-04-25 04:38] dgrove commented on #12345
Android 2.3.3 browser no longer supported.

[2018-04-25 04:38] #12345 closed

[2018-04-25 05:13] dgrove commented on #13719
Dartium has been removed.

[2018-04-25 05:13] #13719 closed

[2018-04-25 07:24] DanTup commented on #19304
@mraleph Still happens in v2 dev48:

[code]

[2018-04-25 07:54] deckerst opened #32971 "Switch default case is ignored in mixin with Dart 2"
The following highlights an issue with the default case in a switch statement, depending on whether it is inside a mixin.

[code]

Logs from with Dart 1 & 2:
[code]

When running this with Dart 2, the default case in the mixin is skipped, so the expected log 'mixin WORKS' is missing.

* Dart SDK Version (`dart --version`)
Dart VM version: 2.0.0-dev.48.0.flutter-fe606f890b (Mon Apr 16 21:21:13 2018

[2018-04-25 09:22] sgrekhov opened #32972 "Excessive type parameter doesn't produce an error in VM"
[code]
The code above produces an error in analyzer in --strong and --preview-dart-2 modes (error - The type 'C' is declared with 0 type parameters, but 1 type arguments were given - new_with_invalid_type_parameters) and no issues in a VM

Expected: an error in VM

Dart VM version: 2.0.0-dev.49.0 (Wed Apr 18 20:41:36 2018 +0200) on "windows_x64"

[2018-04-25 09:56] Harsh18894 opened #32973 "Dart Analysis Server Issue"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA AI-173.4720617`
- `2.0.0-edge.3c4dccbd46f152be9e1b6ca95c57357e8e48057c`
- `AI-173.4720617, JRE 1.8.0_152-release-1024-b02x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1366x768`

# Exception

Please append the contents of:
file://C:\Users\HARSHD~1\AppData\Local\Temp\report.txt

[code]

[2018-04-25 12:06] johnniwinther commented on #32969
I thought we didn't support generic jsinterop classes. At runtime an `A<int>` will be a `A<dynamic>` (actually a `JavaScriptObject` which implements `A<dynamic>`)  which is not a subtype of `A<int>` in strong mode.

[2018-04-25 13:03] vsmenon commented on #32971
FYI - @kmillikin @a-siva .  The above repros for me with a VM built yesterday.  The example works fine in DDK, so I'm guessing it's a backend issue, not CFE.

Not positive though as DDK doesn't opt into kernel mixin lowering.

[2018-04-25 13:42] lejard-h commented on #32744
running into this today, works fine with ddc but not with dart2js

on 2.0.0-dev.49.0

[2018-04-25 13:54] mraleph commented on #32971
I'd guess that it's clone visitor again. From a brief look it does not clone `isDefault` flag:

https://github.com/dart-lang/sdk/blob/master/pkg/kernel/lib/clone.dart#L343-L358

[2018-04-25 14:07] vsmenon commented on #32971
Thanks - refiled on kernel.

[2018-04-25 14:31] mraleph commented on #32971
I'll fix it.

[2018-04-25 15:05] eernstg commented on #28513
Here's an attempt to summarize:
[code]
The main points are the following:

- For `void`, LUB makes the type contagious; e.g., `b ? print('Hello!') : Object()` is considered to be marked "Do not use!" because at least one of the branches is marked as such; in contrast, GLB makes `void` ephemeral; e.g., `b ? (void x) => 42 : (dynamic x) => x` gets type `dynamic Function(dynamic)` because we cannot t

[2018-04-25 15:16] HansMuller opened #32974 "Object.operator ==(other) doc should point out that other can not be null"
It would be helpful if the Dart [API docs section about overriding == ](https://docs.flutter.io/flutter/dart-core/Object/operator_equals.html)mentioned that the `other` parameter will never be null.

This is covered in section 16.23 of the language spec (thanks @cbracken!).

[2018-04-25 15:26] bwilkerson commented on #32970
I totally agree that server needs to be protected from problems in plugins.

Can you provide me with a little more detail? There is already code in analysis server to guard against failures in plugins, so knowing a specific case that isn't covered would be helpful.

[2018-04-25 15:44] askeksa-google opened #32975 "Missing error when directly calling field"
If a field or getter is called directly, and the field or getter is not of a callable type, the expression is silently accepted.

From `language_2/call_non_method_field_test`:
[code]

[2018-04-25 16:04] matanlurey commented on #32970
I believe @alorenzen might have some stack traces.

[2018-04-25 16:11] kevmoo commented on #32744
@terrylucas – can you take a look here?

[2018-04-25 16:35] leafpetersen commented on #32960
I think the proposal would be for a flag like the current `--super-mixins`.  That is, without passing `--config-specific-imports`, the syntax would be rejected, with the flag it would be accepted.  The flag would only be supported on the VM (and possibly native AOT) side.  So Fuschia would have to be set up to run both natively and in test mode with the flag enabled.  Presumably it would be easy t

[2018-04-25 16:39] matanlurey commented on #32970
@bwilkerson Here is one example https://github.com/dart-lang/sdk/issues/32965

It's not clear to me (or you?) that is due to the Angular analyzer plugin.

[2018-04-25 16:41] mraleph commented on #19304
@DanTup does it also fail if you run Dart VM with `--preview-dart-2`?

[2018-04-25 16:43] DanTup commented on #19304
Whoops, I forgot that wasn't default for the VM. Indeed, it's fine with that flag. Thanks!

[2018-04-25 16:49] mraleph commented on #19304
Thanks for checking. Marking this as fixed (it only took 4 years and a switch to a completely new parsing infrastructure :))

[2018-04-25 16:49] bwilkerson commented on #32970
Given that the angular plugin doesn't appear anywhere in the stack trace, I have no reason to suspect that it's causing or contributing to the problem.

[2018-04-25 17:00] zanderso commented on #32960
By "supported on the VM" do you mean "supported by the CFE when targeting the VM" ?

[2018-04-25 17:04] #31900 closed

[2018-04-25 17:31] kmillikin opened #32976 "Front-end errors are double reported by the VM"
Front-end errors from Fasta (e.g., the code in https://github.com/dart-lang/sdk/issues/32871) are double reported when run on the Dart VM.

This does not occur when using the Fasta tool or dart2js, so it seems like an issue in the VM's Fasta API or its use.

[2018-04-25 17:32] kmillikin commented on #32871
I filed a separate issue for the double error reporting.  A proposed fix for the missing source location is here: https://dart-review.googlesource.com/c/sdk/+/52641

[2018-04-25 17:38] #32847 closed

[2018-04-25 17:42] kmillikin commented on #32866
It seems like what we have implemented, except that as I noted above we don't handle initializing formals properly.

I'm going to lower the priority because I don't think this is affecting users in production, but bump it back up or let me know if it is affecting users.

[2018-04-25 17:49] mraleph commented on #27505
I uploaded a fixed version of the CL https://dart-review.googlesource.com/c/sdk/+/52642

[2018-04-25 18:12] a-siva commented on #32962
marking this as a duplicate of https://github.com/dart-lang/sdk/issues/32976

[2018-04-25 18:12] #32962 closed

[2018-04-25 18:13] jmesserly commented on #32929
Another example is currently unsupported features, like use of generic methods.

[2018-04-25 18:16] sigmundch commented on #32866
Re priority: this shows up when enabling strong-mode in dart2js for internal customers (that's how we discovered the issue), it happens on a couple targets only, though.

[2018-04-25 18:25] jmesserly commented on #32969
Yeah, it may happen to work. I don't know if JS interop really supports generic classes or if it's an accident of how things are implemented (the RTTI for JS interop classes completely ignores any type parameters/arguments).

FWIW, there's also no static checks in Analyzer to ensure `@JS` is used correctly:  https://github.com/dart-lang/sdk/issues/32929, and DDC has a lot of inconsistencies in how

[2018-04-25 18:29] leafpetersen commented on #32968
The second example doesn't reproduce, `implements` seems to work.  The first example emits an error on the analyzer but not on the CFE.

For the first example (with `extends`), it seems to me this should be allowed.  We explicitly allowed this for instance methods here: https://github.com/dart-lang/sdk/issues/31165 , and I don't immediately see why we would not want to allow it for other kinds of

[2018-04-25 18:59] filiph opened #32977 "Using `Function` in generics without `new` breaks things"
Consider this code:

[code]

This compiles and runs fine.

Now, remove the optional new keyword:

[code]

This doesn't show any static errors in the IDE (at least not in my case). But it does result in a compiler error (when trying to run a Flutter app):

[code]

* Dart SDK Version (`dart --version`)

Dart VM version: 2.0.0-dev.48.0.flutter-fe606f890b (Mon Apr 16 21:21:13 2018 +0000) on "macos_x64

[2018-04-25 19:01] jmesserly commented on #32295
@vsmenon -- I updated the description to include the black boxing issue with `dart.throw`

[2018-04-25 19:03] aam commented on #26626
`--trace-isolates` is only available in debug build of dart vm: https://github.com/dart-lang/sdk/blob/master/runtime/vm/flag_list.h#L169

[2018-04-25 19:16] matanlurey commented on #32302
@jmesserly any update here?

FWIW (and I +'d you on it) internal users are hitting a variant of these quite commonly:

[code]

In this instance, the error message they receive is:

[code]

It would really preferred here to, at minimum, highlight the implicit `<dynamic>`:

[code]

An even better error would show the discrepancy directly:

[code]

/cc @vsmenon

[2018-04-25 19:19] matanlurey commented on #32968
Ah apologies @leafpetersen I meant to say `extends` not `implements`. Updated.

[2018-04-25 19:25] matanlurey opened #32978 "Different inference with = null, = [null], = {1: null}"
Forked from an internal discussion between @MichaelRFairhurst and @jonahwilliams.

It looks like this infers `x` as `dynamic`:

[code]

But both of these infer `x` as `Null`:

[code]

Our guess is this is likely _never_ what the user intends, however. @leafpetersen - thoughts?

(@MichaelRFairhurst also brought up `var x = (() => null)();`)

[2018-04-25 19:25] matanlurey commented on #32978
To make it clear, **this is with DDC**, so it is possible the CFE is different.

[2018-04-25 19:26] jonahwilliams opened #32979 "Dart with --preview-dart-2 should not Infer Null as a type when null is used as a value."
The following code fails with a type error on --preview-dart-2

[code]
The error is

[code]
The type of the map is inferred to be Map<String, Null>, which isn't consistent with other useages of `null` as a value.  For example, this code x is inferred as `dynamic`.

[code]
In general, I don't think `Null` should be inferred as a type for collection literals, since 1) the resulting collection is pra

[2018-04-25 19:28] matanlurey commented on #32978
**EDIT**: Jonah clarified this occurs on the standalone VM with `--preview-dart2` as well.

[2018-04-25 19:28] jonahwilliams commented on #32978
This is also on the dart vm with --preview-dart-2.

[2018-04-25 19:31] matanlurey commented on #32978
To be fair, what about:

[code]

[2018-04-25 19:41] jonahwilliams commented on #32978
The issue is that to me, and probably a lot of other users, the value `null` is only loosely connected to the type `Null`.  Setting something to `null` says "this has no useful value right now".  Typing something as Null says "this will never have a useful value".  And in the case where it is not explicit, inferring the narrowest possible type doesn't seem to be useful.

[2018-04-25 19:45] jmesserly commented on #32302
@matanlurey -- the `<dynamic>` and `JSArray` will be fixed once my CL above lands.

I'll open another issue for the feature request of showing the discrepancy. It will take some new runtime machinery that we don't currently have available (not hard hard implement, just not something that currently exists in the runtime type system). But I like the idea. :)

[2018-04-25 19:50] bwilkerson commented on #27788
I had to revert the change because I had trouble figuring out how to update the status files to get the bots green. I have since figured it out and re-landed (https://dart-review.googlesource.com/c/sdk/+/52640).

[2018-04-25 19:50] #27788 closed

[2018-04-25 20:00] jmesserly opened #32980 "In runtime type errors, report the discrepancy in type arguments when possible"
Forked from https://github.com/dart-lang/sdk/issues/32302#issuecomment-384402710

Consider the following example:
[code]

It would be nice if we could report the mismatch somehow.

1. One idea is to report like this:
[code]
That's pretty straightforward to implement, essentially it's just an interface subtype operation with extra reporting.

2. Another idea is:
[code]
In other words, take it a ste

[2018-04-25 20:02] jmesserly commented on #32302
the other issue: https://github.com/dart-lang/sdk/issues/32980

[2018-04-25 20:24] #27489 closed

[2018-04-25 20:25] munificent commented on #27489
I get the joy of closing it! As far as I know, we're good here. We now have a surfeit of ways to re-type collections.

[2018-04-25 20:27] munificent commented on #32961
Friendly ping, @whesse @athomas. Flutter would like this fix soon if possible.

[2018-04-25 20:30] bwilkerson commented on #32977
@danrubel Is this a failure in the Fasta parser, or is it somewhere later?

[2018-04-25 20:37] aam commented on #26626
cc @rmacnak-google

[2018-04-25 20:44] matanlurey commented on #32980
Thanks @jmesserly.

To be honest, I'd prefer to be aligned with whatever the analyzer/CFE/VM is doing _more_ than having the perfect solution, but if they are back-logged or that is not possible then I am leaning 2 and 4 myself.

[2018-04-25 20:46] bkonyi opened #32981 "Support for 'Aspirational' Hot-Reload Cases"
The following tests are marked `SkipByDesign` as they test use cases for hot-reload that are not currently supported by the VM:
- [ ] cc/IsolateReload_PendingConstructorCall_AbstractToConcrete
- [ ] cc/IsolateReload_PendingConstructorCall_ConcreteToAbstract
- [ ] cc/IsolateReload_PendingStaticCall_DefinedToNSM
- [ ] cc/IsolateReload_PendingStaticCall_NSMToDefined
- [ ] cc/IsolateReload_PendingUnqu

[2018-04-25 20:49] bkonyi commented on #28198
Closing this issue as the functionality tested in these tests is not currently supported (see #32981).

[2018-04-25 20:49] #28198 closed

[2018-04-25 21:29] jmesserly commented on #32980
yeah, that was my first thought too. It would be nice to have consistently good messages in all implementations. I don't know if we have anyone coordinating that sort of thing right now, open to ideas.

@leafpetersen and I have thought about moving Dart's type system operations to a shared package.
That would make it easy to reuse the code, and for the language designers to conduct experiments. DD

[2018-04-25 21:39] #32050 closed

[2018-04-25 21:46] rmacnak-google commented on #32930
The VM only looks up the symbol <extension_name>_Init. This error means you did not link a definition of  'LibraryMethod' into your shared library.

[2018-04-25 21:46] #32930 closed

[2018-04-25 23:42] #27505 closed

[2018-04-25 23:56] #32971 closed

[2018-04-26 00:09] kevmoo commented on #32593
Closed in 94f45c8876 – thanks @natebosch !

[2018-04-26 00:09] #32593 closed

[2018-04-26 00:26] #30852 closed

[2018-04-26 00:42] jmesserly commented on #30908
Looked into this, the problem in DDC is setting up the classes, not anything to do with the LUB.

[code]
`C2<dynamic>` requires `C2<N<C2<dynamic>>>`, which requires `C2<N<C2<N<C2<dynamic>>>>>` etc.

VM with preview-dart-2 issues `error: illegal recursive type 'N<C2<N<C2<T>>>>'` (and a similar error for C1 in this example) but neither Analyzer/CFE issue the message.

The VM status file has the comm

[2018-04-26 00:50] #27587 closed

[2018-04-26 01:16] #32428 closed

[2018-04-26 02:40] tvolkert opened #32982 "Zone deadlock?"
Consider the following code:

[code]

By all accounts, it should print the following:

[code]

... yet it prints this:

[code]

... then hangs, eventually timing out after 1 minute.

Now, comment out the following line:

[code]

Voilas!  It prints:

[code]

[2018-04-26 02:47] tvolkert commented on #32982
This happens both with `--preview-dart-2` and without... and both with `--sync-async` and without.

[2018-04-26 02:48] mraleph commented on #32982
/cc @lrhn

[2018-04-26 05:48] a-siva commented on #32911
CL https://dart-review.googlesource.com/c/sdk/+/52740 out for review

sivalinuxmach[sdk]>out/ReleaseX64/dart --preview-dart-2 --snapshot=/tmp/hello.snapshot /tmp/hello.dart
sivalinuxmach[sdk]>out/ReleaseX64/dart /tmp/hello.snapshot
Hello World
sivalinuxmach[sdk]>

[2018-04-26 05:52] dgrove commented on #32850
@a-siva are you driving this?

[2018-04-26 06:14] a-siva commented on #32950
The packagesConfig option passed to spawnUri is not being passed to the front end, the CompilerOptions set up for the front end always uses Platform.packagesConfig and hence ends up using that. Will have to add an option in kernel_services.dart to accept a packagesConfig option and pass that in when creating the Compiler object.

[2018-04-26 06:57] johnniwinther commented on #32969
I prefer option 2: This is consistent with the current (Dart 1) behavior and the only scheme that we can consistently support at runtime. We should additionally warn about generic jsinterop types and maybe in time ban them.

[2018-04-26 07:06] floitschG commented on #32982
It's this with or without the_nullFuture CL? (See other thread). (On my
phone so can't look it up.)
If the null future is in the root zone this code probably won't finish. I
think it should finish with my CL.

On Thu, Apr 26, 2018, 05:48 Vyacheslav Egorov <notifications@github.com>
wrote:

[2018-04-26 07:52] eernstg commented on #32978
**tl;dr** We could lint mutable lists/maps with implicit type argument `Null` **rd;lt**

One case to keep in mind is this one:
[code]
where the default value `const []` cannot be a `List<T>` (because that is not a compile-time constant expression), but it can (and will) be a `List<Null>`. Being empty and immutable, it is not a problem that the list cannot contain anything else than `null` and we c

[2018-04-26 09:34] zoechi commented on #32974
Just a side-note: there is a linter rule for that http://dart-lang.github.io/linter/lints/avoid_null_checks_in_equality_operators.html

[2018-04-26 10:40] askeksa-google opened #32983 "Missing error on duplicated key in map literal"
Iff all keys in a map literal are compile-time constants, it is a compile-time error if two keys are equal.

Caught by `language_2/compile_time_constant_o_test`.

[2018-04-26 10:43] askeksa-google opened #32984 "Missing error on static vs. non-static setter/member"
It is a compile-time error if a class contains a static getter and a non-static member with matching name, or vice versa.

Caught by `language_2/bad_override_test`.

[2018-04-26 10:46] eernstg commented on #32968
This error was never very clearly motivated, and it has been removed from the language specification as of 1c4358d459c75a429dceae61ef8e948e43b8378c.

Issue #31201 is concerned with the implementation of that change. It's not obvious to me where you've noticed that it isn't yet implemented, but #31201 refers to sub-issues for the analyzer and for dart2js. Maybe we ought to add a sub-issue for the C

[2018-04-26 11:03] lrhn commented on #32982
You only flush microtasks once. That's not enough.
That happens immediately, synchronously, after calling the async function.
Async functions run their initial synchronous part when you call them, so the order of execution is:
[code]
and that is it. Nobody calls `flushMicrotasks()` again, so the scheduled `await` never completes.

[2018-04-26 11:29] askeksa-google opened #32985 "Missing return type check on async and generator functions"
A function marked `async`, `async*` or `sync*` must have a return type which is a `Future`, `Stream` or `Iterator`, respectively. This check seems to be missing in Fasta.

Exposed by `language_2/async_or_generator_return_type_stacktrace_test` and `language_2/async_return_types_test`.

[2018-04-26 11:51] lrhn commented on #32985
To be exact, such  a function must have a type which is a supertype of some generic instantiation of `Future`, `Stream` or `Iterable` (not `Iterator`). That is, a type that the *actual* returned object is assignable to. Return types like `Object`, `dynamic` or `FutureOr<int>` (for `async) are *valid*, even if they are much less useful.

[2018-04-26 12:09] eernstg opened #32986 "Ensure that the language specification makes cyclic type variable bounds an error"
It does not seem to be specified in dartLangSpec.tex that it is an error for a type variable to (directly or indirectly) have itself as a supertype.

[2018-04-26 12:46] eernstg opened #32987 "Adjust least upper bound to avoid spurious loss of precision"
The language specification says:

[code]

This causes an unnecessary loss of typing information:
[code]

The type of `x` is `List<Object>` because the bound of `U` is `Object`, `T` is not bottom, and `LUB(Object, U)` is `Object`. But given that `T <: U` we could have used the more informative type `List<U>`.

[2018-04-26 12:50] #32986 closed

[2018-04-26 13:00] eernstg commented on #32986
Found it after all:
[code]

[2018-04-26 13:01] askeksa-google opened #32988 "Missing type check for redirecting factory constructors"
The object constructed by the target of a redirecting factory constructor must be a subtype of the class the redirecting constructor is in.

Some relevant test cases in `language_2`: `const_types_test`, `default_factory_test`, `default_factory2_test`

[2018-04-26 13:15] askeksa-google opened #32989 "Type variables may not refer to themselves or each other cyclically"
[code]
Fasta does not give any error.

[2018-04-26 13:39] tvolkert commented on #32982
@lrhn if I understand correctly, then the solution that would be impervious to the number of `await` statements in the root zone block would be to add the following segment (shown in the context of `main`):

[code]

[2018-04-26 13:43] NatoBoram commented on #25536
I can confirm. Moreover, `WebSocket.readyState` always returns `WebSocket.OPEN`. https://github.com/dart-lang/sdk/issues/32876

[2018-04-26 13:45] johnniwinther commented on #32969
The problem also occurs if a jsinterop class implements a regular generic class:

[code]

[2018-04-26 14:14] johnniwinther commented on #32969
A third option is to add new special RTI value that represents "any" type argument (i.e. the Dart 1 `dynamic` semantics) and use this for jsinterop uses of generic types. With this we could support a lax semantics of jsinterop generic that makes all cases "pass":

[code]

Note that we're already lax in type-tests on jsinterop classes. In the example above we have
[code]

We should probably warn ab

[2018-04-26 14:28] kmillikin commented on #31415
We have not implemented (all) override detection yet, so this is an instance of the broader issue.  I'm moving it to the next mileston (Dart2 stable) where all the other issues with incorrect code are going.

[2018-04-26 14:45] leafpetersen commented on #32968
@eernstg This is with the analyzer.  The fix was made for instance *methods*, but it looks like not for other kinds of instance members (getters, setters).  I think that we intended to apply the fix to all instance members, but wanted to verify that I wasn't missing something.

[2018-04-26 16:18] eseidelGoogle opened #32990 "No way to restart the DartVM after shutdown"
There must be a bug on this.  But I didn't see one.

This makes it so that Flutter can't go back to using 0 memory when the last FlutterView is closed which at least a couple folks have complained about.  See https://github.com/flutter/flutter/issues/16995.

[2018-04-26 16:41] mraleph commented on #32990
Duplicate of #21106

[2018-04-26 16:41] #32990 closed

[2018-04-26 16:42] mraleph commented on #21106
Shutting down and restarting Dart VM is needed to minimize memory usage of applications that embed flutter - but don't always have an active FlutterView. See flutter/flutter#16995.

[2018-04-26 16:43] matanlurey commented on #32978
@eernstg That's a good point about mutable/immutable lists/maps, except:

[code]

[2018-04-26 16:44] matanlurey commented on #32974
Why is a linter rule required for validating the language as specified?

Can't the analyzer check for this out-of-the-box instead of relying opt-in of a lint?

@bwilkerson

[2018-04-26 16:45] matanlurey commented on #32968
Just to clarify so this doesn't get lost, is there action items here?

(I also realize this could be done in Dart 2.1 cleanly, so not a P0/P1)

[2018-04-26 17:16] sigmundch commented on #32929
My preference is for the latter: I can imagine we'd have a js-interop checker implemented as a kernel-visitor that we can both share.

[2018-04-26 17:17] sigmundch commented on #32969
How do you suggest we replace `any` on interop types? In particular, what happens in indirect generic interfaces such as:
[code]

Personally, I'd be OK with option-2 for now and not deal with the interface cases (I'd have to validate this, but I believe they are not used today)

[2018-04-26 17:17] matanlurey commented on #32929
It would be ideal for the analyzer to give errors/warnings before a compilation failure, if possible.

(It's not clear to me we have a good strategy yet for web/JS-specific analyzer checks, so maybe we need a thread/doc/discussion about that separate from js-interop checking in the compilation pipeline)

[2018-04-26 17:48] jonahwilliams commented on #32978
@eernstg inferring dynamic doesn't seem that surprising to me, but that could just be my Dart 1 bias.  It seems more consistent with inference for fields/locals.  In cases where `dynamic` is unwanted, I think the `no-implicit-dynamic` lint works well, not sure if we want a `no-implicit-Null` too.

[2018-04-26 18:12] jmesserly commented on #32969
Is implementing a Dart interface with a JS interop class actually supported? It will not work in DDC in general (simple examples may happen to work, but there are lots of ways it can go wrong). Especially if the Dart interface is generic, it seems very problematic. I added it to #32929 (we need errors for invalid use of `@JS`)

CC @jacob314 ... not sure if we have a spec somewhere of what JS inter

[2018-04-26 18:17] jmesserly commented on #32929
Yeah for JS interop, we can have shared checks between DDC/dart2js/Analyzer. That way they show up in IDE as well as compilers.

At the moment I don't really care where the checks live :) ... I'm mostly concerned that JS interop is completely unchecked and there's all kinds of undefined behavior people can, and do stumble into.

(And personally, when I have to touch DDC's implementation code for J

[2018-04-26 18:34] jcollins-g opened #32991 "extra ILLEGAL_ASYNC_RETURN_TYPE warnings when preview-dart-2 and strong mode are forced off"
At head, overriding the default --preview-dart-2 with --no-preview-dart-2 and --no-strong creates extra ILLEGAL_ASYNC_RETURN_TYPE warnings, though apparently not on my own personal Linux machine:

https://logs.chromium.org/v/?s=dart%2Fbuildbucket%2Fcr-buildbucket.appspot.com%2F8948164777367127456%2F%2B%2Fsteps%2Fanalyze_pkg_tests%2F0%2Fstdout

Impacted tests:
[code]

[2018-04-26 18:51] dnfield commented on #25615
I just opened https://github.com/dart-lang/pub/issues/1882 because I'm facing a similar issue with pub (no proxy, but self signed CA).

I'd really like to see the ability to tell Dart to use a self signed CA, but at the least it'd be nice to be able to tell pub to accept one.

[2018-04-26 19:09] jacob314 commented on #32969
I don't think it is crucial if the goal of JS interop is limited to supporting creating good Dart facades for JS interfaces which I think it is at this point. There is no up to date spec of what we intend to support and what we don't. We need to ground up evaluate what we intend to support and what we don't intend to support based on the new world of what is easy and hard to support given Dart2. S

[2018-04-26 19:28] MichaelRFairhurst commented on #32966
Have a PR that helped me a *lot*

[code]

It may be overkill but without any other real recourse available I feel like its probably fairly reasonable. That said, its preallocated, and a lot of repetition to present to users, so it might be better pared down a bit.

PR incoming

[2018-04-26 20:15] munificent commented on #32961
The DEPS are now updated, but the pre-built SDK in the repo has not been rolled. Thanks for the patch, @athomas.

[2018-04-26 20:20] sigmundch opened #32992 "dart2js strong: filter call stubs for instantiations"
only emit those needed for generic methods.

[2018-04-26 20:39] #32863 closed

[2018-04-26 21:03] bwilkerson commented on #32887
https://dart-review.googlesource.com/c/sdk/+/52461

[2018-04-26 21:03] #32887 closed

[2018-04-26 21:03] bwilkerson commented on #30789
https://dart-review.googlesource.com/c/sdk/+/52461

[2018-04-26 21:03] #30789 closed

[2018-04-26 21:05] bwilkerson commented on #32305
@stereotype441 Will you still be able to look at this?

[2018-04-26 21:09] stereotype441 commented on #32305
@bwilkerson Yes, I began working on this on Tuesday and I'm hoping to have a fix ready by early next week.

[2018-04-26 21:50] MichaelRFairhurst commented on #32966
https://dart-review.googlesource.com/c/sdk/+/52840

[2018-04-26 22:29] alorenzen commented on #32965
Getting the same error, but on a different file.

Analyzer Feedback from IntelliJ

# Version information

- `IDEA IC-173.4301.25`
- `2.0.0-dev.50.0`
- `IC-173.4301.25, JRE 1.8.0_152-release-1024-b11x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.3 unknown, screens 2560x1600`

# Exception

Please append the contents of:
file:///private/var/folders/ls/1jj80hm96sb7j_wjh2tb2bnm005b3f/T/report2.txt

[c

[2018-04-26 22:33] vsmenon commented on #30245
Is this something we still care about?

[2018-04-26 22:34] jmesserly commented on #30701
This test now behaves correctly in DDC (NoSuchMethodError: method not found: 'call'    Receiver: Instance of 'C').

updated the test in https://dart-review.googlesource.com/c/sdk/+/52864

[2018-04-26 22:42] sigmundch opened #32993 "dart2js: investigate perf regresion of sync-async"
@kevmoo has more details: he noticed regressions both in code size (1-2K for small apps) and performance (7ms on small benchmarks).

[2018-04-26 22:43] alorenzen commented on #32970
Just walked through my issues with @keertip and we think there are two things going on:
1) #32965 seems to be related to not having all of my `.dart_tool/` subdirectories excluded, independent of the plugin. These are being reported as errors in Intellij's Event Log.
2) I was getting >1000 errors in the DartAnalysis window. Those go away when I disabled the plugin *and* clear the server cache with

[2018-04-26 22:46] alorenzen commented on #32965
In debugging a bit, this seems to be related to having some `.dart_tool` subdirectories that weren't marked as excluded.
To reproduce, I created a new IntelliJ project with the existing sources. Everything seemed to be fine for a while.
Then, I kicked off a `pub run build_runner build` for one of the angular packages. Suddenly, I was getting an error in the `Event Log` every time I restarted the a

[2018-04-26 23:35] bwilkerson commented on #32970
Do the errors show up again if you re-enable the plugin after clearing the cache?

[2018-04-26 23:38] alorenzen commented on #32970
Yes

[2018-04-26 23:42] bwilkerson commented on #32965
Good to know, thanks!

I would have expected server to have ignored hidden files and directories unless the content of those directories is being referenced from elsewhere.

Nevertheless, server should only be analyzing `.dart` files in the `.dart_tool` directories, and shouldn't crash no matter what the content of the `.dart` files might be, so there's still a problem here.

@scheglov

[2018-04-26 23:43] bwilkerson commented on #32970
@MichaelRFairhurst Can you take a look to see if we can figure out where those errors are coming from? I'm assuming that they are false positives, but we should verify that as well.

[2018-04-27 00:54] jmesserly commented on #31681
This is a bug in Analyzer, probably in `instantiateToBounds`. The InstanceCreationExpression for `new D()` is resolved to the static type `D<dynamic, List<(X) → X>>` ... which is invalid, as `X` is a free type parameter. CFE/Kernel correctly compute the type as `D<dynamic, List<(dynamic) → dynamic>>`.

Possibly related to https://github.com/dart-lang/sdk/issues/30379

[2018-04-27 02:34] dnfield opened #32994 "HttpResponse with GZIP decoding marked done before last chunk decoded on Flutter device/emulator"
Related to https://github.com/flutter/flutter/issues/17034

When downloading a GZip encoded response, the client automatically applies the `GZIP.decoder` to transform the stream.  If someone else calls `listen` on that stream, `onDone` is called before all the chunks are received.

So the following code succeeds (maybe because I'md oing the decompression differently?)

[code]

but this code only g

[2018-04-27 10:14] ohir opened #32995 "Dartanalyzer totally lost in context."
Given PoB source:
[code]
dartanalyzer totally lost context:
[code]

[code]

[2018-04-27 13:12] bwilkerson commented on #32995
@danrubel Does the Fasta parser do better?

[2018-04-27 13:25] eernstg commented on #32968
The original action item would still apply:
[code]
Namely: The analyzer claims conflicting_instance_getter_and_superclass_member for
[code]
and there is no such conflict according to the language specification today, not for methods, not for getters, and not for setters. Issue #31351 seems to have been closed in response to an update regarding methods (which matches the title, but not the text in

[2018-04-27 13:55] ngolovleva opened #32996 "Fasta signals warnings, not errors, on uses of void"
The test below is successfully executed with dart, while analyzer in _--strong_ and _--preview-dart-2_ modes reports errors.
[code]
[code]
The same behaviour is observed if instead of type **Object** type **dynamic** is used.
Checked with Dart VM version: 2.0.0-dev.50.0 (Wed Apr 25 11:29:49 2018 +0200) on "linux_x64"

[2018-04-27 14:29] bwilkerson commented on #32996
@leafpetersen @lrhn Which, if either, is correct?

[2018-04-27 17:51] sigmundch opened #32997 "dart2js strong: issue with deferred loading instantiations in constants"
repro:
**a.dart**:
[code]

**b.dart**:
[code]

produces this error:
[code]

(`__getFoo$closure` is defined in a deferred unit, but it is being accessed incorrectly from the main chunk)

[2018-04-27 18:36] scheglov commented on #32965
I'm not able to reproduce this :-(

I checked out angular, opened it in IntelliJ, ran `pub get` in every packages.
Then I ran `pub run build_runner build` in every package.
No exceptions.

I don't have Angular plugin installed, unless it is installed automatically as a part of opening Angular repo in IntelliJ.

I looked at the code, but was not able to find a code part that would cause us to use e

[2018-04-27 19:10] sigmundch opened #32998 "dart2js strong: global inference bug tracking input values"
This issue came up when looking at deferred loading, this simple example fails with either `--strong` or with `--trust-type-annotations` saying that the library has not been loaded when calling `m`. Turns out, the issue is that the `Set.add` and `Set.contains` implementations have special logic for when parameters are Strings, for some reason global inference believes `Set.add` doesn't get a Strin

[2018-04-27 19:53] #32869 closed

[2018-04-27 20:10] eernstg commented on #32996
I couldn't match up the line numbers in the dartanalyzer output with the source code (or the '-> error' comments), but we should get the following errors (indicated using test style comments):
[code]
The reason for each of these errors is that an expression of static type `void` is evaluated and the result is neither discarded nor passed on in any of the ways on the "positive list" (and everything

[2018-04-27 20:38] prestonvanloon commented on #31225
This is the first result (of 9 unhelpful results) on Google when searching for `override_on_non_overriding_field`, could you elaborate on what the solution is?

[2018-04-27 20:46] sigmundch commented on #32997
FYI @johnniwinther - this started failing as a result of adding InstantiateConstantValue.

I started to investigate, but feel free to take over if I haven't send a fix yet.

[2018-04-27 20:51] rakudrama commented on #32993
I took a quick look.
The size is explained by the additional _AsyncAwaitCompleter class.

I think the small performance degradation might also be explained by the additional class wrapping what was allocated before:

Old:
[code]
New:
[code]

There is more allocation before the `async` method is enterer, which could cause a small slowdown.

@floitschG , can this be implemented with fewer allocation

[2018-04-27 21:56] danrubel commented on #32977
https://dart-review.googlesource.com/c/sdk/+/52920 addresses the fasta parser portion of  this issue
but I'm hoping someone else can address the dart2js and kernel generation portions.

[2018-04-27 22:07] MichaelRFairhurst commented on #32970
@alorenzen I'm sure I've already asked this, but do you know what version of the plugin you're loading?

If you are on <dev.46, it will not upgrade the plugin on restart, though newer versions *should*.

[2018-04-27 22:07] leafpetersen commented on #32228
There is a bit of an unfortunate state right now in that as far as I can tell there's no way to write code that prefixes `dart:core` and references `dynamic` and works on both the CFE and the analyzer.

Even if the main issue (and it's accompanying analyzer issue) is lower priority, I do feel like we should arrange things so that we don't have this catch-22.  cc @kmillikin @bwilkerson

[code]

[2018-04-27 22:11] #32443 closed

[2018-04-27 22:29] rakudrama commented on #32993
CompileAcxGallery is 3458 bytes bigger, which is more that I would have expected from the changes I saw.

[2018-04-28 00:37] a-siva commented on #32950
https://dart-review.googlesource.com/c/sdk/+/52986 should fix this once it is reviewed.

[2018-04-28 00:38] rmacnak-google commented on #28431
Assumed stale.

[2018-04-28 00:38] #28431 closed

[2018-04-28 00:41] rmacnak-google commented on #25502
d0529c86380

[2018-04-28 00:41] #25502 closed

[2018-04-28 00:42] rmacnak-google commented on #24774
Assumed stale.

[2018-04-28 00:42] #24774 closed

[2018-04-28 00:43] rmacnak-google commented on #21206
Dart_InterruptIsolate was removed.

[2018-04-28 00:43] #21206 closed

[2018-04-28 00:43] rmacnak-google commented on #24028
Assumed stale.

[2018-04-28 00:43] #24028 closed

[2018-04-28 00:44] rmacnak-google commented on #24531
Was implemented years ago.

[2018-04-28 00:44] #24531 closed

[2018-04-28 00:45] rmacnak-google commented on #24926
Bug predates hot-reload.

[2018-04-28 00:45] #24926 closed

[2018-04-28 00:46] rmacnak-google commented on #27657
Stale.

[2018-04-28 00:46] #27657 closed

[2018-04-28 00:48] rmacnak-google commented on #31658
Likely fixed by 074b43c863f1b72a207f8c930ccda58980411d36

[2018-04-28 00:48] #31658 closed

[2018-04-28 00:50] rmacnak-google commented on #29263
Observatory is no longer built with pub.

[2018-04-28 00:50] #29263 closed

[2018-04-28 00:53] rmacnak-google commented on #29330
Likely fixed by 074b43c863f1b72a207f8c930ccda58980411d36

[2018-04-28 00:53] #29330 closed

[2018-04-28 00:55] rmacnak-google commented on #27409
Not actionable without a reproduction.

[2018-04-28 00:55] #27409 closed

[2018-04-28 00:59] rmacnak-google commented on #18880
Not planned.

[2018-04-28 00:59] #18880 closed

[2018-04-28 03:56] dnfield commented on #32994
I've replicated it on 3.5 (dev/beta) and a few 3.6 (master).  Most recently on this one:

Framework • revision 1d915bacc0 (2 days ago) • 2018-04-25 10:25:03 -0700
Engine • revision 9859af123e
Tools • Dart 2.0.0-dev.49.0.flutter-29d6e96370

[2018-04-28 05:37] sgrekhov opened #32999 "CFE reports an error as a crash when using part and import statements"
[code]
[code]
[code]
Now run `dart --preview-dart-2 main.dart `
Output:
[code]
Now run `dart main.dart` and there will be no issues.
Also no issue in analizer even with --preview-dart-2 option

Dart VM version: 2.0.0-dev.50.0 (Wed Apr 25 11:29:49 2018 +0200) on "windows_x64"

[2018-04-28 07:44] wendux opened #33000 "Type test results are inconsistent between Dart VM and flutter."
Test code as follows:
[code]
**Dart VM version:**
[code]
**Flutter:**
[code]

[2018-04-28 10:25] MarkOSullivan94 commented on #32922
I never knew that. Definitely should have some kind of warning for this in Flutter projects.

Still I think this issue still stands as it's unexpected behavior.

[2018-04-28 11:16] eernstg commented on #33000
Looks like your run with the Dart VM used Dart 1 semantics. As of [this PR](https://github.com/flutter/flutter/pull/15565) Flutter uses Dart 2 semantics by default; to get it even where it's not (yet) on by default, add option `--preview-dart-2`.

[2018-04-28 13:54] marcojakob commented on #26544
In Chrome 56 and newer touch events are **passive by default**: see https://www.chromestatus.com/features/5093566007214080

We need a way to use this feature or even restore the previous behavior (for example for touch drag and drop things like the [dnd](https://github.com/marcojakob/dart-dnd) package).

Does anyone see a workaround as long as the standard `listener` methods do not support this?

[2018-04-28 19:28] dgrove commented on #32953
/cc @a-siva

@a-siva @mraleph who's the right person to own this?

[2018-04-28 19:29] dgrove commented on #32749
@lrhn any updates?

[2018-04-28 19:30] dgrove commented on #32806
Any updates here, @leafpetersen ? Is this on track for Beta 4?

[2018-04-28 19:32] dgrove commented on #32661
@leafpetersen can you give an update? We're getting close on Beta4.

[2018-04-28 19:35] dgrove commented on #32596
@JekCharlsonYu this looks unlikely to happen by Beta 4.

@a14n are you taking on the lint?

[2018-04-28 19:36] dgrove commented on #31813
What's the next step here, @leafpetersen ?

[2018-04-28 19:55] Rockvole commented on #29625
I came here to add the exact same request. It gets ugly when trying to do something which is very common and should be simple e.g.

    if (type == FileSystemEntityType.FILE) {
        Uri uri = entity.uri;
        files.add(uri.pathSegments[uri.pathSegments.length-1]);
    }

    if (type == FileSystemEntityType.DIRECTORY) {
        Uri uri = entity.uri;
        files.add(uri.pathSegments[uri.pat

[2018-04-28 21:38] a14n commented on #32596
@dgrove there's a pending PR for that dart-lang/linter#936. But as the rules have evolved it needs perhaps some changes. On vacation I will not work on it before a week.

[2018-04-29 03:17] butlermatt opened #33001 "dart2js crashes with unexpected ~"
Hey folks,

I was playing around with dartpad looking at some of the language nuances and out of curiosity I wanted to see how dart handled an incomplete, 2 character token (eg ~/). So I ran the following in dartpad and it came up with the crash error listed below.

First and foremost my system info:
Windows 10 64bit
Chrome 66.0

[code]
Here I intentionally left off the `/` from the truncating div

[2018-04-29 07:26] mraleph commented on #32836
The work-around for this has landed in the VM AOT pipeline. Closing for now.

[2018-04-29 07:26] #32836 closed

[2018-04-29 07:34] mraleph commented on #32953
@dgrove

First we need consensus how to implement it:

1. teach `package:test` to use `package:front_end` like Flutter does. might require expanding Isolate spawn APIs to spawn Isolates from dill files. Should probably be jointly owned by CFE team and Nate.
2. expand `spawnUri` API to communicate to the DFE service that it needs to preserve the state of CFE in memory. Should probably be owned by C

[2018-04-29 10:36] lrhn commented on #32999
@leafpetersen
Is it a strong-mode/Dart 2 *error* to import two libraries with the same name? It's a warning in Dart 1, so consistency would suggest that it's an error. It's not a very *important* error, though.

[2018-04-29 16:48] lexaknyazev opened #33002 "List.from is slower than .toList in Dart2JS compiled output"
Unlike VM version, Dart2JS implementation of `List.from` has [no check](https://github.com/dart-lang/sdk/blob/9741c220f3f2a5100c1c66ff7b7a6d0b3db30137/sdk/lib/_internal/js_runtime/lib/core_patch.dart#L413) for `EfficientLengthIterable` and always uses growable list. Here's simple benchmark.
[code]

Even if it won't be changed, docs should mention this detail, imo.

[2018-04-29 23:07] fmatosqg commented on #31253
Community could write a package similar to Lombok who autogenerates code from a valid annotated source code file.

https://projectlombok.org/

One more thing for the wishlist on https://github.com/flutter/flutter/issues/13607

[2018-04-30 03:31] JekCharlsonYu commented on #32596
@dgrove moving it to Dart2 Stable at least.

[2018-04-30 05:24] zoechi commented on #31253
@fmatosqg https://pub.dartlang.org/packages/built_value

[2018-04-30 08:01] eernstg commented on #32999
Of course, it's an issue that `dart --preview-dart-2` (that is, the common front end) says `Crash when compiling ...`, so that should be fixed no matter which treatment the situation gets thereafter.

We could say that (1) it's an error if a program contains two libraries with the same, non-empty name, or that (2) it's an error if a part has an ambiguous `part of` directive because multiple librar

[2018-04-30 11:56] johnniwinther commented on #32997
The example contains a compile-time error since `getFoo` is inferred to be instantiated with `<m.T>` which isn't a constant. The problem still exists if `m` is not generic:

[code]

[2018-04-30 13:34] jensjoha commented on #32976
This was fixed with cd0c4e4fe1e5b69ac15c0a670f9dde2ee9733fc7 right?
I at least cannot reproduce so I'm closing it for now. Reopen if it's still a problem.

[2018-04-30 13:34] #32976 closed

[2018-04-30 14:30] vsmenon opened #33003 "Add DDC stacktrace / sourcemap tests for better coverage of new async semantics"
I'm flipping the default behavior in this CL:

https://dart-review.googlesource.com/c/sdk/+/52900

We should:
(1) Have better coverage of new behavior (sync before yield point, async after)
(2) Unify DDC and DDK (see `ddc` and `ddk` prefixes here: https://dart-review.googlesource.com/c/sdk/+/52900/5/pkg/dev_compiler/test/sourcemap/stacktrace_testfiles/throw_in_async.dart)

[2018-04-30 17:01] rakudrama commented on #33002
I would expect **a.toList()** to be faster than **List.from(a)**:

1. There are several **.toList** implementations, each specialized to the receiver type, with the cost of deciding baked into the call dispatch, but there is only **List.from** implementation, where the cost of specialization is explicit code.

2. When checks are enabled, **.toList()** and **new List.from** are not strictly compara

[2018-04-30 17:11] dineshbhosale opened #33004 "html.NodeValidatorBuilder is not white listing `href` attribute"
Console reports following error
[code]
Even after using a node validator that whitelists `href` attribute
[code]

This is happening with other users as well , see this issue for example
https://github.com/dart-lang/dart-pad/issues/676

In the pull request that was made to fix this issue, you can see that `href` attribute was previously white listed for `a` elements using `.allowElement('a', attrib

[2018-04-30 17:28] munificent opened #33005 "Type parameters do not shadow library prefixes in instance creation expressions"
Given:

[code]

And:

[code]

I expect an error on the marked line because T should refer to Bar's type parameter, not the import prefix T. Instead, all I get from analyzer is:

[code]

If I use T inside `test()` in some other kind of expression, I get the expected error. I think it's only when used in a `new ...` expression that it doesn't get the scope right.

I stumbled onto this while converti

[2018-04-30 17:35] jakemac53 commented on #32960
Additional side note here, but wouldn't any constant which is defined expliclity in Dart code also fall into the "only platform defines that are invariant in a platform" bucket?

This would effectively change the proposal to "don't expose environment constants to config specific imports" (and maybe some others?) instead of locking it down to an explicit whitelist of constants from the sdk.

The re

[2018-04-30 17:49] devoncarew opened #33006 "VM compilers error messages should only include source of classes when there's ambiguity"
From discussion in https://github.com/flutter/flutter/issues/16260#issuecomment-385451443:

Error messages of the form:

[code]

are confusing; it seems like it's trying to point out an issue w/ `List`, when - after re-reading it - it's clearer that there's no issue. I'm guessing that this is trying to point out classes with the same name but loaded from different libraries. I think to improve thi

[2018-04-30 18:11] HofmannZ opened #33007 "`new List.filled(rows, new List.filled(column, -1))` does not create matrices properly"
## The code

Initialising a 2d matrix:

[code]

Prints the following list:

[code]

Consider the following snippet:

[code]

## Expected output

You would expect the cell at in the 2nd row and 3rd column to has a value of 0:

[code]

## Actual output

It actually changes all the rows to have the same value in their 3rd column:

[code]

## Background

I found this bug while competing in the Google

[2018-04-30 18:14] lexaknyazev commented on #33002
Initially, I was doing something like this:
[code]

After [this comment](https://github.com/dart-lang/site-www/issues/736#issuecomment-383208294):

If you are going to touch every element of the list, you might as well copy it with
[code]

I've discovered the aforementioned implementation detail and now I don't know whether I should implement a helper routine instead of using `List.from`, like:
[c

[2018-04-30 18:40] Rockvole opened #57700 "Add lint warning about recommended import style"
I have some code which confused me for a while.

main.dart
<code>import 'package:kbml_viewer/globals.dart';</code>
<code>import 'preferences/preferences_description_list.dart';</code>

preferences_description_list.dart
<code>import '../globals.dart';</code>

The main page displays the preferences_description_list (a list of descriptions).
The main page, has a preferences page button and that prefe

[2018-04-30 19:10] mraleph commented on #33007
From documentation for `List.filled`:

https://api.dartlang.org/stable/1.24.3/dart-core/List/List.filled.html

[2018-04-30 19:10] #33007 closed

[2018-04-30 20:04] sigmundch commented on #33001
Thanks for filing!

Good news is that this is now fixed in the dev channel. This is correctly detected by the new common front-end, which dart2js uses by default now.

I'm not sure when will dartpad get updated to the latest version of dart2js, but  @devoncarew can probably comment on it.

[2018-04-30 20:04] #33001 closed

[2018-04-30 20:17] devoncarew commented on #33001
We're tracking the work to upgrade to Dart 2 here: https://github.com/dart-lang/dart-services/issues/337.

[2018-04-30 20:44] rakudrama commented on #33002
@lexaknyazev I would use **List.from** unless you can tell it is too slow by how your app behaves. A realistic benchmark (timing part of your app) will help you decide.

If it is too slow, consider creating the new list as you validate the elements. Then you would have something like:

[code]
As the `listB.add(o)` is under `if (o is int)`, the type of `o` is checked once, and since it is 'in your

[2018-04-30 21:45] munificent commented on #32961
I found another little Dart 2 bug inside dart_style, so I kicked out another release. When you rebuild the pre-built SDK, you'll want to use that release.

I'm updating DEPS myself: https://dart-review.googlesource.com/c/sdk/+/53161

[2018-04-30 21:58] jmesserly commented on #30907
https://dart-review.googlesource.com/c/sdk/+/53162

[2018-04-30 22:00] jmesserly commented on #32964
This implements constant evaluation for `dartdevk` with the correct numeric rules: https://dart-review.googlesource.com/c/sdk/+/53121

[2018-04-30 22:15] jmesserly commented on #32294
this is the CL that disables mirrors (in DDC, need DDK as well) https://dart-review.googlesource.com/c/sdk/+/53163 ... I'm going to see if this can be rolled into internal code or if we need fixes there.

[2018-04-30 22:28] a-siva opened #33008 "https://dart-review.googlesource.com/c/sdk/+/52762 introduces a regressions"
The CL meant to improve code generation for uint32 introduces a regression in google3 when building and and running ddc

Here is a stack trace:

+ /build/work/a92d94009eacae5fe941580a6f2d37ce/google3/blaze-out/host/bin/third_party/dart_lang/trunk/ddc_patch_sdk.runfiles/google3/third_party/dart_lang/trunk/dart_k8 --packages=/tmp/tmp.6wLh1C8bR0/.packages /build/work/a92d94009eacae5fe941580a6f2d37ce/

[2018-04-30 22:28] a-siva commented on #33008
/cc @keertip @mraleph

[2018-04-30 22:30] dgrove commented on #32953
Self-assigning until we get consensus on what to implement.

[2018-04-30 22:30] mraleph commented on #33008
I am going to revert all the changes involved in this up to Smi change.

[2018-04-30 22:33] keertip commented on #33008
Thanks!

[2018-04-30 22:43] athomas commented on #32961
I've already done all the work for upgrading the built-in SDK and would
just need to land it. Getting a new one means a new dev release. How urgent
is it to get the latest fix in?

On Mon, Apr 30, 2018, 23:45 Bob Nystrom <notifications@github.com> wrote:

[2018-04-30 22:54] dgrove commented on #32478
any further updates?

[2018-04-30 23:02] devoncarew commented on #32478
Round 2 is out for review, will likely land tomorrow, and we'll then watch how things go (it's a large refactor).

[2018-04-30 23:41] sigmundch opened #33009 "invalid error from front-end: complaining about not implementing private members"
I'm seeing compile-time errors produced by the FE in code that I believe is valid.

Seems to come up when using generic types in private members of an interface, and implementing such interface from a different library. Here is an example repro:

**a.dart**:
[code]

**b.dart**:
[code]

When  running:
[code]

This error is reported:
[code]

Marked as P1 as this blocks rolling out dart2js in strong

[2018-04-30 23:53] sigmundch commented on #33009
Upon closer review, I believe this is a P0, I'll send more details offline.

[2018-04-30 23:54] mraleph commented on #33009
Moving to P0 because this also blocking the Flutter roll.

This is likely caused by 9c2fcedaf4abafa1404aafc726323c04fc4d05cd (/cc @askeksa-google) which I suggest reverting unless the fix is easy.

[2018-04-30 23:54] mraleph commented on #33009
/cc @yjbanov

[2018-04-30 23:58] freiling opened #33010 "GetLocalAndDstOffsetInSeconds in os_fuchsia.cc should behave better when timezone service is not available."
This issue is with the Fuchsia Dart SDK

Right now if the timezone service is not available [this method](https://github.com/dart-lang/sdk/blob/master/runtime/vm/os_fuchsia.cc#L43) will fail open the service (causing sysmgr to log an error) every time the method is called. When running the build dashboard this causes one error to be logged every minute, leading the log to be 99% timezone errors by

[2018-05-01 00:00] sigmundch commented on #33009
@mraleph - thanks for the link to the possible cause, I'll try reverting locally to see if it can unblock our work.

The context I wanted to mention earlier is that this shows up on most targets of internal apps, so unless the revert works, it would also block us from making progress on our investigation of dart2js strong-mode issues.

[2018-05-01 02:46] munificent commented on #32961
Not urgent at all. All that really matters is updating the DEPS so that Flutter folks can get a version of dart_style that's Dart 2 compatible.

[2018-05-01 03:56] aam commented on #33009
I tried reverting 9c2fced on https://dart-review.googlesource.com/c/sdk/+/53169 and Siggi's test seem to pass.

[2018-05-01 07:45] lrhn commented on #33005
This is a bug. There has been some confusion about whether prefixes were statically scoped in places where they needed to be prefixes (which this isn't, but something like `new p.C.n()` *requires* `p` to be a prefix), but the paragraphs saying that "Dart is lexically scoped" are unambiguous.

[2018-05-01 08:34] #32997 closed

[2018-05-01 08:40] #32969 closed

[2018-05-01 09:37] kmillikin commented on #33009
This is because of the forwarding stubs, this is another place where we need logic to treat them as if they weren't there.

[2018-05-01 09:57] askeksa-google commented on #33009
The check for missing implementations got confused by a forwarding stub. Fix coming up.

[2018-05-01 10:15] athomas commented on #32961
I didn't see that the issue title was changed->reopen.

[2018-05-01 10:57] jensjoha opened #33011 "tools\build.py --mode=release --arch=x64 on Windows"
[code]

I see that `dartanalyzer_aot_assembly` was added recently (1db1ac48632df42d1569a80859b9db7a82293eab) so I'll assign @rmacnak-google --- maybe it shouldn't be included on Windows...

[2018-05-01 11:08] #32998 closed

[2018-05-01 12:56] mkustermann commented on #31799
Is there any updates on this?

@peter-ahe-google

[2018-05-01 13:02] #32774 closed

[2018-05-01 13:28] stefantsov commented on #32483
Yep, sorry for that.  I'm working on a fix in [CL 53212](https://dart-review.googlesource.com/c/sdk/+/53212).

Also, the following program that is currently rejected by the CFE should be compiled correctly after the fix:

[code]

[2018-05-01 15:15] keertip commented on #33009
/cc @athomas, can we get a dev build once this fix is in?

[2018-05-01 15:36] athomas commented on #33009
Sure, I'll create a release as soon as this lands!

[2018-05-01 15:47] #33009 closed

[2018-05-01 15:57] askeksa commented on #33009
The fix has landed.

[2018-05-01 15:59] yjbanov commented on #33009
Thanks! I'll give it a try asap.

[2018-05-01 16:11] athomas commented on #33009
I'll create the release.

[2018-05-01 16:31] rmacnak-google commented on #33011
Which bot is building the "everything" target?

[2018-05-01 17:40] zanderso opened #33012 "pkg/dev_compiler/tool/kernel_sdk.dart generates files into the source tree during the build."
The invocation of `patch_sdk.main()` points its output directory into the source tree: https://github.com/dart-lang/sdk/blob/master/pkg/dev_compiler/tool/kernel_sdk.dart#L31

Generating files into the source tree during the build is not allowed.

It probably also needs investigation why the patched sdk is generated twice, once by //utils/dartdevc:dartdevc_patch_sdk into the build output (correct)

[2018-05-01 17:56] sigmundch opened #33013 "dart2js: not a compile-time constant errors reported more than once."
We report this error when evaluating constants, and if we find an error we don't fail early, but end up evaluating the same constant multiple times.

[2018-05-01 18:10] jvanderen1 opened #33014 "DateTime.difference providing years and months"
I know this is not a trivial task, but isn't there something that can be done? I am trying to make an application that keeps track of the years, months, days, hours, and minutes difference between two dates, and this feature would really be helpful.

[2018-05-01 18:47] jmesserly commented on #33012
(cleared assignment because I'm not sure who will pick this up. Vijay and Bob are more familiar with the build rules in utils/dartdevc/BUILD.gn, having worked on the original code there. But I might be working in that area soon, if so then I'll take a look at this. Building into the source tree is not good.)

[2018-05-01 20:36] alorenzen commented on #32965
Is there any information I can do that will help you investigate this?

I got another crash today when opening the project:

Analyzer Feedback from IntelliJ

# Version information

- `IDEA IC-173.4301.25`
- `2.0.0-dev.50.0`
- `IC-173.4301.25, JRE 1.8.0_152-release-1024-b11x64 JetBrains s.r.o, OS Mac OS X(x86_64) v10.13.3 unknown, screens 2560x1600`

# Exception

Please append the contents of:
file

[2018-05-01 20:49] athomas commented on #32961
Checked in SDK is now update to 2.0.0-dev.52.0 which includes the bump 1.0.12.

[2018-05-01 20:49] #32961 closed

[2018-05-01 21:36] athomas commented on #33011
I don't think there is a bot using no target to build. Most of them build create_sdk or various *runtime* targets.

[2018-05-01 22:02] munificent commented on #32961
Thanks!

[2018-05-01 22:24] nex3 opened #33015 ""<T>() → T can't be assigned to () → void" through getter"
The following code:

[code]

Produces this error when run in the VM with `--preview-dart-2`:

[code]

This seems incorrect; `T` should be able to be instantiated to `void`, and in fact the same code works if `_neverCalled` is passed directly to `dontCall()` rather than going through a getter.

This makes it very difficult to use the [`neverCalled`](https://www.dartdocs.org/documentation/test/lates

[2018-05-01 22:40] vsmenon commented on #33012
Looking at the snapshotting code for Dart 2 DDC.  I'll see if I can fix this as well.

[2018-05-01 23:32] leafpetersen commented on #32999
cc @vsmenon @sigmundch @bwilkerson @jmesserly

I'm interested in implications (if any) for tools.  Library names are mostly pointless from the user perspective in Dart, right?  So it doesn't seem terrible to import the same library names.  But it doesn't seem especially useful either.

[2018-05-01 23:40] jmesserly commented on #32999
DDC ignores library names. They're often not well maintained (e.g. still use an old file name or path). The style guide encourages using the `part of` syntax that accepts strings: https://www.dartlang.org/guides/language/effective-dart/usage#do-use-strings-in-part-of-directives

So in this case, you'd have to pick `part of "main.dart"` or `part of "test.dart"`.  The old `part of lib_name` syntax i

[2018-05-01 23:52] leafpetersen commented on #32960
I think so yes.  Terminology gets confusing here.

[2018-05-01 23:54] leafpetersen commented on #32960
I'm not sure I follow where you're going.  Are you suggesting to move this over to the build system?  That is, have the build system conditionally replace (e.g.) "platform_defines.dart" with "platform_defines_vm.dart" or "platform_defines_dart2js.dart" as appropriate, where those files define the appropriate const values?

[2018-05-02 00:47] scheglov commented on #32965
Please archive your `/Users/scheglov/.dartServer/.analysis-driver` folder and share it with my corp account.

[2018-05-02 01:32] grouma commented on #32953
I'm not familiar with how Flutter uses `package:front_end`. @mraleph can you easily expand on option 1? If not we can set some time up over GVC to discuss it in detail.

[2018-05-02 04:33] dgrove commented on #32950
This change has landed, but the bot didn't seem to close this - @a-siva can this be closed?

[2018-05-02 04:56] natebosch opened #33016 "Allow passing DDC module names on the CLI"
Today we calculate module names based on the [modulePath](https://github.com/dart-lang/sdk/blob/ce7329849d8bb730c80e91252cd60487509e815e/pkg/dev_compiler/lib/src/analyzer/module_compiler.dart#L394) but we need to be able to specify a module name that doesn't match the path.

[2018-05-02 05:08] natebosch commented on #32953
If someone can share a link to the flutter test code using this pattern we can build a prototype in package:test and evaluate it's feasibility.

[2018-05-02 07:55] eernstg commented on #33015
**tl;dr** It's working as intended (for now) **rd;lt**

There is an [upcoming feature specification](https://dart-review.googlesource.com/c/sdk/+/47043) on generic function instantiation&mdash;that is, the feature that you're relying on in order to get `neverCalled` transformed into a non-generic function when it is passed to `dontCall`&mdash;and the example is actually working as it should accord

[2018-05-02 08:02] tejainece commented on #32669
The problem seems to be because of this: https://github.com/dart-lang/sdk/issues/30

How circular dependencies are handles by DDC.

[2018-05-02 08:37] #33015 closed

[2018-05-02 09:16] mit-mit opened #33017 "Update Dart icon in JetBrains plugin"
Dart has a refreshed icon, we should get the Dart JetBrains plugin updated.

[2018-05-02 09:16] mit-mit commented on #33017
@devoncarew can you help facilitate this?

[2018-05-02 10:57] askeksa-google opened #33018 "Missing check for F-bounded quantization"
The following code, in `language_2/f_bounded_quantification_test`, does not give the required errors in Fasta:
[code]

[2018-05-02 11:35] sjindel-google opened #33019 "Treatment of named and optional arguments on noSuchMethod forwarders is incorrect in DDC"
The correct behavior is that the `Invocation` object passed to `noSuchMethod` has all named, optional and type parameters filled in with their default values. When `nosuchmethod_forwarding_arguments_test.dart` was updated to test the correct behavior, DDC exhibited incorrect behavior.

[2018-05-02 12:45] mkustermann opened #33021 "Add a dartk-sim* to the CQ to catch issues early-on"
Recently a commit caused all dartk-sim* builders to stop working. The CQ should catch such issues early on.

Can we have, e.g. a release-simdbc64 on the CQ?

/cc @mraleph

[2018-05-02 13:44] stefantsov commented on #31581
Small status update: [CL 51128](https://dart-review.googlesource.com/c/sdk/+/51128) has landed recently.

[2018-05-02 14:56] mraleph commented on #32953
@natebosch @grouma the logic is in [this file](https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/test/flutter_platform.dart).

Each test is compiled using persistent compiler [here](https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/test/flutter_platform.dart#L334-L335) and then run using `flutter_tester` process [here](https://github.com/flut

[2018-05-02 15:05] askeksa-google opened #33022 "Missing checks for final variables"
It is illegal to write both `final` and `var`:
[code]
It is illegal for a final field to not have an initializer and not be initialized in every constructor (if there are no constructors, there is an implicit constructor which has no initializers):
[code]
Both exposed by `language_2/field3_test

[2018-05-02 15:56] lexaknyazev opened #57701 "False positive for one_member_abstracts"
Docs say:

I don't think there's a way of avoiding one-member abstracts when they are used as "interfaces" like this:
[code]

[2018-05-02 15:59] mraleph opened #33023 "intrinsifier.cc and object.cc have very long compilation times"
instrinsifier.cc takes 200 seconds to compile in release mode and object.cc takes 60 seconds.

I think `Intrinsifier::InitializeState` is the offender for `intrinsifier.cc` - because it is absolutely gigantic function.

`object.cc` should probably be split into much smaller pieces.

I am attaching trace from my recent product build which can be viewed in `chrome://tracing`.

[ninja.json.zip](https

[2018-05-02 15:59] aam commented on #32953
Yes, happy to help, but am picking something from the earlier responses where @lrhn wrote:

Not sure what scenario last statement in the quote refers to. For `spawn` are we prohibiting hot-reload for spawned and/or spawning isolates?

[2018-05-02 16:37] lrhn commented on #32953
I was not referring to "hot reload", merely saying that `Isolate.spawn` should effectively run exactly the same source in both spawning and spawned isolate. The spawn operation should not fetch any source code from a file or a web server, since it isn't guaranteed to get the same source again.

What you do with hot-reload during development is not covered by the language or library specifications,

[2018-05-02 17:45] srawlins commented on #32889
The mustache package hits the `MethodMirror.parameters` one.

[2018-05-02 17:50] devoncarew commented on #32889
@a-siva, can you triage this / assign this?

[2018-05-02 17:58] pshabunia-goog commented on #29045
+1
please update the documentation as it is misleading and bears unnecessary cognitive load due to (closed) issues 9001 and 9002
https://webdev.dartlang.org/articles/performance/event-loop

[2018-05-02 18:01] mkustermann commented on #32889
When I've helped @askeksa-google debug his issue, I made a patch which should fix this:

[code]

I haven't landed this, because I think it would be better to fix the non-generic allocation in C++ runtime code.

[2018-05-02 18:25] alanrussian opened #33024 "Add support for synchronous subscription to Streams"
It would be very beneficial for Flutter users if there were a way to synchronously subscribe to streams. The reason for this is discussed in https://github.com/flutter/flutter/issues/16465. I'll briefly summarize it here:

- Flutter has a `StreamBuilder` widget which takes in a `Stream<T>` and a `(BuildContext,AsyncSnapshot<T>) -> Widget`. The widget allows users to render a widget with the latest

[2018-05-02 19:38] #30907 closed

[2018-05-02 19:42] #33011 closed

[2018-05-02 19:42] a-siva commented on #32950
Yes, closing it.

[2018-05-02 19:42] #32950 closed

[2018-05-02 19:43] natebosch opened #33025 "VM loses generic function type after an `await`"
[code]

prints:

[code]

[2018-05-02 19:45] dgrove commented on #32188
#32950 has been fixed.

[2018-05-02 19:47] kevmoo commented on #33025
This is with `--preview-dart-2`

[2018-05-02 19:56] alan-knight commented on #33004
The problem is not with the href attribute, it's that the default Uri policy is SameOriginUriPolicy and it disallows example.com. I think that's the only implementation provided, so you would need to implement a permissive UriPolicy.

[2018-05-02 19:56] #33004 closed

[2018-05-02 20:02] devoncarew commented on #33017
Out for review -

[2018-05-02 20:02] #33017 closed

[2018-05-02 20:36] keertip opened #33026 "Dart 2 runtime failures in analyzer tests"
Running the tests in dart2 causes runtime failrues

type '_BroadcastStream<dynamic>' is not a subtype of type 'Stream<FileSystemEvent>' where...
type '_BroadcastStream<dynamic>' is not a subtype of type 'Stream<FileSystemEvent>' where
  _BroadcastStream is from dart:async
  Stream is from dart:async
  FileSystemEvent is from dart:io
dart:io

[2018-05-02 21:35] grouma commented on #32953
Tried to take a look at this today. We need to wait for the next SDK release as we are blocked by https://github.com/dart-lang/sdk/issues/32950.

[2018-05-02 21:35] leafpetersen commented on #32483
Yes, both of those examples should be inference failure errors (as the analyzer reports) since `dynamic` is not a valid instantiation.

[code]

[2018-05-02 21:44] nex3 opened #33027 "Directory.watch() doesn't work with runtime Dart 2 semantics"
When running the following script with `--preview-dart-2`:

[code]

it produces this error:

[code]

Tested with Dart 2.0.0-dev.52.0.