[2020-07-17 09:14] eernstg commented on #42730
It really seems preferable to report the error at compile-time when that is possible.

But since the mechanism is implementation specific it would be possible for an external function to be bound/un-bound/re-bound at run time. For instance, it could be bound lazily, and that might be useful from a program size and performance perspective, if there are lots of external declarations and only few of

[2020-07-17 09:39] mkustermann commented on #41802
I have made now an experiment with a locally built engine where I observed the following:

First I clear the caches and build the app with my locally built engine and check the SDK hash of the kernel file:
[code]

Then I make another build of the locally built engine with a different Dart SDK commit (everything else the same), rebuild the app, and re-examine the SDK hash:

[code]

As we can see, t

[2020-07-17 09:54] rustkas commented on #42737
@julemand101
 I decode OS message: ╨Э╨╡╨▓╨╡╤А╨╜╤Л╨╣ ╨┤╨╡╤Б╨║╤А╨╕╨┐╤В╨╛╤А
The translation is "Invalid descriptor".

Without any outside requests this code runs fine in Dart 2.5.1 ([Dart Online IDE](https://www.jdoodle.com/execute-dart-online/))

Code:
[code]

[2020-07-17 10:02] rustkas commented on #42737
Dart VM 2.6.0 in online IDE [Repl.it](https://repl.it/languages/dart) also do not produce such exceptions and do not crash.

[2020-07-17 10:04] ymdarake opened #42740 "DateTime.add adds extra 1 hour"
# What I found

`DateTime add(Duration(days: N))` sometimes adds extra 1 hour as we can see in the screen shot below.

<img width="1440" alt="DateTime add" src="https://user-images.githubusercontent.com/19996540/87774929-60de4980-c879-11ea-98ab-07213d8cb24e.png">

# Repro step
https://dartpad.dev/
[code]

[2020-07-17 10:24] mkustermann commented on #41802
@natebosch The pub tool should now get it's 253 exit code behavior after every update of the Dart SDK.

[2020-07-17 10:26] julemand101 commented on #42740
Could it be daylight saving time in your region?

https://api.dart.dev/stable/2.8.4/dart-core/DateTime/add.html

[2020-07-17 10:34] mkustermann opened #42741 "[CP] Merge 90bba3ae277da into beta - avoids future issues with accidentally running incompatible kernel files on VM"
**Commit(s) to merge**: 90bba3ae277da

**Merge instructions**: clean merge

**What's the problem**:

For many years the VM only validated the kernel format version of kernel files it was given. Though the kernel format version is not updated on various non-format changes. This can cause the VM to seemingly accept kernel files that are incompatible.

This manifests in `pub run` / `flutter packages

[2020-07-17 10:35] ymdarake commented on #42740
@julemand101 Ah, I see. Thank you for pointing it out. Much appreciated.

--
I'll close this issue, sorry for being noisy!

[2020-07-17 10:35] #42740 closed

[2020-07-17 10:35] simphotonics opened #42742 "dart:convert jsonEncode() throws an exception if the method toJson() is defined in an extension."
My SDK version is:
[code]
When attempting to move the method `toJson()` to an extension I noticed that `jsonEncode()` does not behave as expected.
If the method `toJson()` is defined within the class `A` (see below) the program produces the expected output:
[code]
 However, if `toJson()` is defined within the extension `JsonA` dart:convert does not seem to have access to `toJson` and a call to `js

[2020-07-17 10:43] dcharkes commented on #42312
`DartWrappable` in Flutter/engine requires migration to non-auto-deleting WPHs, because it features being able to get a handle out of a weak handle (see [Flutter/engine patch](https://dart-review.googlesource.com/c/sdk/+/151525/14/tools/patches/flutter-engine/7e373831ceb4dd0c57fb06e1a6f3e9c4fd5e01c8.patch)). We'll have to roll manually to avoid the V2 symbols.

[2020-07-17 11:13] julemand101 commented on #42742
Extensions are dependent on static types and does therefore not work on dynamic:
https://dart.dev/guides/language/extension-methods#static-types-and-dynamic

If using the debugger we can see the next part of the stacktrace:
[code]

The _defaultToEncodable method is defined as:
[code]

We can reproduce this problem fairly simple by:
[code]

Which returns:
[code]

[2020-07-17 12:52] vsmenon commented on #42733
Is this a regression?  What is your assessment of the risk of taking this?

[2020-07-17 13:41] #40876 closed

[2020-07-17 13:43] #42069 closed

[2020-07-17 14:04] eernstg commented on #42568
@scheglov, @sgrekhov, with dart-lang/language#1063 closed I believe we can conclude that the analyzer works as intended: The normal completion gives rise to a nullable inferred return type for the function literal, and there is no error when the return statement is checked. So I'll close this.

[2020-07-17 14:04] #42568 closed

[2020-07-17 14:25] eernstg opened #42743 "CFE: Accept normal completion in function literal => nullable return type"
Cf. https://github.com/dart-lang/sdk/issues/42568, dart-lang/language#1063:

The following program gives rise to a compile-time error in `dart` (commit bbe8c552d14aecdcdad65685972fa49c8ff055db), but is accepted by `dartanalyzer` (same commit):

[code]

The program should be accepted, because [function literal return type inference](https://github.com/dart-lang/language/blob/master/resources/type-s

[2020-07-17 14:35] Ibrahim182 opened #42744 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA IC-201.8538.31`
- `2.8.4`
- `IC-201.8538.31, JRE 11.0.7+10-b765.64x64 JetBrains s.r.o., OS Windows 10(amd64) v10.0 , screens 1536x864`

[2020-07-17 15:35] scheglov commented on #42706
@eernstg @leafpetersen

[2020-07-17 15:46] mkustermann opened #42745 "TypedData specializer in VM's compiler should avoid creating DoubleToFloat instructions if --no-use-vfp is passed"
A unrelated CL recently caused [this failure](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8874570260873278784/+/steps/test_results/0/logs/new_test_failures__logs_/0):
[code]

[2020-07-17 16:09] simphotonics commented on #42742
**@julemand101** Thank you for taking the time to write such a detailed explanation. It might be useful for others who come across the same issue.

The use of the data-type `dynamic` was not obvious to me since `jsonEncode` and the first few functions in the calling sequence use `Object`. But I guess they had to use `dynamic` at some point in order to call  the method `toJson()` on an object of un

[2020-07-17 16:09] #42742 closed

[2020-07-17 16:11] timsneath opened #42746 "Crash when running dartdoc causes terminal to exit"
Running dartdoc is crashing: not dartdoc itself, but the whole command terminal.

Windows and Dart version:
[code]

[code]

[2020-07-17 16:19] pcsosinski commented on #42746
can we check if this is happening on Dart 2.9.0-21.4.beta ?

[2020-07-17 16:26] DanTup opened #42747 "Analyzer server error when fetching quick-fixes for index expression"
Using a nightly build from this week, I can trigger an exception when requesting code actions for this code:

[code]

The code action request is for inside the empty brackets `[]`.

[code]

[2020-07-17 16:30] DanTup commented on #42747
@bwilkerson I can only reproduce this using LSP (and in an LSP test), though I'm not quite sure why. I can fix this with a null check here:

https://github.com/dart-lang/sdk/blob/93313eb2449099e20ade80d4760f76a325a4e176/pkg/analysis_server/lib/src/services/correction/name_suggestion.dart#L200-L203

Any ideas why it might only happen in LSP? (and does a null check there seem reasonable, or should i

[2020-07-17 16:36] DanTup commented on #42747
Actually, I could reproduce in Android Studio but only if I highlighted `[]` before running "introduce variable". I think there may be something different about the position/range being used between LSP/non-LSP in VS Code. I haven't been able to reproduce it in any test in `name_suggestion_test.dart` test though (though I can repro in an LSP test).

[2020-07-17 16:37] franklinyow opened #42748 "Create a CL to disable dartdev in 2.9"
This track the work needed to disable dartdev in version 2.9 beta + stable

[2020-07-17 16:41] DanTup opened #42749 "Analyzer server error in AddDiagnosticPropertyReference"
I can't reproduce this right now (and don't now which file/location the cursor was at when it happened), but I was using a recent nightly build and had the Analyzer server code itself open, and this error occurred when the editor requested code actions.

@bwilkerson it seems like this code (in `AddDiagnosticPropertyReference`) got a null for `classDeclaration`:

[code]

Any thoughts on might cause

[2020-07-17 16:41] atreeon commented on #42684
Ah cool!  Yes hovering over `var` and getting some type information and comments would be great, if there are multiple variables I'd imagine they should all be able to evaluate to a specific type (or to dynamic).

Most generally I would just like some improvements to accessing the comments on variables.  Hovering over `z` already shows `Type: Z` in IntelliJ but it doesn't show `Z`'s comments.  May

[2020-07-17 16:42] alexmarkov commented on #42738
There is existing `verify_entry_points` VM flag which is supposed to do that. It might add some overhead for Dart C API calls.

[2020-07-17 16:46] srawlins commented on #42746
I can take a look at this this afternoon.

[2020-07-17 16:48] eernstg opened #42750 "CFE or VM: Execution of unbound external should throw"
The test outcome expectations in `tests/language/external_abstract_fields/external_fields_test.dart` have been corrected to match the [specified behavior](https://github.com/dart-lang/language/blob/2a8bff58e78fa90e3edebe9ef09392ec011caff6/specification/dartLangSpec.tex#L1931): Throwing a `NoSuchMethodError` when an external function with no binding is called.

This makes the configurations dartk-s

[2020-07-17 16:52] vsmenon commented on #42746
Thanks!  Note, if this is on beta channel, we'd to cherry pick a fix.

[2020-07-17 16:59] timsneath commented on #42746
I switched to the beta channel (2.9.0-14.1.beta) and ran it again, and got the following:

[code]

I then ran `dart pub cache repair`, which reinstalled dartdoc, and it seems to be working. Curious...

[2020-07-17 17:01] timsneath commented on #42746
Oh wait -- @pcsosinski -- you're asking about a later beta than the one on the Flutter `beta` channel? I'll have to manually install that.

[2020-07-17 17:03] pcsosinski commented on #42746
2.9.0-14.1.beta is close enough.

[2020-07-17 17:03] pcsosinski commented on #42746
unfortunately yes.  you can try on 1.20.0-7.1.pre (it has the most recent Dart beta)

[2020-07-17 17:17] bwilkerson commented on #42747
I can try to produce a test for it if you'd like, but I don't know that I'll have any better luck than you.

And yes, line 201 is the right place to add a null check. I'm convinced that it's needed, so feel free to add one even if we don't have a test for it (unless you want me to try to find a test, in which case I'd rather just fix it in the same CL).

[2020-07-17 17:21] vsmenon commented on #42746
My underpowered windows laptop appears to be up to running `--version` at least:

[code]

[2020-07-17 17:25] pcsosinski commented on #42746
1.20.0-7.1.pre is where you want to test @vsmenon (it's flutter dev, but has the new Dart 2.9 beta.)

[2020-07-17 17:26] aam commented on #42746
Seems to work fine on 1.20.0-7.1.pre
[code]

[2020-07-17 17:37] DanTup commented on #42747
It's probably worthwhile having a test (I made one in LSP but it feels like the wrong place to test it) so if you can come up with one feel free to commit the fix too. I suspect my failure to make a test is just down to me failing at extracting the right part of the expression.

[2020-07-17 17:44] bwilkerson commented on #42749
Yes. Because of the call to `_getReturnType` on line 33 we know that `parent` is either a `MethodDeclaration` or a `VariableDeclaration`. The `classDeclaration` will be `null` if `parent` isn't inside a `ClassDeclaration`. That could happen if it's inside a mixin or an extension.

We could fix the first case by changing line 101 to `parent.thisOrAncestorOfType<ClassOrMixinDeclaration>();`, but I d

[2020-07-17 17:53] bwilkerson commented on #42684
I believe that the reason for that is because it _does_ show `z`s comments, and it might be confusing to display both sets of comments unless they can be clearly differentiated.

@alexander-doroshko For ideas about IntelliJ improvements

[2020-07-17 17:59] aam commented on #42746
@timsneath  where did you get the dart sdk that had issues with dartdoc?
I just downloaded one from https://dart.dev/tools/sdk/archive dev channel and it seems to work fine on my win10
[code]

[2020-07-17 18:06] timsneath commented on #42746
I've been using the flutter-vended Dart.

On Fri, Jul 17, 2020 at 10:59 AM Alexander Aprelev <notifications@github.com>
wrote:

[2020-07-17 18:19] zichangg opened #42751 "Failures on [test/status] Skip built_in_type_annotation_test on all backends...Put isXyz flags into ParameterKind and use in AST and element model."
There are new test failures on [[test/status] Skip built_in_type_annotation_test on all backends...Put isXyz flags into ParameterKind and use in AST and element model.](https://github.com/dart-lang/sdk/compare/dba9f7f99cb491c74dc5afd8245f9394bdce424d~...d933cc61e50995026d32aba3fd06292e541a4be6).

The tests
[code]
are failing on configurations
[code]

log: https://logs.chromium.org/logs/dart/buildb

[2020-07-17 18:20] mkustermann commented on #42738
We could put a bit on our Function objects during kernel loading (instead of looking up metadata again and again), then it's very fast to check.

[2020-07-17 18:27] aam commented on #42746
@timsneath , I got you. Are you able to reproduce the failure by going back to `1.20.0-7.0.pre` of flutter?

I checked out `1.20.0-7.0.pre` of flutter and dartdoc works fine there for me still:
[code]

[2020-07-17 18:40] franklinyow commented on #42735
@rakudrama Can you update the request to look something like https://github.com/dart-lang/sdk/issues/42715

[2020-07-17 18:41] chingjun opened #42752 "Deobfuscate heapsnapshot and instruction sizes in gen_snapshot."
When obfuscation is enabled, gen_snapshot should write the unobfuscated version of the outputs of `--write-v8-snapshot-profile-to=` and `--print-instructions-sizes-to=`. The obfuscated version is not very useful.

Currently we are adding a script to deobfuscate the output files.

Thanks.

[2020-07-17 18:50] alexmarkov opened #42753 "language/generic/f_bounded_equality_test fails in NNBD+AOT mode"
This test works without NNBD and with NNBD in JIT mode, but fails in AOT mode with NNBD (both weak and strong).

[code]

/cc @crelier

[2020-07-17 19:06] Abion47 commented on #33698
This is not an ideal solution as it loses the static analysis benefits you get with enums. (e.g. you won't get a warning in a `switch` if you don't implement a case for every constant)

[2020-07-17 19:26] scheglov commented on #42751
These looks like runtime errors, and analyzer is static type analysis only.

[2020-07-17 19:30] #29731 closed

[2020-07-17 19:47] nshahan opened #42754 "DDC still tests non-nullable values for null when running with sound null safety"
DDC always inserts some null checks that behave differently in sound and weak mode.

This is left over from when `--sound-null-safety` was just a runtime option and the ability to run in sound mode with opted in and opted out sources. Now that it is a compile time option and we produce different .dill and .js files in sound and weak modes. Additionally we don't expect to run with mixed libraries i

[2020-07-17 20:22] #42748 closed

[2020-07-17 20:30] natebosch commented on #41802
I'm still not clear on why we need both mechanisms for invalidation here. The kernel -> text tool being able to read kernel files across SDKs doesn't seem like it warrants keeping the complexity of both mechanisms long term, but I won't push on it any further.

Thanks for the fix!

[2020-07-17 20:31] stereotype441 commented on #42732
Fix out for review: https://dart-review.googlesource.com/c/sdk/+/154847

[2020-07-17 20:40] a-siva opened #42755 "[CP] merge into [beta] channel: Create a CL to disable dartdev in 2.9"
commit(s) to merge: [f6a82443e4](https://github.com/dart-lang/sdk/commit/f6a82443e47a17be471ef104b5de2549fdf797e9)

link to issue: https://github.com/dart-lang/sdk/issues/42748

merge instructions: clean merge

what's the problem:

dartdev has some open issues which are being addressed in https://dart-review.googlesource.com/c/sdk/+/154706
https://github.com/dart-lang/sdk/issues/42630
https://gith

[2020-07-17 21:12] lrhn commented on #42729
We are unlikely to put that method on `int`. We could do it without using extensions if we wanted to, but I don't think it's a particularly useful function with all the existing alternatives available. It just repeats, but doesn't return anything.

I'd be more interested in a shorter syntax for `Iterable.generate`, like `1.to(5)`, so you could do `1.to(5).forEach(print)` *or* `1.to(5).map(...)`.
(

[2020-07-17 21:50] sigmundch commented on #42712
Thanks, closing since this was fixed by a38e265

@alextekartik this is not yet available on the beta/dev releases, but we have filed a request to cherry-pick the fix (#42735)

[2020-07-17 21:50] #42712 closed

[2020-07-17 21:57] sigmundch commented on #42735
Note:  this issue is more visible in 2.9. The problem is exposed more often in the presence of legacy types, and since 2.9.* is the first release with the unforked SDK, we are noticing this issue a lot more than before.

[2020-07-17 22:08] franklinyow commented on #42711
We're rolling back Dart CLI in 2.9 so there is no need to cherrypick this one

[2020-07-17 22:14] vsmenon commented on #42755
lgtm per discussion today

@pcsosinski @franklinyow - are we set on this and/or do we need @whesse do to anything besides merge this in?

[2020-07-17 22:22] pcsosinski commented on #42755
lgtm

[2020-07-17 22:31] sigmundch commented on #42576
Oh sorry for a confusion on my end - we have two `jsify` methods that behave differently. The one in `dart:js` should eventually get deprecated. There is one in `dart:js_util` that I believe should work for you. I just tested it out and seems to do the right thing.
[code]

If that gives you trouble for any reason,  there are other options available, but require more declarations, though. One alter

[2020-07-17 22:50] slavap commented on #33698
With extension it is even not so verbose :-)
[code]

[2020-07-17 23:11] Abion47 commented on #33698
@slavap

If it were implemented natively without extensions, it would look like this:

[code]

One line (max 5 effective) against your 12+. It's also aggravating to have to define code related to an enum outside of that enum's declaration.

And strictly speaking, if this were implemented similarly to how C# handles enums, `Bob` wouldn't even need to exist as an explicit value, but could instead be

[2020-07-17 23:27] franklinyow commented on #42714
ping @Hixie @matanlurey  for approval

[2020-07-17 23:28] slavap commented on #33698
@Abion47 I'm not saying it is ideal, and I prefer to have normal enum support in a language as well. But it is not a stopper currently.
Also 24+ lines are not needed to implement other way conversion:
[code]

Not sure what that means: "how would you support the dynamic combination of two enums as in the example above using this approach? (Spoiler: You can't.)" ?

[2020-07-17 23:56] #42711 closed

[2020-07-17 23:56] franklinyow commented on #42711
closing

[2020-07-18 00:15] ride4sun commented on #42717
Ok, is it possible to get it working as I would have it expected? This is failing without any hint right now. Maybe Dart or the compiler/ analyzer can catch that?  using `listen` in a stream is a pretty often used use case...

[2020-07-18 00:15] sigmundch commented on #32929
additional checks that we have discussed recently:
* [ ] instance method renames: we can warn that these are not supported. Today this means that instance method `@JS` declarations are unnecessary, so we can also warn about any use of them, but we can be a bit more lenient with benign annotations and only warn when there the rename is clearly the intent.
* [ ] conflict between `@JS` and native typ

[2020-07-18 00:20] filiph opened #42756 "Document if DateTime.difference can be negative"
I am always confused whether `myDate.difference(myOtherDate)` can return a negative value, depending on the order of the dates. I assume not, but the [API docs](https://api.dart.dev/stable/2.8.4/dart-core/DateTime/difference.html) say nothing.

This is important, because I remember dealing with this at least two times already, and the only way to check is through experimentation (Dart SDK doesn't

[2020-07-18 00:22] aksharpatel47 commented on #42576
Thanks @sigmundch. `js_util.jsify({"facingMode": "environment"})` worked.

[2020-07-18 01:17] Abion47 commented on #33698
@slavap

The point is that it _is_ a stopper for anything much more complicated than a trivial use case. (See below)

[code]

This method can't go in the extension since doing so would then require an instance of `Role` in order to call it. It needs to be a static method or a standalone utility method. (Hence my frustration about code relevant to the enum having to be declared outside the enum.)

[2020-07-18 02:28] slavap commented on #33698
@Abion47
IMO this:
// Dynamic combination
Role r = Role.NormalUser | Role.Fiance;

Clearly means you don't need an enum, but class with overridden operators, which you example is exactly demonstrating.
E.g. in Java there is no "bit flag enum" and nobody cares much about it.

[2020-07-18 03:07] Abion47 commented on #33698
@slavap As someone who programmed in Java for years, bit flag enums was one of the many features Java didn't support "because no one cared about it" that ultimately made me dump it for C# and never look back. To be honest, looking back at my time as a Java developer, I learned a lot of bad habits from following "best Java practices" and was thoroughly convinced by many common Java idioms that in r

[2020-07-18 03:17] slavap commented on #33698
@Abion47 It is all question of priorities. "nullable types" and extension methods definitely are higher priority than "bit enums".
Also I personally don't like much languages overloaded by excessive syntax sugar, like C#, Kotlin, or C++ 17/20.

[2020-07-18 03:31] Abion47 commented on #33698
@slavap Bit-flag enum isn't the feature just by itself. It can easily be implemented as part of the much broader feature of [value-typed enums](https://github.com/dart-lang/language/issues/158) which is the fifth most requested feature of all open issues right now, only behind:

1st place: Data classes
(A greatly appreciated feature, and hopefully it can be implemented alongside ADTs which are the

[2020-07-18 03:40] slavap commented on #33698
@Abion47 IMO "excessive syntax sugar" leads to incredible unreadable code, especially in case of large development team. You have to enforce more or less unified code style or code review and support will quickly become a nightmare. Look at Golang - simple language without much unnecessary sugar.

[2020-07-18 05:08] nateshmbhat commented on #33698
@Abion47

Agreed 💯 💯 💯 on all the points. We really need this feature and having this will help a huge range of use cases in a much efficient way both in terms of code and execution.

[2020-07-18 05:26] Abion47 commented on #33698
@slavap There is certainly something to be said about keeping things simple and straight-forward, but there's also something to be said about using the right tool for the job. The syntactic sugar tools make life much easier, but just like literally anything else in the programming world, they can be abused. It's not up to us to say whether a tool is good or bad. It's our job as developers to learn

[2020-07-18 08:38] alextekartik commented on #42712
Thanks @sigmundch

Cossing fingers as it basically breaks the package for the web and flutter web (which has to be in the beta channel)

[2020-07-18 08:54] lrhn commented on #42717
We won't make the `yield` inside a nested function do a yield in the outer function.

As for the "no warning", maybe the analyzer could issue a warning if you use a `sync*` or `async*` generator function in a `void`-returning function context. That would suggest that you are doing something useless since a generator function doesn't really run until the returned iterator/stream is iterated/listene

[2020-07-18 10:42] eernstg opened #42757 "Analyzer: Implement null spread element typing with null-safety"
Cf. https://github.com/dart-lang/language/pull/1079, `Never` is the inferred element/key/value type of a spread element of the form `...?e` where the static type of `e` is a potentially nullable subtype of `Null`, and `Never` is also the inferred element/key/value type of `...e` where the static type of `e` is a subtype of `Never`.

The analyzer currently reports several errors for the associated

[2020-07-18 10:42] eernstg opened #42758 "CFE: Implement null spread element typing with null-safety"
Cf. https://github.com/dart-lang/language/pull/1079, `Never` is the inferred element/key/value type of a spread element of the form `...?e` where the static type of `e` is a potentially nullable subtype of `Null`, and `Never` is also the inferred element/key/value type of `...e` where the static type of `e` is a subtype of `Never`.

The CFE currently reports several errors for the associated tests

[2020-07-18 10:42] eernstg opened #42759 "DDC: Implement null spread element typing with null-safety"
Cf. https://github.com/dart-lang/language/pull/1079, `Never` is the inferred element/key/value type of a spread element of the form `...?e` where the static type of `e` is a potentially nullable subtype of `Null`, and `Never` is also the inferred element/key/value type of `...e` where the static type of `e` is a subtype of `Never`.

DDC currently reports several errors for the associated tests: ht

[2020-07-18 10:42] eernstg opened #42760 "dart2js: Implement null spread element typing with null-safety"
Cf. https://github.com/dart-lang/language/pull/1079, `Never` is the inferred element/key/value type of a spread element of the form `...?e` where the static type of `e` is a potentially nullable subtype of `Null`, and `Never` is also the inferred element/key/value type of `...e` where the static type of `e` is a subtype of `Never`.

`dart2js` currently reports several errors for the associated tes

[2020-07-18 11:15] lrhn commented on #42756
A `Duration` can be negative, and `difference` can return a negative difference.

So yes, documentation saying that would be nice.

[2020-07-18 15:29] #27468 closed

[2020-07-18 19:42] timsneath opened #42761 "Request textDocument/codeAction failed."
While editing code, got multiple codeAction errors:

[code]

## Dart Version
[code]

[2020-07-18 21:04] Hixie commented on #42714
sgtm

[2020-07-19 14:39] bwilkerson commented on #42761
This appears to have been fixed on 6/4/20 by https://dart-review.googlesource.com/c/sdk/+/150163. My guess is that we cut the branch for 2.9.0-14.1.beta prior to that commit. Please let us know if you can reproduce this on a more recent build.

[2020-07-19 14:39] #42761 closed

[2020-07-19 20:03] bwilkerson opened #42762 "Poor diagnostic message when using `?.[]`"
Create a file containing the following (invalid) code:
[code]
The use of `?.` before an index operator appears to no longer be supported, but the diagnostic message is very confusing. There is only one message generated (on the reference to `s` inside the body):

The message should explain to users that they can't use `?.` before `[]` to null-check `s`.

[2020-07-19 20:45] timsneath commented on #42761
Thanks. Yeah, possibly -- I switched to the beta because of another bug we
were trying to track down. Will let you know if it crops up again.

On Sun, Jul 19, 2020 at 7:39 AM Brian Wilkerson <notifications@github.com>
wrote:

[2020-07-19 22:41] tvolkert opened #42763 "Type error in generic closure"
## Steps to reproduce

[code]

## Expected behavior

You expect no errors in running this code

## Actual behavior

The following error is thrown:

[code]

## Other information

[code]

[2020-07-19 22:50] tvolkert commented on #42763
Here's a reproducible case not involving Flutter:

[code]

Result:

[code]

[2020-07-19 23:50] jonahwilliams commented on #42763
The problems here, in both the Flutter and Dart examples, are that the declarations of `BugReport` without a specified type parameter are defaulting to `BugReport<dynamic>`. See also: https://github.com/dart-lang/sdk/issues/33119

[code]
[code]

Since T is dynamic, this leads to the type of the value callback being inferred as `void Function(dynamic)` (Null return is unimportant). And since functi

[2020-07-20 00:54] tvolkert commented on #42763
Well spotted, sir!  Closing as working as intended.

[2020-07-20 00:54] #42763 closed

[2020-07-20 01:58] mrmax99 opened #42764 "DDC `async*` bug - another flavor with more awaits"
I'm hitting another variant of this bug:
https://github.com/dart-lang/sdk/issues/39994

It only reproduces for me on web / DDC.

Expected output (just running in dart on the console works correctly):
[code]

Output when running a flutter web debug app on chrome:
[code]

Relevant code portion:
[code]

My version info:
[code]

[2020-07-20 02:07] silspo opened #42765 "Notification Class Constructor does not support Notification Actions which is available as part of the HTML5 Notification API"
* Dart core libraries ("dart:html)
* Dart SDK Version - 2.8.4

Notification Constructor does not contain action argument which is exposed as part of the HTML api -
https://developer.mozilla.org/en-US/docs/Web/API/notification/Notification

[2020-07-20 04:30] bwilkerson commented on #42747
I was able to create a test for it. Adding the null check fixed the exception, but caused it to create a bogus assist, so I also added code to check for the recovery case and not create the assist in that condition. The CL is https://dart-review.googlesource.com/c/sdk/+/154845.

[2020-07-20 04:44] zichangg commented on #42716
@smcassar I took a look at our Overrides API. You can use `IOOverride` as a workaround.
https://api.dart.dev/stable/2.8.4/dart-io/IOOverrides/socketStartConnect.html

Our `HttpClient` uses `Socket.startConnect` to build the connection. https://github.com/dart-lang/sdk/blob/bbe6bb9823495574917c75634b1f8a2a8099086c/sdk/lib/_http/http_impl.dart#L2076

Here is [an example](https://api.dart.dev/stable/

[2020-07-20 04:55] zichangg commented on #42716
@sortie A great point!! `http+unix` may not be as useful as `http` or `https`. But we do need a better way to support this feature. Personally, I don't like the way utilizing class `IOOverride` which is not obvious or easy for users to use.

We have already had our class `Socket` supporting unix domain sockets. Our `HttpClient` can be consistent with `Socket`. In terms of the cost, this change is

[2020-07-20 05:11] feinstein commented on #42729
I came up with this proposal precisely because I am kinda tired of the boilerplate in `Iterable.generate`, as you are, or the `for` loop. The `times` extension wasn't even my idea (as can be seen in the original issue), I honestly don't care how it's done, as long we have a quick, small, concise way to generate a finite number of repetitions.

[2020-07-20 06:28] subinsv commented on #42667
Hi @mkustermann

Thanks for the information.
Hope to see this feature implemented sometime in future :)

[2020-07-20 06:34] johnniwinther commented on #42750
Labeling as area-vm for now since we do not have a way for backends to tell which external members are allowed and which are not.

[2020-07-20 07:24] nikitadol opened #42766 "Type inference not working"
* Analyzer
* Dart VM version: 2.8.4 (stable) (Wed Jun 3 12:26:04 2020 +0200) on "macos_x64"

[I was advised to write this here](https://youtrack.jetbrains.com/issue/WEB-46251#focus=Comments-27-4278899.0-0)

[code]
Expected Result: element is String
Actual result: element is dynamic

![image](https://user-images.githubusercontent.com/16593680/87910516-d2351c80-ca72-11ea-85cc-cd0232a8b37f.png)
![ima

[2020-07-20 07:49] alexander-doroshko commented on #42684
I like the idea to have hyperlinks in the documentation popup. In this case `Z` could be clickable in `Type: Z`. This is already done for Java in IntelliJ IDEA. To have it implemented in Dart we'd need to add the feature to the Anaysis Server protocol and handle it in the Dart plugin as well. Example for Java:
![image](https://user-images.githubusercontent.com/4499789/87912737-90a67080-ca76-11ea-9

[2020-07-20 07:58] eernstg commented on #42750
Right. The behavior is actually [specified](https://github.com/dart-lang/language/blob/5001616a0ece31b686b48a34d931fcfa9cb3134a/specification/dartLangSpec.tex#L1930) in a way that allows many things:

I made the tests expect a `NoSuchMethodError` because it seems reasonable that the implementation specific mechanism would bind external declarations to callable entities for a specific reason (e.g.,

[2020-07-20 08:26] DanTup commented on #42747
Tested with the latest nightly using the same code and LSP, and it looks good (no crash, and the fix is missing - I'd also noticed it generated weird code when I'd added the null check locally, but wasn't sure if that was the whole fix).

Thanks!

[2020-07-20 08:26] #42747 closed

[2020-07-20 09:03] DanTup commented on #42749
Thanks! Fix/test at https://dart-review.googlesource.com/c/sdk/+/154883/.

[2020-07-20 09:04] lrhn commented on #42766
That's actually working as intended.

Dart does not make inference between arguments, so the type of one argument does not affect the other argument.

Here you write `fun(<String>[], (element) => element);` with
[code]
There is no clue from the outside what `E` should be for this call, so both arguments are analyzed *independently*.
The type of the first one is `List<String>`, and the second is `O

[2020-07-20 09:04] #42766 closed

[2020-07-20 09:19] sortie commented on #42716
@zichangg Awesome that you found a solution with IOOverride.

Yes, I think we should go ahead with http+unix:// support in HttpClient as it is slightly useful and consistent and is a non-breaking change.

[2020-07-20 09:23] nikitadol commented on #42766
But why?

Xcode and Swift
![Screen Shot 2020-07-20 at 12 12 55](https://user-images.githubusercontent.com/16593680/87920779-59d65780-ca82-11ea-806a-f490f291a3a7.png)

IntelliJ IDEA and Kotlin
![Screen Shot 2020-07-20 at 12 22 26](https://user-images.githubusercontent.com/16593680/87921752-b128f780-ca83-11ea-9c1c-bdfb7902c688.png)

[2020-07-20 09:24] cskau-g commented on #29027
It should not.
In short, the SDK hash checks that dill are created and run with the same version of the

[2020-07-20 09:27] cskau-g commented on #29027
It should not.
The SDK hash checks that the same version of the SDK is used for both creating and running a given kernel dill.
As opposed to the ABI version which of course tracks changes to the ABI, which I believe is the issue here.

[2020-07-20 09:44] mkustermann commented on #42288
The SDK hash related changes have landed now, see https://github.com/dart-lang/sdk/issues/41802

We are still waiting until it rolls upstream and gets corresponding changes made in google3. Once this has happened, we could remove these old dill tests - which seemingly causes a lot of struggle for people.

[2020-07-20 10:30] cskau-g commented on #42705
As also mentioned on the other issue, I believe the offending CL should simply have bumped the ABI version:
https://github.com/dart-lang/sdk/blob/bec928c89f596ee651ae1c7238a0eb6aa5ce4013/tools/VERSION#L38

This is not related to the recently added SDK hash, so I'll unassign myself.

[2020-07-20 10:32] lrhn commented on #42705
ACK. Working on the ABI version increment (it's *not* just that file).

[2020-07-20 10:37] sigurdm opened #42768 "@required should warn if applied in overriding method but not in the overridden."
This code:
[code]
Doesn't give any lints. Usually you are not allowed to be more restrictive in the overriding, so a warning here would be nice.

See: https://github.com/dart-lang/pub/issues/2563 for a real world instance.

[2020-07-20 12:02] dcharkes opened #42767 "[ffi] Loads and stores sensitive to inlining budget"
Source code 1x benchmark invocation.

[code]

Source code 3x benchmark invocation.

[code]

Upon inspection of the flow graph, the main method of the benchmark has different inlining behavior. (All the relevant FFI methods have no differences in flow graph and machine code.)

[2020-07-20 12:17] eernstg commented on #42481
Please note that the specification was changed (https://github.com/dart-lang/language/pull/1083, https://github.com/dart-lang/language/pull/1096) to eliminate the error caused by an import or export of two libraries with the same name.

Implementation issues are https://github.com/dart-lang/sdk/issues/42700 and https://github.com/dart-lang/sdk/issues/42699.

[2020-07-20 12:26] eernstg commented on #42481
Commit https://github.com/dart-lang/sdk/commit/ef147c0a95bc345fbfca99946434745bf484ca08 implies that the analyzer implements the new behavior. So given that the CFE is covered by #42700, I'll close this issue.

[2020-07-20 12:26] #42481 closed

[2020-07-20 12:47] vsmenon commented on #42741
We're getting late into cherry-pick season and this isn't a regression.

@mkustermann - do you consider this low risk?  Has it rolled into flutter and/or internal successfully?

@kevmoo - how important is this to get into the current beta?  ( fyi - @jonahwilliams @natebosch )

[2020-07-20 13:48] vsmenon commented on #42735
lgtm
- risk seems low
- customers are hitting this
- per @sigmundch 's last comment, it's effectively a regression

[2020-07-20 14:08] bwilkerson commented on #42684
What information would need to be added?

[2020-07-20 14:34] sortie commented on #41247
I have a reproduction:

[code]

I can confirm the issue remains on the latest master on Linux.

The issue is that the `_HttpClient._closeConnections` attemps to close all the active connections. However, after it has happened to close one, it lets the HttpClient know in `_HttpClient._connectionClosed` which handles the case where a connection has changed, and because it needs to support a soft clo

[2020-07-20 14:43] fishythefish commented on #42760
The spread operator is currently desugared by the CFE, which is why there are errors on the CFE, DDC, and VM bots as well. Once the CFE issue is fixed, the backend failures will likely be resolved automatically.

[2020-07-20 14:53] DanTup commented on #36064
With https://github.com/microsoft/vscode/issues/15178 being locked and https://github.com/microsoft/language-server-protocol/issues/1031#issuecomment-648706536 saying they're reluctant to pass UI state to the server in LSP, I don't think there are many remaining fixes here.

The best I can think of:

- LSP stops using tying priority files to what LSP considers "open files" (eg. for the current imp

[2020-07-20 15:09] alexander-doroshko commented on #42684
@bwilkerson

[HoverInformation](https://htmlpreview.github.io/?https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/doc/api.html#type_HoverInformation) object contains a bunch of Strings. Some strings are class names (like `staticType` which is equal to `Z` in the example above). Some may include other class names (e.g. `elementDescription` may be `"class Foo extends Bar implements Baz

[2020-07-20 15:11] jodinathan opened #42769 "Why does Dart version of WebRTC mostly expect Maps instead of regular RTC objects?"
This tracker is for issues related to:
* Dart core libraries ("dart:async", "dart:io", etc.)
dart:html

Take setLocalDescription as example:
[code]

It expects a Map for the description argument, however, it should a RtcSessionDescription.

Also, the description argument is optional.

[2020-07-20 15:24] bwilkerson commented on #42684
Do you mean that it's hard to use the hover information obtained for the enclosing file? If so, I would expect that. It wouldn't have the range information for the pieces of text in the `HoverInformation`.

But it sounds like we would essentially need a single list of `NavigationTarget`s and one list of `NavigationRegion`s for each of the fields of the `HoverInformation` that could contain referen

[2020-07-20 15:38] alexander-doroshko commented on #42684
Yes, I mean that we have ranges in file but not in `HoverInformation.dartdoc` string.

Agree, that would work.

Yes, I think we want to omit them if it's not expensive to pre-calculate. I guess we have some HoverInformation for any valid symbol, so we talk only about invalid references.

In Java there's also error highlighting in doc popup but I don't think this is a 'must have' feature.
![image](

[2020-07-20 16:00] bwilkerson commented on #36064
I like the idea of being able to use the same solution for both protocols, and I agree that LSP's notion of "open files" doesn't correspond to server's notion of priority files, so we shouldn't treat them as if they were the same.

But I think we have to assume that most clients won't implement the "update visible documents" notification. The only implication I know of for that is that opening an

[2020-07-20 16:12] #42732 closed

[2020-07-20 16:20] kevmoo commented on #42741
We're getting a BUNCH of failures in CI without this fix. This is with any
precompiled binaries (pkg test, build runner, etc)

This is a regression that's hard to debug unless you have context.

Nake/Jake would be good to discuss risk with, too – although Martin has
most of the context, I think.

On Mon, Jul 20, 2020 at 5:47 AM vsmenon <notifications@github.com> wrote:

[2020-07-20 16:23] #41981 closed

[2020-07-20 16:29] devoncarew opened #58208 "RangeError: Value not in range: -1 from unnecessary_string_escapes.dart:109"
Caught by internal crash reporting:

[code]

stable signature of `RangeError at _StringBase.substring at dart:core-eee791a8`

[2020-07-20 16:54] natebosch commented on #42741
This is a regression. Old SDKs do not have this problem.

[2020-07-20 17:27] JSANL opened #42770 "Analyzer fails to recognize static function calling a non-static function inside an anonymous function."
[code]

Expected Behavior:
Analyzer showing that foo() can't be called from _bar();

Actual Behavior:
Compilation Error "Method not found: foo()"

The weird thing is that the analyzer in dartpad works correctly: https://dartpad.dev/b35639b80e1af9750dd00b97142131ef
although I have Dart 2.9.0 and Dartpad says "Based on Dart SDK 2.8.4".

Dart Version:
`Dart VM version: 2.9.0-5.0.dev.flutter-4da5b40fb

[2020-07-20 17:39] nshahan commented on #42253
Tracking issue in the build repo: https://github.com/dart-lang/build/issues/2723

[2020-07-20 17:40] eernstg commented on #42763
Here's another thing which is worth keeping in mind: Even when the type arguments have been added, it is unsafe to have an instance variable like `onValue`, because it has a declared type which is contravariant in the type parameter `T`, and the class is covariant in `T`. For example:

[code]

The evaluation of `c.f` throws (we just need to touch `f`, we don't even have to call it for the bomb to

[2020-07-20 17:40] vsmenon commented on #42746
Thanks @aam !

Do we believe there is anything needed for beta here?

[2020-07-20 17:48] timsneath commented on #42746
After switching versions and uninstalling / reinstalling, I'm not able to
repro again. I don't know whether that means the bug is fixed or whether
I've just shot the messenger, but in the absence of a repro it's going to
be hard to make much progress, I agree.

On Mon, Jul 20, 2020 at 10:41 AM vsmenon <notifications@github.com> wrote:

[2020-07-20 17:52] #42720 closed

[2020-07-20 18:10] srujzs commented on #32929
I'm curious: what's blocking us from allowing instance method renames? I was talking a bit about this last week and figured it would be a good way to wrap overloading.

[2020-07-20 18:15] vsmenon commented on #42741
Thanks for the clarifications!  lgtm

[2020-07-20 18:16] scheglov commented on #42757
I don't understand what "potentially nullable subtype thereof" means in "With null-safety, when the static type of `e` is `Null` or a potentially nullable subtype thereof". I have two issues:
1. Is there any special meaning of "thereof"?
2. Is there any special meaning of "potentially nullable"? So, `e` should be not just subtype of `Null`, but also **potentially nullable**?

[2020-07-20 18:18] franklinyow commented on #42735
Approved

[2020-07-20 18:33] eernstg commented on #42757
"`Null` or a potentially nullable subtype thereof" simply means "a potentially nullable subtype of `Null`", but I singled out that `Null` is included because it may be tempting to think that "a subtype of `T`" means "a proper subtype of `T`", that is, it doesn't include `T` itself. I don't know if that amounts to a _special_ meaning of 'thereof'. ;)

So this is concerned with types like `Null`, `X

[2020-07-20 18:37] natebosch commented on #32929
The current interop design in dart2js does not allow it - though we can do it easily in ddc.

In dart2js all `@JS()` interop classes share effectively a single implementation. When the dart code has `foo.bar()` that ends up going through to a Dart method that forwards to the JS `bar()` method. If _any_ JS interop needs to forward from the Dart name `renamed` to the JS named `bar`, then _all_ JS in

[2020-07-20 18:44] eernstg commented on #42759
Note, cf. https://github.com/dart-lang/sdk/issues/42760#issuecomment-661083979, that this issue might be resolved automatically when https://github.com/dart-lang/sdk/issues/42758 is resolved.

[2020-07-20 18:50] eernstg commented on #42760
Given that the CFE issue is #42758, we should just close this issue rather than making it a duplicate. Of course, that's only true if 'failures will likely be resolved automatically' means 'failures will definitely be resolved automatically', but that seems to be likely at this point. ;)

[2020-07-20 18:50] #42760 closed

[2020-07-20 18:54] scheglov commented on #42757
Thank you.
So, it seems to me that just a simple `X <: Null` will work.

Another related question.
Is this code valid in Null Safety and legacy?
[code]
The spec says that `S` should implement `Iterable`.
But both analyzer and CFE report an error.
![image](https://user-images.githubusercontent.com/384794/87974970-c6038c00-ca7f-11ea-8ec1-8549bb83c5b3.png)

[2020-07-20 19:12] fishythefish commented on #42760
FWIW, if these tests don't get fixed by the CFE change, they'll continue to show up in the list of NNBD test failures and I'll end up handling them in the burndown anyway.

[2020-07-20 19:27] franklinyow commented on #41246
Is this done?

[2020-07-20 20:48] bwilkerson commented on #40056
This should now be fixed by https://dart-review.googlesource.com/c/sdk/+/155040. And there are regression tests to prevent it from coming back again.

[2020-07-20 20:48] #40056 closed

[2020-07-20 20:52] sigmundch commented on #32929
If I recall correctly, `ddc` can only handle it when the invocation is typed. When invocations are dynamic (via a `dcall`) it will not apply the rename either.

I should note that even though the issue is more visible because of dart2js's implementation, there is an actual composition problem here. We allow users to define JS-interop classes without coordination. If two libraries expose the same J

[2020-07-20 20:55] munificent commented on #41855
Closing this because I don't think we plan to or need to take action on it.

[2020-07-20 20:55] #41855 closed

[2020-07-20 21:07] natebosch commented on #32929
Correct.

Right, that's why we ideally would like a more statically predictable JS interop. If we can trust the calling side then we can do the rename there. That's what the DDC implementation for instance member renames looked like.

[2020-07-20 21:16] vsmenon commented on #42734
Do we know whether this rolled into flutter and/or internal successfully?

[2020-07-20 23:21] a-siva commented on #42734
It has made it to the flutter framework, that version of flutter has not been rolled into google3 yet.

[2020-07-20 23:22] alexmarkov opened #42771 "standalone_2/io/secure_socket_renegotiate_test fails with RuntimeError"
[code]

[code]

There is a similar failure in `standalone/io/secure_socket_renegotiate_test` in NNBD weak mode.

If I change secure_socket_renegotiate_client.dart to use `utf8.decoder.bind(socket)` instead of `socket.transform(utf8.decoder)` (as CHANGELOG recommends), the test still fails.

[code]

[code]

/cc @tvolkert @lrhn @sortie @zichangg

[2020-07-20 23:23] a-siva commented on #42733
No this is not a regression, the risk is low it adds a missing write barrier.
Including this would mean we won't be investigating crashes of this kind from the field.

The change has been rolled upto the flutter framework, that version of flutter has not been rolled into g3 yet.

[2020-07-20 23:42] natebosch commented on #42395
Are any of the existing 3 variants the version from `flame-engine` or is that a 4th variant?

[2020-07-21 00:00] crelier commented on #42395
None of the 3 are currently using the version from `flame-engine`, but a version by Google on github frozen at different points in time. `flame-engine` forked that unmaintained version some time ago and improved it. I updated one of the 3 benchmarks (`Box2DOctane`) to use the current `flame-engine` version. It is fairly easy to do. My plan is to migrate `flame-engine`'s `Box2D` to NNBD and to chec

[2020-07-21 00:00] filiph commented on #42756
I went to make the change and realized it has been recently fixed (https://github.com/dart-lang/sdk/commit/af054ee91cb32d0890d8639bdddcbf892f5db7d2) and is merged into `master` now. Closing.

[2020-07-21 00:00] #42756 closed

[2020-07-21 00:11] natebosch commented on #42395
Are there any conflicts between these? Does the "interop with their framework" imply any dependency on their other code?

I'm wondering whether starting from the latest version in the google repo and doing our own fixes from there will be a smoother path.

In any case, I think it would be much better to get everything migrated to a consistent single copy _first_, and then migrating that single cop

[2020-07-21 00:16] crelier commented on #42395
I think the idea was to drop Google's version altogether, since it has not been maintained in ages.

[2020-07-21 00:19] franklinyow commented on #42733
Approved

[2020-07-21 00:20] franklinyow commented on #42734
Approved

[2020-07-21 00:34] bwilkerson commented on #37913
Given that the extension methods experiment has now shipped as a full feature, I'm guessing this is no longer a problem.

[2020-07-21 00:34] #37913 closed

[2020-07-21 01:08] #42207 closed

[2020-07-21 01:32] a-siva opened #42772 "Dart SDK (unchanged version) should run on macOS ARM host machines using Rosetta Translation Environment"
This issue is to track work that ensures Dart SDK runs on macOS ARM host machines using Rosetta Translation Environment.

Related issues
- https://github.com/dart-lang/sdk/issues/42534

[2020-07-21 01:34] a-siva opened #42773 "Dart SDK support for macOS arm64 (Apple Silicon)"
Dart SDK support for macOS arm64 ([Apple Silicon](https://developer.apple.com/documentation/xcode/porting_your_macos_apps_to_apple_silicon)):

   - [X] Fix issues in `fetch dart`: https://github.com/dart-lang/sdk/issues/43488
   - [X] Build support: Dart SDK build rules are updated to build a version of the Dart SDK for macOS ARM host (runs natively without any translation environment needed for i

[2020-07-21 01:36] a-siva opened #42774 "Ensure AOT apps for macOS ARM run correctly (dart compile exe)"
Ensure dart2native apps generated for macOS ARM target work correctly on that platform.

[2020-07-21 01:36] a-siva opened #42775 "Add support for ARM macOS host"
This is the meta issue for tracking all items related to having Dart SDK support for ARM macOS host and target
(please see related flutter issues https://github.com/flutter/flutter/issues/60118, https://github.com/flutter/flutter/issues/60113)

1. https://github.com/dart-lang/sdk/issues/42772 Dart SDK (unchanged version) should run on macOS ARM host machines (Rosetta Translation Environment)
2. ht

[2020-07-21 02:05] mnordine opened #42782 "No way to include "sourcesContent" field in source map generated by dart2js"
Dart SDK 2.8.4. The `sourcesContent` field in source maps allows the files to be embedded, rather than have them on disk, which may not be possible. In my case, I don't have the source files in the same location as the source map. I believe [source_maps](https://pub.dev/packages/source_maps) has this capability.

[2020-07-21 03:50] #42668 closed

[2020-07-21 03:54] matanlurey commented on #42714
lgtm

[2020-07-21 05:18] xiaoxiaowesley opened #42776 "currentTransfrom can't get the trasnform properly"
When I using CanvasRenderingContext2D in devtools project . I found the currentTransfrom can not return the transform properly which it return undefined.

In [MDN](https://developer.mozilla.org/zh-CN/docs/Web/API/CanvasRenderingContext2D/currentTransform#Browser_compatibility) it said not all the browsers support **currentTransfrom** feature but [getTransform does](https://developer.mozilla.org/zh

[2020-07-21 05:54] iarkh opened #42777 "NNBD: it's possible to use nullable non-constant type in the constant expressions."
Dart lang spec reads that non-constant types cannot be used in the constant expressions, for example:

Here is a code source example which should throw a compile error according to the description below, however it does not both with analyzer and dart:
[code]
 If this behavior is expected, the Spec should be updated accordingly.

[2020-07-21 06:15] #42777 closed

[2020-07-21 06:30] zzjjob commented on #40562
mk

[2020-07-21 06:33] franklinyow commented on #41497
Renaming is done, closing

[2020-07-21 06:33] #41497 closed

[2020-07-21 06:49] zzjjob commented on #37785
mark

[2020-07-21 06:54] zzjjob commented on #37755
How is the progress ？

[2020-07-21 07:12] zzjjob commented on #37664
I want this native API too...

[2020-07-21 07:33] KimiyaZargari opened #42778 "drawImageNine"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dartfix
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
*

[2020-07-21 08:51] whesse commented on #42755
Cherry-picked to 2.9.0-21.10.beta.

[2020-07-21 08:51] #42755 closed

[2020-07-21 08:52] whesse commented on #42741
Cherry-picked to 2.9.0-21.10.beta.

[2020-07-21 08:52] #42741 closed

[2020-07-21 08:52] whesse commented on #42735
Cherry-picked to 2.9.0-21.10.beta.

[2020-07-21 08:52] #42735 closed

[2020-07-21 08:52] whesse commented on #42734
Cherry-picked to 2.9.0-21.10.beta.

[2020-07-21 08:52] #42734 closed

[2020-07-21 08:53] whesse commented on #42733
Cherry-picked to 2.9.0-21.10.beta.

[2020-07-21 08:53] #42733 closed

[2020-07-21 08:53] whesse commented on #42715
Cherry-picked to 2.9.0-21.10.beta.

[2020-07-21 08:53] #42715 closed

[2020-07-21 09:05] #42778 closed

[2020-07-21 09:08] #42744 closed

[2020-07-21 10:20] lyio commented on #42494
I am also running into this problem. The analyzer started from the command line runs just fine.

IntelliJ generates this template:

## Dart analysis issue

Stack Overflow

## Version information

- Dart SDK 2.9.0-edge.87c5e3612b70a71be688ee7bb4176d173d57f0b3
- Dart IntelliJ 201.8538.45
- IntelliJ IDEA 2020.1.3
- Mac OS X 10.15.5

## Details

Stack Overflow

[code]

## Debug log

[code]

[2020-07-21 10:24] DanTup commented on #36064
Yep, that's my feeling too, so I'll remove these from the LSP server.

I believe you're correct that the only implication would be missing the diagnostics for excluded files when opened. I agree other editors probably won't implement it (some might not even be able to, as they may just be generic LSP clients for multiple languages), though we could implement this in VS Code at least.

I think leav

[2020-07-21 10:38] DanTup commented on #36064
So interestingly, I just looked into TypeScript's extension. It actually has this (annoying IMO) behaviour where errors only ever show for open files - that also means they disappear when you close them. I looked through the source and it seems like they're using `onDidCloseTextDocument` to trigger the removal of the diagnostics:

https://github.com/microsoft/vscode/blob/e41c19505142614f706ad853bd

[2020-07-21 10:59] lrhn opened #42779 "Command line script name not recognized as Windows UNC path"
A command line like:
[code]
gives the error:
[code]

The path is a valid Windows path. It is treated as a *URI*, which is wrong, it should be *converted* to a URI explicitly in a way which preserves the `?`, likely `file://%25/d:/something/something/lang/dart/temp\pwd.dart` or just `file:///d:/something/something/lang/dart/temp/pwd.dart`.

[2020-07-21 11:02] mkustermann commented on #40562
@dcharkes Could you please explain why our AOT runtime needs `allow-jit`? Is it due to using the custom elf loader in certain situations?

[2020-07-21 11:04] Kavantix commented on #41195
Fixed by: https://dart-review.googlesource.com/c/sdk/+/154960/

[2020-07-21 11:04] #41195 closed

[2020-07-21 11:11] kaparray opened #42780 "why array in dart named is List?"
Why array in dart named is List?

[2020-07-21 11:25] #42718 closed

[2020-07-21 11:26] ganeshrvel opened #42781 "'Invalid argument(s): Failed to load dynamic library' error on Flutter FFI"
I am trying to access a native function which was written in Golang on Flutter but unfortunately it throws the error:

[code]

It works fine if I just directly execute the dart file instead of flutter run.

Am I missing something here?

Usage: Flutter for Desktop (macOS)
OS: macOS catalina 10.15.6

code:
[code]

[2020-07-21 11:41] julemand101 commented on #42780
I am not a designer of the language or developer but my guess is the reason is that the Dart `List` does have similar properties to the `List` class in C# and `List` interface in Java implemented by `ArrayList`. A `List` in Dart is per default able to change size when elements are added and removed.

When calling something `Array` I usually think it is a fixed sized list of elements like arrays in

[2020-07-21 11:49] kaparray commented on #42780
@julemand101 But if I need a Array with constant length I need use List everywhere?

[2020-07-21 11:50] kaparray commented on #42780
Ohh, List.filled  solved my problem!!!
https://api.dart.dev/stable/2.8.4/dart-core/List/List.filled.html

[2020-07-21 11:51] julemand101 commented on #42780
Yes, there are multiple ways to create fixed-length lists in Dart which are locked in size. One of them is `List.filled`. Take a look at the others here: https://api.dart.dev/stable/2.8.4/dart-core/List-class.html#constructors

[2020-07-21 12:00] dcharkes commented on #40562
The experimentation went through running the actual release SDK process (one needs a signing key).

The experiment data from cl/293611898:

[code]

The previous discussion is here: https://github.com/dart-lang/sdk/issues/38314#issuecomment-577742824

I did not explore what exactly was causing the failure. Filing this issue came from the experiment and the documentation of the `allow-jit` documenta

[2020-07-21 12:08] mkustermann commented on #40562
Though that is the interesting part we need to know. Our AOT runtime generally no need for making pages executable itself.

From https://github.com/dart-lang/sdk/issues/38314 I can remember that there was an issue for signed dart executable to `dlopen()` an unsigned library. Does enabling that require `allow-jit`?

[2020-07-21 12:18] SpringSrikanth commented on #41659
DevTools failed to load SourceMap: Could not load content for http://localhost:4200/bootstrap.min.css.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE getting issue how to fix

[2020-07-21 12:21] dcharkes commented on #40562
No, for dlopen we required `com.apple.security.cs.disable-library-validation`. See cl/294392552.

Yes, indeed. Unfortunately I do/did not have access to a signing key to experiment myself.

We could possibly download an old SDK which does not have the right entitlements and try if we can catch the `Killed: 9` in `lldb`. (Though without symbols it might be hard to figure out what is going on.) @ath

[2020-07-21 12:44] lrhn commented on #42780
@julemand101 is correct. Dart decided early on to only have one `List`-like interface, not one for fixed length lists, one for immutable lists and one for growable lists. Therefore the interface contains all the methods of a growable list, and the interface is named similarly to Java's `List` interface.<

You can create fixed-length lists using, e.g., `List.filled`. You can *currently* also use `L

[2020-07-21 12:59] eernstg commented on #42757
Right, and you don't have to worry about not including `...e` where the static type of `e` is potentially nullable (some other piece of code will catch that), so you can just handle both cases together.

Good catch! It _should_ be valid, because it is clearly an anomaly if an expression whose static type is a type variable `X` is rejected for a usage which is allowed if the static type is the boun

[2020-07-21 13:57] jakemac53 commented on #42782
Note that you could post-process source maps yourself to add this field. I don't know if this is something the dart2js team feels is worth adding but I moved it to the sdk repo where that is developed.

[2020-07-21 14:09] bwilkerson commented on #36064
That is interesting. It sounds like they're using the single-file approach from the spec (https://microsoft.github.io/language-server-protocol/specification#textDocument_publishDiagnostics):

but I don't believe that TypeScript is a single-file language.

I still think we should just never send diagnostics for excluded files and see what the experience is like for users. It seems closer to the spi

[2020-07-21 14:17] eernstg commented on #42757
dart-lang/language#1106 has landed, so the following is no longer an error:

[code]

[2020-07-21 14:20] DanTup commented on #36064
Ugh, I'd not noticed that text before. It seems to conflict with the description of the `onDidClose` event:

I'll raise an issue asking for some clarification, because this seems to contradict itself. If an editor is not required to notify the server immediately when a file closes, this would break this experience, since you'd see errors hanging around for some unknown amount of time after closing

[2020-07-21 14:42] DanTup commented on #36064
I've raised https://dart-review.googlesource.com/c/sdk/+/155130/ that prevents errors in ignored files.

I was going to remove priority files entirely from LSP based on the above, however we do actually use it for a few other things (for example ensuring we only send things like Outline notifications for "open files"). I think it makes sense to keep for these (at least until questions about the sp

[2020-07-21 14:46] DanTup opened #42783 "Diagnostics property reference assist appears for classes without DiagnosticableMixin"
This assist appears on all getters in classes, even though that don't extend `DiagnosticableMixin`.

![assist](https://user-images.githubusercontent.com/1078012/88069407-52d64480-cb69-11ea-8d4e-b8753373bcdf.png)

@pq

[2020-07-21 14:47] bwilkerson commented on #36064
Controlling notifications, like outline notifications, was/is the primary purpose of the concept of priority files, so it makes sense to use it for that under LSP as well.

[2020-07-21 15:02] pq commented on #42783
Looking now.  Thanks!

[2020-07-21 15:03] tvolkert commented on #42771
Is there an underlying error in the [`StreamIterator`](https://github.com/dart-lang/sdk/blob/d0d263c4f10a480c15d1b02cf0032f612e388edb/tests/standalone_2/io/secure_socket_renegotiate_test.dart#L34) that's not showing up in the test logs when you make that change?  What happens if you change it to `socket.cast<List<int>>().transform(utf8.decoder)`?

[2020-07-21 15:51] artob commented on #39305
It would be helpful to have the `throwsAssertionError` helper generally available as baseline. I know [flutter_test has it](https://api.flutter.dev/flutter/flutter_test/throwsAssertionError.html), but is there any reason it's not available without Flutter as well?

[2020-07-21 15:52] srawlins commented on #42770
@scheglov might this be addressed by the scoping work you are doing now? Just a thought.

[2020-07-21 16:08] a14n opened #58209 "prefer_initializing_formals false positive in NNBD"
In the following code `p` param is non-nullable but `p` field is nullable so we can not use initializing formal.

[code]

[2020-07-21 16:15] bwilkerson commented on #42770
My expectation (and hope :-)) is that the answer is "no". The analyzer is correctly resolving the reference to `_foo` to the instance member. This is necessary for the IDE experience. The only thing wrong is that it isn't producing the necessary diagnostic (which should use the error code is `CompileTimeErrorCode.INSTANCE_MEMBER_ACCESS_FROM_STATIC`). I don't know why the diagnostic isn't being pro

[2020-07-21 16:30] ggichure commented on #42655
switched to from master to stable and it worked fine

[2020-07-21 16:30] #42655 closed

[2020-07-21 16:33] scheglov commented on #42770
Brian is right, it is not related to name scopes, but I think I know when I might have broken it, or failed to fix at least.
We have a single "enclosing executable", and "the most enclosing" here is not a static method.
So, we probably should just chain them and check if we are inside of a chain that has a static member.

[2020-07-21 16:57] scheglov commented on #42770
https://dart-review.googlesource.com/c/sdk/+/155144

[2020-07-21 17:49] srawlins commented on #42770
Ah, I understand the difference; that's super interesting. Thanks!

[2020-07-21 18:10] ggichure commented on #42655
switched from master to stable and it worked fine

[2020-07-21 18:12] #42770 closed

[2020-07-21 18:19] alexmarkov opened #42784 "Incorrect stack trace in language/vm/bool_check_stack_traces_test in AOT/NNBD weak mode"
Repro:

[code]

This test checks stack trace of a thrown exception, but it omits line number 60 (where exception is thrown):
[code]

This test only fails in `dartkp-weak-asserts-linux-release-x64` configuration. In other configurations (jit/weak, jit/strong, aot/strong, aot/legacy) this test correctly prints line number and passes.

[2020-07-21 18:19] LouisMT commented on #25551
It was working perfectly for me, until the latest beta. It seems to be completely removed now.

[2020-07-21 18:42] devoncarew commented on #25551
Yes, sorry. The combined `dart` UI was pulled from the upcoming dart 2.9 stable (and beta) release. It's still in master and dev, and will be in the next beta, and the following stable.

There were a few issues running dart apps in some corner case use cases. These were deemed blocking in terms of shipping it in upcoming current stable release given how widespread use of the `dart` CLI tool is.

[2020-07-21 18:45] sigmundch commented on #42782
Thanks for your request!

I agree with @jakemac53 , I think this is a better fit for post-processing the source-map file. This post-processing may be superficial enough that you could amend the source-map file by processing the JSON directly, without necessarily having to depend on the source_maps internal logic.

We generally prefer post-processing this file because there are many variations on s

[2020-07-21 18:45] #42782 closed

[2020-07-21 18:48] bkonyi commented on #42664
Resolved in https://github.com/dart-lang/sdk/commit/157ebfe50f399c59a20d603acdf5143ceaa4cccf

[2020-07-21 18:48] #42664 closed

[2020-07-21 18:48] bkonyi commented on #42630
Resolved in https://github.com/dart-lang/sdk/commit/157ebfe50f399c59a20d603acdf5143ceaa4cccf

[2020-07-21 18:48] #42630 closed

[2020-07-21 18:49] bkonyi commented on #41978
Resolved by https://github.com/dart-lang/sdk/commit/157ebfe50f399c59a20d603acdf5143ceaa4cccf

[2020-07-21 18:49] #41978 closed

[2020-07-21 18:49] bkonyi commented on #41058
Should be resolved by https://github.com/dart-lang/sdk/commit/157ebfe50f399c59a20d603acdf5143ceaa4cccf

[2020-07-21 18:49] #41058 closed

[2020-07-21 19:59] zanderso opened #42785 "Support Dart_TypedDataAcquireData of Unmodifiable TypedData classes"
It is useful for embedders to be able to expose read-only memory regions to Dart code as external type data. This will let Flutter avoid expensive copies on the Dart thread of large amounts of image data, for example see here:

https://github.com/flutter/engine/blob/18fee597ab6ec957e6311ba2bc74d4732ad55bd7/lib/ui/painting/image_encoding.cc#L48

for `Image.toByteData`:

https://github.com/flutter/e

[2020-07-21 20:46] a-siva commented on #42785
Since the embedder is creating External TypedData objects it should have direct access to the memory region, why does it need to call Dart_TypedDataAcquireData to access underlying buffer.

[2020-07-21 20:51] #42600 closed

[2020-07-21 21:10] rmacnak-google commented on #42785
With the existing API, it is possible to extract the underlying buffer with Dart_GetField and pass that to Dart_TypedDataAcquireData. Though it does seem reasonable to expect Dart_TypedDataAcquireData to handle all the UnmodifiableX that are defined in dart:typed_data.

[2020-07-21 21:14] zanderso commented on #42785
The embedder can generate an external typed data object, and return it to Dart code, then that object can come back into the embedder through a Dart language API. A slightly contrived example would be the return from `Image.toByteData()` being passed back into `Image.memory()`.

Yeah, it looks like a `vm:entry-point` annotation would be needed. I would also worry about the implications of reaching

[2020-07-21 22:16] #42784 closed

[2020-07-21 22:33] #42482 closed

[2020-07-21 23:15] timsneath opened #42786 "Request textDocument/codeAction failed"
While editing code, got multiple codeAction errors:

[code]

## Dart Version
[code]

[2020-07-21 23:16] timsneath commented on #42761
Just hit something similar on today's master, which is from 7/17. Since the error is slightly different, I've filed it as https://github.com/dart-lang/sdk/issues/42786. Thanks, @bwilkerson!

[2020-07-21 23:49] bwilkerson commented on #42786
This is a known issue, and I believe that @pq is working on a fix.

[2020-07-22 00:02] crelier commented on #42395
See the separate email thread about the migration of `Box2DOctane` benchmark using a mostly automated migration of Flame's box2d package (non-public repo).

[2020-07-22 00:08] franklinyow commented on #42714
Approved

[2020-07-22 00:27] munificent opened #42787 "Detect CFE warnings in test runner and treat them as runtime tests"
I'm adding support to the test runner for not skipping static error tests on runtimes if the errors are all warnings. To do that, the test runner needs to be able to look at a static error expectation message and tell if it's a warning or error. For analyzer, I'm looking for "STATIC_WARNING" in the error code.

For CFE, as far as I know, it doesn't currently report warnings. Once it does, if it ca

[2020-07-22 00:45] rmacnak-google commented on #42785
@mkustermann What do you think about giving the unmodifiable views fixed CIDs like the regular typed data views?

[2020-07-22 03:24] iarkh opened #42788 "NNBD: Analyzer does not throw a compile error when checks least and greatest closures for the function with required parameter"
Dart SDK version: 2.9.0-21.0.dev (dev) (Wed Jul 8 10:54:08 2020 +0200) on "windows_x64"

Here is a source code example which demonstrates the problem:
[code]
Dart throws a compile error here whereas analyzer does not.

Sample output is:

Failing co19 tests are:
- co19/LanguageFeatures/nnbd/Least-greatest-closure/typedef/typedef_static_t06
- co19/LanguageFeatures/nnbd/Least-greatest-closure/typedef

[2020-07-22 03:53] leafpetersen commented on #42706
I can't reproduce this in either the analyzer or the CFE.  Interestingly, if I remove the type annotation on `value` though, I do see an inferred type of `Listenable` in both implementations:

[code]

@scheglov @johnniwinther I'll spec up the expected behavior for LUB here, but I don't understand why I'm seeing different behavior with and without the type annotation.

[2020-07-22 04:32] leafpetersen commented on #42706
Spec proposal here:  https://github.com/dart-lang/language/pull/1109 .

[2020-07-22 05:44] johnniwinther commented on #41762
The change is probably the effect of a missing check added. Promotion cannot promote `a` to non-nullable  when it is nested in `(a = getA()) != null`. Promotion works if the code is written as

[code]

[2020-07-22 05:44] #41762 closed

[2020-07-22 06:03] johnniwinther commented on #40597
Backends are added the necessary assertions.

[2020-07-22 06:03] #40597 closed

[2020-07-22 06:05] johnniwinther commented on #40203
We don't need this now that strong mode is pure.

[2020-07-22 06:05] #40203 closed

[2020-07-22 06:08] #40647 closed

[2020-07-22 06:31] johnniwinther commented on #42787
The CFE _does_ report warnings, though not that often (and no build bot ever listened). The warnings are prefixed by `"Warning: "` is you want to find them in the output.

[2020-07-22 06:41] numan-hussain opened #42789 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-193.6911.18.40.6626763`
- `2.8.4`
- `AI-193.6911.18.40.6626763, JRE 1.8.0_242-release-1644-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1920x1080, 1366x768`

[2020-07-22 07:24] #42789 closed

[2020-07-22 07:26] #42780 closed

[2020-07-22 07:30] LefebvreIlyas opened #42790 "Add an optional parameter to the print method for the ending character"
A handy feature in Python ([doc](https://docs.python.org/3/library/functions.html#print)) is to be able to customize the ending character when printing. Why not implement this in Dart?

The implementation looks like:

[code]

[2020-07-22 07:31] eernstg commented on #42787
Drive-by comment on 'looking for "STATIC_WARNING"': I think that's going to match a large number of situations where the situation is actually a compile-time error, but analyzer still says `STATIC_WARNING` (possibly because of the history).

For instance, `language/abstract/exact_selector_test.dart` has this:

[code]

If it's a large effort to change all these error names in the analyzer (and all

[2020-07-22 07:34] lrhn commented on #42790
This is basically a request to make `print` not *necessarily* add a line terminator.
You can use it to print two strings as `print("foo", "bar")`, but that's unnecessarily complicated.

It's a problematic change because `print` doesn't have to print a newline. When logging to a browser console, it would be better to log the object directly, than a string and a newline.
The newline is what is used

[2020-07-22 08:50] a14n opened #42791 "dead_null_aware_expression missed by analyzer"
Migrating some code to nullsafety I face different behaviour between CFE and analyzer. The CFE triggers the following warning but the analyzer didn't show any warning.

[code]

It looks like the CFE is correct and here is a smaller repro:

[code]

[2020-07-22 08:50] a14n commented on #42791
/cc @scheglov

[2020-07-22 08:55] a14n opened #58210 "unrelated_type_equality_checks false positive in NNBD"
In the following code `p` field is nullable but `p` param is non-nullable.

[code]

If I make the `p` field non-nullable the lint disappear.

[2020-07-22 09:48] mkustermann commented on #41246
Yes, the flag has been removed from `dart` binary. In 39577ea564597f1834b0794db30833370365fb56

See the same bug in https://github.com/dart-lang/sdk/issues/41245.

[2020-07-22 09:48] #41246 closed

[2020-07-22 09:52] #42745 closed

[2020-07-22 10:12] mkustermann commented on #35154
We have done a lot of optimizations to improve protobuf decoding. In the string-heavy protobuf benchmark we have reduce decoding time by 60%.

Closing this issue, since we have achieved major improvement and have no more immediate work planned on this atm.

[2020-07-22 10:12] #35154 closed

[2020-07-22 10:14] mkustermann commented on #36984
Have never had the time to continue looking at this - un-assigning myself.

[2020-07-22 12:11] mkustermann commented on #42785
Right now I can discourage the usage of the unmodifiable views for the following reason:

The canonical representation of bytes in Dart code is `Uint8List`. All our Dart code uses `Uint8List` to access bytes (e.g. protobuf encoder/decoder, http parser, ...).  We want to make reading / writing of bytes as fast as possible by hoisting bounds checks out of loops and directly accessing the bytes (i.e.

[2020-07-22 12:38] eernstg commented on #39190
Closing; the reported crash does not occur any more, and the decision about raising a compile-time error is handled via https://github.com/dart-lang/language/issues/656.

[2020-07-22 12:38] #39190 closed

[2020-07-22 13:09] a14n opened #42792 "CFE error with Mixed library and mixins"
Although I don't see analyzer error I get the following error by running `bin/dart b.dart` :

[code]
with the following code:
[code]

[2020-07-22 13:09] a14n commented on #42792
/cc @johnniwinther @leafpetersen

[2020-07-22 13:43] sstrickl opened #42793 "Create analogue to LoadNativeField for non-Object fields"
Currently, we can load `<X>Ptr`-typed fields in raw (e.g.,`<Y>Layout`) objects by using LoadNativeField. However, no analogue exists for fields that are not boxed types (e.g., `uint32_t`-typed fields).

This came up while working on #40813, where I needed to be able to inspect the number of fixed and optional parameters for a closure function where the closure function is not known statically, whi

[2020-07-22 13:52] johnniwinther commented on #42792
A fix is in progress: https://dart-review.googlesource.com/c/sdk/+/155444

[2020-07-22 14:22] dnfield commented on #42785
We did just introduce an ImmutableBuffer class for dart:ui.  Perhaps that would help here?

[2020-07-22 14:47] whesse opened #42794 "Failures on CFE unittest of flutter widget incremental dill when changing to 2.10"
There are new test failures on [Update tests that have the current version number hardcoded...Increase Dart version to 2.10](https://github.com/dart-lang/sdk/compare/f88ce7aef5f8a41fddfab8e26f8b2c6e0e950236~...24c7666def53832a31559beac130eb3336008110).

The tests
[code]
are failing on configurations
[code]

This may be an existing problem in the test code, and just a mismatch in golden files.  Wil

[2020-07-22 15:03] whesse commented on #42794
Yes, this code is not being compiled in null-safe mode, when it has null-safe syntax.  Something needs to be updated.

[2020-07-22 15:03] mkustermann commented on #42752
/cc @mraleph @sstrickl

[2020-07-22 15:03] vsmenon commented on #42752
Do we need this for internal build work?

[2020-07-22 15:04] vsmenon commented on #42746
Okay, I'll close this for now.

[2020-07-22 15:21] sigmundch opened #42795 "dart2js: null parameter checks on weak mode"

[2020-07-22 15:26] vsmenon commented on #42560
@leafpetersen @franklinyow - do we have a particular release we're aiming for yet?

[2020-07-22 15:26] vsmenon commented on #42611
@jakemac53 - is this obsolete now?

[2020-07-22 15:29] sigmundch commented on #42714
Thanks All

@jonasfj thanks for the suggestions, I added them to the mitigation section above to increase their visibility. The breaking change landed in c632a629 and will be part of the 2.9.0-21.10.beta release and the upcoming stable 2.9 stable release.

[2020-07-22 15:29] #42714 closed

[2020-07-22 15:35] eernstg commented on #42560
The feature is controlled by the `non-nullable` experiment flag, so presumably it's synchronized with null safety.

[2020-07-22 15:55] jodinathan opened #42796 "WebRTC is not working in Dart2JS"
Tested with dart 2.8.4, full pub deps is at the end

[code]

js_helper.dart:1343 Uncaught (in promise) TypeError: Instance of 'RTCSessionDescription': type 'UnknownJavaScriptObject' is not a subtype of type 'FutureOr<RtcSessionDescription>'
    at Object.wrapException (js_helper.dart:1343)
    at Rti._generalAsCheckImplementation [as _as] (rti.dart:915)
    at promiseToFuture_closure.call$1 (js_ut

[2020-07-22 16:07] chingjun commented on #42752
Yes but it's not urgent. It's not critical and we have a workaround currently. cl/321853147

[2020-07-22 16:10] jakemac53 opened #42797 "Never return type is not respected in missing_return checks for opted out libraries"
This is causing some problems for google3, specifically `string_scanner` migrated the `error` method to return `Never` and removed the `@alwaysThrows` annotation. ([see here](https://github.com/dart-lang/string_scanner/commit/4a8bf6e17addb9f30637e05948f7ddc8b7d15078#diff-5f3ce4dfc9899b2f69d716badb72ba8dR196)).

This is causing a problem internally at at least one [call site](https://github.com/dar

[2020-07-22 16:17] jakemac53 commented on #42797
Simpler repro:

Given `a.dart`:

[code]

And `b.dart`:

[code]

Running `dartanalyzer --enable-experiment=non-nullable .` gives:

[code]

Internally we treat this hint as an error, so it will make migrations difficult.

[2020-07-22 16:21] zanderso commented on #42785
Thanks for looking into this @mkustermann!

@dnfield Currently, the `dart:ui` `ImmutableBuffer` is neither readable nor writable ;-). To make it readable, a reference to the buffer would be cached in a field, and the type for that field that seems like the best fit would be an `Unmodifiable` typed data view. Alternately, if `Unmodifiable` typed data views had the right properties, we could investi

[2020-07-22 16:25] leafpetersen commented on #42797
cc @pq @bwilkerson It seems to me that it would be reasonable to treat a return type of `Never` as equivalent to having the annotation `@alwaysThrows`, even in opted out code, WDYT?

[2020-07-22 16:36] bwilkerson commented on #42797
That sounds reasonable to me too. The annotation is just a hint, and `Never` is an equally valid hint even if the runtime semantics aren't being enforced yet.

[2020-07-22 16:41] dnfield commented on #42785
It would probably help to understand the use cases we'd want to support with this.

If the goal is to avoid unnecessary copies, we'd want to know what we're eventually copying to and from - for example, if it's a file or a socket, users may not ever need to get access to the bytes directly in Dart, right?

If they need to do comparisons, we could probably have interfaces that boil down to doing a

[2020-07-22 16:45] jakemac53 commented on #42797
Any idea how quickly this can be implemented? This is currently going to block the next SDK roll internally, so we need to figure out if we need to add the annotation back externally or not (in multiple packages, and tracking them all down will take some work that we would like to avoid).

[2020-07-22 16:46] nshahan opened #42798 "Revise/Delete tests for devtools custom formatters"
[code]

These tests contain expectations for chrome devtools custom formatters. We thought the feature was being removed from chrome. The implementation and tests have bit rotted.

We need to decide if we are going to continue to support custom formatters and update the tests

-- or --

Remove the existing support and the tests.

[2020-07-22 16:53] bwilkerson commented on #42797
I believe the fix is fairly local. I think we just need to add a check of the return type to the condition here (https://github.com/dart-lang/sdk/blob/master/pkg/analyzer/lib/src/dart/resolver/exit_detector.dart#L426). I'm about to go into a meeting, but can look at it after if nobody has assigned this issue to themselves before that.

[2020-07-22 16:53] leafpetersen commented on #42797
Another possibility would be to temporarily disable that hint/lint from breaking the build.  cc @davidmorgan

[2020-07-22 16:58] joshualitt commented on #18175
This was fixed with the new rti.

[2020-07-22 16:58] #18175 closed

[2020-07-22 17:12] scheglov commented on #42797
Not so easy, `LEGACY_ERASURE` replaces `Never` return type with `Null`.
I guess we could break into the "legacyfied" `ExectaubleElement` and get the original return type.

[2020-07-22 17:21] bkonyi opened #42799 "AOT-O3-DET-DebugX64: runtime/vm/object.cc: 18558: error: expected: raw() != Object::sentinel().raw()"
**Reproduction info:**

[code]

**Failure:**

[code]

[2020-07-22 17:23] bkonyi commented on #42799
@alexmarkov can you take a look or direct this to the appropriate person?

[2020-07-22 17:26] scheglov commented on #42797
https://dart-review.googlesource.com/c/sdk/+/155500

[2020-07-22 17:29] franklinyow commented on #42772
Do we have more information on what need to be done? And when are we targeting to be done with this work?

[2020-07-22 17:36] a-siva commented on #42772
Ideally we should have a build bot configuration that is able to do the following runs
- builds a macOS X64 version of the SDK and runs it unchanged on macOS ARM

when we have made changes to build the SDK for macOS ARM the bot would have to add a configuration
to build the Dart SDK for macOS ARM and run it on that machine.

[2020-07-22 17:51] kenzieschmoll opened #42800 "[http timeline events] typo in event name "Response received""
Trace events have the name "Response receieved"

[2020-07-22 17:51] johnniwinther commented on #42603
What about `src/Language/Expressions/Equality/evaluation_super_t02`:

[code]

Is it a valid expectation?

[2020-07-22 17:54] #42611 closed

[2020-07-22 18:09] escamoteur opened #42801 "linter ignores imported rules if there isn't at least one local rule in analysis_options.yaml"
* Dart SDK Version (`dart --version`)
 Dart version 2.9.0 (build 2.9.0-21.0.dev 84e5eeaea4)

* Whether you are using Windows, MacOSX, or Linux (if applicable)
Windows 10

I observed today that if you import the pedantic package to your project and don't add at least one rule in your analysis_options.yaml the import is ignored and no linter errors are reported.

you can find a repro project here:

[2020-07-22 18:16] vsmenon commented on #42667
As @mkustermann notes, there is nothing stopping someone else from doing this via the same mechanisms Flutter uses.  :-)

[2020-07-22 18:17] vsmenon commented on #42678
Closing.  Please feel free to open a new bug with the requesting information.

[2020-07-22 18:17] #42678 closed

[2020-07-22 18:23] vsmenon commented on #42800
@kenzieschmoll - can you add some more context?  I'm triaging this as area-vm , but I'm mainly going off the fact that you assigned it to @bkonyi .  :-)

[2020-07-22 18:25] leafpetersen opened #42802 "Flutter widget transformer injects null assertion operators into constant constructors"
The flutter widget transformer was changed [here](https://dart-review.googlesource.com/c/sdk/+/153085/3/pkg/kernel/lib/transformations/track_widget_constructor_locations.dart#421) to add a null check into the constructor.  This seems to correspond to a null assertion operator, which is currently not a valid potentially const expression (see [here](https://github.com/dart-lang/language/issues/1112)

[2020-07-22 18:28] leafpetersen opened #42803 "CFE issues an internal error on code that uses null assertions in const constructors"
It is not currently valid to use a null assertion operator (`e!`) as a constant.  See [here](https://github.com/dart-lang/language/issues/1112) for discussion on changing this.

Currently, the CFE accepts this, but fails with an internal error (note that on head, you may need to change 2.9 to 2.10):

[code]

[code]

cc @a14n @johnniwinther @jacob314

[2020-07-22 18:28] filmil commented on #41525
This was fixed a while ago.  See commit d2e4a3c.

[2020-07-22 18:28] #41525 closed

[2020-07-22 19:03] bkonyi commented on #42800
No need for more context @vsmenon, it's just a typo in dart:_http :-)

Fix here: https://dart-review.googlesource.com/c/sdk/+/155481

[2020-07-22 19:04] alexmarkov commented on #42719
Procedure attributes metadata has separate bits for method/setter and for getter calls.
When procedure attributes metadata is printed, only useful bits are included (like `getterCalledDynamically:false` which means analysis inferred that getter is not called dynamically). If particular bit is not printed, it means that particular information was not inferred (printing all bits is too verbose).

Th

[2020-07-22 19:04] #42719 closed

[2020-07-22 19:05] eernstg commented on #42603
I'd say no. Evaluation of `super == n` detects that `n` evaluates to null and never invokes any `operator ==`, so it does not throw as expected. It is implied that the code uses null safety, but the outcome should be the same also without null safety.

[2020-07-22 19:15] scheglov commented on #42797
There seems to be pre-existing failing `flutter-analyze-try`, and `front-end-linux-release-x64-try` is down.
So, I force-submitted my CL.

[2020-07-22 20:31] #42800 closed

[2020-07-22 21:17] scheglov commented on #42797
I had to revert my change, because bots were failing, because we reported (correctly, I believe) hints in front-end code.
So, I'm fixing these libraries and relanding.
https://dart-review.googlesource.com/c/sdk/+/155541

[2020-07-22 21:33] scheglov commented on #42797
Now I will need to find someone to review my front-end related changes.

[2020-07-22 22:02] jodinathan commented on #42796
this bug just happens with -O1.
it does not happen with -O4.
Our homolog environment uses -O1.

[2020-07-22 22:19] #42783 closed

[2020-07-22 22:29] kevmoo commented on #22265
Five years later! Never say never!

https://github.com/dart-lang/sdk/commit/4b96f20a79a6eca074dc17b8b84448f79d4acfc8

[2020-07-22 23:04] bkonyi opened #42804 "Bring up DartDev isolate from kernel instead of an AppJIT snapshot"
Using a snapshot to bring up the DartDev isolate can cause a failure if incompatible VM flags are provided. We should change to using a kernel file instead to avoid these incompatibilities.

[2020-07-22 23:23] #42753 closed

[2020-07-22 23:48] franklinyow commented on #41197
Completed

[2020-07-22 23:48] #41197 closed

[2020-07-23 00:01] scheglov commented on #42797
Landed.

[2020-07-23 00:01] #42797 closed

[2020-07-23 02:12] sashko opened #42805 "dart:ffi crashes on allocating big arrays (stack limit Dart main thread)"
Using the [dart:ffi hello_world](https://github.com/dart-lang/samples/tree/master/ffi/hello_world) example, create a shared library with the following function:

[code]

Result:

`[2]    1022487 segmentation fault (core dumped)  dart test.dart`

Decreasing size of the array, by 10 makes code work. Tried on 64-bit Linux with 64 Gb of RAM, so memory shouldn't be an issue.

[2020-07-23 04:00] robert-ancell commented on #42716
As pointed out `http+unix` might be unsafe if you are launching arbitrary URIs. Other methods to consider are:
- Adding an option to HttpClient to always connect to a given unix domain socket instead of using the hostname. This is [what curl uses](https://curl.haxx.se/libcurl/c/CURLOPT_UNIX_SOCKET_PATH.html). The convention is to connect using `http://localhost/some/thing` but the host could be an

[2020-07-23 04:00] sgrekhov opened #42806 "CFE crach on co19 test"
CFE crashes on the following co19 multitest

https://github.com/dart-lang/co19/blob/master/Language/Types/Type_Aliases/scope_t02.dart

Output is

[code]

The full log can be found [here](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8874060800528791536/+/steps/test_results/0/logs/new_test_failures__logs_/0)

[2020-07-23 05:14] rhboop commented on #35450
In case someone is confused again. `fetch dart` is a command, not `git clone https://github.com/dart-lang/sdk.git`.

[2020-07-23 05:29] leafpetersen commented on #42560
Yes, this feature is intended to ship with the null safety release, and both the analyzer and the CFE are on board with that timing (@stereotype441 will contribute substantially to the analyzer implementation, which I believe is already in progress).

[2020-07-23 07:54] whesse opened #42807 "AOT test of ast failing in strong mode"
The test vm/dart/bytecode_with_ast_in_aot_test was failing to compile in strong mode due to missing null-safe packages.
That is now fixed, it is compiling and running, but failing at runtime due to a different issue:
This failure does not seem to be connected to the particular code being tested, but just to running dart_precompiled_runtime.
But I don't know why it is only happens in this test:

ou

[2020-07-23 08:22] mkustermann commented on #42807
/cc @alexmarkov for bytecode related issue

[2020-07-23 08:26] whatleo opened #42808 "Failed to add bool field variables for class RawInstance"
I wanted to look at the dart-sdk, but I ran into a problem.
`class RawInstance : public RawObject {`
`RAW_HEAP_OBJECT_IMPLEMENTATION(Instance);`
`bool is_tmp_test_;`
`};`
![image](https://user-images.githubusercontent.com/4222370/88265538-41737080-cd00-11ea-8b91-a33f48385355.png)
As shown above, I add a bool field variable 'is_tmp_test_' to class RawInstance，but I couldn't compile the dart-sdk.

F

[2020-07-23 08:32] lrhn commented on #42603
Agree. `super == x` should work the same as `this == x` except that the `operator==` *possibly* being called is the one from `super`, not from `this`.

[2020-07-23 08:38] eernstg commented on #42706
@scheglov wrote:

Prior to any computations on these sets, I think it's worth considering the elements: I would expect that a superinterface relation does not introduce the legacy marker `*` at the top level: For example, with legacy classes `class A {}` and `class B extends A {}`, `B` has `A` as a superinterface, not `A*`. In contrast, with legacy classes `class C<X> {}` and `class D extends C<in

[2020-07-23 09:00] dcharkes opened #42809 "[vm/ffi] Clean up compiler/runtime separation in FFI implementation"
https://dart-review.googlesource.com/c/sdk/+/142993 and friends made the split between compiler and runtime more explicit.

However, `runtime/lib/ffi.cc` imports some logic from `runtime/vm/compiler/ffi/native_type.cc` in order to not duplicate it. Both the compiler and the runtime need knowledge of the native calling conventions, their sizes, alignments, and the ABI.

We should find a good place

[2020-07-23 09:11] mkustermann commented on #42805
@sashko It is not important how much RAM a machine has. What is important is the maximum stack size for the thread used to execute the code. Depending on operating system, configuration and various other conditions the stack size can vary. But it usually is a few MB.

Running any C code which uses too much stack space can crash a program. In this particular example the C code uses `sizeof(int) * 1

[2020-07-23 09:17] #42802 closed

[2020-07-23 09:17] #42803 closed

[2020-07-23 09:18] mkustermann commented on #42563
@dcharkes There is actually a way to make this more extensible to future ABIs:

[code]

Adding a new Abi would then just add a new class to `dart:ffi` which is not breaking compatibility. When running the program on an Abi that `WChar` was not implemented the VM could throw an exception (or a compile-time error).

[2020-07-23 09:30] dcharkes commented on #42563
I like it! We might still need to make it `extend AbiSpecificInteger` or make all those individual ABIs do that, in order to be able to have `Pointer<WChar>` and be able to store/load from it through extension methods.

This also means we would not have to wait on generalized typedefs (or result to subtyping) to be able to reuse the type in multiple places.

[2020-07-23 09:55] eernstg commented on #42700
'name_clash_test' with/without null safety updated [here](https://dart-review.googlesource.com/c/sdk/+/153963).

[2020-07-23 09:58] mkustermann commented on #42563
There's also a design choice: In C code two typedefs are compatible and assignable to each other. If we do the generalized typedef approach we will have the same behavior, if we go with a separate class then one needs to explicitly cast in Dart (but not in C).

[2020-07-23 10:34] dcharkes commented on #42563
True, if the one package decides to call `wchar_t` `WChar` and another package decides on `WCharT` they wont match.

Maybe we should preempt that by adding some of those to `package:ffi`, and have people make PRs for adding more common types.

[2020-07-23 10:43] dcharkes opened #42810 "Mirror dart-lang/ffigen"
Please mirror https://github.com/dart-lang/ffigen so that we pull it in to the SDK via DEPS.

[2020-07-23 10:54] avi-mastov commented on #31230
I had this issue in Dart 2.8.4. when the 2 URLs were practically the same, but one of them didn't have a canonical path:
[code]
See the extra slash in the 2nd URL? I would expect the Dart VM/Compiler to canonise it or issue a warning and/or have the "Optimize imports" command in Android Studio canonise it, but none of these happened/worked. I just got a runtime error. Should I open a new issue on

[2020-07-23 10:57] mnordine commented on #42796
@jodinathan Why did you close this bug? It should work regardless of the compiler flags?

[2020-07-23 11:08] whesse commented on #42810
Done.

[2020-07-23 11:08] #42810 closed

[2020-07-23 11:29] mnordine opened #42811 "Empty stack traces on exceptions after dart2js"
Latest stable, Dart 2.8.4, all browsers.

After compiling our web app with `dart2js`, it seems we get empty stack traces on almost every exception or error. Not sure if it matters what compiler settings, but we usually use

[code]

I've tried other settings as well.

In our app, we have the following code to capture uncaught expections:

[code]

Sometimes the stacks have useful information, but th

[2020-07-23 12:37] sashko commented on #42805
@mkustermann thanks for the fast reply.

I do not know how `dart:ffi` works but talking about the C code in question: my system's stack limit is 8MB and the array's size if `sizeof(int) * 100 * 1000 = ~4 MB` which is less than a half of the limit.

Increasing process stack size with `ulimit` tenfold makes no difference.

[2020-07-23 12:38] geira commented on #39233
That is not enough. According to the GDPR and a recent German court decision, analytics are defined as non-necessary services and require explicit, voluntary consent before you can send any data. Opt-out after the fact is illegal in the EU/EEC.

[2020-07-23 13:03] vsmenon commented on #42560
Thanks.

@franklinyow - are we tracking this for null safety beta work?

[2020-07-23 13:12] jodinathan commented on #42796
@mnordine you are right, reopening

[2020-07-23 13:12] johnniwinther commented on #42537
@lrhn I was trying recreate the difference in having a `.packages` file and a `packages_config.json` file without an explicit language for a package. Here the `Package.languageVersion` field for `.packages` is set to a specific version, whereas for `packages_config.json` it would be `null` (as expected). Is it intentional that a `Package` object for a `.packages` file is marked as having an explic

[2020-07-23 13:13] vsmenon commented on #42811
Do you see different with `-O2` or default?  Under `-O3` and `-O4`, dart2js does aggressive optimizations that are unsafe in the presence of errors:

https://dart.dev/tools/dart2js#options

Since you're porting, you may also want to compile and test in debug mode (with ddc) if you haven't already.

[2020-07-23 13:14] dcharkes commented on #35843
An experimental FFI binding generator is now available: https://pub.dev/packages/ffigen! 🎉

Please check it out and leave your feedback and suggestions in the issue tracker: https://github.com/dart-lang/ffigen/issues.

[2020-07-23 13:24] mnordine commented on #42811
Yes, we do extensive testing in both `ddc`, and `dart2js`.

I think I've tried this, but I'll try it again to make sure.

[2020-07-23 13:31] johnniwinther commented on #42794
`pkg/front_end/test/incremental_load_from_dill/flutter_widget_transform_nnbd` and
`pkg/front_end/test/incremental_load_from_dill/flutter_widget_transformer_non_const` have been fixed in https://dart-review.googlesource.com/c/sdk/+/155600

[2020-07-23 13:38] dcharkes opened #42812 "TSAN: Data race in scavenger"
[code]

https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-precomp-tsan-linux-release-x64/790?

The build succeeds fine locally.

[code]

(My CL should not have influenced this, it does change handles slightly, but did not touch the scavenger. If the issue persists on the bot, please revert my CL. Edit: it flakes green and red now.)

cc @rmacnak-google

[2020-07-23 13:56] dcharkes commented on #35763
For inline arrays of primitive values https://pub.dev/packages/ffigen has an option to generate 'n' fields and provide indexed access (with `array-workaround: true`).

[2020-07-23 14:04] UtkarshVerma opened #42813 "Any way I could change the location of `.dart` and `.dartServer` folders?"
My home directory is getting cluttered up so I wanted to move the `.dart` and `.dartServer` folders elsewhere. Is there any way I could achieve this?

[2020-07-23 14:04] UtkarshVerma opened #42814 "Any way I could change the location of `.dart` and `.dartServer` folders?"
My home directory is getting cluttered up so I wanted to move the `.dart` and `.dartServer` folders elsewhere. Is there any way I could achieve this?

[2020-07-23 14:06] UtkarshVerma commented on #42814
Duplicate of #42813. I had poor internet connectivity.

[2020-07-23 14:06] #42814 closed

[2020-07-23 14:06] #42808 closed

[2020-07-23 14:22] mkustermann commented on #42805
@sashko I believe the `ulimit` only influences the main thread's limits. Real pthreads created have a different default size.

You can try running this example to see what the pthreads stack size is on your machine:
[code]

For me it prints:
[code]
1 MB is actually quite a lot of stack space.

Are you requesting that the Dart VM explicitly sets a higher limit?

[2020-07-23 14:29] mnordine opened #42815 "dart2js stack traces are wrong"
Latest stable sdk, 2.8.4

Not sure if this is related to https://github.com/dart-lang/sdk/issues/42811

After compiling with `dart2js`, converting a javascript stack trace to a dart one results in an incorrect stack trace. For example, I'm seeing:

Dart stack trace:

[code]

JS stack trace:

[code]

`packages/my_package/src/my/file.dart 131:5` is actually an empty line in my source file. And I don

[2020-07-23 15:19] dcharkes opened #42816 "[ffi] Add support for abi-specific structs"
Sometimes structs are defined differently on different platforms. (Some fields might be commented out on some platforms.)

A workaround is to have a different struct for the different platforms, but that cascades into everything that is using that struct (function signatures, struct fields, and pointers).

We could introduce an AbiSpecificStruct that exposes all the different fields on all platfor

[2020-07-23 15:23] dcharkes commented on #42563
We also need something for structs. We cannot merge the two concepts in one Dart type, because the int loads/stores only work for ABI-sized integers, and the struct field loads/stores only work for structs.

[2020-07-23 15:47] mkustermann commented on #42563
Not sure how common it is in C to have a typedef to be integer typed on one platform and non-integer on another. Maybe that is not worth adding support for.

[2020-07-23 15:49] alextekartik commented on #42712
I can confirm the issue got fixed using the latest beta (2.9.0-21.10.beta) release (not dev channel yet though). Thanks again!

[2020-07-23 16:22] franklinyow commented on #42560
Added this under Beta Epic

[2020-07-23 17:12] rakudrama opened #42817 "Observatory crashes on "Retaining path" of a `_Uint8List`"
1. Run program under observatory
2. Pause program in debugger
3. Visit "allocation profile"
4. Visit `_Uint8List`
5. Click on "strongly reachable"
6. Click on one element displayed
7. Click on "retaining path"
Boom!
[code]

[2020-07-23 17:16] rakudrama commented on #42817
Context:
25% of my heap is `_Unit8List`. There are O(30k) instances occupying 1.4GB out of 5.5GB. I'm trying to figure out what they are.
I suspect the big ones are different to the small ones but I have been unable to find a big one. It would be great if "strongly reachable" for sized objects had an option to sort by decreasing size, but I'd still need the VM to not crash.

[2020-07-23 17:21] devoncarew opened #58211 "NoSuchMethodError: The getter 'getter' was called on null from prefer_asserts_in_initializer_lists.dart:75"
This was seen 8 times by one user internally:

NoSuchMethodError: The getter 'getter' was called on null.

[code]

cc @pq @bwilkerson

[2020-07-23 17:27] #58208 closed

[2020-07-23 17:36] mnordine commented on #42811
After using `-O2`, Still getting stack traces that aren't very helpful, like:

Dart stack trace:
[code]

JS stack trace:
[code]

[2020-07-23 17:55] liamappelbe opened #42818 "http_client_connect_test failing on windows bots"
A few windows bots turned red due to failures in http_client_connect_test. I think this is due to https://dart-review.googlesource.com/c/sdk/+/147339, though deflaking meant that the actual redness didn't start until a few CLs later than this.

https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-win-debug-x64/8907
https://ci.chromium.org/p/dart/builders/ci.sandbox/vm-kernel-win-release-x6

[2020-07-23 18:17] mnordine commented on #42811
Also omitted `--trust-primitives` flag, same result.

[2020-07-23 18:17] artob commented on #42816
@dcharkes That's pretty neat. What happens if accessing field `external int b` on Windows, in this example? A compiler error, I trust?

[2020-07-23 18:23] artob commented on #42563
That looks pretty great.

Yes, [these](https://github.com/dart-lang/sdk/issues/36140#issuecomment-629030343) really should be provided by the Dart project in one form or another. You'd want to avoid the situation with e.g. Java JNA when there's a bunch of different definitions of the same common types (e.g., `ssize_t`), and nobody knows which type they ought to be using.

[2020-07-23 18:29] kevmoo opened #42819 "Collection code coverage (on Travis-CI, at least) now causes OOM exceptions"
2.10.0-0.0.dev – Linux

See

https://travis-ci.org/github/dart-lang/coverage/jobs/710959706#L244-L259
https://travis-ci.org/github/google/quiver-dart/jobs/710959371#L278-L293

[code]

[2020-07-23 18:30] kevmoo commented on #42819
@a-siva – seems a recent break

[2020-07-23 19:01] a-siva opened #42820 "Delete the '--custom_for_pub' argument from make_version.py"
The option '--custom_for_pub' was added to make_version.py to enable Flutter to invoke the Dart build using this option
(see https://github.com/flutter/flutter/issues/14751 for more details on why this was done).

This option causes problems as we end up with Flutter building a Dart SDK that pretends to be a version that it is not
(please see https://github.com/flutter/flutter/issues/62146 for the

[2020-07-23 19:01] a-siva commented on #42820
/cc @whesse @athomas @zanderso @tvolkert

[2020-07-23 19:03] lrhn commented on #42731
Fixed (hopefully) with https://github.com/dart-lang/sdk/commit/69ba6e5f80e25cea566f6eb0dfb1c81e9ec78980.

[2020-07-23 19:43] whesse commented on #42820
Sounds good to me, we should land it.  But then we need to roll, to get it, right?

[2020-07-23 19:48] #58211 closed

[2020-07-23 20:02] a-siva commented on #42820
Yes, it is not going to help the current situation but it will avoid such issues in the future.

[2020-07-23 20:29] scheglov commented on #42706
@leafpetersen You need to disable implicit casts to get this error. In legacy libraries it is allowed by the spec.
[code]

@eernstg Yes, as I described in my first comment, we do remove top-level `*` suffixes from the super-interfaces. And yes, we get `Listenable` as the result of `LUB` now. But I guess this is not perfect :-)

[2020-07-23 20:35] pq opened #58212 "investigate code coverage outage"
Coverage reports are no longer making it to coveralls:

https://coveralls.io/github/dart-lang/linter

Possibly we need to migrate from using [`dart_coveralls`](https://github.com/block-forest/dart-coveralls) to [`coveralls.dart`](https://docs.belin.io/coveralls.dart/)?

[2020-07-23 21:12] scheglov opened #42821 "Move all compile-time errors to CompileTimeErrorCode"
See https://github.com/dart-lang/sdk/issues/42787#issuecomment-662269577 for the context.
We are lying about the kind of the diagnostics, and people try to depend on it.

[2020-07-23 21:22] vanlooverenkoen commented on #38894
Any update on this?

[2020-07-23 21:36] scheglov commented on #42757
https://dart-review.googlesource.com/c/sdk/+/155680

[2020-07-23 22:01] kenzieschmoll opened #42822 "[http timeline events] use camel case for all responseHeader `set-cookie` key"
current key value is `set-cookie`. We should use camel case for this (e.g. `setCookie`) to match dart naming conventions

[2020-07-23 22:24] bkonyi commented on #42822
This is the raw format of the response headers, so I don't think we should be messing with that in the logging. However, I don't see any issue with making that change on the client side.

[2020-07-23 22:30] alexmarkov commented on #42793
@dcharkes We could also use such low-level load/store instructions in FFI implementation (e.g. in `FlowGraphBuilder::UnwrapHandle()`).

[2020-07-23 22:37] #42757 closed

[2020-07-23 22:37] bwilkerson commented on #38894
Not yet, but it's definitely something we would like to have working.

[2020-07-23 23:28] zichangg commented on #42818
The cl has been reverted. I'll close the issue.

[2020-07-23 23:28] #42818 closed

[2020-07-24 00:03] bkonyi commented on #42819
Looks like it was probably caused by an invalid memory access causing us to read off the end of a buffer. Should be fixed by [this](https://dart-review.googlesource.com/c/sdk/+/155740).

[2020-07-24 01:27] #42807 closed

[2020-07-24 05:49] vanlooverenkoen commented on #38894
Any idea of a timeframe?

[2020-07-24 05:55] sgrekhov opened #42823 "Cookie path may contain forbidde character"
The following test fails now
[code]
According to the [RFC-6265](https://tools.ietf.org/html/rfc6265#page-9)

Therefore `" /a/b/c:/; "` is not a valid value for the path because it contains forbidden character `;`
Tested on `Dart SDK version: 2.10.0-0.0.dev (dev) (Wed Jul 22 19:58:38 2020 +0200) on "windows_x64" `

[2020-07-24 06:24] sstrickl commented on #42793
I've already got on a start on this on [CL 155604](https://dart-review.googlesource.com/c/sdk/+/155604), at least for the case I currently need (`uint32_t`), and it should be easily extendable to other unboxed field types. In that CL, `LoadNativeField` of an unboxed slot always returned a boxed version of the value, which might be nice to eventually handle unboxing appropriately in optimized code

[2020-07-24 07:52] xvrh opened #42824 "Difference between VM and DDC with break label;"
This program fails with the web compiler and not with the VM

[code]

I run it with the flutter commands (which I think use the DDC compiler)

### VM
`flutter_master test --platform tester test/label_test.dart`
`00:06 +1: All tests passed! `

### Web
`flutter_master test --platform chrome test/label_test.dart`
[code]

`flutter_master --version`
[code]

[2020-07-24 09:11] elansys-kc commented on #36316
Isn't compilation less important than enforcing run-time conversions from system languages, or are you suggesting utf-16 should be used everywhere. This explanation seems inadequate, though perhaps it alludes to a pain point with Android?. Perhaps a link would be better? I am trying to consider how best to limit conversions between System services, Golang and Dart. In this case Dart/C#/Java, seem

[2020-07-24 10:10] fishythefish commented on #41449
The initial fix for this was pretty quick, but revealed a deeper issue causing other tests (mainly async ones) to fail. I have a more complete fix that I'm working on landing now.

[2020-07-24 10:24] wujun commented on #41451
Hi, great jobs you've done guys!
I just want to know which version of release could include this modification because I am facing the same issue?
thanks all of you, especially for @rxwen, for your persistence on this problem!

[2020-07-24 11:27] whesse opened #42825 "dartdevc_patch_sdk build target fails"
The build target dartdevc_patch_sdk fails to build.
No build target that we commonly use includes that target, maybe it is unused.
The build targets create_sdk, runtime, and most do not build it.
Running build.py with no target specified runs all targets in our build files, and so runs it and fails.
Of course, nobody should be running build.py with no target, but people do by accident.

The build

[2020-07-24 12:14] lrhn opened #42826 "Front-end and analyzer do not agree on how to report incompatible language versions in parts."
I've added some tests for having a library and a part which do not have the same language marker: [Add tests for inconsistent language markers in part files.](https://dart-review.googlesource.com/c/sdk/+/154462).

The tests
[code]
are failing on configurations
[code]
because the analyzer reports errors at either:
* The language marker in the part file, or
* the first declaration of the part file,

[2020-07-24 12:46] johnniwinther commented on #42206
`language/closure/param_null_to_object_test` is no longer failing.

[2020-07-24 13:17] mkustermann opened #42827 "Flaky VM assertion during GC sweeping"
From [this log](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8873952660100972208/+/steps/test_results/0/logs/ignored_flaky_test_failure_logs/0):
[code]

/cc @rmacnak-google

[2020-07-24 13:34] dcharkes commented on #42563
@mkustermann The typedef solution does not work for struct fields (annotation constructor calls cannot have type arguments), so that solution also requires subtyping.

I've prototyped three API variants in https://gist.github.com/dcharkes/8d41b7def9bf82c74bf0b7f8a1d66a6c.

@lrhn @eernstg Any feedback from a language design point of view on the possible APIs?

[2020-07-24 13:41] eernstg commented on #42706
Right; I was thinking about not having them in the first place, cf. the text [here](https://github.com/dart-lang/language/blob/master/accepted/future-releases/nnbd/feature-specification.md#classes-defined-in-legacy-libraries):

It doesn't say that the type which is the super-interface as a whole is marked as legacy, only its type arguments and down. But it shouldn't make much difference. ;)

[2020-07-24 14:57] vsmenon commented on #42815
fyi @sigmundch

@mnordine - how are you running code?  E.g., `webdev`?  Calling `dart2js` by hand?

[2020-07-24 15:00] mnordine commented on #42815
`webdev`, here's my `build.yaml`:

[code]

[2020-07-24 15:08] nathanfranke commented on #30074
It works in C++, and C++ is compiled, so...?
[code]

We're going to close this feature request, even though we have unanimous 13-0 votes on the parent comment?

[2020-07-24 15:10] mnordine commented on #42815
Not only do I get mismatched lines like above, I also see cases where it's erroneously matching lines with incorrect source files. For example, pointing our user code function into an unrelated library function. In the following, `Tweenable.scaleYoyo` is a user function (it's actually an extension method). But, here it points to a completely different source file, in a different library. Is the NP

[2020-07-24 15:28] devoncarew commented on #38894
@vanlooverenkoen, thanks for the ping; watching this issue is the best way to know about any progress.

[2020-07-24 15:30] vanlooverenkoen commented on #38894
Yes indeed. Because we are using a lot of extensions in our projects. But it also takes a lot of time to manually import them every time you need them. :( it would be nice to have a timeframe.

[2020-07-24 15:46] lrhn commented on #30074
That's a C++ template, which is quite different from anything in Dart.
C++ expands all templates at compile time, then checks whether the result is valid. You an instantiate this template with any type for which `T::some_method()` would be valid.

Dart generics are retained at run-time, as run-time parameters of the instances. We still want to statically detect errors, so we can't just allow you t

[2020-07-24 16:03] nathanfranke commented on #30074
In that case, what about something like this?

[code]

If `T` extends `BaseClass` then `T.baz()` must always be valid.

[2020-07-24 16:54] castaway commented on #40518
I just got the same (confusing) error message by doing:
[code]

Took me quite a while to realise I was supposed to be writing:
```MyThing.fromObj(nameObj) : this(name: nameObj['name']);```

[2020-07-24 17:39] scheglov opened #42828 "CompileTimeErrorCode.NOT_ITERABLE_SPREAD should be reported for ambiguous Set/Map."
See `test_noContext_noTypeArgs_spread_typeParameter_notImplementsMap`.

[code]

We report `CompileTimeErrorCode.AMBIGUOUS_SET_OR_MAP_LITERAL_EITHER` but we don't report `CompileTimeErrorCode.NOT_ITERABLE_SPREAD` because in `LiteralElementVerifier` we don't know the `SetOrMapLiteral` kind, and don't know how to verify it. But we should, it is ambiguous *because of* `NOT_ITERABLE_SPREAD`.

[2020-07-24 17:47] a-siva commented on #42823
/cc @zichangg

[2020-07-24 18:14] natebosch commented on #31230
@bwilkerson - would it be appropriate to add a hint in the analyzer when a URI should be canonicalized in an import?

[2020-07-24 18:24] lrhn commented on #30074
Dart does not inherit static members, so a subclass of `BaseClass` is not guaranteed to have a static `baz` member.

[2020-07-24 18:25] bwilkerson commented on #31230
I would say, yes. I doubt that anyone is intentionally using URIs that are not canonical in order to prevent a file from being seen as being the same, so I expect there'd be zero false positives.

[2020-07-24 18:31] nathanfranke commented on #30074
Ah, true. In that case, #356
I did solve this with reflection, but that's only temporary

[2020-07-24 18:43] scheglov commented on #41065
https://dart-review.googlesource.com/c/sdk/+/155822

[2020-07-24 18:44] natebosch opened #42829 "Add a hint when an import URI can be canonicalized"
See https://github.com/dart-lang/sdk/issues/31230#issuecomment-662941873

If a user imports `package:foo//foo.dart` we should hint towards `package:foo/foo.dart` instead.

[2020-07-24 18:44] natebosch commented on #31230
Filed as a new feature request: https://github.com/dart-lang/sdk/issues/42829

[2020-07-24 18:56] devoncarew opened #42830 "'MixinDeclarationImpl' is not a subtype of type 'ClassDeclaration' at create_constructor.dart:118"
Seen by one internal user ~7 times:

[code]

[2020-07-24 19:35] #41065 closed

[2020-07-24 19:51] jwren opened #42831 "--disable-dart-dev now required for running Dart sources in IntelliJ"
Right clicking in IntelliJ and running some test now yields the error below:

`Snapshot not compatible with the current VM configuration: the snapshot requires 'release no-dwarf_stack_traces_mode causal_async_stacks no-lazy_async_stacks lazy_dispatchers use_bare_instructions no-dedup_instructions no-"asserts" "use_field_guards" "use_osr" no-code-comments x64-sysv no-null-safety' but the VM has 're

[2020-07-24 19:57] bkonyi commented on #42831
Already have a partial fix [here](https://dart-review.googlesource.com/c/sdk/+/155545). We're also going to need to switch from using a snapshot to a kernel file to handle mismatches between other flags that we can't change on a per-isolate basis: https://github.com/dart-lang/sdk/issues/42804.

[2020-07-24 21:05] bwilkerson opened #42832 "Analyzer regression around diagnostics when imported files are not generated"
The analyzer used to notice when an `import`, `export` or `part` directive referenced a generate file that does not exist and silenced follow-on diagnostics. That behavior appears to have been broken. For example, a file containing the following:
[code]
Now produces 3 diagnostics when it ought to produce a single "generated file does not exist" diagnostic.

This has serious implications for intern

[2020-07-24 21:20] bwilkerson commented on #42832
@scheglov

[2020-07-24 22:08] munificent commented on #42821
Yes, this would be great. I'll work around in the in the meantime in the test runner.

[2020-07-24 22:08] munificent commented on #42787
Ah, thank you for bringing this to my attention! I updated [the CL](https://dart-review.googlesource.com/c/sdk/+/155305) with a more precise list of warnings.

[2020-07-24 23:13] scheglov commented on #42832
Can you point me at a document that specifies the required behavior?

What I see implemented, and what I vaguely remember hearing when this feature was discussed, is that we ignore errors reported on identifiers that are either (1) imported with a prefix; (2) imported without a prefix but with an explicit `show` combinator. In both cases the library must be synthetic. meaning that its file is miss

[2020-07-24 23:20] gaaclarke opened #42833 "_InternalLinkedHashMap has no instance method 'foreach'"
Full runtime error:
`NoSuchMethodError: Class '_InternalLinkedHashMap<String, dynamic>' has no instance method 'foreach'.`

`jsonDecode` is giving me a `_InternalLinkedHashMap` which doesn't have a `foreach` implementation like `Map`.  It is confusing and an annoyance not to have these types have compatible interfaces.

reproduction:
[code]
where content is:
[code]

[2020-07-24 23:29] franklinyow commented on #40145
@leafpetersen Is this done?

[2020-07-24 23:34] gaaclarke commented on #42833
This is my error.  'Map' and '_InternalLinkedHashMap' both implement 'forEach', not 'foreach'.

[2020-07-24 23:34] #42833 closed

[2020-07-24 23:36] bwilkerson commented on #42830
https://dart-review.googlesource.com/c/sdk/+/155825

[2020-07-24 23:36] #42830 closed

[2020-07-24 23:49] bwilkerson commented on #42832
Unfortunately, no. I don't believe that we documented the desired behavior.

I don't remember those restrictions, but it's quite possible that we decided to do that in order to reduce the number of false negatives.

If that's the case, there is no regression. But I think we should consider broadening the support because using `show` combinators and prefixes won't work with `part` directives, which

[2020-07-25 02:12] jodinathan opened #42834 "missing readAsBinaryString in dart:html.FileReader"
in ```dart:html``` you currently have:

[code]

```readAsBinaryString``` is missing.

[2020-07-25 06:02] leafpetersen opened #42835 "Static updater tool get confused about error width when updating"
The updater tool is getting confused about the width of errors in the following program:

[code]

After the first run:

`tools/sdks/dart-sdk/bin/dart pkg/test_runner/tool/update_static_error_tests.dart --update-all ~/tmp/test.dart`

[code]

A second run:

[code]

A third run:

[code]

Note: this was discovered because dartfmt chooses a different indentation depth for the comment above, so the tool

[2020-07-25 06:21] leafpetersen opened #42836 "[CFE] Implementation of mixed mode upper bound change"
A change to mixed mode upper bound was added to the null safety specification [here](https://github.com/dart-lang/language/pull/1109). This issue tracks implementation of this change in the CFE.    Tests for this change are out for review [here](https://dart-review.googlesource.com/c/sdk/+/155380).

cc @johnniwinther

[2020-07-25 06:23] leafpetersen opened #42837 "[Analyzer] Implementation of mixed mode upper bound change"
A change to mixed mode upper bound was added to the null safety specification [here](https://github.com/dart-lang/language/pull/1109). This issue tracks implementation of this change in the analyzer.    Tests for this change are out for review [here](https://dart-review.googlesource.com/c/sdk/+/155380).

cc @scheglov @devoncarew

[2020-07-25 17:27] mithunadhikari40 opened #42839 "Sorting on the list does not seem to output correct results when performing on large lists."
I am facing this issue for some time. Whenever there is a huge list and I need to sort it ascending or descending, one or more element stays in the first index of the list even though that element should be somewhere else. For example, if I have a list and I sort it on descending order, the element in the 0th index is not the expected element, and the rest of the list seems fine.
I tried this part

[2020-07-25 19:52] sma opened #42838 "Chrome 85 has trouble to display the migration tool"
#### Steps to reproduce

Just for fun, I tried to convert [this old code](http://sma.github.io/articles/2013/04/11/conquest-in-dart.html) but the web UI became completely unresponsive when trying to display the single 3486 lines long file. After a while I saw some code, but as soon as a started scrolling, the display of lines stopped after a 300+ lines before becoming unresponsive again and then s

[2020-07-25 21:38] stuartmorgan commented on #42781
Duplicate of https://github.com/flutter/flutter/issues/61950 (and explained there, not a bug).

[2020-07-25 23:38] jbool24 commented on #38499
::bump bump::

Anyone find out anything on this? Not sure how this issue is closed. Its definitely not resolved. Getting similar errors trying to run json_annotation package on a model class.

Deps:
[code]
and output from `flutter pub run build_runner build --enable-experiment=non-nullable`

[code]

[2020-07-26 04:13] #42781 closed

[2020-07-26 08:22] mithunadhikari40 commented on #42839
Thank you for your response. It seems that I was returning 0 in case when two identical dates were found, so are never sorted.

[2020-07-26 08:22] #42839 closed

[2020-07-26 18:51] scheglov commented on #42832
OK, then this is not a bug, but an enhancement.

Without additional information we cannot distinguish an identifier that should come from an imported library, and identifier that should come from a part. But I can imagine that there might be a correspondence between a generated part name, and the pattern of names of generated entities in the part.

Do you have examples of such parts and generated

[2020-07-26 22:19] scheglov commented on #42791
This is caused by a mess we have now with read/write type, to be fixed as https://github.com/dart-lang/sdk/issues/42269

[2020-07-27 06:56] dolpheen opened #42841 "--disassemble-optimized shows no output"
OS: MacOS
Dart Version: Tested on Dart VM version: 2.8.4 (stable) & Dart SDK version: 2.9.0-21.0.dev.flutter-20bf2fcf56

Using

Shows only
[code]

While

Is OK and shows IL and ASM

[2020-07-27 07:24] CimZzz commented on #42250
simulator always fine on my side, but physical device is not

[2020-07-27 07:25] CimZzz commented on #42250
@aam simulator always fine on my side, but physical device is not

[2020-07-27 07:52] johnniwinther commented on #42537
It seems that packages derived from `.packages` files are deliberately set to have version `2.7`. See https://github.com/dart-lang/package_config/blob/9c586d04bd26fef01215fd10e7ab96a3050cfa64/lib/src/packages_file.dart#L14

This means that it is expected behavior that we do not enable allowed experiments from `.packages` - their language version is simply too low.

@leafpetersen @jakemac53 Is this

[2020-07-27 08:57] cskau-g opened #42842 "tools/test.py ignores --vm-options"
Invoking `tools/test.py` with the `--vm-options=$SOME_FLAG` doesn't appear to have the expected effect:
[code]

The verbose output shows four invocations of dart, none of which are passed `$SOME_FLAG`.

I would have expected at least the invocation that executes the test itself to have been passed the flag.

[2020-07-27 09:24] DanTup opened #42843 ""Add missing required argument" fix does not appear for named constructor"
(Extracted from https://github.com/Dart-Code/Dart-Code/issues/2643#issuecomment-664027590)

[code]

The "Add missing required argument" fix does not appear at the location of `^`, however if you use the default constructor, it does.

[2020-07-27 11:28] athomas commented on #42713
@bkonyi What prevents you from doing so? The work done for https://github.com/dart-lang/sdk/issues/42417 should work on OSX and Windows as well.

[2020-07-27 11:44] cskau-g commented on #42842
At a quick glance, it looks like the problem is that using a 'named config' (`test.py -n`) will load a preset configuration, and the passed in flags won't be applied:

https://github.com/dart-lang/sdk/blob/6bdf55f31f1090b42c3dc8b99c514d13af97c814/pkg/test_runner/lib/src/options.dart#L773-L776

To me the expected behaviour would be that the named config would load all the preset config, but then ap

[2020-07-27 11:59] mkustermann commented on #42841
@dolpheen Would you mind explaining what you are trying to do?

Our JIT is first compiling unoptimized code and runs this for some time to learn more about the program behavior. When functions were called enough times it will start optimizing such functions. Maybe that doesn't happen on your example?

[2020-07-27 12:28] johnniwinther opened #42844 "Report error on non-nullable field in class with redirecting factory constructor"
CFE is current not reporting an error for non-nullable fields in classes with only a factory constructor.

Multiple tests in `co19/LanguageFeatures/nnbd/static_errors_A06_t*` with the following pattern are currently failing:
[code]

[2020-07-27 12:29] sgrekhov opened #42845 "co19/LibTest/async/Stream/Stream.periodic_all_t02 test timeouts on dartk"
The following test [co19/LibTest/async/Stream/Stream.periodic_all_t02](https://github.com/dart-lang/co19/blob/master/LibTest/async/Stream/Stream.periodic_all_t02.dart) timeouts on dartk. Works well on all other platforms. [Output](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8873631955836528112/+/steps/test_results/0/logs/new_test_failures__logs_/0) is
[code]

[2020-07-27 12:31] johnniwinther commented on #42844
It seems inconsistent that we report an error in case but not in similar cases of a final fields:
[code]

[2020-07-27 12:51] mkustermann commented on #42533
Made [cl/156003](https://dart-review.googlesource.com/c/sdk/+/156003) which shows the changes we would need to make for not assigning class ids to top-level classes (Ryan's idea).

Though the changes in that CL are not sufficient yet, there are still remaining places where we use the top-level class ids in type objects and expose those type object to Dart code, e.g. in NoSuchMethod handling, see e

[2020-07-27 13:27] dolpheen commented on #42841
@mkustermann
Just exploring Dart VM as mentioned in [https://github.com/dart-lang/sdk/blob/master/runtime/docs/index.md](url)
At the moment mostly interested in boxing/unboxing optimization of Ints.
Just wanted to see the optimized disassembly code for this with --disassemble-optimized, but no outputs.
But if I understand you correctly - the optimization is not done on single run of code.

The cod

[2020-07-27 13:27] #42841 closed

[2020-07-27 13:49] bwilkerson commented on #42832
@jwren

[2020-07-27 14:29] mnordine commented on #42811
Tried `-O1` (no minify) on an unfortunate subset of our users, pretty much same deal:

Dart stack trace:
[code]

JS stack trace:
[code]

[2020-07-27 14:36] vsmenon commented on #42825
@nshahan @sigmundch - is this dead code now with ddk?

[2020-07-27 15:47] stereotype441 opened #42846 "Non-nullability hint in initializer interpreted in a non-ideal way"
Given the following code:
[code]
The migration tool produces:
[code]
This wasn't the user's intent; they wanted this instead:
[code]
Given that `_cache` is only assigned to once (in its initializer), it would be nice if the tool understood that it can never possibly contain a `List<String?>`, and hence a null check on the argument to `_cache.add` matches the user's intent.

We could achieve this,

[2020-07-27 16:03] #42433 closed

[2020-07-27 16:03] #40954 closed

[2020-07-27 16:03] #41108 closed

[2020-07-27 16:20] jakemac53 opened #42847 "Dart2js crash when rolling null safe fake_async internally"
See cl/323361672 and related tap ID OCL:323361672:BASE:323362254:1595865429409:6cc09134.

[code]

[2020-07-27 16:20] nshahan commented on #42825
We are still using that script in that target to create a patched SDK to check for analysis errors but AFAIK we are not using that build target. I'll talk with @sigmundch and make sure we do some cleanup.

[2020-07-27 16:21] jakemac53 commented on #42847
Marked as a P1 because this package is necessary for flutter_test (and thus it is blocking the flutter tech preview)

[2020-07-27 16:27] denniskaselow opened #42848 "wrong type of class when using `IterableMixin` via `with` when used as value in a map while having NNBD enabled and implicit casts disabled"
I'd expect this code to work, as `Foo` is an `Iterable<String>`, but the analyzer only sees an `Object` and results in a `return_of_invalid_type` error.

[code]

The analyzer says:

I am running `dartanalyzer --no-implicit-casts --enable-experiment non-nullable .` and this error isn't reported when running with implicit casts. I guess the implicit cast is from `Iterable<String>?` to `Iterable<Stri

[2020-07-27 16:36] aam commented on #42250
@CimZzz are you able to run repro sample from above on your device? Can you share the output/how does it fail?

[2020-07-27 16:42] natgross commented on #42820
Same problem on Windows when doing 'flutter upgrade'

[2020-07-27 16:58] #23642 closed

[2020-07-27 17:01] gspencergoog opened #42849 "Unable to pass --enable-experiement=non-nullable to `dart2native`"
I am trying to build an AOT executable on Linux from an app that has been updated to be compatible with NNBD using `dart --enable-experiment=non-nullable`, which works fine, but when I try and build a standalone executable from that code, I am unable to.

When I build the executable using `dart2native`, I get the following error:

[code]

My pubspec constraints are set to:
[code]

And I re-ran `pu

[2020-07-27 17:01] srawlins opened #42850 "Fasta should recover on a map literal expression statement to produce ~1 error."
Take this code with a map literal expression statement:

[code]

This produces 14 parse errors, all of the form "Expected ';'", "Expected an identifier", or "Unexpected token". The parser should recognize (approximately) a map-or-set literal, and recover to produce one error.

[2020-07-27 17:05] jakemac53 commented on #42537
Well, it doesn't implement [the spec](https://github.com/dart-lang/language/blob/master/accepted/future-releases/language-versioning/feature-specification.md), and it diverges in a way that is quite user visible in the scenarios where it does come up.

So I would say that we should change the implementation to return the current language version and not 2.7. This is likely just an oversight?

[2020-07-27 17:09] scheglov commented on #42821
Done.
We have only a handful of items left in [StaticWarningCode](https://github.com/dart-lang/sdk/blob/c21128767e2db715af0d5cc830f068891efefbea/pkg/analyzer/lib/src/error/codes.dart#L10311).

[2020-07-27 17:09] #42821 closed

[2020-07-27 17:35] bkonyi commented on #42713
I thought you had mentioned that this would only work on Linux for some reason? :-) I created this issue to tie to an approval for failing SSE tests on Windows / OSX which I assumed were due to lack of support. If that's not the case I'll update this issue to reflect the actual problem and assign to myself.

[2020-07-27 17:38] bkonyi commented on #42831
This should be fixed for the `assert` case. The general fix will be tracked in #42804.

[2020-07-27 17:38] #42831 closed

[2020-07-27 17:41] alexmarkov commented on #42146
Current list of tests failing in strong mode due to dependencies on legacy packages:

suite | test | bot | configuration | dependencies
-- | -- | -- | -- | --
lib | mirrors/library_uri_package_test | vm-debug | dartk-strong-linux-debug-x64 | Depends on package:args
lib | mirrors/library_uri_package_test | vm-release | dartk-strong-linux-release-x64 | Depends on package:args
standalone | io/addlate

[2020-07-27 18:22] nshahan opened #42851 "Erroneous type tests with nullable primitive types"
`bool`, `num`, `double`,  and `String` produce the wrong result when evaluating type tests of the form:

[code]

It looks like ddc accidentally drops the nullability of the type in the test when they are represented as js primatives.

`int` works as expected though.

[2020-07-27 18:25] rakudrama commented on #26081
This is still an issue.

My latest experience is debugging a 'huge heap' issue where I have 3.1M objects each with a Map. Most are singleton maps. Each empty or singleton Map is 320 bytes or 6x the size of the owning object. Sometimes it is possible to use a nullable field with the convention '`null`-means-empty', but that doesn't work in the case where most Maps are singletons.

We could use the

[2020-07-27 18:25] natebosch commented on #42395
I think these packages also all need to be in the allow list for the experiment.

[2020-07-27 18:41] #41559 closed

[2020-07-27 18:41] #42577 closed

[2020-07-27 18:43] greglittlefield-wf commented on #33789
I'd like to request the same for deprecated libraries; should I create a new issue for that, or should it be included in this one?

[2020-07-27 18:52] #42181 closed

[2020-07-27 18:52] #42792 closed

[2020-07-27 19:40] rmacnak-google opened #42852 "Out of memory during background compilation should not be fatal"
The background compilation should instead be aborted.

This is responsible for several fuzzer failures, and prevents effective use of the max heap size flags with the JIT.

[2020-07-27 19:49] modulovalue opened #42853 "[analyzer] give built-in visitors const constructors."
There are many default ElementVIsitors and AstVisitors that should have a const constructor. This prevents subclasses from being const.

See dart/element/visitor and most of dart/ast/visitor.

[2020-07-27 20:19] bwilkerson commented on #33789
That ought to be the case today. I don't know what specific case you were originally seeing, but given the following input:
[code]
if you remove the `^` and complete after the period the non-deprecated field will be ranked higher than the deprecated field.

Yes, that makes perfect sense. I think it's just an oversight that we aren't currently doing that.

It would be good to have it as a separate

[2020-07-27 20:32] #42819 closed

[2020-07-27 20:44] jonahwilliams commented on #40145
All of the framework direct dependencies are migrated https://github.com/flutter/flutter/blob/master/packages/flutter/pubspec.yaml#L10

[2020-07-27 20:45] escamoteur opened #42854 "shadowing of generic types"
While writing an extension method for Flutter's ValueListenable I ran into an error message that I couldn't understand because the error message:

'argument of type T can' be assigned to parameter of type T' wasn't helpful.
It turned out that I had defined another gerneric parameter called T inside a generic extension method that used T too.

![image](https://user-images.githubusercontent.com/1663

[2020-07-27 20:56] franklinyow commented on #42847
@sigmundch  FYI

[2020-07-27 21:35] #42601 closed

[2020-07-27 21:47] anowakiteo opened #42855 "Add possibility to truly cancel/dispose Fututre"
Hi,
In current version of dart there is possibility to cancel Future, using `CancelableOperation`. But this solutions do only one thing, cancels listening for result.

There is missing possibility to truly cancel working Future.

Eg. This small piece of code will run, even all futures are canceled:

[code]

[2020-07-27 21:56] bkonyi commented on #42530
I'm unable to reproduce on Linux or OSX at f91547d6dd or HEAD running directly from the Dart SDK. I'm also unable to reproduce on the latest Flutter beta channel on Linux so I'm going to close this for now.

If you're still running into this, it sounds like you might not have `pub` on your path.

[2020-07-27 22:02] rrousselGit commented on #42530
@bkonyi  the problem is that `pub` as a command line was removed. Instead we have `dart pub`.

But using `dart pub global activate` still tries to call the legacy `pub` cli.

[2020-07-27 22:03] nturgut opened #42856 "--build-filter fails on Windows for larger number of targets"
For Flutter Web engine we use `--build-filter` flag for building all the unit tests: https://github.com/flutter/engine/blob/master/lib/web_ui/dev/test_runner.dart#L468

It works fine in Linux. However in Windows the following [error](https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8873742113308400432/+/steps/felt_test_chrome/0/stdout) encountered:

[code]

This tracke

[2020-07-27 22:06] bkonyi commented on #42530
As far as I know we haven't removed any of the legacy scripts for tooling, especially since this CLI isn't published on stable yet. We'll do eventually remove the standalone tool scripts, but not without an adequate deprecation warning. Building from HEAD still spits out a `pub` script when building the SDK.

[2020-07-27 22:09] lrhn commented on #42855
There is no `cancel` on `Future` because the `Future` value represents the *result* of an asynchronous computation, not the computation itself. It's a *value object*, is immutable (from the outside) and it can be safely shared.

To change that, and make the future represent the entire computation would be a significant change.
Sharing the future would no longer be safe if everybody with access can

[2020-07-27 22:13] rrousselGit commented on #42530
That is not the case with the Flutter SDK

It ships only `dart` and `flutter`, as seen in its `bin/` folder.

[2020-07-27 22:17] bkonyi commented on #42530
Ah, I see the problem here. It sounds like you have `flutter/bin` on your path but not `flutter/bin/cache/dart-sdk/bin`, which is where all the Dart tooling scripts live. We originally didn't expect people to be using the Dart SDK packaged with Flutter directly, so it's kind of buried in the artifacts (I think this is something changing in the future).

[2020-07-27 22:23] rrousselGit commented on #42530
I see thanks!

Would it make sense to change the generated .pub-cache/bin/my_binary file to generate `dart pub x` instead of `pub x` instead?

That would fix the issue without exposing the raw pub cli

[2020-07-27 22:27] bkonyi commented on #42530
No problem!

That's not a bad idea. Thoughts @jwren?

[2020-07-27 22:39] sigmundch commented on #42847
Thanks @jakemac53

@fishythefish I wonder if this relates to a type-parameter optimization. @jakemac53 let us know if adding `--disable-rti-optimizations` circumvents this issue.

We may be able to reduce it to a smaller repro form the internal failure, let us get back to you on that.

[2020-07-27 23:25] franklinyow commented on #42118
@jwren Are we fixing this in the next few day?

[2020-07-27 23:27] bwilkerson commented on #42843
https://dart-review.googlesource.com/c/sdk/+/156061

[2020-07-27 23:27] #42843 closed

[2020-07-27 23:33] #42851 closed

[2020-07-28 00:13] franklinyow commented on #42676
@jakemac53 fixed?

[2020-07-28 00:14] sigmundch commented on #42847
FWIW - this minimal program seems to replicate the exception above when I run in the internal environment:

[code]

However the same program with the external dependencies doesn't trip this issue at first.

[2020-07-28 00:57] Hixie opened #42857 "Strange type error with generic getters"
I don't really understand why this fails:

[code]
->
[code]

[2020-07-28 01:16] leafpetersen commented on #42857
This is a sharp edge of the interaction between covariant generics (unsound in general) and contra-variant type parameters.  See [here](https://github.com/dart-lang/sdk/issues/42763#issuecomment-661230601) for more discussion, and the dart language repo issues on sound variance for more examples.  TL;DR you're trying to read a field which contains an `int -> Null` at the type `dynamic -> void` whi

[2020-07-28 01:18] justinfagnani opened #42858 "[package:js] Casting custom element to external class fails"
I'm trying to access a JS custom element vs JS interop, and getting a cast exception in DDC:

I'm defining a custom element in JavaScript:
[code]

Then defining an
[code]

Warnings and stack trace:
[code]

Dart version: 2.8.4

[2020-07-28 02:16] a-siva commented on #42779
This has been labelled as area-dart-cli but I presume this fails irrespective of whether dartdev is enabled or not?

[2020-07-28 03:47] srawlins commented on #41168
@eernstg Should the analyzer be reporting an error as well for `new String.fromEnvironment("x")`? I see exactly one instance of `fromEnvironment` in the spec. In fact, there are only ~4 references in the language repo, and none of them define this behavior.

[2020-07-28 04:03] #42676 closed

[2020-07-28 04:36] Hixie commented on #42857
I don't understand where I am telling the compiler that I want it to be "the type `dynamic -> void". I don't care what the type is. I know the type is correct or it wouldn't have been able to get through the compiler. I'm not assigning the value to anything.

[2020-07-28 04:52] sigmundch commented on #42847
I was able to narrow it down. This appears to be a bug related to mixed mode when the code is migrated but the dependency is not.

If I try the dependencies from the open source I cannot repro as you noticed, but if I switch `clock` to use the non migrated version and keep it at 2.8 (as it is internally), then this issue shows up.

I imagine you'll be able to work around this by rolling clock befo

[2020-07-28 05:09] leafpetersen commented on #42857
`Property` here is not a properly covariant generic.  It is in general unsound to allow a `Property<int>` to be assigned to a `Property<dynamic>`.  However, Dart still has covariant generics.  This means that we must use runtime checks to recover soundness.  This is the basic premise of the Dart 2 type system (it's a kind of sound gradual type system when it comes to generics, if you prefer that t

[2020-07-28 05:41] anowakiteo commented on #42855
This was intented as a showcase :)

So in that moment the only way to somehow stop "Future operations" is move computation into new isolate, am I right?

[2020-07-28 06:19] johnniwinther commented on #42537
This is not for the `package_config.json` (it does behave as spec'ed) but for `.packages`.

In any case, if this is a bug, it is a `package:package_config` bug. The CFE just queries that package.

[2020-07-28 06:29] #42459 closed

[2020-07-28 06:29] #42721 closed

[2020-07-28 06:29] #42743 closed

[2020-07-28 06:41] #42758 closed

[2020-07-28 06:42] johnniwinther opened #42859 "Make CFE type checker handle invalid code"
A lot of CFE expectation tests are currently marked as `TypeCheckError` often because of tests with hierarchical errors, like override errors.

These should be handled gracefully in type checker - maybe by having a different recovery or invalid member encoding in the AST.

[2020-07-28 06:43] jensjoha commented on #42378
Hmmm --- I don't seem to be able to move it to flutter either... (Maybe I just don't know how).

[2020-07-28 06:51] lrhn commented on #42848
My best guess is that it's a failure of the LUB (least upper bound) that is used to find the type of `things[id] ?? <String>[]`.

The least upper bound of `Foo` and `List<String>`, the two types which are the possible results of the expression, is apparently not recognized to be `Iterable<String>`. I'm guessing it *should* be, but the LUB computation is notoriously fickle.

[2020-07-28 06:53] lrhn commented on #42855
Yes, an isolate is the only kind of computational unit that you can actually cancel from the outside in Dart.
There is no way to cancel a single "computation" in an isolate unless it cooperated, because it is not a well-defined unit from the language's perspective.

[2020-07-28 07:28] denniskaselow commented on #42848
Seems to be the case. `things[id] ?? Iterable.castFrom(<String>[])` does work.

[2020-07-28 07:41] #42603 closed

[2020-07-28 07:57] zichangg commented on #42779
I think this is a problem at frontend.

`\\?\` is a special prefix.

The path in the example is a regular path. But It can also be used together with UNC path.

Frontend should treat it as a regular path and Windows API is able to recognize.

Ref: https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#win32-file-namespaces

[2020-07-28 08:52] mkustermann commented on #42849
@cskau-g Could you look at this?

[2020-07-28 08:56] athomas commented on #42856
How is that a dart problem? Isn't this just about passing a too long command line on windows?

https://support.microsoft.com/en-us/help/830473/command-prompt-cmd-exe-command-line-string-limitation#:~:text=On%20computers%20running%20Microsoft%20Windows,command%20prompt%20is%202047%20characters.

Tentatively relabelling as web because the description mentions dart2js.

[2020-07-28 09:12] athomas commented on #40562
Would a release build with the different entitlements help at all? That'd be easier to do.

[2020-07-28 10:33] dcharkes commented on #40562
Yes, having a release dartprecompiledruntime with `allow-jit` instead of `allow-unsigned-executable-memory` might help us find what is causing the problem. If we can get a debugger on the place where it fails (instead of the OS just fully killing it) and if the release build has enough symbols to tell us what is the place where it fails.

@mkustermann How important do you feel it is that we spend

[2020-07-28 11:06] johnniwinther opened #42860 "Failures on [cfe] Fix scope setup for generic function types"
There are new test failures on [[cfe] Fix scope setup for generic function types](https://dart-review.googlesource.com/c/sdk/+/156028).

The tests
[code]
are failing on configurations
[code]

[2020-07-28 11:06] johnniwinther commented on #42860
This is related to #41684

[2020-07-28 12:26] Defuera opened #42863 "Proprietary code distribution"
Hello, I'm developing an SDK that supposed to be sold to clients. It's pure dart code, dedicated for mobile flutter apps.
I'm looking for a way to distribute code in a way that it's hard to reverse engineer. As an android developer I would expect to be able to compile and obfuscate the code and then distribute it via central repository. But as so far I couldn't find a way to do it.

I already figu

[2020-07-28 12:48] Defuera commented on #37952
Is there any update on the matter?

[2020-07-28 13:51] vsmenon commented on #42857
Is there anything actionable here without language variance support (e.g.,  https://github.com/dart-lang/language/issues/524 )?

Could we generate a better runtime error?

[2020-07-28 13:54] #42465 closed

[2020-07-28 14:04] jakemac53 commented on #42856
We support glob syntax, which you can use to shorten your command line arguments by about half:

[code]

Could become:

[code]

From looking at the code more closely it also looks like you could special case the `runAllTests` case to just pass a single glob based on canvas kit or not.

[2020-07-28 14:17] johnniwinther commented on #42779
@lrhn Can you provide more of the stack trace?

When it try `dart \\?\c:\src\dart-repo2\temp\abstract.dart` on bleeding edge I get
[code]

and when I run `dart run \\?\c:\src\dart-repo2\temp\abstract.dart` I get
[code]
which doesn't match yours (at `#1`).

So it seems we have multiple entry points that need fixing.

[2020-07-28 14:18] jakemac53 commented on #42847
Ah ok! Clock has already been migrated but at the time I was running the presubmits it had not (I was landing them in parallel). I will try re-running the presubmits now.

Still seems like a high priority issue though as mixed mode will be a very common thing :).

[2020-07-28 14:20] bwilkerson commented on #42853
https://dart-review.googlesource.com/c/sdk/+/156064

[2020-07-28 14:20] #42853 closed

[2020-07-28 14:22] jakemac53 commented on #42537
Note this part of the linked text `or there is no package_config.json file available (yet)` - this covers the `.packages` file only context.

I agree it seems to be a package_config issue.

[2020-07-28 14:22] michalt opened #42861 "Don't reset the source view when applying a hint (Null Safety Migration tool)"
#### Steps to reproduce & what happened

1. Click to apply the hint
2. Source viewer is reset and shows the top of the file

#### What did you expect to happen?

I would like if the source viewer continued showing the location where I was clicking to apply the hint. Otherwise, applying a bunch of hints is very tedious (since one needs to scroll back down from the top after each hint application)

[2020-07-28 14:31] johnniwinther commented on #41027
These have all been fixed.

[2020-07-28 14:31] #41027 closed

[2020-07-28 14:38] johnniwinther commented on #41053
These have all been fixed.

[2020-07-28 14:38] #41053 closed

[2020-07-28 14:39] mkustermann commented on #40606
@a-siva I think this is rather a FFI design question how to represent a C pointer that is `nullptr` in Dart. Is not related/blocking to the NNBD work itself.

[2020-07-28 14:55] mkustermann commented on #42470
As mentioned in the previews comments, it was a conscious design decision to change the semantics of top-level field initialization with NNBD and is working as intended.

[2020-07-28 14:55] #42470 closed

[2020-07-28 15:14] michalt opened #42862 "Missing exclamation mark in override (Null Safety migration tool)"
Consider the following snippet:

[code]

The migration tool correctly sets the return type of the `Bar.foo` to be `String` since it's explicitly hinted. But it does not add an exclamation mark to the body, which means that the generated code doesn't compile:

[code]

[2020-07-28 15:19] leafpetersen commented on #42863
Transferring this to the sdk repo.  In general, our standard build and ship options assume compiling a whole program from source.  You could probably build a custom solution by using a combination of marked entry points with an ffi backed facade.  I'm not sure what, if anything, we provide in terms of obfuscation.  @mraleph @mkustermann or @a-siva might have more information here.

[2020-07-28 15:24] athomas commented on #40562
I provided Daco with a `2.10.0-1.0.dev` build signed with `allow-jit` instead of `allow-unsigned-executable-memory`.

[2020-07-28 15:41] mkustermann commented on #42863
The Dart VM's AOT compiler (`gen_snapshot`) does support obfuscation via `--obfuscate`. Additionally a lot of symbolic information can be stripped via `--dwarf-stack-traces --save-debugging-info=<file>` (**).

This approach would obfuscate an entire application. Also our AOT compiler produces simple machine code that is not so hard to reverse engineer. The harder part might be how to distribute su

[2020-07-28 15:41] dcharkes commented on #40562
Initial try. Indeed we get killed 9 with those entitlements.

[code]

`lldb` is not happy with signed executables (neither with sudo):

[code]

I can dive deeper into this, but it will take time.

The issue is not FFI related or opening of dylibs related. Hello world has the same issue:

[code]

[2020-07-28 15:41] devoncarew commented on #42831
@johnniwinther - this might be the issue you saw? If it looks similar, can you re-test from the latest from master?

[2020-07-28 15:55] chgibb commented on #37755
Is the intent to allow for the dynamic loading of interpreted code into a running AOT app?

[2020-07-28 15:58] kevmoo commented on #42465
Has a CL gone through the SDK to bring in this version of pub?

Perhaps we should wait to close it until that happens @sigurdm

[2020-07-28 16:21] a-siva commented on #37755
@zzjjob could you elaborate a bit more about your requirements and how this hybrid mode proposal helps address the requirements.

[2020-07-28 17:21] devoncarew commented on #42726
Ben to verify that this is actually required.

[2020-07-28 17:23] #42852 closed

[2020-07-28 17:24] devoncarew commented on #42339
I'm going to close this as assumed complete; please re-open (or file more specific issues) if there is remaining work to do.

[2020-07-28 17:24] #42339 closed

[2020-07-28 17:25] devoncarew commented on #42118
Jaime, can you verify the current behavior here?

[2020-07-28 17:32] devoncarew commented on #42014
I think there are two issues here:
- we should provide a good message if `dart test -h` is run from a directory w/o a pubspec
- `dart test -h` runs slower than the other help commands; @bkonyi has an idea to improve that w/ how we spawn the pub snapshot

[2020-07-28 18:38] zichangg commented on #42779
@johnniwinther
I'm able to repro on my gWin machine using cmd.exe.

This is the stacktrace I got:

at character offset null:
Unsupported operation: Cannot extract a file path from a URI with a query component
#0      _Uri.toFilePath (dart:core/uri.dart:2713:7)
#1      new File.fromUri (dart:io/file.dart:260:49)
#2      _IoFileSystemEntity.readAsBytes (package:front_end/src/api_prototype/standard_f

[2020-07-28 19:08] devoncarew commented on #42484
OK, I think what we've decided on is that:
- it's ok for `dart analyze` and `dart format` to have slightly different behaviors (given that analyze doesn't make changes to the user's disk and format does)
- `dart analyze` should take a directory as an argument and default to the cwd if none is given
- `dart format` should take a directory as an argument but not default to one if non is provided
- w

[2020-07-28 19:11] devoncarew opened #42864 "create a style guide for the command line UI for dart"
There's more discussion here: https://github.com/dart-lang/sdk/issues/42484, but generally, we'd like a style guide for the command line UI for the dart tool. This will help us ensure that we have a consistent UI between commands, and can help guide us when adding new commands or options.

Here's one item we've found for the style guide:

[code]

cc @mit-mit @jwren @munificent @bwilkerson

I'd sug

[2020-07-28 19:11] devoncarew commented on #42484
https://github.com/dart-lang/sdk/issues/42864 for the style guide

[2020-07-28 19:11] #42484 closed

[2020-07-28 19:22] alexmarkov commented on #42206
FWIW `language/closure/param_null_to_object_test` is still failing in strong mode on the VM:

[code]

It looks like this test expects closure parameter to be inferred as `Object?`:
[code]

but this is not the case:

[code]

Not sure if this is a bug in the test or CFE type inference.

[2020-07-28 20:59] a14n opened #58213 "final variable with nullable type initialized with non-nullable type"
[code]

[2020-07-28 22:33] fishythefish commented on #42847
I'm currently investigating a weak mode failure on a language test that seems to exhibit the same issue. When I have a fix, I'll see if that closes this issue as well.

[2020-07-28 23:20] franklinyow commented on #40145
closing

[2020-07-28 23:20] #40145 closed

[2020-07-28 23:32] natebosch commented on #38969
I think this has been done now with the SDK hash stuff. Should we close this?

[2020-07-28 23:39] franklinyow commented on #41171
@kevmoo Please update, and move to [#41611](https://github.com/dart-lang/sdk/issues/41611) when it's done for TP2

[2020-07-29 00:18] sigmundch commented on #41892
after discussing this offline last week, we believe we can close this. @Markzipan please correct me if I misunderstood.

[2020-07-29 00:18] #41892 closed

[2020-07-29 00:39] #38969 closed

[2020-07-29 01:44] leafpetersen opened #42865 "Analyzer produces very long offsets for some error messages"
Not sure if this is at all important or not, but I noticed this anomaly, and it occurred to me that it might affect the UX in IDEs as well.  Consider the following program:

[code]

When analyzer using the `--format=machine` option, the analyzer produces the following result:

[code]

Note the width of the error, `544`.  I believe the analyzer is using the span to the `..` token as the width of th

[2020-07-29 02:02] aam opened #42866 "tsan: Scavenger heap_ data race between IdleTimeHandler and something else(that tsan failed to restore the stack for)"
from [tsan buildbot logs](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8873482113211815504/+/steps/build_dart/0/stdout):

[code]

[2020-07-29 02:03] leafpetersen commented on #42835
Ok, turns out this is not an issue with the updater tool, per se.  It's much, much, better than that.  Per [this](https://github.com/dart-lang/sdk/issues/42865) issue, the analyzer, when it discovers an error on a cascade target, emits the error span using the `..` as the end token.  If there is a comment between the target and the end token, then it includes the length of the comment in the span.

[2020-07-29 02:05] leafpetersen commented on #42865
Hilariously, this causes a classic self-reference bug in the [static updater tool](https://github.com/dart-lang/sdk/issues/42835#issuecomment-665387117).

[2020-07-29 02:26] leafpetersen commented on #42835
This does cause some real difficulties, however, since not only can't use the static updater tool, but in fact, there's no way to encode a correct error expectation (since any expectation I encode contains the unary encoding of the correct expectation of running the code **without** the expectation, or with the last version of the expectation).

I can probably work around this, possibly by keeping

[2020-07-29 02:52] #42825 closed

[2020-07-29 03:56] jakemac53 commented on #41171
See page 2 of the sheet linked above which I added to track the merging into sdk/internal and publishing. All packages are now tested and merged into google3, and we should be able to begin publishing tomorrow.

[2020-07-29 04:01] Hixie commented on #42857
I don't really understand why we need to check the type of `foo` here. The type has no follow-on effects. The value isn't invoked, dereferenced, assigned to anything, returned, passed, anything. We call the getter and then throw the returned value away.

[2020-07-29 06:15] johnniwinther commented on #42831
It works both with the latest dev-release and with bleeding edge. Thanks!

[2020-07-29 06:30] johnniwinther commented on #42206
Thanks, @alexmarkov,  I'll take a further look into this.

[2020-07-29 07:14] michalt commented on #42862
@stereotype441

[2020-07-29 07:15] michalt commented on #42861
@stereotype441

[2020-07-29 07:37] #42836 closed

[2020-07-29 08:53] #42700 closed

[2020-07-29 09:05] #36870 closed

[2020-07-29 09:05] #41951 closed

[2020-07-29 09:05] #42364 closed

[2020-07-29 09:19] sgrekhov opened #42870 "Proxy direct access issue"
The following tests fails now
[code]
The failure is
[code]
If to change
[code]
tests begin to work. But why direct connection doesn't work?

`Dart SDK version: 2.10.0-1.0.dev (dev) (Tue Jul 28 12:21:35 2020 +0200) on "windows_x64" `

[2020-07-29 10:32] zzjjob commented on #37755
For example, hot fix, I hope that if a function has a bug when AOT, it can be interpreted KBC, so that it can be quickly repaired when a serious bug or crash occurs.

[2020-07-29 10:38] michalt opened #42871 "Unnecessary cast of a function? (Null Safety migration tool)"
Consider the following code:

[code]

The migration tool produces:

[code]

It's ok wrt. nullability, but AFAICS the cast is redundant (and I even get warnings that it's unnecessary).

**Dart SDK version**: 2.10.323325861-edge+google3-v2

CC @stereotype441

[2020-07-29 10:41] mkndmail opened #42872 "Analyzer Feedback from IntelliJ"
## Version information

- `IDEA AI-193.6911.18.40.6626763`
- `2.8.4`
- `AI-193.6911.18.40.6626763, JRE 1.8.0_242-release-1644-b01x64 JetBrains s.r.o, OS Windows 10(amd64) v10.0 , screens 1920x1080`

[2020-07-29 11:47] johnniwinther commented on #42779
The input has already been processed when it reaches `pkg/vm/bin/kernel_service.dart:208:45`. When I supply `\\?\c:\src\dart-repo2\sdk\temp\abstract.dart` to `dart.exe` at the command line the `inputFileUri` in `_processLoadRequest` is changed to `//?/c:/src/dart-repo2/sdk/temp/abstract.dart`. I don't know how `_processLoadRequest` is called but the caller needs to change processing to fix the iss

[2020-07-29 12:15] vsmenon commented on #42870
fyi @zichangg @lrhn

[2020-07-29 12:29] DanTup commented on #36064
This was fixed by 0aed132f4d73503dad79c6f491a993ffe58fd20c. Errors are no longer sent for ignored files (whether open or not).

[2020-07-29 12:29] #36064 closed

[2020-07-29 12:31] vsmenon commented on #42863
If the intent is to distribute a library, an alternative would be a Dart source minifier / obfuscator of some sort - similar to those in the JS ecosystem.

This isn't something we have plans to do ourselves anytime soon.

[2020-07-29 12:40] zzjjob commented on #37755
@a-siva   MacOS  Allow Execution of JIT-compiled Code Entitlement, Perhaps it is possible to generate optimized code through  KBC when AOT runtime. just like AppJIT, i'am not sure.

[2020-07-29 12:52] vsmenon commented on #42857
In any realistic example, it will get used.  @leafpetersen mentioned other options to delay the checking, but it will have some other (probably perf) cost.

E.g., in this part of @leafpetersen 's variant above, it needs to fail somewhere since the function `x` only accepts `int`:

[code]

The old Dart 1 checked mode would do this check on every parameter inside the function `x` - that's a fairly e

[2020-07-29 12:58] DanTup commented on #40620
(@pq I think there's nothing to do here based on the above - we're close to switching VS Code to LSP by default.. I don't have close permissions though, so can you close this if you don't think there's anything outstanding? Thanks!)

[2020-07-29 13:02] vsmenon commented on #26996
Closing this in favor of https://github.com/dart-lang/language/issues/23

[2020-07-29 13:02] #26996 closed

[2020-07-29 13:43] devoncarew commented on #41792
@pq @bwilkerson - did we end up adding the ability to have metadata for annotations? For them to describe where they're legal?

[2020-07-29 13:44] devoncarew commented on #37546
Closing as we're not currently shipping this tool.

[2020-07-29 13:44] #37546 closed

[2020-07-29 13:56] DanTup opened #42873 "Code completion doesn't suggest from dev_dependencies, but manually referencing classes does not generate errors/warnings"
I had reports of code completion missing some classes that were valid in the current scope, for example `Provider` here:

<img width="549" alt="Screenshot 2020-07-29 at 14 51 10" src="https://user-images.githubusercontent.com/1078012/88808614-06af8380-d1ab-11ea-8551-62a97899102d.png">

It turned out that the `provider` package was listed in `dev_dependencies` and it seems like these should not be

[2020-07-29 14:03] pq commented on #41792
Brian landed an initial cut of a `Target ` annotation here:

https://github.com/dart-lang/sdk/blob/master/pkg/meta/lib/meta_meta.dart

but it's not (I don't think) published or supported by DAS just yet.

[2020-07-29 14:15] johnniwinther opened #42874 "dartdev run command doesn't handle Windows drive letters"
Running `dart run c:\src\dart-repo2\sdk\temp\abstract.dart` results in
[code]

[2020-07-29 14:16] johnniwinther commented on #42874
See also #42779 for the unhandled corner case of running `dart run \\?\c:\src\dart-repo2\sdk\temp\abstract.dart`.

[2020-07-29 14:16] johnniwinther commented on #42779
Running `dart run` with Windows paths is generally broken. See #42874

[2020-07-29 14:22] #42206 closed

[2020-07-29 14:35] DanTup opened #42875 "VM service provides isolates with "resume" pauseEvents when started with pause_isolates_on_start"
When using the latest nightly build, isolates show up with a pauseEvent of `resume` when starting paused. This prevents the VS Code debugger from initialising correctly as it's waiting for paused isolates in order to initialise.

[code]

cc @bkonyi - any ideas what might be wrong?

[2020-07-29 14:47] bwilkerson commented on #42873
This is a long standing issue (as old as `pub`). The problem is that when `pub` generates the `package_config.json` file it only generates one file that includes the transitive closure of both dev and non-dev dependencies. It really ought to be generating two files, one for use in `lib` and one for use outside `lib`.

Baring such a change, yes, it would be good for the analyzer to add
- a hint for

[2020-07-29 14:50] bwilkerson commented on #41792
Correct. It isn't yet published and there are no hints generated when the contract is violated.

[2020-07-29 14:54] devoncarew commented on #41792
Great, thanks; I'd love to start consuming it once it's further down the pipeline.

[2020-07-29 14:59] devoncarew commented on #36250
Closing as assumed fixed - Konstantin's change from https://dart-review.googlesource.com/c/sdk/+/152725 made the benchmark about 35% faster.

[2020-07-29 14:59] #36250 closed

[2020-07-29 15:01] bwilkerson commented on #42865
In most places we attempt to highlight a single token, but in a few places it isn't clear how to do that or that that's the best UX. In this case we _could_ highlight the assignment operator, but consider the analogous situation where the assignment is to a parameter:
[code]

It isn't clear in this case what to highlight other than the entire argument expression. For consistency we chose to highli

[2020-07-29 15:04] devoncarew commented on #30680
Repurposing this issue into a meta issue to track work on 'flutter fix'. This will be a tool (in the command line and built into the analysis server) that uses a metadata file in a package's lib/ folder to suggest fixes and refactorings for analysis issues. It'll be able to support the types of changes mentioned above.

[2020-07-29 16:08] franklinyow commented on #42874
FYI @devoncarew

[2020-07-29 16:14] bkonyi commented on #42875
Ah this is the dartdev isolate which is similar to the kernel and service isolates such that it shouldn't be able to be paused on start. We should probably hide this isolate, especially since it's short lived, but I'm not sure why we're seeing a `Resume` event. I can't remember how I set this up off the top of my head, but I'm thinking maybe I just resumed the isolate rather than preventing it fro

[2020-07-29 16:16] DanTup commented on #42875
I could be mistaken, but I think this was the only isolate that showed up - but the app was still paused, so it just sat there doing nothing (paused, but without VS Code seeing any paused isolates).

[2020-07-29 16:29] bkonyi commented on #42875
Are you sure there aren't additional isolates? If you're setup to build the SDK yourself, you can build a debug VM and pass in `--trace-isolates` to get an idea of isolate activity.

[2020-07-29 16:30] devoncarew commented on #42874
Assigning to Ben for triage.

[2020-07-29 16:31] grouma opened #42876 "Coverage collection fails with 2.10.0-1.0.dev"
`package:coverage` tests have been failing at head with the dev SDK for a couple days now. See: https://travis-ci.org/github/dart-lang/coverage/jobs/712777426

It appears the test application does not exit as this never returns here:
https://github.com/dart-lang/coverage/blob/7e18328a0fcb9353d2ad68748b66f5f5cb7c253c/test/lcov_test.dart#L184

Running the test application directly works as expected

[2020-07-29 16:32] DanTup commented on #42875
Not certain, and not set up to build locally (or at least, haven't tried on this machine - I tend to just grab the nightlies). I'll re-test though and get a full log and post back shortly.

[2020-07-29 16:35] bkonyi commented on #42874
@zichangg is investigating #42779 which this is related to. Zichang, feel free to reach out to me if you need any help with this. I'm guessing we'll just need to update some logic in `pkg/dartdev/lib/src/commands/run.dart` to handle this case.

[2020-07-29 16:35] DanTup commented on #42875
Oh, while I remember - might not be related, but I'm intermittently seeing a failure to connect to the VM service, with the npm ws package reporting it returned a 302 (redirect) - though it doesn't give me the details. Would we ever expect a redirect connecting to it? (by default, the ws library does not follow redirects).

[code]

[2020-07-29 16:36] a-siva commented on #42876
This might be a duplicate of https://github.com/dart-lang/sdk/issues/42819, are you able to reproduce this on bleeding edge ?

//cc @bkonyi

[2020-07-29 16:38] bkonyi commented on #42875
Yes, the VM service will redirect web socket connections to DDS, so that's expected. It's also a bit of an issue since the `dart:html` `WebSocket` doesn't seem to allow redirects so tooling has to do a weird hack for the forwarding to work.

[2020-07-29 16:39] bkonyi commented on #42876
Yes, this is likely a duplicate of #42819 and should be fixed on bleeding edge.

[2020-07-29 16:39] DanTup commented on #42875
Ah, ok - what are other tools doing? This will be breaking for VS Code users until a fix is out. Though I'm not sure why it's only happening intermittently? 🤔

Here's a full log - as far as I can tell only the dartdev isolate is showing up:

[full_log.txt](https://github.com/dart-lang/sdk/files/4996204/full_log.txt)

[2020-07-29 16:43] grouma commented on #42876
Great. Thanks!

[2020-07-29 16:43] #42876 closed

[2020-07-29 16:44] bkonyi commented on #42875
Observatory is currently passing a custom protocol `implicit-redirect` which manually forwards the connection to DDS. It's terribly inefficient, so I'm hoping to add SSE support for web clients instead (assuming it allows for redirects). Devtools hasn't been updated yet to use either solution.

Hm, yeah I don't see any other isolates. Have you tried connecting to Observatory to inspect what's actu

[2020-07-29 16:48] DanTup commented on #42875
![Screenshot 2020-07-29 at 17 47 23](https://user-images.githubusercontent.com/1078012/88828765-995c1c80-d1c3-11ea-8d66-bf250c9b805a.png)

Hmmm, this looks normal - a single paused isolate (I don't even see the dartdev one) 🤔

[2020-07-29 16:53] DanTup commented on #42875
I haven't seen the 302 failure since enabling `followRedirects` (still not sure why it was intermittent), though it didn't otherwise change any behaviour.

[2020-07-29 16:53] bkonyi commented on #42875
You might just be requesting the isolates too early. Have you tried a follow-up request to check the live isolates? The dartdev isolate is extremely short lived and is killed before the main isolate comes up.

[2020-07-29 16:56] DanTup commented on #42875
Hmm, good question. We subscribe to the stream to get them - however it looks like we get the ones that are live first, then subscribe - but that leaves a race. We should be subscribing and then getting a snapshot of existing ones. I'll have a go at changing this and let you know if it fixes things. Thanks!

[2020-07-29 16:59] devoncarew commented on #42874
Thanks! Franklin brings up the good point that this may be something that we'd want to have in for the coming branch for trhe next beta, ~monday next week.

[2020-07-29 17:07] franklinyow commented on #42779
@zichangg We have a branch cut next week for Aug.  Is this something we can fix before that?

[2020-07-29 17:09] DanTup commented on #42875
Nope, it's not that. Here's a log where we subscribe to the debug/isolates streams before we send the getVM() request, but we still only get the dartdev isolate in that response, and we don't get events for any other isolate being created:

[full_log_2.txt](https://github.com/dart-lang/sdk/files/4996361/full_log_2.txt)

However I did notice that it's quite intermittent - sometimes it works, and we

[2020-07-29 17:23] bkonyi commented on #42875
This might be a DDS related failure then. If you can build the SDK, try and remove [these lines](https://github.com/dart-lang/sdk/blob/master/pkg/dartdev/lib/src/commands/run.dart#L122) related to the `DartDevelopmentService`. There might be a race between when the VM service starts advertising and DDS connects.

If you can't build right now, can you try passing `--disable-dart-dev` and see if tha

[2020-07-29 17:37] DanTup commented on #42875
Yeah, passing `--disable-dart-dev` makes it work fine every time.

If you want to try to repro locally for easier debugging, I just used the stagehand simple-console template, opened the project in VS Code, added a breakpoint to the `print` line and pressed `F5` (using a nightly build). To get logs you can run **Dart: Capture Logs** (probably untick **Analyzer** as you'll get a lot of unrelated sp

[2020-07-29 17:53] bkonyi commented on #42875
Ah okay, thanks for the instructions! I always forget how to get debug information from the VSCode plugin :-) I'll take a look today and report my findings, but probably won't have a fix yet.

[2020-07-29 18:18] scheglov commented on #42837
https://dart-review.googlesource.com/c/sdk/+/156320

[2020-07-29 18:32] leafpetersen commented on #42865
If cascades are the only thing example of something where the thing being assigned is different from the syntactic expression in the assignment position, then it seems like special casing cascades could work: given an invalid assignment where `e..<cascades>` is the thing being assigned, report the error on `e` only.  Don't know if that's pragmatically feasible.  Interestingly, if I take your argum

[2020-07-29 18:35] bkonyi commented on #42875
Okay, so disabling DDS seems to resolve the issue. None of our tools are using DDS yet, so I think I'll just disable this as to not block the beta release while I'm working on a proper fix.

[2020-07-29 18:40] #42419 closed

[2020-07-29 18:41] #36047 closed

[2020-07-29 18:41] liamappelbe commented on #42166
The ABI bot has been deleted.

[2020-07-29 18:41] #42166 closed

[2020-07-29 18:59] bwilkerson commented on #42865
It's definitely feasible to fix this (analyzer has all the position information it needs), we'd "just" need to define what behavior we want.

[2020-07-29 19:50] scheglov opened #42877 "Resolution of invalid TypeName should set dynamic"
https://dart-review.googlesource.com/c/sdk/+/156341

[2020-07-29 19:56] bkonyi commented on #42726
As far as I can tell, pub doesn't support running with the VM service. Closing for now and this issue isn't relevant.

[2020-07-29 19:56] #42726 closed

[2020-07-29 19:56] scheglov commented on #42865
I actually noticed this issue in the new LUB tests, and started a change to analyzer to alleviate this.
So, with cascade expressions the type issue is in the target, and with this change to analyzer it will highlight the target.
And also diving into parenthesized expressions.

https://dart-review.googlesource.com/c/sdk/+/156067

[2020-07-29 19:57] lrhn commented on #42779
I think the any change here needs to happen very early in the pipeline. The command line argument can traditionally be either a local path or a URI, and we have never been very good at deciding. It's then converted to (or parsed as) a URI in order to have a single type internally in the front-end.

It think we should take some time to figure out what we really want to do about the command line int

[2020-07-29 20:15] #42837 closed

[2020-07-29 20:17] stereotype441 commented on #42871
Thanks, Michal.  I suspect what is happening is that the migration tool is incorrectly considering the migrated closure `() => throw StateError('error')` to have the type `Null Function()`, so it's trying to insert a cast because that type is not assignable to the expected type (`int Function()?`).  To fix this, we probably need some special logic to handle closures that always throw, or we need t

[2020-07-29 20:25] greglittlefield-wf opened #42878 "Sort deprecated libraries lower in auto-import suggestions"
When auto-importing a library for an API, `@deprecated` libraries can show up at the top of the list, and there's no indication that they're deprecated.

<img width="287" alt="Screen Shot 2020-07-29 at 1 13 50 PM" src="https://user-images.githubusercontent.com/1713967/88848674-a9610580-d19d-11ea-82f9-a2de97033252.png">
<img width="176" alt="Screen Shot 2020-07-29 at 1 15 58 PM" src="https://user-i

[2020-07-29 20:26] greglittlefield-wf commented on #33789
Sounds good; I've created a separate issue for that: https://github.com/dart-lang/sdk/issues/42878

Thanks!

[2020-07-29 21:17] #42877 closed

[2020-07-29 21:28] giothihay opened #42879 "Dart client not receiving data response from server"
![image](https://user-images.githubusercontent.com/44771277/88854261-34ccac00-d21b-11ea-98fb-1a55e3e5fb64.png)
i'm getting problem when i try to receiving data response from java server , but still get nothing , but in server i already received data sent from client
i used netty server java ,
 Handler.class

[code]

main server netty class

[code]

 and the client code :

[code]

[2020-07-29 21:28] zichangg opened #42880 "Failures on [cfe] Use unwrapping of nullability constructor in upper bound"
There are new test failures on [[cfe] Use unwrapping of nullability constructor in upper bound](https://github.com/dart-lang/sdk/commit/1b2c267bb23ff7d6cb5c5cb6c66203cef72b9a65).

The tests
[code]
are failing on configurations
[code]

logs:
https://dart-ci.appspot.com/log/flutter-frontend/flutter-frontend/6295/flutter_frontend/packages/flutter_driver/test/src/web_tests/web_extension_test.dart
http

[2020-07-29 21:34] nshahan commented on #42479
OK to close since c632a629ffa47182dc74a024a12928bb3fc23ac0 has landed?

[2020-07-29 22:09] srawlins opened #42881 "strict-inference report prints "null" for unnamed parameter."
Take this example:

[code]

Analyzer, using strict-inference, prints:

[2020-07-29 22:19] srawlins opened #42882 "strict-inference should be lenient with @optionalTypeArgs code"
The [optionalTypeArgs](https://pub.dev/documentation/meta/latest/meta/optionalTypeArgs-constant.html) annotation is written for analyses like strict-inference. The documentation of the annotation does not even need to be changed to accomadate strict-inference. Strict-inference just needs to change:

* Do not report on generic method call missing type args when method is `@optionalTypeArgs`.
* Do n

[2020-07-29 23:35] a-siva commented on #42779
@franklinyow based on the comments above it looks like this is going take longer to get a clean fix and will not be fixed in time for the beta branch next week. I propose that as a first step we report all paths with "\\?\" as unsupported and not crash. We can include this change for beta and then work on a proper fix for it.

[2020-07-30 00:03] srawlins commented on #42863
I think this question is answered.

[2020-07-30 00:03] #42863 closed

[2020-07-30 00:10] srawlins commented on #42879
Thanks for the question. Remember to use Markdown formatting [on GitHub](https://docs.github.com/en/github/writing-on-github/about-writing-and-formatting-on-github). I've updated your example with code blocks.

Debugging help is best found on StackOverflow, using the [dart tag](https://stackoverflow.com/questions/tagged/dart). The issue tracker is not the best place to seek help on a specific ques

[2020-07-30 00:10] #42879 closed

[2020-07-30 00:13] sigmundch commented on #42479
yes!

[2020-07-30 00:13] #42479 closed

[2020-07-30 00:23] natebosch opened #42883 "dart2js crash compiling a constructor which may throw one of it's arguments"
This showed up in `package:shelf`. Unless I'm mistaken this seems to need a few pretty specific pieces to reproduce:

- There needs to be a constructor argument which is used in an initializer list.
- That argument needs to be in a `throw` statement in the constructor body.
- That `throw` statement needs to be in a `catch` block.
- The constructor needs to be referenced through a forwarding genera

[2020-07-30 00:25] kevmoo commented on #42883
Amazing repro, @natebosch – that's a doozie!

[2020-07-30 05:13] #25874 closed

[2020-07-30 05:23] leafpetersen commented on #42857
Right.  We could definitely special case the exact situation where a field is read and then **immediately** discarded, but I think it essentially provides zero value.   More useful would be to special case a few other situations: e.g.
  - reading it and immediately comparing it to null
  - using it as the RHS of an equality check
  - immediately casting it to dynamic

Not sure those provide enough

[2020-07-30 06:27] rish-hyun opened #42884 "Flutter: Snapshot not compatible with the current VM configuration"
I have Windows 7 Professional SP 1 32 bit.
I have just finished gathering flutter sdk and dart sdk and I am using VS code.

I created my first app and I encounter this
[code]

I can't figure out what is this

When I run flutter doctor , I get this
[code]

But when I run this command ```${env:ProgramFiles(x86)} = $env:ProgramFiles```
I get
[code]
Any idea how to resolve this??

[2020-07-30 08:13] Defuera commented on #42863
Thank you, this helps. To recap: there's no simple and efficient way to distribute closed source.

[2020-07-30 08:40] mkustermann commented on #42884
The error means basically that the Dart VM that Flutter is trying to run is 32-bit intel but the snapshot it is given is for 64-bit intel. Flutter is in control of how snapshots are created, packaged and run with their tooling.

Not sure if we can be of more help on the Dart team on this.

The [flutter FAQ for supported devices](https://flutter.dev/docs/resources/faq#what-devices-and-os-versions-d

[2020-07-30 08:40] #42884 closed

[2020-07-30 09:14] DanTup commented on #42875
I was thinking more about this... Is Dart spawning a separate process (not isolate), and then forwarding the VM service to that?

If so, is the issue that we're picking up the Observatory URI from the main process (either from being printed to stdout, or using `--write-servce-info` and therefore we're not seeing the (paused) isolate for the app at all?

Could the Observatory URI be suppressed in t

[2020-07-30 09:18] stefantsov commented on #42880
It turned out that my CL fixed a crash, and the fix made the errors in those tests visible.  So it's probably not a CFE issue.

[2020-07-30 10:57] DanTup opened #42885 "Analysis server crashes if package_config.json contains invalid JSON"
Moved from https://github.com/Dart-Code/Dart-Code/issues/2642.

If you make `package_config.json` invalid, the server crashes. It would be better to handle gracefully (for example analyze without any package resolution and product a diagnostic for the file informing the user that the file is invalid).

### Request

Server was responding to request: `analysis.setAnalysisRoots`

### Exception

[code

[2020-07-30 11:01] sgrekhov opened #42886 "Is HttpClientResponse.isRedirect always false?"
Seems that `HttpClientResponse.isRedirect` always returns `false`. I did the following test

[code]
The output is
[code]
Is there a way to get `true` from `HttpClientResponse.isRedirect`?

Tested on `Dart SDK version: 2.10.0-1.0.dev (dev) (Tue Jul 28 12:21:35 2020 +0200) on "windows_x64"`

[2020-07-30 12:08] cubuspl42 opened #58214 "Add `unused_argument` lint"
Add a lint for detecting unused function arguments, together with a helper function for marking arguments unused on purpose (for example for maintaining backward compatible public interface). This pair would be analogous to [`unawaited_futures`](https://dart-lang.github.io/linter/lints/unawaited_futures.html) and [`unawaited`](https://pub.dev/documentation/pedantic/latest/pedantic/unawaited.html).

[2020-07-30 14:32] bwilkerson commented on #42864
I've started a doc with https://dart-review.googlesource.com/c/sdk/+/156380. It needs to be more fully fleshed out, but there's a start, so I'm going to close this issue.

[2020-07-30 14:32] #42864 closed

[2020-07-30 14:56] #42881 closed

[2020-07-30 16:01] #42579 closed

[2020-07-30 16:03] stuartmorgan commented on #40448
The PR above didn't quite fix everything, it looks like. Here's what we're seeing in a recent Flutter build:

ANGLE roll is finally in. A bot build log is now a much more reasonable 6k lines and 500kb.

The remaining warnings from the run with the ANGLE fixes are:
[code]

So it looks like there's one namespace bug, and a couple of places where `strdup` isn't using the new wrapper.

[2020-07-30 16:07] bwilkerson commented on #39607
https://dart-review.googlesource.com/c/sdk/+/155847

[2020-07-30 16:07] #39607 closed

[2020-07-30 16:07] bwilkerson commented on #38796
https://dart-review.googlesource.com/c/sdk/+/156121

[2020-07-30 16:07] #38796 closed

[2020-07-30 16:09] franklinyow commented on #42779
I will remove the P1 label for now.  As @zichangg said this is not a common use case, and we need more time to come up with the right solution

[2020-07-30 16:23] Hixie commented on #42857
The problem is that the check happens _before_ it's assigned, so I can't even do something like:

[code]

Instead I have to do:

[code]

It makes zero sense to me as a developer that the first does not work.

[2020-07-30 16:48] bkonyi commented on #42875
Yes, it is. I investigated suppressing the Observatory URI in favor of the DDS URI but it causes quite a headache and has a number of unintended consequences. A major issue that came up is the situation where a user wants to attach to a running Flutter application. To do that, the user needs to have the URI of the VM service running on the device since DDS will have shutdown previously.

Redirecti

[2020-07-30 16:55] DanTup commented on #42875
If DDS shuts down but is redirecting, wouldn't that prevent new connections to the VM service? (for example if the user wants to open DevTools)?

FWIW, Dart-Code can't currently use SSE (and the performance has been worse than WebSockets for the Dart Debug extension) so WebSockets will still need to be supported (though the node ws package appears to support redirects).

Btw - will `--write-servic

[2020-07-30 17:01] devoncarew commented on #42196
@MichaelRFairhurst - is this fixed as of https://dart-review.googlesource.com/c/sdk/+/156443 ?

[2020-07-30 17:06] devoncarew commented on #42874
@zichangg - I believe this is fixed now?

[2020-07-30 17:17] sigmundch commented on #40380
How many of these declarations are top-level on the module?

I wonder if this will improve once we land the change to hoist variables, which @Markzipan is looking into in order to improve stepping in the debugger.

[2020-07-30 17:20] DanTup commented on #42875
I'm not very familiar with how this works so I don't completely understand this :-) Are there any notes about how this works that I can read to avoid asking lots of questions? It'd be good for me to understand how this all hangs together to help with debugging if I see any issues.

SSE results in a lot of HTTP round trips, so it's most noticeable when there's a lot of latency. There's some info in

[2020-07-30 17:26] OrlandoEduardo101 opened #42887 "No published analyzer available for language version 2.10.0"
Thank you for taking the time to file an issue!

This tracker is for issues related to:

* Analyzer
* Common Front End (CFE) and kernel
* Dart core libraries ("dart:async", "dart:io", etc.)
* Dart VM
* dart2js
* dartfix
* dev_compiler

Some other pieces of the Dart ecosystem are maintained elsewhere. Please
file issues in their repository:

* Dart language: https://github.com/dart-lang/language
*

[2020-07-30 17:38] bkonyi commented on #42875
We have a [section in the service protocol](https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md#middleware-support) that covers some of the details. There's also a fairly bare-bones [DDS protocol document](https://github.com/dart-lang/sdk/blob/master/pkg/dds/dds_protocol.md) which describes the service extensions offered by DDS. I'm happy to answer any questions, so feel fre

[2020-07-30 17:58] a-siva commented on #41482
Is this issue fixed now after https://github.com/dart-lang/sdk/commit/847a1275133685f615a0c354292ba3f8e4304999 ? can it be closed ?

[2020-07-30 17:59] vegidio commented on #42887
I'm having the same problem. I was following the problem reported in this issue: https://github.com/flutter/flutter/issues/56779#issuecomment-666540672 but that was closed without my case in specific being solved, so I think I must continue here.

More information can be found in the original issue that I linked, but to summarize, I'm trying to run `flutter pub run build_runner build` in my Flutte

[2020-07-30 18:01] srawlins commented on #39607
😀 🍾 Thanks! 🎉

[2020-07-30 18:04] julemand101 commented on #42886
The `HttpClient` will by default follow redirects. But you can disable that behavior by changing:
[code]

To:
[code]

Then the output will be:
[code]

[2020-07-30 18:22] vsmenon commented on #40380
( @RedBrogdon )

I think we can close this one if you prefer.  Using `var` fixed / sidestepped the issue (see the webkit bug).

We could restore `let` / `const` at some point, but I don't know if we still need this issue.

[2020-07-30 18:24] leafpetersen commented on #42857
Yes, this is a fair point.  Enumerating a set of places where we could allow the read check to be omitted would be tedious and a bit brittle (e.g. `dynamic x = value.foo` would work, but `var x = value.foo` would have to be rejected), but it would allow some more reasonable looking patterns to work.    I'll file an issue in the language repo to discuss.

[2020-07-30 18:26] zichangg commented on #42291
The reland https://dart-review.googlesource.com/c/sdk/+/151035 already went in and I'll close the issue.

[2020-07-30 18:26] #42291 closed

[2020-07-30 18:27] zichangg commented on #42874
Yes.
For "\\?\" prefixed string, it needs some works in frontend to get it fixed and it will be tracked in the other issue.

[2020-07-30 18:27] #42874 closed

[2020-07-30 18:33] sigmundch commented on #40380
thanks

[2020-07-30 18:33] #40380 closed

[2020-07-30 18:37] vsmenon commented on #38749
obsolete

[2020-07-30 18:37] #38749 closed

[2020-07-30 19:10] zichangg commented on #42880
@zanderso Do you know anyone on Flutter team can take a look?

[2020-07-30 19:31] joaoalvaro commented on #42887
I solved it by switching the channel to Dev.

[2020-07-30 19:52] zanderso commented on #42880
@ferhatb It looks like a future Dart SDK -> Flutter roll will be blocked due to surfacing some web test failures that were previously unseen due to a bug.

/cc @a-siva

[2020-07-30 20:41] pq opened #58215 "new lint to ensure proper use of `BuildContexts` (use_build_context_synchronously?)"
**New lint:** Do not store BuildContext into variables, or use across async calls.

This lint will flag source where

- a `BuildContext` is ever assigned to anything other than a local variable, or

- a `BuildContext` is ever passed as an argument to any async function or whose corresponding parameter doesn't have the type `BuildContext` (where an async method is one that returns either `Future` o

[2020-07-30 21:10] natebosch opened #42888 "Latest published analyzer uses extension methods with a 2.6.0 SDK"
When analyzer published `0.39.15` the lower bound for the SDK is `2.6.0`, however it uses extension methods which were not available until `2.7.0`. This package is currently breaking for anyone on an older SDK (noticed on a Travis run) who runs a `pub upgrade` - `package:test` is unusable because of this.

The potential workarounds are:
- Upgrade your SDK (implying, stop supporting older SDKs for

[2020-07-30 21:13] natebosch commented on #42888
Example failure:

[code]

[2020-07-30 21:27] scheglov commented on #42888
Extension methods is a `2.6` feature.
See https://github.com/dart-lang/sdk/blob/master/tools/experimental_features.yaml#L114

[2020-07-30 21:53] natebosch commented on #42888
Hmm, I guess I was confused because we didn't make the bigger announcement until `2.7`?

The members that are missing here are extensions. Maybe there was something wrong with the CFE in the `2.6.0` SDK? Trying to run any VM script that imports `pakage:analyzer/analyzer.dart` on that SDK is enough to surface this.

[2020-07-30 22:09] nshahan opened #42889 "Question: What is the purpose of this cast?"
I noticed simply tearing off a field that contains a function from a generic class produces an `AsExpression` node when the function uses the generic type argument in the contravariant position. The evaluation of `TypeEnvironment.isSubtypeOf(from, to, SubtypeCheckMode.withNullabilities)` evaluates to `true` but since the cast is marked with the `TypeError` and `CovarianceCheck` flags ddc will emit

[2020-07-30 22:12] pq opened #58216 "Add Jae-woo Kim to AUTHORS"
@JaewooKim0: how would you like to  be credited?

I'd like to update [`AUTHORS`](https://github.com/dart-lang/linter/blob/master/AUTHORS) with an attribution.

    Name <email address>

Thanks for your contributions!

[2020-07-30 22:47] scheglov commented on #42888
Maybe an error in CFE, maybe an error in the `experimental_features.yaml` file.

I don't have any issue with raising min SDK to `2.7.0`.
I downloaded `2.6.0` and `2.6.1` - with them extensions don't work in analyzer.
But it works with `2.7.0`.

[2020-07-30 22:48] #40478 closed

[2020-07-30 22:52] srawlins commented on #42887
Thanks for filing an issue. Analyzer 0.39.15 is available for language version 2.10.0. https://pub.dev/packages/analyzer/changelog

[2020-07-30 22:53] #42882 closed

[2020-07-30 23:00] a-siva commented on #32555
A number of changes have happened since the initial Dart 2 version, current numbers for the benchmarks listed above are

basic_material_app_android__compile is now at 16456ms
complex_layout_android__compile is now at 15819ms
flutter_gallery_android__compile is now at 20185ms

These numbers are better or close to the original Dart 1 numbers and so this issue is being closed.

[2020-07-30 23:00] #32555 closed

[2020-07-30 23:06] a-siva commented on #29274
Unable to reproduce this error anymore and the information in the log files is not complete enough to be able to debug the problem for this one failure (no core dump file).

If the problem occurs again please re-open the issue with more details of the crash (e.g: core dump file).

[2020-07-30 23:06] #29274 closed

[2020-07-30 23:07] a-siva commented on #41802
Is more work anticipated on this? Can we close the issue ?

[2020-07-30 23:33] matanlurey commented on #35311
Hi @sigmundch, checking in again.

We've been talking about @jakemac53 for our own null-safety migration, and one thing that came up is we might be able to _always_ emit null-safe annotated code, relying on the mixed-mode runtime to "do the right thing" (if a user is not migrated, they will largely ignore our annotations, and if they are, they will be enforced to some extent).

This probably reduc

[2020-07-30 23:49] OrlandoEduardo101 commented on #42887
Because build_runner 1.10.1 depends on analyzer 0.39.14 and no versions of build_runner match >1.10.1 <2.0.0, build_runner ^1.10.1 requires analyzer 0.39.14.

the build runner is't compatible with analyzer 0.39.15

[2020-07-30 23:50] nshahan commented on #42889
The cast does not appear if the same function is written as a regular class method and you tear it off.

[code]
[code]

[2020-07-31 00:04] sigmundch commented on #35311
@matanlurey thanks for checking in.

@joshualitt is actively working on this. woohoo!

Large part of the algorithm is in progress (see [cl/154580][1]). There is a bit more polish work needed and some validation to ensure that we are properly slicing the code, so we plan to start with this under a flag for a short period before we enable it internally.

I didn't fully grasp how reexports are at pla

[2020-07-31 00:38] scheglov commented on #42888
https://dart-review.googlesource.com/c/sdk/+/156602

[2020-07-31 00:46] fishythefish commented on #42847
https://dart-review.googlesource.com/c/sdk/+/156445 landed, @jakemac53 would you be able to confirm if this fixes your issue?

[2020-07-31 01:10] natebosch commented on #42888
We do still need to make a decision about the existing broken package version.

[2020-07-31 02:38] scheglov commented on #42888
From these possible solutions ignoring and using a manual workaround looks not nice, but most viable.